<%if logged_in?%><a href="<%= url_for(:controller=> :topics, :action=>:new, :forum=>1)%>" class="forum-btn new-topic-btn">New topic</a>
<%else%><b style="font-size: 11px;">You need to <%= link_to 'login', :controller=>'forums', :action=>'show_my_posts', :id=>1%> so that you can participate in the forum</b>
<%end%>