<% @page_title='Study Languages Online: Изучение Японского' %>
<% @page_meta = {'description' => "Russian language learning: online courses, vocabulary topics, pronunciation training", 'verify-v1' => "fRSaz4QoyTycTJLUZnk+AtNsVP8u9B3CorQMEuDuHLM="} %>

<% content_for :special_js_css do %>
<link rel="alternate" type="application/rss+xml" title="RSS" href="<%=APP_CONFIG[:site_url]%>/rss.xml" >
<%end%>

<h2  class="page">Давайте уже изучать японский уже!</h2>


<p>Данный раздел сайта находится в стадии разработки</p>




<p>
Начинаем японский раздел с уроков японского языка для начинающего. 
</p>


<p> <a href="/ru/jp/beginner-lesson-01.html">Урок 1. Приветсвия </a>
</p>





<script type="text/javascript">
currentSection="home";
</script>
