<% @page_title='Study Languages Online: Изучение Японского' %>
<% @page_meta = {'description' => "Russian language learning: online courses, vocabulary topics, pronunciation training", 'verify-v1' => "fRSaz4QoyTycTJLUZnk+AtNsVP8u9B3CorQMEuDuHLM="} %>

<% content_for :special_css do %>
.lists li {
padding-top: 5px;
}
<% end %>

<h2  class="page">Кандзи</h2>

<p>
В японском используются иероглифы - кандзи. Представляем курс по изучению кандзи:  
</p>


<ul class="gr-list" id="theory">
	<li class="gr-li-head"><div class="gr-list-head"><span>Уровень 1 (80 иероглифов)</span></div>
	
			<p style="margin: 10px 20px"><a href="/ru/jp/kanji_01.html">Все кандзи уровня 1</a></p>
		<ul>
		
			<li><a href="/ru/jp/kanji_01/lesson/1">Урок 1</a> <br>
				Иероглифы: 一, 二, 三, 四, 五, 六, 七, 八, 九, 十
			</li>
			<li><a href="/ru/jp/kanji_01/lesson/2">Урок 2</a>
			<br>
				Иероглифы: 百, 千, 上, 下, 左, 右, 中 ,大 , 小, 月 
			</li>
			<li><a href="/ru/jp/kanji_01/lesson/3">Урок 3</a>
			<br>
				Иероглифы: 日, 年, 早, 木, 林, 山, 川, 土, 空, 田 
			</li>
			<li><a href="/ru/jp/kanji_01/lesson/4">Урок 4</a>
			<br>
				Иероглифы: 天, 生, 花, 草, 虫, 犬, 人, 名, 女, 男
			</li>
			<li><a href="/ru/jp/kanji_01/lesson/5">Урок 5</a>
			<br>
				Иероглифы: 子, 目, 耳, 口, 手, 足, 見, 音, 力, 気 
			</li>
			<li><a href="/ru/jp/kanji_01/lesson/6">Урок 6</a>
			<br>
				Иероглифы: 円, 入, 出, 立, 休, 先, 夕, 本, 文, 字
			</li>
			<li><a href="/ru/jp/kanji_01/lesson/7">Урок 7</a>
			<br>
				Иероглифы: 学, 校, 村, 町, 森, 正, 水, 火, 玉, 王 
			</li>
			<li><a href="/ru/jp/kanji_01/lesson/8">Урок 8</a>
			<br>
				Иероглифы: 石, 竹, 糸, 貝, 車, 金, 雨, 赤, 青, 白
			</li>
			
		</ul>
	</li>
	<li class="gr-li-head"><div class="gr-list-head"><span>Уровень 2 (160 иероглифов)</span></div>
		<p style="margin: 10px 20px"><a href="/ru/jp/kanji_02.html">Все кандзи уровня 2</a></p>
		<ul>
		
			<li><a href="/ru/jp/kanji_02/lesson/1">Урок 1</a> <br>
			</li>
			<li><a href="/ru/jp/kanji_02/lesson/2">Урок 2</a> <br>
			</li>
			<li><a href="/ru/jp/kanji_02/lesson/3">Урок 3</a> <br>
			</li>
			<li><a href="/ru/jp/kanji_02/lesson/4">Урок 4</a> <br>
			</li>
			<li><a href="/ru/jp/kanji_02/lesson/5">Урок 5</a> <br>
			</li>
			<li><a href="/ru/jp/kanji_02/lesson/6">Урок 6</a> <br>
			</li>
			<li><a href="/ru/jp/kanji_02/lesson/7">Урок 7</a> <br>
			</li>
			<li><a href="/ru/jp/kanji_02/lesson/8">Урок 8</a> <br>
			</li>
			<li><a href="/ru/jp/kanji_02/lesson/9">Урок 9</a> <br>
			</li>
			<li><a href="/ru/jp/kanji_02/lesson/10">Урок 10</a> <br>
			</li>
		
		
	</li>
</ul>




<br><br><br><br><br><br>

<p>Данный раздел сайта находится в стадии разработки</p>



<script type="text/javascript">
currentSection="phonetic";
</script>
