<% @words = Category.find(95).words.find(:all, :order => 'order_num') %>

<% @page_title = ' Кандзи :: Японский Онлайн '  %>
<% @page_meta = {'description' => "Кандзи"} %>


<% content_for :special_js_css do %>

<script type="text/javascript">

$(document).ready(function() {
	$(".trans-display").change(function(){
		if ($(this).is(":checked")) {
			$("div.ru-transcript").show();
		}else{
			$("div.ru-transcript").hide();
		}
	}).change();
}); 




</script>

<style type="text/css">
.trans-display-wrapper {
color:#444444;
font-size:11px;
margin-bottom:-15px;
position:relative;
top:-50px;
}

.voc-wordlist .diction {
background-image: none;
}

.voc-wordlist .diction td {
border-bottom: 1px solid #efefef;
}

.trans-display-wrapper {
font-size: 11px;
color: #444;
position: relative;
top: -50px;
margin-bottom: -15px;
}

.voc-wordlist .diction td.original {
position: relative;
width: auto;
cursor: default;
text-align: center;
}

.voc-wordlist .diction td.original div.ru-transcript {
display: none;
font-size: 11px;
color: #555;font-weight: normal;
}

.voc-wordlist .diction td.translation {
width: auto;
padding-left: 22px;
padding-right: 18px;
cursor: default;
}

.voc-wordlist div.jp_control {
position: absolute;
margin-left: -25px;
}

.lt-spacer  {
padding-top: 0px;
}

.egdiv {
border-color: #7CB0F9;
}

.voc-wordlist .voc_bord {
background-image: none;
}

.voc-wordlist .voc_bord table td {
padding: 4px 9px;
}


.voc-wordlist .diction thead td {
color:#444444;
font-size:11px;
font-weight:bold;
padding-bottom:12px;
text-align: center;
}


</style>
<% end %>




<h2 class="page">Кандзи первого уровня</h2>

<h3 class="page-path">
	<span class="int-links">
	<a href="/ru/jp/kanji.html">Кандзи</a>
	<span class="int-arrow">--&gt;</span> Уровень 1
	</span>
</h3>




<div class="voc-wordlist">
<table class="voc_bord" align="center" cellspacing="0">
<tr>
<td>

<table style="width: 450px" class="diction" cellpadding="0" cellspacing="0" align="center">
<col width="100"><col>
<thead>
<tr>
	<td>Иероглиф</td>
	<td>Перевод</td>
	<td>Он</td>
	<td>Кун</td>
</tr>
</thead>
<tbody>

<%@words.each_with_index do |word, index|-%>
<tr class="trow">
    <td class="original" valign="top" >
		<span style="font-size: 22px"><%= word.text %></span>
	
    </td>
    <td class="translation" valign="top">
		<div style="padding-top: 5px;"><%= word.translate %></div>
		
	</td>
	<td style="color: #444">
		<span style="text-transform: uppercase"><%= word.transcribe %> </span>
	</td>
	<td style="color: #444">
			<%= word.html %>
    </td>
</tr>
<%end -%>


</tbody>
<tfoot>
<tr>
	<td></td>
	<td></td>
</tr>
</tfoot>  
</table>

</td>
</tr>
</table>
</div><!-- end of voc-wordlist-->

<br><br><br><br><br><br><br><br>


<script type="text/javascript">
currentSection="reading";
</script>








