<% @page_title = 'Изучаем японский: Катакана' %>
<% @page_meta = {'description' => "Онлайн изучение японского языка: слоговая азбука Катакана"} %>
<% @has_audio = true %>


<% content_for :special_js_css do %>

<%= javascript_include_tag 'jquery.jplayer.min.js' %>
<%= javascript_include_tag 'es-course.js' %>
<%= javascript_include_tag 'jquery.tablesorter.min.js' %>

<%= stylesheet_link_tag 'es-course' %>


<style type="text/css">
.wl-jap {
font-size: 17px;
}
.wr-hiragana tbody td {
font-weight: bold;
font-size: 17px;
text-align: center;
}

.wr-hiragana tbody td div {
font-weight: normal;
font-size: 11px;
margin-top: 6px;
}

.wr-hiragana td.wr-han {
background-color: #efefef !important;
}

.voc-wordlist .diction {
background-image: none;
font-size: 17px;
}

.voc-wordlist .diction th, .voc-wordlist .diction tfoot td {
text-align: center;
border-right:1px solid #B5C1CF;
}

.voc-wordlist .diction th {
border-bottom:1px solid #B5C1CF;
padding: 8px;
}

.voc-wordlist .diction .th-add th {
background-color: #EFF6FF;
}

.voc-wordlist .diction td {
border-bottom: 1px solid #B5C1CF;
font-weight: bold;
font-size: 20px;
text-align: center;
padding-left:7px;
}

.voc-wordlist .diction td.wr-han {
background-color: #f2f7fc;
}

.voc-wordlist .diction td div {
font-weight: normal;
font-size: 11px;
margin-top: 6px;
color: #444;
}

.voc-wordlist .diction td.original {
position: relative;
width: auto;
padding-left: 50px;
cursor: default;
font-size:17px;
}

div.jp_control {
position: absolute;
margin-left: -40px;
}


.voc-wordlist .diction td.transcript {
cursor: default;
font-size:17px;
}

.voc-wordlist .diction thead td {
font-weight: bold;
font-size: 11px;
padding-bottom: 11px;
color: #444;
}

.voc-wordlist .diction td.translation {
width: auto;
padding-left: 22px;
padding-right: 18px;
cursor: default;
}

</style>

<% end %>



<h2 class="page">Катакана</h2>

<h3 class="page-path">
	<span class="int-links">
	<a href="/ru/jp/writing.html">Кана</a>
	<span class="int-arrow">--&gt;</span> Катакана
	</span>
</h3>



<div id="pagecontent"><div id="content">


<div class="voc-wordlist">
<table class="voc_bord" align="center" cellspacing="0">
<tr>
<td>


<table style="width: 500px" class="diction" cellpadding="0" cellspacing="0" align="center">
	<thead>
		<tr>
			<th colspan="5" class="{sorter: false}">годзюон</th>
			<th colspan="3" class="{sorter: false}">ёон</th>
		</tr>
		<tr class="th-add">
			<th class="{sorter: false}">a</th>
			<th class="{sorter: false}">i</th>
			<th class="{sorter: false}">u</th>
			<th class="{sorter: false}">e</th>
			<th class="{sorter: false}">o</th>
			<th class="{sorter: false}">ya</th>
			<th class="{sorter: false}">yu</th>
			<th class="{sorter: false}">ye</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>ア <div>[a]</div></td>
			<td>イ <div>[i]</div></td>
			<td>ウ <div>[u]</div></td>
			<td>エ <div>[e]</div></td>
			<td>オ <div>[o]</div></td>
			<td class="wr-han"></td>
			<td class="wr-han"></td>
			<td class="wr-han"></td>
		</tr>
		<tr>
			<td>カ <div>[ka]</div></td>
			<td>キ <div>[ki]</div></td>
			<td>ク <div>[ku]</div></td>
			<td>ケ <div>[ke]</div></td>
			<td>コ <div>[ko]</div></td>
			<td class="wr-han">キャ <div>[kya]</div></td>
			<td class="wr-han">キュ <div>[kyu]</div></td>
			<td class="wr-han">キョ <div>[kyo]</div></td>
		</tr>
		<tr>
			<td>サ <div>[sa]</div></td>
			<td>シ <div>[shi]</div></td>
			<td>ス <div>[su]</div></td>
			<td>セ <div>[se]</div></td>
			<td>ソ <div>[so]</div></td>
			<td class="wr-han">シャ <div>[sha]</div></td>
			<td class="wr-han">シュ <div>[shu]</div></td>
			<td class="wr-han">ショ <div>[sho]</div></td>
		</tr>
		<tr>
			<td>タ <div>[ta]</div> </td>
			<td>チ <div>[chi]</div> </td>
			<td>ツ <div>[tsu]</div> </td>
			<td>テ <div>[te]</div> </td>
			<td>ト <div>[to]</div> </td>
			<td class="wr-han">チャ <div>[cha]</div> </td>
			<td class="wr-han">チュ <div>[chu]</div> </td>
			<td class="wr-han">チョ <div>[cho]</div> </td>
		</tr>
		<tr>
			<td>ナ <div>[na]</div></td>
			<td>ニ <div>[ni]</div> </td>
			<td>ヌ <div>[nu]</div> </td>
			<td>ネ <div>[ne]</div> </td>
			<td>ノ <div>[no]</div> </td>
			<td class="wr-han">ニャ <div>[nya]</div> </td>
			<td class="wr-han">ニュ <div>[nyu]</div> </td>
			<td class="wr-han">ニョ <div>[nyo]</div> </td>
		</tr>
		<tr>
			<td>ハ <div>[ha]</div> </td>
			<td>ヒ <div>[hi]</div> </td>
			<td>フ <div>[fu]</div> </td>
			<td>ヘ <div>[he]</div> </td>
			<td>ホ <div>[ho]</div> </td>
			<td class="wr-han">ヒャ <div>[hya]</div> </td>
			<td class="wr-han">ヒュ <div>[hyu]</div> </td>
			<td class="wr-han">ヒョ <div>[hyo]</div> </td>
		</tr>
		<tr>
			<td>マ <div>[ma]</div></td>
			<td>ミ <div>[mi]</div></td>
			<td>ム <div>[mu]</div></td>
			<td>メ <div>[me]</div></td>
			<td>モ <div>[mo]</div></td>
			<td class="wr-han">ミャ <div>[mya]</div></td>
			<td class="wr-han">ミュ <div>[myu]</div></td>
			<td class="wr-han">ミョ <div>[myo]</div></td
		</tr>
		<tr>
			<td>ヤ <div>[ya]</div></td>
			<td></td>
			<td>ユ <div>[yu]</div></td>
			<td></td>
			<td>ヨ <div>[yo]</div></td>
			<td  class="wr-han"></td>
			<td  class="wr-han"></td>
			<td  class="wr-han"></td>
		</tr>
		<tr>
			<td>ラ <div>[ra]</div></td>
			<td>リ <div>[ri]</div></td>
			<td>ル <div>[ru]</div></td>
			<td>レ <div>[re]</div></td>
			<td>ロ <div>[ro]</div></td>
			<td class="wr-han">リャ <div>[rya]</div></td>
			<td class="wr-han">リュ <div>[ ryu]</div></td>
			<td class="wr-han">リョ <div>[ryo]</div></td>
		</tr>
		<tr>
			<td>ワ <div>[wa]</div></td>
			<td>ヰ <div>[i]</div></td>
			<td></td>
			<td>ヱ <div>[e]</div></td>
			<td>ヲ <div>[o]</div></td>
			<td  class="wr-han"></td>
			<td  class="wr-han"></td>
			<td  class="wr-han"></td>
		</tr>
		<tr>
			<td colspan="5" align="center">ン <div>[n]</div></td>
			<td colspan="3" class="wr-han"></td>
		</tr>
</tbody>
<tfoot>
<tr>
	<td colspan="8"></td>
</tr>
</tfoot>  
</table>
	
	
</td>
</tr>
</table>
</div><!-- end of voc-wordlist-->	
	
	
	
<br>
<br>

<p>Символы катаканы могут использоваться со знаками нигори (゛), который указывает на озвончение согласного звука, а также со знаком ха-нигори (゜), который заменяет звук [h] на [p]. В следующией таблице приводятся символы катканы с данными знаками:
</p>


<div class="voc-wordlist">
<table class="voc_bord" align="center" cellspacing="0">
<tr>
<td>


<table style="width: 500px" class="diction" cellpadding="0" cellspacing="0" align="center">
	<thead>
		<tr>
			<th colspan="5" class="{sorter: false}"></th>
			<th colspan="3" class="{sorter: false}"></th>
		</tr>
		<tr class="th-add">
			<th class="{sorter: false}">a</th>
			<th class="{sorter: false}">i</th>
			<th class="{sorter: false}">u</th>
			<th class="{sorter: false}">e</th>
			<th class="{sorter: false}">o</th>
			<th class="{sorter: false}">ya</th>
			<th class="{sorter: false}">yu</th>
			<th class="{sorter: false}">ye</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>ガ <div>[ga]</div></td>
			<td>ギ <div>[gi]</div></td>
			<td>グ <div>[gu]</div></td>
			<td>ゲ <div>[ge]</div></td>
			<td>ゴ <div>[go]</div></td>
			<td class="wr-han">ギャ <div>[gya]</div></td>
			<td class="wr-han">ギュ <div>[gyu]</div></td>
			<td class="wr-han">ギョ <div>[gyo]</div></td>
		</tr>
		<tr>
			<td>ザ <div>[za]</div></td>
			<td>ジ <div>[ji]</div></td>
			<td>ズ <div>[zu]</div></td>
			<td>ゼ <div>[ze]</div></td>
			<td>ゾ <div>[zo]</div></td>
			<td class="wr-han">ジャ <div>[ja]</div></td>
			<td class="wr-han">ジュ <div>[ju]</div></td>
			<td class="wr-han">ジョ <div>[jo]</div></td>
		</tr>
		<tr>
			<td>ダ <div>[da]</div> </td>
			<td>ヂ <div>[ji]</div> </td>
			<td>ヅ <div>[zu]</div> </td>
			<td>デ <div>[de]</div> </td>
			<td>ド <div>[do]</div> </td>
			<td class="wr-han">ヂャ <div>[ja]</div> </td>
			<td class="wr-han">ヂュ <div>[ju]</div> </td>
			<td class="wr-han">ヂョ <div>[jo]</div> </td>
		</tr>
		<tr>
			<td>バ <div>[ba]</div></td>
			<td>ビ <div>[bi]</div> </td>
			<td>ブ <div>[bu]</div> </td>
			<td>ベ <div>[be]</div> </td>
			<td>ボ <div>[bo]</div> </td>
			<td class="wr-han">ビャ <div>[bya]</div> </td>
			<td class="wr-han">ビュ <div>[byu]</div> </td>
			<td class="wr-han">ビョ <div>[byo]</div> </td>
		</tr>
		<tr>
			<td>パ <div>[pa]</div> </td>
			<td>ピ <div>[pi]</div> </td>
			<td>プ <div>[pu]</div> </td>
			<td>ペ <div>[pe]</div> </td>
			<td>ポ <div>[po]</div> </td>
			<td class="wr-han">ピャ <div>[pya]</div> </td>
			<td class="wr-han">ピュ <div>[pyu]</div> </td>
			<td class="wr-han">ピョ <div>[pyo]</div> </td>
		</tr>
</tbody>
<tfoot>
<tr>
	<td colspan="8"></td>
</tr>
</tfoot>  
</table>
	
	
</td>
</tr>
</table>
</div><!-- end of voc-wordlist-->




<br>
<br>
<br>
<br>
<br>
<br><br>
<br>




</div>
</div>

<script type="text/javascript">
currentSection="phonetic";
</script>
