<% @page_title='Изучаем японский: Словарь' %>
<% @page_meta = {'description' => "Японский словарь"} %>

<% content_for :special_js_css do %>

<script type="text/javascript">

<%if params[:tab] %>
	openTabFromUrl(<%= params[:tab] %>);
<%else%>
	openTabFromUrl();
<%end%>
	
</script>

<style type="text/css">
#prof_tabs {margin-top: 50px;}
.inpBlock {min-height: 800px; height: auto !important; height: 800px;}
.pBlock {padding: 40px 50px;}
.forgame {}

.content a.forgame {
color: #222222;
text-decoration: none;
height: 240px;
padding: 0px 10px; 
display: block
}

.content a.forgame img {
display: block;
}

a.forgame span.gname {
display: block;
font-size: 14pt;
margin: 0px 0px 10px 20px;
padding-top: 10px;
}

a.forgame span.gdesc {
margin-left: 200px;
display: block;
}

</style>

<% end %>


<h2 class="page">Словарь</h2>

<p>
Здесь представлены списки слов по темам.
</p>







<div id="prof_tabs">
	<div id="tabs_row">
            <div id="tab01" class="ptab current_ptab"><div><a href="vocabulary.html" style="color: #000;">Словарь</a></div></div>
            <div id="tab02" class="ptab"><div><a href="vocabulary.html#tab=2">Упражнения</a></div></div>
	</div>
	<div style="clear: both;"></div>
</div>

<div id="for_tab01" class="pBlock" style="display: block">

	<div class="inpBlock">
	
	<h3>Содержание: </h3>

	
      <div class="bold inner-listing">

<div style="display: none">
	  
            <p><a href="politeness.html" title="Formulas of politeness">I. Formulas of politeness</a></p> 
            <p><a href="acquaintance.html" title="Making acquaintance">II. Making acquaintance</a></p>
            <p><a href="transport.html" title="Transport">III. Transport</a></p>
			

        <div class="secondary-list">
            <p><a href="airport.html" title="Airport">1. Airport</a></p>
            <p><a href="bus.html" title="Bus, trolley, tram">2. Bus, trolley, tram</a></p>

            <p><a href="subway.html" title="Subway">3. Subway</a></p>
            <p><a href="taxi.html" title="Taxi">4. Taxi</a></p>
        </div>
            <p><a href="hotel.html" title="Hotel">IV. Hotel</a></p>
            <p><a href="services.html" title="Services">V. Services</a></p>
            <p><a href="city.html" title="City">VI. City</a></p>

            <p><a href="sightseeing.html" title="Sightseeing">VII. Sightseeing</a></p>
            <p><a href="meals.html" title="Meals">VIII. Meals</a></p>
        <div  class="secondary-list">
            <p><a href="bread.html" title="Bread and confectionery">1. Bread and confectionery</a></p>
            <p><a href="gruel.html" title="Gruels and porridges">2. Gruels and porridges</a></p>
            <p><a href="meat.html" title="Meat dishes">3. Meat dishes</a></p>

            <p><a href="fish.html" title="Fish, fish dishes">4. Fish, fish dishes</a></p>
            <p><a href="dairy.html" title="Dairy produce">5. Dairy produce</a></p>
            <p><a href="vegetables.html" title="Vegetables">6. Vegetables</a></p>
            <p><a href="fruit.html" title="Fruit, berries">7. Fruit, berries</a></p>
            <p><a href="confectionery.html" title="Confectionery">8. Confectionery</a></p>
            <p><a href="drinks.html" title="Beverages, soft and strong drinks">9. Beverages, soft and strong drinks</a></p>

        </div>
        <p><a href="shopping.html" title="Shopping">IX. Shopping</a></p>
        <div  class="secondary-list">
            <p><a href="clothing.html" title="Outdoor clothing">1. Outdoor clothing</a></p>
            <p><a href="lingerie.html" title="Lingerie and nightwear">2. Lingerie and nightwear</a></p>
            <p><a href="sportwear.html" title="Sportswear">3. Sportswear</a></p>
            <p><a href="shoes.html" title="Shoes">4. Shoes</a></p>

            <p><a href="accessories.html" title="Accessories">5. Accessories</a></p>
            <p><a href="perfumery.html" title="Perfumery">6. Perfumery</a></p>
            <p><a href="jewelry.html" title="Jewelry">7. Jewelry</a></p>
            <p><a href="video.html" title="Audio, video and photo">8. Audio, video and photo</a></p>
        </div>
</div>
        <p><a href="#">Числительные</a></p>

        <div  class="secondary-list">
			<p><a href="numerals-ch.html" >Китайские числительные</a></p>
            <p><a href="numerals-jp.html" >Японские числительные</a></p>
			<p><a href="months.html" >Месяцы</a></p>
        </div>

      </div>

	</div>
</div>
<div id="for_tab02" class="pBlock" style="display: none">
	<div class="inpBlock">
		
	<h3>Содержание: </h3>
	
        <div class="inner-listing">	
		  <p><a href="numerals-ch-exercises.html">Упражнения: Китайские числительные</a></p>
          <p><a href="numerals-jp-exercises.html">Упражнения: Японские числительные</a></p> 
 
        </div>
	
	</div>
</div>



<script type="text/javascript">
currentSection="words";
</script>

