<% @page_title='Изучаем японский: Словарь' %>
<% @page_meta = {'description' => "Японский словарь"} %>

<% content_for :special_js_css do %>

<script type="text/javascript">

<%if params[:tab] %>
	openTabFromUrl(<%= params[:tab] %>);
<%else%>
	openTabFromUrl();
<%end%>
	
</script>

<style type="text/css">
#prof_tabs {margin-top: 50px;}
.inpBlock {min-height: 800px; height: auto !important; height: 800px;}
.pBlock {padding: 40px 50px;}
.forgame {}

.content a.forgame {
color: #222222;
text-decoration: none;
height: 240px;
padding: 0px 10px; 
display: block
}

.content a.forgame img {
display: block;
}

a.forgame span.gname {
display: block;
font-size: 14pt;
margin: 0px 0px 10px 20px;
padding-top: 10px;
}

a.forgame span.gdesc {
margin-left: 200px;
display: block;
}

</style>

<% end %>


<h2 class="page">Словарь</h2>

<p>
Здесь представлены списки слов по темам.
</p>

<div id="prof_tabs">
	<div id="tabs_row">
            <div id="tab01" class="ptab current_ptab"><div><a href="vocabulary.html" style="color: #000;">Словарь</a></div></div>
            <div id="tab02" class="ptab"><div><a href="vocabulary.html#tab=2">Флешкарты</a></div></div>
			<div id="tab03" class="ptab"><div><a href="vocabulary.html#tab=3">Тесты</a></div></div>
	</div>
	<div style="clear: both;"></div>
</div>

<div id="for_tab01" class="pBlock" style="display: block">

	<div class="inpBlock">
	
	<h3>Содержание: </h3>

	
      <div class="bold inner-listing">

		<p><a href="/ru/jp/vocabulary/family">Семья</a></p>
        <p><a href="#">Числительные</a></p>

        <div  class="secondary-list">
			<p><a href="/ru/jp/vocabulary/ch-numerals">Китайские числительные</a></p>
            <p><a href="/ru/jp/vocabulary/jp-numerals">Японские числительные</a></p>
        </div>

      </div>

	</div>
</div>
<div id="for_tab02" class="pBlock" style="display: none">
	<div class="inpBlock">
		
	<h3>Флэшкарты по темам: </h3>
        <div class="inner-listing">	
		
			<p><a href="/ru/jp/flashcards/family">Семья</a></p>
			<p><a href="/ru/jp/flashcards/ch-numerals">Китайские числительные</a></p>
			<p><a href="/ru/jp/flashcards/jp-numerals">Японские числительные</a></p>
        </div>
	
	</div>
</div>
<div id="for_tab03" class="pBlock" style="display: none">
	<div class="inpBlock">
		
	<h3>Лексические тесты по темам: </h3>
	
        <div class="inner-listing">	
		
			<p><a href="/ru/jp/lexical-test/family">Семья</a></p>
			<p><a href="/ru/jp/lexical-test/ch-numerals">Китайские числительные</a></p>
			<p><a href="/ru/jp/lexical-test/jp-numerals">Японские числительные</a></p>
			
        </div>
	
	</div>
</div>


<script type="text/javascript">
currentSection="words";
</script>

