<% @page_title='Study Languages Online: Изучение Японского' %>
<% @page_meta = {'description' => "Russian language learning: online courses, vocabulary topics, pronunciation training", 'verify-v1' => "fRSaz4QoyTycTJLUZnk+AtNsVP8u9B3CorQMEuDuHLM="} %>


<h2  class="page">Японская письменность</h2>


<p>Данный раздел сайта находится в стадии разработки</p>




<p>
В японском языке используются две слоговые азбуки: Хирагана и Катакана 
</p>


<p> <a href="/ru/jp/hiragana.html">Хирагана </a>
</p>
<p> <a href="/ru/jp/katakana.html">Катакана</a>
</p>

<p>
Также в японском используются иероглифы - кандзи. Представляем курс по изучению кандзи:  
</p>

<ul>
	<li><a href="/ru/jp/kanji_01/lesson/1">Урок 1</a>
	<li><a href="/ru/jp/kanji_01/lesson/2">Урок 2</a>
	<li><a href="/ru/jp/kanji_01/lesson/3">Урок 3</a>
	<li><a href="/ru/jp/kanji_01/lesson/4">Урок 4</a>
	<li><a href="/ru/jp/kanji_01/lesson/5">Урок 5</a>
	<li><a href="/ru/jp/kanji_01/lesson/6">Урок 6</a>
	<li><a href="/ru/jp/kanji_01/lesson/7">Урок 7</a>
	<li><a href="/ru/jp/kanji_01/lesson/8">Урок 8</a>
<ul>



<script type="text/javascript">
currentSection="phonetic";
</script>
