<% @page_title='Study Languages Online: Изучение Японского' %>
<% @page_meta = {'description' => "Russian language learning: online courses, vocabulary topics, pronunciation training", 'verify-v1' => "fRSaz4QoyTycTJLUZnk+AtNsVP8u9B3CorQMEuDuHLM="} %>


<h2  class="page">Японская письменность</h2>


<p>Данный раздел сайта находится в стадии разработки</p>




<p>
В японском языке используются две слоговые азбуки: Хирагана и Катакана 
</p>


<p> <a href="/ru/jp/hiragana.html">Хирагана </a>
</p>
<p> <a href="/ru/jp/katakana.html">Катакана</a>
</p>


<br><br><br><br><br><br>

<p>Данный раздел сайта находится в стадии разработки</p>


<script type="text/javascript">
currentSection="phonetic";
</script>
