<div class="gex-area-trans">
<% phrases.each_with_index do |phrase, index| %>
<div class="gext_task gext_sign<% if index == 0 %> di_mix_first<%end%>"> 
	<div class="di_mix_tobuild"><%= phrase[:to_bild] %></div>
	<% unless phrase[:variants]==nil %><div class="di_mix_variants di_mix"><%= phrase[:variants] %></div><%end%>
	<input type="text" value=""> <span class="gext_answer" style="display: none"><%= phrase[:answer] %></span>
	<div class="gext_show"><span><b><%= phrase[:show] %></b></span> &nbsp;</div>
</div>
<% end %>
</div>
<p class="gext_check es-ex-buttons gex-es-btn"><input type="button" class="gext_check_btn" value="Check answers" > <input type="button" value="Display answers" class="gext_answer_show"></p>