<% @title = defined?(title) ? title : "norm" %>

<div class="gex-area-trans">
<table cellspacing="15">
<tr>
	<th>
		<% if @title == "norm" %> 
			Phrases to translate
		<%else%>
			<%= @title %>
		<%end%>
		<br><br>
	<th>
</tr>
<% phrases.each_with_index do |phrase, index| %>
<tr>
	<td><%= index+1 %>. <%= phrase[:q_text]%></td>
	<td style="padding-left: 30px">
		<table class="ds-table" cellspacing="0" align="center"> 
			<tr> 
				<td style="border-width:0; padding: 3px; padding-left: 6px; white-space: nowrap"><strong>Check yourself</strong></td> 
				<td style="border-width:0; padding: 3px"><div class="jp_control" onclick="cJplayer('<%= phrase[:sound] %>', this)"></div></td> 
			</tr> 
		</table>
	</td>
</tr>
<% end %>
</table>
</div>