<% @page_title = 'Vocabulaire russe en ligne: Bus, trolleybus, tramway' %>
<% @page_meta = {'description' => "Russian online vocabulary for learning words and phrases related to the topic Bus, trolley, tram"} %>
<% @with_rec = true %>
<% @has_audio = true %>

<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Links and Settings</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
     				<li><a href="bus-exercise.html"> Exercises: City transport</a></li>
     				<li><a href="bus-test.html"> Tests: City transport</a></li>
    		</ul>
        <%= render :partial => 'colorder_accent' %>
	</div>
</div>
</div>



<h2 class="page">Bus, trolley, tram</h2>

<div id="pagecontent"><div id="content">

<div class="dict_wrapper">
<table class="diction" cellpadding="0" cellspacing="0" align="center">
	<tr class="trow">
		<td class="original" valign="top">Авт<span class="acco">о</span>бус
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound02101.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[aft<span class="acct">o</span>boos] 
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Bus
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Тролл<span class="acco">е</span>йбус
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound02102.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[tra<span class="sftv">l</span><span class="sfty">y</span><span class="acct">e</span>boos]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Trolleybus
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Трамв<span class="acco">а</span>й
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound02103.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[tramv<span class="acct">a</span>y]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Tramway
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Бил<span class="acco">е</span>т
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound02104.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[bi<span class="sftv">l</span><span class="sfty">y</span><span class="acct">e</span>t]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Ticket
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Вх<span class="acco">о</span>д
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound02105.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[fh<span class="acct">o</span>t]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Entrée
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">В<span class="acco">ы</span>ход
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound02106.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[v<span class="acct"><span class="ry">i</span></span>hat]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Sortie
		</td>
	</tr>
	
	<tr class="trow">
		<td class="original" valign="top">Конд<span class="acco">у</span>ктор
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound02107.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[kand<span class="acct">oo</span>ktar]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Receveur de bus
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Маршр<span class="acco">у</span>т
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound02108.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[marshr<span class="acct">oo</span>t]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Ligne,	parcours
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Остан<span class="acco">о</span>вка
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound02109.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[astan<span class="acct">o</span>fka]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Arrêt
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Сх<span class="acco">е</span>ма маршр<span class="acco">у</span>тов
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound02110.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[s<span class="sftv">h</span><span class="sfty">y</span><span class="acct">e</span>ma marshr<span class="acct">oo</span>taf]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Plan schématique du réseau des transports urbains
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Штраф
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound02111.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[shtr<span class="acct">a</span>f]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Amende
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Бр<span class="acco">а</span>ть бил<span class="acco">е</span>т
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound02112.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[br<span class="acct">a</span><span class="sftc">t</span> bi<span class="sftv">l</span><span class="sfty">y</span><span class="acct">e</span>t]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Prendre un ticket
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Компост<span class="acco">и</span>ровать бил<span class="acco">е</span>т
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound02113.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[kampast<span class="acct">i</span>rava<span class="sftc">t</span> bi<span class="sftv">l</span><span class="sfty">y</span><span class="acct">e</span>t]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Poinçonner un ticket
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Кон<span class="acco">е</span>чная остан<span class="acco">о</span>вка
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound02114.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[ka<span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span>chnaya astan<span class="acct">o</span>fka]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Terminus
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">&nbsp;
		</td>
		<td class="transcript" valign="top">&nbsp;
		</td>
		<td class="translation" valign="top">&nbsp;
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Ск<span class="acco">о</span>лько ст<span class="acco">о</span><i></i>ит про<i></i><span class="acco">е</span>зд?
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound02115.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[sk<span class="acct">o</span><span class="sftc">l</span>ka st<span class="acct">o</span>it pray<span class="acct">e</span>st?]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Quel est le tarif?
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Ск<span class="acco">о</span>лько остан<span class="acco">о</span>вок до …?
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound02116.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[sk<span class="acct">o</span><span class="sftc">l</span>ka astan<span class="acct">o</span>vak da ?]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Combien d'arrêts faut-il passer jusqu'à ...?
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Как<span class="acco">а</span><i></i>я сл<span class="acco">е</span>дующая остан<span class="acco">о</span>вка?
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound02117.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[kak<span class="acct">a</span>ya s<span class="sftv">l</span><span class="sfty">y</span><span class="acct">e</span>dooschiya astan<span class="acct">o</span>fka?]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Quel est la prochaine?
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Где мне н<span class="acco">у</span>жно выход<span class="acco">и</span>ть?
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound02118.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[G<span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span> m<span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span> n<span class="acct">oo</span>jna v<span class="ry">i</span>had<span class="acct">i</span><span class="sftc">t</span>?]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Où devrais-je descendre?
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">На как<span class="acco">о</span>м авт<span class="acco">о</span>бусе мне н<span class="acco">у</span>жно <span class="acco">е</span>хать?
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound02119.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[na kak<span class="acct">o</span>m aft<span class="acct">o</span>boo<span class="sftv">s</span><span class="sfty">y</span><span class="acct">e</span> m<span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span> n<span class="acct">oo</span>jna y<span class="acct">e</span>hat?]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Quel bus devrais-je prendre?
		</td>
	</tr>
</table>
</div>
<p class="after_dic">If you want to check how you know these words, go to <a title="City transport tests" href="bus-test.html"> Tests: City transport</a></p>

</div>
</div>

<script type="text/javascript">
currentSection="words";
</script>
