<% @page_title = 'Online Russian Vocabulary: Outdoor clothing' %>
<% @page_meta = {'description' => "Russian online vocabulary for learning words and phrases related to the topic Outdoor clothing"} %>
<% @with_rec = true %>
<% @has_audio = true %>
<% content_for :special_js_css do %>
<style type="text/css">
h2.page {margin-bottom: 0px;}
</style>
<% end %>
<div class="hint_wrap">
<div class="hint_button">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <li><a href="clothing-flashcards.html"> Flashcards: Outdoor clothing</a></li>
            <li><a href="clothing-test.html"> Tests: Outdoor clothing</a></li>
        </ul>
        <%= render :partial => 'colorder_accent' %> 
  </div>
</div>
</div>



<h2 class="page">Vêtement</h2>
<h3 class="page-path"> 
<span class="int-links"><a href="/vocabulary.html">Vocabulary</a> <span class="int-arrow">--></span> Outdoor clothing</span>
</h3>

<div id="pagecontent"><div id="content">

<div class="dict_wrapper">

<div class="voc-wordlist">
<table class="voc_bord" align="center" cellspacing="0">
<tr>
<td>

<table class="diction" cellpadding="0" cellspacing="0" align="center">
<thead>
<tr>
	<td></td>
	<td></td>
	<td></td>
</tr>
</thead>
<tbody>
	<tr class="trow">
		<td class="original" valign="top">в<span class="acco">е</span>рхняя од<span class="acco">е</span>жда
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09101.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[<span class="sftv">v</span><span class="sfty">y</span><span class="acct">e</span>rhniya&nbsp;a<span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span>jda]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">vêtements
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">бл<span class="acco">у</span>зка
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09102.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[bl<span class="acct">oo</span>ska]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">blouse
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">бр<span class="acco">ю</span>ки
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09103.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[b<span class="sftv">r</span><span class="sfty">y</span><span class="acct">oo</span>ki]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">pantalon
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">дж<span class="acco">и</span>нсы
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09104.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[dj<span class="acct"><span class="ry">i</span></span>nsi]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">jeans
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">жил<span class="acco">е</span>т
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09105.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[j<span class="ry">i</span><span class="sftv">l</span><span class="sfty">y</span><span class="acct">e</span>t]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">gilet
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">кост<span class="acco">ю</span>м
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09106.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[ka<span class="sftc">s</span><span class="sftv">t</span><span class="sfty">y</span><span class="acct">oo</span>m]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">costume
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">к<span class="acco">у</span>ртка
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09107.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[k<span class="acct">oo</span>rtka]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">blouson
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">пальт<span class="acco">о</span>
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09108.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[pa<span class="sftc">l</span>t<span class="acct">o</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">pardessus,  manteau
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">пидж<span class="acco">а</span>к
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09109.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[pidj<span class="acct">a</span>k]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">veste
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">пл<span class="acco">а</span>тье
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09110.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[pl<span class="acct">a</span><span class="sftc">t</span>ye]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">robe
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">плащ
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09111.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[pl<span class="acct">a</span>sch]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">imperméable
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">руб<span class="acco">а</span>шка
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09112.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[roob<span class="acct">a</span>shka]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">chemise
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">св<span class="acco">и</span>тер
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09113.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[sv<span class="acct">i</span>ter]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">chandail, pull
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">футб<span class="acco">о</span>лка
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09114.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[foodb<span class="acct">o</span>lka]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">T-shirt
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">ш<span class="acco">о</span>рты
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09115.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[sh<span class="acct">o</span>rt<span class="ry">i</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">short
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">ш<span class="acco">у</span>ба
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09116.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[sh<span class="acct">oo</span>ba]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">manteau de fourrure
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top"><span class="acco">ю</span>бка
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09117.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[y<span class="acct">oo</span>pka]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">jupe
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">&nbsp;
		</td>
		<td class="transcript" valign="top">&nbsp;
		</td>
		<td class="translation" valign="top">&nbsp;
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">головн<span class="acco">о</span>й уб<span class="acco">о</span>р
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09118.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[galavn<span class="acct">o</span>y oob<span class="acct">o</span>r]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">couvre-tête 
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">бейсб<span class="acco">о</span>лка
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09119.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[biyzb<span class="acct">o</span>lka]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">casquette de baseball
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">бер<span class="acco">е</span>т
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09120.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[bi<span class="sftv">r</span><span class="sfty">y</span><span class="acct">e</span>t]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">bérêt
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">к<span class="acco">е</span>пка
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09121.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[<span class="sftv">k</span><span class="sfty">y</span><span class="acct">e</span>pka]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">casquette
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">ш<span class="acco">а</span>пка
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09122.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[sh<span class="acct">a</span>pka]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">bonnet, coiffe
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">шл<span class="acco">я</span>па
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09123.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[sh<span class="sftv">l</span><span class="sfty">y</span><span class="acct">a</span>pa]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">chapeau
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">&nbsp;
		</td>
		<td class="transcript" valign="top">&nbsp;
		</td>
		<td class="translation" valign="top">&nbsp;
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">матери<i></i><span class="acco">а</span>л
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09124.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[mati<span class="sftc">r</span>y<span class="acct">a</span>l]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">matériel
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">б<span class="acco">а</span>рхат
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09125.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[b<span class="acct">a</span>rhat]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">velours
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">вельв<span class="acco">е</span>т
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09126.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[vi<span class="sftc">l</span><span class="sftv">v</span><span class="sfty">y</span><span class="acct">e</span>t]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">velvet
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">з<span class="acco">а</span>мша
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09127.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[z<span class="acct">a</span>msha]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">chamois
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">к<span class="acco">о</span>жа
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09128.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[k<span class="acct">o</span>ja]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">cuir
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">трикот<span class="acco">а</span>ж
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09129.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[trikat<span class="acct">a</span>sh]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">tricots
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">шёлк
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09130.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[sh<span class="acct">o</span>lk]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">soie
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">шерсть
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09131.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[sh<span class="acct">e</span>r<span class="sftc">s</span><span class="sftc">t</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">laine
		</td>
	</tr>
</tbody>
<tfoot>
<tr>
	<td></td>
	<td></td>
	<td></td>
</tr>
</tfoot>  
</table>

</td>
</tr>
</table>
</div><!-- end of voc-wordlist-->

</div>

<table class="voc-links voc-link-first " align="center" cellspacing="0"><tr>
	<td class="voc-space">Learn these words and expressions with our &nbsp;<a href="clothing-flashcards.html">Flashcards >></a></td>
</tr></table>
<table class="voc-links voc-link-last" align="center" cellspacing="0"><tr>
	<td class="voc-space">Check how you know this topic with our &nbsp;<a href="clothing-test.html">Lexical tests >></a></td>
</tr></table>

</div>
</div>

<script type="text/javascript">
currentSection="words";
</script>
