<% @page_title = 'Online Russian Vocabulary: Fruit, berries' %>
<% @page_meta = {'description' => "Russian online vocabulary for learning words and phrases related to the topic Fruit, berries"} %>
<% @with_rec = true %>
<% @has_audio = true %>
<% content_for :special_js_css do %>
<style type="text/css">
h2.page {margin-bottom: 0px;}
</style>
<% end %>
<div class="hint_wrap">
<div class="hint_button">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <li><a href="fruit-flashcards.html"> Flashcards: Fruit, berries</a></li>
            <li><a href="fruit-test.html"> Tests: Fruit, berries</a></li>
        </ul>
        <%= render :partial => 'colorder_accent' %> 
  </div>
</div>
</div>



<h2 class="page">Fruit, berries</h2>
<h3 class="page-path"> 
<span class="int-links"><a href="/vocabulary.html">Vocabulary</a> <span class="int-arrow">--></span> Fruit, berries</span>
</h3>

<div id="pagecontent"><div id="content">

<div class="dict_wrapper">

<div class="voc-wordlist">
<table class="voc_bord" align="center" cellspacing="0">
<tr>
<td>

<table class="diction" cellpadding="0" cellspacing="0" align="center">
<thead>
<tr>
	<td></td>
	<td></td>
	<td></td>
</tr>
</thead>
<tbody>
	<tr class="trow">
		<td class="original" valign="top">фр<span class="acco">у</span>кты
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08701.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[fr<span class="acct">oo</span>kt<span class="ry">i</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">fruits
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top"><span class="acco">я</span>годы 
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08702.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[y<span class="acct">a</span>gad<span class="ry">i</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">baies
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">абрик<span class="acco">о</span>с
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08703.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[abrik<span class="acct">o</span>s]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">abricot
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">анан<span class="acco">а</span>с
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08704.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[anan<span class="acct">a</span>s]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">ananas
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">апельс<span class="acco">и</span>н
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08705.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[api<span class="sftc">l</span>s<span class="acct">i</span>n]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">orange
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">арб<span class="acco">у</span>з
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08706.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[arb<span class="acct">oo</span>s]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">melon d'eau
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">бан<span class="acco">а</span>н
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08707.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[ban<span class="acct">a</span>n]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">banane
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">виногр<span class="acco">а</span>д
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08708.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[vinagr<span class="acct">a</span>t]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">raisin
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">в<span class="acct">и</span>шня
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08709.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[v<span class="acct">i</span>sh<span class="sftc">n</span><span class="sfty">y</span>a]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">cerise
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">чер<span class="acco">е</span>шня
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08710.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[chi<span class="sftv">r</span><span class="sfty">y</span><span class="acct">e</span>sh<span class="sftc">n</span><span class="sfty">y</span>a]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">guigne
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Гр<span class="acco">у</span>ша
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08711.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[gr<span class="acct">oo</span>sha]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">poire
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">д<span class="acco">ы</span>ня
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08712.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[d<span class="acct"><span class="ry">i</span></span><span class="sftc">n</span><span class="sfty">y</span>a]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">melon
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">клубн<span class="acco">и</span>ка
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08713.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[kloobn<span class="acct">i</span>ka]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">fraise
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">крыж<span class="acco">о</span>вник
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08714.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[kr<span class="ry">i</span>j<span class="acct">o</span>vnik]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">groseille à maquereau
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">лим<span class="acco">о</span>н
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08715.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[lim<span class="acct">o</span>n]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">citron
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">мал<span class="acco">и</span>на
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08716.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[mal<span class="acct">i</span>na]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">framboise
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">мандар<span class="acco">и</span>н
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08717.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[mandar<span class="acct">i</span>n]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">mandarine
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">п<span class="acco">е</span>рсик
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08718.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[<span class="sftv">p</span><span class="sfty">y</span><span class="acct">e</span>rsik]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">pêche
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">сл<span class="acco">и</span>ва
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08719.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[sl<span class="acct">i</span>va]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">prune
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">смор<span class="acco">о</span>дина
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08720.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[smar<span class="acct">o</span>dina]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">cassis
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">черносл<span class="acco">и</span>в
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08721.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[chirnasl<span class="acct">i</span>f]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">pruneau
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top"><span class="acco">я</span>блоко
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08722.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[y<span class="acct">a</span>blaka]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">pomme
		</td>
	</tr>
</tbody>
<tfoot>
<tr>
	<td></td>
	<td></td>
	<td></td>
</tr>
</tfoot>  
</table>

</td>
</tr>
</table>
</div><!-- end of voc-wordlist-->

</div>

<table class="voc-links voc-link-first " align="center" cellspacing="0"><tr>
	<td class="voc-space">Learn these words and expressions with our &nbsp;<a href="fruit-flashcards.html">Flashcards >></a></td>
</tr></table>
<table class="voc-links voc-link-last" align="center" cellspacing="0"><tr>
	<td class="voc-space">Check how you know this topic with our &nbsp;<a href="fruit-test.html">Lexical tests >></a></td>
</tr></table>

</div>
</div>

<script type="text/javascript">
currentSection="words";
</script>
