<% @page_title='Study Languages Online: Apprendre le russ em ligne' %>
<% @page_meta = {'description' => "Russian language learning: online courses, vocabulary topics, pronunciation training", 'verify-v1' => "fRSaz4QoyTycTJLUZnk+AtNsVP8u9B3CorQMEuDuHLM="} %>

<% content_for :special_js_css do %>
<link rel="alternate" type="application/rss+xml" title="RSS" href="<%=APP_CONFIG[:site_url]%>/rss.xml" >
<%end%>

<h2  class="page">Bienvenue sur notre site!</h2>
<p>
L'objectif principal de ce site est de donner la possibilité  à  toutes personnes intéressées à apprendre la langue russe en ligne. Ce site vise à fournir les conditions optimales pour l'étude de la langue russe.</p>

<p>
Sur notre site vous pouvez trouver différents matériels pour apprendre le russe qui seraient utiles
pour les débutants ainsi que pour ceux qui ont une certaine expérience en rusee. Les cours en ligne sur notre site peuvent aider ceux qui n'ont jamais étudié la langue russe et ceux qui veulent renforcer leurs compétences linguistiques.
</p>


<p style="te_xt-align: center;">Ci-dessous vous trouverez une brève description des principales sections sur notre site et des liens qui peuvent vous être utiles:</p>
<div id="sections">
<table cellpadding="0" cellspacing="0" border="0" align="center">
	<tr valign="top">
		<td style="width: 250px; height: 250px;">
			<div id="section1" class="section-block">
				<div class="sect-crn clt">
						<div class="sect-crn crt">
							<div class="sect-mid"> <span class="new_item" style="right: 0px; display: none">&nbsp;Update&nbsp;</span></div>
						</div>
				</div>
				<div class="section-content">
					<div class="fixIe">
					<div class="sect-in">
    					<strong>Les cours en ligne</strong>
    					<p>
    					Apprenez le russe avec nos cours en ligne. Ces cours vous permettront d'acquérir des compétences linguistiques de base afin que vous puissiez communiquer avec les russophones.
						</p>
    					<p>
						La, vous allez apprendre les mots et les expressions les plus fréquemment utilisés, et vous trouverez des exercices et des tests pour renforcer et évaluer vos compétences.
						</p>
    					Cette section comprend: 
		   				<br/><br/>
		   				<div class="sect-link slinks"><a href="beginner-course.html">- <span>Russian Course for Beginners</span></a></div>
						<div class="sect-link slinks"><a href="everyday-course.html">- <span>Everyday Russian Course</span></a></div>					
					</div>
					</div>
				</div>
				<div class="sect-link"><a href="course.html"><span>Visiter cette section</span> >></a></div>
				<div class="sect-btm">
    				<div class="sect-clb">
    					<div class="sect-crb">
    						<div class="sect-btm-bg">
    							<div class="prezoom">
    								<div class="zoom"><span>Cliquer pour plus d'info</span></div>
    								<div style="clear: both;"></div>
    				   			</div>
    				   			
    						</div>
    					</div>
    				</div>
				</div>
			</div>
		</td>
		<td style="width: 200px;">
			<div id="section2" class="section-block">
				<div class="sect-crn clt">
						<div class="sect-crn crt">
							<div class="sect-mid"> <span class="new_item" style="right: 0px; display: none;">&nbsp;Update&nbsp;</span> </div>
						</div>
				</div>
				<div class="section-content">
					<div class="fixIe">
					<div class="sect-in">
						<strong>Vocabulaire russe</strong>
						<p>
						Chaque rubrique contient une liste de mots et de phrases russes accompagnés de leurs traduction et transcription. Ici, vous trouverez également des exercices et des tests interactifs qui vous aideront à vous familiariser avec la langue russe.
						</p>
						 Parmi les rubriques disponibles, vous trouverez: <br/>						 
						<div style="margin-top: 5px" class="sect-link slinks"><a href="politeness.html">- <span>Salutations et formules de politesse</span></a></div>
						<div class="sect-link slinks"><a href="transport.html">- <span>Transports</span></a></div>
						<div style="margin-bottom: 10px" class="sect-link slinks"><a href="sightseeing.html">- <span>Visites guidées</span></a></div>
						
						Aussi disponibles:: 
						<br/>
						<div style="margin-top: 5px"  class="sect-link slinks"><a href="vocabulary_games.html">- Jeux Languistiques</a></div>
						<div style="margin-bottom: 10px" class="sect-link slinks"><a href="vocabulary_exercises.html">- Exercices de vocabulaire</a></div>
						
						<div class="sect-link slinks" style="display: none;"> <span class="new_item" style="position: relative;">&nbsp;NEW&nbsp;</span> <a href="/crossword-game.html">- <span class="bold">Word Find Puzzle</span></a> </div>
						
   
						
					</div>
					</div>
				</div>
				<div class="sect-link"><a href="vocabulary.html"><span>Visiter cette section</span> >></a></div>
				<div class="sect-btm">
				<div class="sect-clb">
    					<div class="sect-crb">
    						<div class="sect-btm-bg">
    							<div class="prezoom">
    								<div class="zoom"><span>Cliquer pour plus d'info</span></div>
    								<div style="clear: both;"></div>
    				   			</div>
    				   			
    						</div>
    					</div>
    				</div>
				</div>
			</div>
		</td>
	</tr>
	<tr valign="top">
		<td style="height: 210px;">
			<div id="section3" class="section-block">
				<div class="sect-crn clt">
						<div class="sect-crn crt">
							<div class="sect-mid"></div>
						</div>
				</div>
		   		<div class="section-content">
		   			<div class="fixIe">
		   			<div class="sect-in">
		   		   		<strong>Prononciation russe</strong>
		   		   		<p>
						Cette section vise à fournir des compétences essentiels pour percevoir et la distinguer les sons russes, ainsi que de donner la description de leur articulation.
						<br><br>
						Là, vous trouverez l'information de base sur les sons russes et les particularités de leur prononciation. Il y a aussi un cours phonétique qui vous aidera à vous familiariser avec la prononciation russe.
						</p>
		   				This section includes: 
		   				<br/><br/>
		   				<div class="sect-link slinks"><a href="basic-sounds.html">- <span>Basic Russian sounds and their transcription</span></a></div>
						<div class="sect-link slinks"><a href="sounds-info.html">- <span>General info about Russian sounds</span></a></div>
						<div class="sect-link slinks"><a href="phonetics-course.html">- <span>Introductory phonetics online course</span></a></div>
		   			</div>
		   			</div>
		   		</div>
		   		<div class="sect-link"><a href="pronunciation.html"><span>Visiter cette section</span> >></a></div>
		   		<div class="sect-btm">
		   		<div class="sect-clb">
    					<div class="sect-crb">
    						<div class="sect-btm-bg">
    							<div class="prezoom">
    								<div class="zoom"><span>Cliquer pour plus d'info</span></div>
    								<div style="clear: both;"></div>
    				   			</div>
    				   			
    						</div>
    					</div>
    				</div>
		   		</div>
			</div>
		</td>
		<td>
			<div id="section4" class="section-block">
				<div class="sect-crn clt">
						<div class="sect-crn crt">
							<div class="sect-mid"><span class="new_item" style="right: 0px; display: none;">&nbsp;Update&nbsp;</span></div>
						</div>
				</div>
				<div class="section-content">
					<div class="fixIe">
					<div class="sect-in">
						<strong>Lecture en russe</strong>
						<p>
						Ici vous pouvez apprendre l'alphabet russe, se familiariser avec les particularités de la lecture en russe et de trouver des informations sur les règles essentielles de la lecture. Il y a aussi des exercices et des tests qui vous aideront à lire en russe.
						</p>
						
						Cette section comprend: <br/><br/>
						<div class="sect-link slinks"><a href="reading-info.html">- <span>Informations générales sur la lecture en russe</span></a></div>
						<div class="sect-link slinks"><a href="basic-letters.html">- <span>Lettres russes et leurs significations de base</span></a></div>
						<div class="sect-link slinks"><a href="readingrules.html">- <span>Règles de la lecture</span></a></div>
						<div class="sect-link slinks"><a href="reading-practice.html">- <span>Exercices de lecture</span></a></div>
						<div class="sect-link slinks"> <span class="new_item" style="position: relative; display: none;">&nbsp;NEW&nbsp;</span> <a href="russian-reading-texts.html">- <span>Textes pour la lecture en russe</span></a> </div>
					</div>
					</div>
				</div>
				<div class="sect-link"><a href="russian-reading.html"><span>Visiter cette section</span> >></a></div>
				<div class="sect-btm" >
					<div class="sect-clb">
    					<div class="sect-crb">
    						<div class="sect-btm-bg">
    							<div class="prezoom">
    								<div class="zoom"><span>Cliquer pour plus d'info</span></div>
    								<div style="clear: both;"></div>
    				   			</div>
    						</div>
    					</div>
    				</div>
				</div>
			</div>
		</td>
	</tr>
</table>
</div>

<p>
Notre site vous offre la possibilité d'apprendre le vocabulaire, la grammaire, la phonétique et les règles de la lecture de la langue russe.

</p>



<p>
Le contenu de notre site est constamment mis à jour et élargi. Si vous avez des questions ou des suggestions, n’hésitez-pas de nous contacter et nous allons nécessairement prendre en considération les informations reçues tout en continuant à développer notre ressource.
</p>
<br>

<div class="last-updates">
 <h3><span class="note"> <!-- a href="rss.xml" class="rss-link" title="Subscribe" --></a>  Les mises à jour  
 
<span class="rss-ico">
  <a href="/rss.xml"  title="Subscribe to RSS"> <img src="/images/rss.png"> </a>
  <a href="http://www.facebook.com/pages/Study-Languages-Onlinecom/111268518902851"  title="Visit the Fan Page"> <img src="/images/facebook.png"> </a>
  <a href="http://www.twitter.com/SLO_support"  title="Follow me on Twitter"> <img src="/images/twitter.png"> </a>
</span> 

</span>
 </h3>
 <ul>
	<li>- New article: <a href="russian-adjectives-declension.html">Declension of Russian adjectives</a></li>
	<li>- New article: <a href="russian-cardinal-numerals.html">Russian cardinal numerals</a></li>
	<li>- New article: <a href="russian-nouns-nominative-plural.html">Plural forms of Russian nouns (Nominative Plural)</a></li>
	<li>- We have created our <a href="http://www.facebook.com/pages/Study-Languages-Onlinecom/111268518902851">Facebook fan page</a> :) </li>
	<li>- New language game on our website: <a href="/crossword-game.html">Word Find Puzzle</a></li>

 </ul>
</div>

<p>
If this is your first visit to our site, you may want to read the <a href="summary.html" title="Brief summary">brief summary</a>.
</p>

<script type="text/javascript">
currentSection="home";
</script>
