<% @page_title = 'Online Russian Vocabulary:  Meat dishes' %>
<% @page_meta = {'description' => "Russian online vocabulary for learning words and phrases related to the topic Meat dishes"} %>
<% @with_rec = true %>
<% @has_audio = true %>

<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Links and Settings</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
    				<li><a href="meat-exercise.html"> Exercises: Meat dishes</a></li>
     				<li><a href="meat-test.html"> Tests: Meat dishes</a></li>

    		</ul>
        <%= render :partial => 'colorder_accent' %>
	</div>
</div>
</div>



<h2 class="page">Plats de viande</h2>

<div id="pagecontent"><div id="content">


<div class="dict_wrapper">
<table class="diction" cellpadding="0" cellspacing="0" align="center">
	<tr class="trow">
		<td class="original" valign="top">м<span class="acco">я</span>со
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08301.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[<span class="sftv">m</span><span class="sfty">y</span><span class="acct">a</span>sa]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">viande
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">бар<span class="acco">а</span>нина
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08302.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[bar<span class="acct">a</span>nina]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top"> viande de mouton
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">гов<span class="acco">я</span>дина
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08303.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[ga<span class="sftv">v</span><span class="sfty">y</span><span class="acct">a</span>dina]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top"> viande de boeuf
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">тел<span class="acco">я</span>тина
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08304.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[ti<span class="sftv">l</span><span class="sfty">y</span><span class="acct">a</span>tina]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">viande de veau
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">свин<span class="acco">и</span>на
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08305.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[svin<span class="acct">i</span>na]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top"> viande de porc
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">кр<span class="acco">о</span>лик
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08306.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[kr<span class="acct">o</span>lik]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">lapin
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">инд<span class="acco">е</span>йка
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08307.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[in<span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span>yka]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">dinde
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">к<span class="acco">у</span>рица
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08308.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[k<span class="acct">oo</span>ritsa]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">poulet
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top"><span class="acco">у</span>тка
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08309.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[<span class="acct">oo</span>tka]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">canard
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">&nbsp;
		</td>
		<td class="transcript" valign="top">&nbsp;
		</td>
		<td class="translation" valign="top">&nbsp;
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">кор<span class="acco">е</span>йка
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08310.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[ka<span class="sftv">r</span><span class="sfty">y</span><span class="acct">e</span>yka]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">longe
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">бек<span class="acco">о</span>н
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08311.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[bik<span class="acct">o</span>n]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">bacon
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">я<span class="acco">и</span>чница с бек<span class="acco">о</span>ном
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08312.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[yi<span class="acct">i</span>shnitsa z bik<span class="acct">o</span>nam]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">oeufs au bacon
		</td>
	</tr>
	
<!-- 	<tr class="trow">
		<td class="original" valign="top">бифшт<span class="acco">е</span>кс
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08313.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[bifsht<span class="acct">e</span>ks]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">bifteck
		</td>
	</tr> 

	<tr class="trow">
		<td class="original" valign="top">отбивн<span class="acco">а</span>я
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08313.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[atbivn<span class="acco">a</span>ya]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">	côtelette
		</td>
	</tr> -->
	
	<tr class="trow">
		<td class="original" valign="top">отбивн<span class="acco">а</span>я котл<span class="acco">е</span>та
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08314.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[atbivn<span class="acct">a</span>ya kat<span class="sftv">l</span><span class="sfty">y</span><span class="acct">e</span>ta]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top"> côtelette
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">отварн<span class="acco">о</span>е м<span class="acco">я</span>со
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08315.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[atvarn<span class="acct">o</span>ye <span class="sftv">m</span><span class="sfty">y</span><span class="acct">a</span>sa]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">viande bouillie
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">буль<span class="acco">о</span>н
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08316.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[boo<span class="sftc">l</span>y<span class="acct">o</span>n]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">	bouillon
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">мясн<span class="acco">о</span>й с<span class="acco">у</span>п
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08317.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[misn<span class="acct">o</span>y s<span class="acct">oo</span>p]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">soupe de viande
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">ветчин<span class="acco">а</span>
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08318.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[vitchin<span class="acct">a</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">jambon
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">бужен<span class="acco">и</span>на
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08319.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[booj<span class="ry">i</span>n<span class="acct">i</span>na]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">jambon braisé
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">свин<span class="acco">а</span>я отбивн<span class="acco">а</span>я
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08320.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[svin<span class="acct">a</span>ya atbivnn<span class="acct">a</span>ya]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">côtelette de porc
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">р<span class="acco">о</span>стбиф
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08321.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[r<span class="acct">o</span>stbif]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top"> roast-beef
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">колбас<span class="acco">а</span>
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08322.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[kalbas<span class="acct">a</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">saucisson
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">сос<span class="acco">и</span>ска
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08323.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[sas<span class="acct">i</span>ska]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">saucisse
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">хот дог 
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08324.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[h<span class="acct">o</span>t d<span class="acct">o</span>k]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">hot-dog
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">варёная колбас<span class="acco">а</span>
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08325.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[va<span class="sftv">r</span><span class="sfty">y</span><span class="acct">o</span>naya kalbas<span class="acct">a</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">saucisson cuit
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">капчёная колбас<span class="acco">а</span>
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08326.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[kapch<span class="acct">o</span>naya kalbas<span class="acct">a</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">saucisse fumée
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">кур<span class="acco">и</span>ный буль<span class="acco">о</span>н
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08327.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[koor<span class="acct">i</span>n<span class="ry">i</span>y boo<span class="sftc">l</span>y<span class="acct">o</span>n]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">bouillon de poulet
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">ж<span class="acco">а</span>реный цыплёнок
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08328.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[j<span class="acct">a</span>rin<span class="ry">i</span>y ts<span class="ry">i</span>p<span class="sftv">l</span><span class="sfty">y</span><span class="acct">o</span>nak]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">poulet rôti
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">яйц<span class="acco">о</span>
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08329.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[yiyts<span class="acct">o</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">œuf
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">я<span class="acco">и</span>чница
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08330.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[yi<span class="acct">i</span>shnitsa]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">œufs sur au plat ou œufs brouillés
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">я<span class="acco">и</span>чница-глаз<span class="acco">у</span>нья
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08331.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[yi<span class="acct">i</span>shnitsa glaz<span class="acct">oo</span><span class="sftc">n</span>ya]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">œufs sur le plat
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">я<span class="acco">и</span>чница-болт<span class="acco">у</span>нья
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08332.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[yi<span class="acct">i</span>shnitsa balt<span class="acct">oo</span><span class="sftc">n</span>ya]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">œufs brouillés
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">омл<span class="acco">е</span>т
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08333.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[am<span class="sftv">l</span><span class="sfty">y</span><span class="acct">e</span>t]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">	omelette
		</td>
	</tr>
</table>
</div>
<p class="after_dic">If you want to check how you know these words, go to <a title="Meat dishes tests" href="meat-test.html">Tests: Meat dishes</a></p>




</div>
</div>

<script type="text/javascript">
currentSection="words";
</script>
