<% @page_title='Russian Language Online: Russian Pronunciation' %>
<% @page_meta = {'description' => "Summary of the online course for Russian pronunciation"} %>

<% content_for :special_css do %>
.lists li {
padding-top: 5px;
}
<% end %>

<h2 class="page">Prononciation russe</h2>
<p>
Cette section vise à fournir des compétences essentiels pour percevoir et distinguer les sons russes, 
ainsi que de donner la description de leur articulation. 
Là, vous trouverez l'information de base sur les sons russes et les particularités de leur prononciation. 
Il y a aussi un cours phonétique qui vous aidera à vous familiariser avec la prononciation russe.
</p>
<p>
Cette section comprend les artices suivants:
</p>

<ol class="lists">
	<li><a href="/fr/basic-sounds.html">Les sons russes essentiels et leur transcription</a></li>
	<li><a href="/fr/sounds-info.html">Le système des sons russes</a></li>
	<li><a href="/fr/phonetics-course.html">Cours de phonétique russe</a>
		<ul style="list-style: none; padding-left: 10px;">
			<li>- <a href="phonetics01.html">Voyelles</a></li>
			<li>- <a href="phonetics02.html">Consonnes dures</a></li>
   			<li>- <a href="phonetics03.html">Consonnes molles</a></li>
			<li>- <a href="phonetics04.html">Consonnes les plus difficiles</a></li>
		</ul>	
	</li>
</ol>

<p>
Si vous n'avez pas assez de temps d'étudier à fond la phonétique et les particularités de la  prononciation,
nous vous recommandons de prendre au moins un coup d'oeil aux <a href="basic-sounds.html">sons russes essentiels</a>
pour que vous puissiez mieux comprendre les transcriptions utilisées sur notre site.
</p>

<script type="text/javascript">
currentSection="phonetic";
</script>

