<% @page_title = 'Stress and reduction of vowels' %>
<% @page_meta = {'description' => "Online information about stress and reduction of vowels in Russian with audio examples"} %>
<% @with_rec = true %>
<% @has_audio = true %>



<% content_for :special_js_css do %>
<%= stylesheet_link_tag 'stylesounds' %>

<style type="text/css">
h2.page {margin-bottom: 0px;}

.sound-letter td {
width: 20%;
}
.italic-letter {
font-style: italic;
font-family: Times New Roman;
}
</style>
<% end %>

<div class="hint_wrap">
<div class="hint_button" style="float: right;">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Links and Settings</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
    				<li><a href="basic-letters.html">Russian Letters</a></li>
    				<li><a href="softness.html">Softness </a></li>
					<li><a href="devocalization.html">Devocalization</a></li>
					<li><a href="reading-exceptions.html">Exceptional cases</a> </li>
					<li><a href="basic-reading-rules.html">Basic rules</a> </li>
    				<li><a href="reading-practice.html">Training exercises</a></li>
    		</ul>
        <%= render :partial => 'preload_option' %>
	</div>
</div>
</div>
<div id="pagecontent"><div id="content">


<h2 class="page">L'accent et la réduction vocalique</h2>
<h3 class="page-path">
	<span class="int-links">
	<a href="russian-reading.html">Reading in Russian</a>
	<span class="int-arrow">--&gt;</span> 
	<a href="readingrules.html">Rules of reading</a>
	<span class="int-arrow">--&gt;</span> Stress and reduction of vowels
	</span>
</h3>

<h3>L'accent vocalique </h3>
<p>
L'accent joue un rôle important dans la langue russe. 
Afin de parler russe correctement, il est nécessaire de connaître le lieu de l'accent dans les mots. 
Dans certains cas, un accent incorrecte provoque une modification de la signification ou de la valeur grammaticale du mot. 
L'accent du russe n'est pas fixe, il peut affecter n'importe quelle partie du mot (début, centre, fin) et il n'est pas indiqué à l'écrit. 
En outre, l'accent peut changer sa place dans différentes formes d'un même mot ce qui présente un vrai problème pour 
ceux qui commencent à apprendre le russe.
</p>
<p>
Russian words are normally written without stress marks. 
Therefore, it is important to devote special attention to the place of stress in words when learning Russian. 
In order to help students to memorize the place of stress in Russian words, in manuals and text books stresses are usually marked, most frequently with [ <strong>&#xB4;</strong> ] above the stressed vowel.  On our site there are several view modes of stressed vowels in Russian texts. You can find more information about it on the page <a href="functions.html#stress">Functions and Settings</a>. We do not put stress marks on one-syllable words, as there is only one place for the stress to fall, and on the words with Russian letter <em>ё</em> which is always stressed. In the transcriptions of Russian words stressed vowels are always bold.
</p>
<br>
<hr>

<h3>Reductions of vowels</h3> 
<p>
In Russian, unstressed vowels are not pronounced as distinctly as stressed vowels. The alteration of a vowel in an unstressed position is called reduction. As a result of reduction, some letters denoting vowel sounds are read in a different manner than they are read in the alphabet.
</p>
<p>
In unstressed position there are no alterations in reading of letters <span class="letter">и</span>, <span class="letter">ы</span>, <span class="letter">у</span>, <span class="letter">ю</span>. Letter <span class="letter">ё</span> is always in stressed position, that is why it is read either as <span class="sound" onclick="playSound('sound107.mp3')">[yo]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span> (at the beginning of the word, after vowels, <em>ь</em> and <span class="letter">ъ</span>) or as <span class="sound" onclick="playSound('sound203.mp3')">[o]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span> (after consonants). 
</p>
<p>
The letter <span class="letter">а</span> denotes a short neutral sound <span class="sound" onclick="playSound('sound252.mp3')">[ə] <span class="play_tip">&nbsp; &nbsp;</span></span> which is similar to the final sound in the English word <em>water</em>. It should be mentioned that we will not indicate this nuance of the pronunciation since we consider it not very important for those who begin to learn Russian. On our site you will see in transcriptions that letter <span class="letter">а</span> denotes sound <span class="sound" onclick="playSound('sound201.mp3')">[a] <span class="play_tip">&nbsp; &nbsp;</span></span> both in stressed and unstressed positions. 
</p>
<p>
Other letters are read in unstressed positions as follows: 
</p>
<p>
<span class="letter">е</span> - <span class="sound" onclick="playSound('sound251.mp3')">[yi] <span class="play_tip">&nbsp; &nbsp;</span></span> at the beginning of words, after vowels, <span class="letter">ь</span> and <span class="letter">ъ</span><br>
&nbsp;   

&nbsp;-  <span class="sound" onclick="playSound('sound205.mp3')">[i] <span class="play_tip">&nbsp; &nbsp;</span></span> after consonants
</p>


<div class="egdiv eg-sound ">
<h4>Examples: </h4>
<p><strong>The highlighted letters denote reduced vowels denoted by the letter <span style="font-weight: normal; font-style" italic;">е</span>:</strong></p>
<p>
<span class="eg">пить<span class="reduct_letter">е</span>вая вода</span>
<span class="sound" onclick="playSound('sound08908.mp3')">[pit'yivaya vada] &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
 <span class="egt">drinking water </span>
</p>
<p>
<span class="eg">адр<span class="reduct_letter">е</span>с</span>
<span class="sound" onclick="playSound('sound06104.mp3')">[adris] &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
 <span class="egt">address</span>
</p>
</div>


<p>
<span class="letter">о</span> is read as <span class="sound" onclick="playSound('sound201.mp3')">[а] <span class="play_tip">&nbsp; &nbsp;</span></span>
</p>

<div class="egdiv eg-sound ">
<h4>Examples: </h4>
<p><strong>The highlighted letters denote reduced vowels denoted by the letter <span style="font-weight: normal; font-style" italic;">о</span>:</strong></p>
<p>
<span class="eg">гор<span class="reduct_letter">о</span>д</span>
<span class="sound" onclick="playSound('sound06101.mp3')">[gorat] &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
 <span class="egt">city, town</span>
</p>
<p>
<span class="eg"><span class="reduct_letter">о</span>бед</span>
<span class="sound" onclick="playSound('sound04123.mp3')">[ab'et] &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
 <span class="egt">luch</span>
</p>
</div>



<p>
<span class="letter">э</span>  - <span class="sound" onclick="playSound('sound205.mp3')">[i] <span class="play_tip">&nbsp; &nbsp;</span></span> at the beginning of words and after vowels<br>
&nbsp;&nbsp;    - <span class="sound" onclick="playSound('sound206.mp3')">[<span class="ry">i</span>] <span class="play_tip">&nbsp; &nbsp;</span></span> after hard consonants (occurs very rarely)
</p>

<div class="egdiv eg-sound ">
<h4>Examples: </h4>
<p><strong>The highlighted letters denote reduced vowels denoted by the letter <span style="font-weight: normal; font-style" italic;">э</span>:</strong></p>
<p>
<span class="eg"><span class="reduct_letter">э</span>кскурсия</span>
<span class="sound" onclick="playSound('sound07118.mp3')">[ikskoorsiya] &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
 <span class="egt">excursion </span>
</p>
<p>
<span class="eg">р<span class="reduct_letter">э</span>кетир</span>
<span class="sound" onclick="playSound('reading/soundeg02010.mp3')">[r<s>i</s>kitir] &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
 <span class="egt">racketeer</span>
</p>
</div>


<p>
<span class="letter">я</span>  – <span class="sound" onclick="playSound('sound251.mp3')">[yi] <span class="play_tip">&nbsp; &nbsp;</span></span> at the beginning of words, after vowels, <span class="letter">ь</span> and <span class="letter">ъ</span><br>
&nbsp;   -  <span class="sound" onclick="playSound('sound205.mp3')">[i] <span class="play_tip">&nbsp; &nbsp;</span></span> after consonants
</p>


<div class="egdiv eg-sound ">
<h4>Examples: </h4>
<p><strong>The highlighted letters denote reduced vowels denoted by the letter <span style="font-weight: normal; font-style" italic;">я</span>:</strong></p>
<p>
<span class="eg"><span class="reduct_letter">я</span>нтарь</span>
<span class="sound" onclick="playSound('sound09726.mp3')">[yintar'] &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
 <span class="egt">amber</span>
</p>
<p>
<span class="eg">пам<span class="reduct_letter">я</span>тник</span>
<span class="sound" onclick="playSound('sound07109.mp3')">[pamitnik] &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
 <span class="egt">monument</span>
</p>
</div>


<p class="ital">BUT:</p>
<p>
In the endings of nouns, adjectives etc., in unstressed position the letter <span class="letter">е</span> denotes a cross sound between <span class="sound" onclick="playSound('sound205.mp3')">[i] <span class="play_tip">&nbsp; &nbsp;</span></span> and <span class="sound" onclick="playSound('sound202.mp3')">[e] <span class="play_tip">&nbsp; &nbsp;</span></span>. We recommend you to read this letter as <span class="sound" onclick="playSound('sound202.mp3')">[e] <span class="play_tip">&nbsp; &nbsp;</span></span> (<span class="sound" onclick="playSound('sound106.mp3')">[ye] <span class="play_tip">&nbsp; &nbsp;</span></span> after vowels and <span class="letter">ь</span>) in such cases. 
</p>


<p>
In the endings of nouns, adjectives etc., in unstressed position the letter <span class="letter">я</span> should be read as <span class="sound" onclick="playSound('sound201.mp3')">[a] <span class="play_tip">&nbsp; &nbsp;</span></span> (<span class="sound" onclick="playSound('sound133.mp3')">[ya] <span class="play_tip">&nbsp; &nbsp;</span></span> after vowels and <span class="letter">ь</span>). 
</p>

<div class="egdiv eg-sound ">
<h4>Examples: </h4>
<p>
<span class="eg">кофе</span>
<span class="sound"  onclick="playSound('sound08904.mp3')">[kof'e] &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
 <span class="egt">cofee</span>
</p>
<p>
<span class="eg">платье</span>
<span class="sound"  onclick="playSound('sound09110.mp3')">[plat'ye] &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
 <span class="egt">dress</span>
</p>
<p>
<span class="eg">здание</span>
<span class="sound" onclick="playSound('sound06110.mp3')">[zdaniye] &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
 <span class="egt">building</span>
</p>
<p>
<span class="eg">вишня</span>
<span class="sound" onclick="playSound('sound08709.mp3')">[vishn'a] &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
 <span class="egt">cherry</span>
</p>
<p>
<span class="eg">набережная</span>
<span class="sound" onclick="playSound('sound06113.mp3')">[nabirijnaya] &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
 <span class="egt">quay</span>
</p>

</div>


<br>
<hr>


<h3>Summary: </h3>

<p>- Stress in Russian is not fixed, it may fall on any part of the word, and it may change its place in different forms of the same word.</p>
<p>- The reading of letters <span class="letter">е</span>, <span class="letter">о</span>, <span class="letter">э</span>, <span class="letter">я</span> is different in stressed and unstressed positions. Letter <span class="letter">о</span> is read as [a], <span class="letter">э</span> is read as [i] or [<span class="ry">i</span>]; <span class="letter">е</span> and <span class="letter">я</span> inside the word are read as [yi] or [i].</p>







</div></div>

<script type="text/javascript">
currentSection="reading";
</script>
