<% @page_title = 'Vocabulaire russe en ligne:  Transports' %>
<% @page_meta = {'description' => "Russian online vocabulary:  list of available topics on the site related to  Transport"} %>

<h2 class="page">Transports</h2>
<p> Ce rubrique comprend les sujets suivants: </p>

<h3>Contenu:</h3>

<div  class="secondary-list">
<p><a href="/fr/airport.html" title="Aéroport">Aéroport</a></p>
<p><a href="/fr/bus.html" title="Bus, trolleybus, tramway">Bus, trolleybus, tramway</a></p>
<p><a href="/fr/subway.html" title="Métro">Métro</a></p>
<p><a href="/fr/taxi.html" title="Taxi">Taxi</a></p>
</div>



<script type="text/javascript">
currentSection="words";
</script>
