.dialog-t {
min-width: 300px;
background-image: url("/images/dialog-t-bg.gif");
background-color: #fefefe;
background-repeat: repeat-x;
background-position: left bottom;
border: 1px solid #e2e2e2;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
-moz-box-shadow: 2px 2px 5px #efefef;
-webkit-box-shadow: 2px 2px 5px #efefef;
box-shadow: 2px 2px 5px #efefef;
}

.dialog-t th {
background-image: url("/images/dialog-th-bg-gr.gif");
background-repeat: repeat-x;
background-position: left bottom;
background-color: #EBEBEB; /* for colored #ebf1f6, for grey f0f0f0*/
color: #000;
font-weight: bold;
padding: 8px;
padding-left: 20px;
font-size: 12px;
text-shadow: 0px 1px 0px #fff;
}

.dialog-t th.rus {
border-right: 1px solid #e1e1e1;
}

.dialog-t tr {
cursor: default;
} 

.dialog-t td {
padding: 7px 15px;
border-bottom: 1px solid #e1e1e1;
}

.dialog-t tr.trow_act {
back-ground-color: #eef1f3;
background-color: transparent;
background-image: url("/images/dialog-tr-bg.png");
background-repeat: repeat-x;
background-position: left bottom;
}

.dialog-t tr.trow_act .d-rus {
color: #000;
}

.dialog-t tr.trow_act .d-eng {
color: #000;
}

.dialog-t .d-rus {
border-right: 1px solid #e1e1e1;
padding-left: 0px;
padding-left: 18px;
text-indent:-11px;
color: #4F4F4F;
}

.dialog-t .d-eng {
text-indent:-11px;
padding-left: 20px;
color: #5F5F5F;
}


.dialog-t td.d-first, .dialog-t th.d-first {
padding: 0;
}

.dialog-t td.d-tfoot {
background-color: #f4f4f4;
padding: 5px 20px 5px 20px;
}

.dialog-t td.d-player-holder {
padding: 12px 20px;
}


.ds-table {
background-color: #fff;
margin: 0 auto;
border: 1px solid #999;
-moz-box-shadow: 2px 2px 5px #efefef;
-webkit-box-shadow: 2px 2px 5px #efefef;
box-shadow: 2px 2px 5px #efefef;
}

div.ds_dragged {
padding: 10px 20px;
text-align: left;

}

#ds_dragHelper  div {
background-image:url("/images/dialog-tr-bg.png");
background-position:right bottom;
background-repeat:repeat-x;
font-weight: bold;
}

#ds_dragHelper {
-moz-box-shadow: 0px 2px 4px #555;
-khtml-box-shadow: 0px 2px 4px #555;
box-shadow: 0px 2px 4px #555;
}


.ds-table tr  td{
border-bottom:  1px solid #999;
background-image:url("/images/dialog-tr-bg.png");
background-position:right bottom;
background-repeat:repeat-x;
}

.ds-quest {
border-right: 1px solid #999;
text-align: center !important;
}

.ds_sort_item {
line-height: 25px;
}

.ds_input {
width: 20px;
margin-right: 10px;
}





//////////////////////

.mc_variants {
padding: 1px;
overflow: hidden;
 
}
 
.mc_variants div {
background-color: #fff;
}
 
div.answer {
height: 10px;
text-align: center;
background-color: #AFAFAF;
color: #fff;
font-size: 0px;
font-weight: bold;
line-height: 0px;
margin-bottom: 15px;
border-top: 1px solid #6F6F6F;
}
 
.mc_check input {
margin: 0;
width: 70px;
text-align: center;
}
 
.mc_results {
font-size: 14px;
padding: 20px 50px 20px 20px;
text-align: center;
}
 
.mc_counter  {
position: absolute;
right: 70px;
margin: 8px 0px 0px 0px;
}
 
 
/* form styles*/
 
.block-wrapper {
font-size: 0px;
margin: 0px auto;
position: relative;
text-align: left;
zoom: 1;
 
-moz-box-shadow: 3px 3px 5px #0c1026;
-webkit-box-shadow: 3px 3px 5px #0c1026;
box-shadow: 3px 3px 5px #0c1026;
 
}
 
 
 
 
 
 
.form-wrapper {
max-width: 600px;
}
 
 
.form-wrapper div {
zoom: 1;
}
 
.form-left {
position: relative;
font-size: 12px;
left: -9px;
padding-left: 6px;
background-image: url("/images/form/form-left-mid0.png");
background-position: left top;
background-repeat: repeat-y;
}
 
 
.form-right {
position: relative;
margin-left: 9px;
background-image: url("/images/form/form-right-mid.png");
background-position: right top;
background-repeat: repeat-y;
}
 
 
.form-questionaire {
position: relative;
top: -4px;
margin-right: 1px;
background-color: #EEECE9;
background-image: url("/images/form/form-quest.png");
background-position: left top;
background-repeat: repeat-y;
border-bottom: 1px solid #BFBFBF;
padding: 0px 50px 15px 20px;
 
 
}
 
.form-variants {
position: relative;
margin: -4px 1px -15px 2px;
padd-ing: 10px 2px 25px 2px;
bor_der: 1px solid red;
overflow: hidden;
}
 
 
 
.form-top {
position: relative;
margin: 0px 400px 0px 24px;
height: 24px;
background-image: url("/images/form/form-top.png");
background-position: left top;
background-repeat: repeat-x;
}
 
.form-top-left {
position: absolute;
left: -24px;
height: 24px;
width: 24px;
background-image: url("/images/form/form-left-crn.png");
background-repeat: no-repeat;
}
 
.form-top-right {
position: absolute;
right: -400px;
height: 24px;
width: 400px;
background-image: url("/images/form/form-right-crn.png");
background-position: right top;
background-repeat: no-repeat;
}
 
.form-bottom-wrapper {
position: absolute;
width: 100%;
bottom: 0px;
}
 
.form-bottom {
position: relative;
margin: 0px 400px 0px 24px;
height: 42px;
background-image: url("/images/form/form-btm.png");
background-position: left bottom;
background-repeat: repeat-x;
}
 
.form-bottom-left {
position: absolute;
left: -24px;
height: 42px;
width: 24px;
background-image: url("/images/form/form-left-bcrn.png");
background-position: left bottom;
background-repeat: no-repeat;
}
 
.form-bottom-right {
position: absolute;
right: -400px;
height: 42px;
width: 400px;
background-image: url("/images/form/form-right-bcrn.png");
background-position: right bottom;
background-repeat: no-repeat;
}
 
 
.form-mid {
position: relative;
margin: 0px 24px 0px 24px;
height: 14px;
background-image: url("/images/form/form-mid.png");
background-position: left bottom;
background-repeat: repeat-x;
font-size: 0px;
}
 
.form-mid-left {
position: absolute;
left: -24px;
height: 14px;
width: 24px;
background-image: url("/images/form/form-left-mcrn.png");
background-position: left bottom;
background-repeat: no-repeat;
}
 
.form-mid-right {
position: absolute;
right: -24px;
height: 14px;
width: 24px;
background-image: url("/images/form/form-right-mcrn.png");
background-position: right bottom;
background-repeat: no-repeat;
}
 
 
 
.form-wrapper p {
margin: 0;
}
 
.mc_variant {
padding: 8px 40px;
font-size: 10px;
cursor: default;
}
 
.mc_variant span {
font-size: 16px;
}
 
.mc_question {
font-size: 17px;
font-weight: bold;
padding-bottom: 5px;
text-shadow: 1px 1px 3px #6F6F6F;
text-align: center;
}
 
.mc_check {
z-index: 100;
}
 
 




////////////////////////////








