.dialog-t {
min-width: 300px;
background-image: url("/images/dialog-t-bg.gif");
background-color: #fefefe;
background-repeat: repeat-x;
background-position: left bottom;
border: 1px solid #CFCFCF;/* #e2e2e2; */
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
-moz-box-shadow: 2px 2px 5px #efefef;
-webkit-box-shadow: 2px 2px 5px #efefef;
box-shadow: 2px 2px 5px #efefef;
}

.dialog-t th {
background-image: url("/images/dialog-th-bg-gr.gif");
background-repeat: repeat-x;
background-position: left bottom;
background-color: #EBEBEB; /* for colored #ebf1f6, for grey f0f0f0*/
color: #000;
font-weight: bold;
padding: 8px;
padding-left: 20px;
font-size: 12px;
text-shadow: 0px 1px 0px #fff;
}

.dialog-t th.rus {
border-right: 1px solid #e1e1e1;
}

.dialog-t tr {
cursor: default;
background-image: none;
} 

.dialog-t td {
padding: 7px 15px;
border-bottom: 1px solid #e1e1e1;
background-image: none;
}

.dialog-t tr.trow_act {

background-color: #fff;
background-color: #EFEFEF;
background-color: transparent;
background-image: url("/images/dialog-tr-bg.png");
background-repeat: repeat-x;
background-position: left bottom;
}

.dialog-t  tr.current_track  td {
background-color: #efefef;
background-image: none;
}

.dialog-t  tr.current_track td {
color: #000 !important;
}

.dialog-t tr.trow_act .d-rus {
color: #000;

}

.dialog-t tr.trow_act .d-eng {
color: #000;
}

.dialog-t .d-rus {
border-right: 1px solid #e1e1e1;
padding-left: 0px;
padding-left: 12px;
color: #4F4F4F;

text-indent:-11px;
padding-left: 10px;
}

.dialog-t .d-prephrases {
padding-bottom: 0px;
}

.dialog-t .d-eng {
text-indent:-11px;
padding-left: 30px;
color: #5F5F5F;
}


.dialog-t td.d-first, .dialog-t th.d-first {
padding: 0;
padding-left: 12px;
}

.dialog-t td.d-first img {
opacity: 0.5;
}



.dialog-t .jp_control {
width: 16px;
height: 16px;
background-image: url(/images/c_play_inactive.png);
background-repeat: no-repeat;
cursor: pointer;
}

.dialog-t tr.trow_act .jp_control {
width: 16px;
height: 16px;
background-image: url(/images/control_play.png);
background-repeat: no-repeat;
}

.dialog-t tr.trow_act .jp_control:hover {
background-image: url(/images/c_play_hover.png);
}

.dialog-t tr.trow_act .jp_pause {
background-image: url(/images/c_pause_hover.png) !important;
}

.dialog-t tr .jp_pause {
background-image: url(/images/control_pause.png) !important;
}


.dialog-t td.d-tfoot {
background-color: #f4f4f4;
padding: 8px 20px 8px 40px;
text-align: center;
}

.dt_controls  div {
width: 24px;
height: 24px;
cursor: pointer;
}

.dt_controls  table {
margin: 0 auto;
}


.dt_controls tr {
background-color: transparent;
}

.dt_controls tr  td{
background-color: transparent;
border: 0px solid #fff;
padding: 0px 12px;
}


.dialog-t .jp_control {
visibility: hidden;
}

.dt_controls {
margin: 0 auto;
width: 260px;
border: 1px solid #dfdfdf;
background-color: #fff; /* #F4F4F4;*/
background-image: url("/images/dialog-tr-bg.png");
background-repeat: repeat-x;
background-position: left bottom;
padding: 6px 10px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
-moz-box-shadow: 2px 2px 5px #efefef;
-webkit-box-shadow: 2px 2px 5px #efefef;
box-shadow: 2px 2px 5px #efefef;
}





.dt_play {
background-image: url(/images/dt_play.png);
}

.dt_repeat {
background-image: url(/images/dt_redo.png);
}

.dt_ready .dt_repeat {
background-image: url(/images/dt_redo_inactive.png);
}

.dt_pause {
background-image: url(/images/dt_pause.png);
}

.dt_stop {
background-image: url(/images/dt_stop_inactive.png);
margin-left: 15px;
}

.dt_fast-forward {
background-image: url(/images/dt_fast-forward.png);
}

.dt_no_next .dt_fast-forward {
background-image: url(/images/dt_fast-forward_inactive.png);
}

.dt_rewind {
background-image: url(/images/dt_rewind.png);
}

.dt_ready  .dt_rewind, .dt_no_prev  .dt_rewind {
background-image: url(/images/dt_rewind_inactive.png);
}

.dialog-t td.d-player-holder {
padding: 12px 20px;
}

.ds-sign {

}

.jp_control {
width: 16px;
height: 16px;
background-image: url(/images/control_play.png);
background-repeat: no-repeat;
cursor: pointer;
}

.jp_control:hover {
background-image: url(/images/c_play_hover.png);
}

.jp_pause {
background-image: url(/images/c_pause_hover.png) !important;
}

.jp_pause {
background-image: url(/images/control_pause.png) !important;
}


.ds-audio  .ds-quest {
font-weight: bold;
font-size: 12px;
}

.ds-audio-listen {
border-right: 1px solid #999;
padding-right: 10px;
}


td.ds-audio-correctness {
background-image: none !important;
border-right: 1px solid #dfdfdf;
background-color: #fff;
text-align: center;
}

.ds-sign {
width: 27px;
height: 27px;
margin: 0 auto;
}

.ds-correct-answer {
background-image: url(/images/accept-20.png);
background-repeat: no-repeat;
background-position: 50% 50%;
}

.ds-error-answer {
background-image: url(/images/error-20.png);
background-repeat: no-repeat;
background-position: 50% 50%;
}

.ds-table tr td.ds-answer {
background-image: none;
background-color: #F7F6F6;
}

.ds-table {
background-color: #fff;
border: 1px solid #999;
-moz-box-shadow: 2px 2px 5px #efefef;
-webkit-box-shadow: 2px 2px 5px #efefef;
box-shadow: 2px 2px 5px #efefef;
}

div.ds_dragged {
padding: 10px 20px;
text-align: left;

}

#ds_dragHelper  div {
background-image:url("/images/dialog-tr-bg.png");
background-position:right bottom;
background-repeat:repeat-x;
font-weight: bold;
}

#ds_dragHelper {
-moz-box-shadow: 0px 2px 4px #555;
-khtml-box-shadow: 0px 2px 4px #555;
box-shadow: 0px 2px 4px #555;
}


.ds-table tr  td{
border-bottom:  1px solid #999;
background-image:url("/images/dialog-tr-bg.png");
background-position:right bottom;
background-repeat:repeat-x;
}

.ds-quest {
bor-der-right: 1px solid #999;
text-align: center !important;
}

.ds_sort_item {
min-height: px;
}

td.ds-answer {
height: 30px;
}

.ds_input {
width: 20px;
margin-right: 10px;
}

.ds_vholder {
padding: 4px 8px;
}


.ds_variants_list {
margin: 0 0px;
border: 1px dashed #666;
list-style: none;
background-color: #fff;
padding: 0 10px;
-moz-box-shadow: 2px 2px 5px #dfdfdf;
-webkit-box-shadow: 2px 2px 5px #dfdfdf;
box-shadow: 2px 2px 5px #dfdfdf;
}

.ds_variants_list  li {
margin-bottom: 5px;
}

.ds-wrapper {
background-position:left bottom;
background-repeat:repeat-x;
border: 1px solid #BFBFBF;
background-color: #fafafa;
}

.ds-rt {
display: none;
}




h3.es-task {
margin-bottom: 0px;
border: 1px solid #BFBFBF;
border-bottom: 0px solid #BFBFBF;
background-color: #efefef;
padding: 8px 10px;
font-size: 15px;
}





.no-list {
list-style: none;
padding: 0;
margin: 0;
}

//////////////////////

.mc_variants {
padding: 1px;
overflow: hidden;
 
}
 
.mc_variants div {
background-color: #fff;
}
 
div.answer {
height: 10px;
text-align: center;
background-color: #AFAFAF;
color: #fff;
font-size: 0px;
font-weight: bold;
line-height: 0px;
margin-bottom: 15px;
border-top: 1px solid #6F6F6F;
}
 
.mc_check input {
margin: 0;
width: 70px;
text-align: center;
}
 
.mc_results {
font-size: 14px;
padding: 20px 50px 20px 20px;
text-align: center;
}
 
.mc_counter  {
position: absolute;
right: 70px;
margin: 8px 0px 0px 0px;
}
 
 
/* form styles*/
 
.block-wrapper {
font-size: 0px;
margin: 0px auto;
position: relative;
text-align: left;
zoom: 1;
 
-moz-box-shadow: 3px 3px 5px #0c1026;
-webkit-box-shadow: 3px 3px 5px #0c1026;
box-shadow: 3px 3px 5px #0c1026;
 
}
 
 /* button styles */
 
 .es_btn_wrapper {
line-height: 20px;
margin-bottom: 0;
text-align: center;
padding: 10px;
}
 
 .content a.es_btn {
text-align: center;
display: block;
position: relative;
border: 0;
padding: 0;
margin: 0;
margin: 0 auto;
background-image: url(/images/es_big_btn-grey.png);
background-repeat: no-repeat;
background-position: left -45px;
background-color: transparent;
width: 155px;
height: 40px;
line-height: 35px;
font-size: 14px;
color: #222222;
text-decoration: none;
text-shadow: 0px 1px 0px #f1f1f1;
outline: none;
}



a.es_btn:link {
color: #222222;
text-shadow: 0px 1px 0px #f1f1f1;
}

a.es_btn:visited {
color: #222222;
text-shadow: 0px 1px 0px #f1f1f1;
}

a.es_btn:hover {
color: #fff;
text-shadow: 0px -1px 0px #555;
background-position: left top;
}

a.es_btn:active {
color: #fff;
text-shadow: 0px -1px 0px #555;
background-position: left top;
}



 /* end of button styles */
 
 
.form-wrapper {
max-width: 600px;
}
 
 
.form-wrapper div {
zoom: 1;
}
 
.form-left {
position: relative;
font-size: 12px;
left: -9px;
padding-left: 6px;
background-image: url("/images/form/form-left-mid0.png");
background-position: left top;
background-repeat: repeat-y;
}
 
 
.form-right {
position: relative;
margin-left: 9px;
background-image: url("/images/form/form-right-mid.png");
background-position: right top;
background-repeat: repeat-y;
}
 
 
.form-questionaire {
position: relative;
top: -4px;
margin-right: 1px;
background-color: #EEECE9;
background-image: url("/images/form/form-quest.png");
background-position: left top;
background-repeat: repeat-y;
border-bottom: 1px solid #BFBFBF;
padding: 0px 50px 15px 20px;
 
 
}
 
.form-variants {
position: relative;
margin: -4px 1px -15px 2px;
padd-ing: 10px 2px 25px 2px;
bor_der: 1px solid red;
overflow: hidden;
}
 
 
 
.form-top {
position: relative;
margin: 0px 400px 0px 24px;
height: 24px;
background-image: url("/images/form/form-top.png");
background-position: left top;
background-repeat: repeat-x;
}
 
.form-top-left {
position: absolute;
left: -24px;
height: 24px;
width: 24px;
background-image: url("/images/form/form-left-crn.png");
background-repeat: no-repeat;
}
 
.form-top-right {
position: absolute;
right: -400px;
height: 24px;
width: 400px;
background-image: url("/images/form/form-right-crn.png");
background-position: right top;
background-repeat: no-repeat;
}
 
.form-bottom-wrapper {
position: absolute;
width: 100%;
bottom: 0px;
}
 
.form-bottom {
position: relative;
margin: 0px 400px 0px 24px;
height: 42px;
background-image: url("/images/form/form-btm.png");
background-position: left bottom;
background-repeat: repeat-x;
}
 
.form-bottom-left {
position: absolute;
left: -24px;
height: 42px;
width: 24px;
background-image: url("/images/form/form-left-bcrn.png");
background-position: left bottom;
background-repeat: no-repeat;
}
 
.form-bottom-right {
position: absolute;
right: -400px;
height: 42px;
width: 400px;
background-image: url("/images/form/form-right-bcrn.png");
background-position: right bottom;
background-repeat: no-repeat;
}
 
 
.form-mid {
position: relative;
margin: 0px 24px 0px 24px;
height: 14px;
background-image: url("/images/form/form-mid.png");
background-position: left bottom;
background-repeat: repeat-x;
font-size: 0px;
}
 
.form-mid-left {
position: absolute;
left: -24px;
height: 14px;
width: 24px;
background-image: url("/images/form/form-left-mcrn.png");
background-position: left bottom;
background-repeat: no-repeat;
}
 
.form-mid-right {
position: absolute;
right: -24px;
height: 14px;
width: 24px;
background-image: url("/images/form/form-right-mcrn.png");
background-position: right bottom;
background-repeat: no-repeat;
}
 
 
 
.form-wrapper p {
margin: 0;
}
 
.mc_variant {
padding: 8px 40px;
font-size: 10px;
cursor: default;
}
 
.mc_variant span {
font-size: 16px;
}
 
.mc_question {
font-size: 17px;
font-weight: bold;
padding-bottom: 5px;
text-shadow: 1px 1px 3px #6F6F6F;
text-align: center;
}
 
.mc_check {
z-index: 100;
}



/* vocabulary section*/

.es-words-list {
background-color: #dfdfdf;
margin: 0 auto;
}

.es-words-list td {
background-color: #fff;
padding: 5px 15px;
}

table.es-words-list thead tr th, table.tablesorter tfoot tr th {
	background-color: #dfdfdf;
	border: 1px solid #FFF;
	font-size: 11px;
	padding: 5px 10px;
}


table.es-words-list thead tr .header {
	background-image: url(/images/tablesorter/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.es-words-list tbody td {
	color: #3D3D3D;
	background-color: #FFF;
	vertical-align: top;
}
table.es-words-list tbody tr.odd td {
	background-color:#FAFAFA;
}
table.es-words-list thead tr .headerSortUp {
	background-image: url(/images/tablesorter/asc.gif);
}
table.es-words-list thead tr .headerSortDown {
	background-image: url(/images/tablesorter/desc.gif);
}
table.es-words-list thead tr .headerSortDown, table.es-words-list thead tr .headerSortUp {
background-color: #bfbfbf;
}

table.es-words-list td.wl-audio {
padding: 1px;
text-align: center;
vertical-align: middle;
}

table.es-words-list td.wl-audio .jp_control {
margin: 0 auto;
}



.es-ex-wrapper {
border: 1px solid #CDCDCD;
margin: 0 auto;
width: 500px;
background-color: #fff;
}

.es-ex-alert-rt {
width: 200px;
margin: 0 auto;
background-image: url(/images/es-course/es-ex-alert-bg.png);
background-repeat: repeat-x;
background-position: right bottom;
padding-right: 12px;
}

.es-ex-alert {
min-height: 30px;
padding-left: 12px;
background-image: url(/images/es-course/es-ex-alert-bg.png);
background-repeat: repeat-x;
background-position: left  top;
padding-right: 12px;
line-height: 30px;
font-size: 14px;
}

.es-ex-alert-correct {
font-weight: bold;
color: green;
text-shadow: 1px 0px 8px #5FFF75;
}

.es-ex-alert-wrong {
font-weight: bold;
color: red;
text-shadow: 1px 0px 8px #FF5F5F;
}



.es-ex-alert-container {
min-height: 30px;
background-image: url(/images/es-course/es-ex-panel-bg.gif);
background-repeat: repeat-x;
background-position: left bottom;
background-color: #D9D9D9;
text-align: center;
padding: 5px 8px 5px;
}

.es-ex-info-container {
min-height: 30px;
background-image: url(/images/es-course/es-ex-panel-bg.gif);
background-repeat: repeat-x;
background-position: left bottom;
background-color: #D9D9D9;
text-align: center;
padding: 4px 8px 5px;
}

.es-ex-content {
width: 100%;
margin-left: 10px;
}

.es-ex-top {
bor-der-bottom: 1px solid #CDCDCD;
min-height: 20px;
}

.es-ex-bottom {
bor-der-top: 1px solid #CDCDCD;
padding: 3px 60px;
min-height: 20px;
}

.es-ex-tasks {
padding: 1px 20px;
}

.es-audio-ex .es-ex-quest {
background-color: #EEEDED;
border: 1px solid #CDCDCD;
bor-der-right: 1px solid #CDCDCD;
}

.es-string-ex .es-ex-quest {

}

.es-ex-audio-holder {
width: 80px;
overflow: hidden;
cursor: pointer;
position: relative;
background-color: #fff;
background-image: url(/images/es-course/es-ex-play-bg.gif);
background-repeat: repeat-x;
background-position: left bottom;
border: 1px solid #999999;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
-moz-box-shadow: 1px 0px 5px #5F5F5F;
-webkit-box-shadow: 0px 1px 8px #8F8F8F;
box-shadow: 2px 2px 5px #5F5F5F;
}

.ex-audio-holder-hover {
background-image: none;
cursor: pointer;
top: 2px;
background-color: #C1C1C1;
-moz-box-shadow: 0px 0px 0px #5F5F5F;
-webkit-box-shadow: 0px 0px 0px #8F8F8F;
}

.es-ex-audio {
height: 80px;
margin-left: 8px;
background-image: url(/images/es-course/es-ex-play-hover.png);
background-repeat: no-repeat;
background-position: 50% 50%;
cursor: pointer;
}

.ex-audio-holder-hover .es-ex-audio {
background-image: url(/images/es-course/es-ex-play.png);
cursor: pointer;
}

.es-ex-string-holder {
overflow: hidden;
margin: 10px;
mi-n-height: 200px;
background-color: #fff;
back-ground-image: url(/images/es-course/es-ex-play-bg.gif);
background-repeat: repeat-x;
background-position: left bottom;
border: 1px solid #999999;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
-moz-box-shadow: 0px 1px 8px #8F8F8F;
-webkit-box-shadow: 0px 1px 8px #8F8F8F;
box-shadow: 0px 1px 8px #8F8F8F;
}

.es-ex-string-wrapper {
height: 200px;
}

.es-yn-task-p {
text-align: center;
color: #444;
margin: 5px 0 20px;
font-size: 12px;

}

.es-yn-variant {
font-size: 15px;
text-align: center;
font-weight: bold;
color: #000;
margin: 0 20px;
padding: 8px 10px;
background-color: #fff;
background-image:url(/images/dialog-tr-bg.png);
background-position:right bottom;
background-repeat:repeat-x;
border: 1px solid #999999;
}

.es-yn-variant-wrapper {
min-height: 60px;
margin-bottom: 20px;
}

.es-yn-buttons {
text-align: center;
}

.es-yn-buttons input {
background-image:url(/images/es-course/buttons-30-lite.png);
background-repeat: no-repeat;
background-position:left top;
background-color: transparent;
outline: none;
width: 92px;
height: 38px;
margin: 0;
padding: 0;
border: 0;
color: #222222;
text-shadow: 0px 1px 0px #fff;
line-height: 38px;
position: relative;
font-weight: bold;
cursor: pointer;
text-align: center;
}

.es-ex-info-container input {
background-image:url(/images/es-course/buttons-30-stroke.png);
font-size: 12px;
}

.es-yn-buttons input.yn-btn-hover {
background-position:left -42px;
color: #fff;
text-shadow: 0px -1px 0px #555;
}

.yn-btn-down {
left: 1px;
top: 1px;
}


.es-yn-next {
background-image:url(/images/es-course/buttons-25-lite.png);
background-repeat: no-repeat;
background-position:left 2px;
background-color: transparent;
outline: none;
width: 75px;
height: 29px;
margin: 0;
padding: 0;
border: 0;
color: #222222;
text-shadow: 0px 1px 0px #fff;
padding: 1px 0 2px;
line-height: 25px;
position: relative;
fo-nt-weight: bold;
cursor: pointer;
text-align: center;
}

.es-yn-next-hover {
background-position:left -33px;
color: #fff;
text-shadow: 0px -1px 0px #555;
}

.es-yn-next-down {
left: 1px;
top: 1px;
}

.es-ex-info {
height: 25px;
line-height: 25px;
background-color: #efefef;
width: 180px;
border: 1px solid #999;
background-image:url(/images/sign/input-text-bg.gif);
background-repeat:no-repeat;
text-align: center;
color: #333;
}

.es-ex-invisible {
visibility: hidden;
}

.es-ex-top {
position: relative;
}

.es-ex-final {
display: none;
position: absolute;
width: 200px;
min-height: 100px;
border: 1px solid #000;
background-color: #fff;
margin-left: -100px;
margin-top: 20px;
left: 50%;
-moz-box-shadow: 0px 1px 8px #8F8F8F;
-webkit-box-shadow: 0px 1px 8px #8F8F8F;
box-shadow: 0px 1px 8px #8F8F8F;
}

.es-ex-final div {
padding: 20px;
text-align: center;
}

.yn-final-bg {
background-color: #efefef;
}


.es-ex-tasks-list {
list-style: none;
padding: 0;
margin: 0;
padding-right: 10px;
padding-top: 12px;
}

.es-ex-tasks-list li {
background-color:#FFFFFF;
background-image:url(/images/dialog-tr-bg.png);
background-position:right bottom;
background-repeat:repeat-x;
border:1px solid #999999;
color:#333;
font-size:12px;
font-weight:bold;
margin:2px 0px;
line-height: 15px;
padding:7px 5px 7px 30px;
text-align:left;
text-indent: -25px;
cursor: pointer;
}

.es-ex-tasks-more-than-4 li {
padding:4px 5px 4px 30px;
margin:1px 0px;
font-size:11px;
}



.es-ex-tasks-list li input {
position: relative;
top: 3px;
margin-top: 0px;
}




/* end of vocabulary section*/





