#tabs_row {
padding-left: 20px;
}
.inpBlock {
margin-left: 50px;
}
.inpBlock h3 {
}
.item-name {
font-size: 14px;
font-weight: bold;
}


.unit-area h3.tab-head {
font-size: 20px;
font-weight: normal;
color: #555;
padding-bottom: 5px;
border-bottom: 1px solid #777;
margin: 0 0 20px 0;
}

p.tab-info {
font-size: 10px;
font-style: italic;
}

.unit-area {
background-color: #fff;
border: 1px solid #708089;
padding: 3px;
position: relative;
padding: 4px;
background-color:#fff;
min-height: 800px;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
-moz-box-shadow: 1px 2px 7px #999;
-webkit-box-shadow: 1px 2px 8px #999;
box-shadow: 1px 2px 8px #999;
background-color:#FFFFFF;
background-image:url(/images/cs_bg.gif);
background-position:left bottom;
background-repeat:repeat-x;
-moz-box-shadow: 1px 2px 9px #B3B7BF;
-webkit-box-shadow: 2px 1px 9px #B3B7BF;
box-shadow: 1px 2px 9px #B3B7BF;
}


.ptab {
float:left;
back-ground-color: #efefef;
background-image: url(/images/transparent-60.png);
background-repeat: repeat;
margin:0;
padding:0 0 0 4px;
text-decoration:none;
cursor: pointer;
color:#666;
margin-left: 2px;
border: 1px solid #8F9FBF;
border-bottom: 0px solid #fff;
position: relative;
top: 3px;
}
.current_ptab {
border: 1px solid #708089;
border-bottom: 0px solid #fff;
background-image: none;
top: 0px;
background-color: #fff;
padding-bottom: 3px;
color: #111;
}
.ptab div {
background-image: none;
position: relative;
}

#prof_tabs {
border: 1px solid #708089;
width: auto;
padding-top: 10px;
background:#4B87FB url(/stylesheets/custom-theme/images/ui-bg_gloss-wave_55_4b87fb_500x100.png) repeat-x scroll 50% 0;
-moz-bo-rder-radius: 6px;
-webkit-border-radius: 4px;
border-radius: 4px;
}

.pBlock {
background-color: transparent;
clear: both;
padding: 20px 30px 10px 40px;
border: 0px solid #819DCF;
bor-der-top: 0px solid #9FC2FF;
margin-bottom: 30px;
-moz-box-shadow: 0px 0px 0px #9F9F9F;
-webkit-box-shadow: 0px 0px 0px #9F9F9F;
box-shadow: 0px 0px 0px #9F9F9F;
}
.inpBlock {
margin-left: 0;
}

.unit-title {
padding: 0 20px 15px 30px;
font-size: 30px;
color: #fff;
font-weight: normal;
text-shadow: 1px 1px 1px #555;
}



.su-present {
background-color: #eff5fe;
border:3px solid #86ACEF;
margin:0 20px 30px;
padding:10px;
-moz-box-shadow:1px 1px 0px #627EAF, 1px 2px 3px #3E556F;
-webkit-box-shadow:1px 1px 0px #627EAF, 1px 2px 3px #3E556F;
box-shadow:1px 1px 0px #627EAF, 1px 2px 3px #3E556F;
}

.su-present-brd {
background-color: #fff;
padding: 20px;
}

.su-present table td {
font-size:15px;
padding:8px 10px;
cursor: default;
}

.su-present table tr:hover {
background-color: #ebf3fe;
}

.su-present table.su-no-tr-act tr:hover {
background-color: transparent;
}

.su-present table.su-no-tr-act p {
margin: 0 0px 10px;
}

.su-present table td.su-pres-audio {
padding-right: 0px;
}

.su-present table td.su-pres-orig {
font-weight: bold;
padding-right: 20px;
}


.su-next-wrapper {
padding-bottom: 30px;
}


input.su-next-step {
background-color: #63a2fe;
}

.es-ex-buttons input.su-next-step {
width: auto;
font-size: 15px !important;
padding-left: 10px;
padding-right: 10px;
}

.su-next-wrapper input.ex-btn-hover {
background-color: #91d4ff;
}



.pBlock .su-step-title {
border-bottom:1px solid #777777;
color:#555555;
font-size:20px;
font-weight:normal;
margin:0 0 20px;
padding-bottom:5px;
}

.su-step-info {
font-size: 10px;
padding-bottom: 20px;
}

.su-task {
position: relative;
margin: 0px 0px 40px;
border: 2px solid #9FC2FF;
background-color:#fff;
padding: 8px 30px 8px 108px;
text-indent: -78px;
font-size: 12px;
color: #31394F;
text-shadow: 0px 1px 0px #fff, 1px 1px 3px #8EA7CF;
-moz-border-radius: 9px;
-webkit-border-radius: 9px;
border-radius: 9px;
-moz-box-shadow: 1px 1px 0px #627EAF, 1px 2px 3px #3E556F;
-webkit-box-shadow: 1px 1px 0px #627EAF, 1px 2px 3px #3E556F;
box-shadow: 1px 1px 0px #627EAF, 1px 2px 3px #3E556F;
}

h3.su-page-p {
background-color:#DDE7F5;
border-top:1px solid #678ACF;
font-size:15px;
left:-5px;
margin:50px 0 20px;
padding:6px 8px 7px;
position:relative;
text-shadow:0 1px 0 #FFFFFF;
}

.voc-wordlist .diction {
background-image: none;
}

.voc-wordlist .diction td {
border-bottom: 1px solid #efefef;
}

.trans-display-wrapper {
font-size: 11px;
color: #444;
position: relative;
top: -50px;
margin-bottom: -15px;
}

.voc-wordlist .diction td.original {
position: relative;
width: auto;
padding-left: 35px;
cursor: default;
}

.voc-wordlist .diction td.original div.ru-transcript {
display: none;
font-size: 11px;
color: #555;font-weight: normal;
}

.voc-wordlist .diction td.translation {
width: auto;
padding-left: 22px;
padding-right: 18px;
cursor: default;
}

.voc-wordlist div.jp_control {
position: absolute;
margin-left: -25px;
}

.lt-spacer  {
padding-top: 0px;
}

.egdiv {
border-color: #7CB0F9;
}

.voc-wordlist .voc_bord {
background-image: none;
}

.voc-wordlist .voc_bord td {
padding: 4px;
}

.voc-wordlist .voc_bord td table td {
padding: 5px;
}




/* grammar exercises*/


.gr_exercise_wrapper div {
zoom: 1;
}

.gr_exercise_wrapper {
position: relative;
margin: 30px 20px;

zoom: 1;
}

.gr_exercise_dec {
width: 100%;
position: absolute;
backgr ound-color:#CFCFCF;
} 

.gr_exercise_container {
position: relative;
padding: 25px;

}


#holder {
margin-top: -50px;
position: absolute;
z-index: 100;

}


.gr_ex_unit {
line-height: 32px;
padding-bottom: 10px;
padding-left: 50px;
backgro und-image: url("/images/accept.png");
background-repeat: no-repeat;
}

.gexv_task {
padding-right: 20px;
}

.gexv_variant {
padding: 0 70px 1px;
}

.gexv_options .gexv_sign {
padding-bottom: 7px;
padd-ing-top: 10px;
}

.gexv_options td {
padding-bottom: 14px;
}

.gexv_sign {
li-ne-height: 25px;
padding-left: 50px;
padding-top: 1px;
background-repeat: no-repeat;
padding-bottom: 14px;
text-indent: -20px;
}

.gext_task input {
text-align: left;
width: 60px;
padding-left: 8px;
}

.gext_sign {
line-height: 25px;
padding-left: 55px;
background-repeat: no-repeat;
padding-bottom: 14px;
text-indent: -20px;
}

.gext_show span {
display: none;
color:#666666;
}

.gext_show {
padding-left: 20px;
display: none;
}

.gext_answer_show {
margin-left: 30px;
}

.d_answer span {
display: none;
}


.gexd_task {
line-height: 28px;
padding-left: 50px;
background-repeat: no-repeat;
padding-bottom: 4px;
}

.gexd_task .d_answer {
color: #666;
}

.gexd_task div {
padding-left: 18px;
}



.gex_side {
border-left: 1px solid #555;
text-align: center;
padding: 0 10px 10px;
line-height: 32px
vartical-align: middle;
}

.gex_devider {
border-left: 1px solid #555;
border-right: 1px solid #555;
text-align: center;
padding: 0 10px 10px;
line-height: 32px
vartical-align: middle;
}

.gexv_check, .gext_check, .ex_from_list_check, .gexd_check {
padding-left: 110px;
padding-top: 15px;
}

.gexv_check input, .gext_check input.gext_check_btn, .ex_from_list_check input, .gexd_check input {
font-size: 15px;
font-weight: bold;
}



.block-center p {
margin-bottom: 0px;
}

div.task {
padding-bottom: 30px;
margin-bottom: 0;
}

.gex_headers {
font-weight: bold;
font-style: italic;
}

.exer_part {
padding: 0px 0px 20px 30px;
}

.to_notify {
position: relative; 
display: block;
}

.check_notify  {
background-image: url("/images/notification1.png");
background-repeat: no-repeat;
display: block;
position: absolute;
padding-left: 34px;
left: -110px;
line-height: 27px; 
font-size: 12px;
color: red;
white-space: nowrap;
font-weight: bold;

}




.block {
position: relative;
}

.block-clt {
background-image: url("/images/sect-top.gif");
background-repeat: no-repeat;
background-position: left top;
font-size:0px;
}

.block-crt {
background-image: url("/images/sect-top.gif");
background-repeat: no-repeat;
background-position: right top;
font-size:0px;
}

.block-top {
background-color: #FFFFFF;
border-top: 1px solid #BBBBBB;
font-size: 0px;
height: 9px;
margin-left: 12px;
margin-right: 12px;
}

.block-center {
background-color: #FFFFFF;
background-image: url("/images/sect-btm2.gif");
background-position: left bottom;
background-repeat: repeat-x;
border-left: 1px solid #C0C0C0;
border-right: 1px solid #C0C0C0;
padding: 20px 30px 1px;
}

.block-clb {
background-image: url("/images/sect-clb.gif");
background-position:left bottom;
background-repeat:no-repeat;
padding-left:14px;
}

.block-crb {
background-image: url("/images/sect-crb.gif");
background-position: 100% 100%;
background-repeat: no-repeat;
}

.block-btm {
background-image:url("/images/sect-btm.gif");
background-position:left bottom;
background-repeat:repeat-x;
margin:0px 14px 0px 0px;
height: 40px;
}

.gr-ex-testid {
display: none;
}

.gr-ex-error {
background-image: url(/images/error-20.png);
}

.gr-ex-correct {
background-image: url(/images/accept-20.png);
}


.di_mix .di_mix_variants {
margin-bottom: 10px;
margin-top: 10px;
padding: 4px 3px;
line-height: 20px;
border: 1px dashed #a0b2cc;
background-color: #dbe9fd;
position: relative;
margin-right: -12px; 
}

.di_mix {
}


.di_mix .gext_sign  input {
width: 100%;
display: block;
position: relative;
padding-bottom: 0;
height: 23px;
line-height: 20px;
padding-right: 5px;
padding-left: 5px;
font-size: 14px;
}

 .di_mix_variants span {
margin-left: 5px;
padding: 1px 3px;
background-color: #fff;
color: #333;
}

.di_dragHelper {
padding: 1px 3px;
}

.di_mix .di_mix_tobuild {
line-height:20px;
text-indent:0px;
}

.di_mix .gext_sign {
padding-bottom: 17px;
border-bottom: 1px dotted #666;
}

.di_mix_first {
border-top: 1px dotted #666;
}

.di_mix .gext_sign {
padding-top: 8px;
padding-left:40px;
text-indent:0px;
background-position: 10px 50%;
position: relative;
padding-right: 30px;
}

.gext_task input {
background-color:#FFFFFF;
border:1px solid #7F9DB9;
margin:0;
padding-bottom:2px;
padding-top:2px;
}

.content .di_mix .clear_placed_text {
position: absolute;
display: block;
right: 0px;
margin-top: -22px;
line-height: 18px;
border: 1px solid gray;
cursor: pointer;
padding: 0px 3px;
font-weight: bold;
outline: none;
text-decoration: none !important;
-moz-user-select: none;
-khtml-user-select: none;
user-select: none;
}


.content .clear_placed_text {
border: 1px solid gray;
cursor: pointer;
padding: 0px 2px;
font-weight: bold;
outline: none;
text-decoration: none !important;
-moz-user-select: none;
-khtml-user-select: none;
user-select: none;
}


a.clear_placed_text:link {
background-color:#fff;
border:1px solid gray;
color:#444444;
}
a.clear_placed_text:visited {
background-color:#fff;
border:1px solid gray;
color:#444444;
}
a.clear_placed_text:hover {
background-color:#BFDCFF;
border:1px solid #000000;
color:#000000;
}
a.clear_placed_text:active {
background-color:#2F71BF;
border:1px solid #000000;
color:#FFFFFF;
}


.su-exerc {
padding: 20px 40px;
background-color: #eff5fe;
border:3px solid #86ACEF;
margin:0 20px 30px;
-moz-box-shadow:1px 1px 0px #627EAF, 1px 2px 3px #3E556F;
-webkit-box-shadow:1px 1px 0px #627EAF, 1px 2px 3px #3E556F;
box-shadow:1px 1px 0px #627EAF, 1px 2px 3px #3E556F;
}

.gex-es-btn {
text-align: left;
}

.gex-es-btn  input {
width: auto;
height: 28px;
line-height:26px;
font-size: 12px !important;
padding-left: 10px;
padding-right: 10px;
background-color: #bed7fc;
}

.gex_multi_one {
}

/*end of grammar exercises*/



/*start of drag/drop test */

.ds-audio  .ds-quest {
font-weight: bold;
font-size: 12px;
}

.ds-audio-listen {
border-right: 1px solid #A0B2CC;
padding-right: 10px;
}


td.ds-audio-correctness {
background-image: none !important;
border-right: 1px solid #BACDE9;
background-color: #fff;
text-align: center;
}

.ds-sign {
width: 27px;
height: 27px;
margin: 0 auto;
}

.ds-correct-answer {
background-image: url(/images/accept-20.png);
background-repeat: no-repeat;
background-position: 50% 50%;
}

.ds-error-answer {
background-image: url(/images/error-20.png);
background-repeat: no-repeat;
background-position: 50% 50%;
}

.ds-table tr td.ds-answer {
background-image: none;
background-color: #F6FAFF;
}

.ds-table {
background-color: #fff;
border: 1px solid #7A95BD;
-moz-box-shadow: 2px 2px 5px #efefef;
-webkit-box-shadow: 2px 2px 5px #efefef;
box-shadow: 2px 2px 5px #efefef;
}

.ds-table-nosound tr td.ds-quest {
padding: 4px 4px 4px 12px;
font-weight: bold;
text-align: left  !important;
font-size: 12px;
color: #444;
}

div.ds_dragged {
padding: 10px 20px;
text-align: left;

}


#ds_dragHelper  div {
background-image:url("/images/dialog-tr-bg-bl.png");
background-position:right bottom;
background-repeat:repeat-x;
font-weight: bold;
}


#ds_dragHelper {
-moz-box-shadow: 0px 2px 4px #555;
-khtml-box-shadow: 0px 2px 4px #555;
box-shadow: 0px 2px 4px #555;
}


.ds-table tr  td{
border-bottom:  1px solid #A0B2CC;
background-image:url("/images/dialog-tr-bg-bl.png");
background-position:right bottom;
background-repeat:repeat-x;
}

.ds-quest {
bor-der-right: 1px solid #A0B2CC;
text-align: center !important;
}


.ds-table th {
background-color:#DFDFDF;
background-image:none;
text-align: center;
padding: 5px;
border-bottom: 1px solid #999;
}

.ds-table .ds-line-head {
background-image: none;
padding: 5px 10px;
font-weight: bold;
}

.sl_item {
background-color: #fff;
margin: 2px;
border: 1px dashed #A0B2CC;
}

.ds-border-right {
border-right:1px solid #7A95BD;
}

.ds_sort_item {
min-height: px;
}

td.ds-answer {
height: 30px;
}

.ds_input {
width: 20px;
margin-right: 10px;
}

.ds_vholder {
padding: 4px 8px;
}


.ds_variants_list {
margin: 0 0px;
border: 1px dashed #345688;
list-style: none;
background-color: #fff;
padding: 0 10px;
-moz-box-shadow: 2px 2px 5px #dfdfdf;
-webkit-box-shadow: 2px 2px 5px #dfdfdf;
box-shadow: 2px 2px 5px #dfdfdf;
}

.ds_variants_list  li {
margin-bottom: 5px;
}

.ds-wrapper {
padding: 20px 40px;
background-color: #eff5fe;
border:3px solid #86ACEF;
margin:0 20px 30px;
-moz-box-shadow:1px 1px 0px #627EAF, 1px 2px 3px #3E556F;
-webkit-box-shadow:1px 1px 0px #627EAF, 1px 2px 3px #3E556F;
box-shadow:1px 1px 0px #627EAF, 1px 2px 3px #3E556F;
}

.ds-rt {
display: none;
}

.ds-table th {
background-color:#DBE9FD;
background-image:none;
border-bottom:1px solid #7A95BD;
padding:5px;
text-align:center;
}


.no-list {
list-style: none;
padding: 0;
margin: 0;
}

.ds-check-wrapper {
text-align: center;
padding: 20px;
}

input.ds-check-button {
background-color: #bed7fc;
}

.es-ex-buttons input.ds-check-button {
width: auto;
height: 28px;
line-height:26px;
font-size: 12px !important;
padding-left: 10px;
padding-right: 10px;
}

/*end of drag/drop test */



/* grammar exercises  */
.gex-correct {
background-image:url(/images/accept-20.png);
background-position:10px 4px;
}

.gex-error {
background-image:url(/images/error-20.png);
background-position:10px 4px;
}

.gext_sign {
font-size: 12px;
background-color: #f6f9fe;
padding-right: 15px;
color: #333;
}

.gex_multi_one {

}

.gex_multi_one .gex-error, .gex_multi_one .gex-correct {
background-position:10px 10px;
}

.di_mix .gex_multi_one_item {
border-bottom: 0px solid #fff;
padding-bottom: 2px;
}

.gr_ex_variants_wrap {
background-color: #f6f9fe;
padding: 15px 10px 10px;
}

.gexv_variant {
font-size: 11px;
padding:0 30px 3px 90px;
text-indent: -18px;
}

.gexv_variant input {
position: relative;
margin: 0;
top: 3px;
}

.gexv_with_trans  .gexv_task {
font-style: italic;
}

.gexv_with_trans  .gexv_task span {
font-weight: bold;
}


/* end of grammar exercises  */

.su-gr-table {
background-color:#C3CDDF;
}

.su-gr-table  th {
background-color:#D1DDEF;
border:1px solid #EFF5FF;
color:#45494F;
font-size:11px;
padding:4px 15px;
text-align: center;
}

.su-gr-table  th.sec-row {
background-color: #E0E6EF
}

.su-gr-table td {
background-color:#FFFFFF;
color:#45494F;
padding:4px 15px;
}

/*.ui-dialog*/

.ui-dialog {
position: fixed;
}

/*end of .ui-dialog*/


/* grammar out ex*/


.bl-ex-container {
background-image: url(/images/ltl-bg.gif);
border: 2px solid #CFE0FF;
padding: 50px 50px 50px;
margin-bottom: 200px;
overflow: hidden;
-moz-border-radius: 4px;
}

.bl-ex-container .su-exerc  {
background-color: transparent;
background-image:url(/images/bl-transparent-30.png);
}

.bl-ex-container  .gext_sign  {
background-color:transparent;
}

.gex-area-trans {
background-image:url(/images/transparent-60.png);
padding-top: 15px;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 20px;
border:1px solid #86ACEF;
-moz-box-shadow:1px 1px 0px #627EAF, 1px 2px 3px #3E556F;
-webkit-box-shadow:1px 1px 0px #627EAF, 1px 2px 3px #3E556F;
box-shadow:1px 1px 0px #627EAF, 1px 2px 3px #3E556F;
}

.bl-ex-container  p.gex-es-btn {
margin-top: 0;
}

.gex-init-val {
color: #888;
font-style: italic;
}

/* end of grammar out ex*/

input.st-bl-btn {
background-color: #bed7fc;
}

.st-bl-btn-wrap input.st-bl-btn {
width: auto;
height: 28px;
line-height:26px;
font-size: 12px !important;
padding-left: 10px;
padding-right: 10px;
}

