
.-sign-2-in input {
background-image: url('/images/sign-in-btn.png');
width: 113px;
height: 40px;
margin: 0;
padding: 0;
border: 0px solid #fff;
background-color: transparent;
}

.sign-in input {
background-image: url('/images/sign/sign-in-btn.png');
background-position: left bottom;
background-color: transparent !important;
width: 150px;
height: 50px;
line-height: 40px;
margin: 0;
padding: 0;
border: 0px solid #667E9B;
color: #fff;
font-weight: bold;
font-size: 20px;
cursor: pointer;
outline: none;
}

.submit-form input {
background-image: url('/images/sign/submit-btn.png');
background-position: left bottom;
background-color: transparent !important;
width: 150px;
height: 50px;
line-height: 40px;
margin: 0;
padding: 0;
border: 0px solid #667E9B;
color: #fff;
font-weight: bold;
font-size: 20px;
cursor: pointer;
outline: none;
}




.sign-over input {
background-position: left top;
cursor: pointer;
}

.mod-in-log {
background-color:#EFF3FF;
border:1px solid #C3CDDF;
padding:40px 10% 80px;
position:relative;

}

.sign-head {
position: relative;
bac-kground-color: #2178E3;
padding: 8px 2px 20px;
wi-dth: 100%;
color: #fff;
font-size: 25px;

}

.sign-head-wrapper {
position: relative;
mar-gin: 0px 70px;
z-index: 100;
text-align: center;
margin-bottom: -50px;
}

h2.sign-head  {
margin: 0 auto;
m-in-width: 400px;
m-ax-width: 450px;
background-image: url(/images/sign/sign-head.png);
background-repeat: repeat-x;
background-position: left -70px;
border-top: 0px solid #fff;
padding: 0px;
margin: 0px 9px 0px 9px;
min-height: 61px;
l-ine-height: 50px;
}

.sign-rt {
background-image: url(/images/sign/sign-head.png);
background-repeat: no-repeat;
background-position: right bottom;
max-width: 400px;
margin: 0px auto;
}
.sign-lft {
background-image: url(/images/sign/sign-head.png);
background-repeat: no-repeat;
background-position: left top;
}

.sign-in-title {
display: block;
height: 60px;
background-image: url(/images/sign/sign-in.png);
background-position: 50% 50%;
background-repeat: no-repeat;
}


.sign-up-title {
display: block;
height: 60px;
background-image: url(/images/sign/sign-up.png);
background-position: 50% 50%;
background-repeat: no-repeat;
}

.sign-string {
background-image: none;
color: #fff;
font-size: 31px;
fo-nt-weight: bold;
line-height: 50px;
text-shadow: 0px 0px 1px #22376F, 0px 1px 6px #555;
}




.module-right  {over-flow: visible;}

.module-content {
padding-top: 50px;
padding-left: 10px;
padding-right: 10px;
}

.sign-notification {
margin: 15px auto;
max-width: 350px;
background-color: #53535F;
border: 1px solid #37373F;
color: #fff;
font-size: 12px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}

.sign-notification td {
padding: 5px 20px 5px 70px;
text-align: center;
}

.sign-notification td h2 {
color: #fff;
font-size: 16px;
font-weight: bold;
text-align: center;
margin: 40px 30px 30px;
}


.notif-icon {
top: 0;
left: 0;
position: absolute;
width: 40px;
height: 40px;
margin-left: -60px;
margin-top: -20px;
background-image: url(/images/sign/notification.png);
background-repeat: no-repeat;
background-position: left top;
}

.sign-options p {
font-size: 11px;
font-weight: bold;
color: #666;
margin: 10px 0px;
}

.form-entries td input {
width: 200px;
background-image: url(/images/sign/input-text-bg.gif);
background-repeat: no-repeat;
border: 1px solid #999;
padding: 4px 3px 3px;
color: #444;
}


.content .sign-options a:link {
color: #0000ee;
text-decoration: underline;
background-color: transparent;
}

.content .sign-options a:visited {
color: #0000ee;
text-decoration: underline;
background-color: transparent;
}

.content .sign-options a:hover {
color: #00015F;
text-decoration: underline;
background-color: #EFF5FF;
}

.content .sign-options a:active {
text-decoration: underline;
background-color: #EFF5FF;
}

.form-entries td.entry1 {
padding-right: 0px;
}
