
#prof_tabs {
width: 100%;
float: left;
border-bottom: 1px solid #666;
fo_nt-size: 12px;
font-weight: bold;
}

#tabs_row {
padding-left: 50px;
float: left;
position: relative;
top: 1px;
}

.ptab {
float:left;
background:url("images/tableftF.gif") no-repeat left -42px;
margin:0;
padding:0 0 0 4px;
text-decoration:none;
cursor: pointer;
bor der-bottom: 1px solid #666;
color:#666;
margin-left: 2px;
}

.ptab div {
float:left;
display: block;
background: url("images/tabrightF.gif") no-repeat right -42px;
padding: 5px 20px 4px 14px;

}

.hon {
color: #444444;
}

.current_ptab {
bor_der-bottom: 1px solid #fff;
background-position: 0px 0px;
color: #000000;
border-bottom: 0px solid #fff;
cursor: default;
}

div.current_ptab div {
background-position: 100% 0px;
bor der-bottom: 1px solid #fff;
font-weight: bolder;
padding: 5px 20px 5px 14px;
}


.pBlock {
clear: both;
padding: 20px;
border: 1px solid #666;
border-top: none;
}

.inpBlock {
height: 450px;
}



