
div.ui-state-error, div.ui-state-highlight {
display: inline-block;
text-align: left;
}

div.ui-state-highlight {
background-color: #FFF9E5 !important;
background-image: none !important;
border: 1px solid #EEB420 !important;
color: #000;
}

.userinfo-edit {
padding: 10px 20px 20px;
font-weight: bold: 
font-size: 12px;
}

.userinfo-edit td {
font-weight: bold;
}

.userinfo-tip {
padding: 0px 10px 20px; 
font-size: 11px;
color: #666;
}

.userinfo-edit input { 
font-size: 15px;
padding: 2px 4px;
border: 1px solid #999;
}

.userinfo-edit td input {
font-family: Arial, sans-serif;
}

#userpass .userinfo-edit td input {
width: 200px;
}

#username .userinfo-edit td input {
width: 250px;
}


#up-success, #upass-success, #un-success, #un-success1, #delres-success {
white-space: nowrap;
font-weight: bold;
font-size: 11px;
color: #1E9111;
background-color:#DAFFD6;
margin-left: 15px;
position: absolute;
display: none;
border: 1px solid #57FC44;
padding: 2px 10px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
zoom: 1;
}

.userpic-wrapper {
margin-right: 20px;
}

.userpic-wrapper .edit-userpic {
visibility: hidden;
}

.userpic-wrapper:hover .edit-userpic {
visibility: visible;
}

#userpic-img {
padding: 4px;
border: 1px solid #bfbfbf;
background-color: #fff;
}

.ui-dialog {
position: fixed;
}

#used-txt {
color: #333;
font-size: 11px;
}

#used-userpic img {
padding: 4px;
background-color: #fff;
border: 1px solid #bfbfbf;
}

.userpic-tip {
padding: 10px 10px 20px; 
font-size: 11px;
color: #666;
}

.up-tips td {
padding-bottom: 8px;
font-weight: bold;
}

.used-txt-holder {
padding-top: 10px;
text-align: center;
}

.pics-holder {
position: relative;
background-color: #F9F7F7;
margin: 0 4px 20px;
height: 150px; 
width: 300px;
flo-at: right; 
overflow-x: hidden; 
overflow-y: scroll;
border: 1px solid #afafaf; 
}

.userpics-list {
margin: 0px auto 20px;
padding: 0;
padding-bottom: 100px;
}

.userpics-list li {
display: block;
font-size: 10px;
color: #444;
text-shadow: 0 1px 0 #dfdfdf;
min-height: 32px;
overflow: hidden;
border-bottom: 1px solid #bfbfbf;
position: relative;
padding-left: 60px;
padding-top: 10px;
cursor: pointer;
}

.userpics-list li:hover {
background-color: #dfdfdf;
font-weight: bold;
color: #222;
}

.userpics-list li  span {
position: absolute;
display: block;
left: 10px;
top: 3px;
}

.userpics-list li  span img {
padding: 2px;
border: 1px solid #dfdfdf;
background-color: #fff;
}