body {
margin: 0;
font-size: 15px;
font-family: Arial, sans-serif;
}

div.top .header {
width: auto !important;
}

.header {
padding: 7px 4px 8px;
border-bottom: 1px solid #E3E9FF;
}

.header hr {
display: none
}

.text_wrapper {
background-color: #eee;
border-top: 1px solid #666;
border-bottom: 3px solid #8FA0BF;
overflow-y: scroll;
}

.text-holder {
background-color: #fff;
border: 1px solid #999;
padding: 10px;
padding-top: 30px;
margin: 0px 30px;
border-top: 0px solid #fff;
-moz-box-shadow: 0px 2px 10px #999;
}

.text-holder hr {
border-top: 0px solid #fff;
border-bottom: 1px solid #bfbfbf;
margin: 7px 0;
} 

.text-holder .description {
color: #333;
}

.t-with-desc 
.with-desc  .description {
width: 25% !important;
color: #666;
font-size: 12px;
overflow: hidden;
} 

table.p-navig {
font-size: 11px;
}


table.p-navig a {
font-size: 10px;
display: block;
padding: 3px 4px;
}

table.p-navig span  a {
font-size: 11px;
display: inline;
}

table.p-navig a:link {
color: #0000EE;
}

table.p-navig a:visited {
color: #0000EE;
}

table.p-navig a:hover {
color: #fff;
background-color: #2F67FF;
text-decoration: none;
}

table.p-navig a:active  {
color: #fff;
background-color: #2F67FF;
text-decoration: none;
}


.panel {
overflow:hidden;
padding:5px 40px 5px;
margin-top: 10px;
background-image: url("http://www.study-languages-online.com/stylesheets/custom-theme/images/ui-bg_glass_75_b4d8f8_1x400.png");
background-color: #E1EEFE;
background-repeat: repeat-x;
background-position: 50% 50%;
font-size: 13px;
text-shadow: 0 1px 0 #FFFFFF;
border-top: 1px solid #dfdfdf;
}

.panel hr {
display: none;
}

.logout {
font-weight: bold; 
color: #000;
}

.logout a {
font-weight: normal; 
}


.project_name {
font-size: 25px;
color: #2F415F;
text-shadow: 2px 2px 2px #BFBFBF;
}

.project_name p {
margin: 10px;
}

.project_name b {
font-weight: normal;
}


