<% @page_title = 'Регистрация' %>

<h2 class="page"> Благодарим Вас за регистрацию! </h2>

<p align="center"> Ваш аккаунт успешно создан. Вам выслан код для активации аккаунта на указанный Вами email: <br><br> 
		<i><b style="color: blue"><%= @u_mail %></b></i>. 
</p>

<p align="center"> Письмо с кодом должно прийти на Ваш ящик через 1-2 минуты. 
</p>

<br><br>
<h3 style="">Вы не получили код на e-mail?</h3>

<ul>
	<li>Проверьте, правильно ли вы ввели свой e-mail.</li>
	<li>Проверьте папку СПАМ. В некоторых случаях требуется добавить адрес <u style="white-space: nowrap"><i>support@study-languages-online.com</i></u> в свой список Контактов.</li>
	<li>На таких сервисах, как <i>Yahoo</i> или <i>Hotmail</i>, доставка письма может быть отложена на срок до одного часа.</li>
</ul>

<p align="center">
Если у Вас возникли вопросы или затруднения, связанные с активацией аккаунта,  напишите нам: <br> <a href="mailto:study.languages.online@gmail.com">study.languages.online@gmail.com</a>.
</p>

<script type="text/javascript">
currentSection="login";
</script>
