<% @page_title = 'Registration' %>

<h2 class="page"> Thanks for signing up! </h2>

<p align="center"> Your account have been successfully created. We're sending you an email with your activation code. </p>


<br><br>
<h3 style="">Email not received?</h3>

<ul>
	<li>Check if you entered the correct email address.</li>
	<li>Check your SPAM folder. You may need to add <u><i>support@study-languages-online.com</i></u> to your Contacts or Safe Senders list.</li>
	<li>The email may be delayed up to an hour for some providers like Yahoo and Hotmail.</li>
</ul>

<p>
If you have any questions or problems related to your account activation, please, <a href="/contacts.html">contact us</a>.
</p>

<script type="text/javascript">
currentSection="login";
</script>
