<% @page_title = 'Registration' %>

<h2 class="page"> Thanks for signing up! </h2>

<p align="center"> Your account have been successfully created. We're sending you an email with your activation code. </p>


<script type="text/javascript">
currentSection="login";
</script>
