<% @page_title='Payment success' %>

<div style="text-align: center;">

<h2>Thank you!</h2>
<p>You have purchased 6-month subscription to the <a href="/course.html"><strong>Course of Russian</strong></a></p>
<p>We are processing your order now. As soon as your subscription is active, we will send you an email confirmation.</p>
<p>Please <a href="/contacts.html">contact us</a> if you need more information.</p>

</div>

