<% @page_title = 'Change Password' %>


			   

<div class="module mod-in-log">
<br/>
<div class="module-top">
	<div class="module-t-left"></div>
	<div class="module-t-right"></div>
</div>

<div class="module-right">
<div class="module-left">
<div class="module-content">
<% form_tag psedit_path do %>

<table align="center">
	<tr>
		<td>
		<h2 class="page" >Change Password</h2>
		  <%if @error_pas %><p style="color: red; font-weight: bold; text-align: center"> Current password is incorrect</p> <%end%>
			<%if @error_val %> <p style="color: red; font-weight: bold; text-align: center"> Invalid new password or confirmation</p> <%end%>
		
			<table class="form-entries">
				<tr>
					<td class="entry1">Current password:</td>
					<td><%= password_field_tag 'password', nil %></td>
				</tr>
				<tr>
					<td class="entry1">New password:</td>
					<td><%= password_field_tag 'new_password', nil %></td>
				</tr>
				<tr>
					<td class="entry1">Confirm new password:</td>
					<td> <%= password_field_tag 'confirm_password', nil %></td>
				</tr>
			</table>
	<tr>
		<td>
			<p align="center"><%= submit_tag 'Change my password' %> </p>
			
			    <%if @success %> 
				
						<p style="color: blue; font-weight: bold; text-align: center; font-size: 16px; padding: 15px 0; "> Data have been saved</p> 
						
				<%end%>
				
				<p align="center"><a href="user_profile.html"> Back to Profile</a></p>
		</td>
	</tr>
</table>

  <%end%>

</div>
</div>
</div>
<div class="module-bottom">
	<div class="module-b-left"></div>
	<div class="module-b-right"></div>
</div>
</div>			   
			   


  
 <script type="text/javascript">
currentSection="login";
</script>
