<% unless @no_ad || @no_left_ad %><% @no_left_slide=true %>
<div style="padding-top: 20px; padding-left: 14px; margin-top: 40px">
<%if @left_ad_spec%><%=@left_ad_spec%><%else%>


<%end%></div> <%end%>