<% unless @no_ad || @no_left_ad %><% @no_left_slide=true %>
<div style="padding-top: 20px; padding-left: 14px; margin-top: 40px">
<%if @left_ad_spec%><%=@left_ad_spec%><%else%>


<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Ad left main -->
<ins class="adsbygoogle"
     style="display:inline-block;width:160px;height:600px"
     data-ad-client="ca-pub-4215105690061587"
     data-ad-slot="2955281427"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>



<%end%></div> <%end%>