<% unless @no_ad || @no_left_ad %><% @no_left_slide=true %>
<div style="padding-top: 20px; padding-left: 14px; margin-top: 40px"> 
<script type="text/javascript"><!--
google_ad_client = "ca-pub-8582966007397893";
/* Left column ad */
google_ad_slot = "4037408757";
google_ad_width = 160;
google_ad_height = 600;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div> 
<%end%>
