<%if @es_language == 'ru'%>
<div class="t-search-bar">	
<form action="/ru/en/search.html" id="cse-search-box">
  <div>
    <input type="hidden" name="cx" value="005738787138117275699:edkgftn6lze" />
    <input type="hidden" name="cof" value="FORID:11" />
    <input type="hidden" name="ie" value="UTF-8" />
    <input type="text" name="q" style="max-width: 200px" size="25" />
    <input type="submit" name="sa" value="Поиск" />
  </div>
</form>
<script type="text/javascript" src="http://www.google.com/cse/brand?form=cse-search-box&lang=ru"></script>
</div>
<%else%>

<%end%>