<span style="display: inline-block; width: 32px;"><g:plusone size="medium" count="false"></g:plusone></span>
<a href="http://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<span style="position: relative; top: 1px;">
<iframe src="http://www.facebook.com/plugins/like.php?locale=en_US&amp;app_id=223626784338099&amp;href=www.study-languages-online.com&amp;send=false&amp;layout=button_count&amp;width=80&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:48px; height:21px;" allowTransparency="true"></iframe>
</span>