<% @page_title = 'Accessories :: Online Russian lexical tests' %>
<% @page_meta = {'description' => "Learn Russian vocabulary topic Accessories with online lexical tests"} %>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_js_css do %>
<style type="text/css">
h2.page {margin-bottom: 0px;font-size: 19pt;}
</style>
<% end %>

<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Links and Settings</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
     				<li><a href="/accessories.html">Accessories</a></li>
					<li><a href="/accessories-flashcards.html"> Flashcards: Accessories</a></li>
    		</ul>
			<%= render :partial => 'preload_option' %>
	</div>
</div>
</div>

<h2 class="page">Tests:  Accessories</h2>

<h3 class="page-path">
	<span class="int-links">
	<a href="/vocabulary.html">Vocabulary</a>
	<span class="int-arrow">--&gt;</span> 
	<a href="/accessories.html">Accessories</a>
	<span class="int-arrow">--&gt;</span> Tests
	</span>
</h3>

<div class="l-test-container">

<h3 class="test-task">Test 1. Listen to the Russian phrase and find it in the list.
<a href="javascript:;" class="lt-test-closer"><span class="lt-h">Hide test</span><span class="lt-sh">Show test</span></a>
</h3>

<div id="ch1" class="lt-holder">
<div class="lt-spacer">	
<%= render :partial => 'lexical_test' %>
</div>
</div><!-- end of lt-holder -->

<script type="text/javascript"> 
	var ch1 = new ch_exercise( {
		id: "ch1", 
		test_id: "v0224010.1",
		quest_num: 10,
		variants_num: 5,
		quest_type: 'audio',
		basic_array: [
['sounds/sound09501.mp3','аксессуары'],['sounds/sound09502.mp3','галстук-бабочка'],['sounds/sound09503.mp3','булавка'],['sounds/sound09504.mp3','булавка для галстука'],
['sounds/sound09505.mp3','варежки'],['sounds/sound09506.mp3','галстук'],['sounds/sound09507.mp3','запонки'],['sounds/sound09508.mp3','зонтик'],
['sounds/sound09509.mp3','кошелёк'],['sounds/sound09510.mp3','очки'],['sounds/sound09511.mp3','перчатки'],['sounds/sound09512.mp3','подтяжки'],
['sounds/sound09513.mp3','портфель'],['sounds/sound09514.mp3','ремень'],['sounds/sound09515.mp3','солнцезащитные очки'],['sounds/sound09516.mp3','сумочка'],
['sounds/sound09517.mp3','часы'],['sounds/sound09518.mp3','шарф']
		]
		} )
</script>

<h3 class="test-task">Test 2. Read the Russian phrase and find its English equivalent.
<a href="javascript:;" class="lt-test-closer"><span class="lt-h">Hide test</span><span class="lt-sh">Show test</span></a>
</h3>

<div id="ch2" class="lt-holder">
<div class="lt-spacer">
<%= render :partial => 'lexical_test' %>
</div>
</div><!-- end of lt-holder -->
<script type="text/javascript"> 
	var ch2 = new ch_exercise( {
		id: "ch2", 
		test_id: "v0224020.2",
		quest_num: 10,
		variants_num: 5,
		basic_array: [
['аксессуары','accessories'],['галстук-бабочка','bow tie'],['булавка','pin'],['булавка для галстука','tie-pin'],
['варежки','mittens'],['галстук','tie'],['запонки','cuff links'],['зонтик','umbrella'],
['кошелёк','purse'],['очки','glasses'],['перчатки','gloves'],['подтяжки','suspenders'],
['портфель','briefcase'],['ремень','belt'],['солнцезащитные очки','sun glasses'],['сумочка','handbag'],
['часы','watch'],['шарф','scarf']
		]
		} )
</script>

<h3 class="test-task">Test 3. 
Listen to the phrase and find its translation into English.
<a href="javascript:;" class="lt-test-closer"><span class="lt-h">Hide test</span><span class="lt-sh">Show test</span></a>
</h3>

<div id="ch3" class="lt-holder">
<div class="lt-spacer">	
<%= render :partial => 'lexical_test' %>
</div>
</div><!-- end of lt-holder -->

<script type="text/javascript"> 
	var ch3 = new ch_exercise( {
		id: "ch3", 
		test_id: "v0224030.3",
		quest_num: 10,
		variants_num: 5,
		quest_type: 'audio',
		basic_array: [
		
['sounds/sound09501.mp3','accessories'],['sounds/sound09502.mp3','bow tie'],['sounds/sound09503.mp3','pin'],['sounds/sound09504.mp3','tie-pin'],
['sounds/sound09505.mp3','mittens'],['sounds/sound09506.mp3','tie'],['sounds/sound09507.mp3','cuff links'],['sounds/sound09508.mp3','umbrella'],
['sounds/sound09509.mp3','purse'],['sounds/sound09510.mp3','glasses'],['sounds/sound09511.mp3','gloves'],['sounds/sound09512.mp3','suspenders'],
['sounds/sound09513.mp3','briefcase'],['sounds/sound09514.mp3','belt'],['sounds/sound09515.mp3','sun glasses'],['sounds/sound09516.mp3','handbag'],
['sounds/sound09517.mp3','watch'],['sounds/sound09518.mp3','scarf']
		]
		} )
</script>

<h3 class="test-task test-task-final" style="text-align: center">Review the topic &nbsp;&nbsp;&nbsp;&nbsp;<a href="/accessories.html">Accessories >></a></h3>

<script type="text/javascript">
preloadFiles=new Array(

)
</script>

</div><!-- end of lt-container -->

<script type="text/javascript">
currentSection="words";
</script>