<% @page_title = 'Online Russian Vocabulary: Accessories' %>
<% @page_meta = {'description' => "Russian online vocabulary for learning words and phrases related to the topic Accessories"} %>
<% @with_rec = true %>
<% @has_audio = true %>
<% content_for :special_js_css do %>
<style type="text/css">
h2.page {margin-bottom: 0px;}
</style>
<% end %>
<div class="hint_wrap">
<div class="hint_button">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <li><a href="accessories-flashcards.html"> Flashcards: Accessories</a></li>
            <li><a href="accessories-test.html"> Tests: Accessories</a></li>
        </ul>
        <%= render :partial => 'colorder_accent' %> 
  </div>
</div>
</div>



<h2 class="page">Accessories</h2>
<h3 class="page-path"> 
<span class="int-links"><a href="/vocabulary.html">Vocabulary</a> <span class="int-arrow">--></span> Accessories</span>
</h3>

<div id="pagecontent"><div id="content">

<div class="dict_wrapper">

<div class="voc-wordlist">
<table class="voc_bord" align="center" cellspacing="0">
<tr>
<td>

<table class="diction" cellpadding="0" cellspacing="0" align="center">
<thead>
<tr>
	<td></td>
	<td></td>
	<td></td>
</tr>
</thead>
<tbody>
	<tr class="trow">
		<td class="original" valign="top">Аксессу<i></i><span class="acco">а</span>ры
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09501.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[aksesoo<span class="acct">a</span>r<span class="ry">i</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Accessories
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Г<span class="acco">а</span>лстук-б<span class="acco">а</span>бочка
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09502.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[g<span class="acct">a</span>lstook b<span class="acct">a</span>bachka]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Bow tie
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Бул<span class="acco">а</span>вка
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09503.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[bool<span class="acct">a</span>fka]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Pin
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Бул<span class="acco">а</span>вка для г<span class="acco">а</span>лстука
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09504.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[bool<span class="acct">a</span>fka d<span class="sftv">l</span><span class="sfty">y</span>a g<span class="acct">a</span>lstooka]  	
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Tie-pin
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">В<span class="acco">а</span>режки
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09505.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[v<span class="acct">a</span>rishki]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Mittens
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Г<span class="acco">а</span>лстук
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09506.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[g<span class="acct">a</span>lstook]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Tie
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">З<span class="acco">а</span>понки
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09507.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[z<span class="acct">a</span>panki]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Cuff links
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">З<span class="acco">о</span>нтик
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09508.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[z<span class="acct">o</span>ntik]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Umbrella 
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Кошелёк
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09509.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[kash<span class="ry">i</span><span class="sftv">l</span><span class="sfty">y</span><span class="acct">o</span>k]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Purse
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Очк<span class="acco">и</span>
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09510.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[achk<span class="acct">i</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Glasses
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Перч<span class="acco">а</span>тки
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09511.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[pirch<span class="acct">a</span>tki]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Gloves
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Подт<span class="acco">я</span>жки
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09512.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[pat<span class="sftv">t</span><span class="sfty">y</span><span class="acct">a</span>shki]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Suspenders
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Портф<span class="acco">е</span>ль
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09513.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[part<span class="sftv">f</span><span class="sfty">y</span><span class="acct">e</span><span class="sftc">l</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Briefcase
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Рем<span class="acco">е</span>нь
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09514.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[ri<span class="sftv">m</span><span class="sfty">y</span><span class="acct">e</span><span class="sftc">n</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Belt
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Солнцезащ<span class="acco">и</span>тные очк<span class="acco">и</span>
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09515.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[sontsizasch<span class="acct">i</span>tn<span class="ry">i</span>ye achk<span class="acct">i</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Sun glasses
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">С<span class="acco">у</span>мочка
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09516.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[s<span class="acct">oo</span>machka]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Handbag
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Час<span class="acco">ы</span>
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09517.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[chis<span class="acct"><span class="ry">i</span></span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Watch
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Шарф
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09518.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[sh<span class="acct">a</span>rf]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Scarf
		</td>
	</tr>
</tbody>
<tfoot>
<tr>
	<td></td>
	<td></td>
	<td></td>
</tr>
</tfoot>  
</table>

</td>
</tr>
</table>
</div><!-- end of voc-wordlist-->

</div>

<table class="voc-links voc-link-first " align="center" cellspacing="0"><tr>
	<td class="voc-space">Learn these words and expressions with our &nbsp;<a href="accessories-flashcards.html">Flashcards >></a></td>
</tr></table>
<table class="voc-links voc-link-last" align="center" cellspacing="0"><tr>
	<td class="voc-space">Check how you know this topic with our &nbsp;<a href="accessories-test.html">Lexical tests >></a></td>
</tr></table>

</div>
</div>

<script type="text/javascript">
currentSection="words";
</script>

