<% @page_title = 'Online Russian Flashcards: Accessories' %>
<% @page_meta = {'description' => "Learn Russian vocabulary topic Accessories with online flashcards: words with audio samples, quizzes and spell practice"} %>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_js_css do %>
<style type="text/css">
h2.page {
margin-bottom: 0px;
font-size: 19pt;
}
</style>

<%end%>
<div class="hint_wrap">
<div class="hint_button" style="float: right;">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <li><a href="/accessories.html">Accessories</a></li>
			<li><a href="/accessories-test.html">Tests: Accessories</a></li>
        </ul>
        <%= render :partial => 'down_accent' %>
  </div>
</div>
</div>

<h2 class="page">Flashcards: Accessories</h2>
<h3 class="page-path">
	<span class="int-links">
	<a href="/vocabulary.html">Vocabulary</a>
	<span class="int-arrow">--&gt;</span> 
	<a href="/accessories.html">Accessories</a>
	<span class="int-arrow">--&gt;</span> Flashcards
	</span>
</h3>

<div  id="fl1" style="min-height: 600px; text-align: center;">
<%= render :partial => 'flashcard' %>
</div><!-- end of fl1 -->

<script type="text/javascript"> 
	var fl1 = new flashcard( {
		id: "fl1", 
		random_order: false,
		basic_array: [
		
['Аксессу<i></i><span class="acco">а</span>ры ','Accessories ','/sounds/sound09501.mp3','aksesoo<span class="acct">a</span>r<span class="ry">i</span>  '],
['Г<span class="acco">а</span>лстук-б<span class="acco">а</span>бочка ','Bow tie ','/sounds/sound09502.mp3','g<span class="acct">a</span>lstook b<span class="acct">a</span>bachka '],
['Бул<span class="acco">а</span>вка ','Pin ','/sounds/sound09503.mp3','bool<span class="acct">a</span>fka '],
['Бул<span class="acco">а</span>вка для г<span class="acco">а</span>лстука ','Tie-pin ','/sounds/sound09504.mp3','bool<span class="acct">a</span>fka d<span class="sftv">l</span><span class="sfty">y</span>a g<span class="acct">a</span>lstooka '],
['В<span class="acco">а</span>режки ','Mittens ','/sounds/sound09505.mp3','v<span class="acct">a</span>rishki '],
['Г<span class="acco">а</span>лстук ','Tie ','/sounds/sound09506.mp3','g<span class="acct">a</span>lstook '],
['З<span class="acco">а</span>понки ','Cuff links ','/sounds/sound09507.mp3','z<span class="acct">a</span>panki '],
['З<span class="acco">о</span>нтик ','Umbrella ','/sounds/sound09508.mp3','z<span class="acct">o</span>ntik '],
['Кошелёк ','Purse ','/sounds/sound09509.mp3','kash<span class="ry">i</span><span class="sftv">l</span><span class="sfty">y</span><span class="acct">o</span>k '],
['Очк<span class="acco">и</span> ','Glasses ','/sounds/sound09510.mp3','achk<span class="acct">i</span> '],
['Перч<span class="acco">а</span>тки ','Gloves ','/sounds/sound09511.mp3','pirch<span class="acct">a</span>tki '],
['Подт<span class="acco">я</span>жки ','Suspenders ','/sounds/sound09512.mp3','pat<span class="sftv">t</span><span class="sfty">y</span><span class="acct">a</span>shki '],
['Портф<span class="acco">е</span>ль ','Briefcase ','/sounds/sound09513.mp3','part<span class="sftv">f</span><span class="sfty">y</span><span class="acct">e</span><span class="sftc">l</span> '],
['Рем<span class="acco">е</span>нь ','Belt ','/sounds/sound09514.mp3','ri<span class="sftv">m</span><span class="sfty">y</span><span class="acct">e</span><span class="sftc">n</span> '],
['Солнцезащ<span class="acco">и</span>тные очк<span class="acco">и</span> ','Sun glasses ','/sounds/sound09515.mp3','sontsizasch<span class="acct">i</span>tn<span class="ry">i</span>ye achk<span class="acct">i</span> '],
['С<span class="acco">у</span>мочка ','Handbag ','/sounds/sound09516.mp3','s<span class="acct">oo</span>machka '],
['Час<span class="acco">ы</span> ','Watch ','/sounds/sound09517.mp3','chis<span class="acct"><span class="ry">i</span></span> '],
['Шарф ','Scarf ','/sounds/sound09518.mp3','sh<span class="acct">a</span>rf ']
		]
		} )
</script>


<table class="voc-links voc-link-first voc-link-last" align="center" cellspacing="0"><tr>
	<td class="voc-space">Check how you know this topic with our &nbsp;<a href="/accessories-test.html">Lexical tests >></a></td>
</tr></table>


<script type="text/javascript">
preloadFiles=new Array(
'/sounds/sound09501.mp3', '/sounds/sound09502.mp3', '/sounds/sound09503.mp3', '/sounds/sound09504.mp3', 
'/sounds/sound09505.mp3', '/sounds/sound09506.mp3', '/sounds/sound09507.mp3', '/sounds/sound09508.mp3', 
'/sounds/sound09509.mp3', '/sounds/sound09510.mp3', '/sounds/sound09511.mp3', '/sounds/sound09512.mp3', 
'/sounds/sound09513.mp3', '/sounds/sound09514.mp3', '/sounds/sound09515.mp3', '/sounds/sound09516.mp3', 
'/sounds/sound09517.mp3', '/sounds/sound09518.mp3'
)
</script>
