<% @page_title = 'Online Russian Vocabulary: Accessories' %>
<% @page_meta = {'description' => "Russian online vocabulary for learning words and phrases related to the topic Accessories"} %>
<% @with_rec = true %>
<% @has_audio = true %>
<% content_for :special_js_css do %>
<style type="text/css">
h2.page {margin-bottom: 0px;}
</style>
<% end %>

<p style="font-size: 25px; color: #444">This page is out of date.</p>
<p> To visit the latest version of this page, please, <b><a href="/en/ru/vocabulary/accessories">click here</a></b></p>




<script type="text/javascript">
currentSection="words";
</script>

