<% @page_title = 'Online Russian Vocabulary: Acquaintance' %>
<% @page_meta = {'description' => "Russian online vocabulary for learning words and phrases related to the topic Acquaintance"} %>
<% @with_rec = true %>
<% @has_audio = true %>
<% content_for :special_js_css do %>
<%= stylesheet_link_tag 'stylesounds' %>
<style type="text/css">
h2.page {margin-bottom: 0px;}
</style>
<% end %>

<div class="hint_wrap">
<div class="hint_button" style="float: right;">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <li><a href="acquaintance-exercise.html"> Exercises: Making acquaintance</a></li>
            <li><a href="acquaintance-test.html">Tests: Making acquaintance</a></li>
        </ul>
        <%= render :partial => 'colorder_accent' %>
  </div>
</div>
</div>



<h2 class="page">Making acquaintance</h2>

<h3 class="page-path"> 
<span class="int-links"><a href="/vocabulary.html">Vocabulary</a> <span class="int-arrow">--></span> Making acquaintance</span>
</h3>





<div id="pagecontent"><div id="content">


<div class="dict_wrapper">

<div class="voc-wordlist">
<table class="voc_bord" align="center" cellspacing="0">
<tr>
<td>

<table class="diction" cellpadding="0" cellspacing="0" align="center">
  <tr class="trow">
    <td class="original" valign="top">К<span class="acco">а</span>к В<span class="acco">а</span>с з<span class="acco">о</span>вут?
    </td>
    <td class="transcript" valign="top">
      <table onclick="playSound('sound01201.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td>[k<span class="acct">a</span>k v<span class="acct">a</span>s zav<span class="acct">oo</span>t?] 
          </td>
          <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
          </td>
        </tr>
      </table>
    </td>
    <td class="translation" valign="top">What is your name?
    </td>
  </tr>
  <tr class="trow">
    <td class="original" valign="top">В<span class="acco">ы</span> господ<span class="acco">и</span>н … ? 
    </td>
    <td class="transcript" valign="top">
      <table onclick="playSound('sound01202.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td>[v<span class="acct"><span class="ry">i</span></span> gaspad<span class="acct">i</span>n ... ?]
          </td>
          <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
          </td>
        </tr>
      </table>
    </td>
    <td class="translation" valign="top">Are you Mr ... ?
    </td>
  </tr>
  <tr class="trow">
    <td class="original" valign="top">В<span class="acco">ы</span> госпож<span class="acco">а</span> ... ?
    </td>
    <td class="transcript" valign="top">
      <table onclick="playSound('sound01203.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td>[v<span class="acct"><span class="ry">i</span></span> gaspaj<span class="acct">a</span> ... ?]
          </td>
          <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
          </td>
        </tr>
      </table>
    </td>
    <td class="translation" valign="top">Are you Mrs ... ?
    </td>
  </tr>
  <tr class="trow">
    <td class="original" valign="top">К<span class="acco">а</span>к В<span class="acco">а</span>ше <span class="acco">и</span>мя?
    </td>
    <td class="transcript" valign="top">
      <table onclick="playSound('sound01204.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td>[k<span class="acct">a</span>k v<span class="acct">a</span>she <span class="acct">i</span><span class="sftv">m</span><span class="sfty">y</span>a?]
          </td>
          <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
          </td>
        </tr>
      </table>
    </td>
    <td class="translation" valign="top">What is your first name ...? 
    </td>
  </tr>
  <tr class="trow">
    <td class="original" valign="top">К<span class="acco">а</span>к В<span class="acco">а</span>ша фам<span class="acco">и</span>лия?
    </td>
    <td class="transcript" valign="top">
      <table onclick="playSound('sound01205.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td>[k<span class="acct">a</span>k v<span class="acct">a</span>sha fam<span class="acct">i</span>liya?]
          </td>
          <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
          </td>
        </tr>
      </table>
    </td>
    <td class="translation" valign="top">What is your last name?
    </td>
  </tr>
  <tr class="trow">
    <td class="original" valign="top">&nbsp;
    </td>
    <td class="transcript" valign="top">&nbsp;
    </td>
    <td class="translation" valign="top">&nbsp;
    </td>
  </tr>
  <tr class="trow">
    <td class="original" valign="top">Мен<span class="acco">я</span> зов<span class="acco">у</span>т ...
    </td>
    <td class="transcript" valign="top">
      <table onclick="playSound('sound01206.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td>[mi<span class="sftv">n</span><span class="sfty">y</span><span class="acct">a</span> zav<span class="acct">oo</span>t ...]
          </td>
          <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
          </td>
        </tr>
      </table>
    </td>
    <td class="translation" valign="top">My name is ...
    </td>
  </tr>
  
  <tr class="trow">
    <td class="original" valign="top">Моё <span class="acco">и</span>мя ...
    </td>
    <td class="transcript" valign="top">
      <table onclick="playSound('sound01207.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td>[may<span class="acct">o</span> <span class="acct">i</span><span class="sftv">m</span><span class="sfty">y</span>a ...]
          </td>
          <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
          </td>
        </tr>
      </table>
    </td>
    <td class="translation" valign="top">My first name is ...
    </td>
  </tr>
  <tr class="trow">
    <td class="original" valign="top">Мо<span class="acco">я</span> фам<span class="acco">и</span>лия ...
    </td>
    <td class="transcript" valign="top">
      <table onclick="playSound('sound01208.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td>[may<span class="acct">a</span> fam<span class="acct">i</span>liya ...]
          </td>
          <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
          </td>
        </tr>
      </table>
    </td>
    <td class="translation" valign="top">My last name is ...
    </td>
  </tr>
  <tr class="trow">
    <td class="original" valign="top">Я ...
    </td>
    <td class="transcript" valign="top">
      <table onclick="playSound('sound01209.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td>[ya ...]
          </td>
          <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
          </td>
        </tr>
      </table>
    </td>
    <td class="translation" valign="top">I'm ...
    </td>
  </tr>
  <tr class="trow">
    <td class="original" valign="top">&nbsp;
    </td>
    <td class="transcript" valign="top">&nbsp;
    </td>
    <td class="translation" valign="top">&nbsp;
    </td>
  </tr>
  <tr class="trow">
    <td class="original" valign="top">При<span class="acco">я</span>тно познак<span class="acco">о</span>миться.
    </td>
    <td class="transcript" valign="top">
      <table onclick="playSound('sound01210.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td>[priy<span class="acct">a</span>tna paznak<span class="acct">o</span>mitsa]
          </td>
          <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
          </td>
        </tr>
      </table>
    </td>
    <td class="translation" valign="top">Nice to meet you.
    </td>
  </tr>
  <tr class="trow">
    <td class="original" valign="top"><span class="acco">О</span>чень при<span class="acco">я</span>тно.
    </td>
    <td class="transcript" valign="top">
      <table onclick="playSound('sound01211.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td>[<span class="acct">o</span>chi<span class="sftc">n</span> priy<span class="acct">a</span>tna]
          </td>
          <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
          </td>
        </tr>
      </table>
    </td>
    <td class="translation" valign="top">Pleased to meet you.
    </td>
  </tr>
  <tr class="trow">
    <td class="original" valign="top">Из как<span class="acco">о</span>й В<span class="acco">ы</span> стран<span class="acco">ы</span>?
    </td>
    <td class="transcript" valign="top">
      <table onclick="playSound('sound01212.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td>[is kak<span class="acct">o</span>y v<span class="acct"><span class="ry">i</span></span> stran<span class="acct"><span class="ry">i</span></span>?]
          </td>
          <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
          </td>
        </tr>
      </table>
    </td>
    <td class="translation" valign="top">What country are you from?
    </td>
  </tr>
  <tr class="trow">
    <td class="original" valign="top">Отк<span class="acco">у</span>да В<span class="acco">ы</span>?
    </td>
    <td class="transcript" valign="top">
      <table onclick="playSound('sound01213.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td>[atk<span class="acct">oo</span>da v<span class="acct"><span class="ry">i</span></span>?]
          </td>
          <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
          </td>
        </tr>
      </table>
    </td>
    <td class="translation" valign="top">Where are you from?
    </td>
  </tr>
  <tr class="trow">
    <td class="original" valign="top">В<span class="acco">ы</span> из СШ<span class="acco">А</span>?
    </td>
    <td class="transcript" valign="top">
      <table onclick="playSound('sound01214.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td>[v<span class="acct"><span class="ry">i</span></span> is se she <span class="acct">a</span>?]
          </td>
          <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
          </td>
        </tr>
      </table>
    </td>
    <td class="translation" valign="top">Are you from the USA?
    </td>
  </tr>
  <tr class="trow">
    <td class="original" valign="top">&nbsp;
    </td>
    <td class="transcript" valign="top">&nbsp;
    </td>
    <td class="translation" valign="top">&nbsp;
    </td>
  </tr>
  <tr class="trow">
    <td class="original" valign="top"><span class="acco">Я</span> <span class="acco">и</span>з …
    </td>
    <td class="transcript" valign="top">
      <table onclick="playSound('sound01215.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td>[y<span class="acct">a</span> is]
          </td>
          <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
          </td>
        </tr>
      </table>
    </td>
    <td class="translation" valign="top">I'm from ...
    </td>
  </tr>
  <tr class="trow">
    <td class="original" valign="top"><span class="acco">Я</span> америк<span class="acco">а</span>нец.
    </td>
    <td class="transcript" valign="top">
      <table onclick="playSound('sound01216.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td>[y<span class="acct">a</span> amirik<span class="acct">a</span>nits]
          </td>
          <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
          </td>
        </tr>
      </table>
    </td>
    <td class="translation" valign="top">I'm American.
    </td>
  </tr>
</table>

</td>
</tr>
</table>
</div><!-- end of voc-wordlist-->

</div>

<h3 class="voc-links" style="text-align: center">Learn these words and expressions with our &nbsp;<a href="acquaintance.html">Flashcards >></a></h3>
<h3 class="voc-links" style="text-align: center">Check how you know this topic with our &nbsp;<a href="acquaintance.html">Tests >></a></h3>





<br><br><br><br><br><br><br><br>



</div>
</div>

<script type="text/javascript">
currentSection="words";
</script>
