<% @page_title = 'Making acquaintance (tests)' %>
<% @page_meta = {'description' => ""} %>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_css do %>
.quest  {
width: 210px;
}
.variants  {
width: 240px;
}
#t2 .quest {
width: 220px;
}
<% end %>

<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Recommended links</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
     				<li><a href="acquaintance.html">Making acquaintance</a></li>
					<li><a href="acquaintance-exercise.html"> Exercises: Making acquaintance</a></li>
    		</ul>
	</div>
</div>
</div>



<h2 class="page">Making acquaintance <br/>(tests)</h2>
<p class="task">Before completing the following tests, please revise the topic <a title="Making acquaintance" href="acquaintance.html">Making acquaintance</a></p>
<hr/>
<br/>

<h3>Test 1</h3>
<p class="task">Listen to the phrase and сhoose the corresponding Russian expression.</p>
<div id="t1">
<script type="text/javascript">
var t1 = new Test({dict: [

['sounds/sound01201.mp3','Как Вас зовут?'],
['sounds/sound01206.mp3','Меня зовут ...'],
['sounds/sound01207.mp3','Мое имя ...'],
['sounds/sound01208.mp3','Моя фамилия...'],
['sounds/sound01210.mp3','Приятно познакомиться'],
['sounds/sound01212.mp3','Из какой Вы страны?'],
['sounds/sound01213.mp3','Откуда Вы?'],
['sounds/sound01215.mp3','Я из …']


],hide: 'di1',id:'t1', type: 'audio', how_questions: 8, how_show: 2}, 'v0202010.1');
</script>
</div>

<h3>Test 2</h3>
<p class="task">Read the Russian phrase and choose the corresponding English expression.</p>

<div id="t2">
<script type="text/javascript">
var t2 = new Test({dict: [

['Как Вас зовут?','What is your name?'],
['Меня зовут ...','My name is ...'],
['Мое имя ...','My first name is ...'],
['Моя фамилия...','My last name is ...'],
['Приятно познакомиться','Nice to meet you'],
['Из какой Вы страны?','What country are you from?'],
['Откуда Вы?','Where are you from?'],
['Я из …','I\'m from ...']

], hide:'di1',id:'t2',type: 'text', how_questions: 8, how_show: 2}, 'v0202020.2');
</script>
</div>

<h3>Test 3</h3>
<p class="task">Listen to the Russian phrases and сhoose their translation into English.</p>

<div id="t3">

<script type="text/javascript">
var t3 = new Test({dict: [['sounds/sound01201.mp3','What is your name?'],['sounds/sound01206.mp3','My name is ...'],['sounds/sound01207.mp3','My first name is ...'],['sounds/sound01208.mp3','My last name is ...'],['sounds/sound01210.mp3','Nice to meet you'],['sounds/sound01212.mp3','What country are you from?'],['sounds/sound01213.mp3','Where are you from?'],['sounds/sound01215.mp3','I\'m from ...']],hide: 'di1',id:'t3',type: 'audio', how_questions: 8, how_show: 2}, 'v0202030.3');
</script>
</div>


<script type="text/javascript">
currentSection="words";
</script>
