<% @page_title = 'Online Russian Grammar:  Exercises for declension of adjectives ' %>
<% @page_meta = {'description' => "Russian online grammar exercises on the declension of adjectives"} %>
<% @with_rec = true %>
<% @has_audio = true %>


<% content_for :special_js_css do %>
 <%= stylesheet_link_tag 'grammar-exercises' %>
 <%= javascript_include_tag 'grammar-exercises' %>
<%= stylesheet_link_tag 'keyboard' %>
 
 <script type="text/javascript"> 
 $(document).ready(function(){
	$(".gext_task input").addClass("for_keyb")
 });
 </script>
 <%= javascript_include_tag 'virtual-keyboard' %>
<% end %> 
 




<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Links and Settings</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
					<li><a href="/russian-grammar.html">Russian grammar</a></li>
    		</ul>
	</div>
</div>
</div>



<h2 class="page">Declension of adjectives</h2>

<div id="pagecontent"><div id="content">

<p>
<span title="Open popup with word list" onclick="open_comment('grammar_comments/grex-adjectives-declension_grc.html')" class="open_popup_link">View word list for these exercises</span>
</p>



<h3>Exercise I</h3>


<div class="block" >
				<div class="block-clt">
						<div class="block-crt">
							<div class="block-top"></div>
						</div>
				</div>
				<div class="block-center">
				

<div class="task">Form the correct form of adjectives. <a class="show_keyboard" href="javascript:;">[ Use virtual keyboard ]</a></div>

<div  class="gr_ex_type">
<div class="gr-ex-testid">g0111010.I</div>

<div class="gext_task gext_sign"> 

1.  Он помогает <input type="text"  value="новый" > <span class="gext_answer" style="display: none">новым</span> студентам.
 
<div class="gext_show"><span>Он помогает  <b>новым</b> студентам.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

2. Я разговариваю с <input type="text" value="новый"><span class="gext_answer" style="display: none">новым</span>   программистом.
 
<div class="gext_show"><span>Я разговариваю с   <b>новым</b> программистом.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

3. Джон рассказывает   <input type="text" value="интересный" style="width: 95px;"><span class="gext_answer" style="display: none">интересную</span>  историю.
 
<div class="gext_show"><span>Джон рассказывает <b>интересную</b>  историю.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

4. Он занимается  <input type="text" value="интересный" style="width: 95px;"><span class="gext_answer" style="display: none">интересной</span>  работой.
 
<div class="gext_show"><span> Он занимается  <b>интересной</b>  работой.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

5. Я хочу посетить <input type="text" value="новый"><span class="gext_answer" style="display: none">новый</span>  театр.
 
<div class="gext_show"><span>Я хочу посетить <b>новый</b>  театр.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

6. Она говорит о <input type="text" value="новый"><span class="gext_answer" style="display: none">новой</span>  машине.
 
<div class="gext_show"> <span>Она говорит о  <b>новой</b>  машине.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

7. Мы хотим пройти к  <input type="text" value="новый"><span class="gext_answer" style="display: none">новому</span>  зданию.
 
<div class="gext_show"><span>Мы хотим пройти к  <b>новому</b></span> зданию. &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

8. Он живёт в <input type="text" value="старый"><span class="gext_answer" style="display: none">старом</span>  городе.
 
<div class="gext_show"> <span>Он живёт в <b>старом</b>  городе.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

9. Сандра хочет купить  <input type="text" value="белый"><span class="gext_answer" style="display: none">белую</span> шапку.
 
<div class="gext_show"> <span>Сандра хочет купить <b>белую</b> шапку.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

10. Директор рассказывает о <input type="text" value="новый"><span class="gext_answer" style="display: none">новых</span> правилах.
 
<div class="gext_show"> <span>Директор рассказывает о <b>новых</b> правилах.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

11. Это книга  <input type="text" value="новый"><span class="gext_answer" style="display: none">нового</span> студента.
 
<div class="gext_show"> <span>Это книга  <b>нового</b>  студента.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

12. Том показывает фотографию <input type="text" value="старый" style="width: 65px;"><span class="gext_answer" style="display: none">старому</span> другу.
 
<div class="gext_show"><span>Том показывает фотографию <b>старому</b></span> другу. &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

13. У меня нет  <input type="text" value="белый"><span class="gext_answer" style="display: none">белой</span>  рубашки.
 
<div class="gext_show"> <span>У меня нет <b>белой</b> рубашки.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

14. Она знает <input type="text" value="новый"><span class="gext_answer" style="display: none">нового</span> студента.
 
<div class="gext_show"> <span>Она знает <b>нового</b> студента.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

15. У меня много  <input type="text" value="старый"><span class="gext_answer" style="display: none">старых</span> книг.
 
<div class="gext_show"> <span>У меня много <b>старых</b> книг.</span> &nbsp;</div>

</div>

<p class="gext_check"><input type="button" class="gext_check_btn" value="Check answers" > <input type="button" value="Display answers" class="gext_answer_show"></p>

</div>


</div>
<div class="block-clb">
     <div class="block-crb">
    	  <div class="block-btm">
    		   </div>
    	  </div>
     </div>		
</div>


<br/><br/><br/>

<h3>Exercise II</h3>


<div class="block" >
				<div class="block-clt">
						<div class="block-crt">
							<div class="block-top"></div>
						</div>
				</div>
				<div class="block-center">
				

<div class="task">Form the correct form of adjectives. <a class="show_keyboard" href="javascript:;">[ Use virtual keyboard ]</a></div>

<div  class="gr_ex_type">
<div class="gr-ex-testid">g0111020.II</div>

<div class="gext_task gext_sign"> 

1.  Я хочу купить <input type="text"  value="синий" > <span class="gext_answer" style="display: none">синий</span> костюм.
 
<div class="gext_show"><span>Я хочу купить <b>синий</b> костюм.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

2. У меня нет <input type="text" value="синий"><span class="gext_answer" style="display: none">синего</span> карандаша.
 
<div class="gext_show"><span>У меня нет <b>синего</b> карандаша.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

3. Журнал лежит на <input type="text" value="синий" ><span class="gext_answer" style="display: none">синем</span>  столе.
 
<div class="gext_show"><span>Журнал лежит на <b>синем</b> столе.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

4. Мне нужно пройти к <input type="text" value="синий"><span class="gext_answer" style="display: none">синему</span> зданию.
 
<div class="gext_show"><span>Мне нужно пройти к <b>синему</b> зданию.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

5. Девочка рисует <input type="text" value="синий"><span class="gext_answer" style="display: none">синей</span> ручкой.
 
<div class="gext_show"><span>Девочка рисует <b>синей</b> ручкой.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

6. Он ищет <input type="text" value="зимний"><span class="gext_answer" style="display: none">зимние</span> костюмы.
 
<div class="gext_show"> <span>Он ищет <b>зимние</b> костюмы.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

7. У меня много <input type="text" value="зимний" ><span class="gext_answer" style="display: none">зимних</span> костюмов.
 
<div class="gext_show"><span>У меня много <b>зимних</b></span> костюмов. &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

8. Он готовится к <input type="text" value="летний"><span class="gext_answer" style="display: none">летним</span> экзаменам.
 
<div class="gext_show"> <span>Он готовится к <b>летним</b> экзаменам.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

9. Линда читает <input type="text" value="последний" style="width: 90px;"><span class="gext_answer" style="display: none">последнюю</span> страницу.
 
<div class="gext_show"> <span>Линда читает <b>последнюю</b> страницу.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

10. Мария интересуется <input type="text" value="зимний" style="width: 70px;"><span class="gext_answer" style="display: none">зимними</span> видами спорта.
 
<div class="gext_show"> <span>Мария интересуется <b>зимними</b> видами спорта.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

11. Он спрашивает о <input type="text" value="зимний"><span class="gext_answer" style="display: none">зимнем</span>  костюме.
 
<div class="gext_show"> <span> Он спрашивает о  <b>зимнем</b> костюме.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

12.  Она рассказывает о <input type="text" value="летний" ><span class="gext_answer" style="display: none">летних</span> экзаменах.
 
<div class="gext_show"><span>Она рассказывает о <b>летних</b></span> экзаменах. &nbsp;</div>

</div>


<p class="gext_check"><input type="button" class="gext_check_btn" value="Check answers" > <input type="button" value="Display answers" class="gext_answer_show"></p>

</div>


</div>
<div class="block-clb">
     <div class="block-crb">
    	  <div class="block-btm">
    		   </div>
    	  </div>
     </div>		
</div>


<br/><br/><br/>

<h3>Exercise III</h3>


<div class="block" >
				<div class="block-clt">
						<div class="block-crt">
							<div class="block-top"></div>
						</div>
				</div>
				<div class="block-center">
				

<div class="task">Form the correct form of adjectives. <a class="show_keyboard" href="javascript:;">[ Use virtual keyboard ]</a></div>

<div  class="gr_ex_type">
<div class="gr-ex-testid">g0111030.III</div>

<div class="gext_task gext_sign"> 

1.  Я занимаюсь <input type="text"  value="русский" style="width: 65px;"> <span class="gext_answer" style="display: none">русским</span> языком.
 
<div class="gext_show"><span>Я занимаюсь <b>русским</b> языком.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

2. Мне нужно пройти к <input type="text" value="высокий" style="width: 75px;"><span class="gext_answer" style="display: none">высокому</span> зданию.
 
<div class="gext_show"><span>Мне нужно пройти к <b>высокому</b> зданию.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

3. Марк пишет письмо <input type="text" value="русский" style="width: 70px;"><span class="gext_answer" style="display: none">русскому</span> партнёру.
 
<div class="gext_show"><span>Марк пишет письмо <b>русскому</b> партнёру.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

4. Я ищу <input type="text" value="дорогой" style="width: 65px;"><span class="gext_answer" style="display: none">дорогую</span> игрушку.
 
<div class="gext_show"><span>Я ищу <b>дорогую</b> игрушку.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

5. Ольга помогает <input type="text" value="маленький" style="width: 85px;"><span class="gext_answer" style="display: none">маленькой</span> девочке.
 
<div class="gext_show"><span>Ольга помогает <b>маленькой</b> девочке.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

6. Он знает <input type="text" value="русский" style="width: 70px;"><span class="gext_answer" style="display: none">русского</span> студента.
 
<div class="gext_show"> <span>Он знает <b>русского</b> студента.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

7. Она интересуется <input type="text" value="дорогой" style="width: 75px;" ><span class="gext_answer" style="display: none">дорогими</span> игрушками.
 
<div class="gext_show"><span>Она интересуется <b>дорогими</b></span> игрушками. &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

8. У меня много <input type="text" value="дорогой" style="width: 65px;"><span class="gext_answer" style="display: none">дорогих</span> игрушек.
 
<div class="gext_show"> <span>У меня много <b>дорогих</b> игрушек.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

9. Келли знакомится с <input type="text" value="русский" style="width: 70px;"><span class="gext_answer" style="display: none">русскими</span> партнёрами.
 
<div class="gext_show"> <span>Келли знакомится с <b>русскими</b> партнёрами.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

10. Они рассказывают о <input type="text" value="русский" style="width: 70px;"><span class="gext_answer" style="display: none">русском</span> фильме.
 
<div class="gext_show"> <span>Они рассказывают о <b>русском</b> фильме.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

11. Она спрашивает о <input type="text" value="высокий" style="width: 65px;"><span class="gext_answer" style="display: none">высоком</span> здании.
 
<div class="gext_show"> <span>Она спрашивает о <b>высоком</b> здании.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

12. Майкл изучает <input type="text" value="русский" style="width: 65px;"><span class="gext_answer" style="display: none">русский</span> язык.
 
<div class="gext_show"><span>Майкл изучает <b>русский</b></span> язык. &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

13. У меня нет <input type="text" value="русский" style="width: 65px;"><span class="gext_answer" style="display: none">русского</span> словаря.
 
<div class="gext_show"> <span>У меня нет <b>русского</b> словаря.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

14. Мы разговариваем с <input type="text" value="русский" style="width: 65px;"><span class="gext_answer" style="display: none">русской</span> студенткой.
 
<div class="gext_show"> <span>Мы разговариваем с <b>русской</b> студенткой.</span> &nbsp;</div>

</div>



<p class="gext_check"><input type="button" class="gext_check_btn" value="Check answers" > <input type="button" value="Display answers" class="gext_answer_show"></p>

</div>


</div>
<div class="block-clb">
     <div class="block-crb">
    	  <div class="block-btm">
    		   </div>
    	  </div>
     </div>		
</div>


<br/><br/><br/>

<h3>Exercise IV</h3>


<div class="block" >
				<div class="block-clt">
						<div class="block-crt">
							<div class="block-top"></div>
						</div>
				</div>
				<div class="block-center">
				

<div class="task">Form the correct form of adjectives. <a class="show_keyboard" href="javascript:;">[ Use virtual keyboard ]</a></div>

<div  class="gr_ex_type">
<div class="gr-ex-testid">g0111040.IV</div>

<div class="gext_task gext_sign"> 

1.  Он понимает  <input type="text"  value="младший" style="width: 75px;"> <span class="gext_answer" style="display: none">младшего</span> брата.
 
<div class="gext_show"><span>Он понимает <b>младшего</b> брата.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

2. Я разговариваю с <input type="text" value="хороший" style="width: 65px;"><span class="gext_answer" style="display: none">хорошей</span> подругой.
 
<div class="gext_show"><span>Я разговариваю с <b>хорошей</b> подругой.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

3. Мне нужно пройти к <input type="text" value="большой" style="width: 75px;"><span class="gext_answer" style="display: none">большому</span>  зданию.
 
<div class="gext_show"><span>Мне нужно пройти к <b>большому</b> зданию.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

4. У меня много <input type="text" value="хороший" style="width: 65px;"><span class="gext_answer" style="display: none">хороших</span> книг.
 
<div class="gext_show"><span>У меня много <b>хороших</b> книг.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

5. Она хочет купить <input type="text" value="хороший" style="width: 70px;"><span class="gext_answer" style="display: none">хорошую</span> книгу.
 
<div class="gext_show"><span>Она хочет купить <b>хорошуюй</b> книгу.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

6. Кайл играет с <input type="text" value="младший" style="width: 65px;"><span class="gext_answer" style="display: none">младшим</span> братом.
 
<div class="gext_show"> <span>Кайл играет с <b>младшим</b> братом.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

7. Мы играем в <input type="text" value="большой" style="width: 70px;" ><span class="gext_answer" style="display: none">большом</span> парке.
 
<div class="gext_show"><span>Мы играем в <b>большом</b></span> парке. &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

8. Он рассказывает о <input type="text" value="хороший" style="width: 70px;"><span class="gext_answer" style="display: none">хорошем</span>  костюме.
 
<div class="gext_show"> <span>Он рассказывает о <b>хорошем</b> костюме.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

9. Анна любит <input type="text" value="хороший" style="width: 65px;"><span class="gext_answer" style="display: none">хорошие</span> книги.
 
<div class="gext_show"> <span>Анна любит <b>хорошие</b> книги.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

10. У меня нет <input type="text" value="младший" style="width: 75px;"><span class="gext_answer" style="display: none">младшего</span> брата.
 
<div class="gext_show"> <span>У меня нет <b>младшего</b> брата.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

11. Они ищут <input type="text" value="большой" style="width: 65px;"><span class="gext_answer" style="display: none">большое</span> здание.
 
<div class="gext_show"> <span>Они ищут <b>большое</b> здание.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

12. Ты говоришь о <input type="text" value="хороший" style="width: 65px;"><span class="gext_answer" style="display: none">хороших</span> костюмах.
 
<div class="gext_show"><span>Ты говоришь о <b>хороших</b></span> костюмах. &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

13. Она интересуется <input type="text" value="хороший" style="width: 75px;"><span class="gext_answer" style="display: none">хорошими</span> игрушками.
 
<div class="gext_show"> <span>Она интересуется <b>хорошими</b> игрушками.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

14. Он рассказывает историю <input type="text" value="младшая" style="width: 70px;"><span class="gext_answer" style="display: none">младшей</span> сестре.
 
<div class="gext_show"> <span>Он рассказывает историю <b>младшей</b> сестре.</span> &nbsp;</div>

</div>



<p class="gext_check"><input type="button" class="gext_check_btn" value="Check answers" > <input type="button" value="Display answers" class="gext_answer_show"></p>

</div>


</div>
<div class="block-clb">
     <div class="block-crb">
    	  <div class="block-btm">
    		   </div>
    	  </div>
     </div>		
</div>


<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>









</div>
</div>

<script type="text/javascript">
currentSection="grammar";
</script>
