<% @page_title = 'Online Russian Grammar:  Exercises for short forms of adjectives ' %>
<% @page_meta = {'description' => "Russian online grammar exercises on the short forms of adjectives"} %>
<% @with_rec = true %>
<% @has_audio = true %>


<% content_for :special_js_css do %>
 <%= stylesheet_link_tag 'grammar-exercises' %>
 <%= javascript_include_tag 'grammar-exercises' %>
 <%= stylesheet_link_tag 'keyboard' %>
 
 <script type="text/javascript"> 
 $(document).ready(function(){
	$(".gext_task input").addClass("for_keyb")
 });
 </script>
 <%= javascript_include_tag 'virtual-keyboard' %>
<% end %> 
 




<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Links and Settings</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
					<li><a href="/russian-grammar.html">Russian grammar</a></li>
    		</ul>
	</div>
</div>
</div>



<h2 class="page">Short forms of adjectives</h2>

<div id="pagecontent"><div id="content">


<h3>Exercise I</h3>


<div class="block" >
				<div class="block-clt">
						<div class="block-crt">
							<div class="block-top"></div>
						</div>
				</div>
				<div class="block-center">
				
<div class="task">Choose the correct form of the following words.</div> 				

<div  class="gr_ex_from_list">

<div class="gr_ex_unit"> 


1. Эта площадь очень  
<select>
<option>красивый</option>
<option  class="ok">красива</option>
<option>красиво</option>
<option>красивы</option>
</select>. 

</div>

<div class="gr_ex_unit"> 


2. Это лекарство очень  
<select>
<option>полезный</option>
<option>полезен</option>
<option>полезна</option>
<option class="ok">полезно</option>
</select>.  

</div>

<div class="gr_ex_unit"> 


3. Она не    
<select>
<option>согласный</option>
<option>согласен</option>
<option  class="ok">согласна</option>
<option>согласны</option>
</select>
с учителем. 

</div>

<div class="gr_ex_unit"> 


4. Эта проблема очень 
<select>
<option>важный</option>
<option class="ok">важна</option>
<option>важнен</option>
<option>важно</option>
</select>. 

</div>

<div class="gr_ex_unit"> 


5. Это решение 
<select>
<option >справедливый</option>
<option>справедлив</option>
<option>справедливы</option>
<option  class="ok">справедливо</option>
</select>.  
</div>


<div class="gr_ex_unit"> 


6. Эти задания довольно 
<select>
<option>сложный</option>
<option >сложно</option>
<option  class="ok">сложны</option>
<option>сложна</option>
</select>. 

</div>

<div class="gr_ex_unit"> 


7. Этот пациент 
<select>
<option >болной</option>
<option  class="ok">болен</option>
<option>больна</option>
<option>больно</option>
</select>.  

</div>

<div class="gr_ex_unit"> 


8. Россия  
<select>
<option>богатый</option>
<option >богато</option>
<option>богаты</option>
<option class="ok">богата</option>
</select>
природными ресурсами. 

</div>

<div class="gr_ex_unit"> 


9. Этот студент всегда   
<select>
<option>вежливый</option>
<option>вежливы</option>
<option>вежливо</option>
<option  class="ok">вежлив</option>
</select>. 

</div>

<div class="gr_ex_unit"> 


10. Эти вопросы очень  
<select>
<option>интересный</option>
<option >интересен</option>
<option  class="ok">интересны</option>
<option>интересна</option>
</select>. 

</div>


<p class="ex_from_list_check"><input type="button" value="Check answers" ></p>

</div>


</div>
<div class="block-clb">
     <div class="block-crb">
    	  <div class="block-btm">
    		   </div>
    	  </div>
     </div>		
</div>




<br/><br/><br/>

<h3>Exercise II </h3>

<div class="block" >
				<div class="block-clt">
						<div class="block-crt">
							<div class="block-top"></div>
						</div>
				</div>
				<div class="block-center">
				

<div class="task">Form the short form of adjectives. <a class="show_keyboard" href="javascript:;">[ Use virtual keyboard ]</a></div>

<div  class="gr_ex_type">


<div class="gext_task gext_sign"> 

1.  Эти вопросы очень <input type="text"  value="важный" > <span class="gext_answer" style="display: none">важны</span>.
 
<div class="gext_show"><span>Эти вопросы очень <b>важны</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

2. Этот город очень <input type="text" value="красивый" style="width: 70px;"><span class="gext_answer" style="display: none">красив</span>.
 
<div class="gext_show"><span>Этот город очень <b>красив</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

3. Эти тексты очень <input type="text" value="интересный" style="width: 90px;"><span class="gext_answer" style="display: none">интересны</span>.
 
<div class="gext_show"><span> Эти тексты очень <b>интересны</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

4. Этот пакет очень <input type="text" value="лёгкий" ><span class="gext_answer" style="display: none">лёгок</span>.
 
<div class="gext_show"><span>Этот пакет очень <b>лёгок</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

5. Эта сумка довольно <input type="text" value="легкий" ><span class="gext_answer" style="display: none">легка</span>.
 
<div class="gext_show"><span>Эта сумка довольно <b>легка</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

6. Это задание очень <input type="text" value="важный"><span class="gext_answer" style="display: none">важно</span>.
 
<div class="gext_show"> <span>Это задание очень <b>важно</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

7. Эта книга очень <input type="text" value="интересный" style="width: 90px;" ><span class="gext_answer" style="display: none">интересна</span>.
 
<div class="gext_show"><span>Эта книга очень <b>интересна</b></span>. &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

8. Эта улица очень <input type="text" value="красивый" style="width: 70px;"><span class="gext_answer" style="display: none">красива</span>.
 
<div class="gext_show"> <span>Эта улица очень <b>красива</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

9. Эти игрушки очень <input type="text" value="красивый" style="width: 70px;"><span class="gext_answer" style="display: none">красивы</span>.
 
<div class="gext_show"> <span>Эти игрушки очень <b>красивы</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

10. Этот проект очень <input type="text" value="важный"><span class="gext_answer" style="display: none">важен</span>.
 
<div class="gext_show"> <span>Этот проект очень <b>важен</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

11. Это упражнение очень <input type="text" value="интересный" style="width: 90px;"><span class="gext_answer" style="display: none">интересно</span>.
 
<div class="gext_show"><span>Это упражнение очень <b>интересно</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

12. Это кресло довольно <input type="text" value="легкий" ><span class="gext_answer" style="display: none">легко</span>.
 
<div class="gext_show"> <span>Это кресло довольно <b>легко</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

13. Этот фильм очень <input type="text" value="интересный" style="width: 90px;"><span class="gext_answer" style="display: none">интересен</span>.
 
<div class="gext_show"> <span>Этот фильм очень <b>интересен</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

14. Это здание очень <input type="text" value="красивый" style="width: 75px;" ><span class="gext_answer" style="display: none">красиво</span>.
 
<div class="gext_show"><span>Это здание очень <b>красиво</b></span>. &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

15. Эти упражнения очень <input type="text" value="легкий"><span class="gext_answer" style="display: none">легки</span>.
 
<div class="gext_show"> <span>Эти упражнения очень <b>легки</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

16. Эта работа очень <input type="text" value="важный" ><span class="gext_answer" style="display: none">важна</span>.
 
<div class="gext_show"> <span>Эта работа очень <b>важна</b>.</span> &nbsp;</div>

</div>

<p class="gext_check"><input type="button" class="gext_check_btn" value="Check answers" > <input type="button" value="Display answers" class="gext_answer_show"></p>

</div>


</div>
<div class="block-clb">
     <div class="block-crb">
    	  <div class="block-btm">
    		   </div>
    	  </div>
     </div>		
</div>





<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>









</div>
</div>

<script type="text/javascript">
currentSection="grammar";
</script>
