<% @page_title = 'Online Russian Vocabulary: Airport' %>
<% @page_meta = {'description' => "Russian online vocabulary for learning words and phrases related to the topic Airport"} %>
<% @with_rec = true %>
<% @has_audio = true %>
<% content_for :special_js_css do %>
<style type="text/css">
h2.page {margin-bottom: 0px;}
</style>
<% end %>
<div class="hint_wrap">
<div class="hint_button">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <li><a href="airport-flashcards.html"> Flashcards: Airport</a></li>
            <li><a href="airport-test.html"> Tests: Airport</a></li>
        </ul>
        <%= render :partial => 'colorder_accent' %> 
  </div>
</div>
</div>

<h2 class="page">Airport</h2>
<h3 class="page-path"> 
<span class="int-links"><a href="/vocabulary.html">Vocabulary</a> <span class="int-arrow">--></span> Airport</span>
</h3>

<div id="pagecontent"><div id="content">

<div class="dict_wrapper">

<div class="voc-wordlist">
<table class="voc_bord" align="center" cellspacing="0">
<tr>
<td>

<table class="diction" cellpadding="0" cellspacing="0" align="center">
<thead>
<tr>
	<td></td>
	<td></td>
	<td></td>
</tr>
</thead>
<tbody>
  <tr class="trow">
    <td class="original" valign="top">Самолёт
    </td>
    <td class="transcript" valign="top">
      <table onclick="playSound('sound01301.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td>[sama<span class="sftv">l</span><span class="sfty">y</span><span class="acct">o</span>t]
          </td>
          <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
          </td>
        </tr>
      </table>
    </td>
    <td class="translation" valign="top">Plane
    </td>
  </tr>
  <tr class="trow">
    <td class="original" valign="top">На борт<span class="acco">у</span>
    </td>
    <td class="transcript" valign="top">
      <table onclick="playSound('sound01302.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td>[na bart<span class="acct">oo</span>]
          </td>
          <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
          </td>
        </tr>
      </table>
    </td>
    <td class="translation" valign="top">On board
    </td>
  </tr>
  <tr class="trow">
    <td class="original" valign="top">Взлёт
    </td>
    <td class="transcript" valign="top">
      <table onclick="playSound('sound01303.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td>[vz<span class="sftv">l</span><span class="sfty">y</span><span class="acct">o</span>t]
          </td>
          <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
          </td>
        </tr>
      </table>
    </td>
    <td class="translation" valign="top">Take-off
    </td>
  </tr>
  <tr class="trow">
    <td class="original" valign="top">Полёт
    </td>
    <td class="transcript" valign="top">
      <table onclick="playSound('sound01304.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td>[pa<span class="sftv">l</span><span class="sfty">y</span><span class="acct">o</span>t]
          </td>
          <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
          </td>
        </tr>
      </table>
    </td>
    <td class="translation" valign="top">Flight
    </td>
  </tr>
  <tr class="trow">
    <td class="original" valign="top">Пос<span class="acco">а</span>дка
    </td>
    <td class="transcript" valign="top">
      <table onclick="playSound('sound01305.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td>[pas<span class="acct">a</span>tka]
          </td>
          <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
          </td>
        </tr>
      </table>
    </td>
    <td class="translation" valign="top">Landing
    </td>
  </tr>
  <tr class="trow">
    <td class="original" valign="top">Р<span class="acco">е</span>йс
    </td>
    <td class="transcript" valign="top">
      <table onclick="playSound('sound01306.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td>[<span class="sftv">r</span><span class="sfty">y</span><span class="acct">e</span>ys]
          </td>
          <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
          </td>
        </tr>
      </table>
    </td>
    <td class="translation" valign="top">Flight
    </td>
  </tr>
  <tr class="trow">
    <td class="original" valign="top">Междунар<span class="acco">о</span>дный р<span class="acco">е</span>йс
    </td>
    <td class="transcript" valign="top">
      <table onclick="playSound('sound01307.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td>[mijdoonar<span class="acct">o</span>dn<span class="ry">i</span>y <span class="sftv">r</span><span class="sfty">y</span><span class="acct">e</span>ys]
          </td>
          <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
          </td>
        </tr>
      </table>
    </td>
    <td class="translation" valign="top">International flight
    </td>
  </tr>
  <tr class="trow">
    <td class="original" valign="top">&nbsp;
    </td>
    <td class="transcript" valign="top">&nbsp;
    </td>
    <td class="translation" valign="top">&nbsp;
    </td>
  </tr>
  <tr class="trow">
    <td class="original" valign="top">Отправл<span class="acco">е</span>ние
    </td>
    <td class="transcript" valign="top">
      <table onclick="playSound('sound01308.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td>[atprav<span class="sftv">l</span><span class="sfty">y</span><span class="acct">e</span>niye]
          </td>
          <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
          </td>
        </tr>
      </table>
    </td>
    <td class="translation" valign="top">Departure
    </td>
  </tr>
  <tr class="trow">
    <td class="original" valign="top">Пункт назнач<span class="acco">е</span>ния
    </td>
    <td class="transcript" valign="top">
      <table onclick="playSound('sound01309.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td>[p<span class="acct">oo</span>nkt naznach<span class="acct">e</span>niya]
          </td>
          <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
          </td>
        </tr>
      </table>
    </td>
    <td class="translation" valign="top">Destination
    </td>
  </tr>
  <tr class="trow">
    <td class="original" valign="top">Приб<span class="acco">ы</span>тие
    </td>
    <td class="transcript" valign="top">
      <table onclick="playSound('sound01310.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td>[prib<span class="acct"><span class="ry">i</span></span>tiye]
          </td>
          <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
          </td>
        </tr>
      </table>
    </td>
    <td class="translation" valign="top">Arrival
    </td>
  </tr>
  <tr class="trow">
    <td class="original" valign="top">Зад<span class="acco">е</span>рживается
    </td>
    <td class="transcript" valign="top">
      <table onclick="playSound('sound01311.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td>[za<span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span>rj<span class="ry">i</span>vaitsa]
          </td>
          <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
          </td>
        </tr>
      </table>
    </td>
    <td class="translation" valign="top">Delayed
    </td>
  </tr>
  <tr class="trow">
    <td class="original" valign="top">Отменён
    </td>
    <td class="transcript" valign="top">
      <table onclick="playSound('sound01312.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td>[atmi<span class="sftv">n</span><span class="sfty">y</span><span class="acct">o</span>n]
          </td>
          <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
          </td>
        </tr>
      </table>
    </td>
    <td class="translation" valign="top">Cancelled
    </td>
  </tr>
  <tr class="trow">
    <td class="original" valign="top">&nbsp;
    </td>
    <td class="transcript" valign="top">&nbsp;
    </td>
    <td class="translation" valign="top">&nbsp;
    </td>
  </tr>
  <tr class="trow">
    <td class="original" valign="top">Регистр<span class="acco">а</span>ция
    </td>
    <td class="transcript" valign="top">
      <table onclick="playSound('sound01313.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td>[rigistr<span class="acct">a</span>ts<span class="ry">i</span>ya]
          </td>
          <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
          </td>
        </tr>
      </table>
    </td>
    <td class="translation" valign="top">Check-in
    </td>
  </tr>
  <tr class="trow">
    <td class="original" valign="top">М<span class="acco">е</span>сто регистр<span class="acco">а</span>ции
    </td>
    <td class="transcript" valign="top">
      <table onclick="playSound('sound01314.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td>[<span class="sftv">m</span><span class="sfty">y</span><span class="acct">e</span>sta rigistr<span class="acct">a</span>ts<span class="ry">i</span>i]
          </td>
          <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
          </td>
        </tr>
      </table>
    </td>
    <td class="translation" valign="top">Check-in desk
    </td>
  </tr>
  <tr class="trow">
    <td class="original" valign="top">П<span class="acco">а</span>спортный контр<span class="acco">о</span>ль
    </td>
    <td class="transcript" valign="top">
      <table onclick="playSound('sound01315.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td>[p<span class="acct">a</span>spartn<span class="ry">i</span>y kantr<span class="acct">o</span><span class="sftc">l</span>]
          </td>
          <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
          </td>
        </tr>
      </table>
    </td>
    <td class="translation" valign="top">Passport control
    </td>
  </tr>
  <tr class="trow">
    <td class="original" valign="top">Сл<span class="acco">у</span>жащий п<span class="acco">а</span>спортного контр<span class="acco">о</span>ля
    </td>
    <td class="transcript" valign="top">
      <table onclick="playSound('sound01316.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td>[sl<span class="acct">oo</span>jaschiy p<span class="acct">a</span>spartnava kantr<span class="acct">o</span><span class="sftv">l</span><span class="sfty">y</span>a]
          </td>
          <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
          </td>
        </tr>
      </table>
    </td>
    <td class="translation" valign="top">Passport control officer
    </td>
  </tr>
  <tr class="trow">
    <td class="original" valign="top">Там<span class="acco">о</span>жня
    </td>
    <td class="transcript" valign="top">
      <table onclick="playSound('sound01317.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td>[tam<span class="acct">o</span>j<span class="sftv">n</span><span class="sfty">y</span>a]
          </td>
          <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
          </td>
        </tr>
      </table>
    </td>
    <td class="translation" valign="top">Customs
    </td>
  </tr>
  <tr class="trow">
    <td class="original" valign="top">Там<span class="acco">о</span>женная деклар<span class="acco">а</span>ция
    </td>
    <td class="transcript" valign="top">
      <table onclick="playSound('sound01318.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td>[tam<span class="acct">o</span>j<span class="ry">i</span>naya diklar<span class="acct">a</span>ts<span class="ry">i</span>ya]
          </td>
          <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
          </td>
        </tr>
      </table>
    </td>
    <td class="translation" valign="top">Customs declaration
    </td>
  </tr>
  <tr class="trow">
    <td class="original" valign="top">Баг<span class="acco">а</span>ж
    </td>
    <td class="transcript" valign="top">
      <table onclick="playSound('sound01319.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td>[bag<span class="acct">a</span>sh]
          </td>
          <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
          </td>
        </tr>
      </table>
    </td>
    <td class="translation" valign="top">Luggage
    </td>
  </tr>
  <tr class="trow">
    <td class="original" valign="top">Ручн<span class="acco">о</span>й баг<span class="acco">а</span>ж
    </td>
    <td class="transcript" valign="top">
      <table onclick="playSound('sound01320.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td>[roochn<span class="acct">o</span>y bag<span class="acct">a</span>sh]
          </td>
          <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
          </td>
        </tr>
      </table>
    </td>
    <td class="translation" valign="top">Hand luggage
    </td>
  </tr>
  <tr class="trow">
    <td class="original" valign="top">В<span class="acco">ы</span>дача багаж<span class="acco">а</span>
    </td>
    <td class="transcript" valign="top">
      <table onclick="playSound('sound01321.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td>[v<span class="acct"><span class="ry">i</span></span>dacha bagaj<span class="acct">a</span>]
          </td>
          <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
          </td>
        </tr>
      </table>
    </td>
    <td class="translation" valign="top">Baggage claim area
    </td>
  </tr>
  <tr class="trow">
    <td class="original" valign="top">Ярл<span class="acco">ы</span>к к багажу
    </td>
    <td class="transcript" valign="top">
      <table onclick="playSound('sound01322.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td>[yirl<span class="acct"><span class="ry">i</span></span>k k bagaj<span class="acct">oo</span>]
          </td>
          <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
          </td>
        </tr>
      </table>
    </td>
    <td class="translation" valign="top">Luggage tag
    </td>
  </tr>
  <tr class="trow">
    <td class="original" valign="top">Спр<span class="acco">а</span>вочная
    </td>
    <td class="transcript" valign="top">
      <table onclick="playSound('sound01323.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td>[spr<span class="acct">a</span>vachnaya]
          </td>
          <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
          </td>
        </tr>
      </table>
    </td>
    <td class="translation" valign="top">Information office
    </td>
  </tr>
  <tr class="trow">
    <td class="original" valign="top">Вход
    </td>
    <td class="transcript" valign="top">
      <table onclick="playSound('sound01324.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td>[fh<span class="acct">o</span>t]
          </td>
          <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
          </td>
        </tr>
      </table>
    </td>
    <td class="translation" valign="top">Entrance
    </td>
  </tr>
  <tr class="trow">
    <td class="original" valign="top">В<span class="acco">ы</span>ход
    </td>
    <td class="transcript" valign="top">
      <table onclick="playSound('sound01325.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td>[v<span class="acct"><span class="ry">i</span></span>hat]
          </td>
          <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
          </td>
        </tr>
      </table>
    </td>
    <td class="translation" valign="top">Exit
    </td>
  </tr>
</tbody>
<tfoot>
<tr>
	<td></td>
	<td></td>
	<td></td>
</tr>
</tfoot>  
</table>

</td>
</tr>
</table>
</div><!-- end of voc-wordlist-->

</div>

<table class="voc-links voc-link-first " align="center" cellspacing="0"><tr>
	<td class="voc-space">Learn these words and expressions with our &nbsp;<a href="airport-flashcards.html">Flashcards >></a></td>
</tr></table>
<table class="voc-links voc-link-last" align="center" cellspacing="0"><tr>
	<td class="voc-space">Check how you know this topic with our &nbsp;<a href="airport-test.html">Lexical tests >></a></td>
</tr></table>

</div>
</div>

<script type="text/javascript">
currentSection="words";
</script>
