<% @page_title = 'Russian language online: Exercises  for the topic Airport' %>
<% @page_meta = {'description' => "Online exercises for learning Russian words and phrases related to the topic Airport"} %>
<% @with_rec = true %>
<% @has_audio = true %>

<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Recommended links</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
     				<li><a href="airport.html">Airport</a></li>
     				<li><a href="airport-test.html">Tests: Airport</a></li>
    		</ul>
	</div>
</div>
</div>



<h2 class="page">Airport (exercises)</h2>

<p class="task">Before doing the following exercises, please revise the topic <a title="Airport" href="airport.html">Airport</a></p>

<hr/>

<h3>Exercise 1</h3>

<%= render :partial => 'tt_exercise' %>


<hr/>


<h3>Exercise 2</h3>


<div class="start_btn">
<input type="button" value="START" onclick="startYN()" />
</div>
<div id="yn_box">

	<div id="yn_place">


		<div id="trans_wrapper">
			<div id="yn_trans" style="background-color: transparent; border-width: 0px;">
				<div>&nbsp;
				</div>
			</div>
		</div>

		<div id="yn_sound">
			<div class="play">
			
			</div>
		</div>
		
		<div>Is this a correct translation? </div>
		<br/>
		<div id="yn_btns">
		<input id="yes_btn" type="button" value="YES" /> <input id="no_btn" type="button" value="NO" />
		</div>
		<div id="show_check"></div>
		<br>
		<div id="yn_info"></div>
	</div>
<script type="text/javascript">





</script>
</div>


<hr/>


<h3>Exercise 3</h3>


<div class="start_btn">
<input type="button" value="START" onclick="startCO()" />
</div>
<div id="co_box">
<div id="co_copy"></div>
	<div id="co_place">
		<div class="co_task_wrapper">
			<div id="co_task"><div>&nbsp;</div></div>
		</div>
		
		<div class="co_choose">Choose translation from the options below: </div>

		<div class="co_options_container">
		<div class="co_options_wrapper">
			<div id="co_option0" class="co_options"><div>&nbsp;</div></div>
			<div id="co_option1" class="co_options"><div>&nbsp;</div></div>
			<div id="co_option2" class="co_options"><div>&nbsp;</div></div>
			<div style="clear: both;"></div>
		</div>
		</div>

		<div style="text-align: center; padding-top: 30px;">
		<div id="co_correctness"><div>&nbsp;</div></div>
		</div>
		
		<div class="co_counter"> </div>

	</div>

</div>









<script type="text/javascript">

////////////////// array for test together 

var ttMassive=new Array(

['самолёт','plane'],['посадка','landing'],['рейс','flight'],['международный рейс','international flight'],['отправление','departure'],
['пункт назначения','destination'],['прибытие','arrival'],['задерживается','delayed'],
['отменён','cancelled'],['регистрация','check-in'],['паспортный контроль','passport control'],['таможня','customs'],['багаж','luggage'],
['выдача багажа','baggage claim area'],['справочная','information office']

);

/////////////////////// array for yes/no

var massive=new Array(

['sounds/sound01301.mp3','plane'],['sounds/sound01305.mp3','landing'],['sounds/sound01306.mp3','flight'],['sounds/sound01307.mp3','international flight'],['sounds/sound01308.mp3','departure'],
['sounds/sound01309.mp3','destination'],['sounds/sound01310.mp3','arrival'],['sounds/sound01311.mp3','delayed'],
['sounds/sound01312.mp3','cancelled'],['sounds/sound01313.mp3','check-in'],['sounds/sound01315.mp3','passport control'],
['sounds/sound01317.mp3','customs'],['sounds/sound01319.mp3','luggage'],['sounds/sound01321.mp3','baggage claim area'],['sounds/sound01323.mp3','information office']


);

ynQuestNum=10;

////////////////////// array for choose option
var co_massive=new Array(

['самолёт','plane'],['посадка','landing'],['рейс','flight'],['международный рейс','international flight'],['отправление','departure'],
['пункт назначения','destination'],['прибытие','arrival'],['задерживается','delayed'],
['отменён','cancelled'],['регистрация','check-in'],['паспортный контроль','passport control'],['таможня','customs'],['багаж','luggage'],
['выдача багажа','baggage claim area'],['справочная','information office']

);

coQuestNum=10;

</script>

<hr/>

<p class="after-exercise">If you want to check how you know these words, go to <a title="Airport tests" href="airport-test.html"> Tests: Airport</a></p>



<script type="text/javascript">
currentSection="words";
</script>
