<% @page_title = 'Online Russian Vocabulary: Bank and Money' %>
<% @page_meta = {'description' => "Russian online vocabulary for learning words and phrases related to the topic Bank and Money"} %>
<% @with_rec = true %>
<% @has_audio = true %>
<% content_for :special_js_css do %>
<style type="text/css">
h2.page {margin-bottom: 0px;}
</style>
<% end %>
<div class="hint_wrap">
<div class="hint_button">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <!-- li><a href="bank-flashcards.html"> Flashcards: Bank and Money</a></li>
            <li><a href="bank-test.html"> Tests: Bank and Money</a></li -->
        </ul>
        <%= render :partial => 'colorder_accent' %> 
  </div>
</div>
</div>



<h2 class="page">Bank and Money</h2>
<h3 class="page-path"> 
<span class="int-links"><a href="/vocabulary.html">Vocabulary</a> <span class="int-arrow">--></span> Bank and Money</span>
</h3>

<div id="pagecontent"><div id="content">

<div class="dict_wrapper">

<div class="voc-wordlist">
<table class="voc_bord" align="center" cellspacing="0">
<tr>
<td>

<table class="diction" cellpadding="0" cellspacing="0" align="center">
<thead>
<tr>
	<td></td>
	<td></td>
	<td></td>
</tr>
</thead>
<tbody>
	<tr class="trow">
		<td class="original" valign="top">Д<span class="acco">е</span>ньги
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound13101.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">

				<tr>
					<td>[<span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span><span class="sftc">n</span>gi]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>

			</table>
		</td>
		<td class="translation" valign="top">Money 
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Рубль
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound13102.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">

				<tr>
					<td>[r<span class="acct">oo</span>b<span class="sftc">l</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>

			</table>
		</td>
		<td class="translation" valign="top">Ruble
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Д<span class="acco">о</span>ллар
		</td>
		<td class="transcript" valign="top">

			<table onclick="playSound('sound13103.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[d<span class="acct">o</span>lar]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>

			</table>
		</td>
		<td class="translation" valign="top">Dollar
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Фунт
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound13104.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">

				<tr>
					<td>[f<span class="acct">oo</span>nt]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>

		</td>
		<td class="translation" valign="top">Pound
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top"><span class="acco">Е</span>вро
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound13105.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">

				<tr>
					<td>[y<span class="acct">e</span>vra]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>

		</td>
		<td class="translation" valign="top">Euro
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">И<span class="acco">е</span>на
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound13106.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">

				<tr>
					<td>[y<span class="acct">e</span>na]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>

		</td>
		<td class="translation" valign="top">Yen
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Вал<span class="acco">ю</span>та
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound13136.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">

				<tr>
					<td>[va<span class="sftv">l</span><span class="sfty">y</span><span class="acct">oo</span>ta]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>

			</table>
		</td>
		<td class="translation" valign="top">Currency
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Нал<span class="acco">и</span>чные
		</td>
		<td class="transcript" valign="top">

			<table onclick="playSound('sound13107.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[nal<span class="acct">i</span>chn<span class="ry">i</span>ye]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>

				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Cash
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Куп<span class="acco">ю</span>ры
		</td>

		<td class="transcript" valign="top">
			<table onclick="playSound('sound13108.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[koo<span class="sftv">p</span><span class="sfty">y</span><span class="acct">oo</span>r<span class="ry">i</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>

					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Bank notes
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Мон<span class="acco">е</span>ты
		</td>

		<td class="transcript" valign="top">
			<table onclick="playSound('sound13109.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[ma<span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span>t<span class="ry">i</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>

					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Coins
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">&nbsp;

		</td>
		<td class="transcript" valign="top">&nbsp;
		</td>
		<td class="translation" valign="top">&nbsp;
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">К<span class="acco">а</span>рта
		</td>

		<td class="transcript" valign="top">
			<table onclick="playSound('sound13110.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[k<span class="acct">a</span>rta]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>

				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Card
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Б<span class="acco">а</span>нковская к<span class="acco">а</span>рта
		</td>

		<td class="transcript" valign="top">
			<table onclick="playSound('sound13111.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[b<span class="acct">a</span>nkafskaya k<span class="acct">a</span>rta]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>

					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Bank card
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Кред<span class="acco">и</span>тная к<span class="acco">а</span>рта
		</td>

		<td class="transcript" valign="top">
			<table onclick="playSound('sound13112.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[krid<span class="acct">i</span>tnaya k<span class="acct">a</span>rta]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>

					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Credit card
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Д<span class="acco">е</span>бетовая к<span class="acco">а</span>рта
		</td>

		<td class="transcript" valign="top">
			<table onclick="playSound('sound13113.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[<span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span>bitavaya k<span class="acct">a</span>rta]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>

					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Debit card
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">&nbsp;

		</td>
		<td class="transcript" valign="top">&nbsp;
		</td>
		<td class="translation" valign="top">&nbsp;
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Чек
		</td>

		<td class="transcript" valign="top">
			<table onclick="playSound('sound13114.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[ch<span class="acct">e</span>k]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>

				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Cheque
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Вып<span class="acco">и</span>сывать чек
		</td>

		<td class="transcript" valign="top">
			<table onclick="playSound('sound13115.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[v<span class="ry">i</span>p<span class="acct">i</span>s<span class="ry">i</span>va<span class="sftc">t</span> ch<span class="acct">e</span>k]
					</td>

					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Draw a cheque
		</td>
	</tr>

	<tr class="trow">
		<td class="original" valign="top">Ч<span class="acco">е</span>ковая кн<span class="acco">и</span>жка
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound13116.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[ch<span class="acct">e</span>kavaya kn<span class="acct">i</span>shka]
					</td>

					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Cheque-book
		</td>
	</tr>

	<tr class="trow">
		<td class="original" valign="top">&nbsp;
		</td>
		<td class="transcript" valign="top">&nbsp;
		</td>
		<td class="translation" valign="top">&nbsp;
		</td>
	</tr>
	<tr class="trow">

		<td class="original" valign="top">Плат<span class="acco">и</span>ть 
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound13117.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[plat<span class="acct">i</span><span class="sftc">t</span>]
					</td>

					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Pay
		</td>
	</tr>

	<tr class="trow">
		<td class="original" valign="top">Плат<span class="acco">и</span>ть нал<span class="acco">и</span>чными
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound13118.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[plat<span class="acct">i</span><span class="sftc">t</span> nal<span class="acct">i</span>chn<span class="ry">i</span>mi]
					</td>

					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Pay in cash
		</td>
	</tr>

	<tr class="trow">
		<td class="original" valign="top">Плат<span class="acco">и</span>ть к<span class="acco">а</span>ртой
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound13119.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[plat<span class="acct">i</span><span class="sftc">t</span> k<span class="acct">a</span>rtay]
					</td>

					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Pay by card 
		</td>
	</tr>

	<tr class="trow">
		<td class="original" valign="top">Плат<span class="acco">и</span>ть ч<span class="acco">е</span>ком
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound13120.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[plat<span class="acct">i</span><span class="sftc">t</span> ch<span class="acct">e</span>kam]
					</td>

					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Pay by cheque
		</td>
	</tr>

	<tr class="trow">
		<td class="original" valign="top">&nbsp;
		</td>
		<td class="transcript" valign="top">&nbsp;
		</td>
		<td class="translation" valign="top">&nbsp;
		</td>
	</tr>
	<tr class="trow">

		<td class="original" valign="top">Банк
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound13121.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[b<span class="acct">a</span>nk]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>

					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Bank 
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Обм<span class="acco">е</span>н вал<span class="acco">ю</span>ты 
		</td>

		<td class="transcript" valign="top">
			<table onclick="playSound('sound13122.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[ab<span class="sftv">m</span><span class="sfty">y</span><span class="acct">e</span>n va<span class="sftv">l</span><span class="sfty">y</span><span class="acct">oo</span>t<span class="ry">i</span>]
					</td>

					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Currency exchange
		</td>
	</tr>

	<tr class="trow">
		<td class="original" valign="top">Обмен<span class="acco">я</span>ть д<span class="acco">е</span>ньги 
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound13123.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[abmi<span class="sftv">n</span><span class="sfty">y</span><span class="acct">a</span><span class="sftc">t</span> <span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span><span class="sftc">n</span>gi]
					</td>

					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Exchange 
		</td>
	</tr>

	<tr class="trow">
		<td class="original" valign="top">Класть д<span class="acco">е</span>ньги на счёт
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound13124.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[kl<span class="acct">a</span><span class="sftc">s</span><span class="sftc">t</span> <span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span><span class="sftc">n</span>gi na sch<span class="acct">o</span>t]
					</td>

					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Put money into the bank account
		</td>
	</tr>

	<tr class="trow">
		<td class="original" valign="top">Сним<span class="acco">а</span>ть д<span class="acco">е</span>ньги со счёта
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound13125.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[snim<span class="acct">a</span><span class="sftc">t</span> <span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span><span class="sftc">n</span>gi sa sch<span class="acct">o</span>ta]
					</td>

					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Draw the money from the bank account
		</td>
	</tr>

	<tr class="trow">
		<td class="original" valign="top">Откр<span class="acco">ы</span>ть счёт
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound13126.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[atkr<span class="acct"><span class="ry">i</span></span><span class="sftc">t</span> sch<span class="acct">o</span>t]
					</td>

					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Establish the account
		</td>
	</tr>

	<tr class="trow">
		<td class="original" valign="top">Закр<span class="acco">ы</span>ть счёт
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound13127.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[zakr<span class="acct"><span class="ry">i</span></span><span class="sftc">t</span> sch<span class="acct">o</span>t]
					</td>

					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Close an account
		</td>
	</tr>

	<tr class="trow">
		<td class="original" valign="top">&nbsp;
		</td>
		<td class="transcript" valign="top">&nbsp;
		</td>
		<td class="translation" valign="top">&nbsp;
		</td>
	</tr>
	<tr class="trow">

		<td class="original" valign="top">Сним<span class="acco">а</span>ть д<span class="acco">е</span>ньги из банком<span class="acco">а</span>та
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound13128.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[snim<span class="acct">a</span><span class="sftc">t</span> <span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span><span class="sftc">n</span>gi iz bankam<span class="acct">a</span>ta]
					</td>

					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Draw the money from cash machine
		</td>
	</tr>

	<tr class="trow">
		<td class="original" valign="top">Ввод<span class="acco">и</span>ть к<span class="acco">а</span>рту
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound13129.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[vvad<span class="acct">i</span><span class="sftc">t</span> k<span class="acct">a</span>rtoo]
					</td>

					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Insert the card 
		</td>
	</tr>

	<tr class="trow">
		<td class="original" valign="top">Набир<span class="acco">а</span>ть секр<span class="acco">е</span>тный код
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound13130.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[nabir<span class="acct">a</span><span class="sftc">t</span> sik<span class="sftv">r</span><span class="sfty">y</span><span class="acct">e</span>tn<span class="ry">i</span>y k<span class="acct">o</span>t]
					</td>

					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Enter a secret code 
		</td>
	</tr>

	<tr class="trow">
		<td class="original" valign="top">Подтверд<span class="acco">и</span>ть код
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound13131.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[pattvird<span class="acct">i</span><span class="sftc">t</span> k<span class="acct">o</span>t]
					</td>

					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Validate the code
		</td>
	</tr>

	<tr class="trow">
		<td class="original" valign="top">Указ<span class="acco">а</span>ть с<span class="acco">у</span>мму
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound13132.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[ookaz<span class="acct">a</span><span class="sftc">t</span> s<span class="acct">oo</span>mmoo]
					</td>

					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Enter the amount
		</td>
	</tr>

	<tr class="trow">
		<td class="original" valign="top">Ждать
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound13133.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[jd<span class="acct">a</span><span class="sftc">t</span>]
					</td>

					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Wait  
		</td>
	</tr>

	<tr class="trow">
		<td class="original" valign="top">Забир<span class="acco">а</span>ть к<span class="acco">а</span>рту
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound13134.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[zabir<span class="acct">a</span><span class="sftc">t</span> k<span class="acct">a</span>rtoo]
					</td>

					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Take the card back 
		</td>
	</tr>

	<tr class="trow">
		<td class="original" valign="top">Получ<span class="acco">и</span>ть д<span class="acco">е</span>ньги
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound13135.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[palooch<span class="acct">i</span><span class="sftc">t</span> <span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span><span class="sftc">n</span>gi]
					</td>

					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Take the money 
		</td>
	</tr>
</tbody>
<tfoot>
<tr>
	<td></td>
	<td></td>
	<td></td>
</tr>
</tfoot>  
</table>

</td>
</tr>
</table>
</div><!-- end of voc-wordlist-->

</div>

<!-- table class="voc-links voc-link-first " align="center" cellspacing="0"><tr>
	<td class="voc-space">Learn these words and expressions with our &nbsp;<a href="bank-flashcards.html">Flashcards >></a></td>
</tr></table>
<table class="voc-links voc-link-last" align="center" cellspacing="0"><tr>
	<td class="voc-space">Check how you know this topic with our &nbsp;<a href="bank-test.html">Lexical tests >></a></td>
</tr></table -->
<br><br><br><br><br><br><br><br><br><br>
</div>
</div>

<script type="text/javascript">
currentSection="words";
</script>