<% @page_title = 'Russian Language Online: Russian letters and their meanings' %>
<% @page_meta = {'description' => "Russian letters and their meanings description with audio examples"} %>
<% @with_rec = true %>
<% @has_audio = true %>



<% content_for :special_js_css do %>
<%= stylesheet_link_tag 'stylesounds' %>

<style type="text/css">
.sound-letter td {
width: 20%;
}
.italic-letter {
font-style: italic;
font-family: Times New Roman;
}
</style>
<% end %>

<div class="hint_wrap">
<div class="hint_button" style="float: right;">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <li><a href="reading-info.html">General info about reading in Russian</a></li>
            <li><a href="alphabet.html">Russian alphabet</a></li>
            <li><a href="basic-reading-rules.html">Basic rules of reading </a></li>
            <li><a href="reading-practice.html">Training exercises</a></li>
        </ul>
        <%= render :partial => 'preload_option' %>
  </div>
</div>
</div>
<div id="pagecontent"><div id="content">


<h2 class="page">Russian Letters<br/> and their Basic Meanings</h2>
<p>
There are 33 letters in <a href="alphabet.html">Russian alphabet</a>. 10 letters designate vowel sounds, 21 letters designate consonant letters and there are 2 special signs to indicate softness and hardness of consonants. Some Russian letters are similar to English letters and designate similar sounds, others are similar to English ones, but represent different sounds. There are also Russian letters which have nothing in common with English letters.
</p>
<p>
All letters have traditional names. As we have already mentioned, Russian letters may denote several sounds, i.e. have several meanings. Among all meanings of the letters, we distinguish between essential and secondary meanings. We regard the letter meanings as basic if they coincide with the alphabetical names of the letters. Secondary meanings usually encounter in combinations of letters or in some positions of letters in words and word-combinations. 
You should take into account that even if you know only the basic meanings of Russian letters you will still read Russian words quite understandably for native speakers.
</p>
<p>
On this page, we will examine names and basic meanings of Russian letters. 
</p>
<p>
As for the letters which designate vowel sounds, their basic meanings are the same as their alphabetical names. Names of letters denoting consonant sounds, except Russian letter <span class="letter">й</span>, consist of two sounds, a consonant sound and a vowel sound. We will see below that the basic meaning of a consonant letter is the consonant sound which forms the name of this letter. 
</p>
<p>
Before you start learning Russian letters and their names, we would like to add that, as in English, in Russian there are uppercase and lowercase letters which are both demonstrated in the following table. Below you will also find letters in italics. 
</p>
<h3 style="text-align: center">Letters denoting vowel sounds:</h3>

<table class="sound-letter" cellspacing="0" align="center">
  <tr>
    <th>Uppercase</th>
    <th>Lowercase</th>
    <th>Italic</th>
    <th>Name</th>
    <th class="thbrd">Basic Meaning</th>
  </tr>
  <tr class="trow">
    <td>A</td>
    <td>a</td>
    <td class="italic-letter">A a</td>
    <td><span class="sound" onclick="playSound('sound101.mp3')">[a] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
    <td><span class="sound" onclick="playSound('sound201.mp3')">[a] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
  </tr>
  <tr class="trow">
    <td>Е</td>
    <td>е</td>
    <td class="italic-letter">Е е</td>
    <td><span class="sound" onclick="playSound('sound106.mp3')">[ye] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
    <td><span class="sound" onclick="playSound('sound106.mp3')">[ye] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
  </tr>
  <tr class="trow">
    <td>Ё</td>
    <td>ё</td>
    <td class="italic-letter">Ё ё</td>
    <td><span class="sound" onclick="playSound('sound107.mp3')">[yo] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
    <td><span class="sound" onclick="playSound('sound107.mp3')">[yo] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
  </tr>
  <tr class="trow">
    <td>И</td>
    <td>и</td>
    <td class="italic-letter">И и</td>
    <td><span class="sound" onclick="playSound('sound110.mp3')">[i] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
    <td><span class="sound" onclick="playSound('sound205.mp3')">[i] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
  </tr>
  <tr class="trow">
    <td>О</td>
    <td>о</td>
    <td class="italic-letter">O o</td>
    <td><span class="sound" onclick="playSound('sound116.mp3')">[o] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
    <td><span class="sound" onclick="playSound('sound203.mp3')">[o] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
  </tr>
  <tr class="trow">
    <td>У</td>
    <td>у</td>
    <td class="italic-letter">У у</td>
    <td><span class="sound" onclick="playSound('sound121.mp3')">[oo] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
    <td><span class="sound" onclick="playSound('sound204.mp3')">[oo] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
  </tr>
  <tr class="trow">
    <td>Ы</td>
    <td>ы</td>
    <td class="italic-letter">Ы ы</td>
    <td><span class="sound" onclick="playSound('sound129.mp3')">[<span class="ry">i</span>] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
    <td><span class="sound" onclick="playSound('sound206.mp3')">[<span class="ry">i</span>] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
  </tr>
  <tr class="trow">
    <td>Э</td>
    <td>э</td>
    <td class="italic-letter">Э э</td>
    <td><span class="sound" onclick="playSound('sound131.mp3')">[e] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
    <td><span class="sound" onclick="playSound('sound202.mp3')">[e] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
  </tr>
  <tr class="trow">
    <td>Ю</td>
    <td>ю</td>
    <td class="italic-letter">Ю ю</td>
    <td><span class="sound" onclick="playSound('sound132.mp3')">[yoo] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
    <td><span class="sound" onclick="playSound('sound132.mp3')">[yoo] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
  </tr>
  <tr class="trow">
    <td>Я</td>
    <td>я</td>
    <td class="italic-letter">Я я</td>
    <td><span class="sound" onclick="playSound('sound133.mp3')">[ya] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
    <td><span class="sound" onclick="playSound('sound133.mp3')">[ya] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
  </tr>
</table>

<br>

<h3 style="text-align: center">Letters denoting consonant sounds:</h3>

<table class="sound-letter" cellspacing="0" align="center">
  <tr>
    <th>Uppercase</th>
    <th>Lowercase</th>
    <th>Italic</th>
    <th>Name</th>
    <th class="thbrd">Basic Meaning</th>
  </tr>
  <tr class="trow">
    <td>Б</td>
    <td>б</td>
    <td class="italic-letter">Б б</td>
    <td><span class="sound" onclick="playSound('sound102.mp3')">[be] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
    <td><span class="sound" onclick="playSound('sound207.mp3')">[b] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
  </tr>
  <tr class="trow">
    <td>В</td>
    <td>в</td>
    <td class="italic-letter">В в</td>
    <td><span class="sound" onclick="playSound('sound103.mp3')">[ve] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
    <td><span class="sound" onclick="playSound('sound211.mp3')">[v] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
  </tr>
  <tr class="trow">
    <td>Г</td>
    <td>г</td>
    <td class="italic-letter">Г г</td>
    <td><span class="sound" onclick="playSound('sound104.mp3')">[ge] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
    <td><span class="sound" onclick="playSound('sound223.mp3')">[g] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
  </tr>
  <tr class="trow">
    <td>Д</td>
    <td>д</td>
    <td class="italic-letter">Д д</td>
    <td><span class="sound" onclick="playSound('sound105.mp3')">[de] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
    <td><span class="sound" onclick="playSound('sound219.mp3')">[d] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
  </tr>
  <tr class="trow">
    <td>Ж</td>
    <td>ж</td>
    <td class="italic-letter">Ж ж</td>
    <td><span class="sound" onclick="playSound('sound108.mp3')">[je] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
    <td><span class="sound" onclick="playSound('sound227.mp3')">[j] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
  </tr>
  <tr class="trow">
    <td>З</td>
    <td>з</td>
    <td class="italic-letter">З з</td>
    <td><span class="sound" onclick="playSound('sound109.mp3')">[ze] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
    <td><span class="sound" onclick="playSound('sound215.mp3')">[z] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
  </tr>
  <tr class="trow">
    <td>Й</td>
    <td>й</td>
    <td class="italic-letter">Й й</td>
    <td><span class="sound" onclick="playSound('sound111.mp3')">[i kratkaye] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
    <td><span class="sound" onclick="playSound('sound237.mp3')">[y] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
  </tr>
  <tr class="trow">
    <td>К</td>
    <td>к</td>
    <td class="italic-letter">К к</td>
    <td><span class="sound" onclick="playSound('sound112.mp3')">[ka] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
    <td><span class="sound" onclick="playSound('sound225.mp3')">[k] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
  </tr>
  <tr class="trow">
    <td>Л</td>
    <td>л</td>
    <td class="italic-letter">Л л</td>
    <td><span class="sound" onclick="playSound('sound113.mp3')">[el] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
    <td><span class="sound" onclick="playSound('sound233.mp3')">[l] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
  </tr>
  <tr class="trow">
    <td>М</td>
    <td>м</td>
    <td class="italic-letter">М м</td>
    <td><span class="sound" onclick="playSound('sound114.mp3')">[em] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
    <td><span class="sound" onclick="playSound('sound229.mp3')">[m] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
  </tr>
  <tr class="trow">
    <td>Н</td>
    <td>н</td>
    <td class="italic-letter">Н н</td>
    <td><span class="sound" onclick="playSound('sound115.mp3')">[en] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
    <td><span class="sound" onclick="playSound('sound231.mp3')">[n] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
  </tr>
  <tr class="trow">
    <td>П</td>
    <td>п</td>
    <td class="italic-letter">П п</td>
    <td><span class="sound" onclick="playSound('sound117.mp3')">[pe] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
    <td><span class="sound" onclick="playSound('sound209.mp3')">[p] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
  </tr>
  <tr class="trow">
    <td>Р</td>
    <td>р</td>
    <td class="italic-letter">Р р</td>
    <td><span class="sound" onclick="playSound('sound118.mp3')">[er] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
    <td><span class="sound" onclick="playSound('sound235.mp3')">[r] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
  </tr>
  <tr class="trow">
    <td>С</td>
    <td>с</td>
    <td class="italic-letter">С с</td>
    <td><span class="sound" onclick="playSound('sound119.mp3')">[es] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
    <td><span class="sound" onclick="playSound('sound217.mp3')">[s] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
  </tr>
  <tr class="trow">
    <td>Т</td>
    <td>т</td>
    <td class="italic-letter">Т т</td>
    <td><span class="sound" onclick="playSound('sound120.mp3')">[te] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
    <td><span class="sound" onclick="playSound('sound221.mp3')">[t] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
  </tr>
  <tr class="trow">
    <td>Ф</td>
    <td>ф</td>
    <td class="italic-letter">Ф ф</td>
    <td><span class="sound" onclick="playSound('sound122.mp3')">[ef] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
    <td><span class="sound" onclick="playSound('sound213.mp3')">[f] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
  </tr>
  <tr class="trow">
    <td>Х</td>
    <td>х</td>
    <td class="italic-letter">Х х</td>
    <td><span class="sound" onclick="playSound('sound123.mp3')">[ha] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
    <td><span class="sound" onclick="playSound('sound241.mp3')">[h] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
  </tr>
  <tr class="trow">
    <td>Ц</td>
    <td>ц</td>
    <td class="italic-letter">Ц ц</td>
    <td><span class="sound" onclick="playSound('sound124.mp3')">[tse] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
    <td><span class="sound" onclick="playSound('sound240.mp3')">[ts] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
  </tr>
  <tr class="trow">
    <td>Ч</td>
    <td>ч</td>
    <td class="italic-letter">Ч ч</td>
    <td><span class="sound" onclick="playSound('sound125.mp3')">[che] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
    <td><span class="sound" onclick="playSound('sound239.mp3')">[ch] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
  </tr>
  <tr class="trow">
    <td>Ш</td>
    <td>ш</td>
    <td class="italic-letter">Ш ш</td>
    <td><span class="sound" onclick="playSound('sound126.mp3')">[sha] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
    <td><span class="sound" onclick="playSound('sound228.mp3')">[sh] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
  </tr>
  <tr class="trow">
    <td>Щ</td>
    <td>щ</td>
    <td class="italic-letter">Щ щ</td>
    <td><span class="sound" onclick="playSound('sound127.mp3')">[scha] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
    <td><span class="sound" onclick="playSound('sound238.mp3')">[sch] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
  </tr>
</table>
<br/>

<h3 style="text-align: center">Additional signs</h3>
<p>
There are two special signs in Russian: soft sign <span class="letter">ь</span> and hard sign <span class="letter">ъ</span>. These letters do not designate any sound of their own. They indicate, respectively, softness and hardness of previous consonants. You can find more details about softness and hardness in the Russian language on the page <a href="softness.html">Softness of consonants in Russian</a>.
</p>
<table class="sound-letter" cellspacing="0" align="center">
  <tr>
    <th>Uppercase</th>
    <th>Lowercase</th>
    <th>Italic</th>
    <th>Name</th>
    <th class="thbrd">English Name</th>
  </tr>
  <tr class="trow">
    <td>Ь</td>
    <td>ь</td>
    <td class="italic-letter">Ь ь</td>
    <td><span class="sound" onclick="playSound('sound130.mp3')">[m'ahkiy znak] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
    <td>Soft sign</td>
  </tr>
  <tr class="trow">
    <td>Ъ</td>
    <td>ъ</td>
    <td class="italic-letter">Ъ ъ</td>
    <td><span class="sound" onclick="playSound('sound128.mp3')">[tv'ord<span class="ry">i</span>y znak] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
    <td>Hard sign</td>
  </tr>
</table>
<br>
<p>We also recommend you to study the Russian alphabet in its normal dictionary order on the page <a href="alphabet.html">Russian alphabet</a>.</p> 

<h3>Summary: </h3>
<ul style="list-style: none; margin-bottom: 40px;">
  <li>- Russian letters can designate several sounds</li>
  <li>- Names of the letters in the alphabet indicate basic meanings of the letters</li>
  <li>- If you know basic meanings of letters you can read understandably for native speakers</li>
</ul>





</div></div>

<script type="text/javascript">
currentSection="reading";
</script>
