<% @page_title = 'Russian Language Online: Basic rules of reading' %>
<% @page_meta = {'description' => "Brief description of basic reading rules in Russian with audio examples"} %>
<% @with_rec = true %>
<% @has_audio = true %>

<%= stylesheet_link_tag 'stylesounds' %>

<% content_for :special_css do %>
.sound-letter td {
width: 15%;
}

.sound-letter span.sound {
background: none;
}

.sound-letter span.sound span.play_tip {
display: none;
}

.italic-letter {
font-style: italic;
font-family: Times New Roman;
}
<% end %>

<div class="hint_wrap">
<div class="hint_button" style="float: right;">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Links and Settings</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
    				<li><a href="basic-letters.html">Russian Letters</a></li>
    				<li><a href="softness.html">Softness </a></li>
					<li><a href="devocalization.html">Devocalization</a></li>
   					<li><a href="stress-reduction.html">Stress and reduction</a></li>
					<li><a href="reading-exceptions.html">Exceptional cases</a> </li>
    				<li><a href="reading-practice.html">Training exercises</a></li>
    		</ul>
        <%= render :partial => 'preload_option' %>
	</div>
</div>
</div>
<div id="pagecontent"><div id="content">


<h2 class="page">Basic rules of reading <br/>(Summary)</h2>
<p>
In order to be able to read in Russian it is necessary to be aware of the following rules:
</p>
<p>
- <em>Palatalization of consonants</em>:  Before <span class="letter">е</span>, <span class="letter">ё</span>, <span class="letter">и</span>, <span class="letter">ю</span>, <span class="letter">я</span> and <span class="letter">ь</span> consonant letters designate palatalized (soft) sounds. 
</p>
<p>
- <em>Devoicing of consonants</em>: Before unvoiced consonants, at the end of the word and before final <span class="letter">ь</span> letters <span class="letter">б</span>, <span class="letter">в</span>, <span class="letter">г</span>, <span class="letter">д</span>, <span class="letter">ж</span>, <span class="letter">з</span>, designate unvoiced consonant sounds.  
</p>
<p>
- <em>Vocalization of consonants</em>: When found before letters <span class="letter">б</span>, <span class="letter">г</span>, <span class="letter">д</span>, <span class="letter">ж</span>, <span class="letter">з</span>, letters <span class="letter">п</span>, <span class="letter">ф</span>, <span class="letter">с</span>, <span class="letter">т</span>, <span class="letter">ш</span> and <span class="letter">к</span> denote voiced consonants.
</p>
<p>
- <em>Reduction of vowels</em>: The reading of letters <span class="letter">е</span>, <span class="letter">о</span>, <span class="letter">э</span>, <span class="letter">я</span> is different in stressed and unstressed positions. Letter <span class="letter">о</span> is read as [a], <span class="letter">э</span> is read as [i] or [i]; <span class="letter">е</span> and <span class="letter">я</span> inside the word are read as [yi] or [i]. 
</p>
<p>
The tables below represent Russian letters and sounds which they may denote in accordance with the above mentioned rules. You can listen to the sounds by clicking on their transcription.
</p>
<h3 style="text-align: center">Letters denoting vowel sounds:</h3>

<table class="sound-letter" cellspacing="0" align="center" width="96%">
	<tr style="vertical-align: middle;">
		<th rowspan="2">Letter</th>
		<th rowspan="2">Basic Meaning</th>
		<th colspan="2" style="padding-top: 8px; padding-bottom: 8px;">Stressed</th>
		<th colspan="2" class="thbrd">Unstressed</th>
	</tr>
	<tr class="second-th" style="vertical-align: middle;">
		<td>at the beginning of words, after vowels and after ь,ъ </td>
		<td>after consonants</td>
		<td>at the beginning of words, after vowels and after ь,ъ </td>
		<td>after consonants</td>
	</tr>
	<tr class="trow">
		<td>А а</td>
		<td><span class="sound" onclick="playSound('sound101.mp3')">[a] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td colspan="4"><span class="sound" onclick="playSound('sound101.mp3')">[a] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
	</tr>
	<tr class="trow">
		<td>Е е</td>
		<td><span class="sound" onclick="playSound('sound106.mp3')">[ye] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td><span class="sound" onclick="playSound('sound106.mp3')">[ye] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td><span class="sound" onclick="playSound('sound202.mp3')">[e] <span class="play_tip">&nbsp; &nbsp;</span></span> <span style="vertical-align: super; font-size: 11px; cursor: help;" onmouseover="tooltip(this,'See&nbsp;comments&nbsp;under&nbsp;the&nbsp;table')" onmouseout="hide_info(this)">1</span></td>
		<td  style="width: 20%;"><span class="sound" onclick="playSound('sound251.mp3')">[ yi ] <span class="play_tip">&nbsp; &nbsp;</span></span> / <span class="nwr"><span class="sound" onclick="playSound('sound106.mp3')">[ye]<span class="play_tip">&nbsp; &nbsp;</span> </span><span style="vertical-align: super; font-size: 11px; cursor: help;" onmouseover="tooltip(this,'See&nbsp;comments&nbsp;under&nbsp;the&nbsp;table')" onmouseout="hide_info(this)">2</span></span></td>
		<td  style="width: 20%;"><span class="sound" onclick="playSound('sound205.mp3')">[ i ] <span class="play_tip">&nbsp; &nbsp;</span></span> / <span class="nwr"><span class="sound" onclick="playSound('sound202.mp3')">[e]<span class="play_tip">&nbsp; &nbsp;</span></span> <span style="vertical-align: super; font-size: 11px; cursor: help;" onmouseover="tooltip(this,'See&nbsp;comments&nbsp;under&nbsp;the&nbsp;table')" onmouseout="hide_info(this)">1,2</span></span></td>
	</tr>
	<tr class="trow">
		<td>Ё ё</td>
		<td><span class="sound" onclick="playSound('sound107.mp3')">[yo] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td><span class="sound" onclick="playSound('sound107.mp3')">[yo] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td><span class="sound" onclick="playSound('sound203.mp3')">[o] <span class="play_tip">&nbsp; &nbsp;</span></span> <span style="vertical-align: super; font-size: 11px; cursor: help;" onmouseover="tooltip(this,'See&nbsp;comments&nbsp;under&nbsp;the&nbsp;table')" onmouseout="hide_info(this)">1</span></td>
		<td> - </td>
		<td> - </td>
	</tr>
	<tr class="trow">
		<td>И и</td>
		<td><span class="sound" onclick="playSound('sound205.mp3')">[ i ] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td colspan="4"><span class="sound" onclick="playSound('sound205.mp3')">[ i ] <span class="play_tip">&nbsp; &nbsp;</span></span> <span style="vertical-align: super; font-size: 11px; cursor: help;" onmouseover="tooltip(this,'See&nbsp;comments&nbsp;under&nbsp;the&nbsp;table')" onmouseout="hide_info(this)">3</span></td>
	</tr>
	<tr class="trow">
		<td>О о</td>
		<td><span class="sound" onclick="playSound('sound203.mp3')">[o] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td><span class="sound" onclick="playSound('sound203.mp3')">[o] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td><span class="sound" onclick="playSound('sound203.mp3')">[o] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td><span class="sound" onclick="playSound('sound201.mp3')">[a] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td><span class="sound" onclick="playSound('sound201.mp3')">[a] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
	</tr>
	<tr class="trow">
		<td>У у</td>
		<td><span class="sound" onclick="playSound('sound204.mp3')">[oo] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td colspan="4"><span class="sound" onclick="playSound('sound204.mp3')">[oo] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
	</tr>
	<tr class="trow">
		<td>Ы ы</td>
		<td><span class="sound" onclick="playSound('sound206.mp3')">[ <span class="ry">i</span> ] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td colspan="4"><span class="sound" onclick="playSound('sound206.mp3')">[ <span class="ry">i</span> ] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
	</tr>
	<tr class="trow">
		<td>Э э</td>
		<td><span class="sound" onclick="playSound('sound202.mp3')">[e] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td><span class="sound" onclick="playSound('sound202.mp3')">[e] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td><span class="sound" onclick="playSound('sound202.mp3')">[e] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td><span class="sound" onclick="playSound('sound205.mp3')">[i] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td><span class="sound" onclick="playSound('sound206.mp3')">[ <span class="ry">i</span> ] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
	</tr>
	<tr class="trow">
		<td>Ю ю</td>
		<td><span class="sound" onclick="playSound('sound132.mp3')">[yoo] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td><span class="sound" onclick="playSound('sound132.mp3')">[yoo] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td><span class="sound" onclick="playSound('sound204.mp3')">[oo] <span class="play_tip">&nbsp; &nbsp;</span></span> <span style="vertical-align: super; font-size: 11px; cursor: help;" onmouseover="tooltip(this,'See&nbsp;comments&nbsp;under&nbsp;the&nbsp;table')" onmouseout="hide_info(this)">1</span></td>
		<td><span class="sound" onclick="playSound('sound132.mp3')">[yoo] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td><span class="sound" onclick="playSound('sound204.mp3')">[oo] <span class="play_tip">&nbsp; &nbsp;</span></span> <span style="vertical-align: super; font-size: 11px; cursor: help;" onmouseover="tooltip(this,'See&nbsp;comments&nbsp;under&nbsp;the&nbsp;table')" onmouseout="hide_info(this)">1</span></td>
	</tr>
	<tr class="trow">
		<td>Я я</td>
		<td><span class="sound" onclick="playSound('sound133.mp3')">[ya] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td><span class="sound" onclick="playSound('sound133.mp3')">[ya] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td><span class="sound" onclick="playSound('sound201.mp3')">[a] <span class="play_tip">&nbsp; &nbsp;</span></span> <span style="vertical-align: super; font-size: 11px; cursor: help;" onmouseover="tooltip(this,'See&nbsp;comments&nbsp;under&nbsp;the&nbsp;table')" onmouseout="hide_info(this)">1</span></td>
		<td><span class="sound" onclick="playSound('sound251.mp3')">[yi] <span class="play_tip">&nbsp; &nbsp;</span></span> / <span class="nwr"><span class="sound" onclick="playSound('sound133.mp3')">[ya]<span class="play_tip">&nbsp; &nbsp;</span></span> <span style="vertical-align: super; font-size: 11px; cursor: help;" onmouseover="tooltip(this,'See&nbsp;comments&nbsp;under&nbsp;the&nbsp;table')" onmouseout="hide_info(this)">2</span></span></td>
		<td><span class="sound" onclick="playSound('sound205.mp3')">[i] <span class="play_tip">&nbsp; &nbsp;</span></span> / <span class="nwr"><span class="sound" onclick="playSound('sound201.mp3')">[a]<span class="play_tip">&nbsp; &nbsp;</span></span> <span style="vertical-align: super; font-size: 11px; cursor: help;" onmouseover="tooltip(this,'See&nbsp;comments&nbsp;under&nbsp;the&nbsp;table')" onmouseout="hide_info(this)">1,2</span></span></td>
	</tr>
</table>
<p><span style="vertical-align: super; font-size: 11px; cursor: help;">1</span> previous consonant becomes soft</p>
<p><span style="vertical-align: super; font-size: 11px; cursor: help;">2</span> at the end of nouns, adjectives etc.</p>
<p><span style="vertical-align: super; font-size: 11px; cursor: help;">3</span> letter <span class="letter">и</span> is read as [<span class="ry">i</span>] after letters <span class="letter">ж</span>, <span class="letter">ш</span>, <span class="letter">ц</span></p>

<h3 style="text-align: center">Letters denoting consonant sounds:</h3>
<table class="sound-letter" cellspacing="0" align="center" width="96%">
	<tr style="vertical-align: middle;">
		<th rowspan="2">Letter</th>
		<th rowspan="2">Basic Meaning</th>
		<th rowspan="2">Palatalization</th>
		<th colspan="2" style="padding-top: 8px; padding-bottom: 8px;">Devoicing</th>
		<th rowspan="2" class="thbrd">Vocalization</th>
	</tr>
	<tr class="second-th" style="vertical-align: middle;">
		<td>hard</td>
		<td>soft</td>
	</tr>
	<tr class="trow">
		<td>Б б</td>
		<td><span class="sound" onclick="playSound('sound207.mp3')">[b] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td><span class="sound" onclick="playSound('sound208.mp3')">[b'] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td><span class="sound" onclick="playSound('sound209.mp3')">[p] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td><span class="sound" onclick="playSound('sound210.mp3')">[p'] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td>-</td>
	</tr>
	<tr class="trow">
		<td>В в</td>
		<td><span class="sound" onclick="playSound('sound211.mp3')">[v] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td><span class="sound" onclick="playSound('sound212.mp3')">[v'] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td><span class="sound" onclick="playSound('sound213.mp3')">[f] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td><span class="sound" onclick="playSound('sound214.mp3')">[f'] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td>-</td>
	</tr>
	<tr class="trow">
		<td>Г г</td>
		<td><span class="sound" onclick="playSound('sound223.mp3')">[g] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td><span class="sound" onclick="playSound('sound224.mp3')">[g'] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td><span class="sound" onclick="playSound('sound225.mp3')">[k] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td>-</td>
		<td>-</td>
	</tr>
	<tr class="trow">
		<td>Д д</td>
		<td><span class="sound" onclick="playSound('sound219.mp3')">[d] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td><span class="sound" onclick="playSound('sound220.mp3')">[d'] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td><span class="sound" onclick="playSound('sound221.mp3')">[t] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td><span class="sound" onclick="playSound('sound222.mp3')">[t'] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td>-</td>
	</tr>
	<tr class="trow">
		<td>Ж ж</td>
		<td colspan="2"><span class="sound" onclick="playSound('sound227.mp3')">[j] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td colspan="2"><span class="sound" onclick="playSound('sound228.mp3')">[sh] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td>-</td>
	</tr>
	<tr class="trow">
		<td>З з</td>
		<td><span class="sound" onclick="playSound('sound215.mp3')">[z] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td><span class="sound" onclick="playSound('sound216.mp3')">[z'] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td><span class="sound" onclick="playSound('sound217.mp3')">[s] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td><span class="sound" onclick="playSound('sound218.mp3')">[s'] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td>-</td>
	</tr>
	<tr class="trow">
		<td>Й й</td>
		<td  colspan="2"><span class="sound" onclick="playSound('sound237.mp3')">[y] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td  colspan="2">-</td>
		<td>-</td>
	</tr>
	<tr class="trow">
		<td>К к</td>
		<td><span class="sound" onclick="playSound('sound225.mp3')">[k] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td><span class="sound" onclick="playSound('sound226.mp3')">[k'] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td  colspan="2">-</td>
		<td><span class="sound" onclick="playSound('sound223.mp3')">[g] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
	</tr>
	<tr class="trow">
		<td>Л л</td>
		<td><span class="sound" onclick="playSound('sound233.mp3')">[l] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td><span class="sound" onclick="playSound('sound234.mp3')">[l'] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td  colspan="2">-</td>
		<td>-</td>
	</tr>
	<tr class="trow">
		<td>М м</td>
		<td><span class="sound" onclick="playSound('sound229.mp3')">[m] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td><span class="sound" onclick="playSound('sound230.mp3')">[m'] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td  colspan="2">-</td>
		<td>-</td>
	</tr>
	<tr class="trow">
		<td>Н н</td>
		<td><span class="sound" onclick="playSound('sound231.mp3')">[n] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td><span class="sound" onclick="playSound('sound232.mp3')">[n'] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td  colspan="2">-</td>
		<td>-</td>
	</tr>
	<tr class="trow">
		<td>П п</td>
		<td><span class="sound" onclick="playSound('sound209.mp3')">[p] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td><span class="sound" onclick="playSound('sound210.mp3')">[p'] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td  colspan="2">-</td>
		<td><span class="sound" onclick="playSound('sound207.mp3')">[b] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
	</tr>
	<tr class="trow">
		<td>Р р</td>
		<td><span class="sound" onclick="playSound('sound235.mp3')">[r] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td><span class="sound" onclick="playSound('sound236.mp3')">[r'] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td  colspan="2">-</td>
		<td>-</td>
	</tr>
	<tr class="trow">
		<td>С с</td>
		<td><span class="sound" onclick="playSound('sound217.mp3')">[s] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td><span class="sound" onclick="playSound('sound218.mp3')">[s'] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td  colspan="2">-</td>
		<td><span class="sound" onclick="playSound('sound215.mp3')">[z]<span class="play_tip">&nbsp; &nbsp;</span></span> <span class="nwr">(<span class="sound" onclick="playSound('sound216.mp3')">[z']<span class="play_tip">&nbsp; &nbsp;</span></span><span style="vertical-align: super; font-size: 11px; cursor: help;" onmouseover="tooltip(this,'See&nbsp;comments&nbsp;under&nbsp;the&nbsp;table')" onmouseout="hide_info(this)">1</span>)</span> </td>
	</tr>
	<tr class="trow">
		<td>Т т</td>
		<td><span class="sound" onclick="playSound('sound221.mp3')">[t] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td><span class="sound" onclick="playSound('sound222.mp3')">[t'] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td colspan="2">-</td>
		<td><span class="sound" onclick="playSound('sound219.mp3')">[d] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
	</tr>
	<tr class="trow">
		<td>Ф ф</td>
		<td><span class="sound" onclick="playSound('sound213.mp3')">[f] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td><span class="sound" onclick="playSound('sound214.mp3')">[f'] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td  colspan="2">-</td>
		<td><span class="sound" onclick="playSound('sound211.mp3')">[v] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
	</tr>
	<tr class="trow">
		<td>Х х</td>
		<td><span class="sound" onclick="playSound('sound241.mp3')">[h] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td><span class="sound" onclick="playSound('sound242.mp3')">[h'] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td  colspan="2">-</td>
		<td>-</td>
	</tr>
	<tr class="trow">
		<td>Ц ц</td>
		<td colspan="2"><span class="sound" onclick="playSound('sound240.mp3')">[ts] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td colspan="2">-</td>
		<td>-</td>
	</tr>
	<tr class="trow">
		<td>Ч ч</td>
		<td colspan="2"><span class="sound" onclick="playSound('sound239.mp3')">[ch] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td colspan="2">-</td>
		<td>-</td>
	</tr>
	<tr class="trow">
		<td>Ш ш</td>
		<td colspan="2"><span class="sound" onclick="playSound('sound228.mp3')">[sh] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td colspan="2">-</td>
		<td>-</td>
	</tr>
	<tr class="trow">
		<td>Щ щ</td>
		<td colspan="2"><span class="sound" onclick="playSound('sound238.mp3')">[sch] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
		<td  colspan="2">-</td>
		<td>-</td>
	</tr>
</table>
<p><span style="vertical-align: super; font-size: 11px; cursor: help;">1</span> in combinations <span class="letter">сд</span> + <span class="letter">е</span>, <span class="letter">ё</span>, <span class="letter">и</span>, <span class="letter">ю</span>, <span class="letter">я</span></p> 






</div>
</div>

<script type="text/javascript">
currentSection="reading";
</script>
