<% @page_title = 'Online Russian Vocabulary: Bread and confectionery' %>
<% @page_meta = {'description' => "Russian online vocabulary for learning words and phrases related to the topic Bread and confectionery"} %>
<% @with_rec = true %>
<% @has_audio = true %>

<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Links and Settings</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
    				<li><a href="bread-exercise.html"> Exercises: Bread and confectionery</a></li>
     				<li><a href="bread-test.html">Tests: Bread and confectionery</a></li>

    		</ul>     				
        <%= render :partial => 'colorder_accent' %>
	</div>
</div>
</div>



<h2 class="page">Bread and confectionery</h2>

<div id="pagecontent"><div id="content">


<div class="dict_wrapper">
<table class="diction" cellpadding="0" cellspacing="0" align="center">
	<tr class="trow">
		<td class="original" valign="top">Хлеб
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08101.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[h<span class="sftv">l</span><span class="sfty">y</span><span class="acct">e</span>p]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Bread
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Конд<span class="acco">и</span>терские изд<span class="acco">е</span>лия
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08102.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[kand<span class="acct">i</span>tirskii i<span class="sftc">z</span><span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span>liya]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Confectionery
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Чёрный хлеб
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08103.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[ch<span class="acct">o</span>rn<span class="ry">i</span>y h<span class="sftv">l</span><span class="sfty">y</span><span class="acct">e</span>p]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Dark bread
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Б<span class="acco">е</span>лый хлеб
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08104.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[<span class="sftv">b</span><span class="sfty">y</span><span class="acct">e</span>l<span class="ry">i</span>y h<span class="sftv">l</span><span class="sfty">y</span><span class="acct">e</span>p]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">White bread
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Торт
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08105.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[t<span class="acct">o</span>rt]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Cake, pie
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Блин<span class="acco">ы</span>
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08106.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[blin<span class="acct"><span class="ry">i</span></span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Pancakes
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Пир<span class="acco">о</span>жное
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08107.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[pir<span class="acct">o</span>jnaye]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Fancy cake
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Пир<span class="acco">о</span>г
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08108.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[pir<span class="acct">o</span>k]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Pie
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Кекс с из<span class="acco">ю</span>мом
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08109.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[<span class="sftv">k</span><span class="sfty">y</span><span class="acct">e</span>ks s <span class="ry">i</span><span class="sftv">z</span><span class="sfty">y</span><span class="acct">oo</span>mam]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Plum cake
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Сл<span class="acco">о</span>йка
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08110.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[sl<span class="acct">o</span>yka]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Puff
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Слоёный пирож<span class="acco">о</span>к
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08111.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[slay<span class="acct">o</span>n<span class="ry">i</span>y piraj<span class="acct">o</span>k]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Jam puff
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Б<span class="acco">у</span>лочка
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08112.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[b<span class="acct">oo</span>lachka]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Roll
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Б<span class="acco">у</span>блик
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08113.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[b<span class="acct">oo</span>blik]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Ring roll
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">&nbsp;
		</td>
		<td class="transcript" valign="top">&nbsp;
		</td>
		<td class="translation" valign="top">&nbsp;
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Одн<span class="acco">у</span> бух<span class="acco">а</span>нку хл<span class="acco">е</span>ба, пож<span class="acco">а</span>луйста.
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08114.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[adn<span class="acct">oo</span> booh<span class="acct">a</span>nkoo h<span class="sftv">l</span><span class="sfty">y</span><span class="acct">e</span>ba, paj<span class="acct">a</span>loosta]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">One loaf of bread, please.
		</td>
	</tr>
</table>
</div>
<p class="after_dic">If you want to check how you know these words, go to <a title="Bread and confectionery tests" href="bread-test.html"> Tests: Bread and confectionery</a></p>


</div>
</div>

<script type="text/javascript">
currentSection="words";
</script>
