<% @page_title = 'Online Russian Flashcards: Bread and confectionery' %>
<% @page_meta = {'description' => "Learn Russian vocabulary topic Bread and confectionery with online flashcards: words with audio samples, quizzes and spell practice"} %>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_js_css do %>
<style type="text/css">
h2.page {
margin-bottom: 0px;
font-size: 19pt;
}
</style>

<%end%>
<div class="hint_wrap">
<div class="hint_button" style="float: right;">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <li><a href="/bread.html">Bread and confectionery</a></li>
			<li><a href="/bread-test.html">Tests: Bread and confectionery</a></li>
        </ul>
        <%= render :partial => 'down_accent' %>
  </div>
</div>
</div>

<h2 class="page">Flashcards: Bread and confectionery</h2>
<h3 class="page-path">
	<span class="int-links">
	<a href="/vocabulary.html">Vocabulary</a>
	<span class="int-arrow">--&gt;</span> 
	<a href="/bread.html">Bread and confectionery</a>
	<span class="int-arrow">--&gt;</span> Flashcards
	</span>
</h3>

<div  id="fl1" style="min-height: 600px; text-align: center;">
<%= render :partial => 'flashcard' %>
</div><!-- end of fl1 -->

<script type="text/javascript"> 
	var fl1 = new flashcard( {
		id: "fl1", 
		random_order: false,
		basic_array: [
		
['Хлеб ','Bread ','/sounds/sound08101.mp3','h<span class="sftv">l</span><span class="sfty">y</span><span class="acct">e</span>p '],
['Конд<span class="acco">и</span>терские изд<span class="acco">е</span>лия ','Confectionery ','/sounds/sound08102.mp3','kand<span class="acct">i</span>tirskii i<span class="sftc">z</span><span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span>liya '],
['Чёрный хлеб ','Dark bread ','/sounds/sound08103.mp3','ch<span class="acct">o</span>rn<span class="ry">i</span>y h<span class="sftv">l</span><span class="sfty">y</span><span class="acct">e</span>p '],
['Б<span class="acco">е</span>лый хлеб ','White bread ','/sounds/sound08104.mp3','<span class="sftv">b</span><span class="sfty">y</span><span class="acct">e</span>l<span class="ry">i</span>y h<span class="sftv">l</span><span class="sfty">y</span><span class="acct">e</span>p '],
['Торт ','Cake, pie ','/sounds/sound08105.mp3','t<span class="acct">o</span>rt '],
['Блин<span class="acco">ы</span> ','Pancakes ','/sounds/sound08106.mp3','blin<span class="acct"><span class="ry">i</span></span> '],
['Пир<span class="acco">о</span>жное ','Fancy cake ','/sounds/sound08107.mp3','pir<span class="acct">o</span>jnaye '],
['Пир<span class="acco">о</span>г ','Pie ','/sounds/sound08108.mp3','pir<span class="acct">o</span>k '],
['Кекс с из<span class="acco">ю</span>мом ','Plum cake ','/sounds/sound08109.mp3','<span class="sftv">k</span><span class="sfty">y</span><span class="acct">e</span>ks s <span class="ry">i</span><span class="sftv">z</span><span class="sfty">y</span><span class="acct">oo</span>mam '],
['Сл<span class="acco">о</span>йка ','Puff ','/sounds/sound08110.mp3','sl<span class="acct">o</span>yka '],
['Слоёный пирож<span class="acco">о</span>к ','Jam puff ','/sounds/sound08111.mp3','slay<span class="acct">o</span>n<span class="ry">i</span>y piraj<span class="acct">o</span>k '],
['Б<span class="acco">у</span>лочка ','Roll ','/sounds/sound08112.mp3','b<span class="acct">oo</span>lachka '],
['Б<span class="acco">у</span>блик ','Ring roll ','/sounds/sound08113.mp3','b<span class="acct">oo</span>blik '],
['Одн<span class="acco">у</span> бух<span class="acco">а</span>нку хл<span class="acco">е</span>ба, пож<span class="acco">а</span>луйста. ','One loaf of bread, please. ','/sounds/sound08114.mp3','adn<span class="acct">oo</span> booh<span class="acct">a</span>nkoo h<span class="sftv">l</span><span class="sfty">y</span><span class="acct">e</span>ba, paj<span class="acct">a</span>loosta ']
		]
		} )
</script>


<table class="voc-links voc-link-first voc-link-last" align="center" cellspacing="0"><tr>
	<td class="voc-space">Check how you know this topic with our &nbsp;<a href="/bread-test.html">Lexical tests >></a></td>
</tr></table>


<script type="text/javascript">
preloadFiles=new Array(
'/sounds/sound08101.mp3', '/sounds/sound08102.mp3', '/sounds/sound08103.mp3', '/sounds/sound08104.mp3', 
'/sounds/sound08105.mp3', '/sounds/sound08106.mp3', '/sounds/sound08107.mp3', '/sounds/sound08108.mp3', 
'/sounds/sound08109.mp3', '/sounds/sound08110.mp3', '/sounds/sound08111.mp3', '/sounds/sound08112.mp3', 
'/sounds/sound08113.mp3', '/sounds/sound08114.mp3'
)
</script>
