<% @page_title='Payment cancelled.' %>

<div style="text-align: center;">
<p class="bold">Your payment through PayPal has been cancelled.</p>
<p>You can retry to purchase the 6-month subscription from your <a href="/user_profile.html">Profile</a></p>
</div>

