<% @page_title = 'Tests: City' %>
<% @page_meta = {'description' => ""} %>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_css do %>

.quest  {
width: 210px;
}

.variants  {
width: 220px;
}

#t2 .quest {
width: 220px;
}


<% end %>

<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Recommended links</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
     				<li><a href="city.html">City</a></li>
     				<li><a href="city-exercise.html"> Exercises: City</a></li>

    		</ul>
	</div>
</div>
</div>



<h2 class="page">City (tests)</h2>

<p class="task">Before completing the following tests, please revise the topic <a title="City" href="city.html">City</a></p>
<hr/>
<br/>
<h3>Test 1</h3>
<p class="task">Listen to the phrase and сhoose the corresponding Russian expression.</p>
<div id="t1">
<script type="text/javascript">
var t1 = new Test({dict: [

['sounds/sound06101.mp3','город'],['sounds/sound06102.mp3','автовокзал'],['sounds/sound06103.mp3','автостоянка'],['sounds/sound06104.mp3','адрес'],
['sounds/sound06105.mp3','банк'],['sounds/sound06106.mp3','бар'],['sounds/sound06107.mp3','вокзал'],['sounds/sound06108.mp3','дом'],
['sounds/sound06110.mp3','здание'],['sounds/sound06111.mp3','квартал'],['sounds/sound06112.mp3','мост'],['sounds/sound06113.mp3','набережная'],
['sounds/sound06115.mp3','памятник'],['sounds/sound06116.mp3','парк'],['sounds/sound06117.mp3','перекресток'],['sounds/sound06119.mp3','переход'],
['sounds/sound06120.mp3','площадь'],['sounds/sound06122.mp3','подземный переход'],['sounds/sound06123.mp3','почта'],['sounds/sound06124.mp3','проспект'],
['sounds/sound06125.mp3','ресторан'],['sounds/sound06127.mp3','светофор'],['sounds/sound06128.mp3','станция метро'],['sounds/sound06130.mp3','тротуар'],
['sounds/sound06131.mp3','туалет'],['sounds/sound06132.mp3','улица'],['sounds/sound06133.mp3','фонтан']

],hide: 'di1',id:'t1', type: 'audio', how_questions: 8, how_show: 2}, 'v0209010.1');
</script>
</div>

<h3>Test 2</h3>
<p class="task">Read the Russian phrase and choose the corresponding English expression.</p>

<div id="t2">
<script type="text/javascript">
var t2 = new Test({dict: [

['город','city, town'],['автовокзал','bus station'],['автостоянка','car parking'],['адрес','address'],
['банк','bank'],['бар','bar'],['вокзал','railway station'],['дом','house'],
['здание','building'],['квартал','quarter'],['мост','bridge'],['набережная','quay'],
['памятник','monument'],['парк','park'],['бар','bar'],['перекресток','crossroad'],['переход','pedestrian crossing'],
['площадь','square'],['подземный переход','pedestrian subway'],['почта','post office'],['проспект','avenue'],
['ресторан','restaurant'],['светофор','traffic lights'],['станция метро','subway station'],['тротуар','sidewalk'],
['туалет','w.c.'],['улица','street'],['фонтан','fountain'],['набережная','quay']



], hide:'di2',id:'t2',type: 'text', how_questions: 8, how_show: 2}, 'v0209020.2');
</script>
</div>

<h3>Test 3</h3>
<p class="task">Listen to the Russian phrases and сhoose their translation into English.</p>

<div id="t3">
<script type="text/javascript">
var t3 = new Test({dict: [

['sounds/sound06101.mp3','city, town'],['sounds/sound06102.mp3','bus station'],['sounds/sound06103.mp3','car parking'],['sounds/sound06104.mp3','address'],
['sounds/sound06105.mp3','bank'],['sounds/sound06106.mp3','bar'],['sounds/sound06107.mp3','railway station'],['sounds/sound06108.mp3','house'],
['sounds/sound06110.mp3','building'],['sounds/sound06111.mp3','quarter'],['sounds/sound06112.mp3','bridge'],['sounds/sound06113.mp3','quay'],
['sounds/sound06115.mp3','monument'],['sounds/sound06116.mp3','park'],['sounds/sound06117.mp3','crossroad'],['sounds/sound06119.mp3','pedestrian crossinge'],
['sounds/sound06120.mp3','square'],['sounds/sound06122.mp3','pedestrian subway'],['sounds/sound06123.mp3','post office'],['sounds/sound06124.mp3','avenue'],
['sounds/sound06125.mp3','restaurant'],['sounds/sound06127.mp3','traffic lights'],['sounds/sound06128.mp3','subway station'],['sounds/sound06130.mp3','sidewalk'],
['sounds/sound06131.mp3','w.c.'],['sounds/sound06132.mp3','street'],['sounds/sound06133.mp3','fountain']

],hide: 'di3',id:'t3',type: 'audio', how_questions: 8, how_show: 2}, 'v0209030.3');
</script>
</div>


<script type="text/javascript">
currentSection="words";
</script>
