<% @page_title = 'Online Russian Vocabulary: City' %>
<% @page_meta = {'description' => "Russian online vocabulary for learning words and phrases related to the topic City"} %>
<% @with_rec = true %>
<% @has_audio = true %>
<% content_for :special_js_css do %>
<style type="text/css">
h2.page {margin-bottom: 0px;}
</style>
<% end %>
<div class="hint_wrap">
<div class="hint_button">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <li><a href="city-flashcards.html"> Flashcards: City</a></li>
            <li><a href="city-test.html"> Tests: City</a></li>
        </ul>
        <%= render :partial => 'colorder_accent' %> 
  </div>
</div>
</div>



<h2 class="page">City</h2>
<h3 class="page-path"> 
<span class="int-links"><a href="/vocabulary.html">Vocabulary</a> <span class="int-arrow">--></span> City</span>
</h3>

<div id="pagecontent"><div id="content">

<div class="dict_wrapper">

<div class="voc-wordlist">
<table class="voc_bord" align="center" cellspacing="0">
<tr>
<td>

<table class="diction" cellpadding="0" cellspacing="0" align="center">
<thead>
<tr>
	<td></td>
	<td></td>
	<td></td>
</tr>
</thead>
<tbody>
	<tr class="trow">
		<td class="original" valign="top">Г<span class="acco">о</span>род
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound06101.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[g<span class="acct">o</span>rat]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">City, town
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Автовокз<span class="acco">а</span>л
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound06102.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[aftavagz<span class="acct">a</span>l]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Bus station
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Автосто<i></i><span class="acco">я</span>нка
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound06103.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[aftastay<span class="acct">a</span>nka]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Car parking 
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top"><span class="acco">А</span>дрес
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound06104.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[<span class="acct">a</span>dris]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Address
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Банк
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound06105.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[b<span class="acct">a</span>nk]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Bank
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Бар
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound06106.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[b<span class="acct">a</span>r]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Bar
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Вокз<span class="acco">а</span>л
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound06107.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[vagz<span class="acct">a</span>l]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Railway station
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Дом
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound06108.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[d<span class="acct">o</span>m]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">House
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Запр<span class="acco">а</span>вка
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound06109.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[zapr<span class="acct">a</span>fka]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Gas station
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Зд<span class="acco">а</span>ние
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound06110.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[zd<span class="acct">a</span>niye]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Building
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Кварт<span class="acco">а</span>л
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound06111.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[kvart<span class="acct">a</span>l]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Quarter, block
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Мост
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound06112.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[m<span class="acct">o</span>st]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Bridge
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Н<span class="acco">а</span>бережная
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound06113.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[n<span class="acct">a</span>birijnaya]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Quay
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Остан<span class="acco">о</span>вка
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound06114.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[astan<span class="acct">o</span>fka]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Bus station
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">П<span class="acco">а</span>мятник
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound06115.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[p<span class="acct">a</span>mitnik]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Monument
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Парк
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound06116.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[p<span class="acct">a</span>rk]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Park
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Перекрёсток
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound06117.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[pirik<span class="sftc">r</span><span class="sfty">y</span><span class="acct">o</span>stak]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Crossroad
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Пере<span class="acco">у</span>лок
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound06118.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[piri<span class="acct">oo</span>lak]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Alley
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Перех<span class="acco">о</span>д
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound06119.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[pirih<span class="acct">o</span>t]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Pedestrian crossing
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Пл<span class="acco">о</span>щадь
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound06120.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[pl<span class="acct">o</span>scha<span class="sftc">t</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Square
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Повор<span class="acco">о</span>т
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound06121.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[pavar<span class="acct">o</span>t]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Turning
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Подз<span class="acco">е</span>мный перех<span class="acco">о</span>д
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound06122.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[pad<span class="sftv">z</span><span class="sfty">y</span><span class="acct">e</span>mn<span class="ry">i</span>y pirih<span class="acct">o</span>t]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Pedestrian subway
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">П<span class="acco">о</span>чта
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound06123.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[p<span class="acct">o</span>chta]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Post office
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Просп<span class="acco">е</span>кт
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound06124.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[pras<span class="sftv">p</span><span class="sfty">y</span><span class="acct">e</span>kt]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Avenue
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Рестор<span class="acco">а</span>н
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound06125.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[ristar<span class="acct">a</span>n]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Restaurant
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Р<span class="acco">ы</span>нок
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound06126.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[r<span class="acct"><span class="ry">i</span></span>nak]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Market
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Светоф<span class="acco">о</span>р
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound06127.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[svitaf<span class="acct">o</span>r]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Traffic lights
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Ст<span class="acco">а</span>нция метр<span class="acco">о</span>
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound06128.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[st<span class="acct">a</span>nts<span class="ry">i</span>ya mitr<span class="acct">o</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Subway station
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Телеф<span class="acco">о</span>н-автом<span class="acco">а</span>т
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound06129.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[tilif<span class="acct">o</span>n aftam<span class="acct">a</span>t]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Pay phone
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Троту<i></i><span class="acco">а</span>р
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound06130.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[tratoo<span class="acct">a</span>r]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Pavement, sidewalk 
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Туал<span class="acco">е</span>т
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound06131.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[tooa<span class="sftv">l</span><span class="sfty">y</span><span class="acct">e</span>t]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">W.C. 
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top"><span class="acco">У</span>лица
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound06132.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[<span class="acct">oo</span>litsa]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Street
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Фонт<span class="acco">а</span>н
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound06133.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[fant<span class="acct">a</span>n]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Fountain
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Ц<span class="acco">е</span>нтр г<span class="acco">о</span>рода
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound06134.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[ts<span class="acct">e</span>ntr g<span class="acct">o</span>rada]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">City centre
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">&nbsp;
		</td>
		<td class="transcript" valign="top">&nbsp;
		</td>
		<td class="translation" valign="top">&nbsp;
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Где ближ<span class="acco">а</span>йший&nbsp;…?
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound06135.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[g<span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span> blij<span class="acct">a</span>ysh<span class="ry">i</span>y&nbsp;...?]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Where is the nearest&nbsp;... ?
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Где нах<span class="acco">о</span>дится&nbsp;…?
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound06136.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[g<span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span> nah<span class="acct">o</span>ditsa ?]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Where is&nbsp;... ? 
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Как пройт<span class="acco">и</span> к&nbsp;… ?
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound06137.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[k<span class="acct">a</span>k prayt<span class="acct">i</span>&nbsp;...?]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">How can I get to&nbsp;...?
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Я ищ<span class="acco">у</span> … .
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound06138.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[y<span class="acct">a</span> isch<span class="acct">oo</span>&nbsp;...]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">I'm looking for&nbsp;... .
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Я забл<span class="acco">у</span>дился.
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound06139.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[y<span class="acct">a</span> zablood<span class="acct">i</span>l<span class="sftv">s</span><span class="sfty">y</span>a]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">I'm lost.
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Как мне туд<span class="acco">а</span> дойт<span class="acco">и</span>?
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound06140.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[k<span class="acct">a</span>k m<span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span> tood<span class="acct">a</span> dayt<span class="acct">i</span>?]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">How can I get there?
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Есть ли здесь побл<span class="acco">и</span>зости&nbsp;... ?
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound06141.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[y<span class="acct">e</span><span class="sftc">s</span><span class="sftc">t</span> li <span class="sftc">z</span><span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span><span class="sftc">s</span> pabl<span class="acct">i</span>za<span class="sftc">s</span>ti&nbsp;...?]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Is there&nbsp;...  hereabout?
		</td>
	</tr>
</tbody>
<tfoot>
<tr>
	<td></td>
	<td></td>
	<td></td>
</tr>
</tfoot>  
</table>

</td>
</tr>
</table>
</div><!-- end of voc-wordlist-->

</div>

<table class="voc-links voc-link-first " align="center" cellspacing="0"><tr>
	<td class="voc-space">Learn these words and expressions with our &nbsp;<a href="city-flashcards.html">Flashcards >></a></td>
</tr></table>
<table class="voc-links voc-link-last" align="center" cellspacing="0"><tr>
	<td class="voc-space">Check how you know this topic with our &nbsp;<a href="city-test.html">Lexical tests >></a></td>
</tr></table>

</div>
</div>

<script type="text/javascript">
currentSection="words";
</script>
