<% @page_title = 'Online Russian Flashcards: Outdoor clothing' %>
<% @page_meta = {'description' => "Learn Russian vocabulary topic Outdoor clothing with online flashcards: words with audio samples, quizzes and spell practice"} %>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_js_css do %>
<style type="text/css">
h2.page {
margin-bottom: 0px;
font-size: 19pt;
}
</style>

<%end%>
<div class="hint_wrap">
<div class="hint_button" style="float: right;">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <li><a href="/clothing.html">Outdoor clothing</a></li>
			<li><a href="/clothing-test.html">Tests: Outdoor clothing</a></li>
        </ul>
        <%= render :partial => 'down_accent' %>
  </div>
</div>
</div>

<h2 class="page">Flashcards: Outdoor clothing</h2>
<h3 class="page-path">
	<span class="int-links">
	<a href="/vocabulary.html">Vocabulary</a>
	<span class="int-arrow">--&gt;</span> 
	<a href="/clothing.html">Outdoor clothing</a>
	<span class="int-arrow">--&gt;</span> Flashcards
	</span>
</h3>

<div  id="fl1" style="min-height: 600px; text-align: center;">
<%= render :partial => 'flashcard' %>
</div><!-- end of fl1 -->

<script type="text/javascript"> 
	var fl1 = new flashcard( {
		id: "fl1", 
		random_order: false,
		basic_array: [
		
['В<span class="acco">е</span>рхняя од<span class="acco">е</span>жда ','Outerwear ','/sounds/sound09101.mp3','<span class="sftv">v</span><span class="sfty">y</span><span class="acct">e</span>rhniya&nbsp;a<span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span>jda '],
['Бл<span class="acco">у</span>зка ','Blouse ','/sounds/sound09102.mp3','bl<span class="acct">oo</span>ska '],
['Бр<span class="acco">ю</span>ки ','Trousers ','/sounds/sound09103.mp3','b<span class="sftv">r</span><span class="sfty">y</span><span class="acct">oo</span>ki '],
['Дж<span class="acco">и</span>нсы ','Jeans ','/sounds/sound09104.mp3','dj<span class="acct"><span class="ry">i</span></span>nsi '],
['Жил<span class="acco">е</span>т ','Vest ','/sounds/sound09105.mp3','j<span class="ry">i</span><span class="sftv">l</span><span class="sfty">y</span><span class="acct">e</span>t '],
['Кост<span class="acco">ю</span>м ','Suit ','/sounds/sound09106.mp3','ka<span class="sftc">s</span><span class="sftv">t</span><span class="sfty">y</span><span class="acct">oo</span>m '],
['К<span class="acco">у</span>ртка ','Outdoor coat ','/sounds/sound09107.mp3','k<span class="acct">oo</span>rtka '],
['Пальт<span class="acco">о</span> ','Overcoat ','/sounds/sound09108.mp3','pa<span class="sftc">l</span>t<span class="acct">o</span> '],
['Пидж<span class="acco">а</span>к ','Jacket ','/sounds/sound09109.mp3','pidj<span class="acct">a</span>k '],
['Пл<span class="acco">а</span>тье ','Dress ','/sounds/sound09110.mp3','pl<span class="acct">a</span><span class="sftc">t</span>ye '],
['Плащ ','Raincoat ','/sounds/sound09111.mp3','pl<span class="acct">a</span>sch '],
['Руб<span class="acco">а</span>шка ','Shirt ','/sounds/sound09112.mp3','roob<span class="acct">a</span>shka '],
['Св<span class="acco">и</span>тер ','Sweater ','/sounds/sound09113.mp3','sv<span class="acct">i</span>ter '],
['Футб<span class="acco">о</span>лка ','T-shirt ','/sounds/sound09114.mp3','foodb<span class="acct">o</span>lka '],
['Ш<span class="acco">о</span>рты ','Shorts ','/sounds/sound09115.mp3','sh<span class="acct">o</span>rt<span class="ry">i</span> '],
['Ш<span class="acco">у</span>ба ','Fur coat ','/sounds/sound09116.mp3','sh<span class="acct">oo</span>ba '],
['<span class="acco">Ю</span>бка ','Skirt ','/sounds/sound09117.mp3','y<span class="acct">oo</span>pka '],
['Головн<span class="acco">о</span>й уб<span class="acco">о</span>р ','Headwear ','/sounds/sound09118.mp3','galavn<span class="acct">o</span>y oob<span class="acct">o</span>r '],
['Бейсб<span class="acco">о</span>лка ','Baseball cap ','/sounds/sound09119.mp3','biyzb<span class="acct">o</span>lka '],
['Бер<span class="acco">е</span>т ','Beret ','/sounds/sound09120.mp3','bi<span class="sftv">r</span><span class="sfty">y</span><span class="acct">e</span>t '],
['К<span class="acco">е</span>пка ','Cloth cap ','/sounds/sound09121.mp3','<span class="sftv">k</span><span class="sfty">y</span><span class="acct">e</span>pka '],
['Ш<span class="acco">а</span>пка ','Cap ','/sounds/sound09122.mp3','sh<span class="acct">a</span>pka '],
['Шл<span class="acco">я</span>па ','Hat ','/sounds/sound09123.mp3','sh<span class="sftv">l</span><span class="sfty">y</span><span class="acct">a</span>pa '],
['Матери<i></i><span class="acco">а</span>л ','Material ','/sounds/sound09124.mp3','mati<span class="sftc">r</span>y<span class="acct">a</span>l '],
['Б<span class="acco">а</span>рхат ','Velvet ','/sounds/sound09125.mp3','b<span class="acct">a</span>rhat '],
['Вельв<span class="acco">е</span>т ','Velveteen ','/sounds/sound09126.mp3','vi<span class="sftc">l</span><span class="sftv">v</span><span class="sfty">y</span><span class="acct">e</span>t '],
['З<span class="acco">а</span>мша ','Chamois ','/sounds/sound09127.mp3','z<span class="acct">a</span>msha '],
['К<span class="acco">о</span>жа ','Leather ','/sounds/sound09128.mp3','k<span class="acct">o</span>ja '],
['Трикот<span class="acco">а</span>ж ','Knitwear ','/sounds/sound09129.mp3','trikat<span class="acct">a</span>sh '],
['Шёлк ','Silk ','/sounds/sound09130.mp3','sh<span class="acct">o</span>lk '],
['Шерсть ','Wool ','/sounds/sound09131.mp3','sh<span class="acct">e</span>r<span class="sftc">s</span><span class="sftc">t</span> ']
		]
		} )
</script>


<table class="voc-links voc-link-first voc-link-last" align="center" cellspacing="0"><tr>
	<td class="voc-space">Check how you know this topic with our &nbsp;<a href="/clothing-test.html">Lexical tests >></a></td>
</tr></table>


<script type="text/javascript">
preloadFiles=new Array(
'/sounds/sound09101.mp3', '/sounds/sound09102.mp3', '/sounds/sound09103.mp3', '/sounds/sound09104.mp3', 
'/sounds/sound09105.mp3', '/sounds/sound09106.mp3', '/sounds/sound09107.mp3', '/sounds/sound09108.mp3', 
'/sounds/sound09109.mp3', '/sounds/sound09110.mp3', '/sounds/sound09111.mp3', '/sounds/sound09112.mp3', 
'/sounds/sound09113.mp3', '/sounds/sound09114.mp3', '/sounds/sound09115.mp3', '/sounds/sound09116.mp3', 
'/sounds/sound09117.mp3', '/sounds/sound09118.mp3', '/sounds/sound09119.mp3', '/sounds/sound09120.mp3', 
'/sounds/sound09121.mp3', '/sounds/sound09122.mp3', '/sounds/sound09123.mp3', '/sounds/sound09124.mp3', 
'/sounds/sound09125.mp3', '/sounds/sound09126.mp3', '/sounds/sound09127.mp3', '/sounds/sound09128.mp3', 
'/sounds/sound09129.mp3', '/sounds/sound09130.mp3', '/sounds/sound09131.mp3'
)
</script>
