<% @page_title = 'Comments for Lesson 1' %>
<% @page_meta = {'description' => ""} %>

<h2 style="margin-top: 0px;">Comments for Lesson 1</h2>
<hr>
<div id="pagecontent"><div id="content">

<div  id="no_art">
<h3>Absence of the present tense of "<em>to be</em>" and articles</h3>

<p>a) In Russian language, the present tense of "to be" (am, is, are) is not usually used.</p>

<p class="ital">Examples: </p>

<div class="com-example">

<p>Я Джон Браун. – I <u>am</u> John Brown.</p>

<p>Вы из Канады. – You <u>are</u> from Canada.</p>

<p>Это Александр. – This <u>is</u> Alexander.</p>

</div>

<p style="margin-top: 20px;">b) In English, there are articles "the" and "a". In Russian, there are no articles.</p> 

<p class="ital">Examples:</p> 

<div class="com-example">

<p>Я из США. - I am from <u>the</u> USA. </p>

<p>Это билет. - This is <u>a</u> ticket. </p>

</div>

<p>So, building phrases in Russian, you can just omit all articles and the present tense of "to be".</p>
</div>

<br/>

<div id="gender">
<h3>Gender</h3>

<p>
All Russian nouns have gender: masculine, feminine or neuter. It is an important grammatical category in Russian and it is impossible to build a correct phrase in Russian without knowing the gender of nouns. One of the difficulties with gender of nouns consists in the fact that in a phrase the form of adjectives, pronouns, some numbers and some verb tenses will depend of the related noun’s gender. 
</p>
<p>
For example, if you want to say "interesting book" in Russian, first of all you should know the gender of the Russian noun "книга" (book) and then choose a correct form of the adjective "интересный" from the three forms: "интересный" for masculine, "интересная" for feminine and "интересное" for neuter. The noun "книга" belongs to the feminine, so the correct translation for "interesting book" is "интересная книга". 
</p>
<p class="ital">Some more examples: </p>

<div class="com-example">
<p>
<u>мой</u> паспорт<br> 
<u>моя</u> виза <br>
<u>моё</u> такси<br>
</p>

<p>
<u>один</u> час<br> 
<u>одна</u> минута<br> 
<u>одно</u> здание<br>
</p>
</div>

<p>
However, if the form of adjective, pronoun etc. is not correctly chosen and does not correspond to the noun’s gender, the phrase may be not correct, but still understandable for Russian people in most cases. 
</p>
</div>

</div></div>

<script type="text/javascript">
currentSection="course";
</script>
