<% @page_title = 'Online Russian Vocabulary: Computer and Internet' %>
<% @page_meta = {'description' => "Russian online vocabulary for learning words and phrases related to the topic Computer and Internet"} %>
<% @with_rec = true %>
<% @has_audio = true %>
<% content_for :special_js_css do %>
<style type="text/css">
h2.page {margin-bottom: 0px;}
</style>
<% end %>
<div class="hint_wrap">
<div class="hint_button">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <!-- li><a href="computer-flashcards.html"> Flashcards: Computer and Internet</a></li>
            <li><a href="computer-test.html"> Tests: Computer and Internet</a></li -->
        </ul>
        <%= render :partial => 'colorder_accent' %> 
  </div>
</div>
</div>



<h2 class="page">Computer and Internet</h2>
<h3 class="page-path"> 
<span class="int-links"><a href="/vocabulary.html">Vocabulary</a> <span class="int-arrow">--></span> Computer and Internet</span>
</h3>

<div id="pagecontent"><div id="content">

<div class="dict_wrapper">

<div class="voc-wordlist">
<table class="voc_bord" align="center" cellspacing="0">
<tr>
<td>

<table class="diction" cellpadding="0" cellspacing="0" align="center">
<thead>
<tr>
	<td></td>
	<td></td>
	<td></td>
</tr>
</thead>
<tbody>
	<tr class="trow">
		<td class="original" valign="top">Интерн<span class="acco">е</span>т сал<span class="acco">о</span>н
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound14102.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[int<span class="ry">i</span>rn<span class="acct">e</span>t sal<span class="acct">o</span>n]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Cyber salon
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Интерн<span class="acco">е</span>т каф<span class="acco">е</span>
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound14103.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[int<span class="ry">i</span>rn<span class="acct">e</span>t kaf<span class="acct">e</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Cyber cafe
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Компь<span class="acco">ю</span>тер
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound14104.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[kam<span class="sftc">p</span>y<span class="acct">oo</span>ter]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Computer
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Монит<span class="acco">о</span>р
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound14105.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[manit<span class="acct">o</span>r]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Monitor
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Сист<span class="acco">е</span>мный бл<span class="acco">о</span>к
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound14106.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[si<span class="sftc">s</span><span class="sftv">t</span><span class="sfty">y</span><span class="acct">e</span>mn<span class="ry">i</span>y bl<span class="acct">o</span>k]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Computer case
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">М<span class="acco">ы</span>шка
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound14107.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[m<span class="acct"><span class="ry">i</span></span>shka]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Mouse
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Клавиат<span class="acco">у</span>ра
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound14108.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[klaviat<span class="acct">oo</span>ra]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Keyboard
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Ноутб<span class="acco">у</span>к
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound14109.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[noootb<span class="acct">oo</span>k]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Laptop
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Диск
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound14110.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[d<span class="acct">i</span>sk]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Disk
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">К<span class="acco">а</span>рта п<span class="acco">а</span>мяти
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound14111.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[k<span class="acct">a</span>rta p<span class="acct">a</span>miti]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Memory card
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Интерн<span class="acco">е</span>т
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound14101.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[int<span class="ry">i</span>rn<span class="acct">e</span>t]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Internet
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Сайт
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound14112.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[s<span class="acct">a</span>yt]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Web site
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Поисков<span class="acco">и</span>к
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound14113.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[paiskav<span class="acct">i</span>k]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Search engine
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Посет<span class="acco">и</span>ть с<span class="acco">а</span>йт
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound14114.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[pasit<span class="acct">i</span><span class="sftc">t</span> s<span class="acct">a</span>yt]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Visit a website
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Электр<span class="acco">о</span>нная п<span class="acco">о</span>чта
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound14115.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[iliktr<span class="acct">o</span>naya p<span class="acct">o</span>chta]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Email
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top"><span class="acco">А</span>дрес электр<span class="acco">о</span>нной п<span class="acco">о</span>чты
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound14116.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[<span class="acct">a</span>dris iliktr<span class="acct">o</span>nnay p<span class="acct">o</span>cht<span class="ry">i</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Email address
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">ICQ
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound14118.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[ay si ky<span class="acct">oo</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">ICQ
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Н<span class="acco">о</span>мер icq
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound14119.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[n<span class="acct">o</span>mir ay si kyoo]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">ICQ number, isq uin
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Регистр<span class="acco">а</span>ция
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound14120.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[rigistr<span class="acct">a</span>ts<span class="ry">i</span>ya]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Registration
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Пар<span class="acco">о</span>ль
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound14121.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[par<span class="acct">o</span><span class="sftc">l</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Password
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Имя
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound14122.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[<span class="acct">i</span><span class="sftv">m</span><span class="sfty">y</span>a]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Name
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Ник
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound14123.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[n<span class="acct">i</span>k]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Nickname
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Акк<span class="acco">а</span>унт
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound14124.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[ak<span class="acct">a</span>oont]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Account
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Скач<span class="acco">а</span>ть
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound14125.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[skach<span class="acct">a</span><span class="sftc">t</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Download
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Закач<span class="acco">а</span>ть
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound14126.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[zakach<span class="acct">a</span><span class="sftc">t</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Upload
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Файл
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound14127.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[f<span class="acct">a</span>yl]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">File
		</td>
	</tr>

</tbody>
<tfoot>
<tr>
	<td></td>
	<td></td>
	<td></td>
</tr>
</tfoot>  
</table>

</td>
</tr>
</table>
</div><!-- end of voc-wordlist-->

</div>

<!-- table class="voc-links voc-link-first " align="center" cellspacing="0"><tr>
	<td class="voc-space">Learn these words and expressions with our &nbsp;<a href="computer-flashcards.html">Flashcards >></a></td>
</tr></table>
<table class="voc-links voc-link-last" align="center" cellspacing="0"><tr>
	<td class="voc-space">Check how you know this topic with our &nbsp;<a href="computer-test.html">Lexical tests >></a></td>
</tr></table -->
<br><br><br><br><br><br><br><br><br><br>
</div>
</div>

<script type="text/javascript">
currentSection="words";
</script>