<% @page_title = 'Online Russian Vocabulary: Confectionery' %>
<% @page_meta = {'description' => "Russian online vocabulary for learning words and phrases related to the topic Confectionery"} %>
<% @with_rec = true %>
<% @has_audio = true %>
<% content_for :special_js_css do %>
<style type="text/css">
h2.page {margin-bottom: 0px;}
</style>
<% end %>
<div class="hint_wrap">
<div class="hint_button">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <li><a href="confectionery-flashcards.html"> Flashcards: Confectionery</a></li>
            <li><a href="confectionery-test.html"> Tests: Confectionery</a></li>
        </ul>
        <%= render :partial => 'colorder_accent' %> 
  </div>
</div>
</div>



<h2 class="page">Confectionery</h2>
<h3 class="page-path"> 
<span class="int-links"><a href="/vocabulary.html">Vocabulary</a> <span class="int-arrow">--></span> Confectionery</span>
</h3>

<div id="pagecontent"><div id="content">

<div class="dict_wrapper">

<div class="voc-wordlist">
<table class="voc_bord" align="center" cellspacing="0">
<tr>
<td>

<table class="diction" cellpadding="0" cellspacing="0" align="center">
<thead>
<tr>
	<td></td>
	<td></td>
	<td></td>
</tr>
</thead>
<tbody>
	<tr class="trow">
		<td class="original" valign="top">Конд<span class="acco">и</span>терские изд<span class="acco">е</span>лия
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08801.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[kand<span class="acct">i</span>tirskii i<span class="sftc">z</span><span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span>liya]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp;</span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Confectionery
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Вар<span class="acco">е</span>нье, джем
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08802.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[va<span class="sftv">r</span><span class="sfty">y</span><span class="acct">e</span>niye, dj<span class="acct">e</span>m]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp;</span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Jam
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Мёд
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08803.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[<span class="sftv">m</span><span class="sfty">y</span><span class="acct">o</span>t]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp;</span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Honey
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Мор<span class="acco">о</span>женое
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08804.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[mar<span class="acct">o</span>j<span class="ry">i</span>naye]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp;</span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Ice-cream
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Конф<span class="acco">е</span>ты
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08805.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[kan<span class="sftv">f</span><span class="sfty">y</span><span class="acct">e</span>t<span class="ry">i</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp;</span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Sweets
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Шокол<span class="acco">а</span>д
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08806.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[sh<span class="ry">i</span>kal<span class="acct">a</span>t]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp;</span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Rabbit
		</td>
	</tr>
</tbody>
<tfoot>
<tr>
	<td></td>
	<td></td>
	<td></td>
</tr>
</tfoot>  
</table>

</td>
</tr>
</table>
</div><!-- end of voc-wordlist-->

</div>

<table class="voc-links voc-link-first " align="center" cellspacing="0"><tr>
	<td class="voc-space">Learn these words and expressions with our &nbsp;<a href="confectionery-flashcards.html">Flashcards >></a></td>
</tr></table>
<table class="voc-links voc-link-last" align="center" cellspacing="0"><tr>
	<td class="voc-space">Check how you know this topic with our &nbsp;<a href="confectionery-test.html">Lexical tests >></a></td>
</tr></table>

</div>
</div>

<script type="text/javascript">
currentSection="words";
</script>

