<% @page_title = 'Online Russian Flashcards: Confectionery' %>
<% @page_meta = {'description' => "Learn Russian vocabulary topic Confectionery with online flashcards: words with audio samples, quizzes and spell practice"} %>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_js_css do %>
<style type="text/css">
h2.page {
margin-bottom: 0px;
font-size: 19pt;
}
</style>

<%end%>
<div class="hint_wrap">
<div class="hint_button" style="float: right;">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <li><a href="/confectionery.html">Confectionery</a></li>
			<li><a href="/confectionery-test.html">Tests: Confectionery</a></li>
        </ul>
        <%= render :partial => 'down_accent' %>
  </div>
</div>
</div>

<h2 class="page">Flashcards: Confectionery</h2>
<h3 class="page-path">
	<span class="int-links">
	<a href="/vocabulary.html">Vocabulary</a>
	<span class="int-arrow">--&gt;</span> 
	<a href="/confectionery.html">Confectionery</a>
	<span class="int-arrow">--&gt;</span> Flashcards
	</span>
</h3>

<div  id="fl1" style="min-height: 600px; text-align: center;">
<%= render :partial => 'flashcard' %>
</div><!-- end of fl1 -->

<script type="text/javascript"> 
	var fl1 = new flashcard( {
		id: "fl1", 
		random_order: false,
		basic_array: [
		
['Конд<span class="acco">и</span>терские изд<span class="acco">е</span>лия ','Confectionery ','/sounds/sound08801.mp3','kand<span class="acct">i</span>tirskii i<span class="sftc">z</span><span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span>liya '],
['Вар<span class="acco">е</span>нье, джем ','Jam ','/sounds/sound08802.mp3','va<span class="sftv">r</span><span class="sfty">y</span><span class="acct">e</span>niye, dj<span class="acct">e</span>m '],
['Мёд ','Honey ','/sounds/sound08803.mp3','<span class="sftv">m</span><span class="sfty">y</span><span class="acct">o</span>t '],
['Мор<span class="acco">о</span>женое ','Ice-cream ','/sounds/sound08804.mp3','mar<span class="acct">o</span>j<span class="ry">i</span>naye '],
['Конф<span class="acco">е</span>ты ','Sweets ','/sounds/sound08805.mp3','kan<span class="sftv">f</span><span class="sfty">y</span><span class="acct">e</span>t<span class="ry">i</span> '],
['Шокол<span class="acco">а</span>д ','Rabbit ','/sounds/sound08806.mp3','sh<span class="ry">i</span>kal<span class="acct">a</span>t ']
		]
		} )
</script>


<table class="voc-links voc-link-first voc-link-last" align="center" cellspacing="0"><tr>
	<td class="voc-space">Check how you know this topic with our &nbsp;<a href="/confectionery-test.html">Lexical tests >></a></td>
</tr></table>


<script type="text/javascript">
preloadFiles=new Array(
'/sounds/sound08801.mp3', '/sounds/sound08802.mp3', '/sounds/sound08803.mp3', '/sounds/sound08804.mp3', 
'/sounds/sound08805.mp3', '/sounds/sound08806.mp3'
)
</script>
