<% @page_title = 'Study-Languages-Online.com: User Agreement' %>
<% @page_meta = {'description' => "User agreement for the users of the website Study-Languages-Online.com"} %>

<h2 class="page">User Agreement</h2>


<p>
- <em>Study-Languages-Online.com</em> (the "Service") and its affiliate sites (the "Sites") are accessible worldwide to anyone with Internet access. Access to and use of the Service and the Sites are subject to the terms and conditions of this User Agreement and Copyright Notice and all applicable laws and regulations, including laws and regulations governing copyright and trademark. By accessing the service and the sites, you accept, without limitation or qualification, all of the terms and conditions in this user agreement. <em>Study-Languages-Online.com</em> and its affiliates reserve the right to change these terms and conditions at any time. The changes will appear on this screen. By using the Service and the Sites, you agree in advance to accept any changes.
</p>
<p>
- The materials used and displayed on the Service and the Sites, including but not limited to text, software, photographs, graphics, illustrations and artwork, video, music and sound, and names, logos, trademarks and service marks, are the property of <em>Study-Languages-Online.com</em> or its affiliates or licensors and are protected by copyright, trademark and other laws. Any such content may be displayed solely for your personal, non-commercial use. You agree not to modify, reproduce, retransmit, distribute, disseminate, sell, publish, broadcast or circulate any such material without the written permission of <em>Study-Languages-Online.com</em> or the appropriate affiliate. 
</p>
<!--p>
The Service and the Sites include bulletin boards, chat rooms and other user and member created pages which allow you and other users and member to post information and materials, provide feedback to <em>Study-Languages-Online.com</em> and its affiliates and interact in real-time. You agree that <em>Study-Languages-Online.com</em> and its licensees may reproduce, distribute, publish, display, edit, modify, create derivative works and otherwise use all information, text, messages, photographs, member or display name and other materials posted by you (collectively, the "Materials") for any purpose in any form and on any media. You agree not to post or transmit any unlawful, harmful, threatening, abusive, harassing, defamatory, vulgar, obscene, profane, hateful, racially, ethically or otherwise objectionable Materials of any kind, including but not limited to, any Materials which encourages conduct that would constitute a criminal offense, violate the copyrights, trademarks, services marks or similar intellectual property rights or other rights, including invasion of privacy or rights of publicity, of others. You will be responsible for, and indemnify and hold harmless <em>Study-Languages-Online.com</em> its subsidiaries, divisions, affiliates, agents and representatives against any claim arising from any Materials that you post or transmit.
</p-->

<!--p>
Although <em>Study-Languages-Online.com</em> and its affiliates may from time to time monitor or review discussions, chats, postings, transmissions, bulletin boards and other user and member generated pages on the Site, neither <em>Study-Languages-Online.com</em> nor its affiliates is under any obligation to do so. You acknowledge that <em>Study-Languages-Online.com</em> and its affiliates do not control the information available on the bulletin boards, chat rooms and other user and member generated pages and that any opinions, advice, statements, services, offers or other information or content presented or disseminated on any bulletin board, chat room or on any other user or member generated pages are those of their respective authors who are solely liable for their content. <em>Study-Languages-Online.com</em> and its affiliates reserve the right, in their sole discretion, to edit, refuse to post or remove any material submitted to or posted on the chat rooms, bulletin boards or on any other user or member generated pages.
</p-->
<p>
- Your use of the Service and the Sites is at your own risk. Neither <em>Study-Languages-Online.com</em> nor any of its subsidiaries, divisions, affiliates, agents, representatives or licensors shall be liable to you or anyone else for any viruses, loss or injury or any direct, indirect, incidental, consequential, special, punitive or similar damages arising out of your access or use of, or your inability to access or use, the service and the sites and the information available on the service and the sites or arising out of any action taken in response to or as a result of any information available on the service and the sites. You hereby waive any and all claims against <em>Study-Languages-Online.com</em> and its subsidiaries, divisions, affiliates, agents, representatives and licensors arising out of your use of the service and the sites and the information available thereon. 
</p>
<p>
- You should be aware that if you voluntarily disclose personal information (e.g., user name, email address) on a bulletin board, chat room or on any other user or member generated pages, that information can be collected and used by others and may result in unsolicited messages from other parties.
</p>
<p>
- This User Agreement and any disputes arising out of or related to the Service and the Sites shall be governed by, and construed and enforced in accordance with, the laws of the Russian Federation.
</p>
<p>
- <em>Study-Languages-Online.com</em> neither will endorse nor will be held responsible or liable for any product, company or content linked to or advertised on its Site. <em>Study-Languages-Online.com</em> makes no warranties or representations regarding the reliability, accuracy or completeness of any advertisement links to and from other sites.  
</p>
<p>
- You acknowledge and consent and agree that <em>Study-Languages-Online.com</em> may access, preserve and disclose your account information and Materials if required to do so by law or in a good faith belief that such access, preservation or disclosure is reasonably necessary to (a) comply with legal process; (b) enforce these Terms of Use, (c) respond to claims that any Materials violate the rights of third parties; (d) respond to your requests for customer service; or (e) protect the rights, property or personal safety of <em>Study-Languages-Online.com</em>, its users and the public.
</p>
