<% @page_title='Online Russian Course: Summary' %>
<% @page_meta = {'description' => "10 Online Russian Lessons for beginners with exercises, tests and audio examples"} %>

<h2 class="page">Online Course of Russian</h2>

<p>
Find an easy way to learn basic Russian with 10 lessons Everyday Russian Course. This course will give you an opportunity to really comunicate with Russian people.
Every lesson in this course is devoted to a definite topic. The topics cover typical situations which a person visiting Russia may get into.
</p>

 
<% if !(logged_in? && current_user.payment) %>
	<p>
	<u>
	The full version of this course is available for subscribed users. Other users have access to the full version of the first lesson and to a limited version of other lessons.
	</u>
	</p>
<% end %>

<div class="if_no_payment">
<% if  !logged_in? %>
	<p>If you would like to subscribe to this  course, please, <a href="/signup">Sign Up</a> or <a href="login">Sign In</a> and purchase a six months subscription.</p>
<% elsif (logged_in? && !current_user.payment) %>
	<p>If you would like to subscribe to this  course, you can purchase a six months subscription in your <a href="user_profile.html"><strong>Profile</strong></a>.</p>
<%end%> 

<% if !(logged_in? && current_user.payment) %>
	<p class="ital"><strong>Price:</strong> $19.99 USD for 6-month subscription. </p>
<% end %>
</div>


<br/>
<h3>Content:</h3>
<div class="inner-listing">
<p class="bold">
<a href="unit01.html" title="Lesson 1">Lesson 1. <span class="ital">In the airport</span></a>
</p>
<p class="bold">
<a href="unit02.html" title="Lesson 2">Lesson 2. <span class="ital">Transport</span></a>
<% if !(logged_in? && current_user.payment) %>
<span style="font-weight: normal; color: #5F5F5F;">(limited version)</span>
<% end %>

</p>
<p class="bold">
<a href="unit03.html" title="Lesson 3">Lesson 3. <span class="ital">At the hotel</span></a>
<% if !(logged_in? && current_user.payment) %>
<span style="font-weight: normal; color: #5F5F5F;">(limited version)</span>
<% end %>
</p>
<p class="bold">
<a href="unit04.html" title="Lesson 4">Lesson 4. <span class="ital">In the street</span></a>
<% if !(logged_in? && current_user.payment) %>
<span style="font-weight: normal; color: #5F5F5F;">(limited version)</span>
<% end %>
</p>
<p class="bold">
<a href="unit05.html" title="Lesson 5">Lesson 5. <span class="ital">Sightseeings</span></a>
<% if !(logged_in? && current_user.payment) %>
<span style="font-weight: normal; color: #5F5F5F;">(limited version)</span>
<% end %>
</p>
<p class="bold">

<a href="unit06.html" title="Lesson 6">Lesson 6. <span class="ital">Shopping</span></a>
<% if !(logged_in? && current_user.payment) %>
<span style="font-weight: normal; color: #5F5F5F;">(limited version)</span>
<% end %>
</p>
<p class="bold">
<a href="unit07.html" title="Lesson 7">Lesson 7. <span class="ital">At the restaurant</span></a>
<% if !(logged_in? && current_user.payment) %>
<span style="font-weight: normal; color: #5F5F5F;">(limited version)</span>
<% end %>
</p>
<p class="bold">
<a href="unit08.html" title="Lesson 8">Lesson 8. <span class="ital">At the drugstore</span></a>
<% if !(logged_in? && current_user.payment) %>
<span style="font-weight: normal; color: #5F5F5F;">(limited version)</span>
<% end %>
</p>
<p class="bold">
<a href="unit09.html" title="Lesson 9">Lesson 9. <span class="ital">Currency exchange</span></a>
<% if !(logged_in? && current_user.payment) %>
<span style="font-weight: normal; color: #5F5F5F;">(limited version)</span>
<% end %>

</p>
<p class="bold">
<a href="unit10.html" title="Lesson 10">Lesson 10. <span class="ital">Internet &amp; Telephone</span></a>
<% if !(logged_in? && current_user.payment) %>
<span style="font-weight: normal; color: #5F5F5F;">(limited version)</span>
<% end %>
</p>
</div>
<br/>
<p>
Before you begin the course it is recommended to see the sections <a href="pronunciation.html">Russian Pronunciation</a> and <a href="russian-reading.html">Reading in Russian</a>. These sections are not necessary for the work with the course, but if you familiarize with them the work with the course will be easier, since when you do the exercises of the lessons you will devote less attention to the pronunciation and transcription of the words and expressions, and the tasks of the lessons will be simpler to fulfill. 

We also advise to visit <a href="test-use.html">How to use tests</a> page to learn how to work with tests which you will find in the online lessons, and <a href="functions.html">Functions and settings</a> page to read information about available functions on our website that may make it easier to learn Russian.
</p>
<p>
If you are a registered user, you can review the results of the exercises and tests you have done during the lessons. See the <a href="/signup">Registration page</a> 
</p>
<p>
Before you begin the next lesson you should revise the content of the previous lesson.
</p>
<p>
Every lesson includes the following types of exercises:
</p>
<p>
<span class="bold">Dialogue.</span> Dialogues contain main words and expression related to the topic of the lesson. In order you could understand the content of the dialogue there is a preliminary descriptions of the situation and the translation of all phrases of the dialogue. It is not necessary to learn the phrases from the dialogue. The work with the dialogue consists in repeating phrases after speaker and reading with/without the transcription.
</p>
<p>
<span class="bold">Exercises with new words.</span> These exercises contain the most important words related the topic of the lesson. As a rule, while doing tasks of the exercises, it is required to use the expressions studied in the previous lessons. Some tasks come with right answers, so if your answer does not agree with the right version you should find the mistake in your answer and repeat the correct variant.
</p>

<p>
<span class="bold">Exercises with new expressions and constructions.</span>  These exercises contain various constructions which can be used to build phrases related to different topics. Besides, they may be accompanied by grammar comments.
</p>
<!-- p>
<span class="bold">Control/revision exercises.</span> The tasks of these exercises include words and expressions from the current lesson. This type of exercises gives an opportunity to assess how well you have learnt the lesson.
</p -->
<p>
There is a list of recommended vocabulary topics for each lesson. It is advised to familiarize yourself with these topics before you begin the next lesson.
</p>

<script type="text/javascript">
currentSection="course";
</script>



