<% @page_title='Online Russian Course: Summary' %>
<% @page_meta = {'description' => "Online Russian Lessons for beginners with exercises, tests and audio examples"} %>


<% content_for :special_js_css do %>

<style type="text/css">

.evc-present-wrap {
border: 5px solid #6F98DF;
padding: 8px;
max-width: 800px;
position: relative;
background-image: url(/images/ltl-bg.gif);
overflow: hidden;
margin: 0 auto;
-moz-border-radius: 7px;
-moz-box-shadow: 1px 1px 0 #627EAF, 1px 2px 3px #3E556F;
-webkit-border-radius: 7px;
-webkit-box-shadow: 1px 1px 0 #627EAF, 1px 2px 3px #3E556F;
border-radius: 7px;
box-shadow: 1px 1px 0 #627EAF, 1px 2px 3px #3E556F;
}

.evc-present-top {
background-image: url("/images/layout/bl-transparent-65.png");
color: #FFFFFF;
font-weight: bold;
border: 1px solid #2054AF;
}

.evc-present-top p {
padding: 8px 15px;
border: 1px solid #457DDF;
font-size: 18px;
margin: 0;
text-shadow: 0 1px 0 #081C3F;
text-align: center;
}

.evc-info {
background-color: transparent;
background-image: url("/images/bl-transparent-30.png");
border: 1px solid #86ACEF;
padding: 10px ;
}

.evc-init {
margin: 0;
pad-ding: 15px;
text-align: left;
font-size: 11px;
color: #444;
background-color: #fff;
border: 1px solid #86ACEF;
min-height: 200px;
}


ul.feat-list li {
padding: 1px 5px 1px 35px;
margin: 8px 0;
background-image: url(/images/icons/tick.png);
background-repeat: no-repeat;
background-position: 12px 1px;
color: #5F3300;
}

ul.feat-list {
padding: 0;
list-style: none;
margin: 0 0 0 0px;
font-size: 11px;
}

.evc-desc {
padding-top: 10px;
}

.evc-desc a.btn-like {
margin: 0 auto;
width: 190px;
font-size: 12px;
font-weight: bold;
text-decoration: none;
color: #444;
padding: 5px 0;
}

.evc-desc a.btn-register {
background-color: #91d4ff;
color: #1E2F45;
border: 1px solid #8E95AF;
-moz-box-shadow: 1px 2px 3px #45546F
-webkit-box-shadow: 1px 2px 3px #45546F
box-shadow: 1px 2px 3px #45546F
}

.evc-desc a.btn-register:hover {
background-color: #63A2FE;
color: #111;
}

.subsc-opt tr td {
padding: 4px 10px;
background-color: #fff;
background-image: url("/images/btn-grd.png");
background-repeat: no-repeat;
background-position: 50% 50%;
color: #000;
font-size: 10px;
}
.subsc-opt tr td.sb-even {
background-color: #FFD100;
}

.subsc-opt {
background-color: #bfbfbf;
mar-gin: 0 auto;
}


.cs_course_link a {
display: block;
text-align: center;
font-size: 14px;
font-weight: bold;
padding: 2px 10px 3px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
text-shadow: 0 1px 1px #132C4D;
}


.cs_course_link a:link {
color: #fff;
background-color: #3B7ACC;
background-color: #2BBD3F;

text-decoration: none;
}
.cs_course_link a:visited {
color: #fff;
background-color: #3B7ACC;
background-color: #2BBD3F;
text-decoration: none;
}
.cs_course_link a:hover {
color: #fff;
background-color: #149E08;
}
.cs_course_link a:active {
color: #fff;
background-color: #149E08;
}

.cs_course_link a.cs-subsc {
text-shadow: 0 1px 1px #24170C;
}

.cs_course_link a.cs-subsc:link {
background-color: #F78400;

}
.cs_course_link a.cs-subsc:visited {
background-color: #F78400;
}
.cs_course_link a.cs-subsc:hover {
background-color: #E36702;
}
.cs_course_link a.cs-subsc:active {
background-color: #E36702;
}



</style>

<script type="text/javascript"> 



</script>

<% end %>



<h2 class="page page-bl">Online Russian Courses</h2>


<div class="evc-present-wrap">

<table width="100%" cellspacing="0">
	<tr valign="top">
		<td style="padding-right: 6px">
		
<div class="evc-present-top">
<p>
Everyday Russian Course - 10 online lessons
</p>
</div>		
		
		
<div class="evc-present evc-info">

<div class="evc-init">
<p style="margin: 15px 15px 0; color: #111; font-size: 10px; font-weight: bold; text-align: center">
This course will give you an opportunity to experience conversational language and quickly learn Russian vocabulary for introductions, finding your way, shopping, using telephone etc. 
</p>

<div style="padding: 15px; border-bottom: 1px solid #86ACEF;">
<table width="100%">
<col width="120"><col>
<tr valign="top">
<td>
<img src="/images/course-01.jpg" align="left" style="margin: 0px 0 0 10px; width: 110px ">
</td>
<td>
<ul class="ital feat-list" style="padding-left: 30px">
	<li>Work with realistic dialogues recorded by native speakers
	<li>Various interactive exercises
	<li>All words and phrases are accompanied by audio and transcription
	<li>Basic vocabulary and essential grammar constructions that you need to converse with locals
	<li>Step-by-step learning, from simple words to full sentences
</ul>

<div class="btn-link-wrap evc-desc">
	<a href="/everyday-course.html" class="btn-like btn-register">Visit the main page »</a>
</div>
</td>
<tr>
</table>
</div>


<div style="padding: 10px 20px; background-color: #EDF4FC; color: #000">

<table width="100%" align="center" style="margin: 0 auto">
<col width="170"><col >
<tr valign="top">

<td align="right">

<% if !logged_in? %>
<div class="cs_course_link" style="padding-bottom: 5px;">
	<a href="/unit01.html" class="cs-try" title="Try lesson 1 for free"><span>FREE LESSON 1</span> &gt;</a>
</div>

<div class="cs_course_link">
	<a href="/signup?tosubcsr=true" title="SUBSCRIBE" class="cs-subsc" ><span>SUBSCRIBE&nbsp;&nbsp;</span> &gt;</a>
</div>

<%elsif !(logged_in? && current_user.payment) %>

<div class="cs_course_link" style="padding-bottom: 5px;">
	<a href="/unit01.html" class="cs-try" title="Try lesson 1 for free"><span>FREE LESSON 1</span> &gt;</a>
</div>

<div class="cs_course_link">
	<a href="/user_profile.html" title="SUBSCRIBE" class="cs-subsc" ><span>SUBSCRIBE&nbsp;&nbsp;</span> &gt;</a>
</div>
<%else%>
<div class="cs_course_link" style="padding-bottom: 5px;">
	<a href="/unit01.html" class="cs-try" title="Lesson 1"><span>START NOW</span> &gt;</a>
</div>

<%end%>
			



</td>

<td>

<p style="margin: 0 0px 0 20px; color: #000">
The full version of this course is available for subscribed users. Other users have access to the full version of the first lesson and to a limited version of other lessons.
</p>

</td>

	</tr>
</table>

</div>

</div>
</div>

	</td>

	</tr>
</table>
</div>

<br>
<br>
<br>

<div class="evc-present-wrap">

<table width="100%" cellspacing="0">
	<tr valign="top">
		<td style="padding-right: 6px">
		
<div class="evc-present-top">
<p>
Russian Course for Beginners - 5 free online lessons
</p>
</div>		
		
		
<div class="evc-present evc-info">

<div class="evc-init">
<p style="margin: 15px 15px 0; color: #111; font-size: 10px; font-weight: bold; text-align: center">
This course is designed for those who start learning Russian. Here you can learn Russian words and expressions used in greetings, farewells, requests, talking about yourself etc. 
</p>

<div style="padding: 15px; border-bottom: 1px solid #86ACEF;">
<table width="100%">
<col width="120"><col>
<tr valign="top">
<td>
<img src="/images/course-02.jpg" align="left" style="margin: 0px 0 0 10px; width: 110px ">
</td>
<td>
<ul class="ital feat-list" style="padding-left: 30px">
	<li>The most useful grammar and vocabulary
	<li>Words and expressions accompanied by pronunciation
	<li>Plenty of practice opportunities
	<li>Explanations with numerous examples and exercises
	<li>No background in Russian is needed
</ul>

<div class="btn-link-wrap evc-desc">
	<a href="/beginner-course.html" class="btn-like btn-register">Visit the main page »</a>
</div>
</td>
<tr>
</table>
</div>


<div style="padding: 10px 20px; background-color: #EDF4FC; color: #000">

<table width="100%" align="center" style="margin: 0 auto">
<col width="170"><col >
<tr valign="top">

<td align="right">

<div class="cs_course_link" style="padding-bottom: 5px;">
	<a href="/beginner-lesson-01.html" class="cs-try" title="Go to lesson 1"><span>START NOW</span> &gt;</a>
</div>

<!-- div class="cs_course_link">
	<a href="/signup" title="" class="cs-subsc" ><span>SIGN IN</span> &gt;</a>
</div -->


</td>

<td>

<p style="margin: 0 0px 0 20px; color: #000">
If you are a registered user, you can save and review the results of the exercises and tests you have done during the lessons. 
<span style="white-space: nowrap;">See also the <a href="/signup" ><b>Registration page</b></a> </span>
</p>

</td>

	</tr>
</table>

</div>

</div>
</div>

	</td>

	</tr>
</table>
</div>



<br><br>

<p>
Before you begin one of our online courses, we recommend you to see the sections <a href="pronunciation.html">Russian Pronunciation</a> and <a href="russian-reading.html">Reading in Russian</a>. These sections are not necessary for the work with online Russian courses, but if you familiarize with them the work with a course will be easier, since when you do the exercises of the lessons you will devote less attention to the pronunciation and transcription of the words and expressions, and the tasks of the lessons will be simpler to fulfill. 
</p>
<p>
We also advise to visit <a href="test-use.html">How to use tests</a> page to learn how to work with tests which you will find in the online lessons, and <a href="functions.html">Functions and settings</a> page to read information about available functions on our website that may make it easier to learn Russian.
</p>

<br><br>

<%= render :partial => '/site/ad_btm' %>

<br><br><br><br><br><br><br><br>

<script type="text/javascript">
currentSection="course";
</script>



