<% @page_title = 'Online Russian Vocabulary:  Dairy produce and fats' %>
<% @page_meta = {'description' => "Russian online vocabulary for learning words and phrases related to the topic Dairy produce and fats"} %>
<% @with_rec = true %>
<% @has_audio = true %>

<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Links and Settings</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
    				<li><a href="dairy-exercise.html"> Exercises: Dairy produce</a></li>
     				<li><a href="dairy-test.html"> Tests: Dairy produce</a></li>
    		</ul>
        <%= render :partial => 'colorder_accent' %>
	</div>
</div>
</div>



<h2 class="page">Dairy produce and fats</h2>

<div id="pagecontent"><div id="content">


<div class="dict_wrapper">
<table class="diction" cellpadding="0" cellspacing="0" align="center">
	<tr class="trow">
		<td class="original" valign="top">Молок<span class="acco">о</span>
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08501.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[malak<span class="acct">o</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Milk
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">М<span class="acco">а</span>сло
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08502.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[m<span class="acct">a</span>sla]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Butter
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Сл<span class="acco">и</span>вки
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08503.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[sl<span class="acct">i</span>fki]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Cream
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Твор<span class="acco">о</span>г
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08504.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[tvar<span class="acct">o</span>k]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Curds
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Простокв<span class="acco">а</span>ша
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08505.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[prastakv<span class="acct">a</span>sha]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Sour milk
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Смет<span class="acco">а</span>на
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08506.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[smit<span class="acct">a</span>na]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Sour cream
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Кеф<span class="acco">и</span>р
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08507.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[kif<span class="acct">i</span>r]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Youghurt, kefir
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Й<span class="acco">о</span>гурт
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08508.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[y<span class="acct">o</span>goort]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Yoghurt
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Сыр
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08509.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[s<span class="acct"><span class="ry">i</span></span>r]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Cheese
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Пл<span class="acco">а</span>вленный сыр
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08510.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[pl<span class="acct">a</span>vlin<span class="ry">i</span>y s<span class="acct"><span class="ry">i</span></span>r]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Cream cheese spread
		</td>
	</tr>
</table>
</div>
<p class="after_dic">If you want to check how you know these words, go to <a title="Dairy produce and fats tests" href="dairy-test.html">Tests: Dairy produce and fats</a></p>




</div>
</div>

<script type="text/javascript">
currentSection="words";
</script>
