<% @page_title = 'Tests: Dairy produce and fats' %>
<% @page_meta = {'description' => ""} %>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_css do %>
.quest  {
width: 210px;
}
.variants  {
width: 220px;
}
#t2 .quest {
width: 220px;
}
<% end %>

<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Recommended links</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
     				<li><a href="dairy.html">Dairy produce</a></li>
     				<li><a href="dairy-exercise.html"> Exercises: Dairy produce</a></li>

    		</ul>
	</div>
</div>
</div>

<h2 class="page">Dairy produce and fats (tests)</h2>

<p class="task">Before completing the following tests, please revise the topic <a title="Dairy produce and fats" href="dairy.html">Dairy produce and fats</a></p>
<hr/>
<br/>
<h3>Test 1</h3>
<p class="task">Listen to the phrase and сhoose the corresponding Russian expression.</p>

<div id="t1">
<script type="text/javascript">
var t1 = new Test({dict: [

['sounds/sound08501.mp3','молоко'],['sounds/sound08502.mp3','масло'],['sounds/sound08503.mp3','сливки'],['sounds/sound08504.mp3','творог'],
['sounds/sound08505.mp3','простокваша'],['sounds/sound08506.mp3','сметана'],['sounds/sound08507.mp3','кефир'],['sounds/sound08508.mp3','йогурт'],
['sounds/sound08509.mp3','сыр'],['sounds/sound08510.mp3','плавленный сыр']

],hide: 'di1',id:'t1', type: 'audio', how_questions: 8, how_show: 2});
</script>
</div>

<h3>Test 2</h3>
<p class="task">Read the Russian phrase and choose the corresponding English expression.</p>

<div id="t2">
<script type="text/javascript">
var t2 = new Test({dict: [

['молоко','milk'],['масло','butter'],['сливки','cream'],['творог','curds'],
['простокваша','sour milk'],['сметана','sour cream'],['кефир','youghurt, kefir'],['йогурт','yoghurt'],
['сыр','cheese'],['плавленный сыр','cream cheese spread']

], hide:'di2',id:'t2',type: 'text', how_questions: 8, how_show: 2});
</script>
</div>

<h3>Test 3</h3>
<p class="task">Listen to the Russian phrases and сhoose their translation into English.</p>

<div id="t3">
<script type="text/javascript">
var t3 = new Test({dict: [

['sounds/sound08501.mp3','milk'],['sounds/sound08502.mp3','butter'],['sounds/sound08503.mp3','cream'],['sounds/sound08504.mp3','curds'],
['sounds/sound08505.mp3','sour milk'],['sounds/sound08506.mp3','sour cream'],['sounds/sound08507.mp3','youghurt, kefir'],['sounds/sound08508.mp3','yoghurt'],
['sounds/sound08509.mp3','cheese'],['sounds/sound08510.mp3','cream cheese spread']


],hide: 'di3',id:'t3',type: 'audio', how_questions: 8, how_show: 2});
</script>
</div>

<script type="text/javascript">
currentSection="words";
</script>
