<% @page_title = 'Online Russian Flashcards: Dairy produce' %>
<% @page_meta = {'description' => "Learn Russian vocabulary topic Dairy produce with online flashcards: words with audio samples, quizzes and spell practice"} %>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_js_css do %>
<style type="text/css">
h2.page {
margin-bottom: 0px;
font-size: 19pt;
}
</style>

<%end%>
<div class="hint_wrap">
<div class="hint_button" style="float: right;">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <li><a href="/dairy.html">Dairy produce</a></li>
			<li><a href="/dairy-test.html">Tests: Dairy produce</a></li>
        </ul>
        <%= render :partial => 'down_accent' %>
  </div>
</div>
</div>

<h2 class="page">Flashcards: Dairy produce</h2>
<h3 class="page-path">
	<span class="int-links">
	<a href="/vocabulary.html">Vocabulary</a>
	<span class="int-arrow">--&gt;</span> 
	<a href="/dairy.html">Dairy produce</a>
	<span class="int-arrow">--&gt;</span> Flashcards
	</span>
</h3>

<div  id="fl1" style="min-height: 600px; text-align: center;">
<%= render :partial => 'flashcard' %>
</div><!-- end of fl1 -->

<script type="text/javascript"> 
	var fl1 = new flashcard( {
		id: "fl1", 
		random_order: false,
		basic_array: [
		
['Молок<span class="acco">о</span>  ','Milk ','/sounds/sound08501.mp3','malak<span class="acct">o</span>  '],
['М<span class="acco">а</span>сло ','Butter ','/sounds/sound08502.mp3','m<span class="acct">a</span>sla '],
['Сл<span class="acco">и</span>вки ','Cream ','/sounds/sound08503.mp3','sl<span class="acct">i</span>fki '],
['Твор<span class="acco">о</span>г ','Curds ','/sounds/sound08504.mp3','tvar<span class="acct">o</span>k '],
['Простокв<span class="acco">а</span>ша ','Sour milk ','/sounds/sound08505.mp3','prastakv<span class="acct">a</span>sha '],
['Смет<span class="acco">а</span>на ','Sour cream ','/sounds/sound08506.mp3','smit<span class="acct">a</span>na '],
['Кеф<span class="acco">и</span>р ','Youghurt, kefir ','/sounds/sound08507.mp3','kif<span class="acct">i</span>r '],
['Й<span class="acco">о</span>гурт ','Yoghurt ','/sounds/sound08508.mp3','y<span class="acct">o</span>goort '],
['Сыр ','Cheese ','/sounds/sound08509.mp3','s<span class="acct"><span class="ry">i</span></span>r '],
['Пл<span class="acco">а</span>вленный сыр ','Cream cheese spread ','/sounds/sound08510.mp3','pl<span class="acct">a</span>vlin<span class="ry">i</span>y s<span class="acct"><span class="ry">i</span></span>r ']
		]
		} )
</script>


<table class="voc-links voc-link-first voc-link-last" align="center" cellspacing="0"><tr>
	<td class="voc-space">Check how you know this topic with our &nbsp;<a href="/dairy-test.html">Lexical tests >></a></td>
</tr></table>


<script type="text/javascript">
preloadFiles=new Array(
'/sounds/sound08501.mp3', '/sounds/sound08502.mp3', '/sounds/sound08503.mp3', '/sounds/sound08504.mp3', 
'/sounds/sound08505.mp3', '/sounds/sound08506.mp3', '/sounds/sound08507.mp3', '/sounds/sound08508.mp3', 
'/sounds/sound08509.mp3', '/sounds/sound08510.mp3'
)
</script>
