<% @page_title = 'Russian Language Online: Devocalization and vocalization of consonants' %>
<% @page_meta = {'description' => "Online information about devocalization and vocalization of consonants in Russian with audio examples"} %>
<% @with_rec = true %>
<% @has_audio = true %>






<% content_for :special_js_css do %>
<%= stylesheet_link_tag 'stylesounds' %>

<style type="text/css">
h2.page {margin-bottom: 0px;}
.sound-letter td {
width: 20%;
}
.italic-letter {
font-style: italic;
font-family: Times New Roman;
}
</style>
<% end %>

<div class="hint_wrap">
<div class="hint_button" style="float: right;">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Links and Settings</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
    				<li><a href="basic-letters.html">Russian Letters</a></li>
    				<li><a href="softness.html">Softness </a></li>
   					<li><a href="stress-reduction.html">Stress and reduction</a></li>
					<li><a href="reading-exceptions.html">Exceptional cases</a> </li>
					<li><a href="basic-reading-rules.html">Basic rules</a> </li>
    				<li><a href="reading-practice.html">Training exercises</a></li>
    		</ul>
        <%= render :partial => 'preload_option' %>
	</div>
</div>
</div>
<div id="pagecontent"><div id="content">


<h2 class="page">Devocalization and Vocalization <br/>of Consonants</h2>
<h3 class="page-path">
	<span class="int-links">
	<a href="russian-reading.html">Reading in Russian</a>
	<span class="int-arrow">--&gt;</span> 
	<a href="readingrules.html">Rules of reading</a>
	<span class="int-arrow">--&gt;</span> Devocalization and Vocalization
	</span>
</h3>
<p> 
An important feature of the Russian phonetic system is the opposition of voiced consonants vs. unvoiced consonants. Voiced consonants are pronounced with vibration of vocal cords, while unvoiced consonants are pronounced with little or no vibration of vocal cords. There are 11 pairs of voiced vs. unvoiced consonants: [b - p, b' - p', v - f, v' - f', z - s, z' - s', d- t, d' - t', g - k, g' - k', j - sh]. Other consonants do not have pairs, these are voiced consonants [m, m', n, n', l, l', r, r', y] and unvoiced consonants [ts, ch, h, sch].
<br />
<span style="line-height: 20px;" >
<span class="open_popup_link" onClick="open_comment('comments_audio/comment_voiced_unvoiced.html')">Click here to open a popup to listen to these sounds</span>
</span>
</p>

<br><br>
<hr/>

<h3>Devocalization</h3>
<p>
Russian letters <span class="letter">б</span>, <span class="letter">в</span>, <span class="letter">г</span>, <span class="letter">д</span>, <span class="letter">ж</span>, <span class="letter">з</span>, the basic meanings of which are voiced consonants, can designate unvoiced consonant sounds (hard and soft). Such cases are called devoicing (devocalization). Devoicing takes place when these letters are found before letters denoting unvoiced sounds, at the end of a word or before the final soft sign <span class="letter">ь</span>.
</p>

<div class="egdiv eg-sound ">
<h4>Examples: </h4>
<p><strong>The following highlighted letters denote devoiced sounds:</strong></p>
<p>
<span class="eg">зу<span class="unvoiced_letter">б</span></span>
<span class="sound" onclick="playSound('sound12107.mp3')">[zoop] &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
 <span class="egt">tooth</span>

</p>

<p>
<span class="eg">а<span class="unvoiced_letter">в</span>тобус</span>

<span class="sound" onclick="playSound('sound02101.mp3')">[aftoboos] &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
 <span class="egt">bus</span>
</p>
<p>
<span class="eg">нер<span class="unvoiced_letter">в</span></span>
<span class="sound" onclick="playSound('reading/soundr030002.mp3')">[n'erf] &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
 <span class="egt">nerve</span>
</p>
<p>
<span class="eg">обу<span class="unvoiced_letter">в</span>ь</span>
<span class="sound" onclick="playSound('sound09401.mp3')">[oboof'] &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
 <span class="egt">shoes</span>
</p>

</div> 
<br><br>
<hr> 

<h3>Vocalization</h3>
<p>
Vocalization is an opposite process compared to devoicing. It means that letters  <span class="letter">п</span>, <span class="letter">ф</span>, <span class="letter">с</span>, <span class="letter">т</span>, <span class="letter">ш</span> and <span class="letter">к</span>, the basic meanings of which are unvoiced consonants, may designate voiced sounds (hard and soft). Vocalization occurs in cases when these letters are found before letters <span class="letter">б</span>, <span class="letter">г</span>, <span class="letter">д</span>, <span class="letter">ж</span>, <span class="letter">з</span> denoting voiced sounds. Note that if <span class="letter">п</span>, <span class="letter">ф</span>, <span class="letter">с</span>, <span class="letter">т</span>, <span class="letter">ш</span> and <span class="letter">к</span> are found before <span class="letter">в</span>, vocalization does not occur. 
</p>
<div class="egdiv eg-sound ">
<h4>Examples: </h4>
<p><strong>The following highlighted letters denote voiced sounds:</strong></p>
<p>
<span class="eg">во<span class="voiced_letter">к</span>зал</span>
<span class="sound" onclick="playSound('sound06107.mp3')">[vagzal] &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
 <span class="egt">railway station</span>
</p>
<p>
<span class="eg">фу<span class="voiced_letter">т</span>болка</span>
<span class="sound" onclick="playSound('sound09114.mp3')">[foodbolka] &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
 <span class="egt">T-shirt</span>
</p>
<p>BUT:</p>
<p>
<span class="eg">квартал</span>

<span class="sound" onclick="playSound('sound06111.mp3')">[kvartal] &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
 <span class="egt">quarter, block</span> - there is no vocalization before [v]
</p>

</div>

<br><br>
<hr>

<h3>Summary: </h3>

<p>- Before unvoiced consonants, at the end of the word and before final <span class="letter">ь</span> letters <span class="letter">б</span>, <span class="letter">в</span>, <span class="letter">г</span>, <span class="letter">д</span>, <span class="letter">ж</span>, <span class="letter">з</span> denote unvoiced sounds</p>
<p>- When found before letters <span class="letter">б</span>, <span class="letter">г</span>, <span class="letter">д</span>, <span class="letter">ж</span>, <span class="letter">з</span>, letters <span class="letter">п</span>, <span class="letter">ф</span>, <span class="letter">с</span>, <span class="letter">т</span>, <span class="letter">ш</span> and <span class="letter">к</span> denote voiced consonants</p>






</div></div>

<script type="text/javascript">
currentSection="reading";
</script>
