<% @page_title = 'Drag and sort test' %>

<% content_for :special_js_css do %>


<%= javascript_include_tag 'test-drag-sort' %>
<%= stylesheet_link_tag 'es-course' %>

<style type="text/css">


</style>

<%end%>


<h2 class="page">Drag and drop test</h2>


<br>


<div id="ds1">		
<table class="dst-test ds-table" cellspacing="0" >

<col width="150">
<col width="150">

<tr>	
	<td class="ds-quest" align="center">
		street
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>

</tr>
<tr>
	<td class="ds-quest">
			square
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		railway station
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>

</tr>
<tr>
	<td class="ds-quest">
		park
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			
		</div>
	</td>

</tr>
<tr>
	<td class="ds-quest">
		house
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>

</tr>
<tr>
	<td class="ds-quest">
		airport
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>

</tr>



</table>


	


<ul>

	<li> 
			<div class="ds_variant"><div class="ds_vholder">Площадь<br> на   </div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder">Аэропорт </div> </div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder">Улица  </div> </div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder">Вокзал  </div> </div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder">Гостиница  </div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder">Дом </div> </div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder">Парк  </div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder">Ресторан </div> </div>
	</li>


</ul>
</div>
<script type="text/javascript"> 
	var ds1 = new dragsort_test( {id: "ds1", targets: "ds-answer", answer_elem: "ds_sort_item", variant_elem: "ds_variant" } )
</script>













<br>
<br>
<br>
<br>


