<% @page_title = 'Soft and strong drinks :: Online Russian lexical tests' %>
<% @page_meta = {'description' => "Learn Russian vocabulary topic Soft and strong drinks with online lexical tests"} %>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_js_css do %>
<style type="text/css">
h2.page {margin-bottom: 0px;font-size: 19pt;}
</style>
<% end %>

<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Links and Settings</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
     				<li><a href="/drinks.html">Soft and strong drinks</a></li>
					<li><a href="/drinks-flashcards.html"> Flashcards: Soft and strong drinks</a></li>
    		</ul>
			<%= render :partial => 'preload_option' %>
	</div>
</div>
</div>

<h2 class="page">Tests:  Soft and strong drinks</h2>

<h3 class="page-path">
	<span class="int-links">
	<a href="/vocabulary.html">Vocabulary</a>
	<span class="int-arrow">--&gt;</span> 
	<a href="/drinks.html">Soft and strong drinks</a>
	<span class="int-arrow">--&gt;</span> Tests
	</span>
</h3>

<div class="l-test-container">

<h3 class="test-task">Test 1. Listen to the Russian phrase and find it in the list.
<a href="javascript:;" class="lt-test-closer"><span class="lt-h">Hide test</span><span class="lt-sh">Show test</span></a>
</h3>

<div id="ch1" class="lt-holder">
<div class="lt-spacer">	
<%= render :partial => 'lexical_test' %>
</div>
</div><!-- end of lt-holder -->

<script type="text/javascript"> 
	var ch1 = new ch_exercise( {
		id: "ch1", 
		test_id: "v0219010.1",
		quest_num: 10,
		variants_num: 5,
		quest_type: 'audio',
		basic_array: [
['sounds/sound08901.mp3','напитки'],['sounds/sound08902.mp3','какао'],['sounds/sound08903.mp3','коктейль'],['sounds/sound08904.mp3','кофе'],
['sounds/sound08905.mp3','кофе с молоком'],['sounds/sound08906.mp3','лимонад'],['sounds/sound08907.mp3','минеральная вода'],['sounds/sound08908.mp3','питьевая вода'],
['sounds/sound08909.mp3','фруктовые воды'],['sounds/sound08910.mp3','чай'],['sounds/sound08911.mp3','крепкий чай'],['sounds/sound08912.mp3','слабый чай'],
['sounds/sound08913.mp3','крепкие напитки'],['sounds/sound08914.mp3','вино'],['sounds/sound08915.mp3','сладкое вино'],['sounds/sound08916.mp3','столовое вино'],
['sounds/sound08917.mp3','сухое вино'],['sounds/sound08918.mp3','красное вино'],['sounds/sound08919.mp3','белое вино'],['sounds/sound08920.mp3','выдержанное вино'],
['sounds/sound08921.mp3','виски'],['sounds/sound08922.mp3','вишнёвая наливка '],['sounds/sound08923.mp3','водка'],['sounds/sound08924.mp3','коньяк'],
['sounds/sound08925.mp3','пиво'],['sounds/sound08926.mp3','светлое пиво'],['sounds/sound08927.mp3','тёмное пиво']

		]
		} )
</script>

<h3 class="test-task">Test 2. Read the Russian phrase and find its English equivalent.
<a href="javascript:;" class="lt-test-closer"><span class="lt-h">Hide test</span><span class="lt-sh">Show test</span></a>
</h3>

<div id="ch2" class="lt-holder">
<div class="lt-spacer">
<%= render :partial => 'lexical_test' %>
</div>
</div><!-- end of lt-holder -->
<script type="text/javascript"> 
	var ch2 = new ch_exercise( {
		id: "ch2", 
		test_id: "v0219020.2",
		quest_num: 10,
		variants_num: 5,
		basic_array: [
['напитки','beverages, drinks'],['какао','cocoa'],['коктейль','cocktail'],['кофе','coffee'],
['кофе с молоком','white coffee'],['лимонад','lemonade'],['минеральная вода','mineral water'],['питьевая вода','drinking water '],
['фруктовые воды','soft drinks'],['чай','tea'],['крепкий чай','strong tea'],['слабый чай','weak tea'],
['крепкие напитки','strong drinks'],['вино','wine'],['сладкое вино','sweet wine'],['столовое вино','table wine'],
['сухое вино','dry wine'],['красное вино','red wine'],['белое вино','white wine'],['выдержанное вино','old wine'],
['виски','whisky'],['вишнёвая наливка','cherry-brandy'],['водка','vodka'],['коньяк','brandy'],
['пиво','beer'],['светлое пиво','light beer'],['тёмное пиво','dark beer']
		]
		} )
</script>

<h3 class="test-task">Test 3. 
Listen to the phrase and find its translation into English.
<a href="javascript:;" class="lt-test-closer"><span class="lt-h">Hide test</span><span class="lt-sh">Show test</span></a>
</h3>

<div id="ch3" class="lt-holder">
<div class="lt-spacer">	
<%= render :partial => 'lexical_test' %>
</div>
</div><!-- end of lt-holder -->

<script type="text/javascript"> 
	var ch3 = new ch_exercise( {
		id: "ch3", 
		test_id: "v0219030.3",
		quest_num: 10,
		variants_num: 5,
		quest_type: 'audio',
		basic_array: [
		
['sounds/sound08901.mp3','beverages, drinks'],['sounds/sound08902.mp3','cocoa'],['sounds/sound08903.mp3','cocktail'],['sounds/sound08904.mp3','coffee'],
['sounds/sound08905.mp3','white coffee'],['sounds/sound08906.mp3','lemonade'],['sounds/sound08907.mp3','mineral water'],['sounds/sound08908.mp3','drinking water'],
['sounds/sound08909.mp3','soft drinks'],['sounds/sound08910.mp3','tea'],['sounds/sound08911.mp3','strong tea'],['sounds/sound08912.mp3','weak tea'],
['sounds/sound08913.mp3','strong drinks'],['sounds/sound08914.mp3','wine'],['sounds/sound08915.mp3','sweet wine'],['sounds/sound08916.mp3','table wine'],
['sounds/sound08917.mp3','dry wine'],['sounds/sound08918.mp3','red wine'],['sounds/sound08919.mp3','white wine'],['sounds/sound08920.mp3','old wine'],
['sounds/sound08921.mp3','whisky'],['sounds/sound08922.mp3','cherry-brandy'],['sounds/sound08923.mp3','vodka'],['sounds/sound08924.mp3','brandy'],
['sounds/sound08925.mp3','beer'],['sounds/sound08926.mp3','light beer'],['sounds/sound08927.mp3','dark beer']


		]
		} )
</script>

<h3 class="test-task test-task-final" style="text-align: center">Review the topic &nbsp;&nbsp;&nbsp;&nbsp;<a href="/drinks.html">Soft and strong drinks >></a></h3>

<script type="text/javascript">
preloadFiles=new Array(

)
</script>

</div><!-- end of lt-container -->

<script type="text/javascript">
currentSection="words";
</script>