<% @page_title = 'Online Russian Vocabulary: Soft and strong drinks' %>
<% @page_meta = {'description' => "Russian online vocabulary for learning words and phrases related to the topic Soft and strong drinks"} %>
<% @with_rec = true %>
<% @has_audio = true %>
<% content_for :special_js_css do %>
<style type="text/css">
h2.page {margin-bottom: 0px;}
</style>
<% end %>
<div class="hint_wrap">
<div class="hint_button">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <li><a href="drinks-flashcards.html"> Flashcards: Beverages</a></li>
            <li><a href="drinks-test.html"> Tests: Beverages</a></li>
        </ul>
        <%= render :partial => 'colorder_accent' %> 
  </div>
</div>
</div>



<h2 class="page">Soft and strong drinks</h2>
<h3 class="page-path"> 
<span class="int-links"><a href="/vocabulary.html">Vocabulary</a> <span class="int-arrow">--></span> Soft and strong drinks</span>
</h3>

<div id="pagecontent"><div id="content">

<div class="dict_wrapper">

<div class="voc-wordlist">
<table class="voc_bord" align="center" cellspacing="0">
<tr>
<td>

<table class="diction" cellpadding="0" cellspacing="0" align="center">
<thead>
<tr>
	<td></td>
	<td></td>
	<td></td>
</tr>
</thead>
<tbody>
	<tr class="trow">
		<td class="original" valign="top">Нап<span class="acco">и</span>тки
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08901.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[nap<span class="acct">i</span>tki]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Beverages, drinks
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Как<span class="acco">а</span><i></i>о
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08902.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[kak<span class="acct">a</span>o]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Cocoa
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Кокт<span class="acco">е</span>йль
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08903.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[kakt<span class="acct">e</span><span class="sftc">l</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Cocktail
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">К<span class="acco">о</span>фе
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08904.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[k<span class="acct">o</span><span class="sftv">f</span><span class="sfty">y</span>e]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Coffee
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">К<span class="acco">о</span>фе с молок<span class="acco">о</span>м
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08905.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[k<span class="acct">o</span><span class="sftv">f</span><span class="sfty">y</span>e s malak<span class="acct">o</span>m]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">White coffee
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Лимонад
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08906.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[liman<span class="acct">a</span>t]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Lemonade
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Минер<span class="acco">а</span>льная вод<span class="acco">а</span>
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08907.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[minir<span class="acct">a</span><span class="sftc">l</span>naya vad<span class="acct">a</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Mineral water
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Питьев<span class="acco">а</span><i></i>я вод<span class="acco">а</span>
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08908.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[pi<span class="sftc">t</span>yiv<span class="acct">a</span>ya vad<span class="acct">a</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Drinking water
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Фрукт<span class="acco">о</span>вые в<span class="acco">о</span>ды
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08909.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[frookt<span class="acct">o</span>v<span class="ry">i</span>ye v<span class="acct">o</span>d<span class="ry">i</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Soft drinks
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Чай
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08910.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[ch<span class="acct">a</span>y]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Tea
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Кр<span class="acco">е</span>пкий чай
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08911.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[k<span class="sftv">r</span><span class="sfty">y</span><span class="acct">e</span>pkiy ch<span class="acct">a</span>y]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Strong tea
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Сл<span class="acco">а</span>бый чай
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08912.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[sl<span class="acct">a</span>b<span class="ry">i</span>y ch<span class="acct">a</span>y]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Weak tea
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">&nbsp;
		</td>
		<td class="transcript" valign="top">&nbsp;
		</td>
		<td class="translation" valign="top">&nbsp;
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Крепкие напитки
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08913.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[k<span class="sftv">r</span><span class="sfty">y</span><span class="acct">e</span>pkiye nap<span class="acct">i</span>tki]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Strong drinks
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Вин<span class="acco">о</span>
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08914.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[vin<span class="acct">o</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Wine
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Сл<span class="acco">а</span>дкое вин<span class="acco">о</span>
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08915.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[sl<span class="acct">a</span>tkaye vin<span class="acct">o</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Sweet wine
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Стол<span class="acco">о</span>вое вин<span class="acco">о</span>
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08916.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[stal<span class="acct">o</span>vaye vin<span class="acct">o</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Table wine
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Сух<span class="acco">о</span>е вин<span class="acco">о</span>
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08917.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[sooh<span class="acct">o</span>ye vin<span class="acct">o</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Dry wine
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Кр<span class="acco">а</span>сное вин<span class="acco">о</span>
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08918.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[kr<span class="acct">a</span>snaye vin<span class="acct">o</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Red wine
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Б<span class="acco">е</span>лое вин<span class="acco">о</span>
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08919.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[<span class="sftv">b</span><span class="sfty">y</span><span class="acct">e</span>laye vin<span class="acct">o</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">White wine
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">В<span class="acco">ы</span>держанное вин<span class="acco">о</span>
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08920.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[v<span class="acct"><span class="ry">i</span></span>dirjenaye vin<span class="acct">o</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Old wine
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">В<span class="acco">и</span>ски
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08921.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[v<span class="acct">i</span>ski]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Whisky
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Вишнёвая нал<span class="acco">и</span>вка
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08922.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[vish<span class="sftc">n</span><span class="sfty">y</span><span class="acct">o</span>vaya nal<span class="acct">i</span>fka]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Cherry-brandy
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">В<span class="acco">о</span>дка
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08923.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[v<span class="acct">o</span>tka]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Vodka
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Конь<span class="acco">я</span>к
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08924.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[ka<span class="sftc">n</span>y<span class="acct">a</span>k]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Brandy
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">П<span class="acco">и</span>во
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08925.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[p<span class="acct">i</span>va]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Beer
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Св<span class="acco">е</span>тлое п<span class="acco">и</span>во
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08926.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[s<span class="sftv">v</span><span class="sfty">y</span><span class="acct">e</span>tlaye p<span class="acct">i</span>va]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Light beer
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Тёмное п<span class="acco">и</span>во
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08927.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[<span class="sftv">t</span><span class="sfty">y</span><span class="acct">o</span>mnaye p<span class="acct">i</span>va]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Dark beer
		</td>
	</tr>
</tbody>
<tfoot>
<tr>
	<td></td>
	<td></td>
	<td></td>
</tr>
</tfoot>  
</table>

</td>
</tr>
</table>
</div><!-- end of voc-wordlist-->

</div>

<table class="voc-links voc-link-first " align="center" cellspacing="0"><tr>
	<td class="voc-space">Learn these words and expressions with our &nbsp;<a href="drinks-flashcards.html">Flashcards >></a></td>
</tr></table>
<table class="voc-links voc-link-last" align="center" cellspacing="0"><tr>
	<td class="voc-space">Check how you know this topic with our &nbsp;<a href="drinks-test.html">Lexical tests >></a></td>
</tr></table>

</div>
</div>

<script type="text/javascript">
currentSection="words";
</script>

