

<style>
.u-mail {
font-weight: bold;
color: #111;
}

.ok-msg-wrapper ul li{
list-style: circle;
padding: 5px 0;
}

</style>

<div class="ok-msg-wrapper">
<h3 class="ok-msg-header"> <img src="/images/icons/icons-24/tick.png" class="ok-msg-head-img" width="24"> Account successfully created!</h3>
<div class="ok-msg-container">
<p style="font-size: 14px;">Please check your e-mail inbox  <span class="u-mail"><%= @u_mail %></span>. 
You should find a validation <nobr>e-mail</nobr> with your activation code. 
</p>

<br><br>
<h4 class="unreceived">Email not received?</h4>

<ul>
	<li>Check if you entered the correct email address.</li>
	<li>Check your SPAM folder. You may need to add <u><i>support@study-languages-online.com</i></u> to your Contacts or Safe Senders list.</li>
	<li>The email may be delayed up to an hour for some providers like Yahoo and Hotmail.</li>
</ul>
<br>
<p>
If you have any questions or problems related to your account activation, please, <a href="/contacts.html">contact us</a>.
</p>

</div>

</div>







