<% @page_title='Online Russian Course: Summary' %>
<% @page_meta = {'description' => "Online Russian Lessons for beginners with exercises, tests and audio examples"} %>

<% content_for :special_js_css do %>
<style type="text/css">


h3 {
font-size: 14px;
}
.les-desc h4 {
font-style: italic;
padding-left: 5px;
}

.les-desc p {
text-indent: 10px;
}

.les-desc a {
margin-left: 10px;
font-weight: bold;
font-size: 11px;
}



</style>
<%end%>


<h2 class="page">Everyday Russian Course</h2>


<h3 class="page-path">
	<span class="int-links">
	<a href="course.html">Online Russian Courses</a>
	<span class="int-arrow">--&gt;</span> Everyday Russian
	</span>
</h3>

<p>
Find an easy way to learn the language you need for most everyday situations. The 10 online lessons of this course include everything to enable you to to start speaking right away: dialogues, vocabulary lists, interactive exercises and tests.
</p>

<h3 class="ital">Content:</h3>

<div class="inner-listing"  style="padding-left: 10px">
<p class="bold">
<a href="unit01.html" title="Lesson 1">Lesson 1. <span class="ital">In the airport</span></a>
</p>
<p class="bold">
<a href="unit02.html" title="Lesson 2">Lesson 2. <span class="ital">Transport</span></a>
<% if !(logged_in? && current_user.payment) %>
<span style="font-weight: normal; color: #5F5F5F;">(limited version)</span>
<% end %>

</p>
<p class="bold">
<a href="unit03.html" title="Lesson 3">Lesson 3. <span class="ital">At the hotel</span></a>
<% if !(logged_in? && current_user.payment) %>
<span style="font-weight: normal; color: #5F5F5F;">(limited version)</span>
<% end %>
</p>
<p class="bold">
<a href="unit04.html" title="Lesson 4">Lesson 4. <span class="ital">In the street</span></a>
<% if !(logged_in? && current_user.payment) %>
<span style="font-weight: normal; color: #5F5F5F;">(limited version)</span>
<% end %>
</p>
<p class="bold">
<a href="unit05.html" title="Lesson 5">Lesson 5. <span class="ital">Sightseeings</span></a>
<% if !(logged_in? && current_user.payment) %>
<span style="font-weight: normal; color: #5F5F5F;">(limited version)</span>
<% end %>
</p>
<p class="bold">

<a href="unit06.html" title="Lesson 6">Lesson 6. <span class="ital">Shopping</span></a>
<% if !(logged_in? && current_user.payment) %>
<span style="font-weight: normal; color: #5F5F5F;">(limited version)</span>
<% end %>
</p>
<p class="bold">
<a href="unit07.html" title="Lesson 7">Lesson 7. <span class="ital">At the restaurant</span></a>
<% if !(logged_in? && current_user.payment) %>
<span style="font-weight: normal; color: #5F5F5F;">(limited version)</span>
<% end %>
</p>
<p class="bold">
<a href="unit08.html" title="Lesson 8">Lesson 8. <span class="ital">At the drugstore</span></a>
<% if !(logged_in? && current_user.payment) %>
<span style="font-weight: normal; color: #5F5F5F;">(limited version)</span>
<% end %>
</p>
<p class="bold">
<a href="unit09.html" title="Lesson 9">Lesson 9. <span class="ital">Currency exchange</span></a>
<% if !(logged_in? && current_user.payment) %>
<span style="font-weight: normal; color: #5F5F5F;">(limited version)</span>
<% end %>

</p>
<p class="bold">
<a href="unit10.html" title="Lesson 10">Lesson 10. <span class="ital">Internet &amp; Telephone</span></a>
<% if !(logged_in? && current_user.payment) %>
<span style="font-weight: normal; color: #5F5F5F;">(limited version)</span>
<% end %>
</p>
</div>


<h3 class="ital">Features:</h3>

<ul class="ital" style="padding-left: 30px">
	<li>Work with realistic dialogues recorded by native speakers
	<li>Various interactive exercises
	<li>All words and phrases are accompanied by audio and transcription
	<li>Basic vocabulary and essential grammar constructions that you need to converse with locals
	<li>Step-by-step learning, from simple words to full sentences
	<li>No background in Russian is needed
</ul>



			<p>
				<% if !(logged_in? && current_user.payment) %>
				You can try for free the first lesson of this course and review a limited version of other lessons.
				<br><br>
				<a href="unit01.html" title="Try Lesson 1 for free" class="bold" style="text-decoration: none"><span style="text-decoration: underline">TRY LESSON 1 FOR FREE</span> >></a>
				<%else%>
					Every lesson in this course is devoted to a definite topic. The topics cover typical situations which a person visiting Russia may get into.
				<%end%>
			</p>
			
			
			<p>
				This online course will give you an opportunity to experience conversational language and learn the vocabulary for introductions, finding your way, shopping, using telephone and internet etc. 
				
				<% if !(logged_in? && current_user.payment) %>
				Every lesson in this course is devoted to a definite topic. The topics cover typical situations which a person visiting Russia may get into.
				<%end%>
			</p>
			
			
			<p>
				If you are a registered user, you can review the results of the exercises and tests you have done during the lessons<% if logged_in? %>
				in your <b>Profile</b>, in the <a href="/user_profile.html" title="Results" onclick = "nextActiveTab('2')">My Results section</a>
			<%else%>. See the <a href="/signup">Registration page</a> 
			<%end%>
			</p>
			
			
			
			<% if !(logged_in? && current_user.payment) %>
			<p>
				We have the following options for those who would like to subscribe to this course:
			</p>
			
			<ul class="ital">
				<li> 2-month subscription - <b>$8.99 USD</b></li>
				<li> 4-month subscription - <b>$14.99 USD</b></li>
				<li> 6-month subscription - <b>$19.99 USD</b></li>
			</ul>
			<% end %>
			
			<% if  !logged_in? %>
				<p>If you would like to subscribe to this  course, please, <a href="/signup">Sign Up</a> or <a href="login">Sign In</a> and complete the payment procedure.</p>
			<% elsif (logged_in? && !current_user.payment) %>
				<p>If you would like to subscribe to this  course, you can purchase a subscription in your <a href="user_profile.html"><strong>Profile</strong></a>.
				<br><br>
				<a href="user_profile.html#subscription" title="Subscribe to the Course" class="bold" style="text-decoration: none; color: red;"><span style="text-decoration: underline">SUBSCRIBE TO THE COURSE</span> >></a>
				</p>
			<%end%> 
			
			
			<p>
				The full version of this course is available for subscribed users. Other users have access to the full version of the first lesson and to a limited version of other lessons.
			</p>
			
			
			


<h3>Short description of each lesson:</h3>

<div style="padding: 0 30px 0 0;" class="les-desc">

<h4>Lesson 1. In the airport</h4>
<p>
Here you can learn expressions which Russians use to introduce themselves, how to address a stranger and some basic terms of courtesy
<br>
<a href="unit01.html" title="Lesson 1">Go to this lesson >></span></a>
</p>

<h4>Lesson 2. Transport </h4>
<p>
In this lesson you will learn words and expressions on the topic "Transportation",  how to say in Russian that you need something, how to ask about the cost of things, numerals from 1 to 10, and tens from 10 to 100 in Russian.
<br>
<a href="unit02.html" title="Lesson 2">Go to this lesson >></span></a>
 </p>
 
<h4>Lesson 3. At the hotel</h4>
<p>
Here you can learn words and expressions on the topic "Hotel", Russian equivalents to constructions "I have" and "There is",  numerals from 20 to 99.

<br>
<a href="unit03.html" title="Lesson 3">Go to this lesson >></span></a>
 </p>
<h4>Lesson 4. In the street</h4>
<p>
This lesson contains words and expressions on the topic "City", forms of imperative mood of several Russian verbs, expressions which can be helpful to state your knowledge of language, and you will learn how to make a polite request.
<br>
<a href="unit04.html" title="Lesson 4">Go to this lesson >></span></a>
 </p>
<h4>Lesson 5. Sightseeings</h4>
<p>
In this lesson you will learn words and expressions on the topic "Sights", how to ask for advice, how to ask for permission to do something, expressions to tell about the time, numerals from 100 to 1000
<br>
<a href="unit05.html" title="Lesson 5">Go to this lesson >></span></a>
</p>

<h4>Lesson 6. Shopping</h4>
<p>
Here you can learn Russian words and expressions on the topic "Shopping", how to say in Russian that you are looking for something, and how to say that you like something, numerals over 1000.
<br>
<a href="unit06.html" title="Lesson 6">Go to this lesson >></span></a>
</p>

<h4>Lesson 7. At the restaurant</h4>
<p>
Here you will work with the vocabulary related to the topic food and you will learn how to say that you like something or dislike something.
<br>
<a href="unit07.html" title="Lesson 7">Go to this lesson >></span></a>
</p>

<h4>Lesson 8. At the drugstore</h4>
<p>
This lesson will teach you words and expressions on the topic "Health", how to say in Russian that you have pain, and words and expressions to tell about the frequency of actions.
<br>
<a href="unit05.html" title="Lesson 5">Go to this lesson >></span></a>
</p>

<h4>Lesson 9. Currency exchange</h4>
<p>
In this lesson you will learn words and expressions on the topic "Money", how to say politely that you would like to do something, how to say that some office or institution is closed and does not work. 
<br>
<a href="unit09.html" title="Lesson 9">Go to this lesson >></span></a>
</p>

<h4>Lesson 10. Internet & Telephone</h4>
<p>
This lesson contains words and expressions related the topic "Means of Communication" and also exercises and test to revise basic constructions which were introduced in previous lessons.
<br>
<a href="unit10.html" title="Lesson 10">Go to this lesson >></span></a>
</p>

</div>

<h3>Additional information:</h3>

<p>Every lesson includes the following types of exercises:</p>

<p>
<strong>Dialogue.</strong> Dialogues contain main words and expression related to the topic of the lesson. In order you could understand the content of the dialogue there is a preliminary descriptions of the situation and the translation of all phrases of the dialogue. It is not necessary to learn the phrases from the dialogue. The work with the dialogue consists in repeating phrases after speaker and reading with/without the transcription.
</p>
<p>
<strong>Exercises with new words.</strong> These exercises contain the most important words related the topic of the lesson. As a rule, while doing tasks of the exercises, it is required to use the expressions studied in the previous lessons. Some tasks come with right answers, so if your answer does not agree with the right version you should find the mistake in your answer and repeat the correct variant.
</p>
<p>
<strong>Exercises with new expressions and constructions.</strong> These exercises contain various constructions which can be used to build phrases related to different topics. Besides, they may be accompanied by grammar comments.
</p>

<h3>Recommendations:</h3>

<p>
Before you begin working with this course, we recommend you to see the sections <a href="pronunciation.html">Russian Pronunciation</a> and <a href="russian-reading.html">Reading in Russian</a>. If you familiarize with them the work with the course will be easier, since when you do the exercises of the lessons you will devote less attention to the pronunciation and transcription of the words and expressions, and the tasks of the lessons will be simpler to fulfill.
</p>
<p>
We also advise to visit <a href="test-use.html">How to use tests</a> page to learn how to work with tests which you will find in the online lessons, and <a href="functions.html">Functions and settings</a>  page to read information about available functions on our website that may make it easier to learn Russian.
</p>





<script type="text/javascript">
currentSection="course";
</script>



