
<%
@category_tag = 'family'
@category = Category.find(:first, :conditions => ['tag=?', @category_tag ])
@category_title = @category.title
@words = @category.words.find(:all, :order => 'order_num')
%>

<% @page_title = 'Online Russian Vocabulary: '+@category_title+' '  %>
<% @page_meta = {'description' => "Learn Russian vocabulary topic "+@category_title+" with online flashcards: words with audio samples, quizzes and spell practice"} %>

<p style="font-size: 25px; color: #444">This page is out of date.</p>
<p> To visit the latest version of this page, please, <b><a href="/en/ru/vocabulary/family">click here</a></b></p>


<br><br>
<br><br><br><br><br><br><br><br>






