<% @page_title = 'Fish, fish dishes :: Online Russian lexical tests' %>
<% @page_meta = {'description' => "Learn Russian vocabulary topic Fish, fish dishes with online lexical tests"} %>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_js_css do %>
<style type="text/css">
h2.page {margin-bottom: 0px;font-size: 19pt;}
</style>
<% end %>

<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Links and Settings</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
     				<li><a href="/fish.html">Fish, fish dishes</a></li>
					<li><a href="/fish-flashcards.html"> Flashcards: Fish, fish dishes</a></li>
    		</ul>
			<%= render :partial => 'preload_option' %>
	</div>
</div>
</div>

<h2 class="page">Tests:  Fish, fish dishes</h2>

<h3 class="page-path">
	<span class="int-links">
	<a href="/vocabulary.html">Vocabulary</a>
	<span class="int-arrow">--&gt;</span> 
	<a href="/fish.html">Fish, fish dishes</a>
	<span class="int-arrow">--&gt;</span> Tests
	</span>
</h3>

<div class="l-test-container">

<h3 class="test-task">Test 1. Listen to the Russian phrase and find it in the list.
<a href="javascript:;" class="lt-test-closer"><span class="lt-h">Hide test</span><span class="lt-sh">Show test</span></a>
</h3>

<div id="ch1" class="lt-holder">
<div class="lt-spacer">	
<%= render :partial => 'lexical_test' %>
</div>
</div><!-- end of lt-holder -->

<script type="text/javascript"> 
	var ch1 = new ch_exercise( {
		id: "ch1", 
		test_id: "v0214010.1",
		quest_num: 10,
		variants_num: 5,
		quest_type: 'audio',
		basic_array: [
['sounds/sound08401.mp3','рыба'],['sounds/sound08402.mp3','карп'],['sounds/sound08403.mp3','лещ'],['sounds/sound08404.mp3','лосось'],
['sounds/sound08405.mp3','осётр'],['sounds/sound08406.mp3','окунь'],['sounds/sound08407.mp3','селёдка'],['sounds/sound08408.mp3','треска'],
['sounds/sound08409.mp3','щука'],['sounds/sound08410.mp3','форель'],['sounds/sound08411.mp3','угорь'],
['sounds/sound08412.mp3','икра'],['sounds/sound08413.mp3','красная икра'],['sounds/sound08414.mp3','белужья икра'],['sounds/sound08415.mp3','тресковая печень'],
['sounds/sound08416.mp3','вяленая рыба'],['sounds/sound08417.mp3','уха'],['sounds/sound08418.mp3','жареная рыба'],['sounds/sound08419.mp3','солёная рыба'],
['sounds/sound08420.mp3','копчёная рыба']
		]
		} )
</script>

<h3 class="test-task">Test 2. Read the Russian phrase and find its English equivalent.
<a href="javascript:;" class="lt-test-closer"><span class="lt-h">Hide test</span><span class="lt-sh">Show test</span></a>
</h3>

<div id="ch2" class="lt-holder">
<div class="lt-spacer">
<%= render :partial => 'lexical_test' %>
</div>
</div><!-- end of lt-holder -->
<script type="text/javascript"> 
	var ch2 = new ch_exercise( {
		id: "ch2", 
		test_id: "v0214020.2",
		quest_num: 10,
		variants_num: 5,
		basic_array: [
['рыба','fish'],['карп','carp'],['лещ','bream'],['лосось','salmon'],
['осётр','sturgeon'],['окунь','perch'],['селёдка','herring'],['треска','cod'],
['щука','pike'],['форель','trout'],['угорь','eel'],
['икра','caviar'],['красная икра','red caviar'],['белужья икра','beluga caviar'],['тресковая печень','cod liver'],
['вяленая рыба','dried fish'],['уха','fish soup'],['жареная рыба','fried fish'],['солёная рыба','salted fish'],
['копчёная рыба','smoked fish']
		]
		} )
</script>

<h3 class="test-task">Test 3. 
Listen to the phrase and find its translation into English.
<a href="javascript:;" class="lt-test-closer"><span class="lt-h">Hide test</span><span class="lt-sh">Show test</span></a>
</h3>

<div id="ch3" class="lt-holder">
<div class="lt-spacer">	
<%= render :partial => 'lexical_test' %>
</div>
</div><!-- end of lt-holder -->

<script type="text/javascript"> 
	var ch3 = new ch_exercise( {
		id: "ch3", 
		test_id: "v0214030.3",
		quest_num: 10,
		variants_num: 5,
		quest_type: 'audio',
		basic_array: [
		

['sounds/sound08401.mp3','fish'],['sounds/sound08402.mp3','carp'],['sounds/sound08403.mp3','bream'],['sounds/sound08404.mp3','salmon'],
['sounds/sound08405.mp3','sturgeon'],['sounds/sound08406.mp3','perch'],['sounds/sound08407.mp3','herring'],['sounds/sound08408.mp3','cod'],
['sounds/sound08409.mp3','pike'],['sounds/sound08410.mp3','trout'],['sounds/sound08411.mp3','eel'],
['sounds/sound08412.mp3','caviar'],['sounds/sound08413.mp3','red caviar'],['sounds/sound08414.mp3','beluga caviar'],['sounds/sound08415.mp3','cod liver'],
['sounds/sound08416.mp3','dried fish'],['sounds/sound08417.mp3','fish soup'],['sounds/sound08418.mp3','fried fish'],['sounds/sound08419.mp3','salted fish'],
['sounds/sound08420.mp3','smoked fish']
		]
		} )
</script>

<h3 class="test-task test-task-final" style="text-align: center">Review the topic &nbsp;&nbsp;&nbsp;&nbsp;<a href="/fish.html">Fish, fish dishes >></a></h3>

<script type="text/javascript">
preloadFiles=new Array(

)
</script>

</div><!-- end of lt-container -->

<script type="text/javascript">
currentSection="words";
</script>