<% @page_title = 'Online Russian Vocabulary: Fish, fish dishes' %>
<% @page_meta = {'description' => "Russian online vocabulary for learning words and phrases related to the topic Fish, fish dishes"} %>
<% @with_rec = true %>
<% @has_audio = true %>
<% content_for :special_js_css do %>
<style type="text/css">
h2.page {margin-bottom: 0px;}
</style>
<% end %>
<div class="hint_wrap">
<div class="hint_button">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <li><a href="fish-flashcards.html"> Flashcards: Fish, fish dishes</a></li>
            <li><a href="fish-test.html"> Tests: Fish, fish dishes</a></li>
        </ul>
        <%= render :partial => 'colorder_accent' %> 
  </div>
</div>
</div>



<h2 class="page">Fish, fish dishes</h2>
<h3 class="page-path"> 
<span class="int-links"><a href="/vocabulary.html">Vocabulary</a> <span class="int-arrow">--></span> Fish, fish dishes</span>
</h3>

<div id="pagecontent"><div id="content">

<div class="dict_wrapper">

<div class="voc-wordlist">
<table class="voc_bord" align="center" cellspacing="0">
<tr>
<td>

<table class="diction" cellpadding="0" cellspacing="0" align="center">
<thead>
<tr>
	<td></td>
	<td></td>
	<td></td>
</tr>
</thead>
<tbody>
	<tr class="trow">
		<td class="original" valign="top">Р<span class="acco">ы</span>ба
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08401.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[r<span class="acct"><span class="ry">i</span></span>ba]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Fish
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Карп
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08402.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[k<span class="acct">a</span>rp]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Carp
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Лещ
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08403.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[<span class="sftv">l</span><span class="sfty">y</span><span class="acct">e</span>sch]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Bream
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Лос<span class="acco">о</span>сь
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08404.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[las<span class="acct">o</span><span class="sftc">s</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Salmon
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Осётр
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08405.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[a<span class="sftv">s</span><span class="sfty">y</span><span class="acct">o</span>tr]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Sturgeon
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top"><span class="acco">О</span>кунь
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08406.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[<span class="acct">o</span>koo<span class="sftc">n</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Perch
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Селёдка
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08407.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[si<span class="sftv">l</span><span class="sfty">y</span><span class="acct">o</span>tka]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Herring
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Треск<span class="acco">а</span>
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08408.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[trisk<span class="acct">a</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Cod
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Щ<span class="acco">у</span>ка
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08409.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[sch<span class="acct">oo</span>ka]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Pike
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Фор<span class="acco">е</span>ль
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08410.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[far<span class="acct">e</span><span class="sftc">l</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Trout
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top"><span class="acco">У</span>горь
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08411.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[<span class="acct">oo</span>ga<span class="sftc">r</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Eel
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">&nbsp;
		</td>
		<td class="transcript" valign="top">&nbsp;
		</td>
		<td class="translation" valign="top">&nbsp;
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Икр<span class="acco">а</span>
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08412.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[ikr<span class="acct">a</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Caviar
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Кр<span class="acco">а</span>сная икр<span class="acco">а</span>
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08413.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[kr<span class="acct">a</span>snaya ikr<span class="acct">a</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Red caviar
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Бел<span class="acco">у</span>жья икр<span class="acco">а</span>
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08414.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[bil<span class="acct">oo</span>jya ikr<span class="acct">a</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Beluga caviar
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Треск<span class="acco">о</span>вая п<span class="acco">е</span>чень
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08415.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[trisk<span class="acct">o</span>vaya <span class="sftv">p</span><span class="sfty">y</span><span class="acct">e</span>che<span class="sftc">n</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Cod liver
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">В<span class="acco">я</span>леная р<span class="acco">ы</span>ба
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08416.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[<span class="sftv">v</span><span class="sfty">y</span><span class="acct">a</span>linaya r<span class="acct"><span class="ry">i</span></span>ba]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Dried fish
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Ух<span class="acco">а</span>
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08417.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[ooh<span class="acct">a</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Fish soup
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Ж<span class="acco">а</span>реная р<span class="acco">ы</span>ба
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08418.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[j<span class="acct">a</span>rinaya r<span class="acct"><span class="ry">i</span></span>ba]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Fried fish
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Солёная р<span class="acco">ы</span>ба
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08419.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[sa<span class="sftv">l</span><span class="sfty">y</span><span class="acct">o</span>naya r<span class="acct"><span class="ry">i</span></span>ba]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Salted fish
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Копчёная р<span class="acco">ы</span>ба
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08420.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[kapch<span class="acct">o</span>naya r<span class="acct"><span class="ry">i</span></span>ba]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Smoked fish
		</td>
	</tr>
</tbody>
<tfoot>
<tr>
	<td></td>
	<td></td>
	<td></td>
</tr>
</tfoot>  
</table>

</td>
</tr>
</table>
</div><!-- end of voc-wordlist-->

</div>

<table class="voc-links voc-link-first " align="center" cellspacing="0"><tr>
	<td class="voc-space">Learn these words and expressions with our &nbsp;<a href="fish-flashcards.html">Flashcards >></a></td>
</tr></table>
<table class="voc-links voc-link-last" align="center" cellspacing="0"><tr>
	<td class="voc-space">Check how you know this topic with our &nbsp;<a href="fish-test.html">Lexical tests >></a></td>
</tr></table>

</div>
</div>

<script type="text/javascript">
currentSection="words";
</script>

