<% @page_title = 'Free Russian online vocabulary' %>
<% @page_meta = {'description' => "Free Russian online vocabulary includes a vocabulary list with audio samples, special lexical exercises and online tests."} %>

<h2 class="page">Free Russian online topics</h2>

<%= render :partial => 'ad_horizont' %>
<p>
One of the most important things for those who learn a language is to know enough words. And we provide on our website a <strong>free Russian online vocabulary</strong> which will help you to learn Russian words and expressions for different situations. 
</p>
<p>
Free Russian online <a href="vocabulary.html">vocabulary</a> has several sections: topics, exercises, tests and games. We hope that these sections will make it much easier for you to learn Russian online. If you have already studied a foreign language, you may know that it is really hard to learn vocabulary only by repeating foreign words and their translation. If you want to know well these words, you need to complete special exercises. And it is also important that your knowledge of these words could be evaluated and you could know to which words and expressions you should devote more attention.
</p>
<p>
On our website, each vocabulary topic consists of a list of words and expressions with transcription and translation. You can find free Russian online <a href="vocabulary_exercises.html">exercises</a> that help you to learn all these words. Every exercise is automatically built each time you start it. Therefore, you can complete an exercise several times, and each time it will not be the same exercise that you did before.
</p>
<p>
The next step of learning Russian vocabulary is to assess your knowledge of Russian words. You can check how well you know these words while completing free Russian online <a href="vocabulary_tests.html">tests available on our website</a>. When a test is completed, you will see information about the number of wrong answers, if any, and correct answers. So, you will be aware whether you know the topic already well or you should work more on it. 
</p>
