<% @page_title = 'Online Russian Flashcards: Fruit, berries' %>
<% @page_meta = {'description' => "Learn Russian vocabulary topic Fruit, berries with online flashcards: words with audio samples, quizzes and spell practice"} %>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_js_css do %>
<style type="text/css">
h2.page {
margin-bottom: 0px;
font-size: 19pt;
}
</style>

<%end%>
<div class="hint_wrap">
<div class="hint_button" style="float: right;">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <li><a href="/fruit.html">Fruit, berries</a></li>
			<li><a href="/fruit-test.html">Tests: Fruit, berries</a></li>
        </ul>
        <%= render :partial => 'down_accent' %>
  </div>
</div>
</div>

<h2 class="page">Flashcards: Fruit, berries</h2>
<h3 class="page-path">
	<span class="int-links">
	<a href="/vocabulary.html">Vocabulary</a>
	<span class="int-arrow">--&gt;</span> 
	<a href="/fruit.html">Fruit, berries</a>
	<span class="int-arrow">--&gt;</span> Flashcards
	</span>
</h3>

<div  id="fl1" style="min-height: 600px; text-align: center;">
<%= render :partial => 'flashcard' %>
</div><!-- end of fl1 -->

<script type="text/javascript"> 
	var fl1 = new flashcard( {
		id: "fl1", 
		random_order: false,
		basic_array: [
		
['Фр<span class="acco">у</span>кты ','Fruit ','/sounds/sound08701.mp3','fr<span class="acct">oo</span>kt<span class="ry">i</span>  '],
['<span class="acco">Я</span>годы ','Berries ','/sounds/sound08702.mp3','y<span class="acct">a</span>gad<span class="ry">i</span> '],
['Абрик<span class="acco">о</span>с ','Apricot ','/sounds/sound08703.mp3','abrik<span class="acct">o</span>s '],
['Анан<span class="acco">а</span>с ','Pine-apple ','/sounds/sound08704.mp3','anan<span class="acct">a</span>s '],
['Апельс<span class="acco">и</span>н ','Orange ','/sounds/sound08705.mp3','api<span class="sftc">l</span>s<span class="acct">i</span>n '],
['Арб<span class="acco">у</span>з ','Water melon ','/sounds/sound08706.mp3','arb<span class="acct">oo</span>s '],
['Бан<span class="acco">а</span>н ','Banana ','/sounds/sound08707.mp3','ban<span class="acct">a</span>n '],
['Виногр<span class="acco">а</span>д ','Grapes ','/sounds/sound08708.mp3','vinagr<span class="acct">a</span>t '],
['В<span class="acct">и</span>шня ','Cherry ','/sounds/sound08709.mp3','v<span class="acct">i</span>sh<span class="sftc">n</span><span class="sfty">y</span>a '],
['Чер<span class="acco">е</span>шня ','Sweet cherry ','/sounds/sound08710.mp3','chi<span class="sftv">r</span><span class="sfty">y</span><span class="acct">e</span>sh<span class="sftc">n</span><span class="sfty">y</span>a '],
['Гр<span class="acco">у</span>ша ','Pear ','/sounds/sound08711.mp3','gr<span class="acct">oo</span>sha '],
['Д<span class="acco">ы</span>ня ','Melon ','/sounds/sound08712.mp3','d<span class="acct"><span class="ry">i</span></span><span class="sftc">n</span><span class="sfty">y</span>a '],
['Клубн<span class="acco">и</span>ка ','Strawberry ','/sounds/sound08713.mp3','kloobn<span class="acct">i</span>ka '],
['Крыж<span class="acco">о</span>вник ','Gooseberry ','/sounds/sound08714.mp3','kr<span class="ry">i</span>j<span class="acct">o</span>vnik '],
['Лим<span class="acco">о</span>н ','Lemon ','/sounds/sound08715.mp3','lim<span class="acct">o</span>n '],
['Мал<span class="acco">и</span>на ','Raspberry ','/sounds/sound08716.mp3','mal<span class="acct">i</span>na '],
['Мандар<span class="acco">и</span>н ','Tangerine ','/sounds/sound08717.mp3','mandar<span class="acct">i</span>n '],
['П<span class="acco">е</span>рсик ','Peach ','/sounds/sound08718.mp3','<span class="sftv">p</span><span class="sfty">y</span><span class="acct">e</span>rsik '],
['Сл<span class="acco">и</span>ва ','Plum ','/sounds/sound08719.mp3','sl<span class="acct">i</span>va '],
['Смор<span class="acco">о</span>дина ','Black-currant ','/sounds/sound08720.mp3','smar<span class="acct">o</span>dina '],
['Черносл<span class="acco">и</span>в ','Prune ','/sounds/sound08721.mp3','chirnasl<span class="acct">i</span>f '],
['<span class="acco">Я</span>блоко ','Apple ','/sounds/sound08722.mp3','y<span class="acct">a</span>blaka ']
		]
		} )
</script>


<table class="voc-links voc-link-first voc-link-last" align="center" cellspacing="0"><tr>
	<td class="voc-space">Check how you know this topic with our &nbsp;<a href="/fruit-test.html">Lexical tests >></a></td>
</tr></table>


<script type="text/javascript">
preloadFiles=new Array(
'/sounds/sound08701.mp3', '/sounds/sound08702.mp3', '/sounds/sound08703.mp3', '/sounds/sound08704.mp3', 
'/sounds/sound08705.mp3', '/sounds/sound08706.mp3', '/sounds/sound08707.mp3', '/sounds/sound08708.mp3', 
'/sounds/sound08709.mp3', '/sounds/sound08710.mp3', '/sounds/sound08711.mp3', '/sounds/sound08712.mp3', 
'/sounds/sound08713.mp3', '/sounds/sound08714.mp3', '/sounds/sound08715.mp3', '/sounds/sound08716.mp3', 
'/sounds/sound08717.mp3', '/sounds/sound08718.mp3', '/sounds/sound08719.mp3', '/sounds/sound08720.mp3', 
'/sounds/sound08721.mp3', '/sounds/sound08722.mp3'
)
</script>
