<% @page_title = 'Online Russian Vocabulary: Fruit, berries' %>
<% @page_meta = {'description' => "Russian online vocabulary for learning words and phrases related to the topic Fruit, berries"} %>
<% @with_rec = true %>
<% @has_audio = true %>

<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Links and Settings</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
    				<li><a href="fruit-exercise.html"> Exercises: Fruit, berries</a></li>
     				<li><a href="fruit-test.html"> Tests: Fruit, berries</a></li>
    		</ul>
        <%= render :partial => 'colorder_accent' %>
	</div>
</div>
</div>



<h2 class="page">Fruit, berries</h2>

<div id="pagecontent"><div id="content">


<div class="dict_wrapper">
<table class="diction" cellpadding="0" cellspacing="0" align="center">
	<tr class="trow">
		<td class="original" valign="top">Фр<span class="acco">у</span>кты
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08701.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[fr<span class="acct">oo</span>kt<span class="ry">i</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Fruit
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top"><span class="acco">Я</span>годы 
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08702.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[y<span class="acct">a</span>gad<span class="ry">i</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Berries
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Абрик<span class="acco">о</span>с
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08703.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[abrik<span class="acct">o</span>s]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Apricot
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Анан<span class="acco">а</span>с
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08704.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[anan<span class="acct">a</span>s]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Pine-apple
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Апельс<span class="acco">и</span>н
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08705.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[api<span class="sftc">l</span>s<span class="acct">i</span>n]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Orange
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Арб<span class="acco">у</span>з
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08706.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[arb<span class="acct">oo</span>s]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Water melon
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Бан<span class="acco">а</span>н
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08707.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[ban<span class="acct">a</span>n]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Banana
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Виногр<span class="acco">а</span>д
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08708.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[vinagr<span class="acct">a</span>t]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Grapes
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">В<span class="acct">и</span>шня
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08709.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[v<span class="acct">i</span>sh<span class="sftc">n</span><span class="sfty">y</span>a]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Cherry
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Чер<span class="acco">е</span>шня
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08710.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[chi<span class="sftv">r</span><span class="sfty">y</span><span class="acct">e</span>sh<span class="sftc">n</span><span class="sfty">y</span>a]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Sweet cherry
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Гр<span class="acco">у</span>ша
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08711.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[gr<span class="acct">oo</span>sha]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Pear
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Д<span class="acco">ы</span>ня
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08712.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[d<span class="acct"><span class="ry">i</span></span><span class="sftc">n</span><span class="sfty">y</span>a]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Melon
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Клубн<span class="acco">и</span>ка
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08713.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[kloobn<span class="acct">i</span>ka]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Strawberry
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Крыж<span class="acco">о</span>вник
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08714.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[kr<span class="ry">i</span>j<span class="acct">o</span>vnik]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Gooseberry
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Лим<span class="acco">о</span>н
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08715.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[lim<span class="acct">o</span>n]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Lemon
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Мал<span class="acco">и</span>на
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08716.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[mal<span class="acct">i</span>na]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Raspberry
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Мандар<span class="acco">и</span>н
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08717.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[mandar<span class="acct">i</span>n]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Tangerine
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">П<span class="acco">е</span>рсик
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08718.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[<span class="sftv">p</span><span class="sfty">y</span><span class="acct">e</span>rsik]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Peach
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Сл<span class="acco">и</span>ва
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08719.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[sl<span class="acct">i</span>va]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Plum
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Смор<span class="acco">о</span>дина
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08720.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[smar<span class="acct">o</span>dina]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Black-currant
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Черносл<span class="acco">и</span>в
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08721.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[chirnasl<span class="acct">i</span>f]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Prune
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top"><span class="acco">Я</span>блоко
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08722.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[y<span class="acct">a</span>blaka]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Apple
		</td>
	</tr>
</table>
</div>
<p class="after_dic">If you want to check how you know these words, go to <a title="Fruit, berries tests" href="fruit-test.html">Tests: Fruit, berries</a></p>




</div>
</div>

<script type="text/javascript">
currentSection="words";
</script>
