<% @page_title = 'Tests: Fruit, berries' %>
<% @page_meta = {'description' => ""} %>
<% @with_rec = true %>
<% @has_audio = true %>

<style type="text/css">

.quest  {
width: 210px;
}

.variants  {
width: 220px;
}

#t2 .quest {
width: 220px;
}

</style>

<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Recommended links</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
     				<li><a href="fruit.html">Fruit, berries</a></li>
     				<li><a href="fruit-exercise.html"> Exercises: Fruit, berries</a></li>

    		</ul>
	</div>
</div>
</div>



<h2 class="page">Fruit, berries (tests)</h2>

<p class="task">Before completing the following tests, please revise the topic <a title="Fruit, berries" href="fruit.html">Fruit, berries</a></p>
<hr/>
<br/>
<h3>Test 1</h3>
<p class="task">Listen to the phrase and сhoose the corresponding Russian expression.</p>

<div id="t1">
<script type="text/javascript">
var t1 = new Test({dict: [

['sounds/sound08701.mp3','фрукты'],['sounds/sound08702.mp3','ягоды'],['sounds/sound08703.mp3','абрикос'],['sounds/sound08704.mp3','ананас'],
['sounds/sound08705.mp3','апельсин'],['sounds/sound08706.mp3','арбуз'],['sounds/sound08707.mp3','банан'],['sounds/sound08708.mp3','виноград'],
['sounds/sound08709.mp3','вишня'],['sounds/sound08710.mp3','черешня'],['sounds/sound08711.mp3','груша'],['sounds/sound08712.mp3','дыня'],
['sounds/sound08713.mp3','клубника'],['sounds/sound08714.mp3','крыжовник'],['sounds/sound08715.mp3','лимон'],['sounds/sound08716.mp3','малина'],
['sounds/sound08717.mp3','мандарин'],['sounds/sound08718.mp3','персик'],['sounds/sound08719.mp3','слива'],['sounds/sound08720.mp3','смородина'],
['sounds/sound08721.mp3','чернослив'],['sounds/sound08722.mp3','яблоко']


],hide: 'di1',id:'t1', type: 'audio', how_questions: 10, how_show: 2});
</script>
</div>

<h3>Test 2</h3>
<p class="task">Read the Russian phrase and choose the corresponding English expression.</p>

<div id="t2">
<script type="text/javascript">
var t2 = new Test({dict: [

['фрукты','fruit'],['ягоды','berries'],['абрикос','apricot'],['ананас','pine-apple'],
['апельсин','orange'],['арбуз','water melon'],['банан','banana'],['виноград','grapes'],
['вишня','cherry'],['черешня','sweet cherry'],['груша','pear'],['дыня','melon'],
['клубника','strawberry'],['крыжовник','gooseberry'],['лимон','lemon'],['малина','raspberry'],
['мандарин','tangerine'],['персик','peach'],['слива','plum'],['смородина','black-currant'],
['чернослив','prune'],['яблоко','apple']

], hide:'di2',id:'t2',type: 'text', how_questions: 10, how_show: 2});
</script>
</div>

<h3>Test 3</h3>
<p class="task">Listen to the Russian phrases and сhoose their translation into English.</p>

<div id="t3">
<script type="text/javascript">
var t3 = new Test({dict: [

['sounds/sound08701.mp3','fruit'],['sounds/sound08702.mp3','berries'],['sounds/sound08703.mp3','apricot'],['sounds/sound08704.mp3','pine-apple'],
['sounds/sound08705.mp3','orange'],['sounds/sound08706.mp3','water melon'],['sounds/sound08707.mp3','banana'],['sounds/sound08708.mp3','grapes'],
['sounds/sound08709.mp3','cherry'],['sounds/sound08710.mp3','sweet cherry'],['sounds/sound08711.mp3','pear'],['sounds/sound08712.mp3','melon'],
['sounds/sound08713.mp3','strawberry'],['sounds/sound08714.mp3','gooseberry'],['sounds/sound08715.mp3','lemon'],['sounds/sound08716.mp3','raspberry'],
['sounds/sound08717.mp3','tangerine'],['sounds/sound08718.mp3','peach'],['sounds/sound08719.mp3','plum'],['sounds/sound08720.mp3','black-currant'],
['sounds/sound08721.mp3','prune'],['sounds/sound08722.mp3','apple']


],hide: 'di3',id:'t3',type: 'audio', how_questions: 10, how_show: 2});
</script>
</div>


<script type="text/javascript">
currentSection="words";
</script>
