<% @page_title = 'Russian language online: Exercises  for the topic Gruels and porridges' %>
<% @page_meta = {'description' => "Online exercises for learning Russian words and phrases related to the topic Gruels and porridges"} %>
<% @with_rec = true %>
<% @has_audio = true %>

<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Recommended links</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
     				<li><a href="gruel.html">Gruels and porridges</a></li>
     				<li><a href="gruel-test.html">Tests: Gruels and porridges</a></li>
    		</ul>
	</div>
</div>
</div>



<h2 class="page">Gruels and porridges <br/> (exercises)</h2>

<p class="task">Before doing the following exercises, please revise the topic <a title="Gruels and porridges" href="gruel.html">Gruels and porridges</a></p>

<hr/>

<h3>Exercise 1</h3>

<%= render :partial => 'tt_exercise' %>


<hr/>


<h3>Exercise 2</h3>


<div class="start_btn">
<input type="button" value="START" onclick="startYN()" />
</div>
<div id="yn_box">

	<div id="yn_place">


		<div id="trans_wrapper">
			<div id="yn_trans" style="background-color: transparent; border-width: 0px;">
				<div>&nbsp;
				</div>
			</div>
		</div>

		<div id="yn_sound">
			<div class="play">
			
			</div>
		</div>
		
		<div>Is this a correct translation? </div>
		<br/>
		<div id="yn_btns">
		<input id="yes_btn" type="button" value="YES" /> <input id="no_btn" type="button" value="NO" />
		</div>
		<div id="show_check"></div>
		<br>
		<div id="yn_info"></div>
	</div>

</div>


<hr/>


<h3>Exercise 3</h3>


<div class="start_btn">
<input type="button" value="START" onclick="startCO()" />
</div>
<div id="co_box">
<div id="co_copy"></div>
	<div id="co_place">
		<div class="co_task_wrapper">
			<div id="co_task"><div>&nbsp;</div></div>
		</div>
		
		<div class="co_choose">Choose translation from the options below: </div>

		<div class="co_options_container">
		<div class="co_options_wrapper">
			<div id="co_option0" class="co_options"><div>&nbsp;</div></div>
			<div id="co_option1" class="co_options"><div>&nbsp;</div></div>
			<div id="co_option2" class="co_options"><div>&nbsp;</div></div>
			<div style="clear: both;"></div>
		</div>
		</div>

		<div style="text-align: center; padding-top: 30px;">
		<div id="co_correctness"><div>&nbsp;</div></div>
		</div>
		
		<div class="co_counter"> </div>

	</div>

</div>



<script type="text/javascript">

////////////////// array for test together 

var ttMassive=new Array(

['жидкая каша','gruel'],['молочная каша','milk porridge'],
//['пшённая каша','millet porridge'],
['овсяная каша, овсянка','oatmeal, porridge'],
['манная каша','semolina'],['рисовая каша','boiled rice'],['гречневая каша','boiled buckwheat']

);

/////////////////////// array for yes/no

var massive=new Array(

['sounds/sound08201.mp3','gruel'],['sounds/sound08202.mp3','milk porridge'],
//['sounds/sound08203.mp3','millet porridge'],
['sounds/sound08203.mp3','oatmeal, porridge'],
['sounds/sound08204.mp3','semolina '],['sounds/sound08205.mp3','boiled rice'],['sounds/sound08206.mp3','boiled buckwheat']

);

ynQuestNum=6;

////////////////////// array for choose option
var co_massive=new Array(

['жидкая каша','gruel'],['молочная каша','milk porridge'],
//['пшённая каша','millet porridge'],
['овсяная каша, овсянка','oatmeal, porridge'],
['манная каша','semolina'],['рисовая каша','boiled rice'],['гречневая каша','boiled buckwheat']

);

coQuestNum=6;

</script>

<hr/>

<p class="after-exercise">If you want to check how you know these words, go to <a title="Gruels and porridges tests" href="gruel-test.html"> Tests: Gruels and porridges</a></p>



<script type="text/javascript">
currentSection="words";
</script>
