<% @page_title = 'Gruels and porridges :: Online Russian lexical tests' %>
<% @page_meta = {'description' => "Learn Russian vocabulary topic Gruels and porridges with online lexical tests"} %>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_js_css do %>
<style type="text/css">
h2.page {margin-bottom: 0px;font-size: 19pt;}
</style>
<% end %>

<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Links and Settings</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
     				<li><a href="/gruel.html">Gruels and porridges</a></li>
					<li><a href="/gruel-flashcards.html"> Flashcards: Gruels and porridges</a></li>
    		</ul>
			<%= render :partial => 'preload_option' %>
	</div>
</div>
</div>

<h2 class="page">Tests:  Gruels and porridges</h2>

<h3 class="page-path">
	<span class="int-links">
	<a href="/vocabulary.html">Vocabulary</a>
	<span class="int-arrow">--&gt;</span> 
	<a href="/gruel.html">Gruels and porridges</a>
	<span class="int-arrow">--&gt;</span> Tests
	</span>
</h3>

<div class="l-test-container">

<h3 class="test-task">Test 1. Listen to the Russian phrase and find it in the list.
<a href="javascript:;" class="lt-test-closer"><span class="lt-h">Hide test</span><span class="lt-sh">Show test</span></a>
</h3>

<div id="ch1" class="lt-holder">
<div class="lt-spacer">	
<%= render :partial => 'lexical_test' %>
</div>
</div><!-- end of lt-holder -->

<script type="text/javascript"> 
	var ch1 = new ch_exercise( {
		id: "ch1", 
		test_id: "v0212010.1",
		quest_num: 10,
		variants_num: 5,
		quest_type: 'audio',
		basic_array: [

['sounds/sound08201.mp3','жидкая каша'],['sounds/sound08202.mp3','молочная каша'],
//['sounds/sound08203.mp3','пшённая каша'],
['sounds/sound08203.mp3','овсяная каша, овсянка'],
['sounds/sound08204.mp3','манная каша'],['sounds/sound08205.mp3','рисовая каша'],['sounds/sound08206.mp3','гречневая каша']

		]
		} )
</script>

<h3 class="test-task">Test 2. Read the Russian phrase and find its English equivalent.
<a href="javascript:;" class="lt-test-closer"><span class="lt-h">Hide test</span><span class="lt-sh">Show test</span></a>
</h3>

<div id="ch2" class="lt-holder">
<div class="lt-spacer">
<%= render :partial => 'lexical_test' %>
</div>
</div><!-- end of lt-holder -->
<script type="text/javascript"> 
	var ch2 = new ch_exercise( {
		id: "ch2", 
		test_id: "v0212020.2",
		quest_num: 10,
		variants_num: 5,
		basic_array: [
['жидкая каша','gruel'],['молочная каша','milk porridge'],
//['пшённая каша','millet porridge'],
['овсяная каша, овсянка','oatmeal, porridge'],
['манная каша','semolina'],['рисовая каша','boiled rice'],['гречневая каша','boiled buckwheat']
		]
		} )
</script>

<h3 class="test-task">Test 3. 
Listen to the phrase and find its translation into English.
<a href="javascript:;" class="lt-test-closer"><span class="lt-h">Hide test</span><span class="lt-sh">Show test</span></a>
</h3>

<div id="ch3" class="lt-holder">
<div class="lt-spacer">	
<%= render :partial => 'lexical_test' %>
</div>
</div><!-- end of lt-holder -->

<script type="text/javascript"> 
	var ch3 = new ch_exercise( {
		id: "ch3", 
		test_id: "v0212030.3",
		quest_num: 10,
		variants_num: 5,
		quest_type: 'audio',
		basic_array: [
		
['sounds/sound08201.mp3','gruel'],['sounds/sound08202.mp3','milk porridge'],
//['sounds/sound08203.mp3','millet porridge'],
['sounds/sound08203.mp3','oatmeal, porridge'],
['sounds/sound08204.mp3','semolina '],['sounds/sound08205.mp3','boiled rice'],['sounds/sound08206.mp3','boiled buckwheat']

		]
		} )
</script>

<h3 class="test-task test-task-final" style="text-align: center">Review the topic &nbsp;&nbsp;&nbsp;&nbsp;<a href="/gruel.html">Gruels and porridges >></a></h3>

<script type="text/javascript">
preloadFiles=new Array(

)
</script>

</div><!-- end of lt-container -->

<script type="text/javascript">
currentSection="words";
</script>