<% @page_title = 'Tests: Gruels and porridges' %>
<% @page_meta = {'description' => ""} %>
<% @with_rec = true %>
<% @has_audio = true %>

<%= javascript_include_tag 'test-text' %>
<%= javascript_include_tag 'test' %>
<%= stylesheet_link_tag 'test-style.css' %>

<style type="text/css">

.hint_button {
float: right;
}

.quest  {
width: 210px;
}

.variants  {
width: 220px;
}

#t2 .quest {
width: 220px;
}


</style>

<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Recommended links</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
     				<li><a href="gruel.html">Gruels and porridges</a></li>
     				<li><a href="gruel-exercise.html"> Exercises: Gruels and porridges</a></li>

    		</ul>
	</div>
</div>
</div>



<h2 class="page">Gruels and porridges <br/>(tests)</h2>

<p class="task">Before completing the following tests, please revise the topic <a title="Gruels and porridges" href="gruel.html">Gruels and porridges</a></p>
<hr/>
<br/>
<h3>Test 1</h3>

<p class="task">Listen to the phrase and сhoose the corresponding Russian expression.</p>
<div id="t1">
<script type="text/javascript">
var t1 = new Test({dict: [

['sounds/sound08201.mp3','жидкая каша'],['sounds/sound08202.mp3','молочная каша'],
//['sounds/sound08203.mp3','пшённая каша'],
['sounds/sound08203.mp3','овсяная каша, овсянка'],
['sounds/sound08204.mp3','манная каша'],['sounds/sound08205.mp3','рисовая каша'],['sounds/sound08206.mp3','гречневая каша']

],hide: 'di1',id:'t1', type: 'audio', how_questions: 6, how_show: 2});
</script>
</div>

<h3>Test 2</h3>
<p class="task">Read the Russian phrase and choose the corresponding English expression.</p>

<div id="t2">
<script type="text/javascript">
var t2 = new Test({dict: [

['жидкая каша','gruel'],['молочная каша','milk porridge'],
//['пшённая каша','millet porridge'],
['овсяная каша, овсянка','oatmeal, porridge'],
['манная каша','semolina'],['рисовая каша','boiled rice'],['гречневая каша','boiled buckwheat']

], hide:'di2',id:'t2',type: 'text', how_questions: 6, how_show: 2});
</script>
</div>

<h3>Test 3</h3>
<p class="task">Listen to the Russian phrases and сhoose their translation into English.</p>

<div id="t3">
<script type="text/javascript">
var t3 = new Test({dict: [

['sounds/sound08201.mp3','gruel'],['sounds/sound08202.mp3','milk porridge'],
//['sounds/sound08203.mp3','millet porridge'],
['sounds/sound08203.mp3','oatmeal, porridge'],
['sounds/sound08204.mp3','semolina '],['sounds/sound08205.mp3','boiled rice'],['sounds/sound08206.mp3','boiled buckwheat']

],hide: 'di3',id:'t3',type: 'audio', how_questions: 6, how_show: 2});
</script>
</div>


<script type="text/javascript">
currentSection="words";
</script>
