<% @page_title = 'Tests: Hotel' %>
<% @page_meta = {'description' => ""} %>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_css do %>

.quest  {
width: 210px;
}

.variants  {
width: 220px;
}

#t2 .quest {
width: 220px;
}


<% end %>

<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Recommended links</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
     				<li><a href="hotel.html">Hotel</a></li>
     				<li><a href="hotel-exercise.html"> Exercises: Hotel</a></li>

    		</ul>
	</div>
</div>
</div>



<h2 class="page">Hotel (tests)</h2>


<p class="task">Before completing the following tests, please revise the topic <a title="Hotel" href="hotel.html">Hotel</a></p>
<hr/>
<br/>

<h3>Test 1</h3>
<p class="task">Listen to the phrase and сhoose the corresponding Russian expression.</p>
<div id="t1">
<script type="text/javascript">
var t1 = new Test({dict: [

['sounds/sound04101.mp3','гостиница'],['sounds/sound04105.mp3','бронь'],['sounds/sound04106.mp3','номер'],['sounds/sound04107.mp3','одноместный номер'],['sounds/sound04108.mp3','двухместный номер'],
['sounds/sound04109.mp3','номер-люкс'],['sounds/sound04110.mp3','кондиционер'],['sounds/sound04111.mp3','душ'],['sounds/sound04112.mp3','ванная комната'],
['sounds/sound04113.mp3','телефон'],['sounds/sound04114.mp3','вентилятор'],['sounds/sound04115.mp3','холодильник'],['sounds/sound04116.mp3','мини-бар'],
['sounds/sound04117.mp3','лифт'],['sounds/sound04119.mp3','регистрация'],['sounds/sound04120.mp3','бар'],['sounds/sound04121.mp3','буфет']

],hide: 'di1',id:'t1', type: 'audio', how_questions: 8, how_show: 2});
</script>
</div>
<h3>Test 2</h3>
<p class="task">Read the Russian phrase and choose the corresponding English expression.</p>

<div id="t2">
<script type="text/javascript">
var t2 = new Test({dict: [

['гостиница','hotel'],['бронь','confirmation of reservation'],['номер','hotel room'],['одноместный номер','single room'],['двухместный номер','double room'],
['номер-люкс','luxury suite'],['кондиционер','air-conditioner'],['душ','shower'],['ванная комната','bath-room'],
['телефон','phone'],['вентилятор','ventilator'],['холодильник','fridge'],['мини-бар','snack-bar '],
['лифт','elevator'],['регистрация','check-in'],['бар','bar'],['буфет','lunchroom ']

], hide:'di1',id:'t2',type: 'text', how_questions: 8, how_show: 2});
</script>
</div>

<h3>Test 3</h3>
<p class="task">Listen to the Russian phrases and сhoose their translation into English.</p>

<div id="t3">
<script type="text/javascript">
var t3 = new Test({dict: [

['sounds/sound04101.mp3','hotel'],['sounds/sound04105.mp3','confirmation of reservation'],['sounds/sound04106.mp3','hotel room'],['sounds/sound04107.mp3','single room'],['sounds/sound04108.mp3','double room'],
['sounds/sound04109.mp3','luxury suite'],['sounds/sound04110.mp3','air-conditioner'],['sounds/sound04111.mp3','shower'],['sounds/sound04112.mp3','bath-room'],
['sounds/sound04113.mp3','phone'],['sounds/sound04114.mp3','ventilator'],['sounds/sound04115.mp3','fridge'],['sounds/sound04116.mp3','snack-bar '],
['sounds/sound04117.mp3','elevator'],['sounds/sound04119.mp3','check-in'],['sounds/sound04120.mp3','bar'],['sounds/sound04121.mp3','lunchroom']

],hide: 'di1',id:'t3',type: 'audio', how_questions: 8, how_show: 2});
</script>
</div>

<script type="text/javascript">
currentSection="words";
</script>
