<% @page_title = 'Russian language online: Exercises  for the topic Hotel' %>
<% @page_meta = {'description' => "Online exercises for learning Russian words and phrases related to the topic Hotel"} %>
<% @with_rec = true %>
<% @has_audio = true %>

<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Recommended links</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
     				<li><a href="hotel.html">Hotel</a></li>
     				<li><a href="hotel-test.html">Tests: Hotel</a></li>
    		</ul>
	</div>
</div>
</div>



<h2 class="page">Hotel (exercises)</h2>

<p class="task">Before doing the following exercises, please revise the topic <a title="Hotel" href="hotel.html">Hotel</a></p>

<hr/>

<h3>Exercise 1</h3>

<%= render :partial => 'tt_exercise' %>


<hr/>


<h3>Exercise 2</h3>


<div class="start_btn">
<input type="button" value="START" onclick="startYN()" />
</div>
<div id="yn_box">

	<div id="yn_place">


		<div id="trans_wrapper">
			<div id="yn_trans" style="background-color: transparent; border-width: 0px;">
				<div>&nbsp;
				</div>
			</div>
		</div>

		<div id="yn_sound">
			<div class="play">
			
			</div>
		</div>
		
		<div>Is this a correct translation? </div>
		<br/>
		<div id="yn_btns">
		<input id="yes_btn" type="button" value="YES" /> <input id="no_btn" type="button" value="NO" />
		</div>
		<div id="show_check"></div>
		<br>
		<div id="yn_info"></div>
	</div>

</div>


<hr/>


<h3>Exercise 3</h3>


<div class="start_btn">
<input type="button" value="START" onclick="startCO()" />
</div>
<div id="co_box">
<div id="co_copy"></div>
	<div id="co_place">
		<div class="co_task_wrapper">
			<div id="co_task"><div>&nbsp;</div></div>
		</div>
		
		<div class="co_choose">Choose translation from the options below: </div>

		<div class="co_options_container">
		<div class="co_options_wrapper">
			<div id="co_option0" class="co_options"><div>&nbsp;</div></div>
			<div id="co_option1" class="co_options"><div>&nbsp;</div></div>
			<div id="co_option2" class="co_options"><div>&nbsp;</div></div>
			<div style="clear: both;"></div>
		</div>
		</div>

		<div style="text-align: center; padding-top: 30px;">
		<div id="co_correctness"><div>&nbsp;</div></div>
		</div>
		
		<div class="co_counter"> </div>

	</div>

</div>



<script type="text/javascript">

////////////////// array for test together 

var ttMassive=new Array(

['гостиница','hotel'],['бронь','confirmation of reservation'],['номер','hotel room'],['одноместный номер','single room'],['двухместный номер','double room'],
['номер-люкс','luxury suite'],['кондиционер','air-conditioner'],['душ','shower'],['ванная комната','bath-room'],
['телефон','phone'],['вентилятор','ventilator'],['холодильник','fridge'],['мини-бар','snack-bar '],
['лифт','elevator'],['регистрация','check-in'],['бар','bar'],['буфет','lunchroom ']

);

/////////////////////// array for yes/no

var massive=new Array(

['sounds/sound04101.mp3','hotel'],['sounds/sound04105.mp3','confirmation of reservation'],['sounds/sound04106.mp3','hotel room'],['sounds/sound04107.mp3','single room'],['sounds/sound04108.mp3','double room'],
['sounds/sound04109.mp3','luxury suite'],['sounds/sound04110.mp3','air-conditioner'],['sounds/sound04111.mp3','shower'],['sounds/sound04112.mp3','bath-room'],
['sounds/sound04113.mp3','phone'],['sounds/sound04114.mp3','ventilator'],['sounds/sound04115.mp3','fridge'],['sounds/sound04116.mp3','snack-bar '],
['sounds/sound04117.mp3','elevator'],['sounds/sound04119.mp3','check-in'],['sounds/sound04120.mp3','bar'],['sounds/sound04121.mp3','lunchroom']


);

ynQuestNum=10;

////////////////////// array for choose option
var co_massive=new Array(

['гостиница','hotel'],['бронь','confirmation of reservation'],['номер','hotel room'],['одноместный номер','single room'],['двухместный номер','double room'],
['номер-люкс','luxury suite'],['кондиционер','air-conditioner'],['душ','shower'],['ванная комната','bath-room'],
['телефон','phone'],['вентилятор','ventilator'],['холодильник','fridge'],['мини-бар','snack-bar '],
['лифт','elevator'],['регистрация','check-in'],['бар','bar'],['буфет','lunchroom ']

);

coQuestNum=10;

</script>

<hr/>

<p class="after-exercise">If you want to check how you know these words, go to <a title="Hotel tests" href="hotel-test.html"> Tests: Hotel</a></p>



<script type="text/javascript">
currentSection="words";
</script>
