<% @page_title = 'Online Russian Flashcards: Hotel' %>
<% @page_meta = {'description' => "Learn Russian vocabulary topic Hotel with online flashcards: words with audio samples, quizzes and spell practice"} %>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_js_css do %>
<style type="text/css">
h2.page {
margin-bottom: 0px;
font-size: 19pt;
}
</style>

<%end%>
<div class="hint_wrap">
<div class="hint_button" style="float: right;">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <li><a href="/hotel.html">Hotel</a></li>
			<li><a href="/hotel-test.html">Tests: Hotel</a></li>
        </ul>
        <%= render :partial => 'down_accent' %>
  </div>
</div>
</div>

<h2 class="page">Flashcards: Hotel</h2>
<h3 class="page-path">
	<span class="int-links">
	<a href="/vocabulary.html">Vocabulary</a>
	<span class="int-arrow">--&gt;</span> 
	<a href="/hotel.html">Hotel</a>
	<span class="int-arrow">--&gt;</span> Flashcards
	</span>
</h3>

<div  id="fl1" style="min-height: 600px; text-align: center;">
<%= render :partial => 'flashcard' %>
</div><!-- end of fl1 -->

<script type="text/javascript"> 
	var fl1 = new flashcard( {
		id: "fl1", 
		random_order: false,
		basic_array: [
		
['Гост<span class="acco">и</span>ница ','Hotel ','/sounds/sound04101.mp3','gast<span class="acct">i</span>nitsa '],
['Брон<span class="acco">и</span>ровать н<span class="acco">о</span>мер ','Reserve a room ','/sounds/sound04102.mp3','bran<span class="acct">i</span>rava<span class="sftc">t</span> n<span class="acct">o</span>mir '],
['Предвар<span class="acco">и</span>тельно заказ<span class="acco">а</span>ть ','Reserve in advance ','/sounds/sound04103.mp3','pridvar<span class="acct">i</span>ti<span class="sftc">l</span>na zakaz<span class="acct">a</span><span class="sftc">t</span> '],
['Подтвержд<span class="acco">е</span>ние предвар<span class="acco">и</span>тельного зак<span class="acco">а</span>за ','Confirmation of reservation ','/sounds/sound04104.mp3','pattvirj<span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span>niye pridvar<span class="acct">i</span>ti<span class="sftc">l</span>nava zak<span class="acct">a</span>za '],
['Бронь ','Confirmation of reservation ','/sounds/sound04105.mp3','br<span class="acct">o</span><span class="sftc">n</span> '],
['Н<span class="acco">о</span>мер ','Hotel room ','/sounds/sound04106.mp3','n<span class="acct">o</span>mir '],
['Одном<span class="acco">е</span>стный н<span class="acco">о</span>мер ','Single room ','/sounds/sound04107.mp3','adna<span class="sftv">m</span><span class="sfty">y</span><span class="acct">e</span>sn<span class="ry">i</span>y n<span class="acct">o</span>mir '],
['Двухм<span class="acco">е</span>стный н<span class="acco">о</span>мер ','Double room ','/sounds/sound04108.mp3','dvooh<span class="sftv">m</span><span class="sfty">y</span><span class="acct">e</span>sn<span class="ry">i</span>y n<span class="acct">o</span>mir '],
['Н<span class="acco">о</span>мер-л<span class="acco">ю</span>кс ','Luxury suite ','/sounds/sound04109.mp3','n<span class="acct">o</span>mir <span class="sftv">l</span><span class="sfty">y</span><span class="acct">oo</span>ks '],
['Кондицион<span class="acco">е</span>р ','Air-conditioner ','/sounds/sound04110.mp3','kandits<span class="ry">i</span>a<span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span>r '],
['Душ ','Shower ','/sounds/sound04111.mp3','d<span class="acct">oo</span>sh '],
['В<span class="acco">а</span>нная к<span class="acco">о</span>мната ','Bath-room ','/sounds/sound04112.mp3','v<span class="acct">a</span>nnaya k<span class="acct">o</span>mnata '],
['Телеф<span class="acco">о</span>н ','Phone ','/sounds/sound04113.mp3','tilif<span class="acct">o</span>n '],
['Вентил<span class="acco">я</span>тор ','Ventilator, fan ','/sounds/sound04114.mp3','vinti<span class="sftc">l</span><span class="sfty">y</span><span class="acct">a</span>tar '],
['Холод<span class="acco">и</span>льник ','Fridge ','/sounds/sound04115.mp3','halad<span class="acct">i</span><span class="sftc">l</span>nik '],
['М<span class="acco">и</span>ни-б<span class="acco">а</span>р ','Snack-bar ','/sounds/sound04116.mp3','m<span class="acct">i</span>ni-b<span class="acct">a</span>r '],
['Лифт ','Lift, elevator ','/sounds/sound04117.mp3','l<span class="acct">i</span>ft '],
['Г<span class="acco">о</span>рничная ','Chambermaid ','/sounds/sound04118.mp3','g<span class="acct">o</span>rnichnaya '],
['Регистр<span class="acco">а</span>ция ','Check-in ','/sounds/sound04119.mp3','rigistr<span class="acct">a</span>ts<span class="ry">i</span>ya '],
['Бар ','Bar ','/sounds/sound04120.mp3','b<span class="acct">a</span>r '],
['Буф<span class="acco">е</span>т ','Lunchroom ','/sounds/sound04121.mp3','boo<span class="sftv">f</span><span class="sfty">y</span><span class="acct">e</span>t '],
['З<span class="acco">а</span>втрак ','Breakfast ','/sounds/sound04122.mp3','z<span class="acct">a</span>ftrak '],
['Об<span class="acco">е</span>д ','Lunch ','/sounds/sound04123.mp3','a<span class="sftv">b</span><span class="sfty">y</span><span class="acct">e</span>t '],
['<span class="acco">У</span>жин ','Dinner ','/sounds/sound04124.mp3','<span class="acct">oo</span>j<span class="ry">i</span>n '],
['У мен<span class="acco">я</span> заброн<span class="acco">и</span>рован н<span class="acco">о</span>мер. ','There is a room reserved for me. ','/sounds/sound04125.mp3','oo mi<span class="sftv">n</span><span class="sfty">y</span><span class="acct">a</span> zabran<span class="acct">i</span>ravan n<span class="acct">o</span>mir '],
['Когд<span class="acco">а</span> н<span class="acco">у</span>жно оплат<span class="acco">и</span>ть? ','When should I pay? ','/sounds/sound04126.mp3','kagd<span class="acct">a</span> n<span class="acct">oo</span>jna aplat<span class="acct">i</span><span class="sftc">t</span>? '],
['М<span class="acco">о</span>жно ли оплат<span class="acco">и</span>ть к<span class="acco">а</span>рточкой? ','Can I pay with my credit card? ','/sounds/sound04127.mp3','m<span class="acct">o</span>jna li aplat<span class="acct">i</span><span class="sftc">t</span> k<span class="acct">a</span>rtachkay? '],
['Я заплач<span class="acco">у</span> сейч<span class="acco">а</span>с. ','I’ll pay right off. ','/sounds/sound04128.mp3','ya zaplach<span class="acct">oo</span> sich<span class="acct">a</span>s '],
['Пригот<span class="acco">о</span>вьте счёт. ','Get the bill ready. ','/sounds/sound04129.mp3','prigat<span class="acct">o</span><span class="sftc">f</span>ti sch<span class="acct">o</span>t '],
['Мест нет. ','No vacancies. ','/sounds/sound04130.mp3','<span class="sftv">m</span><span class="sfty">y</span><span class="acct">e</span>st <span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span>t ']
		]
		} )
</script>


<table class="voc-links voc-link-first voc-link-last" align="center" cellspacing="0"><tr>
	<td class="voc-space">Check how you know this topic with our &nbsp;<a href="/hotel-test.html">Lexical tests >></a></td>
</tr></table>


<script type="text/javascript">
preloadFiles=new Array(
'/sounds/sound04101.mp3', '/sounds/sound04102.mp3', '/sounds/sound04103.mp3', '/sounds/sound04104.mp3', 
'/sounds/sound04105.mp3', '/sounds/sound04106.mp3', '/sounds/sound04107.mp3', '/sounds/sound04108.mp3', 
'/sounds/sound04109.mp3', '/sounds/sound04110.mp3', '/sounds/sound04111.mp3', '/sounds/sound04112.mp3', 
'/sounds/sound04113.mp3', '/sounds/sound04114.mp3', '/sounds/sound04115.mp3', '/sounds/sound04116.mp3',
 '/sounds/sound04117.mp3', '/sounds/sound04118.mp3', '/sounds/sound04119.mp3', '/sounds/sound04120.mp3', 
 '/sounds/sound04121.mp3', '/sounds/sound04122.mp3', '/sounds/sound04123.mp3', '/sounds/sound04124.mp3', 
 '/sounds/sound04125.mp3', '/sounds/sound04126.mp3', '/sounds/sound04127.mp3', '/sounds/sound04128.mp3', 
 '/sounds/sound04129.mp3', '/sounds/sound04130.mp3'
)
</script>
