<% @page_title = 'Hotel :: Online Russian lexical tests' %>
<% @page_meta = {'description' => "Learn Russian vocabulary topic Hotel with online lexical tests"} %>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_js_css do %>
<style type="text/css">
h2.page {margin-bottom: 0px;font-size: 19pt;}
</style>
<% end %>

<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Links and Settings</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
     				<li><a href="/hotel.html">Hotel</a></li>
					<li><a href="/hotel-flashcards.html"> Flashcards: Hotel</a></li>
    		</ul>
			<%= render :partial => 'preload_option' %>
	</div>
</div>
</div>

<h2 class="page">Tests:  Hotel</h2>

<h3 class="page-path">
	<span class="int-links">
	<a href="/vocabulary.html">Vocabulary</a>
	<span class="int-arrow">--&gt;</span> 
	<a href="/hotel.html">Hotel</a>
	<span class="int-arrow">--&gt;</span> Tests
	</span>
</h3>

<div class="l-test-container">

<h3 class="test-task">Test 1. Listen to the Russian phrase and find it in the list.
<a href="javascript:;" class="lt-test-closer"><span class="lt-h">Hide test</span><span class="lt-sh">Show test</span></a>
</h3>

<div id="ch1" class="lt-holder">
<div class="lt-spacer">	
<%= render :partial => 'lexical_test' %>
</div>
</div><!-- end of lt-holder -->

<script type="text/javascript"> 
	var ch1 = new ch_exercise( {
		id: "ch1", 
		test_id: "v0207010.1",
		quest_num: 10,
		variants_num: 5,
		quest_type: 'audio',
		basic_array: [
['/sounds/sound04101.mp3','гостиница'],
['/sounds/sound04105.mp3','бронь'],
['/sounds/sound04106.mp3','номер'],
['/sounds/sound04107.mp3','одноместный номер'],
['/sounds/sound04108.mp3','двухместный номер'],
['/sounds/sound04109.mp3','номер-люкс'],
['/sounds/sound04110.mp3','кондиционер'],
['/sounds/sound04111.mp3','душ'],
['/sounds/sound04112.mp3','ванная комната'],
['/sounds/sound04113.mp3','телефон'],
['/sounds/sound04114.mp3','вентилятор'],
['/sounds/sound04115.mp3','холодильник'],
['/sounds/sound04116.mp3','мини-бар'],
['/sounds/sound04117.mp3','лифт'],
['/sounds/sound04119.mp3','регистрация'],
['/sounds/sound04120.mp3','бар'],
['/sounds/sound04121.mp3','буфет']

		]
		} )
</script>

<h3 class="test-task">Test 2. Read the Russian phrase and find its English equivalent.
<a href="javascript:;" class="lt-test-closer"><span class="lt-h">Hide test</span><span class="lt-sh">Show test</span></a>
</h3>

<div id="ch2" class="lt-holder">
<div class="lt-spacer">
<%= render :partial => 'lexical_test' %>
</div>
</div><!-- end of lt-holder -->
<script type="text/javascript"> 
	var ch2 = new ch_exercise( {
		id: "ch2", 
		test_id: "v0207020.2",
		quest_num: 10,
		variants_num: 5,
		basic_array: [
['гостиница','hotel'],['бронь','confirmation of reservation'],['номер','hotel room'],['одноместный номер','single room'],['двухместный номер','double room'],
['номер-люкс','luxury suite'],['кондиционер','air-conditioner'],['душ','shower'],['ванная комната','bath-room'],
['телефон','phone'],['вентилятор','ventilator'],['холодильник','fridge'],['мини-бар','snack-bar '],
['лифт','elevator'],['регистрация','check-in'],['бар','bar'],['буфет','lunchroom ']
		]
		} )
</script>

<h3 class="test-task">Test 3. 
Listen to the phrase and find its translation into English.
<a href="javascript:;" class="lt-test-closer"><span class="lt-h">Hide test</span><span class="lt-sh">Show test</span></a>
</h3>

<div id="ch3" class="lt-holder">
<div class="lt-spacer">	
<%= render :partial => 'lexical_test' %>
</div>
</div><!-- end of lt-holder -->

<script type="text/javascript"> 
	var ch3 = new ch_exercise( {
		id: "ch3", 
		test_id: "v0207030.3",
		quest_num: 10,
		variants_num: 5,
		quest_type: 'audio',
		basic_array: [
		
['/sounds/sound04101.mp3','hotel'],
['/sounds/sound04105.mp3','confirmation of reservation'],
['/sounds/sound04106.mp3','hotel room'],
['/sounds/sound04107.mp3','single room'],
['/sounds/sound04108.mp3','double room'],
['/sounds/sound04109.mp3','luxury suite'],
['/sounds/sound04110.mp3','air-conditioner'],
['/sounds/sound04111.mp3','shower'],
['/sounds/sound04112.mp3','bath-room'],
['/sounds/sound04113.mp3','phone'],
['/sounds/sound04114.mp3','ventilator'],
['/sounds/sound04115.mp3','fridge'],
['/sounds/sound04116.mp3','snack-bar '],
['/sounds/sound04117.mp3','elevator'],
['/sounds/sound04119.mp3','check-in'],
['/sounds/sound04120.mp3','bar'],
['/sounds/sound04121.mp3','lunchroom']

		]
		} )
</script>

<h3 class="test-task test-task-final" style="text-align: center">Review the topic &nbsp;&nbsp;&nbsp;&nbsp;<a href="/hotel.html">Hotel >></a></h3>

<script type="text/javascript">
preloadFiles=new Array(

)
</script>

</div><!-- end of lt-container -->

<script type="text/javascript">
currentSection="words";
</script>