<% @page_title='Study Languages Online: Learning Russian' %>
<% @page_meta = {'description' => "Russian language learning: online courses, vocabulary topics, pronunciation training", 'verify-v1' => "fRSaz4QoyTycTJLUZnk+AtNsVP8u9B3CorQMEuDuHLM="} %>

<% content_for :special_js_css do %>
<link rel="alternate" type="application/rss+xml" title="RSS" href="<%=APP_CONFIG[:site_url]%>/rss.xml" >
<%end%>


<h2 class="page page-bl" style="font-size: 20pt; margin-bottom:  20px">Welcome! Let's learn Russian online!</h2>


<div id="sp1" class="slides-wrap">

<div class="slides-container">

<div class="slides-screen">

<ul class="slides-blocks-container">
	<li class="slides-block sp-block-act">
		<div class="slide-block-wrap">
		<h3>Everyday Russian Course</h3>
		<div>
		<table width="100%" class="slides-pres" cellspacing="0">
			<tr valign="top">
				<td>
					<img src="/images/course-01.jpg" align="left" style="margin: 0px 5px 0 0;">
				</td>
				<td>
					<ul class="sl-features-list">
						<li>Realistic dialogues recorded by native speakers </li>
						<li>Various interactive exercises</li>
						<li>Vocabulary and grammar you need to converse with locals</li>
						<li>Explanations with examples</li>
					</ul>
				</td>
			</tr>
		</table>
		</div>
		</div>
		<div class="slides-bloc-details">
		<p>
		 The ten online lessons of this course include everything to enable you to to start speaking right away: dialogues, vocabulary lists, interactive exercises and tests.
		<span class="sl-target"><a href="/everyday-course.html">Go to this section »</a></span>
		</p>
		</div>
		
	</li>
	<li class="slides-block">
		<div class="slide-block-wrap">
		<h3>Russian for Beginners</h3>
		<div>
		
		<table width="100%" class="slides-pres" cellspacing="0">
			<tr valign="top">
				<td>
					<img src="/images/course-02.jpg" align="left" style="margin: 0px 5px 0 0;">
				</td>
				<td>
					<ul class="sl-features-list">
						<li>Basic grammar and vocabulary </li>
						<li>Words and expressions accompanied by pronunciation</li>
						<li>Plenty of practice opportunities</li>
						<li>No background in Russian is needed</li>
					</ul>
				</td>
			</tr>
		</table>
		</div>
		</div>
		<div class="slides-bloc-details">
		<p>
		Online free lessons that will help you to learn basic vocabulary and grammar, fine-tune your pronunciation and get essential language skills in Russian.
		<span class="sl-target"><a href="/beginner-course.html">Go to this section »</a></span>
		</p>
		</div>
		
		
	</li>	
	<li class="slides-block">
		<div class="slide-block-wrap">
		<h3>Vocabulary Topics</h3>
		<div>
		<table width="100%" class="slides-pres" cellspacing="0">
			<tr valign="top">
				<td>
					<img src="/images/vocabulary.png" align="left" style="margin: 0px 5px 0 0;">
				</td>
				<td>
					<ul class="sl-features-list">
						<li>Russian words and expressions sorted by topics </li>
						<li>Online flashcards</li>
						<li>Interactive lexical tests</li>
						<li>Language games</li>
						
					</ul>
				</td>
				
			</tr>
		</table>
		</div>
		</div>
		<div class="slides-bloc-details">
		<p>
		Each topic contains a list of Russian words and phrases with their translation and transcription. Here you will also find different exercises, flash cards and online lexical tests.  
		<span class="sl-target"><a href="/vocabulary.html">Go to this section »</a></span>
		</p>
		</div>	
	
	</li>
	<li class="slides-block">
		<div class="slide-block-wrap">
		<h3>Russian Grammar</h3>
		<div>
		<table width="100%" class="slides-pres" cellspacing="0">
			<tr valign="top">
				<td>
					<img src="/images/grammar.png" align="left" style="margin: 0px 5px 0 0;">
				</td>
				<td>
					<ul class="sl-features-list">
						<li>Articles about Russian grammar rules</li>
						<li>Online grammar exercises</li>
						<li>Declension and conjugation tables</li>
						<li>Multiple examples</li>
					</ul>
				</td>
			</tr>
		</table>
		</div>
		</div>
		<div class="slides-bloc-details">
		<p>
		In this section, you can find different materials and exercises devoted to Russian grammar rules. The articles are grouped by parts of speech: noun, adjective, pronoun, verb etc.   
		<span class="sl-target"><a href="/russian-grammar.html">Go to this section »</a></span>
		</p>
		</div>	
	</li>
	<li class="slides-block">
		<div class="slide-block-wrap">
		<h3>Russian Pronunciation</h3>
		<div>
		<table width="100%" class="slides-pres" cellspacing="0">
			<tr valign="top">
				<td>
					<img src="/images/pronunciation.png" align="left" style="margin: 0px 5px 0 0;">
				</td>
				<td>
					<ul class="sl-features-list">
						<li>Detailed description of Russian sounds</li>
						<li>Explanations with audio and pictures</li>
						<li>Introductory phonetics course</li>
						<li>Exercises to train Russian pronunciation</li>
					</ul>
				</td>
			</tr>
		</table>
		</div>
		</div>
		<div class="slides-bloc-details">
		<p>
		The main purpose of this section is to provide skills in perception and distinction of Russian sounds, as well as to give the description of Russian sounds articulation.   
		<span class="sl-target"><a href="/pronunciation.html">Go to this section »</a></span>
		</p>
		</div>	
	</li>
	<li class="slides-block">
		<div class="slide-block-wrap">
		<h3>Reading in Russian</h3>
		<div>
		<table width="100%" class="slides-pres" cellspacing="0">
			<tr valign="top">
				<td>
					<img src="/images/reading.png" align="left" style="margin: 0px 5px 0 0;">
				</td>
				<td>
					<ul class="sl-features-list">
						<li>Exaplanation of Russian rules of reading</li>
						<li>Lessons to learn Russian alphabet</li>
						<li>Exercises to train reading in Russian</li>
						<li>Texts for reading practice</li>
					</ul>
				</td>
			</tr>
		</table>
		</div>
		</div>
		<div class="slides-bloc-details">
		<p>
		In this section you can learn Russian alphabet, get familiar with peculiarities of reading in Russian and find information about essential rules of reading.  
		<span class="sl-target"><a href="/russian-reading.html">Go to this section »</a></span>
		</p>
		</div>	
	</li>
</ul>
</div>

<div class="slides-list">
	<ul>
		<li class="slide-item-act">Everyday Russian Course</li>
		<li>Course for Beginners</li>
		<li>Vocabulary Topics</li>
		<li>Russian grammar</li>
		<li>Pronunciation</li>
		<li>Reading in Russian</li>
	</ul>
</div>
</div>
</div>

<script type="text/javascript"> 
	var sp1 = new slides_presentation( {
		id: "sp1"
		} )
</script>

<br>

<table class="site-desc" cellspacing="15">
	<col width="50%"><col width="50%">
	<tr>
		<td class="desc-unit">
			<h4>Study-Languages-Online.com</h4>
			<div class="in-desc">
			<p>
			On our site you can find different materials about the Russian language which would be useful both for beginners and for those who have some experience with Russian. The <a href="course.html" title="Russian Courses">online courses of Russian</a> on our site can help those who have never studied the Russian language and those who want to reinforce their skills in Russian.
			</p>
			<div align="center" class="fl-wrap">
				<img src="/images/icons/ru-30.png"/>
				<img src="/images/icons/uk-30.png"/>
				<img src="/images/icons/us-30.png"/>
				<img src="/images/icons/fr-30.png"/>
				<img src="/images/icons/ca-30.png"/>
				<img src="/images/icons/de-30.png"/>
			</div>
			</div>			
		</td>
		
		
<% if logged_in? %>
		<td class="desc-unit">
			<h4>Popular pages</h4>
			<div class="in-desc">
				<ul class="top-links">
						<li>
							<a href="/basic-letters.html">Russian Letters and their meanings</a>
							<br>Category: Reading in Russian
						</li>
						<li>
							<a href="/russian-articulation.html">Russian Sounds: Articulation details</a>
							<br>Category: Russian pronunciation
						</li>
						<li>
							<a href="/russian-aspects-verb-list.html">Russian imperfective/perfective verbs</a>
							<br>Category: Russian grammar
						</li>
						<li>
							<a href="/russian-cases.html">Russian Cases </a>
							<br>Category: Russian grammar
						</li>
						<li>
							<a href="/russian-nouns-gender.html">Gender of Russian nouns</a>
							<br>Category: Russian grammar
						</li>
						<li>
							<a href="/russian-aspects-verb-list.html">Most common Russian verbs</a>
							<br>Category: Russian grammar
						</li>
				</ul>
			</div>
		</td>
		

<%else%>
		<td class="desc-unit">
			<h4>Join our website</h4>
			<div class="in-desc">
			<p>
			The registration allows you to save and review the results of the exercises and tests that complete on our website. Plus, in your account you can also see words and expressions you have studied with flashcards and lexical tests.
			</p>
			<div class="btn-link-wrap">
			<br>
				<a href="/signup" class="btn-like btn-register">Register »</a>
				<br>
				<a href="/login" class="btn-like btn-login">Sign in »</a>
			</div>
			</div>
		</td>
<%end%>		
	</tr>
	<tr>
		<td class="desc-unit">
			<h4>Latest Updates</h4>
			<div class="in-desc">

<%= html_by_id(2) %>			

<table width="200" align="center" style="margin: 0 auto;">
	<tr>
	<td align="left"> <a href="/rss.xml"  title="Subscribe to RSS"> <img src="/images/rss.png" align="left"></a></td>
	<td align="center"><a href="http://www.facebook.com/pages/Study-Languages-Onlinecom/111268518902851"  title="Visit the Fan Page"> <img src="/images/facebook.png"> </a></td>
	<td align="right"><a href="http://www.twitter.com/SLO_support"  title="Follow me on Twitter"> <img src="/images/twitter.png" align="right"> </a></td>
	</tr>
</table>
				</div>
		</td>
		<td class="desc-unit">
			<h4>&nbsp;</h4>
<div align="center">		
<script type="text/javascript"><!--
google_ad_client = "ca-pub-8582966007397893";
/* Index ad 250 */
google_ad_slot = "8647680271";
google_ad_width = 250;
google_ad_height = 250;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>		
		</td>
	</tr>
</table>

<p>
The main purpose of our website is to give an opportunity for all interested people to learn the <strong>Russian language online</strong>. This site is aimed to provide the optimal conditions for studying the Russian language. 
</p>

<p>
Here you can study the Russian language depending on your possibilities, wishes and free time. The content of our site provides the opportunity to learn <a href="vocabulary.html" title="Vocabulary sorted by topics">the most useful vocabulary</a> and grammar as well as the <a href="pronunciation.html" title="Russian pronunciation">phonetics</a> and <a href="russian-reading.html" title="Reading in Russian">rules of reading</a> in Russian language. 
</p>
<p>
We constantly up-date and enlarge the content of our site, taking into consideration the comments of our users. If you have any questions or suggestions, please, <a href="contacts.html" title="Contacts">contact us</a>, and we will necessarily consider the received information while further developing our resource. 
</p>
<p>
If this is your first visit to our site, you may want to read the <a href="summary.html" title="Brief summary">brief summary</a>. 
You can also see the list of <a href="/useful-resources.html"  title="Useful links">Russian language related web resources</a> that we recommend you to visit.
</p>

<br><br>
<br><br>


<script type="text/javascript">
currentSection="home";
</script>
