<% @page_title='Study Languages Online: Learning Russian' %>
<% @page_meta = {'description' => "Russian language learning: online courses, vocabulary topics, pronunciation training", 'verify-v1' => "fRSaz4QoyTycTJLUZnk+AtNsVP8u9B3CorQMEuDuHLM="} %>

<% content_for :special_js_css do %>
<link rel="alternate" type="application/rss+xml" title="RSS" href="<%=APP_CONFIG[:site_url]%>/rss.xml" >
<%end%>

<h2  class="page">Welcome to our website!</h2>
<p>
The main purpose of this site is to give an opportunity for all interested people to learn the Russian language online. This site is aimed to provide the optimal conditions for studying the Russian language. 
</p>
<p>
On our site you can find different materials for studying of the Russian language which would be useful <a href="recommendations.html" title="Recommendations for Beginners">for beginners</a> as well as for those who have some experience with Russian. The <a href="course.html" title="Russian Courses">online courses of Russian</a> on our site can help those who have never studied the Russian language and those who want to reinforce their skills in Russian. 
</p>
<p style="te_xt-align: center;">Below you'll find a short description of main sections on our website and some links which may be useful for you:</p>
<div id="sections">
<table cellpadding="0" cellspacing="0" border="0" align="center">
	<tr valign="top">
		<td style="width: 250px; height: 250px;">
			<div id="section1" class="section-block">
				<div class="sect-crn clt">
						<div class="sect-crn crt">
							<div class="sect-mid"> <span class="new_item" style="right: 0px; display: none">&nbsp;Update&nbsp;</span></div>
						</div>
				</div>
				<div class="section-content">
					<div class="fixIe">
					<div class="sect-in">
    					<strong>Online Russian Courses</strong>
    					<p>
    					Find an easy way to learn Russian with our online courses. These courses will help you to get essential language skills so that you could comunicate with Russian people.
    					</p>
    					<p>Every lesson is devoted to a definite topic. The topics studied in the course cover typical situations which a person visiting Russia may get into. You will learn the most frequently used words and expressions, you will find different exercises and tests to practice and evaluate your skills.</p>
    					This section includes: 
		   				<br/><br/>
		   				<div class="sect-link slinks"><a href="beginner-course.html">- <span>Russian Course for Beginners</span></a></div>
						<div class="sect-link slinks"><a href="everyday-course.html">- <span>Everyday Russian Course</span></a></div>					
					</div>
					</div>
				</div>
				<div class="sect-link"><a href="course.html"><span>Go to this section</span> >></a></div>
				<div class="sect-btm">
    				<div class="sect-clb">
    					<div class="sect-crb">
    						<div class="sect-btm-bg">
    							<div class="prezoom">
    								<div class="zoom"><span>Click to read more</span></div>
    								<div style="clear: both;"></div>
    				   			</div>
    				   			
    						</div>
    					</div>
    				</div>
				</div>
			</div>
		</td>
		<td style="width: 200px;">
			<div id="section2" class="section-block">
				<div class="sect-crn clt">
						<div class="sect-crn crt">
							<div class="sect-mid"> <span class="new_item" style="right: 0px; display: none;">&nbsp;Update&nbsp;</span> </div>
						</div>
				</div>
				<div class="section-content">
					<div class="fixIe">
					<div class="sect-in">
						<strong>Vocabulary Topics</strong>
						<p>
						Each topic contains a list of Russian words and phrases with their translation and transcription. Here you will also find different exercises and online tests which will help you to get familiar with the Russian language.
						</p>
						 Some of the topics are: <br/>						 
						<div style="margin-top: 5px" class="sect-link slinks"><a href="/en/eu/vocabulary/politeness">- <span>Greetings and formulas of politeness</span></a></div>
						<div class="sect-link slinks"><a href="/transport.html">- <span>Transport</span></a></div>
						<div style="margin-bottom: 10px" class="sect-link slinks"><a href="/shopping.html">- <span>Shopping</span></a></div>
						
						Also available: 
						<br/>
						<div style="margin-top: 5px"  class="sect-link slinks"><a href="vocabulary.html#tab=4">- Language Games</a></div>
						<div style="margin-top: 5px"  class="sect-link slinks"><a href="vocabulary.html#tab=2">- Flashcards</a></div>
						<!-- div style="margin-bottom: 10px" class="sect-link slinks"><a href="vocabulary.html#tab=3">- Lexical tests</a></div -->
						<div class="sect-link slinks" style="display: none;"> <span class="new_item" style="position: static;">&nbsp;NEW&nbsp;</span> <span class="bold"><a href="/en/ru/vocabulary/weather">Topic: Weather</a></span></div>
						
					</div>
					</div>
				</div>
				<div class="sect-link"><a href="vocabulary.html"><span>Go to this section</span> >></a></div>
				<div class="sect-btm">
				<div class="sect-clb">
    					<div class="sect-crb">
    						<div class="sect-btm-bg">
    							<div class="prezoom">
    								<div class="zoom"><span>Click to read more</span></div>
    								<div style="clear: both;"></div>
    				   			</div>
    				   			
    						</div>
    					</div>
    				</div>
				</div>
			</div>
		</td>
	</tr>
	<tr valign="top">
		<td style="height: 210px;">
			<div id="section3" class="section-block">
				<div class="sect-crn clt">
						<div class="sect-crn crt">
							<div class="sect-mid"><span class="new_item" style="right: 0px; display: none;">&nbsp;Update&nbsp;</span></div>
						</div>
				</div>
		   		<div class="section-content">
		   			<div class="fixIe">
		   			<div class="sect-in">
		   		   		<strong>Russian Grammar</strong>
		   		   		<p>
						In this section, you can find different materials and exercises devoted to Russian grammar rules. The articles are grouped by parts of speech: noun, adjective, pronoun, verb etc.
						
						</p>
		   				This section includes the following articles: 
		   				<br/><br/>
		   				<div class="sect-link slinks"><a href="/russian-nouns-gender.html">- <span>Gender of Russian nouns </span></a></div>
						<div class="sect-link slinks"><a href="/russian-cases.html">- <span>Russian Cases</span></a></div>
						<div class="sect-link slinks"><a href="/russian-adjectives-declension.html">- <span>Declension of Russian adjectives</span></a></div>
						<div class="sect-link slinks"><a href="/russian-cardinal-numerals.html">- <span>Russian cardinal numerals</span></a></div>
						<div class="sect-link slinks"><a href="/russian-present-tense.html">- <span>Present Tense of Russian Verbs</span></a></div>
						 <div style="margin-bottom: 15px" class="sect-link slinks">&nbsp;&nbsp;&nbsp;&nbsp;and much more.</div>
						 
						<div class="sect-link slinks" style="display: none;"> <span class="new_item" style="position: static;">&nbsp;NEW&nbsp;</span> <span class="bold"><a href="/russian-relative-pronouns-declension.html">Declension
of relative pronouns</a></span></div> 
						 
		   			</div>
		   			</div>
		   		</div>
		   		<div class="sect-link"><a href="/russian-grammar.html"><span>Go to this section</span> >></a></div>
		   		<div class="sect-btm">
		   		<div class="sect-clb">
    					<div class="sect-crb">
    						<div class="sect-btm-bg">
    							<div class="prezoom">
    								<div class="zoom"><span>Click to read more</span></div>
    								<div style="clear: both;"></div>
    				   			</div>
    				   			
    						</div>
    					</div>
    				</div>
		   		</div>
			</div>
		</td>
		<td>
			<div id="section4" class="section-block">
				<div class="sect-crn clt">
						<div class="sect-crn crt">
							<div class="sect-mid"><span class="new_item" style="right: 0px; display: none;">&nbsp;Update&nbsp;</span></div>
						</div>
				</div>
				<div class="section-content">
					<div class="fixIe">
					<div class="sect-in">
						<strong>Russian Sounds and Letters</strong>
						<p>
						Here you can find information about Russian sounds and peculiarities of their pronunciation. You can also learn Russian alphabet and get familiar with Russian reading rules.
						</p>
						
						We recommend you to visit: <br/><br/>
						<div class="sect-link slinks"><a href="basic-sounds.html">- <span>Basic Russian sounds and their transcription</span></a></div>
						<div class="sect-link slinks"><a href="phonetics-course.html">- <span>Introductory phonetics online course</span></a></div>
						<div class="sect-link slinks"><a href="basic-letters.html">- <span>Russian Letters and their Basic Meanings</span></a></div>
						<div class="sect-link slinks"><a href="russian-reading-alphabet.html">- <span>Learn Russian Alphabet</span></a></div>
						<div class="sect-link slinks"><a href="readingrules.html">- <span>Rules of reading</span></a></div>
						<div style="margin-bottom: 10px"  class="sect-link slinks"> <span class="new_item" style="position: relative; display: none;">&nbsp;NEW&nbsp;</span> <a href="russian-reading-texts.html">- <span>Texts for reading in Russian</span></a> </div>

						<div class="sect-link slinks" style="display: none;"> <span class="new_item" style="position: static;">&nbsp;NEW&nbsp;</span> <span class="bold"><a href="/alphabet-flashcard.html">Russian alphabet: Flashcards</a></span></div>
						
					</div>
					</div>
				</div>
				<div class="sect-link"><a href="russian-sounds-letters.html"><span>Go to this section</span> >></a></div>
				<div class="sect-btm" >
					<div class="sect-clb">
    					<div class="sect-crb">
    						<div class="sect-btm-bg">
    							<div class="prezoom">
    								<div class="zoom"><span>Click to read more</span></div>
    								<div style="clear: both;"></div>
    				   			</div>
    						</div>
    					</div>
    				</div>
				</div>
			</div>
		</td>
	</tr>
</table>
</div>

<p>
Here you can study the Russian language depending on your possibilities, wishes and free time. The content of our site provides the opportunity to learn <a href="vocabulary.html" title="Vocabulary sorted by topics">the most useful vocabulary</a> and grammar as well as the <a href="pronunciation.html" title="Russian pronunciation">phonetics</a> and <a href="russian-reading.html" title="Reading in Russian">rules of reading</a> in Russian language. 
</p>
<p>
We constantly up-date and enlarge the content of our site, taking into consideration the comments of our users. If you have any questions or suggestions, please, <a href="contacts.html" title="Contacts">contact us</a>, and we will necessarily consider the received information while further developing our resource. 

</p>

<!-- p>
You may also find it interesting to take a look of our blog <a href="http://slodevelopers.wordpress.com" target="_blank">slodevelopers.wordpress.com</a> in which we publish the latest news from our website.
</p -->

<div class="last-updates">
 <h3><span class="note"> Updates on Study-Languages-Online.com   
 
<span class="rss-ico">
  <a href="/rss.xml"  title="Subscribe to RSS"> <img src="/images/rss.png"> </a>
  <a href="http://www.facebook.com/pages/Study-Languages-Onlinecom/111268518902851"  title="Visit the Fan Page"> <img src="/images/facebook.png"> </a>
  <a href="http://www.twitter.com/SLO_support"  title="Follow me on Twitter"> <img src="/images/twitter.png"> </a>
</span> 

</span>
 </h3>
 <ul>
	<li>- New vocabulary topic: <a href="/en/ru/vocabulary/weather">Weather</a></li>
	<li>- New vocabulary topic: <a href="/en/ru/vocabulary/countries">Countries</a></li>
	<li>- New vocabulary topic: <a href="/en/ru/vocabulary/professions">Professions</a></li>
	<li>- New feature: registered users can review studied words in their profile</li>
	<li>- New vocabulary topic: <a href="/en/ru/vocabulary/family">Family</a></li>
 </ul>
</div>

<p>
If this is your first visit to our site, you may want to read the <a href="summary.html" title="Brief summary">brief summary</a>. 
You can also see the list of <a href="/useful-resources.html"  title="Useful links">Russian language related web resources</a> that we recommend you to visit.
</p>

<script type="text/javascript">
currentSection="home";
</script>
