<% @page_title = 'Online Russian Vocabulary: Jewelry and bijouterie' %>
<% @page_meta = {'description' => "Russian online vocabulary for learning words and phrases related to the topic Jewelry and bijouterie"} %>
<% @with_rec = true %>
<% @has_audio = true %>
<% content_for :special_js_css do %>
<style type="text/css">
h2.page {margin-bottom: 0px;}
</style>
<% end %>
<div class="hint_wrap">
<div class="hint_button">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <li><a href="jewelry-flashcards.html"> Flashcards: Jewelry</a></li>
            <li><a href="jewelry-test.html"> Tests: Jewelry</a></li>
        </ul>
        <%= render :partial => 'colorder_accent' %> 
  </div>
</div>
</div>



<h2 class="page">Jewelry and bijouterie</h2>
<h3 class="page-path"> 
<span class="int-links"><a href="/vocabulary.html">Vocabulary</a> <span class="int-arrow">--></span> Jewelry and bijouterie</span>
</h3>

<div id="pagecontent"><div id="content">

<div class="dict_wrapper">

<div class="voc-wordlist">
<table class="voc_bord" align="center" cellspacing="0">
<tr>
<td>

<table class="diction" cellpadding="0" cellspacing="0" align="center">
<thead>
<tr>
	<td></td>
	<td></td>
	<td></td>
</tr>
</thead>
<tbody>
	<tr class="trow">
		<td class="original" valign="top">Ювел<span class="acco">и</span>рные изд<span class="acco">е</span>лия
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09701.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[yoovil<span class="acct">i</span>rn<span class="ry">i</span>ye iz<span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span>liya]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Jewelry
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Бижут<span class="acco">е</span>рия
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09702.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[bijoot<span class="acct">e</span>riya]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Bijouterie
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Брасл<span class="acco">е</span>т
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09703.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[bras<span class="sftv">l</span><span class="sfty">y</span><span class="acct">e</span>t]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Bracelet
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Брошь
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09704.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[br<span class="acct">o</span>sh]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Brooch
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Зак<span class="acco">о</span>лка
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09705.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[zak<span class="acct">o</span>lka]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Hair-pin
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">З<span class="acco">а</span>понки
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09706.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[z<span class="acct">a</span>panki]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Cuff links
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Коль<span class="acco">е</span>
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09707.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[ka<span class="sftc">l</span>y<span class="acct">e</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Necklace
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Кольц<span class="acco">о</span>
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09708.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[ka<span class="sftc">l</span>ts<span class="acct">o</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Ring
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Кул<span class="acco">о</span>н
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09709.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[kool<span class="acct">o</span>n]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Pendant
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Ожер<span class="acco">е</span>лье
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09710.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[aj<span class="ry">i</span><span class="sftv">r</span><span class="sfty">y</span><span class="acct">e</span><span class="sftc">l</span>ye]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Necklace
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">П<span class="acco">е</span>рстень
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09711.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[p<span class="acct">e</span>r<span class="sftc">s</span>ti<span class="sftc">n</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Class ring
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">С<span class="acco">е</span>рьги
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09712.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[<span class="sftv">s</span><span class="sfty">y</span><span class="acct">e</span>rgi]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Ear-rings
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Цеп<span class="acco">о</span>чка
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09713.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[ts<span class="ry">i</span>p<span class="acct">o</span>chka]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Chain
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Час<span class="acco">ы</span>
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09714.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[chis<span class="acct"><span class="ry">i</span></span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Watch
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">&nbsp;
		</td>
		<td class="transcript" valign="top">&nbsp;
		</td>
		<td class="translation" valign="top">&nbsp;
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Драгоц<span class="acco">е</span>нный к<span class="acco">а</span>мень
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09715.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[dragats<span class="acct">e</span>n<span class="ry">i</span>y k<span class="acct">a</span>mi<span class="sftc">n</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Precious stone
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Аг<span class="acco">а</span>т
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09716.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[ag<span class="acct">a</span>t]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Agate
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Алм<span class="acco">а</span>з
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09717.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[alm<span class="acct">a</span>s]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Diamond
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Амет<span class="acco">и</span>ст
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09718.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[amit<span class="acct">i</span>st]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Amethyst
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Бирюз<span class="acco">а</span>
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09719.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[bi<span class="sftv">r</span><span class="sfty">y</span>ooz<span class="acct">a</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Turquoise
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Брилли<span class="acco">а</span>нт
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09720.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[brili<span class="acct">a</span>nt]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Diamond, brilliant
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Ж<span class="acco">е</span>мчуг
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09721.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[j<span class="acct">e</span>mchook]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Pearls
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Изумр<span class="acco">у</span>д
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09722.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[izoomr<span class="acct">oo</span>t]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Emerald
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Руб<span class="acco">и</span>н
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09723.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[roob<span class="acct">i</span>n]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Ruby
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Сапф<span class="acco">и</span>р
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09724.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[sapf<span class="acct">i</span>r]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Sapphire
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Топ<span class="acco">а</span>з
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09725.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[tap<span class="acct">a</span>s]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Topaz
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Янт<span class="acco">а</span>рь
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09726.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[yint<span class="acct">a</span><span class="sftc">r</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Amber
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">&nbsp;
		</td>
		<td class="transcript" valign="top">&nbsp;
		</td>
		<td class="translation" valign="top">&nbsp;
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Драгоценный металл
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09727.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[dragats<span class="acct">e</span>n<span class="ry">i</span>y mit<span class="acco">a</span>l]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Precious metal
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">З<span class="acco">о</span>лото
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09728.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[z<span class="acct">o</span>lata]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Gold
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Золот<span class="acco">о</span>й (золот<span class="acco">а</span><i></i>я, золот<span class="acco">о</span><i></i>е)
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09729.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[zalat<span class="acct">o</span>y, zalat<span class="acct">a</span>ya, zalat<span class="acct">o</span>ye]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Golden
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Позол<span class="acco">о</span>ченный (позол<span class="acco">о</span>ченная, позол<span class="acco">о</span>ченное)
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09730.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[pazal<span class="acct">o</span>chin<span class="ry">i</span>y, pazal<span class="acct">o</span>chinaya, pazal<span class="acct">o</span>chinaye]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Gilded
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Серебр<span class="acco">о</span>
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09731.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[siribr<span class="acct">o</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Silver
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Сер<span class="acco">е</span>бряный (сер<span class="acco">е</span>бряная, сер<span class="acco">е</span>бряное)
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09732.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[si<span class="sftv">r</span><span class="sfty">y</span><span class="acct">e</span>brin<span class="ry">i</span>y, si<span class="sftv">r</span><span class="sfty">y</span><span class="acct">e</span>brinaya, si<span class="sftv">r</span><span class="sfty">y</span><span class="acct">e</span>brinaye]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Silvery
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Пл<span class="acco">а</span>тина
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09733.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[pl<span class="acct">a</span>tina]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Platinum
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Пл<span class="acco">а</span>тиновый (пл<span class="acco">а</span>тиновая, пл<span class="acco">а</span>тиновое)
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09734.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[pl<span class="acct">a</span>tinav<span class="ry">i</span>y, pl<span class="acct">a</span>tinavaya, pl<span class="acct">a</span>tinavaye]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Platinum (adj.)
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">&nbsp;
		</td>
		<td class="transcript" valign="top">&nbsp;
		</td>
		<td class="translation" valign="top">&nbsp;
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Покаж<span class="acco">и</span>те, пож<span class="acco">а</span>луйста, <span class="acco">э</span>то кольц<span class="acco">о</span> с брилли<i></i><span class="acco">а</span>нтом
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09735.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[pakaj<span class="acct"><span class="ry">i</span></span>ti, paj<span class="acct">a</span>loosta, <span class="acct">e</span>ta ka<span class="sftc">l</span>ts<span class="acct">o</span> z brili<span class="acct">a</span>ntam]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Show me, please, this diamond ring.
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Я ищ<span class="acco">у</span> золот<span class="acco">ы</span><i></i>е час<span class="acco">ы</span>.
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09736.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[y<span class="acct">a</span> isch<span class="acct">oo</span> zalat<span class="acct"><span class="ry">i</span></span>ye chis<span class="acct"><span class="ry">i</span></span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">I'm looking for a golden watch.
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Я хот<span class="acco">е</span>л бы куп<span class="acco">и</span>ть <span class="acco">э</span>ту брошь с изумр<span class="acco">у</span>дом.
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09737.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[y<span class="acct">a</span> ha<span class="sftv">t</span><span class="sfty">y</span><span class="acct">e</span>l b<span class="ry">i</span> koop<span class="acct">i</span><span class="sftc">t</span> <span class="acct">e</span>too br<span class="acct">o</span>sh s <span class="ry">i</span>zoomr<span class="acct">oo</span>dam]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">I'd like to buy this brooch with emerald.
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Ск<span class="acct">о</span>лько ст<span class="acco">о</span><i></i>ит <span class="acco">э</span>то коль<span class="acco">е</span>?
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09738.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[sk<span class="acct">o</span><span class="sftc">l</span>ka st<span class="acct">o</span>it <span class="acct">e</span>ta ka<span class="sftc">l</span>y<span class="acct">e</span>?]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">How much does this necklace cost?
		</td>
	</tr>
</tbody>
<tfoot>
<tr>
	<td></td>
	<td></td>
	<td></td>
</tr>
</tfoot>  
</table>

</td>
</tr>
</table>
</div><!-- end of voc-wordlist-->

</div>

<table class="voc-links voc-link-first " align="center" cellspacing="0"><tr>
	<td class="voc-space">Learn these words and expressions with our &nbsp;<a href="jewelry-flashcards.html">Flashcards >></a></td>
</tr></table>
<table class="voc-links voc-link-last" align="center" cellspacing="0"><tr>
	<td class="voc-space">Check how you know this topic with our &nbsp;<a href="jewelry-test.html">Lexical tests >></a></td>
</tr></table>

</div>
</div>

<script type="text/javascript">
currentSection="words";
</script>

