<% @page_title = 'Tests: Jewelry and bijouterie' %>
<% @page_meta = {'description' => ""} %>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_css do %>

.hint_button {
float: right;
}

.quest  {
width: 210px;
}

.variants  {
width: 220px;
}

#t2 .quest {
width: 220px;
}


<% end %>

<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Recommended links</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
     				<li><a href="jewelry.html">Jewelry</a></li>
     				<li><a href="jewelry-exercise.html"> Exercises: Jewelry</a></li>

    		</ul>
	</div>
</div>
</div>



<h2 class="page">Jewelry and bijouterie <br/>(tests)</h2>

<p class="task">Before completing the following tests, please revise the topic <a title="Jewelry and bijouterie" href="jewelry.html">Jewelry and bijouterie</a></p>
<hr/>
<br/>
<h3>Test 1</h3>
<p class="task">Listen to the phrase and сhoose the corresponding Russian expression.</p>

<div id="t1">
<script type="text/javascript">
var t1 = new Test({dict: [

['sounds/sound09701.mp3','ювелирные изделия'],['sounds/sound09702.mp3','бижутерия'],['sounds/sound09703.mp3','браслет'],['sounds/sound09704.mp3','брошь'],
['sounds/sound09705.mp3','заколка'],['sounds/sound09706.mp3','запонки'],['sounds/sound09707.mp3','колье'],['sounds/sound09708.mp3','кольцо'],
['sounds/sound09709.mp3','кулон'],['sounds/sound09710.mp3','ожерелье'],['sounds/sound09711.mp3','перстень'],['sounds/sound09712.mp3','серьги'],
['sounds/sound09713.mp3','цепочка'],['sounds/sound09714.mp3','часы'],['sounds/sound09715.mp3','драгоценный камень'],['sounds/sound09716.mp3','агат'],
['sounds/sound09717.mp3','алмаз'],['sounds/sound09718.mp3','аметист'],['sounds/sound09719.mp3','бирюза'],['sounds/sound09720.mp3','бриллиант'],
['sounds/sound09721.mp3','жемчуг'],['sounds/sound09722.mp3','изумруд'],['sounds/sound09723.mp3','рубин'],['sounds/sound09724.mp3','сапфир'],
['sounds/sound09725.mp3','топаз'],['sounds/sound09726.mp3','янтарь'],['sounds/sound09727.mp3','драгоценный металл'],['sounds/sound09728.mp3','золото'],
['sounds/sound09731.mp3','серебро'],['sounds/sound09733.mp3','платина']


],hide: 'di1',id:'t1', type: 'audio', how_questions: 8, how_show: 2}, 'v0226010.1');
</script>
</div>

<h3>Test 2</h3>
<p class="task">Read the Russian phrase and choose the corresponding English expression.</p>

<div id="t2">
<script type="text/javascript">
var t2 = new Test({dict: [

['ювелирные изделия','jewelry'],['бижутерия','bijouterie'],['браслет','bracelet'],['брошь','brooch'],
['заколка','hair-pin'],['запонки','cuff links'],['колье','necklace'],['кольцо','ring'],
['кулон','pendant'],['ожерелье','necklace'],['перстень','class ring'],['серьги','ear-rings'],
['цепочка','chain'],['часы','watch'],['драгоценный камень','precious stone'],['агат','agate'],
['алмаз','diamond'],['аметист','amethyst'],['бирюза','turquoise'],['бриллиант','brilliant, diamond'],
['жемчуг','pearls'],['изумруд','emerald'],['рубин','ruby'],['сапфир','sapphire'],
['топаз','topaz'],['янтарь','amber'],['драгоценный металл','precious metal'],['золото','gold'],
['серебро','silver'],['платина','platinum']

], hide:'di2',id:'t2',type: 'text', how_questions: 8, how_show: 2}, 'v0226020.2');
</script>
</div>

<h3>Test 3</h3>
<p class="task">Listen to the Russian phrases and сhoose their translation into English.</p>

<div id="t3">
<script type="text/javascript">
var t3 = new Test({dict: [

['sounds/sound09701.mp3','jewelry'],['sounds/sound09702.mp3','bijouterie'],['sounds/sound09703.mp3','bracelet'],['sounds/sound09704.mp3','brooch'],
['sounds/sound09705.mp3','hair-pin'],['sounds/sound09706.mp3','cuff links'],['sounds/sound09707.mp3','necklace'],['sounds/sound09708.mp3','ring'],
['sounds/sound09709.mp3','pendant'],['sounds/sound09710.mp3','necklace'],['sounds/sound09711.mp3','class ring'],['sounds/sound09712.mp3','ear-rings'],
['sounds/sound09713.mp3','chain'],['sounds/sound09714.mp3','watch'],['sounds/sound09715.mp3','precious stone'],['sounds/sound09716.mp3','agate'],
['sounds/sound09717.mp3','diamond'],['sounds/sound09718.mp3','amethyst'],['sounds/sound09719.mp3','turquoise'],['sounds/sound09720.mp3','brilliant, diamond'],
['sounds/sound09721.mp3','pearls'],['sounds/sound09722.mp3','emerald'],['sounds/sound09723.mp3','ruby'],['sounds/sound09724.mp3','sapphire'],
['sounds/sound09725.mp3','topaz'],['sounds/sound09726.mp3','amber'],['sounds/sound09727.mp3','precious metal'],['sounds/sound09728.mp3','gold'],
['sounds/sound09731.mp3','silver '],['sounds/sound09733.mp3','platinum	']


],hide: 'di3',id:'t3',type: 'audio', how_questions: 8, how_show: 2}, 'v0226030.3');
</script>
</div>


<script type="text/javascript">
currentSection="words";
</script>
