<% @page_title = 'Jewelry and bijouterie :: Online Russian lexical tests' %>
<% @page_meta = {'description' => "Learn Russian vocabulary topic Jewelry and bijouterie with online lexical tests"} %>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_js_css do %>
<style type="text/css">
h2.page {margin-bottom: 0px;font-size: 19pt;}
</style>
<% end %>

<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Links and Settings</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
     				<li><a href="/jewelry.html">Jewelry </a></li>
					<li><a href="/jewelry-flashcards.html"> Flashcards: Jewelry </a></li>
    		</ul>
			<%= render :partial => 'preload_option' %>
	</div>
</div>
</div>

<h2 class="page">Tests:  Jewelry and bijouterie</h2>

<h3 class="page-path">
	<span class="int-links">
	<a href="/vocabulary.html">Vocabulary</a>
	<span class="int-arrow">--&gt;</span> 
	<a href="/jewelry.html">Jewelry and bijouterie</a>
	<span class="int-arrow">--&gt;</span> Tests
	</span>
</h3>

<div class="l-test-container">

<h3 class="test-task">Test 1. Listen to the Russian phrase and find it in the list.
<a href="javascript:;" class="lt-test-closer"><span class="lt-h">Hide test</span><span class="lt-sh">Show test</span></a>
</h3>

<div id="ch1" class="lt-holder">
<div class="lt-spacer">	
<%= render :partial => 'lexical_test' %>
</div>
</div><!-- end of lt-holder -->

<script type="text/javascript"> 
	var ch1 = new ch_exercise( {
		id: "ch1", 
		test_id: "v0226010.1",
		quest_num: 10,
		variants_num: 5,
		quest_type: 'audio',
		basic_array: [
['sounds/sound09701.mp3','ювелирные изделия'],['sounds/sound09702.mp3','бижутерия'],['sounds/sound09703.mp3','браслет'],['sounds/sound09704.mp3','брошь'],
['sounds/sound09705.mp3','заколка'],['sounds/sound09706.mp3','запонки'],['sounds/sound09707.mp3','колье'],['sounds/sound09708.mp3','кольцо'],
['sounds/sound09709.mp3','кулон'],['sounds/sound09710.mp3','ожерелье'],['sounds/sound09711.mp3','перстень'],['sounds/sound09712.mp3','серьги'],
['sounds/sound09713.mp3','цепочка'],['sounds/sound09714.mp3','часы'],['sounds/sound09715.mp3','драгоценный камень'],['sounds/sound09716.mp3','агат'],
['sounds/sound09717.mp3','алмаз'],['sounds/sound09718.mp3','аметист'],['sounds/sound09719.mp3','бирюза'],['sounds/sound09720.mp3','бриллиант'],
['sounds/sound09721.mp3','жемчуг'],['sounds/sound09722.mp3','изумруд'],['sounds/sound09723.mp3','рубин'],['sounds/sound09724.mp3','сапфир'],
['sounds/sound09725.mp3','топаз'],['sounds/sound09726.mp3','янтарь'],['sounds/sound09727.mp3','драгоценный металл'],['sounds/sound09728.mp3','золото'],
['sounds/sound09731.mp3','серебро'],['sounds/sound09733.mp3','платина']
		]
		} )
</script>

<h3 class="test-task">Test 2. Read the Russian phrase and find its English equivalent.
<a href="javascript:;" class="lt-test-closer"><span class="lt-h">Hide test</span><span class="lt-sh">Show test</span></a>
</h3>

<div id="ch2" class="lt-holder">
<div class="lt-spacer">
<%= render :partial => 'lexical_test' %>
</div>
</div><!-- end of lt-holder -->
<script type="text/javascript"> 
	var ch2 = new ch_exercise( {
		id: "ch2", 
		test_id: "v0226020.2",
		quest_num: 10,
		variants_num: 5,
		basic_array: [
['ювелирные изделия','jewelry'],['бижутерия','bijouterie'],['браслет','bracelet'],['брошь','brooch'],
['заколка','hair-pin'],['запонки','cuff links'],['колье','necklace'],['кольцо','ring'],
['кулон','pendant'],['ожерелье','necklace'],['перстень','class ring'],['серьги','ear-rings'],
['цепочка','chain'],['часы','watch'],['драгоценный камень','precious stone'],['агат','agate'],
['алмаз','diamond'],['аметист','amethyst'],['бирюза','turquoise'],['бриллиант','brilliant, diamond'],
['жемчуг','pearls'],['изумруд','emerald'],['рубин','ruby'],['сапфир','sapphire'],
['топаз','topaz'],['янтарь','amber'],['драгоценный металл','precious metal'],['золото','gold'],
['серебро','silver'],['платина','platinum']
		]
		} )
</script>

<h3 class="test-task">Test 3. 
Listen to the phrase and find its translation into English.
<a href="javascript:;" class="lt-test-closer"><span class="lt-h">Hide test</span><span class="lt-sh">Show test</span></a>
</h3>

<div id="ch3" class="lt-holder">
<div class="lt-spacer">	
<%= render :partial => 'lexical_test' %>
</div>
</div><!-- end of lt-holder -->

<script type="text/javascript"> 
	var ch3 = new ch_exercise( {
		id: "ch3", 
		test_id: "v0226030.3",
		quest_num: 10,
		variants_num: 5,
		quest_type: 'audio',
		basic_array: [
		
['sounds/sound09701.mp3','jewelry'],['sounds/sound09702.mp3','bijouterie'],['sounds/sound09703.mp3','bracelet'],['sounds/sound09704.mp3','brooch'],
['sounds/sound09705.mp3','hair-pin'],['sounds/sound09706.mp3','cuff links'],['sounds/sound09707.mp3','necklace'],['sounds/sound09708.mp3','ring'],
['sounds/sound09709.mp3','pendant'],['sounds/sound09710.mp3','necklace'],['sounds/sound09711.mp3','class ring'],['sounds/sound09712.mp3','ear-rings'],
['sounds/sound09713.mp3','chain'],['sounds/sound09714.mp3','watch'],['sounds/sound09715.mp3','precious stone'],['sounds/sound09716.mp3','agate'],
['sounds/sound09717.mp3','diamond'],['sounds/sound09718.mp3','amethyst'],['sounds/sound09719.mp3','turquoise'],['sounds/sound09720.mp3','brilliant, diamond'],
['sounds/sound09721.mp3','pearls'],['sounds/sound09722.mp3','emerald'],['sounds/sound09723.mp3','ruby'],['sounds/sound09724.mp3','sapphire'],
['sounds/sound09725.mp3','topaz'],['sounds/sound09726.mp3','amber'],['sounds/sound09727.mp3','precious metal'],['sounds/sound09728.mp3','gold'],
['sounds/sound09731.mp3','silver '],['sounds/sound09733.mp3','platinum']
		]
		} )
</script>

<h3 class="test-task test-task-final" style="text-align: center">Review the topic &nbsp;&nbsp;&nbsp;&nbsp;<a href="/jewelry.html">Jewelry and bijouterie >></a></h3>

<script type="text/javascript">
preloadFiles=new Array(

)
</script>

</div><!-- end of lt-container -->

<script type="text/javascript">
currentSection="words";
</script>