<% @page_title = 'Online Russian Flashcards: Jewelry and bijouterie' %>
<% @page_meta = {'description' => "Learn Russian vocabulary topic Jewelry and bijouterie with online flashcards: words with audio samples, quizzes and spell practice"} %>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_js_css do %>
<style type="text/css">
h2.page {
margin-bottom: 0px;
font-size: 19pt;
}
</style>

<%end%>
<div class="hint_wrap">
<div class="hint_button" style="float: right;">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <li><a href="/jewelry.html">Jewelry and bijouterie</a></li>
			<li><a href="/jewelry-test.html">Tests: Jewelry and bijouterie</a></li>
        </ul>
        <%= render :partial => 'down_accent' %>
  </div>
</div>
</div>

<h2 class="page">Flashcards: Jewelry and bijouterie</h2>
<h3 class="page-path">
	<span class="int-links">
	<a href="/vocabulary.html">Vocabulary</a>
	<span class="int-arrow">--&gt;</span> 
	<a href="/jewelry.html">Jewelry and bijouterie</a>
	<span class="int-arrow">--&gt;</span> Flashcards
	</span>
</h3>

<div  id="fl1" style="min-height: 600px; text-align: center;">
<%= render :partial => 'flashcard' %>
</div><!-- end of fl1 -->

<script type="text/javascript"> 
	var fl1 = new flashcard( {
		id: "fl1", 
		random_order: false,
		basic_array: [
		
['Ювел<span class="acco">и</span>рные изд<span class="acco">е</span>лия ','Jewelry ','/sounds/sound09701.mp3','yoovil<span class="acct">i</span>rn<span class="ry">i</span>ye iz<span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span>liya '],
['Бижут<span class="acco">е</span>рия ','Bijouterie ','/sounds/sound09702.mp3','bijoot<span class="acct">e</span>riya '],
['Брасл<span class="acco">е</span>т ','Bracelet ','/sounds/sound09703.mp3','bras<span class="sftv">l</span><span class="sfty">y</span><span class="acct">e</span>t '],
['Брошь ','Brooch ','/sounds/sound09704.mp3','br<span class="acct">o</span>sh '],
['Зак<span class="acco">о</span>лка ','Hair-pin ','/sounds/sound09705.mp3','zak<span class="acct">o</span>lka '],
['З<span class="acco">а</span>понки ','Cuff links ','/sounds/sound09706.mp3','z<span class="acct">a</span>panki '],
['Коль<span class="acco">е</span> ','Necklace ','/sounds/sound09707.mp3','ka<span class="sftc">l</span>y<span class="acct">e</span> '],
['Кольц<span class="acco">о</span> ','Ring ','/sounds/sound09708.mp3','ka<span class="sftc">l</span>ts<span class="acct">o</span> '],
['Кул<span class="acco">о</span>н ','Pendant ','/sounds/sound09709.mp3','kool<span class="acct">o</span>n '],
['Ожер<span class="acco">е</span>лье ','Necklace ','/sounds/sound09710.mp3','aj<span class="ry">i</span><span class="sftv">r</span><span class="sfty">y</span><span class="acct">e</span><span class="sftc">l</span>ye '],
['П<span class="acco">е</span>рстень ','Class ring ','/sounds/sound09711.mp3','p<span class="acct">e</span>r<span class="sftc">s</span>ti<span class="sftc">n</span> '],
['С<span class="acco">е</span>рьги ','Ear-rings ','/sounds/sound09712.mp3','<span class="sftv">s</span><span class="sfty">y</span><span class="acct">e</span>rgi '],
['Цеп<span class="acco">о</span>чка ','Chain ','/sounds/sound09713.mp3','ts<span class="ry">i</span>p<span class="acct">o</span>chka '],
['Час<span class="acco">ы</span> ','Watch ','/sounds/sound09714.mp3','chis<span class="acct"><span class="ry">i</span></span> '],
['Драгоц<span class="acco">е</span>нный к<span class="acco">а</span>мень ','Precious stone ','/sounds/sound09715.mp3','dragats<span class="acct">e</span>n<span class="ry">i</span>y k<span class="acct">a</span>mi<span class="sftc">n</span> '],
['Аг<span class="acco">а</span>т ','Agate ','/sounds/sound09716.mp3','ag<span class="acct">a</span>t '],
['Алм<span class="acco">а</span>з ','Diamond ','/sounds/sound09717.mp3','alm<span class="acct">a</span>s '],
['Амет<span class="acco">и</span>ст ','Amethyst ','/sounds/sound09718.mp3','amit<span class="acct">i</span>st '],
['Бирюз<span class="acco">а</span> ','Turquoise ','/sounds/sound09719.mp3','bi<span class="sftv">r</span><span class="sfty">y</span>ooz<span class="acct">a</span> '],
['Брилли<span class="acco">а</span>нт ','Diamond, brilliant ','/sounds/sound09720.mp3','brili<span class="acct">a</span>nt '],
['Ж<span class="acco">е</span>мчуг ','Pearls ','/sounds/sound09721.mp3','j<span class="acct">e</span>mchook '],
['Изумр<span class="acco">у</span>д ','Emerald ','/sounds/sound09722.mp3','izoomr<span class="acct">oo</span>t '],
['Руб<span class="acco">и</span>н ','Ruby ','/sounds/sound09723.mp3','roob<span class="acct">i</span>n '],
['Сапф<span class="acco">и</span>р ','Sapphire ','/sounds/sound09724.mp3','sapf<span class="acct">i</span>r '],
['Топ<span class="acco">а</span>з ','Topaz ','/sounds/sound09725.mp3','tap<span class="acct">a</span>s '],
['Янт<span class="acco">а</span>рь ','Amber ','/sounds/sound09726.mp3','yint<span class="acct">a</span><span class="sftc">r</span> '],
['Драгоценный металл ','Precious metal ','/sounds/sound09727.mp3','dragats<span class="acct">e</span>n<span class="ry">i</span>y mit<span class="acco">a</span>l '],
['З<span class="acco">о</span>лото ','Gold ','/sounds/sound09728.mp3','z<span class="acct">o</span>lata '],
['Золот<span class="acco">о</span>й (золот<span class="acco">а</span><i></i>я, золот<span class="acco">о</span><i></i>е) ','Golden ','/sounds/sound09729.mp3','zalat<span class="acct">o</span>y, zalat<span class="acct">a</span>ya, zalat<span class="acct">o</span>ye '],
['Позол<span class="acco">о</span>ченный (позол<span class="acco">о</span>ченная, позол<span class="acco">о</span>ченное) ','Gilded ','/sounds/sound09730.mp3','pazal<span class="acct">o</span>chin<span class="ry">i</span>y, pazal<span class="acct">o</span>chinaya, pazal<span class="acct">o</span>chinaye '],
['Серебр<span class="acco">о</span> ','Silver ','/sounds/sound09731.mp3','siribr<span class="acct">o</span> '],
['Сер<span class="acco">е</span>бряный (сер<span class="acco">е</span>бряная, сер<span class="acco">е</span>бряное) ','Silvery ','/sounds/sound09732.mp3','si<span class="sftv">r</span><span class="sfty">y</span><span class="acct">e</span>brin<span class="ry">i</span>y, si<span class="sftv">r</span><span class="sfty">y</span><span class="acct">e</span>brinaya, si<span class="sftv">r</span><span class="sfty">y</span><span class="acct">e</span>brinaye '],
['Пл<span class="acco">а</span>тина ','Platinum ','/sounds/sound09733.mp3','pl<span class="acct">a</span>tina '],
['Пл<span class="acco">а</span>тиновый (пл<span class="acco">а</span>тиновая, пл<span class="acco">а</span>тиновое) ','Platinum (adj.) ','/sounds/sound09734.mp3','pl<span class="acct">a</span>tinav<span class="ry">i</span>y, pl<span class="acct">a</span>tinavaya, pl<span class="acct">a</span>tinavaye '],
['Покаж<span class="acco">и</span>те, пож<span class="acco">а</span>луйста, <span class="acco">э</span>то кольц<span class="acco">о</span> с брилли<i></i><span class="acco">а</span>нтом ','Show me, please, this diamond ring. ','/sounds/sound09735.mp3','pakaj<span class="acct"><span class="ry">i</span></span>ti, paj<span class="acct">a</span>loosta, <span class="acct">e</span>ta ka<span class="sftc">l</span>ts<span class="acct">o</span> z brili<span class="acct">a</span>ntam '],
['Я ищ<span class="acco">у</span> золот<span class="acco">ы</span><i></i>е час<span class="acco">ы</span>. ','I\'m looking for a golden watch. ','/sounds/sound09736.mp3','y<span class="acct">a</span> isch<span class="acct">oo</span> zalat<span class="acct"><span class="ry">i</span></span>ye chis<span class="acct"><span class="ry">i</span></span> '],
['Я хот<span class="acco">е</span>л бы куп<span class="acco">и</span>ть <span class="acco">э</span>ту брошь с изумр<span class="acco">у</span>дом. ','I\'d like to buy this brooch with emerald. ','/sounds/sound09737.mp3','y<span class="acct">a</span> ha<span class="sftv">t</span><span class="sfty">y</span><span class="acct">e</span>l b<span class="ry">i</span> koop<span class="acct">i</span><span class="sftc">t</span> <span class="acct">e</span>too br<span class="acct">o</span>sh s <span class="ry">i</span>zoomr<span class="acct">oo</span>dam '],
['Ск<span class="acct">о</span>лько ст<span class="acco">о</span><i></i>ит <span class="acco">э</span>то коль<span class="acco">е</span>? ','How much does this necklace cost? ','/sounds/sound09738.mp3','sk<span class="acct">o</span><span class="sftc">l</span>ka st<span class="acct">o</span>it <span class="acct">e</span>ta ka<span class="sftc">l</span>y<span class="acct">e</span>? ']
		]
		} )
</script>


<table class="voc-links voc-link-first voc-link-last" align="center" cellspacing="0"><tr>
	<td class="voc-space">Check how you know this topic with our &nbsp;<a href="/jewelry-test.html">Lexical tests >></a></td>
</tr></table>


<script type="text/javascript">
preloadFiles=new Array(
'/sounds/sound09701.mp3', '/sounds/sound09702.mp3', '/sounds/sound09703.mp3', '/sounds/sound09704.mp3', 
'/sounds/sound09705.mp3', '/sounds/sound09706.mp3', '/sounds/sound09707.mp3', '/sounds/sound09708.mp3', 
'/sounds/sound09709.mp3', '/sounds/sound09710.mp3', '/sounds/sound09711.mp3', '/sounds/sound09712.mp3', 
'/sounds/sound09713.mp3', '/sounds/sound09714.mp3', '/sounds/sound09715.mp3', '/sounds/sound09716.mp3', 
'/sounds/sound09717.mp3', '/sounds/sound09718.mp3', '/sounds/sound09719.mp3', '/sounds/sound09720.mp3', 
'/sounds/sound09721.mp3', '/sounds/sound09722.mp3', '/sounds/sound09723.mp3', '/sounds/sound09724.mp3', 
'/sounds/sound09725.mp3', '/sounds/sound09726.mp3', '/sounds/sound09727.mp3', '/sounds/sound09728.mp3', 
'/sounds/sound09729.mp3', '/sounds/sound09730.mp3', '/sounds/sound09731.mp3', '/sounds/sound09732.mp3', 
'/sounds/sound09733.mp3', '/sounds/sound09734.mp3', '/sounds/sound09735.mp3', '/sounds/sound09736.mp3', 
'/sounds/sound09737.mp3', '/sounds/sound09738.mp3'
)
</script>
