<% @page_title = 'Online Russian Flashcards: Language Skills' %>
<% @page_meta = {'description' => "Learn Russian vocabulary topic Language Skills with online flashcards: words with audio samples, quizzes and spell practice"} %>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_js_css do %>
<style type="text/css">
h2.page {
margin-bottom: 0px;
font-size: 19pt;
}
</style>

<%end%>
<div class="hint_wrap">
<div class="hint_button" style="float: right;">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <li><a href="/language-skills.html">Language Skills</a></li>
			<li><a href="/language-skills-test.html">Tests: Language Skills</a></li>
        </ul>
        <%= render :partial => 'down_accent' %>
  </div>
</div>
</div>

<h2 class="page">Flashcards: Language Skills</h2>
<h3 class="page-path">
	<span class="int-links">
	<a href="/vocabulary.html">Vocabulary</a>
	<span class="int-arrow">--&gt;</span> 
	<a href="/language-skills.html">Language Skills</a>
	<span class="int-arrow">--&gt;</span> Flashcards
	</span>
</h3>

<div  id="fl1" style="min-height: 600px; text-align: center;">
<%= render :partial => 'flashcard' %>
</div><!-- end of fl1 -->

<script type="text/javascript"> 
	var fl1 = new flashcard( {
		id: "fl1", 
		random_order: false,
		basic_array: [
		
['Англ<span class="acco">и</span>йский яз<span class="acco">ы</span>к ','English language ','/sounds/sound11101.mp3','angl<span class="acct">i</span>yskiy yiz<span class="ry">i</span>k '],
['Р<span class="acco">у</span>сский яз<span class="acco">ы</span>к ','Russian language ','/sounds/sound11102.mp3','r<span class="acct">oo</span>skiy yiz<span class="acct"><span class="ry">i</span></span>k '],
['Франц<span class="acco">у</span>зский яз<span class="acco">ы</span>к ','French language ','/sounds/sound11104.mp3','frants<span class="acct">oo</span>skiy yiz<span class="acct"><span class="ry">i</span></span>k '],
['Нем<span class="acco">е</span>цкий яз<span class="acco">ы</span>к ','German language ','/sounds/sound11103.mp3','ni<span class="sftv">m</span><span class="sfty">y</span><span class="acct">e</span>tskiy yiz<span class="acct"><span class="ry">i</span></span>k '],
['Исп<span class="acco">а</span>нский яз<span class="acco">ы</span>к ','Spanish language ','/sounds/sound11105.mp3','isp<span class="acct">a</span>nskiy yiz<span class="acct"><span class="ry">i</span></span>k '],
['Италь<span class="acco">я</span>нский яз<span class="acco">ы</span>к ','Italian language ','/sounds/sound11106.mp3','ita<span class="sftc">l</span>y<span class="acct">a</span>nskiy yiz<span class="acct"><span class="ry">i</span></span>k '],
['По-англ<span class="acco">и</span>йски ','In English ','/sounds/sound11107.mp3','paangl<span class="acct">i</span>yski '],
['По-р<span class="acco">у</span>сски ','In Russian ','/sounds/sound11108.mp3','par<span class="acct">oo</span>ski '],
['По-франц<span class="acco">у</span>зски ','In French ','/sounds/sound11109.mp3','pafrants<span class="acct">oo</span>ski '],
['По-нем<span class="acco">е</span>цки ','In German ','/sounds/sound11110.mp3','pani<span class="sftv">m</span><span class="sfty">y</span><span class="acct">e</span>tski '],
['По-исп<span class="acco">а</span>нски ','In Spanish ','/sounds/sound11111.mp3','paisp<span class="acct">a</span>nski '],
['Я говор<span class="acco">ю</span> ... ','I speak ... ','/sounds/sound11112.mp3','y<span class="acct">a</span> gava<span class="sftv">r</span><span class="sfty">y</span><span class="acct">oo</span> '],
['Я поним<span class="acco">а</span><i></i>ю ... ','I understand ... ','/sounds/sound11113.mp3','y<span class="acct">a</span> panim<span class="acct">a</span>yoo '],
['Я не говор<span class="acco">ю</span> ... ','I do not speak ... ','/sounds/sound11114.mp3','y<span class="acct">a</span> ni gava<span class="sftv">r</span><span class="sfty">y</span><span class="acct">oo</span> '],
['Я говор<span class="acco">ю</span> по-англ<span class="acco">и</span>йски. ','I speak English. ','/sounds/sound11115.mp3','y<span class="acct">a</span> gava<span class="sftv">r</span><span class="sfty">y</span><span class="acct">oo</span> paangl<span class="acct">i</span>yski '],
['Я говор<span class="acco">ю</span> по-р<span class="acco">у</span>сски. ','I speak Russian. ','/sounds/sound11116.mp3','y<span class="acct">a</span> gava<span class="sftv">r</span><span class="sfty">y</span><span class="acct">oo</span> par<span class="acct">oo</span>ski '],
['Я говор<span class="acco">ю</span> по-франц<span class="acco">у</span>зски. ','I speak French. ','/sounds/sound11117.mp3','y<span class="acct">a</span> gava<span class="sftv">r</span><span class="sfty">y</span><span class="acct">oo</span> pafrants<span class="acct">oo</span>ski '],
['Я говор<span class="acco">ю</span> по-нем<span class="acco">е</span>цки. ','I speak German. ','/sounds/sound11118.mp3','y<span class="acct">a</span> gava<span class="sftv">r</span><span class="sfty">y</span><span class="acct">oo</span> pani<span class="sftv">m</span><span class="sfty">y</span><span class="acct">e</span>tski '],
['Хорош<span class="acct">о</span> ','Well ','/sounds/sound11119.mp3','harash<span class="acct">o</span> '],
['Немн<span class="acco">о</span>го ','A little ','/sounds/sound11120.mp3','nimn<span class="acct">o</span>ga '],
['Чуть-ч<span class="acco">у</span>ть ','A little bit ','/sounds/sound11121.mp3','choo<span class="sftc">t</span> ch<span class="acct">oo</span><span class="sftc">t</span> '],
['Я хорош<span class="acco">о</span> говор<span class="acco">ю</span> ... ','I speak well ... ','/sounds/sound11123.mp3','y<span class="acct">a</span> harash<span class="acct">o</span> gava<span class="sftv">r</span><span class="sfty">y</span><span class="acct">oo</span> '],
['Я немн<span class="acco">о</span>го говор<span class="acco">ю</span> ... ','I speak a little ... ','/sounds/sound11124.mp3','y<span class="acct">a</span> nimn<span class="acct">o</span>ga gava<span class="sftv">r</span><span class="sfty">y</span><span class="acct">oo</span> '],
['Я немн<span class="acco">о</span>го поним<span class="acco">а</span><i></i>ю ... ','I understand a little ... ','/sounds/sound11125.mp3','y<span class="acct">a</span> nimn<span class="acct">o</span>ga panim<span class="acct">a</span>yoo '],
//['Я чит<span class="acco">а</span><i></i>ю по-р<span class="acco">у</span>сски, но не говор<span class="acco">ю</span>. ','I read in Russian, but I do not speak. ','/sounds/sound11126.mp3','y<span class="acct">a</span> chit<span class="acct">a</span>yoo par<span class="acct">oo</span>ski, no ni gava<span class="sftv">r</span><span class="sfty">y</span><span class="acct">oo</span> '],
//['Я немн<span class="acco">о</span>го поним<span class="acco">а</span><i></i>ю, но не мог<span class="acco">у</span> говор<span class="acco">и</span>ть по-р<span class="acco">у</span>сски. ','I understand Russian a little, but I can\'t speak it. ','/sounds/sound11127.mp3','y<span class="acct">a</span> nimn<span class="acct">o</span>ga panim<span class="acct">a</span>yoo, no ni mag<span class="acct">oo</span> gavar<span class="acct">i</span><span class="sftc">t</span> par<span class="acct">oo</span>ski '],
['Я зн<span class="acco">а</span><i></i>ю ... ','I know ... ','/sounds/sound11128.mp3','y<span class="acct">a</span> zn<span class="acct">a</span>yoo '],
['Я зн<span class="acco">а</span><i></i>ю англ<span class="acco">и</span>йский яз<span class="acco">ы</span>к. ','I know the English language. ','/sounds/sound11129.mp3','y<span class="acct">a</span> zn<span class="acct">a</span>yoo angl<span class="acct">i</span>yskiy yiz<span class="acct"><span class="ry">i</span></span>k '],
['Я зн<span class="acco">а</span><i></i>ю р<span class="acco">у</span>сский яз<span class="acco">ы</span>к. ','I know the Russian language. ','/sounds/sound11130.mp3','y<span class="acct">a</span> zn<span class="acct">a</span>yoo r<span class="acct">oo</span>skiy yiz<span class="acct"><span class="ry">i</span></span>k '],
['Я изуч<span class="acco">а</span><i></i>ю ... ','I learn ... ','/sounds/sound11131.mp3','y<span class="acct">a</span> izooch<span class="acct">a</span>yoo '],
['Вы говор<span class="acco">и</span>те по-р<span class="acco">у</span>сски? ','Do you speak Russian? ','/sounds/sound11132.mp3','v<span class="acct"><span class="ry">i</span></span> gavar<span class="acct">i</span>ti par<span class="acct">oo</span>ski? '],
['Вы поним<span class="acco">а</span><i></i>ете по-англ<span class="acco">и</span>йски? ','Do you understand English? ','/sounds/sound11133.mp3','v<span class="acct"><span class="ry">i</span></span> panim<span class="acct">a</span>iti paangl<span class="acct">i</span>yski? '],
['Я вас поним<span class="acco">а</span><i></i>ю. ','I understand you. ','/sounds/sound11136.mp3','y<span class="acct">a</span> v<span class="acct">a</span>s panim<span class="acct">a</span>yoo '],
['Я вас не поним<span class="acco">а</span><i></i>ю. ','I don\'t understand you. ','/sounds/sound11137.mp3','y<span class="acct">a</span> v<span class="acct">a</span>s ni panim<span class="acct">a</span>yoo '],
['Повтор<span class="acco">и</span>те, пож<span class="acco">а</span>луйста. ','Repeat, please. ','/sounds/sound11138.mp3','paftar<span class="acct">i</span>ti, paj<span class="acct">a</span>loosta '],
['Говор<span class="acco">и</span>те, пож<span class="acco">а</span>луйста, м<span class="acco">е</span>дленнее. ','Please, speak slower. ','/sounds/sound11139.mp3','gavar<span class="acct">i</span>ti, paj<span class="acct">a</span>loosta, <span class="sftv">m</span><span class="sfty">y</span><span class="acct">e</span>dliniye '],
['Мне н<span class="acco">у</span>жен перев<span class="acco">о</span>дчик. ','I need a translator. ','/sounds/sound11140.mp3','m<span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span> n<span class="acct">oo</span>j<span class="ry">i</span>n piriv<span class="acct">o</span>chik '],
['Что <span class="acco">э</span>то зн<span class="acco">а</span>чит? ','What does it mean? ','/sounds/sound11141.mp3','sht<span class="acct">o</span> <span class="acct">e</span>ta zn<span class="acct">a</span>chit? '],
['Что зн<span class="acco">а</span>чит это сл<span class="acco">о</span>во? ','What does this word mean? ','/sounds/sound11142.mp3','sht<span class="acct">o</span> zn<span class="acct">a</span>chit <span class="acct">e</span>ta sl<span class="acct">o</span>va '],
['Что здесь нап<span class="acco">и</span>сано? ','What is written here? ','/sounds/sound11143.mp3','sht<span class="acct">o</span> <span class="sftc">z</span><span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span><span class="sftc">s</span> nap<span class="acct">i</span>sana? '],
['Как <span class="acco">э</span>то перев<span class="acco">о</span>дится? ','How can you translate this? ','/sounds/sound11144.mp3','k<span class="acct">a</span>k <span class="acct">e</span>ta piriv<span class="acct">o</span>ditsa? '],
['Как перев<span class="acco">о</span>дится <span class="acco">э</span>то сл<span class="acco">о</span>во? ','How can you translate this word? ','/sounds/sound11145.mp3','k<span class="acct">a</span>k piriv<span class="acct">o</span>ditsa <span class="acct">e</span>ta sl<span class="acct">o</span>va? '],
['Перевед<span class="acco">и</span>те, пож<span class="acco">а</span>луйста. ','Translate, please. ','/sounds/sound11146.mp3','pirivid<span class="acct">i</span>ti, paj<span class="acct">a</span>loosta ']
		]
		} )
</script>


<table class="voc-links voc-link-first voc-link-last" align="center" cellspacing="0"><tr>
	<td class="voc-space">Check how you know this topic with our &nbsp;<a href="/language-skills-test.html">Lexical tests >></a></td>
</tr></table>


<script type="text/javascript">
preloadFiles=new Array(
'/sounds/sound11101.mp3', '/sounds/sound11102.mp3', '/sounds/sound11104.mp3', '/sounds/sound11103.mp3', 
'/sounds/sound11105.mp3', '/sounds/sound11106.mp3', '/sounds/sound11107.mp3', '/sounds/sound11108.mp3', 
'/sounds/sound11109.mp3', '/sounds/sound11110.mp3', '/sounds/sound11111.mp3', '/sounds/sound11112.mp3', 
'/sounds/sound11113.mp3', '/sounds/sound11114.mp3', '/sounds/sound11115.mp3', '/sounds/sound11116.mp3', 
'/sounds/sound11117.mp3', '/sounds/sound11118.mp3', '/sounds/sound11119.mp3', '/sounds/sound11120.mp3', 
'/sounds/sound11121.mp3', '/sounds/sound11123.mp3', '/sounds/sound11124.mp3', '/sounds/sound11125.mp3', 
'/sounds/sound11126.mp3', '/sounds/sound11127.mp3', '/sounds/sound11128.mp3', '/sounds/sound11129.mp3', 
'/sounds/sound11130.mp3', '/sounds/sound11131.mp3', '/sounds/sound11132.mp3', '/sounds/sound11133.mp3', 
'/sounds/sound11136.mp3', '/sounds/sound11137.mp3', '/sounds/sound11138.mp3', '/sounds/sound11139.mp3', 
'/sounds/sound11140.mp3', '/sounds/sound11141.mp3', '/sounds/sound11142.mp3', '/sounds/sound11143.mp3', 
'/sounds/sound11144.mp3', '/sounds/sound11145.mp3', '/sounds/sound11146.mp3'
)
</script>
