<% @page_title = 'Online Russian Vocabulary: Lingerie and nightwear' %>
<% @page_meta = {'description' => "Russian online vocabulary for learning words and phrases related to the topic Lingerie and nightwear"} %>
<% @with_rec = true %>
<% @has_audio = true %>
<% content_for :special_js_css do %>
<style type="text/css">
h2.page {margin-bottom: 0px;}
</style>
<% end %>
<div class="hint_wrap">
<div class="hint_button">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <li><a href="lingerie-flashcards.html"> Flashcards: Lingerie </a></li>
            <li><a href="lingerie-test.html"> Tests: Lingerie </a></li>
        </ul>
        <%= render :partial => 'colorder_accent' %> 
  </div>
</div>
</div>



<h2 class="page">Lingerie and nightwear</h2>
<h3 class="page-path"> 
<span class="int-links"><a href="/vocabulary.html">Vocabulary</a> <span class="int-arrow">--></span> Lingerie and nightwear</span>
</h3>

<div id="pagecontent"><div id="content">

<div class="dict_wrapper">

<div class="voc-wordlist">
<table class="voc_bord" align="center" cellspacing="0">
<tr>
<td>

<table class="diction" cellpadding="0" cellspacing="0" align="center">
<thead>
<tr>
	<td></td>
	<td></td>
	<td></td>
</tr>
</thead>
<tbody>
	<tr class="trow">
		<td class="original" valign="top">Н<span class="acco">и</span>жнее бельё
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09201.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[n<span class="acct">i</span>jniye bi<span class="sftv">l</span><span class="sfty">y</span><span class="acct">o</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Underwear
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Од<span class="accto">е</span>жда для сна
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09202.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[a<span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span>jda d<span class="sftv">l</span><span class="sfty">y</span>a sn<span class="acct">a</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Nightwear
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Бюстг<span class="acco">а</span>льтер
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09203.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[<span class="sftv">b</span><span class="sfty">y</span>oostg<span class="acct">a</span>l<span class="sftv">t</span><span class="sfty">y</span>er]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Bra
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Корс<span class="acco">е</span>т
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09204.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[kar<span class="sftv">s</span><span class="sfty">y</span><span class="acct">e</span>t]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Corset
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">М<span class="acco">а</span>йка
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09205.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[m<span class="acct">a</span>yka]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Tank top, sleeveless T-shirt
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Трус<span class="acco">ы</span>
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09206.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[troos<span class="acct"><span class="ry">i</span></span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Pants, panties
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Стр<span class="acco">и</span>нги
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09207.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[str<span class="acct">i</span>ngi]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Thongs
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Б<span class="acco">о</span>ксеры
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09208.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[b<span class="acct">o</span>ksiri]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Boxer briefs
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Чулк<span class="acco">и</span>
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09209.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[choolk<span class="acct">i</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Stockings
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Колг<span class="acco">о</span>тки
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09210.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[kalg<span class="acct">o</span>tki]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Tights
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Носк<span class="acco">и</span>
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09211.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[nask<span class="acct">i</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Socks
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Ночн<span class="acco">а</span><i></i>я руб<span class="acco">а</span>шка
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09212.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[nachn<span class="acct">a</span>ya roob<span class="acct">a</span>shka]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Nightie
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Пиж<span class="acco">а</span>ма
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09213.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[pij<span class="acct">a</span>ma]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Pijamas
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Хал<span class="acco">а</span>т
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09214.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[hal<span class="acct">a</span>t]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Dressing gown
		</td>
	</tr>
</tbody>
<tfoot>
<tr>
	<td></td>
	<td></td>
	<td></td>
</tr>
</tfoot>  
</table>

</td>
</tr>
</table>
</div><!-- end of voc-wordlist-->

</div>

<table class="voc-links voc-link-first " align="center" cellspacing="0"><tr>
	<td class="voc-space">Learn these words and expressions with our &nbsp;<a href="lingerie-flashcards.html">Flashcards >></a></td>
</tr></table>
<table class="voc-links voc-link-last" align="center" cellspacing="0"><tr>
	<td class="voc-space">Check how you know this topic with our &nbsp;<a href="lingerie-test.html">Lexical tests >></a></td>
</tr></table>

</div>
</div>

<script type="text/javascript">
currentSection="words";
</script>
