<% @page_title = 'Online Russian Vocabulary: Meals' %>
<% @page_meta = {'description' => "Russian online vocabulary:  list of available topics on the site related to Meals"} %>

<h2 class="page">Meals</h2>
<p>There are the following topics related to meals:</p>
<h3>Content:</h3>
<div  class="secondary-list">
<p><a href="bread.html" title="Bread and confectionery">1. Bread and confectionery</a></p>
<p><a href="gruel.html" title="Gruels and porridges">2. Gruels and porridges</a></p>
<p><a href="meat.html" title="Meat dishes">3. Meat dishes</a></p>
<p><a href="fish.html" title="Fish, fish dishes">4. Fish, fish dishes</a></p>
<p><a href="dairy.html" title="Dairy produce">5. Dairy produce</a></p>
<p><a href="vegetables.html" title="Vegetables">6. Vegetables</a></p>
<p><a href="fruit.html" title="Fruit, berries">7. Fruit, berries</a></p>
<p><a href="confectionery.html" title="Confectionery">8. Confectionery</a></p>
<p><a href="drinks.html" title="Beverages, soft and strong drinks">9. Beverages, soft and strong drinks</a></p>
</div>





<script type="text/javascript">
currentSection="words";
</script>
