<% @page_title = 'Online Russian Flashcards: Meat dishes' %>
<% @page_meta = {'description' => "Learn Russian vocabulary topic Meat dishes with online flashcards: words with audio samples, quizzes and spell practice"} %>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_js_css do %>
<style type="text/css">
h2.page {
margin-bottom: 0px;
font-size: 19pt;
}
</style>

<%end%>
<div class="hint_wrap">
<div class="hint_button" style="float: right;">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <li><a href="/meat.html">Meat dishes</a></li>
			<li><a href="/meat-test.html">Tests: Meat dishes</a></li>
        </ul>
        <%= render :partial => 'down_accent' %>
  </div>
</div>
</div>

<h2 class="page">Flashcards: Meat dishes</h2>
<h3 class="page-path">
	<span class="int-links">
	<a href="/vocabulary.html">Vocabulary</a>
	<span class="int-arrow">--&gt;</span> 
	<a href="/meat.html">Meat dishes</a>
	<span class="int-arrow">--&gt;</span> Flashcards
	</span>
</h3>

<div  id="fl1" style="min-height: 600px; text-align: center;">
<%= render :partial => 'flashcard' %>
</div><!-- end of fl1 -->

<script type="text/javascript"> 
	var fl1 = new flashcard( {
		id: "fl1", 
		random_order: false,
		basic_array: [
['М<span class="acco">я</span>со ','Meat ','/sounds/sound08301.mp3','<span class="sftv">m</span><span class="sfty">y</span><span class="acct">a</span>sa '],
['Бар<span class="acco">а</span>нина ','Lamb ','/sounds/sound08302.mp3','bar<span class="acct">a</span>nina '],
['Гов<span class="acco">я</span>дина ','Beef ','/sounds/sound08303.mp3','ga<span class="sftv">v</span><span class="sfty">y</span><span class="acct">a</span>dina '],
['Тел<span class="acco">я</span>тина ','Veal ','/sounds/sound08304.mp3','ti<span class="sftv">l</span><span class="sfty">y</span><span class="acct">a</span>tina '],
['Свин<span class="acco">и</span>на ','Pork ','/sounds/sound08305.mp3','svin<span class="acct">i</span>na '],
['Кр<span class="acco">о</span>лик ','Rabbit ','/sounds/sound08306.mp3','kr<span class="acct">o</span>lik '],
['Инд<span class="acco">е</span>йка ','Turkey ','/sounds/sound08307.mp3','in<span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span>yka '],
['К<span class="acco">у</span>рица ','Chicken ','/sounds/sound08308.mp3','k<span class="acct">oo</span>ritsa '],
['<span class="acco">У</span>тка ','Duck ','/sounds/sound08309.mp3','<span class="acct">oo</span>tka '],
['Кор<span class="acco">е</span>йка ','Loin ','/sounds/sound08310.mp3','ka<span class="sftv">r</span><span class="sfty">y</span><span class="acct">e</span>yka '],
['Бек<span class="acco">о</span>н ','Bacon ','/sounds/sound08311.mp3','bik<span class="acct">o</span>n '],
['Я<span class="acco">и</span>чница с бек<span class="acco">о</span>ном ','Bacon and eggs ','/sounds/sound08312.mp3','yi<span class="acct">i</span>shnitsa z bik<span class="acct">o</span>nam '],
['Отбивн<span class="acco">а</span>я ','Chop ','/sounds/sound08313.mp3','atbivn<span class="acco">a</span>ya '],
['Отбивн<span class="acco">а</span>я котл<span class="acco">е</span>та ','Cutlet ','/sounds/sound08314.mp3','atbivn<span class="acct">a</span>ya kat<span class="sftv">l</span><span class="sfty">y</span><span class="acct">e</span>ta '],
['Отварн<span class="acco">о</span>е м<span class="acco">я</span>со ','Boiled meat ','/sounds/sound08315.mp3','atvarn<span class="acct">o</span>ye <span class="sftv">m</span><span class="sfty">y</span><span class="acct">a</span>sa '],
['Буль<span class="acco">о</span>н ','Clear soup ','/sounds/sound08316.mp3','boo<span class="sftc">l</span>y<span class="acct">o</span>n '],
['Мясн<span class="acco">о</span>й с<span class="acco">у</span>п ','Meat soup ','/sounds/sound08317.mp3','misn<span class="acct">o</span>y s<span class="acct">oo</span>p '],
['Ветчин<span class="acco">а</span> ','Ham ','/sounds/sound08318.mp3','vitchin<span class="acct">a</span> '],
['Бужен<span class="acco">и</span>на ','Baked ham ','/sounds/sound08319.mp3','booj<span class="ry">i</span>n<span class="acct">i</span>na '],
['Свин<span class="acco">а</span>я отбивн<span class="acco">а</span>я ','Pork chop ','/sounds/sound08320.mp3','svin<span class="acct">a</span>ya atbivnn<span class="acct">a</span>ya '],
['Р<span class="acco">о</span>стбиф ','Roast beef ','/sounds/sound08321.mp3','r<span class="acct">o</span>stbif '],
['Колбас<span class="acco">а</span> ','Sausage ','/sounds/sound08322.mp3','kalbas<span class="acct">a</span> '],
['Сос<span class="acco">и</span>ска ','Sausage, frankfurter ','/sounds/sound08323.mp3','sas<span class="acct">i</span>ska '],
['Хот дог ','Hot dog ','/sounds/sound08324.mp3','h<span class="acct">o</span>t d<span class="acct">o</span>k '],
['Варёная колбас<span class="acco">а</span> ','Cooked sausage ','/sounds/sound08325.mp3','va<span class="sftv">r</span><span class="sfty">y</span><span class="acct">o</span>naya kalbas<span class="acct">a</span> '],
['Капчёная колбас<span class="acco">а</span> ','Smoked sausage ','/sounds/sound08326.mp3','kapch<span class="acct">o</span>naya kalbas<span class="acct">a</span> '],
['Кур<span class="acco">и</span>ный буль<span class="acco">о</span>н ','Chicken broth ','/sounds/sound08327.mp3','koor<span class="acct">i</span>n<span class="ry">i</span>y boo<span class="sftc">l</span>y<span class="acct">o</span>n '],
['Ж<span class="acco">а</span>реный цыплёнок ','Roast chicken ','/sounds/sound08328.mp3','j<span class="acct">a</span>rin<span class="ry">i</span>y ts<span class="ry">i</span>p<span class="sftv">l</span><span class="sfty">y</span><span class="acct">o</span>nak '],
['Яйц<span class="acco">о</span> ','Egg ','/sounds/sound08329.mp3','yiyts<span class="acct">o</span> '],
['Я<span class="acco">и</span>чница ','Fried eggs ','/sounds/sound08330.mp3','yi<span class="acct">i</span>shnitsa '],
['Я<span class="acco">и</span>чница-глаз<span class="acco">у</span>нья ','Fried eggs ','/sounds/sound08331.mp3','yi<span class="acct">i</span>shnitsa glaz<span class="acct">oo</span><span class="sftc">n</span>ya '],
['Я<span class="acco">и</span>чница-болт<span class="acco">у</span>нья ','Scrambled eggs ','/sounds/sound08332.mp3','yi<span class="acct">i</span>shnitsa balt<span class="acct">oo</span><span class="sftc">n</span>ya '],
['Омл<span class="acco">е</span>т ','Omelet ','/sounds/sound08333.mp3','am<span class="sftv">l</span><span class="sfty">y</span><span class="acct">e</span>t ']
		]
		} )
</script>


<table class="voc-links voc-link-first voc-link-last" align="center" cellspacing="0"><tr>
	<td class="voc-space">Check how you know this topic with our &nbsp;<a href="/meat-test.html">Lexical tests >></a></td>
</tr></table>


<script type="text/javascript">
preloadFiles=new Array(
'/sounds/sound08301.mp3', '/sounds/sound08302.mp3', '/sounds/sound08303.mp3', '/sounds/sound08304.mp3', 
'/sounds/sound08305.mp3', '/sounds/sound08306.mp3', '/sounds/sound08307.mp3', '/sounds/sound08308.mp3', 
'/sounds/sound08309.mp3', '/sounds/sound08310.mp3', '/sounds/sound08311.mp3', '/sounds/sound08312.mp3', 
'/sounds/sound08313.mp3', '/sounds/sound08314.mp3', '/sounds/sound08315.mp3', '/sounds/sound08316.mp3', 
'/sounds/sound08317.mp3', '/sounds/sound08318.mp3', '/sounds/sound08319.mp3', '/sounds/sound08320.mp3', 
'/sounds/sound08321.mp3', '/sounds/sound08322.mp3', '/sounds/sound08323.mp3', '/sounds/sound08324.mp3', 
'/sounds/sound08325.mp3', '/sounds/sound08326.mp3', '/sounds/sound08327.mp3', '/sounds/sound08328.mp3', 
'/sounds/sound08329.mp3', '/sounds/sound08330.mp3', '/sounds/sound08331.mp3', '/sounds/sound08332.mp3', 
'/sounds/sound08333.mp3'
)
</script>
