<% @page_title = 'Meat dishes :: Online Russian lexical tests' %>
<% @page_meta = {'description' => "Learn Russian vocabulary topic Meat dishes with online lexical tests"} %>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_js_css do %>
<style type="text/css">
h2.page {margin-bottom: 0px;font-size: 19pt;}
</style>
<% end %>

<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Links and Settings</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
     				<li><a href="/meat.html">Meat dishes</a></li>
					<li><a href="/meat-flashcards.html"> Flashcards: Meat dishes</a></li>
    		</ul>
			<%= render :partial => 'preload_option' %>
	</div>
</div>
</div>

<h2 class="page">Tests:  Meat dishes</h2>

<h3 class="page-path">
	<span class="int-links">
	<a href="/vocabulary.html">Vocabulary</a>
	<span class="int-arrow">--&gt;</span> 
	<a href="/meat.html">Meat dishes</a>
	<span class="int-arrow">--&gt;</span> Tests
	</span>
</h3>

<div class="l-test-container">

<h3 class="test-task">Test 1. Listen to the Russian phrase and find it in the list.
<a href="javascript:;" class="lt-test-closer"><span class="lt-h">Hide test</span><span class="lt-sh">Show test</span></a>
</h3>

<div id="ch1" class="lt-holder">
<div class="lt-spacer">	
<%= render :partial => 'lexical_test' %>
</div>
</div><!-- end of lt-holder -->

<script type="text/javascript"> 
	var ch1 = new ch_exercise( {
		id: "ch1", 
		test_id: "v0213010.1",
		quest_num: 10,
		variants_num: 5,
		quest_type: 'audio',
		basic_array: [
['sounds/sound08301.mp3','мясо '],['sounds/sound08302.mp3','баранина'],['sounds/sound08303.mp3','говядина'],['sounds/sound08304.mp3','телятина'],
['sounds/sound08305.mp3','свинина '],['sounds/sound08306.mp3','кролик'],['sounds/sound08307.mp3','индейка'],['sounds/sound08308.mp3','курица '],
['sounds/sound08309.mp3','утка'],['sounds/sound08310.mp3','корейка'],['sounds/sound08311.mp3','бекон'],['sounds/sound08312.mp3','яичница с беконом '],
//['sounds/sound08313.mp3','бифштекс'],
['sounds/sound08313.mp3','отбивная'],['sounds/sound08314.mp3','oтбивная котлета'],['sounds/sound08315.mp3','отварное мясо'],
['sounds/sound08316.mp3','бульон'],['sounds/sound08317.mp3','мясной суп'],['sounds/sound08318.mp3','ветчина'],['sounds/sound08319.mp3','буженина '],
['sounds/sound08320.mp3','свиная отбивная'],['sounds/sound08321.mp3','ростбиф'],['sounds/sound08322.mp3','колбаса'],['sounds/sound08323.mp3','сосиска'],
['sounds/sound08324.mp3','хот дог'],['sounds/sound08325.mp3','варёная колбаса'],['sounds/sound08326.mp3','копченая колбаса'],['sounds/sound08327.mp3','куриный бульон '],
['sounds/sound08328.mp3','жареный цыплёнок'],['sounds/sound08329.mp3','яйцо'],['sounds/sound08330.mp3','яичница'],['sounds/sound08333.mp3','омлет']

		]
		} )
</script>

<h3 class="test-task">Test 2. Read the Russian phrase and find its English equivalent.
<a href="javascript:;" class="lt-test-closer"><span class="lt-h">Hide test</span><span class="lt-sh">Show test</span></a>
</h3>

<div id="ch2" class="lt-holder">
<div class="lt-spacer">
<%= render :partial => 'lexical_test' %>
</div>
</div><!-- end of lt-holder -->
<script type="text/javascript"> 
	var ch2 = new ch_exercise( {
		id: "ch2", 
		test_id: "v0213020.2",
		quest_num: 10,
		variants_num: 5,
		basic_array: [
['мясо','meat'],['баранина','lamb'],['говядина','beef '],['телятина','veal'],
['свинина ','pork'],['кролик','rabbit'],['индейка','turkey'],['курица ','chicken'],
['утка','duck'],['корейка','loin'],['бекон','bacon'],['яичница с беконом ','bacon and eggs'],
//['бифштекс','beefsteak'],
['отбивная','chop'],['отбивная котлета','cutlet'],['отварное мясо','boiled meat'],
['бульон','clear soup'],['мясной суп','meat soup'],['ветчина ','ham'],['буженина','baked ham'],
['свиная отбивная','pork chop'],['ростбиф','roast beef'],['колбаса','sausage'],['сосиска','sausage, frankfurter'],
['хот дог','hot dog'],['варёная колбаса','cooked sausage'],['копченая колбаса ','smoked sausage'],['куриный бульон','chicken broth'],
['жареный цыплёнок','roast chicken'],['яйцо','egg'],['яичница','fried eggs'],['омлет','omelet']
		]
		} )
</script>

<h3 class="test-task">Test 3. 
Listen to the phrase and find its translation into English.
<a href="javascript:;" class="lt-test-closer"><span class="lt-h">Hide test</span><span class="lt-sh">Show test</span></a>
</h3>

<div id="ch3" class="lt-holder">
<div class="lt-spacer">	
<%= render :partial => 'lexical_test' %>
</div>
</div><!-- end of lt-holder -->

<script type="text/javascript"> 
	var ch3 = new ch_exercise( {
		id: "ch3", 
		test_id: "v0213030.3",
		quest_num: 10,
		variants_num: 5,
		quest_type: 'audio',
		basic_array: [
		
['sounds/sound08301.mp3','meat'],['sounds/sound08302.mp3','lamb'],['sounds/sound08303.mp3','beef '],['sounds/sound08304.mp3','veal'],
['sounds/sound08305.mp3','pork'],['sounds/sound08306.mp3','rabbit'],['sounds/sound08307.mp3','turkey'],['sounds/sound08308.mp3','chicken'],
['sounds/sound08309.mp3','duck'],['sounds/sound08310.mp3','loin'],['sounds/sound08311.mp3','bacon'],['sounds/sound08312.mp3','bacon and eggs'],
//['sounds/sound08313.mp3','beefsteak'],
['sounds/sound08313.mp3','chop'],['sounds/sound08314.mp3','cutlet'],['sounds/sound08315.mp3','boiled meat'],
['sounds/sound08316.mp3','clear soup'],['sounds/sound08317.mp3','meat soup'],['sounds/sound08318.mp3','ham'],['sounds/sound08319.mp3','baked ham'],
['sounds/sound08320.mp3','pork chop'],['sounds/sound08321.mp3','roast beef'],['sounds/sound08322.mp3','sausage'],['sounds/sound08323.mp3','sausage, frankfurter'],
['sounds/sound08324.mp3','hot dog'],['sounds/sound08325.mp3','cooked sausage'],['sounds/sound08326.mp3','smoked sausage'],['sounds/sound08327.mp3','chicken broth'],
['sounds/sound08328.mp3','roast chicken'],['sounds/sound08329.mp3','egg'],['sounds/sound08330.mp3','fried eggs'],['sounds/sound08333.mp3','omelet']


		]
		} )
</script>

<h3 class="test-task test-task-final" style="text-align: center">Review the topic &nbsp;&nbsp;&nbsp;&nbsp;<a href="/meat.html">Meat dishes >></a></h3>

<script type="text/javascript">
preloadFiles=new Array(

)
</script>

</div><!-- end of lt-container -->

<script type="text/javascript">
currentSection="words";
</script>