<% @page_title = 'Online Russian Grammar:  Nouns Cases exercises' %>
<% @page_meta = {'description' => "Russian online grammar exercises on nouns cases"} %>
<% @with_rec = true %>
<% @has_audio = true %>


<% content_for :special_js_css do %>
 <%= stylesheet_link_tag 'grammar-exercises' %>
 <%= javascript_include_tag 'grammar-exercises' %>
 
<style type="text/css">
.required-case {
padding-left: 65px;
padding-bottom: 8px;
font-weight: bold;
font-style: italic;
font-size: 12px;
}
</style>
 
<% end %> 
 




<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Links and Settings</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
    				<li><a href="russian-cases.html">Russian Cases </a></li>
					<li><a href="/russian-grammar.html">Russian grammar</a></li>
    		</ul>
	</div>
</div>
</div>



<h2 class="page">Nouns Cases</h2>

<div id="pagecontent"><div id="content">

<p>
<span title="Open popup with an overview of grammar rules" onclick="open_comment('grammar_comments/grex-nouns-cases_theory_grc.html')" class="open_popup_link">View grammar comments</span><br>
</p>



<h3>Exercise I</h3>


<div class="block" >
	<div class="block-clt">
		 <div class="block-crt">
			  <div class="block-top"></div>
		 </div>
	</div>
	<div class="block-center">
	
<div class="task">Determine which case should be used in Russian for the underlined words:</div>

<div  class="gr_ex_variants">
<div class="gr-ex-testid">g0103010.I</div>

<table class="gr_ex_vars_tab gexv_options" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td>
			<div class="gexv_task gexv_sign">
				1. I'll give <u>this book</u> to my syster.
			</div>
			
			<div class="gexv_variant"><input type="checkbox">  Genitive   </div>
			<div class="gexv_variant"><input type="checkbox">  Dative   </div>
			<div class="gexv_variant"><input type="checkbox" class="ok">  Accusative   </div>
		
		</td>
	</tr>
	<tr>
		<td>
			<div class="gexv_task gexv_sign">
				 2. <u>John</u> is writing with a pen. 
			</div>
			
			<div class="gexv_variant"><input type="checkbox" class="ok">  Nominative   </div>
			<div class="gexv_variant"><input type="checkbox">  Instrumental  </div>
			<div class="gexv_variant"><input type="checkbox">  Prepositional  </div>
		
		</td>
	</tr>
	<tr>
		<td>
			<div class="gexv_task gexv_sign">
				  3. She knows <u>the Russian language</u>. 
			</div>
			
			<div class="gexv_variant"><input type="checkbox">  Genitive   </div>
			<div class="gexv_variant"><input type="checkbox" class="ok">  Accusative   </div>
			<div class="gexv_variant"><input type="checkbox">  Prepositional  </div>
		
		</td>
	</tr>
	<tr>
		<td>
			<div class="gexv_task gexv_sign">
				  4. The theater is situated in the center of <u>the town</u>. 
			</div>
			
			<div class="gexv_variant"><input type="checkbox" class="ok">  Genitive   </div>
			<div class="gexv_variant"><input type="checkbox">  Accusative   </div>
			<div class="gexv_variant"><input type="checkbox">  Prepositional  </div>
		
		</td>
	</tr>
	<tr>
		<td>
			<div class="gexv_task gexv_sign">
				  5. This is my sister's <u>book</u>. 
			</div>
			
			<div class="gexv_variant"><input type="checkbox"  class="ok">  Nominative   </div>
			<div class="gexv_variant"><input type="checkbox">  Genitive   </div>
			<div class="gexv_variant"><input type="checkbox">  Accusative   </div>
		
		</td>
	</tr>
	<tr>
		<td>
			<div class="gexv_task gexv_sign">
				 6. The text of <u>this dialogue</u> is not difficult to understand.  
			</div>
			
			<div class="gexv_variant"><input type="checkbox">  Nominative   </div>
			<div class="gexv_variant"><input type="checkbox" class="ok">  Genitive   </div>
			<div class="gexv_variant"><input type="checkbox">  Prepositional  </div>
		
		</td>
	</tr>
	<tr>
		<td>
			<div class="gexv_task gexv_sign">
				  7. He is in <u>Moscow</u>. 
			</div>
			
			<div class="gexv_variant"><input type="checkbox">  Nominative   </div>
			<div class="gexv_variant"><input type="checkbox">  Accusative   </div>
			<div class="gexv_variant"><input type="checkbox" class="ok">  Prepositional  </div>
		
		</td>
	</tr>
	<tr>
		<td>
			<div class="gexv_task gexv_sign">
				  8. <u>The student</u> understands this text.
			</div>
			
			<div class="gexv_variant"><input type="checkbox" class="ok">  Nominative   </div>
			<div class="gexv_variant"><input type="checkbox">  Dative   </div>
			<div class="gexv_variant"><input type="checkbox">  Accusative   </div>

		
		</td>
	</tr>
	<tr>
		<td>
			<div class="gexv_task gexv_sign">
				 9. The book is on <u>the table</u>. 
			</div>
			
			<div class="gexv_variant"><input type="checkbox">  Accusative   </div>
			<div class="gexv_variant"><input type="checkbox">  Instrumental  </div>
			<div class="gexv_variant"><input type="checkbox" class="ok">  Prepositional  </div>
			
			
		
		</td>
	</tr>
	<tr>
		<td>
			<div class="gexv_task gexv_sign">
				  10. <u>Maria</u> lives in Russia. 
			</div>
			
			<div class="gexv_variant"><input type="checkbox" class="ok">  Nominative   </div>
			<div class="gexv_variant"><input type="checkbox">  Instrumental  </div>
			<div class="gexv_variant"><input type="checkbox">  Prepositional  </div>
		
		</td>
	</tr>
	<tr>
		<td>
			<div class="gexv_task gexv_sign">
				 11. She pays <u>with a credit card</u>. 
			</div>

			<div class="gexv_variant"><input type="checkbox">  Accusative   </div>
			<div class="gexv_variant"><input type="checkbox" class="ok">  Instrumental  </div>
			<div class="gexv_variant"><input type="checkbox">  Prepositional  </div>
		
		</td>
	</tr>
	<tr>
		<td>
			<div class="gexv_task gexv_sign">
				 12. My brothers are watching <u>TV</u>. 
			</div>
			
			<div class="gexv_variant"><input type="checkbox">  Dative   </div>
			<div class="gexv_variant"><input type="checkbox" class="ok">  Accusative   </div>
			<div class="gexv_variant"><input type="checkbox">  Prepositional  </div>
		
		</td>
	</tr>
	<tr>
		<td>
			<div class="gexv_task gexv_sign">
				 13. This girl is writing a letter <u>to her mother</u>. 
			</div>
			

			<div class="gexv_variant"><input type="checkbox" class="ok">  Dative   </div>
			<div class="gexv_variant"><input type="checkbox">  Accusative   </div>
			<div class="gexv_variant"><input type="checkbox">  Prepositional  </div>
		
		</td>
	</tr>
	<tr>
		<td>
			<div class="gexv_task gexv_sign">
				 14. The boy told <u>an interesting story</u> to his friend.
			</div>
			

			<div class="gexv_variant"><input type="checkbox">  Genitive   </div>
			<div class="gexv_variant"><input type="checkbox">  Dative   </div>
			<div class="gexv_variant"><input type="checkbox" class="ok">  Accusative   </div>

		
		</td>
	</tr>
	<tr>
		<td>
			<div class="gexv_task gexv_sign">
				 15. The student is reading <u>a book</u> about history.  
			</div>
			
			<div class="gexv_variant"><input type="checkbox" class="ok">  Accusative   </div>
			<div class="gexv_variant"><input type="checkbox">  Instrumental  </div>
			<div class="gexv_variant"><input type="checkbox">  Prepositional  </div>
		
		</td>
	</tr>
</table>



<p class="gexv_check"><input type="button" value="Check answers"></p>

</div>


</div>
<div class="block-clb">
     <div class="block-crb">
    	  <div class="block-btm">
    		   </div>
    	  </div>
     </div>		
</div>


<br/><br/><br/>


<h3>Exercise II </h3>



<div class="block" >
	<div class="block-clt">
		 <div class="block-crt">
			  <div class="block-top"></div>
		 </div>
	</div>
	<div class="block-center">
	
<div class="task">Choose the words for which the required case would be used in Russian:</div>

<div  class="gr_ex_variants">
<div class="gr-ex-testid">g0103020.II</div>

<table class="gr_ex_vars_tab gexv_options" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td>
			<div class="gexv_task gexv_sign">
				1. The tourist bought a souvenir in Moscow. 
			</div>
			<div class="required-case">Accusative:</div>
			<div class="gexv_variant"><input type="checkbox">  tourist  </div>
			<div class="gexv_variant"><input type="checkbox"  class="ok">  souvenir   </div>
			<div class="gexv_variant"><input type="checkbox">  Moscow   </div>
		
		</td>
	</tr>
	<tr>
		<td>
			<div class="gexv_task gexv_sign">
				 2. The boy is writing a letter to his father.
			</div>
			<div class="required-case">Dative:</div>
			<div class="gexv_variant"><input type="checkbox">  boy   </div>
			<div class="gexv_variant"><input type="checkbox">  letter   </div>
			<div class="gexv_variant"><input type="checkbox" class="ok">  father  </div>
		
		</td>
	</tr>
	<tr>
		<td>
			<div class="gexv_task gexv_sign">
				  3. My brother's phone is on the table.  
			</div>
			<div class="required-case">Prepositional:</div>
			<div class="gexv_variant"><input type="checkbox">  brother   </div>
			<div class="gexv_variant"><input type="checkbox">  phone    </div>
			<div class="gexv_variant"><input type="checkbox"  class="ok">  table  </div>
		
		</td>
	</tr>
	<tr>
		<td>
			<div class="gexv_task gexv_sign">
				  4. The traveler told a story to the children. . 
			</div>
			<div class="required-case">Dative:</div>
			<div class="gexv_variant"><input type="checkbox">  traveler    </div>
			<div class="gexv_variant"><input type="checkbox">  story    </div>
			<div class="gexv_variant"><input type="checkbox"  class="ok">  children   </div>
		
		</td>
	</tr>
	<tr>
		<td>
			<div class="gexv_task gexv_sign">
				 5. My mother is chopping the cabbage with a knife
			</div>
			<div class="required-case">Instrumenal:</div>
			<div class="gexv_variant"><input type="checkbox">  mother    </div>
			<div class="gexv_variant"><input type="checkbox">  cabbage  </div>
			<div class="gexv_variant"><input type="checkbox" class="ok">  knife </div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="gexv_task gexv_sign">
				  6. The hotel is situated in the center of the town. 
			</div>
			<div class="required-case">Preposional:</div>
			<div class="gexv_variant"><input type="checkbox" > hotel   </div>
			<div class="gexv_variant"><input type="checkbox"  class="ok">  center    </div>
			<div class="gexv_variant"><input type="checkbox">  town   </div>
		
		</td>
	</tr>
	<tr>
		<td>
			<div class="gexv_task gexv_sign">
				 7. Mark sent invitations to all his friends.   
			</div>
			<div class="required-case">Accusative:</div>
			<div class="gexv_variant"><input type="checkbox">  Mark   </div>
			<div class="gexv_variant"><input type="checkbox" class="ok">  invitations  </div>
			<div class="gexv_variant"><input type="checkbox">  friends  </div>
		
		</td>
	</tr>
	<tr>
		<td>
			<div class="gexv_task gexv_sign">
				  8. Tom bought flowers for his girlfriend. 
			</div>
			<div class="required-case">Dative:</div>
			<div class="gexv_variant"><input type="checkbox"> Tom   </div>
			<div class="gexv_variant"><input type="checkbox">  flowers   </div>
			<div class="gexv_variant"><input type="checkbox" class="ok"> girlfriend  </div>
		
		</td>
	</tr>
	<tr>
		<td>
			<div class="gexv_task gexv_sign">
				  9. The boy is eating pizza with his hands. 
			</div>
			<div class="required-case">Instrumental:</div>
			<div class="gexv_variant"><input type="checkbox" >  boy    </div>
			<div class="gexv_variant"><input type="checkbox">  pizza   </div>
			<div class="gexv_variant"><input type="checkbox" class="ok">  hands   </div>

		
		</td>
	</tr>
	<tr>
		<td>
			<div class="gexv_task gexv_sign">
				  10. This man's wife likes ice-cream. 
			</div>
			<div class="required-case">Genitive:</div>
			<div class="gexv_variant"><input type="checkbox" class="ok">  man   </div>
			<div class="gexv_variant"><input type="checkbox">   wife   </div>
			<div class="gexv_variant"><input type="checkbox">  ice-cream    </div>
		
		</td>
	</tr>

</table>



<p class="gexv_check"><input type="button" value="Check answers"></p>

</div>


</div>
<div class="block-clb">
     <div class="block-crb">
    	  <div class="block-btm">
    		   </div>
    	  </div>
     </div>		
</div>


<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>









</div>
</div>

<script type="text/javascript">
currentSection="grammar";
</script>
