<% @page_title = 'Online Russian Grammar:  Nouns number exercises' %>
<% @page_meta = {'description' => "Russian online grammar exercises on nouns number"} %>
<% @with_rec = true %>
<% @has_audio = true %>


<% content_for :special_js_css do %>
 <%= stylesheet_link_tag 'grammar-exercises' %>
 <%= javascript_include_tag 'grammar-exercises' %>
<% end %> 
 




<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Links and Settings</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
    				<li><a href="russian-nouns-nominative-plural.html"> Nominative plural </a></li>
					<li><a href="additional.html"> Additional Information</a></li>
    		</ul>
	</div>
</div>
</div>



<h2 class="page">Nouns Number</h2>

<div id="pagecontent"><div id="content">


<h3>Exercise I</h3>


<div class="block" >
	<div class="block-clt">
		 <div class="block-crt">
			  <div class="block-top"></div>
		 </div>
	</div>
	<div class="block-center">
	
<div class="task">Determine the number of the nouns:</div>

<div  class="gr_ex_variants">

<table class="gr_ex_vars_tab" cellpadding="0" cellspacing="0" border="0">
	<tr class="gex_headers">
		<td width="230" >&nbsp;
		</td>
		<td class="gex_side" style="border-width: 0px">
			Singular
		</td>
		<td class="gex_devider" style="border-width: 0px">
			Plural
		</td>
	</tr>
	<tr>
		<td >
			<div class="gexv_task gexv_sign">
				 1. Это диалог. 
			</div>
		</td>
		<td class="gex_side">
			<input type="checkbox" class="ok"> 
		</td>
		<td class="gex_devider">
			<input type="checkbox"> 
		</td>
	</tr>
	<tr>
		<td >
			<div class="gexv_task gexv_sign">
				 2. Это машины.
			</div>
		</td>
		<td class="gex_side">
			<input type="checkbox"> 
		</td>
		<td class="gex_devider">
			<input type="checkbox"  class="ok"> 
		</td>
	</tr>
	<tr>
		<td >
			<div class="gexv_task gexv_sign">
				  3. Это паспорт. 
			</div>
		</td>
		<td class="gex_side">
			<input type="checkbox" class="ok"> 
		</td>
		<td class="gex_devider">
			<input type="checkbox"> 
		</td>
	</tr>
	<tr>
		<td >
			<div class="gexv_task gexv_sign">
				 4. Это фотографии.
			</div>
		</td>
		<td class="gex_side">
			<input type="checkbox"> 
		</td>
		<td class="gex_devider">
			<input type="checkbox" class="ok"> 
		</td>
	</tr>
	<tr>
		<td >
			<div class="gexv_task gexv_sign">
				 5. Это бананы.
			</div>
		</td>
		<td class="gex_side">
			<input type="checkbox"> 
		</td>
		<td class="gex_devider">
			<input type="checkbox" class="ok"> 
		</td>
	</tr>
	<tr>
		<td >
			<div class="gexv_task gexv_sign">
				  6. Это магазин. 
			</div>
		</td>
		<td class="gex_side">
			<input type="checkbox" class="ok"> 
		</td>
		<td class="gex_devider">
			<input type="checkbox"> 
		</td>
	</tr>
	<tr>
		<td >
			<div class="gexv_task gexv_sign">
				 7. Это билеты. 
			</div>
		</td>
		<td class="gex_side">
			<input type="checkbox"> 
		</td>
		<td class="gex_devider">
			<input type="checkbox" class="ok"> 
		</td>
	</tr>
	<tr>
		<td >
			<div class="gexv_task gexv_sign">
				 8. Это виза. 
			</div>
		</td>
		<td class="gex_side">
			<input type="checkbox" class="ok"> 
		</td>
		<td class="gex_devider">
			<input type="checkbox"> 
		</td>
	</tr>
	<tr>
		<td >
			<div class="gexv_task gexv_sign">
				 9. Это лимоны. 
			</div>
		</td>
		<td class="gex_side">
			<input type="checkbox"> 
		</td>
		<td class="gex_devider">
			<input type="checkbox" class="ok"> 
		</td>
	</tr>
	<tr>
		<td >
			<div class="gexv_task gexv_sign">
				10. Это платья. 
			</div>
		</td>
		<td class="gex_side">
			<input type="checkbox"> 
		</td>
		<td class="gex_devider">
			<input type="checkbox" class="ok"> 
		</td>
	</tr>
	<tr>
		<td >
			<div class="gexv_task gexv_sign">
				11. Это проблема.
			</div>
		</td>
		<td class="gex_side">
			<input type="checkbox" class="ok"> 
		</td>
		<td class="gex_devider">
			<input type="checkbox"> 
		</td>
	</tr>
	<tr>
		<td >
			<div class="gexv_task gexv_sign">
				12. Это море.
			</div>
		</td>
		<td class="gex_side">
			<input type="checkbox" class="ok"> 
		</td>
		<td class="gex_devider">
			<input type="checkbox"> 
		</td>
	</tr>
	<tr>
		<td >
			<div class="gexv_task gexv_sign">
				13. Это сувениры. 
			</div>
		</td>
		<td class="gex_side">
			<input type="checkbox"> 
		</td>
		<td class="gex_devider">
			<input type="checkbox" class="ok"> 
		</td>
	</tr>
	<tr>
		<td >
			<div class="gexv_task gexv_sign">
				 14. Это открытка.
			</div>
		</td>
		<td class="gex_side">
			<input type="checkbox" class="ok"> 
		</td>
		<td class="gex_devider">
			<input type="checkbox"> 
		</td>
	</tr>

</table>



<p class="gexv_check"><input type="button" value="Check answers"></p>

</div>


</div>
<div class="block-clb">
     <div class="block-crb">
    	  <div class="block-btm">
    		   </div>
    	  </div>
     </div>		
</div>


<br/><br/><br/>


<h3>Exercise II </h3>



<div class="block" >
				<div class="block-clt">
						<div class="block-crt">
							<div class="block-top"></div>
						</div>
				</div>
				<div class="block-center">
				

<div class="task">Form the plural of the nouns. Determine the ending of a noun and change its form to plural</div>

<div  class="gr_ex_type">

<div class="exer_part" > a) <strong>Mаsculine</strong> (endings -и/-ы)  </div>


<div class="gext_task gext_sign"> 

1. <input type="text" size="6" value="банк"> <span class="gext_answer" style="display: none">банки</span>
 
<div class="gext_show"><span><b>банки</b></span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

2. <input type="text" size="6" value="текст"> <span class="gext_answer" style="display: none">тексты</span>
 
<div class="gext_show"><span><b>тексты</b></span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

3. <input type="text" size="6" value="журнал"> <span class="gext_answer" style="display: none">журналы</span>
 
<div class="gext_show"><span><b>журналы</b></span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

4. <input type="text" size="6" value="костюм"> <span class="gext_answer" style="display: none">костюмы</span>
 
<div class="gext_show"><span><b>костюмы</b></span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

5. <input type="text" size="6" value="музей"> <span class="gext_answer" style="display: none">музеи</span>
 
<div class="gext_show"><span><b>музеи</b></span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

6. <input type="text" size="6" value="диалог"> <span class="gext_answer" style="display: none">диалоги</span>
 
<div class="gext_show"><span><b>диалоги</b></span> &nbsp;</div>

</div>


<div class="exer_part" > b) <strong> Feminine </strong> (endings -и/-ы)  </div>


<div class="gext_task gext_sign"> 

1. <input type="text" size="6" value="картина"> <span class="gext_answer" style="display: none">картины</span>
 
<div class="gext_show"><span><b>картины</b></span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

2. <input type="text" size="6" value="книга"> <span class="gext_answer" style="display: none">книги</span>
 
<div class="gext_show"><span><b>книги</b></span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

3. <input type="text" size="6" value="улица"> <span class="gext_answer" style="display: none">улицы</span>
 
<div class="gext_show"><span><b>улицы</b></span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

4. <input type="text" size="6" value="рубашка"> <span class="gext_answer" style="display: none">рубашки</span>
 
<div class="gext_show"><span><b>рубашки</b></span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

5. <input type="text" size="6" value="газета"> <span class="gext_answer" style="display: none">газеты</span>
 
<div class="gext_show"><span><b>газеты</b></span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

6. <input type="text" size="6" value="станция"> <span class="gext_answer" style="display: none">станции</span>
 
<div class="gext_show"><span><b>станции</b></span> &nbsp;</div>

</div>

<div class="exer_part" > c) <strong> Neuter </strong> (endings -а/-я)  </div>


<div class="gext_task gext_sign"> 

1. <input type="text" size="6" value="кресло"> <span class="gext_answer" style="display: none">кресла</span>
 
<div class="gext_show"><span><b>кресла</b></span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

2. <input type="text" size="6" value="платье"> <span class="gext_answer" style="display: none">платья</span>
 
<div class="gext_show"><span><b>платья</b></span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

3. <input type="text" size="6" value="окно"> <span class="gext_answer" style="display: none">окна</span>
 
<div class="gext_show"><span><b>окна</b></span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

4. <input type="text" size="6" value="здание"> <span class="gext_answer" style="display: none">здания</span>
 
<div class="gext_show"><span><b>здания</b></span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

5. <input type="text" size="6" value="письмо"> <span class="gext_answer" style="display: none">письма</span>
 
<div class="gext_show"><span><b>письма</b></span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

6. <input type="text" size="6" value="слово"> <span class="gext_answer" style="display: none">слова</span>
 
<div class="gext_show"><span><b>слова</b></span> &nbsp;</div>

</div>


<p class="gext_check"><input type="button" class="gext_check_btn" value="Check answers" > <input type="button" value="Display answers" class="gext_answer_show"></p>


</div>








</div>
<div class="block-clb">
     <div class="block-crb">
    	  <div class="block-btm">
    		   </div>
    	  </div>
     </div>		
</div>



<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>









</div>
</div>

<script type="text/javascript">
currentSection="words";
</script>
