<% @page_title = 'Online Russian Grammar:  Exercises for genitive plural forms of nouns' %>
<% @page_meta = {'description' => "Russian online grammar exercises on the genitive  plural forms of nouns"} %>
<% @with_rec = true %>
<% @has_audio = true %>


<% content_for :special_js_css do %>
 <%= stylesheet_link_tag 'grammar-exercises' %>
 <%= javascript_include_tag 'grammar-exercises' %>
  <%= stylesheet_link_tag 'keyboard' %>
 
 <script type="text/javascript"> 
 $(document).ready(function(){
	$(".gext_task input").addClass("for_keyb")
 });
 </script>
 <%= javascript_include_tag 'virtual-keyboard' %>
<% end %> 
 




<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Links and Settings</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
					<li><a href="russian-genitive-case.html"> Genitive case of Russian nouns </a></li>
					<li><a href="/russian-grammar.html">Russian grammar</a></li>
    		</ul>
	</div>
</div>
</div>



<h2 class="page">Genitive Plural</h2>

<div id="pagecontent"><div id="content">

<p>
<span title="Open popup with word list" onclick="open_comment('grammar_comments/grex-nouns-gen-plural_grc.html')" class="open_popup_link">View word list for these exercises.</span>
</p>


<h3>Exercise I</h3>


<div class="block" >
				<div class="block-clt">
						<div class="block-crt">
							<div class="block-top"></div>
						</div>
				</div>
				<div class="block-center">
				
<div class="task">Choose the genitive plural form of nouns:</div> 				

<div  class="gr_ex_from_list">

<div class="gr_ex_unit"> 


1. Это книги 
<select>
<option>студент</option>
<option>студенте</option>
<option >студенты</option>
<option class="ok">студентов</option>
</select>. 

</div>

<div class="gr_ex_unit"> 

2. У
<select>
<option>девочка</option>
<option class="ok">девочек</option>
<option>девочкам</option>
<option>девочки</option>
</select> 

нет словаря.  

</div>

<div class="gr_ex_unit"> 


3. В этом городе много 
<select>
<option>музей</option>
<option class="ok">музеев</option>
<option>музеи</option>
<option>музея</option>
</select>. 

</div>

<div class="gr_ex_unit"> 


4. В номере есть несколько
<select>
<option>кресло</option>
<option class="ok">кресел</option>
<option>креслу</option>
<option >кресла</option>
</select>. 

</div>

<div class="gr_ex_unit"> 


5. В этом музее есть много красивых
<select>
<option>картина</option>
<option class="ok">картин</option>
<option>картины</option>
<option>картине</option>
</select>. 

</div>



<div class="gr_ex_unit"> 


6. У  
<select>
<option >программист</option>
<option>программисты</option>
<option>программистам</option>
<option  class="ok">программистов</option>
</select>
много работы.  

</div>

<div class="gr_ex_unit"> 


7. У меня есть десять 
<select>
<option>лимон</option>
<option>лимона</option>
<option  class="ok">лимонов</option>
<option>лимоном</option>
</select>.  

</div>


<div class="gr_ex_unit"> 

8. В России много 
<select>
<option>река</option>
<option  class="ok">рек</option>
<option>реки</option>
<option>реке</option>
</select>. 

</div>


<div class="gr_ex_unit"> 

9. У меня нет 
<select>
<option>проблема</option>
<option>проблему</option>
<option   class="ok">проблем</option>
<option>проблемой</option>
</select>. 

</div>

<div class="gr_ex_unit"> 


10. Это список
<select>
<option>пациент</option>
<option>пациенту</option>
<option>пациентах</option>
<option  class="ok">пациентов</option>
</select>. 

</div>

<p class="ex_from_list_check"><input type="button" value="Check answers" ></p>

</div>


</div>
<div class="block-clb">
     <div class="block-crb">
    	  <div class="block-btm">
    		   </div>
    	  </div>
     </div>		
</div>



<br/><br/><br/>




<h3>Exercise II </h3>

<div class="block" >
				<div class="block-clt">
						<div class="block-crt">
							<div class="block-top"></div>
						</div>
				</div>
				<div class="block-center">
				

<div class="task">Form the genitive plural of masculine nouns. <a class="show_keyboard" href="javascript:;">[ Use virtual keyboard ]</a></div>

<div  class="gr_ex_type">


<div class="gext_task gext_sign"> 

1.  На этой улице нет  <input type="text"  value="фонтан"  style="width: 80px;"> <span class="gext_answer" style="display: none">фонтанов</span>.
 
<div class="gext_show"><span>На этой улице нет <b>фонтанов</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

2. В этом городе нет   <input type="text" value="санаторий" style="width: 90px;"><span class="gext_answer" style="display: none">санаториев</span>.
 
<div class="gext_show"><span>В этом городе нет  <b>санаториев</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

3.У меня есть десять  <input type="text"  value="рубль"><span class="gext_answer" style="display: none">рублей</span>.
 
<div class="gext_show"><span>У меня есть десять <b>рублей</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

4. В музее много  <input type="text" style="width: 90px;" value="посетитель"><span class="gext_answer" style="display: none">посетителей</span>.
 
<div class="gext_show"><span> В музее много <b>посетителей</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

5. В этом городе много  <input type="text"  value="парк"><span class="gext_answer" style="display: none">парков</span>.
 
<div class="gext_show"><span>В этом городе много <b>парков</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

6. У меня есть пять  <input type="text"  value="словарь" style="width: 80px;"><span class="gext_answer" style="display: none">словарей</span>.
 
<div class="gext_show"> <span>У меня есть пять <b>словарей</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

7. В этом городе пять <input type="text" value="театр" ><span class="gext_answer" style="display: none">театров</span>.
 
<div class="gext_show"><span>В этом городе пять <b>театров</b></span>. &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

8. В этом городе много   <input type="text" value="музей"><span class="gext_answer" style="display: none">музеев</span>.
 
<div class="gext_show"> <span>В этом городе много <b>музеев</b>.</span> &nbsp;</div>

</div>


<p class="gext_check"><input type="button" class="gext_check_btn" value="Check answers" > <input type="button" value="Display answers" class="gext_answer_show"></p>

</div>


</div>
<div class="block-clb">
     <div class="block-crb">
    	  <div class="block-btm">
    		   </div>
    	  </div>
     </div>		
</div>


<br/><br/><br/>

<h3>Exercise III </h3>

<div class="block" >
				<div class="block-clt">
						<div class="block-crt">
							<div class="block-top"></div>
						</div>
				</div>
				<div class="block-center">
				

<div class="task">Form the genitive plural of feminine nouns. <a class="show_keyboard" href="javascript:;">[ Use virtual keyboard ]</a></div>

<div  class="gr_ex_type">


<div class="gext_task gext_sign"> 

1.  В этом городе много   <input type="text"  value="машина"><span class="gext_answer" style="display: none">машин</span>.
 
<div class="gext_show"><span> В этом городе много <b>машин</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

2. У меня нет    <input type="text" value="ручка"><span class="gext_answer" style="display: none">ручек</span>.
 
<div class="gext_show"> <span>У меня нет <b>ручек</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

3. Здесь много   <input type="text" value="студентка" style="width: 85px;"><span class="gext_answer" style="display: none">студенток</span>.
 
<div class="gext_show"> <span>Здесь много <b>студенток</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

4. Она знает много   <input type="text" value="актриса" style="width: 65px;"><span class="gext_answer" style="display: none">актрис</span>.
 
<div class="gext_show"><span>Она знает много <b>актрис</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

5. В этом городе много  <input type="text" size="6" value="гостиница" style="width: 85px;"><span class="gext_answer" style="display: none">гостиниц</span>.
 
<div class="gext_show"><span> В этом городе много <b>гостиниц</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

6. Это журнал  <input type="text" value="девочка" style="width: 65px;"><span class="gext_answer" style="display: none">девочек</span>.
 
<div class="gext_show"><span>Это журнал <b>девочек</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

7. У меня нет   <input type="text"  value="открытка" style="width: 70px;"><span class="gext_answer" style="display: none">открыток</span>.
 
<div class="gext_show"> <span>У меня нет <b>открыток</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

8. В комнате есть пять  <input type="text" value="кровать"  style="width: 75px;"><span class="gext_answer" style="display: none">кроватей</span>.
 
<div class="gext_show"><span> В комнате есть пять <b>кроватей</b></span>. &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

9. У меня много   <input type="text"  value="книга" ><span class="gext_answer" style="display: none">книг</span>.
 
<div class="gext_show"> <span>У меня много  <b>книг</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

10. В этом городе много   <input type="text"  value="площадь" style="width: 70px;"><span class="gext_answer" style="display: none">площадей</span>.
 
<div class="gext_show"> <span>В этом городе много  <b>площадей</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

11. У меня несколько    <input type="text"  value="карта" ><span class="gext_answer" style="display: none">карт</span>.
 
<div class="gext_show"> <span>У меня несколько  <b>карт</b>.</span> &nbsp;</div>

</div>


<p class="gext_check"><input type="button" class="gext_check_btn" value="Check answers" > <input type="button" value="Display answers" class="gext_answer_show"></p>

</div>


</div>
<div class="block-clb">
     <div class="block-crb">
    	  <div class="block-btm">
    		   </div>
    	  </div>
     </div>		
</div>


<br/><br/><br/>

<h3>Exercise IV </h3>

<div class="block" >
				<div class="block-clt">
						<div class="block-crt">
							<div class="block-top"></div>
						</div>
				</div>
				<div class="block-center">
				

<div class="task">Form the genitive plural of neuter nouns. <a class="show_keyboard" href="javascript:;">[ Use virtual keyboard ]</a></div>

<div  class="gr_ex_type">


<div class="gext_task gext_sign"> 

1.  В этой комнате много    <input type="text" value="кресло" style="width: 65px;"><span class="gext_answer" style="display: none">кресел</span>.
 
<div class="gext_show"><span> В этой комнате много <b>кресел</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

2.  На этой улице много  <input type="text" value="здание" ><span class="gext_answer" style="display: none">зданий</span>.
 
<div class="gext_show"> <span> На этой улице много <b>зданий</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

3. В этой комнате шесть    <input type="text" value="окно"><span class="gext_answer" style="display: none">окон</span>.
 
<div class="gext_show"> <span>В этой комнате шесть <b>окон</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

4. Россию омывают 12    <input type="text" value="море"><span class="gext_answer" style="display: none">морей</span>.
 
<div class="gext_show"><span>Россию омывают 12 <b>морей</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

5. Нужно сделать много    <input type="text" value="упражнение" style="width: 90px;"><span class="gext_answer" style="display: none">упражнений</span>.
 
<div class="gext_show"><span> Нужно сделать много <b>упражнений</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

6. В этом городе много футбольных    <input type="text" value="поле"><span class="gext_answer" style="display: none">полей</span>.
 
<div class="gext_show"><span>В этом городе много футбольных <b>полей</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

7. У меня десять   <input type="text"  value="письмо"><span class="gext_answer" style="display: none">писем</span>.
 
<div class="gext_show"> <span>У меня десять <b>писем</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

8. На столе шесть    <input type="text" value="яблоко" ><span class="gext_answer" style="display: none">яблок</span>.
 
<div class="gext_show"><span>В городе нет футбольного <b>поля</b></span>. &nbsp;</div>

</div>


<p class="gext_check"><input type="button" class="gext_check_btn" value="Check answers" > <input type="button" value="Display answers" class="gext_answer_show"></p>

</div>


</div>
<div class="block-clb">
     <div class="block-crb">
    	  <div class="block-btm">
    		   </div>
    	  </div>
     </div>		
</div>



<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>









</div>
</div>

<script type="text/javascript">
currentSection="grammar";
</script>
