<% @page_title = 'Online Russian Grammar:  Nouns gender exercises' %>
<% @page_meta = {'description' => "Russian online grammar exercises on nouns gender"} %>
<% @with_rec = true %>
<% @has_audio = true %>


<% content_for :special_js_css do %>
 <%= stylesheet_link_tag 'grammar-exercises' %>
 <%= javascript_include_tag 'grammar-exercises' %>
<% end %> 
 




<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Links and Settings</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
					<li><a href="russian-gender.html"> Gender in Russian</a></li>
    				<li><a href="russian-nouns-gender.html"> Gender of Russian nouns </a></li>
					<li><a href="/russian-grammar.html">Russian grammar</a></li>
    		</ul>
	</div>
</div>
</div>



<h2 class="page">Nouns Gender</h2>

<div id="pagecontent"><div id="content">


<p>
<span title="Open popup with an overview of grammar rules" onclick="open_comment('grammar_comments/grex-nouns-gender_theory_grc.html')" class="open_popup_link">View grammar comments</span><br>
<span title="Open popup with word list" onclick="open_comment('grammar_comments/grex-nouns-gender_grc.html')" class="open_popup_link">View word list for these exercises</span>
</p>




<h3>Exercise I</h3>


<div class="block" >
	<div class="block-clt">
		 <div class="block-crt">
			  <div class="block-top"></div>
		 </div>
	</div>
	<div class="block-center">
	
<div class="task">Determine the gender of the following nouns:</div>

<div  class="gr_ex_variants">
<div class="gr-ex-testid">g0101010.I</div>

<table class="gr_ex_vars_tab" cellpadding="0" cellspacing="0" border="0">
	<tr class="gex_headers">
		<td width="230" >&nbsp;
		</td>
		<td class="gex_side" style="border-width: 0px">
			Masculine
		</td>
		<td class="gex_devider" style="border-width: 0px">
			Feminine
		</td>
		<td class="gex_devider" style="border-width: 0px">
			Neuter
		</td>
	</tr>
	<tr>
		<td >
			<div class="gexv_task gexv_sign">
				1. шоколад
			</div>
		</td>
		<td class="gex_side">
			<input type="checkbox" class="ok"> 
		</td>
		<td class="gex_side">
			<input type="checkbox"> 
		</td>
		<td class="gex_devider">
			<input type="checkbox"> 
		</td>
	</tr>
	<tr>
		<td >
			<div class="gexv_task gexv_sign">
				2. музей
			</div>
		</td>
		<td class="gex_side">
			<input type="checkbox" class="ok"> 
		</td>
		<td class="gex_side">
			<input type="checkbox"> 
		</td>
		<td class="gex_devider">
			<input type="checkbox"> 
		</td>
	</tr>
	<tr>
		<td >
			<div class="gexv_task gexv_sign">
				3. вино
			</div>
		</td>
		<td class="gex_side">
			<input type="checkbox" > 
		</td>
		<td class="gex_side">
			<input type="checkbox"> 
		</td>
		<td class="gex_devider">
			<input type="checkbox" class="ok"> 
		</td>
	</tr>
	<tr>
		<td >
			<div class="gexv_task gexv_sign">
				4. чай
			</div>
		</td>
		<td class="gex_side">
			<input type="checkbox" class="ok"> 
		</td>
		<td class="gex_side">
			<input type="checkbox"> 
		</td>
		<td class="gex_devider">
			<input type="checkbox"> 
		</td>
	</tr>
	<tr>
		<td >
			<div class="gexv_task gexv_sign">
				5. проблема
			</div>
		</td>
		<td class="gex_side">
			<input type="checkbox"> 
		</td>
		<td class="gex_side">
			<input type="checkbox"  class="ok"> 
		</td>
		<td class="gex_devider">
			<input type="checkbox"> 
		</td>
	</tr>
	<tr>
		<td >
			<div class="gexv_task gexv_sign">
				6. банан
			</div>
		</td>
		<td class="gex_side">
			<input type="checkbox" class="ok"> 
		</td>
		<td class="gex_side">
			<input type="checkbox"> 
		</td>
		<td class="gex_devider">
			<input type="checkbox"> 
		</td>
	</tr>
	<tr>
		<td >
			<div class="gexv_task gexv_sign">
				7. билет
			</div>
		</td>
		<td class="gex_side">
			<input type="checkbox" class="ok"> 
		</td>
		<td class="gex_side">
			<input type="checkbox"> 
		</td>
		<td class="gex_devider">
			<input type="checkbox"> 
		</td>
	</tr>
	<tr>
		<td >
			<div class="gexv_task gexv_sign">
				8. водка
			</div>
		</td>
		<td class="gex_side">
			<input type="checkbox"> 
		</td>
		<td class="gex_side">
			<input type="checkbox"  class="ok"> 
		</td>
		<td class="gex_devider">
			<input type="checkbox"> 
		</td>
	</tr>
	<tr>
		<td >
			<div class="gexv_task gexv_sign">
				9. кафе
			</div>
		</td>
		<td class="gex_side">
			<input type="checkbox"> 
		</td>
		<td class="gex_side">
			<input type="checkbox"> 
		</td>
		<td class="gex_devider">
			<input type="checkbox"  class="ok"> 
		</td>
	</tr>
	<tr>
		<td >
			<div class="gexv_task gexv_sign">
				10. машина
			</div>
		</td>
		<td class="gex_side">
			<input type="checkbox"> 
		</td>
		<td class="gex_side">
			<input type="checkbox"  class="ok"> 
		</td>
		<td class="gex_devider">
			<input type="checkbox"> 
		</td>
	</tr>
	<tr>
		<td >
			<div class="gexv_task gexv_sign">
				11. телефон
			</div>
		</td>
		<td class="gex_side">
			<input type="checkbox" class="ok"> 
		</td>
		<td class="gex_side">
			<input type="checkbox"> 
		</td>
		<td class="gex_devider">
			<input type="checkbox"> 
		</td>
	</tr>
	<tr>
		<td >
			<div class="gexv_task gexv_sign">
				12. фотография 
			</div>
		</td>
		<td class="gex_side">
			<input type="checkbox"> 
		</td>
		<td class="gex_side">
			<input type="checkbox"  class="ok"> 
		</td>
		<td class="gex_devider">
			<input type="checkbox"> 
		</td>
	</tr>
	<tr>
		<td >
			<div class="gexv_task gexv_sign">
				13. фото
			</div>
		</td>
		<td class="gex_side">
			<input type="checkbox"> 
		</td>
		<td class="gex_side">
			<input type="checkbox"> 
		</td>
		<td class="gex_devider">
			<input type="checkbox"  class="ok"> 
		</td>
	</tr>
	<tr>
		<td >
			<div class="gexv_task gexv_sign">
				14. сувенир
			</div>
		</td>
		<td class="gex_side">
			<input type="checkbox" class="ok"> 
		</td>
		<td class="gex_side">
			<input type="checkbox"> 
		</td>
		<td class="gex_devider">
			<input type="checkbox"> 
		</td>
	</tr>
	<tr>
		<td >
			<div class="gexv_task gexv_sign">
				15. багаж
			</div>
		</td>
		<td class="gex_side">
			<input type="checkbox" class="ok"> 
		</td>
		<td class="gex_side">
			<input type="checkbox"> 
		</td>
		<td class="gex_devider">
			<input type="checkbox"> 
		</td>
	</tr>
	<tr>
		<td >
			<div class="gexv_task gexv_sign">
				16. метро
			</div>
		</td>
		<td class="gex_side">
			<input type="checkbox"> 
		</td>
		<td class="gex_side">
			<input type="checkbox"> 
		</td>
		<td class="gex_devider">
			<input type="checkbox"  class="ok"> 
		</td>
	</tr>
	<tr>
		<td >
			<div class="gexv_task gexv_sign">
				17. музыка
			</div>
		</td>
		<td class="gex_side">
			<input type="checkbox"> 
		</td>
		<td class="gex_side">
			<input type="checkbox"  class="ok"> 
		</td>
		<td class="gex_devider">
			<input type="checkbox"> 
		</td>
	</tr>
	<tr>
		<td >
			<div class="gexv_task gexv_sign">
				18. станция
			</div>
		</td>
		<td class="gex_side">
			<input type="checkbox"> 
		</td>
		<td class="gex_side">
			<input type="checkbox"  class="ok"> 
		</td>
		<td class="gex_devider">
			<input type="checkbox"> 
		</td>
	</tr>
	
</table>



<p class="gexv_check"><input type="button" value="Check answers"></p>

</div>


</div>
<div class="block-clb">
     <div class="block-crb">
    	  <div class="block-btm">
    		   </div>
    	  </div>
     </div>		
</div>


<br/><br/><br/>


<h3>Exercise II </h3>



<div class="block" >
				<div class="block-clt">
						<div class="block-crt">
							<div class="block-top"></div>
						</div>
				</div>
				<div class="block-center">
				
<div class="task">Choose the correct form of the following words:</div> 				

<div  class="gr_ex_from_list">
<div class="gr-ex-testid">g0101020.II</div>
<div class="exer_part" > a) <strong>мой, моя, моё </strong> </div>



<div class="gr_ex_unit"> 


1. Это 
<select>
<option>мой</option>
<option>моя</option>
<option class="ok">моё</option>
</select>

фото. 

</div>

<div class="gr_ex_unit"> 


2. Это 
<select>
<option>мой</option>
<option class="ok">моя</option>
<option>моё</option>
</select>

машина.  

</div>

<div class="gr_ex_unit"> 


3. Это 
<select>
<option>мой</option>
<option class="ok">моя</option>
<option>моё</option>
</select>

станция. 

</div>

<div class="gr_ex_unit"> 


4. Это 
<select>
<option class="ok">мой</option>
<option >моя</option>
<option>моё</option>
</select>

паспорт. 

</div>

<div class="gr_ex_unit"> 


5. Это 
<select>
<option>мой</option>
<option class="ok">моя</option>
<option>моё</option>
</select>

виза. 

</div>



<div class="gr_ex_unit"> 


6. Это 
<select>
<option  class="ok">мой</option>
<option>моя</option>
<option>моё</option>
</select>

 билет.  

</div>

<div class="gr_ex_unit"> 


7. Это 
<select>
<option>мой</option>
<option>моя</option>
<option class="ok">моё</option>
</select>

 такси.  

</div>

<br/>
<br/>

<div class="exer_part" > b) <strong>этот, эта, это</strong> </div>



<div class="gr_ex_unit"> 


1. Мне нравится 
<select>
<option>этот</option>
<option  class="ok">эта</option>
<option>это</option>
</select>

музыка. 

</div>

<div class="gr_ex_unit"> 


2. Мне нравится 
<select>
<option  class="ok">этот</option>
<option>эта</option>
<option>это</option>
</select>

банан.  

</div>

<div class="gr_ex_unit"> 


3. Мне нравится 
<select>
<option  class="ok">этот</option>
<option>эта</option>
<option>это</option>
</select>

чай. 

</div>

<div class="gr_ex_unit"> 


4. Мне нравится 
<select>
<option>этот</option>
<option>эта</option>
<option  class="ok">это</option>
</select>

 фото. 

</div>

<div class="gr_ex_unit"> 


5. Мне нравится 
<select>
<option>этот</option>
<option  class="ok">эта</option>
<option>это</option>
</select>

фотография. 

</div>



<div class="gr_ex_unit"> 


6. Мне нравится 
<select>
<option  class="ok">этот</option>
<option>эта</option>
<option>это</option>
</select>

 лимон.  

</div>

<div class="gr_ex_unit"> 


7. Мне нравится 
<select>
<option>этот</option>
<option>эта</option>
<option  class="ok">это</option>
</select>

вино.  

</div>

<p class="ex_from_list_check"><input type="button" value="Check answers" ></p>

</div>


</div>
<div class="block-clb">
     <div class="block-crb">
    	  <div class="block-btm">
    		   </div>
    	  </div>
     </div>		
</div>



<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>









</div>
</div>

<script type="text/javascript">
currentSection="grammar";
</script>
