<% @page_title = 'Online Russian Grammar:  Exercises for dative forms of nouns ' %>
<% @page_meta = {'description' => "Russian online grammar exercises on the dative forms of nouns"} %>
<% @with_rec = true %>
<% @has_audio = true %>


<% content_for :special_js_css do %>
 <%= stylesheet_link_tag 'grammar-exercises' %>
 <%= javascript_include_tag 'grammar-exercises' %>
  <%= stylesheet_link_tag 'keyboard' %>
 
 <script type="text/javascript"> 
 $(document).ready(function(){
	$(".gext_task input").addClass("for_keyb")
 });
 </script>
 <%= javascript_include_tag 'virtual-keyboard' %>
<% end %> 
 




<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Links and Settings</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
    				<li><a href="russian-dative-case.html"> Dative case of Russian nouns </a></li>
					<li><a href="additional.html"> Additional Information</a></li>
    		</ul>
	</div>
</div>
</div>



<h2 class="page">Dative case</h2>

<div id="pagecontent"><div id="content">
<p>
<span title="Open popup with word list" onclick="open_comment('grammar_comments/grex-nouns-dat_grc.html')" class="open_popup_link">View word list for these exercises.</span>
</p>

<h3>Exercise I</h3>


<div class="block" >
				<div class="block-clt">
						<div class="block-crt">
							<div class="block-top"></div>
						</div>
				</div>
				<div class="block-center">
				
<div class="task">Choose the dative form of the following words:</div> 				

<div  class="gr_ex_from_list">

<div class="gr_ex_unit"> 


1. Мама рассказывает историю 
<select>
<option>сын</option>
<option>сына</option>
<option class="ok">сыну</option>
<option>сыне</option>
</select>. 

</div>

<div class="gr_ex_unit"> 


2. Учитель помогает 
<select>
<option>студент</option>
<option>студента</option>
<option>студенах</option>
<option class="ok">студентам</option>
</select>.  

</div>

<div class="gr_ex_unit"> 


3. Он не знает, как пройти к  
<select>
<option>здание</option>
<option>здания</option>
<option>зданий</option>
<option class="ok">зданию</option>
</select>
университета. 

</div>

<div class="gr_ex_unit"> 


4. Турист спрашивает, как пройти к 
<select>
<option>площадь</option>
<option >площадью</option>
<option class="ok">площади</option>
<option>площадях</option>
</select>. 

</div>

<div class="gr_ex_unit"> 


5. 
<select>
<option >Учитель</option>
<option   class="ok">Учителям</option>
<option>Учителях</option>
<option>Учители</option>
</select>
 нравится этот студент  
</div>


<div class="gr_ex_unit"> 


6. Турист не знает, как пройти к  
<select>
<option>остановка</option>
<option  class="ok">остановке</option>
<option>остановку</option>
<option>остановки</option>
</select>. 

</div>

<div class="gr_ex_unit"> 


7. Он хочет подойти к  
<select>
<option >окно</option>
<option>окне</option>
<option class="ok">окну</option>
<option>окна</option>
</select>.  

</div>

<div class="gr_ex_unit"> 


8. 
<select>
<option>Турист</option>
<option  class="ok">Туристам </option>
<option  >Туристы</option>
<option>Туристе</option>
</select>
нравится эта площадь. 

</div>

<div class="gr_ex_unit"> 


9. Она пишет письмо  
<select>
<option>актёр</option>
<option>актёре</option>
<option>актёра</option>
<option  class="ok">актёру</option>
</select>. 

</div>

<div class="gr_ex_unit"> 


10. Он показывает сувенир 
<select>
<option>студентка</option>
<option  class="ok">студентке</option>
<option>студентку</option>
<option>студентки</option>
</select>. 

</div>


<p class="ex_from_list_check"><input type="button" value="Check answers" ></p>

</div>


</div>
<div class="block-clb">
     <div class="block-crb">
    	  <div class="block-btm">
    		   </div>
    	  </div>
     </div>		
</div>




<br/><br/><br/>

<h3>Exercise II </h3>

<div class="block" >
				<div class="block-clt">
						<div class="block-crt">
							<div class="block-top"></div>
						</div>
				</div>
				<div class="block-center">
				

<div class="task">Form the dative singular of masculine and neuter nouns. <a class="show_keyboard" href="javascript:;">[ Use virtual keyboard ]</a></div>

<div  class="gr_ex_type">


<div class="gext_task gext_sign"> 

1.  Он хочет подойти к  <input type="text"  value="окно" > <span class="gext_answer" style="display: none">окну</span>.
 
<div class="gext_show"><span>Он хочет подойти к <b>окну</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

2. Турист не знает как пройти к   <input type="text" value="здание"><span class="gext_answer" style="display: none">зданию</span> посольства.
 
<div class="gext_show"><span>Турист не знает как пройти к  <b>зданию</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

3. Турист спрашивает как пройти к  <input type="text" value="ресторан" style="width: 80px;"><span class="gext_answer" style="display: none">ресторану</span>.
 
<div class="gext_show"><span>Турист спрашивает как пройти к <b>ресторану</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

4. Турист спрашивает, как пройти к  <input type="text" value="мост"><span class="gext_answer" style="display: none">мосту</span>.
 
<div class="gext_show"><span> Турист спрашивает, как пройти к <b>мосту</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

5. Он пишет письмо <input type="text" value="программист" style="width: 100px;"><span class="gext_answer" style="display: none">программисту</span>.
 
<div class="gext_show"><span>Он пишет письмо <b>программисту</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

6. Турист спрашивает, как пройти к  <input type="text" value="музей"><span class="gext_answer" style="display: none">музею</span>.
 
<div class="gext_show"> <span>Турист спрашивает, как пройти к <b>музею</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

7. Он готовится к  <input type="text" value="путешествие" style="width: 100px;" ><span class="gext_answer" style="display: none">путешествию</span>.
 
<div class="gext_show"><span>Он готовится к <b>путешествию</b></span>. &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

8. Он не знает, как пройти к футбольному  <input type="text" value="поле"><span class="gext_answer" style="display: none">полю</span>.
 
<div class="gext_show"> <span>Он не знает, как пройти к футбольному <b>полю</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

9. Она рассказывает историю   <input type="text" value="учитель"><span class="gext_answer" style="display: none">учителю</span>.
 
<div class="gext_show"> <span>Она рассказывает историю <b>учителю</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

10. Он готовится к <input type="text" value="экзамен" style="width: 80px;"><span class="gext_answer" style="display: none">экзамену</span>.
 
<div class="gext_show"> <span>Он готовится к <b>экзамену</b>.</span> &nbsp;</div>

</div>

<p class="gext_check"><input type="button" class="gext_check_btn" value="Check answers" > <input type="button" value="Display answers" class="gext_answer_show"></p>

</div>


</div>
<div class="block-clb">
     <div class="block-crb">
    	  <div class="block-btm">
    		   </div>
    	  </div>
     </div>		
</div>


<br/><br/><br/>

<h3>Exercise III </h3>

<div class="block" >
				<div class="block-clt">
						<div class="block-crt">
							<div class="block-top"></div>
						</div>
				</div>
				<div class="block-center">
				

<div class="task">Form the dative singular of feminine nouns. <a class="show_keyboard" href="javascript:;">[ Use virtual keyboard ]</a></div>

<div  class="gr_ex_type">


<div class="gext_task gext_sign"> 

1.  <input type="text" size="6" value="Марина"><span class="gext_answer" style="display: none">Марине</span> нравится Москва.
 
<div class="gext_show"><span><b>Марине</b> нравится Москва.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

2. Туристка не знает, как пройти к <input type="text" value="станция"><span class="gext_answer" style="display: none">станции</span> метро.
 
<div class="gext_show"> <span>Туристка не знает, как пройти к <b>станции</b> метро.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

3. <input type="text" value="Студентка" style="width: 80px;"><span class="gext_answer" style="display: none">Студентке</span>  нравится история.
 
<div class="gext_show"> <span><b>Студентке</b>  нравится история.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

4. Он пишет письмо <input type="text" value="актриса" style="width: 65px;"><span class="gext_answer" style="display: none">актрисе</span>.
 
<div class="gext_show"><span>Он пишет письмо <b>актрисе</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

5. <input type="text" value="Туристка" style="width: 70px;"><span class="gext_answer" style="display: none">Туристке</span>  нравится эта площадь.
 
<div class="gext_show"><span><b>Туристке</b>  нравится эта площадь.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

6. Турист спрашивает, как пройти к <input type="text"  value="остановка" style="width: 80px;"><span class="gext_answer" style="display: none">остановке</span>.
 
<div class="gext_show"> <span>Турист спрашивает, как пройти к <b>остановке</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

7. <input type="text" value="Линда"><span class="gext_answer" style="display: none">Линде</span> нравится этот театр. 
 
<div class="gext_show"><span><b>Линде </b> нравится этот театр. </span>. &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

8. Турист не знает, как пройти к <input type="text"  value="площадь" style="width: 70px;"><span class="gext_answer" style="display: none">площади</span>.
 
<div class="gext_show"> <span>Турист не знает, как пройти к <b>площади</b>.</span> &nbsp;</div>

</div>



<p class="gext_check"><input type="button" class="gext_check_btn" value="Check answers" > <input type="button" value="Display answers" class="gext_answer_show"></p>

</div>


</div>
<div class="block-clb">
     <div class="block-crb">
    	  <div class="block-btm">
    		   </div>
    	  </div>
     </div>		
</div>


<br/><br/><br/>

<h3>Exercise IV </h3>

<div class="block" >
				<div class="block-clt">
						<div class="block-crt">
							<div class="block-top"></div>
						</div>
				</div>
				<div class="block-center">
				

<div class="task">Form the dative plural of nouns. <a class="show_keyboard" href="javascript:;">[ Use virtual keyboard ]</a></div>

<div  class="gr_ex_type">


<div class="gext_task gext_sign"> 

1.  <input type="text" value="Турист" style="width: 80px;"><span class="gext_answer" style="display: none">Туристам</span>  нравится этот мост.
 
<div class="gext_show"><span> <b>Туристам</b> нравится этот мост.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

2.  Линда показывает фотографии <input type="text" value="гость" ><span class="gext_answer" style="display: none">гостям</span>.
 
<div class="gext_show"> <span> Линда показывает фотографии <b>гостям</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

3. <input type="text" value="Пациент" style="width: 80px;"><span class="gext_answer" style="display: none">Пациентам</span> нравится этот доктор.
 
<div class="gext_show"> <span><b>Пациентам</b> нравится этот доктор.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

4. Студент отвечает <input type="text" value="учитель" style="width: 80px;"><span class="gext_answer" style="display: none">учителям</span>.
 
<div class="gext_show"><span>Студент отвечает  <b>учителям</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

5. Ученики готовятся к <input type="text" value="экзамен" style="width: 80px;"><span class="gext_answer" style="display: none">экзаменам</span>.
 
<div class="gext_show"><span>Ученики готовятся к <b>экзаменам</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

6. Этот писатель нравится <input type="text" value="читатель" style="width: 80px;"><span class="gext_answer" style="display: none">читателям</span>.
 
<div class="gext_show"><span>Этот писатель нравится <b>читателям</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

7. <input type="text"  value="Посетитель" style="width: 95px;"><span class="gext_answer" style="display: none">Посетителям</span>  нравится эта картина.
 
<div class="gext_show"> <span><b>Посетителям</b> нравится эта картина.</span> &nbsp;</div>

</div>



<p class="gext_check"><input type="button" class="gext_check_btn" value="Check answers" > <input type="button" value="Display answers" class="gext_answer_show"></p>

</div>


</div>
<div class="block-clb">
     <div class="block-crb">
    	  <div class="block-btm">
    		   </div>
    	  </div>
     </div>		
</div>



<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>









</div>
</div>

<script type="text/javascript">
currentSection="words";
</script>
