<% @page_title = 'Online Russian Grammar:  Exercises for accusative forms of nouns ' %>
<% @page_meta = {'description' => "Russian online grammar exercises on the accusative forms of nouns"} %>
<% @with_rec = true %>
<% @has_audio = true %>


<% content_for :special_js_css do %>
 <%= stylesheet_link_tag 'grammar-exercises' %>
 <%= javascript_include_tag 'grammar-exercises' %>
 <%= stylesheet_link_tag 'keyboard' %>
 
 <script type="text/javascript"> 
 $(document).ready(function(){
	$(".gext_task input").addClass("for_keyb")
 });
 </script>
 <%= javascript_include_tag 'virtual-keyboard' %>
<% end %> 
 




<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Links and Settings</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
    				<li><a href="russian-accusative-case.html"> Accusative case of Russian nouns </a></li>
					<li><a href="additional.html"> Additional Information</a></li>
    		</ul>
	</div>
</div>
</div>



<h2 class="page">Accusative case</h2>

<div id="pagecontent"><div id="content">


<h3>Exercise I</h3>


<div class="block" >
				<div class="block-clt">
						<div class="block-crt">
							<div class="block-top"></div>
						</div>
				</div>
				<div class="block-center">
				
<div class="task">Choose the accusative case form of the following words:</div> 				

<div  class="gr_ex_from_list">

<div class="gr_ex_unit"> 


1. Мы читаем 
<select>
<option>газета</option>
<option>газете</option>
<option>газетам</option>
<option  class="ok">газеты</option>
</select>. 

</div>

<div class="gr_ex_unit"> 


2. Он слушает 
<select>
<option>друг</option>
<option  class="ok">друга</option>
<option>другу</option>
<option>друге</option>
</select>.  

</div>

<div class="gr_ex_unit"> 


3. Они изучают 
<select>
<option>химия</option>
<option  class="ok">химию</option>
<option>химии</option>
<option>химией</option>
</select>. 

</div>

<div class="gr_ex_unit"> 


4. Он спрашивает 
<select>
<option>брат</option>
<option >брату</option>
<option class="ok">брата</option>
<option>брате</option>
</select>. 

</div>

<div class="gr_ex_unit"> 


5. Он хочет посетить 
<select>
<option  class="ok">театр</option>
<option  >театра</option>
<option>театру</option>
<option>театре</option>
</select>.  
</div>


<div class="gr_ex_unit"> 


6. Он любит   
<select>
<option>история</option>
<option >историей</option>
<option>историям</option>
<option  class="ok">историю</option>
</select>. 

</div>

<div class="gr_ex_unit"> 


7. Мы знаем этих   
<select>
<option >актёр</option>
<option>актёры</option>
<option class="ok">актёров</option>
<option>актёрам</option>
</select>.  

</div>

<div class="gr_ex_unit"> 


8. Она очень любит 
<select>
<option>конфета</option>
<option>конфетой</option>
<option class="ok">конфеты</option>
<option>конфете</option>
</select>. 

</div>

<div class="gr_ex_unit"> 


9. Мы часто посещаем эти 
<select>
<option>музей</option>
<option class="ok">музеи</option>
<option>музею</option>
<option>музеям</option>
</select>. 

</div>

<div class="gr_ex_unit"> 


10. Он любит  
<select>
<option  class="ok">пиво</option>
<option>пива</option>
<option>пиву</option>
<option>пиве</option>
</select>. 

</div>


<p class="ex_from_list_check"><input type="button" value="Check answers" ></p>

</div>


</div>
<div class="block-clb">
     <div class="block-crb">
    	  <div class="block-btm">
    		   </div>
    	  </div>
     </div>		
</div>




<br/><br/><br/>

<h3>Exercise II </h3>

<div class="block" >
				<div class="block-clt">
						<div class="block-crt">
							<div class="block-top"></div>
						</div>
				</div>
				<div class="block-center">
				

<div class="task">Form the accusative singular (inanimate nouns). <a class="show_keyboard" href="javascript:;">[ Use virtual keyboard ]</a></div>

<div  class="gr_ex_type">


<div class="gext_task gext_sign"> 

1.  Она хочет посетить <input type="text"  value="галерея" > <span class="gext_answer" style="display: none">галерею</span>.
 
<div class="gext_show"><span>Она хочет посетить <b>галерею</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

2. Я не знаю это <input type="text" value="правило"><span class="gext_answer" style="display: none">правило</span> посольства.
 
<div class="gext_show"><span>Я не знаю это  <b>правило</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

3. Он идёт на <input type="text" value="выставка" style="width: 70px;"><span class="gext_answer" style="display: none">выставку</span>.
 
<div class="gext_show"><span>Он идёт на <b>выставку</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

4. Ты читаешь <input type="text" value="журнал"><span class="gext_answer" style="display: none">журнал</span>.
 
<div class="gext_show"><span> Ты читаешь <b>журнал</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

5. Он не знает эту <input type="text" value="площадь" style="width: 65px;"><span class="gext_answer" style="display: none">площадь</span>.
 
<div class="gext_show"><span>Он не знает эту <b>площадь</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

6. Она едет на <input type="text" value="работа"><span class="gext_answer" style="display: none">работу</span>.
 
<div class="gext_show"> <span>Она едет на <b>работу</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

7. Он не понимает <input type="text" value="предложение" style="width: 100px;" ><span class="gext_answer" style="display: none">предложение</span>.
 
<div class="gext_show"><span>Он не понимает <b>предложение</b></span>. &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

8. Он любит   <input type="text" value="шоколад" style="width: 65px;"><span class="gext_answer" style="display: none">шоколад</span>.
 
<div class="gext_show"> <span>Он любит <b>шоколад</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

9. Мы читаем <input type="text" value="газета"><span class="gext_answer" style="display: none">газету</span>.
 
<div class="gext_show"> <span>Мы читаем <b>газету</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

10. Она не может открыть <input type="text" value="дверь" ><span class="gext_answer" style="display: none">дверь</span>.
 
<div class="gext_show"> <span>Она не может открыть <b>дверь</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

11. Он едет в <input type="text" value="Москва"><span class="gext_answer" style="display: none">Москву</span>.
 
<div class="gext_show"> <span> Он едет в <b>Москву</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

12. Она рассказывает <input type="text" value="история" style="width: 65px;"><span class="gext_answer" style="display: none">историю</span>.
 
<div class="gext_show"> <span>Она рассказывает <b>историю</b>.</span> &nbsp;</div>

</div>

<p class="gext_check"><input type="button" class="gext_check_btn" value="Check answers" > <input type="button" value="Display answers" class="gext_answer_show"></p>

</div>


</div>
<div class="block-clb">
     <div class="block-crb">
    	  <div class="block-btm">
    		   </div>
    	  </div>
     </div>		
</div>


<br/><br/><br/>

<h3>Exercise III </h3>

<div class="block" >
				<div class="block-clt">
						<div class="block-crt">
							<div class="block-top"></div>
						</div>
				</div>
				<div class="block-center">
				

<div class="task">Form the accusative singular (animate nouns). <a class="show_keyboard" href="javascript:;">[ Use virtual keyboard ]</a></div>

<div  class="gr_ex_type">

<div class="exer_part" > a) <strong>Mаsculine nouns</strong> </div>


<div class="gext_task gext_sign"> 

1. Пациент спрашивает <input type="text" value="доктор"><span class="gext_answer" style="display: none">доктора</span>.
 
<div class="gext_show"><span>Пациент спрашивает <b>доктора</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

2. Она любит этого <input type="text" value="писатель" style="width: 70px;"><span class="gext_answer" style="display: none">писателя</span>.
 
<div class="gext_show"> <span>Она любит этого <b>писателя</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

3. Он любит этого <input type="text" value="герой"><span class="gext_answer" style="display: none">героя</span>.
 
<div class="gext_show"> <span>Он любит этого <b>героя</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

4. Он не понимает <input type="text" value="турист"><span class="gext_answer" style="display: none">туриста</span>.
 
<div class="gext_show"><span>Он не понимает <b>туриста</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

5. Учитель спрашивает <input type="text" value="студент" style="width: 65px;"><span class="gext_answer" style="display: none">студента</span>.
 
<div class="gext_show"><span><b>Туристке</b>  нравится эта площадь.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

6. Он хорошо принимает <input type="text"  value="гость"><span class="gext_answer" style="display: none">гостя</span>.
 
<div class="gext_show"> <span>Он хорошо принимает <b>гостя</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

7. Он не понимает <input type="text" value="брат"><span class="gext_answer" style="display: none">брата</span>. 
 
<div class="gext_show"><span>Он не понимает <b>брата</b></span>. &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

8. Студент спрашивает <input type="text"  value="профессор" style="width: 90px;"><span class="gext_answer" style="display: none">профессора</span>.
 
<div class="gext_show"> <span>Студент спрашивает <b>профессора</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

9. Он спрашивает <input type="text"  value="инженер" style="width: 70px;"><span class="gext_answer" style="display: none">инженера</span>.
 
<div class="gext_show"> <span>Он спрашивает <b>инженера</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

10. Он слушает <input type="text"  value="учитель" style="width: 70px;"><span class="gext_answer" style="display: none">учителя</span>.
 
<div class="gext_show"> <span>Он слушает <b>учителя</b>.</span> &nbsp;</div>

</div>


<div class="exer_part" > b) <strong>Feminine nouns</strong> </div>


<div class="gext_task gext_sign"> 

1. Она любит эту  <input type="text" value="актриса"><span class="gext_answer" style="display: none">актрису</span>.
 
<div class="gext_show"><span>Она любит эту <b>актрису</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

2. Он не знает эту <input type="text" value="француженка" style="width: 100px;"><span class="gext_answer" style="display: none">француженку</span>.
 
<div class="gext_show"> <span>Он не знает эту <b>француженку</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

3. Он не знает эту  <input type="text" value="женщина" style="width: 70px;"><span class="gext_answer" style="display: none">женщину</span>.
 
<div class="gext_show"> <span>Он не знает эту <b>женщину</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

4. Он спрашивает  <input type="text" value="дочь"><span class="gext_answer" style="display: none">дочь</span>.
 
<div class="gext_show"><span>Он спрашивает <b>дочь</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

5. Она слушает  <input type="text" value="сестра" style="width: 65px;"><span class="gext_answer" style="display: none">сестру</span>.
 
<div class="gext_show"><span>Она слушает   <b>сестру</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

6. Он не понимает <input type="text"  value="подруга"><span class="gext_answer" style="display: none">подругу</span>.
 
<div class="gext_show"> <span>Он не понимает <b>подругу</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

7. Он хорошо понимает  <input type="text" value="американка" style="width: 90px;"><span class="gext_answer" style="display: none">американку</span>. 
 
<div class="gext_show"><span> Он хорошо понимает <b>американку</b></span>. &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

8. Она не понимает  <input type="text"  value="мать"><span class="gext_answer" style="display: none">мать</span>.
 
<div class="gext_show"> <span>Она не понимает <b>мать</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

9. Он спрашивает <input type="text"  value="студентка" style="width: 80px;"><span class="gext_answer" style="display: none">студентку</span>.
 
<div class="gext_show"> <span>Он спрашивает <b>студентку</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

10. Он знает эту  <input type="text"  value="женщина" style="width: 70px;"><span class="gext_answer" style="display: none">женщину</span>.
 
<div class="gext_show"> <span>Он знает эту <b>женщину</b>.</span> &nbsp;</div>

</div>




<p class="gext_check"><input type="button" class="gext_check_btn" value="Check answers" > <input type="button" value="Display answers" class="gext_answer_show"></p>

</div>


</div>
<div class="block-clb">
     <div class="block-crb">
    	  <div class="block-btm">
    		   </div>
    	  </div>
     </div>		
</div>


<br/><br/><br/>

<h3>Exercise IV </h3>

<div class="block" >
				<div class="block-clt">
						<div class="block-crt">
							<div class="block-top"></div>
						</div>
				</div>
				<div class="block-center">
				

<div class="task">Form the accusative plural of inanimate nouns. <a class="show_keyboard" href="javascript:;">[ Use virtual keyboard ]</a></div>

<div  class="gr_ex_type">


<div class="gext_task gext_sign"> 

1.  Он любит <input type="text" value="фрукт" ><span class="gext_answer" style="display: none">фрукты</span>.
 
<div class="gext_show"><span>Он любит  <b>фрукты</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

2.  Он читает <input type="text" value="книга" ><span class="gext_answer" style="display: none">книги</span>.
 
<div class="gext_show"> <span> Он читает <b>книги</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

3. Она рассказывает <input type="text" value="история" ><span class="gext_answer" style="display: none">истории</span>.
 
<div class="gext_show"> <span>Она рассказывает <b>истории</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

4. Он читает <input type="text" value="журнал"><span class="gext_answer" style="display: none">журналы</span>.
 
<div class="gext_show"><span>Он читает <b>журналы</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

5. Турист любит посещать <input type="text" value="выставка" style="width: 70px;"><span class="gext_answer" style="display: none">выставки</span>.
 
<div class="gext_show"><span>Турист любит посещать <b>выставки</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

6. Он пишет  <input type="text" value="письмо" ><span class="gext_answer" style="display: none">письма</span>.
 
<div class="gext_show"><span>Он пишет  <b>письма</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

7. Я читаю  <input type="text"  value="предложение" style="width: 95px;"><span class="gext_answer" style="display: none">предложения</span>.
 
<div class="gext_show"> <span>Я читаю  <b>предложения</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

8. Он знает эти  <input type="text"  value="слово"><span class="gext_answer" style="display: none">слова</span>.
 
<div class="gext_show"> <span>Он знает эти <b>слова</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

9. Мария делает  <input type="text"  value="задание" style="width: 70px;"><span class="gext_answer" style="display: none">задания</span>.
 
<div class="gext_show"> <span>Мария делает    <b>задания</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

10. Он читает <input type="text"  value="диалог" ><span class="gext_answer" style="display: none">диалоги</span>.
 
<div class="gext_show"> <span>Он читает  <b>диалоги</b>.</span> &nbsp;</div>

</div>


<div class="gext_task gext_sign"> 

11. Она знает  <input type="text"  value="площадь"><span class="gext_answer" style="display: none">площади</span>  Москвы.
 
<div class="gext_show"> <span>Она знает  <b>площади</b> Москвы.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

12. Он любит  <input type="text"  value="овощ"><span class="gext_answer" style="display: none">овощи</span>.
 
<div class="gext_show"> <span>Он любит  <b>овощи</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

13. Алекс любит посещать  <input type="text"  value="музей"><span class="gext_answer" style="display: none">музеи</span>.
 
<div class="gext_show"> <span>Алекс любит посещать <b>музеи</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

14. Он открывает <input type="text"  value="дверь" ><span class="gext_answer" style="display: none">двери</span>.
 
<div class="gext_show"> <span>Он открывает  <b>двери</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

15. Мы слушаем   <input type="text"  value="песня"><span class="gext_answer" style="display: none">песни</span>.
 
<div class="gext_show"> <span>Мы слушаем  <b>песни</b>.</span> &nbsp;</div>

</div>



<p class="gext_check"><input type="button" class="gext_check_btn" value="Check answers" > <input type="button" value="Display answers" class="gext_answer_show"></p>

</div>


</div>
<div class="block-clb">
     <div class="block-crb">
    	  <div class="block-btm">
    		   </div>
    	  </div>
     </div>		
</div>




<br/><br/><br/>

<h3>Exercise V </h3>

<div class="block" >
				<div class="block-clt">
						<div class="block-crt">
							<div class="block-top"></div>
						</div>
				</div>
				<div class="block-center">
				

<div class="task">Form the accusative plural of animate nouns. <a class="show_keyboard" href="javascript:;">[ Use virtual keyboard ]</a></div>

<div  class="gr_ex_type">


<div class="gext_task gext_sign"> 

1.  Он слушает <input type="text" value="студент" style="width: 85px;"><span class="gext_answer" style="display: none">студентов</span>.
 
<div class="gext_show"><span>Он слушает <b>студентов</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

2.  Ольга хорошо принимает <input type="text" value="гость" ><span class="gext_answer" style="display: none">гостей</span>.
 
<div class="gext_show"> <span> Ольга хорошо принимает <b>гостей</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

3. Он знает этих  <input type="text" value="актриса" ><span class="gext_answer" style="display: none">актрис</span>.
 
<div class="gext_show"> <span>Он знает этих <b>актрис</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

4. Студенты знают этих <input type="text" value="писатель" style="width: 80px;"><span class="gext_answer" style="display: none">писателей</span>.
 
<div class="gext_show"><span>Студенты знают этих <b>писателей</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

5. Она понимает <input type="text" value="турист" style="width: 70px;"><span class="gext_answer" style="display: none">туристов</span>.
 
<div class="gext_show"><span>Она понимает <b>туристов</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

6. Мария слушает <input type="text" value="подруга" ><span class="gext_answer" style="display: none">подруг</span>.
 
<div class="gext_show"><span>Мария слушает <b>подруг</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

7. Он знает этих <input type="text"  value="девочка" ><span class="gext_answer" style="display: none">девочек</span>.
 
<div class="gext_show"> <span>Он знает этих <b>девочек</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

8. Том спрашивает <input type="text"  value="учитель" style="width: 70px;"><span class="gext_answer" style="display: none">учителей</span>.
 
<div class="gext_show"> <span>Том спрашивает <b>учителей</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

9. Она любит этих <input type="text"  value="герой"><span class="gext_answer" style="display: none">героев</span>.
 
<div class="gext_show"> <span>Она любит этих <b>героев</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

10. Пациент спрашивает <input type="text"  value="доктор" style="width: 70px;"><span class="gext_answer" style="display: none">докторов</span>.
 
<div class="gext_show"> <span>Пациент спрашивает <b>докторов</b>.</span> &nbsp;</div>

</div>


<div class="gext_task gext_sign"> 

11. Сандра не понимает <input type="text"  value="француженка" style="width: 105px;"><span class="gext_answer" style="display: none">француженок</span>.
 
<div class="gext_show"> <span>Сандра не понимает <b>француженок</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

12. Он спрашивает <input type="text"  value="инженер" style="width: 80px;"><span class="gext_answer" style="display: none">инженеров</span>.
 
<div class="gext_show"> <span>Он спрашивает  <b>инженеров</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

13. Он знает этих <input type="text"  value="программист" style="width: 110px;"><span class="gext_answer" style="display: none">программистов</span>.
 
<div class="gext_show"> <span>Он знает этих <b>программистов</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

14. Они понимают этих  <input type="text"  value="студентка" style="width: 80px;"><span class="gext_answer" style="display: none">студенток</span>.
 
<div class="gext_show"> <span>Они понимают этих  <b>студенток</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

15. Он знает этих   <input type="text"  value="женщина" style="width: 65px;"><span class="gext_answer" style="display: none">женщин</span>.
 
<div class="gext_show"> <span>Он знает этих <b>женщин</b>.</span> &nbsp;</div>

</div>



<p class="gext_check"><input type="button" class="gext_check_btn" value="Check answers" > <input type="button" value="Display answers" class="gext_answer_show"></p>

</div>


</div>
<div class="block-clb">
     <div class="block-crb">
    	  <div class="block-btm">
    		   </div>
    	  </div>
     </div>		
</div>


<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>









</div>
</div>

<script type="text/javascript">
currentSection="words";
</script>
