<% @page_title = 'Online Russian Grammar:  Exercises for instrumental forms of nouns ' %>
<% @page_meta = {'description' => "Russian online grammar exercises on instrumental forms of nouns"} %>
<% @with_rec = true %>
<% @has_audio = true %>


<% content_for :special_js_css do %>
 <%= stylesheet_link_tag 'grammar-exercises' %>
 <%= javascript_include_tag 'grammar-exercises' %>
  <%= stylesheet_link_tag 'keyboard' %>
 
 <script type="text/javascript"> 
 $(document).ready(function(){
	$(".gext_task input").addClass("for_keyb")
 });
 </script>
 <%= javascript_include_tag 'virtual-keyboard' %>
<% end %> 
 




<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Links and Settings</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
    				<li><a href="russian-instrumental-case.html"> Instrumental case of Russian nouns </a></li>
					<li><a href="/russian-grammar.html">Russian grammar</a></li>
    		</ul>
	</div>
</div>
</div>



<h2 class="page">Instrumental case</h2>

<div id="pagecontent"><div id="content">


<h3>Exercise I</h3>


<div class="block" >
				<div class="block-clt">
						<div class="block-crt">
							<div class="block-top"></div>
						</div>
				</div>
				<div class="block-center">
				
<div class="task">Choose the instrumental case form of the following words:</div> 				

<div  class="gr_ex_from_list">

<div class="gr_ex_unit"> 


1. Студент пишет 
<select>
<option>ручка</option>
<option class="ok">ручкой</option>
<option>ручку</option>
<option>ручки</option>
</select>. 

</div>

<div class="gr_ex_unit"> 


2. Россия омывается тремя  
<select>
<option>океан</option>
<option>океаны</option>
<option  class="ok">океанами</option>
<option>океана</option>
</select>.  

</div>

<div class="gr_ex_unit"> 


3. Он хочет стать   
<select>
<option>инженер</option>
<option  class="ok">инженером</option>
<option>инженеру</option>
<option>инженеры</option>
</select>
университета. 

</div>

<div class="gr_ex_unit"> 


4. Парк находится за  
<select>
<option>санаторий</option>
<option >санатория</option>
<option class="ok">санаторием</option>
<option санаторием>санатории</option>
</select>. 

</div>

<div class="gr_ex_unit"> 


5. Центр города окружён жилыми 
<select>
<option >дом</option>
<option>домам</option>
<option>домов</option>
<option  class="ok">домами</option>
</select>. 
</div>


<div class="gr_ex_unit"> 


6. Ручка лежит под   
<select>
<option>кровать</option>
<option  class="ok">кроватью</option>
<option>кроватям</option>
<option>кроватей</option>
</select>. 

</div>

<div class="gr_ex_unit"> 


7. Моя сестра интересуется   
<select>
<option >биология</option>
<option>биологии</option>
<option>биологию</option>
<option class="ok">биологией</option>
</select>.  

</div>

<div class="gr_ex_unit"> 


8. Он знакомится с 
<select>
<option>актриса</option>
<option >актрисы</option>
<option  class="ok">актрисой</option>
<option>актрисам</option>
</select>. 

</div>

<div class="gr_ex_unit"> 


9. Он работает  
<select>
<option>менеджер</option>
<option  class="ok">менеджером</option>
<option>менеджере</option>
<option>менеджерам</option>
</select>. 

</div>

<div class="gr_ex_unit"> 


10. Этот дом является самым старым   
<select>
<option>здание</option>
<option>здания</option>
<option  class="ok">зданием</option>
<option>здании</option>
</select> в городе. 

</div>


<p class="ex_from_list_check"><input type="button" value="Check answers" ></p>

</div>


</div>
<div class="block-clb">
     <div class="block-crb">
    	  <div class="block-btm">
    		   </div>
    	  </div>
     </div>		
</div>




<br/><br/><br/>

<h3>Exercise II </h3>

<div class="block" >
				<div class="block-clt">
						<div class="block-crt">
							<div class="block-top"></div>
						</div>
				</div>
				<div class="block-center">
				

<div class="task">Form the instrumental singular of  nouns. <a class="show_keyboard" href="javascript:;">[ Use virtual keyboard ]</a></div>

<div  class="gr_ex_type">


<div class="gext_task gext_sign"> 

1.  Учитель пишет на доске  <input type="text"  value="мел" > <span class="gext_answer" style="display: none">мелом</span>.
 
<div class="gext_show"><span>Учитель пишет на доске <b>мелом</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

2. Парк находится за   <input type="text" value="церковь" style="width: 75px;"><span class="gext_answer" style="display: none">церковью</span>.
 
<div class="gext_show"><span>Парк находится за  <b>церковью</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

3. Она работает  <input type="text" value="доктор" style="width: 75px;"><span class="gext_answer" style="display: none">доктором</span>.
 
<div class="gext_show"><span>Она работает <b>доктором</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

4. Он интересуется  <input type="text" value="история" style="width: 70px;"><span class="gext_answer" style="display: none">историей</span>.
 
<div class="gext_show"><span> Он интересуется <b>историей</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

5. Она часто занимается  <input type="text" value="спорт" style="width: 65px;"><span class="gext_answer" style="display: none">спортом</span>.
 
<div class="gext_show"><span>Она часто занимается <b>спортом</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

6. Театр находится за   <input type="text" value="площадь" style="width: 80px;"><span class="gext_answer" style="display: none">площадью</span>.
 
<div class="gext_show"> <span>Театр находится за <b>площадью</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

7. Он работает   <input type="text" value="программист" style="width: 115px;" ><span class="gext_answer" style="display: none">программистом</span>.
 
<div class="gext_show"><span>Он работает <b>программистом</b></span>. &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

8. Он занимается <input type="text" value="музыка" style="width: 70px;" ><span class="gext_answer" style="display: none">музыкой</span>.
 
<div class="gext_show"> <span>Он занимается  <b>музыкой</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

9. Она хочет стать   <input type="text" value="актриса" style="width: 70px;"><span class="gext_answer" style="display: none">актрисой</span>.
 
<div class="gext_show"> <span>Она хочет стать <b>актрисой</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

10. Она хочет познакомиться с  <input type="text" value="американец" style="width: 100px;"><span class="gext_answer" style="display: none">американцем</span>.
 
<div class="gext_show"> <span>Она хочет познакомиться с  <b>американцем</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

11. Он разговаривает с <input type="text" value="учитель" style="width: 80px;"><span class="gext_answer" style="display: none">учителем</span>.
 
<div class="gext_show"> <span>Он разговаривает с <b>учителем</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

12. Карандаш лежит под   <input type="text" value="кровать" style="width: 80px;"><span class="gext_answer" style="display: none">кроватью</span>.
 
<div class="gext_show"> <span>Карандаш лежит под  <b>кроватью</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

13. Она разговаривает с   <input type="text" value="канадец" style="width: 80px;"><span class="gext_answer" style="display: none">канадцем</span>.
 
<div class="gext_show"> <span>Она разговаривает с  <b>канадцем</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

14. Ресторан находится за   <input type="text" value="музей" style="width: 65px;"><span class="gext_answer" style="display: none">музеем</span>.
 
<div class="gext_show"> <span>Ресторан находится за <b>музеем</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

15. Он хочет стать  <input type="text" value="писатель" style="width: 80px;"><span class="gext_answer" style="display: none">писателем</span>.
 
<div class="gext_show"> <span>Он хочет стать <b>писателем</b>.</span> &nbsp;</div>

</div>

<p class="gext_check"><input type="button" class="gext_check_btn" value="Check answers" > <input type="button" value="Display answers" class="gext_answer_show"></p>

</div>


</div>
<div class="block-clb">
     <div class="block-crb">
    	  <div class="block-btm">
    		   </div>
    	  </div>
     </div>		
</div>


<br/><br/><br/>

<h3>Exercise III </h3>

<div class="block" >
				<div class="block-clt">
						<div class="block-crt">
							<div class="block-top"></div>
						</div>
				</div>
				<div class="block-center">
				

<div class="task">Form the instrumental plural of nouns. <a class="show_keyboard" href="javascript:;">[ Use virtual keyboard ]</a></div>

<div  class="gr_ex_type">


<div class="gext_task gext_sign"> 

1.  Мария любит рисовать <input type="text" value="карандаш" style="width: 100px;"><span class="gext_answer" style="display: none">карандашами</span>.
 
<div class="gext_show"><span>Мария любит рисовать <b>карандашами</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

2. Он интересуется русскими  <input type="text" value="писатель" style="width: 90px;"><span class="gext_answer" style="display: none">писателями</span>.
 
<div class="gext_show"> <span>Он интересуется русскими <b>писателями</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

3. Том говорит со  <input type="text" value="студентка" style="width: 95px;"><span class="gext_answer" style="display: none">студентками</span>.
 
<div class="gext_show"> <span>Том говорит со <b>студентками</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

4. Он разговаривает со  <input type="text" value="студент" style="width: 90px;"><span class="gext_answer" style="display: none">студентами</span>.
 
<div class="gext_show"><span>Он разговаривает со <b>студентами</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

5. Москва известна своими  <input type="text" value="музей" style="width: 70px;"><span class="gext_answer" style="display: none">музеями</span>.
 
<div class="gext_show"><span>Москва известна своими  <b>музеями</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

6. Она знакомится с <input type="text"  value="американец" style="width: 110px;"><span class="gext_answer" style="display: none">американцами</span>.
 
<div class="gext_show"> <span>Она знакомится с <b>американцами</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

7. Иван хочет познакомиться с <input type="text" value="француженка" style="width: 115px;"><span class="gext_answer" style="display: none">француженками</span>. 
 
<div class="gext_show"><span>Иван хочет познакомиться с <b>француженками</b></span>. &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

8. Он встречается с  <input type="text"  value="француз" style="width: 95px;"><span class="gext_answer" style="display: none">французами</span>.
 
<div class="gext_show"> <span>Он встречается с <b>французами</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

9. Она говорит по телефону с <input type="text"  value="канадец" style="width: 85px;"><span class="gext_answer" style="display: none">канадцами</span>.
 
<div class="gext_show"> <span>Она говорит по телефону с <b>канадцами</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

10. Город окружён   <input type="text"  value="поле" ><span class="gext_answer" style="display: none">полями</span>.
 
<div class="gext_show"> <span>Город окружён  <b>полями</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

11. Джон знакомится с <input type="text"  value="учитель" style="width: 80px;"><span class="gext_answer" style="display: none">учителями</span>.
 
<div class="gext_show"> <span>Джон знакомится с <b>учителями</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

12. Он хочет рисовать <input type="text"  value="краска" style="width: 75px;"><span class="gext_answer" style="display: none">красками</span>.
 
<div class="gext_show"> <span>Он хочет рисовать <b>красками</b>.</span> &nbsp;</div>

</div>



<p class="gext_check"><input type="button" class="gext_check_btn" value="Check answers" > <input type="button" value="Display answers" class="gext_answer_show"></p>

</div>


</div>
<div class="block-clb">
     <div class="block-crb">
    	  <div class="block-btm">
    		   </div>
    	  </div>
     </div>		
</div>



<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>






</div>
</div>

<script type="text/javascript">
currentSection="grammar";
</script>
