<% @page_title = 'Online Russian Grammar:  Nouns genitive exercises' %>
<% @page_meta = {'description' => "Russian online grammar exercises on the genitive case of nouns"} %>
<% @with_rec = true %>
<% @has_audio = true %>


<% content_for :special_js_css do %>
 <%= stylesheet_link_tag 'grammar-exercises' %>
 <%= javascript_include_tag 'grammar-exercises' %>
<% end %> 
 




<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Links and Settings</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
					<li><a href="russian-gender.html"> Gender in Russian</a></li>
    				<li><a href="russian-nouns-gender.html"> Gender of Russian nouns </a></li>
					<li><a href="additional.html"> Additional Information</a></li>
    		</ul>
	</div>
</div>
</div>



<h2 class="page">Nouns Gender</h2>

<div id="pagecontent"><div id="content">


<h3>Exercise I</h3>


<div class="block" >
				<div class="block-clt">
						<div class="block-crt">
							<div class="block-top"></div>
						</div>
				</div>
				<div class="block-center">
				
<div class="task">Choose the correct form of the following words:</div> 				

<div  class="gr_ex_from_list">

<div class="gr_ex_unit"> 


1. Это книга известного 
<select>
<option>писатель</option>
<option>писателю</option>
<option class="ok">писателя</option>
<option class="ok">писателе</option>
</select>
. 

</div>

<div class="gr_ex_unit"> 


2. У меня нет 
<select>
<option>паспорт</option>
<option class="ok">паспорта</option>
<option>паспорту</option>
<option>паспортом</option>
</select>
.  

</div>

<div class="gr_ex_unit"> 


3. Это компьютер 
<select>
<option>программист</option>
<option class="ok">программиста</option>
<option>программисте</option>
<option>программисту</option>
</select>
. 

</div>

<div class="gr_ex_unit"> 


4. В номере есть два
<select>
<option>кресло</option>
<option >кресел</option>
<option>креслу</option>
<option class="ok">кресла</option>
</select>
. 

</div>

<div class="gr_ex_unit"> 


5. В этом музее есть много красивых
<select>
<option>картина</option>
<option class="ok">картин</option>
<option>картины</option>
<option>картине</option>
</select>
. 

</div>



<div class="gr_ex_unit"> 


6. На столе три 
<select>
<option >яблоко</option>
<option>яблок</option>
<option  class="ok">яблока</option>
<option>яблоком</option>
</select>
.  

</div>

<div class="gr_ex_unit"> 


7. У меня есть десять 
<select>
<option>лимон</option>
<option>лимона</option>
<option  class="ok">лимонов</option>
<option>лимоном</option>
</select>
.  

</div>


<div class="gr_ex_unit"> 


8. Это центр 
<select>
<option>город</option>
<option  class="ok">города</option>
<option>городу</option>
<option>городе</option>
</select>
. 

</div>

<div class="gr_ex_unit"> 


9. Москва - столица  
<select>
<option >Россия</option>
<option>Россию</option>
<option>Россией</option>
<option  class="ok">России</option>
</select>
.  

</div>

<div class="gr_ex_unit"> 


10. У меня нет 
<select>
<option>проблема</option>
<option>проблему</option>
<option   class="ok">проблем</option>
<option>проблемой</option>
</select>
. 

</div>

<div class="gr_ex_unit"> 


11. Это журнал 
<select>
<option>студент</option>
<option>студенты</option>
<option>студентом</option>
<option  class="ok">студента</option>
</select>
. 

</div>

<div class="gr_ex_unit"> 


12. В России много 
<select>
<option>река</option>
<option  class="ok">рек</option>
<option>реки</option>
<option>реке</option>
</select>
. 

</div>


<p class="ex_from_list_check"><input type="button" value="Check answers" ></p>

</div>


</div>
<div class="block-clb">
     <div class="block-crb">
    	  <div class="block-btm">
    		   </div>
    	  </div>
     </div>		
</div>

<br/><br/><br/>

<h3>Exercise II </h3>

<div class="block" >
				<div class="block-clt">
						<div class="block-crt">
							<div class="block-top"></div>
						</div>
				</div>
				<div class="block-center">
				

<div class="task">Form the genitive singular forms of masculine nouns:</div>

<div  class="gr_ex_type">


<div class="gext_task gext_sign"> 

1.  У меня нет <input type="text"  value="телефон"  style="width: 80px;"> <span class="gext_answer" style="display: none">телефона</span>.
 
<div class="gext_show"><span>У меня нет <b>телефона</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

2. В этом городе четыре  <input type="text" size="6" value="музей"><span class="gext_answer" style="display: none">музея</span>.
 
<div class="gext_show"><span>В этом городе четыре  <b>музея</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

3. На этой улице нет <input type="text" size="6" value="театр"><span class="gext_answer" style="display: none">театра</span>.
 
<div class="gext_show"><span>На этой улице нет <b>театра</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

4. В этом городе нет <input type="text" size="6" value="отель"><span class="gext_answer" style="display: none">отеля</span>.
 
<div class="gext_show"><span> В этом городе нет <b>отеля</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

5. У меня нет <input type="text" size="6" value="журнал"><span class="gext_answer" style="display: none">журнала</span>.
 
<div class="gext_show"><span>У меня нет <b>журнала</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

6. У меня два <input type="text" size="6" value="словарь"><span class="gext_answer" style="display: none">словаря</span>.
 
<div class="gext_show"> <span>У меня два <b>словаря</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

7. В этом городе нет <input type="text" size="6" value="санаторий" style="width: 80px;" ><span class="gext_answer" style="display: none">санатория</span>.
 
<div class="gext_show"><span>В этом городе нет <b>санатория</b></span>. &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

8. У меня нет  <input type="text" size="6" value="чай"><span class="gext_answer" style="display: none">чая</span>.
 
<div class="gext_show"> <span>У меня нет <b>чая</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

9. У меня двадцать три   <input type="text" size="6" value="рубль"><span class="gext_answer" style="display: none">рубля</span>.
 
<div class="gext_show"> <span>У меня двадцать три <b>рубля</b>.</span> &nbsp;</div>

</div>

<p class="gext_check"><input type="button" class="gext_check_btn" value="Check answers" > <input type="button" value="Display answers" class="gext_answer_show"></p>

</div>


</div>
<div class="block-clb">
     <div class="block-crb">
    	  <div class="block-btm">
    		   </div>
    	  </div>
     </div>		
</div>


<br/><br/><br/>

<h3>Exercise III </h3>

<div class="block" >
				<div class="block-clt">
						<div class="block-crt">
							<div class="block-top"></div>
						</div>
				</div>
				<div class="block-center">
				

<div class="task">Form the genitive singular forms of feminine nouns:</div>

<div  class="gr_ex_type">


<div class="gext_task gext_sign"> 

1.  У меня нет  <input type="text" size="6" value="карта"><span class="gext_answer" style="display: none">карты</span>.
 
<div class="gext_show"><span>У меня нет <b>карты</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

2. У меня нет   <input type="text" value="книга"><span class="gext_answer" style="display: none">книги</span>.
 
<div class="gext_show"> <span>У меня нет <b>книги</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

3. У меня две   <input type="text" value="машина"><span class="gext_answer" style="display: none">машины</span>.
 
<div class="gext_show"> <span>У меня две <b>машины</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

4. В этом городе три  <input type="text" value="площадь" style="width: 65px;"><span class="gext_answer" style="display: none">площади</span>.
 
<div class="gext_show"><span>В этом городе три <b>площади</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

5. У меня нет  <input type="text" size="6" value="ручка"><span class="gext_answer" style="display: none">ручки</span>.
 
<div class="gext_show"><span> У меня нет <b>ручки</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

6. В этом номере нет  <input type="text" value="кровать"><span class="gext_answer" style="display: none">кровати</span>.
 
<div class="gext_show"><span>В этом номере нет <b>кровати</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

7. У меня три  <input type="text"  value="сестра"><span class="gext_answer" style="display: none">сестры</span>.
 
<div class="gext_show"> <span>У меня три <b>сестры</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

8. У  <input type="text" value="студентка" style="width: 80px;" ><span class="gext_answer" style="display: none">студентки</span> есть журнал.
 
<div class="gext_show"><span>У <b>студентки</b> есть журнал.</span>. &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

9. В этом городе две   <input type="text"  value="гостиница" style="width: 80px;"><span class="gext_answer" style="display: none">гостиницы</span>.
 
<div class="gext_show"> <span>В этом городе две <b>гостиницы</b>.</span> &nbsp;</div>

</div>



<p class="gext_check"><input type="button" class="gext_check_btn" value="Check answers" > <input type="button" value="Display answers" class="gext_answer_show"></p>

</div>


</div>
<div class="block-clb">
     <div class="block-crb">
    	  <div class="block-btm">
    		   </div>
    	  </div>
     </div>		
</div>


<br/><br/><br/>

<h3>Exercise IV </h3>

<div class="block" >
				<div class="block-clt">
						<div class="block-crt">
							<div class="block-top"></div>
						</div>
				</div>
				<div class="block-center">
				

<div class="task">Form the genitive singular forms of neuter nouns:</div>

<div  class="gr_ex_type">


<div class="gext_task gext_sign"> 

1.  У меня есть четыре   <input type="text" size="6" value="яблоко" ><span class="gext_answer" style="display: none">яблока</span>.
 
<div class="gext_show"><span> У меня есть четыре <b>яблока</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

2.  Нужно сделать три  <input type="text" value="упражнение"  style="width: 90px;"><span class="gext_answer" style="display: none">упражнения</span>.
 
<div class="gext_show"> <span> Нужно сделать три <b>упражнения</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

3. На этой улице два   <input type="text" value="здание"><span class="gext_answer" style="display: none">здания</span>.
 
<div class="gext_show"> <span>На этой улице два <b>здания</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

4. У меня нет   <input type="text" value="платье"><span class="gext_answer" style="display: none">платья</span>.
 
<div class="gext_show"><span>У меня нет <b>платья</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

5. На столе два   <input type="text" value="письмо"><span class="gext_answer" style="display: none">письма</span>.
 
<div class="gext_show"><span> На столе два <b>письма</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

6. Город находится на берегу   <input type="text" value="море"><span class="gext_answer" style="display: none">моря</span>.
 
<div class="gext_show"><span>Город находится на берегу <b>моря</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

7. В этой комнате три   <input type="text"  value="кресло"><span class="gext_answer" style="display: none">кресла</span>.
 
<div class="gext_show"> <span>В этой комнате три <b>кресла</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

8. В городе нет футбольного   <input type="text" value="поле" ><span class="gext_answer" style="display: none">поля</span>.
 
<div class="gext_show"><span>В городе нет футбольного <b>поля</b></span>. &nbsp;</div>

</div>


<p class="gext_check"><input type="button" class="gext_check_btn" value="Check answers" > <input type="button" value="Display answers" class="gext_answer_show"></p>

</div>


</div>
<div class="block-clb">
     <div class="block-crb">
    	  <div class="block-btm">
    		   </div>
    	  </div>
     </div>		
</div>



<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>









</div>
</div>

<script type="text/javascript">
currentSection="words";
</script>
