<% @page_title = 'Online Russian Grammar:  Exercises for prepositional forms of nouns ' %>
<% @page_meta = {'description' => "Russian online grammar exercises on the prepositional forms of nouns"} %>
<% @with_rec = true %>
<% @has_audio = true %>


<% content_for :special_js_css do %>
 <%= stylesheet_link_tag 'grammar-exercises' %>
 <%= javascript_include_tag 'grammar-exercises' %>
<% end %> 
 




<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Links and Settings</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
    				<li><a href="russian-prepositional-case.html"> Prepositional case of Russian nouns </a></li>
					<li><a href="additional.html"> Additional Information</a></li>
    		</ul>
	</div>
</div>
</div>



<h2 class="page">Prepositional case</h2>

<div id="pagecontent"><div id="content">


<h3>Exercise I</h3>


<div class="block" >
				<div class="block-clt">
						<div class="block-crt">
							<div class="block-top"></div>
						</div>
				</div>
				<div class="block-center">
				
<div class="task">Choose the prepositional case form of the following words:</div> 				

<div  class="gr_ex_from_list">

<div class="gr_ex_unit"> 


1. Мы говорим о  
<select>
<option>футбол</option>
<option>футбола</option>
<option>футболу</option>
<option class="ok">футболе</option>
</select>. 

</div>

<div class="gr_ex_unit"> 


2. Я учусь в  
<select>
<option>университет</option>
<option  class="ok">университете</option>
<option>университетов</option>
<option>университета</option>
</select>.  

</div>

<div class="gr_ex_unit"> 


3. Картина висит на   
<select>
<option>стена</option>
<option>стену</option>
<option  class="ok">стене</option>
<option>стеной</option>
</select>. 

</div>

<div class="gr_ex_unit"> 


4. Ваза стоит на 
<select>
<option>окно</option>
<option  class="ok">окне</option>
<option>окна</option>
<option>окну</option>
</select>. 

</div>

<div class="gr_ex_unit"> 

5. Пациенты лежат на 
<select>
<option>кровать</option>
<option  class="ok">кроватях</option>
<option  >кроватью</option>
<option>кроватям</option>
</select>.

</div>


<div class="gr_ex_unit"> 


6. Париж находится во   
<select>
<option>Франция</option>
<option >Францию</option>
<option>Францией</option>
<option  class="ok">Франции</option>
</select>. 

</div>

<div class="gr_ex_unit"> 


7. Лампа стоит на   
<select>
<option >стол</option>
<option>стола</option>
<option class="ok">столе</option>
<option>столом</option>
</select>.  

</div>

<div class="gr_ex_unit"> 


8.  Он думает о 
<select>
<option >работа</option>
<option   class="ok">работе</option>
<option>работой</option>
<option>работы</option>
</select>.

</div>

<div class="gr_ex_unit"> 

9. Студентка спрашивает об  
<select>
<option>упражнение</option>
<option>упражнения</option>
<option  class="ok">упражнениях</option>
<option>упражнениям</option>
</select>. 

</div>

<div class="gr_ex_unit"> 

10. Он отдыхает в  
<select>
<option>Германия</option>
<option>Германию</option>
<option  class="ok">Германии</option>
<option>Германией</option>
</select>. 

</div>

<div class="gr_ex_unit"> 

11. Я живу в   
<select>
<option >Москва</option>
<option  class="ok">Москве</option>
<option>Москву</option>
<option>Москвы</option>
</select>. 

</div>

<div class="gr_ex_unit"> 

12. Дети гуляют в 
<select>
<option>парк</option>
<option>парка</option>
<option  class="ok">парке</option>
<option>парком</option>
</select>. 

</div>

<p class="ex_from_list_check"><input type="button" value="Check answers" ></p>

</div>


</div>
<div class="block-clb">
     <div class="block-crb">
    	  <div class="block-btm">
    		   </div>
    	  </div>
     </div>		
</div>




<br/><br/><br/>

<h3>Exercise II </h3>

<div class="block" >
				<div class="block-clt">
						<div class="block-crt">
							<div class="block-top"></div>
						</div>
				</div>
				<div class="block-center">
				

<div class="task">Form the prepositional singular of nouns:</div>

<div  class="gr_ex_type">

<div class="exer_part"> a) <strong>Mаsculine nouns</strong> </div>

<div class="gext_task gext_sign"> 

1.  Ольга спрашивает об  <input type="text"  value="урок" ><span class="gext_answer" style="display: none">уроке</span>.
 
<div class="gext_show"><span>Ольга спрашивает об <b>уроке</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

2. Мой друг сейчас в <input type="text" value="парк"><span class="gext_answer" style="display: none">парке</span>.
 
<div class="gext_show"><span>Мой друг сейчас в <b>парке</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

3. Китай находится на  <input type="text" value="восток"><span class="gext_answer" style="display: none">востоке</span>.
 
<div class="gext_show"><span>Китай находится на <b>востоке</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

4. Джон работает на   <input type="text" value="завод"><span class="gext_answer" style="display: none">заводе</span>.
 
<div class="gext_show"><span> Джон работает на  <b>заводе</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

5. Ваза стоит на  <input type="text" value="стол"><span class="gext_answer" style="display: none">столе</span>.
 
<div class="gext_show"><span>Ваза стоит на <b>столе</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

6. Мы говорим о  <input type="text" value="фильм"><span class="gext_answer" style="display: none">фильме</span>.
 
<div class="gext_show"><span>Мы говорим о <b>фильме</b>.</span> &nbsp;</div>

</div>

<div class="exer_part"> b) <strong>Feminine nouns</strong> </div>

<div class="gext_task gext_sign"> 

1.  Дети играют в   <input type="text"  value="комната" style="width: 70px;"><span class="gext_answer" style="display: none">комнате</span>.
 
<div class="gext_show"><span>Дети играют в  <b>комнате</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

2. Они разговаривают о  <input type="text" value="музыка"><span class="gext_answer" style="display: none">музыке</span>.
 
<div class="gext_show"><span> Они разговаривают о <b>музыке</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

3. Турист спрашивает об <input type="text" value="экскурсия" style="width: 80px;"><span class="gext_answer" style="display: none">экскурсии</span>.
 
<div class="gext_show"><span>Турист спрашивает об <b>экскурсии</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

4. Мой брат учится в    <input type="text" value="Бельгия"><span class="gext_answer" style="display: none">Бельгии</span>.
 
<div class="gext_show"><span> Мой брат учится в  <b>Бельгии</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

5. Он рассказывает об  <input type="text" value="игра"><span class="gext_answer" style="display: none">игре</span>.
 
<div class="gext_show"><span>Он рассказывает об <b>игре</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

6. Памятник находится на   <input type="text" value="площадь"  style="width: 70px;"><span class="gext_answer" style="display: none">площади</span>.
 
<div class="gext_show"><span>Памятник находится на  <b>площади</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

7. Токио находится в  <input type="text" value="Япония"><span class="gext_answer" style="display: none">Японии</span>.
 
<div class="gext_show"><span> Токио находится в  <b>Японии</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

8. Ученик пишет в  <input type="text" value="тетрадь" style="width: 65px;"><span class="gext_answer" style="display: none">тетради</span>.
 
<div class="gext_show"><span>Ученик пишет в <b>тетради</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

9. Книга лежит на <input type="text" value="полка"><span class="gext_answer" style="display: none">полке</span>.
 
<div class="gext_show"><span>Книга лежит на <b>полке</b>.</span> &nbsp;</div>

</div>

<div class="exer_part"> с) <strong>Neuter nouns</strong> </div>

<div class="gext_task gext_sign"> 

1. Цветы стоят на   <input type="text"  value="окно" style="width: 70px;"><span class="gext_answer" style="display: none">окне</span>.
 
<div class="gext_show"><span>Цветы стоят на <b>окне</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

2. Она рассказывает о <input type="text" value="платье"><span class="gext_answer" style="display: none">платье</span>.
 
<div class="gext_show"><span>Она рассказывает о <b>платье</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

3. Он мечтает о <input type="text" value="море"><span class="gext_answer" style="display: none">море</span>.
 
<div class="gext_show"><span>Он мечтает о <b>море</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

4. Он говорит о <input type="text" value="путешествие"  style="width: 95px;"><span class="gext_answer" style="display: none">путешествии</span>.
 
<div class="gext_show"><span>Он говорит о <b>путешествии</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

5. Цветы растут на <input type="text" value="поле"><span class="gext_answer" style="display: none">поле</span>.
 
<div class="gext_show"><span>Цветы растут на <b>поле</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

6.  Банк находится в этом <input type="text" value="здание"><span class="gext_answer" style="display: none">здании</span>.
 
<div class="gext_show"><span>Банк находится в этом <b>здании</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

7. Она думает об <input type="text" value="упражнение" style="width: 95px;"><span class="gext_answer" style="display: none">упражнении</span>.
 
<div class="gext_show"><span>Она думает об <b>упражнении</b>.</span> &nbsp;</div>

</div>


<p class="gext_check"><input type="button" class="gext_check_btn" value="Check answers" > <input type="button" value="Display answers" class="gext_answer_show"></p>

</div>


</div>
<div class="block-clb">
     <div class="block-crb">
    	  <div class="block-btm">
    		   </div>
    	  </div>
     </div>		
</div>


<br/><br/><br/>



<h3>Exercise III </h3>

<div class="block" >
				<div class="block-clt">
						<div class="block-crt">
							<div class="block-top"></div>
						</div>
				</div>
				<div class="block-center">
				

<div class="task">Form the prepositional singular of nouns. Determine the cases where the ending -у is required (locative case):</div>

<div  class="gr_ex_type">


<div class="gext_task gext_sign"> 

1.   Они гуляют в  <input type="text" value="лес"><span class="gext_answer" style="display: none">лесу</span>.
 
<div class="gext_show"><span>Они гуляют в <b>лесу</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

2. Машина стоит на <input type="text" value="мост"><span class="gext_answer" style="display: none">мосту</span>.
 
<div class="gext_show"> <span>Машина стоит на <b>мосту</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

3. Она пишет о  <input type="text" value="сад"><span class="gext_answer" style="display: none">саде</span>.
 
<div class="gext_show"> <span>Она пишет о <b>саде</b>.</span> &nbsp;</div>

</div>


<div class="gext_task gext_sign"> 

4. Ковёр лежит на <input type="text" value="пол"><span class="gext_answer" style="display: none">полу</span>.
 
<div class="gext_show"><span>Ковёр лежит на <b>полу</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

5. Он спрашивает о <input type="text"  value="мост"><span class="gext_answer" style="display: none">мосте</span>.
 
<div class="gext_show"> <span>Он спрашивает о <b>мосте</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

6. Стол стоит в <input type="text" value="угол"><span class="gext_answer" style="display: none">углу</span>. 
 
<div class="gext_show"><span>Стол стоит в <b>углу</b></span>. &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

7. Том рассказывает о <input type="text"  value="шкаф"><span class="gext_answer" style="display: none">шкафе</span>.
 
<div class="gext_show"> <span>Том рассказывает о <b>шкафе</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

8. Она рассказывает о  <input type="text"  value="лес"><span class="gext_answer" style="display: none">лесе</span>.
 
<div class="gext_show"> <span>Она рассказывает о <b>лесе</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

9. Дети играют в  <input type="text"  value="сад"><span class="gext_answer" style="display: none">саду</span>.
 
<div class="gext_show"> <span>Дети играют в <b>саду</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

10. Пальто висит в  <input type="text"  value="шкаф"><span class="gext_answer" style="display: none">шкафу</span>.
 
<div class="gext_show"> <span>Пальто висит в <b>шкафу</b>.</span> &nbsp;</div>

</div>



<p class="gext_check"><input type="button" class="gext_check_btn" value="Check answers" > <input type="button" value="Display answers" class="gext_answer_show"></p>

</div>


</div>
<div class="block-clb">
     <div class="block-crb">
    	  <div class="block-btm">
    		   </div>
    	  </div>
     </div>		
</div>


<br/><br/><br/>



<h3>Exercise IV </h3>

<div class="block" >
				<div class="block-clt">
						<div class="block-crt">
							<div class="block-top"></div>
						</div>
				</div>
				<div class="block-center">
				

<div class="task">Form the prepositional plural of nouns:</div>

<div  class="gr_ex_type">


<div class="gext_task gext_sign"> 

1.  Они спрашивают о  <input type="text" value="правило" style="width: 70px;"><span class="gext_answer" style="display: none">правилах</span>
 
<div class="gext_show"><span>Они спрашивают о  <b>правилах</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

2.  Турист рассказывает о  <input type="text" value="музей" ><span class="gext_answer" style="display: none">музеях</span>.
 
<div class="gext_show"> <span>Турист рассказывает о <b>музеях</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

3. Цветы стоят на <input type="text" value="окно" ><span class="gext_answer" style="display: none">окнах</span>.
 
<div class="gext_show"> <span>Цветы стоят на <b>окнах</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

4. Она спрашивает о <input type="text" value="магазин" style="width: 80px;"><span class="gext_answer" style="display: none">магазинах</span>.
 
<div class="gext_show"><span>Она спрашивает о  <b>магазинах</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

5. Пациенты лежат на <input type="text" value="кровать" style="width: 70px;"><span class="gext_answer" style="display: none">кроватях</span>.
 
<div class="gext_show"><span>Пациенты лежат на <b>кроватях</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

6. Он говорит о <input type="text" value="программист" style="width: 110px;"><span class="gext_answer" style="display: none">программистах</span>.
 
<div class="gext_show"><span>Он говорит о <b>программистах</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

7. Студентки говорят о <input type="text"  value="платье"><span class="gext_answer" style="display: none">платьях</span>.
 
<div class="gext_show"> <span>Студентки говорят о  <b>платьях</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

8. Она мечтает о <input type="text"  value="путешествие" style="width: 100px;"><span class="gext_answer" style="display: none">путешествиях</span>.
 
<div class="gext_show"> <span>Она мечтает о <b>путешествиях</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

9. Мы читаем о <input type="text"  value="корабль" style="width: 70px;"><span class="gext_answer" style="display: none">кораблях</span>.
 
<div class="gext_show"> <span> Мы читаем о <b>кораблях</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

10. Он пишет о <input type="text"  value="студент" style="width: 80px;"><span class="gext_answer" style="display: none">студентах</span>.
 
<div class="gext_show"> <span>Он пишет о <b>студентах</b>.</span> &nbsp;</div>

</div>



<p class="gext_check"><input type="button" class="gext_check_btn" value="Check answers" > <input type="button" value="Display answers" class="gext_answer_show"></p>

</div>


</div>
<div class="block-clb">
     <div class="block-crb">
    	  <div class="block-btm">
    		   </div>
    	  </div>
     </div>		
</div>



<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>









</div>
</div>

<script type="text/javascript">
currentSection="words";
</script>
