<% @page_title = 'Online Russian Vocabulary: Cardinal and ordinal numerals' %>
<% @page_meta = {'description' => "Russian online vocabulary:  list of available topics on the site related to Russian numerals"} %>

<h2 class="page">Cardinal and ordinal numerals</h2>
<p> There are the following topics related to the numerals: </p>
<h3>Content:</h3>
<div  class="secondary-list">
	<p><a href="numerals00-100.html" title="Cardinal numerals from 0 to 100">1. Cardinal numerals from 0 to 100</a></p>
    <p><a href="numerals100.html" title="Cardinal numerals more than 100">2. Cardinal numerals more than 100</a></p>
    <p><a href="/en/ru/vocabulary/ordinal_numerals" title="Ordinal numerals">3. Ordinal numerals</a></p>
</div>



<script type="text/javascript">
currentSection="words";
</script>
