<% @page_title = 'Online Russian Vocabulary: Numerals from 0 to 100' %>
<% @page_meta = {'description' => "Russian online vocabulary for learning Russian numerals from 0 to 100"} %>
<% @with_rec = true %>
<% @has_audio = true %>
<% content_for :special_js_css do %>
<style type="text/css">
h2.page {margin-bottom: 0px;}
</style>
<% end %>
<div class="hint_wrap">
<div class="hint_button" style="float: right;">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Links and Settings</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
     				<li><a href="numerals00-100-test.html"> Tests: Numerals</a></li>
    		</ul>     				
        <%= render :partial => 'colorder_accent' %>
	</div>
</div>
</div>



<h2 class="page">Numerals (part 1)</h2>
<h3 class="page-path"> 
<span class="int-links"><a href="/vocabulary.html">Vocabulary</a> <span class="int-arrow">--></span> Numerals from 0 to 100</span>
</h3>

<div id="pagecontent"><div id="content">

<div class="dict_wrapper">

<div class="voc-wordlist">
<table class="voc_bord" align="center" cellspacing="0">
<tr>
<td>

<table class="diction" cellpadding="0" cellspacing="0" align="center" width="500">
<col width="33%"><col width="34%"><col width="33%">
<thead>
<tr>
	<td></td>
	<td></td>
	<td></td>
</tr>
</thead>
<tbody>
	<tr class="trow">
		<td class="original" valign="top">ноль
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('num00000.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[n<span class="acct">o</span><span class="sftc">l</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">0
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">од<span class="acco">и</span>н
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('num00001.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[ad<span class="acct">i</span>n]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">1
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">два
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('num00002.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[dv<span class="acct">a</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">2
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">три
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('num00003.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[tr<span class="acct">i</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">3
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">чет<span class="acco">ы</span>ре
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('num00004.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[chit<span class="acct"><span class="ry">i</span></span>ri]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">4
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">пять
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('num00005.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[py<span class="acct">a</span><span class="sftc">t</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">5
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">шесть
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('num00006.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[sh<span class="acct">e</span><span class="sftc">s</span><span class="sftc">t</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">6
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">семь
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('num00007.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[sy<span class="acct">e</span><span class="sftc">m</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">7
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">в<span class="acco">о</span>семь
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('num00008.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[v<span class="acct">o</span>si<span class="sftc">m</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">8
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">д<span class="acco">е</span>вять
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('num00009.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[<span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span>vi<span class="sftc">t</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">9
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">&nbsp;
		</td>
		<td class="transcript" valign="top">&nbsp;
		</td>
		<td class="translation" valign="top">&nbsp;
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">д<span class="acco">е</span>сять
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('num00010.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[<span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span>si<span class="sftc">t</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">10
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">од<span class="acco">и</span>надцать
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('num00011.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[ad<span class="acct">i</span>natsa<span class="sftc">t</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">11
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">двен<span class="acct">а</span>дцать
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('num00012.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[dvin<span class="acct">a</span>tsa<span class="sftc">t</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">12
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">трин<span class="acco">а</span>дцать
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('num00013.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[trin<span class="acct">a</span>tsa<span class="sftc">t</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">13
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">чет<span class="acco">ы</span>рнадцать
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('num00014.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[chit<span class="acct"><span class="ry">i</span></span>rnatsa<span class="sftc">t</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">14
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">пятн<span class="acco">а</span>дцать
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('num00015.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[pitn<span class="acct">a</span>tsa<span class="sftc">t</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">15
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">шестн<span class="acco">а</span>дцать
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('num00016.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[sh<span class="ry">i</span>sn<span class="acct">a</span>tsa<span class="sftc">t</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">16
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">семн<span class="acco">а</span>дцать
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('num00017.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[simn<span class="acct">a</span>tsa<span class="sftc">t</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">17
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">восемн<span class="acco">а</span>дцать
		<td class="transcript" valign="top">
			<table onclick="playSound('num00018.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[vasimn<span class="acct">a</span>tsa<span class="sftc">t</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">18
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">девятн<span class="acco">а</span>дцать
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('num00019.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[divitn<span class="acct">a</span>tsa<span class="sftc">t</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">19
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">&nbsp;
		</td>
		<td class="transcript" valign="top">&nbsp;
		</td>
		<td class="translation" valign="top">&nbsp;
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">дв<span class="acco">а</span>дцать
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('num00020.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[dv<span class="acct">a</span>tsa<span class="sftc">t</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">20
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">тр<span class="acco">и</span>дцать
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('num00030.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[tr<span class="acct">i</span>tsa<span class="sftc">t</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">30
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">с<span class="acco">о</span>рок
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('num00040.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[s<span class="acct">o</span>rak]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">40
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">пятьдес<span class="acco">я</span>т
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('num00050.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[piddi<span class="sftv">s</span><span class="sfty">y</span><span class="acct">a</span>t]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">50
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">шестьдес<span class="acco">я</span>т
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('num00060.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[sh<span class="ry">i</span><span class="sftc">z</span>di<span class="sftv">s</span><span class="sfty">y</span><span class="acct">a</span>t]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">60
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">с<span class="acco">е</span>мьдесят
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('num00070.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[<span class="sftv">s</span><span class="sfty">y</span><span class="acct">e</span>mdi<span class="sftv">s</span><span class="sfty">y</span>at]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">70
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">в<span class="acco">о</span>семьдесят
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('num00080.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[v<span class="acct">o</span>simdi<span class="sftv">s</span><span class="sfty">y</span>at]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">80
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">девян<span class="acco">о</span>сто
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('num00090.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[divin<span class="acct">o</span>sta]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">90
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">сто
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('num00100.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[st<span class="acct">o</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">100
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">&nbsp;
		</td>
		<td class="transcript" valign="top">&nbsp;
		</td>
		<td class="translation" valign="top">&nbsp;
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">дв<span class="acco">а</span>дцать од<span class="acco">и</span>н
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('num00021.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[dv<span class="acct">a</span>tsa<span class="sftc">t</span> ad<span class="acct">i</span>n]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">21
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">тр<span class="acco">и</span>дцать два
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('num00032.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[tr<span class="acct">i</span>tsa<span class="sftc">t</span> dv<span class="acct">a</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">32
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">пятьдес<span class="acco">я</span>т шесть
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('num00056.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[piddi<span class="sftv">s</span><span class="sfty">y</span><span class="acct">a</span>t sh<span class="acct">e</span><span class="sftc">s</span><span class="sftc">t</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">56
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">девян<span class="acco">о</span>сто д<span class="acco">е</span>вять
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('num00099.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[divin<span class="acct">o</span>sta <span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span>vi<span class="sftc">t</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">99
		</td>
	</tr>
</tbody>
<tfoot>
<tr>
	<td></td>
	<td></td>
	<td></td>
</tr>
</tfoot>  
</table>

</td>
</tr>
</table>
</div><!-- end of voc-wordlist-->

</div>
	
<table class="voc-links voc-link-first " align="center" cellspacing="0"><tr>
	<td class="voc-space">Learn these words and expressions with our &nbsp;<a href="numerals00-100-flashcards.html">Flashcards >></a></td>
</tr></table>
<table class="voc-links voc-link-last" align="center" cellspacing="0"><tr>
	<td class="voc-space">Check how you know this topic with our &nbsp;<a href="numerals00-100-test.html">Lexical tests >></a></td>
</tr></table>

</div>
</div>

<script type="text/javascript">
currentSection="words";
</script>	

