<% @page_title = 'Online Russian Vocabulary: Numerals from 100' %>
<% @page_meta = {'description' => "Russian online vocabulary for learning Russian numerals from 100"} %>
<% @with_rec = true %>
<% @has_audio = true %>
<% content_for :special_js_css do %>
<style type="text/css">
h2.page {margin-bottom: 0px;}
</style>
<% end %>
<div class="hint_wrap">
<div class="hint_button" style="float: right;">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Links and Settings</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
     				<li><a href="numerals100-test.html"> Tests: Numerals</a></li>
    		</ul>     				
        <%= render :partial => 'colorder_accent' %>
	</div>
</div>
</div>



<h2 class="page">Numerals (part 2)</h2>
<h3 class="page-path"> 
<span class="int-links"><a href="/vocabulary.html">Vocabulary</a> <span class="int-arrow">--></span> Numerals higher than 100</span>
</h3>
<div id="pagecontent"><div id="content">


<div class="dict_wrapper">

<div class="voc-wordlist">
<table class="voc_bord" align="center" cellspacing="0">
<tr>
<td>

<table class="diction" cellpadding="0" cellspacing="0" align="center">
<thead>
<tr>
	<td></td>
	<td></td>
	<td></td>
</tr>
</thead>
<tbody>
	<tr class="trow">
		<td class="original" valign="top">сто
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('num00100.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[st<span class="acct">o</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">100
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">дв<span class="acco">е</span>сти
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('num00200.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[d<span class="sftv">v</span><span class="sfty">y</span><span class="acct">e</span><span class="sftc">s</span>ti]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">200
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">тр<span class="acco">и</span>ста
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('num00300.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[tr<span class="acct">i</span>sta]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">300
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">чет<span class="acco">ы</span>реста
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('num00400.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[chit<span class="acct"><span class="ry">i</span></span>rista] 
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">400
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">пятьс<span class="acco">о</span>т
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('num00500.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[pits<span class="acct">o</span>t]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">500
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">шестьс<span class="acco">о</span>т
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('num00600.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[sh<span class="ry">i</span>ss<span class="acct">o</span>t]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">600
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">семьс<span class="acco">о</span>т
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('num00700.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[sims<span class="acct">o</span>t]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">700
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">весемьс<span class="acco">о</span>т
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('num00800.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[vasims<span class="acct">o</span>t]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">800
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">девятьс<span class="acco">о</span>т
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('num00900.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[divits<span class="acct">o</span>t] 
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">900
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">т<span class="acco">ы</span>сяча
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('num01000.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[t<span class="acct"><span class="ry">i</span></span>sicha]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">1000
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">&nbsp;
		</td>
		<td class="transcript" valign="top">&nbsp;
		</td>
		<td class="translation" valign="top">&nbsp;
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">две т<span class="acco">ы</span>сячи
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('num02000.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[d<span class="sftv">v</span><span class="sfty">y</span><span class="acct">e</span> t<span class="acct"><span class="ry">i</span></span>sichi]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">2000
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">три т<span class="acco">ы</span>сячи
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('num03000.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[tr<span class="acct">i</span> t<span class="acct"><span class="ry">i</span></span>sichi]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">3000
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">чет<span class="acco">ы</span>ре т<span class="acco">ы</span>сячи
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('num04000.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[chit<span class="acct">i</span>ri t<span class="acct"><span class="ry">i</span></span>sichi]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">4000
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">пять т<span class="acco">ы</span>сяч
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('num05000.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[<span class="sftv">p</span><span class="sfty">y</span><span class="acct">a</span><span class="sftc">t</span> t<span class="acct"><span class="ry">i</span></span>sich]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">5000
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">шесть т<span class="acco">ы</span>сяч
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('num06000.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[sh<span class="acct">e</span><span class="sftc">s</span><span class="sftc">t</span> t<span class="acct"><span class="ry">i</span></span>sich]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">6000
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">семь т<span class="acco">ы</span>сяч
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('num07000.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[<span class="sftv">s</span><span class="sfty">y</span><span class="acct">e</span><span class="sftc">m</span> t<span class="acct"><span class="ry">i</span></span>sich]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">7000
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">в<span class="acco">о</span>семь т<span class="acco">ы</span>сяч
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('num08000.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[v<span class="acct">o</span>si<span class="sftc">m</span> t<span class="acct"><span class="ry">i</span></span>sich]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">8000
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">д<span class="acco">е</span>вять т<span class="acco">ы</span>сяч
		<td class="transcript" valign="top">
			<table onclick="playSound('num09000.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[<span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span>vi<span class="sftc">t</span> t<span class="acct"><span class="ry">i</span></span>sich]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">9000
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">д<span class="acco">е</span>сять т<span class="acco">ы</span>сяч
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('num10000.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[<span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span>si<span class="sftc">t</span> t<span class="acct"><span class="ry">i</span></span>sich]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">10 000
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">&nbsp;
		</td>
		<td class="transcript" valign="top">&nbsp;
		</td>
		<td class="translation" valign="top">&nbsp;
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">сто т<span class="acco">ы</span>сяч
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('num100000.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[st<span class="acct">o</span> t<span class="acct"><span class="ry">i</span></span>sich]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">100 000
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">пятьс<span class="acco">о</span>т т<span class="acco">ы</span>сяч
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('num500000.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[pits<span class="acct">o</span>t t<span class="acct"><span class="ry">i</span></span>sich]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">500 000
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">милли<span class="acco">о</span>н
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('num1000000.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[mili<span class="acct">o</span>n]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">1 000 000
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">милли<span class="acco">а</span>рд
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('num11000000.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[mili<span class="acct">a</span>rt]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">1 000 000 000
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">&nbsp;
		</td>
		<td class="transcript" valign="top">&nbsp;
		</td>
		<td class="translation" valign="top">&nbsp;
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">чет<span class="acco">ы</span>ре т<span class="acco">ы</span>сячи пятьс<span class="acco">о</span>т
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('num04500.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[chit<span class="acct"><span class="ry">i</span></span>ri t<span class="acct"><span class="ry">i</span></span>sichi pits<span class="acct">o</span>t]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">4500
		</td>
	</tr>

	<tr class="trow">
		<td class="original" valign="top">дв<span class="acco">а</span>дцать семь т<span class="acco">ы</span>сяч тр<span class="acco">и</span>ста
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('num27300.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[dv<span class="acct">a</span>tsa<span class="sftc">t</span> <span class="sftv">s</span><span class="sfty">y</span><span class="acct">e</span><span class="sftc">m</span> t<span class="acct"><span class="ry">i</span></span>sich tr<span class="acct">i</span>sta]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">27 300
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">пятьдес<span class="acco">я</span>т т<span class="acco">ы</span>сяч
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('num50000.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[piddi<span class="sftv">s</span><span class="sfty">y</span><span class="acct">a</span>t t<span class="acct"><span class="ry">i</span></span>sich]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">50 000
		</td>
	</tr>
</tbody>
<tfoot>
<tr>
	<td></td>
	<td></td>
	<td></td>
</tr>
</tfoot>  
</table>

</td>
</tr>
</table>
</div><!-- end of voc-wordlist-->

</div>

<table class="voc-links voc-link-first " align="center" cellspacing="0"><tr>
	<td class="voc-space">Learn these words and expressions with our &nbsp;<a href="numerals100-flashcards.html">Flashcards >></a></td>
</tr></table>
<table class="voc-links voc-link-last" align="center" cellspacing="0"><tr>
	<td class="voc-space">Check how you know this topic with our &nbsp;<a href="numerals100-test.html">Lexical tests >></a></td>
</tr></table>

</div>
</div>

<script type="text/javascript">
currentSection="words";
</script>


