<% @page_title = 'Study-Languages-Online.com: Sitemap' %>
<% @page_meta = {'description' => "Sitemap of Study-Languages-Online website"} %>

<% content_for :special_css do %>
ul.voc_test {
list-style: none;
}

ul.no_list {
list-style: none;
}

<% end %>

<h2 class="page">Other pages</h2>
<p> Here you can find some pages related to our website: </p>
<h3>Content:</h3>
<div  class="secondary-list">
  <p><a href="functions.html" title="Functions and Settings">Functions and Settings</a></p>
  <p><a href="test-use.html" title="How to use tests">How to use tests</a></p>
  <p><a href="projects.html" title="Projects">Projects</a></p>
  <p><a href="sitemap.html" title="Sitemap">Sitemap</a></p>
</div>
