<% @page_title = 'Online Russian Vocabulary: Parts of Human Body' %>
<% @page_meta = {'description' => "Russian online vocabulary for learning words and phrases related to the topic Parts of Human Body"} %>
<% @with_rec = true %>
<% @has_audio = true %>
<% content_for :special_js_css do %>
<style type="text/css">
h2.page {margin-bottom: 0px;}
</style>
<% end %>
<div class="hint_wrap">
<div class="hint_button">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <!-- li><a href="parts-of-body-flashcards.html"> Flashcards: Parts of Human Body</a></li>
            <li><a href="parts-of-body-test.html"> Tests: Parts of Human Body</a></li -->
        </ul>
        <%= render :partial => 'colorder_accent' %> 
  </div>
</div>
</div>



<h2 class="page">Parts of Human Body</h2>
<h3 class="page-path"> 
<span class="int-links"><a href="/vocabulary.html">Vocabulary</a> <span class="int-arrow">--></span> Parts of Human Body</span>
</h3>

<div id="pagecontent"><div id="content">

<div class="dict_wrapper">

<div class="voc-wordlist">
<table class="voc_bord" align="center" cellspacing="0">
<tr>
<td>

<table class="diction" cellpadding="0" cellspacing="0" align="center">
<thead>
<tr>
	<td></td>
	<td></td>
	<td></td>
</tr>
</thead>
<tbody>
	<tr class="trow">
		<td class="original" valign="top">Бедр<span class="acco">о</span>
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound12101.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">

				<tr>
					<td>[bidr<span class="acct">o</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>

		</td>
		<td class="translation" valign="top">Thigh
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Глаз
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound12102.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>

					<td>[gl<span class="acct">a</span>s]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>

		<td class="translation" valign="top">Eye
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Голов<span class="acco">а</span>
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound12103.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">

				<tr>
					<td>[galav<span class="acct">a</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>

		</td>
		<td class="translation" valign="top">Head
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Г<span class="acco">о</span>рло
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound12104.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">

				<tr>
					<td>[g<span class="acct">o</span>rla]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>

		</td>
		<td class="translation" valign="top">Throat
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Грудь
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound12105.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>

					<td>[gr<span class="acct">oo</span><span class="sftc">t</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>

		<td class="translation" valign="top">Chest, breast 
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Жив<span class="acco">о</span>т
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound12106.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>

					<td>[j<span class="ry">i</span>v<span class="acct">o</span>t]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>

		</td>
		<td class="translation" valign="top">Belly
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Зуб
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound12107.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>

					<td>[z<span class="acct">oo</span>p]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>

		<td class="translation" valign="top">Tooth
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Кисть
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound12108.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[k<span class="acct">i</span><span class="sftc">s</span><span class="sftc">t</span>]
					</td>

					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Hand
		</td>
	</tr>

	<tr class="trow">
		<td class="original" valign="top">Кол<span class="acco">е</span>но
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound12109.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[ka<span class="sftv">l</span><span class="sfty">y</span><span class="acct">e</span>na]
					</td>

					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Knee
		</td>
	</tr>

	<tr class="trow">
		<td class="original" valign="top">Лоб
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound12110.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[l<span class="acct">o</span>p]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>

					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Forehead
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Л<span class="acco">о</span>коть
		</td>

		<td class="transcript" valign="top">
			<table onclick="playSound('sound12111.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[l<span class="acct">o</span>ka<span class="sftc">t</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>

					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Elbow
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Ног<span class="acco">а</span>

		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound12112.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[nag<span class="acct">a</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>

					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Leg
		</td>
	</tr>
		<tr class="trow">
		<td class="original" valign="top">Нос
		</td>

		<td class="transcript" valign="top">
			<table onclick="playSound('sound12113.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[n<span class="acct">o</span>s]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>

				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Nose
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">П<span class="acco">а</span>лец рук<span class="acco">и</span>

		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound12114.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[p<span class="acct">a</span>lits rook<span class="acct">i</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>

					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Finger
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">П<span class="acco">а</span>лец ног<span class="acco">и</span>

		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound12115.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[p<span class="acct">a</span>lits nag<span class="acct">i</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>

					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Toe
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Плеч<span class="acco">о</span>

		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound12116.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[plich<span class="acct">o</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>

					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Shoulder
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Рот
		</td>

		<td class="transcript" valign="top">
			<table onclick="playSound('sound12117.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[r<span class="acct">o</span>t]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>

				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Mouth
		</td>
	</tr>
		<tr class="trow">
		<td class="original" valign="top">Рук<span class="acco">а</span> 
		</td>

		<td class="transcript" valign="top">
			<table onclick="playSound('sound12118.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[rook<span class="acco">a</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>

				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Arm
		</td>
	</tr>
		<tr class="trow">
		<td class="original" valign="top">Спин<span class="acco">а</span>

		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound12119.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[spin<span class="acct">a</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>

					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Back
		</td>
	</tr>
		<tr class="trow">
		<td class="original" valign="top">Ступн<span class="acco">я</span>

		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound12120.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[stoop<span class="sftv">n</span><span class="sfty">y</span><span class="acct">a</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>

					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Foot
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top"><span class="acco">У</span>хо
		</td>

		<td class="transcript" valign="top">
			<table onclick="playSound('sound12121.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[<span class="acct">oo</span>ha]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>

				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Ear
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Ш<span class="acco">е</span><i></i>я
		</td>

		<td class="transcript" valign="top">
			<table onclick="playSound('sound12122.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[sh<span class="acct">e</span>ya]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>

				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Neck
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Щек<span class="acco">а</span>

		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound12123.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[schik<span class="acct">a</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>

					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Cheek
		</td>
	</tr>
	<!--tr class="trow">
		<td class="original" valign="top">Ягодица
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound12124.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[yigaditsa]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Buttock
		</td>
	</tr -->
	<tr class="trow">

		<td class="original" valign="top">Яз<span class="acco">ы</span>к
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound12125.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[yiz<span class="acct"><span class="ry">i</span></span>k]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>

					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Tongue
		</td>
	</tr>
	
</tbody>
<tfoot>
<tr>
	<td></td>
	<td></td>
	<td></td>
</tr>
</tfoot>  
</table>

</td>
</tr>
</table>
</div><!-- end of voc-wordlist-->

</div>

<!-- table class="voc-links voc-link-first " align="center" cellspacing="0"><tr>
	<td class="voc-space">Learn these words and expressions with our &nbsp;<a href="parts-of-body-flashcards.html">Flashcards >></a></td>
</tr></table>
<table class="voc-links voc-link-last" align="center" cellspacing="0"><tr>
	<td class="voc-space">Check how you know this topic with our &nbsp;<a href="parts-of-body-test.html">Lexical tests >></a></td>
</tr></table -->
<br><br><br><br><br><br><br><br><br><br>
</div>
</div>

<script type="text/javascript">
currentSection="words";
</script>