<% @page_title = 'Online Russian Vocabulary: Perfumery' %>
<% @page_meta = {'description' => "Russian online vocabulary for learning words and phrases related to the topic Perfumery"} %>
<% @with_rec = true %>
<% @has_audio = true %>
<% content_for :special_js_css do %>
<style type="text/css">
h2.page {margin-bottom: 0px;}
</style>
<% end %>
<div class="hint_wrap">
<div class="hint_button">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <li><a href="perfumery-flashcards.html"> Flashcards: Perfumery</a></li>
            <li><a href="perfumery-test.html"> Tests: Perfumery</a></li>
        </ul>
        <%= render :partial => 'colorder_accent' %> 
  </div>
</div>
</div>



<h2 class="page">Perfumery</h2>
<h3 class="page-path"> 
<span class="int-links"><a href="/vocabulary.html">Vocabulary</a> <span class="int-arrow">--></span> Perfumery</span>
</h3>

<div id="pagecontent"><div id="content">

<div class="dict_wrapper">

<div class="voc-wordlist">
<table class="voc_bord" align="center" cellspacing="0">
<tr>
<td>

<table class="diction" cellpadding="0" cellspacing="0" align="center">
<thead>
<tr>
	<td></td>
	<td></td>
	<td></td>
</tr>
</thead>
<tbody>
	<tr class="trow">
		<td class="original" valign="top">Бл<span class="acco">е</span>ск для губ
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09601.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[b<span class="sftv">l</span><span class="sfty">y</span><span class="acct">e</span>sk d<span class="sftv">l</span><span class="sfty">y</span>a g<span class="acct">oo</span>p]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Lip-gloss
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Дезодор<span class="acco">а</span>нт
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09602.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[dizadar<span class="acct">a</span>nt]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Deodorant
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Дух<span class="acco">и</span>
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09603.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[dooh<span class="acct">i</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Perfume
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Ж<span class="acco">и</span>дкость для сн<span class="acco">я</span>тия л<span class="acco">а</span>ка
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09604.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[j<span class="acct"><span class="ry">i</span></span>tka<span class="sftc">s</span><span class="sftc">t</span> d<span class="sftv">l</span><span class="sfty">y</span>a s<span class="sftv">n</span><span class="sfty">y</span><span class="acct">a</span>tiya l<span class="acct">a</span>ka]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Varnish remover
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Каранд<span class="acco">а</span>ш для глаз
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09605.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[karand<span class="acct">a</span>sh d<span class="sftv">l</span><span class="sfty">y</span>a gl<span class="acct">a</span>s]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Eyeliner
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Каранд<span class="acco">а</span>ш для губ
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09606.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[karand<span class="acct">a</span>sh d<span class="sftv">l</span><span class="sfty">y</span>a g<span class="acct">oo</span>p]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Lip pencil
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Кр<span class="acco">а</span>ска для вол<span class="acco">о</span>с
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09607.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[kr<span class="acct">a</span>ska d<span class="sftv">l</span><span class="sfty">y</span>a val<span class="acct">o</span>s]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Hair-dye
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Крем
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09608.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[k<span class="sftv">r</span><span class="sfty">y</span><span class="acct">e</span>m]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Cream
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Крем (пена, гель) для брить<span class="acco">я</span>
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09609.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[k<span class="sftv">r</span><span class="sfty">y</span><span class="acct">e</span>m, <span class="sftv">p</span><span class="sfty">y</span><span class="acct">e</span>na, <span class="sftv">g</span><span class="sfty">y</span><span class="acct">e</span><span class="sftc">l</span> d<span class="sftv">l</span><span class="sfty">y</span>a bri<span class="sftc">t</span>y<span class="acct">a</span>]  	
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Shaving cream (foam, gel)
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Крем для заг<span class="acco">а</span>ра
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09610.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[k<span class="sftv">r</span><span class="sfty">y</span><span class="acct">e</span>m d<span class="sftv">l</span><span class="sfty">y</span>a zag<span class="acct">a</span>ra]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Tanning cream
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Лак для вол<span class="acco">о</span>с
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09611.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[l<span class="acct">a</span>k d<span class="sftv">l</span><span class="sfty">y</span>a val<span class="acct">o</span>s]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Hair spray
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Лак для ногтей
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09612.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[l<span class="acct">a</span>k d<span class="sftv">l</span><span class="sfty">y</span>a nak<span class="sftv">t</span><span class="sfty">y</span><span class="acct">e</span>y]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Nail polish
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Лось<span class="acco">о</span>н
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09613.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[la<span class="sftc">s</span>y<span class="acct">o</span>n]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Lotion
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Лось<span class="acco">о</span>н п<span class="acco">о</span>сле брить<span class="acco">я</span>
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09614.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[la<span class="sftc">s</span>y<span class="acct">o</span>n p<span class="acct">o</span>s<span class="sftv">l</span><span class="sfty">y</span>e bri<span class="sftc">t</span>y<span class="acct">a</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">After shave lotion
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">М<span class="acco">ы</span>ло
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09615.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[m<span class="acct"><span class="ry">i</span></span>la]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Soap
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">П<span class="acco">и</span>лочка для ногт<span class="acco">е</span>й
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09616.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[p<span class="acct">i</span>lachka d<span class="sftv">l</span><span class="sfty">y</span>a nak<span class="sftv">t</span><span class="sfty">y</span><span class="acct">e</span>y] 
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Fingernail file
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Пом<span class="acco">а</span>да
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09617.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[pam<span class="acct">a</span>da]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Lipstick
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">П<span class="acco">у</span>дра
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09618.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[p<span class="acct">oo</span>dra]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Loose powder
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Рум<span class="acco">я</span>на
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09619.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[roo<span class="sftv">m</span><span class="sfty">y</span><span class="acct">a</span>na]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Powder blusher
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Т<span class="acco">е</span>ни для век
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09620.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[<span class="sftv">t</span><span class="sfty">y</span><span class="acct">e</span>ni d<span class="sftv">l</span><span class="sfty">y</span>a <span class="sftv">v</span><span class="sfty">y</span><span class="acct">e</span>k]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Eyeshadow
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Тон<span class="acco">а</span>льный крем
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09621.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[tan<span class="acct">a</span><span class="sftc">l</span>n<span class="ry">i</span>y k<span class="sftv">r</span><span class="sfty">y</span><span class="acct">e</span>m]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Make-up foundation
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Тушь
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09622.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[t<span class="acct">oo</span>sh]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Mascara
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Шамп<span class="acco">у</span>нь
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09623.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[shamp<span class="acct">oo</span><span class="sftc">n</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Shampoo
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">&nbsp;
		</td>
		<td class="transcript" valign="top">&nbsp;
		</td>
		<td class="translation" valign="top">&nbsp;
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">У Вас есть дух<span class="acco">и</span> ф<span class="acco">и</span>рмы Кристи<i></i><span class="acco">а</span>н Ди<i></i><span class="acco">о</span>р?
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09624.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[oo v<span class="acct">a</span>s y<span class="acct">e</span><span class="sftc">s</span><span class="sftc">t</span> dooh<span class="acct">i</span> f<span class="acct">i</span>rm<span class="ry">i</span> kri<span class="sftc">s</span>ti<span class="acct">a</span>n di<span class="acct">o</span>r?]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Have you any Christian Dior perfume (fragrances)?
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Пок<span class="acco">а</span>жите, пож<span class="acco">а</span>луйста, ...
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09625.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[pakaj<span class="acct"><span class="ry">i</span></span>ti paj<span class="acct">a</span>loosta]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Could you please show me&nbsp;...? 
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Ск<span class="acco">о</span>лько ст<span class="acco">о</span><i></i>ят <span class="acco">э</span>ти дух<span class="acco">и</span>?
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09626.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[sk<span class="acct">o</span><span class="sftc">l</span>ka st<span class="acct">o</span>yat <span class="acct">e</span>ti dooh<span class="acct">i</span>?]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">How much does this perfume cost?
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Ск<span class="acco">о</span>лько ст<span class="acco">о</span><i></i>ит <span class="acco">э</span>тот шамп<span class="acco">у</span>нь?
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09627.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[sk<span class="acct">o</span><span class="sftc">l</span>ka st<span class="acct">o</span>it <span class="acct">e</span>tat shamp<span class="acct">oo</span><span class="sftc">n</span>?]  	
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">How much does this shampoo cost?
		</td>
	</tr>
</tbody>
<tfoot>
<tr>
	<td></td>
	<td></td>
	<td></td>
</tr>
</tfoot>  
</table>

</td>
</tr>
</table>
</div><!-- end of voc-wordlist-->

</div>

<table class="voc-links voc-link-first " align="center" cellspacing="0"><tr>
	<td class="voc-space">Learn these words and expressions with our &nbsp;<a href="perfumery-flashcards.html">Flashcards >></a></td>
</tr></table>
<table class="voc-links voc-link-last" align="center" cellspacing="0"><tr>
	<td class="voc-space">Check how you know this topic with our &nbsp;<a href="perfumery-test.html">Lexical tests >></a></td>
</tr></table>

</div>
</div>

<script type="text/javascript">
currentSection="words";
</script>

