<% @page_title = 'Online Phonetics Course: Russian hard consonants' %>
<% @page_meta = {'description' => "Online lesson to train the pronunciation of Russian hard consonants"} %>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_css do %>
td.variants {
width: 180px;
}
<% end %>

<div class="hint_wrap">
<div class="hint_button" style="float: right">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Links and Settings</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
     				<li><a class="bold" href="phonetics.html" title="Training">Training exercises</a></li>
     				<li><a href="phonetics01.html" title="Vowels">Vowels</a></li>
    				<li><a href="phonetics03.html" title="Soft consonants">Soft consonants</a></li>
     				<li><a href="phonetics04.html" title="The most difficult">The most difficult</a></li>
    		</ul>
        <%= render :partial => 'preload_option' %>
	</div>
</div>
</div>

<h2 class="page">Lesson 2. Hard consonants </h2>

<p>
Hard consonant sounds of the Russian language are very similar to the consonant sounds of English. While doing the exercises in this lesson, you should take into account that consonants are pronounced in Russian with less tension than in English.
</p>

<h3>Exercise 1</h3>

<p class="task">Listen and repeat sounds and syllables:</p>
<hr>
<p>
<span class="bold"><span class="sound" onclick="playSound('phonetic/soundp020001.mp3')">[p] <span class="play_tip">&nbsp; &nbsp;</span></span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp020002.mp3')">[pa – po – poo – pe] <span class="play_tip">&nbsp; &nbsp;</span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp020003.mp3')">[ap – op – oop – ep] <span class="play_tip">&nbsp; &nbsp;</span></span>
</p>
<p>
<span class="bold"> <span class="sound" onclick="playSound('phonetic/soundp020004.mp3')">[b] <span class="play_tip">&nbsp; &nbsp;</span></span> </span><br />
<span class="sound" onclick="playSound('phonetic/soundp020005.mp3')">[ba – bo – boo – be] <span class="play_tip">&nbsp; &nbsp;</span></span>
</p>
<p>
<span class="sound" onclick="playSound('phonetic/soundp020006.mp3')">[p – b] <span class="play_tip">&nbsp; &nbsp;</span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp020007.mp3')">[pa – ba, po – bo, poo – boo, pe – be] <span class="play_tip">&nbsp; &nbsp;</span></span>
</p>
<hr>
<p>
<span class="bold"><span class="sound" onclick="playSound('phonetic/soundp020008.mp3')">[f] <span class="play_tip">&nbsp; &nbsp;</span></span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp020009.mp3')">[fa – fo – foo – fe] <span class="play_tip">&nbsp; &nbsp;</span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp020010.mp3')">[af – of – oof – ef] <span class="play_tip">&nbsp; &nbsp;</span></span>
</p>
<p>
<span class="bold"><span class="sound" onclick="playSound('phonetic/soundp020011.mp3')">[v] <span class="play_tip">&nbsp; &nbsp;</span></span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp020012.mp3')">[va – vo – voo – ve] <span class="play_tip">&nbsp; &nbsp;</span></span>
</p>
<p>
<span class="sound" onclick="playSound('phonetic/soundp020013.mp3')">[f – v] <span class="play_tip">&nbsp; &nbsp;</span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp020014.mp3')">[fa – va, fo – vo, foo – voo, fe – ve] <span class="play_tip">&nbsp; &nbsp;</span></span>
</p>
<hr>
 <p>
<span class="bold"><span class="sound" onclick="playSound('phonetic/soundp020015.mp3')">[s] <span class="play_tip">&nbsp; &nbsp;</span></span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp020016.mp3')">[sa – so – soo – se] <span class="play_tip">&nbsp; &nbsp;</span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp020017.mp3')">[as – os – oos – es] <span class="play_tip">&nbsp; &nbsp;</span></span>
</p>
<p>
<span class="bold"><span class="sound" onclick="playSound('phonetic/soundp020018.mp3')">[z] <span class="play_tip">&nbsp; &nbsp;</span></span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp020019.mp3')">[za – zo – zoo – ze] <span class="play_tip">&nbsp; &nbsp;</span></span>
</p>
<p>
<span class="sound" onclick="playSound('phonetic/soundp020020.mp3')">[s – z] <span class="play_tip">&nbsp; &nbsp;</span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp020021.mp3')">[sa – za, so – zo, soo – zoo, se – ze] <span class="play_tip">&nbsp; &nbsp;</span></span>
</p>
<hr>
<p>
<span class="bold"><span class="sound" onclick="playSound('phonetic/soundp020022.mp3')">[k] <span class="play_tip">&nbsp; &nbsp;</span></span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp020023.mp3')">[ka – ko – koo – ke] <span class="play_tip">&nbsp; &nbsp;</span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp020024.mp3')">[ak – ok – ook – ek] <span class="play_tip">&nbsp; &nbsp;</span></span>
</p>
<p>
<span class="bold"><span class="sound" onclick="playSound('phonetic/soundp020025.mp3')">[g] <span class="play_tip">&nbsp; &nbsp;</span></span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp020026.mp3')">[ga – go – goo – ge] <span class="play_tip">&nbsp; &nbsp;</span></span>
</p>
<p>
<span class="sound" onclick="playSound('phonetic/soundp020027.mp3')">[k – g] <span class="play_tip">&nbsp; &nbsp;</span></span> <br />
<span class="sound" onclick="playSound('phonetic/soundp020028.mp3')">[ka – ga, ko – go, koo – goo, ke – ge] <span class="play_tip">&nbsp; &nbsp;</span></span>
</p>
<hr>
<p>
<span class="bold"><span class="sound" onclick="playSound('phonetic/soundp020029.mp3')">[m] <span class="play_tip">&nbsp; &nbsp;</span></span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp020030.mp3')">[ma – mo – moo – me] <span class="play_tip">&nbsp; &nbsp;</span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp020031.mp3')">[am – om – oom – em] <span class="play_tip">&nbsp; &nbsp;</span></span>
</p>
<hr>
<p>
<span class="bold"><span class="sound" onclick="playSound('phonetic/soundp020032.mp3')">[n] <span class="play_tip">&nbsp; &nbsp;</span></span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp020033.mp3')">[na – no – noo – ne] <span class="play_tip">&nbsp; &nbsp;</span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp020034.mp3')">[an – on – oon – en] <span class="play_tip">&nbsp; &nbsp;</span></span>
</p>
<hr>
<p>
<span class="bold"><span class="sound" onclick="playSound('phonetic/soundp020035.mp3')">[sh] <span class="play_tip">&nbsp; &nbsp;</span></span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp020036.mp3')">[sha – sho – shoo – she] <span class="play_tip">&nbsp; &nbsp;</span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp020037.mp3')">[ash – osh – oosh – esh] <span class="play_tip">&nbsp; &nbsp;</span></span>
</p>
<p>
<span class="bold"><span class="sound" onclick="playSound('phonetic/soundp020038.mp3')">[j] <span class="play_tip">&nbsp; &nbsp;</span></span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp020039.mp3')">[ja – jo – joo – je] <span class="play_tip">&nbsp; &nbsp;</span></span>
</p>
<p>
<span class="sound" onclick="playSound('phonetic/soundp020040.mp3')">[sh – j] <span class="play_tip">&nbsp; &nbsp;</span></span> <br />
<span class="sound" onclick="playSound('phonetic/soundp020041.mp3')">[sha – ja, sho – jo, shoo – joo, she – je] <span class="play_tip">&nbsp; &nbsp;</span></span>
</p>
<hr>
<p>
<span class="bold"><span class="sound" onclick="playSound('phonetic/soundp020042.mp3')">[t] <span class="play_tip">&nbsp; &nbsp;</span></span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp020043.mp3')">[ta – to – too – te] <span class="play_tip">&nbsp; &nbsp;</span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp020044.mp3')">[at – ot – oot – et] <span class="play_tip">&nbsp; &nbsp;</span></span>
</p>
<p>
<span class="bold"><span class="sound" onclick="playSound('phonetic/soundp020045.mp3')">[d] <span class="play_tip">&nbsp; &nbsp;</span></span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp020046.mp3')">[da – do – doo – de] <span class="play_tip">&nbsp; &nbsp;</span></span>
</p>
<p>
<span class="sound" onclick="playSound('phonetic/soundp020047.mp3')">[t – d] <span class="play_tip">&nbsp; &nbsp;</span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp020048.mp3')">[ta – da, to – do, too – doo, te – de] <span class="play_tip">&nbsp; &nbsp;</span></span>
</p>
<hr>
<p>
<span class="bold"><span class="sound" onclick="playSound('phonetic/soundp020049.mp3')">[l] <span class="play_tip">&nbsp; &nbsp;</span></span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp020050.mp3')">[la – lo – loo – le] <span class="play_tip">&nbsp; &nbsp;</span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp020051.mp3')">[al – ol – ool – el] <span class="play_tip">&nbsp; &nbsp;</span></span>
</p>
<hr>
<p>
<span class="bold"><span class="sound" onclick="playSound('phonetic/soundp020052.mp3')">[h] <span class="play_tip">&nbsp; &nbsp;</span></span> </span><br />
<span class="sound" onclick="playSound('phonetic/soundp020053.mp3')">[ha – ho – hoo – he] <span class="play_tip">&nbsp; &nbsp;</span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp020054.mp3')">[ah – oh – ooh – eh] <span class="play_tip">&nbsp; &nbsp;</span></span>
</p>
<hr>

<h3>Exercise 2</h3>

<p class="task"> Listen and repeat the following words:</p>

<table cellpadding="0" cellspacing="0" border="0">
	<tr valign="top">
		<td width="180">
			<p><span class="sound" onclick="playSound('phonetic/soundp020101.mp3')">[djon] <span class="play_tip">&nbsp; &nbsp;</span></span> (John)</p>
			<p><span class="sound" onclick="playSound('phonetic/soundp020102.mp3')">[ket] <span class="play_tip">&nbsp; &nbsp;</span></span> (Cat)</p>
			<p><span class="sound" onclick="playSound('phonetic/soundp020103.mp3')">[en] <span class="play_tip">&nbsp; &nbsp;</span></span> (Ann)</p>
			<p><span class="sound" onclick="playSound('phonetic/soundp020104.mp3')">[djek] <span class="play_tip">&nbsp; &nbsp;</span></span> (Jack)</p>
			<p><span class="sound" onclick="playSound('phonetic/soundp020105.mp3')">[tom] <span class="play_tip">&nbsp; &nbsp;</span></span> (Tom)</p>
			<p><span class="sound" onclick="playSound('phonetic/soundp020106.mp3')">[bal] <span class="play_tip">&nbsp; &nbsp;</span></span> (ball, dance)</p>
			<p><span class="sound" onclick="playSound('phonetic/soundp020107.mp3')">[klas] <span class="play_tip">&nbsp; &nbsp;</span></span> (class)</p>
		    <p><span class="sound" onclick="playSound('phonetic/soundp020108.mp3')">[bank] <span class="play_tip">&nbsp; &nbsp;</span></span> (bank)</p>
			<p><span class="sound" onclick="playSound('phonetic/soundp020109.mp3')">[plan] <span class="play_tip">&nbsp; &nbsp;</span></span> (plan)</p>

		</td>
		<td>
	   		<p><span class="sound" onclick="playSound('phonetic/soundp020110.mp3')">[stop] <span class="play_tip">&nbsp; &nbsp;</span></span> (stop)</p>
			<p><span class="sound" onclick="playSound('phonetic/soundp020111.mp3')">[ton] <span class="play_tip">&nbsp; &nbsp;</span></span> (tone)</p>
			<p><span class="sound" onclick="playSound('phonetic/soundp020112.mp3')">[boks] <span class="play_tip">&nbsp; &nbsp;</span></span> (boxing)</p>
			<p><span class="sound" onclick="playSound('phonetic/soundp020113.mp3')">[gol] <span class="play_tip">&nbsp; &nbsp;</span></span> (goal) </p>
			<p><span class="sound" onclick="playSound('phonetic/soundp020114.mp3')">[soop] <span class="play_tip">&nbsp; &nbsp;</span></span> (soup)</p>
			<p><span class="sound" onclick="playSound('phonetic/soundp020115.mp3')">[stool] <span class="play_tip">&nbsp; &nbsp;</span></span> (chair)</p> 
			<p><span class="sound" onclick="playSound('phonetic/soundp020116.mp3')">[gas] <span class="play_tip">&nbsp; &nbsp;</span></span> (gas)</p>
			<p><span class="sound" onclick="playSound('phonetic/soundp020117.mp3')">[stash] <span class="play_tip">&nbsp; &nbsp;</span></span> (training period)</p>
		</td>
	</tr>
</table>
<br/>

<h3>Exercise 3</h3>

<p class="task">Listen and repeat the following words:</p>
<p style="line-height: 17pt;">
<span class="sound" onclick="playSound('phonetic/soundp020201.mp3')">[tomas] <span class="play_tip">&nbsp; &nbsp;</span></span> , 
<span class="sound" onclick="playSound('phonetic/soundp020202.mp3')">[ema] <span class="play_tip">&nbsp; &nbsp;</span></span> , 
<span class="sound" onclick="playSound('phonetic/soundp020203.mp3')">[londan] <span class="play_tip">&nbsp; &nbsp;</span></span> , 
<span class="sound" onclick="playSound('phonetic/soundp020204.mp3')">[maskva] <span class="play_tip">&nbsp; &nbsp;</span></span> , 
<span class="sound" onclick="playSound('phonetic/soundp020205.mp3')">[alabama] <span class="play_tip">&nbsp; &nbsp;</span></span> , 
<span class="sound" onclick="playSound('phonetic/soundp020206.mp3')">[dakota] <span class="play_tip">&nbsp; &nbsp;</span></span> , 
<span class="sound" onclick="playSound('phonetic/soundp020207.mp3')">[kalarada] <span class="play_tip">&nbsp; &nbsp;</span></span> , 
<span class="sound" onclick="playSound('phonetic/soundp020208.mp3')">[kanzas] <span class="play_tip">&nbsp; &nbsp;</span></span> , 
<span class="sound" onclick="playSound('phonetic/soundp020209.mp3')">[noootbook] <span class="play_tip">&nbsp; &nbsp;</span></span> , 
<span class="sound" onclick="playSound('phonetic/soundp020210.mp3')">[kandom] <span class="play_tip">&nbsp; &nbsp;</span></span> , 
<span class="sound" onclick="playSound('phonetic/soundp020211.mp3')">[foodbol] <span class="play_tip">&nbsp; &nbsp;</span></span> , 
<span class="sound" onclick="playSound('phonetic/soundp020212.mp3')">[kokakola] <span class="play_tip">&nbsp; &nbsp;</span></span> ,
<span class="sound" onclick="playSound('phonetic/soundp020213.mp3')">[klooon] <span class="play_tip">&nbsp; &nbsp;</span></span> , 
<span class="sound" onclick="playSound('phonetic/soundp020214.mp3')">[papa] <span class="play_tip">&nbsp; &nbsp;</span></span> , 
<span class="sound" onclick="playSound('phonetic/soundp020215.mp3')">[tabak] <span class="play_tip">&nbsp; &nbsp;</span></span> , 
<span class="sound" onclick="playSound('phonetic/soundp020216.mp3')">[kalona] <span class="play_tip">&nbsp; &nbsp;</span></span> , 
<span class="sound" onclick="playSound('phonetic/soundp020217.mp3')">[itap] <span class="play_tip">&nbsp; &nbsp;</span></span> , 
<span class="sound" onclick="playSound('phonetic/soundp020218.mp3')">[gandbol] <span class="play_tip">&nbsp; &nbsp;</span></span> , 
<span class="sound" onclick="playSound('phonetic/soundp020219.mp3')">[aftoboos] <span class="play_tip">&nbsp; &nbsp;</span></span> , 
<span class="sound" onclick="playSound('phonetic/soundp020220.mp3')">[aftamat] <span class="play_tip">&nbsp; &nbsp;</span></span> , 
<span class="sound" onclick="playSound('phonetic/soundp020221.mp3')">[masash] <span class="play_tip">&nbsp; &nbsp;</span></span> , 
<span class="sound" onclick="playSound('phonetic/soundp020222.mp3')">[katalok] <span class="play_tip">&nbsp; &nbsp;</span></span> 
</p>

<div style="display: none">
Эмма, Ванесса, Лондон, Вашингтон, Москва, Алабама, Дакота, Колорадо, Канзас
ноутбук, кандом, футбол, кока-кола, клоун, папа, табак, колонна, этап, гандбол, автобус, автомат,  массаж, каталог
</div>


<h3>Exercise 4</h3>

<p class="task">Listen to the word and choose the translation from the right column</p>

<div id="t1"> 
<script type="text/javascript"> 
var t1 = new Test({dict: [
 
['sounds/phonetic/soundp020107.mp3','class'],['sounds/phonetic/soundp020108.mp3','bank'],['sounds/phonetic/soundp020109.mp3','plan'],['sounds/phonetic/soundp020110.mp3','stop'],
['sounds/phonetic/soundp020112.mp3','boxing'],['sounds/phonetic/soundp020114.mp3','soup'],['sounds/phonetic/soundp020101.mp3','John'],['sounds/phonetic/soundp020103.mp3','Ann'],
['sounds/phonetic/soundp020201.mp3','Thomas'],['sounds/phonetic/soundp020202.mp3','Emma'],['sounds/phonetic/soundp020203.mp3','London'],['sounds/phonetic/soundp020204.mp3','Moscow'],
['sounds/phonetic/soundp020205.mp3','Alabama'],['sounds/phonetic/soundp020206.mp3','Dakota'],['sounds/phonetic/soundp020207.mp3','Colorado'],['sounds/phonetic/soundp020208.mp3','Kansas'],
['sounds/phonetic/soundp020210.mp3','condom'],['sounds/phonetic/soundp020211.mp3','football'],['sounds/phonetic/soundp020212.mp3','coca-cola'],['sounds/phonetic/soundp020213.mp3','clown'],
['sounds/phonetic/soundp020215.mp3','tobacco'],['sounds/phonetic/soundp020216.mp3','column'],['sounds/phonetic/soundp020218.mp3','handball'],['sounds/phonetic/soundp020219.mp3','bus, autobus'],
['sounds/phonetic/soundp020221.mp3','massage'],['sounds/phonetic/soundp020222.mp3','catalogue']
 
],hide: 'di1',id:'t1', type: 'audio', how_questions: 8, how_show: 2});
</script> 
</div> 


<hr>
<p>
<a href="phonetics01.html" ><span class="bold"><< Previous part </span></a> &nbsp;  &nbsp;  &nbsp;  &nbsp;<a href="phonetics03.html" ><span class="bold">Next part >></span></a></p>

<script type="text/javascript">
currentSection="phonetic";
</script>
