<% @page_title = 'Online Phonetics Course: Russian soft consonants' %>
<% @page_meta = {'description' => "Online lesson to train the pronunciation of Russian soft consonants"} %>
<% @with_rec = true %>
<% @has_audio = true %>

<style type="text/css">
td.variants {
width: 200px;
}
</style>

<div class="hint_wrap">
<div class="hint_button" style="float: right">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <li><a class="bold" href="phonetics.html" title="Training">Training exercises</a></li>
            <li><a href="phonetics01.html" title="Vowels">Vowels</a></li>
            <li><a href="phonetics02.html" title="Hard consonants">Hard consonants</a></li>
            <li><a href="phonetics04.html" title="The most difficult">The most difficult</a></li>
        </ul>
        <%= render :partial => 'preload_option' %>
  </div>
</div>
</div>

<h2 class="page">Lesson 3. Soft consonants</h2>

<p>
The main purpose of this lesson is to demonstrate the phonetic difference between hard and soft consonant sounds in the Russian language. Notice that the center of the tongue is raised during and after the articulation of the consonant. This position of the tongue is similar to the articulation of the vowel [i]. For that reason, the pronunciation of palatalized consonants may be achieved by training to pronounce the corresponding consonant together with vowel [i].

</p>

<h3>Exercise 1</h3>
<p class="task">Listen and repeat sounds and syllables:</p>
<hr>
<p>
<span class="bold"><span class="sound" onclick="playSound('phonetic/soundp030001.mp3')">[y] <span class="play_tip">&nbsp; &nbsp;</span></span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp030002.mp3')">[ya – yo – yoo – ye – yi] <span class="play_tip">&nbsp; &nbsp;</span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp030003.mp3')">[ay – oy – ooy – ey – iy] <span class="play_tip">&nbsp; &nbsp;</span></span>
</p>
<hr>
<p>
<span class="bold"><span class="sound" onclick="playSound('phonetic/soundp030004.mp3')">[p'] <span class="play_tip">&nbsp; &nbsp;</span></span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp030005.mp3')">[pa – pi, pa – p'a, po – p'o, poo – p'oo, pe – p'e] <span class="play_tip">&nbsp; &nbsp;</span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp030006.mp3')">[pa – pi – p'yi, pa – p'a – p'ya, poo – p'oo – p'yoo, pe – p'e – p'ye] <span class="play_tip">&nbsp; &nbsp;</span></span>
</p>
<hr>
<p>
<span class="bold"><span class="sound" onclick="playSound('phonetic/soundp030007.mp3')">[b'] <span class="play_tip">&nbsp; &nbsp;</span></span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp030008.mp3')">[ba – bi, ba – b'a, bo – b'o, boo – b'oo, be – b'e] <span class="play_tip">&nbsp; &nbsp;</span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp030009.mp3')">[ba – bi – b'yi, ba – b'a – b'ya, bo – b'o – b'yo, boo – b'oo – b'yoo, be – b'e – b'ye] <span class="play_tip">&nbsp; &nbsp;</span></span>
</p>
<hr>
<p>
<span class="bold"><span class="sound" onclick="playSound('phonetic/soundp030010.mp3')">[f'] <span class="play_tip">&nbsp; &nbsp;</span></span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp030011.mp3')">[fa – fi, fa – f'a, fo – f'o, fu – f'oo, fe – f'e] <span class="play_tip">&nbsp; &nbsp;</span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp030012.mp3')">[fa – fi – f'yi, fa – f'a – f'ya, fo – f'o – f'yo, foo – f'oo – f'yoo, fe – f'e – f'ye] <span class="play_tip">&nbsp; &nbsp;</span></span>
</p>
<hr>
<p>
<span class="bold"><span class="sound" onclick="playSound('phonetic/soundp030013.mp3')">[v'] <span class="play_tip">&nbsp; &nbsp;</span></span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp030014.mp3')">[va – vi, va – v'a, vo – v'o, voo – v'oo, ve – v'e] <span class="play_tip">&nbsp; &nbsp;</span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp030015.mp3')">[va – vi – v'yi, va – v'a – v'ya, vo – v'o – v'yo, voo – v'oo – v'yoo, ve – v'e – v'ye] <span class="play_tip">&nbsp; &nbsp;</span></span>
</p>
<hr>
<p>
<span class="bold"><span class="sound" onclick="playSound('phonetic/soundp030016.mp3')">[z'] <span class="play_tip">&nbsp; &nbsp;</span></span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp030017.mp3')">[za – zi, za – z'a, zo – z'o, zoo – z'oo, ze – z'e] <span class="play_tip">&nbsp; &nbsp;</span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp030018.mp3')">[za – zi – z'yi, za – z'a – z'ya, zo – z'o – z'yo, zoo – z'oo – z'yoo, ze – z'e – z'ye] <span class="play_tip">&nbsp; &nbsp;</span></span>
</p>
<hr>
<p>
<span class="bold"><span class="sound" onclick="playSound('phonetic/soundp030019.mp3')">[s'] <span class="play_tip">&nbsp; &nbsp;</span></span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp030020.mp3')">[sa – si, sa – s'a, so – s'o, soo – s'oo, se – s'e] <span class="play_tip">&nbsp; &nbsp;</span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp030021.mp3')">[sa – si – s'yi, sa – s'a – s'ya, so – s'o – s'yo, soo – s'oo – s'yoo, se – s'e – s'ye] <span class="play_tip">&nbsp; &nbsp;</span></span>
</p>
<hr>
<p>
<span class="bold"><span class="sound" onclick="playSound('phonetic/soundp030022.mp3')">[k'] <span class="play_tip">&nbsp; &nbsp;</span></span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp030023.mp3')">[ka – ki, ka – k'a, ko – k'o, koo – k'oo, ke – k'e] <span class="play_tip">&nbsp; &nbsp;</span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp030024.mp3')">[ka – ki – k'yi, ka – k'a – k'ya, ko – k'o – k'yo, koo – k'oo – k'yoo, ke – k'e – k'ye] <span class="play_tip">&nbsp; &nbsp;</span></span>
</p>
<hr>
<p>
<span class="bold"><span class="sound" onclick="playSound('phonetic/soundp030025.mp3')">[g'] <span class="play_tip">&nbsp; &nbsp;</span></span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp030026.mp3')">[ga – gi, ga – g'a, go – g'o, goo – g'oo, ge – g'e] <span class="play_tip">&nbsp; &nbsp;</span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp030027.mp3')">[ga – gi – g'yi, ga – g'a – g'ya, go – g'o – g'yo, goo – g'oo – g'yoo, ge – g'e – g'ye] <span class="play_tip">&nbsp; &nbsp;</span></span>
</p>
<hr>
<p>
<span class="bold"><span class="sound" onclick="playSound('phonetic/soundp030028.mp3')">[m'] <span class="play_tip">&nbsp; &nbsp;</span></span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp030029.mp3')">[ma – mi, ma – m'a, mo – m'o, moo – m'oo, me – m'e] <span class="play_tip">&nbsp; &nbsp;</span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp030030.mp3')">[ma – mi – m'yi, ma – m'a – m'ya, mo – m'o – m'yo, moo – m'oo – m'yoo, me – m'e – m'ye] <span class="play_tip">&nbsp; &nbsp;</span></span>
</p>
<hr>
<p>
<span class="bold"><span class="sound" onclick="playSound('phonetic/soundp030031.mp3')">[n'] <span class="play_tip">&nbsp; &nbsp;</span></span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp030032.mp3')">[na – ni, na – n'a, no – n'o, noo – n'oo, ne – n'e] <span class="play_tip">&nbsp; &nbsp;</span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp030033.mp3')">[na – ni – n'yi, na – n'a – n'ya, no – n'o – n'yo, noo – n'oo – n'yoo, ne – n'e – n'ye] <span class="play_tip">&nbsp; &nbsp;</span></span>
</p>
<hr>
<p>
<span class="bold"><span class="sound" onclick="playSound('phonetic/soundp030034.mp3')">[t'] <span class="play_tip">&nbsp; &nbsp;</span></span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp030035.mp3')">[ta – ti, ta – t'a, to – t'o, too – t'oo, te – t'e] <span class="play_tip">&nbsp; &nbsp;</span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp030036.mp3')">[ta – ti – t'yi, ta – t'a – t'ya, to – t'o – t'yo, too – t'oo – t'yoo, te – t'e – t'ye] <span class="play_tip">&nbsp; &nbsp;</span></span>
</p>
<hr>
<p>
<span class="bold"><span class="sound" onclick="playSound('phonetic/soundp030037.mp3')">[d'] <span class="play_tip">&nbsp; &nbsp;</span></span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp030038.mp3')">[da – di, da – d'a, do – d'o, doo – d'oo, de – d'e] <span class="play_tip">&nbsp; &nbsp;</span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp030039.mp3')">[da – di – d'yi, da – d'a – d'ya, do – d'o – d'yo, doo – d'oo – d'yoo, de – d'e – d'ye] <span class="play_tip">&nbsp; &nbsp;</span></span>
</p>
<hr>
<p>
<span class="bold"><span class="sound" onclick="playSound('phonetic/soundp030040.mp3')">[l'] <span class="play_tip">&nbsp; &nbsp;</span></span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp030041.mp3')">[la – li, la – l'a, lo – l'o, loo – l'oo, le – l'e] <span class="play_tip">&nbsp; &nbsp;</span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp030042.mp3')">[la – li – l'yi, la – l'a – l'ya, lo – l'o – l'yo, loo – l'oo – l'yoo, le – l'e – l'ye] <span class="play_tip">&nbsp; &nbsp;</span></span>
</p>
<hr>
<p>
<span class="bold"><span class="sound" onclick="playSound('phonetic/soundp030043.mp3')">[h'] <span class="play_tip">&nbsp; &nbsp;</span></span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp030044.mp3')">[ha – hi, ha – h'a, ho – h'o, hoo – h'oo, he – h'e] <span class="play_tip">&nbsp; &nbsp;</span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp030045.mp3')">[ha – hi – h'yi, ha – h'a – h'ya, ho – h'o – h'yo, hoo – h'oo – h'yoo, he – h'e – h'ye] <span class="play_tip">&nbsp; &nbsp;</span></span>
</p>
<hr>
<p>
<span class="bold"><span class="sound" onclick="playSound('phonetic/soundp030046.mp3')">[ch] <span class="play_tip">&nbsp; &nbsp;</span></span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp030047.mp3')">[chi – cha – cho – choo – che] <span class="play_tip">&nbsp; &nbsp;</span></span><br />
<span class="sound" onclick="playSound('phonetic/soundp030048.mp3')">[chi – chyi, cha – chya, cho – chyo, choo – chyoo, che – chye] <span class="play_tip">&nbsp; &nbsp;</span></span>
</p>
<hr>
<h3>Exercise 2</h3>
<p class="task">Listen and repeat the following pairs of words. Notice that the pronunciation of words with different meaning may differ just by the softness of a consonant</p>

<p><span class="sound" onclick="playSound('phonetic/soundp030101.mp3')">[mat'] <span class="play_tip">&nbsp; &nbsp;</span></span> (mother) – <span class="sound" onclick="playSound('phonetic/soundp030102.mp3')">[m'at'] <span class="play_tip">&nbsp; &nbsp;</span></span> (rumple)</p>
<p><span class="sound" onclick="playSound('phonetic/soundp030103.mp3')">[look] <span class="play_tip">&nbsp; &nbsp;</span></span> (onion) – <span class="sound" onclick="playSound('phonetic/soundp030104.mp3')">[l'ook] <span class="play_tip">&nbsp; &nbsp;</span></span> (hatch)</p>
<p><span class="sound" onclick="playSound('phonetic/soundp030105.mp3')">[yest] <span class="play_tip">&nbsp; &nbsp;</span></span> (he eats) – <span class="sound" onclick="playSound('phonetic/soundp030106.mp3')">[yes't'] <span class="play_tip">&nbsp; &nbsp;</span></span> (to eat)</p>
<p><span class="sound" onclick="playSound('phonetic/soundp030107.mp3')">[dan] <span class="play_tip">&nbsp; &nbsp;</span></span> (dan rank) – <span class="sound" onclick="playSound('phonetic/soundp030108.mp3')">[dan'] <span class="play_tip">&nbsp; &nbsp;</span></span> (tribute)</p>
<p><span class="sound" onclick="playSound('phonetic/soundp030109.mp3')">[yel] <span class="play_tip">&nbsp; &nbsp;</span></span> (he ate) – <span class="sound" onclick="playSound('phonetic/soundp030110.mp3')">[yel'] <span class="play_tip">&nbsp; &nbsp;</span></span> (fir)</p>
<p><span class="sound" onclick="playSound('phonetic/soundp030111.mp3')">[oogal] <span class="play_tip">&nbsp; &nbsp;</span></span> (corner) – <span class="sound" onclick="playSound('phonetic/soundp030112.mp3')">[oogal'] <span class="play_tip">&nbsp; &nbsp;</span></span> (coal)</p>
<p><span class="sound" onclick="playSound('phonetic/soundp030113.mp3')">[s't'ep'] <span class="play_tip">&nbsp; &nbsp;</span></span> (steppe)– <span class="sound" onclick="playSound('phonetic/soundp030114.mp3')">[step] <span class="play_tip">&nbsp; &nbsp;</span></span> (step dance]</p>
<p><span class="sound" onclick="playSound('phonetic/soundp030115.mp3')">[stok] <span class="play_tip">&nbsp; &nbsp;</span></span> (drain) – <span class="sound" onclick="playSound('phonetic/soundp030116.mp3')">[s't'ok] <span class="play_tip">&nbsp; &nbsp;</span></span> (it streamed down)</p>

<h3>Exercise 3</h3>

<p class="task">Listen and repeat the following words:</p>
<p style="line-height: 17pt;">
<span class="sound" onclick="playSound('phonetic/soundp030201.mp3')">[biznes] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp030202.mp3')">[bil'et] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp030203.mp3')">[simval] <span class="play_tip">&nbsp; &nbsp;</span></span>,  
<span class="sound" onclick="playSound('phonetic/soundp030204.mp3')">[bialogiya] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp030205.mp3')">[viza] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp030206.mp3')">[gipotiza] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp030207.mp3')">[kiosk] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp030208.mp3')">[biatlon] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp030209.mp3')">[git] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp030210.mp3')">[pik] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp030211.mp3')">[pilot] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp030212.mp3')">[signal] <span class="play_tip">&nbsp; &nbsp;</span></span>,  
<span class="sound" onclick="playSound('phonetic/soundp030213.mp3')">[simptom] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp030214.mp3')">[sintes] <span class="play_tip">&nbsp; &nbsp;</span></span>,  
<span class="sound" onclick="playSound('phonetic/soundp030215.mp3')">[gigant] <span class="play_tip">&nbsp; &nbsp;</span></span>,  
<span class="sound" onclick="playSound('phonetic/soundp030216.mp3')">[t'ekst] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp030217.mp3')">[t'ema] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp030218.mp3')">[finom'en] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp030219.mp3')">[filial] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp030220.mp3')">[fil'm] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp030221.mp3')">[himiya] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp030222.mp3')">[sist'ema] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp030223.mp3')">[final] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp030224.mp3')">[taksi] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp030225.mp3')">[vila] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp030226.mp3')">[limit] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp030227.mp3')">[tip] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp030228.mp3')">[diplom] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp030229.mp3')">[pianist]<span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp030230.mp3')">[panika] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp030231.mp3')">[klimat] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp030232.mp3')">[kabina] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp030233.mp3')">[boof'et] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp030234.mp3')">[bal'et] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp030235.mp3')">[pak'et] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp030236.mp3')">[pil'ool'a] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp030237.mp3')">[salist] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp030238.mp3')">[kast'oom] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp030239.mp3')">[idial] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp030240.mp3')">[mital] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp030241.mp3')">[apitit] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp030242.mp3')">[analis] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp030243.mp3')">[gipnos] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp030244.mp3')">[pl'ash] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp030245.mp3')">[dialok] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp030246.mp3')">[ipilok] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp030247.mp3')">[finish] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp030248.mp3')">[hit] <span class="play_tip">&nbsp; &nbsp;</span></span>
</p>

<h3>Exercise 4</h3>

<p class="task"> Listen to the word and choose the translation from the right column</p>

<div id="t1"> 
<script type="text/javascript"> 
var t1 = new Test({dict: [
 
['sounds/phonetic/soundp030201.mp3','business'],['sounds/phonetic/soundp030203.mp3','symbol'],['sounds/phonetic/soundp030204.mp3','biology'],['sounds/phonetic/soundp030205.mp3','visa'],
['sounds/phonetic/soundp030206.mp3','hypothesis'],['sounds/phonetic/soundp030207.mp3','kiosk'],['sounds/phonetic/soundp030208.mp3','biathlon'],['sounds/phonetic/soundp030209.mp3','guide'],
['sounds/phonetic/soundp030210.mp3','peak'],['sounds/phonetic/soundp030211.mp3','pilot'],['sounds/phonetic/soundp030212.mp3','signal'],['sounds/phonetic/soundp030213.mp3','symptom'],
['sounds/phonetic/soundp030214.mp3','synthesis'],['sounds/phonetic/soundp030215.mp3','giant'],['sounds/phonetic/soundp030216.mp3','text'],['sounds/phonetic/soundp030217.mp3','theme']
 
],hide: 'di1',id:'t1', type: 'audio', how_questions: 10, how_show: 2});
</script> 
</div>
<hr>
<p>
<a href="phonetics02.html" ><span class="bold"><< Previous part </span></a> &nbsp;  &nbsp;  &nbsp;  &nbsp;<a href="phonetics04.html" ><span class="bold">Next part >></span></a>
</p>

<script type="text/javascript">
currentSection="phonetic";
</script>
