<% @page_title = 'Russian Language Online: Phonetics course' %>
<% @page_meta = {'description' => "Online lessons to practise Russian pronunciation"} %>

<%= stylesheet_link_tag 'stylesounds' %>

<div class="hint_wrap">
<div class="hint_button" style="float: right;">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Recommended links</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
     				<li><a href="basic-sounds.html">Basic Russian sounds</a></li>
    				<li><a href="sounds-info.html">General Info about Russian Sounds</a></li>
    		</ul>
			   
	</div>
</div>
</div>

<h2 class="page">Introductory phonetics course</h2>
<div id="pagecontent"><div id="content">
<p>
The work with this course will help you to be able to perceive and distinguish sounds of the Russian language, as well as to have an idea how to pronounce them. This is only the first step to a proper Russian pronunciation. In order to improve your pronunciation, you can work with phrases and dialogues from <a href="course.html">Course of Russian</a> on our site. When working with phrases, you should devote attention not only to the pronunciation of sounds and words, but also to the intonation of the whole phrase. 
</p>
<p>
Taking into account the peculiarities of the Russian phonetic system, the phonetics course is designed in the following way: 
</p> 

<ol>
	<li><a href="phonetics01.html">Vowel sounds</a></li>
	<li><a href="phonetics02.html">Hard consonants</a></li>
	<li><a href="phonetics03.html">Soft consonants</a></li>
	<li><a href="phonetics04.html">The most difficult sounds</a></li>
	
</ol>

<p style="margin: 20px 0px 15px;">Here you can find a brief description of these lessons: </p>
<h3>Lesson 1. Vowel sounds</h3> 
<p>
This lesson is devoted to 5 vowel sounds which are usually not very difficult to pronounce for English speaking people. In the last lesson, "The most difficult sounds" you will find one more vowel sound [<span class="ry">i</span>]. 
</p>
<h3>Lesson 2. Hard consonants</h3>  
<p>
Hard consonant sounds of the Russian language are very similar to the consonant sounds of English. While doing the exercises in this lesson, you should take into account that Russian consonants are pronounced with less tension than in English.
</p>

<h3>Lesson 3. Soft consonants</h3>  
<p>
The main purpose of this lesson is to demonstrate the phonetic difference between hard and soft consonant sounds in the Russian language. 
</p>

<h3>Lesson 4. The most difficult sounds</h3> 
<p>
This lesson covers consonant and vowel sounds which have nothing in common with English sounds and present the biggest difficulty for those who learn Russian.  
</p>
<p>
At the beginning of every lesson you will find exercises to train the pronunciation of isolated sounds and syllables. After that, there are exercises containing Russian words with these sounds. Notice that most Russian words that you can meet in the phonetics course are borrowed words from other languages, names of people or names of countries, states and cities, so you can guess what they mean without reading their translation.
</p>
<br>
<p>Before working with this phonetics course it is recommended to visit pages <a href="basic-sounds.html">Basic Russian sounds</a> and <a href="sounds-info.html">General Info about Russian Sounds</a>.</p>

</div></div>

<script type="text/javascript">
currentSection="phonetic";
</script>
