<% @page_title = 'Online Phonetics Course: the most difficult Russian sounds' %>
<% @page_meta = {'description' => "Online lesson to train the pronunciation of the most difficult Russian sounds"} %>
<% @with_rec = true %>
<% @has_audio = true %>


<% content_for :special_js_css do %>

<style type="text/css">

h2.page {margin-bottom: 0px;}

.hint_button {
float: right;
}

.quest  {
width: 180px;
}

.variants  {
width: 180px;
}

#t2 .quest {
width: 180px;
}

.written {
font-size: 11pt;
font-weight: bold;
padding: 0px 0px 15px 0px;
}

table.repeat-words td div {
padding: 7px 50px 7px 30px;
}

.tab1 p {margin: 0px;}

</style>

<% end %>



<div class="hint_wrap">
<div class="hint_button" style="float: right">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <li><a href="phonetics-course.html" title="Training">Phonetics course</a></li>
            <li><a href="phonetics01.html" title="Vowels">Vowels</a></li>
            <li><a href="phonetics02.html" title="Hard consonants">Hard consonants</a></li>
            <li><a href="phonetics03.html" title="Soft consonants">Soft consonants</a></li>
        </ul>
        <%= render :partial => 'preload_option' %>
  </div>
</div>
</div>

<h2 class="page">Lesson 4. The most difficult sounds</h2>
<h3 class="page-path">
	<span class="int-links">
	<a href="pronunciation.html">Pronunciation</a>
	<span class="int-arrow">--&gt;</span> 
	<a href="phonetics-course.html">Phonetics course</a>
	<span class="int-arrow">--&gt;</span>  Lesson 4. Difficult sounds
	</span>
</h3>

<p>
This lesson covers consonant and vowel sounds which have nothing in common with English sounds and present the biggest difficulty for those who learn Russian.
</p>

<br />

<p class="task">Listen and repeat sounds and syllables: </p>
<hr>
<p>
<span class="bold"><span class="sound" onclick="playSound('phonetic/soundp040001.mp3')">[<s>i</s>] <span class="play_tip">&nbsp; &nbsp;</span></span></span>
<span title="Open a popup with details" class="open_popup_link" onClick="open_comment('comments_audio/russian-sounds.html?sound=-i-', 500, 520)">
<img src="/images/popup_icon.gif">
</span>
<br />

<span class="sound" onclick="playSound('phonetic/soundp040002.mp3')">[p<s>i</s> – b<s>i</s>, f<s>i</s> – v<s>i</s>, t<s>i</s> – d<s>i</s>, s<s>i</s> – z<s>i</s>, k<s>i</s> – g<s>i</s>, m<s>i</s> – n<s>i</s>] <span class="play_tip">&nbsp; &nbsp;</span></span><br />

<span class="sound" onclick="playSound('phonetic/soundp040002.mp3')" style="display: none">[<s>i</s>p<s>i</s> – <s>i</s>b<s>i</s>, <s>i</s>f<s>i</s> – <s>i</s>v<s>i</s>, <s>i</s>t<s>i</s> – <s>i</s>d<s>i</s>, <s>i</s>s<s>i</s> – <s>i</s>z<s>i</s>, <s>i</s>k<s>i</s> – <s>i</s>g<s>i</s>, <s>i</s>m<s>i</s> – <s>i</s>n<s>i</s>] <span class="play_tip">&nbsp; &nbsp;</span></span>

<span class="sound" onclick="playSound('phonetic/soundp040003.mp3')">[pi – p<s>i</s>, bi – b<s>i</s>,  vi – v<s>i</s>, ti – t<s>i</s>, di – d<s>i</s>, si – s<s>i</s>, zi – z<s>i</s>, ki – k<s>i</s>, gi – g<s>i</s>, mi – m<s>i</s>, ni – n<s>i</s>] <span class="play_tip">&nbsp; &nbsp;</span></span><br />

<span class="sound" onclick="playSound('phonetic/soundp040004.mp3')" style="white-space:normal;">[poo – p<s>i</s>, boo – b<s>i</s>, foo – f<s>i</s>, voo – v<s>i</s>, too – t<s>i</s>, doo – d<s>i</s>, soo – s<s>i</s>, zoo – z<s>i</s>, koo – k<s>i</s>, goo – g<s>i</s>, moo – m<s>i</s>, noo – n<s>i</s>] <span class="play_tip">&nbsp; &nbsp;</span></span>

</p>
<hr>
<p>
<span class="bold"><span class="sound" onclick="playSound('phonetic/soundp040005.mp3')">[sch] <span class="play_tip">&nbsp; &nbsp;</span></span></span>
<span title="Open a popup with details" class="open_popup_link" onClick="open_comment('comments_audio/russian-sounds.html?sound=sch', 500, 520)">
<img src="/images/popup_icon.gif">
</span>

<br />
<span class="sound" onclick="playSound('phonetic/soundp040006.mp3')">[scha – scho – schoo – sche – schi] <span class="play_tip">&nbsp; &nbsp;</span></span> <br />
<span class="sound" onclick="playSound('phonetic/soundp040007.mp3')">[ascha – oscho – ooschoo – esche – ischi]  <span class="play_tip">&nbsp; &nbsp;</span></span>
</p>
<hr>
<p>
<span class="bold"><span class="sound" onclick="playSound('phonetic/soundp040008.mp3')">[ts] <span class="play_tip">&nbsp; &nbsp;</span></span></span>
<span title="Open a popup with details" class="open_popup_link" onClick="open_comment('comments_audio/russian-sounds.html?sound=ts', 500, 520)">
<img src="/images/popup_icon.gif">
</span>
<br />

<span class="sound" onclick="playSound('phonetic/soundp040009.mp3')">[tsa – tso – tsoo – tse – ts<span class="ry">i</span>] <span class="play_tip">&nbsp; &nbsp;</span></span> <br />
<span class="sound" onclick="playSound('phonetic/soundp040010.mp3')">[atsa – otso – ootsoo – etse – its<span class="ry">i</span>] <span class="play_tip">&nbsp; &nbsp;</span></span> 
</p>
<hr>
<p>
<span class="bold"><span class="sound" onclick="playSound('phonetic/soundp040011.mp3')">[r] <span class="play_tip">&nbsp; &nbsp;</span></span></span>
<span title="Open a popup with details" class="open_popup_link" onClick="open_comment('comments_audio/russian-sounds.html?sound=r', 500, 520)">
<img src="/images/popup_icon.gif">
</span>

<br /><br />

<span class="sound" onclick="playSound('phonetic/soundp040012.mp3')">[ra – ro – roo – re] <span class="play_tip">&nbsp; &nbsp;</span></span> <br />
<span class="sound" onclick="playSound('phonetic/soundp040013.mp3')">[ar – or – oor – er – ir] <span class="play_tip">&nbsp; &nbsp;</span></span> <br />
<span class="sound" onclick="playSound('phonetic/soundp040014.mp3')">[ara – oro – ooroo – ere ] <span class="play_tip">&nbsp; &nbsp;</span></span> <br />
<span class="sound" onclick="playSound('phonetic/soundp040015.mp3')">[pra – bra, fra – vra, tra – dra, sra – zra, kra – gra, mra – nra] <span class="play_tip">&nbsp; &nbsp;</span></span>
</p>
<hr>

<p>
<span class="bold"><span class="sound" onclick="playSound('phonetic/soundp040016.mp3')">[r'] <span class="play_tip">&nbsp; &nbsp;</span></span></span>
<span title="Open a popup with details" class="open_popup_link" onClick="open_comment('comments_audio/russian-sounds.html?sound=r\'', 500, 520)">
<img src="/images/popup_icon.gif">
</span>

<br /><br />
<span class="sound" onclick="playSound('phonetic/soundp040017.mp3')">[r'a – r'o – r'oo – r'e – ri] <span class="play_tip">&nbsp; &nbsp;</span></span> <br />
<span class="sound" onclick="playSound('phonetic/soundp040018.mp3')">[ar' – or' – oor' – er' – ir'] <span class="play_tip">&nbsp; &nbsp;</span></span> <br />
<span class="sound" onclick="playSound('phonetic/soundp040019.mp3')">[ar'a – or'o – oor'oo – er'e – iri] <span class="play_tip">&nbsp; &nbsp;</span></span> <br />
<span class="sound" onclick="playSound('phonetic/soundp040020.mp3')">[pri – bri, fri – vri, tri – dri, sri – zri, kri – gri, mri – nri] <span class="play_tip">&nbsp; &nbsp;</span></span><br />

<span class="sound" onclick="playSound('phonetic/soundp040021.mp3')">[pr'a – br'a, fr'a – vr'a, tr'a – dr'a, sr'a – zr'a, kr'a – gr'a, mr'a – nr'a] <span class="play_tip">&nbsp; &nbsp;</span></span>
</p>
<hr>

<h3>Exercise 2</h3>
<p class="task">Listen and repeat the following words:</p>

<p>
<span class="sound" onclick="playSound('phonetic/soundp040101.mp3')">[frants<span class="ry">i</span>ya] <span class="play_tip">&nbsp; &nbsp;</span></span>, 

<span class="sound" onclick="playSound('phonetic/soundp040102.mp3')">[madrit] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp040103.mp3')">[loooren] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp040104.mp3')">[sara] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp040105.mp3')">[richart] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp040106.mp3')">[robirt] <span class="play_tip">&nbsp; &nbsp;</span></span>,  
<span class="sound" onclick="playSound('phonetic/soundp040107.mp3')">[mark] <span class="play_tip">&nbsp; &nbsp;</span></span>, 

<span class="sound" onclick="playSound('phonetic/soundp040108.mp3')">[alj<span class="ry">i</span>r] <span class="play_tip">&nbsp; &nbsp;</span></span>
</p>

<p style="line-height: 17pt;">
<span class="sound" onclick="playSound('phonetic/soundp040109.mp3')">[tsezar'] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp040110.mp3')">[tsar'] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp040111.mp3')">[ts<span class="ry">i</span>ment] <span class="play_tip">&nbsp; &nbsp;</span></span>, 

<span class="sound" onclick="playSound('phonetic/soundp040112.mp3')">[ts<span class="ry">i</span>klon] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp040113.mp3')">[schit] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp040114.mp3')">[mooschina] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp040115.mp3')">[schas't'ye] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp040116.mp3')">[schochik] <span class="play_tip">&nbsp; &nbsp;</span></span>, 

<span class="sound" onclick="playSound('phonetic/soundp040117.mp3')">[schot] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp040118.mp3')">[stants<span class="ry">i</span>ya] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp040119.mp3')">[ts<span class="ry">i</span>kl] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp040120.mp3')">[ts<span class="ry">i</span>lindr] <span class="play_tip">&nbsp; &nbsp;</span></span>, 

<span class="sound" onclick="playSound('phonetic/soundp040121.mp3')">[ts<span class="ry">i</span>rk] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp040122.mp3')">[ts<span class="ry">i</span>fra] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp040123.mp3')">[j<span class="ry">i</span>raf] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp040124.mp3')">[sh<span class="ry">i</span>mpanze] <span class="play_tip">&nbsp; &nbsp;</span></span>, 

<span class="sound" onclick="playSound('phonetic/soundp040125.mp3')">[mash<span class="ry">i</span>na] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp040126.mp3')">[soosh<span class="ry">i</span>] <span class="play_tip">&nbsp; &nbsp;</span></span>,
<span class="sound" onclick="playSound('phonetic/soundp040127.mp3')">[kros] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp040128.mp3')">[tsentr] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp040129.mp3')">[sport] <span class="play_tip">&nbsp; &nbsp;</span></span>,  

<span class="sound" onclick="playSound('phonetic/soundp040130.mp3')">[sort] <span class="play_tip">&nbsp; &nbsp;</span></span>,  
<span class="sound" onclick="playSound('phonetic/soundp040131.mp3')">[port] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp040132.mp3')">[koors] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp040133.mp3')">[mer] <span class="play_tip">&nbsp; &nbsp;</span></span>,  
<span class="sound" onclick="playSound('phonetic/soundp040135.mp3')">[frookt] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp040136.mp3')">[toor] <span class="play_tip">&nbsp; &nbsp;</span></span>, 

<span class="sound" onclick="playSound('phonetic/soundp040137.mp3')">[raman] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp040138.mp3')">[robat] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp040139.mp3')">[pradookt] <span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('phonetic/soundp040140.mp3')">[garash] <span class="play_tip">&nbsp; &nbsp;</span></span>
</p>

<h3>Exercise 3</h3>

<p class="task">Listen to the word and choose the translation from the right column</p>

<div id="t1"> 
<script type="text/javascript"> 
var t1 = new Test({dict: [
 
['sounds/phonetic/soundp040101.mp3','France'],['sounds/phonetic/soundp040102.mp3','Madrid'],
['sounds/phonetic/soundp040109.mp3','Caesar'],['sounds/phonetic/soundp040110.mp3','tsar'],
['sounds/phonetic/soundp040111.mp3','cement'],['sounds/phonetic/soundp040112.mp3','cyclone'],
['sounds/phonetic/soundp040113.mp3','shield'],['sounds/phonetic/soundp040118.mp3','station'],
['sounds/phonetic/soundp040119.mp3','cycle'],['sounds/phonetic/soundp040120.mp3','cylinder'],
['sounds/phonetic/soundp040121.mp3','circus'],['sounds/phonetic/soundp040123.mp3','giraffe'],
['sounds/phonetic/soundp040124.mp3','chimpanzee'],['sounds/phonetic/soundp040125.mp3','machine'],
['sounds/phonetic/soundp040126.mp3','sushi'],['sounds/phonetic/soundp040127.mp3','cross'],
['sounds/phonetic/soundp040128.mp3','center'],['sounds/phonetic/soundp040129.mp3','sport'],
['sounds/phonetic/soundp040132.mp3','course'],['sounds/phonetic/soundp040135.mp3','fruit'],
['sounds/phonetic/soundp040137.mp3','romance'],['sounds/phonetic/soundp040138.mp3','robot'],
['sounds/phonetic/soundp040139.mp3','product'],['sounds/phonetic/soundp040140.mp3','garage']
 
],hide: 'di1',id:'t1', type: 'audio', how_questions: 10, how_show: 2}, 'p0104030.3');
</script> 
</div>

<h3>Exercise 4</h3>

<p class="task">Look at the transcription, listen to the word and choose the translation from the right column.</p>

<div id="t2">
<script type="text/javascript">
var t2 = new Test({dict: [

['<div class="written">[londan]<\/div><div onclick="playTestSound(\'sounds/phonetic/soundp020203.mp3\')" onmouseup="(this.style.backgroundPosition=\'0px -70px\')" onmousedown="(this.style.backgroundPosition=\'0px 0px\')" class="play"/><\/div>','London'],
['<div class="written">[maskva]<\/div><div onclick="playTestSound(\'sounds/phonetic/soundp020204.mp3\')" onmouseup="(this.style.backgroundPosition=\'0px -70px\')" onmousedown="(this.style.backgroundPosition=\'0px 0px\')" class="play"/><\/div>','Moscow'], 
['<div class="written">[foodbol]<\/div><div onclick="playTestSound(\'sounds/phonetic/soundp020211.mp3\')" onmouseup="(this.style.backgroundPosition=\'0px -70px\')" onmousedown="(this.style.backgroundPosition=\'0px 0px\')" class="play"/><\/div>','football'], 
['<div class="written">[koka-kola]<\/div><div onclick="playTestSound(\'sounds/phonetic/soundp020212.mp3\')" onmouseup="(this.style.backgroundPosition=\'0px -70px\')" onmousedown="(this.style.backgroundPosition=\'0px 0px\')" class="play"/><\/div>','coca-cola'], 
['<div class="written">[tabak]<\/div><div onclick="playTestSound(\'sounds/phonetic/soundp020215.mp3\')" onmouseup="(this.style.backgroundPosition=\'0px -70px\')" onmousedown="(this.style.backgroundPosition=\'0px 0px\')" class="play"/><\/div>','tobacco'], 
['<div class="written">[gandbol]<\/div><div onclick="playTestSound(\'sounds/phonetic/soundp020218.mp3\')" onmouseup="(this.style.backgroundPosition=\'0px -70px\')" onmousedown="(this.style.backgroundPosition=\'0px 0px\')" class="play"/><\/div>','handball'], 
['<div class="written">[masash]<\/div><div onclick="playTestSound(\'sounds/phonetic/soundp020221.mp3\')" onmouseup="(this.style.backgroundPosition=\'0px -70px\')" onmousedown="(this.style.backgroundPosition=\'0px 0px\')" class="play"/><\/div>','massage'],
['<div class="written">[katalok]<\/div><div onclick="playTestSound(\'sounds/phonetic/soundp020222.mp3\')" onmouseup="(this.style.backgroundPosition=\'0px -70px\')" onmousedown="(this.style.backgroundPosition=\'0px 0px\')" class="play"/><\/div>','catalogue'], 
['<div class="written">[biznes]<\/div><div onclick="playTestSound(\'sounds/phonetic/soundp030201.mp3\')" onmouseup="(this.style.backgroundPosition=\'0px -70px\')" onmousedown="(this.style.backgroundPosition=\'0px 0px\')" class="play"/><\/div>','business'], 
['<div class="written">[simval]<\/div><div onclick="playTestSound(\'sounds/phonetic/soundp030203.mp3\')" onmouseup="(this.style.backgroundPosition=\'0px -70px\')" onmousedown="(this.style.backgroundPosition=\'0px 0px\')" class="play"/><\/div>','symbol'], 
['<div class="written">[bialogiya]<\/div><div onclick="playTestSound(\'sounds/phonetic/soundp030204.mp3\')" onmouseup="(this.style.backgroundPosition=\'0px -70px\')" onmousedown="(this.style.backgroundPosition=\'0px 0px\')" class="play"/><\/div>','biology'], 
['<div class="written">[viza]<\/div><div onclick="playTestSound(\'sounds/phonetic/soundp030205.mp3\')" onmouseup="(this.style.backgroundPosition=\'0px -70px\')" onmousedown="(this.style.backgroundPosition=\'0px 0px\')" class="play"/><\/div>','visa'], 
['<div class="written">[biatlon]<\/div><div onclick="playTestSound(\'sounds/phonetic/soundp030208.mp3\')" onmouseup="(this.style.backgroundPosition=\'0px -70px\')" onmousedown="(this.style.backgroundPosition=\'0px 0px\')" class="play"/><\/div>','biathlon'], 
['<div class="written">[git]<\/div><div onclick="playTestSound(\'sounds/phonetic/soundp030209.mp3\')" onmouseup="(this.style.backgroundPosition=\'0px -70px\')" onmousedown="(this.style.backgroundPosition=\'0px 0px\')" class="play"/><\/div>','guide'], 
['<div class="written">[pik]<\/div><div onclick="playTestSound(\'sounds/phonetic/soundp030210.mp3\')" onmouseup="(this.style.backgroundPosition=\'0px -70px\')" onmousedown="(this.style.backgroundPosition=\'0px 0px\')" class="play"/><\/div>','peak'], 

],hide: 'di2',id:'t2', type: 'text', how_questions: 8, how_show: 2}, 'p0104040.4');
</script>

</div>

<hr>
<p>
<a href="phonetics03.html" ><span class="bold"><< Previous part </span></a>
</p>

<script type="text/javascript">
currentSection="phonetic";
</script>
