<% @page_title = 'Training exercises' %>
<% @page_meta = {'description' => ""} %>

<h2 class="page">Training exercises</h2>
<p>
Phonetic training exercises are divided into several parts. First of all, train Russian sounds that are pronounced very similarly to English ones. These are most vowels and Russian "hard" consonants. The next part of the exercises includes Russian "soft" consonants which are resembling "hard" consonants, but have a small phonetic nuance. And, in conclusion, you’ll find the most difficult Russian sounds for English-speaking people. And now, let’s get started! 
</p>
<p><a href="phonetics01.html" title="Vowels">Vowels</a></p>
<p><a href="phonetics02.html" title="Hard consonants">Hard consonants</a></p>
<p><a href="phonetics03.html" title="Soft consonants">Soft consonants</a></p>
<p><a href="phonetics04.html" title="The most difficult">The most difficult</a></p>

<script type="text/javascript">
currentSection="phonetic";
</script>
