<% @page_title = 'Online Russian Flashcards: Formulas of politeness' %>
<% @page_meta = {'description' => "Learn Russian vocabulary topic Formulas of politeness with online flashcards: words with audio samples, quizzes and spell practice"} %>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_js_css do %>
<style type="text/css">
h2.page {
margin-bottom: 0px;
font-size: 19pt;
}
</style>

<%end%>
<div class="hint_wrap">
<div class="hint_button" style="float: right;">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <li><a href="/politeness.html">Formulas of politeness</a></li>
			<li><a href="/politeness-test.html">Tests: Formulas of politeness</a></li>
        </ul>
        <%= render :partial => 'down_accent' %>
  </div>
</div>
</div>

<h2 class="page">Flashcards: Formulas of politeness</h2>
<h3 class="page-path">
	<span class="int-links">
	<a href="/vocabulary.html">Vocabulary</a>
	<span class="int-arrow">--&gt;</span> 
	<a href="/politeness.html">Formulas of politeness</a>
	<span class="int-arrow">--&gt;</span> Flashcards
	</span>
</h3>

<div  id="fl1" style="min-height: 600px; text-align: center;">
<%= render :partial => 'flashcard' %>
</div><!-- end of fl1 -->

<script type="text/javascript"> 
	var fl1 = new flashcard( {
		id: "fl1", 
		random_order: false,
		basic_array: [
		
['Здр<span class="acco">а</span>вствуйте ','Hello ','/sounds/sound01101.mp3','zdr<span class="acct">a</span>stvooyti '],
['Д<span class="acco">о</span>брое <span class="acco">у</span>тро ','Good morning ','/sounds/sound01102.mp3','d<span class="acct">o</span>braye <span class="acct">oo</span>tra '],
['Д<span class="acco">о</span>брый д<span class="acco">е</span>нь ','Good afternoon ','/sounds/sound01103.mp3','d<span class="acct">o</span>br<span class="ry">i</span>y <span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span><span class="sftc">n</span> '],
['Д<span class="acco">о</span>брый в<span class="acco">е</span>чер ','Good evening ','/sounds/sound01104.mp3','d<span class="acct">o</span>br<span class="ry">i</span>y <span class="sftv">v</span><span class="sfty">y</span><span class="acct">e</span>chir '],
['Добр<span class="acco">о</span> пож<span class="acco">а</span>ловать! ','Welcome! ','/sounds/sound01105.mp3','dabr<span class="acct">o</span> paj<span class="acct">a</span>lava<span class="sftc">t</span> '],
['Прив<span class="acco">е</span>т! ','Hi! (informal) ','/sounds/sound01106.mp3','pri<span class="sftv">v</span><span class="sfty">y</span><span class="acct">e</span>t '],
['К<span class="acco">а</span>к пожив<span class="acco">а</span><i></i>ете? ','How are you getting on? ','/sounds/sound01107.mp3','k<span class="acct">a</span>k paj<span class="ry">i</span>v<span class="acct">a</span>iti? '],
['Как пожив<span class="acco">а</span><i></i>ешь? ','How are things? (informal) ','/sounds/sound01108.mp3','k<span class="acct">a</span>k paj<span class="ry">i</span>v<span class="acct">a</span>ish? '],
['К<span class="acco">а</span>к В<span class="acco">а</span>ши д<span class="acco">е</span>ла? ','How are you? ','/sounds/sound01109.mp3','k<span class="acct">a</span>k vash<span class="acct"><span class="ry">i</span></span> dil<span class="acct">a</span>? '],
['К<span class="acco">а</span>к дел<span class="acco">а</span>? ','How are you? (informal) ','/sounds/sound01110.mp3','k<span class="acct">a</span>k dil<span class="acct">a</span>? '],
['Прекр<span class="acco">а</span>сно ','Perfectly well ','/sounds/sound01111.mp3','prikr<span class="acct">a</span>sna '],
['Хорош<span class="acco">о</span> ','Fine ','/sounds/sound01112.mp3','harash<span class="acct">o</span> '],
['Всё в пор<span class="acco">я</span>дке ','Very well ','/sounds/sound01113.mp3','f<span class="sftv">s</span><span class="sfty">y</span><span class="acct">o</span> f pa<span class="sftv">r</span><span class="sfty">y</span><span class="acct">a</span>t<span class="sftv">k</span><span class="sfty">y</span>e '],
['Непл<span class="acco">о</span>хо ','Not so bad ','/sounds/sound01114.mp3','nipl<span class="acct">o</span>ha '],
['До свид<span class="acco">а</span>ния ','Good bye ','/sounds/sound01115.mp3','da svid<span class="acct">a</span>niya '],
['Всег<span class="acco">о</span> хор<span class="acco">о</span>шего! ','All the best! ','/sounds/sound01116.mp3','fsiv<span class="acct">o</span> har<span class="acct">o</span>sh<span class="ry">i</span>va '],
['Уд<span class="acco">а</span>чи! ','Best of luck! ','/sounds/sound01117.mp3','ood<span class="acct">a</span>chi '],
['Счастл<span class="acco">и</span>во ','Good luck! ','/sounds/sound01118.mp3','schisl<span class="acct">i</span>va '],
['Счастл<span class="acco">и</span>вого пут<span class="acco">и</span>! ','Have a good trip! ','/sounds/sound01119.mp3','schisl<span class="acct">i</span>vava poot<span class="acct">i</span> '],
['Пок<span class="acco">а</span>! ','Bye-bye! (informal) ','/sounds/sound01120.mp3','pak<span class="acct">a</span> '],
['Прост<span class="acco">и</span>те ','Excuse me ','/sounds/sound01121.mp3','prast<span class="acct">i</span>ti '],
['Извин<span class="acco">и</span>те ','Sorry ','/sounds/sound01122.mp3','izvin<span class="acct">i</span>ti '],
['Извин<span class="acco">и</span>те, пож<span class="acco">а</span>луйста, ... ','Excuse me, please ','/sounds/sound01123.mp3','izvin<span class="acct">i</span>ti paj<span class="acct">a</span>loosta '],
['Ничег<span class="acco">о</span>, ничег<span class="acco">о</span> ','Oh, that\'s all right ','/sounds/sound01124.mp3','nichiv<span class="acct">o</span> nichiv<span class="acct">o</span> '],
['Б<span class="acco">у</span>дьте добр<span class="acco">ы</span>, ... ','Will you please... ','/sounds/sound01125.mp3','b<span class="acct">oo</span>tti dabr<span class="acct"><span class="ry">i</span></span> '],
['Пож<span class="acco"><span class="acco">а</span></span>луйста, ... ','Please, ... ','/sounds/sound01126.mp3','paj<span class="acct">a</span>loosta '],
['Спас<span class="acco">и</span>бо ','Thank you ','/sounds/sound01127.mp3','spas<span class="acct">i</span>ba '],
['Больш<span class="acco">о</span>е спас<span class="acco">и</span>бо ','Thank you very much ','/sounds/sound01128.mp3','balsh<span class="acct">o</span>ye spas<span class="acct">i</span>ba '],
['Огр<span class="acco">о</span>мное спас<span class="acco">и</span>бо ','Thanks a lot ','/sounds/sound01129.mp3','agr<span class="acct">o</span>mnaye spas<span class="acct">i</span>ba '],
['Пож<span class="acco">а</span>луйста ','You\'re welcome ','/sounds/sound01130.mp3','paj<span class="acct">a</span>loosta '],
['Н<span class="acco">е</span> за что ','Don’t mention it ','/sounds/sound01131.mp3','<span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span>zashta '],
['Не ст<span class="acco">о</span><i></i>ит ','That\'s all right ','/sounds/sound01132.mp3','ni st<span class="acct">o</span>it ']
		]
		} )
</script>


<table class="voc-links voc-link-first voc-link-last" align="center" cellspacing="0"><tr>
	<td class="voc-space">Check how you know this topic with our &nbsp;<a href="politeness-test.html">Lexical tests >></a></td>
</tr></table>


<script type="text/javascript">
preloadFiles=new Array(
'/sounds/sound01101.mp3', '/sounds/sound01102.mp3', '/sounds/sound01103.mp3', '/sounds/sound01104.mp3', 
'/sounds/sound01105.mp3', '/sounds/sound01106.mp3', '/sounds/sound01107.mp3', '/sounds/sound01108.mp3', 
'/sounds/sound01109.mp3', '/sounds/sound01110.mp3', '/sounds/sound01111.mp3', '/sounds/sound01112.mp3', 
'/sounds/sound01113.mp3', '/sounds/sound01114.mp3', '/sounds/sound01115.mp3', '/sounds/sound01116.mp3', 
'/sounds/sound01117.mp3', '/sounds/sound01118.mp3', '/sounds/sound01119.mp3', '/sounds/sound01120.mp3', 
'/sounds/sound01121.mp3', '/sounds/sound01122.mp3', '/sounds/sound01123.mp3', '/sounds/sound01124.mp3', 
'/sounds/sound01125.mp3', '/sounds/sound01126.mp3', '/sounds/sound01127.mp3', '/sounds/sound01128.mp3', 
'/sounds/sound01129.mp3', '/sounds/sound01130.mp3', '/sounds/sound01131.mp3', '/sounds/sound01132.mp3'
)
</script>
