<% @page_title = 'Formulas of politeness :: Online Russian lexical tests' %>
<% @page_meta = {'description' => "Learn Russian vocabulary topic Formulas of politeness with online lexical tests"} %>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_js_css do %>
<style type="text/css">
h2.page {margin-bottom: 0px;font-size: 19pt;}
</style>
<% end %>

<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Links and Settings</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
     				<li><a href="politeness.html">Formulas of politeness</a></li>
					<li><a href="politeness-flashcards.html"> Flashcards: Formulas of politeness</a></li>
    		</ul>
			<%= render :partial => 'preload_option' %>
	</div>
</div>
</div>

<h2 class="page">Tests:  Formulas of politeness</h2>

<h3 class="page-path">
	<span class="int-links">
	<a href="/vocabulary.html">Vocabulary</a>
	<span class="int-arrow">--&gt;</span> 
	<a href="/politeness.html">Formulas of politeness</a>
	<span class="int-arrow">--&gt;</span> Tests
	</span>
</h3>

<div class="l-test-container">

<h3 class="test-task">Test 1. Listen to the Russian phrase and find it in the list.
<a href="javascript:;" class="lt-test-closer"><span class="lt-h">Hide test</span><span class="lt-sh">Show test</span></a>
</h3>

<div id="ch1" class="lt-holder">
<div class="lt-spacer">	
<%= render :partial => 'lexical_test' %>
</div>
</div><!-- end of lt-holder -->

<script type="text/javascript"> 
	var ch1 = new ch_exercise( {
		id: "ch1", 
		test_id: "v0201010.1",
		quest_num: 10,
		variants_num: 5,
		quest_type: 'audio',
		basic_array: [
['/sounds/sound01101.mp3','Здравствуйте'],
['/sounds/sound01106.mp3','Привет!'],
['/sounds/sound01110.mp3','Как дела?'],
['/sounds/sound01112.mp3','Хорошо'],
['/sounds/sound01115.mp3','До свидания'],
['/sounds/sound01120.mp3','Пока!'],
['/sounds/sound01122.mp3','Извините'],
['/sounds/sound01126.mp3','Пожалуйста'],
['/sounds/sound01127.mp3','Спасибо'],
['/sounds/sound01131.mp3','Не за что']
		]
		} )
</script>

<h3 class="test-task">Test 2. Read the Russian phrase and find its English equivalent.
<a href="javascript:;" class="lt-test-closer"><span class="lt-h">Hide test</span><span class="lt-sh">Show test</span></a>
</h3>

<div id="ch2" class="lt-holder">
<div class="lt-spacer">
<%= render :partial => 'lexical_test' %>
</div>
</div><!-- end of lt-holder -->
<script type="text/javascript"> 
	var ch2 = new ch_exercise( {
		id: "ch2", 
		test_id: "v0201020.2",
		quest_num: 10,
		variants_num: 5,
		basic_array: [
['Здравствуйте','Hello'],['Привет!','Hi! (informal)'],['Как поживаете?','How are you getting on?'],
['Как дела?','How are you? (informal)'],['Хорошо','Fine'],['Прекрасно','Perfectly well'], ['До свидания','Good bye'],
['Всего хорошего!','All the best!'],['Пока!','Bye-bye!'],['Извините','Sorry'],['Простите','Excuse me'],
['Будьте добры','Will you please...'],['Пожалуйста','Please'],['Спасибо','Thank you'],['Не за что','Don\'t mention it'], 
['Большое спасибо','Thank you very much']
		]
		} )
</script>

<h3 class="test-task">Test 3. 
Listen to the phrase and find its translation into English.
<a href="javascript:;" class="lt-test-closer"><span class="lt-h">Hide test</span><span class="lt-sh">Show test</span></a>
</h3>

<div id="ch3" class="lt-holder">
<div class="lt-spacer">	
<%= render :partial => 'lexical_test' %>
</div>
</div><!-- end of lt-holder -->

<script type="text/javascript"> 
	var ch3 = new ch_exercise( {
		id: "ch3", 
		test_id: "v0201030.3",
		quest_num: 10,
		variants_num: 5,
		quest_type: 'audio',
		basic_array: [
		
['/sounds/sound01101.mp3','Hello'],
['/sounds/sound01106.mp3','Hi! (informal)'],
['/sounds/sound01110.mp3','How are you?'],
['/sounds/sound01112.mp3','Fine'],
['/sounds/sound01115.mp3','Good bye'],
['/sounds/sound01120.mp3','Bye-bye!'],
['/sounds/sound01122.mp3','Sorry'],
['/sounds/sound01126.mp3','Please'],
['/sounds/sound01127.mp3','Thank you'],
['/sounds/sound01131.mp3','Don\'t mention it']

		]
		} )
</script>

<h3 class="test-task test-task-final" style="text-align: center">Review the topic &nbsp;&nbsp;&nbsp;&nbsp;<a href="politeness.html">Formulas of politeness >></a></h3>

<script type="text/javascript">
preloadFiles=new Array(
'/sounds/sound01201.mp3',
'/sounds/sound01206.mp3',
'/sounds/sound01207.mp3',
'/sounds/sound01208.mp3',
'/sounds/sound01210.mp3',
'/sounds/sound01212.mp3',
'/sounds/sound01213.mp3',
'/sounds/sound01215.mp3'
)
</script>

</div><!-- end of lt-container -->

<script type="text/javascript">
currentSection="words";
</script>