<% @page_title = 'Tests: Formulas of politeness' %>
<% @page_meta = {'description' => ""} %>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_css do %>

#t2 .variants {
width: 215px;
}

#t2 .quest {
width: 170px;
}

.quest, .variants  {
width: 150px;
}


<% end %>

<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Recommended links</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
     				<li><a title="Formulas of politeness" href="politeness.html"> Formulas of politeness</a></li>
     				<li><a href="politeness-exercise.html"> Exercises: Formulas of politeness</a></li>

    		</ul>
	</div>
</div>
</div>



<h2 class="page">Formulas of politeness <br/> (tests)</h2>
<p class="task">Before completing the following tests, please revise the topic <a title="Formulas of politeness" href="politeness.html"> Formulas of politeness</a></p>
<hr/>
<br/>
<h3>Test 1</h3>
<p class="task">Listen to the phrase and сhoose the corresponding Russian expression.</p>

<div id="t1">

<script type="text/javascript">
var t1 = new Test({dict:[['sounds/sound01101.mp3','Здравствуйте'],['sounds/sound01106.mp3','Привет!'],['sounds/sound01110.mp3','Как дела?'],['sounds/sound01112.mp3','Хорошо'],['sounds/sound01115.mp3','До свидания'],['sounds/sound01120.mp3','Пока!'],['sounds/sound01122.mp3','Извините'],['sounds/sound01126.mp3','Пожалуйста'],['sounds/sound01127.mp3','Спасибо'],['sounds/sound01131.mp3','Не за что']]
,hide:'di1',id:'t1', type:'audio', how_questions: 8, how_show: 2}, 'v0201010.1');
</script>
</div>

<h3>Test 2</h3>
<p class="task">Read the Russian phrase and choose the corresponding English expression.</p>

<div id="t2">
<script type="text/javascript">
var t2 = new Test({dict:[['Здравствуйте','Hello'],['Привет!','Hi! (informal)'],['Как поживаете?','How are you getting on?'],
['Как дела?','How are you? (informal)'],['Хорошо','Fine'],['Прекрасно','Perfectly well'], ['До свидания','Good bye'],
['Всего хорошего!','All the best!'],['Пока!','Bye-bye!'],['Извините','Sorry'],['Простите','Excuse me'],
['Будьте добры','Will you please...'],['Пожалуйста','Please'],['Спасибо','Thank you'],['Не за что','Don\'t mention it'], 
['Большое спасибо','Thank you very much']],hide:'di1',id:'t2',type: 'text', how_questions: 10, how_show: 2}, 'v0201020.2');
</script>
</div>

<h3>Test 3</h3>
<p class="task">Listen to the Russian phrases and сhoose their translation into English.</p>

<div id="t3">
<script type="text/javascript">
var t3 = new Test({dict:[['sounds/sound01101.mp3','Hello'],['sounds/sound01106.mp3','Hi! (informal)'],['sounds/sound01110.mp3','How are you?'],['sounds/sound01112.mp3','Fine'],
['sounds/sound01115.mp3','Good bye'],['sounds/sound01120.mp3','Bye-bye!'],['sounds/sound01122.mp3','Sorry'],['sounds/sound01126.mp3','Please'],
['sounds/sound01127.mp3','Thank you'],['sounds/sound01131.mp3','Don\'t mention it']],hide:'di1',id:'t3',type: 'audio',how_questions: 8, how_show: 2}, 'v0201030.3');
</script>
</div>

<script type="text/javascript">
currentSection="words";
</script>

