<% @page_title = 'Study-Languages-Online.com: Projects' %>
<% @page_meta = {'description' => "List of pages that will appear on Study Languages Online.com in future"} %>

<% content_for :special_css do %>

.pr-sec-list {
list-style: none;
} 

<% end %>

<h2 style="margin-top: 0px;" class="page">Projects</h2>

<p>
We plan to create the following pages on our website within the next few weeks:  
</p>


<ul>
	<li>Section "Vocabulary Topics":
		<ul class="pr-sec-list">
			<li>- Topic "Human body" (vocabulary, exercises and tests)</li>
			<li>- Topic "Drugs &amp; Health Care Products" (vocabulary, exercises and tests)</li>
			<li>- Topic "Health problems" (vocabulary, exercises and tests)</li>
			<li>- Topic "Bank &amp; Cash machine" (vocabulary, exercises and tests)</li>
			<li>- Topic "Internet &amp; Phone" (vocabulary, exercises and tests)</li>
			<li>- Topic "Fractions &amp; Percentage" (vocabulary and tests), section "Russian numbers"</li>
			<li>- Topic "Family" (vocabulary, exercises and tests)</li>
			<li>- Topic "Weather" (vocabulary, exercises and tests)</li>
			<li>- Topic "Time" (vocabulary, exercises and tests)</li>
			<li>- Topic "Countries &amp; Nationalities" (vocabulary, exercises and tests)</li>
			<li>- Game "Magician Nestor vs. Army of Demons" </li>
		</ul>
	</li>
	<li>Section "Course of Russian":
		<ul class="pr-sec-list">
			<li>- Grammar Comments for each lesson</li>
		</ul>
	</li>
	<li>Section "Reading in Russian":
		<ul class="pr-sec-list">
			<li>- More examples on pages about Russian rules of reading</li>
			<li>- Exercises for learning Russian alphabet</li>
		</ul>
	</li>
</ul>


<p>If you have any suggestions about the developpment of this website, you can <a href="contacts.html">contact us</a> any time you want. </p>
