<% @page_title = 'Online Russian Grammar:  Exercises for personal pronouns ' %>
<% @page_meta = {'description' => "Russian online grammar exercises on personal pronouns"} %>
<% @with_rec = true %>
<% @has_audio = true %>


<% content_for :special_js_css do %>
 <%= stylesheet_link_tag 'grammar-exercises' %>
 <%= javascript_include_tag 'grammar-exercises' %>
<% end %> 
 




<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Links and Settings</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
			
					<li><a href="russian-personal-pronouns.html"> Personal Pronouns</a></li>
					<li><a href="/russian-grammar.html">Russian grammar</a></li>
    		</ul>
	</div>
</div>
</div>



<h2 class="page">Personal pronouns</h2>

<div id="pagecontent"><div id="content">


<h3>Exercise I</h3>


<div class="block" >
				<div class="block-clt">
						<div class="block-crt">
							<div class="block-top"></div>
						</div>
				</div>
				<div class="block-center">
				
<div class="task">Choose an appropriate personal pronoun:</div> 				

<div  class="gr_ex_from_list">

<div class="gr_ex_unit"> 


1. Это проблема.
<select>
<option>Он</option>
<option >Я</option>
<option  class="ok">Она</option>
<option>Они</option>
</select>
очень важна. 

</div>

<div class="gr_ex_unit"> 


2. Вы программисты? - Да,  
<select>
<option>они</option>
<option class="ok">мы</option>
<option>ты</option>
<option >он</option>
</select>
программисты.  

</div>

<div class="gr_ex_unit"> 


3. Ты американец? - Да, 
<select>
<option class="ok">я</option>
<option>он</option>
<option>оно</option>
<option>мы</option>
</select>
американец. 

</div>

<div class="gr_ex_unit"> 


4. Это журнал. 
<select>
<option>Оно</option>
<option class="ok">Он</option>
<option>Она</option>
<option>Они</option>
</select>
лежит на столе.

</div>

<div class="gr_ex_unit"> 


5. Это красивые сувениры.  
<select>
<option >Мы</option>
<option>Она</option>
<option class="ok">Они</option>
<option  >Вы</option>
</select>
мне нравятся.  
</div>


<div class="gr_ex_unit"> 


6. Это платье.  
<select>
<option>Они</option>
<option class="ok">Оно</option>
<option  >Она</option>
<option>Он</option>
</select>
мне не нравится.

</div>

<div class="gr_ex_unit"> 


7. Меня зовут Джон, 
<select>
<option >он</option>
<option >ты</option>
<option>она</option>
<option class="ok">я </option>
</select>
американец. 

</div>

<div class="gr_ex_unit"> 


8. Это Джон и Майкл. 
<select>
<option>Он </option>
<option >Вы </option>
<option>Мы </option>
<option class="ok">Они </option>
</select>
программисты.

</div>

<div class="gr_ex_unit"> 


9. Вы американцы? - Да,  
<select>
<option>она</option>
<option>ты </option>
<option  class="ok">мы </option>
<option>вы </option>
</select>
американцы. 

</div>

<div class="gr_ex_unit"> 


10. Это студент.   
<select>
<option  class="ok">Он </option>
<option >Она </option>
<option>Оно </option>
<option>Они </option>
</select>
изучает историю.

</div>

<div class="gr_ex_unit"> 

11. Ты студентка? - Да, 
<select>
<option >он</option>
<option >ты</option>
<option  class="ok">я </option>
<option>мы </option>
</select>
студентка. 

</div>

<div class="gr_ex_unit"> 


12. Это вино.  
<select>
<option>Мы </option>
<option >Вы </option>
<option>Он </option>
<option class="ok">Оно </option>
</select>
очень дорогое.

</div>

<div class="gr_ex_unit"> 


13. Это магазины.  
<select>
<option>Мы </option>
<option>Она </option>
<option  class="ok">Они </option>
<option>Оно </option>
</select>
находятся рядом с парком.

</div>

<div class="gr_ex_unit"> 


14. Это рубашка.  
<select>
<option  >Оно </option>
<option >Вы </option>
<option>Они </option>
<option class="ok">Она </option>
</select>
мне нравится.

</div>


<p class="ex_from_list_check"><input type="button" value="Check answers" ></p>

</div>


</div>
<div class="block-clb">
     <div class="block-crb">
    	  <div class="block-btm">
    		   </div>
    	  </div>
     </div>		
</div>




<br/><br/><br/>

<h3>Exercise II </h3>

<div class="block" >
				<div class="block-clt">
						<div class="block-crt">
							<div class="block-top"></div>
						</div>
				</div>
				<div class="block-center">
				

<div class="task">Replace nouns with an appropriate form of personal pronouns:</div>

<div  class="gr_ex_type">


<div class="gext_task gext_sign"> 

1. Ты говоришь о <input type="text"  value="магазине" style="width: 80px;" > <span class="gext_answer" style="display: none">нём</span>.
 
<div class="gext_show"><span>Ты говоришь о <b>нём</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

2. Линда хочет надеть <input type="text" value="футболку" style="width: 80px;"><span class="gext_answer" style="display: none">её</span>.
 
<div class="gext_show"><span>Линда хочет надеть <b>её</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

3. Я разговариваю со <input type="text" value="студентами" style="width: 85px;"><span class="gext_answer" style="display: none">ними</span>.
 
<div class="gext_show"><span>  Я разговариваю с <b>ними</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

4. Они ищут <input type="text" value="фотографии" style="width: 90px;"><span class="gext_answer" style="display: none">их</span>.
 
<div class="gext_show"><span>Они ищут <b>их</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

5. Они читают <input type="text" value="журнал"><span class="gext_answer" style="display: none">его</span>.
 
<div class="gext_show"><span> Они читают <b>его</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

6. Я звоню <input type="text" value="женщине" style="width: 65px;"><span class="gext_answer" style="display: none">ей</span>.
 
<div class="gext_show"> <span>Я звоню <b>ей</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

7. Я ищу <input type="text" value="платье"><span class="gext_answer" style="display: none">его</span>.
 
<div class="gext_show"><span>Я ищу <b>его</b></span>. &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

8. Я спрашиваю о <input type="text" value="рубашке" style="width: 65px;"><span class="gext_answer" style="display: none">ней</span>.
 
<div class="gext_show"> <span>Я спрашиваю о <b>ней</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

9. Он не понимает <input type="text" value="программистов" style="width: 110px;"><span class="gext_answer" style="display: none">их</span>.
 
<div class="gext_show"> <span>Он не понимает <b>их</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

10. Он рассказывает историю <input type="text" value="мальчику" style="width: 75px;"><span class="gext_answer" style="display: none">ему</span>.
 
<div class="gext_show"> <span>Он рассказывает историю <b>ему</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

11. Он ищет <input type="text" value="учителя" style="width: 65px;"><span class="gext_answer" style="display: none">его</span>.
 
<div class="gext_show"><span>Он ищет <b>его</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

12. У студентов нет <input type="text" value="книг"><span class="gext_answer" style="display: none">их</span>.
 
<div class="gext_show"> <span>У студентов нет <b>их</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

13. Он рассказывает о <input type="text" value="машинах" style="width: 65px;"><span class="gext_answer" style="display: none">них</span>.
 
<div class="gext_show"> <span>Он рассказывает о <b>них</b>.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

14. Я играю с <input type="text" value="девочкой" style="width: 70px;" ><span class="gext_answer" style="display: none">ней</span>.
 
<div class="gext_show"><span>Я играю с <b>ней</b></span>. &nbsp;</div>

</div>


<p class="gext_check"><input type="button" class="gext_check_btn" value="Check answers" > <input type="button" value="Display answers" class="gext_answer_show"></p>

</div>


</div>
<div class="block-clb">
     <div class="block-crb">
    	  <div class="block-btm">
    		   </div>
    	  </div>
     </div>		
</div>





<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>









</div>
</div>

<script type="text/javascript">
currentSection="grammar";
</script>
