<% @page_title = 'Online Russian Grammar:  Exercises for demonstrative pronouns ' %>
<% @page_meta = {'description' => "Russian online grammar exercises on demonstrative pronouns"} %>
<% @with_rec = true %>
<% @has_audio = true %>


<% content_for :special_js_css do %>
 <%= stylesheet_link_tag 'grammar-exercises' %>
 <%= javascript_include_tag 'grammar-exercises' %>
 <%= stylesheet_link_tag 'keyboard' %>
 
 <script type="text/javascript"> 
 $(document).ready(function(){
	$(".gext_task input").addClass("for_keyb")
 });
 </script>
 <%= javascript_include_tag 'virtual-keyboard' %>
 
<% end %> 
 




<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Links and Settings</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
					<li><a href="russian-demonstrative-pronouns.html"> Demonstrative Pronouns</a></li>
					<li><a href="/russian-grammar.html">Russian grammar</a></li>
    		</ul>
	</div>
</div>
</div>



<h2 class="page">Demonstrative pronouns</h2>

<div id="pagecontent"><div id="content">


<h3>Exercise I</h3>


<div class="block" >
				<div class="block-clt">
						<div class="block-crt">
							<div class="block-top"></div>
						</div>
				</div>
				<div class="block-center">
				
<div class="task">Choose an appropriate demonstrative pronoun:</div> 				

<div  class="gr_ex_from_list">

<div class="gr_ex_unit"> 


1. Мне нравится 
<select>
<option>этот</option>
<option class="ok">эта</option>
<option>это</option>
<option>эти</option>
</select>
рубашка.

</div>

<div class="gr_ex_unit"> 


2.  
<select>
<option>Этот</option>
<option>Эта</option>
<option>Это</option>
<option  class="ok">Эти</option>
</select>
магазины находятся рядом с парком. 

</div>

<div class="gr_ex_unit"> 


3.  
<select>
<option>Этот</option>
<option>Эта</option>
<option  class="ok">Это</option>
<option >Эти</option>
</select>
вино очень дорогое. 

</div>

<div class="gr_ex_unit"> 


4. Мне нравятся 
<select>
<option>этот</option>
<option>эта</option>
<option>это</option>
<option   class="ok">эти</option>
</select>
сувениры. 

</div>

<div class="gr_ex_unit"> 


5.  
<select>
<option>Этот</option>
<option  class="ok">Эта</option>
<option>Это</option>
<option  >Эти</option>
</select>
студентка - русская.   
</div>


<div class="gr_ex_unit"> 


6. 
<select>
<option  class="ok">Этот</option>
<option >Эта</option>
<option  >Это</option>
<option>Эти</option>
</select>
студент изучает историю.

</div>

<div class="gr_ex_unit"> 


7. Мне не нравится  
<select>
<option>этот</option>
<option>эта</option>
<option   class="ok">это</option>
<option>эти</option>
</select>
платье. 

</div>

<div class="gr_ex_unit"> 


8.  
<select>
<option>Этот</option>
<option  class="ok">Эта</option>
<option>Это</option>
<option>Эти</option>
</select>
проблема очень важна. 

</div>

<div class="gr_ex_unit"> 


9. Мне нужен  
<select>
<option class="ok">этот</option>
<option>эта</option>
<option>это</option>
<option>эти</option>
</select>
костюм. 

</div>

<div class="gr_ex_unit"> 


10.   
<select>
<option >Этот</option>
<option>Эта</option>
<option>Это</option>
<option  class="ok">Эти</option>
</select>
здания очень красивы.

</div>

<div class="gr_ex_unit"> 

11.   
<select>
<option  class="ok">Этот</option>
<option >Эта</option>
<option >Это</option>
<option>Эти</option>
</select>
журнал лежит на столе. 

</div>

<div class="gr_ex_unit"> 


12. Мне нужны  
<select>
<option>этот</option>
<option >эта</option>
<option>это</option>
<option  class="ok">эти</option>
</select>
игрушки.  

</div>

<p class="ex_from_list_check"><input type="button" value="Check answers" ></p>

</div>


</div>
<div class="block-clb">
     <div class="block-crb">
    	  <div class="block-btm">
    		   </div>
    	  </div>
     </div>		
</div>


<br/><br/><br/>

<h3>Exercise II </h3>

<div class="block" >
				<div class="block-clt">
						<div class="block-crt">
							<div class="block-top"></div>
						</div>
				</div>
				<div class="block-center">
				

<div class="task">Put the demonstrative pronouns in a appropriate case. <a class="show_keyboard" href="javascript:;">[ Use virtual keyboard ]</a></div>

<div  class="gr_ex_type">


<div class="gext_task gext_sign"> 

1. Он рассказывает историю  <input type="text"  value="этот" > <span class="gext_answer" style="display: none">этому</span>  мальчику. 
 
<div class="gext_show"><span>Он рассказывает историю <b>этому</b> мальчику. </span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

2. Они ищут <input type="text" value="этот"><span class="gext_answer" style="display: none">эти</span> фотографии.
 
<div class="gext_show"><span> Они ищут <b>эти</b> фотографии.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

3. Я разговариваю с <input type="text" value="этот"><span class="gext_answer" style="display: none">этими</span> студентами. 
 
<div class="gext_show"><span>  Я разговариваю с <b>этими</b> студентами.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

4. Он ищет  <input type="text" value="этот"><span class="gext_answer" style="display: none">этого</span> учителя.
 
<div class="gext_show"><span>Он ищет <b>этого</b> учителя.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

5. Я звоню  <input type="text" value="этот"><span class="gext_answer" style="display: none">этой</span> женщине.
 
<div class="gext_show"><span> Я звоню <b>этой</b> женщине.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

6. Она хочет надеть  <input type="text" value="этот"><span class="gext_answer" style="display: none">эту</span> футболку.
 
<div class="gext_show"> <span> Она хочет надеть <b>эту</b> футболку.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

7. Он не понимает  <input type="text" value="этот" ><span class="gext_answer" style="display: none">этих</span> программистов.
 
<div class="gext_show"><span>Он не понимает <b>этих</b></span> программистов. &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

8. Они читают  <input type="text" value="этот"><span class="gext_answer" style="display: none">этот</span> журнал.
  
<div class="gext_show"> <span>Они читают <b>этот</b> журнал.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

9. Я ищу   <input type="text" value="этот"><span class="gext_answer" style="display: none">это</span> платье.
 
<div class="gext_show"> <span>Я ищу <b>это</b> платье.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

10. Я спрашиваю об <input type="text" value="этот"><span class="gext_answer" style="display: none">этой</span> рубашке.
 
<div class="gext_show"> <span>Я спрашиваю об <b>этой</b> рубашке.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

11. Я играю с  <input type="text" value="этот" ><span class="gext_answer" style="display: none">этой</span> девочкой.
 
<div class="gext_show"><span>Я играю с <b>этой</b> девочкой.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

12. Ты говоришь об <input type="text" value="этот"><span class="gext_answer" style="display: none">этом</span> магазине.
 
<div class="gext_show"> <span>Ты говоришь об  <b>этом</b> магазине.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

13. Он рассказывает об  <input type="text" value="этот"><span class="gext_answer" style="display: none">этих</span> машинах.
 
<div class="gext_show"> <span>Он рассказывает об <b>этих</b> машинах.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

14. У    <input type="text" value="этот"  ><span class="gext_answer" style="display: none">этих</span> студентов много книг.
 
<div class="gext_show"><span>У <b>этих</b></span> студентов много книг. &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

15.   <input type="text" value="Этот"  ><span class="gext_answer" style="display: none">Эта</span> книга очень интересная.
 
<div class="gext_show"><span><b>Эта</b></span> книга очень интересная. &nbsp;</div>

</div>


<p class="gext_check"><input type="button" class="gext_check_btn" value="Check answers" > <input type="button" value="Display answers" class="gext_answer_show"></p>

</div>


</div>
<div class="block-clb">
     <div class="block-crb">
    	  <div class="block-btm">
    		   </div>
    	  </div>
     </div>		
</div>





<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>









</div>
</div>

<script type="text/javascript">
currentSection="grammar";
</script>
