<% @page_title = 'Online Russian Grammar:  Exercises for interrogative pronouns ' %>
<% @page_meta = {'description' => "Russian online grammar exercises on interrogative pronouns"} %>
<% @with_rec = true %>
<% @has_audio = true %>


<% content_for :special_js_css do %>
 <%= stylesheet_link_tag 'grammar-exercises' %>
 <%= javascript_include_tag 'grammar-exercises' %>
<% end %> 
 




<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Links and Settings</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
					<li><a href="additional.html"> Additional Information</a></li>
    		</ul>
	</div>
</div>
</div>



<h2 class="page">Interrogative pronouns</h2>

<div id="pagecontent"><div id="content">


<h3>Exercise I</h3>


<div class="block" >
				<div class="block-clt">
						<div class="block-crt">
							<div class="block-top"></div>
						</div>
				</div>
				<div class="block-center">
				

<div class="task">Put the interrogative pronoun <i style="font-weight: normal">кто</i> in an appropriate case form:</div>

<div  class="gr_ex_type">


<div class="gext_task gext_sign"> 

1. Она не понимает француженку. -  <input type="text"  value="" > <span class="gext_answer" style="display: none">кого</span> она не понимает?  
 
<div class="gext_show"><span>Она не понимает француженку. -  <b>Кого</b> она не понимает?   </span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

2. Я спрашиваю о твоей сестре. - О  <input type="text" value=""><span class="gext_answer" style="display: none">ком</span> ты спрашиваешь?
 
<div class="gext_show"><span> Я спрашиваю о твоей сестре. - О  <b>ком</b> ты спрашиваешь?</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

3. Он рассказывает историю этому мальчику. - <input type="text" value=""><span class="gext_answer" style="display: none">Кому</span> он рассказывает историю? 
 
<div class="gext_show"><span>  Он рассказывает историю этому мальчику. - <b>Кому</b> он рассказывает историю?</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

4. Он рассказывает о своих партнёрах. - О  <input type="text" value=""><span class="gext_answer" style="display: none">ком</span> он рассказывает?
 
<div class="gext_show"><span>Он рассказывает о своих партнёрах. - О  <b>ком</b> он рассказывает?</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

5. Он ищет этого учителя. <input type="text" value=""><span class="gext_answer" style="display: none">Кого</span> он ищет?
 
<div class="gext_show"><span>Он ищет этого учителя. <b>Кого</b> он ищет?</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

6. У этого студента есть машина. - У <input type="text" value=""><span class="gext_answer" style="display: none">кого</span> есть машина?
 
<div class="gext_show"> <span> У этого студента есть машина. - У <b>кого</b> есть машина?</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

7. Они хорошо знают Линду. - <input type="text" value="" ><span class="gext_answer" style="display: none">Кого</span> они хорошо знают?
 
<div class="gext_show"><span>Они хорошо знают Линду. - <b>Кого</b></span> они хорошо знают? &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

8. Это инженер из России. <input type="text" value=""><span class="gext_answer" style="display: none">Кто</span> это?
  
<div class="gext_show"> <span>Это инженер из России. <b>Кто</b> это?</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

9. Они ищут менеджера. - <input type="text" value=""><span class="gext_answer" style="display: none">Кого</span>  они ищут?
 
<div class="gext_show"> <span>Они ищут менеджера. - <b>Кого</b> они ищут?</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

10. Я звоню этой женщине. -  <input type="text" value=""><span class="gext_answer" style="display: none">Кому</span> ты звонишь?
 
<div class="gext_show"> <span>Я звоню этой женщине. - <b>Кому</b> ты звонишь?</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

11. Я разговариваю со студентами. - С <input type="text" value="" ><span class="gext_answer" style="display: none">кем</span>  ты разговариваешь?
 
<div class="gext_show"><span>Я разговариваю со студентами. - С <b>кем</b>  ты разговариваешь?</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

12. Я играю с братом. - С  <input type="text" value=""><span class="gext_answer" style="display: none">кем</span> ты игрешь?
 
<div class="gext_show"> <span>Я играю с братом. - С <b>кем</b> ты игрешь?</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

13. Мария смотрит телевизор. - <input type="text" value=""><span class="gext_answer" style="display: none">Кто</span> смотрит телевизор?
 
<div class="gext_show"> <span>Мария смотрит телевизор. - <b>Кто</b> смотрит телевизор?</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

14. Ты рассказываешь о своих родителях. - О <input type="text" value=""  ><span class="gext_answer" style="display: none">ком</span>  ты рассказываешь?
 
<div class="gext_show"><span>Ты рассказываешь о своих родителях. - О <b>ком</b></span> ты рассказываешь? &nbsp;</div>

</div>



<p class="gext_check"><input type="button" class="gext_check_btn" value="Check answers" > <input type="button" value="Display answers" class="gext_answer_show"></p>

</div>


</div>
<div class="block-clb">
     <div class="block-crb">
    	  <div class="block-btm">
    		   </div>
    	  </div>
     </div>		
</div>

<br><br><br>



<h3>Exercise II</h3>


<div class="block" >
				<div class="block-clt">
						<div class="block-crt">
							<div class="block-top"></div>
						</div>
				</div>
				<div class="block-center">
				

<div class="task">Put the interrogative pronoun <i style="font-weight: normal">что</i> in an appropriate case form:</div>

<div  class="gr_ex_type">


<div class="gext_task gext_sign"> 

1. Я ищу это платье. -  <input type="text"  value="" > <span class="gext_answer" style="display: none">Что</span>  ты ищешь?  
 
<div class="gext_show"><span>Я ищу это платье. - <b>Что</b>  ты ищешь? </span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

2. Я интересуюсь музыкой. - <input type="text" value=""><span class="gext_answer" style="display: none">Чем</span>  ты интересушься?
 
<div class="gext_show"><span> Я интересуюсь музыкой. - <b>Чем</b>   ты интересушься?</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

3. Я хочу пройти к станции метро. - К <input type="text" value=""><span class="gext_answer" style="display: none">чему</span>  ты хочешь пройти?
 
<div class="gext_show"><span>  Я хочу пройти к станции метро. - К  <b>чему</b>  ты хочешь пройти?</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

4. Это интересный журнал. - <input type="text" value=""><span class="gext_answer" style="display: none">Что</span>  это? 
 
<div class="gext_show"><span>Это интересный журнал. -  <b>Что</b>  это? </span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

5. У меня нет машины. - <input type="text" value=""><span class="gext_answer" style="display: none">Чего</span>  у тебя нет?
 
<div class="gext_show"><span>У меня нет машины. - <b>Чего</b>  у тебя нет?</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

6. Мне нужен сувенир. - <input type="text" value=""><span class="gext_answer" style="display: none">Что</span>  тебе нужно? 
 
<div class="gext_show"> <span> Мне нужен сувенир. -  <b>Что</b> тебе нужно? </span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

7. Им нравится эта книга. - <input type="text" value="" ><span class="gext_answer" style="display: none">Что</span>  им нравится?
 
<div class="gext_show"><span>Им нравится эта книга. - <b>Что</b></span>  им нравится? &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

8. Они читают книгу. - <input type="text" value=""><span class="gext_answer" style="display: none">Что</span>  они читают?
  
<div class="gext_show"> <span> Они читают книгу. - <b>Что</b>  они читают?</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

9. У  Джона нет билета. - <input type="text" value=""><span class="gext_answer" style="display: none">Чего</span>  нет у Джона?
 
<div class="gext_show"> <span>У  Джона нет билета. - <b>Чего</b>  нет у Джона?</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

10. Они изучают химию. - <input type="text" value=""><span class="gext_answer" style="display: none">Что</span>  они изучают?
 
<div class="gext_show"> <span>Они изучают химию. - <b>Что</b> они изучают?</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

11. Ты говоришь об этом магазине. - О <input type="text" value="" ><span class="gext_answer" style="display: none">чём</span>   ты говоришь?
 
<div class="gext_show"><span>Ты говоришь об этом магазине. - О <b>чём</b>  ты говоришь?</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

12. Я пишу ручкой. - <input type="text" value=""><span class="gext_answer" style="display: none">Чем</span>  ты пишешь?
 
<div class="gext_show"> <span>Я пишу ручкой. - <b>Чем</b>  ты пишешь??</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

13. Он готовится к путешествию. - К <input type="text" value=""><span class="gext_answer" style="display: none">чему</span>  он готовится?
 
<div class="gext_show"> <span>Он готовится к путешествию. - К <b>чему</b>  он готовится?</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

14. Он рассказывает о путешествии.- О <input type="text" value=""  ><span class="gext_answer" style="display: none">чём</span> он рассказывает?
 
<div class="gext_show"><span>Он рассказывает о путешествии.- О <b>чём</b></span> он рассказывает? &nbsp;</div>

</div>



<p class="gext_check"><input type="button" class="gext_check_btn" value="Check answers" > <input type="button" value="Display answers" class="gext_answer_show"></p>

</div>


</div>
<div class="block-clb">
     <div class="block-crb">
    	  <div class="block-btm">
    		   </div>
    	  </div>
     </div>		
</div>




<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>









</div>
</div>

<script type="text/javascript">
currentSection="words";
</script>
