<% @page_title='Russian Language Online: Russian Pronunciation' %>
<% @page_meta = {'description' => "Summary of the online course for Russian pronunciation"} %>

<% content_for :special_css do %>
.lists li {
padding-top: 5px;
}
<% end %>

<h2 class="page">Phonetics: Russian Pronunciation</h2>
<p>
The main purpose of "Phonetics" section is to provide skills in perception and distinction of Russian sounds, as well as to give the description of Russian sounds articulation. In this section you will find basic information about Russian sounds and peculiarities of their pronunciation. There is also a phonetics course which will help you to get familiar with Russian pronunciation.
</p>

<%= render :partial => '/site/ad_horizont' %>

<p>
We recommend you to work with this section in the following order:
</p>

<ol class="lists">
	<li><a href="basic-sounds.html">Basic Russian sounds and their transcription</a></li>
	<li><a href="sounds-info.html">General info about sounds in the Russian language</a></li>
	<li><a href="russian-articulation.html">Description of Russian sounds: Articulation details</a></li>
	<li><a href="phonetics-course.html">Introductory phonetics course for Russian</a>
		<ul style="list-style: none; padding-left: 10px;">
			<li>- <a href="phonetics01.html">Vowel sounds</a></li>
			<li>- <a href="phonetics02.html">Hard consonants</a></li>
   			<li>- <a href="phonetics03.html">Soft consonants</a></li>
			<li>- <a href="phonetics04.html">The most difficult sounds</a></li>
		</ul>	
	</li>
</ol>

<p>
If you don't have enough time or desire to thoroughly study phonetics and pronunciation, we recommend you at least to take a look at the <a href="basic-sounds.html">Basic Russian sounds</a> so that you could better understand transcriptions used on our site.
</p>


<br><br>
<%= render :partial => '/site/ad_btm' %>

<br><br><br>


<script type="text/javascript">
currentSection="phonetic";
</script>

