<% @page_title = 'Online Russian Grammar:  Exercises for possessive pronouns ' %>
<% @page_meta = {'description' => "Russian online grammar exercises on possessive pronouns"} %>
<% @with_rec = true %>
<% @has_audio = true %>


<% content_for :special_js_css do %>
 <%= stylesheet_link_tag 'grammar-exercises' %>
 <%= javascript_include_tag 'grammar-exercises' %>
<% end %> 
 




<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Links and Settings</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
					<li><a href="russian-possessive-pronouns.html"> Possessive Pronouns</a></li>
					<li><a href="additional.html"> Additional Information</a></li>
    		</ul>
	</div>
</div>
</div>



<h2 class="page">Possessive pronouns</h2>

<div id="pagecontent"><div id="content">


<h3>Exercise I</h3>


<div class="block" >
				<div class="block-clt">
						<div class="block-crt">
							<div class="block-top"></div>
						</div>
				</div>
				<div class="block-center">
				
<div class="task">Choose an appropriate possessive pronoun:</div> 				

<div  class="gr_ex_from_list">

<div class="gr_ex_unit"> 


1. У меня есть книга. Это 
<select>
<option>мой</option>
<option class="ok">моя</option>
<option>моё</option>
<option>мои</option>
</select>
книга.

</div>

<div class="gr_ex_unit"> 


2. У Джона есть сестра.  - Это 
<select>
<option class="ok">его</option>
<option>её</option>
<option>их</option>
<option>свой</option>
</select>
сестра. 

</div>

<div class="gr_ex_unit"> 


3. У нас есть билеты. - Это  
<select>
<option>наш</option>
<option>наша</option>
<option>наше</option>
<option  class="ok">наши</option>
</select>
билеты.

</div>

<div class="gr_ex_unit"> 


4. У Джона и Марии есть сын. - Это  
<select>
<option>его</option>
<option>её</option>
<option  class="ok">их</option>
<option>свой</option>
</select>
сын.

</div>

<div class="gr_ex_unit"> 


5. У меня есть брат. - Это     
<select>
<option  class="ok">мой</option>
<option>моя</option>
<option>моё</option>
<option  >мои</option>
</select>
брат.
</div>


<div class="gr_ex_unit"> 


6. У тебя есть журналы. - Это  
<select>
<option>твой</option>
<option >твоя</option>
<option  >твоё</option>
<option class="ok">твои</option>
</select>
журналы.

</div>

<div class="gr_ex_unit"> 


7. У нас есть машина. - Это 
<select>
<option>наш</option>
<option  class="ok">наша </option>
<option>наше </option>
<option>наши </option>
</select>
машина. 

</div>

<div class="gr_ex_unit"> 


8. У меня есть журналы. - Это  
<select>
<option>мой </option>
<option >моя </option>
<option>моё </option>
<option class="ok">мои </option>
</select>
журналы.

</div>

<div class="gr_ex_unit"> 


9. У Марии и Синтии есть картины. - Это 
<select>
<option>его</option>
<option>её</option>
<option  class="ok">их </option>
<option>свои </option>
</select>
картины. 

</div>

<div class="gr_ex_unit"> 


10. У Марии есть ручка. - Это  
<select>
<option >его </option>
<option  class="ok">её </option>
<option>их </option>
<option>своя </option>
</select>
ручка.

</div>

<div class="gr_ex_unit"> 

11. У тебя есть костюм. - Это 
<select>
<option  class="ok">твой</option>
<option >твоя</option>
<option >твоё</option>
<option>твои </option>
</select>
костюм.

</div>

<div class="gr_ex_unit"> 


12. У Майкла есть сувенир. - Это  
<select>
<option class="ok">его   </option>
<option >её </option>
<option>их </option>
<option >свой </option>
</select>
сувенир. 

</div>

<div class="gr_ex_unit"> 


13. У меня есть кресло. - Это   
<select>
<option>мой </option>
<option>моя </option>
<option  class="ok">моё </option>
<option>мои</option>
</select>
кресло.

</div>

<div class="gr_ex_unit"> 


14. У вас есть рубашка. - Это 
<select>
<option  >ваш </option>
<option class="ok">ваша </option>
<option>ваше </option>
<option >ваши </option>
</select>
рубашка.  

</div>


<p class="ex_from_list_check"><input type="button" value="Check answers" ></p>

</div>


</div>
<div class="block-clb">
     <div class="block-crb">
    	  <div class="block-btm">
    		   </div>
    	  </div>
     </div>		
</div>



<h3>Exercise II</h3>


<div class="block" >
				<div class="block-clt">
						<div class="block-crt">
							<div class="block-top"></div>
						</div>
				</div>
				<div class="block-center">
				
<div class="task">Choose an appropriate form of possessive pronouns. Use the pronoun <i style="font-weight: normal">свой</i> where possible:</div> 				

<div  class="gr_ex_from_list">

<div class="gr_ex_unit"> 


1. Это книга 
<select>
<option>мой</option>
<option class="ok">моего</option>
<option>свой</option>
<option>своего</option>
</select>
учителя.

</div>

<div class="gr_ex_unit"> 


2. Я звоню  
<select>
<option>мой</option>
<option>моему</option>
<option>свой</option>
<option  class="ok">своему</option>
</select>
партнёру.  

</div>

<div class="gr_ex_unit"> 


3. Он хочет надеть 
<select>
<option>твой</option>
<option  class="ok">твоё</option>
<option>свой</option>
<option>своего</option>
</select>
пальто.

</div>

<div class="gr_ex_unit"> 


4. Мы читаем 
<select>
<option>моя</option>
<option>своя</option>
<option  class="ok">их</option>
<option>твоя</option>
</select>
журнал. 

</div>

<div class="gr_ex_unit"> 


5. Он ищет     
<select>
<option >его</option>
<option class="ok">свой</option>
<option>своего</option>
<option>свою</option>
</select>
паспорт.
</div>


<div class="gr_ex_unit"> 


6. Ты ищешь мои 
<select>
<option>твой</option>
<option >твоего</option>
<option  >свой</option>
<option class="ok">мои</option>
</select>
журналы.  

</div>

<div class="gr_ex_unit"> 


7. Я понимаю своего 
<select>
<option>мой</option>
<option >моего</option>
<option>свой</option>
<option  class="ok">своего</option>
</select>
друга.  

</div>

<div class="gr_ex_unit"> 


8. Она играет с    
<select>
<option>её</option>
<option >свой</option>
<option class="ok">своей</option>
<option >своим</option>
</select>
сестрой.

</div>

<div class="gr_ex_unit"> 


9. Мы разговариваем с
<select>
<option>наши</option>
<option>нашими</option>
<option  class="ok">своими</option>
<option>свои </option>
</select>
 родителями. 

</div>

<div class="gr_ex_unit"> 


10. Ты говоришь о 
<select>
<option >твоя </option>
<option >своя </option>
<option  class="ok">своей</option>
<option>твоей</option>
</select>
маме.   

</div>

<div class="gr_ex_unit"> 

11. Я спрашиваю о 
<select>
<option>твои</option>
<option class="ok">его</option>
<option >мои</option>
<option>свои </option>
</select>
задании.

</div>

<div class="gr_ex_unit"> 


12. Он рассказывает о своём 
<select>
<option > свой  </option>
<option >своё </option>
<option>своя </option>
<option class="ok">своём </option>
</select>
путешествии.   

</div>




<p class="ex_from_list_check"><input type="button" value="Check answers" ></p>

</div>


</div>
<div class="block-clb">
     <div class="block-crb">
    	  <div class="block-btm">
    		   </div>
    	  </div>
     </div>		
</div>









<br/><br/><br/>

<h3>Exercise II </h3>

<div class="block" >
				<div class="block-clt">
						<div class="block-crt">
							<div class="block-top"></div>
						</div>
				</div>
				<div class="block-center">
				

<div class="task">Put the possessive pronouns in a appropriate case:</div>

<div  class="gr_ex_type">


<div class="gext_task gext_sign"> 

1. Я спрашиваю о <input type="text"  value="твоя" > <span class="gext_answer" style="display: none">твоей</span> сестре. 
 
<div class="gext_show"><span>Я спрашиваю о  <b>твоей</b> сестре. </span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

2. Он рассказывает историю    <input type="text" value="ваш"><span class="gext_answer" style="display: none">вашему</span> брату.
 
<div class="gext_show"><span> Он рассказывает историю   <b>вашему</b> брату.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

3. У   <input type="text" value="твой"><span class="gext_answer" style="display: none">твоих</span> родителей есть машина.
 
<div class="gext_show"><span>  У <b>твоих</b> родителей есть машина.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

4. Я играю с <input type="text" value="твой"><span class="gext_answer" style="display: none">твоим</span> братом.
 
<div class="gext_show"><span>Я играю с <b>твоим</b> братом.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

5. Это журнал  <input type="text" value="моя"><span class="gext_answer" style="display: none">моей</span> сестры.
 
<div class="gext_show"><span> Это журнал <b>моей</b> сестры.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

6. Я ищу <input type="text" value="твой"><span class="gext_answer" style="display: none">твоего</span> брата.
 
<div class="gext_show"> <span>Я ищу <b>твоего</b> брата.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

7. Я звоню <input type="text" value="наш" ><span class="gext_answer" style="display: none">нашему</span> партнёру.
 
<div class="gext_show"><span>Я звоню  <b>нашему</b></span> партнёру. &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

8. Она хочет надеть <input type="text" value="твоя"><span class="gext_answer" style="display: none">твою</span> шапку.
  
<div class="gext_show"> <span>Она хочет надеть <b>твою</b> шапку.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

9. Они ищут <input type="text" value="наш"><span class="gext_answer" style="display: none">наши</span> игрушки.
 
<div class="gext_show"> <span>Они ищут <b>наши</b> игрушки.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

10. Это книга  <input type="text" value="наш"><span class="gext_answer" style="display: none">нашего</span> брата.
 
<div class="gext_show"> <span>Это книга <b>нашего</b> брата.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

11. Я разговариваю с  <input type="text" value="ваш" ><span class="gext_answer" style="display: none">вашими</span> родителями.
 
<div class="gext_show"><span>Я разговариваю с  <b>вашими</b> родителями.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

12. Ты говоришь о  <input type="text" value="наш"><span class="gext_answer" style="display: none">нашем</span> брате.
 
<div class="gext_show"> <span>Ты говоришь о  <b>нашем</b> брате.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

13. Он рассказывает о  <input type="text" value="мой"><span class="gext_answer" style="display: none">моих</span> партнёрах.
 
<div class="gext_show"> <span>Он рассказывает о <b>моих</b> партнёрах.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

14. Они читают  <input type="text" value="мой"  ><span class="gext_answer" style="display: none">мой</span> журнал.
 
<div class="gext_show"><span>Они читают <b>мой</b></span> журнал. &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

15. Он не понимает <input type="text" value="мой"  ><span class="gext_answer" style="display: none">моих</span> родителей.
 
<div class="gext_show"><span>Он не понимает <b>моих</b></span> родителей. &nbsp;</div>

</div>


<p class="gext_check"><input type="button" class="gext_check_btn" value="Check answers" > <input type="button" value="Display answers" class="gext_answer_show"></p>

</div>


</div>
<div class="block-clb">
     <div class="block-crb">
    	  <div class="block-btm">
    		   </div>
    	  </div>
     </div>		
</div>





<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>









</div>
</div>

<script type="text/javascript">
currentSection="words";
</script>
