<% @page_title = 'Reading in Russian' %>
<% @page_meta = {'description' => ""} %>

<h2 class="page">Reading in Russian</h2>
<p>
Russian alphabet, rules of reading and all that you need to read in Russian with ease.
</p>
<h3>Content:</h3>
<div class="bold">
<p><a href="alphabet.html" title="Alphabet">Russian alphabet</a></p>
<p><a href="readingrules.html" title="Rules">Rules of reading</a></p>
<p><a href="readings.html" title="Training">Training exercises</a></p>
</div>


<script type="text/javascript">
currentSection="reading";
</script>
