<% @page_title = 'Reading in Russian: Text for reading: Russia' %>
<% @page_meta = {'description' => "Practice of reading in Russian: Russia - audio text with, transcription, translation, stress marks and comments on reading"} %>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_js_css do %>
<%= javascript_include_tag 'reading_helper' %>
<%= stylesheet_link_tag 'reading-helper' %>
<%end%>

<div class="hint_wrap">
<div class="hint_button">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
		  <li><a href="reading_text_01.html">Text: Introduction</a></li>
          <li><a href="reading_text_03.html">Text: Moscow</a></li>
          <li><a href="reading_text_04.html">Text: Saint Petersburg</a></li>
          <li><a href="reading_text_05.html">Text: Russian Food</a></li>
        </ul>
        <%= render :partial => 'preload_option' %>
  </div>
</div>
</div>
<div id="pagecontent"><div id="content">

<h2 class="page">Text: Russia</h2>
<h3 class="page-path">
	<span class="int-links">
	<a href="russian-reading.html">Reading in Russian</a>
	<span class="int-arrow">--&gt;</span> 
	<a href="russian-reading-texts.html">Texts for reading</a>
	<span class="int-arrow">--&gt;</span> Introduction
	</span>
</h3>




<p><input type="checkbox" id="hide_stressmark" /> Display stress marks &nbsp; &nbsp;<a href="javascript:;" id="stress_adjust">[adjust, if needed]</a>
</p>
<p><input type="checkbox" id="hide_transcription" /> Display transcription
</p>
<p><input type="checkbox" id="hide_translation" checked /> Display translation
</p>



<div class="hidden_soft hidden_stressed hidden_reduct hidden_unvoiced"> 

<table class="highlight_options" cellpadding="0" cellspacing="0" border="0" align="center">
	<tr>
		<td colspan="4" class="highlight_info">
			Choose a view mode of the following groups of letters
		</td>
	</tr>
	<tr class="highlight_buttons">
		<td class="highlight_stressed">
			Stressed vowels
		</td>
		<td class="highlight_soft">
			Soft consonants
		</td>
		<td class="highlight_unvoiced">
			Unvoiced consonants
		</td>
		<td class="highlight_reduct">
			Reduced vowels
		</td>
	</tr>
</table>



<br><br>

<div class="r_text_container">
<table>
	<tr class="r_line">
		<td>
    	   <div class="r_string">
    	   	<table onclick="playSound('reading/soundt02010.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
             <tr>
              <td>
    				Р<span class="reduct_letter">о</span><span class="soft_letter">сс</span><span class="stressed_letter">и</span>я - с<span class="stressed_letter">а</span>мая б<span class="reduct_letter">о</span><span class="soft_letter">л</span>ьш<span class="stressed_letter">а</span>я стран<span class="stressed_letter">а</span> в <span class="soft_letter">м</span><span class="stressed_letter">и</span><span class="soft_letter">р</span>е.
              </td>

              <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
              </td>
             </tr>
    		</table>
    	   </div>
    	   <div class="r_transcript">
    	   	[ras<span class="acct">i</span>ya s<span class="acct">a</span>maya bal'sh<span class="acct">a</span>ya stran<span class="acct">a</span> v m<span class="acct">i</span>r'e]
    	   </div>
    	   <div class="r_translate">
    	   	Russia is the largest country in the world.
    	   </div>
		</td>
	</tr>
	
	<tr class="r_line">
		<td>
    	   <div class="r_string">
    	   	<table onclick="playSound('reading/soundt02020.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
             <tr>
              <td>
    				Е<span class="stressed_letter">ё</span> <span class="stressed_letter">о</span><span class="unvoiced_letter">б</span>щая пл<span class="stressed_letter">о</span>ща<span class="soft_letter"><span class="unvoiced_letter">д</span></span>ь с<span class="reduct_letter">о</span>став<span class="soft_letter">л</span><span class="stressed_letter">я</span><span class="reduct_letter">е</span>т <span class="stressed_letter">о</span>к<span class="reduct_letter">о</span>л<span class="reduct_letter">о</span> <span class="soft_letter">с</span><span class="reduct_letter">е</span>мн<span class="stressed_letter">а</span><span class="unvoiced_letter">д</span>ца<span class="soft_letter">т</span>и <span class="soft_letter">м</span>и<span class="soft_letter">лл</span>и<span class="stressed_letter">о</span>н<span class="reduct_letter">о</span><span class="unvoiced_letter">в</span> квадр<span class="stressed_letter">а</span>тных <span class="soft_letter">к</span>ил<span class="reduct_letter">о</span><span class="soft_letter">м</span><span class="stressed_letter">е</span>тр<span class="reduct_letter">о</span><span class="unvoiced_letter">в</span>.
              </td>

              <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
              </td>
             </tr>
    		</table>
    	   </div>
    	   <div class="r_transcript">
    	   	[yiy<span class="acct">o</span> <span class="acct">o</span>pschaya pl<span class="acct">o</span>schat' sastavl'<span class="acct">a</span>it <span class="acct">o</span>kala simn<span class="acct">a</span>tsati mili<span class="acct">o</span>naf kvadr<span class="acct">a</span>tn<span class="ry">i</span>h kilam'<span class="acct">e</span>traf]
    	   </div>
    	   <div class="r_translate">
    	   	Its total area is about 17 million square kilometres.
    	   </div>
		</td>
	</tr>
	
	<tr class="r_line">
		<td>
    	   <div class="r_string">
    	   	<table onclick="playSound('reading/soundt02030.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
             <tr>
              <td>
    			   <span class="reduct_letter">О</span>н<span class="stressed_letter">а</span> <span class="reduct_letter">о</span>хв<span class="stressed_letter">а</span>тыва<span class="reduct_letter">е</span>т в<span class="reduct_letter">о</span>ст<span class="stressed_letter">о</span>чную ч<span class="stressed_letter">а</span><span class="soft_letter">ст</span>ь <span class="reduct_letter">Е</span>вр<span class="stressed_letter">о</span>пы и <span class="soft_letter">с</span><span class="stressed_letter">е</span><span class="soft_letter">в</span><span class="reduct_letter">е</span>рную ч<span class="stressed_letter">а</span><span class="soft_letter">ст</span>ь <span class="stressed_letter">А</span><span class="soft_letter">з</span>ии.
              </td>

              <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
              </td>
             </tr>
    		</table>
    	   </div>
    	   <div class="r_transcript">
    	   	[an<span class="acct">a</span> ahv<span class="acct">a</span>t<span class="acct"><span class="ry">i</span></span>vait vast<span class="acct">o</span>chnooyoo ch<span class="acct">a</span>s't' yivr<span class="acct">o</span>p<span class="ry">i</span> i s'<span class="acct">e</span>virnooyoo ch<span class="acct">a</span>s't' <span class="acct">a</span>zii]
    	   </div>
    	   <div class="r_translate">
    	   	It covers the eastern part of Europe and the northern part of Asia.
    	   </div>
		</td>
	</tr>
	
	<tr class="r_line">
		<td>
    	   <div class="r_string">
    	   	<table onclick="playSound('reading/soundt02040.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
             <tr>
              <td>
    				Р<span class="reduct_letter">о</span><span class="soft_letter">сс</span><span class="stressed_letter">и</span>я <span class="reduct_letter">о</span>мыв<span class="stressed_letter">а</span><span class="reduct_letter">е</span>тся т<span class="soft_letter">р</span><span class="reduct_letter">е</span><span class="soft_letter">м</span><span class="stressed_letter">я</span> <span class="reduct_letter">о</span><span class="soft_letter">к</span><span class="reduct_letter">е</span>ан<span class="stressed_letter">а</span><span class="soft_letter">м</span>и: Атла<span class="soft_letter">нт</span><span class="stressed_letter">и</span>ч<span class="reduct_letter">е</span>с<span class="soft_letter">к</span>им, <span class="soft_letter">Т</span><span class="stressed_letter">и</span><span class="soft_letter">х</span>им и <span class="soft_letter">С</span><span class="stressed_letter">е</span><span class="soft_letter">в</span><span class="reduct_letter">е</span>рным <span class="soft_letter">Л</span><span class="reduct_letter">е</span>д<span class="reduct_letter">о</span><span class="soft_letter">в</span><span class="stressed_letter">и</span>тым.
              </td>

              <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
              </td>
             </tr>
    		</table>
    	   </div>
    	   <div class="r_transcript">
    	   	[ras<span class="acct">i</span>ya am<span class="ry">i</span>v<span class="acct">a</span>itsa trim'<span class="acct">a</span> oki<span class="acct">a</span>nami - atlan't<span class="acct">i</span>chiskim, t<span class="acct">i</span>him i s'<span class="acct">e</span>virn<span class="ry">i</span>m lidav<span class="acct">i</span>t<span class="ry">i</span>m]
    	   </div>
    	   <div class="r_translate">
    	   	The country is washed by 3 oceans: the Atlantic, the Pacific, and the Arctic.
    	   </div>
		</td>
	</tr>
	
	<tr class="r_line">
		<td>
    	   <div class="r_string">
    	   	<table onclick="playSound('reading/soundt02050.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
             <tr>
              <td>
    				Н<span class="stressed_letter">а</span> <span class="stressed_letter">ю</span><span class="soft_letter">г</span>е Р<span class="reduct_letter">о</span><span class="soft_letter">сс</span><span class="stressed_letter">и</span>я гра<span class="soft_letter">н</span><span class="stressed_letter">и</span>чит с <span class="soft_letter">К</span>ит<span class="stressed_letter">а</span>ем, М<span class="reduct_letter">о</span>нг<span class="stressed_letter">о</span><span class="soft_letter">л</span>ией, К<span class="reduct_letter">о</span><span class="soft_letter">р</span><span class="stressed_letter">е</span>ей, Казахст<span class="stressed_letter">а</span>н<span class="reduct_letter">о</span>м, Гр<span class="stressed_letter">у</span><span class="soft_letter">з</span>ией и А<span class="soft_letter">з</span><span class="reduct_letter">е</span>рбайдж<span class="stressed_letter">а</span>н<span class="reduct_letter">о</span>м.
              </td>

              <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
              </td>
             </tr>
    		</table>
    	   </div>
    	   <div class="r_transcript">
    	   	[n<span class="acct">a</span> y<span class="acct">oo</span>g'e ras<span class="acct">i</span>ya gran<span class="acct">i</span>chit s kit<span class="acct">a</span>yem, mang<span class="acct">o</span>liyey, kar'<span class="acct">e</span>yey, kazahstanam, gr<span class="acct">oo</span>ziyey i azirbaydj<span class="acct">a</span>nam]
    	   </div>
    	   <div class="r_translate">
    	   	In the south Russia borders on China, Mongolia, Korea, Kazakhstan, Georgia and Azerbaijan. 
    	   </div>
		</td>
	</tr>
	
	<tr class="r_line">
		<td>
    	   <div class="r_string">
    	   	<table onclick="playSound('reading/soundt02060.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
             <tr>
              <td>
    				Н<span class="stressed_letter">а</span> з<span class="stressed_letter">а</span>па<span class="soft_letter">д</span>е <span class="reduct_letter">о</span>н<span class="stressed_letter">а</span> гран<span class="stressed_letter">и</span>чит с Н<span class="reduct_letter">о</span>р<span class="soft_letter">в</span><span class="stressed_letter">е</span><span class="soft_letter">г</span>ией, <span class="soft_letter">Ф</span>ин<span class="soft_letter">л</span><span class="stressed_letter">я</span><span class="soft_letter">нд</span>ией<a class="r-up" href="#comment_01" title="Read comments below">1</a>, Балт<span class="stressed_letter">и</span>йски<span class="soft_letter">м</span>и г<span class="reduct_letter">о</span>суд<span class="stressed_letter">а</span>рства<span class="soft_letter">м</span>и, <span class="soft_letter">Б</span><span class="reduct_letter">е</span>л<span class="reduct_letter">о</span>р<span class="stressed_letter">у</span><span class="soft_letter">сс</span>ией и Укра<span class="stressed_letter">и</span>н<span class="reduct_letter">о</span>й.
              </td>

              <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
              </td>
             </tr>
    		</table>
    	   </div>
    	   <div class="r_transcript">
    	   	[n<span class="acct">a</span> z<span class="acct">a</span>pad'e an<span class="acct">a</span> gran<span class="acct">i</span>chit s narv'<span class="acct">e</span>giyey, finl'<span class="acct">a</span>n'diyey, balt<span class="acct">i</span>yskimi gasood<span class="acct">a</span>rstvami, bilar<span class="acct">oo</span>siyey i ookra<span class="acct">i</span>nay]
    	   </div>
    	   <div class="r_translate">
    	   	In the west it borders on Norway, Finland, the Baltic States, Belorussia and Ukraine. 
    	   </div>
		</td>
	</tr>
	
	<tr class="r_line">
		<td>
    	   <div class="r_string">
    	   	<table onclick="playSound('reading/soundt02070.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
             <tr>
              <td>
    			   В Р<span class="reduct_letter">о</span><span class="soft_letter">сс</span><span class="stressed_letter">и</span>и б<span class="stressed_letter">о</span><span class="soft_letter">л</span>ее д<span class="soft_letter">в</span><span class="reduct_letter">е</span>н<span class="stressed_letter">а</span>дца<span class="soft_letter">т</span>и <span class="soft_letter">м</span>и<span class="soft_letter">лл</span>и<span class="stressed_letter">о</span>н<span class="reduct_letter">о</span><span class="unvoiced_letter">в</span> <span class="soft_letter">р</span><span class="stressed_letter">е</span>к.
              </td>

              <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
              </td>
             </tr>
    		</table>
    	   </div>
    	   <div class="r_transcript">
    	   	[v ras<span class="acct">i</span>i b<span class="acct">o</span>l'eye dvin<span class="acct">a</span>tsati mili<span class="acct">o</span>naf r'<span class="acct">e</span>k]
    	   </div>
    	   <div class="r_translate">
    	   	There are over two million rivers in Russia.
    	   </div>
		</td>
	</tr>
	
	<tr class="r_line">
		<td>
    	   <div class="r_string">
    	   	<table onclick="playSound('reading/soundt02080.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
             <tr>
              <td>
    				С<span class="stressed_letter">а</span>мые б<span class="reduct_letter">о</span><span class="soft_letter">л</span>ьш<span class="stressed_letter">и</span>е<a class="r-up" href="#comment_02" title="Read comments below">2</a> <span class="soft_letter">р</span><span class="stressed_letter">е</span>ки - В<span class="stressed_letter">о</span>лга, <span class="stressed_letter">О</span><span class="soft_letter"><span class="unvoiced_letter">б</span></span>ь, <span class="reduct_letter">Е</span><span class="soft_letter">н</span>и<span class="soft_letter">с</span><span class="stressed_letter">е</span>й, <span class="soft_letter">Л</span><span class="stressed_letter">е</span>на и Ам<span class="stressed_letter">у</span>р.
              </td>

              <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
              </td>
             </tr>
    		</table>
    	   </div>
    	   <div class="r_transcript">
    	   	[s<span class="acct">a</span>m<span class="ry">i</span>ye bal'sh<span class="acct"><span class="ry">i</span></span>ye r'<span class="acct">e</span>ki v<span class="acct">o</span>lga, <span class="acct">o</span>p', yinis'<span class="acct">e</span>y, l'<span class="acct">e</span>na i am<span class="acct">oo</span>r]
    	   </div>
    	   <div class="r_translate">
    	   	The biggest rivers are Volga, Ob, Yenisei, Lena and Amur.
    	   </div>
		</td>
	</tr>
	
	<tr class="r_line">
		<td>
    	   <div class="r_string">
    	   	<table onclick="playSound('reading/soundt02090.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
             <tr>
              <td>
    				Н<span class="stressed_letter">а</span> <span class="soft_letter">т</span><span class="reduct_letter">е</span><span class="soft_letter">рр</span>ит<span class="stressed_letter">о</span><span class="soft_letter">р</span>ии Р<span class="reduct_letter">о</span><span class="soft_letter">сс</span><span class="stressed_letter">и</span>и расп<span class="reduct_letter">о</span>л<span class="stressed_letter">о</span>ж<span class="reduct_letter">е</span>ны <span class="soft_letter">н</span><span class="stressed_letter">е</span>ск<span class="reduct_letter">о</span><span class="soft_letter">л</span>ьк<span class="reduct_letter">о</span> г<span class="stressed_letter">о</span>рных ц<span class="reduct_letter">е</span><span class="soft_letter">п</span><span class="stressed_letter">е</span>й<a class="r-up" href="#comment_03" title="Read comments below">3</a>: Ур<span class="stressed_letter">а</span>л, Ка<span class="unvoiced_letter">в</span>к<span class="stressed_letter">а</span><span class="unvoiced_letter">з</span>, Алт<span class="stressed_letter">а</span>й и дру<span class="soft_letter">г</span><span class="stressed_letter">и</span>е.
              </td>

              <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
              </td>
             </tr>
    		</table>
    	   </div>
    	   <div class="r_transcript">
    	   	[n<span class="acct">a</span> tirit<span class="acct">o</span>rii ras<span class="acct">i</span>i raspal<span class="acct">o</span>j<span class="ry">i</span>n<span class="ry">i</span> n'<span class="acct">e</span>skal'ka g<span class="acct">o</span>rn<span class="ry">i</span>h ts<span class="ry">i</span>p'<span class="acct">e</span>y - oor<span class="acct">a</span>l, kafk<span class="acct">a</span>s, alt<span class="acct">a</span>y i droog<span class="acct">i</span>i]
    	   </div>
    	   <div class="r_translate">
    	   	There are several mountains chains on the territory of the country: the Urals, the Caucasus, the Altai and others.
    	   </div>
		</td>
	</tr>
	
	<tr class="r_line">
		<td>
    	   <div class="r_string">
    	   	<table onclick="playSound('reading/soundt02100.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
             <tr>
              <td>
    				С<span class="stressed_letter">а</span>мые б<span class="reduct_letter">о</span><span class="soft_letter">л</span>ьш<span class="stressed_letter">и</span>е<a class="r-up" href="#comment_02" title="Read comments below">2</a> г<span class="reduct_letter">о</span>р<span class="reduct_letter">о</span>д<span class="stressed_letter">а</span> Р<span class="reduct_letter">о</span><span class="soft_letter">сс</span><span class="stressed_letter">и</span>и - М<span class="reduct_letter">о</span>скв<span class="stressed_letter">а</span>, С<span class="stressed_letter">а</span>нкт-<span class="soft_letter">П</span><span class="reduct_letter">е</span><span class="soft_letter">т</span><span class="reduct_letter">е</span>рб<span class="stressed_letter">у</span>р<span class="unvoiced_letter">г</span>, <span class="reduct_letter">Е</span>ка<span class="soft_letter">т</span><span class="reduct_letter">е</span><span class="soft_letter">р</span>инб<span class="stressed_letter">у</span>р<span class="unvoiced_letter">г</span>, <span class="soft_letter">Н</span><span class="stressed_letter">и</span>ж<span class="soft_letter">н</span>ий Н<span class="stressed_letter">о</span>вг<span class="reduct_letter">о</span>р<span class="reduct_letter">о</span><span class="unvoiced_letter">д</span>, Сам<span class="stressed_letter">а</span>ра, <span class="stressed_letter">О</span>мск. 
              </td>

              <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
              </td>
             </tr>
    		</table>
    	   </div>
    	   <div class="r_transcript">
    	   	[s<span class="acct">a</span>m<span class="ry">i</span>ye bal'sh<span class="acct"><span class="ry">i</span></span>ye garad<span class="acct">a</span> ras<span class="acct">i</span>i maskv<span class="acct">a</span>, s<span class="acct">a</span>nkt-pitirb<span class="acct">oo</span>rk, yikatirinb<span class="acct">oo</span>rk, n<span class="acct">i</span>jniy n<span class="acct">o</span>vgarat, sam<span class="acct">a</span>ra, <span class="acct">o</span>msk]
    	   </div>
    	   <div class="r_translate">
    	   	The biggest cities in Russia are Moscow, Yekaterinburg, Nizhniy Novgotod, Samara, Omsk.
    	   </div>
		</td>
	</tr>
	
	<tr class="r_line">
		<td>
    	   <div class="r_string">
    	   	<table onclick="playSound('reading/soundt02110.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
             <tr>
              <td>
    			   М<span class="reduct_letter">о</span>скв<span class="stressed_letter">а</span> - ст<span class="reduct_letter">о</span>л<span class="stressed_letter">и</span>ца Р<span class="reduct_letter">о</span><span class="soft_letter">сс</span><span class="stressed_letter">и</span>и.
              </td>

              <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
              </td>
             </tr>
    		</table>
    	   </div>
    	   <div class="r_transcript">
    	   	[maskv<span class="acct">a</span> stal<span class="acct">i</span>tsa ras<span class="acct">i</span>i] 
    	   </div>
    	   <div class="r_translate">
    	   	Moscow is the capital of Russia. 
    	   </div>
		</td>
	</tr>
	
	
</table>
</div>


<div class="r_comments">

<h3>Comments on reading</h3>

<p>
 <span class="r-up"  id="comment_01">1</span> 
the letter <span class="letter">н</span> denotes the soft sound [n'] when it occurs before the letter <span class="letter">д</span> meaning the soft sound [d']
</p>
<p>
<span class="r-up"  id="comment_02">2</span> 
if the letter <span class="letter">и</span> occurs after the letter <span class="letter">ш</span>, it is read as [<span class="ry">i</span>]
</p>
<p>
<span class="r-up"  id="comment_03">3</span> 
the letter <span class="letter">e</span> is read as [<span class="ry">i</span>] after <span class="letter">ц</span>, (as well as after <span class="letter">ш</span> and <span class="letter">ж</span>) when it denotes an unstressed vowel
</p>

</div>





<br>
<br>



</div>
<br/>







<br>
<br><br>
<br><br>
<br><br>
<br><br>





</div></div>

<script type="text/javascript">
currentSection="reading";
</script>
