<% @page_title = 'Online exercises for reading:  Stress and reduction in Russian' %>
<% @page_meta = {'description' => "Online lesson for reading in Russian:  Stress and reduction of Russian vowels"} %>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_css do %>

<style type="text/css">

h2.page {margin-bottom: 0px;}

.hint_button {
float: right;
}

.quest  {
width: 180px;
}

.variants  {
width: 180px;
}

#t2 .quest {
width: 180px;
}

.written {
font-size: 11pt;
font-weight: bold;
padding: 0px 0px 15px 0px;
}

table.repeat-words td div {
padding: 7px 50px 7px 30px;
}

.tab1 p {margin: 0px;}

</style>

<% end %>

<div class="hint_wrap">
<div class="hint_button">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <li><a href="stress-reduction.html">Stress and reduction</a></li>
          <li><a href="reading-practice1.html">Part 1</a></li>
          <li><a href="reading-practice2.html">Part 2</a></li>
          <li><a href="reading-practice3.html">Part 3</a></li>
        </ul>
        <%= render :partial => 'preload_option' %>
  </div>
</div>
</div>
<div id="pagecontent"><div id="content">


<h2 class="page">Part 4</h2>
<h3 class="page-path">
	<span class="int-links">
	<a href="russian-reading.html">Reading in Russian</a>
	<span class="int-arrow">--&gt;</span> 
	<a href="reading-practice.html">Training exercises</a>
	<span class="int-arrow">--&gt;</span> Part 4
	</span>
</h3>

<p>
Before doing exercises on this page it is recommended to revise <a href="stress-reduction.html">Stress and reduction of vowels</a>
</p>
<h3>Exercise 1</h3>

<p class="task">Listen to the following words and repeat</p>

<table class="repeat-words" cellpadding="0" cellspacing="0" border="0">
	<tr valign="top">
		<td>
			
    		<div>
    			<span class="sound" onclick="playSound('reading/soundr040001.mp3')">роман &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
    		</div>
    		<div>
    			<span class="sound" onclick="playSound('reading/soundr040002.mp3')">робот &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>

    		</div>
    		<div>
    			<span class="sound" onclick="playSound('reading/soundr040003.mp3')">солист &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
    		</div>
    		<div>
    			<span class="sound" onclick="playSound('reading/soundr040004.mp3')">продукт &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
    		</div>
    		<div>

    			<span class="sound" onclick="playSound('reading/soundr040005.mp3')">костюм &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
    		</div>
    		
		</td>
		<td>
			<div>
    			<span class="sound" onclick="playSound('reading/soundr040006.mp3')">метро &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
    		</div>
    		<div>

    			<span class="sound" onclick="playSound('reading/soundr040007.mp3')">металл &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
    		</div>
    		<div>
    			<span class="sound" onclick="playSound('reading/soundr040008.mp3')">эксперт &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
    		</div>
    		<div>
    			<span class="sound" onclick="playSound('reading/soundr040010.mp3')">этап &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>

    		</div>    		    		
		</td>
	</tr>
</table>
<br/>

<h3>Exercise 2</h3>

<p class="task">Listen to the words and choose their written form from the list</p>

<div id="t1">
<script type="text/javascript">
var t1 = new Test({dict: [

['sounds/reading/soundr040001.mp3','роман'],['sounds/reading/soundr040002.mp3','робот'],['sounds/reading/soundr040003.mp3','солист'],['sounds/reading/soundr040004.mp3','продукт'],
['sounds/reading/soundr040005.mp3','костюм'],['sounds/reading/soundr040006.mp3','метро'],['sounds/reading/soundr040007.mp3','металл'],['sounds/reading/soundr040008.mp3','эксперт'],
['sounds/reading/soundr040010.mp3','этап'],['sounds/reading/soundr040011.mp3','орбита'],['sounds/reading/soundr040012.mp3','проблема'],['sounds/reading/soundr040013.mp3','колонна'],
['sounds/reading/soundr040014.mp3','идеал'],['sounds/reading/soundr040015.mp3','опера'],['sounds/reading/soundr040016.mp3','персонал'],['sounds/reading/soundr040017.mp3','аппетит'],
['sounds/reading/soundr040018.mp3','персона'],['sounds/reading/soundr040020.mp3','реформа'],['sounds/reading/soundr040021.mp3','спектакль'],['sounds/reading/soundr040022.mp3','эталон'],
['sounds/reading/soundr040023.mp3','камера']

],hide: 'di1',id:'t1', type: 'audio', how_questions: 10, how_show: 2}, 'r0104020.2');
</script>

</div>

<h3>Exercise 3</h3>

<p class="task">Read the following Russian words and check yourself:</p>

<table cellpadding="0" cellspacing="0" border="0">
	<tr valign="top">
      	<td style="padding-right: 110px;">
            <div class="task_transl">
                <table class="tab1 inter"  cellspacing="0" >

                	<tr>
                			<td width="80">
                				<p>орбита
                				</p>
                			</td>
                			<td>
                				<div class="key check">
                					<div>
                						<div class="sound"  onclick="playSound('reading/soundr040011.mp3')">Check&nbsp;yourself</div>

                					</div>
                				</div>
                			</td>
                	</tr>
                </table>
                <table class="tab1 inter"  cellspacing="0" >
                	<tr>
                			<td width="80">
                				<p>проблема
                				</p>

                			</td>
                			<td>
                				<div class="key check">
                					<div>
                						<div class="sound"  onclick="playSound('reading/soundr040012.mp3')">Check&nbsp;yourself</div>
                					</div>
                				</div>
                			</td>

                	</tr>
                </table>
                <table class="tab1 inter"  cellspacing="0" >
                	<tr>
                			<td width="80">
                				<p>колонна
                				</p>
                			</td>
                			<td>

                				<div class="key check">
                					<div>
                						<div class="sound"  onclick="playSound('reading/soundr040013.mp3')">Check&nbsp;yourself</div>
                					</div>
                				</div>
                			</td>
                	</tr>
                </table>

                <table class="tab1 inter"  cellspacing="0" >
                	<tr>
                			<td width="80">
                				<p>идеал
                				</p>
                			</td>
                			<td>
                				<div class="key check">
                					<div>

                						<div class="sound"  onclick="playSound('reading/soundr040014.mp3')">Check&nbsp;yourself</div>
                					</div>
                				</div>
                			</td>
                	</tr>
                </table>
                <table class="tab1 inter"  cellspacing="0" >
                	<tr>

                			<td width="80">
                				<p>опера
                				</p>
                			</td>
                			<td>
                				<div class="key check">
                					<div>
                						<div class="sound"  onclick="playSound('reading/soundr040015.mp3')">Check&nbsp;yourself</div>

                					</div>
                				</div>
                			</td>
                	</tr>
                </table>
                <table class="tab1 inter"  cellspacing="0" >
                	<tr>
                			<td width="80">
                				<p>персонал
                				</p>

                			</td>
                			<td>
                				<div class="key check">
                					<div>
                						<div class="sound"  onclick="playSound('reading/soundr040016.mp3')">Check&nbsp;yourself</div>
                					</div>
                				</div>
                			</td>

                	</tr>
                </table>
                </div>
            </td>
            <td>
            
             <div class="task_transl">
                <table class="tab1 inter"  cellspacing="0" >
                	<tr>
                			<td width="80">

                				<p>аппетит
                				</p>
                			</td>
                			<td>
                				<div class="key check">
                					<div>
                						<div class="sound"  onclick="playSound('reading/soundr040017.mp3')">Check&nbsp;yourself</div>
                					</div>

                				</div>
                			</td>
                	</tr>
                </table>
                <table class="tab1 inter"  cellspacing="0" >
                	<tr>
                			<td width="80">
                				<p>персона
                				</p>

                			</td>
                			<td>
                				<div class="key check">
                					<div>
                						<div class="sound"  onclick="playSound('reading/soundr040018.mp3')">Check&nbsp;yourself</div>
                					</div>
                				</div>
                			</td>

                	</tr>
                </table>
                <table class="tab1 inter"  cellspacing="0" >
                	<tr>
                			<td width="80">
                				<p>реформа
                				</p>
                			</td>
                			<td>

                				<div class="key check">
                					<div>
                						<div class="sound"  onclick="playSound('reading/soundr040020.mp3')">Check&nbsp;yourself</div>
                					</div>
                				</div>
                			</td>
                	</tr>
                </table>

                <table class="tab1 inter"  cellspacing="0" >
                	<tr>
                			<td width="80">
                				<p>спектакль
                				</p>
                			</td>
                			<td>
                				<div class="key check">
                					<div>

                						<div class="sound"  onclick="playSound('reading/soundr040021.mp3')">Check&nbsp;yourself</div>
                					</div>
                				</div>
                			</td>
                	</tr>
                </table>
                <table class="tab1 inter"  cellspacing="0" >
                	<tr>

                			<td width="80">
                				<p>эталон
                				</p>
                			</td>
                			<td>
                				<div class="key check">
                					<div>
                						<div class="sound"  onclick="playSound('reading/soundr040022.mp3')">Check&nbsp;yourself</div>

                					</div>
                				</div>
                			</td>
                	</tr>
                </table>
                <table class="tab1 inter"  cellspacing="0" >
                	<tr>
                			<td width="80">
                				<p>камера
                				</p>

                			</td>
                			<td>
                				<div class="key check">
                					<div>
                						<div class="sound"  onclick="playSound('reading/soundr040023.mp3')">Check&nbsp;yourself</div>
                					</div>
                				</div>
                			</td>

                	</tr>
                </table>
                </div>
            
            </td>
      </tr>
  </table>

<h3>Exercise 4</h3>

<p class="task">Look at the words, listen to them and choose their translation from the list</p>

<div id="t2">
<script type="text/javascript">
var t2 = new Test({dict: [

['<div class="written">роман<\/div><div onclick="playTestSound(\'sounds/reading/soundr040001.mp3\')" onmouseup="(this.style.backgroundPosition=\'0px -70px\')" onmousedown="(this.style.backgroundPosition=\'0px 0px\')" class="play"/><\/div>','romance'],
['<div class="written">робот<\/div><div onclick="playTestSound(\'sounds/reading/soundr040002.mp3\')" onmouseup="(this.style.backgroundPosition=\'0px -70px\')" onmousedown="(this.style.backgroundPosition=\'0px 0px\')" class="play"/><\/div>','robot'],
['<div class="written">солист<\/div><div onclick="playTestSound(\'sounds/reading/soundr040003.mp3\')" onmouseup="(this.style.backgroundPosition=\'0px -70px\')" onmousedown="(this.style.backgroundPosition=\'0px 0px\')" class="play"/><\/div>','soloist'],
['<div class="written">продукт<\/div><div onclick="playTestSound(\'sounds/reading/soundr040004.mp3\')" onmouseup="(this.style.backgroundPosition=\'0px -70px\')" onmousedown="(this.style.backgroundPosition=\'0px 0px\')" class="play"/><\/div>','product'],
['<div class="written">костюм<\/div><div onclick="playTestSound(\'sounds/reading/soundr040005.mp3\')" onmouseup="(this.style.backgroundPosition=\'0px -70px\')" onmousedown="(this.style.backgroundPosition=\'0px 0px\')" class="play"/><\/div>','suit, costume'],
['<div class="written">металл<\/div><div onclick="playTestSound(\'sounds/reading/soundr040007.mp3\')" onmouseup="(this.style.backgroundPosition=\'0px -70px\')" onmousedown="(this.style.backgroundPosition=\'0px 0px\')" class="play"/><\/div>','metal'],
['<div class="written">эксперт<\/div><div onclick="playTestSound(\'sounds/reading/soundr040008.mp3\')" onmouseup="(this.style.backgroundPosition=\'0px -70px\')" onmousedown="(this.style.backgroundPosition=\'0px 0px\')" class="play"/><\/div>','expert'],
['<div class="written">орбита<\/div><div onclick="playTestSound(\'sounds/reading/soundr040011.mp3\')" onmouseup="(this.style.backgroundPosition=\'0px -70px\')" onmousedown="(this.style.backgroundPosition=\'0px 0px\')" class="play"/><\/div>','orbit'],
['<div class="written">проблема<\/div><div onclick="playTestSound(\'sounds/reading/soundr040012.mp3\')" onmouseup="(this.style.backgroundPosition=\'0px -70px\')" onmousedown="(this.style.backgroundPosition=\'0px 0px\')" class="play"/><\/div>','problem'],
['<div class="written">колонна<\/div><div onclick="playTestSound(\'sounds/reading/soundr040013.mp3\')" onmouseup="(this.style.backgroundPosition=\'0px -70px\')" onmousedown="(this.style.backgroundPosition=\'0px 0px\')" class="play"/><\/div>','column'],
['<div class="written">идеал<\/div><div onclick="playTestSound(\'sounds/reading/soundr040014.mp3\')" onmouseup="(this.style.backgroundPosition=\'0px -70px\')" onmousedown="(this.style.backgroundPosition=\'0px 0px\')" class="play"/><\/div>','ideal'],
['<div class="written">опера<\/div><div onclick="playTestSound(\'sounds/reading/soundr040015.mp3\')" onmouseup="(this.style.backgroundPosition=\'0px -70px\')" onmousedown="(this.style.backgroundPosition=\'0px 0px\')" class="play"/><\/div>','opera'],
['<div class="written">персонал<\/div><div onclick="playTestSound(\'sounds/reading/soundr040016.mp3\')" onmouseup="(this.style.backgroundPosition=\'0px -70px\')" onmousedown="(this.style.backgroundPosition=\'0px 0px\')" class="play"/><\/div>','personnel, staff'],
['<div class="written">персона<\/div><div onclick="playTestSound(\'sounds/reading/soundr040018.mp3\')" onmouseup="(this.style.backgroundPosition=\'0px -70px\')" onmousedown="(this.style.backgroundPosition=\'0px 0px\')" class="play"/><\/div>','person'],
['<div class="written">реформа<\/div><div onclick="playTestSound(\'sounds/reading/soundr040020.mp3\')" onmouseup="(this.style.backgroundPosition=\'0px -70px\')" onmousedown="(this.style.backgroundPosition=\'0px 0px\')" class="play"/><\/div>','reform'],
['<div class="written">камера<\/div><div onclick="playTestSound(\'sounds/reading/soundr040023.mp3\')" onmouseup="(this.style.backgroundPosition=\'0px -70px\')" onmousedown="(this.style.backgroundPosition=\'0px 0px\')" class="play"/><\/div>','camera']


],hide: 'di2',id:'t2', type: 'text', how_questions: 8, how_show: 2}, 'r0104040.4');
</script>
</div>


</div></div>

<script type="text/javascript">
currentSection="reading";
</script>
