<% @page_title = 'Russian Language Online: Rules of reading in Russian' %>
<% @page_meta = {'description' => "Online information about reading in Russian: list of reading rules"} %>

<title>Russian Language Online: Rules of reading in Russian</title>
<meta name="description" content="Online information about reading in Russian: list of reading rules" />

<style type="text/css">
.tabl-read {
border: 2px groove #999999;
}
.tabl-read td {
border: 1px solid #777777;
padding: 15px;
}
.lists li {
padding-top: 5px;
}
</style>


<h2 class="page">Rules of reading in Russian</h2>

<p>
If you know the <a href="basic-letters.html">Basic meanings of Russian letters</a> you can read quite understandably for native speakers. However, Russian letteres may denote several sounds which may differ from their alphabetical meanings. Their reading usually conforms to a few principles which are not difficult to understand. So, if you want to read in Russian correctly,  you should visit the following pages: 
</p>

<h3>Rules of reading:</h3>

	<ul class="lists" style="list-style: none; padding-bottom: 10px;">
			<li>- <a href="softness.html">Softness of consonants in Russian</a></li>
			<li>- <a href="devocalization.html">Vocalization and Devocalization of Consonants in Russian</a></li>
			<li>- <a href="stress-reduction.html">Stress and reduction of vowels</a></li>
   			<li>- <a href="reading-exceptions.html">Exceptional cases of reading</a> </li>
   			<li>- <a href="basic-reading-rules.html">Rules of reading (Summary)</a> </li>
		</ul>
<p>
After you read the information about the above mentioned rules, we also recommend you to do visit the pages from <a href="reading-practice.html">Training exercises</a> section which will help you to learn Russian alphabet, acquire skills in reading in Russian and get familiar with peculiarities of Russian reading rules.
</p>

<script type="text/javascript">
currentSection="reading";
</script>
