<% @page_title = 'Russian Language Online: Info about reading in Russian' %>
<% @page_meta = {'description' => "Online information about Russian letters and rules of reading"} %>

<div class="hint_wrap">
<div class="hint_button" style="float: right;">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Recommended links</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
     				<li><a href="basic-letters.html">Russian Letters</a></li>
    				<li><a href="basic-reading-rules.html">Basic rules of reading</a></li>
    				<li><a href="reading-practice.html">Training exercises</a></li>
    		</ul>

	</div>
</div>
</div>
<div id="pagecontent"><div id="content">


<h2 class="page">General info <br/>about reading in Russian</h2>
<p>
English and Russian use different alphabets, however it is relatively easy for English-speaking people to learn how to read in Russian. The major goal for those who want to read in Russian is to know the <a href="alphabet.html">Cyrillic alphabet</a>, used in the Russian language. It should be noted that the letters of the Cyrillic alphabet used in Russian and the letters of the Latin alphabet used in English have a lot of common traits. 
</p>
<p>
Those who are learning to read in foreign languages may have the following difficulties. Many languages, including English, use different combinations of letters in which letters are read differently than they are read in the alphabet. In some languages, diacritics which carry additional information about the reading of the letter are widely used. Learning such features and reading them correctly may require quite a lot of time and efforts. Reading in Russian has its own peculiarities which represent both advantages and disadvantages for people learning Russian. It is relatively easy and fast to start reading so that the native speakers could understand you. However, it is rather challenging to be able to read correctly, without mistakes.  
</p>
<p>
The Russian language has some combinations of letters in which letters are read in a different way than in the alphabet, but their reading conforms to a few <a href="readingrules.html">principles</a> which are not difficult to understand. Besides, even if you know only the <a href="basic-letters.html">alphabetical meanings of Russian letters</a> you will still read Russian words quite understandably for native speakers.
</p>
<p>
In the Russian language there are two diacritical signs:  sign  [ <strong>&#x2d8;</strong> ] which is found only above the letter <span class="letter">й</span>, and sign [ <strong>&#xA8;</strong> ] which is put only above the letter <span class="letter">ё</span>. As a rule, these two signs do not pose problems for those who are learning Russian because they do not carry additional information about the reading of the letter, but are constitutive elements of the letters. The only difficulty related to diacritical signs in Russian is that the letter <span class="letter">ё</span> may be replaced in Russian texts by the letter <span class="letter">e</span>. In other words, the two spots are not always put above the letter <span class="letter">ё</span>, which can lead to a wrong reading of unknown words.
</p>
<p>
The biggest problem encountered by learners of the Russian language is to determine the correct position of the stress in Russian words. The stress in Russian is not fixed, it may fall on any part of the word (beginning, center, end) and normally it is not shown in texts. Moreover, it may change its place in different forms of the same word. You can find more information about the features of stress in Russian language on the page <a href="stress-reduction.html">Stress and reduction of vowels</a>. 
</p>
<p>
Russian letters may denote several sounds, but the reading rules of the Russian language are not very difficult to understand and have few exceptions. Besides, on our site you will find both transcription and audio examples of pronunciation for almost all available words and phrases, so you will always have an opportunity to check you pronunciation. 
</p>
<p>
If you have already read the materials from the section <a href="pronunciation.html">Russian pronunciation</a> it will be much easier for you to understand the rules of reading. If not, we recommend you at least to take a look at <a href="basic-sounds.html">basic Russian sounds</a> so that you could better understand transcriptions used on our site.
</p>
<p>
We recommend learning the Russian rules of reading in the following order: 
</p>
<ol>
	<li><a href="basic-letters.html">Russian Letters and their Basic Meanings</a></li>
	<li><a href="softness.html">Softness of consonants in Russian</a></li>
	<li><a href="devocalization.html">Vocalization and Devocalization of Consonants in Russian</a></li>
	<li><a href="stress-reduction.html">Stress and reduction of vowels</a></li>
	<li><a href="reading-exceptions.html">Exceptional cases of reading</a> </li>
</ol>
<p>
The information from the above mentioned articles will help you to get familiar with Russian reading rules and make it easier for you to perceive and understand the speech of Russian speaking people. 
</p>



</div></div>

<script type="text/javascript">
currentSection="reading";
</script>
