<% @page_title = 'Russian Language Online: Training exercises for reading in Russian' %>
<% @page_meta = {'description' => "Online practice of reading in Russian"} %>

<% content_for :special_js_css do %>

<style type="text/css">
h2.page {margin-bottom: 0px;}
</style>

<% end %>

<h2 class="page">Training exercises</h2>
<h3 class="page-path"><span class="int-links"><a href="russian-reading.html">Reading in Russian</a> <span class="int-arrow">--&gt;</span> Training exercises</span></h3>


<p>
In this section you can learn Russian alphabet, acquire skills in reading in Russian and get familiar with peculiarities of reading rules of the Russian language. There are different exercises and tests which will help you to read correctly in Russian.
</p>

<p>While working with reading exercises, you can find special tools to highlight different groups of letters: letters denoting stressed vowels, reduced vowels, soft and unvoiced consonants. These tools may provide a great help to understand and learn basic rules of reading in Russian.
<p>
If you are a registered user, you can review the results of the exercises and tests you have done during the lessons. See the <a href="/signup">Registration page</a>.
</p>

<p>
We recommend you the following order of work with this section:
</p>
<ul style="list-style: none">
	<li><a href="reading-practice1.html">Part 1. Basic Meanings of letters</a></li>
	<li><a href="reading-practice2.html">Part 2. Softness of consonants</a></li>
	<li><a href="reading-practice3.html">Part 3. Devocalization and vocalization of consonants</a></li>
	<li><a href="reading-practice4.html">Part 4. Stress and reduction of vowels</a></li>
</ul>
<p>
If you don’t have enough time or desire to thoroughly study Russian rules of reading, we recommend you at least to take a look at Russian Letters and their Basic Meanings section.
</p>

<script type="text/javascript">
currentSection="reading";
</script>
