<% @page_title = 'Reading in Russian: Text for reading: Russian Food' %>
<% @page_meta = {'description' => "Reading in Russian: Russian Food - text with audio, transcription, translation, stress marks, and comments on reading"} %>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_js_css do %>
<%= javascript_include_tag 'reading_helper' %>
<%= stylesheet_link_tag 'reading-helper' %>
<%end%>

<div class="hint_wrap">
<div class="hint_button">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
          <li><a href="reading_text_01.html">Text: Introduction</a></li>
          <li><a href="reading_text_02.html">Text: Russia</a></li>
          <li><a href="reading_text_03.html">Text: Moscow</a></li>
          <li><a href="reading_text_04.html">Text: Saint Petersburg</a></li>
        </ul>
        <%= render :partial => 'preload_option' %>
  </div>
</div>
</div>
<div id="pagecontent"><div id="content">

<h2 class="page">Text: Russian Food</h2>
<h3 class="page-path">
	<span class="int-links">
	<a href="russian-reading.html">Reading in Russian</a>
	<span class="int-arrow">--&gt;</span> 
	<a href="russian-reading-texts.html">Texts for reading</a>
	<span class="int-arrow">--&gt;</span> Russian Food
	</span>
</h3>




<p><input type="checkbox" id="hide_stressmark" /> Display stress marks &nbsp; &nbsp;<a href="javascript:;" id="stress_adjust">[adjust, if needed]</a>
</p>
<p><input type="checkbox" id="hide_transcription" /> Display transcription
</p>
<p><input type="checkbox" id="hide_translation" checked /> Display translation
</p>



<div class="hidden_soft hidden_stressed hidden_reduct hidden_unvoiced"> 

<table class="highlight_options" cellpadding="0" cellspacing="0" border="0" align="center">
	<tr>
		<td colspan="4" class="highlight_info">
			Choose a view mode of the following groups of letters
		</td>
	</tr>
	<tr class="highlight_buttons">
		<td class="highlight_stressed">
			Stressed vowels
		</td>
		<td class="highlight_soft">
			Soft consonants
		</td>
		<td class="highlight_unvoiced">
			Unvoiced consonants
		</td>
		<td class="highlight_reduct">
			Reduced vowels
		</td>
	</tr>
</table>



<br><br>

<div class="r_text_container">
<table>

	<tr class="r_line">
		<td>
    	   <div class="r_string">
    	   	<table onclick="playSound('reading/soundt05010.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
             <tr>
              <td>
    			   Р<span class="stressed_letter">у</span>сс<span class="soft_letter">к</span>ие <span class="soft_letter">л</span><span class="stressed_letter">ю</span><span class="soft_letter">б</span>ят г<span class="reduct_letter">о</span>т<span class="stressed_letter">о</span><span class="soft_letter">в</span>и<span class="soft_letter">т</span>ь <span class="reduct_letter">е</span>д<span class="stressed_letter">у</span> и уг<span class="reduct_letter">о</span>щ<span class="stressed_letter">а</span><span class="soft_letter">т</span>ь св<span class="reduct_letter">о</span><span class="stressed_letter">и</span>х г<span class="reduct_letter">о</span><span class="soft_letter">ст</span><span class="stressed_letter">е</span>й<a class="r-up" href="#comment_01" title="Read comments below">1</a>. 
    	   	  </td>

              <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
              </td>
             </tr>
    		</table>
    	   </div>
    	   <div class="r_transcript">
    	   	[r<span class="acct">oo</span>skiye l'<span class="acct">oo</span>b'at gat<span class="acct">o</span>vit' yid<span class="acct">oo</span> i oogasch<span class="acct">a</span>t' sva<span class="acct">i</span>h gas't<span class="acct">e</span>y]
    	   </div>
    	   <div class="r_translate">
    	   	Russians like to cook and treat their guests.
    	   </div>
		</td>
	</tr>
	<tr class="r_line">
		<td>
    	   <div class="r_string">
    	   	<table onclick="playSound('reading/soundt05020.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
             <tr>
              <td>
    			   <span class="unvoiced_letter">В</span> тра<span class="soft_letter">д</span>ици<span class="stressed_letter">о</span>нн<span class="reduct_letter">о</span>м<a class="r-up" href="#comment_02" title="Read comments below">2</a> р<span class="stressed_letter">у</span>сск<span class="reduct_letter">о</span>м <span class="reduct_letter">о</span><span class="soft_letter">б</span><span class="stressed_letter">е</span><span class="soft_letter">д</span>е т<span class="soft_letter">р</span><span class="stressed_letter">и</span> <span class="reduct_letter">о</span>сн<span class="reduct_letter">о</span>вн<span class="stressed_letter">ы</span>х б<span class="soft_letter">л</span><span class="stressed_letter">ю</span>да.
    	   	  </td>

              <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
              </td>
             </tr>
    		</table>
    	   </div>
    	   <div class="r_transcript">
    	   	[f tradits<span class="ry">i</span><span class="acct">o</span>nam r<span class="acct">oo</span>skam ab'<span class="acct">e</span>d'e tr<span class="acct">i</span> asnavn<span class="acct"><span class="ry">i</span></span>h bl'<span class="acct">oo</span>da]
    	   </div>
    	   <div class="r_translate">
    	   	There are 3 courses in Russian traditional dinner. 
    	   </div>
		</td>
	</tr>
	<tr class="r_line">
		<td>
    	   <div class="r_string">
    	   	<table onclick="playSound('reading/soundt05030.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
             <tr>
              <td>
    			   Первым блюдом всегда бывает суп. 
    	   	  </td>

              <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
              </td>
             </tr>
    		</table>
    	   </div>
    	   <div class="r_transcript">
    	   	[p'<span class="acct">e</span>rv<span class="ry">i</span>m bl'<span class="acct">oo</span>dam fsigd<span class="acct">a</span> b<span class="ry">i</span>v<span class="acct">a</span>it s<span class="acct">oo</span>p]
    	   </div>
    	   <div class="r_translate">
    	   	For the first course they usually have soup.
    	   </div>
		</td>
	</tr>
	<tr class="r_line">
		<td>
    	   <div class="r_string">
    	   	<table onclick="playSound('reading/soundt05040.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
             <tr>
              <td>
    			   Сущ<span class="reduct_letter">е</span>ств<span class="stressed_letter">у</span><span class="reduct_letter">е</span>т мн<span class="stressed_letter">о</span>г<span class="reduct_letter">о</span> <span class="soft_letter">в</span><span class="stressed_letter">и</span>д<span class="reduct_letter">о</span><span class="unvoiced_letter">в</span> с<span class="stressed_letter">у</span>па: щ<span class="stressed_letter">и</span>, б<span class="stressed_letter">о</span>рщ, ку<span class="soft_letter">р</span><span class="stressed_letter">и</span>ный бу<span class="soft_letter">л</span>ь<span class="stressed_letter">о</span>н, с<span class="stressed_letter">у</span>п-лапш<span class="stressed_letter">а</span>, ух<span class="stressed_letter">а</span>, суп<span class="stressed_letter">ы</span> г<span class="reduct_letter">о</span>р<span class="stressed_letter">о</span>х<span class="reduct_letter">о</span>вый и фас<span class="stressed_letter">о</span><span class="soft_letter">л</span><span class="reduct_letter">е</span>вый. 
    	   	  </td>

              <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
              </td>
             </tr>
    		</table>
    	   </div>
    	   <div class="r_transcript">
    	   	[sooschistv<span class="acct">oo</span>it mn<span class="acct">o</span>ga v<span class="acct">i</span>daf s<span class="acct">oo</span>pa: sch<span class="acct">i</span>, b<span class="acct">o</span>rsch, koor<span class="acct">i</span>n<span class="ry">i</span>y bool'y<span class="acct">o</span>n, s<span class="acct">oo</span>p lapsh<span class="acct">a</span>, ooh<span class="acct">a</span>, soop<span class="acct"><span class="ry">i</span></span> gar<span class="acct">o</span>hav<span class="ry">i</span>y i fas<span class="acct">o</span>liv<span class="ry">i</span>y]
    	   </div>
    	   <div class="r_translate">
    	   	There are many kinds of soup: cabbage soup, beetroot soup, chicken broth, noodle soup, fish soup, pea soup and bean soup.
    	   </div>
		</td>
	</tr>
	<tr class="r_line">
		<td>
    	   <div class="r_string">
    	   	<table onclick="playSound('reading/soundt05050.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
             <tr>
              <td>
    			   На <span class="unvoiced_letter">в</span>т<span class="reduct_letter">о</span>р<span class="stressed_letter">о</span>е б<span class="soft_letter">л</span><span class="stressed_letter">ю</span>д<span class="reduct_letter">о</span> п<span class="reduct_letter">о</span>да<span class="stressed_letter">ю</span>тся ж<span class="stressed_letter">а</span><span class="soft_letter">р</span><span class="reduct_letter">е</span>н<span class="reduct_letter">о</span>е, за<span class="soft_letter">п</span><span class="reduct_letter">е</span>ч<span class="stressed_letter">ё</span>нн<span class="reduct_letter">о</span>е <span class="stressed_letter">и</span><span class="soft_letter">л</span>и ва<span class="soft_letter">р</span><span class="stressed_letter">ё</span>н<span class="reduct_letter">о</span>е <span class="soft_letter">м</span><span class="stressed_letter">я</span>с<span class="reduct_letter">о</span>, к<span class="reduct_letter">о</span>т<span class="soft_letter">л</span><span class="stressed_letter">е</span>ты, <span class="soft_letter">б</span>ифшт<span class="stressed_letter">е</span>кс, <span class="soft_letter">п</span><span class="reduct_letter">е</span><span class="soft_letter">л</span>ь<span class="soft_letter">м</span><span class="stressed_letter">е</span><span class="soft_letter">н</span>и, цып<span class="soft_letter">л</span><span class="stressed_letter">ё</span>н<span class="reduct_letter">о</span>к, г<span class="stressed_letter">у</span><span class="soft_letter">с</span>ь, <span class="stressed_letter">у</span>тка. 
    	   	  </td>

              <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
              </td>
             </tr>
    		</table>
    	   </div>
    	   <div class="r_transcript">
    	   	[na ftar<span class="acct">o</span>ye bl'<span class="acct">oo</span>da paday<span class="acct">oo</span>tsa j<span class="acct">a</span>rinaye, zapich<span class="acct">o</span>naye <span class="acct">i</span>li var'<span class="acct">o</span>naye m'<span class="acct">a</span>sa, katl'<span class="acct">e</span>t<span class="ry">i</span>, bifsht<span class="acct">e</span>ks, pil'm'<span class="acct">e</span>ni, ts<span class="ry">i</span>pl'<span class="acct">o</span>nak, g<span class="acct">oo</span>s', <span class="acct">oo</span>tka]
    	   </div>
    	   <div class="r_translate">
    	   	The second course includes fried, roasted or boiled meat, cutlets, biefsteaks, meat dumplings, chicken, goose, duck.
    	   </div>
		</td>
	</tr>
	<tr class="r_line">
		<td>
    	   <div class="r_string">
    	   	<table onclick="playSound('reading/soundt05060.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
             <tr>
              <td>
    			   <span class="stressed_letter">Е</span>сли В<span class="stressed_letter">ы</span> <span class="soft_letter">в</span><span class="reduct_letter">е</span><span class="soft_letter">г</span><span class="reduct_letter">е</span>та<span class="soft_letter">р</span>и<span class="stressed_letter">а</span>н<span class="reduct_letter">е</span>ц, д<span class="soft_letter">л</span>я В<span class="stressed_letter">а</span>с п<span class="soft_letter">р</span>иг<span class="reduct_letter">о</span>т<span class="stressed_letter">о</span><span class="soft_letter">в</span>ят жа<span class="soft_letter">р</span><span class="reduct_letter">е</span>ную <span class="stressed_letter">и</span>ли ва<span class="soft_letter">р</span><span class="stressed_letter">ё</span>ную карт<span class="stressed_letter">о</span>шку, карт<span class="stressed_letter">о</span><span class="soft_letter">ф</span><span class="reduct_letter">е</span><span class="soft_letter">л</span>ьн<span class="reduct_letter">о</span>е <span class="soft_letter">п</span>юр<span class="stressed_letter">е</span>, сал<span class="stressed_letter">а</span>ты, г<span class="soft_letter">р</span><span class="stressed_letter">е</span>чн<span class="reduct_letter">е</span>вую <span class="stressed_letter">и</span><span class="soft_letter">л</span>и р<span class="stressed_letter">и</span>с<span class="reduct_letter">о</span>вую к<span class="stressed_letter">а</span>шу, ва<span class="soft_letter">р</span><span class="stressed_letter">ё</span>ные <span class="stressed_letter">и</span><span class="soft_letter">л</span>и туш<span class="stressed_letter">ё</span>ные <span class="stressed_letter">о</span>в<span class="reduct_letter">о</span>щи, б<span class="soft_letter">л</span>ин<span class="stressed_letter">ы</span>, <span class="reduct_letter">о</span>л<span class="stressed_letter">а</span><span class="soft_letter">д</span>ьи с<span class="reduct_letter">о</span> с<span class="soft_letter">м</span><span class="reduct_letter">е</span>т<span class="stressed_letter">а</span>н<span class="reduct_letter">о</span>й. 
    	   	  </td>

              <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
              </td>
             </tr>
    		</table>
    	   </div>
    	   <div class="r_transcript">
    	   	[y<span class="acct">e</span>sli v<span class="acct"><span class="ry">i</span></span> vigitari<span class="acct">a</span>nits, dl'a v<span class="acct">a</span>s prigat<span class="acct">o</span>v'at j<span class="acct">a</span>rinooyoo <span class="acct">i</span>li var'<span class="acct">o</span>nooyoo kart<span class="acct">o</span>shkoo, kart<span class="acct">o</span>fil'naye p'oor<span class="acct">e</span>, sal<span class="acct">a</span>t<span class="ry">i</span>, gr'<span class="acct">e</span>chnivooyo <span class="acct">i</span>li r<span class="acct">i</span>savooyoo k<span class="acct">a</span>shoo, var'<span class="acct">o</span>n<span class="ry">i</span>ye <span class="acct">i</span>li toosh<span class="acct">o</span>n<span class="ry">i</span>ye <span class="acct">o</span>vaschi, blin<span class="acct"><span class="ry">i</span></span>, al<span class="acct">a</span>d'yi sa smit<span class="acct">a</span>nay]
    	   </div>
    	   <div class="r_translate">
    	   	If you are a vegetarian, fried, boiled or mashed potatoes, salads, buckweat, rice, boiled or stewed vegetables, pancakes with sour cream are prepared for you.
    	   </div>
		</td>
	</tr>
	<tr class="r_line">
		<td>
    	   <div class="r_string">
    	   	<table onclick="playSound('reading/soundt05070.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
             <tr>
              <td>
    			   На <span class="soft_letter">д</span><span class="reduct_letter">е</span><span class="soft_letter">с</span><span class="stressed_letter">е</span>рт п<span class="reduct_letter">о</span>да<span class="stressed_letter">ё</span>тся к<span class="reduct_letter">о</span>мп<span class="stressed_letter">о</span>т, ч<span class="stressed_letter">а</span>й с <span class="soft_letter">л</span>им<span class="stressed_letter">о</span>н<span class="reduct_letter">о</span>м и с<span class="stressed_letter">а</span>хар<span class="reduct_letter">о</span>м, к<span class="stressed_letter">о</span><span class="soft_letter">ф</span>е ч<span class="stressed_letter">ё</span>рный <span class="stressed_letter">и</span><span class="soft_letter">л</span>и с м<span class="reduct_letter">о</span>л<span class="reduct_letter">о</span>к<span class="stressed_letter">о</span>м, т<span class="stressed_letter">о</span>рты, ш<span class="reduct_letter">о</span>к<span class="reduct_letter">о</span>л<span class="stressed_letter">а</span><span class="unvoiced_letter">д</span>, <span class="soft_letter">п</span>ир<span class="reduct_letter">о</span><span class="soft_letter">г</span><span class="stressed_letter">и</span>, м<span class="reduct_letter">о</span>р<span class="stressed_letter">о</span>ж<span class="reduct_letter">е</span>ное<a class="r-up" href="#comment_03" title="Read comments below">3</a> <span class="stressed_letter">и</span><span class="soft_letter">л</span>и фр<span class="stressed_letter">у</span>кты.
    	      </td>

              <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
              </td>
             </tr>
    		</table>
    	   </div>
    	   <div class="r_transcript">
    	   	[na dis'<span class="acct">e</span>rt paday<span class="acct">o</span>tsa kamp<span class="acct">o</span>t, ch<span class="acct">a</span>y s lim<span class="acct">o</span>nam i s<span class="acct">a</span>haram, k<span class="acct">o</span>f'e ch<span class="acct">o</span>rn<span class="ry">i</span>y <span class="acct">i</span>li s malak<span class="acct">o</span>m, t<span class="acct">o</span>rt<span class="ry">i</span>, sh<span class="ry">i</span>kal<span class="acct">a</span>t, pirag<span class="acct">i</span>, mar<span class="acct">o</span>j<span class="ry">i</span>naye <span class="acct">i</span>li fr<span class="acct">oo</span>kt<span class="ry">i</span>]
    	   </div>
    	   <div class="r_translate">
    	   	For dessert, they usually take stewed fruit, tea with lemon and sugar, white or black cofee, cakes, chocolates, pies, ice-cream or fruits.
    	   </div>
		</td>
	</tr>
</table>
</div>


<div class="r_comments">

<h3>Comments on reading</h3>

<p>
 <span class="r-up"  id="comment_01">1</span> 
the letter <span class="letter">с</span> denotes the soft sound [z'] when it occurs before the letter <span class="letter">т</span> meaning the soft sound [t']
</p>
<p>
<span class="r-up"  id="comment_02">2</span> 
if the letter <span class="letter">и</span> occurs after the letters <span class="letter">ц</span>, it is read as [<span class="ry">i</span>]
</p>
<p>
<span class="r-up"  id="comment_03">3</span> 
the letter <span class="letter">e</span> is read as [<span class="ry">i</span>] after <span class="letter">ж</span>, (as well as after <span class="letter">ш</span> and <span class="letter">ц</span>) when it denotes an unstressed vowel
</p>

</div>





<br>
<br>



</div>
<br/>







<br>
<br><br>
<br><br>
<br><br>
<br><br>





</div></div>

<script type="text/javascript">
currentSection="reading";
</script>
