<% @page_title = 'Reading in Russian: Text for reading: Saint Petersburg' %>
<% @page_meta = {'description' => "Reading in Russian: Saint Petersburg - text with audio, transcription, translation, stress marks, and comments on reading"} %>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_js_css do %>
<%= javascript_include_tag 'reading_helper' %>
<%= stylesheet_link_tag 'reading-helper' %>
<%end%>

<div class="hint_wrap">
<div class="hint_button">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
          <li><a href="reading_text_01.html">Text: Introduction</a></li>
          <li><a href="reading_text_02.html">Text: Russia</a></li>
          <li><a href="reading_text_03.html">Text: Moscow</a></li>
          <li><a href="reading_text_05.html">Text: Russian Food</a></li>
        </ul>
        <%= render :partial => 'preload_option' %>
  </div>
</div>
</div>
<div id="pagecontent"><div id="content">

<h2 class="page">Text: Saint Petersburg</h2>
<h3 class="page-path">
	<span class="int-links">
	<a href="russian-reading.html">Reading in Russian</a>
	<span class="int-arrow">--&gt;</span> 
	<a href="russian-reading-texts.html">Texts for reading</a>
	<span class="int-arrow">--&gt;</span> Saint Petersburg
	</span>
</h3>




<p><input type="checkbox" id="hide_stressmark" /> Display stress marks &nbsp; &nbsp;<a href="javascript:;" id="stress_adjust">[adjust, if needed]</a>
</p>
<p><input type="checkbox" id="hide_transcription" /> Display transcription
</p>
<p><input type="checkbox" id="hide_translation" checked /> Display translation
</p>



<div class="hidden_soft hidden_stressed hidden_reduct hidden_unvoiced"> 

<table class="highlight_options" cellpadding="0" cellspacing="0" border="0" align="center">
	<tr>
		<td colspan="4" class="highlight_info">
			Choose a view mode of the following groups of letters
		</td>
	</tr>
	<tr class="highlight_buttons">
		<td class="highlight_stressed">
			Stressed vowels
		</td>
		<td class="highlight_soft">
			Soft consonants
		</td>
		<td class="highlight_unvoiced">
			Unvoiced consonants
		</td>
		<td class="highlight_reduct">
			Reduced vowels
		</td>
	</tr>
</table>



<br><br>

<div class="r_text_container">
<table>

	<tr class="r_line">
		<td>
    	   <div class="r_string">
    	   	<table onclick="playSound('reading/soundt04010.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
             <tr>
              <td>
    			   Санкт-<span class="soft_letter">П</span><span class="reduct_letter">е</span><span class="soft_letter">т</span><span class="reduct_letter">е</span>рб<span class="stressed_letter">у</span>р<span class="unvoiced_letter">г</span>, <span class="unvoiced_letter">в</span> пр<span class="stressed_letter">о</span>шл<span class="reduct_letter">о</span>м <span class="soft_letter">Л</span><span class="reduct_letter">е</span><span class="soft_letter">н</span>ингр<span class="stressed_letter">а</span><span class="unvoiced_letter">д</span>, <span class="reduct_letter">я</span>в<span class="soft_letter">л</span><span class="stressed_letter">я</span><span class="reduct_letter">е</span>тся вт<span class="reduct_letter">о</span>р<span class="stressed_letter">ы</span>м п<span class="reduct_letter">о</span> <span class="soft_letter">в</span><span class="reduct_letter">е</span><span class="soft_letter">л</span>ичи<span class="soft_letter">н</span><span class="stressed_letter">е</span> г<span class="stressed_letter">о</span>р<span class="reduct_letter">о</span>д<span class="reduct_letter">о</span>м Р<span class="reduct_letter">о</span><span class="soft_letter">сс</span><span class="stressed_letter">и</span>и.	
    		</td>

              <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
              </td>
             </tr>
    		</table>
    	   </div>
    	   <div class="r_transcript">
    	   	[sanktpitirb<span class="acct">oo</span>rk, f pr<span class="acct">o</span>shlam liningr<span class="acct">a</span>t, yivl'<span class="acct">a</span>itsa ftar<span class="acct"><span class="ry">i</span></span>m pa vilichin'<span class="acct">e</span> g<span class="acct">o</span>radam v ras<span class="acct">i</span>i]
    	   </div>
    	   <div class="r_translate">
    	   	Saint Petersburg, formerly Leningrad, is Russia's second largest city.
    	   </div>
		</td>
	</tr>
	<tr class="r_line">
		<td>
    	   <div class="r_string">
    	   	<table onclick="playSound('reading/soundt04020.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
             <tr>
              <td>
    			  Санкт-<span class="soft_letter">П</span><span class="reduct_letter">е</span><span class="soft_letter">т</span><span class="reduct_letter">е</span>рб<span class="stressed_letter">у</span>р<span class="unvoiced_letter">г</span> — гл<span class="stressed_letter">а</span>вный р<span class="reduct_letter">о</span><span class="soft_letter">сс</span><span class="stressed_letter">и</span>йс<span class="soft_letter">к</span>ий п<span class="stressed_letter">о</span>рт и <span class="reduct_letter">о</span><span class="soft_letter">д</span><span class="stressed_letter">и</span>н из <span class="soft_letter">в</span><span class="reduct_letter">е</span>д<span class="stressed_letter">у</span>щих индуст<span class="soft_letter">р</span>и<span class="stressed_letter">а</span><span class="soft_letter">л</span>ьных и ку<span class="soft_letter">л</span>ьт<span class="stressed_letter">у</span>рных ц<span class="stressed_letter">е</span>нтр<span class="reduct_letter">о</span><span class="unvoiced_letter">в</span> в <span class="soft_letter">м</span><span class="stressed_letter">и</span><span class="soft_letter">р</span>е. 
    		</td>

              <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
              </td>
             </tr>
    		</table>
    	   </div>
    	   <div class="r_transcript">
    	   	[sanktpitirb<span class="acct">oo</span>rk gl<span class="acct">a</span>vn<span class="ry">i</span>y ras<span class="acct">i</span>yskiy p<span class="acct">o</span>rt i ad<span class="acct">i</span>n iz vid<span class="acct">oo</span>schih indoostri<span class="acct">a</span>l'n<span class="ry">i</span>h i kool't<span class="acct">oo</span>rn<span class="ry">i</span>h ts<span class="acct">e</span>ntraf v m<span class="acct">i</span>r'e]
    	   </div>
    	   <div class="r_translate">
    	   	St. Petersburg is a major Russian port and one of the world's leading industrial and cultural centres.
    	   </div>
		</td>
	</tr>
	<tr class="r_line">
		<td>
    	   <div class="r_string">
    	   	<table onclick="playSound('reading/soundt04030.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
             <tr>
              <td>
    			   Г<span class="stressed_letter">о</span>р<span class="reduct_letter">о</span><span class="unvoiced_letter">д</span> расп<span class="reduct_letter">о</span>л<span class="stressed_letter">о</span>ж<span class="reduct_letter">е</span>н на б<span class="reduct_letter">о</span>л<span class="stressed_letter">о</span><span class="soft_letter">т</span>ист<span class="reduct_letter">о</span>й <span class="soft_letter">м</span><span class="stressed_letter">е</span>стн<span class="reduct_letter">о</span><span class="soft_letter">ст</span>и, г<span class="soft_letter">д</span><span class="stressed_letter">е</span> <span class="soft_letter">р</span><span class="reduct_letter">е</span>к<span class="stressed_letter">а</span> <span class="soft_letter">Н</span><span class="reduct_letter">е</span>в<span class="stressed_letter">а</span> <span class="unvoiced_letter">в</span>пад<span class="stressed_letter">а</span><span class="reduct_letter">е</span>т <span class="unvoiced_letter">в</span> <span class="soft_letter">Ф</span><span class="stressed_letter">и</span>нс<span class="soft_letter">к</span>ий за<span class="soft_letter">л</span><span class="stressed_letter">и</span><span class="unvoiced_letter">в</span>.	
    		</td>

              <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
              </td>
             </tr>
    		</table>
    	   </div>
    	   <div class="r_transcript">
    	   	[g<span class="acct">o</span>rat raspal<span class="acct">o</span>j<span class="ry">i</span>n na bal<span class="acct">o</span>tistay m'<span class="acct">e</span>snasti, gd'<span class="acct">e</span> rik<span class="acct">a</span> niv<span class="acct">a</span> fpad<span class="acct">a</span>it f f<span class="acct">i</span>nskiy zal<span class="acct">i</span>f]
    	   </div>
    	   <div class="r_translate">
    	   	The city lies on a marshy lowland where the Neva River empties into the Gulf of Finland.
    	   </div>
		</td>
	</tr>
	<tr class="r_line">
		<td>
    	   <div class="r_string">
    	   	<table onclick="playSound('reading/soundt04040.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
             <tr>
              <td>
    			   Ц<span class="stressed_letter">е</span>нтр Санкт-<span class="soft_letter">П</span><span class="reduct_letter">е</span><span class="soft_letter">т</span><span class="reduct_letter">е</span>рб<span class="stressed_letter">у</span>рга нах<span class="stressed_letter">о</span><span class="soft_letter">д</span>ится на <span class="stressed_letter">ю</span>жн<span class="reduct_letter">о</span>м <span class="soft_letter">б</span><span class="reduct_letter">е</span><span class="soft_letter">р</span><span class="reduct_letter">е</span>г<span class="stressed_letter">у</span> <span class="soft_letter">Н</span><span class="reduct_letter">е</span>в<span class="stressed_letter">ы</span>. 
    		</td>

              <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
              </td>
             </tr>
    		</table>
    	   </div>
    	   <div class="r_transcript">
    	   	[ts<span class="acct">e</span>ntr sanktpitirb<span class="acct">oo</span>rga nah<span class="acct">o</span>ditsa na y<span class="acct">oo</span>jnam birig<span class="acct">oo</span> niv<span class="acct"><span class="ry">i</span></span>]
    	   </div>
    	   <div class="r_translate">
    	   	The centre of St. Petersburg is on the southern bank of the Neva.
    	   </div>
		</td>
	</tr>
	<tr class="r_line">
		<td>
    	   <div class="r_string">
    	   	<table onclick="playSound('reading/soundt04050.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
             <tr>
              <td>
    			   <span class="stressed_letter">Э</span>та <span class="soft_letter">т</span><span class="reduct_letter">е</span><span class="soft_letter">рр</span>ит<span class="stressed_letter">о</span><span class="soft_letter">р</span>ия <span class="unvoiced_letter">в</span>к<span class="soft_letter">л</span>юч<span class="stressed_letter">а</span><span class="reduct_letter">е</span>т гл<span class="stressed_letter">а</span>вный <span class="soft_letter">д</span><span class="reduct_letter">е</span>л<span class="reduct_letter">о</span>в<span class="stressed_letter">о</span>й рай<span class="stressed_letter">о</span>н и б<span class="reduct_letter">о</span><span class="soft_letter">л</span>ьшинств<span class="stressed_letter">о</span><a class="r-up" href="#comment_01" title="Read comments below">1</a> из<span class="soft_letter">в</span><span class="stressed_letter">е</span>стных<a class="r-up" href="#comment_02" title="Read comments below">2</a> зд<span class="stressed_letter">а</span><span class="soft_letter">н</span>ий Санкт-<span class="soft_letter">П</span><span class="reduct_letter">е</span><span class="soft_letter">т</span><span class="reduct_letter">е</span>рб<span class="stressed_letter">у</span>рга.
    		</td>

              <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
              </td>
             </tr>
    		</table>
    	   </div>
    	   <div class="r_transcript">
    	   	[<span class="acct">e</span>ta tirit<span class="acct">o</span>riya fklyooch<span class="acct">a</span>it gl<span class="acct">a</span>vn<span class="ry">i</span>y dilav<span class="acct">o</span>y ts<span class="acct">e</span>ntr i bal'sh<span class="ry">i</span>nstv<span class="acct">o</span> izv'<span class="acct">e</span>sn<span class="ry">i</span>h zd<span class="acct">a</span>niy sanktpitirb<span class="acct">oo</span>rga]
    	   </div>
    	   <div class="r_translate">
    	   	This area includes the main business district and most of St. Petersburg's famous buildings.
    	   </div>
		</td>
	</tr>
	<tr class="r_line">
		<td>
    	   <div class="r_string">
    	   	<table onclick="playSound('reading/soundt04060.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
             <tr>
              <td>
    			   <span class="soft_letter">Зд</span><span class="stressed_letter">е</span><span class="soft_letter">с</span>ь<a class="r-up" href="#comment_03" title="Read comments below">3</a> нах<span class="stressed_letter">о</span><span class="soft_letter">д</span>ятся ист<span class="reduct_letter">о</span><span class="soft_letter">р</span><span class="stressed_letter">и</span>ч<span class="reduct_letter">е</span>ский <span class="soft_letter">З</span><span class="stressed_letter">и</span>м<span class="soft_letter">н</span>ий Дв<span class="reduct_letter">о</span><span class="soft_letter">р</span><span class="stressed_letter">е</span>ц (<span class="soft_letter">т</span><span class="reduct_letter">е</span><span class="soft_letter">п</span><span class="stressed_letter">е</span><span class="soft_letter">р</span>ь му<span class="soft_letter">з</span><span class="stressed_letter">е</span>й <span class="reduct_letter">Э</span>р<span class="soft_letter">м</span>ит<span class="stressed_letter">а</span><span class="unvoiced_letter">ж</span>), зд<span class="stressed_letter">а</span><span class="soft_letter">н</span>ие Ад<span class="soft_letter">м</span>ирал<span class="soft_letter">т</span><span class="stressed_letter">е</span>йства,  с<span class="reduct_letter">о</span>б<span class="stressed_letter">о</span>р С<span class="soft_letter">в</span><span class="reduct_letter">я</span>т<span class="stressed_letter">о</span>г<span class="reduct_letter">о</span> Иса<span class="stressed_letter">а</span>ка Далма<span class="soft_letter">т</span><span class="stressed_letter">и</span>нск<span class="reduct_letter">о</span>г<span class="reduct_letter">о</span><a class="r-up" href="#comment_04" title="Read comments below">4</a>.
    		</td>

              <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
              </td>
             </tr>
    		</table>
    	   </div>
    	   <div class="r_transcript">
    	   	[z'd'<span class="acct">e</span>s' nah<span class="acct">o</span>d'atsa istar<span class="acct">i</span>chiskiy z<span class="acct">i</span>mniy dvar'<span class="acct">e</span>ts, tip'<span class="acct">e</span>r' mooz'<span class="acct">e</span>y irmit<span class="acct">a</span>sh, zd<span class="acct">a</span>niye admiralt'<span class="acct">e</span>ystva, sab<span class="acct">o</span>r svit<span class="acct">o</span>va isa<span class="acct">a</span>ka dalmat<span class="acct">i</span>nskava]
    	   </div>
    	   <div class="r_translate">
    	   	Here you can see the historic Winter Palace (now the Hermitage Museum), the General Staff Building, Cathedral of St. Isaac of Dalmatia.
    	   </div>
		</td>
	</tr>
	<tr class="r_line">
		<td>
    	   <div class="r_string">
    	   	<table onclick="playSound('reading/soundt04070.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
             <tr>
              <td>
    			   <span class="soft_letter">П</span><span class="reduct_letter">е</span>тр<span class="reduct_letter">о</span>п<span class="stressed_letter">а</span>вл<span class="reduct_letter">о</span><span class="unvoiced_letter">в</span>ская к<span class="soft_letter">р</span><span class="stressed_letter">е</span>п<span class="reduct_letter">о</span><span class="soft_letter">ст</span>ь <span class="reduct_letter">я</span>вл<span class="stressed_letter">я</span><span class="reduct_letter">е</span>тся с<span class="stressed_letter">а</span>мым ст<span class="stressed_letter">а</span>рым зд<span class="stressed_letter">а</span><span class="soft_letter">н</span>ием <span class="unvoiced_letter">в</span> Санкт-П<span class="reduct_letter">е</span><span class="soft_letter">т</span><span class="reduct_letter">е</span>рб<span class="stressed_letter">у</span>р<span class="soft_letter">г</span>е. 
    		</td>

              <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
              </td>
             </tr>
    		</table>
    	   </div>
    	   <div class="r_transcript">
    	   	[pitrap<span class="acct">a</span>vlafskaya kr'<span class="acct">e</span>pas't' yivl'<span class="acct">a</span>itsa s<span class="acct">a</span>m<span class="ry">i</span>m st<span class="acct">a</span>r<span class="ry">i</span>m zd<span class="acct">a</span>niyem f sankpitirb<span class="acct">oo</span>rg'e]
    	   </div>
    	   <div class="r_translate">
    	   	The Peter and Paul Fortress is the oldest building in St. Petersburg.
    	   </div>
		</td>
	</tr>
	<tr class="r_line">
		<td>
    	   <div class="r_string">
    	   	<table onclick="playSound('reading/soundt04080.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
             <tr>
              <td>
    			   Ц<span class="stressed_letter">е</span>нтр г<span class="stressed_letter">о</span>р<span class="reduct_letter">о</span>да <span class="reduct_letter">о</span>круж<span class="stressed_letter">ё</span>н ст<span class="stressed_letter">а</span>ры<span class="soft_letter">м</span>и жил<span class="stressed_letter">ы</span><span class="soft_letter">м</span>и<a class="r-up" href="#comment_01" title="Read comments below">1</a> <span class="soft_letter">т</span><span class="reduct_letter">е</span><span class="soft_letter">рр</span>ит<span class="stressed_letter">о</span><span class="soft_letter">р</span>ия<span class="soft_letter">м</span>и с к<span class="stressed_letter">а</span><span class="soft_letter">м</span><span class="reduct_letter">е</span>нны<span class="soft_letter">м</span>и <span class="stressed_letter">и</span><span class="soft_letter">л</span>и <span class="soft_letter">к</span>ир<span class="soft_letter">п</span><span class="stressed_letter">и</span>чны<span class="soft_letter">м</span>и жил<span class="stressed_letter">ы</span><span class="soft_letter">м</span>и<a class="r-up" href="#comment_01" title="Read comments below">1</a> д<span class="reduct_letter">о</span>м<span class="stressed_letter">а</span><span class="soft_letter">м</span>и.
    		</td>

              <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
              </td>
             </tr>
    		</table>
    	   </div>
    	   <div class="r_transcript">
    	   	[ts<span class="acct">e</span>ntr g<span class="acct">o</span>rada akrooj<span class="acct">o</span>n st<span class="acct">a</span>r<span class="ry">i</span>mi j<span class="ry">i</span>l<span class="acct"><span class="ry">i</span></span>mi tirit<span class="acct">o</span>riyami s k<span class="acct">a</span>min<span class="ry">i</span>mi <span class="acct">i</span>li kirp<span class="acct">i</span>chn<span class="ry">i</span>mi j<span class="ry">i</span>l<span class="acct"><span class="ry">i</span></span>mi dam<span class="acct">a</span>mi]
    	   </div>
    	   <div class="r_translate">
    	   	The centre of St. Petersburg is surrounded by old residential areas that have stone or brick apartment buildings.
    	   </div>
		</td>
	</tr>
	<tr class="r_line">
		<td>
    	   <div class="r_string">
    	   	<table onclick="playSound('reading/soundt04090.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
             <tr>
              <td>
    			   <span class="stressed_letter">О</span>к<span class="reduct_letter">о</span>л<span class="reduct_letter">о</span> п<span class="soft_letter">р</span><span class="reduct_letter">е</span>д<span class="soft_letter">м</span><span class="stressed_letter">е</span><span class="soft_letter">ст</span>ий г<span class="stressed_letter">о</span>р<span class="reduct_letter">о</span>да расп<span class="reduct_letter">о</span>л<span class="stressed_letter">о</span>ж<span class="reduct_letter">е</span>ны<a class="r-up" href="#comment_05" title="Read comments below">5</a> т<span class="stressed_letter">ы</span><span class="soft_letter">с</span><span class="reduct_letter">я</span>чи с<span class="reduct_letter">о</span>в<span class="soft_letter">р</span><span class="reduct_letter">е</span><span class="soft_letter">м</span><span class="stressed_letter">е</span>нных жил<span class="stressed_letter">ы</span>х<a class="r-up" href="#comment_01" title="Read comments below">1</a> д<span class="reduct_letter">о</span>м<span class="stressed_letter">о</span><span class="unvoiced_letter">в</span>. 
    		</td>

              <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
              </td>
             </tr>
    		</table>
    	   </div>
    	   <div class="r_transcript">
    	   	[<span class="acct">o</span>kala pridm'<span class="acct">e</span>s'tiy g<span class="acct">o</span>rada raspal<span class="acct">o</span>j<span class="ry">i</span>ni t<span class="acct"><span class="ry">i</span></span>sichi savrim'<span class="acct">e</span>n<span class="ry">i</span>h jil<span class="acct"><span class="ry">i</span></span>h dam<span class="acct">o</span>f]
    	   </div>
    	   <div class="r_translate">
    	   	Near the outskirts of the city there are thousands of modern apartment buildings.
    	   </div>
		</td>
	</tr>
	<tr class="r_line">
		<td>
    	   <div class="r_string">
    	   	<table onclick="playSound('reading/soundt04100.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
             <tr>
              <td>
    			   З<span class="stressed_letter">а</span>падная ч<span class="stressed_letter">а</span><span class="soft_letter">ст</span>ь Санкт-<span class="soft_letter">П</span><span class="reduct_letter">е</span><span class="soft_letter">т</span><span class="reduct_letter">е</span>рб<span class="stressed_letter">у</span>рга — гл<span class="stressed_letter">а</span>вный пр<span class="reduct_letter">о</span>м<span class="stressed_letter">ы</span>ш<span class="soft_letter">л</span><span class="reduct_letter">е</span>нный рай<span class="stressed_letter">о</span>н г<span class="stressed_letter">о</span>р<span class="reduct_letter">о</span>да.
    		</td>

              <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
              </td>
             </tr>
    		</table>
    	   </div>
    	   <div class="r_transcript">
    	   	[z<span class="acct">a</span>padnaya ch<span class="acct">a</span>s't' sanktpitirb<span class="acct">oo</span>rga gl<span class="acct">a</span>vn<span class="ry">i</span>y pram<span class="acct"><span class="ry">i</span></span>shlin<span class="ry">i</span>y ray<span class="acct">o</span>n g<span class="acct">o</span>rada]
    	   </div>
    	   <div class="r_translate">
    	   	The western section of St. Petersburg is the chief industrial district of the city.
    	   </div>
		</td>
	</tr>
	

</table>
</div>


<div class="r_comments">

<h3>Comments on reading</h3>

<p>
 <span class="r-up"  id="comment_01">1</span> 
if the letter <span class="letter">и</span> occurs after the letters <span class="letter">ш</span> and <span class="letter">ж</span>, it is read as [<span class="ry">i</span>]
</p>
<p>
<span class="r-up"  id="comment_02">2</span> 
the combination of letters <span class="letter">стн</span> is read as [sn], i.e. the letter <span class="letter">т</span> is not read
</p>
<p>
<span class="r-up"  id="comment_03">3</span> 
the letter <span class="letter">з</span> denotes the soft sound [z'] when it occurs before the letter <span class="letter">д</span> meaning the soft sound [d']
</p>
<p>
<span class="r-up"  id="comment_04">4</span> 
in the endings -<span class="letter">ого</span> and -<span class="letter">его</span> of pronouns and adjectives, the letter <span class="letter">г</span> is read as [v]
</p>
<p>
<span class="r-up"  id="comment_05">5</span> 
the letter <span class="letter">e</span> is read as [<span class="ry">i</span>] after <span class="letter">ж</span>, (as well as after <span class="letter">ш</span> and <span class="letter">ц</span>) when it denotes an unstressed vowel
</p>

</div>





<br>
<br>



</div>
<br/>







<br>
<br><br>
<br><br>
<br><br>
<br><br>





</div></div>

<script type="text/javascript">
currentSection="reading";
</script>
