<% @page_title = 'Training exercises' %>
<% @page_meta = {'description' => ""} %>

<h2 class="page">Training exercises</h2>
<p class="task">1. Listen to the <a href="alphabet.html">alphabet</a> and repeat.</p>

<p class="task">2. Try to read the <a href="alphabet.html">alphabet</a> on your own. </p>
<p class="task">3. Take a look of primary sounds signified by letters in the table <a href="readingrules.html#table" target="_blank">"Letters & Sounds"</a>. After that:</p> 

<p class="task">a) Listen and repeat following words: </p>

<p>хаус, йес, ноу, хай, доллар, стоун, кэт, спорт, фэйс, тэйбл, экшн, стейк, ноутбук, кандом, фитнес, футбол, кока-кола. </p>

<p class="task">б) Read: </p>

<p>папа, табак, бал, класс, банк, план, стоп, тон, сорт, бокс, том, спорт, порт, гол, луна, фрукт, тур, суп, стул, курс, мэр, музыка. </p>

<p class="task">4. Palatalization of consonants. Listen and repeat: </p>

<p>финал, такси, вилла, литр, фирма, лимит, министр, тип, арбитр, диплом, пианист, паника, климат, кристалл, кабина, буфет, балет, ферма, пресса, текст, сирена, метр, пакет, люстра, пилюля, бюро, нюанс </p>

<p class="task">5. Reduction of vowels. Listen and repeat: </p>
<p>роман,  робот, солист, орбита, проблема, продукт, костюм, колонна, метро, идеал, опера, персонал, метал, аппетит, персона, реформа, камера, спектакль, эталон, эксперт, этап. </p>

<p class="task">6. Devoicing of consonants. Listen and repeat:</p> 

<p>автобус, автомат, каприз, газ, нерв, резерв, анализ, гипноз, гараж, массаж, стаж, пляж, каталог, диалог, эпилог</p>



<script type="text/javascript">
currentSection="reading";
</script>
