<% @page_title = 'Reading in Russian: Text for reading: Moscow' %>
<% @page_meta = {'description' => "Reading in Russian: Moscow - text with audio, stress marks, transcription, translation and comments on reading"} %>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_js_css do %>
<%= javascript_include_tag 'reading_helper' %>
<%= stylesheet_link_tag 'reading-helper' %>
<%end%>

<div class="hint_wrap">
<div class="hint_button">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
          <li><a href="reading_text_01.html">Text: Introduction</a></li>
          <li><a href="reading_text_02.html">Text: Russia</a></li>
          <li><a href="reading_text_04.html">Text: Saint Petersburg</a></li>
          <li><a href="reading_text_05.html">Text: Russian Food</a></li>
        </ul>
        <%= render :partial => 'preload_option' %>
  </div>
</div>
</div>
<div id="pagecontent"><div id="content">

<h2 class="page">Text: Moscow</h2>
<h3 class="page-path">
	<span class="int-links">
	<a href="russian-reading.html">Reading in Russian</a>
	<span class="int-arrow">--&gt;</span> 
	<a href="russian-reading-texts.html">Texts for reading</a>
	<span class="int-arrow">--&gt;</span> Moscow
	</span>
</h3>




<p><input type="checkbox" id="hide_stressmark" /> Display stress marks &nbsp; &nbsp;<a href="javascript:;" id="stress_adjust">[adjust, if needed]</a>
</p>
<p><input type="checkbox" id="hide_transcription" /> Display transcription
</p>
<p><input type="checkbox" id="hide_translation" checked /> Display translation
</p>



<div class="hidden_soft hidden_stressed hidden_reduct hidden_unvoiced"> 

<table class="highlight_options" cellpadding="0" cellspacing="0" border="0" align="center">
	<tr>
		<td colspan="4" class="highlight_info">
			Choose a view mode of the following groups of letters
		</td>
	</tr>
	<tr class="highlight_buttons">
		<td class="highlight_stressed">
			Stressed vowels
		</td>
		<td class="highlight_soft">
			Soft consonants
		</td>
		<td class="highlight_unvoiced">
			Unvoiced consonants
		</td>
		<td class="highlight_reduct">
			Reduced vowels
		</td>
	</tr>
</table>



<br><br>

<div class="r_text_container">
<table>
	<tr class="r_line">
		<td>
    	   <div class="r_string">
    	   	<table onclick="playSound('reading/soundt03010.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
             <tr>
              <td>
    			  М<span class="reduct_letter">о</span>скв<span class="stressed_letter">а</span> - ст<span class="reduct_letter">о</span><span class="soft_letter">л</span><span class="stressed_letter">и</span>ца Р<span class="reduct_letter">о</span><span class="soft_letter">сс</span><span class="stressed_letter">и</span>и.
    	      </td>

              <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
              </td>
             </tr>
    		</table>
    	   </div>
    	   <div class="r_transcript">
    	   	[maskv<span class="acct">a</span> stal<span class="acct">i</span>tsa ras<span class="acct">i</span>i]
    	   </div>
    	   <div class="r_translate">
    	   	Moscow is the capital of Russia.
    	   </div>
		</td>
	</tr>
	<tr class="r_line">
		<td>
    	   <div class="r_string">
    	   	<table onclick="playSound('reading/soundt03020.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
             <tr>
              <td>
    			  <span class="stressed_letter">Э</span>т<span class="reduct_letter">о</span> п<span class="reduct_letter">о</span><span class="soft_letter">л</span>и<span class="soft_letter">т</span><span class="stressed_letter">и</span>ч<span class="reduct_letter">е</span>ский, <span class="reduct_letter">э</span>к<span class="reduct_letter">о</span>н<span class="reduct_letter">о</span><span class="soft_letter">м</span><span class="stressed_letter">и</span>ч<span class="reduct_letter">е</span>с<span class="soft_letter">к</span>ий, на<span class="stressed_letter">у</span>чный и ку<span class="soft_letter">л</span>ьт<span class="stressed_letter">у</span>рный ц<span class="stressed_letter">е</span>нтр.
    	      </td>

              <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
              </td>
             </tr>
    		</table>
    	   </div>
    	   <div class="r_transcript">
    	   	[<span class="acct">e</span>ta palit<span class="acct">i</span>chiskiy, ikanam<span class="acct">i</span>chiskiy, na<span class="acct">oo</span>chn<span class="ry">i</span>y i kool'toorn<span class="ry">i</span>y ts<span class="acct">e</span>ntr]
    	   </div>
    	   <div class="r_translate">
    	   	It is the political, economic, scientific and cultural centre of Russia. 
    	   </div>
		</td>
	</tr>
	<tr class="r_line">
		<td>
    	   <div class="r_string">
    	   	<table onclick="playSound('reading/soundt03030.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
             <tr>
              <td>
    			  В М<span class="reduct_letter">о</span>ск<span class="soft_letter">в</span><span class="stressed_letter">е</span> пр<span class="reduct_letter">о</span>жив<span class="stressed_letter">а</span>ет<a class="r-up" href="#comment_01" title="Read comments below">1</a> б<span class="stressed_letter">о</span><span class="soft_letter">л</span>ее в<span class="reduct_letter">о</span><span class="soft_letter">с</span>ь<span class="soft_letter">м</span><span class="stressed_letter">и</span> <span class="soft_letter">м</span>и<span class="soft_letter">лл</span>и<span class="stressed_letter">о</span>н<span class="reduct_letter">о</span><span class="unvoiced_letter">в</span> ч<span class="reduct_letter">е</span>л<span class="reduct_letter">о</span><span class="soft_letter">в</span><span class="stressed_letter">е</span>к.
    	      </td>

              <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
              </td>
             </tr>
    		</table>
    	   </div>
    	   <div class="r_transcript">
    	   	[v maskv'<span class="acct">e</span> praj<span class="ry">i</span>v<span class="acct">a</span>it b<span class="acct">o</span>l'eye vas'm<span class="acct">i</span> mili<span class="acct">o</span>naf chilav'<span class="acct">e</span>k]
    	   </div>
    	   <div class="r_translate">
    	   	The population of the city is over 8 million.
    	   </div>
		</td>
	</tr>
	<tr class="r_line">
		<td>
    	   <div class="r_string">
    	   	<table onclick="playSound('reading/soundt03040.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
             <tr>
              <td>
    			  М<span class="reduct_letter">о</span>скв<span class="stressed_letter">а</span> - <span class="reduct_letter">о</span><span class="soft_letter">д</span><span class="stressed_letter">и</span>н и<span class="unvoiced_letter">з</span> с<span class="stressed_letter">а</span>мых кра<span class="soft_letter">с</span><span class="stressed_letter">и</span>вых г<span class="reduct_letter">о</span>р<span class="reduct_letter">о</span>д<span class="stressed_letter">о</span><span class="unvoiced_letter">в</span> <span class="soft_letter">м</span><span class="stressed_letter">и</span>ра.
    	      </td>

              <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
              </td>
             </tr>
    		</table>
    	   </div>
    	   <div class="r_transcript">
    	   	[maskv<span class="acct">a</span> ad<span class="acct">i</span>n is s<span class="acct">a</span>m<span class="ry">i</span>h kras<span class="acct">i</span>v<span class="ry">i</span>h garad<span class="acct">o</span>f m<span class="acct">i</span>ra]
    	   </div>
    	   <div class="r_translate">
    	   	Moscow is one of the most beautiful cities in the world.
    	   </div>
		</td>
	</tr>
	<tr class="r_line">
		<td>
    	   <div class="r_string">
    	   	<table onclick="playSound('reading/soundt03050.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
             <tr>
              <td>
    			  <span class="soft_letter">С</span><span class="stressed_letter">е</span>рдцем М<span class="reduct_letter">о</span>скв<span class="stressed_letter">ы</span> счит<span class="stressed_letter">а</span><span class="reduct_letter">е</span>тся<a class="r-up" href="#comment_02" title="Read comments below">2</a> К<span class="soft_letter">р</span><span class="stressed_letter">е</span>м<span class="soft_letter">л</span>ь, к<span class="reduct_letter">о</span>т<span class="stressed_letter">о</span>рый нах<span class="stressed_letter">о</span><span class="soft_letter">д</span>ится <span class="soft_letter">р</span><span class="stressed_letter">я</span>д<span class="reduct_letter">о</span>м с Кр<span class="stressed_letter">а</span>сн<span class="reduct_letter">о</span>й пл<span class="stressed_letter">о</span>ща<span class="soft_letter">д</span>ью.
    	      </td>

              <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
              </td>
             </tr>
    		</table>
    	   </div>
    	   <div class="r_transcript">
    	   	[s'<span class="acct">e</span>rtsem maskv<span class="acct"><span class="ry">i</span></span> schit<span class="acct">a</span>itsa kr'<span class="acct">e</span>ml', kat<span class="acct">o</span>r<span class="ry">i</span>y nah<span class="acct">o</span>ditsa r'<span class="acct">a</span>dam s kr<span class="acct">a</span>snay pl<span class="acct">o</span>schad'yoo]
    	   </div>
    	   <div class="r_translate">
    	   	The heart of Moscow is the Kremlin located near the Red Square. 
    	   </div>
		</td>
	</tr>
	<tr class="r_line">
		<td>
    	   <div class="r_string">
    	   	<table onclick="playSound('reading/soundt03060.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
             <tr>
              <td>
    			  К<span class="soft_letter">р</span><span class="stressed_letter">е</span>м<span class="soft_letter">л</span>ь и Кр<span class="stressed_letter">а</span>сная пл<span class="stressed_letter">о</span>ща<span class="soft_letter"><span class="unvoiced_letter">д</span></span>ь - <span class="soft_letter">с</span><span class="stressed_letter">и</span>мв<span class="reduct_letter">о</span>лы М<span class="reduct_letter">о</span>скв<span class="stressed_letter">ы</span> и <span class="unvoiced_letter">в</span><span class="soft_letter">с</span><span class="stressed_letter">е</span>й Р<span class="reduct_letter">о</span><span class="soft_letter">сс</span><span class="stressed_letter">и</span>и.
    	      </td>

              <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
              </td>
             </tr>
    		</table>
    	   </div>
    	   <div class="r_transcript">
    	   	[kr'<span class="acct">e</span>ml' i kr<span class="acct">a</span>snaya pl<span class="acct">o</span>schat' s<span class="acct">i</span>mval<span class="ry">i</span> maskv<span class="acct"><span class="ry">i</span></span> i fs'<span class="acct">e</span>y ras<span class="acct">i</span>i]
    	   </div>
    	   <div class="r_translate">
    	   	The Moscow Kremlin and the Red Square are symbols of Moscow and the whole Russia.
    	   </div>
		</td>
	</tr>
	<tr class="r_line">
		<td>
    	   <div class="r_string">
    	   	<table onclick="playSound('reading/soundt03070.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
             <tr>
              <td>
    			 В М<span class="reduct_letter">о</span>ск<span class="soft_letter">в</span><span class="stressed_letter">е</span> и<span class="soft_letter">м</span><span class="stressed_letter">е</span><span class="reduct_letter">е</span>тся б<span class="stressed_letter">о</span><span class="soft_letter">л</span>ее в<span class="reduct_letter">о</span><span class="soft_letter">с</span>ь<span class="soft_letter">м</span><span class="stressed_letter">и</span><span class="soft_letter">д</span><span class="reduct_letter">е</span><span class="soft_letter">с</span><span class="reduct_letter">я</span><span class="soft_letter">т</span>и му<span class="soft_letter">з</span><span class="stressed_letter">е</span>е<span class="unvoiced_letter">в</span>.
    	      </td>

              <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
              </td>
             </tr>
    		</table>
    	   </div>
    	   <div class="r_transcript">
    	   	[v maskv'<span class="acct">e</span> im<span class="acct">e</span>itsa b<span class="acct">o</span>le'ye vas'm<span class="acct">i</span>disiti mooz'<span class="acct">e</span>yef]
    	   </div>
    	   <div class="r_translate">
    	   	There are more than 80 museums in Moscow.
    	   </div>
		</td>
	</tr>
	<tr class="r_line">
		<td>
    	   <div class="r_string">
    	   	<table onclick="playSound('reading/soundt03080.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
             <tr>
              <td>
    			  С<span class="soft_letter">р</span><span class="reduct_letter">е</span><span class="soft_letter">д</span><span class="stressed_letter">и</span> <span class="soft_letter">н</span><span class="stressed_letter">и</span>х с<span class="soft_letter">л</span><span class="stressed_letter">е</span>ду<span class="reduct_letter">е</span>т <span class="reduct_letter">о</span>т<span class="soft_letter">м</span><span class="stressed_letter">е</span><span class="soft_letter">т</span>и<span class="soft_letter">т</span>ь Т<span class="soft_letter">р</span><span class="reduct_letter">е</span><span class="soft_letter">т</span>ь<span class="reduct_letter">я</span>к<span class="stressed_letter">о</span><span class="unvoiced_letter">в</span>скую га<span class="soft_letter">л</span><span class="reduct_letter">е</span><span class="soft_letter">р</span><span class="stressed_letter">е</span>ю.
    	      </td>

              <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
              </td>
             </tr>
    		</table>
    	   </div>
    	   <div class="r_transcript">
    	   	[srid<span class="acct">i</span> n<span class="acct">i</span>h sl'<span class="acct">e</span>dooit atm'<span class="acct">e</span>tit' trit'yik<span class="acct">o</span>fskooyoo galir'<span class="acct">e</span>yoo]
    	   </div>
    	   <div class="r_translate">
    	   	Among them, the Tretyakov Gallery should be mentioned.
    	   </div>
		</td>
	</tr>
	<tr class="r_line">
		<td>
    	   <div class="r_string">
    	   	<table onclick="playSound('reading/soundt03090.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
             <tr>
              <td>
    			  В <span class="soft_letter">н</span><span class="stressed_letter">е</span>й нах<span class="stressed_letter">о</span><span class="soft_letter">д</span>ится мн<span class="stressed_letter">о</span>г<span class="reduct_letter">о</span> п<span class="soft_letter">р</span><span class="reduct_letter">е</span>кр<span class="stressed_letter">а</span>сных кар<span class="soft_letter">т</span><span class="stressed_letter">и</span>н, гра<span class="soft_letter">в</span><span class="stressed_letter">ю</span>р, ску<span class="soft_letter">л</span>ьпт<span class="stressed_letter">у</span>р.
    	      </td>

              <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
              </td>
             </tr>
    		</table>
    	   </div>
    	   <div class="r_transcript">
    	   	[v n'<span class="acct">e</span>y nah<span class="acct">o</span>ditsa mn<span class="acct">o</span>ga prikr<span class="acct">a</span>sn<span class="ry">i</span>h kart<span class="acct">i</span>n, grav'<span class="acct">oo</span>r, skool'pt<span class="acct">oo</span>r]
    	   </div>
    	   <div class="r_translate">
    	   	It has a lot of beautiful pictures, engravings, and scultures. 
    	   </div>
		</td>
	</tr>
	<tr class="r_line">
		<td>
    	   <div class="r_string">
    	   	<table onclick="playSound('reading/soundt03100.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
             <tr>
              <td>
    			  М<span class="reduct_letter">о</span>скв<span class="stressed_letter">а</span> зна<span class="soft_letter">м</span><span class="reduct_letter">е</span><span class="soft_letter">н</span><span class="stressed_letter">и</span>та св<span class="reduct_letter">о</span><span class="stressed_letter">и</span><span class="soft_letter">м</span>и т<span class="reduct_letter">е</span><span class="stressed_letter">а</span>тра<span class="soft_letter">м</span>и. 
    	      </td>

              <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
              </td>
             </tr>
    		</table>
    	   </div>
    	   <div class="r_transcript">
    	   	[maskv<span class="acct">a</span> znamin<span class="acct">i</span>ta sva<span class="acct">i</span>mi ti<span class="acct">a</span>trami]
    	   </div>
    	   <div class="r_translate">
    	   	Moscow is famous for its theatres. 
    	   </div>
		</td>
	</tr>
	<tr class="r_line">
		<td>
    	   <div class="r_string">
    	   	<table onclick="playSound('reading/soundt03110.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
             <tr>
              <td>
    			  С<span class="stressed_letter">а</span>мые из<span class="soft_letter">в</span><span class="stressed_letter">е</span>стные<a class="r-up" href="#comment_03" title="Read comments below">3</a> из <span class="soft_letter">н</span><span class="stressed_letter">и</span>х -  Б<span class="reduct_letter">о</span><span class="soft_letter">л</span>ьш<span class="stressed_letter">о</span>й, М<span class="stressed_letter">а</span>лый и МХ<span class="stressed_letter">А</span>Т.
    	      </td>

              <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
              </td>
             </tr>
    		</table>
    	   </div>
    	   <div class="r_transcript">
    	   	[s<span class="acct">a</span>m<span class="ry">i</span>ye izv'<span class="acct">e</span>sn<span class="ry">i</span>ye iz n<span class="acct">i</span>h bal'sh<span class="acct">o</span>y, m<span class="acct">a</span>l<span class="ry">i</span>y i mh<span class="acct">a</span>t]
    	   </div>
    	   <div class="r_translate">
    	   	The best-known of them are Bolshoi, Maly and the Moscow Art Theatre. 
    	   </div>
		</td>
	</tr>
	<tr class="r_line">
		<td>
    	   <div class="r_string">
    	   	<table onclick="playSound('reading/soundt03120.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
             <tr>
              <td>
    			  М<span class="reduct_letter">о</span>скв<span class="stressed_letter">а</span> <span class="unvoiced_letter">в</span><span class="soft_letter">с</span><span class="reduct_letter">е</span>гд<span class="stressed_letter">а</span> пр<span class="reduct_letter">о</span>изв<span class="stressed_letter">о</span><span class="soft_letter">д</span>ит б<span class="reduct_letter">о</span><span class="soft_letter">л</span>ьш<span class="stressed_letter">о</span>е <span class="unvoiced_letter">в</span><span class="soft_letter">п</span><span class="reduct_letter">е</span>чат<span class="soft_letter">л</span><span class="stressed_letter">е</span><span class="soft_letter">н</span>ие на п<span class="reduct_letter">о</span><span class="soft_letter">с</span><span class="reduct_letter">е</span><span class="soft_letter">т</span><span class="stressed_letter">и</span><span class="soft_letter">т</span><span class="reduct_letter">е</span><span class="soft_letter">л</span>ей.
    	      </td>

              <td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
              </td>
             </tr>
    		</table>
    	   </div>
    	   <div class="r_transcript">
    	   	[maskv<span class="acct">a</span> fsigd<span class="acct">a</span> praizv<span class="acct">o</span>dit bol'sh<span class="acct">o</span>ye fpichitl'<span class="acct">e</span>niye na pasit<span class="acct">i</span>til'ey]
    	   </div>
    	   <div class="r_translate">
    	   	Moscow always makes a great imporession on its visitors. 
    	   </div>
		</td>
	</tr>
	
	
</table>
</div>


<div class="r_comments">

<h3>Comments on reading</h3>

<p>
 <span class="r-up"  id="comment_01">1</span> 
if the letter <span class="letter">и</span> occurs after the letter <span class="letter">ж</span>, it is read as [<span class="ry">i</span>]
</p>
<p>
<span class="r-up"  id="comment_02">2</span> 
the combination of letters <span class="letter">сч</span> denotes the sound [sch]
</p>
<p>
<span class="r-up"  id="comment_03">3</span> 
the combination of letters <span class="letter">стн</span> is read as [sn], i.e. the letter <span class="letter">т</span> is not read
</p>

</div>





<br>
<br>



</div>
<br/>







<br>
<br><br>
<br><br>
<br><br>
<br><br>





</div></div>

<script type="text/javascript">
currentSection="reading";
</script>
