<% @page_title = 'Russian Language Online: Recommendations for Beginners' %>
<% @page_meta = {'description' => "Basic recommendations for those who begin learning the Russian language"} %>

<h2 class="page">Recommendations for Beginners</h2>
<p>
<em><strong>Study-Languages-Online.com</strong></em> has several sections that will help you to get essential skills in speaking and reading in Russian. 
These sections are <a href="course.html">Online Russian Course</a>, <a href="vocabulary.html">Vocabulary Topics</a>, <a href="pronunciation.html">Russian Pronunciation</a> and <a href="russian-reading.html">Reading in Russian</a>. 
It is possible to study these sections simultaneously or separately from each other. 
If you only begin to learn Russian, we recommend you to study these sections concurrently and consecutively, which will let you achieve better results.
</p>
<p>
For beginners, we advise to start with sections <a href="pronunciation.html">Russian Pronunciation</a> and <a href="russian-reading.html">Reading in Russian</a>. 
These sections include basic information about sounds, phonetical principles, letters and rules of reading of the Russian language, as well as online lessons that help to train speaking and reading in Russian. 
It will be much simpler for you to work with <a href="course.html">Online Russian Course</a> and <a href="vocabulary.html">Vocabulary Topics</a> if you get familiar with pronunciation and have some skills in reading.
</p>
<p>
While working with the <a href="course.html">online course of Russian</a>, beginners learn to build phrases for everyday communication with Russian speaking persons. 
Each lesson includes lists of word and expressions which may be used in different situations, dialogues, exercises and tests. 
Moreover, every lesson has a list of recommended links to pages on the site where you can find additional materials related to the topic of the lesson.
</p>
<p>
The purpose of the <a href="vocabulary.html">Vocabulary Topics</a> section is to improve your knowledge of Russian words and phrases. 
Those who begin learning Russian may find it very useful to study vocabulary sorted by topics, accompanied by audio examples. 
There are also different lexical exercises, tests and games that may help you to learn the content of the section and evaluate your knowledge of Russian words.
</p>

<p>The <a href="/signup">registration</a> allows you to save and review the results of the exercises and tests that you have done on our site. In your account, you can find the results of each exercise and test, as well as overall results of all exercises and tests for a lesson or a topic. 
The knowledge of your own results may give you the global vision of your progress in learning the language and it can help you to better control and plan your studies.
See the <a href="/signup">Registration page</a>
</p>
<p>
We also advise to visit <a href="test-use.html">How to use tests</a> page to learn how to work with tests, and <a href="functions.html">Functions and settings</a> page to read information about available functions on our website that may make it easier for beginners to learn Russian.
</p>
