<% @page_title = 'Russian Language Online: Reading in Russian' %>
<% @page_meta = {'description' => "Online materials to learn Russian letters and rules of reading"} %>

<% content_for :special_css do %>
.lists li {
padding-top: 5px;
}
<% end %>

<h2 class="page">Reading in Russian</h2>
<p>
In this section you can learn Russian alphabet, get familiar with peculiarities of reading in Russian and find information about essential rules of reading. There are also different exercises and tests which will help you to read correctly in Russian.
</p>
<p>
We recommend you the following order of work with this section:
</p>
<ol class="lists">
	<li><a href="reading-info.html">General info about reading in Russian</a></li>
	<li><a href="basic-letters.html">Russian Letters and their Basic Meanings</a></li>
	<li><a href="readingrules.html">Rules of reading in Russian</a>
		<ul style="list-style: none; padding-left: 10px;">
			<li>- <a href="softness.html">Softness of consonants in Russian</a></li>
			<li>- <a href="devocalization.html">Vocalization and Devocalization of Consonants in Russian</a></li>
			<li>- <a href="stress-reduction.html">Stress and reduction of vowels</a></li>
   			<li>- <a href="reading-exceptions.html">Exceptional cases of reading</a> </li>
   			<li>- <a href="basic-reading-rules.html">Rules of reading (Summary)</a> </li>
		</ul>
	</li>
	<li>
		<a href="reading-practice.html">Training exercises</a>
		<ul style="list-style: none; padding-left: 10px;">
			<li>- <a href="reading-practice1.html">Part 1. Basic Meanings of letters</a></li>
   			<li>- <a href="reading-practice2.html">Part 2. Softness of consonants</a></li>
			<li>- <a href="reading-practice3.html">Part 3. Devocalization and vocalization of consonants</a></li>
			<li>- <a href="reading-practice4.html">Part 4. Stress and reduction of vowels</a></li>
		</ul>
	</li>
	<li><span class="new_item">&nbsp;NEW !!!&nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="russian-reading-texts.html">Texts for reading practice</a>
		<ul style="list-style: none; padding-left: 10px;">
		  <li>- <a href="reading_text_01.html">Text: Introduction</a></li>
          <li>- <a href="reading_text_02.html">Text: Russia</a></li>
          <li>- <a href="reading_text_03.html">Text: Moscow</a></li>
		  <li>- <a href="reading_text_04.html">Text: Saint Petersburg</a></li>
          <li>- <a href="reading_text_05.html">Text: Russian Food</a></li>
		</ul>
	</li>
</ol>
<p>
If you don't have enough time or desire to thoroughly study Russian rules of reading, we recommend you at least to take a look at <a href="basic-letters.html">Russian Letters and their Basic Meanings</a>.
</p>

<script type="text/javascript">
currentSection="reading";
</script>

