<% @page_title = 'Study Russian Online: Impersonal constructions in Russian' %>
<% @page_meta = {'description' => "Information for those who start to study Russian: Impersonal constructions in Russian."} %>


<% content_for :special_js_css do %>
<style type="text/css">
h2.page {
margin-bottom: 0px;
}
</style>
<% end %>



<h2 class="page">Impersonal constructions in Russian</h2>
<h3 class="page-path"><span class="int-links"><a href="/russian-grammar.html">Russian grammar</a> <span class="int-arrow">--&gt;</span> Impersonal constructions </span></h3>


<p>
Every English sentence has a verb, a part of speech which denotes an action (to read), an occurrence (to decompose) or a state (to exist). 
In Russian, there are many constructions which do not require the use of a verb in a sentence. 
Such constructions often describe emotional or physical states, for example <span class="eg">Ему холодно</span> <span class="egt">He is cold</span>, <span class="eg">Здесь скучно</span> <span class="egt">It's boring here</span>, <span class="eg">Мне нужно идти</span> <span class="egt">I need/I have to go</span>, <span class="eg">Мне можно войти?</span> <span class="egt">May I come in?</span>. 
As you can see, English uses verbs in these phrases (is, need, have to, may). 
</p>
<p>
Russian does not use verbs in these constructions, it uses adverb-type words, usually ending -о (<em>холодн<u>о</u>, скучн<u>о</u>, нужн<u>о</u>, можн<u>о</u></em>). These Russian constructions have no subject and are called impersonal constructions. The person who is affected by the described state is marked by a word (noun or pronoun) in the dative case form, so literal translation of the above examples would be:  
</p>
<div class="egdiv">
<h4>Examples: </h4>
<p>
Ему холодно – I'm cold. literally:  To him is cold.
</p>
<p>
Мне нужно идти. - I must go. literally: To me is necessary to go.
</p>
<p>
Мне можно войти? - May I come in? literally: То me is possible to come in?
</p>
</div>


<script type="text/javascript">
currentSection="grammar";
</script>


