<% @page_title='Russian Language Online: Russian Grammar' %>
<% @page_meta = {'description' => "Summary of the section Russian grammar: articles devoted to Russian grammar rules, grammar exercises"} %>

<% content_for :special_css do %>
.lists li {
padding-top: 5px;
}
<% end %>

<h2 class="page">Russian grammar</h2>
<p>
In this section, you can find different materials devoted to Russian grammar rules. The articles of this section are grouped by parts of speech: noun, adjective, pronoun, numeral and verb. Below, you can also find the list 
of grammar exercises available on our website.  
</p>


<ul class="gr-list" id="theory">
	<li class="gr-li-head"><div class="gr-list-head"><span>Russian Noun</span></div>
		<ul>
		<li>
			<a href="russian-nouns-gender.html">Gender of Russian nouns</a>
		</li>
		<li>
			<a href="russian-nouns-nominative-plural.html">Number of Russian nouns</a> (nominative plural)
		</li>
		<li>
			<a href="russian-animate-inanimate.html">Animacy in Russian</a>
		</li>
		<li>
			<a href="russian-cases.html">Russian Cases</a>
			<ul>
				<li>
					<a href="russian-nominative-case.html">Nominative case</a>
				</li>
				<li>
					<a href="russian-genitive-case.html">Genitive case</a>
				</li>

				<li>
					<a href="russian-dative-case.html">Dative case</a>
				</li>
				<li>
					<a href="russian-accusative-case.html">Accusative case</a>
				</li>
				<li>
					<a href="russian-instrumental-case.html">Instrumental case</a>

				</li>
				<li>
					<a href="russian-prepositional-case.html">Prepositional case</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="russian-nouns-declension.html"> Declension of Russian Nouns</a>

		</li>

		</ul>
	</li>
	
	<li class="gr-li-head"><div class="gr-list-head"><span>Russian Adjective</span></div>
	
		<ul>
			<li>
		   		<a href="russian-adjectives-declension.html">Declension of Russian adjectives</a>
			</li>
			<li>
		   		<a href="russian-adjectives-short.html">Short form of Russian adjectives</a>
			</li>
		</ul>
	</li>
	<li class="gr-li-head"><div class="gr-list-head"><span>Russian Pronoun</span></div>
		<ul>
			<li>
				<a href="russian-personal-pronouns.html">Russian Personal Pronouns</a>
			</li>
			<li>
				<a href="russian-possessive-pronouns.html">Russian Possessive Pronouns</a>
			</li>
			<li>
				<a href="russian-demonstrative-pronouns.html">Russian Demonstrative Pronouns</a>
			</li>
			<li>
				<a href="/russian-determinative-pronouns.html">Russian Determinative Pronouns</a>
			</li>
			<li>
				<a href="/russian-reflexive-pronouns.html">Russian Reflexive Pronouns</a>
			</li>
			<li>
				<a href="russian-interrogative-words.html">Russian Interrogative Words</a>
			</li>
			<li>
				<a href="/russian-negative-pronouns.html">Russian Negative Pronouns</a>
			</li>
		</ul>
	</li>
	<li class="gr-li-head"><div class="gr-list-head"><span>Russian  Numeral</span></div>
	
		<ul>
			<li>
				<a href="russian-cardinal-numerals.html">Russian Cardinal numerals</a>
			</li>
			<li>
				<a href="russian-ordinal-numerals.html">Russian Ordinal numerals</a>
			</li>
		</ul>
	
	</li>
	<li class="gr-li-head"><div class="gr-list-head"><span>Russian Verb</span></div>
		<ul>
			<li>
				<a href="/russian-present-tense.html">Present Tense of Russian Verbs </a>
			</li>
			<li>
				<a href="/russian-past-tense.html">Past Tense of Russian Verbs </a>
			</li>
			<li>
				<a href="/russian-irregular-verbs.html">Non-past forms of irregular verbs </a>
			</li>
		</ul>
	
	</li>
	<li class="gr-li-head"><div class="gr-list-head"><span>Other topics</span></div>
	
		<ul>
			<li>
				<a href="russian-spelling-rules.html">Russian Spelling Rules</a>
			</li>
			<li>
				<a href="russian-words-order.html">Words order in Russian sentences</a>
			</li>
			<li>
				<a href="russian-address-forms.html">Polite and familiar address in Russian</a>
			</li>
			<li>
				<a href="russian-gender.html">Gender in Russian</a>
			</li>
			<li>
				<a href="russian-impersonal-constructions.html">Impersonal constructions with Dative</a>
			</li>
		</ul>
	</li>

</ul>


<h3 id="exercises" class="page-p">
Grammar exercises 
</h3>
<p>
If you are a registered user, the results of the exercises are saved and can be reviewed in your account. 
</p>

<ul>
	<li><a href="nouns-gender-exercises.html">Russian nouns gender</a> (nominative singular, regular nouns)
	</li>
	<li><a href="nouns-number-exercises.html">Russian nouns number</a> (nominative plural, regular forms)
	</li>
	<li><a href="nouns-cases-exercises.html">Russian nouns cases</a> (general functions)
	</li>
	<li><a href="nouns-genitive-singular-exercises.html">Genitive case: singular forms of Russian nouns</a>
	</li>
	<li><a href="nouns-genitive-plural-exercises.html">Genitive case: plural forms of Russian nouns</a>
	</li>
	<li><a href="nouns-dative-exercises.html">Dative case of Russian nouns</a>
	</li>
	<li><a href="nouns-accusative-exercises.html">Accusative case of Russian nouns</a>
	</li>
	<li><a href="nouns-instrumental-exercises.html">Instrumental case of Russian nouns</a>
	</li>
	<li><a href="nouns-prepositional-exercises.html">Prepositional case of Russian nouns</a>
	</li>
	<li><a href="adjectives-declension-exercises.html">Declension of adjectives</a>
	</li>
	<li><a href="adjectives-short-exercises.html">Short forms of adjectives</a>
	</li>
	
	
	<li><a href="pronouns-personal-exercises.html">Personal pronouns</a>
	</li>
	<li><a href="pronouns-possessive-exercises.html">Possessive pronouns</a>
	</li>
	<li><a href="pronouns-demonstrative-exercises.html">Demonstrative pronouns</a>
	</li>
	<li><a href="pronouns-interrogative-exercises.html">Interrogative pronouns</a>
	</li>
	<li><a href="verbs-present-exercises.html">Verbs: Present Tense forms</a>
	</li>
	<li><a href="verbs-past-exercises.html">Verbs: Past Tense forms</a>
	</li>
<ul>

<br><br><br><br><br><br><br><br><br><br>




<script type="text/javascript">
currentSection="grammar";
</script>

