<% @page_title = 'Study Russian Online: Prepositional case of Russian nouns' %>
<% @page_meta = {'description' => "Information for those who start to study Russian: Prepositional case of Russian nouns."} %>


<h2 class="page">Prepositional case of Russian nouns
<span class="int-links"><a href="additional.html">Additional info</a> <span class="int-arrow">--></span> <a href="russian-cases.html">Russian cases</a> <span class="int-arrow">--></span> Prepositional Case</span>

</h2>
<p>
See also: <a href="russian-cases.html">Russian Cases</a>, <a href="russian-nouns-declension.html">Russian Nouns Declension</a>
</p>
<p>
<strong><em>Basic meaning</em></strong>
</p>
<p>
The <strong>prepositional case</strong> is a set of word forms which usually mark the location of the action. The prepositional case word forms are used in Russian only together with prepositions.</p>

<p>
<strong><em>Uses of the Genitive</em></strong>
</p>
<p>
1. <strong>To indicate the location of the action with prepositions</strong> <em>в</em> <strong>and</strong> <em>на</em>.
</p>
<p>
<em>For example:</em>  

</p>
<p>
Студент живёт <u>в Москве</u>. – The student lives <u>in Moscow</u>.
</p>
<p>
The word <em>Москве</em> (Moscow) is the prepositional case form of the word <em>Москва</em> (Moscow) and indicates the location of the action <em>живёт</em> (lives) after the preposition <em>в</em>.

</p>
<p>
Олег работает <u>на заводе</u>. – Oleg works <u>at a factory</u>.
</p>
<p>
The word <em>заводе</em> (factory) is the prepositional case form of the word <em>завод</em> (factory) and indicates the location of the action <em>работает</em> (works) after the preposition <em>на</em>.

</p>
<p>
2. <strong>With preposition</strong> <em>о</em> <strong>meaning</strong> "about". 
</p>
<p>
<em>For example:</em>  
</p>
<p>
Это книга <u>о природе</u>. – This is a book <u>about nature</u>. 

</p>
<p>
The word <em>природ</em>е (nature) is the prepositional case form of the word <em>природа</em> (nature) and it is used after the preposition <em>о</em> (about).
</p>
<p>
Я думаю <u>о будущем</u>. – I am thinking <u>about future</u>. 

</p>
<p>
The word <em>будущем</em> (future) is the prepositional case form of the word <em>будущее</em> (future) and it is used after the preposition <em>о</em> (about).
</p>

<p>
3. <strong>To indicate the time of an action with words</strong> <em>год</em> (year), <em>месяц</em> (month), <em>неделя</em> (week): 

</p>
<p>
<em>на этой неделе</em> – this week,  <em>literally</em>: on this week<br/>
<em>в этом году</em> – this year,  <em>literally</em>: in this year<br>
<em>в этом месяце</em> - this month,  <em>literally</em>: in this month

</p>

<p class="ital" style="padding-top: 20px;"><strong>You can find more examples of word forms in prepositional singular and prepositional plural on the page <a href="russian-nouns-declension.html" title="Russian nouns declension">Russian nouns declension</a></strong></p>


