<% @page_title = 'Study Russian Online: Russian Indefinite Pronouns' %>
<% @page_meta = {'description' => "Information about Russian Indefinite pronouns: definition, peculiarities of usage."} %>

<% content_for :special_js_css do %>
<%= stylesheet_link_tag 'stylesounds' %>
<style type="text/css">
h2.page {
margin-bottom: 0px;
}
</style>

<% end %>

<h2 class="page">Russian Indefinite Pronouns</h2>
<h3 class="page-path">
<span class="int-links"><a href="/russian-grammar.html">Russian grammar</a>  <span class="int-arrow">--&gt;</span> Indefinite Pronouns </span>

</h3>

<p>
<dfn>Indefinite pronouns</dfn> are words used to refer to unknown, undetermined or intentionally unspecified beings, objects, properties and quantity. In Russian, this function is performed by several sets of pronouns formed from interrogative/relative pronouns:
</p>
<ul>
	<li>pronouns formed by means of the particle -<span class="eg">нибудь</span>: <strong>кто-нибудь</strong>, <strong>что-нибудь</strong>, <strong>какой-нибудь</strong>, <strong>чей-нибудь</strong>, <strong>сколько-нибудь</strong></li>
	<li>pronouns formed by means of the particle -<span class="eg">либо</span>: <strong>кто-либо</strong>, <strong>что-либо</strong>, <strong>какой-либо</strong>, <strong>чей-либо</strong></li>
	<li>pronouns formed by means of the particle -<span class="eg">то</span>: <strong>кто-то</strong>, <strong>что-то</strong>, <strong>какой-то</strong>, <strong>чей-то</strong>, <strong>сколько-то</strong></li>
	<li>pronouns formed by means of the prefix <span class="eg">кое</span>-: <strong>кое-кто</strong>, <strong>кое-что</strong>, <strong>кое-какой</strong>, <strong>кое-чей</strong></li>
	<li>pronouns <strong>некто</strong>, <strong>нечто</strong>, and <strong>некоторый</strong>, <strong>некий</strong>, <strong>несколько</strong></li>
</ul>

<h3 class="page-p">Pronouns ending in -<em>нибудь</em> and -<em>либо</em></h3>
<p>
These pronouns, also called <em>non-specific indefinite pronouns</em>, are used to refer to beings and objects whose existence is uncertain. Using these pronouns, the speaker has no definite referent in mind, but, hypothetically, such a referent may exist or present. 
</p>
<div class="egdiv">
<h4>Example: </h4>
<p><u>Кто-нибудь</u> дома? - Is anybody home? </p>
<p><u>Кто-либо</u> смотрел этот фильм? - Has anybody seen this film?</p>
</div>
<p>
Pronouns ending in -<span class="eg">нибудь</span> mean <span class="egt">no matter what/who/which</span> and usually refer to an unspecified object or one of unspecified objects. This meaning allows to refer to persons and thing that do not exist yet, that is why these pronouns are frequently used in interrogative sentences, as well as with verbs in the future tense, in the subjunctive and imperative modes. 
</p>
<div class="egdiv">
<h4>Example: </h4>
<p>Ты с <u>кем-нибудь</u> говорил об этом? - Did you talk to anyone about this? (question)</p>
<p>Возьми <u>что-нибудь</u> поесть. - Take something to eat. (imperative mood)</p>
<p>Она приготовит <u>что-нибудь</u> на обед. - She will make something for lunch. (future tense)</p>
</div>
<p>
The meaning of pronouns ending in -<span class="eg">либо</span> is very close to those ending in -<span class="eg">нибудь</span>, but it is more general, i.e. pronouns ending in -<span class="eg">либо</span> may refer not to only one, but to any of unspecified objects, compare: 
</p>
<div class="egdiv">
<h4>Example: </h4>
<p>спросить <u>кого-нибудь</u> - to ask someone/anyone (one of a group of unknown people)</p>
<p>спросить <u>кого-либо</u> - to ask anyone (any of unknown people)</p>
</div>
<p>
The declension of these pronouns is the same as the declension of the corresponding <a href="/russian-relative-pronouns-declension.html">interrogative/relative pronouns</a>. The suffixes -<span class="eg">нибудь</span> and -<span class="eg">либо</span> that are added at the end of these words are invariable. 
</p>

<h3 class="page-p">Pronouns with prefixe <em>кое</em>- and suffix -<em>то</em></h3>
<p>
These pronouns, also called <em>specific indefinite pronouns</em>, are used to refer to existing beings and objects whose identity is not specified for some reasons. Using these pronouns, the speaker has a paticular referent in mind, but he can not or does not want to identify the referent. 
</p>
<div class="egdiv">
<h4>Example: </h4>
<p><u>Кто-то</u> звонил. - Someone called. (the speaker does not know the person who called)</p>
<p><u>Кое-кто</u> звонил. - Someone called. (the speaker most likely knows the name of that person, but intentionally does not mention it)</p>
</div>
<p>
Pronouns ending in -<span class="eg">то</span> indicate an object which is unknown both for the speaker and the listener: 
</p>
<div class="egdiv">
<h4>Example: </h4>
<p><u>Кто-то</u> стучит в дверь. - Someone is knocking at the door.</p> 
<p>Вам звонила <u>какая-то</u> женщина. - Some woman rang you.</p>
</div>
<p>
Pronouns with the prefixe <span class="eg">кое</span>- (colloqial form <span class="eg">кой</span>-) are used when the speaker does not wish to specify the identity of the referent. 
</p>

<h3 class="page-p" id="nekto">Pronouns <em>некто</em>, <em>нечто</em> </h3>
<p>
These pronouns correspond to English <em>"an unknown person/a stranger/someone"</em> and <em>"an unknown thing/something"</em>, respectively, and are most often used as grammatical subjects. The pronoun нечто may sometimes be used in the accusative as the direct object of a verb. <span class="eg">Некто</span> and <span class="eg">нечто</span> are usually accompanied by modifiers (a word or a phrase). In general, these pronouns are typical of the bookish style.
</p>
<div class="egdiv">
<h4>Example: </h4>
<p>Тебе звонил <u>некто</u> по имени Вадим. - Someone by the name of Vadim called you.</p>
<p>Он видел <u>нечто</u> необычное. - He saw something unusual.</p> 
</div>

<h3 class="page-p">Pronouns некоторый, некий, несколько</h3>
<p>
Pronouns <span class="eg">некоторый</span>, <span class="eg">некий</span> <span class="egt">some, unspecified</span> and <span class="eg">несколько</span> <span class="egt">several, a number of</span> are used when the speaker does not wish to provide exact information for some reasons. 
</p>

<br><br><br><br><br><br><br><br><br><br><br>


<script type="text/javascript">
currentSection="grammar";
</script>


