<% @page_title='Russian Language Online: Russian Pronunciation and Reading' %>
<% @page_meta = {'description' => "Summary of sections Russian pronunciation and Reading in Russian"} %>

<% content_for :special_css do %>
.lists li {
padding-top: 5px;
}
<% end %>

<h2 class="page">Russian Sounds and Letters</h2>

We have two sections on our website that will help you to pronounce and read in Russian correctly.


<h3 class="page-p">Russian Pronunciation</h3>

<p>
The main purpose of this section is to provide skills in perception and distinction of Russian sounds, as well as to give the description of Russian sounds articulation. 
In this section you will find basic information about Russian sounds and peculiarities of their pronunciation. There is also a phonetics course which will help you to get familiar with Russian pronunciation.
</p>
<p>
We recommend you to work with this section in the following order:
</p>

<ol class="lists">
	<li><a href="basic-sounds.html">Basic Russian sounds and their transcription</a></li>
	<li><a href="sounds-info.html">General info about sounds in the Russian language</a></li>
	<li><a href="russian-articulation.html">Description of Russian sounds: Articulation details</a></li>
	<li><a href="phonetics-course.html">Introductory phonetics course for Russian</a>	
	</li>
</ol>

<br>
<p class="bold ital"><a href="/pronunciation.html">Go to this section >></a></p>


<h3 class="page-p">Reading in Russian</h3>
<p>
In this section you can learn Russian alphabet, get familiar with peculiarities of reading in Russian and find information about essential rules of reading. 
There are also different exercises and tests which will help you to read correctly in Russian.
</p>
<p>
We recommend you the following order of work with this section:
</p>
<ol class="lists">
	<li><a href="reading-info.html">General info about reading in Russian</a></li>
	<li><a href="basic-letters.html">Russian Letters and their Basic Meanings</a></li>
	<li>
		<a href="/russian-reading-alphabet.html">Learn Russian alphabet</a>
	</li>
	<li><a href="readingrules.html">Rules of reading in Russian</a>
	</li>
	<li>
		<a href="reading-practice.html">Training exercises</a>
	</li>
	<li><a href="russian-reading-texts.html">Texts for reading practice</a>
	</li>
</ol>

<p class="bold ital"><a href="/russian-reading.html">Go to this section >></a></p>

<br><br><br><br><br><br><br><br>



