<% @page_title = 'Simple superlative :: Study Russian Online' %>
<% @page_meta = {'description' => "General information about Comparison Degrees of Russian adjectives"} %>

<% content_for :special_js_css do %>
<% end %>

<h2 class="page">Superlative adjective</h2>

<h3 class="page-path">
<span class="int-links"><a href="/russian-grammar.html">Russian grammar</a>  <span class="int-arrow">--&gt;</span> Superlative adjective</span>
</h3>


<p>
Superlative adjectives, simple or compound, may be used both attributively and predicatively.
</p>

<h3 class="page-p">Simple superlative</h3>

<p>
The simple superlative is common in scientific and literary Russian; however, the same form is also used in colloquial Russian to express the speaker’s personal impression. 
</p>

<p>
The simple superlative is commonly used to express a value judgment on the part of the speaker and may be used when no comparison is made (a most interesting film). Of course, this form may be used as an absolute superlative, which will be clear from the context. Therefore, it is fair to translate the simple superlative as a most, a very, or an extremely. The emphasis on the indefinite article points to the fact that the speaker has in mind one of only many such superlative things. Note that like the compound comparative, the simple comparative is declined.
</p>

<h4 class="page-pp">Formation of the simple superlative</h4>
<p>
Most adjectives form the simple superlative by means of the suffix -ейш- added to the stem of the adjective, and the endings -ий/-ая/-ое/-ые. 
</p>

<p>
The suffix -айш-  is added to adjectives whose stem ends in the consonants г, к, x, and ст, which then change to ж, ч, ш, and щ, respectively.
</p>

<p>
Some adjectives form the simple superlative irregularly:
</p>

<div>
плохой/худший <br>
маленький/меньший<br>
короткий/кратчайший <br>
хороший/лучший<br>
тяжкий/тягчайший<br>
дорогой/дражайший
</div>

<p>
The simple superlative form of adjective declines similarly to the long-form adjectives. 
</p>



<h3 class="page-p">Compound superlative</h4> 


<h4 class="page-pp">Formation of the compound superlative</h4>
<p>
The formation of the compound superlative is uncomplicated. It consists of the word самый (most) and the long form of the adjective. Both words agree in gender, number and case with the noun. 
</p>
<p>
Sometimes the words наибóлее (most) or наимéнее (least) can be used instead of самый to create superlative compound form.
</p>


<h3 class="page-p">Another way to form the superlative form</h3>

<p>
Instead of using the compound or simple superlative as described above, Russian conversation has a quick and easy way of expressing the superlative. This is to use the comparative plus the expressions всех (than anyone) or всего (than anything):
</p>
<div class="ex-block-simple">
Он был умнее всех.  He was the smartest of all. 
</div>

<br><br><br><br><br><br>

<script type="text/javascript">
currentSection="grammar";
</script>
