<% @page_title = 'Study Russian Online: Russian ordinal numerals' %>
<% @page_meta = {'description' => "Information about Russian ordinal numerals: formation"} %>


<% content_for :special_js_css do %>
<style type="text/css">
h2.page {
margin-bottom: 0px;
}

table.numb-list {
margin: 0 auto;
}

table.numb-list td {
line-height: 18px;
text-align: left;
padding: 10px;
font-size: 11px;
background-color: #fff;
}

table.numb-list th {
text-align: left;
font-size: 10px;
}

table.numb-list td.numb_string {
padding: 10px 15px 10px 10px;
font-style: italic;
}

.numb-form {
padding-left: 30px;
}

.numb-form li {
padding-top: 5px;
padding-bottom: 5px;
}


</style>
<% end %>


<h2 class="page">Russian ordinal numerals
<span class="int-links"><a href="/russian-grammar.html">Russian grammar</a>  <span class="int-arrow">--></span> Ordinal numerals</span>

</h2>


<p>

Ordinal numerals are words used to indicate the position of an object in a sequential order. 
Russian ordinal numerals, except numerals <span class="eg">первый</span> <span class="egt">first</span> and <span class="eg">второй</span> <span class="egt">second</span>, are derived from the corresponding cardinal numerals.
See tables below representing simple ordinal numerals:
</p>


<table  class="st-table numb-list" cellspacing="0" align="center">
  <tr>
    <th>Number</td>
    <th >Ordinal numeral</th>
    <th>Number</th>
    <th class="thbrd">Ordinal numeral</th>
  </tr>
  <tr>
    <td style="text-align: center">
      1<br>
      2<br>
      3<br>
      4<br>
      5<br>
      6<br>
      7<br>
      8<br>
      9
    </td>
    <td class="numb_string">
      первый<br>
      второй<br>
      третий<br>
      четвертый<br>
      пятый<br>
      шестой<br>
      седьмой<br>
      восьмой<br>
      девятый<br>
    </td>
    <td style="text-align: center">
      11<br>
      12<br>
      13<br>
      14<br>
      15<br>
      16<br>
      17<br>
      18<br>
      19
    </td>
    <td class="numb_string" >
      одиннадцатый<br>
      двенадцатый<br>
      тринадцатый<br>
      четырнадцатый<br>
      пятнадцатый<br>
      шестнадцатый<br>
      семнадцатый<br>
      восемнадцатый<br>
      девятнадцатый&nbsp;
      <br>
    </td>
	</tr>
</table>	

<p>
Notice that the first part of Russian ordinal numerals higher than 40th (except 90th and 100th) is a corresponding cardinal numeral in a genitive case form:
</p>	
	
	
<table  class="st-table numb-list" cellspacing="0" align="center">
  <tr>
    <th>Number</td>
    <th >Ordinal numeral</th>
    <th>Number</th>
    <th class="thbrd">Ordinal numeral</th>
  </tr>
  <tr>
    <td style="text-align: center">
      10<br>
      20<br>
      30<br>
      40<br>
      50<br>
      60<br>
      70<br>
      80<br>
      90
    </td>
    <td class="numb_string">
      десятый<br>
      двадцатый<br>
      тридцатый<br>
      сороковой<br>
      пятидесятый<br>
      шестидесятый<br>
      семидесятый<br>
      восьмидесятый<br>
      девяностый
    </td>
    <td style="text-align: center">
      100<br>
      200<br>
      300<br>
      400<br>
      500<br>
      600<br>
      700<br>
      800<br>
      900
    </td>
    <td class="numb_string">
	  сотый<br>
      двухсотый<br>
      трёхсотый<br>
      четырёхсотый<br>
      пятисотый<br>
      шестисотый<br>
      семисотый<br>
      восьмисотый<br>
      девятисотый
    </td>
  </tr>
  <tr>
		<td colspan="4">
			And also:<br>
			1000 - тысячный<br>
			2000 - двухтысячный<br>
			3000 - трёхтысячный<br>
			....<br>
			10 000 - десятитысячный<br>
			100 000 - стотысячный<br>
			1 000 000 - миллионный<br>
			
		</td>
	<tr>
</table>

<p>
As for compоund numerals, only the final element should be replaced by one of the above mentioned numerals. The initial part remains the same and is not declined. 
</p>

<div class="egdiv">
<h4>Examples: </h4>
<p>
53th - <span class="eg">пятьдесят <u>третий</u></span> (compare with cardinal: пятьдесят <u>три</u>)
</p>
<p>
4137th - <span class="eg">четыре тысячи сто тридцать <u>седьмой</u></span> (compare with cardinal: четыре тысячи сто тридцать <u>семь</u>)
</p>

</div>
<br>

<p>You can also see the list of Rusian ordinal numerals with audio samples and stresses on the following page:<br>
</p>
<p>
- <a  href="/cardinal.html">Ordinal numerals</a> (with audio and stresses)<br> 
</p>

<br><br><br><br><br>

<script type="text/javascript">
currentSection="grammar";
</script>
