<% @page_title = 'Russian Verb :: Study Russian Online' %>
<% @page_meta = {'description' => "General information about Russian verb: grammatical categories, peculiarities."} %>

<% content_for :special_js_css do %>
<% end %>

<h2 class="page">Russian Verb</h2>

<h3 class="page-path">
<span class="int-links"><a href="/russian-grammar.html">Russian grammar</a>  <span class="int-arrow">--&gt;</span> Russian Verb </span>
</h3>
<p>
<dfn>Verb</dfn> is a part of speech that includes words denoting actions, feelings, occurences and states. The following grammatical categories are represented in Russian verbs:
</p>

<ul>
	<li>Aspect (perfective, imperfective, biaspectual)</li>
	<li>Tense (past, present, future)</li>
	<li>Mood (indicative, imperative, conditional)</li>
	<li>Person (first, second, third)</li>
	<li>Voice (passive, active)</li>
	<li>Gender (masculine, feminine, neuter)</li>
	<li>Number (singular, plural)</li>
	<li></li>
</ul>

<p>
There are two kinds of Russian verb forms: conjugable and unconjugable (infinitive, participle and verbal adverb). 
</p>
<p>
According to their meaning, Russian verbs are divided into transitive verbs and intransitive verbs. This division is based on how the action denoted by the verb is related to the object: 
</p>
<ul>
	<li>Transitive verbs denote actions that directly affect someone or something (the object of the action): they may produce, manipulate, transform, destroy etc. the object.</li>
	<li>Intransitive verbs usually denote a state, a location or a motion which do not affect any object. </li>
</ul>
 




<br><br><br><br><br><br>

<script type="text/javascript">
currentSection="grammar";
</script>
