<% @page_title = 'Study Russian Online: Russian Interrogative words' %>
<% @page_meta = {'description' => "Information about Russian interrogative pronouns and adverbs with declension patterns and examples"} %>


<% content_for :special_js_css do %>
<style type="text/css">
h2.page {
margin-bottom: 0px;
}

.st-table td.case-name {
text-align: left;
padding-left: 15px;
}

</style>
<% end %>


<h2 class="page">Russian Interrogative Words
</h2>
<h3 class="page-path"> 
<span class="int-links"><a href="/russian-grammar.html">Russian grammar</a> <span class="int-arrow">--></span>  Interrogative words</span>
</h3>


<p>
Interrogative pronouns and adverbs are words used to form different kinds of questions. The most frequently used interrogative words in Russian are: 
</p>


<div style="padding-left: 20px">
<span class="eg">кто</span> <span class="egt">who</span><br> 
<span class="eg">что</span> <span class="egt">what</span> <br>
<span class="eg">какой</span> <span class="egt">which, what kind of</span><br>
<span class="eg">где</span> <span class="egt">where</span> <br>
<span class="eg">куда</span>  <span class="egt">where to</span> <br>
<span class="eg">откуда</span> <span class="egt">where from</span> <br>
<span class="eg">как</span> <span class="egt">how</span> <br>
<span class="eg">сколько</span> <span class="egt">how much, how many</span> <br>

</div>

<h3 class="page-p">Pronouns <em>кто, что</em></h3>

<p>
As a rule, pronouns <span class="eg">кто</span> and <span class="eg">что</span> are used to form questions about an animate (<em>кто</em>) or an inanimate (<em>что</em>) referent. These pronouns do not reflect gender or number of their referents. 
These pronouns require their predicates to agree in singular. 
As for gender agreement, the predicate of the pronoun <span class="eg">кто</span> must agree in masculine gender, and the predicate of the pronoun <span class="eg">что</span> must be in neuter.
 </p>

<div class="egdiv">
<h4>Examples: </h4>

<p><em>Кто написал это?</em> - Who wrote this? </p>
<p><em>Что стояло на столе?</em> - What was on the table?</p>

</div>

<p>
Depending on the context, the pronoun <span class="eg">что</span> may be used to ask questions about animate referents (epecially, about animals):  
</p>
<div class="egdiv">
<h4>Examples: </h4>
<p>
<em>Что там пробежало?</em> - What was it? (literally: What ran over there?)
</p>

</div>

<p>
Pronouns <span class="eg">кто</span> and <span class="eg">что</span>  occur in all six cases. According to the general rule of the animate/inanimate declensions, the pronoun <span class="eg">кто</span> has the same forms for the accusative and genitive cases; the pronoun <span class="eg">что</span> has the same forms for the nominative and accusative cases.
</p>
<table class="st-table" cellspacing="0" align="center" style="margin: 0 auto"> 
	<tr style="vertical-align: middle;"> 
		<th >Case</th> 
		<th width="100">Кто</th> 
		<th width="100">Что</th> 
	</tr> 
 
	<tr class="trow"> 
		<td class="case-name">Nominative</td> 
		<td>кто</td> 
		<td>что</td>  
	</tr> 
	<tr class="trow"> 
 
		<td class="case-name">Genitive</td> 
		<td>кого</td> 
		<td>чего</td>  
	</tr> 
	<tr class="trow"> 
		<td  class="case-name">Dative</td> 
 
		<td>кому</td> 
		<td>чему</td> 

 
	</tr> 
	<tr class="trow"> 
		<td class="case-name">Accusative</td> 
 
		<td>кого</td> 
		<td>что</td> 

	</tr> 
	<tr class="trow"> 
		<td class="case-name">Instrumental</td> 
		<td>кем</td> 
		<td>чем</td>  
	</tr> 
	<tr class="trow"> 
		<td class="case-name">Prepositional</td> 
		<td>ком</td> 
		<td>чём</td> 
	</tr> 
</table> 

<br>

<h3 class="page-p">Pronoun <em>какой</em> </h3>

<p><span class="eg">Какой</span> is generally used to ask questions about a quality of person or thing and can be translated  as "what kind of" or "which". 

<div class="egdiv">
<h4>Examples: </h4>

<p><em>Какое платье ты ищешь?</em> - Which dress are you looking for?</p>
<p><em>Какую музыку Вы любите?</em> - What kind of music do you like?</p>

</div>
<p>
This pronoun agrees in gender, number and case of the noun it refers to. The following table represents the declensions of the pronoun <span class="eg">какой</span>.
</p>

 <table cellspacing="0" class="st-table" style="margin: 0 auto;"> 

<tr> 
	<th rowspan="2" style="text-align:center">&nbsp;Case</td> 
	<th colspan="3" style="text-align:center">&nbsp;Singular</td> 
	<th rowspan="2" class="thbrd" style="text-align:center;width:70px">&nbsp;Plural</td> 
</tr> 
<tr> 
<td style="text-align:center;width:70px">&nbsp;<i>masculine</i></td> 
<td style="text-align:center;width:70px"><i>&nbsp;feminine</i></td> 
<td style="text-align:center;width:70px"><i>&nbsp;neuter</i></td> 
</tr> 
<tr class="trow"> 
<td class="case-name">Nominative</td> 
<td >какой</td> 
<td >какая</td> 
<td >какое</td> 
<td >какие</td> 
</tr> 
<tr class="trow"> 
<td class="case-name">Genitive</td> 
<td >какого</td> 
<td >какой</td> 
<td >какого</td> 
<td >каких</td> 
</tr> 
<tr class="trow"> 
<td class="case-name">Dative</td> 
<td >какому</td> 
<td >какой</td> 
<td >какому</td> 
<td >каким</td> 
</tr> 
<tr class="trow"> 
<td class="case-name">Accusative</td> 
<td>&nbsp;<i>Nom/Gen</i></td> 
<td >какую</td> 
<td >какое</td> 
<td >&nbsp;<i>Nom/Gen</i></td> 
</tr> 
<tr class="trow"> 
<td class="case-name">Instrumental</td> 
<td >каким</td> 
<td >какой</td> 
<td >каким</td> 
<td >какими</td> 
</tr> 
<tr class="trow"> 
<td class="case-name">Prepositional</td> 
<td >каком</td> 
<td >какой</td> 
<td >каком</td> 
<td >каких</td> 
</tr> 
 
</table> 




<h3 class="page-p">Adverbs <em>где, когда, куда, откуда, сколько</em></h3>
<p>
Russian interrogative adverbs  <span class="eg">когда</span> <span class="egt">when</span>, <span class="eg">где</span> <span class="egt">where</span>, <span class="eg">куда</span> <span class="egt">where to</span>, <span class="eg">откуда</span> <span class="egt">where from</span>, <span class="eg">как</span> <span class="egt">how</span> , <span class="eg">сколько</span> <span class="egt">how much/how many</span> are indeclinable words. 
Below, you can see examples of questions with these interrogative adverbs.
</p>
<div class="egdiv">
<h4>Examples: </h4>
<p><em>Когда вы поедете в Москву?</em> - When will you go to Moscow?</p>
<p><em>Где находится этот ресторан?</em> - Where is this restaurant?</p>
<p><em>Куда ты идешь?</em> - Where are you going to?</p>
<p><em>Откуда вы приехали?</em> - Where did you come from? </p>
<p><em>Как мне добраться до этой гостиницы?</em> - How can I get to this hotel?</p> 
<p><em>Сколько это стоит?</em> - How much does it cost? </p>
</div>


<br><br><br><br><br><br>



<script type="text/javascript">
currentSection="grammar";
</script>

