<% @page_title = 'Study Russian Online: Nominative case of Russian nouns' %>
<% @page_meta = {'description' => "Information for those who start to study Russian: Nominative case of Russian nouns."} %>


<% content_for :special_js_css do %>
<style type="text/css">
h2.page {
margin-bottom: 0px;
}
</style>
<% end %>


<h2 class="page">Nominative case of Russian nouns
<span class="int-links"><a href="additional.html">Additional info</a> <span class="int-arrow">--></span> <a href="russian-cases.html">Russian cases</a> <span class="int-arrow">--></span> Nominative Case</span>

</h2>

<p>
See also: <a href="russian-cases.html">Russian Cases</a>, <a href="russian-nouns-declension.html">Russian Nouns Declension</a>
</p>

<p>
The <strong>nominative case</strong> is a set of word forms (in singular and plural) the basic function of which is to mark the subject of the sentence. For example: 
</p>
<p>

<em><u>Студент</u> говорит.</em> - <u>The student</u> is speaking. 
</p>
<p>
The word <em>студент</em> (student) is the subject of the sentence. It is in nominative case form and indicates the doer of the action. 
</p>
<p>
<em><u>Студент</u> устал.</em> - <u>The student</u> is tired. 

</p>
The word <em>студент</em> (student) is the subject of the sentence. It is in nominative case form and indicates the subject of the state.
<p>
The nominative case form may also be used as a predicative. Look at the following constructions: 
</p>
<p>
<em>Он <u>студент</u>.</em> - He is <u>a student</u>. <br>

<em>Том - <u>доктор</u>.</em> <br>
<em>Меня зовут <u>Мария</u>. </em>– My name is <u>Maria</u>. (literally: They call me Maria) <br>
</p>
<p>
The underlined words are not the subject of the sentence, but they are in nominative case form and used as predicative.
</p>

<p class="ital"><strong>You can find more examples of word forms in nominative singular and nominative plural on the page <a href="russian-nouns-declension.html" title="Russian nouns declension">Russian nouns declension</a></strong></p>








