<% @page_title = 'Study Russian Online: Declensions of Russian interrogative/relative pronouns' %>
<% @page_meta = {'description' => "Information about Russian relative and interrogative pronouns and their declension, patterns and examples"} %>


<% content_for :special_js_css do %>
<style type="text/css">
h2.page {
margin-bottom: 0px;
}

.st-table td.case-name {
text-align: left;
padding-left: 15px;
}

</style>
<% end %>


<h2 class="page">Declension patterns <br/> of interrogative/relative pronouns
</h2>
<h3 class="page-path"> 
<span class="int-links"><a href="/russian-grammar.html">Russian grammar</a> <span class="int-arrow">--></span> Interrogative/relative pronouns declension</span>
</h3>


<p>
The tables below demonstrate declension patterns of Russian interrogative/relative pronouns. Pronouns <span class="eg">кто</span> <span class="egt">who</span> , <span class="eg">что</span> <span class="egt">what/that</span>, <span class="eg">сколько</span> <span class="egt">how many</span> inflect to express the case required by the sentence structure. Pronouns <span class="eg">который</span> <span class="egt">which/that</span>, <span class="eg">какой</span> <span class="egt">which/that</span>, <span class="eg">чей</span> <span class="egt">whose</span> inflect to reflect the gender, number and case of the modified noun. 
</p>

<h3 class="page-p">Pronoun <em>кто, что</em></h3>

<p>
These pronouns occur in all six cases.
The pronoun <span class="eg">кто</span> has the same forms for the accusative and genitive cases; the pronoun <span class="eg">что</span> has the same forms for the nominative and accusative cases. 
</p>
<br>

<table cellspacing="0" class="st-table" style="margin: 0 auto;"> 
<tr>
<th>Case</th> 
		<th width="100">Кто</th> 
		<th width="100">Что</th>  
	</tr> 
 
	<tr class="trow"> 
		<td class="case-name">Nominative</td> 
		<td>кто</td> 
		<td>что</td>
	</tr> 
	<tr class="trow"> 
 
		<td class="case-name">Genitive</td> 
		<td>кого</td> 
		<td>чего</td>
	</tr> 
	<tr class="trow"> 
		<td  class="case-name">Dative</td> 
 
		<td>кому</td> 
		<td>чему</td>  
	</tr> 
	<tr class="trow"> 
		<td class="case-name">Accusative</td> 
		<td>кого</td> 
		<td>что</td> 
	</tr> 
	<tr class="trow"> 
		<td class="case-name">Instrumental</td> 
		<td>кем</td> 
		<td>чем</td>  
	</tr> 
	<tr class="trow"> 
		<td class="case-name">Prepositional</td> 
		<td>ком</td> 
		<td>чём</td> 
	</tr> 
</table> 

<br>

<h3 class="page-p">Pronoun <em>сколько</em></h3>

<p>
The declension pattern of the interrogative/relative pronoun <span class="eg">сколько</span>, which is used only in plural, is similar to the <a href="/russian-adjectives-declension.html#gkh-adj">declension of adjectives with stem ending in -г, -к, -х</a>.
</p>
<br>

<table cellspacing="0" class="st-table" style="margin: 0 auto;"> 
<tr>
<th>Case</th> 
		<th width="100">Сколько</th> 
	</tr> 
 
	<tr class="trow"> 
		<td class="case-name">Nominative</td> 
		<td>сколько</td>
	</tr> 
	<tr class="trow"> 
		<td class="case-name">Genitive</td> 
		<td>скольких</td>
	</tr> 
	<tr class="trow"> 
		<td  class="case-name">Dative</td> 
		<td>скольким</td>
 
	</tr> 
	<tr class="trow"> 
		<td class="case-name">Accusative</td>  
		<td><i>Nom/Gen</i></td>

	</tr> 
	<tr class="trow"> 
		<td class="case-name">Instrumental</td>  
		<td>сколькими</td>
	</tr> 
	<tr class="trow"> 
		<td class="case-name">Prepositional</td>  
		<td>скольких</td>
	</tr> 
</table> 

<br>


<h3 class="page-p">Pronoun  <em>который, какой, чей</em> </h3>

<h4 class="page-pp">Pronoun <em>который</em> </h4>

<p>This pronoun agrees in gender, number and case of the noun it refers to.
The declension of pattern is similar to the declension of <a href="/russian-adjectives-declension.html#hs-adj">hard-stem adjectives</a>.

</p>
<br>

<table cellspacing="0" class="st-table" style="margin: 0 auto;"> 

<tr> 
	<th rowspan="2" style="text-align:center">&nbsp;Case</th> 
	<th colspan="3" style="text-align:center">&nbsp;Singular</th> 
	<th rowspan="2" class="thbrd" style="text-align:center;width:70px">&nbsp;Plural</th> 
</tr> 
<tr> 
<td style="text-align:center;width:70px">&nbsp;<i>masculine</i></td> 
<td style="text-align:center;width:70px"><i>&nbsp;feminine</i></td> 
<td style="text-align:center;width:70px"><i>&nbsp;neuter</i></td> 
</tr> 
<tr class="trow"> 
<td class="case-name">Nominative</td> 
<td >который</td> 
<td >которая</td> 
<td >которое</td> 
<td >которые</td> 
</tr> 
<tr class="trow"> 
<td class="case-name">Genitive</td> 
<td >которого</td> 
<td >которой</td> 
<td >которого</td> 
<td >которых</td> 
</tr> 
<tr class="trow"> 
<td class="case-name">Dative</td> 
<td >которому</td> 
<td >которой</td> 
<td >которому</td> 
<td >которым</td> 
</tr> 
<tr class="trow"> 
<td class="case-name">Accusative</td> 
<td>&nbsp;<i>Nom/Gen</i></td> 
<td >которую</td> 
<td >которое</td> 
<td >&nbsp;<i>Nom/Gen</i></td> 
</tr> 
<tr class="trow"> 
<td class="case-name">Instrumental</td> 
<td >которым</td> 
<td >которой</td> 
<td >которым</td> 
<td >которыми</td> 
</tr> 
<tr class="trow"> 
<td class="case-name">Prepositional</td> 
<td >котором</td> 
<td >которой</td> 
<td >котором</td> 
<td >которых</td> 
</tr> 
 
</table> 
<br>

<h4 class="page-pp">Pronoun <em>какой</em> </h4>

<p>This pronoun agrees in gender, number and case of the noun it refers to.
The declension pattern of this pronoun is similar to the <a href="/russian-adjectives-declension.html#gkh-adj">declension of adjectives with stem ending in -г, -к, -х</a>.
</p>
<br>
<table cellspacing="0" class="st-table" style="margin: 0 auto;"> 

<tr> 
	<th rowspan="2" style="text-align:center">&nbsp;Case</th> 
	<th colspan="3" style="text-align:center">&nbsp;Singular</th> 
	<th rowspan="2" class="thbrd" style="text-align:center;width:70px">&nbsp;Plural</th> 
</tr> 
<tr> 
<td style="text-align:center;width:70px">&nbsp;<i>masculine</i></td> 
<td style="text-align:center;width:70px"><i>&nbsp;feminine</i></td> 
<td style="text-align:center;width:70px"><i>&nbsp;neuter</i></td> 
</tr> 
<tr class="trow"> 
<td class="case-name">Nominative</td> 
<td >какой</td> 
<td >какая</td> 
<td >какое</td> 
<td >какие</td> 
</tr> 
<tr class="trow"> 
<td class="case-name">Genitive</td> 
<td >какого</td> 
<td >какой</td> 
<td >какого</td> 
<td >каких</td> 
</tr> 
<tr class="trow"> 
<td class="case-name">Dative</td> 
<td >какому</td> 
<td >какой</td> 
<td >какому</td> 
<td >каким</td> 
</tr> 
<tr class="trow"> 
<td class="case-name">Accusative</td> 
<td>&nbsp;<i>Nom/Gen</i></td> 
<td >какую</td> 
<td >какое</td> 
<td >&nbsp;<i>Nom/Gen</i></td> 
</tr> 
<tr class="trow"> 
<td class="case-name">Instrumental</td> 
<td >каким</td> 
<td >какой</td> 
<td >каким</td> 
<td >какими</td> 
</tr> 
<tr class="trow"> 
<td class="case-name">Prepositional</td> 
<td >каком</td> 
<td >какой</td> 
<td >каком</td> 
<td >каких</td> 
</tr> 
 
</table> 
<br>

<h4 class="page-pp">Pronoun <em>чей</em> </h4>

<p>This pronoun agrees in gender, number and case of the noun it refers to.
The declension pattern of this pronoun is similar to the <a href="/russian-adjectives-declension.html#y-adj">declension of possessive adjectives with stem ending in -[y]</a>.
</p>
<br>
<table cellspacing="0" class="st-table" style="margin: 0 auto;"> 

<tr> 
	<th rowspan="2" style="text-align:center">&nbsp;Case</th> 
	<th colspan="3" style="text-align:center">&nbsp;Singular</th> 
	<th rowspan="2" class="thbrd" style="text-align:center;width:70px">&nbsp;Plural</th> 
</tr> 
<tr> 
<td style="text-align:center;width:70px">&nbsp;<i>masculine</i></td> 
<td style="text-align:center;width:70px"><i>&nbsp;feminine</i></td> 
<td style="text-align:center;width:70px"><i>&nbsp;neuter</i></td> 
</tr> 
<tr class="trow"> 
<td class="case-name">Nominative</td> 
<td >чей</td> 
<td >чья</td> 
<td >чьё</td> 
<td >чьи</td> 
</tr> 
<tr class="trow"> 
<td class="case-name">Genitive</td> 
<td >чьего</td> 
<td >чьй</td> 
<td >чьего</td> 
<td >чьих</td> 
</tr> 
<tr class="trow"> 
<td class="case-name">Dative</td> 
<td >чьему</td> 
<td >чьей</td> 
<td >чьему</td> 
<td >чьим</td> 
</tr> 
<tr class="trow"> 
<td class="case-name">Accusative</td> 
<td>&nbsp;<i>Nom/Gen</i></td> 
<td >чью</td> 
<td >чьё</td> 
<td >&nbsp;<i>Nom/Gen</i></td> 
</tr> 
<tr class="trow"> 
<td class="case-name">Instrumental</td> 
<td >чьим</td> 
<td >чьей</td> 
<td >чьим</td> 
<td >чьими</td> 
</tr> 
<tr class="trow"> 
<td class="case-name">Prepositional</td> 
<td >чьём</td> 
<td >чьёй</td> 
<td >чьём</td> 
<td >чьих</td> 
</tr> 
 
</table> 




<br><br><br><br><br><br><br><br><br><br><br><br>



<script type="text/javascript">
currentSection="grammar";
</script>

