<% @page_title = 'Study Russian Online: Declension of Russian Adjectives' %>
<% @page_meta = {'description' => "Information about the declension of Russian adjectives"} %>


<% content_for :special_js_css do %>
<style type="text/css">
h2.page {
margin-bottom: 0px;
}
</style>
<% end %>


<h2 class="page">Declension of Russian adjectives
</h2>

<h3 class="page-path"> 
<span class="int-links"><a href="/russian-grammar.html">Russian grammar</a>  <span class="int-arrow">--></span> Declension of Adjectives</span>
</h3>

<p>Russian long-form adjectives decline, i.e. they change their form to agree with the gender, number or case of nouns they refer to. 
In singular, the endings of the long-form adjectives express three morphological meanings: gender, number and case. In plural, they express only number and case. 
</p>


<p>
There are three declension types of Russian adjectives: 

<ol>
	<li>
		Declension of qualitative and relational adjectives
	</li>
	<li>
		Declension of possessive adjectives with stem ending in the sound [y]
	</li>
	<li>
		Declension of possessive adjectives ending in -<span class="eg">ин</span>(-<span class="eg">ын</span>), -<span class="eg">ов</span>(-<span class="eg">ев</span>)
	</li>
</ol>

</p>




<h3 class="page-p">Declension of qualitative and relational Adjectives</h3>

<p>
These adjectives fall into three groups: 
</p>

<ol>
	<li>
		Hard-stem adjectives
	</li>
	<li>
		Sof-stem adjectives
	</li>
	<li>
		Adjectives with stem ending in -<span class="eg">г, -к, -х</span> and <span class="eg">-ж, -ш, -ч, щ</span>
	</li>
</ol>



<h4 class="page-pp">Hard-stem adjectives</h4>

<p>These are adjectives whose stem ends in a hard consonant. Depending on the stress position, there are adjectives with a stressed ending which have masculine singular form ending in -<span class="eg">ой</span>
(e.g. <span class="eg">молодой</span> <span class="egt">young</span>, <span class="eg">больной</span> <span class="egt">sick</span>), 
and adjectives with a stress on the stem which have masculine singular form ending in -<span class="eg">ый</span> (e.g. <span class="eg">новый</span> <span class="egt">new</span>, <span class="eg">красивый</span> <span class="egt">beautiful</span>). The declensions of these two types of adjective differs only by the 
nominative singular masculine endings (-<span class="eg">ой</span>/-<span class="eg">ый</span>), in other cases they will have similar endings.
</p>

<p>The table below represents the endings of hard-stem adjectives:</p>



<table cellspacing="0" class="st-table" style="margin: 0 auto;"> 
<tbody>
<tr>
	<th rowspan="2" style="text-align:center">&nbsp;Case</td>
	<th colspan="3" style="text-align:center">&nbsp;Singular</td>
	<th rowspan="2" class="thbrd" style="text-align:center;width:70px">&nbsp;Plural</td>
</tr>
<tr>
<td style="text-align:center;width:70px">&nbsp;<i>masculine</i></td>
<td style="text-align:center;width:70px"><i>&nbsp;feminine</i></td>
<td style="text-align:center;width:70px"><i>&nbsp;neuter</i></td>
</tr>
<tr>
<td class="case-name">Nominative</td>
<td style="text-align:center">-ой/-ый</td>
<td style="text-align:center">-ая</td>
<td style="text-align:center">-ое</td>
<td style="text-align:center">-ые</td>
</tr>
<tr>
<td class="case-name">Genitive</td>
<td style="text-align:center">-ого</td>
<td style="text-align:center">-ой</td>
<td style="text-align:center">-ого</td>
<td style="text-align:center">-ых</td>
</tr>
<tr>
<td class="case-name">Dative</td>
<td style="text-align:center">-ому</td>
<td style="text-align:center">-ой</td>
<td style="text-align:center">-ому</td>
<td style="text-align:center">-ым</td>
</tr>
<tr>
<td class="case-name">Accusative</td>
<td>&nbsp;<i>Nom/Gen</i></td>
<td style="text-align:center">-ую</td>
<td style="text-align:center">&nbsp;<i>Nom</i></td>
<td style="text-align:center">&nbsp;<i>Nom/Gen</i></td>
</tr>
<tr>
<td class="case-name">Instrumental</td>
<td style="text-align:center">-ым</td>
<td style="text-align:center">-ой</td>
<td style="text-align:center">-ым</td>
<td style="text-align:center">-ыми</td>
</tr>
<tr>
<td class="case-name">Prepositional</td>
<td style="text-align:center">-ом</td>
<td style="text-align:center">-ой</td>
<td style="text-align:center">-ом</td>
<td style="text-align:center">-ых</td>
</tr>
</tbody>
</table>

<p>
<span onclick="open_comment('grammar_comments/hard-adjectives-declension_grc.html')" class="open_popup_link">View examples of hard-stem adjectives declension</span>
</p>


<h4 class="page-pp">Soft-stem adjectives</h4>

<p>These are mainly adjectives whose stem ends in a soft -<span class="eg">н</span>, like <span class="eg">синий</span> <span class="egt">blue</span>, <span class="eg">ранний</span> <span class="egt">early</span> etc. Such adjectives are not numerous in Russian
</p>

<p>The table below represents the endings of soft-stem adjectives:</p>



<table cellspacing="0" class="st-table" style="margin: 0 auto;"> 
<tbody>
<tr>
	<th rowspan="2" style="text-align:center">&nbsp;Case</td>
	<th colspan="3" style="text-align:center">&nbsp;Singular</td>
	<th rowspan="2" class="thbrd" style="text-align:center;width:70px">&nbsp;Plural</td>
</tr>
<tr>
<td style="text-align:center;width:70px">&nbsp;<i>masculine</i></td>
<td style="text-align:center;width:70px"><i>&nbsp;feminine</i></td>
<td style="text-align:center;width:70px"><i>&nbsp;neuter</i></td>
</tr>
<tr>
<td class="case-name">Nominative</td>
<td style="text-align:center">-ий</td>
<td style="text-align:center">-яя</td>
<td style="text-align:center">-ее</td>
<td style="text-align:center">-ие</td>
</tr>
<tr>
<td class="case-name">Genitive</td>
<td style="text-align:center">-его</td>
<td style="text-align:center">-ей</td>
<td style="text-align:center">-его</td>
<td style="text-align:center">-их</td>
</tr>
<tr>
<td class="case-name">Dative</td>
<td style="text-align:center">-ему</td>
<td style="text-align:center">-ей</td>
<td style="text-align:center">-ему</td>
<td style="text-align:center">-им</td>
</tr>
<tr>
<td class="case-name">Accusative</td>
<td>&nbsp;<i>Nom/Gen</i></td>
<td style="text-align:center">-юю</td>
<td style="text-align:center">&nbsp;<i>Nom</i></td>
<td style="text-align:center">&nbsp;<i>Nom/Gen</i></td>
</tr>
<tr>
<td class="case-name">Instrumental</td>
<td style="text-align:center">-им</td>
<td style="text-align:center">-ей</td>
<td style="text-align:center">-им</td>
<td style="text-align:center">-ими</td>
</tr>
<tr>
<td class="case-name">Prepositional</td>
<td style="text-align:center">-ем</td>
<td style="text-align:center">-ей</td>
<td style="text-align:center">-ем</td>
<td style="text-align:center">-их</td>
</tr>
</tbody>
</table>

<p>
<span onclick="open_comment('grammar_comments/soft-adjectives_grc.html')" class="open_popup_link">View examples of soft-stem adjectives declension</span>
</p>

<h4 class="page-pp">Adjectives with stem ending in -г, -к, -х and -ж, -ш, -ч, щ</h4>

<p class="ital bold">
	Adjectives with stem ending in -г, -к, -х
</p>

<p>The declension of these adjectives obey the <a href="russian-spelling-rules.html">spelling rule №1</a>, 
that is why they have particular ending in plural and in some forms of singular.
</p>
<p>
Depending on the stress position, there are adjectives with a stressed ending which have masculine singular form ending in -<span class="eg">ой</span> (e.g. <span class="eg">дорогой</span> <span class="egt">expensive</span>), 
and adjectives with a stress on the stem which have masculine singular form ending in -<span class="eg">ий</span> (e.g. <span class="eg">строгий</span> <span class="egt">severe</span>). The declensions of these two types of adjective differ only by the 
nominative singular masculine endings (-<span class="eg">ий</span>/-<span class="eg">ой</span>), in other cases they will have similar endings.
</p>



<p>The table below represents the endings of such adjectives:</p>



<table cellspacing="0" class="st-table" style="margin: 0 auto;"> 
<tbody>
<tr>
	<th rowspan="2" style="text-align:center">&nbsp;Case</td>
	<th colspan="3" style="text-align:center">&nbsp;Singular</td>
	<th rowspan="2" class="thbrd" style="text-align:center;width:70px">&nbsp;Plural</td>
</tr>
<tr>
<td style="text-align:center;width:70px">&nbsp;<i>masculine</i></td>
<td style="text-align:center;width:70px"><i>&nbsp;feminine</i></td>
<td style="text-align:center;width:70px"><i>&nbsp;neuter</i></td>
</tr>
<tr>
<td class="case-name">Nominative</td>
<td style="text-align:center">-ий/-ой</td>
<td style="text-align:center">-ая</td>
<td style="text-align:center">-ое</td>
<td style="text-align:center">-ие</td>
</tr>
<tr>
<td class="case-name">Genitive</td>
<td style="text-align:center">-ого</td>
<td style="text-align:center">-ой</td>
<td style="text-align:center">-ого</td>
<td style="text-align:center">-их</td>
</tr>
<tr>
<td class="case-name">Dative</td>
<td style="text-align:center">-ому</td>
<td style="text-align:center">-ой</td>
<td style="text-align:center">-ому</td>
<td style="text-align:center">-им</td>
</tr>
<tr>
<td class="case-name">Accusative</td>
<td>&nbsp;<i>Nom/Gen</i></td>
<td style="text-align:center">-ую</td>
<td style="text-align:center">&nbsp;<i>Nom</i></td>
<td style="text-align:center">&nbsp;<i>Nom/Gen</i></td>
</tr>
<tr>
<td class="case-name">Instrumental</td>
<td style="text-align:center">-им</td>
<td style="text-align:center">-ой</td>
<td style="text-align:center">-им</td>
<td style="text-align:center">-ими</td>
</tr>
<tr>
<td class="case-name">Prepositional</td>
<td style="text-align:center">-ом</td>
<td style="text-align:center">-ой</td>
<td style="text-align:center">-ом</td>
<td style="text-align:center">-их</td>
</tr>
</tbody>
</table>


<p>
<span onclick="open_comment('grammar_comments/adjectives-in-g-k-h-declension_grc.html')" class="open_popup_link">View examples of adjectives with stem ending in -г, -к, -х declension</span>
</p>



<p class="ital bold">
	Adjectives with stem ending in -ж, -ш, -ч, -щ
</p>

<p>The declension of these adjectives obey the <a href="russian-spelling-rules.html">spelling rule №1</a>, 
that is why they have particular ending in plural and in some forms of singular.
</p>
<p>
Depending on the stress position, there are adjectives with a stressed ending which have masculine singular form ending in -<span class="eg">ой</span> (e.g. <span class="eg">большой</span> <span class="egt">big</span>), 
and adjectives with a stress on the stem which have masculine singular form ending in -<span class="eg">ий</span> (e.g. горячий <span class="egt">hot</span>). The declensions of these two types of adjective 
obey <a href="russian-spelling-rules.html#rule_3">the spelling rule №3</a> and differ by singular forms endings. In plural, they will have similar endings.
</p>



<p>The table below represents the endings of such adjectives:</p>



<table cellspacing="0" class="st-table" style="margin: 0 auto;"> 
<tbody>
<tr>
	<th rowspan="2" style="text-align:center">&nbsp;Case</td>
	<th colspan="3" style="text-align:center">&nbsp;Singular</td>
	<th rowspan="2" class="thbrd" style="text-align:center;width:70px">&nbsp;Plural</td>
</tr>
<tr>
<td style="text-align:center;width:70px">&nbsp;<i>masculine</i></td>
<td style="text-align:center;width:70px"><i>&nbsp;feminine</i></td>
<td style="text-align:center;width:70px"><i>&nbsp;neuter</i></td>
</tr>
<tr>
<td class="case-name">Nominative</td>
<td style="text-align:center">-ой/-ий</td>
<td style="text-align:center">-ая</td>
<td style="text-align:center">-ое/-ее</td>
<td style="text-align:center">-ие</td>
</tr>
<tr>
<td class="case-name">Genitive</td>
<td style="text-align:center">-ого/-его</td>
<td style="text-align:center">-ой/-ей</td>
<td style="text-align:center">-ого/-его</td>
<td style="text-align:center">-их</td>
</tr>
<tr>
<td class="case-name">Dative</td>
<td style="text-align:center">-ому/-ему</td>
<td style="text-align:center">-ой/-ей</td>
<td style="text-align:center">-ому/-ему</td>
<td style="text-align:center">-им</td>
</tr>
<tr>
<td class="case-name">Accusative</td>
<td>&nbsp;<i>Nom/Gen</i></td>
<td style="text-align:center">-ую</td>
<td style="text-align:center">&nbsp;<i>Nom</i></td>
<td style="text-align:center">&nbsp;<i>Nom/Gen</i></td>
</tr>
<tr>
<td class="case-name">Instrumental</td>
<td style="text-align:center">-им</td>
<td style="text-align:center">-ой/-ей</td>
<td style="text-align:center">-им</td>
<td style="text-align:center">-ими</td>
</tr>
<tr>
<td class="case-name">Prepositional</td>
<td style="text-align:center">-ом/-ем</td>
<td style="text-align:center">-ой/-ей</td>
<td style="text-align:center">-ом/-ем</td>
<td style="text-align:center">-их</td>
</tr>
</tbody>
</table>

<p>
<span onclick="open_comment('grammar_comments/adjectives-in-j-sh-declension_grc.html')" class="open_popup_link">View examples of adjectives with stem ending in -ж, -ш, -ч, -щ declension</span>
</p>

<h3 class="page-p">Declension of possessive adjectives with stem ending in -[y]</h3>


<p>
Possessive adjectives with stem ending in the sound [y] inflect for gender, number and case. In all forms, except masculine singular,   
the stem of these adjectives ends in a soft sign. Masculine singular forms have the suffix -<span class="eg">ий</span> at the end (e.g. <span class="eg">лисий</span> <span class="egt">fox's</span>). As for endings, in the nominative case
masculine forms have zero ending, feminine singular forms have the ending -<span class="eg">я</span>, neuter singular forms have the ending -<span class="eg">е</span>, and plural forms have the ending -<span class="eg">и</span>.
In other cases, these adjectives have the same endings as soft-stem qualitative and relational adjectives (see above).
</p>

<p>The table below represents the endings of such adjectives:</p>



<table cellspacing="0" class="st-table" style="margin: 0 auto;"> 
<tbody>
<tr>
	<th rowspan="2" style="text-align:center">&nbsp;Case</td>
	<th colspan="3" style="text-align:center">&nbsp;Singular</td>
	<th rowspan="2" class="thbrd" style="text-align:center;width:70px">&nbsp;Plural</td>
</tr>
<tr>
<td style="text-align:center;width:70px">&nbsp;<i>masculine</i></td>
<td style="text-align:center;width:70px"><i>&nbsp;feminine</i></td>
<td style="text-align:center;width:70px"><i>&nbsp;neuter</i></td>
</tr>
<tr>
<td class="case-name">Nominative</td>
<td style="text-align:center">-Ø</td>
<td style="text-align:center">-я</td>
<td style="text-align:center">-е</td>
<td style="text-align:center">-и</td>
</tr>
<tr>
<td class="case-name">Genitive</td>
<td style="text-align:center">-его</td>
<td style="text-align:center">-ей</td>
<td style="text-align:center">-его</td>
<td style="text-align:center">-их</td>
</tr>
<tr>
<td class="case-name">Dative</td>
<td style="text-align:center">-ему</td>
<td style="text-align:center">-ей</td>
<td style="text-align:center">-ему</td>
<td style="text-align:center">-им</td>
</tr>
<tr>
<td class="case-name">Accusative</td>
<td>&nbsp;<i>Nom/Gen</i></td>
<td style="text-align:center">-ю</td>
<td style="text-align:center">&nbsp;<i>Nom</i></td>
<td style="text-align:center">&nbsp;<i>Nom/Gen</i></td>
</tr>
<tr>
<td class="case-name">Instrumental</td>
<td style="text-align:center">-им</td>
<td style="text-align:center">-ей</td>
<td style="text-align:center">-им</td>
<td style="text-align:center">-ими</td>
</tr>
<tr>
<td class="case-name">Prepositional</td>
<td style="text-align:center">-ем</td>
<td style="text-align:center">-ей</td>
<td style="text-align:center">-ем</td>
<td style="text-align:center">-их</td>
</tr>
</tbody>
</table>

<p>
<span onclick="open_comment('grammar_comments/adjectives-possessive-in-y-declension_grc.html')" class="open_popup_link">View examples of possessive adjectives with stem ending in -[y] declension</span>
</p>


<h3 class="page-p">Declension of possessive adjectives ending in -ин(-ын), -ов(-ев)</h3>


<p>
Possessive adjectives with stem ending in -<span class="eg">ин(-ын)</span>, -<span class="eg">ов(-ев)</span> decline like nouns and adjectives.
</p>

<p>The table below represents the endings of such adjectives:</p>



<table cellspacing="0" class="st-table" style="margin: 0 auto;"> 
<tbody>
<tr>
	<th rowspan="2" style="text-align:center">&nbsp;Case</td>
	<th colspan="3" style="text-align:center">&nbsp;Singular</td>
	<th rowspan="2" class="thbrd" style="text-align:center;width:70px">&nbsp;Plural</td>
</tr>
<tr>
<td style="text-align:center;width:70px">&nbsp;<i>masculine</i></td>
<td style="text-align:center;width:70px"><i>&nbsp;feminine</i></td>
<td style="text-align:center;width:70px"><i>&nbsp;neuter</i></td>
</tr>
<tr>
<td class="case-name">Nominative</td>
<td style="text-align:center">-Ø</td>
<td style="text-align:center">-а</td>
<td style="text-align:center">-о</td>
<td style="text-align:center">-ы</td>
</tr>
<tr>
<td class="case-name">Genitive</td>
<td style="text-align:center">-а</td>
<td style="text-align:center">-ой</td>
<td style="text-align:center">-а/-ого</td>
<td style="text-align:center">-ых</td>
</tr>
<tr>
<td class="case-name">Dative</td>
<td style="text-align:center">-у</td>
<td style="text-align:center">-ой</td>
<td style="text-align:center">-у</td>
<td style="text-align:center">-ым</td>
</tr>
<tr>
<td class="case-name">Accusative</td>
<td>&nbsp;<i>Nom/Gen</i></td>
<td style="text-align:center">-у</td>
<td style="text-align:center">&nbsp;<i>Nom</i></td>
<td style="text-align:center">&nbsp;<i>Nom/Gen</i></td>
</tr>
<tr>
<td class="case-name">Instrumental</td>
<td style="text-align:center">-ым</td>
<td style="text-align:center">-ой</td>
<td style="text-align:center">-ым</td>
<td style="text-align:center">-ыми</td>
</tr>
<tr>
<td class="case-name">Prepositional</td>
<td style="text-align:center">-ом</td>
<td style="text-align:center">-ой</td>
<td style="text-align:center">-ом</td>
<td style="text-align:center">-ых</td>
</tr>
</tbody>
</table>

<p>
<span onclick="open_comment('grammar_comments/adjectives-possessive-in-in-ov-declension_grc.html')" class="open_popup_link">View examples of possessive adjectives ending in -ин(-ын), -ов(-ев) declension</span>
</p>

<br><br><br><br>


<script type="text/javascript">
currentSection="grammar";
</script>





<br><br><br><br><br><br>





