<% @page_title = 'Study Russian Online: Russian Cases' %>
<% @page_meta = {'description' => "Basic infomation about Russian cases and a short description of the nominative, genitive, dative, accusative,  instrumental and prepositional cases."} %>

<% content_for :special_js_css do %>

<style type="text/css">
h3 {
font-size: 14px;
font-style: italic;
}
</style>

<% end %>


<h2 class="page">Russian Cases
<span class="int-links"><a href="/russian-grammar.html">Russian grammar</a> <span class="int-arrow">--></span> Russian Cases</span>
</h2>


<p>
In Russian, the word order in the sentence is flexible because the relationships between words are shown by word endings (see also <a href="russian-words-order.html">Word Order</a>). These endings are used to build different word forms which are divided into several groups called cases.  
</p>

<%= render :partial => '/site/ad_horizont' %>

<p>
Cases are the forms of nouns, adjectives, pronouns and numerals to represent their grammatical function in a sentence. Most often, these word forms are built with help of word endings: words may add or change the ending. However, changes in the stem of words are also possible.
</p>
<p>
The Russian language has six cases: <em>nominative, accusative, prepositional, genitive, dative, and instrumental</em>. In each case, words have a form for singular and a form for plural. Therefore, a noun may have 12 forms: 6 forms for singular and 6 forms for plural. It is also possible that forms of a word in different cases are similar or a word has only one form for all cases. 
</p>
<p>
Here you can find a brief description of the six Russian cases: 
</p> 

<p>
The <em><a href="russian-nominative-case.html">nominative case</a></em> shows the subject, or the doer of the action or the predicate. 
</p>
<p>
The <em><a href="russian-genitive-case.html">genitive case</a></em> shows possession, and it is also often used in a negation.
</p>
<p>
The <em><a href="russian-dative-case.html">dative case</a></em> marks the indirect object, or the receiver of the action. 

</p>
<p>
The <em><a href="russian-accusative-case.html">accusative case</a></em> shows the direct object, or the object of the action. 
</p>
<p>
The <em><a href="russian-instrumental-case.html">instrumental case</a></em> indicates the "instrument" (or means) of the action, or how the action is done.  
</p>
<p>
The <em><a href="russian-prepositional-case.html">prepositional (or locative) case</a></em> shows the location, or where the action takes place. 

</p>
<p>
These are basic functions of Russian cases. Cases may also be used for many other purposes and you can find more information about it in other articles devoted to cases of nouns.
</p>
<p>
The form of Russian nouns that is given in dictionaries, also referred to as citation form, is usually the singular form of the nominative case. 
</p>

<%= render :partial => '/site/ad_btm' %>

<br><br>
<p>
Examples below demonstrate the use of cases in Russian: 
</p>


<h3>Nominative: </h3>
<p>
<u>Студент</u> говорит. – The <u>student</u> is speaking. 

</p>
<p>
The word <em>студент</em> (student) is the subject and doing the action. It is in nominative case form in this sentence. 
</p>
<h3>
Genitive  
</h3>
<p>
Работа <u>студента</u> очень интересная. – The work <u>of the student</u> is very interesting. 

</p>
<p>
The subject of this sentence is the word <em>работа</em> (work) which is in nominative case form. The word <em>студента</em> is the genitive case form of the word <em>студент</em> (student) and it shows that the work belongs to this student. 
</p>
<h3>
Dative
</h3>
<p>

Студент пишет письмо <u>сестре</u>. – The student is writing a letter <u>to his sister</u>. 
</p>
<p>
The word <em>сестре</em> (to the sister) marks the receiver of the action. It is the dative case form of the word <em>сестра</em> (sister). 
</p>
<h3>
Accusative

</h3>
<p>
Студент читает <u>книгу</u>. – The student is reading <u>a book</u>.
</p>
<p>
The word <u>книгу</u> (book) marks the object of the action. It is the accusative case form of the word <em>книга</em> (book).
</p>

<h3>
Instrumental
</h3>
<p>
Студент пишет <u>ручкой</u>. – The student is writing <u>with a pen</u>.
</p>
<p>
The word <em>ручкой</em> (with a pen) marks the means of the action. It is the instrumental case form of the word <em>ручка</em> (pen).

</p>
<h3>
Prepositional
</h3>
<p>
Студент живёт <u>в Москве</u>. – The student lives <u>in Moscow</u>.
</p>
<p>
The word <em>Москве</em> (Moscow), together with preposition <em>в</em> (in), marks the location of the action. <em>Москве</em> is the prepositional case form of the word <em>Москва</em> (Moscow). 

</p>

<div class="see-exercises">

<span>See also:</span> <a href="nouns-cases-exercises.html">Grammar exercises: Russian nouns cases</a> (general functions)

</div>


<script type="text/javascript">
currentSection="grammar";
</script>




