<% @page_title = 'Study Russian Online: Description of Russian sounds articulation' %>
<% @page_meta = {'description' => "Information about Russian sounds articulation: description of articulation, pictures with sounds articulation, audio examples of sounds"} %>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_js_css do %>
<%= stylesheet_link_tag 'stylesounds' %>


<script type="text/javascript">

$(document).ready(function(){

$("#show_sound select").change(function () {
  var switchSoundNum=$("#show_sound option").index($("#show_sound select option:selected"));
   var tSoundHtml=$("div.sound-desc").eq(switchSoundNum).html();
   $("#show_sound_display").prepend('<div class="display_in">'+tSoundHtml+'<\/div>').find("div.display_in").eq(1).animate({opacity: "0"}, 800, function(){
   		   		
   	$("#show_sound_display div.display_in").eq(1).remove();
		hoverInDisplay();
   });
}); 

function hoverInDisplay() {

	//$("div.display_in span.sound").css({backgroundColor: "red"});
 

    $("div.display_in span.sound").mouseover(function(){
    	$(this).addClass("preplay");
    	}).mouseout(function(){

          $(this).removeClass("preplay");
    });

    $("div.display_in span.play_tip").hover(function(){
      tooltip(this,'Click&nbsp;to&nbsp;listen');},
      function(){hide_info(this)}
    );

	
    

}

$("#show_category select").change(function () {
  var switchCategoryNum=$("#show_category option").index($("#show_category select option:selected"));
	switch (switchCategoryNum) {
		case 0: 
			openSoundCategory("vowel");
			break;
		case 1:
			openSoundCategory("consonant");
			break;
		case 2:
			openSoundCategory("hard");
			break;
		case 3:
			openSoundCategory("soft");
			break;
		case 4:
			openSoundCategory("voiced");
			break;
		case 5:
			openSoundCategory("unvoiced");
			break;
		default: 
		   	openSoundCategory("vowel");
	}
});


$("#by_sound").click(function() {
	$("div.sound-blocks").hide();
	$("#show_sound").show();
	
	$("#show_sound select").change();	
	effectsContent();
}).click();


$("#by_category").click(function() {
	$("div.sound-blocks").hide(); 
	$("#show_category").show();
	$("#show_category select").change();
	$("#all_sound_desc").show();
});

$("#all_sounds").click(function() {
	$("div.sound-blocks").hide(); 
	$("div.sound-desc").show();
	$("#all_sound_desc").show();
	effectsContent();
});

function openSoundCategory(classToOpen) {
$("div.sound-desc").hide();
$("#all_sound_desc").find("div."+classToOpen).show();
effectsContent();
}


});

</script>

<style type="text/css">
.rus-trans {
padding: 10px 15px;
}

#prof_tabs {margin-top: 30px; z-index: 200;}
#prof_tabs div {z-index: 200;}
.inpBlock {min-height: 600px; height: auto !important; height: 600px;}
.pBlock {padding: 40px 0px;}

.sub_hint {
z-index: 2000;
}

#show_sound_display {
padding-top: 30px;
position: relative;
margin: 0px auto;
width: 500px;
}

#mess {
z-index: 1000;
}

#show_sound_display div.display_in {
background-color: #fff;
position: absolute;
min-height: 500px;
height: auto !important;
height: 500px;
z-index: 100;
}

.show_select, #show_category {
padding: 0px 50px;
}

#show_category {
padding-bottom: 30px;
}

.first-info div.spacer {
width: 120px;
height: 1px;
overflow: hidden;
font-size: 0px;
}

.sound-desc {
padding-bottom: 70px;
}

.sound-letter .thbrd {
padding: 15px;
font-weight: bold;
font-size: 11pt;
color: #222;
}

table.sound-letter {
mar_gin: 0px;
width: 500px;
}

table.sound-letter tr {
vertical-align: middle;
}

table.sound-letter td.desc {
text-align: left;
}

table.sound-letter td.s-pict {
pad ding: 0px;
}

td.s-pict img {
display: block;
bo rder: 1px dotted #444;
margin: 0px auto;
}

.first-info {
backgro und-color: #DFDFDF;
font-weight: bold;
font-style: italic;
font-size: 8pt;
}

td.art-desc-name {
vertical-align: top;
}

table.sound-letter td {
padding: 20px;
}


</style>





<% end %>

<div class="hint_wrap">
<div class="hint_button" style="float: right;">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <li><a href="sounds-info.html">General Info about Russian Sounds</a></li>
            <li><a href="phonetics-course.html">Phonetics course</a></li>
        </ul>
        <%= render :partial => 'preload_option' %>
  </div>
</div>
</div>
<div id="pagecontent"><div id="content">


<h2  class="page">Russian Sounds: <br> Articulation details 
<span class="int-links"><a href="pronunciation.html">Pronunciation</a> <span class="int-arrow">--></span> Russian Sounds Articulation</span>
</h2>


<%= render :partial => '/site/ad_horizont' %>


<div id="prof_tabs">

	<div id="tabs_row">
            <div id="by_sound" class="ptab"><div>By Sound</div></div>
            <div id="by_category" class="ptab"><div>By category</div></div>
            <div id="all_sounds" class="ptab  current_ptab"><div>&nbsp;&nbsp; All sounds &nbsp;&nbsp;</div></div>
	</div>
	<div style="clear: both;"></div>
</div>

<div class="pBlock" style="display: block">

	<div class="inpBlock">
	
	<div id="show_sound" class="sound-blocks" style="display: none">
		<div class="show_select">
		
		<strong>Choose a sound to see its description:</strong><br> <br>
    	<select style="width: 150px">
    		<option selected>Sound [a]: а</option>
    		<option>Sound [e]: э</option>
    		<option>Sound [o]: о</option>
    		<option>Sound [oo]: у</option>
    		<option>Sound [ i ]: и</option>
    		<option>Sound [-i-]: ы</option>
    		<option>Sound [b]: б</option>

    		<option>Sound [b']: б'</option>
    		<option>Sound [p]: п</option>
    		<option>Sound [p']: п'</option>
    		<option>Sound [v]: в</option>
    		<option>Sound [v']: в'</option>
    		<option>Sound [f]: ф</option>

    		<option>Sound [f ']: ф'</option>
    		<option>Sound [z]: з</option>
    		<option>Sound [z']: з'</option>
    		<option>Sound [s]: с</option>
    		<option>Sound [s']: с'</option>
    		<option>Sound [d]: д</option>

    		<option>Sound [d']: д'</option>
    		<option>Sound [t]: т</option>
    		<option>Sound [t']: т'</option>
    		<option>Sound [g]: г</option>
    		<option>Sound [g']: г'</option>
    		<option>Sound [k]: к</option>

    		<option>Sound [k']: к'</option>
    		<option>Sound [m]: м</option>
    		<option>Sound [m']: м'</option>
    		<option>Sound [n]: н</option>
    		<option>Sound [n']: н'</option>
    		<option>Sound [l]: л</option>

    		<option>Sound [l']: л'</option>
    		<option>Sound [r]: р</option>
    		<option>Sound [r']: р'</option>
    		<option>Sound [h]: х</option>
    		<option>Sound [h']: х'</option>
    		<option>Sound [j]: ж</option>

    		<option>Sound [sh]: ш</option>
    		<option>Sound [ts]: ц</option>
    		<option>Sound [sch]: щ</option>
    		<option>Sound [ch]: ч</option>
    		<option>Sound [y]: й </option>
    	</select>

    	</div>
    	<div id="show_sound_display">
    	</div>	
	</div>
	
	<div id="show_category" class="sound-blocks" style="display: none">
		<strong>Choose a category of sounds to see their descriptions:</strong><br> <br>
    	<select>
    		<option selected>Vowels</option>

    		<option>Consonants</option>
    		<option>Hard consonants</option>
    		<option>Soft consonants</option>
    		<option>Voiced consonants</option>
    		<option>Unvoiced consonants</option>
    	</select>	
	</div>

	
	<div id="all_sound_desc" class="sound-blocks">
	
	
<div class="sound-desc vowel">
    <table class="sound-letter" cellspacing="0" align="center">
    	<tr>
    		<th colspan="2" class="thbrd">Sound [a]</th>
    	</tr>
    	<tr>
    		<td width="120" class="first-info">

    			Audio sample: <div class="spacer"></div>
    		</td>
    		<td>
    			<span class="sound" onclick="playSound('sound201.mp3')">[a] <span class="play_tip">&nbsp; &nbsp;</span></span>
    		</td>
    	</tr>
    	<tr>
    		<td  class="first-info">
    			Picture
    		</td>
    		<td class="s-pict">
    			<img src="images/sounds/sound-a.gif" alt="Articulation of the Russian sound [a]" />
    		</td>
    	</tr>
		<tr>
    		<td class="first-info rus-trans">
    			Transcription  in Russian:
    		</td>
    		<td class="s-pict">
    			[а]
    		</td>
    	</tr>
    	<tr>
    		<td class="first-info art-desc-name">Articulation description:</td>

    		<td class="desc">
    			The mouth is wide open. The lips are relaxed. The tip of the tongue is against the lower teeth. 
    		</td>
    	</tr>
    </table>
</div> 


<div class="sound-desc vowel">
<table class="sound-letter" cellspacing="0" align="center">
	<tr>
		<th colspan="2" class="thbrd">Sound [e]</th>

	</tr>
	<tr>
		<td width="120" class="first-info">
			Audio sample: <div class="spacer"></div>
		</td>
		<td>
			<span class="sound" onclick="playSound('sound202.mp3')">[e] <span class="play_tip">&nbsp; &nbsp;</span></span>

		</td>
	</tr>
	<tr>
		<td  class="first-info">
			Picture
		</td>
		<td class="s-pict">
			<img src="images/sounds/sound-e.gif" alt="Articulation of the Russian sound [e]" />
		</td>

	</tr>
	<tr>
    	<td class="first-info rus-trans">
    			Transcription  in Russian:
    	</td>
    	<td class="s-pict">
    			[э]
    	</td>
    </tr>
	<tr>
		<td class="first-info art-desc-name">Articulation description:</td>
		<td class="desc">
			The lips are spread wide. The tip of the tongue is against the lower teeth. The middle part of the tongue is slightly raised. 
		</td>
	</tr>
</table>
</div> 


<div class="sound-desc vowel">

<table class="sound-letter" cellspacing="0" align="center">
	<tr>
		<th colspan="2" class="thbrd">Sound [o]</th>
	</tr>
	<tr>
		<td width="120" class="first-info">
			Audio sample: <div class="spacer"></div>
		</td>

		<td>
			<span class="sound" onclick="playSound('sound203.mp3')">[o] <span class="play_tip">&nbsp; &nbsp;</span></span>
		</td>
	</tr>
	<tr>
		<td  class="first-info">
			Picture
		</td>

		<td class="s-pict">
			<img src="images/sounds/sound-o.gif" alt="Articulation of the Russian sound [o]" />
		</td>
	</tr>
	<tr>
    	<td class="first-info rus-trans">
    			Transcription  in Russian:
    	</td>
    	<td class="s-pict">
    			[о]
    	</td>
    </tr>
	<tr>
		<td class="first-info art-desc-name">Articulation description:</td>
		<td class="desc">
			The lips are extended and rounded. The back of the tongue is slightly raised. The tip of the tongue lies behind the lower teeth.
		</td>

	</tr>
</table>
</div> 

<div class="sound-desc vowel">
<table class="sound-letter" cellspacing="0" align="center">
	<tr>
		<th colspan="2" class="thbrd">Sound [oo]</th>
	</tr>
	<tr>
		<td width="120" class="first-info">

			Audio sample: <div class="spacer"></div>
		</td>
		<td>
			<span class="sound" onclick="playSound('sound204.mp3')">[oo] <span class="play_tip">&nbsp; &nbsp;</span></span>
		</td>
	</tr>
	<tr>

		<td  class="first-info">
			Picture
		</td>
		<td class="s-pict">
			<img src="images/sounds/sound-oo.gif" alt="Articulation of the Russian sound [oo]" />
		</td>
	</tr>
	<tr>
    	<td class="first-info rus-trans">
    			Transcription  in Russian:
    	</td>
    	<td class="s-pict">
    			[у]
    	</td>
    </tr>
	<tr>
		<td class="first-info art-desc-name">Articulation description:</td>

		<td class="desc">
			The lips are very much extended and rounded. The tongue is taken backwards. The tip of the tongue does not touch the lower teeth. The back of the tongue is raised high.
		</td>
	</tr>
</table>
</div> 


<div class="sound-desc vowel">
<table class="sound-letter" cellspacing="0" align="center">
	<tr>
		<th colspan="2" class="thbrd">Sound [i]</th>
	</tr>

	<tr>
		<td width="120" class="first-info">
			Audio sample: <div class="spacer"></div>
		</td>
		<td>
			<span class="sound" onclick="playSound('sound205.mp3')">[i] <span class="play_tip">&nbsp; &nbsp;</span></span>
		</td>

	</tr>
	<tr>
		<td  class="first-info">
			Picture
		</td>
		<td class="s-pict">
			<img src="images/sounds/sound-i.gif" alt="Articulation of the Russian sound [i]" />
		</td>
	</tr>
	<tr>
    	<td class="first-info rus-trans">
    			Transcription  in Russian:
    	</td>
    	<td class="s-pict">
    			[и]
    	</td>
    </tr>
	<tr>
		<td class="first-info art-desc-name">Articulation description:</td>
		<td class="desc">
			The lips are spread wide so as you were smiling. The tip of the tongue touches the lower teeth. The middle part of the tongue is raised high.
		</td>
	</tr>
</table>
</div> 

<div class="sound-desc vowel">
<table class="sound-letter" cellspacing="0" align="center">
	<tr>

		<th colspan="2" class="thbrd">Sound [<s>i</s>]</th>
	</tr>
	<tr>
		<td width="120" class="first-info">
			Audio sample: <div class="spacer"></div>
		</td>
		<td>

			<span class="sound" onclick="playSound('sound206.mp3')">[<s>i</s>] <span class="play_tip">&nbsp; &nbsp;</span></span>
		</td>
	</tr>
	<tr>
		<td  class="first-info">
			Picture
		</td>
		<td class="s-pict">
			<img src="images/sounds/sound-iu.gif" alt="Articulation of the Russian sound [-i-]" />
		</td>
	</tr>
	<tr>
    	<td class="first-info rus-trans">
    			Transcription  in Russian:
    	</td>
    	<td class="s-pict">
    			[ы]
    	</td>
    </tr>
	<tr>
		<td class="first-info art-desc-name" >Articulation description:</td>
		<td class="desc">
			The lips are spread wide. The tongue is taken backwards. The tip of the tongue is slightly raised and does not touch the lower teeth. The back of the tongue is raised high. 
		</td>

	</tr>
</table>
</div> 


<div class="sound-desc consonant hard voiced">
<table class="sound-letter" cellspacing="0" align="center">
	<tr>
		<th colspan="2" class="thbrd">Sound [b]</th>
	</tr>
	<tr>
		<td width="120" class="first-info">

			Audio sample: <div class="spacer"></div>
		</td>
		<td>
			<span class="sound" onclick="playSound('sound207.mp3')">[b] <span class="play_tip">&nbsp; &nbsp;</span></span>
		</td>
	</tr>
	<tr>
		<td  class="first-info">
			Picture
		</td>
		<td class="s-pict">
			<img src="images/sounds/sound-b.gif" alt="Articulation of the Russian sound [b]" />
		</td>
	</tr>
	<tr>
    	<td class="first-info rus-trans">
    			Transcription  in Russian:
    	</td>
    	<td class="s-pict">
    			[б]
    	</td>
    </tr>
	<tr>
		<td class="first-info art-desc-name">Articulation description:</td>

		<td class="desc">
		   The lips are pressed together and then opened to release the sound. The tip of the tongue lies behind the lower teeth and does not touch them. The vocal cords vibrate. The middle part of the tongue is plane. No aspiration accompanies this sound. 	
		</td>
	</tr>
</table>
</div> 

<div class="sound-desc consonant soft voiced">
<table class="sound-letter" cellspacing="0" align="center">
	<tr>
		<th colspan="2" class="thbrd">Sound [b']</th>
	</tr>

	<tr>
		<td width="120" class="first-info">
			Audio sample: <div class="spacer"></div>
		</td>
		<td>
			<span class="sound" onclick="playSound('sound208.mp3')">[b'] <span class="play_tip">&nbsp; &nbsp;</span></span>
		</td>

	</tr>
	<tr>
		<td  class="first-info">
			Picture
		</td>
		<td class="s-pict">
			<img src="images/sounds/sound-bi.gif" alt="Articulation of the Russian sound [b']" />
		</td>
	</tr>
	<tr>
    	<td class="first-info rus-trans">
    			Transcription  in Russian:
    	</td>
    	<td class="s-pict">
    			[б']
    	</td>
    </tr>
	<tr>
		<td class="first-info art-desc-name">Articulation description:</td>
		<td class="desc">
		   The lips are pressed together and then opened to release the sound. The tip of the tongue is pressed against the lower teeth. The middle part of the tongue is raised high. The vocal cords vibrate. No aspiration accompanies this sound. 
		</td>
	</tr>
</table>
</div> 

<div class="sound-desc consonant hard unvoiced">
<table class="sound-letter" cellspacing="0" align="center">
	<tr>

		<th colspan="2" class="thbrd">Sound [p]</th>
	</tr>
	<tr>
		<td width="120" class="first-info">
			Audio sample: <div class="spacer"></div>
		</td>
		<td>
			<span class="sound" onclick="playSound('sound209.mp3')">[p] <span class="play_tip">&nbsp; &nbsp;</span></span>

		</td>
	</tr>
	<tr>
		<td  class="first-info">
			Picture
		</td>
		<td class="s-pict">
			<img src="images/sounds/sound-b.gif" alt="Articulation of the Russian sound [p]" />
		</td>

	</tr>
	<tr>
    	<td class="first-info rus-trans">
    			Transcription  in Russian:
    	</td>
    	<td class="s-pict">
    			[п]
    	</td>
    </tr>
	<tr>
		<td class="first-info art-desc-name">Articulation description:</td>
		<td class="desc">
			The lips are pressed together and then opened to release the sound. The tip of the tongue lies behind the lower teeth. The vocal cords do not vibrate. The middle part of the tongue is plane. No aspiration accompanies this sound. 	

		</td>
	</tr>
</table>
</div> 

<div class="sound-desc consonant soft unvoiced">

<table class="sound-letter" cellspacing="0" align="center">
	<tr>
		<th colspan="2" class="thbrd">Sound [p']</th>
	</tr>
	<tr>
		<td width="120" class="first-info">
			Audio sample: <div class="spacer"></div>
		</td>

		<td>
			<span class="sound" onclick="playSound('sound210.mp3')">[p'] <span class="play_tip">&nbsp; &nbsp;</span></span>
		</td>
	</tr>
	<tr>
		<td  class="first-info">
			Picture
		</td>

		<td class="s-pict">
			<img src="images/sounds/sound-bi.gif" alt="Articulation of the Russian sound [p']" />
		</td>
	</tr>
	<tr>
    	<td class="first-info rus-trans">
    			Transcription  in Russian:
    	</td>
    	<td class="s-pict">
    			[п']
    	</td>
    </tr>
	<tr>
		<td class="first-info art-desc-name">Articulation description:</td>
		<td class="desc">
			The lips are pressed together and then opened to release the sound. The tip of the tongue is pressed against the lower teeth. The middle part of the tongue is raised high. The vocal cords do not vibrate. No aspiration accompanies this sound.
		</td>

	</tr>
</table>
</div> 

<div class="sound-desc consonant hard voiced">
<table class="sound-letter" cellspacing="0" align="center">
	<tr>
		<th colspan="2" class="thbrd">Sound [v]</th>
	</tr>
	<tr>
		<td width="120" class="first-info">

			Audio sample: <div class="spacer"></div>
		</td>
		<td>
			<span class="sound" onclick="playSound('sound211.mp3')">[v] <span class="play_tip">&nbsp; &nbsp;</span></span>
		</td>
	</tr>
	<tr>
		<td  class="first-info">
			Picture
		</td>
		<td class="s-pict">
			<img src="images/sounds/sound-v.gif" alt="Articulation of the Russian sound [v]" />
		</td>
	</tr>
	<tr>
    	<td class="first-info rus-trans">
    			Transcription  in Russian:
    	</td>
    	<td class="s-pict">
    			[в]
    	</td>
    </tr>
	<tr>
		<td class="first-info art-desc-name">Articulation description:</td>

		<td class="desc">
			The upper teeth are pressed against the lower lip. The upper lip is slightly raised. The air stream breaks through the chink between the lower lip and teeth. The tip of the tongue is taken backward and does not touch the lower teeth. The middle part of the tongue is plane. The vocal cords vibrate.
		</td>
	</tr>
</table>
</div> 

<div class="sound-desc consonant soft voiced">
<table class="sound-letter" cellspacing="0" align="center">
	<tr>
		<th colspan="2" class="thbrd">Sound [v']</th>
	</tr>

	<tr>
		<td width="120" class="first-info">
			Audio sample: <div class="spacer"></div>
		</td>
		<td>
			<span class="sound" onclick="playSound('sound212.mp3')">[v'] <span class="play_tip">&nbsp; &nbsp;</span></span>
		</td>

	</tr>
	<tr>
		<td  class="first-info">
			Picture
		</td>
		<td class="s-pict">
			<img src="images/sounds/sound-vi.gif" alt="Articulation of the Russian sound [v']" />
		</td>
	</tr>
	<tr>
    	<td class="first-info rus-trans">
    			Transcription  in Russian:
    	</td>
    	<td class="s-pict">
    			[в']
    	</td>
    </tr>
	<tr>
		<td class="first-info art-desc-name">Articulation description:</td>
		<td class="desc">
		   The upper teeth are pressed against the lower lip. The upper lip is slightly raised. The air stream breaks through the chink between the lower lip and teeth. The tip of the tongue is pressed against the lower teeth. The middle part of the tongue is raised high. The vocal cords vibrate.	
		</td>
	</tr>
</table>
</div> 

<div class="sound-desc consonant hard unvoiced">
<table class="sound-letter" cellspacing="0" align="center">
	<tr>

		<th colspan="2" class="thbrd">Sound [f]</th>
	</tr>
	<tr>
		<td width="120" class="first-info">
			Audio sample: <div class="spacer"></div>
		</td>
		<td>
			<span class="sound" onclick="playSound('sound213.mp3')">[f] <span class="play_tip">&nbsp; &nbsp;</span></span>

		</td>
	</tr>
	<tr>
		<td  class="first-info">
			Picture
		</td>
		<td class="s-pict">
			<img src="images/sounds/sound-v.gif" alt="Articulation of the Russian sound [f]" />
		</td>
	</tr>
	<tr>
    	<td class="first-info rus-trans">
    			Transcription  in Russian:
    	</td>
    	<td class="s-pict">
    			[ф]
    	</td>
    </tr>
	<tr>
		<td class="first-info art-desc-name">Articulation description:</td>
		<td class="desc">
			The upper teeth are pressed against the lower lip. The upper lip is slightly raised. The air stream breaks through the chink between the lower lip and teeth. The tip of the tongue is taken backward and does not touch the lower teeth. The middle part of the tongue is plane. The vocal cords do not vibrate.
		</td>
	</tr>
</table>
</div> 

<div class="sound-desc consonant soft unvoiced">

<table class="sound-letter" cellspacing="0" align="center">
	<tr>
		<th colspan="2" class="thbrd">Sound [f']</th>
	</tr>
	<tr>
		<td width="120" class="first-info">
			Audio sample: <div class="spacer"></div>
		</td>

		<td>
			<span class="sound" onclick="playSound('sound214.mp3')">[f'] <span class="play_tip">&nbsp; &nbsp;</span></span>
		</td>
	</tr>
	<tr>
		<td  class="first-info">
			Picture
		</td>

		<td class="s-pict">
			<img src="images/sounds/sound-vi.gif" alt="Articulation of the Russian sound [f']" />
		</td>
	</tr>
	<tr>
    	<td class="first-info rus-trans">
    			Transcription  in Russian:
    	</td>
    	<td class="s-pict">
    			[ф']
    	</td>
    </tr>
	<tr>
		<td class="first-info art-desc-name">Articulation description:</td>
		<td class="desc">
		   The upper teeth are pressed against the lower lip. The upper lip is slightly raised. The air stream breaks through the chink between the lower lip and teeth. The tip of the tongue is pressed against the lower teeth. The middle part of the tongue is raised high. The vocal cords do not vibrate.	
		</td>

	</tr>
</table>
</div> 

<div class="sound-desc consonant hard voiced">
<table class="sound-letter" cellspacing="0" align="center">
	<tr>
		<th colspan="2" class="thbrd">Sound [z]</th>
	</tr>
	<tr>
		<td width="120" class="first-info">

			Audio sample: <div class="spacer"></div>
		</td>
		<td>
			<span class="sound" onclick="playSound('sound215.mp3')">[z] <span class="play_tip">&nbsp; &nbsp;</span></span>
		</td>
	</tr>
	<tr>

		<td  class="first-info">
			Picture
		</td>
		<td class="s-pict">
			<img src="images/sounds/sound-z.gif" alt="Articulation of the Russian sound [z]" />
		</td>
	</tr>
	<tr>
    	<td class="first-info rus-trans">
    			Transcription  in Russian:
    	</td>
    	<td class="s-pict">
    			[з]
    	</td>
    </tr>
	<tr>
		<td class="first-info art-desc-name">Articulation description:</td>

		<td class="desc">
			The lips are spread slightly. The tip of the tongue is pressed against the lower teeth. The front of the tongue is raised slightly. The air stream breaks through the chink between the tongue and the area behind the top teeth. The vocal cords vibrate.
		</td>
	</tr>
</table>
</div> 

<div class="sound-desc consonant soft voiced">
<table class="sound-letter" cellspacing="0" align="center">
	<tr>
		<th colspan="2" class="thbrd">Sound [z']</th>
	</tr>

	<tr>
		<td width="120" class="first-info">
			Audio sample: <div class="spacer"></div>
		</td>
		<td>
			<span class="sound" onclick="playSound('sound216.mp3')">[z'] <span class="play_tip">&nbsp; &nbsp;</span></span>
		</td>

	</tr>
	<tr>
		<td  class="first-info">
			Picture
		</td>
		<td class="s-pict">
			<img src="images/sounds/sound-zi.gif" alt="Articulation of the Russian sound [z']" />
		</td>
	</tr>
	<tr>
    	<td class="first-info rus-trans">
    			Transcription  in Russian:
    	</td>
    	<td class="s-pict">
    			[з']
    	</td>
    </tr>
	<tr>
		<td class="first-info art-desc-name">Articulation description:</td>
		<td class="desc">
			The lips are spread wide. The tip of the tongue is pressed against the lower teeth. The middle part of the tongue is raised high. The air stream breaks through the chink between the tongue and the area behind the top teeth. The vocal cords vibrate.
		</td>
	</tr>
</table>
</div> 

<div class="sound-desc consonant hard unvoiced">
<table class="sound-letter" cellspacing="0" align="center">
	<tr>

		<th colspan="2" class="thbrd">Sound [s]</th>
	</tr>
	<tr>
		<td width="120" class="first-info">
			Audio sample: <div class="spacer"></div>
		</td>
		<td>
			<span class="sound" onclick="playSound('sound217.mp3')">[s] <span class="play_tip">&nbsp; &nbsp;</span></span>

		</td>
	</tr>
	<tr>
		<td  class="first-info">
			Picture
		</td>
		<td class="s-pict">
			<img src="images/sounds/sound-z.gif" alt="Articulation of the Russian sound [s]" />
		</td>
	</tr>
	<tr>
    	<td class="first-info rus-trans">
    			Transcription  in Russian:
    	</td>
    	<td class="s-pict">
    			[с]
    	</td>
    </tr>
	<tr>
		<td class="first-info art-desc-name">Articulation description:</td>
		<td class="desc">
			The lips are spread slightly. The tip of the tongue is pressed against the lower teeth. The front of the tongue is raised slightly. The air stream breaks through the chink between the tongue and the area behind the top teeth. The vocal cords do not vibrate.
		</td>
	</tr>
</table>
</div> 

<div class="sound-desc consonant soft unvoiced">

<table class="sound-letter" cellspacing="0" align="center">
	<tr>
		<th colspan="2" class="thbrd">Sound [s']</th>
	</tr>
	<tr>
		<td width="120" class="first-info">
			Audio sample: <div class="spacer"></div>
		</td>

		<td>
			<span class="sound" onclick="playSound('sound218.mp3')">[s'] <span class="play_tip">&nbsp; &nbsp;</span></span>
		</td>
	</tr>
	<tr>
		<td  class="first-info">
			Picture
		</td>
		<td class="s-pict">
			<img src="images/sounds/sound-zi.gif" alt="Articulation of the Russian sound [s']" />
		</td>
	</tr>
	<tr>
    	<td class="first-info rus-trans">
    			Transcription  in Russian:
    	</td>
    	<td class="s-pict">
    			[с']
    	</td>
    </tr>
	<tr>
		<td class="first-info art-desc-name">Articulation description:</td>
		<td class="desc">
			The lips are spread wide. The tip of the tongue is pressed against the lower teeth. The middle part of the tongue is raised high. The air stream breaks through the chink between the tongue and the area behind the top teeth. The vocal cords do not vibrate.
		</td>

	</tr>
</table>
</div> 

<div class="sound-desc consonant hard voiced">
<table class="sound-letter" cellspacing="0" align="center">
	<tr>
		<th colspan="2" class="thbrd">Sound [d]</th>
	</tr>
	<tr>
		<td width="120" class="first-info">

			Audio sample: <div class="spacer"></div>
		</td>
		<td>
			<span class="sound" onclick="playSound('sound219.mp3')">[d] <span class="play_tip">&nbsp; &nbsp;</span></span>
		</td>
	</tr>
	<tr>
		<td  class="first-info">
			Picture
		</td>
		<td class="s-pict">
			<img src="images/sounds/sound-d.gif" alt="Articulation of the Russian sound [d]" />
		</td>
	</tr>
	<tr>
    	<td class="first-info rus-trans">
    			Transcription  in Russian:
    	</td>
    	<td class="s-pict">
    			[д]
    	</td>
    </tr>
	<tr>
		<td class="first-info art-desc-name">Articulation description:</td>
		<td class="desc">
			The front part of the tongue is pressed against the upper teeth. The back part of the tongue dips. The air stream breaks the contact between the tongue and teeth. The vocal cords vibrate. No aspiration accompanies this sound.
		</td>
	</tr>
</table>
</div> 

<div class="sound-desc consonant soft voiced">
<table class="sound-letter" cellspacing="0" align="center">
	<tr>
		<th colspan="2" class="thbrd">Sound [d']</th>
	</tr>

	<tr>
		<td width="120" class="first-info">
			Audio sample: <div class="spacer"></div>
		</td>
		<td>
			<span class="sound" onclick="playSound('sound220.mp3')">[d'] <span class="play_tip">&nbsp; &nbsp;</span></span>
		</td>

	</tr>
	<tr>
		<td  class="first-info">
			Picture
		</td>
		<td class="s-pict">
			<img src="images/sounds/sound-di.gif" alt="Articulation of the Russian sound [d']" />
		</td>
	</tr>
	<tr>
    	<td class="first-info rus-trans">
    			Transcription  in Russian:
    	</td>
    	<td class="s-pict">
    			[д']
    	</td>
    </tr>
	<tr>
		<td class="first-info art-desc-name">Articulation description:</td>
		<td class="desc">
			The tip of the tongue is pressed against the lower teeth. The front part of the tongue is pressed against the upper teeth. The middle part of the tongue is raised high. The air stream breaks the contact between the tongue and teeth. The vocal cords vibrate. No aspiration accompanies this sound.
		</td>
	</tr>
</table>
</div> 

<div class="sound-desc consonant hard unvoiced">
<table class="sound-letter" cellspacing="0" align="center">
	<tr>

		<th colspan="2" class="thbrd">Sound [t]</th>
	</tr>
	<tr>
		<td width="120" class="first-info">
			Audio sample: <div class="spacer"></div>
		</td>
		<td>
			<span class="sound" onclick="playSound('sound221.mp3')">[t] <span class="play_tip">&nbsp; &nbsp;</span></span>

		</td>
	</tr>
	<tr>
		<td  class="first-info">
			Picture
		</td>
		<td class="s-pict">
			<img src="images/sounds/sound-d.gif" alt="Articulation of the Russian sound [t]" />
		</td>
	</tr>
	<tr>
    	<td class="first-info rus-trans">
    			Transcription  in Russian:
    	</td>
    	<td class="s-pict">
    			[т]
    	</td>
    </tr>
	<tr>
		<td class="first-info art-desc-name">Articulation description:</td>
		<td class="desc">
			The front part of the tongue is pressed against the upper teeth. The back part of the tongue dips. The air stream breaks the contact between the tongue and teeth. The vocal cords do not vibrate. No aspiration accompanies this sound.
		</td>
	</tr>
</table>
</div> 

<div class="sound-desc consonant soft unvoiced">

<table class="sound-letter" cellspacing="0" align="center">
	<tr>
		<th colspan="2" class="thbrd">Sound [t']</th>
	</tr>
	<tr>
		<td width="120" class="first-info">
			Audio sample: <div class="spacer"></div>
		</td>

		<td>
			<span class="sound" onclick="playSound('sound222.mp3')">[t'] <span class="play_tip">&nbsp; &nbsp;</span></span>
		</td>
	</tr>
	<tr>
		<td  class="first-info">
			Picture
		</td>

		<td class="s-pict">
			<img src="images/sounds/sound-di.gif" alt="Articulation of the Russian sound [t']" />
		</td>
	</tr>
	<tr>
    	<td class="first-info rus-trans">
    			Transcription  in Russian:
    	</td>
    	<td class="s-pict">
    			[т']
    	</td>
    </tr>
	<tr>
		<td class="first-info art-desc-name">Articulation description:</td>
		<td class="desc">
			The tip of the tongue is pressed against the lower teeth. The front part of the tongue is pressed against the upper teeth. The middle part of the tongue is raised high. The air stream breaks the contact between the tongue and teeth. The vocal cords do not vibrate. No aspiration accompanies this sound.
		</td>

	</tr>
</table>
</div> 

<div class="sound-desc consonant hard voiced">
<table class="sound-letter" cellspacing="0" align="center">
	<tr>
		<th colspan="2" class="thbrd">Sound [g]</th>
	</tr>
	<tr>
		<td width="120" class="first-info">

			Audio sample: <div class="spacer"></div>
		</td>
		<td>
			<span class="sound" onclick="playSound('sound223.mp3')">[g] <span class="play_tip">&nbsp; &nbsp;</span></span>
		</td>
	</tr>
	<tr>

		<td  class="first-info">
			Picture
		</td>
		<td class="s-pict">
			<img src="images/sounds/sound-g.gif" alt="Articulation of the Russian sound [g]" />
		</td>
	</tr>
	<tr>
    	<td class="first-info rus-trans">
    			Transcription  in Russian:
    	</td>
    	<td class="s-pict">
    			[г]
    	</td>
    </tr>
	<tr>
		<td class="first-info art-desc-name">Articulation description:</td>

		<td class="desc">
		   The back part of the tongue is raised towards the back roof of the mouth. The tip of tongue does not touch the lower teeth. The air stream breaks the contact between the tongue and the back of the mouth. The vocal cords vibrate. No aspiration accompanies this sound. 	
		</td>
	</tr>
</table>
</div> 

<div class="sound-desc consonant soft voiced">
<table class="sound-letter" cellspacing="0" align="center">
	<tr>
		<th colspan="2" class="thbrd">Sound [g']</th>
	</tr>

	<tr>
		<td width="120" class="first-info">
			Audio sample: <div class="spacer"></div>
		</td>
		<td>
			<span class="sound" onclick="playSound('sound224.mp3')">[g'] <span class="play_tip">&nbsp; &nbsp;</span></span>
		</td>
	</tr>
	<tr>
		<td  class="first-info">
			Picture
		</td>
		<td class="s-pict">
			<img src="images/sounds/sound-gi.gif" alt="Articulation of the Russian sound [g']" />
		</td>
	</tr>
	<tr>
    	<td class="first-info rus-trans">
    			Transcription  in Russian:
    	</td>
    	<td class="s-pict">
    			[г']
    	</td>
    </tr>
	<tr>
		<td class="first-info art-desc-name">Articulation description:</td>
		<td class="desc">
		   The back part of the tongue is raised high and touches the roof of the mouth. The tip of tongue is pressed against the lower teeth. The air stream breaks the contact between the tongue and the roof of the mouth. The vocal cords vibrate. No aspiration accompanies this sound.
		</td>
	</tr>
</table>
</div> 

<div class="sound-desc consonant hard unvoiced">
<table class="sound-letter" cellspacing="0" align="center">
	<tr>

		<th colspan="2" class="thbrd">Sound [k]</th>
	</tr>
	<tr>
		<td width="120" class="first-info">
			Audio sample: <div class="spacer"></div>
		</td>
		<td>
			<span class="sound" onclick="playSound('sound225.mp3')">[k] <span class="play_tip">&nbsp; &nbsp;</span></span>

		</td>
	</tr>
	<tr>
		<td  class="first-info">
			Picture
		</td>
		<td class="s-pict">
			<img src="images/sounds/sound-g.gif" alt="Articulation of the Russian sound [k]" />
		</td>

	</tr>
	<tr>
    	<td class="first-info rus-trans">
    			Transcription  in Russian:
    	</td>
    	<td class="s-pict">
    			[к]
    	</td>
    </tr>
	<tr>
		<td class="first-info art-desc-name">Articulation description:</td>
		<td class="desc">
		   The back part of the tongue is raised towards the back roof of the mouth. The tip of tongue does not touch the lower teeth. The air stream breaks the contact between the tongue and the back of the mouth. The vocal cords do not vibrate. No aspiration accompanies this sound. 	
		</td>
	</tr>
</table>
</div> 

<div class="sound-desc consonant soft unvoiced">

<table class="sound-letter" cellspacing="0" align="center">
	<tr>
		<th colspan="2" class="thbrd">Sound [k']</th>
	</tr>
	<tr>
		<td width="120" class="first-info">
			Audio sample: <div class="spacer"></div>
		</td>

		<td>
			<span class="sound" onclick="playSound('sound226.mp3')">[k'] <span class="play_tip">&nbsp; &nbsp;</span></span>
		</td>
	</tr>
	<tr>
		<td  class="first-info">
			Picture
		</td>

		<td class="s-pict">
			<img src="images/sounds/sound-gi.gif" alt="Articulation of the Russian sound [k']" />
		</td>
	</tr>
	<tr>
    	<td class="first-info rus-trans">
    			Transcription  in Russian:
    	</td>
    	<td class="s-pict">
    			[к']
    	</td>
    </tr>
	<tr>
		<td class="first-info art-desc-name">Articulation description:</td>
		<td class="desc">
		   The back part of the tongue is raised high and touches the roof of the mouth. The tip of tongue is pressed against the lower teeth. The air stream breaks the contact between the tongue and the roof of the mouth. The vocal cords do not vibrate. No aspiration accompanies this sound.
		</td>

	</tr>
</table>
</div> 

<div class="sound-desc consonant hard voiced">
<table class="sound-letter" cellspacing="0" align="center">
	<tr>
		<th colspan="2" class="thbrd">Sound [m]</th>
	</tr>
	<tr>
		<td width="120" class="first-info">

			Audio sample: <div class="spacer"></div>
		</td>
		<td>
			<span class="sound" onclick="playSound('sound229.mp3')">[m] <span class="play_tip">&nbsp; &nbsp;</span></span>
		</td>
	</tr>
	<tr>

		<td  class="first-info">
			Picture
		</td>
		<td class="s-pict">
			<img src="images/sounds/sound-m.gif" alt="Articulation of the Russian sound [m]" />
		</td>
	</tr>
	<tr>
    	<td class="first-info rus-trans">
    			Transcription  in Russian:
    	</td>
    	<td class="s-pict">
    			[м]
    	</td>
    </tr>
	<tr>
		<td class="first-info art-desc-name">Articulation description:</td>

		<td class="desc">
			The lips are pressed together. The air goes through nasal cavity. The tip of the tongue does not touch the lower teeth. The middle part of the tongue is plane. The vocal cords vibrate.
		</td>
	</tr>
</table>
</div> 

<div class="sound-desc consonant soft voiced">
<table class="sound-letter" cellspacing="0" align="center">
	<tr>
		<th colspan="2" class="thbrd">Sound [m']</th>
	</tr>

	<tr>
		<td width="120" class="first-info">
			Audio sample: <div class="spacer"></div>
		</td>
		<td>
			<span class="sound" onclick="playSound('sound230.mp3')">[m'] <span class="play_tip">&nbsp; &nbsp;</span></span>
		</td>

	</tr>
	<tr>
		<td  class="first-info">
			Picture
		</td>
		<td class="s-pict">
			<img src="images/sounds/sound-mi.gif" alt="Articulation of the Russian sound [m']" />
		</td>
	</tr>
	<tr>
    	<td class="first-info rus-trans">
    			Transcription  in Russian:
    	</td>
    	<td class="s-pict">
    			[м']
    	</td>
    </tr>
	<tr>
		<td class="first-info art-desc-name">Articulation description:</td>
		<td class="desc">
			The lips are pressed together. The air goes through nasal cavity. The tip of the tongue is pressed against the lower teeth. The middle part of the tongue is raised high. The vocal cords vibrate.
		</td>
	</tr>
</table>
</div> 

<div class="sound-desc consonant hard voiced">
<table class="sound-letter" cellspacing="0" align="center">
	<tr>

		<th colspan="2" class="thbrd">Sound [n]</th>
	</tr>
	<tr>
		<td width="120" class="first-info">
			Audio sample: <div class="spacer"></div>
		</td>
		<td>
			<span class="sound" onclick="playSound('sound231.mp3')">[n] <span class="play_tip">&nbsp; &nbsp;</span></span>

		</td>
	</tr>
	<tr>
		<td  class="first-info">
			Picture
		</td>
		<td class="s-pict">
			<img src="images/sounds/sound-n.gif" alt="Articulation of the Russian sound [n]" />
		</td>
	</tr>
	<tr>
    	<td class="first-info rus-trans">
    			Transcription  in Russian:
    	</td>
    	<td class="s-pict">
    			[н]
    	</td>
    </tr>
	<tr>
		<td class="first-info art-desc-name">Articulation description:</td>
		<td class="desc">
			The tip of the tongue is pressed against the upper teeth. The back part of the tongue dips. The air goes through nasal cavity. The vocal cords vibrate.
		</td>
	</tr>
</table>
</div> 

<div class="sound-desc consonant soft voiced">

<table class="sound-letter" cellspacing="0" align="center">
	<tr>
		<th colspan="2" class="thbrd">Sound [n']</th>
	</tr>
	<tr>
		<td width="120" class="first-info">
			Audio sample: <div class="spacer"></div>
		</td>

		<td>
			<span class="sound" onclick="playSound('sound232.mp3')">[n'] <span class="play_tip">&nbsp; &nbsp;</span></span>
		</td>
	</tr>
	<tr>
		<td  class="first-info">
			Picture
		</td>

		<td class="s-pict">
			<img src="images/sounds/sound-ni.gif" alt="Articulation of the Russian sound [n']" />
		</td>
	</tr>
	<tr>
    	<td class="first-info rus-trans">
    			Transcription  in Russian:
    	</td>
    	<td class="s-pict">
    			[н']
    	</td>
    </tr>
	<tr>
		<td class="first-info art-desc-name">Articulation description:</td>
		<td class="desc">
			The tip of the tongue is pressed against the lower teeth. The front part of the tongue is pressed against the area behind the upper teeth. The middle part of the tongue is raised high. The air goes through nasal cavity. The vocal cords vibrate.
		</td>

	</tr>
</table>
</div> 

<div class="sound-desc consonant hard voiced">
<table class="sound-letter" cellspacing="0" align="center">
	<tr>
		<th colspan="2" class="thbrd">Sound [l]</th>
	</tr>
	<tr>
		<td width="120" class="first-info">

			Audio sample: <div class="spacer"></div>
		</td>
		<td>
			<span class="sound" onclick="playSound('sound233.mp3')">[l] <span class="play_tip">&nbsp; &nbsp;</span></span>
		</td>
	</tr>
	<tr>

		<td  class="first-info">
			Picture
		</td>
		<td class="s-pict">
			<img src="images/sounds/sound-l.gif" alt="Articulation of the Russian sound [l]" />
		</td>
	</tr>
	<tr>
    	<td class="first-info rus-trans">
    			Transcription  in Russian:
    	</td>
    	<td class="s-pict">
    			[л]
    	</td>
    </tr>
	<tr>
		<td class="first-info art-desc-name">Articulation description:</td>

		<td class="desc">
			The tip of the tongue is pressed against the upper teeth. The middle part of the tongue dips and forms a cavity. The back part of the tongue is raised. The vocal cords vibrate.
		</td>
	</tr>
</table>
</div> 

<div class="sound-desc consonant soft voiced">
<table class="sound-letter" cellspacing="0" align="center">
	<tr>
		<th colspan="2" class="thbrd">Sound [l']</th>
	</tr>

	<tr>
		<td width="120" class="first-info">
			Audio sample: <div class="spacer"></div>
		</td>
		<td>
			<span class="sound" onclick="playSound('sound234.mp3')">[l'] <span class="play_tip">&nbsp; &nbsp;</span></span>
		</td>

	</tr>
	<tr>
		<td  class="first-info">
			Picture
		</td>
		<td class="s-pict">
			<img src="images/sounds/sound-li.gif" alt="Articulation of the Russian sound [l']" />
		</td>
	</tr>
	<tr>
    	<td class="first-info rus-trans">
    			Transcription  in Russian:
    	</td>
    	<td class="s-pict">
    			[л']
    	</td>
    </tr>
	<tr>
		<td class="first-info art-desc-name">Articulation description:</td>
		<td class="desc">
			The tip of the tongue touches the area behind the upper teeth. The middle part of the tongue is slightly raised. The back part of the tongue dips. The vocal cords vibrate. 
		</td>
	</tr>
</table>
</div>

<div class="sound-desc consonant hard voiced">
<table class="sound-letter" cellspacing="0" align="center">

	<tr>
		<th colspan="2" class="thbrd">Sound [r]</th>
	</tr>
	<tr>
		<td width="120" class="first-info">
			Audio sample: <div class="spacer"></div>
		</td>
		<td>

			<span class="sound" onclick="playSound('sound235.mp3')">[r] <span class="play_tip">&nbsp; &nbsp;</span></span>
		</td>
	</tr>
	<tr>
		<td  class="first-info">
			Picture
		</td>
		<td class="s-pict">

			<img src="images/sounds/sound-r.gif" alt="Articulation of the Russian sound [r]" />
		</td>
	</tr>
	<tr>
    	<td class="first-info rus-trans">
    			Transcription  in Russian:
    	</td>
    	<td class="s-pict">
    			[р']
    	</td>
    </tr>
	<tr>
		<td class="first-info art-desc-name">Articulation description:</td>
		<td class="desc">
			The tip of the tongue touches the area behind the upper teeth. The sides of the tongue are pressed to the upper lateral teeth. The tongue is spoonlike in shape. The tip of the tongue vibrates because of the air stream. The vocal cords vibrate.
		</td>
	</tr>

</table>
</div> 

<div class="sound-desc consonant soft voiced">
<table class="sound-letter" cellspacing="0" align="center">
	<tr>
		<th colspan="2" class="thbrd">Sound [r']</th>
	</tr>
	<tr>
		<td width="120" class="first-info">
			Audio sample: <div class="spacer"></div>

		</td>
		<td>
			<span class="sound" onclick="playSound('sound236.mp3')">[r'] <span class="play_tip">&nbsp; &nbsp;</span></span>
		</td>
	</tr>
	<tr>
		<td  class="first-info">
			Picture
		</td>

		<td class="s-pict">
			<img src="images/sounds/sound-ri.gif" alt="Articulation of the Russian sound [r']" />
		</td>
	</tr>
	<tr>
    	<td class="first-info rus-trans">
    			Transcription  in Russian:
    	</td>
    	<td class="s-pict">
    			[р']
    	</td>
    </tr>
	<tr>
		<td class="first-info art-desc-name">Articulation description:</td>
		<td class="desc">
			The lips are spread slightly. The tip of the tongue touches the area behind the upper teeth. The sides of the tongue are pressed to the upper lateral teeth. The middle part of the tongue is slightly raised. The tip of the tongue vibrates because of the air stream. The vocal cords vibrate.
		</td>

	</tr>
</table>
</div> 

<div class="sound-desc consonant hard unvoiced">
<table class="sound-letter" cellspacing="0" align="center">
	<tr>
		<th colspan="2" class="thbrd">Sound [h]</th>
	</tr>
	<tr>
		<td width="120" class="first-info">

			Audio sample: <div class="spacer"></div>
		</td>
		<td>
			<span class="sound" onclick="playSound('sound241.mp3')">[h] <span class="play_tip">&nbsp; &nbsp;</span></span>
		</td>
	</tr>
	<tr>

		<td  class="first-info">
			Picture
		</td>
		<td class="s-pict">
			<img src="images/sounds/sound-h.gif" alt="Articulation of the Russian sound [h]" />
		</td>
	</tr>
	<tr>
    	<td class="first-info rus-trans">
    			Transcription  in Russian:
    	</td>
    	<td class="s-pict">
    			[х]
    	</td>
    </tr>
	<tr>
		<td class="first-info art-desc-name">Articulation description:</td>

		<td class="desc">
			The back part of the tongue raised high towards the roof of the mouth. The tip of the tongue is taken backward and does not touch the lower teeth. The vocal cords do not vibrate.
		</td>
	</tr>
</table>
</div>

<div class="sound-desc consonant soft unvoiced">
<table class="sound-letter" cellspacing="0" align="center">
	<tr>
		<th colspan="2" class="thbrd">Sound [h']</th>

	</tr>
	<tr>
		<td width="120" class="first-info">
			Audio sample: <div class="spacer"></div>
		</td>
		<td>
			<span class="sound" onclick="playSound('sound242.mp3')">[h'] <span class="play_tip">&nbsp; &nbsp;</span></span>

		</td>
	</tr>
	<tr>
		<td  class="first-info">
			Picture
		</td>
		<td class="s-pict">
			<img src="images/sounds/sound-hi.gif" alt="Articulation of the Russian sound [h']" />
		</td>

	</tr>
	<tr>
    	<td class="first-info rus-trans">
    			Transcription  in Russian:
    	</td>
    	<td class="s-pict">
    			[х']
    	</td>
    </tr>
	<tr>
		<td class="first-info art-desc-name">Articulation description:</td>
		<td class="desc">
			The back part of the tongue raised high toward the roof of the mouth. The tip of the tongue is pressed against the lower teeth. The vocal cords do not vibrate.
		</td>
	</tr>
</table>
</div> 

<div class="sound-desc consonant hard voiced">

<table class="sound-letter" cellspacing="0" align="center">
	<tr>
		<th colspan="2" class="thbrd">Sound [j]</th>
	</tr>
	<tr>
		<td width="120" class="first-info">
			Audio sample: <div class="spacer"></div>
		</td>

		<td>
			<span class="sound" onclick="playSound('sound227.mp3')">[j] <span class="play_tip">&nbsp; &nbsp;</span></span>
		</td>
	</tr>
	<tr>
		<td  class="first-info">
			Picture
		</td>

		<td class="s-pict">
			<img src="images/sounds/sound-sh.gif" alt="Articulation of the Russian sound [j]" />
		</td>
	</tr>
	<tr>
    	<td class="first-info rus-trans">
    			Transcription  in Russian:
    	</td>
    	<td class="s-pict">
    			[ж]
    	</td>
    </tr>
	<tr>
		<td class="first-info art-desc-name">Articulation description:</td>
		<td class="desc">
			The lips are extended and rounded. The tip of the tongue is raised, but does touch the palate. The sides of the tongue are pressed to the upper lateral teeth. The back part of the tongue is slightly raised. The middle part of the tongue is concave. The vocal cords vibrate.
		</td>

	</tr>
</table>
</div> 

<div class="sound-desc consonant hard unvoiced">
<table class="sound-letter" cellspacing="0" align="center">
	<tr>
		<th colspan="2" class="thbrd">Sound [sh]</th>
	</tr>
	<tr>
		<td width="120" class="first-info">

			Audio sample: <div class="spacer"></div>
		</td>
		<td>
			<span class="sound" onclick="playSound('sound228.mp3')">[sh] <span class="play_tip">&nbsp; &nbsp;</span></span>
		</td>
	</tr>
	<tr>

		<td  class="first-info">
			Picture
		</td>
		<td class="s-pict">
			<img src="images/sounds/sound-sh.gif" alt="Articulation of the Russian sound [sh]" />
		</td>
	</tr>
	<tr>
    	<td class="first-info rus-trans">
    			Transcription  in Russian:
    	</td>
    	<td class="s-pict">
    			[ш]
    	</td>
    </tr>
	<tr>
		<td class="first-info art-desc-name">Articulation description:</td>

		<td class="desc">
			The lips are extended and rounded. The tip of the tongue is raised, but does touch the palate. The sides of the tongue are pressed to the upper lateral teeth. The back part of the tongue is slightly raised. The middle part of the tongue is concave. The vocal cords do not vibrate.
		</td>
	</tr>
</table>
</div> 

<div class="sound-desc consonant hard unvoiced">
<table class="sound-letter" cellspacing="0" align="center">
	<tr>
		<th colspan="2" class="thbrd">Sound [ts]</th>
	</tr>

	<tr>
		<td width="120" class="first-info">
			Audio sample: <div class="spacer"></div>
		</td>
		<td>
			<span class="sound" onclick="playSound('sound240.mp3')">[ts] <span class="play_tip">&nbsp; &nbsp;</span></span>
		</td>

	</tr>
	<tr>
		<td  class="first-info">
			Picture
		</td>
		<td class="s-pict">
			<img src="images/sounds/sound-ts.gif" alt="Articulation of the Russian sound [ts]" />
		</td>
	</tr>
	<tr>
    	<td class="first-info rus-trans">
    			Transcription  in Russian:
    	</td>
    	<td class="s-pict">
    			[ц]
    	</td>
    </tr>
	<tr>
		<td class="first-info art-desc-name">Articulation description:</td>
		<td class="desc">
			At first, the front part of the tongue is raised and touches the area behind the upper teeth. The tip of the tongue is pressed against the lower teeth. Then, the front part of the tongue dips and forms a chink the air stream breaks through; the tip of the tongue is still pressed against the lower teeth. The vocal cords do not vibrate.
		</td>
	</tr>
</table>
</div> 

<div class="sound-desc consonant soft unvoiced">
<table class="sound-letter" cellspacing="0" align="center">
	<tr>

		<th colspan="2" class="thbrd">Sound [sch]</th>
	</tr>
	<tr>
		<td width="120" class="first-info">
			Audio sample: <div class="spacer"></div>
		</td>
		<td>
			<span class="sound" onclick="playSound('sound238.mp3')">[sch] <span class="play_tip">&nbsp; &nbsp;</span></span>

		</td>
	</tr>
	<tr>
		<td  class="first-info">
			Picture
		</td>
		<td class="s-pict">
			<img src="images/sounds/sound-sch.gif" alt="Articulation of the Russian sound [sch]" />
		</td>

	</tr>
	<tr>
    	<td class="first-info rus-trans">
    			Transcription  in Russian:
    	</td>
    	<td class="s-pict">
    			[щ]
    	</td>
    </tr>
	<tr>
		<td class="first-info art-desc-name">Articulation description:</td>
		<td class="desc">
			The lips are slightly extended and rounded. The tip of the tongue is raised towards the area behind the upper teeth (hard palate), but does not touch it. The sides of the tongue are pressed to the upper lateral teeth. The back of the tongue is raised. The vocal cords do not vibrate.
		</td>
	</tr>
</table>
</div> 

<div class="sound-desc consonant soft unvoiced">

<table class="sound-letter" cellspacing="0" align="center">
	<tr>
		<th colspan="2" class="thbrd">Sound [ch]</th>
	</tr>
	<tr>
		<td width="120" class="first-info">
			Audio sample: <div class="spacer"></div>
		</td>

		<td>
			<span class="sound" onclick="playSound('sound239.mp3')">[ch] <span class="play_tip">&nbsp; &nbsp;</span></span>
		</td>
	</tr>
	<tr>
		<td  class="first-info">
			Picture
		</td>

		<td class="s-pict">
			<img src="images/sounds/sound-ch.gif" alt="Articulation of the Russian sound [ch]" />
		</td>
	</tr>
	<tr>
    	<td class="first-info rus-trans">
    			Transcription  in Russian:
    	</td>
    	<td class="s-pict">
    			[ч]
    	</td>
    </tr>
	<tr>
		<td class="first-info art-desc-name">Articulation description:</td>
		<td class="desc">
			The lips are slightly extended and rounded. The tip of the tongue touches the area behind the upper teeth (hard palate). The sides of the tongue are pressed to the upper lateral teeth. The middle of the tongue is raised. The air stream breaks the contact between the tip of the tongue and the hard palate. The vocal cords do not vibrate.
		</td>

	</tr>
</table>
</div> 

<div class="sound-desc consonant soft voiced">
<table class="sound-letter" cellspacing="0" align="center">
	<tr>
		<th colspan="2" class="thbrd">Sound [y]</th>
	</tr>
	<tr>
		<td width="120" class="first-info">

			Audio sample: <div class="spacer"></div>
		</td>
		<td>
			<span class="sound" onclick="playSound('sound237.mp3')">[y] <span class="play_tip">&nbsp; &nbsp;</span></span>
		</td>
	</tr>
	<tr>

		<td  class="first-info">
			Picture
		</td>
		<td class="s-pict">
			<img src="images/sounds/sound-y.gif" alt="Articulation of the Russian sound [y]" />
		</td>
	</tr>
	<tr>
    	<td class="first-info rus-trans">
    			Transcription  in Russian:
    	</td>
    	<td class="s-pict">
    			[й]
    	</td>
    </tr>
	<tr>
		<td class="first-info art-desc-name">Articulation description:</td>

		<td class="desc">
		   The lips are spread wide. The tip of the tongue is pressed against the lower teeth. The middle of the tongue is raised high in the mouth. The vocal cords vibrate.	
		</td>
	</tr>
</table>
</div> 



	</div><!-- end of #all-sound-desc -->

	</div>
</div>

<br/><br/><br/><br/><br/><br/>

</div></div>

<script type="text/javascript">
currentSection="phonetic";
</script>
