<% @page_title = 'Study Russian Online: Short form of adjectives' %>
<% @page_meta = {'description' => "Information about short forms of Russian adjectives: basic rules and particular instances"} %>


<% content_for :special_js_css do %>
<style type="text/css">
h2.page {
margin-bottom: 0px;
}
</style>
<% end %>


<h2 class="page">Short form of Russian adjectives</h2>
<h3 class="page-path"> 
<span class="int-links"><a href="/russian-grammar.html">Russian grammar</a>  <span class="int-arrow">--></span> Short form of adjectives</span>
</h3>

<p>
The majority of qualitative adjectives have short forms. Relational adjectives, and all adjectives that end in the suffixes -<span class="letter">ск</span>- and -<span class="letter">ян</span>- do not have short forms. Short form adjectives exist only in predicate nominative form. They have masculine, femine, neuter and plural forms and do not decline. 
</p>

<h3 class="page-p">Usage</h3>

<p>
Short form adjectives are used after a linking verb, generally, after the verb <span class="eg">быть</span> <span class="egt">to be</span> which is omitted in the present tense.
</p>

<div class="egdiv">
<h4>Examples: </h4>
<p>
<em>Эта проблема <u>была</u> очень важна.</em> - This problem was very important (the past tense).
</p>
<p>
<em>Эта проблема очень важна.</em> - This problem is very important (the present tense). 
</p>
<p>
The short form of the adjective <b>важный</b> is used after the verb <span class="eg">быть</span> <span class="egt">to be</span> which is omitted in the present tense. 
</p>
</div>


</p>
Long-form adjectives tend to predominate in conversational Russian, while short-form adjectives are more typical for a formal style.
</p>

<h3 class="page-p">Formation </h3>

<p>
Short forms of adjectives are derived from long forms. The stem of the long form serves as the masculine short form and as the basis for feminine, neuter and plural forms that have endings -<span class="letter">а</span>, -<span class="letter">о</span> and -<span class="letter">ы</span>/-<span class="letter">и</span>, respectively. Plural forms will have the ending -<span class="letter">и</span> where the  <a href="russian-spelling-rules.html#rule_1">Spelling rule №1</a> will apply. Short-form adjectives do not decline. 
</p>

<p>
The table below represents the short forms of adjectives <span class="eg">готовый</span> <span class="egt">ready</span> and <span class="eg">хороший</span> <span class="egt">good</span>:
</p>

<table class="st-table" cellspacing="0" align="center" style="margin: 0 auto">
	<tr style="vertical-align: middle;">
		<th > Adjective </th>
		<th >  Masculine </th>
		<th > Feminine </th>
		<th > Neuter </th>
		<th class="thbrd">Plural</th>
	</tr>

	<tr>
		<td><strong>готовый</strong></td>
		<td>готов</td>
		<td>готов<span class="end">а</span></td>
		<td>готов<span class="end">о</span></td>
		<td>готов<span class="end">ы</span></td>
	</tr>
	<tr >
		<td><strong>хороший</strong></td>
		<td>хорош</td>
		<td>хорош<span class="end">а</span></td>
		<td>хорош<span class="end">о</span></td>
		<td>хорош<span class="end">и</span></td>
	</tr>
</table>




<h3 class="page-p">Particular Cases </h3>
<p>
If the stem of the adjective ends in a cluster of two or more consonants, the masculine short form has a vowel -<span class="letter">о</span>- or -<span class="letter">е</span>- inserted between the two final consonants:
</p>
<ul>
	<li>
		<p>
		The letter <span class="letter">о</span> is inserted if the stem of the adjective ends in -<span class="letter">к</span>. 
	
		The letter <span class="letter">о</span> is also inserted in short forms of adjectives <span class="eg">полный</span>  <span class="egt">ful</span> (short form: <span class="eg">полон</span>)  and <span class="eg">смешной</span>  <span class="egt">funny</span> (short form: <span class="eg">смешон</span>).
		</p>
	</li>
	<li>
		<p>
			The letter <span class="letter">е</span> is inserted if the stem of the adjective ends in -<span class="letter">н</span>, except adjectives <span class="eg">полный</span> and <span class="eg">смешной</span>. 
		</p>
	</li>
</ul>

<div class="egdiv">
<h4>Examples: </h4>
<p>
<em>короткий - корот<u>о</u>к</em> (short).
</p>
<p>
<em>редкий- ред<u>о</u>к</em> (rare).
</p>
<p>
<em>важный - важ<u>е</u>н</em> (important).
</p>
<p>
<em>больной - бол<u>е</u>н</em> (sick, ill).
</p>
</div>


<p>
The adjective <span class="eg">маленький</span> <span class="egt">small</span> has a special short form <span class="eg">мал</span> (other forms: <span class="eg">мала</span>, <span class="eg">мало</span>, <span class="eg">малы</span>). 
</p>
<p>
For the adjective <span class="eg">большой</span> <span class="egt">big</span>, the word <span class="eg">велик</span> (other forms: <span class="eg">велика</span>, <span class="eg">велико</span>, <span class="eg">велики</span>) is used as the short form.
</p>
<p>
The adjective <span class="eg">рад</span> <span class="egt">glad, happy</span> (other forms: <span class="eg">рада</span>, <span class="eg">рады</span>) exists only in short form. 
</p>



<h3 class="page-p">See also</h3>


<p>
- <a href="russian-adjectives-declension.html">Declension of Russian adjectives</a><br>
- <a href="adjectives-short-exercises.html">Exercises: Short forms of adjectives</a><br>
</p>



<br><br><br><br><br><br>


<script type="text/javascript">
currentSection="grammar";
</script>


