<% @page_title = 'Comparative adjective :: Study Russian Online' %>
<% @page_meta = {'description' => "Information about Comparative adjective in Russian: simple and compound froms"} %>

<% content_for :special_js_css do %>
<style type="text/css">
h2.page {
margin-bottom: 0px;
}
</style>
<% end %>

<h2 class="page">Comparative adjective in Russian</h2>

<h3 class="page-path">
<span class="int-links"><a href="/russian-grammar.html">Russian grammar</a>  <span class="int-arrow">--&gt;</span> Comparative adjective</span>
</h3>

<p>
<dfn>Russian comparative adjectives</dfn> come in a <strong>compound form</strong>, which is used attributively, and a <strong>simple form</strong>, which is used predicatively.
</p>


<h3 class="page-p">Simple forms</h3>

<h4 class="page-pp">Usage</h4>

<p>
Simple comparative forms are used predicatively. The simple comparative form do not decline. 
</p>
<div class="ex-block-simple">
<strong>Иван умнее, чем Лариса.</strong> Ivan is smarter than Larisa.
</div>


<h4 class="page-pp">Formation</h4>

<p>
The simple comparative form of adjective consists of one word. It is formed by dropping the gender ending of the long form adjective (e.g. -ый, -ая, -ое) and adding to the resulting stem the ending -<span class="eg">ee</span>. The simple comparative form does not decline.  
</p>

<div class="ex-block-simple">
<span class="exs-or">красив<u>ый</u> - красив<u>ее</u></span> &nbsp;<span class="egt">pretty - prettier</span> 
</div>

<p>
In adjectives whose stem consists of only one syllable, the stress is usually on the first <span class="eg">е</span> of the ending.
</p>

<p>
If the stem of the adjective ends in <span class="eg">г</span>, <span class="eg">к</span>, <span class="eg">х</span>, or <span class="eg">д</span>, <span class="eg">т</span>, <span class="eg">ст</span>, this stem consonant undergoes an alternation and a single single -<span class="eg">е</span> (not -<span class="eg">ee</span>) is added to form the comparative.
</p>

<p>
The alternations of the final consonant include: 
</p>

<p>
1. If the stem ends in -<span class="eg">г</span>, -<span class="eg">к</span>, -<span class="eg">х</span>, the final consonant is replaced by  -<strong>ж</strong>, -<strong>ч</strong>, -<strong>ш</strong>, respectively.
<p>

<div class="ex-block-simple">
<span class="exs-or">доро<u>г</u>ой - доро<u>ж</u>е</span> expensive - more expensive <br>
<span class="exs-or">гром<u>к</u>ий - гром<u>ч</u>е</span> loud - louder <br>
<span class="exs-or">ти<u>х</u>ий - ти<u>ш</u>е</span> quiet  - more quiet
</div>	

<p>
2. If the stem ends in the cluster -<span class="eg">ст</span>, this cluster is replaced by  -<strong>щ</strong>.
</p>

<div class="ex-block-simple">
<span class="exs-or">про<u>ст</u>ой - про<u>щ</u>е</span> simple - more simple  <br>
<span class="exs-or">тол<u>ст</u>ый - тол<u>щ</u>е</span> thick - thicker 
</div>

<p>
Irregular Comparative Forms
</p>

<div>
<span class="eg">близкий</span> <span class="egt">close</span>  - <span class="eg">ближе</span><br>
<span class="eg">большой</span> <span class="egt">big</span> - <span class="eg">больше</span><br>
<span class="eg">высокий</span> <span class="egt">tall</span> - <span class="eg">выше</span><br>
<span class="eg">глубокий</span> <span class="egt">deep</span>  - <span class="eg">глубже</span><br>
<span class="eg">далёкий</span> <span class="egt">far</span>  - <span class="eg">дальше</span><br>
<span class="eg">дешёвый</span> <span class="egt">inexpensive</span>  - <span class="eg">дешевле</span><br>
<span class="eg">долгий</span> <span class="egt">long</span>  - <span class="eg">дольше</span><br>
<span class="eg">короткий</span> <span class="egt">short</span>  - <span class="eg">короче</span><br>
<span class="eg">лёгкий</span> <span class="egt">easy</span>  - <span class="eg">легче</span><br>
<span class="eg">молодой</span> <span class="egt">young</span>  - <span class="eg">моложе</span> (or <span class="eg">младше</span>)<br>
<span class="eg">поздний</span> <span class="egt">late</span>  - <span class="eg">позже</span> (or <span class="eg">позднее</span>)<br>
<span class="eg">ранний</span> <span class="egt">early</span>  - <span class="eg">раньше</span><br>
<span class="eg">редкий</span> <span class="egt">rare</span>  - <span class="eg">реже</span><br>
<span class="eg">сладкий</span> <span class="egt">sweet</span>  - <span class="eg">слаще</span><br>
<span class="eg">старый</span> <span class="egt">old</span> - <span class="eg">старше</span> (or <span class="eg">старее</span>)<br>
<span class="eg">широкий</span> <span class="egt">wide</span>  - <span class="eg">шире</span>
</div>


<p>
And adjectives that change their stem in comparative: 
</p>
<div>
<span class="eg">хороший</span> <span class="egt">good</span> - <span class="eg">лучше</span><br>
<span class="eg">плохой</span> <span class="egt">bad</span> - <span class="eg">хуже</span><br>
<span class="eg">маленький</span> <span class="egt">small</span>  - <span class="eg">меньше</span>
</p>



<h3 class="page-p">Comparative compound form </h3>

<h4 class="page-pp">Usage</h4>

<p>
The compound form of the comparative degree must be used when the comparative is used attributively. The compound comparative form is necessary when the adjective must be declined.
</p>


<!-- add examples -->


<h4 class="page-pp">Formation</h4>
<p>
The formation of the compound form comparative is relatively simple.
</p>
<p>
The compound form consists of two words:  the word <span class="eg">бóлее</span> <span class="egt">more</span> or <span class="eg">мéнее</span> <span class="egt">less</span> used as an auxiliary, and the long form of adjective that agrees in gender, number and case with the modified noun. 
</p>

<div class="ex-block-simple">
<span class="exs-or">красивый - более красивый</span> &nbsp;&nbsp;pretty - prettier <br>
<span class="exs-or">дорогой - более дорогой</span> &nbsp;&nbsp;expensive - more expensive <br>
<span class="exs-or">тихий - более тихий</span> &nbsp;&nbsp;quiet  - more quiet<br>
<span class="exs-or">громкий - менее громкий</span> &nbsp;&nbsp;loud - less loud 
</div>


<!-- p>
The following adjectives do not have compound comparative form: 
</p>

<div>
<span class="eg">большой</span> <span class="egt">big</span>  <br>
<span class="eg">маленький</span> <span class="egt">small</span>    <br>
<span class="eg">плохой</span> <span class="egt">bad</span>  <br>
<span class="eg">хороший</span> <span class="egt">good</span>   
</div -->

<!-- add examples -->


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<script type="text/javascript">
currentSection="grammar";
</script>
