<% @page_title = 'Study Russian Online: Present Tense of Russian Verbs' %>
<% @page_meta = {'description' => "Information about the Present Tense of Russian Verbs"} %>


<% content_for :special_js_css do %>
<style type="text/css">
h2.page {
margin-bottom: 0px;
}


</style>
<% end %>


<h2 class="page">Present Tense of Russian Verbs
<span class="int-links"><a href="additional.html">Additional info</a> <span class="int-arrow">--></span>  Present Tense</span>
</h2>



<p>
The past tense is generally used to express actions occuring before the time of speaking or writing. In Russian, the past tense is formed by using  
special endings.
</p>

<h3 class="page-p">Uses of the Past Tense</h3>

The meaning of the past tense form depends on whether the verb is imperfective or perfective.




<h3 class="page-p">Verb Endings in the Past Tense</h3>

<p>Russian past tense verbs agree with their subjects in gender and number. The table below represents regular endings of Russian vebs in the past tense:
</p>


<table class="st-table" align="center" cellspacing="0" style="margin: 0 auto">
	<tr style="vertical-align: middle;">

		<th>Gender</th>
		<th style="padding-left: 30px; padding-right: 30px;">Singular</th>

		<th style="padding-left: 30px; padding-right: 30px;" class="thbrd">Plural</th>
	</tr>
	<tr >
		<td class="case-name">Masculine</td>
		<td>-л</td>
		<td rowspan="3" valign="middle">-ли</td>
	</tr>
	<tr >
		<td class="case-name">Feminine</td>
		<td>-ла</td>
	</tr>
	<tr>
		<td class="case-name">Neuter</td>
		<td>-ло</td>
	</tr>
	
</table>


<h3 class="page-p">Verb Forms in the Past Tense</h3>
 
 
 <p>
 The above-mentioned endings are added to the past tense stem of the verb. 
 The present tense stem of most Russian verbs can be defined by dropping the ending -ть from their infinitive.
 Thus, the past tense stem of the first conjugation verb работать is работа-. Below, you can see the past tense forms of this verb: 
 </p>
 
 <table class="st-table" align="center" cellspacing="0" style="margin: 0 auto">
	<tr style="vertical-align: middle;">

		<th>Gender</th>
		<th style="padding-left: 30px; padding-right: 30px;">Singular</th>

		<th style="padding-left: 30px; padding-right: 30px;" class="thbrd">Plural</th>
	</tr>
	<tr >
		<td class="case-name">Masculine</td>
		<td>работал</td>
		<td rowspan="3" valign="middle">работали</td>
	</tr>
	<tr >
		<td class="case-name">Feminine</td>
		<td>работала</td>
	</tr>
	<tr>
		<td class="case-name">Neuter</td>
		<td>работало</td>
	</tr>
	
</table>


 
 

<br><br><br><br><br><br>





