<% @page_title = 'Study Russian Online: Gender in Russian' %>
<% @page_meta = {'description' => "Gender is a grammatical category used in Russian for the classification of nouns, pronouns, adjectives and certain verb forms into three classes: masculine, feminine and neuter. The gender of nouns manifests itself in singular forms of different cases and it determines the endings of adjectives, pronouns, adjective-like words and past-tense forms of verbs in a phrase."} %>




<h2 class="page">Gender in Russian
<span class="int-links"><a href="additional.html">Additional info</a> <span class="int-arrow">--&gt;</span> Gender in Russian </span>

</h2>
<p>
<dfn>Gender</dfn> is a grammatical category used in Russian for the classification of nouns, pronouns, adjectives and certain verb forms into three classes: <em>masculine, feminine and neuter</em>. This classification may be arbitrary or based on characteristics such as sex and <a href="russian-animate-inanimate.html">animacy</a> and it determines selection of grammatical forms and agreement with modifiers and referents.  
</p>
<p>
Gender is mainly relevant for nouns, since it is an integral grammatical characteristic of each noun. Every noun belongs originally to one of the three classes (masculine, feminine or neuter) and each of these classes has its own grammatical features related to the words endings and forms of modifiers (adjectives, pronouns etc.). A noun keeps its grammatical gender in all of its forms and never changes it. 
</p>
<p>
The vast majority of nouns in Russian have gender according to the ending of their citation form (<a href="russian-nominative-case.html">nominative case</a> form), given in the dictionary, and their meaning plays no role here. Thus, Russian nouns generally have specific word endings for masculine (generally, nouns ending in a hard consonant and <span class="eg">-й</span>), feminine (endings <span class="eg">-a</span> and <span class="eg">-я</span>) and neuter (endings <span class="eg">-о</span> and <span class="eg">-е</span>). In a small number of instances, however, gender-specific word endings do not conform to grammatical gender of nouns, or nouns may have no gender-specific endings. (<strong>See also: <a href="russian-nouns-gender.html">Gender of Russian nouns</a></strong>) 

</p>

<div class="egdiv">
<h4>Examples: </h4>
<p>
<span class="eg">кофе</span> <span class="egt">cofee</span> – this Russian word ends in <span class="eg">-e</span> which is an ending specific for neuter, but this word is grammatically masculine. <br/><br/>
<span class="eg">пенальти</span> <span class="egt">penalty kick</span> - this Russian word ends in <span class="eg">–и</span> which is not a gender-specific ending, it is grammatically masculine. 

</p>
</div>
<p>
As for animate nouns, their grammatical gender usually coincides with the biological gender of their referents. For example, the word <span class="eg">брат</span> <span class="egt">brother</span> is grammatically masculine and denotes a masculine person, the word <span class="eg">мама</span> <span class="egt">mom</span> is grammatically feminine and refers to a feminine person. However, in some cases, grammatical gender and biological gender do not coincide. It may happen, for instance, with some nouns denoting professions or occupations that are grammatically masculine, but may refer both to men and to women. 
</p>

<div class="egdiv">

<h4>Examples: </h4>
<p>
Мария <u>архитектор</u>. – Maria is an architect. 
</p>
<p>
The word <span class="eg">архитектор</span> <span class="egt">architect</span> is masculine, but refers to a woman.
 </p>
</div>

 <p>
In Russian, there is also a particular group of words called <dfn>nouns of common gender</dfn>. These are nouns ending in <span class="eg">–a</span> or <span class="eg">–я</span> (endings specific for feminine) that are used in a phrase either as masculine or as feminine depending on the biological gender of their referent. For example: 

<div class="egdiv">
<h4>Examples: </h4>
<p>
Мария <u>моя новая</u> коллега. – Maria is my new colleague.

</p>
<p>
In this phrase, the word <span class="eg">коллега</span> <span class="egt">colleague</span> refers to a woman, and, for this reason, its modifiers <span class="eg">моя</span> <span class="egt">my</span> and <span class="eg">новая</span> <span class="egt">new</span> are in the feminine form. 

</p>
<p>
Николай <u>мой новый</u> коллега. – Nikolai is my new colleague. 
</p>
<p>
In this phrase, the word <span class="eg">коллега</span> <span class="egt">colleague</span> refers to a man, and, for this reason, its modifiers <span class="eg">мой</span> <span class="egt">my</span> and <span class="eg">новый</span> <span class="egt">new</span> are in the feminine form.
 </p>

</div>


 <p>
In Russian, the grammatical gender of a noun may formally manifest itself inside the word (morphologically) through specific endings of singular forms in different cases (except indeclinable nouns), or outside the word (syntactically) through forms of its modifiers (adjectives, pronouns, ordinal numerals etc.). However, in plural, there are no gender-specific word endings or forms of modifiers. 
</p>
<p>
For adjectives, pronouns, adjective-like words, and some verb forms (past-tense forms) grammatical gender is a category that shows in phrase the relationship between these words and the related noun in singular. These words have specific forms for masculine, feminine and neuter, and the choice of a gender-specific form will depend on the grammatical gender of the noun they modify or refer to. To put it differently, adjectives, pronouns, adjective-like words, and some verb forms express in singular the same gender as the noun, generally by adding a special ending for masculine, feminine and neuter. Notice that in plural these words will have the same endings for all genders. 
</p>
<p>

<div class="egdiv">
<h4>Examples: </h4>
</p>
<p>

Это <u>была интересная</u> книга. – It was an interesting book. 
</p>
<p>
The verb <span class="eg">была</span> <span class="egt">was</span> and the adjective <span class="eg">интересная</span> <span class="egt">interesting</span> have gender specific endings (<span class="eg">-a</span> for the verb and <span class="eg">–ая</span> for the adjective), because they refer to the feminine noun книга. 

</p>
<p>
Это <u>был интересный</u> фильм. – It was an interesting film. 
</p>
<p>
The verb <span class="eg">был</span> <span class="egt">was</span> and the adjective <span class="eg">интересный</span> <span class="egt">interesting</span> have gender specific endings (no ending or zero ending for the verb and <span class="eg">–ый</span> for the adjective), because they refer to the masculine noun <span class="eg">фильм</span> <span class="egt">film</span>.

</p>
<p>
Это <u>былo интересное</u> представление. – It was an interesting performance.
</p> 
<p>
The verb <span class="eg">былo</span> <span class="egt">was</span> and the adjective <span class="eg">интересное</span> <span class="egt">interesting</span> have gender specific endings (<span class="eg">-о</span> for the verb and <span class="eg">–ое</span> for the adjective), because they refer to the neuter noun <span class="eg">представление</span> <span class="egt">performance</span>.

</p>
<p>
BUT! 
</p>
<p>
Это <u>были интересные</u> книги. – These were interesting books. <br>
Это <u>были интересные</u> фильмы. – These were interesting films. <br>
Это <u>были интересные</u> представления. – These were interesting performances. <br>

</p>
<p>
In all phrases, verbs and adjectives are in plural and have the same endings (<span class="eg">-и</span> for the verbs and <span class="eg">–ые</span> for the adjectives), whichever the gender of nouns is. 
</p>
</div>

<h3>Summary:</h3> 
<ul class="summary-list" >
	<li>

		There are three genders in Russian: masculine, feminine and neuter, and all Russian nouns have gender.
	</li>
	<li>
		In the vast majority of instances, the grammatical gender of a noun may be determined by its ending of the form given in dictionaries (citation form).
	</li>
	<li>
		The grammatical gender of animate nouns and the biological gender of their referents usually coincide. However, they may be different, like in nouns denoting professions or nouns of common gender. 
	</li>
	<li>
		The grammatical gender of Russian nouns manifests itself in singular forms of different cases, not in plural, and it determines the endings of adjectives, pronouns, adjective-like words and past-tense forms of verbs in a phrase.
	</li>

</ul>







