<% @page_title = 'Study Russian Online: Instrumental case of Russian nouns' %>
<% @page_meta = {'description' => "Information for those who start to study Russian: Instrumental case of Russian nouns."} %>



<h2 class="page">Instrumental case of Russian nouns
<span class="int-links"><a href="additional.html">Additional info</a> <span class="int-arrow">--></span> <a href="russian-cases.html">Russian cases</a> <span class="int-arrow">--></span> Instrumental Case</span>

</h2>

<p>
See also: <a href="russian-cases.html">Russian Cases</a>, <a href="russian-nouns-declension.html">Russian Nouns Declension</a>
</p>

<p>
<em><strong>Basic meaning</strong></em>
</p>
<p>
The <strong>instrumental case</strong> is a set of word forms which usually mark the means of the action, like the English preposition "with" in phrase "he is writing with a pen". 

</p>
<p>
<strong><em>Uses of the Instrumental</em></strong>
</p>
<p>
1. <strong>To indicate an instrument to carry out the action</strong>.
</p>
<p>
<em>For example: </em> 
</p>
<p>
Студент пишет <u>ручкой</u>. – The student is writing <u>with a pen</u>.

</p>
<p>
The word <em>ручкой</em> (with a pen) is the instrumental case form of the word <em>ручка</em> (pen) and indicates the instrument to carry out the action <em>писать</em> (to write).
</p>
<p>
2. In a Passive voice construction, <strong>to indicate the author of the action</strong>. 

</p>
<p>
Работа сделана <u>студентом</u>. – The work has been done <u>by the student</u>. 
</p>
<p>
The word <em>студентом</em> (by the student) is the instrumental case form of the word <em>студент</em> (student) and indicates the author of the action <em>сделать</em> (to do).

</p>
<p>
3. <strong>After certain verbs</strong>: 
</p>
<p>
<em>быть</em> - to be
<em>называться</em> - to be called, to assume the name<br>
<em>становиться</em> - to become<br>

<em>являться</em> - to be, to serve as<br>
<em>управлять</em> - to govern<br>
<em>увлекаться</em> - to take a great interest (in smth.)<br>
<em>восхищаться</em> - to admire 
</p>
<p>

4. <strong>After certain prepositions</strong>:
</p>
<p>
<em>за</em> - behind<br>
<em>между</em> - between<br>
<em>над</em> - above<br>

<em>перед</em>  - in front of, before<br>
<em>под</em> - under<br>
<em>с</em> - with <br>
</p>
<p>
5. <strong>With parts of the day and seasons of the year</strong> in expressions like: 

</p>
<p>
<em>утром</em> - in the morning<br>
<em>днём</em> - in the afternoon<br>
<em>весной</em> - in spring<br>
<em>летом</em> - in summer<br>

</p>


<p class="ital" style="padding-top: 20px;"><strong>You can find more examples of word forms in instrumental singular and instrumental plural on the page <a href="russian-nouns-declension.html" title="Russian nouns declension">Russian nouns declension</a></strong></p>

