<% @page_title = 'Study Russian Online: Dative case of Russian nouns' %>
<% @page_meta = {'description' => "Information for those who start to study Russian: Dative case of Russian nouns."} %>


<h2 class="page">Dative case of Russian nouns
<span class="int-links"><a href="additional.html">Additional info</a> <span class="int-arrow">--></span> <a href="russian-cases.html">Russian cases</a> <span class="int-arrow">--></span> Dative Case</span>

</h2>

<p>
See also: <a href="russian-cases.html">Russian Cases</a>, <a href="russian-nouns-declension.html">Russian Nouns Declension</a>
</p>

<p>
<em><strong>Basic meaning</strong></em>
</p>
<p>
The <strong>dative case</strong> is a set of word forms that are generally used to show the receiver of the action, like the English preposition "to" in the phrase "they are giving this book to Ann". 

</p>
<p>
<em><strong>Uses of the Dative</strong></em>
</p>
<p>
1. <strong>To show the receiver of the action</strong>, most often an indirect object in the sentence.
</p>

<div class="egdiv">
<h4>Example: </h4>
<p>
Я даю журнал <u>студенту</u>. – I'm giving the magazine <u>to the student</u>.
</p>
<p>
The word <em>студенту</em> (to the student) is the dative case form of the word <em>студент</em> (student) and indicates the receiver of the action (give).
</p>
</div>

<p>
Usually, the dative case is required after verbs which mean giving something, speaking and communicating: 
</p>
<p>
<em>говорить</em> – to tell <br>

<em>давать</em> – to give <br>
<em>разрешать</em> – to allow <br>
<em>помогать</em> – to help<br>
<em>звонить</em> – to call, to phone <br>
<em>приносить</em> – to bring<br>

</p>

<div class="egdiv">
<h4>Examples: </h4>
<p>
Я разрешаю <u>студенту</u>. – I allow to the student. <br>
Я помогаю <u>студенту</u>. – I help the student. <br>
Я звоню <u>студенту</u>. – I phone to the student. <br>
</p>
</div>

<p>
2. <strong>In impersonal constructions</strong> that describe an emotional or physical states the dative case is used to indicate the person affected by this state. (see also: <a href="russian-impersonal-constructions.html">Impersonal constructions</a>)
</p>

<div class="egdiv">
<h4>Example: </h4>
<p>
<u>Студенту</u> скучно. – <u>The student</u> feels bored. 
</p>
<p>
The word <em>студенту</em> (to the student) is the dative case form of the word <em>студент</em> (student) and indicates  the person affected by an emotional state (bored).
</p>
</div>


<p>
3. <strong>After prepositions</strong>: 
</p>
<p>
<em>к</em> – towards, to<br>

<em>по</em> – along <br>
<em>благодаря</em> - thanks to <br>
<em>вопреки</em> - in spite of, despite <br>
<em>навстречу</em> - towards, to meet <br>
<em>подобно</em> - likewise <br>

<em>согласно</em> - in accordance with <br>
</p>

<p class="ital" style="padding-top: 20px;"><strong>You can find more examples of word forms in dative singular and dative plural on the page <a href="russian-nouns-declension.html" title="Russian nouns declension">Russian nouns declension</a></strong></p>





