<% @page_title = 'Study Russian Online: Russian Reflexive Pronouns' %>
<% @page_meta = {'description' => "Information about Russian Reflexive pronouns: definition, peculiarities of usage, declension patterns."} %>


<% content_for :special_js_css do %>
<%= stylesheet_link_tag 'stylesounds' %>

<style type="text/css">

table.st-table {
margin: 10px auto;
}

table.st-table th {
padding: 8px 8px;
}

.gend-tds td {
font-style: italic;
}

.eng-pron td {
font-size: 11px;
font-style: italic;
font-weight: bold;
}

h2.page {
margin-bottom: 0px;
}

.pron-list {
list-style-type: circle;
}

.pron-list li {
margin: 15px 0;
}


</style>

<% end %>

<h2 class="page">Russian Reflexive Pronouns</h2>
<h3 class="page-path">
<span class="int-links"><a href="/russian-grammar.html">Russian grammar</a>  <span class="int-arrow">--&gt;</span> Reflexive Pronouns </span>
</h3>
<p>
<dfn>Reflexive pronouns</dfn> are words used to refer back to previously mentioned nouns and pronouns, most often to the subject of the sentence. In Russian, this function is generally performed by pronouns <strong>себя</strong>, <strong>свой</strong> and <strong>друг друга</strong>. 
</p>
<h3 class="page-p">Reflexive pronoun <em>себя</em></h3>
<p>
The reflexive pronoun <span class="eg">себя</span> refers back to persons or objects performing an action affecting themselves. Most often, the pronoun <span class="eg">себя</span> refers to the subject of the sentence, but it can also refer to other parts of the sentence.
</p>
<div class="egdiv">
<h4>Examples: </h4>
<p>Она довольна <u>собой</u>. - She is pleased with <u>herself</u>. </p>
<p>Я знал людей всегда довольных <u>собой</u>. I knew people always pleased with <u>themselves</u>.</p>
</div>
<p>
The reflexive pronoun <span class="eg">себя</span> does not occur in the nominative case and does not change for gender and number. 
</p>
<table class="st-table" cellspacing="0" align="center">
	<col width="100"><col width="150">
	<tr style="vertical-align: middle;">
		<th >Case</th>
		<th style="padding-top: 8px; padding-bottom: 8px;" class="thbrd">Себя</th>
	</tr>
	<tr class="trow">
		<td class="case-name">Nom</td>
		<td>--</td>
	</tr>
	<tr class="trow">
		<td class="case-name">Gen</td>
		<td>себя</td>
	</tr>
	<tr class="trow">
		<td  class="case-name">Dat</td>
		<td>себе</td>
	</tr>
	<tr class="trow">
		<td class="case-name">Acc</td>
		<td>себя</td>
	</tr>
	<tr class="trow">
		<td class="case-name">Ins</td>
		<td>собой</td>
	</tr>
	<tr class="trow">
		<td class="case-name">Prep</td>
		<td>себе</td>
	</tr>
</table>
<p>
The reflexive pronoun may occur together with the word <span class="eg">сам</span> which will agree in gender and number of the noun the reflexive pronoun refers to.
</p>
<div class="egdiv">
<h4>Example: </h4>
<p>Я сама себя не узнаю. - I can't believe it's me (feminine). literally: I don't recognize myself. </p>
</div>
<p>The pronoun <span class="eg">себя</span> is used in different idiomatic expressions: </p>
<div style="margin-left: 30px;">
<span class="eg">брать с собой</span> - to take along <br>
<span class="eg">представлять себе</span> - to imagine <br>
<span class="eg">вести себя</span> - to behave <br>
<span class="eg">чувствовать себя</span> - to feel <br>
<span class="eg">быть самим собой</span> - to remain oneself, to be true to oneself <br>
<span class="eg">выйти из себя</span> - to loose one's temper <br>
<span class="eg">не по себе</span> - not to feel well <br>
<span class="eg">само собой (разумеется)</span> - that goes without saying <br>
<span class="eg">так себе</span> - so-so, middling <br>
<span class="eg">говорить от себя</span> - to speak on one's own, to express one’s own opinion <br>
<span class="eg">ничего себе</span> - not so bad 
</div>

<h3 class="page-p">Pronoun <em>свой</em> </h3>
<p>
The pronoun <span class="eg">свой</span>, called <em>reflexive possessive pronoun</em>, means <span class="egt">one's own</span> and reflects the ownership to the subject of the verb in a sentence or a clause. (See also: <a href="/russian-possessive-pronouns.html">Russian Possessive Pronouns</a> )
</p>
<h3 class="page-p">Pronoun <em>друг друга</em> </h3>
<p>
The pronoun <span class="eg">друг друга</span>, called <em>reciprocal pronoun</em>, adds the meaning of reciprocity of an action and corresponds to English <span class="egt">each other/one another</span>. It consists of two parts: the first indeclinable part <span class="eg">друг</span> and the second part <span class="eg">друга</span> which declines and takes the case required by the verb, adjective or preposition. 
If a preposition occurs, it is placed between the two parts. 
</p>
<p>
The table below represents the declension of this pronoun with and without a preposition.
</p>
<table class="st-table" cellspacing="0" align="center">
	<col width="100"><col width="150">
	<tr style="vertical-align: middle;">
		<th >Case</th>
		<th style="padding-top: 8px; padding-bottom: 8px;" class="thbrd">Себя</th>
	</tr>
	<tr class="trow">
		<td class="case-name">Nom</td>
		<td>--</td>
	</tr>
	<tr class="trow">
		<td class="case-name">Gen</td>
		<td>друг друга <br>
			друг от друга
		</td>
	</tr>
	<tr class="trow">
		<td  class="case-name">Dat</td>
		<td>
			друг другу <br>
			друг к другу
		</td>
	</tr>
	<tr class="trow">
		<td class="case-name">Acc</td>
		<td>друг друга <br>
			друг про друга
		</td>
	</tr>
	<tr class="trow">
		<td class="case-name">Ins</td>
		<td>друг другом <br>
			друг с другом
		</td>
	</tr>
	<tr class="trow">
		<td class="case-name">Prep</td>
		<td>друг о друге
		</td>
	</tr>
</table>


<br><br><br><br><br><br><br><br><br><br><br>


<script type="text/javascript">
currentSection="grammar";
</script>


