<% @page_title = 'Degrees of Comparison :: Study Russian Online' %>
<% @page_meta = {'description' => "General information about Comparison Degrees of Russian adjectives"} %>

<% content_for :special_js_css do %>
<% end %>

<h2 class="page">Degrees of Comparison</h2>

<h3 class="page-path">
<span class="int-links"><a href="/russian-grammar.html">Russian grammar</a>  <span class="int-arrow">--&gt;</span> Degrees of Comparison</span>
</h3>
<p>
There are three degrees of comparison in Russian: <strong>positive</strong>, <strong>comparative</strong> and <strong>superlative</strong>. 
</p>
<p>
The posititive degree simply descibes a quality. Adjectives are given in dictionaries in positive degree. 
</p>
<p>
The comparative degree: the adjective compares the qualities of two nouns. 
</p>
<p>
The superlative degree is the form of an adjective which denotes that something has a quality to a greater degree than anything. 
</p>
<p>
Comparative and superlative forms of adjectives are created by adding an ending to the stem (simple comparative and simple superlative) or with help of special adverbs, equivalent of English "more" and "most" (compound comparative and compound superlative)
</p> 




<br><br><br><br><br><br>

<script type="text/javascript">
currentSection="grammar";
</script>
