<% @page_title = 'Study Russian Online: Dative case of Russian nouns' %>
<% @page_meta = {'description' => "Information for those who start to study Russian: Dative case of Russian nouns."} %>

<% content_for :special_js_css do %>
<style type="text/css">
h2.page {
margin-bottom: 0px;
}
</style>
<% end %>


<h2 class="page">Dative case of Russian nouns
</h2>

<h3 class="page-path"> 
<span class="int-links"><a href="/russian-grammar.html">Russian grammar</a> <span class="int-arrow">--></span> <a href="russian-cases.html">Russian cases</a> <span class="int-arrow">--></span> Dative Case</span>
</h3>



<p>
The <strong>dative case</strong> is a set of word forms that are generally used to show the receiver of the action, like the English preposition "to" in the phrase "they are giving this book to Ann". 
</p>


<h3 class="page-p">Uses of the Dative</h3>

<p>
1. <strong>To show the receiver of the action</strong>, most often an indirect object in the sentence.
</p>

<div class="egdiv">
<h4>Example: </h4>
<p>
Я даю журнал <u>студенту</u>. – I'm giving the magazine <u>to the student</u>.
</p>
<p>
The word <em>студенту</em> (to the student) is the dative case form of the word <em>студент</em> (student) and indicates the receiver of the action (give).
</p>
</div>

<p>
Usually, the dative case is required after verbs which mean giving something, speaking and communicating: 
</p>
<p>
<em>говорить</em> – to tell <br>

<em>давать</em> – to give <br>
<em>разрешать</em> – to allow <br>
<em>помогать</em> – to help<br>
<em>звонить</em> – to call, to phone <br>
<em>приносить</em> – to bring<br>

</p>

<div class="egdiv">
<h4>Examples: </h4>
<p>
Я разрешаю <u>студенту</u>. – I allow to the student. <br>
Я помогаю <u>студенту</u>. – I help the student. <br>
Я звоню <u>студенту</u>. – I phone to the student. <br>
</p>
</div>

<p>
2. <strong>In impersonal constructions</strong> that describe an emotional or physical states the dative case is used to indicate the person affected by this state. (see also: <a href="russian-impersonal-constructions.html">Impersonal constructions</a>)
</p>

<div class="egdiv">
<h4>Example: </h4>
<p>
<u>Студенту</u> скучно. – <u>The student</u> feels bored. 
</p>
<p>
The word <em>студенту</em> (to the student) is the dative case form of the word <em>студент</em> (student) and indicates  the person affected by an emotional state (bored).
</p>
</div>


<p>
3. <strong>After prepositions</strong>: 
</p>
<p>
<em>к</em> – towards, to<br>

<em>по</em> – along <br>
<em>благодаря</em> - thanks to <br>
<em>вопреки</em> - in spite of, despite <br>
<em>навстречу</em> - towards, to meet <br>
<em>подобно</em> - likewise <br>

<em>согласно</em> - in accordance with <br>
</p>


<h3 class="page-p">Formation</h3>


<p>Here we provide general rules how to form dative case forms from nominative singular forms. These rules cover the vast majority of Russian nouns. 
However, you should be aware that rules described below may have other exceptions. 

<h4 class="page-pp">Dative case endings</h4>

<p>The table below represents regular endings for singular and plural dative case forms: 


<table class="st-table" cellspacing="0" align="center" style="margin: 0 auto;"> 
	<tr style="vertical-align: middle;"> 
 
		<th style="min-width: 120px;">Gender</th> 
		<th style="min-width: 120px;">Singular</th> 
		<th style="min-width: 120px;" class="thbrd">Plural</th>  
	</tr> 
	<tr class="trow"> 
		<td class="case-name">Masculine</td> 
		<td>-у / -ю</td> 
		<td rowspan="3" valign="middle">  -ам / -ям </td> 
 
	</tr> 
	<tr class="trow"> 
		<td class="case-name">Feminine</td> 
		<td> -е / -и</td> 

	</tr> 
	<tr class="trow"> 
		<td class="case-name">Neuter</td> 
		<td> -у /-ю </td> 

	</tr> 
</table> 

<p>
Below, you will find detailed information about dative singular and plural forms of masculine, feminine and neuter nouns.
</p>

<h4 class="page-pp">Dative singular</h4>

<p class="ital bold">Masculine nouns</p>

<p>1. Nouns ending in a consonant add the ending -<span class="letter">у</span>: </p>
<div class="egdiv">
<h4>Examples:</h4>
<p><em>театр - театру</em> (theater)</p>
<p><em>парк - парку</em> (park)</p>
</div>

<p>
2. Nouns ending in -<span class="letter">ь</span> and -<span class="letter">й</span>  change their final letters to -<span class="letter">ю</span>:
</p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>музей - музею</em> (museum)</p>
<p><em>писатель - писателю</em> (writer)</p>
</div>

<p>
3. Masculine nouns ending in -<span class="letter">a</span>/-<span class="letter">я</span> (see: <a href="russian-nouns-gender.html#masc">Masculine nouns</a>) form the dative case forms following the rules for feminine nouns (see below).
</p>

<p class="ital bold">Feminine nouns</p>

<p>1. Nouns ending in -<span class="letter">а</span> change their ending to -<span class="letter">e</span>: </p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>улица - улице</em>  (street)</p>
<p><em>проблема - проблеме</em> (problem)</p>
</div>
<p>
2. Nouns ending in -<span class="letter">я</span> and in -<span class="letter">ь</span>, except nouns ending in -<span class="letter">ея</span> and -<span class="letter">ья</span>, change -<span class="letter">я</span> and -<span class="letter">ь</span> to -<span class="letter">и</span>: 
</p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>неделя - недели</em> (week)</p>
<p><em>дверь - двери</em> (door)</p>
<p><em>станция - станции</em> (station)</p>
</div>
<p>
3. Nouns ending in -<span class="letter">ея</span> and -<span class="letter">ья</span> change -<span class="letter">я</span> to -<span class="letter">е</span>:
</p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>идея - идее</em> (idea)</p>  
<p><em>семья - семье</em> (family)</p>
</div>


<p class="ital bold">Neuter nouns</p>

<p>
1. Nouns ending in -<span class="letter">o</span> change their ending to -<span class="letter">у</span>: 
</p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>окно - окну</em> (window)</p>
<p><em>кресло - креслу</em> (arm-chair)</p>
</div>


<p>2. Nouns ending in -<span class="letter">е</span> change their ending to -<span class="letter">ю</span>:</p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>море - морю</em> (sea)</p>
<p><em>здание - зданию</em> (building)</p>
</div>

<p>3. Nouns ending in -<span class="letter">мя</span> (see: <a href="russian-nouns-gender.html#mya_nouns">Neuter nouns ending in -<strong>мя</strong></a>) change -<span class="letter">я</span>  to -<span class="letter">ени</span>:</p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>имя - имени</em> (name)</p>
<p><em>время - времени</em> (time)</p>
</div>




<h4 class="page-pp">Dative plural</h4>

<p class="ital bold">Masculine nouns</p>

<p>1. Nouns ending in a consonant add the ending -<span class="letter">ам</span>: </p>
<div class="egdiv">
<h4>Examples:</h4>
<p><em>театр - театрам</em> (theater)</p>
<p><em>парк - паркам</em> (park)</p>
</div>

<p>
2. Nouns ending in -<span class="letter">ь</span> and -<span class="letter">й</span>  change their final letters to -<span class="letter">ям</span>:
</p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>музей - музеям</em> (museum)</p>
<p><em>писатель - писателям</em> (writer)</p>
</div>

<p>
3. Masculine nouns ending in -<span class="letter">a</span>/-<span class="letter">я</span> (see: <a href="russian-nouns-gender.html#masc">Masculine nouns</a>) form the dative case forms following the rules for feminine nouns (see below).
</p>

<p class="ital bold">Feminine nouns</p>

<p>1. Nouns ending in -<span class="letter">а</span> change their ending to -<span class="letter">ам</span>: </p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>улица - улицам</em>  (street)</p>
<p><em>проблема - проблемам</em> (problem)</p>
</div>
<p>
2. Nouns ending in -<span class="letter">я</span> and in -<span class="letter">ь</span> change -<span class="letter">я</span> and -<span class="letter">ь</span> to -<span class="letter">ям</span>: 
</p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>неделя - неделям</em> (week)</p>
<p><em>дверь - дверям</em> (door)</p>
<p><em>станция - станциям</em> (station)</p>
<p><em>идея - идеям</em> (idea)</p>  
<p><em>семья - семьям</em> (family)</p>
</div>


<p class="ital bold">Neuter nouns</p>

<p>
1. Nouns ending in -<span class="letter">o</span> change their ending to -<span class="letter">ам</span>: 
</p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>окно - окнам</em> (window)</p>
<p><em>кресло - креслам</em> (arm-chair)</p>
</div>


<p>2. Nouns ending in -<span class="letter">е</span> change their ending to -<span class="letter">ям</span>:</p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>море - морям</em> (sea)</p>
<p><em>здание - зданиям</em> (building)</p>
</div>

<p>3. Nouns ending in -<span class="letter">мя</span> (see: <a href="russian-nouns-gender.html#mya_nouns">Neuter nouns ending in -<strong>мя</strong></a>) change -<span class="letter">я</span>  to -<span class="letter">енам</span>:</p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>имя - именам</em> (name)</p>
<p><em>время - временам</em> (time)</p>
</div>



<h3 class="page-p">See also</h3>


<p>
- <a href="russian-cases.html">Russian Cases</a><br>
- <a href="russian-nouns-declension.html">Russian Nouns Declension</a><br>
- <a href="nouns-dative-exercises.html">Exercises: Dative case of Russian nouns</a><br>
</p>

<p class="ital" style="padding-top: 20px;"><strong>You can find more examples of word forms in dative singular and dative plural on the page <a href="russian-nouns-declension.html" title="Russian nouns declension">Russian nouns declension</a></strong></p>


<script type="text/javascript">
currentSection="grammar";
</script>


