<% @page_title = 'Study Russian Online: Russian ordinal numerals' %>
<% @page_meta = {'description' => "Information about Russian ordinal numerals: formation"} %>


<% content_for :special_js_css do %>
<style type="text/css">
h2.page {
margin-bottom: 0px;
}

table.numb-list {
margin: 0 auto;
}

table.numb-list td {
line-height: 18px;
text-align: left;
padding: 10px;
font-size: 11px;
background-color: #fff;
}

table.numb-list th {
text-align: left;
font-size: 10px;
}

table.numb-list td.numb_string {
padding: 10px 15px 10px 10px;
font-style: italic;
}

.numb-form {
padding-left: 30px;
}

.numb-form li {
padding-top: 5px;
padding-bottom: 5px;
}


</style>
<% end %>


<h2 class="page">Russian ordinal numerals
<span class="int-links"><a href="/russian-grammar.html">Russian grammar</a>  <span class="int-arrow">--></span> Ordinal numerals</span>

</h2>


<p>

Ordinal numerals are words used to indicate the position of an object in a sequential order. Russian ordinal numerals, numerals первый first and второй second, are derived from the corresponding cardinal numerals.
See tables below representing simple ordinal numerals:
</p>


<table  class="st-table numb-list" cellspacing="0" align="center">
  <tr>
    <th>Number</td>
    <th >Ordinal numeral</th>
    <th>Number</th>
    <th class="thbrd">Ordinal numeral</th>
  </tr>
  <tr>
    <td>
      1<br>
      2<br>
      3<br>
      4<br>
      5<br>
      6<br>
      7<br>
      8<br>
      9&nbsp;
    </td>
    <td class="numb_string">
      первый<br>
      второй<br>
      третий<br>
      четвертый<br>
      пятый<br>
      шестой<br>
      седьмой<br>
      восьмой<br>
      девятый<br>
    </td>
    <td>
      11<br>
      12<br>
      13<br>
      14<br>
      15<br>
      16<br>
      17<br>
      18<br>
      19
    </td>
    <td class="numb_string">
      одиннадцатый<br>
      двенадцатый<br>
      тринадцатый<br>
      четырнадцатый<br>
      пятнадцатый<br>
      шестнадцатый<br>
      семнадцатый<br>
      восемнадцатый<br>
      девятнадцатый&nbsp;
      <br>
    </td>
	</tr>
</table>	

<p>
Notice that the first part of simple numerals over 40 is a numeral (from 2 to 9) in a genitive case form:
</p>	
	
	
<table  class="st-table numb-list" cellspacing="0" align="center">
  <tr>
    <th>Number</td>
    <th >Ordinal numeral</th>
    <th>Number</th>
    <th class="thbrd">Ordinal numeral</th>
  </tr>
  <tr>
    <td>
      10<br>
      20<br>
      30<br>
      40<br>
      50<br>
      60<br>
      70<br>
      80<br>
      90
    </td>
    <td class="numb_string">
      десятый<br>
      двадцатый<br>
      тридцатый<br>
      сороковой<br>
      пятидесятый<br>
      шестидесятый<br>
      семидесятый<br>
      восьмидесятый<br>
      девяносто
    </td>
    <td >
      100<br>
      200<br>
      300<br>
      400<br>
      500<br>
      600<br>
      700<br>
      800<br>
      900
    </td>
    <td class="numb_string">
	  сотый<br>
      двухсотый<br>
      трёхсотый<br>
      четырёхсотый<br>
      пятисотый<br>
      шестисотый<br>
      семисотый<br>
      восьмисотый<br>
      девятисотый
    </td>
  </tr>
</table>

<p>
Numerals <span class="eg">тысяча</span> <span class="egt">thousand</span>, <span class="eg">милллион</span> and <span class="egt">million</span>.
</p>
<p>
Other numerals are compounds formed by two or more words written separately.
</p>

<div class="egdiv">
<h4>Examples: </h4>
<p>
53 - <span class="eg">пятьдесят три</span>
</p>
<p>
4137 - <span class="eg">четыре тысячи сто тридцать семь</span>
</p>

</div>
<br>

<p>You can also see the list of Rusian cardinal numerals with audio samples and stresses on the following pages:<br>
</p>
<p>
- <a  href="numerals00-100.html">Cardinal numbers from 0 to 100</a> (with audio and stresses)<br> 
- <a href="numerals100.html">Cardinal numbers more than 100</a> (with audio and stresses) <br>
</p>

<br><br><br><br><br>

<script type="text/javascript">
currentSection="grammar";
</script>
