<% @page_title = 'Study Russian Online: Russian Determinative Pronouns' %>
<% @page_meta = {'description' => "Information about Russian determinative pronouns: definition, peculiarities of usage, declension patterns."} %>


<% content_for :special_js_css do %>
<%= stylesheet_link_tag 'stylesounds' %>

<style type="text/css">

table.st-table {
margin: 10px auto;
}

table.st-table th {
padding: 8px 8px;
}

.gend-tds td {
font-style: italic;
}

.eng-pron td {
font-size: 11px;
font-style: italic;
font-weight: bold;
}

h2.page {
margin-bottom: 0px;
}

.pron-list {
list-style-type: circle;
}

.pron-list li {
margin: 15px 0;
}


</style>

<% end %>

<h2 class="page">Russian Determinative Pronouns</h2>

<h3 class="page-path">
<span class="int-links"><a href="/russian-grammar.html">Russian grammar</a>  <span class="int-arrow">--&gt;</span> Determinative Pronouns </span>
</h3>

<p>
<dfn>Determinative pronouns</dfn> are words used to emphasize nouns and pronouns. Their function is to define one or more objects in a class of similar ones. 
In Russian, this group of pronouns includes the words <strong>сам</strong>, <strong>самый</strong>, <strong>весь</strong>, <strong>всякий</strong>, <strong>каждый</strong>, <strong>иной</strong>, <strong>любой</strong>, <strong>другой</strong>, <strong>всяк</strong>, <strong>всяческий</strong>.
</p>

<h3 class="page-p">Russian determinative pronouns</h3>

<p>In Russian, the following determinative pronouns are used: </p>


<ul class="pron-list">

	<li> 
		<span class="eg">сам</span>: it corresponds to English pronouns ending in <em>-self</em>. It is used to emphasize a noun or a pronoun in a phrase or sentence.
	</li>
	<li>
		<span class="eg">самый</span>: it  corresponds to English <span class="egt">the very</span> in expressions like "the very same" or "at the very end". It is used to precise a point in space or time.
	</li>
	<li>
		<span class="eg">весь</span>: it corresponds to English words <span class="egt">the whole</span> , <span class="egt">entire</span>, <span class="egt">all</span>  when used as a modifier of a noun. If it is used as a subject or an object, it corresponds to English <span class="egt">everyone/everybody</span> (if the plural form is used) or <span class="egt">everything</span> (if the neuter singular form is used). 
	</li>
	<li>
		<span class="eg">каждый</span>: it corresponds to English <span class="egt">each, every</span>. 
	</li>
	<li>
		<span class="eg">любой</span>: it corresponds to English <span class="egt">any</span>, <span class="egt">anyone</span>.
	</li>
	<li>
		<span class="eg">другой</span>: it corresponds to English <span class="egt">another</span>.
	</li>
	<li>
		<span class="eg">всякий</span>: it corresponds to English <span class="egt">any</span> or <span class="egt">every</span>. This pronoun may be used as a synonyme to the words <span class="eg">каждый</span> and <span class="eg">любой</span>. It has a short archaic form <span class="eg">всяк</span>.
	</li>
	<li>
		<span class="eg">иной</span>: it corresponds to English <span class="egt"> another</span>, <span class="egt">other</span>.
	</li>
	<li>
		<span class="eg">всяческий</span>: it correspond to English <span class="egt">all kinds of</span>.
	</li>
</ul>


<h3 class="page-p">Declension of Russian determinative pronouns</h3>

<p>
Russian determinative pronouns agree in gender, number and case of nouns they modify. In other words, they decline, and their behavior in a phrase or sentence is similar to the behavior of adjectives. 
</p>

<p>
The tables below represent the complete declensions of Russian determinative pronouns <span class="eg">сам</span> and <span class="eg">весь</span>. 

Notice that they reflect the animacy of the modified nouns and obey the <a href="russian-animate-inanimate.html#rule_an-in">declension rule of animate/inanimate referents</a> in the accusative forms. 
</p>




<h3 style="text-align: center;">Сам</h3>

<table class="st-table" cellspacing="0" align="center">
	<tr style="vertical-align: middle;">
		<th rowspan="2">Case</th>
		<th colspan="3">Singular</th>

		<th rowspan="2" style="padding-left: 30px; padding-right: 30px;" class="thbrd">Plural</th>
	</tr>
	<tr class="second-th gend-tds" style="vertical-align: middle;">
		<td>masculine</td>
		<td>&nbsp;neuter&nbsp;</td>
		<td>feminine</td>
	</tr>

	<tr class="trow">
		<td class="case-name">Nom</td>
		<td>сам</td>
		<td>само</td>
		<td>сама</td>
		<td>сами</td>

	</tr>
	<tr class="trow">
		<td class="case-name">Gen</td>
		<td colspan="2">самого</td>
		<td>самой</td>
		<td>самих</td>
	</tr>

	<tr class="trow">
		<td class="case-name">Dat</td>
		<td colspan="2">самому</td>
		<td>самой</td>
		<td>самим</td>
	</tr>
	<tr class="trow">

		<td class="case-name">Acc</td>
		<td><em>Nom/Gen</em></td>
		<td>само</td>
		<td>саму</td>
		<td><em>Nom/Gen</em></td>
	</tr>

	<tr class="trow">
		<td class="case-name">Ins</td>
		<td colspan="2">самим</td>
		<td>самой</td>
		<td>самими</td>
	</tr>
	<tr class="trow">

		<td class="case-name">Prep</td>
		<td colspan="2">самом</td>
		<td>самой</td>
		<td>самих</td>
	</tr>
</table>


<h3 style="text-align: center;">Весь</h3>


<table class="st-table" cellspacing="0" align="center">
	<tr style="vertical-align: middle;">
		<th rowspan="2">Case</th>
		<th colspan="3">Singular</th>

		<th rowspan="2" style="padding-left: 30px; padding-right: 30px;" class="thbrd">Plural</th>
	</tr>
	<tr class="second-th gend-tds" style="vertical-align: middle;">
		<td>masculine</td>
		<td>&nbsp;neuter&nbsp;</td>
		<td>feminine</td>
	</tr>

	<tr class="trow">
		<td class="case-name">Nom</td>
		<td>весь</td>
		<td>всё</td>
		<td>вся</td>
		<td>все</td>

	</tr>
	<tr class="trow">
		<td class="case-name">Gen</td>
		<td colspan="2">всего</td>
		<td>всей</td>
		<td>всех</td>
	</tr>

	<tr class="trow">
		<td class="case-name">Dat</td>
		<td colspan="2">всему</td>
		<td>всей</td>
		<td>всем</td>
	</tr>
	<tr class="trow">

		<td class="case-name">Acc</td>
		<td><em>Nom/Gen</em></td>
		<td>всего</td>
		<td>всю</td>
		<td><em>Nom/Gen</em></td>
	</tr>

	<tr class="trow">
		<td class="case-name">Ins</td>
		<td colspan="2">всем</td>
		<td>всей</td>
		<td>всеми</td>
	</tr>
	<tr class="trow">
		<td class="case-name">Prep</td>
		<td colspan="2">всём</td>
		<td>всей</td>
		<td>всех</td>
	</tr>
</table>



<p>
The declension of determinative pronouns <span class="eg">самый</span>, <span class="eg">каждый</span>, <span class="eg">любой</span>, <span class="eg">иной</span> is similar to the <a href="/russian-adjectives-declension.html#hs-adj">declension of hard-stem adjectives</a>.
</p>
<p>
The declension of determinative pronouns <span class="eg">другой</span>, <span class="eg">всякий</span>, <span class="eg">всяческий</span> is similar to the <a href="/russian-adjectives-declension.html#gkh-adj">declension of adjectives with stem ending in -г, -к, -х</a>.
</p>





<br><br><br><br><br><br><br><br><br><br><br><br><br><br>


<script type="text/javascript">
currentSection="grammar";
</script>


