<% @page_title = 'Study Russian Online: Genitive case of Russian nouns' %>
<% @page_meta = {'description' => "Information for those who start to study Russian: Genitive case of Russian nouns."} %>


<% content_for :special_js_css do %>
<style type="text/css">
h2.page {
margin-bottom: 0px;
}
</style>
<% end %>

<h2 class="page">Genitive case of Russian nouns
</h2>

<h3 class="page-path"> 
<span class="int-links"><a href="/russian-grammar.html">Russian grammar</a> <span class="int-arrow">--></span> <a href="russian-cases.html">Russian cases</a> <span class="int-arrow">--></span> Genitive Case</span>
</h3>

<p style="display: none">
<strong><em>Basic meaning</em></strong>
</p>
<p>
The <strong>genitive case</strong> is a set of word forms (in singular and plural) the basic function of which is to show a possessor, like the English preposition "of" in the phrase "the book of the student". 

</p>
<h3 class="page-p">Uses of the Genitive</h3>

<p>
1. <strong>To show a possession</strong>. In general, possession is shown by putting the possessor or the object one belongs to in the genitive case form.
</p>


<div class="egdiv">
<h4>Example: </h4>
<p>
Это сумка <u>Марии</u>. – This is <u>Maria's</u> bag.
</p>
<p>
The word <em>Марии</em> (Maria's) is the genitive case form of the word <em>Мария</em> (Maria) and indicates the possessor of an object (bag). 
</p>
</div>
<p>
Talking about the genitive and the ways to designate a possession, it would be worthwhile to mention a prepositional construction which is commonly used for expressing ownership in Russian. This construction requires the preposition <em>у</em> (by) followed by a genitive case form. This construction may use the verb <em>есть</em> (literally: there is, there are), but its presence is not always required. The verb is the most frequently used if this construction emphasizes the existence of an object. If this construction emphasizes a new information about some features (like color, size, quantity etc) of the possessed object, the verb will most likely be absent. 
</p>

<div class="egdiv">
<h4>Examples: </h4>
<p>

<u>У Марии есть</u> машина. – <u>Maria has</u> a car. <em>literally:</em> By Maria there is a car. <br> 
<u>У Марии</u> красная машина. – <u>Maria has</u> a red car. <em>literally:</em> By Maria a red car.  

</p>
</div>

<p>
At the same time, the Russian language has an equivalent of the English verb "to have" – <em>иметь</em>, but its range of usage is much more restricted than the above mentioned construction.
</p>
<p>
2. <strong>With quantity words and cardinal numerals</strong>. 
</p>
<p>
a) after quantity words, like <em>много</em> (many, much), <em>мало</em> (a few, not much), <em>несколько</em> (several), and words indicating a package or a measure, like "bottle", "cup", "gram", "meter" etc. 
</p>

<div class="egdiv">
<h4>Examples: </h4>
<p>
В чашке мало <u>молока</u>. – There is not much <u>milk</u> in the cup.
</p>
<p>
The word <em>молока</em> (milk) is the genitive case form of the word <em>молоко</em> (milk) and it is used after quantity word <em>мало</em> (not much).
</p>

<p>
В этом городе много <u>памятников</u>. – There are a lot of <u>monuments</u> in this town. 
</p>
<p>
The word <em>памятников</em> (of monuments) is the genitive case form of the word <em>памятники</em> (monuments) and it is used after quantity word <em>много</em> (many, a lot of).
</p>
</div>
<p>
b) after cardinal numerals. This is a complicated use of Russian cases, because cardinal numerals may decline themselves, which may influence on the case form of the following words. However, in simple phrases, cardinal numerals are often followed by the genitive case, and you should devote attention to the following situations: 
</p>
<p>
- numerals 2, 3, 4 and numerals ending with 2, 3, 4 (e.g. 23, 43, 54) are followed by the genitive singular form. 
</p>

<div class="egdiv">
<h4>Example: </h4>
<p>
В этой комнате 2 <u>лампы</u>. – There are 2 <u>lamps</u> in this room.
</p>
<p>
The word <em>лампы</em> (lamps) is the genitive singular form of the word <em>лампа</em> (lamp).
</p>
</div>
<p>
- 5 and upwards (except numerals mentioned above) are followed by the genitive plural form. 
</p>

<div class="egdiv">
<h4>Example: </h4>
<p>
У меня есть 10 <u>долларов</u>. – I have 10 <u>dollars</u>.
</p>
<p>
The word <em>долларов</em> (dollars) is the genitive plural form of the word <em>доллар</em> (dollar).
</p>
</div>


<p>
3. <strong>In the construction with the word <em>нет</em> meaning "there is not/there are not"</strong>
</p>


<div class="egdiv">
<h4>Examples: </h4>
<p>
В этой комнате нет <u>телевизора</u>. – There is no <u>TV set</u> in this room. 
</p>
<p>
The word <em>телевизора</em> (TV set) is the genitive case form of the word <em>телевизор</em> (TV set) and it is used in the construction with the word <em>нет</em>.
</p>
<p>
У меня нет <u>детей</u>. – I have no <u>children</u>. 
</p>
<p>
The word <em>детей</em> (children) is the genitive case form of the word <em>дети</em> (children) and it is used in the construction with the word <em>нет</em>.
</p>
</div>
<p>
4. <strong>After negated transitive verbs</strong>. 
</p>

<div class="egdiv">
<h4>Example: </h4>
<p>
Он не читает <u>газет</u>. – He does not read <u>newspapers</u>. 
</p>
<p>
The word <em>газет</em> (newspapers) is the genitive plural form of the word <em>газета</em> (newspaper) and it is used after negated transitive verb <em>читает</em> (read).
</p>
</div>

<p>
However, this rule frequently does not apply, and the nouns after negated transitive verbs are often in the accusative case form, particularly in conversational Russian. Thus, it is also possible to say "Он не читает газеты", where the word <em>газеты</em> (newspapers) is the accusative plural form of the word <em>газета</em> (newspaper).
</p>
<p>
5. <strong>For food and drinks nouns meaning "some"</strong>: 
</p>

<div class="egdiv">
<h4>Examples: </h4>
<p>
Ты хочешь <u>молока</u>? - Would you like <u>some milk</u>? 
</p>
<p>
The word <em>молока</em> (milk) is the genitive case form of the word <em>молоко</em> (milk).
</p>
<p>
Мне нужно купить <u>хлеба</u>. – I need to buy <u>some bread</u>.  
</p>
<p>
The word <em>хлеба</em> (bread) is the genitive case form of the word <em>хлеб</em> (bread).
</p>
</div>

<p>
6.<strong> After a large number of prepositions</strong>, the most frequent of which are: 
</p>
<p>
без – without <br>

для – for <br>
из – from <br>
кроме - except <br>
около – near/approximately <br>
после – after <br>
</p>


<h3 class="page-p">Formation</h3>


<p>Here we provide general rules how to form genitive case forms from nominative singular forms. These rules cover the vast majority of Russian nouns. 
However, you should be aware that rules described below may have other exceptions. 

<h4 class="page-pp">Genitive case endings</h4>

<p>The table below represents regular endings for singular and plural genitive case forms: 


<table class="st-table" cellspacing="0" align="center" style="margin: 0 auto;"> 
	<tr style="vertical-align: middle;"> 
 
		<th style="min-width: 120px;">Gender</th> 
		<th style="min-width: 120px;">Singular</th> 
		<th style="min-width: 120px;" class="thbrd">Plural</th>  
	</tr> 
	<tr class="trow"> 
		<td class="case-name">Masculine</td> 
		<td>-а / -я</td> 
		<td> -ов / -ев / -ей / Ø</td> 
 
	</tr> 
	<tr class="trow"> 
		<td class="case-name">Feminine</td> 
		<td> -ы / -и</td> 
		<td>  Ø / -ей</td> 
 
	</tr> 
	<tr class="trow"> 
		<td class="case-name">Neuter</td> 
		<td> -а / -я</td> 
		<td>Ø / -ей </td> 
 
	</tr> 
</table> 

<p>
Below, you will find detailed information about genitive singular and plural forms of masculine, feminine and neuter nouns.
</p>

<h4 class="page-pp">Genitive singular</h4>

<p class="ital bold">Masculine nouns</p>

<p>
1. Nouns ending in a consonant add the ending -<span class="letter">а</span>: 
</p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>театр - театра</em> (theater)</p>
<p><em>парк - парка</em> (park)</p>
</div>

<p>
2. Nouns ending in -<span class="letter">й</span> and  -<span class="letter">ь</span> change the final letters to -<span class="letter">я</span>:
</p>
<div class="egdiv">
<h4>Examples:</h4>
<p><em>музей - музея</em> (museum)</p>
<p><em>писатель - писателя</em> (writer)</p>
</div>
<p>
3. Masculine nouns ending in -<span class="letter">a</span>/-<span class="letter">я</span> (see: <a href="russian-nouns-gender.html#masc">Masculine nouns</a>) form the genitive case forms following the rules for feminine nouns (see below).
</p>


<p class="ital bold">Feminine nouns</p>

<p>
1. Nouns ending in -<span class="letter">а</span> should change the final -<span class="letter">а</span> to -<span class="letter">ы</span>. 
However, following the <a href="russian-spelling-rules.html#rule_1">Spelling rule №1</a> nouns ending -<span class="letter">жа</span>, -<span class="letter">чa</span>, -<span class="letter">ща</span>, -<span class="letter">ша</span> and -<span class="letter">ка</span>, -<span class="letter">ха</span>, -<span class="letter">га</span> can not have the ending -<span class="letter">ы</span>, and take the ending -<span class="letter">и</span>.
</p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>улица - улицы</em>  (street)</p>
<p><em>проблема - проблемы</em> (problem)</p>
<p>BUT:</p>

<p><em>книга - книги</em> (book)</p> 
<p><em>открытка - открытки</em> (post card)</p>
<p><em>кожа - кожи</em>  (leather)</p>

</div>

<p>
2. Nouns ending in -<span class="letter">я</span> and in -<span class="letter">ь</span> change the final -<span class="letter">я</span> and -<span class="letter">ь</span> to -<span class="letter">и</span>: 
</p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>неделя - недели</em> (week)</p>
<p><em>дверь - двери</em> (door)</p>
<p><em>станция - станции</em> (station)</p>
</div>

<p class="ital bold">Neuter nouns</p>

<p>
1. Nouns ending in -<span class="letter">o</span> change their ending to -<span class="letter">а</span>: 
</p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>окно - окна</em> (window)</p>
<p><em>кресло - кресла</em> (arm-chair)</p>
</div>


<p>2. Nouns ending in -<span class="letter">е</span> change their ending to -<span class="letter">я</span>:</p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>море - моря</em> (sea)</p>
<p><em>здание - здания</em> (building)</p>
</div>

<p>3. Nouns ending in -<span class="letter">мя</span> (see: <a href="russian-nouns-gender.html#mya_nouns">Neuter nouns ending in -<strong>мя</strong></a>)  change -<span class="letter">я</span>  to -<span class="letter">ени</span>:</p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>имя - имени</em> (name)</p>
<p><em>время - времени</em> (time)</p>
</div>

 
<h4 class="page-pp">Genitive plural</h4>

 
 <p class="ital bold">Masculine nouns</p>

<p>
1. Nouns ending in a consonant, except those ending -<span class="letter">ж</span>, -<span class="letter">ч</span>, -<span class="letter">щ</span>, -<span class="letter">ш</span> (see below),  add the ending -<span class="letter">ов</span>: 
</p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>театр - театров</em> (theater)</p>
<p><em>парк - парков</em> (park)</p>
</div>

<p>
2. Nouns ending in -<span class="letter">й</span> change their final letter to -<span class="letter">ев</span>:
</p>
<div class="egdiv">
<h4>Examples:</h4>
<p><em>музей - музеев</em> (museum)</p>
<p><em>санаторий - санаториев</em> (sanatorium)</p>
</div>
<p>


<p>
3. Nouns ending in the soft sign (<span class="letter">ь</span>) and -<span class="letter">ж</span>, -<span class="letter">ч</span>, -<span class="letter">щ</span>, -<span class="letter">ш</span> add the ending -<span class="letter">ей</span> (the soft sign will disapper):
</p>


<div class="egdiv">
<h4>Examples:</h4>
<p><em>писатель - писателей</em> (writer)</p>
<p><em>пляж - пляжей</em> (beach)</p>
<p><em>врач - врачей</em> (doctor)</p>
<p><em>карандаш - карандашей</em> (pencil)</p>
</div>
<p>

<p>
4. A few masculine nouns have the genitive plural form equal to the nominative singular, i.e. they have zero ending.  
</p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>глаз - глаз</em> (eye)</p>
<p><em>солдат - солдат</em> (soldier)</p>
</div>

5. Masculine nouns ending in -<span class="letter">a</span>/-<span class="letter">я</span> (see: <a href="russian-nouns-gender.html#masc">Masculine nouns</a>) form the genitive plural forms following the rules for feminine nouns (see below).
</p>


<p class="ital bold">Feminine nouns</p>

<p>
1. Nouns ending in -<span class="letter">а</span>  drop this final vowel. In other words, they have zero ending: 
</p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>улица - улиц</em>  (street)</p>
<p><em>проблема - проблем</em> (problem)</p>
<p><em>книга - книг</em> (book)</p> 
</div>

<p>Note that nouns with a stem ending in two (or more) consonants need a fleeting vowel (-<span class="letter">o</span>- or -<span class="letter">e</span>-) which is inserted before the last consonant.
In most instances (but not always!), -<span class="letter">e</span>- is inserted if the stem end in <span class="eg">ж/ш/ч/ц/щ/ + consonant</span> or <span class="eg">a soft consonant + consonant</span>,
 and -<span class="letter">о</span>- is used if the stem ends in another combination of consonants.

</p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>студентка - студенток</em>  (female student)</p>
<p><em>открытка - открыток</em>  (post card)</p>
<p><em>ручка - ручек</em> (pen) - the stem <em>ручк</em> ends in <span class="eg">ч + consonant </span> </p>
<p>
	<em>песня - песен</em> (song) - the stem <em>песн</em> ends ends in <span class="eg">[s'] + consonant</span>, i.e. soft consonant + consnonant
</p>
</div>


<p>
2. Nouns ending in -<span class="letter">я</span> drop this final vowel, and add the soft sign (if their stem ends in a consonant) or -<span class="letter">й</span> (nouns ending in -<span class="letter">ея</span> and -<span class="letter">ия</span>). These nouns are considered to have zero ending.
</p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>неделя - недель</em> (week)</p>
<p><em>идея - идей</em> (idea)</p>
<p><em>станция - станций</em> (station)</p>
</div>


<p>3. Nouns ending in a soft sign drop the soft sign and add the ending -<span class="letter">ей</span></p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>площадь - площадей</em> (square)</p>
<p><em>дверь - дверей</em> (door)</p>
</div>



<p class="ital bold">Neuter nouns</p>

<p>
Most neuter nouns have zero ending: they drop the final letter to form the genitive plural. Neuter nouns that have the stem ending in two (or more) consonants need a fleeting vowel (-<span class="letter">o</span>- or -<span class="letter">e</span>-) which is inserted before the last consonant. The vowel -<span class="letter">о</span>- is inserted if the stress falls on the fleeting vowel, and -<span class="letter">e</span>- is used if the stress falls somewhere else in the stems:  
</p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>слово - слов</em> (word)</p>
<p><em>дело - дел</em> (work, business, affair) </p>
<p><em>окно - окон</em> (window) - the fleeting vowel is stressed</p>
<p><em>письмо - писем</em> (letter) - the stress falls on the first syllable of the stem</p>
<p><em>кресло - кресел</em> (armchair) - the stress falls on the first syllable of the stem)</p>
</div>


<p>2. Nouns ending in <span class="letter">consonnat + e</span> change their ending to -<span class="letter">ей</span>:</p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>море - морей</em> (sea)</p>
<p><em>поле - полей</em> (building)</p>
</div>

<p>3. Nouns ending in -<span class="letter">ие</span> change the ending -<span class="letter">ие</span> to -<span class="letter">ий</span>:</p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>здание - зданий </em> (building)</p>
<p><em>упражнение - упражнений</em> (exercise)</p>
</div>

<p>4. Nouns ending in -<span class="letter">мя</span> (see: <a href="russian-nouns-gender.html#mya_nouns">Neuter nouns ending in -<strong>мя</strong></a>) change their ending to -<span class="letter">мён</span>:</p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>имя - имён </em> (name)</p>
<p><em>время - времён</em> (exercise)</p>
</div>

<br>

<h3 class="page-p">See also</h3>

<p>
- <a href="russian-cases.html">Russian Cases</a><br>
- <a href="russian-nouns-declension.html">Russian Nouns Declension</a><br>
- <a href="nouns-genitive-singular-exercises.html">Exercises: Genitive singular forms of Russian nouns</a><br>
- <a href="nouns-genitive-plural-exercises.html">Exercises: Genitive plural forms of Russian nouns</a><br>

</p>



<p class="ital" style="padding-top: 20px;"><strong>You can find more examples of word forms in genitive singular and genitive plural on the page <a href="russian-nouns-declension.html" title="Russian nouns declension">Russian nouns declension</a></strong></p>


<script type="text/javascript">
currentSection="grammar";
</script>



