<% @page_title = 'Study Russian Online: Present Tense of Russian Verbs' %>
<% @page_meta = {'description' => "Information about the Present Tense of Russian Verbs"} %>


<% content_for :special_js_css do %>
<style type="text/css">
h2.page {
margin-bottom: 0px;
}


</style>
<% end %>


<h2 class="page">Present Tense of Russian Verbs
<span class="int-links"><a href="additional.html">Additional info</a> <span class="int-arrow">--></span>  Present Tense</span>
</h2>



<p>
The present tense is generally used to express actions occuring at the time of speaking or writing. In Russian, the present tense is formed by using  
special endings. Only imperfective Russian verbs can form the present tense. 
</p>

<h3 class="page-p">Uses of the Present Tense</h3>

In Russian, the present tense forms of verbs may describe: 
<p>
- events happening now: <em>She is sleeping(now)</em>. <br>
- habitual actions: <em>I read (every day)</em>. <br>
- general facts of the truth:<em> Russia shares borders with Norway and Finland</em>.<br>
- actions that have begun in the past and continue through the present: <em>I have been reading (for two hours)</em>.<br>
</p>




<h3 class="page-p">Verb Endings in the Present Tense</h3>

<p>Russian present tense verbs agree with their subjects in person and number. Russian verbs have two conjugation patterns for the present tense that are called first conjugation and second conjugation. 
These conjugation patterns differ by vowel used in the endings. The table below represents regular endings of Russian vebs in the present tense:
</p>



<table class="st-table" cellspacing="0" align="center" style="margin: 0 auto"> 
	<tr style="vertical-align: middle;"> 
		<th >Person</th> 
		<th >Subject</th> 
		<th >1st Conjugation</th> 
		<th style="padding-top: 8px; padding-bottom: 8px;" class="thbrd">2nd Conjugation</th> 
	</tr>
	<tr > 
		<td colspan="4" style="font-size: 11px; font-weight: bold;"> Singular</td>
	</tr>	
 
	<tr class="trow"> 
		<td class="case-name">1st Person</td> 
		<td class="case-name">Я</td> 
		<td> -ю (-у)</td> 
		<td>-ю (-у)</td> 
	</tr> 
	
	<tr class="trow"> 
		<td class="case-name">2nd Person</td>
		<td class="case-name">Ты</td> 
		<td>-ешь/-ёшь</td> 
		<td>-ишь</td> 

	</tr> 
	<tr class="trow"> 
		<td class="case-name">3d Person</td>
		<td  class="case-name">Он, она, оно</td> 
		<td>-ет/-ёт</td> 
		<td>-ит</td> 

 
	</tr> 
	<tr> 
		<td colspan="4" style="font-size: 11px; font-weight: bold;"> Plural</td>
	</tr>
	<tr class="trow"> 
		<td class="case-name">1st Person</td>
		<td class="case-name">Мы</td> 
		<td>-ем/-ём</td> 
		<td>-им</td> 
	</tr> 
	<tr class="trow"> 
		<td class="case-name">2nd Person</td>
		<td class="case-name">Вы</td> 
		<td>-ете/-ёте</td> 
		<td>-ите</td>  
	</tr> 
	<tr class="trow"> 
		<td class="case-name">3d Person</td>
		<td class="case-name">Они</td> 
		<td>-ют (-ут)</td> 
		<td>-ят (-ат)</td> 
	</tr> 
</table> 

<p>
In the first singular forms and the third plural forms, the endings -у, -ут, -aт are used depending on two factors:
<br><br>
		&nbsp;&nbsp;&nbsp;- if the present tense stem ends in a hard consonant.<br>

		&nbsp;&nbsp;&nbsp;- if the <a href="/russian-spelling-rules.html#rule_2">spelling rule №2</a> will apply, i.e. after consonants  <span class="letter">ж</span>, <span class="letter">ч</span>, <span class="letter">ш</span>, <span class="letter">щ</span>.

<p>

<p>
The first conjugation verbs use endings with the letter <span class="eg">ё</span> (-<span class="eg">ёшь</span>, -<span class="eg">ёт</span>, -<span class="eg">ём</span>, -<span class="eg">ёте</span>) if the stress falls on the ending.
</p>


<h3 class="page-p">Verb Forms in the Present Tense</h3>
 
 
 
 
<p>Usually, the conjugation type of a verbs can be defined by its infinitive. Infinitives of most first conjugation verbs have the ending in -<span class="eg">ать</span>/-<span class="eg">ять</span>, and infinitives of second conjugation verbs 
often end in -<span class="eg">ить</span>. However, this is not true for all Russian verbs: some Russian verbs of the first conjugation end in -<span class="eg">ить</span>, like the verb <span class="eg">жить</span> <span class="egt">to live</span>, 
and some verbs of the second conjugation end in -<span class="eg">ать</span>, like <span class="eg">слашать</span> <span class="egt">to hear</span>. 
That is why a consultation with dictionary may be required to ascertain the conjugation type of a Russian verb.
</p>

<p>The above-mentioned endings should be added to the <em>present tense stem</em> of the verb. In fact, the determination of the present tense stem is the most important and difficult moment in conjugation of Russian verbs. 
 The formation of the present tense stem of Russian verbs will be discussed  in greater detail in articles devoted to Russian verbs conjugation. Below, 
 we are going to provide just general guidelines.

</p> 

<p>
The present tense stem is, of course, related to the infinitive of the verb. For example, 
there are many Russian verbs of the first conjugation type whose present tense stem can be defined by dropping the ending -<span class="eg">ть</span> from their infinitive, 
and many verbs of the second conjugation type have the present tense stem which is formed by dropping -<span class="eg">ить</span> from the infinitive.
Thus, the present tense stem of the first conjugation verb <span class="eg">работать</span> is <strong>работа</strong>-, and the stem of the second conjugation verb <span class="eg">говорить</span> is <strong>говор</strong>-. Below, you 
can see the present tense forms of these verbs:
</p>



<table class="st-table" cellspacing="0" align="center" style="margin: 0 auto"> 
	<tr style="vertical-align: middle;"> 
		<th >&nbsp;</th> 
		<th >работать<br> (1st conjuagtion)</th> 
		<th style="padding-top: 8px; padding-bottom: 8px;" class="thbrd">говорить <br> (2nd сonjugation)</th> 
	</tr>
	<tr class="trow"> 
		<td class="case-name">stem</td> 
		<td>понима-</td> 
		<td>говор-</td>  
	</tr>	
 
	<tr class="trow"> 
		<td class="case-name">Я</td> 
		<td>понима<span class="end">ю</span></td> 
		<td>говор<span class="end">ю</span></td> 
	</tr> 
	
	<tr class="trow"> 
		<td class="case-name">Ты</td> 
		<td>понима<span class="end">ешь</span></td> 
		<td>говор<span class="end">ишь</span></td> 

	</tr> 
	<tr class="trow"> 
		<td  class="case-name">Он, она, оно</td> 
		<td>понима<span class="end">ет</span></td> 
		<td>говор<span class="end">ит</span></td> 
	</tr> 
	<tr class="trow"> 
		<td class="case-name">Мы</td> 
		<td>понима<span class="end">ем</span></td> 
		<td>говор<span class="end">им</span></td> 
	</tr> 
	<tr class="trow"> 
		<td class="case-name">Вы</td> 
		<td>понима<span class="end">ете</span></td> 
		<td>говор<span class="end">ите</span></td>  
	</tr> 
	<tr class="trow"> 
		<td class="case-name">Они</td> 
		<td>понима<span class="end">ют</span></td> 
		<td>говор<span class="end">ят</span></td> 
	</tr> 
</table>

<p>
At the same time, there are also many Russian verbs that do not match this model, and it is not easy to define their present tense stem from their infinitive. Plus, 
a lot of verbs incur alternations of the final stem consonant, especially verbs of the second conjugation in the first singular person. 
Moreover, certain verbs have a shifting stress,  for example, in some present forms the stress falls on their endings while in other forms the the stress falls on the stem of the verb.
</p>
<p>
Let's take a look of such "particular" verbs: the first conjugation 
verb <span class="eg">жить</span> <span class="egt">to live</span> (it is the 1st conjugation type in spite of the fact that it ends in -<span class="eg">ить</span>) and the second conjugation verb <span class="eg">любить</span> <span class="egt">to love</span>. The verb <span class="eg">жить</span> has the present tense stem
<span class="eg">жив</span>- in all persons and takes streessed endings. The feature of the verb <span class="eg">любить</span> is that its stem has an additional letter -<span class="eg">л</span>- in the first singular person, and the stress falls either on the ending 
(in the 1st singular) or on the stem (in all other forms):
</p>

<table class="st-table" cellspacing="0" align="center" style="margin: 0 auto"> 
	<tr style="vertical-align: middle;"> 
		<th >&nbsp;</th> 
		<th >жить<br> (1st conjuagtion)</th> 
		<th style="padding-top: 8px; padding-bottom: 8px;" class="thbrd">любить <br> (2nd сonjugation)</th> 
	</tr>
	<tr class="trow"> 
		<td class="case-name">stem</td> 
		<td>жив-</td> 
		<td>люб(л)-</td>  
	</tr>	
 
	<tr class="trow"> 
		<td class="case-name">Я</td> 
		<td>жив<span class="end">у</span></td> 
		<td>любл<span class="end">ю</span></td> 
	</tr> 
	
	<tr class="trow"> 
		<td class="case-name">Ты</td> 
		<td>жив<span class="end">ёшь</span></td> 
		<td>люб<span class="end">ишь</span></td> 

	</tr> 
	<tr class="trow"> 
		<td  class="case-name">Он, она, оно</td> 
		<td>жив<span class="end">ёт</span></td> 
		<td>люб<span class="end">ит</span></td> 
	</tr> 
	<tr class="trow"> 
		<td class="case-name">Мы</td> 
		<td>жив<span class="end">ём</span></td> 
		<td>люб<span class="end">им</span></td> 
	</tr> 
	<tr class="trow"> 
		<td class="case-name">Вы</td> 
		<td>жив<span class="end">ёте</span></td> 
		<td>люб<span class="end">ите</span></td>  
	</tr> 
	<tr class="trow"> 
		<td class="case-name">Они</td> 
		<td>жив<span class="end">ут</span></td> 
		<td>люб<span class="end">ят</span></td> 
	</tr> 
</table>


<p>As you can see, the following facts are important to form the present tense of Russian verbs:</p>

<ul>
	<li>You should know the conjugation type of the verb in order to use appropriate endings.</li>
	<li>It is necessary to define the present tense stem of the verb.</li>
	<li>You need to know whether the verb has a fixed or shifting stress.</li>
</ul>

<p>All these questions will be discussed in greater detail in articles devoted to Russian verbs conjugation.</p>


<br><br><br><br><br><br>





