<% @page_title = 'Degrees of Comparison :: Study Russian Online' %>
<% @page_meta = {'description' => "General information about Comparison Degrees of Russian adjectives"} %>

<% content_for :special_js_css do %>
<% end %>

<h2 class="page">Comparative adjective</h2>

<h3 class="page-path">
<span class="int-links"><a href="/russian-grammar.html">Russian grammar</a>  <span class="int-arrow">--&gt;</span> Comparative adjective</span>
</h3>

<p>
<dfn>Russian comparative adjectives</dfn> come in a <strong>compound form</strong>, which is used attributively, and a </strong>simple form</strong>, which is used predicatively.
</p>


<h3 class="page-p">Simple forms</p>

<h4 class="page-pp">Usage</h4>

<p>
Simple comparative forms are used predicatively. The simple comparative form do not decline. 
</p>
<div class="ex-block-simple">
Иван умнее, чем Лариса. Ivan is smarter than Larisa.
</div>


<h4 class="page-pp">Formation</p>

<p>
The simple comparative form of adjective consists of one word. It is formed by dropping the gender ending of the long form adjective and adding to the resulting stem the ending -ee. The simple comparative form does not decline.  
</p>

<div class="ex-block-simple">
красивый - красивее pretty - prettier 
</div>

<p>
In adjectives whose stem consists of only one syllable, the stress is usually on the first е of the ending.
</p>

<p>
If the stem of the adjective ends in г, к, х, or д, т, ст, this stem consonant undergoes an alternation and a single single -е (not ee) is added to form the comparative.
</p>

<p>
The alternations of the final consonant include: 
</p>

<p>
1. If the stem ends in -г, -к, -х, the final consonant is replaced by  -ж, -ч, -ш, respectively.
<p>

<div class="ex-block-simple">
<span class="exs-or">дорогой</span> expensive дороже<br>
<span class="exs-or">громкий</span> loud  громче<br>
<span class="exs-or">тихий</span> quiet тише
</div>	

<p>
2. If the stem ends in the cluster -ст, this cluster is replaced by  -щ.
</p>

<div class="ex-block-simple">
простой simple  проще <br>
толстый thick  толще
</div>

<p>
Irregular Comparative Forms
</p>

<div>
близкий 'close'  - ближе<br>
большой 'big' - больше<br>
высокий 'tall' - выше
глубокий 'deep'  - глубж-е<br>
далёкий 'far'  - дальше<br>
дешёвый 'inexpensive'  - дешевле<br>
долгий 'long'  - дольше<br>
короткий 'short'  - короче<br>
лёгкий 'easy'  - легче<br>
молодой 'young'  - моложе (or младше)<br>
поздний 'late'  - позже (or позднее)<br>
ранний 'early'  - раньше<br>
редкий 'rare'  - реже<br>
сладкий 'sweet'  - слаще<br>
старый 'old' - старше (for people)<br>
             - старее (for things)<br>
широкий 'wide'  - шире
</div>


<p>
And adjectives that change their stem in comparative: 
</p>
<div>
хороший 'good' - лучше<br>
плохой 'bad' - хуже<br>
маленький 'small'  - меньше
</p>



<h3 class="page-p">Comparative compound form </h3>

<h4 class="page-pp">Usage</h4>

<p>
The compound form of the comparative degree must be used when the comparative is used attributively. The compound comparative form is necessary when the adjective must be declined.
</p>

<h4 class="page-pp">Formation</h4>
<p>
The formation of the compound form comparative is relatively simple.
</p>
<p>
The compound form consists of two words:  the word бóлее (more) or мéнее (less) used as an auxiliary, and the long form of adjective that agrees in gender, number and case with the modified noun. 
</p>

<p>
The following adjectives do not have compound comparative form: 
</p>

<div>
большой 'big'  -  больший <br>
маленький 'small'   -   меньший <br>
плохой 'bad'    -    худший <br>
хороший 'good'   -   лучший 
</div>


<br><br><br><br><br><br>

<script type="text/javascript">
currentSection="grammar";
</script>
