<% @page_title = 'Study Russian Online: Russian spelling rules' %>
<% @page_meta = {'description' => "Information about basic Russian spelling rules"} %>


<% content_for :special_js_css do %>

<style type="text/css">
h2.page {
margin-bottom: 0px;
}


</style>
<% end %>


<h2 class="page">Russian Spelling Rules
</h2>

<h3 class="page-path"> 
<span class="int-links"><a href="/russian-grammar.html">Russian grammar</a> <span class="int-arrow">--&gt;</span> Russian spelling rules </span> 
</h3>


<p>
There are 3 vocalic-based spelling rules in Russian. These rules demonstrate which combinations of letters are not permitted in Russian. It should be noticed that these spelling rules explain many of the irregularities in the declension of Russian nouns, pronouns and adjectives, and in the conjugation of Russian verbs. 
</p>

<h3 id="rule_1" class="page-p">Spelling rule №1</h3>

<p>
The letter <span class="letter">ы</span> may not occur after <span class="letter">г</span>, <span class="letter">к</span>, <span class="letter">х</span> and <span class="letter">ж</span>, <span class="letter">ч</span>, <span class="letter">ш</span>, <span class="letter">щ</span>. Instead of <span class="letter">ы</span>, the letter <span class="letter">и</span> should be written. 
This rule is particularily important for plural forms of nouns and in endings of adjectives.
</p>

<h3 id="rule_2" class="page-p">Spelling rule №2</h3>
<p>
The letters <span class="letter">ю</span> and <span class="letter">я</span> may not occur after <span class="letter">г</span>, <span class="letter">к</span>, <span class="letter">х</span> and <span class="letter">ж</span>, <span class="letter">ц</span>, <span class="letter">ч</span>, <span class="letter">ш</span>, <span class="letter">щ</span>. Instead of <span class="letter">ю</span> and <span class="letter">я</span>, the letters <span class="letter">у</span> and а should be written, respectively. 
This rule is particularily important in verb endings.
<p>

<h3 id="rule_3" class="page-p">Spelling rule №3</h3>
<p>
Unstressed <span class="letter">о</span> may not occur after <span class="letter">ж</span>, <span class="letter">ц</span>, <span class="letter">ч</span>, <span class="letter">ш</span>, <span class="letter">щ</span> in edings (but it may occur in roots). The letter <span class="letter">о</span> should be replaced by the letter <span class="letter">е</span>. 
</p>



<br><br><br><br><br>

<script type="text/javascript">
currentSection="grammar";
</script>