<% @page_title = 'Study Russian Online: Russian Nouns Gender' %>
<% @page_meta = {'description' => "Information about gender of Russian nouns: characteristics of masculine, feminine and neuter nouns, basic rules to determine the gender of a noun."} %>


<% content_for :special_js_css do %>
<style type="text/css">
.p-indent {
text-indent: -12px; margin: 12px;
}

#cont-table p {
font-size: 11px;
margin-bottom: 12px;
}

</style>
<% end %>




<h2 class="page">Gender of Russian nouns
<span class="int-links"><a href="additional.html">Additional info</a> <span class="int-arrow">--&gt;</span> Russian nouns gender</span>

</h2>

<div id="cont-table" class="egdiv" style="float: left;">
<p style="font-size: 10pt;"><strong>Content:</strong></p>
<p><a href="#gender">Grammatical gender of Russian nouns</a></p>
<p><a href="#basics">Basic rules de determine the gender</a></p>
<p><a href="#factors">Factors impeding determination of gender</a></p>
<p><a href="#endings">Endings of Russian nouns:</a></p>
<p style="margin-left: 60px;">- <a href="#masc">Masculine nouns</a></p>
<p style="margin-left: 60px;">- <a href="#pii1">Feminine nouns</a></p>

<p style="margin-left: 60px;">- <a href="#piii1">Neuter nouns</a></p>
</div>


<p id="gender" style="clear: both">
The <em>gender of nouns</em> plays an important role in Russian grammar. It is very important to know the grammatical gender of Russian nouns because the forms of adjectives, pronouns, adjective-like words and past-tense forms of verbs depend on the gender of the noun they refer to. It is hard to build even a simple phrase in Russian without knowing the gender of nouns. 
</p>
<p>
The division of Russian nouns into <strong>masculine</strong>, <strong>feminine</strong> and <strong>neuter</strong> have no substantial and well-grounded explanation. The grammatical gender is more or less (but not always regularly) related to the meaning of a word if a noun denotes a person or an animal: nouns naming males are usually grammatically masculine, nouns naming females are usually grammatically feminine. 

</p>
<p>
Neuter nouns generally refer to nonliving objects and abstract notions. Only a small group of animate nouns are neuter. These are words <span class="eg">дитя</span> <span class="egt">child</span>, <span class="eg">животное</span> <span class="egt">animal</span>, <span class="eg">существо</span> <span class="egt">creature</span>, <span class="eg">божество</span> <span class="egt">divinity</span>, <span class="eg">ничтожеств</span>о <span class="egt">nonentity</span> (about a person), and words denoting zoological species, such as <span class="eg">млекопитающее</span> <span class="egt">mammal</span>, <span class="eg">пресмыкающееся</span> <span class="egt">reptile</span> etc. 

</p>
<p>
At the same time, most inanimate nouns are masculine or feminine. The grammatical gender of these nouns is conditional and inexplicable as regards to their meanings. The division of inanimate nouns into masculine and feminine is determined only by their formal endings and syntactical factors. 
</p>
<p>
The gender of most Russian nouns can be established according to the last letter of their <em>citation form</em> (usually nominative singular). There are few basic rules that allow to identify the gender for the majority of Russian nouns. These rules are sufficient for those who just begin learning Russian, but it is necessary to keep in mind that they do not work for all Russian nouns and, sooner or later, a large number of deviations from these rules becomes evident. 
</p>
<p id="basics">
The basic rules to determine grammatical gender of Russian nouns are: 
</p>
<ol class="ital">
	<li>Masculine nouns usually end in a consonant letter or <span class="eg">-й</span></li>

	<li>Feminine nouns usually end in <span class="eg">-a</span> or <span class="eg">–я</span></li>
	<li>Neuter nouns usually end in <span class="eg">-о</span>, <span class="eg">-е</span>, or <span class="eg">-ё</span>.</li>
</ol>

<p id="factors"> 
The above-mentioned rules provide a general idea how to determine the grammatical gender of nouns, but many Russian nouns may have other endings or their gender does not conform to these rules. Thus, there are several groups of words that complicate the situation with the grammatical gender of nouns in the Russian language:
</p>
<div style="padding-left: 20px;">
  <p class="p-indent">
  - <em>Nouns ending in <span class="eg">–ь</span> that may be either masculine or feminine</em>. Their gender needs to be memorized since there is no exact criteria to determine it. At the same time, we will provide below some information about several groups of masculine and feminine nouns ending in <span class="eg">-ь</span> that hopefully helps to learn their grammatical gender.
  </p>

  <p class="p-indent">
  - <em>Nouns of common gender</em>. It is a particular group of nouns that may exhibit two possible genders depending on the context. These are nouns ending in <span class="eg">–a</span>/<span class="eg">–я</span> that are used in a phrase either as masculine or as feminine depending on the biological gender of their referent. 
  </p>
  <p class="p-indent">
  - <em>A group of masculine nouns that end in <span class="eg">–a</span>/<span class="eg">-я</span></em>. These are nouns denoting male persons, so the biological gender is more important here than formal endings. 
  </p>

  <p class="p-indent">
  - <em>A group of nouns denoting professions and occupations</em> that are most often grammatically masculine, but can refer to female persons, and, in some instances, behave as feminine nouns in phrases.
  </p>
  <p class="p-indent">
  - <em>A group of neuter nouns that end in <span class="eg">-мя</span></em>. There a few of them and their gender should be memorized. 
  </p>
  <p class="p-indent">

  - <em>Indeclinable nouns borrowed from other languages</em> that may be masculine, feminine or neuter whichever their ending is. Their grammatical gender is frequently (but not always) related to their meaning, so they can be divided to several groups, which can help to memorize their gender. 
  </p>
</div>

<p id="endings">
Taking into account the above-mentioned points, we are going to examine below all possible endings for masculine, feminine or neutral nouns. 
</p>

<h3 id="masc">Masculine Nouns</h3>
<p>
Masculine nouns may end in a consonant, a vowel or <span class="eg">-ь</span> and include the following groups:

</p>
<p class="p-indent">
I. Nouns ending in a consonant letter or <span class="eg">-й</span>, except nouns described in <a href="#pii1">Feminine nouns - I.</a> and <a href="#piii1">Neuter nouns - I</a>.  
</p>
<div class="egdiv">
<h4>Examples</h4>
<p>
<span class="eg">студент</span> - <span class="egt">student</span>

</p>
<p>
<span class="eg">диплом</span> - <span class="egt">diploma</span>
</p>
<p>
<span class="eg">музей</span> - <span class="egt">museum</span>
</p>
</div>

<p id="pi2">
II. Nouns ending in a vowel: 
</p>

<ol>
	<li>
      <p>
      Nouns ending in <span class="eg">-a</span>/<span class="eg">-я</span> that refer to male persons, so the grammatical gender of these nouns is determined the biological gender. They may be subdivided into the following groups: 
      </p>

      <p class="p-indent">
      - Names of male persons. There are a few names ending in <span class="eg">-a</span> in Russian, and usually names of males end in a consonant or <span class="eg">-й</span>. However, diminutive forms of Russian masculine names will have <span class="eg">-а</span>/<span class="eg">-я</span> on its end. 
      </p>
      <div class="egdiv">

        <h4>Examples</h4>
        <p><span class="eg">Никита</span> - <span class="egt">Nikita</span>, Russian full name </p>
        <p><span class="eg">Саша</span> - <span class="egt">Sasha</span>, diminutive from <span class="eg">Александр</span></p>

      </div>
      
      <p style="text-indent: -12px; margin: 12px;">
      - Nouns that denote male persons.  These is a group of originally masculine nouns: <span class="eg">дедушка</span> <span class="egt">grandfather</span>, <span class="eg">дядя</span> <span class="egt">uncle</span>, <span class="eg">мужчина</span> <span class="egt">man</span>, <span class="eg">папа</span> <span class="egt">dad</span>, <span class="eg">юноша</span> <span class="egt">young person</span>.
      </p>      

	</li>

	<li>
      <p>
      Some nouns ending in a vowel denoting places names. These are indeclinable names of geographical places borrowed from other languages. In such instances, consultation with dictionary is recommended, since it is not formally obvious whether the noun is declinable or indeclinable. The grammatical gender of these nouns may depend on the gender of Russian generic words denoting the relevant class. Take a look of the following groups of words: 
      </p>
      <p class="p-indent">
      - Indeclinable names of cities. They are masculine because the generic word <span class="eg">город</span> <span class="egt">city</span> is masculine in Russian.
      </p>

      <div class="egdiv">
      <h4>Examples</h4>
        <p><span class="eg">Калгари</span> - <span class="egt">Calgary</span></p>
        <p><span class="eg">Гонолулу</span> - <span class="egt">Honolulu</span></p>

        <p><span class="eg">Сан-Тропе</span> - <span class="egt">Saint-Tropez</span></p>
        <p><span class="eg">Токио</span> - <span class="egt">Tokyo</span></p>
        <p><span class="eg">Алма-Аты</span> - <span class="egt">Almaty</span></p>

      </div>
      
      <p class="p-indent">
      - Indeclinable names of islands. They are masculine because the generic word <span class="eg">остров</span> <span class="egt">island</span> is masculine in Russian.
      </p>
      <div class="egdiv">
      	<h4>Examples</h4>

      	<p><span class="eg">Капри</span> - <span class="egt">Capri</span></p>
      	<p><span class="eg">Антигуа</span> - <span class="egt">Antigua</span></p>
      	<p><span class="eg">Корфу</span> - <span class="egt">Corfu</span></p>

      </div>
	
	</li>
	<li>
      <p>
      Nouns denoting animals and birds ending in <span class="eg">-е</span>, <span class="eg">-и</span>, <span class="eg">-o</span>, etc. These are indeclinable words borrowed from other languages. 
      </p>

      <div class="egdiv">
      	<h4>Examples</h4>
      	<p><span class="eg">шимпанзе</span> - <span class="egt">chimpanzee</span></p>
      	<p><span class="eg">какаду</span> - <span class="egt">cockatoo</span></p>

      	<p><span class="eg">пони</span> - <span class="egt">pony</span></p>
      	<p><span class="eg">фламинго</span> - <span class="egt">flamingo</span></p>
      </div>
	
	</li>
	<li>

      <p>
      Some nouns denoting male persons ending in <span class="eg">-е</span>, <span class="eg">-и</span>, <span class="eg">-o</span>, etc. These are indeclinable words borrowed from other languages.
      </p>
      <div class="egdiv">
      <h4>Examples:</h4>
        <p><span class="eg">конферансье</span> - <span class="egt">compere</span></p>

        <p><span class="eg">рефери</span> - <span class="egt">referee</span></p>
      </div>

	</li>
	<li>
      <p>
      Some indeclinable nouns denoting nonliving objects the grammatical gender of which often depends on the gender of Russian generic words denoting the relevant class. These are words borrowed from other languages that usually require consultation with dictionary to ascertain their gender. 
      </p>

      <div class="egdiv">
      <h4>Examples</h4>
      	<p><span class="eg">кофе</span> - <span class="egt">cofee</span>, masculine, but may behave as neuter in colloquial Russian</p>
      	<p><span class="eg">торнадо</span> - <span class="egt">tornado</span>, masculine because the generic word <span class="eg">ветер</span> <span class="egt">city</span> is masculine</p>

      	<p><span class="eg">хинди</span> - <span class="egt">Hindi</span>, masculine because the generic word <span class="eg">язык</span> <span class="egt">language</span> is masculine</p>
      	<p><span class="eg">пенальти</span> - <span class="egt">eleven-metre penalty kick</span>, masculine because the generic word <span class="eg">удар</span> <span class="egt">kick</span> is masculine</p>

      	<p><span class="eg">экю</span> - <span class="egt">ecu</span></p>
      </div>

	</li>
</ol>


<p style="text-indent: -25px; margin-left: 25px;">
III. Some nouns ending in <span class="eg">-ь</span>. There are only a few characteristics that allow to determine the gender of Russian nouns ending in <span class="eg">-ь</span>, that is why consultation with dictionary is recommended to ascertain their gender. Among masculine nouns ending in <span class="eg">-ь</span>, the following words have common features and may be united in the following groups:

</p>

<ul style="list-style: none;">
	<li>
    	<p>- nouns denoting male persons.</p>
    	<div class="egdiv">
    	<h4>Examples</h4>
    		<p><span class="eg">учитель</span> - <span class="egt">teacher</span></p>

    		<p><span class="eg">вратарь</span> - <span class="egt">goalkeeper</span></p>
    		<p><span class="eg">парень</span> - <span class="egt">guy, fellow</span></p>
    		<p><span class="eg">король</span> - <span class="egt">king</span></p>

    	</div>
	</li>
	<li>
		<p>- months </p>
		<div class="egdiv">
		<h4>Examples</h4>
    		<p><span class="eg">январь</span> - <span class="egt">January</span></p>

    		<p><span class="eg">февраль</span> - <span class="egt">February</span></p>
    		<p><span class="eg">июнь</span> - <span class="egt">June</span></p>
    	</div>
	</li>
	<li>

		<p>- nouns ending in <span class="eg">-тель</span></p>
		<div class="egdiv">
    	<h4>Examples</h4>
    		<p><span class="eg">выключатель</span> - <span class="egt">switch, button switch</span></p>
    		<p><span class="eg">двигатель</span> - <span class="egt">engine, motor</span></p>

    	</div>
	</li>
</ul>

<h3 id="pii1">Feminine nouns </h3> 
<p>
Russian feminine nouns end in a consonant, a vowel or <span class="eg">-ь</span> and include the following groups:
</p>
<p   class="p-indent">
I. Nouns ending in a consonant or <span class="eg">-й</span> which are indeclinable foreign names and surnames of women, names of newspapers, and loanwords <span class="eg">мадам</span> <span class="egt">madam</span>, <span class="eg">мисс</span> <span class="egt">Miss</span> 

</p>

<div class="egdiv">
<h4>Examples</h4>
<p><span class="eg">Элен</span> - <span class="egt">Helen</span></p>
<p><span class="eg">Шмидт</span> - <span class="egt">Schmidt</span>, surname </p>
<p><span class="eg">Таймс</span> - <span class="egt">Times</span>, name of newspaper</p>

</div>

<p id="pii2">
II. The following groups of nouns ending in a vowel: 
</p>

<ol>
	<li>
	<p>The vast majority of nouns ending in <span class="eg">-a</span>/<span class="eg">-я</span>, except those that are described in <a href="#pi2">Masculine Nouns - II</a>, and <a href="#piii2">Neuter Nouns - II</a>.</p>

    	<div class="egdiv">
    	<h4>Examples</h4>
    	<p><span class="eg">лампа</span> - <span class="egt">lamp</span></p>
    	<p><span class="eg">станция</span> - <span class="egt">station</span></p>

    	</div>
	
	
	</li>
	<li>
	<p>
		Some nouns ending in <span class="eg">-o</span>, <span class="eg">-ю</span>, <span class="eg">-и</span>, <span class="eg">-е</span> etc. which are mainly indeclinable words borrowed from other languages. In such instances, consultation with dictionary is recommended to ascertain their gender. This group of feminine nouns includes: 
	</p>

	<p>
		- Indeclinable nouns denoting female persons.  
	</p>
	<div class="egdiv">
	<h4>Example</h4>
		<p><span class="eg">леди</span> - <span class="egt">lady</span></p>
	</div>

	<p>- Indeclinable nouns denoting names of rivers.</p>
	<div class="egdiv">
	<h4>Example</h4>
		<p><span class="eg">Конго</span> - <span class="egt">Congo</span></p>
		<p><span class="eg">Янцзы</span> - <span class="egt">Yangtze</span></p>

		<p><span class="eg">Миссисипи</span> - <span class="egt">Mississippi</span></p>
	</div>
    <p class="p-indent">
      - Some indeclinable nouns denoting nonliving objects the grammatical gender of which depends on the gender of Russian generic words denoting the relevant class. 
    </p>
    <div class="egdiv">
	<h4>Example</h4>

		<p><span class="eg">авеню</span> - <span class="egt">avenue</span>, feminine because the generic word <span class="eg">улица</span> <span class="egt">street</span> is feminine</p>
		<p><span class="eg">салями</span> - <span class="egt">salami</span>, feminine because the generic word <span class="eg">колбаса</span> <span class="egt">sausage</span> is feminine</p>

		<p><span class="eg">медресе</span> - <span class="egt">madrasah</span>, feminine because the generic word <span class="eg">школа</span> <span class="egt">school</span> is feminine</p>
		<p><span class="eg">кольраби</span> - <span class="egt">kohlrabi</span>, feminine because the generic word <span class="eg">капуста</span> <span class="egt">cabbage</span> is feminine</p>

	</div>
</ol>

<p style="text-indent: -25px; margin-left: 25px;">
III. Some nouns ending in <span class="eg">-ь</span>. There are only a few characteristics that allow to determine the gender of Russian nouns ending in <span class="eg">-ь</span>, that is why consultation with dictionary is recommended to ascertain their gender. Among feminine nouns ending in <span class="eg">-ь</span>, the following words have common features and can be grouped according to the following criteria:
</p>
<ul style="list-style: none;">
	<li>
    	<p>- nouns denoting female persons</p>

    	<div class="egdiv">
    	<h4>Examples</h4>
    		<p><span class="eg">мать</span> - <span class="egt">mother</span></p>
    		<p><span class="eg">дочь</span> - <span class="egt">daughter</span></p>

    	</div>
	</li>
	<li>
    	<p>- nouns ending in <span class="eg">-жь</span>, <span class="eg">-шь</span>, <span class="eg">-чь</span>, <span class="eg">-щь</span>. </p>

    	<div class="egdiv">
    	<h4>Examples</h4>
    		<p><span class="eg">ночь</span> - <span class="egt">night</span></p>
    		<p><span class="eg">рожь</span> - <span class="egt">rye</span></p>

    		<p><span class="eg">помощь</span> - <span class="egt">help</span></p>
    		<p><span class="eg">брошь</span> - <span class="egt">brooch</span></p>
    	</div>
	</li>
	<li>

    	<p>- nouns ending in <span class="eg">-ость</span>, <span class="eg">-есть</span></p>
    	<div class="egdiv">
    	<h4>Examples</h4>
    		<p><span class="eg">молодость</span> - <span class="egt">youth</span></p>

    		<p><span class="eg">свежесть</span> - <span class="egt">freshness</span></p>
    	</div>
	</li>
</ul>


<h3 id="piii1">Neuter nouns</h3>
<p>
Neuter nouns end in a vowel or a consonant (rare) and include the following groups:

</p>
<p class="p-indent">
I. Neuter nouns ending in a consonant are rare, it may be indeclinable nouns denoting names of lakes borrowed from other languages. Consultation with dictionary is recommended to ascertain the gender of these nouns. They are neuter, because the generic word <span class="eg">озеро</span> <span class="egt">lake</span> is neuter in Russian.
</p>
<div class="egdiv">
<h4>Example</h4>
<p>
<span class="eg">Гурон</span> - <span class="egt">Huron</span> (lake)

</p>
</div>

<p>
II. The following nouns ending in a vowel:
</p>

<ol>
	<li>
	<p>The vast majority of nouns ending in <span class="eg">-е</span>, <span class="eg">-о</span>, <span class="eg">-ё</span>, except those that are described in <a href="#pi2">Masculine Nouns I.2</a>, and <a href="#pii2">Feminine Nouns II.2</a>.</p>

	<div class="egdiv">
	<h4>Examples</h4>
		<p><span class="eg">окно</span> - <span class="egt">window</span></p>
		<p><span class="eg">море</span> - <span class="egt">sea</span></p>

		<p><span class="eg">бельё</span> - <span class="egt">linen</span></p>
	</div>
	</li>
	<li id="piii2">
	<p>
		Some nouns ending in <span class="eg">-a</span>, which are indeclinable nouns borrowed from other languages and denote nonliving objects. In such instances, consultation with dictionary is recommended to ascertain their gender.
	</p>

	<div class="egdiv">
	<h4>Examples</h4>
		<p><span class="eg">боа</span> - <span class="egt">boa</span></p>
		<p><span class="eg">па</span> - <span class="egt">pas, step</span></p>

	</div>
	</li>
	<li>
		<p>The following nouns ending in <span class="eg">-я</span>: </p>
		<p class="p-indent">- 11 nouns ending in <span class="eg">-мя</span>: <span class="eg">бремя</span> <span class="egt">burden</span>, <span class="eg">время</span> <span class="egt">time</span>, <span class="eg">вымя</span> <span class="egt">udder</span>, <span class="eg">знамя</span> <span class="egt">banner, flag</span>, <span class="eg">племя</span> <span class="egt">tribe</span>, <span class="eg">имя</span> <span class="egt">name</span>, <span class="eg">пламя</span> <span class="egt">flame</span>, <span class="eg">полымя</span> <span class="egt">flame</span> (archaic), <span class="eg">семя</span> <span class="egt">seed, semen</span>, <span class="eg">стремя</span> <span class="egt">stirrup</span>, <span class="eg">темя</span> <span class="egt">cinciput</span></p>

		<p>- noun <span class="eg">дитя</span> <span class="egt">child</span></p>
	</li>
	<li>
	<p>
		Nouns ending in <span class="eg">-и</span>, <span class="eg">-у</span>, <span class="eg">-ю</span> which are indeclinable nouns borrowed from other languages and denote nonliving objects.
	</p>

	<div class="egdiv">
	<h4>Examples</h4>
		<p><span class="eg">меню</span> - <span class="egt">menu</span></p>
		<p><span class="eg">такси</span> - <span class="egt">taxi</span></p>

		<p><span class="eg">рагу</span> - <span class="egt">ragout</span></p>
	</div>
	
	</li>
</ol>












