<% @page_title = 'Study Russian Online: Russian Possessive Pronouns' %>
<% @page_meta = {'description' => "Information about Russian possessive pronouns and reflexive possessive pronoun: description, peculiarities of usage, declension patterns."} %>


<% content_for :special_js_css do %>
<%= stylesheet_link_tag 'stylesounds' %>

<style type="text/css">

table.st-table {
margin: 10px auto;
}

table.st-table th {
padding: 8px 8px;
}

.gend-tds td {
font-style: italic;
}

.eng-pron td {
font-size: 11px;
font-style: italic;
font-weight: bold;
}

h2.page {
margin-bottom: 0px;
}


</style>

<% end %>



<h2 class="page">Russian Possessive Pronouns</h2>
<h3 class="page-path">
<span class="int-links"><a href="additional.html">Additional info</a> <span class="int-arrow">--&gt;</span> Russian Possessive Pronouns </span>

</h3>
<p>
<dfn>Possessive pronouns</dfn> are words used in place of a noun or another pronoun which indicate ownership (in English, these are pronouns "my", "your", "his", "her" etc.). In Russian, these pronouns reflect all three persons, i.e. each personal pronoun has a related possessive pronoun:
</p>

<table class="st-table" cellspacing="0" align="center">
	<tr style="vertical-align: middle;">
		<th >Personal pronoun</th>
		<th class="thbrd">Possessive pronoun</th>
	</tr>

	<tr class="trow">
		<td>я</td>
		<td>мой</td>
	</tr>
	<tr class="trow">
		<td>ты</td>
		<td>твой</td>

	</tr>
	<tr class="trow">
		<td>он</td>
		<td>его</td>

	</tr>
	<tr class="trow">
		<td>она</td>

		<td>её</td>
	</tr>
	<tr class="trow">
		<td>оно</td>
		<td>его</td>
	</tr>
	<tr class="trow">

		<td>мы</td>
		<td>наш</td>
	</tr>
	<tr class="trow">
		<td>вы</td>
		<td>ваш</td>
	</tr>

	<tr class="trow">
		<td>они</td>
		<td>их</td>
	</tr>
</table>


<p>
Russian possessive pronouns are modifiers, they agree in gender, number, and case with the modified noun, and they are also referred to as <em>possessive pronominal adjectives</em> since their behavior in a phrase or sentence is similar to adjectives.

</p>

<div class="egdiv">
<h4>Examples: </h4>
<p>
Это <u>мой</u> паспорт <em>(masc sing)</em>. - It is <u>my</u> passport.<br/>
Это <u>моя</u> лампа <em>(fem sing)</em>. - It is <u>my</u> passport.<br/>

Это <u>мои</u> билеты <em>(masc pl)</em>. - These are <u>my</u> tickets<br>
</p>
<p>
Unlike the English pronoun "my", the Russian pronoun <span class="eg">мой</span> changes its form depending on gender or number of the modified noun.
</p>

</div>
<p>
There is also a particular pronoun <span class="eg">свой</span> in Russian, called <dfn>reflexive possessive pronoun</dfn>, that means <span class="egt">one's own</span> and reflects ownership to subject of the verb in a phrase. This pronoun can be used only if the possessor and the subject are in the same phrase. Generally, the reflexive possessive pronoun can replace any possessive pronoun, but it is specially required if the subject of the verb is one of the third person personal pronouns <span class="eg">он</span>, <span class="eg">она</span>, <span class="eg">они</span>.  

</p>

<div class="egdiv">
<h4>Examples: </h4>
<p>I love <u>my</u> dog.: Я люблю <u>мою</u> собаку. = Я люблю <u>свою</u> собаку. </p>
<p>Do you love <u>your</u> dog?: Ты любишь <u>твою</u> собаку? = Ты любишь <u>свою</u> собаку? </p>

<p>We love <u>our</u> dog.: Мы любим <u>нашу</u> собаку. = Мы любим <u>свою</u> собаку. </p>
<p><em>But:</em></p>
<p>He loves <u>his</u> dog.: Он любит <u>свою</u> собаку. (not always equal to: Он любит <u>его</u> собаку.) </p>

<p>
In this case, it is preferably to use the pronoun <span class="eg">свой</span>, since in Russian the pronoun <span class="eg">его</span> could be interpreted in some situations not only as <span class="egt">his own dog</span>, but also as <span class="egt">someone else's dog</span>.
</p>

</div>

<p>
The reflexive possessive pronoun rarely modifies nouns in the nominative form. It may be used with nouns in nominative in the construction with Russian preposition <span class="eg">у</span> meaning <span class="egt">to have</span>, such as <span class="eg">У меня есть</span> <span class="egt">I have</span>, where it stands for "one's own and not somebody else's", and also in several Russian proverbs and idiomatic expressions. 

</p>
<div class="egdiv">
<h4>Examples: </h4>
<p>
У меня есть <u>своя</u> машина. - I have <u>my own</u> car.
</p>
<p>
<u>Своя</u> рубашка ближе к телу. (proverb) - One's own shirt is closer to the body. (Charity begins at home.)

</p>
<p>
Он <u>свой</u> человек. - He is our kind of guy.
</p>
</div>
<p>
As mentioned above, Russian possessive pronouns agree in case with nouns, i.e. they also decline. However, the third person possessives are formally invariable and identical to the genitive form of the third person personal pronouns. Other possessive pronouns change according to gender, case and number of the noun. Notice that they reflect the animacy of the modified nouns and obey the <a href="russian-animate-inanimate.html#rule_an-in">declension rule of animate/inanimate referents</a> in the accusative forms.
</p>
<p>
The tables below present the complete declensions of Russian possessive pronouns.
</p>

<h3 style="text-align: center;">My</h3>

<table class="st-table" cellspacing="0" align="center">
	<tr style="vertical-align: middle;">
		<th rowspan="2">Case</th>
		<th colspan="3">Singular</th>
		<th rowspan="2" style="padding-left: 30px; padding-right: 30px;" class="thbrd">Plural</th>
	</tr>

	<tr class="second-th gend-tds" style="vertical-align: middle;">
		<td>masculine</td>
		<td>&nbsp;neuter&nbsp;</td>
		<td>feminine</td>
	</tr>
	<tr class="trow">
		<td class="case-name">Nom</td>

		<td>мой</td>
		<td>моё</td>
		<td>моя</td>
		<td>мои</td>
	</tr>
	<tr class="trow">
		<td class="case-name">Gen</td>

		<td colspan="2">моего</td>
		<td>моей</td>
		<td>моих</td>
	</tr>
	<tr class="trow">
		<td class="case-name">Dat</td>
		<td colspan="2">моему</td>

		<td>моей</td>
		<td>моим</td>
	</tr>
	<tr class="trow">
		<td class="case-name">Acc</td>
		<td><em>Nom/Gen</em></td>
		<td>моё</td>

		<td>мою</td>
		<td><em>Nom/Gen</em></td>
	</tr>
	<tr class="trow">
		<td class="case-name">Ins</td>
		<td colspan="2">моим</td>
		<td>моей</td>

		<td>моими</td>
	</tr>
	<tr class="trow">
		<td class="case-name">Prep</td>
		<td colspan="2">моём</td>
		<td>моей</td>
		<td>моих</td>

	</tr>
</table>

<h3 style="text-align: center;">Your (singular)</h3>

<table class="st-table" cellspacing="0" align="center">
	<tr style="vertical-align: middle;">
		<th rowspan="2">Case</th>
		<th colspan="3">Singular</th>
		<th rowspan="2" style="padding-left: 30px; padding-right: 30px;" class="thbrd">Plural</th>

	</tr>
	<tr class="second-th gend-tds" style="vertical-align: middle;">
		<td>masculine</td>
		<td>&nbsp;neuter&nbsp;</td>
		<td>feminine</td>
	</tr>
	<tr class="trow">

		<td class="case-name">Nom</td>
		<td>твой</td>
		<td>твоё</td>
		<td>твоя</td>
		<td>твои</td>
	</tr>

	<tr class="trow">
		<td class="case-name">Gen</td>
		<td colspan="2">твоего</td>
		<td>твоей</td>
		<td>твоих</td>
	</tr>
	<tr class="trow">

		<td class="case-name">Dat</td>
		<td colspan="2">твоему</td>
		<td>твоей</td>
		<td>твоим</td>
	</tr>
	<tr class="trow">
		<td class="case-name">Acc</td>

		<td><em>Nom/Gen</em></td>
		<td>твоё</td>
		<td>твою</td>
		<td><em>Nom/Gen</em></td>
	</tr>
	<tr class="trow">
		<td class="case-name">Ins</td>

		<td colspan="2">твоим</td>
		<td>твоей</td>
		<td>твоими</td>
	</tr>
	<tr class="trow">
		<td class="case-name">Prep</td>
		<td colspan="2">твоём</td>

		<td>твоей</td>
		<td>твоих</td>
	</tr>
</table>

<h3 style="text-align: center;">Our</h3>

<table class="st-table" cellspacing="0" align="center">
	<tr style="vertical-align: middle;">
		<th rowspan="2">Case</th>

		<th colspan="3">Singular</th>
		<th rowspan="2" style="padding-left: 30px; padding-right: 30px;" class="thbrd">Plural</th>
	</tr>
	<tr class="second-th gend-tds" style="vertical-align: middle;">
		<td>masculine</td>
		<td>&nbsp;neuter&nbsp;</td>
		<td>feminine</td>

	</tr>
	<tr class="trow">
		<td class="case-name">Nom</td>
		<td>наш</td>
		<td>наше</td>
		<td>наша</td>
		<td>наши</td>

	</tr>
	<tr class="trow">
		<td class="case-name">Gen</td>
		<td colspan="2">нашего</td>
		<td>нашей</td>
		<td>наших</td>
	</tr>

	<tr class="trow">
		<td class="case-name">Dat</td>
		<td colspan="2">нашему</td>
		<td>нашей</td>
		<td>нашим</td>
	</tr>
	<tr class="trow">

		<td class="case-name">Acc</td>
		<td><em>Nom/Gen</em></td>
		<td>наше</td>
		<td>нашу</td>
		<td><em>Nom/Gen</em></td>
	</tr>

	<tr class="trow">
		<td class="case-name">Ins</td>
		<td colspan="2">нашим</td>
		<td>нашей</td>
		<td>нашими</td>
	</tr>
	<tr class="trow">

		<td class="case-name">Prep</td>
		<td colspan="2">нашем</td>
		<td>нашей</td>
		<td>наших</td>
	</tr>
</table>

<h3 style="text-align: center;">Your (plural)</h3>

<table class="st-table" cellspacing="0" align="center">
	<tr style="vertical-align: middle;">
		<th rowspan="2">Case</th>
		<th colspan="3">Singular</th>
		<th rowspan="2" style="padding-left: 30px; padding-right: 30px;"  class="thbrd">Plural</th>
	</tr>
	<tr class="second-th gend-tds" style="vertical-align: middle;">

		<td>masculine</td>
		<td>&nbsp;neuter&nbsp;</td>
		<td>feminine</td>
	</tr>
	<tr class="trow">
		<td class="case-name">Nom</td>
		<td>ваш</td>

		<td>ваше</td>
		<td>ваша</td>
		<td>ваши</td>
	</tr>
	<tr class="trow">
		<td class="case-name">Gen</td>
		<td colspan="2">вашего</td>

		<td>вашей</td>
		<td>ваших</td>
	</tr>
	<tr class="trow">
		<td class="case-name">Dat</td>
		<td colspan="2">вашему</td>
		<td>вашей</td>

		<td>вашим</td>
	</tr>
	<tr class="trow">
		<td class="case-name">Acc</td>
		<td><em>Nom/Gen</em></td>
		<td>ваше</td>
		<td>вашу</td>

		<td><em>Nom/Gen</em></td>
	</tr>
	<tr class="trow">
		<td class="case-name">Ins</td>
		<td colspan="2">вашим</td>
		<td>вашей</td>
		<td>вашими</td>

	</tr>
	<tr class="trow">
		<td class="case-name">Prep</td>
		<td colspan="2">вашем</td>
		<td>вашей</td>
		<td>ваших</td>
	</tr>

</table>

<h3 style="text-align: center;">One's own</h3>

<table class="st-table" cellspacing="0" align="center">
	<tr style="vertical-align: middle;">
		<th rowspan="2">Case</th>
		<th colspan="3">Singular</th>
		<th rowspan="2" style="padding-left: 30px; padding-right: 30px;" class="thbrd">Plural</th>

	</tr>
	<tr class="second-th gend-tds" style="vertical-align: middle;">
		<td>masculine</td>
		<td>&nbsp;neuter&nbsp;</td>
		<td>feminine</td>
	</tr>
	<tr class="trow">

		<td class="case-name">Nom</td>
		<td>свой</td>
		<td>своё</td>
		<td>своя</td>
		<td>свои</td>
	</tr>

	<tr class="trow">
		<td class="case-name">Gen</td>
		<td colspan="2">своего</td>
		<td>своей</td>
		<td>своих</td>
	</tr>
	<tr class="trow">

		<td class="case-name">Dat</td>
		<td colspan="2">своему</td>
		<td>своей</td>
		<td>своим</td>
	</tr>
	<tr class="trow">
		<td class="case-name">Acc</td>

		<td><em>Nom/Gen</em></td>
		<td>своё</td>
		<td>свою</td>
		<td><em>Nom/Gen</em></td>
	</tr>
	<tr class="trow">
		<td class="case-name">Ins</td>

		<td colspan="2">своим</td>
		<td>своей</td>
		<td>своими</td>
	</tr>
	<tr class="trow">
		<td class="case-name">Prep</td>
		<td colspan="2">своём</td>

		<td>своей</td>
		<td>своих</td>
	</tr>
</table>


<h3 style="text-align: center;">His, Its, Her, Their</h3>

<table class="st-table" cellspacing="0" align="center">
	<tr style="vertical-align: middle;">

		<th>Case</th>
		<th  style="padding-left: 30px; padding-right: 30px;" >his/its</th>
		<th  style="padding-left: 30px; padding-right: 30px;"  class="thbrd">her/its</th>
		<th style="padding-left: 30px; padding-right: 30px;"  class="thbrd">their</th>
	</tr>
	<tr class="trow">
		<td class="case-name">Nom</td>

		<td>его</td>
		<td>её</td>
		<td>их</td>
	</tr>
	<tr class="trow">
		<td class="case-name">Gen</td>
		<td>его</td>

		<td>её</td>
		<td>их</td>
	</tr>
	<tr class="trow">
		<td class="case-name">Dat</td>
		<td>его</td>
		<td>её</td>

		<td>их</td>
	</tr>
	<tr class="trow">
		<td class="case-name">Acc</td>
		<td>его</td>
		<td>её</td>
		<td>их</td>

	</tr>
	<tr class="trow">
		<td class="case-name">Ins</td>
		<td>его</td>
		<td>её</td>
		<td>их</td>
	</tr>

	<tr class="trow">
		<td class="case-name">Prep</td>
		<td>его</td>
		<td>её</td>
		<td>их</td>
	</tr>
</table>


