<% @page_title = 'Russian Language Online: Texts for reading in Russian' %>
<% @page_meta = {'description' => "Online practice of reading in Russian: audio texts with stress marks, transcription and translation"} %>

<% content_for :special_js_css do %>

<style type="text/css">
h2.page {margin-bottom: 0px;}
.texts-listing li {
padding: 2px 0px;
}
</style>

<% end %>

<h2 class="page">Texts for reading practice</h2>
<h3 class="page-path"><span class="int-links"><a href="russian-reading.html">Reading in Russian</a> <span class="int-arrow">--&gt;</span> Texts for reading practice</span></h3>


<p>
In this section, you will find texts in Russian designed for those who wish to have more practice in reading. Each text is accompanied by audio, transcription, 
translation and different settings options to demonstrate the most important points of Russian pronunciation, 
such as <a href="stress-reduction.html" title="Stress in Russian">stress</a>, <a href="softness.html" title="Softness of consonants">softness</a>, <a href="devocalization.html" title="Devocalization of Consonants">devocalization</a> and <a href="stress-reduction.html" title="Reduction of vowels">vowels reduction</a>.
</p>


<h3>Texts for reading:</h3>
<ul class="texts-listing" style="list-style: none">
		  <li>- <a href="reading_text_01.html">Text: Introduction</a></li>
          <li>- <a href="reading_text_02.html">Text: Russia</a></li>
          <li>- <a href="reading_text_03.html">Text: Moscow</a></li>
		  <li>- <a href="reading_text_04.html">Text: Saint Petersburg</a></li>
          <li>- <a href="reading_text_05.html">Text: Russian Food</a></li>
</ul>



<p>
The main purpose of these texts is to demonstrate how Russian reading rules apply in reality. You can listen to the texts, repeat after the speaker using the transciption of phrases, read comments on some difficult points of pronunciation. 
We provide several options so that you can display or hide stress marks, transcription and translation and choose the mode view you are comfortable with.
You can also use special tools to highlight different groups of letters: letters denoting stressed vowels, reduced vowels, soft and unvoiced consonants.
</p>

<script type="text/javascript">
currentSection="reading";
</script>
