<% @page_title = 'Study Russian Online: Genitive case of Russian nouns' %>
<% @page_meta = {'description' => "Information for those who start to study Russian: Genitive case of Russian nouns."} %>


<h2 class="page">Genitive case of Russian nouns
<span class="int-links"><a href="additional.html">Additional info</a> <span class="int-arrow">--></span> <a href="russian-cases.html">Russian cases</a> <span class="int-arrow">--></span> Genitive Case</span>

</h2>

<p>
See also: <a href="russian-cases.html">Russian Cases</a>, <a href="russian-nouns-declension.html">Russian Nouns Declension</a>
</p>

<p>
<strong><em>Basic meaning</em></strong>
</p>
<p>
The <strong>genitive case</strong> is a set of word forms (in singular and plural) the basic function of which is to show a possessor, like the English preposition "of" in the phrase "the book of the student". 

</p>
<p>
<strong><em>Uses of the Genitive</em></strong>
</p>
<p>
1. <strong>To show a possession</strong>. In general, possession is shown by putting the possessor or the object one belongs to in the genitive case form.
</p>


<div class="egdiv">
<h4>Example: </h4>
<p>
Это сумка <u>Марии</u>. – This is <u>Maria's</u> bag.
</p>
<p>
The word <em>Марии</em> (Maria's) is the genitive case form of the word <em>Мария</em> (Maria) and indicates the possessor of an object (bag). 
</p>
</div>
<p>
Talking about the genitive and the ways to designate a possession, it would be worthwhile to mention a prepositional construction which is commonly used for expressing ownership in Russian. This construction requires the preposition <em>у</em> (by) followed by a genitive case form. This construction may use the verb <em>есть</em> (literally: there is, there are), but its presence is not always required. The verb is the most frequently used if this construction emphasizes the existence of an object. If this construction emphasizes a new information about some features (like color, size, quantity etc) of the possessed object, the verb will most likely be absent. 
</p>

<div class="egdiv">
<h4>Examples: </h4>
<p>

<u>У Марии есть</u> машина. – <u>Maria has</u> a car. <em>literally:</em> By Maria there is a car. <br> 
<u>У Марии</u> красная машина. – <u>Maria has</u> a red car. <em>literally:</em> By Maria a red car.  

</p>
</div>

<p>
At the same time, the Russian language has an equivalent of the English verb "to have" – <em>иметь</em>, but its range of usage is much more restricted than the above mentioned construction.
</p>
<p>
2. <strong>With quantity words and cardinal numerals</strong>. 
</p>
<p>
a) after quantity words, like <em>много</em> (many, much), <em>мало</em> (a few, not much), <em>несколько</em> (several), and words indicating a package or a measure, like "bottle", "cup", "gram", "meter" etc. 
</p>

<div class="egdiv">
<h4>Examples: </h4>
<p>
В чашке мало <u>молока</u>. – There is not much <u>milk</u> in the cup.
</p>
<p>
The word <em>молока</em> (milk) is the genitive case form of the word <em>молоко</em> (milk) and it is used after quantity word <em>мало</em> (not much).
</p>

<p>
В этом городе много <u>памятников</u>. – There are a lot of <u>monuments</u> in this town. 
</p>
<p>
The word <em>памятников</em> (of monuments) is the genitive case form of the word <em>памятники</em> (monuments) and it is used after quantity word <em>много</em> (many, a lot of).
</p>
</div>
<p>
b) after cardinal numerals. This is a complicated use of Russian cases, because cardinal numerals may decline themselves, which may influence on the case form of the following words. However, in simple phrases, cardinal numerals are often followed by the genitive case, and you should devote attention to the following situations: 
</p>
<p>
- numerals 2, 3, 4 and numerals ending with 2, 3, 4 (e.g. 23, 43, 54) are followed by the genitive singular form. 
</p>

<div class="egdiv">
<h4>Example: </h4>
<p>
В этой комнате 2 <u>лампы</u>. – There are 2 <u>lamps</u> in this room.
</p>
<p>
The word <em>лампы</em> (lamps) is the genitive singular form of the word <em>лампа</em> (lamp).
</p>
</div>
<p>
- 5 and upwards (except numerals mentioned above) are followed by the genitive plural form. 
</p>

<div class="egdiv">
<h4>Example: </h4>
<p>
У меня есть 10 <u>долларов</u>. – I have 10 <u>dollars</u>.
</p>
<p>
The word <em>долларов</em> (dollars) is the genitive plural form of the word <em>доллар</em> (dollar).
</p>
</div>


<p>
3. <strong>In the construction with the word <em>нет</em> meaning "there is not/there are not"</strong>
</p>


<div class="egdiv">
<h4>Examples: </h4>
<p>
В этой комнате нет <u>телевизора</u>. – There is no <u>TV set</u> in this room. 
</p>
<p>
The word <em>телевизора</em> (TV set) is the genitive case form of the word <em>телевизор</em> (TV set) and it is used in the construction with the word <em>нет</em>.
</p>
<p>
У меня нет <u>детей</u>. – I have no <u>children</u>. 
</p>
<p>
The word <em>детей</em> (children) is the genitive case form of the word <em>дети</em> (children) and it is used in the construction with the word <em>нет</em>.
</p>
</div>
<p>
4. <strong>After negated transitive verbs</strong>. 
</p>

<div class="egdiv">
<h4>Example: </h4>
<p>
Он не читает <u>газет</u>. – He does not read <u>newspapers</u>. 
</p>
<p>
The word <em>газет</em> (newspapers) is the genitive plural form of the word <em>газета</em> (newspaper) and it is used after negated transitive verb <em>читает</em> (read).
</p>
</div>

<p>
However, this rule frequently does not apply, and the nouns after negated transitive verbs are often in the accusative case form, particularly in conversational Russian. Thus, it is also possible to say "Он не читает газеты", where the word <em>газеты</em> (newspapers) is the accusative plural form of the word <em>газета</em> (newspaper).
</p>
<p>
5. <strong>For food and drinks nouns meaning "some"</strong>: 
</p>

<div class="egdiv">
<h4>Examples: </h4>
<p>
Ты хочешь <u>молока</u>? - Would you like <u>some milk</u>? 
</p>
<p>
The word <em>молока</em> (milk) is the genitive case form of the word <em>молоко</em> (milk).
</p>
<p>
Мне нужно купить <u>хлеба</u>. – I need to buy <u>some bread</u>.  
</p>
<p>
The word <em>хлеба</em> (bread) is the genitive case form of the word <em>хлеб</em> (bread).
</p>
</div>

<p>
6.<strong> After a large number of prepositions</strong>, the most frequent of which are: 
</p>
<p>
без – without <br>

для – for <br>
из – from <br>
кроме - except <br>
около – near/approximately <br>
после – after <br>
</p>


<p class="ital" style="padding-top: 20px;"><strong>You can find more examples of word forms in genitive singular and genitive plural on the page <a href="russian-nouns-declension.html" title="Russian nouns declension">Russian nouns declension</a></strong></p>







