<% @page_title = 'Study Russian Online: Russian cardinal numerals' %>
<% @page_meta = {'description' => "Information about Russian cardinal numerals: formation"} %>


<% content_for :special_js_css do %>
<style type="text/css">
h2.page {
margin-bottom: 0px;
}

table.numb-list {
margin: 0 auto;
}

table.numb-list td {
line-height: 18px;
text-align: left;
padding: 10px;
font-size: 11px;
background-color: #fff;
}

table.numb-list th {
text-align: left;
}

table.numb-list td.numb_string {
padding: 10px 15px 10px 10px;
font-style: italic;
}

.numb-form {
padding-left: 30px;
}

.numb-form li {
padding-top: 5px;
padding-bottom: 5px;
}


</style>
<% end %>


<h2 class="page">Russian cardinal numerals
<span class="int-links"><a href="additional.html">Additional info</a>  <span class="int-arrow">--></span> Russian cardinal numerals</span>

</h2>


<p>
The basic numerals in Russian are numbers from 1 to 10 (1- <span class="eg">один</span>, 2 - <span class="eg">два</span>, 3 - <span class="eg">три</span>, 4 - <span class="eg">четыре</span>, 5 - <span class="eg">пять</span>, 6 - <span class="eg">шесть</span>, 7 - <span class="eg">семь</span>, 8 -<span class="eg">восемь</span>, 9 - <span class="eg">девять</span>, 10 - <span class="eg">десять</span>) and numbers <span class="eg">сто</span> (100), <span class="eg">тысяча</span> (1000). Almost all other numerals are formed on the basis of these numerals, taking into consideration minor stem changes: 
</p>

<ul class="numb-form">
	<li>
		Numerals from 11 to 19 are words formed by adding -<span class="eg">надцать</span> (-<span class="eg">на</span> means <span class="egt">on</span>, -<span class="eg">дцать</span> is a contraction of десять <span class="egt">ten</span>) to the stem of numerals  from 1 to 9.
	</li>
	<li>
		Numerals 20, 30, 50, 60, 70, and 80 have the numarals from 2 to 8 as the initial part, and -<span class="eg">дцать</span> or -<span class="eg">десят</span> on their end (modified word <span class="eg">десять</span>). Note that numerals <span class="eg">сорок</span> (40) and <span class="eg">девяносто</span> (90) do not match this pattern.
	</li>
	<li>
		Hundreds from 200 to 900 (numerals 200, 300, 400 etc.) end in -<span class="eg">сти</span>, -<span class="eg">ста</span> or -<span class="eg">сот</span>, modifications of the word <span class="eg">сто</span> <span class="egt">hundred</span>. 

	</li>
</ul>

<p>
Thus, Russian basic cardinal numerals (their nominative case forms) are as follows:
</p>

<table  class="st-table numb-list" cellspacing="0" align="center">
  <tr>
    <th>&nbsp;</td>
    <th >&nbsp;<b><i>Units</i></b></th>
    <th><b><i>&nbsp;</i></b></th>
    <th><b><i>&nbsp;Teens</i></b></th>
    <th ><b><i>&nbsp;</i></b></th>
    <th><b><i>&nbsp;Tens</i></b></th>
    <th><b><i>&nbsp;</i></b></th>
    <th class="thbrd"><b><i>&nbsp;Hundreds</i></b></th>
  </tr>
  <tr>
    <td>
      1<br>
      2<br>
      3<br>
      4<br>
      5<br>
      6<br>
      7<br>
      8<br>
      9&nbsp;
    </td>
    <td class="numb_string">
      один<br>
      два<br>
      три<br>
      четыре<br>
      пять<br>
      шесть<br>
      семь<br>
      восемь<br>
      девять<br>
    </td>
    <td>
      11<br>
      12<br>
      13<br>
      14<br>
      15<br>
      16<br>
      17<br>
      18<br>
      19
    </td>
    <td class="numb_string">

      одиннадцать<br>
      двенадцать<br>
      тринадцать<br>
      четырнадцать<br>
      пятнадцать<br>
      шестнадцать<br>
      семнадцать<br>
      восемнадцать<br>
      девятнадцать&nbsp;
      <br>
    </td>
    <td>
      10<br>
      20<br>
      30<br>
      40<br>
      50<br>
      60<br>
      70<br>
      80<br>
      90
    </td>
    <td class="numb_string">
      десять<br>
      двадцать<br>
      тридцать<br>
      сорок<br>
      пятьдесят<br>
      шестьдесят<br>
      семьдесят<br>
      восемьдесят<br>
      девяносто
    </td>
    <td >
      100<br>
      200<br>
      300<br>
      400<br>
      500<br>
      600<br>
      700<br>
      800<br>
      900
    </td>
    <td class="numb_string">
	  сто<br>
      двести<br>
      триста<br>
      четыреста<br>
      пятьсот<br>
      шестьсот<br>
      семьсот<br>
      восемьсот<br>
      девятьсот
    </td>
  </tr>
</table>
<p>
Other important numerals are <span class="eg">тысяча</span> <span class="egt">thousand</span>, <span class="eg">милллион</span> and <span class="egt">million</span>.
</p>
<p>
Other numerals are compounds formed by two or more words written separately.
</p>

<div class="egdiv">
<h4>Examples: </h4>
<p>
53 - <span class="eg">пятьдесят три</span>
</p>
<p>
4137 - <span class="eg">четыре тысячи сто тридцать семь</span>
</p>

</div>
<br>

<p>You can also see the list of Rusian cardinal numerals with audio samples and stresses on the following pages:<br>
</p>
<p>
- <a  href="numerals00-100.html">Cardinal numbers from 0 to 100</a> (with audio and stresses)<br> 
- <a href="numerals100.html">Cardinal numbers more than 100</a> (with audio and stresses) <br>
</p>

<br><br><br><br><br>

