<% @page_title = 'Russian Language Online: Exercises that help to learn Russian alphabet' %>
<% @page_meta = {'description' => "Online practice of reading in Russian: interactive exercises to learn Cyrillic alphabet"} %>

<% content_for :special_js_css do %>

<style type="text/css">
h2.page {margin-bottom: 0px;}
.texts-listing li {
padding: 2px 0px;
}
</style>

<% end %>

<h2 class="page">Learn Russian Alphabet</h2>
<h3 class="page-path"><span class="int-links"><a href="russian-reading.html">Reading in Russian</a> <span class="int-arrow">--&gt;</span> Russian alphabet exercises</span></h3>


<p>
In this section, you will find 3 lessons designed for those who wish to learn the Russian (Cyrillic) alphabet well. 
Each lessons includes a list of letters (with audio samples) to learn and different interactive exercises that will help you to get familiar with 
Russian alphabet.
</p>


<p>Here, you will find the following lessons: </p>

<div class="les-desc" style="padding: 0pt 60px 0pt 40px;">
<h4>Lesson 1. Letters denoting vowel sounds</h4>
<p>
In this lesson, you can work with Russian letters denoting vowel sounds: A, Е, Ё, И, О, У, Ы, Э, Ю, Я. 
Most of them do not look like English letters and require much attention and effort to be memorized.
<br/>
<a title="Lesson 1" href="/russian-alphabet-exercises-01.html">Go to this lesson >></a>
</p>

<h4>Lesson 2. Letters denoting vowel sounds (part 1)</h4>
<p>
In this lesson, you can work with Russian letters В, З, К, М, Н, Р, С, Т, Х, Ч. 
These letters may look similar for English speaking people, but most of them sounds quite differently from English letters.
<br/>
<a title="Lesson 2" href="/russian-alphabet-exercises-02.html">Go to this lesson >></a>
</p>

<h4>Lesson 3. Letters denoting vowel sounds (part 2)</h4>
<p>
In this lesson, you can work with Russian letters Б, Г, Д , Ж, Й, Л, П, Ф, Ц , Ш, Щ, and special signs Ь (soft sign) and Ъ (hard sign) . 
These letters may seem unusual and new for English speaking people, since they look quite different from English letters. 
<br/>
<a title="Lesson 3" href="/russian-alphabet-exercises-03.html">Go to this lesson >></a>
</p>

</div>

<br>

<p>
In most exercises of these lessons, tasks are sorted randomly each time you start the exercise, so you can work with them more than once. 
When you complete all tasks in these exercises, you will see your results, including total number of tasks and correct answers. 
We recommend you to complete the exercise once more, if your total result is less than 90%.
</p>

<br><br><br><br><br><br><br><br>


<script type="text/javascript">
currentSection="reading";
</script>
