<% @page_title = 'Study Russian Online: Number of Russian nouns (Nominative Plural)' %>
<% @page_meta = {'description' => "Information for those who start to study Russian: Plural number of Russian nouns (Nominative Plural)."} %>


<% content_for :special_js_css do %>
<style type="text/css">
h2.page {
margin-bottom: 0px;
}
.egdiv {
margin-right: 150px;
}

</style>
<% end %>


<h2 class="page">Plural forms of Russian nouns <br>(Nominative Plural)
<span class="int-links"><a href="additional.html">Additional info</a>  <span class="int-arrow">--></span> Plural forms</span>

</h2>

<p>
See also: <a href="russian-cases.html">Russian Cases</a>, <a href="russian-nouns-declension.html">Russian Nouns Declension</a>
</p>

<br/>

<p>
In Russian, nouns distinguish singular and plural number. In general, plural froms of nouns are made by adding  or changing the ending of the word. It should be noted that the grammatical number of nouns is a very complex question which is closely related to cases of nouns. 
</p>
<p>
Moreover, there are a lot of particuliarities concering plural forms of Russian which may require quite a lot of time and practice. So, to get started we are going to consider the most frequent rules to form the <a href="/russian-nominative-case.html">nominative</a> plural so that you could get the general idea about the grammatical number in Russian. 
</p>

<br/>

<hr/>
<h3>Basic rules to form the Nominative Plural</h3>
<br/>

<p>
<strong><i>Masculine nouns</i></strong> 
</p>

<p>
1. Nouns ending in a consonant (hard stem nouns) (except -<span class="eg">ж</span>, -<span class="eg">ч</span>, -<span class="eg">щ</span>, -<span class="eg">ц</span>, and -<span class="eg">к</span>, -<span class="eg">х</span>, -<span class="eg">г</span>) add the ending -<span class="eg">ы</span>. 
</p>


<div class="egdiv">
<h4>Examples: </h4>
<p>
банан - бананы <br/>
театр - театры
</p>
</div>

<p>
2. Nouns ending in -<span class="eg">ь</span> and -<span class="eg">й</span> (soft stem nouns) change -<span class="eg">ь</span> and -<span class="eg">й</span> to -<span class="eg">и</span>:
</p>

<div class="egdiv">
<h4>Examples: </h4>
<p>
музей - музеи <br/>
писатель - писатели
</p>
</div>

<p>
3. Nouns -<span class="eg">ж</span>, -<span class="eg">ч</span>, -<span class="eg">щ</span>, -<span class="eg">ш</span>, and -<span class="eg">к</span>, -<span class="eg">х</span>, -<span class="eg">г</span> add the ending -<span class="eg">и</span>:
</p>

<div class="egdiv">
<h4>Examples: </h4>
<p>
диалог - диалоги <br/>
парк - парки <br/>
пляж - пляжи
</p>
</div>

<br/>

<p>
<strong><i>Feminine nouns</i></strong> 
</p>


<p>
1. Nouns ending in -<span class="eg">а</span> (except -<span class="eg">жа</span>, -<span class="eg">чa</span>, -<span class="eg">ща</span>, -<span class="eg">ша</span>, and -<span class="eg">ка</span>, -<span class="eg">ха</span>, -<span class="eg">га</span>) change -<span class="eg">а</span> to -<span class="eg">ы</span>:
</p>

<div class="egdiv">
<h4>Examples: </h4>
<p>
улица - улицы <br/>
проблема - проблемы
</p>
</div>

<p>
2. Nouns ending in -<span class="eg">я</span> and in -<span class="eg">ь</span>, change -<span class="eg">я</span> and -<span class="eg">ь</span>, to -<span class="eg">и</span>:
</p>

<div class="egdiv">
<h4>Examples: </h4>
<p>
станция - станции <br/>
вишня - вишни <br/>
дверь - двери
</p>
</div>

<p>
3. Nouns ending in -<span class="eg">жа</span>, -<span class="eg">чa</span>, -<span class="eg">ща</span>, -<span class="eg">ша</span>, and -<span class="eg">ка</span>, -<span class="eg">ха</span>, -<span class="eg">га</span>, change -<span class="eg">а</span> to -<span class="eg">и</span>:
</p>

<div class="egdiv">
<h4>Examples: </h4>
<p>
книга - книги  <br/>
открытка - открытки  <br/>
роща  (grove) - рощи 
</p>
</div>

<br/>

<p>
<strong><i>Neuter nouns</i></strong> 
</p>


<p>
1. Nouns ending in -<span class="eg">o</span> change ending to -<span class="eg">а</span>:
</p>

<div class="egdiv">
<h4>Examples: </h4>
<p>
окно - окна  <br/>
кресло - кресла
</p>
</div>

<p>
2. Nouns ending in -<span class="eg">е</span> change ending to -<span class="eg">я</span>:
</p>

<div class="egdiv">
<h4>Examples: </h4>
<p>
море - моря <br/>
здание - здания  
</p>
</div>



<br/>

<hr/>
<h3>Particular cases</h3>


<p>
There a lot of nouns with plural form that does not conform to above-mentioned rules. Below, we provide a few (most frequent) examples of such nouns: 
</p>
<br/>

<p>
1. A small number of Russian masculine nouns add the stressed ending -<span class="eg">a</span>/-<span class="eg">я</span> (instead of -<span class="eg">ы</span>/-<span class="eg">и</span>):
</p>


<div class="egdiv">
<h4>Examples: </h4>

<p class="bold ital">Some of the most common masculine nouns having the ending -a/-я in plural:</p>
<p>
глаз - глаза <br/>
номер - номера <br/>
дом - дома <br/>
вечер - вечера  <br/>
поезд - поезда <br/>
адрес - адреса <br/>
город - города <br/>
паспорт - паспорта <br/>
профессор - профессора <br/>
учитель - учителя
</p>
</div>

<p>
2. Several masculine nouns have the ending -<span class="eg">ья</span> in plural, with stem changes in some of them: 
</p>

<div class="egdiv">
<h4>Examples: </h4>
<p>
стул - стулья <br/>
брат - братья  <br/>
друг - друзья  <br/>
сын - сыновья <br/>
муж - мужья 
</p>
</div>

<p>
3. Several neuter nouns form the nominative plural with -<span class="eg">ья</span>: 
</p>

<div class="egdiv">
<h4>Examples: </h4>
<p>
дерево - деревья <br/>
крыло - крылья <br/>
перо - перья
</p>
</div>

<p>
4. Neuter nouns ending in -<span class="eg">мя</span>  change the final -<span class="eg">я</span> to -<span class="eg">ена</span>:
</p>

<div class="egdiv">
<h4>Examples: </h4>
<p>
имя - имена <br/>
время - времена
</p>
</div>

<p>
5. Feminine  nouns <span class="eg">дочь</span> and <span class="eg">мать</span> have stem changes in plural: 
</p>

<div class="egdiv">
<h4>Examples: </h4>
<p>
мать - матери  <br/>
дочь - дочери
</p>
</div>


<div class="see-exercises">

<span>See also:</span> <a href="nouns-number-exercises.html">Grammar exercises: Russian nouns number</a>

</div>






