<% @page_title = 'Study Russian Online: Russian Personal Pronouns' %>
<% @page_meta = {'description' => "Personal pronouns are words used in place of a noun to indicate the speaker, the person to whom one is speaking, and persons and objects spoken about. Russian personal pronouns distinguish three persons, two numbers, six cases, and, in the third person, three genders."} %>


<% content_for :special_js_css do %>
<%= stylesheet_link_tag 'stylesounds' %>

<style type="text/css">

table.st-table {
margin: 10px auto;
}

table.st-table th {
padding: 0px 8px;
}

.gend-tds td {
font-style: italic;
}

.eng-pron td {
font-size: 11px;
font-style: italic;
font-weight: bold;
}


</style>

<% end %>



<h2 class="page">Russian Personal Pronouns
<span class="int-links"><a href="additional.html">Additional info</a> <span class="int-arrow">--&gt;</span> Russian Personal Pronouns </span>

</h2>

<p>
<dfn>Personal pronouns</dfn> are words used in place of a noun or another pronoun to indicate the speaker (first person, in English the pronouns "I", "we"), the person or persons to whom one is speaking (second person, in English the pronoun "You"), and persons and objects spoken about (third person, in English the pronouns "he", "she", "it", "they").
</p>
<p>
Personal pronouns in Russian distinguish three persons, two numbers, six cases, and, in the third person, three genders.
The table below shows the declension patterns of each of the personal pronoun. 
</p>
<p>
It should be mentioned that in Russian the second person has the respectful form <span class="eg">Вы</span> and the familiar form <span class="eg">ты</span>. To read more about these fomrs, see <a href="russian-address-forms.html">Polite and familiar address in Russian</a>    

</p>
<p>
Note that the third person requires <span class="eg">н-</span> to be added at the beginning of the word following a preposition.
</p>

<h3 style="text-align: center;">Singular Personal Pronouns</h3>


<table class="st-table" cellspacing="0" align="center">
	<tr style="vertical-align: middle;">
		<th rowspan="2">Case</th>

		<th rowspan="2">1st Person</th>
		<th rowspan="2">2nd Person</th>
		<th colspan="3" style="padding-top: 8px; padding-bottom: 8px;" class="thbrd">3d Person</th>

	</tr>
	<tr class="second-th gend-tds" style="vertical-align: middle;">
		<td>masculine</td>

		<td>feminine</td>
		<td>neuter</td>
	</tr>
	<tr class="eng-pron">
		<td>&nbsp;</td>
		<td>I</td>
		<td>You</td>

		<td>He</td>
		<td>She</td>
		<td>It</td>
	</tr>
	<tr class="trow">
		<td class="case-name">Nom</td>
		<td>я</td>

		<td>ты</td>
		<td>он</td>
		<td>она</td>
		<td>оно</td>
	</tr>
	<tr class="trow">
		<td class="case-name">Gen</td>

		<td>меня</td>
		<td>тебя</td>
		<td>его</td>
		<td>её</td>
		<td>его</td>
	</tr>

	<tr class="trow">
		<td  class="case-name">Dat</td>
		<td>мне</td>
		<td>тебе</td>
		<td>ему</td>
		<td>ей</td>

		<td>ему</td>
	</tr>
	<tr class="trow">
		<td class="case-name">Acc</td>
		<td>меня</td>
		<td>тебя</td>
		<td>его</td>

		<td>её</td>
		<td>его</td>
	</tr>
	<tr class="trow">
		<td class="case-name">Ins</td>
		<td>мной</td>
		<td>тобой</td>

		<td>им</td>
		<td>ей</td>
		<td>им</td>
	</tr>
	<tr class="trow">
		<td class="case-name">Prep</td>
		<td>мне</td>

		<td>тебе</td>
		<td>нём</td>
		<td>ней</td>
		<td>нём</td>
	</tr>
</table>

<h3 style="text-align: center;">Plural Personal Pronouns</h3>


<table class="st-table" cellspacing="0" align="center">
	<tr style="vertical-align: middle;">
		<th >Case</th>
		<th >1st Person</th>
		<th >2nd Person</th>
		<th style="padding-top: 8px; padding-bottom: 8px;" class="thbrd">3d Person</th>

	</tr>
	<tr class="eng-pron">
		<td>&nbsp;</td>
		<td>We</td>
		<td>You</td>
		<td>They</td>
	</tr>

	<tr class="trow">
		<td class="case-name">Nom</td>
		<td>мы</td>
		<td>вы</td>
		<td>они</td>
	</tr>
	<tr class="trow">

		<td class="case-name">Gen</td>
		<td>нас</td>
		<td>вас</td>
		<td>их</td>
	</tr>
	<tr class="trow">
		<td  class="case-name">Dat</td>

		<td>нам</td>
		<td>вам</td>
		<td>им</td>

	</tr>
	<tr class="trow">
		<td class="case-name">Acc</td>

		<td>нас</td>
		<td>вас</td>
		<td>их</td>
	</tr>
	<tr class="trow">
		<td class="case-name">Ins</td>
		<td>нами</td>

		<td>вами</td>
		<td>ими</td>
	</tr>
	<tr class="trow">
		<td class="case-name">Prep</td>
		<td>нас</td>
		<td>вас</td>

		<td>них</td>
	</tr>
</table>





