<% @page_title = 'Study Russian Online: Russian Cases' %>
<% @page_meta = {'description' => "Basic infomation about Russian cases and a short description of the nominative, genitive, dative, accusative,  instrumental and prepositional cases."} %>

<% content_for :special_js_css do %>

<style type="text/css">
h3 {
font-size: 14px;
font-style: italic;
}
</style>

<% end %>


<h2 class="page">Russian Cases
<span class="int-links"><a href="additional.html">Additional info</a> <span class="int-arrow">--></span> Russian Cases</span>
</h2>


<p>
Before you learn Russian alphabet, we present here some facts about it that could be interesting for you. 
</p>
<p>
The Russian alphabet is also referred to as Cyrillic alphabet because one of its authors was a Greek monk St. Cyril. St. Cyril and St. Methodius created the early version of the Cyrillic alphabet in the 10th century. These monks combined letters of the Greek alphabet with new characters for the specifically Slavonic sounds. Cyril's disciples later formalized the Slavic language that is called Old Church Slavonic (We cannot speak about the "Russian" language prior to the 14th century). 
</p>
<p>
The Russian language uses the Cyrillic alphabet, whereas English is written with the Latin alphabet. However, there are a few letters that are shared by both languages. Still other letters may be familiar to you from basic mathematics and the names of college fraternities and sororities. As you use this site, you will quickly become familiar with the letters of the Russian alphabet and sounds, and soon you will be able to recognize them instantly. 
</p>
<p>
If you want to learn Russian alphabet, you should know that it has 33 characters, many of which are similar to English. Once you know the sounds of the 33 letters, you can read Russian words comprehensibly; unlike English, it is generally true to say that Russian words are pronounced as they are written. 
</p>
<p>
However, there are some regular minor differences between Russian spelling and pronunciation which you can ignore if you want simply to be understood. If you read words as they are spelt, you will not cause misunderstanding. However, if you are interested in the details of the small differences between the way letters are pronounced in the Russian alphabet and the way they are pronounced in words and phrases, study Russian rules of reading on our website. 
</p>
<p>
<em>
<strong>
You can learn Russian alphabet on the page <a href="alphabet.html">Russian alphabet</a>, where you will find Russian letters, their alphabetical names and pronunciation.
</strong>
</em>
</p>
