<% @page_title = 'Study Russian Online Recommendations' %>
<% @page_meta = {'description' => "Special recommendations for those who start to study Russian."} %>




<h2 class="page">Polite and familiar address in Russian</h2>

<p>
The Russian language has two forms of address: familiar <em>ты</em> and respectful <em>Вы</em>. The polite form is used when you talking to someone you don't know very well or in formal situations. Russian familiar form ты is generally used among friends and relatives. 
</p>
<p>
People may transition from <em>ты</em> to <em>Вы</em> with mutual agreement and begin to speak on familiar terms. Use of <em>ты</em> without consent of the other person is considered to be extremely rude. 

</p>
<p>
Grammatically, Russian polite form <em>Вы</em> is identical to plural of second person <em>вы</em> (note that the polite form is capitalized and plural is not), so other related sentence elements like verbs and adjectives require the usage of their plural forms.
</p>
<p>
<em>Examples: </em>
</p>
<p>
Я надеюсь, <strong>ты</strong> понима<u>ешь</u>. (I hope you understand)  -  familiar form of address to one person, verb <em>понимать</em> (to understand) in singular of second person.

</p>
<p>
Я надеюсь, <strong>Вы</strong> понима<u>ете</u>. (I hope you understand) -  respectful form of address to one person, verb <em>понимать</em> (to understand) in plural of second person.
</p>
<p>
Я надеюсь, <strong>вы</strong> понима<u>ете</u>. (I hope you understand) - address (respectful or familiar) to several persons , verb <em>понимать</em> (to understand) in plural of second person.

</p>







