<% @page_title = 'Study Russian Online Recommendations' %>
<% @page_meta = {'description' => "Special recommendations for those who start to study Russian."} %>

<% content_for :special_js_css do %>
<style type="text/css">
h2.page {margin-bottom: 0px;}
</style>
<% end %>



<h2 class="page">Polite and familiar address in Russian</h2>
<h3 class="page-path">
<span class="int-links"><a href="/russian-grammar.html">Russian grammar</a> <span class="int-arrow">--&gt;</span> Polite and familiar address </span>
</h3>

<p>
The Russian language has two forms of address: familiar <span class="eg">ты</span> and respectful <span class="eg">Вы</span>. The polite form is used when you talking to someone you don't know very well or in formal situations. Russian familiar form <span class="eg">ты</span> is generally used among friends and relatives. 
</p>
<p>
People may transition from <span class="eg">ты</span> to <span class="eg">Вы</span> with mutual agreement and begin to speak on familiar terms. Use of <span class="eg">ты</span> without consent of the other person is considered to be extremely rude. 

</p>
<p>
Grammatically, Russian polite form <span class="eg">Вы</span> is identical to plural of second person <span class="eg">вы</span> (note that the polite form is capitalized and plural is not), so other related sentence elements like verbs and adjectives require the usage of their plural forms.
</p>


<div class="egdiv">
<h4>Examples: </h4>
<p>
Я надеюсь, <strong>ты</strong> понима<u>ешь</u>. (<span class="egt">I hope you understand</span>)  -  familiar form of address to one person, verb <span class="eg">понимать</span> (to understand) in singular of second person.
</p>
<p>
Я надеюсь, <strong>Вы</strong> понима<u>ете</u>. (<span class="egt">I hope you understand</span>) -  respectful form of address to one person, verb <span class="eg">понимать</span> (to understand) in plural of second person.
</p>
<p>
Я надеюсь, <strong>вы</strong> понима<u>ете</u>. (<span class="egt">I hope you understand</span>) - address (respectful or familiar) to several persons , verb <span class="eg">понимать</span> (to understand) in plural of second person.
</p>
</div>


<br><br><br><br><br>


<script type="text/javascript">
currentSection="grammar";
</script>




