<% @page_title = 'Study Russian Online: Russian Indeclinable Pronouns' %>
<% @page_meta = {'description' => "Information about Russian indeclinable nouns: description, types and examples."} %>

<% content_for :special_js_css do %>
<%= stylesheet_link_tag 'stylesounds' %>
<style type="text/css">
h2.page {
margin-bottom: 0px;
}
</style>

<% end %>

<h2 class="page">Russian Indeclinable Nouns</h2>
<h3 class="page-path">
<span class="int-links"><a href="/russian-grammar.html">Russian grammar</a>  <span class="int-arrow">--&gt;</span> Indeclinable Nouns </span>
</h3>

<p>
<dfn>Indeclinable nouns</dfn> are nouns that don't display grammatical relations with other words in a sentence by means of declension. The paradigms of the indeclinable nouns contain a set of identical word forms, i.e. they do not inflect or change their forms for number and cases. However, indeclinable nouns have a lot of common points with declinable nouns: their grammatical categories, such as gender, number, animacy/inanimacy, and cases, should also be expressed in a sentence, not by means of endings, but syntactically, by forms of their modifiers.
</p>

<div class="egdiv">
<h4>Example: </h4>
<p>Это очень <u>вкусные</u> канапе. - These are very tasty canapés. </p>
<p>The plural number of the noun <span class="eg">канапе</span> is expressed by the ending of the adjective <span class="eg">вкусн<u>ые</u></span>.</p>
</div>

<p>
Indeclinable nouns are relatively recent in the Russian language: they appeared in the 19th century. They were mainly words borrowed from other languages. Nowadays, there are both loanwords and originally Russian indeclinable nouns, many of which appeared after 1917. 
</p>
<p>Originally Russian indeclinable nouns include: </p>
<ul>
	<li>
   		<p>different types of abbreviations: </p>
			<p>- initialisms (where a letter group is pronounced as letters, not as a word): <span style="white-space: nowrap"><span class="eg">СССР</span> [es-es-es-er] <span class="egt">USSR</span></span>;</p>
			<p>- a large number of acronyms in which a letter group is pronounced as a word: <span class="eg">ВИЧ</span> [vich] <span class="egt">HIV</span>;</p>
			<p>- some clippings (putting together syllabic elements from other words ), like <span class="eg">КамАЗ</span>, <span class="eg">комроты</span> etc.;</p>
	</li>
	<li>
		<p>surnames ending in -<span class="eg">аго</span>, -<span class="eg">ово</span>, -<span class="eg">их</span>, -<span class="eg">ых</span>: <span class="eg">Белых</span> ;</p>
	</li>
	<li>
		<p>female surnames ending in a consonant, like <span class="eg">Бегун</span>, <span class="eg">Мельник</span>, <span class="eg">Соловей</span>.</p>
	</li>
</ul>

<p>Indeclinable nouns borrowed from other languages include: </p>

<ul>
	<li>
		<p>
			proper and common nouns ending in -<span class="eg">э</span>/-<span class="eg">е</span>, -<span class="eg">о</span>, -<span class="eg">и</span>, -<span class="eg">у</span>/-<span class="eg">ю</span>, and stressed -<span class="eg">а</span>/-<span class="eg">я</span> (foreign names and surnames ending in -<span class="eg">a</span> decline): <span class="eg">меню</span> <span class="egt">menu</span>, <span class="eg">кафе</span> <span class="egt">cafe</span>, <span class="eg">па</span> <span class="egt">pas, step</span> ;
		</p>
	</li>
	<li>
		<p>Ukrainian surnames (relatively recent loanwords) ending in -<strong>ко</strong>: <span class="eg">Петренко</span> ;</p>
	</li>
	<li>
		<p>female names and surnames ending in a consonant: <span class="eg">Шмидт</span>;</p>
	</li>
	<li>
		<p>words <span class="eg">мадам</span>, <span class="eg">мисс</span>, <span class="eg">миссис</span>.</p>
	</li>
</ul>

<br><br><br><br><br><br><br><br><br><br><br>

<script type="text/javascript">
currentSection="grammar";
</script>


