<% @page_title = 'Study Russian Online: Animate and inanimate nouns, Animacy in Russian' %>
<% @page_meta = {'description' => "Animacy is a characteristic of nouns which indicates that the meaning of the word correlates to a living being. All Russian nouns are divided into two classes: animate nouns (people and animals) and inanimate nouns (nonliving objects and abstract things)."} %>


<% content_for :special_js_css do %>
<style type="text/css">

span.ending {
font-weight: bold;
}

.case-name {
font-style: italic;
}

td .ex-translate {
font-size: 11px;
padding-top: 5px;

}

.ex-wf {
text-decoration: underline;
}

</style>
<% end %>


<h2 class="page">Animate and inanimate nouns. <br/>Animacy in Russian.
<span class="int-links"><a href="/russian-grammar.html">Russian grammar</a> <span class="int-arrow">--&gt;</span> Animacy in Russian</span>

</h2>

<p>
In Russian, <dfn>animacy</dfn> is a characteristic of nouns which indicates that the meaning of the word correlates to a living being. Based on this characteristic, all Russian nouns are divided into two classes: <em>animate</em> nouns that have human or animal referents and <em>inanimate</em> nouns that refer to nonliving objects and abstract things.
</p>
<p>
Besides nouns denoting people and animals, words that denote some mythic characters, like <span class="eg">кентавр</span> <span class="egt">centaur</span>, <span class="eg">дракон</span> <span class="egt">dragon</span> etc, the court-cards (<span class="eg">туз</span> <span class="egt">ace</span>, <span class="eg">король</span> <span class="egt">king</span>, <span class="eg">дама</span> <span class="egt">queen</span>, <span class="eg">валет</span> <span class="egt">jack</span> ) in card games, anthropomorphic creatures or mechanisms (<span class="eg">робот</span> <span class="egt">robot</span>, <span class="eg">киборг</span> <span class="egt">cyborg</span>) and words <span class="eg">мертвец</span> <span class="egt">dead person</span>, <span class="eg">покойник</span> <span class="egt">the deceased</span>, <span class="eg">кукла</span> <span class="egt">doll</span>, <span class="eg">марионетка</span> <span class="egt">marionette</span> are also considered to be animate nouns. Some words may be used both as inanimate and animate nouns: <span class="eg">микроб</span> <span class="egt">microbe</span> (which is more often used as animate noun), <span class="eg">бактерия</span> <span class="egt">bacterium</span>, <span class="eg">личинка</span> <span class="egt">larva</span>, <span class="eg">куколка</span> <span class="egt">chrysalis</span>. Nouns denoting plants, groups of people (<span class="eg">армия</span> <span class="egt">army</span>, <span class="eg">народ</span> <span class="egt">people</span>) or a group of animals (<span class="eg">стадо</span> <span class="egt">herd</span>) are inanimate.

</p>
<p>
The above-mentioned information about animate and inanimate nouns is sufficient for those who start learning Russian. However, if you are already familiar with Russian cases forms or just interested in further details about category of animacy, you may find it useful to take a look of the following facts related to the animacy in the Russian language. 
</p>
<p>
In Russian grammar, it may be very important to know whether the phrase concerns animate or inanimate referents. Specifically, the accusative form for some groups of nouns, adjectives, pronouns and numerals has two possible forms depending on the animacy of the referent. 
</p>
<p id="rule_an-in">
Before we examine the groups of words in which animacy is grammatically relevant and give several examples, we should mention the general rule that will apply to accusative forms in these groups: 
</p>
<p>
<em>- For animate referents, the accusative forms are identical to the genitive forms (Acc=Gen).</em>
</p>
<p>
<em>- For inanimate referents, the accusative forms are identical to the nominative forms (Acc=Nom).</em>

</p>


<p>This principle is relevant for the following groups of words:</p> 

<p>
1.  Masculine singular nouns ending with a consonant in the nominative form (the first declension):
</p>

<table class="st-table" cellspacing="0">
	<col width="70"> 
	<col width="220"> 
	<col width="220">  
	
	<tr>
		<th>Cases</th>

		<th>Animate referent</th>
		<th class="thbrd">Inanimate referent</th>
	</tr>
	<tr>
		<td class="case-name">Nom</td>
		<td>
			Это <span class="ex-wf">студент</span>.
			<div class="ex-translate">This is a student (<em>masc&nbsp;sing</em>).</div>

		</td>
		<td>
			Это <span class="ex-wf">диалог</span>.
			<div class="ex-translate">This is a dialogue (<em>masc&nbsp;sing</em>).</div>
		</td>
	</tr>

	<tr>
		<td class="case-name">Gen</td>
		<td>
			Это журнал <span class="ex-wf">студента</span>.
			<div class="ex-translate">This is the magazine of the student.</div>
		</td>
		<td>

			Это текст <span class="ex-wf">диалога</span>.
			<div class="ex-translate">This is the text of the dialogue.</div>
		</td>
	</tr>
	<tr>
		<td class="case-name">Acc</td>
		<td>

			Я вижу <span class="ex-wf">студента</span>.
			<div class="ex-translate">I see the student.</div>
		</td>
		<td>
			Я читаю <span class="ex-wf">диалог</span>.
			<div class="ex-translate">I'm reading a dialogue.</div>
		</td>

	</tr>
	<tr>
		<td class="case-name">&nbsp;</td>
		<td><strong>Acc=Gen</strong></td>
		<td><strong>Acc=Nom</strong></td>
	</tr>
</table>

<p>2.  Plural nouns (with no gender distinction). </p>

<table class="st-table" cellspacing="0">
	<col width="70"> 
	<col width="220"> 
	<col width="220">  
	
	<tr>
		<th>Cases</th>
		<th>Animate referent</th>
		<th class="thbrd">Inanimate referent</th>
	</tr>

	<tr>
		<td class="case-name">Nom</td>
		<td>
			Это <span class="ex-wf">студентки</span>.
			<div class="ex-translate">These are students (<em>fem&nbsp;pl</em>).</div>
		</td>

		<td>
			Это <span class="ex-wf">диалоги</span>.
			<div class="ex-translate">These are dialogues (<em>masc&nbsp;pl</em>).</div>
		</td>
	</tr>
	<tr>

		<td class="case-name">Gen</td>
		<td>
			Это журнал <span class="ex-wf">студенток</span>.
			<div class="ex-translate">This is the magazine of the students.</div>
		</td>
		<td>
			Это текст <span class="ex-wf">диалогов</span>.
			<div class="ex-translate">This is the text of the dialogues.</div>

		</td>
	</tr>
	<tr>
		<td class="case-name">Acc</td>
		<td>
			Я вижу <span class="ex-wf">студенток</span>.
			<div class="ex-translate">I see the students.</div>

		</td>
		<td>
			Я читаю <span class="ex-wf">диалоги</span>.
			<div class="ex-translate">I'm reading the dialogues.</div>
		</td>
	</tr>
	<tr>
		<td class="case-name">&nbsp;</td>

		<td><strong>Acc=Gen</strong></td>
		<td><strong>Acc=Nom</strong></td>
	</tr>
</table>

<p>3.  Adjectives and words which behave as adjectives (pronouns - possessives, demonstrative etc., the numeral <em>один</em> "one", ordinal numerals, verb participles) related to a masculine noun in singular: </p>

<table class="st-table" cellspacing="0">

	<col width="70"> 
	<col width="220"> 
	<col width="220">  
	
	<tr>
		<th>Cases</th>
		<th>Animate referent</th>
		<th class="thbrd">Inanimate referent</th>
	</tr>
	<tr>

		<td class="case-name">Nom</td>
		<td>
			Это <span class="ex-wf">новый</span> студент.
			<div class="ex-translate">This is a new student (<em>masc&nbsp;sing</em>).</div>
		</td>

		<td>
			Это <span class="ex-wf">новый</span> диалог.
			<div class="ex-translate">This is a new dialogue (<em>masc&nbsp;sing</em>).</div>
		</td>
	</tr>
	<tr>

		<td class="case-name">Gen</td>
		<td>
			Это журнал <span class="ex-wf">нового</span> студента.
			<div class="ex-translate">This is the magazine of the new student.</div>
		</td>
		<td>
			Это текст <span class="ex-wf">нового</span> диалога.
			<div class="ex-translate">This is the text of the new dialogue.</div>

		</td>
	</tr>
	<tr>
		<td class="case-name">Acc</td>
		<td>
			Я вижу <span class="ex-wf">нового</span> студента.
			<div class="ex-translate">I see the new student.</div>

		</td>
		<td>
			Я читаю <span class="ex-wf">новый</span> диалог.
			<div class="ex-translate">I'm reading the new dialogue.</div>
		</td>
	</tr>
	<tr>

		<td class="case-name">&nbsp;</td>
		<td><strong>Acc=Gen</strong></td>
		<td><strong>Acc=Nom</strong></td>
	</tr>
</table>

<p>
4. Adjectives and words which behave as adjectives (pronouns - possessives, demonstrative etc., ordinal numerals, verb participles) related to a noun in plural, with no gender distinction:
</p>

<table class="st-table" cellspacing="0">

	<col width="70"> 
	<col width="220"> 
	<col width="220">  
	
	<tr>
		<th>Cases</th>
		<th>Animate referent</th>
		<th class="thbrd">Inanimate referent</th>
	</tr>
	<tr>

		<td class="case-name">Nom</td>
		<td>
			Это <span class="ex-wf">новые</span> студенты.
			<div class="ex-translate">These are new student (<em>masc&nbsp;pl</em>).</div>
		</td>

		<td>
			Это <span class="ex-wf">новые</span> диалоги.
			<div class="ex-translate">These are new dialogues (<em>masc&nbsp;pl</em>).</div>
		</td>
	</tr>
	<tr>

		<td class="case-name">Gen</td>
		<td>
			Это журнал <span class="ex-wf">новых</span> студентов.
			<div class="ex-translate">This is the magazine of the new students.</div>
		</td>
		<td>
			Это текст <span class="ex-wf">новых</span> диалогов.
			<div class="ex-translate">This is the text of the new dialogues.</div>

		</td>
	</tr>
	<tr>
		<td class="case-name">Acc</td>
		<td>
			Я вижу <span class="ex-wf">новых</span> студентов.
			<div class="ex-translate">I see the new students.</div>

		</td>
		<td>
			Я читаю <span class="ex-wf">новые</span> диалоги.
			<div class="ex-translate">I'm reading the new dialogues.</div>
		</td>
	</tr>
	<tr>

		<td class="case-name">&nbsp;</td>
		<td><strong>Acc=Gen</strong></td>
		<td><strong>Acc=Nom</strong></td>
	</tr>
</table>

<p>
5. Cardinal numerals <em>два</em> "one", <em>три</em> "two", <em>четыре</em> "four":

</p>

<table class="st-table" cellspacing="0">
	<col width="70"> 
	<col width="220"> 
	<col width="220">  
	
	<tr>
		<th>Cases</th>
		<th>Animate referent</th>
		<th class="thbrd">Inanimate referent</th>

	</tr>
	<tr>
		<td class="case-name">Nom</td>
		<td>
			Это <span class="ex-wf">три</span> студента.
			<div class="ex-translate">These are three students.</div>
		</td>

		<td>
			Это <span class="ex-wf">два</span> диалога.
			<div class="ex-translate">These are two dialogues.</div>
		</td>
	</tr>
	<tr>
		<td class="case-name">Gen</td>

		<td>
			Это журнал <span class="ex-wf">трёх</span> студентов.
			<div class="ex-translate">This is the magazine of the three students.</div>
		</td>
		<td>
			Это текст <span class="ex-wf">двух</span> диалогов.
			<div class="ex-translate">This is the text of the two dialogues.</div>

		</td>
	</tr>
	<tr>
		<td class="case-name">Acc</td>
		<td>
			Я вижу <span class="ex-wf">трёх</span> студентов.
			<div class="ex-translate">I see the three students.</div>

		</td>
		<td>
			Я читаю <span class="ex-wf">три</span> диалога.
			<div class="ex-translate">I'm reading the three dialogues.</div>
		</td>
	</tr>
	<tr>

		<td class="case-name">&nbsp;</td>
		<td><strong>Acc=Gen</strong></td>
		<td><strong>Acc=Nom</strong></td>
	</tr>
</table>

<h3>Summary:</h3> 

<ul class="summary-list" >
	<li>

		Russian nouns are divided into two classes: animate nouns which usually denote people and animals, and inanimate nouns which refer to nonliving objects.
	</li>
	<li>
		Animacy may be an important factor for building accusative forms of masculine nouns, adjectives and adjective-like words in singular, and nouns adjectives and adjective-like words in plural, with no gender distinction. In these cases, accusative forms will be identical to genitive forms for animate referents, and accusative forms will be identical to nominative forms for animate referents.
	</li>
</ul>


<script type="text/javascript">
currentSection="grammar";
</script>


