<% @page_title = 'Study Russian Online: Instrumental case of Russian nouns' %>
<% @page_meta = {'description' => "Information for those who start to study Russian: Instrumental case of Russian nouns."} %>

<% content_for :special_js_css do %>
<style type="text/css">
h2.page {
margin-bottom: 0px;
}
</style>
<% end %>

<h2 class="page">Instrumental case of Russian nouns
</h2>

<h3 class="page-path"> 
<span class="int-links"><a href="additional.html">Additional info</a> <span class="int-arrow">--></span> <a href="russian-cases.html">Russian cases</a> <span class="int-arrow">--></span> Instrumental Case</span>
</h3>


<p>
The <strong>instrumental case</strong> is a set of word forms which usually mark the means of the action, like the English preposition "with" in phrase "he is writing with a pen". 
</p>

<h3 class="page-p">Uses of the Instrumental</h3>
</p>
<p>
1. <strong>To indicate an instrument to carry out the action</strong>.
</p>

<div class="egdiv">
<h4>Example: </h4>
<p>
Студент пишет <u>ручкой</u>. – The student is writing <u>with a pen</u>.

</p>
<p>
The word <em>ручкой</em> (with a pen) is the instrumental case form of the word <em>ручка</em> (pen) and indicates the instrument to carry out the action <em>писать</em> (to write).
</p>
</div>

<p>
2. In a Passive voice construction, <strong>to indicate the author of the action</strong>. 

</p>

<div class="egdiv">
<h4>Example: </h4>
<p>
Работа сделана <u>студентом</u>. – The work has been done <u>by the student</u>. 
</p>
<p>
The word <em>студентом</em> (by the student) is the instrumental case form of the word <em>студент</em> (student) and indicates the author of the action <em>сделать</em> (to do).
</p>
</div>


<p>
3. <strong>After certain verbs</strong>: 
</p>
<p>
<em>быть</em> - to be
<em>называться</em> - to be called, to assume the name<br>
<em>становиться</em> - to become<br>

<em>являться</em> - to be, to serve as<br>
<em>управлять</em> - to govern<br>
<em>увлекаться</em> - to take a great interest (in smth.)<br>
<em>восхищаться</em> - to admire 
</p>
<p>

4. <strong>After certain prepositions</strong>:
</p>
<p>
<em>за</em> - behind<br>
<em>между</em> - between<br>
<em>над</em> - above<br>

<em>перед</em>  - in front of, before<br>
<em>под</em> - under<br>
<em>с</em> - with <br>
</p>
<p>
5. <strong>With parts of the day and seasons of the year</strong> in expressions like: 

</p>
<p>
<em>утром</em> - in the morning<br>
<em>днём</em> - in the afternoon<br>
<em>весной</em> - in spring<br>
<em>летом</em> - in summer<br>

</p>



<h3 class="page-p">Formation</h3>


<p>Here we provide general rules how to form instrumental case forms from nominative singular forms. These rules cover the vast majority of Russian nouns. 
However, you should be aware that rules described below may have other exceptions. 

<h4 class="page-pp">Dative case endings</h4>

<p>The table below represents regular endings for singular and plural instrumental case forms: 


<table class="st-table" cellspacing="0" align="center" style="margin: 0 auto;"> 
	<tr style="vertical-align: middle;"> 
 
		<th style="min-width: 120px;">Gender</th> 
		<th style="min-width: 120px;">Singular</th> 
		<th style="min-width: 120px;" class="thbrd">Plural</th>  
	</tr> 
	<tr class="trow"> 
		<td class="case-name">Masculine</td> 
		<td> -ом / -ем / -ём </td> 
		<td rowspan="3" valign="middle">  -ами / -ями </td> 
 
	</tr> 
	<tr class="trow"> 
		<td class="case-name">Feminine</td> 
		<td> -ой / -ей / -ёй / -ю </td> 

	</tr> 
	<tr class="trow"> 
		<td class="case-name">Neuter</td> 
		<td>  -ом /-ем </td> 

	</tr> 
</table> 

<p>
Below, you will find detailed information about instrumental singular and plural forms of masculine, feminine and neuter nouns.
</p>

<h4 class="page-pp">Instrumental singular</h4>

<p class="ital bold">Masculine nouns</p>

<p>1. Nouns ending in a consonant should add the ending -<span class="letter">ом</span>.
However, following the <a href="russian-spelling-rules.html#rule_3">Spelling rule №3</a> nouns ending -<span class="letter">ж</span>, -<span class="letter">ч</span>, -<span class="letter">щ</span>, -<span class="letter">ш</span> 
can not be followed be the letter -<span class="letter">о</span> if the ending is not stressed, and take the unstressed ending -<span class="letter">ем</span>.


</p>
<div class="egdiv">
<h4>Examples:</h4>
<p><em>театр - театром</em> (theater)</p>
<p><em>парк - парком</em> (park)</p>
<p><em>гараж - гаражом</em> (garage) - the ending is stressed</p>
<p>BUT</p>
<p><em>массаж - массажем</em> (massage) - the ending is not stressed</p>
</div>

<p>
2. Nouns ending in -<span class="letter">ь</span> and -<span class="letter">й</span> may have endings -<span class="letter">ем</span> or -<span class="letter">ём</span>. 
The choice of the ending will depend on the stress. When the ending is not stressed, the word will drop -<span class="letter">ь</span> or -<span class="letter">й</span> and add the ending  to -<span class="letter">ем</span>.
If the ending is stressed, the word will drop -<span class="letter">ь</span> or -<span class="letter">й</span> and add the ending  to -<span class="letter">ём</span>. It should be noticed that there are not many words with the stressed ending -<span class="letter">ём</span> in the instrumental case.
</p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>музей - музеем</em> (museum), the ending is not stressed</p>
<p><em>писатель - писателем</em> (writer), the ending is not stressed</p>
<p><em>секретарь - секретарём</em> (secretary), the ending is stressed</p>
</div>

<p>
3. Masculine nouns ending in -<span class="letter">a</span>/-<span class="letter">я</span> (see: <a href="russian-nouns-gender.html#masc">Masculine nouns</a>) form the accusative case forms following the rules for feminine nouns (see below).
</p>

<p class="ital bold">Feminine nouns</p>

<p>1. Nouns ending in -<span class="letter">я</span> should drop the final vowel and add the ending -<span class="letter">ой</span>.
However, following the <a href="russian-spelling-rules.html#rule_3">Spelling rule №3</a> nouns ending -<span class="letter">жа</span>, -<span class="letter">ча</span>, -<span class="letter">ща</span>, -<span class="letter">ша</span>, -<span class="letter">ца</span>  
can not be followed be the letter -<span class="letter">о</span> if the ending is not stressed, and take the unstressed ending -<span class="letter">ей</span>.


</p>
<div class="egdiv">
<h4>Examples:</h4>
<p><em>проблема - проблемой</em> (problem)</p>
<p><em>ручка - ручкой</em> (pen)</p>
<p><em>лапша - лапшой</em> (noodles) - the ending is stressed</p>
<p><em>душа - душой</em> (soul) - the ending is stressed</p>
<p>BUT</p>
<p><em>курица - курицей</em> (chicken) - the ending is not stressed</p>
</div>

<p>
2. Nouns ending in  -<span class="letter">я</span> may have endings -<span class="letter">ей</span> or -<span class="letter">ёй</span>. 
The choice of the ending will depend on the stress. When the ending is not stressed, the word will drop -<span class="letter">я</span>  and add the ending  to -<span class="letter">ей</span>.
If the ending is stressed, the word will drop -<span class="letter">я</span> and add the ending  to -<span class="letter">ёй</span>. 
</p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>неделя - неделей</em> (week)- the ending is not stressed</p>
<p><em>станция - станцией</em> (station)- the ending is not stressed</p>
<p><em>семья - семьёй</em> (family) - the ending is not stressed</p>
</div>




<p>
3. Nouns ending in -<span class="letter">ь</span>  add the ending -<span class="letter">ю</span>:
</p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>дверь - дверью</em> (door)</p>  
<p><em>ночь - ночью</em> (night)</p>
</div>


<p class="ital bold">Neuter nouns</p>

<p>
1. Nouns ending in -<span class="letter">o</span> change their ending to -<span class="letter">ом</span>: 
</p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>окно - окном</em> (window)</p>
<p><em>кресло - креслом</em> (armchair)</p>
</div>


<p>2. Nouns ending in -<span class="letter">е</span> change their ending to -<span class="letter">ем</span>:</p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>море - морем</em> (sea)</p>
<p><em>здание - зданием</em> (building)</p>
</div>

<p>3. Nouns ending in -<span class="letter">мя</span> (see: <a href="russian-nouns-gender.html#mya_nouns">Neuter nouns ending in -<strong>мя</strong></a>) change -<span class="letter">я</span>  to -<span class="letter">енем</span>:</p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>имя - именем</em> (name)</p>
<p><em>время - временем</em> (time)</p>
</div>

<h4 class="page-pp">Instrumental plural</h4>

<p class="ital bold">Masculine nouns</p>

<p>1. Nouns ending in a consonant add the ending -<span class="letter">ами</span>: </p>
<div class="egdiv">
<h4>Examples:</h4>
<p><em>театр - театрами</em> (theater)</p>
<p><em>парк - парками</em> (park)</p>
</div>

<p>
2. Nouns ending in -<span class="letter">ь</span> and -<span class="letter">й</span>  change their final letters to -<span class="letter">ям</span>:
</p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>музей - музеями</em> (museum)</p>
<p><em>писатель - писателями</em> (writer)</p>
</div>

<p>
3. Masculine nouns ending in -<span class="letter">a</span>/-<span class="letter">я</span> (see: <a href="russian-nouns-gender.html#masc">Masculine nouns</a>) form the dative case forms following the rules for feminine nouns (see below).
</p>

<p class="ital bold">Feminine nouns</p>

<p>1. Nouns ending in -<span class="letter">а</span> change their ending to -<span class="letter">ами</span>: </p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>улица - улицами</em>  (street)</p>
<p><em>проблема - проблемами</em> (problem)</p>
</div>
<p>
2. Nouns ending in -<span class="letter">я</span> and in -<span class="letter">ь</span> change -<span class="letter">я</span> and -<span class="letter">ь</span> to -<span class="letter">ями</span>: 
</p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>неделя - неделями</em> (week)</p>
<p><em>дверь - дверями</em> (door)</p>
<p><em>станция - станциями</em> (station)</p>
<p><em>идея - идеями</em> (idea)</p>  
<p><em>семья - семьями</em> (family)</p>
</div>


<p class="ital bold">Neuter nouns</p>

<p>
1. Nouns ending in -<span class="letter">o</span> change their ending to -<span class="letter">ами</span>: 
</p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>окно - окнами</em> (window)</p>
<p><em>кресло - креслами</em> (armchair)</p>
</div>


<p>2. Nouns ending in -<span class="letter">е</span> change their ending to -<span class="letter">ями</span>:</p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>море - морями</em> (sea)</p>
<p><em>здание - зданиями</em> (building)</p>
</div>

<p>3. Nouns ending in -<span class="letter">мя</span> (see: <a href="russian-nouns-gender.html#mya_nouns">Neuter nouns ending in -<strong>мя</strong></a>) change -<span class="letter">я</span>  to -<span class="letter">енами</span>:</p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>имя - именами</em> (name)</p>
<p><em>время - временами</em> (time)</p>
</div>




<h3 class="page-p">See also</h3>


<p>
- <a href="russian-cases.html">Russian Cases</a><br>
- <a href="russian-nouns-declension.html">Russian Nouns Declension</a><br>
- <a href="nouns-instrumental-exercises.html">Exercises: Instrumental case of Russian nouns</a><br>
</p>


<p class="ital" style="padding-top: 20px;"><strong>You can find more examples of word forms in instrumental singular and instrumental plural on the page <a href="russian-nouns-declension.html" title="Russian nouns declension">Russian nouns declension</a></strong></p>

