<% @page_title = 'Study Russian Online: Past Future of Russian Verbs' %>
<% @page_meta = {'description' => "Information about the Future Tense of Russian Verbs"} %>


<% content_for :special_js_css do %>
<style type="text/css">
h2.page {
margin-bottom: 0px;
}
</style>
<% end %>


<h2 class="page">Future Tense of Russian Verbs
<span class="int-links"><a href="additional.html">Additional info</a> <span class="int-arrow">--></span>  Future Tense</span>
</h2>



<p>
The Future tense is generally used to express actions occuring after the time of speaking or writing. In Russian, the future tense is formed by using  
special endings.
</p>

<h3 class="page-p">Uses of the Past Tense</h3>

<p>
The meaning of the past tense form depends on whether the verb is imperfective or perfective.
</p>

<h4 class="page-pp">Imperfective verbs in the past tense</h4>

<p>Past tense forms of imperfective verbs are generally used: 




<ul>
	<li>To name an action that took place in the past (before the moment of speaking). 
		<div class="egdiv">
		<h4>Example</h4>
		<p>Мы делали это задание. - We have already worked with this exercise. </p>
		<p>Вчера вечером я смотрел телевизор, читал книгу. - Yesterday I watched TV, read a book.</p>
		</div>
	</li> 
	<li>To denote an action in progress that took plake in the past:
	 	<div class="egdiv">
	 	<h4>Example</h4>
		<p>В это время я смотрел телевизор. - I was watching TV at that moment.</p>
		</div>
	</li>
	<li>To denote repeated actions in the past. 
   		<div class="egdiv">
   		<h4>Example</h4>
	   		<p>Я отправлял ей письма каждый день. - I used to send her letters every day.</p> 
		</div>
	</li>
</ul>

<h4 class="page-pp">Perfective verbs in the past tense</h4>

<p>Past tense forms of perfective verbs are generally used: 

<ul>
	<li>To name an action that took place in the past with special emphasis on its completion, result or limit. 
	
			<div class="egdiv">
			<h4>Example</h4>
			<p>Мы сделали это задание. - We have completed this task.</p> 
			<p>Я посмотрел телевизор и пошёл спать. - I watched TV and (after I finished watching TV) I went to sleep.</p> 
			</div>
	</li> 
	<li>To denote momentary actions in the past.
			<div class="egdiv">
			<h4>Example</h4>
				<p>После этого я отправил ей письмо. - After that, I sent her a letter. </p>
			</div>
	</li>
</ul>


<h3 class="page-p">Verb Endings in the Past Tense</h3>

<p>Russian past tense verbs agree with their subjects in gender and number. The table below represents regular endings of Russian vebs in the past tense:
</p>


<table class="st-table" align="center" cellspacing="0" style="margin: 0 auto">
	<tr style="vertical-align: middle;">

		<th>Gender</th>
		<th style="padding-left: 30px; padding-right: 30px;">Singular</th>

		<th style="padding-left: 30px; padding-right: 30px;" class="thbrd">Plural</th>
	</tr>
	<tr >
		<td class="case-name">Masculine</td>
		<td>-л</td>
		<td rowspan="3" valign="middle">-ли</td>
	</tr>
	<tr >
		<td class="case-name">Feminine</td>
		<td>-ла</td>
	</tr>
	<tr>
		<td class="case-name">Neuter</td>
		<td>-ло</td>
	</tr>
	
</table>


<h3 class="page-p">Verb Forms in the Past Tense</h3>
 
 
 <p>
 The above-mentioned endings are added to the <em>past tense stem</em> of the verb. 
 The formation of the past tense stem of Russian verbs will be discussed  in greater detail in articles devoted to Russian verbs conjugation. Below, 
 we are going to provide just general guidelines.
 </p>
 <p>
 The past tense stem of most Russian verbs can be defined by dropping the ending -<span class="eg">ть</span>/-<span class="eg">ти</span> from their infinitive.
 Thus, the past tense stem of the first conjugation verb <span class="eg">работать</span> <span class="egt">to work</span> is <strong>работа</strong>-. Below, you can see the past tense forms of this verb: 
 </p>
 
 <table class="st-table" align="center" cellspacing="0" style="margin: 0 auto">
	<tr style="vertical-align: middle;">

		<th>Gender</th>
		<th style="padding-left: 30px; padding-right: 30px;">Singular</th>

		<th style="padding-left: 30px; padding-right: 30px;" class="thbrd">Plural</th>
	</tr>
	<tr >
		<td class="case-name">Masculine</td>
		<td>работа<span class="end">л</span></td>
		<td rowspan="3" valign="middle">работа<span class="end">ли</span></td>
	</tr>
	<tr >
		<td class="case-name">Feminine</td>
		<td>работа<span class="end">ла</span></td>
	</tr>
	<tr>
		<td class="case-name">Neuter</td>
		<td>работа<span class="end">ло</span></td>
	</tr>
	
</table>


 <p>
Verbs whose past tense stem end in <span class="eg">б, г, з, р, с, к</span> do not add the -<span class="eg">л</span> in the masculine singular form
 </p>
 
 <div class="egdiv">
			<h4>Examples</h4>
				<p>везти <span class="case-ind">(infinitive)</span> <span class="egt">to carry</span> - он вёз <span class="case-ind">(past tense, masc sing)</span>, она везла <span class="case-ind">(past tense, fem sing)</span></p>
				<p>мочь <span class="case-ind">(infinitive)</span> <span class="egt">to be able</span> - он мог <span class="case-ind">(past tense, masc sing)</span>, она могла <span class="case-ind">(past tense, fem sing)</span></p>
				<p>печь <span class="case-ind">(infinitive)</span> <span class="egt">to bake</span> - он пёк <span class="case-ind">(past tense, masc sing)</span>, она пекла <span class="case-ind">(past tense, fem sing)</span></p>
			</div>
 

<br><br><br><br><br><br>





