<% @page_title = 'Study Russian Online: Imperfective and Perfective Aspects' %>
<% @page_meta = {'description' => "Information about Russian verbal aspects: basic characteristics of perfective and imperfective verbs"} %>


<% content_for :special_js_css do %>
<style type="text/css">
h2.page {
margin-bottom: 0px;
}
</style>

<% end %>

<h2 class="page">Verbal aspects in Russian</h2>

<h3 class="page-path">
<span class="int-links"><a href="/russian-grammar.html">Russian grammar</a>  <span class="int-arrow">--&gt;</span> Verbal Aspects </span>
</h3>
<p>
<dfn>Grammatical aspect</dfn> generally refers to the degree and nature of progression of the action. The verbal aspect depends upon the speaker's viewpoint and reflect different ways of viewing how the action occurs in time. 
</p>
<p>
In Russian there are two verbal aspects: imperfective and perfective. Almost all Russian verbs are either of the imperfective or of the perfective aspect. 
</p>
<p>
<em>Imperfective verbs</em> mainly focus on the process by naming the verbal action. They are generally used to indicate the occurrence of an action, without referring to its completion or result. The imperfective aspect designates an action in progress, a repeated or habitual action, a statement of fact. 
</p>
<div class="egdiv">
<h4>Examples: </h4>
<p>В тот момент я <u>читал</u> книгу. - I was reading a book at that moment. (an action in progress)</p>
<p>Я <u>читал</u> книги каждый день. - I read books every day. (a repeated action)</p>
<p>Я <u>читал</u> эту книгу. - I have read this book. (statement of fact where the completion of the action is irrelevent and it is not important whether the person finished the book)</p>
</div>
<p>
Russian <em>perfective verbs</em> usually express the completion of an action or the termination of a state. Certain perfective verbs reflect different nuances of an action: they may indicate the beginning of an action or a state, or describe an a single, instantaneous action or a state, one suddenly begun and suddenly ended.
</p>
<div class="egdiv">
<h4>Examples: </h4>
<p>Я <u>прочитал</u> эту книгу. - I have read (and finished) this book. (the completion of an action)</p>
<p>Я <u>засмеялся</u>. - I began to lough. (beginning of an action).</p>
<p>Я <u>крикнул</u>. - I gave a shout. (instantaneous action)</p>
</div>
<p>
Most Russian verbs come in pairs "imperfective/perfective verb". These verbs have the same lexical meaning and differ only grammatically.
</p>
<p>
The category of the aspect is related to the category of the verbal tense. The imperfective aspect appears in all three tenses: the present, the past, and the future. The perfective aspect has no present tense and appears only in two tenses: in the past and in the future. The form of the perfective verbs that looks like a present tense form has a future meaning.
</p>
<p>
All forms of a verb reflect its grammatical aspect. 
</p>
<p>
The table below demonstrates some forms (first singular masculine) of two verbs: <span class="eg">читать</span> (imperfective) and <span class="eg">прочитать</span> (perfective) which both can be translated as <span class="egt">to read</span>:
</p>

<table class="st-table" cellspacing="0" align="center" style="margin: 0 auto"> 
	<tr style="vertical-align: middle;"> 
		<th >&nbsp;</th> 
		<th >читать<br> (imperfective)</th> 
		<th style="padding-top: 8px; padding-bottom: 8px;" class="thbrd">прочитать <br> (perfective)</th> 
	</tr>
	<tr class="trow"> 
		<td class="case-name">Present</td> 
		<td>я читаю</td> 
		<td>--</td>  
	</tr>	
	<tr class="trow"> 
		<td class="case-name">Past</td> 
		<td>я читал</td> 
		<td>я прочитал</td> 
	</tr> 
	<tr class="trow"> 
		<td class="case-name">Past</td> 
		<td>я буду читать</td> 
		<td>я прочитаю</td> 
	</tr> 	
</table>





<br><br><br><br><br><br><br><br><br><br><br>


<script type="text/javascript">
currentSection="grammar";
</script>


