<% @page_title = 'Study Russian Online: Prepositional case of Russian nouns' %>
<% @page_meta = {'description' => "Information for those who start to study Russian: Prepositional case of Russian nouns."} %>

<% content_for :special_js_css do %>

<style type="text/css">
h2.page {
margin-bottom: 0px;
}
</style>
<% end %>


<h2 class="page">Prepositional case of Russian nouns
</h2>

<h3 class="page-path"> 
<span class="int-links"><a href="additional.html">Additional info</a> <span class="int-arrow">--></span> <a href="russian-cases.html">Russian cases</a> <span class="int-arrow">--></span> Prepositional Case</span>
</h3>


<p>
The <strong>prepositional case</strong> is a set of word forms which usually mark the location of the action. The prepositional case word forms are used in Russian only together with prepositions.</p>

<h3 class="page-p">Uses of the Prepositional</h3>
</p>
<p>
1. <strong>To indicate the location of the action with prepositions</strong> <em>в</em> <strong>and</strong> <em>на</em>.
</p>

<div class="egdiv">
<h4>Example: </h4>
<p>
Студент живёт <u>в Москве</u>. – The student lives <u>in Moscow</u>.
</p>
<p>
The word <em>Москве</em> (Moscow) is the prepositional case form of the word <em>Москва</em> (Moscow) and indicates the location of the action <em>живёт</em> (lives) after the preposition <em>в</em>.
</p>

<p>
Олег работает <u>на заводе</u>. – Oleg works <u>at a factory</u>.
</p>
<p>
The word <em>заводе</em> (factory) is the prepositional case form of the word <em>завод</em> (factory) and indicates the location of the action <em>работает</em> (works) after the preposition <em>на</em>.
</p>
</div>

<p>
2. <strong>With preposition</strong> <em>о</em> <strong>meaning</strong> "about". 
</p>

<div class="egdiv">
<h4>Example: </h4>
<p>
Это книга <u>о природе</u>. – This is a book <u>about nature</u>. 
</p>
<p>
The word <em>природ</em>е (nature) is the prepositional case form of the word <em>природа</em> (nature) and it is used after the preposition <em>о</em> (about).
</p>
<p>
Я думаю <u>о будущем</u>. – I am thinking <u>about future</u>. 
</p>
<p>
The word <em>будущем</em> (future) is the prepositional case form of the word <em>будущее</em> (future) and it is used after the preposition <em>о</em> (about).
</p>
</div>

<p>
3. <strong>To indicate the time of an action with words</strong> <em>год</em> (year), <em>месяц</em> (month), <em>неделя</em> (week): 

</p>
<p>
<em>на этой неделе</em> – this week,  <em>literally</em>: on this week<br/>
<em>в этом году</em> – this year,  <em>literally</em>: in this year<br>
<em>в этом месяце</em> - this month,  <em>literally</em>: in this month

</p>





<h3 class="page-p">Formation</h3>


<p>Here we provide general rules how to form prepositional case forms from nominative singular forms. These rules cover the vast majority of Russian nouns. 
However, you should be aware that rules described below may have other exceptions. 

<h4 class="page-pp">Prepositional case endings</h4>

<p>The table below represents regular endings for singular and plural prepositional case forms: 


<table class="st-table" cellspacing="0" align="center" style="margin: 0 auto;"> 
	<tr style="vertical-align: middle;"> 
 
		<th style="min-width: 120px;">Gender</th> 
		<th style="min-width: 120px;">Singular</th> 
		<th style="min-width: 120px;" class="thbrd">Plural</th>  
	</tr> 
	<tr class="_trow"> 
		<td class="case-name">Masculine</td> 
		<td>-е / -и</td> 
		<td rowspan="3" valign="middle">  -ах / -ях </td> 
 
	</tr> 
	<tr class="_trow"> 
		<td class="case-name">Feminine</td> 
		<td> -е / -и</td> 

	</tr> 
	<tr class="_trow"> 
		<td class="case-name">Neuter</td> 
		<td> -е / -и </td> 

	</tr> 
</table> 

<p>
Below, you will find detailed information about prepositional singular and plural forms of masculine, feminine and neuter nouns.
</p>

<h4 class="page-pp">Prepositional singular</h4>

<p class="ital bold">Masculine nouns</p>

<p>1. Nouns ending in a consonant add the ending -<span class="letter">е</span>: </p>
<div class="egdiv">
<h4>Examples:</h4>
<p><em>театр - театре</em> (theater)</p>
<p><em>парк - парке</em> (park)</p>
</div>


<p>
A few masculine one-syllable nouns have special streessed ending -<span class="letter">у</span> after prepositions <span class="eg">в</span> <span class="egt">in</span>
 and <span class="eg">на</span> <span class="egt">on</span>. This is sometimes called "locative case", since nouns take particular endings to denote location.
</p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>лес - в лесу</em> (in the forest), but <em>о лесе</em> (about the forest)</p>
<p><em>сад - в саду</em> (in the garden), but <em>о саде</em> (about the garden)</p>
<p><em>шкаф - в шкафу</em> (in the wardrobe), but <em>о шкафе</em> (about the wardrobe)</p>
<p><em>порт - в порту</em> (in the port), but <em>о порте</em> (about the port)</p>
<p><em>угол - в углу</em> (in the corner), but <em>об угле</em> (about the corner)</p>
<p><em>мост - на мосту</em> (on the bridge), but <em>о мосте</em> (about the bridge)</p>
<p><em>лёд - на льду</em> (on the ice), but <em>о льде</em> (about the ice)</p>
</div>


<p>
2. Nouns ending in -<span class="letter">ь</span> and -<span class="letter">й</span>, except nouns ending in -<span class="letter">ий</span>,  change their final letters to -<span class="letter">е</span>:
</p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>музей - музее</em> (museum)</p>
<p><em>писатель - писателе</em> (writer)</p>
</div>

<p>
3. Nouns ending in -<span class="letter">ий</span>  change their final letter to -<span class="letter">и</span>:
</p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>санаторий - санатории</em> (sanatorium)</p>
<p><em>Василий - Василии</em> (Vasiliy, Russian name)</p>
</div>

<p>
4. Masculine nouns ending in -<span class="letter">a</span>/-<span class="letter">я</span> (see: <a href="russian-nouns-gender.html#masc">Masculine nouns</a>) form the prepositional case forms following the rules for feminine nouns (see below).
</p>

<p class="ital bold">Feminine nouns</p>

<p>1. Nouns ending in -<span class="letter">а</span> change their ending to -<span class="letter">e</span>: </p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>улица - улице</em>  (street)</p>
<p><em>проблема - проблеме</em> (problem)</p>
</div>
<p>
2. Nouns ending in -<span class="letter">я</span>, except nouns ending in -<span class="letter">ия</span>, change -<span class="letter">я</span> and -<span class="letter">ь</span> to -<span class="letter">е</span>: 
</p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>неделя - неделе</em> (week)</p>
<p><em>идея - идее</em> (idea)</p>
<p><em>станция - станции</em> (station)</p>
</div>

<p>
3. Nouns ending in -<span class="letter">ия</span> change -<span class="letter">я</span> to -<span class="letter">и</span>:
</p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>станция - станции</em> (station)</p> 
<p><em>революция - революции</em> (revolution)</p>
</div>

<p>
4. Nouns ending in -<span class="letter">ь</span> change -<span class="letter">ь</span> to -<span class="letter">и</span>:
</p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>дверь - двери</em> (door)</p>
<p><em>ночь - ночи</em> (night)</p>
</div>


<p class="ital bold">Neuter nouns</p>

<p>
1. Nouns ending in -<span class="letter">o</span> change their ending to -<span class="letter">е</span>: 
</p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>окно - окне</em> (window)</p>
<p><em>кресло - кресле</em> (armchair)</p>
</div>


<p>2. Nouns ending in -<span class="letter">е</span>, except nouns ending in -<span class="letter">ие</span>, have the ending -<span class="letter">е</span>:</p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>море - море</em> (sea)</p>
<p><em>поле - поле</em> (field)</p>
</div>

<p>3. Nouns ending in -<span class="letter">ие</span> change the final -<span class="letter">е</span> to -<span class="letter">и</span>:</p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>здание - здании</em> (building)</p>
<p><em>упражнение - упражнении</em> (exercise)</p>
</div>


<p>4. Nouns ending in -<span class="letter">мя</span> (see: <a href="russian-nouns-gender.html#mya_nouns">Neuter nouns ending in -<strong>мя</strong></a>) change -<span class="letter">я</span>  to -<span class="letter">ени</span>:</p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>имя - имени</em> (name)</p>
<p><em>время - времени</em> (time)</p>
</div>




<h4 class="page-pp">Prepositional plural</h4>

<p class="ital bold">Masculine nouns</p>

<p>1. Nouns ending in a consonant add the ending -<span class="letter">ах</span>: </p>
<div class="egdiv">
<h4>Examples:</h4>
<p><em>театр - театрах</em> (theater)</p>
<p><em>парк - парках</em> (park)</p>
</div>

<p>
2. Nouns ending in -<span class="letter">ь</span> and -<span class="letter">й</span>  change their final letters to -<span class="letter">ях</span>:
</p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>музей - музеях</em> (museum)</p>
<p><em>писатель - писателях</em> (writer)</p>
</div>

<p>
3. Masculine nouns ending in -<span class="letter">a</span>/-<span class="letter">я</span> (see: <a href="russian-nouns-gender.html#masc">Masculine nouns</a>) form the prepositional case forms following the rules for feminine nouns (see below).
</p>

<p class="ital bold">Feminine nouns</p>

<p>1. Nouns ending in -<span class="letter">а</span> change their ending to -<span class="letter">ах</span>: </p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>улица - улицах</em>  (street)</p>
<p><em>проблема - проблемах</em> (problem)</p>
</div>
<p>
2. Nouns ending in -<span class="letter">я</span> and in -<span class="letter">ь</span> change -<span class="letter">я</span> and -<span class="letter">ь</span> to -<span class="letter">ях</span>: 
</p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>неделя - неделях</em> (week)</p>
<p><em>дверь - дверях</em> (door)</p>
<p><em>станция - станциях</em> (station)</p>
</div>


<p class="ital bold">Neuter nouns</p>

<p>
1. Nouns ending in -<span class="letter">o</span> change their ending to -<span class="letter">ах</span>: 
</p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>окно - окнах</em> (window)</p>
<p><em>кресло - креслах</em> (armchair)</p>
</div>


<p>2. Nouns ending in -<span class="letter">е</span> change their ending to -<span class="letter">ях</span>:</p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>море - морях</em> (sea)</p>
<p><em>здание - зданиях</em> (building)</p>
</div>

<p>3. Nouns ending in -<span class="letter">мя</span> (see: <a href="russian-nouns-gender.html#mya_nouns">Neuter nouns ending in -<strong>мя</strong></a>) change -<span class="letter">я</span>  to -<span class="letter">енах</span>:</p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>имя - именах</em> (name)</p>
<p><em>время - временах</em> (time)</p>
</div>



<h3 class="page-p">See also</h3>


<p>
- <a href="russian-cases.html">Russian Cases</a><br>
- <a href="russian-nouns-declension.html">Russian Nouns Declension</a><br>
- <a href="nouns-prepositional-exercises.html">Exercises: Prepositional case of Russian nouns</a><br>
</p>

<p class="ital" style="padding-top: 20px;"><strong>You can find more examples of word forms in prepositional singular and prepositional plural on the page <a href="russian-nouns-declension.html" title="Russian nouns declension">Russian nouns declension</a></strong></p>












