<% @page_title = 'Study Russian Online: Nouns Declension' %>
<% @page_meta = {'description' => "Information for those who start to study Russian: Declension of Russian nouns."} %>


<% content_for :special_js_css do %>
<style type="text/css">

span.ending {
font-weight: bold;
}

.case-name {
font-style: italic;
}

p.declen-ex {
width: 310px;
padding-bottom: 1px;
text-align: center;
font-style: italic;
}

table.st-table {
margin-bottom: 30px;
margin-top: 0px;
width: 329px;
}

</style>
<% end %>





<h2 class="page">Russian Nouns Declension
<span class="int-links"><a href="additional.html">Additional info</a> <span class="int-arrow">--&gt;</span> Russian Nouns Declension</span>
</h2>

<p>
In Russian, almost all nouns decline, i.e. change their endings to express a particular case. They decline according to certain patterns that form large groups called <dfn>declensions</dfn>. There a 3 declension types in Russian: first declension (I declension), second declension (II declension) and third declension (III declension). Some nouns of foreign origin, like <span class="eg">кофе</span>, <span class="eg">меню</span>, <span class="eg">пальто</span> are indeclinable, i.e. they have only one form for all cases.
 </p>

<p> 
It is possible to determine the declension type a noun belongs to taking into account grammatical gender of the noun and its nominative singular form. The general guidelines to determine the declension type of a noun are:
 </p>
 <p>
<strong>I declension includes: </strong>
</p>
<p>
- all masculine nouns, except nouns ending in <span class="eg">–a</span>/<span class="eg">-я</span> and the noun <span class="eg">путь</span><br>

- all neuter nouns, except nouns ending in <span class="eg">-мя</span>
</p> 
<p>
<strong>II declension includes:</strong> 
</p>
<p>
- all feminine nouns, except nouns ending in <span class="eg">-ь</span><br>
- masculine nouns ending in <span class="eg">–a</span>/<span class="eg">-я</span>

</p>

<strong>III declension includes: </strong>
<p> 
- feminine nouns ending in <span class="eg">–ь</span><br>
- neuter nouns ending in <span class="eg">–мя</span><br>
- masculine noun <span class="eg">путь</span>
</p>
<p>
Below, you will find the most frequent declension patterns for each type of declension. Notice that, in some cases forms, nouns may take particular endings, different from the endings presented in these patterns.

</p>
<br><br><br>

<h3>I DECLENSION</h3>

<h3>Masculine nouns</h3>

<div id="pagecontent"><div id="content">

<div style="float: left;">
<p class="declen-ex">Animate masculine nouns ending in a consonant</p>
<table class="st-table" cellspacing="0"  align="left" style="float: left">
	<col width="70"> 
	<col width="120"> 
	<col width="120">  
	
	<tr>

		<th>Cases</th>
		<th>Singular</th>
		<th class="thbrd">Plural</th>
	</tr>
	<tr>
		<td class="case-name">Nom</td>
		<td>студ<span class="acco">е</span>нт<span class="ending end_nul">&nbsp;&nbsp;</span>

		
		</td>
		<td>студент<span class="ending">ы</span></td>
	</tr>
	<tr>
		<td class="case-name">Gen</td>
		<td>студент<span class="ending">а</span></td>

		<td>студент<span class="ending">ов</span></td>
	</tr>
	<tr>
		<td class="case-name">Dat</td>
		<td> студент<span class="ending">у</span></td>
		<td>студент<span class="ending">ам</span></td>

	</tr>
	<tr>
		<td class="case-name">Acc</td>
		<td>студент<span class="ending">а</span></td>
		<td>студент<span class="ending">ов</span></td>
	</tr>

	<tr>
		<td class="case-name">Ins</td>
		<td>студент<span class="ending">ом</span></td>
		<td>студент<span class="ending">ами</span></td>

	</tr>
	<tr>

		<td class="case-name">Prep</td>
		<td>студент<span class="ending">е</span></td>
		<td>студент<span class="ending">ах</span></td>
	</tr>
</table>
</div>


<div style="float: left;">
<p class="declen-ex">Inanimate masculine nouns ending in a consonant</p>

<table class="st-table" cellspacing="0" >
	<col width="70"> 
	<col width="120"> 
	<col width="120">  
	
	<tr>
		<th>Cases</th>
		<th>Singular</th>
		<th class="thbrd">Plural</th>

	</tr>
	<tr>
		<td class="case-name">Nom</td>
		<td>диплом<span class="ending end_nul">&nbsp;&nbsp;</span></td>
		<td>диплом<span class="ending">ы</span></td>
	</tr>
	<tr>

		<td class="case-name">Gen</td>
		<td>диплом<span class="ending">а</span></td>
		<td>диплом<span class="ending">ов</span></td>
	</tr>
	<tr>
		<td class="case-name">Dat</td>

		<td>диплом<span class="ending">у</span></td>
		<td>диплом<span class="ending">ам</span></td>
	</tr>
	<tr>
		<td class="case-name">Acc</td>
		<td>диплом<span class="ending">а</span></td>

		<td>диплом<span class="ending">ов</span></td>
	</tr>
	<tr>
		<td class="case-name">Ins</td>
		<td>диплом<span class="ending">ом</span></td>
		<td>диплом<span class="ending">ами</span></td>

	</tr>
	<tr>
		<td class="case-name">Prep</td>
		<td>диплом<span class="ending">е</span></td>
		<td>диплом<span class="ending">ах</span></td>
	</tr>

</table>

</div>

<div style="clear: both; float: left;">
<p class="declen-ex">Animate masculine nouns ending in <span class="eg">-ь</span></p>

<table class="st-table" cellspacing="0">
	<col width="70"> 
	<col width="120"> 
	<col width="120">  
	
	<tr>
		<th>Cases</th>

		<th>Singular</th>
		<th class="thbrd">Plural</th>
	</tr>
	<tr>
		<td class="case-name">Nom</td>
		<td>жител<span class="ending">ь</span></td>

		<td>жител<span class="ending">и</span></td>
	</tr>
	<tr>
		<td class="case-name">Gen</td>
		<td>жител<span class="ending">я</span></td>
		<td>жител<span class="ending">ей</span></td>

	</tr>
	<tr>
		<td class="case-name">Dat</td>
		<td>жител<span class="ending">ю</span></td>
		<td>жител<span class="ending">ям</span></td>
	</tr>

	<tr>
		<td class="case-name">Acc</td>
		<td>жител<span class="ending">я</span></td>
		<td>жител<span class="ending">ей</span></td>
	</tr>
	<tr>

		<td class="case-name">Ins</td>
		<td>жител<span class="ending">ем</span></td>
		<td>жител<span class="ending">ями</span></td>

	</tr>
	<tr>
		<td class="case-name">Prep</td>

		<td>жител<span class="ending">е</span></td>
		<td>жител<span class="ending">ях</span></td>
	</tr>
</table>
</div>

<div style="float: left;">
<p class="declen-ex">Inanimate masculine nouns ending in <span class="eg">-ь</span></p>

<table class="st-table" cellspacing="0">
	<col width="70"> 
	<col width="120"> 
	<col width="120">  
	
	<tr>
		<th>Cases</th>
		<th>Singular</th>
		<th class="thbrd">Plural</th>
	</tr>

	<tr>
		<td class="case-name">Nom</td>
		<td>рубл<span class="ending">ь</span></td>
		<td>рубл<span class="ending">и</span></td>
	</tr>
	<tr>

		<td class="case-name">Gen</td>
		<td>рубл<span class="ending">я</span></td>
		<td>рубл<span class="ending">ей</span></td>
	</tr>
	<tr>
		<td class="case-name">Dat</td>

		<td>рубл<span class="ending">ю</span></td>
		<td>рубл<span class="ending">ям</span></td>
	</tr>
	<tr>
		<td class="case-name">Acc</td>
		<td>рубл<span class="ending">ь</span></td>

		<td>рубл<span class="ending">и</span></td>
	</tr>
	<tr>
		<td class="case-name">Ins</td>
		<td>рубл<span class="ending">ём</span></td>
		<td>рубл<span class="ending">ями</span></td>

	</tr>
	<tr>
		<td class="case-name">Prep</td>
		<td>рубл<span class="ending">е</span></td>
		<td>рубл<span class="ending">ях</span></td>
	</tr>

</table>
</div>


<div style="clear: both; float: left;">
<p class="declen-ex">Animate masculine noun ending in <span class="eg">-й</span></p>

<table class="st-table" cellspacing="0">
	<col width="70"> 
	<col width="120"> 
	<col width="120">  
	
	<tr>
		<th>Cases</th>

		<th>Singular</th>
		<th class="thbrd">Plural</th>
	</tr>
	<tr>
		<td class="case-name">Nom</td>
		<td>геро<span class="ending">й</span></td>

		<td>геро<span class="ending">и</span></td>
	</tr>
	<tr>
		<td class="case-name">Gen</td>
		<td>геро<span class="ending">я</span></td>
		<td>геро<span class="ending">ев</span></td>

	</tr>
	<tr>
		<td class="case-name">Dat</td>
		<td>геро<span class="ending">ю</span></td>
		<td>геро<span class="ending">ям</span></td>
	</tr>

	<tr>
		<td class="case-name">Acc</td>
		<td>геро<span class="ending">я</span></td>
		<td>геро<span class="ending">ев</span></td>
	</tr>
	<tr>

		<td class="case-name">Ins</td>
		<td>геро<span class="ending">ем</span></td>
		<td>геро<span class="ending">ями</span></td>

	</tr>
	<tr>
		<td class="case-name">Prep</td>

		<td>геро<span class="ending">е</span></td>
		<td>геро<span class="ending">ях</span></td>
	</tr>
</table>
</div>

<div style="float: left;">
<p class="declen-ex">Inanimate masculine noun ending in <span class="eg">-й</span></p>

<table class="st-table" cellspacing="0">
	<col width="70"> 
	<col width="120"> 
	<col width="120">  
	
	<tr>
		<th>Cases</th>
		<th>Singular</th>
		<th class="thbrd">Plural</th>
	</tr>

	<tr>
		<td class="case-name">Nom</td>
		<td>музе<span class="ending">й</span></td>
		<td>музе<span class="ending">и</span></td>
	</tr>
	<tr>

		<td class="case-name">Gen</td>
		<td>музе<span class="ending">я</span></td>
		<td>музе<span class="ending">ев</span></td>
	</tr>
	<tr>
		<td class="case-name">Dat</td>

		<td>музе<span class="ending">ю</span></td>
		<td>музе<span class="ending">ям</span></td>
	</tr>
	<tr>
		<td class="case-name">Acc</td>
		<td>музе<span class="ending">й</span></td>

		<td>музе<span class="ending">и</span></td>
	</tr>
	<tr>
		<td class="case-name">Ins</td>
		<td>музе<span class="ending">ем</span></td>
		<td>музе<span class="ending">ями</span></td>

	</tr>
	<tr>
		<td class="case-name">Prep</td>
		<td>музе<span class="ending">е</span></td>
		<td>музе<span class="ending">ях</span></td>
	</tr>

</table>
</div>


<div style="clear: both; float: left;">
<p class="declen-ex">Animate masculine noun ending in <span class="eg">-ий</span></p>

<table class="st-table" cellspacing="0">
	<col width="70"> 
	<col width="120"> 
	<col width="120">  
	
	<tr>
		<th>Cases</th>

		<th>Singular</th>
		<th class="thbrd">Plural</th>
	</tr>
	<tr>
		<td class="case-name">Nom</td>
		<td>Васил<span class="ending">ий</span></td>

		<td>Васил<span class="ending">ии</span></td>
	</tr>
	<tr>
		<td class="case-name">Gen</td>
		<td>Васил<span class="ending">ия</span></td>
		<td>Васил<span class="ending">иев</span></td>

	</tr>
	<tr>
		<td class="case-name">Dat</td>
		<td>Васил<span class="ending">ию</span></td>
		<td>Васил<span class="ending">иям</span></td>
	</tr>

	<tr>
		<td class="case-name">Acc</td>
		<td>Васил<span class="ending">ия</span></td>
		<td>Васил<span class="ending">иев</span></td>
	</tr>
	<tr>

		<td class="case-name">Ins</td>
		<td>Васил<span class="ending">ием</span></td>
		<td>Васил<span class="ending">иями</span></td>

	</tr>
	<tr>
		<td class="case-name">Prep</td>

		<td>Васили<span class="ending">и</span></td>
		<td>Васили<span class="ending">ях</span></td>
	</tr>
</table>
</div>

<div style="float: left;">
<p class="declen-ex">Inanimate masculine noun ending in <span class="eg">-ий</span></p>

<table class="st-table" cellspacing="0">
	<col width="70"> 
	<col width="120"> 
	<col width="120">  
	
	<tr>
		<th>Cases</th>
		<th>Singular</th>
		<th class="thbrd">Plural</th>
	</tr>

	<tr>
		<td class="case-name">Nom</td>
		<td>сценар<span class="ending">ий</span></td>
		<td>сценар<span class="ending">ии</span></td>
	</tr>
	<tr>

		<td class="case-name">Gen</td>
		<td>сценар<span class="ending">ия</span></td>
		<td>сценар<span class="ending">иев</span></td>
	</tr>
	<tr>
		<td class="case-name">Dat</td>

		<td>сценар<span class="ending">ию</span></td>
		<td>сценар<span class="ending">иям</span></td>
	</tr>
	<tr>
		<td class="case-name">Acc</td>
		<td>сценар<span class="ending">ий</span></td>

		<td>сценар<span class="ending">ии</span></td>
	</tr>
	<tr>
		<td class="case-name">Ins</td>
		<td>сценар<span class="ending">ием</span></td>
		<td>сценар<span class="ending">иями</span></td>

	</tr>
	<tr>
		<td class="case-name">Prep</td>
		<td>сценари<span class="ending">и</span></td>
		<td>сценари<span class="ending">ях</span></td>
	</tr>

</table>
</div>

<h3 style="clear: both; padding-top: 20px;">Neuter Nouns</h3>


<div style="clear: both; float: left;">
<p class="declen-ex">Neuter nouns ending in <span class="eg">-o</span></p>

<table class="st-table" cellspacing="0">
	<col width="70"> 
	<col width="120"> 
	<col width="120">  
	
	<tr>

		<th>Cases</th>
		<th>Singular</th>
		<th class="thbrd">Plural</th>
	</tr>
	<tr>
		<td class="case-name">Nom</td>
		<td>окн<span class="ending">о</span></td>

		<td>окн<span class="ending">а</span></td>
	</tr>
	<tr>
		<td class="case-name">Gen</td>
		<td>окн<span class="ending">а</span></td>
		<td>окон<span class="ending">&nbsp;</span></td>

	</tr>
	<tr>
		<td class="case-name">Dat</td>
		<td>окн<span class="ending">у</span></td>
		<td>окн<span class="ending">ам</span></td>
	</tr>

	<tr>
		<td class="case-name">Acc</td>
		<td>окн<span class="ending">о</span></td>
		<td>окн<span class="ending">а</span></td>
	</tr>
	<tr>

		<td class="case-name">Ins</td>
		<td>окн<span class="ending">ом</span></td>
		<td>окн<span class="ending">ами</span></td>

	</tr>
	<tr>
		<td class="case-name">Prep</td>

		<td>окн<span class="ending">е</span></td>
		<td>окн<span class="ending">ах</span></td>
	</tr>
</table>
</div>




<div style="float: left;">

<p class="declen-ex">Neuter nouns ending in <span class="eg">-е</span></p>

<table class="st-table" cellspacing="0">
	<col width="70"> 
	<col width="120"> 
	<col width="120">  
	
	<tr>
		<th>Cases</th>
		<th>Singular</th>
		<th class="thbrd">Plural</th>

	</tr>
	<tr>
		<td class="case-name">Nom</td>
		<td>мор<span class="ending">е</span></td>
		<td>мор<span class="ending">я</span></td>
	</tr>

	<tr>
		<td class="case-name">Gen</td>
		<td>мор<span class="ending">я</span></td>
		<td>мор<span class="ending">ей</span></td>
	</tr>
	<tr>

		<td class="case-name">Dat</td>
		<td>мор<span class="ending">ю</span></td>
		<td>мор<span class="ending">ям</span></td>
	</tr>
	<tr>
		<td class="case-name">Acc</td>

		<td>мор<span class="ending">е</span></td>
		<td>мор<span class="ending">я</span></td>
	</tr>
	<tr>
		<td class="case-name">Ins</td>
		<td>мор<span class="ending">ем</span></td>

		<td>мор<span class="ending">ями</span></td>

	</tr>
	<tr>
		<td class="case-name">Prep</td>
		<td>мор<span class="ending">е</span></td>
		<td>мор<span class="ending">ях</span></td>

	</tr>
</table>
</div>


<div style="clear: both; float: left;">
<p class="declen-ex">Neuter nouns ending in <span class="eg">-ё</span></p>

<table class="st-table" cellspacing="0">
	<col width="70"> 
	<col width="120"> 
	<col width="120">  
	
	<tr>

		<th>Cases</th>
		<th>Singular</th>
		<th class="thbrd">Plural</th>
	</tr>
	<tr>
		<td class="case-name">Nom</td>
		<td>копь<span class="ending">ё</span></td>

		<td>копь<span class="ending">я</span></td>
	</tr>
	<tr>
		<td class="case-name">Gen</td>
		<td>копь<span class="ending">я</span></td>
		<td>коп<span class="ending">ий</span></td>

	</tr>
	<tr>
		<td class="case-name">Dat</td>
		<td>копь<span class="ending">ю</span></td>
		<td>копь<span class="ending">ям</span></td>
	</tr>

	<tr>
		<td class="case-name">Acc</td>
		<td>копь<span class="ending">ё</span></td>
		<td>копь<span class="ending">я</span></td>
	</tr>
	<tr>

		<td class="case-name">Ins</td>
		<td>копь<span class="ending">ём</span></td>
		<td>копь<span class="ending">ями</span></td>

	</tr>
	<tr>
		<td class="case-name">Prep</td>

		<td>копь<span class="ending">е</span></td>
		<td>копь<span class="ending">ях</span></td>
	</tr>
</table>
</div>


<div style="float: left;">
<p class="declen-ex">Neuter nouns ending in <span class="eg">-ие</span></p>

<table class="st-table" cellspacing="0">
	<col width="70"> 
	<col width="120"> 
	<col width="120">  
	
	<tr>
		<th>Cases</th>
		<th>Singular</th>
		<th class="thbrd">Plural</th>
	</tr>

	<tr>
		<td class="case-name">Nom</td>
		<td>здан<span class="ending">ие</span></td>
		<td>здан<span class="ending">ия</span></td>
	</tr>
	<tr>

		<td class="case-name">Gen</td>
		<td>здан<span class="ending">ия</span></td>
		<td>здан<span class="ending">ий</span></td>
	</tr>
	<tr>
		<td class="case-name">Dat</td>

		<td>здан<span class="ending">ию</span></td>
		<td>здан<span class="ending">иям</span></td>
	</tr>
	<tr>
		<td class="case-name">Acc</td>
		<td>здан<span class="ending">ие</span></td>

		<td>здан<span class="ending">ия</span></td>
	</tr>
	<tr>
		<td class="case-name">Ins</td>
		<td>здан<span class="ending">ием</span></td>
		<td>здан<span class="ending">иями</span></td>

	</tr>
	<tr>
		<td class="case-name">Prep</td>
		<td>здан<span class="ending">ии</span></td>
		<td>здан<span class="ending">иях</span></td>
	</tr>

</table>
</div>

<h3 style="clear: both; padding-top: 20px;"> II DECLENSION</h3>

<h3>Feminine nouns</h3>


<div style="clear: both; float: left;">
<p class="declen-ex">Animate feminine nouns ending in <span class="eg">-a</span></p>
<table class="st-table" cellspacing="0"  align="left" style="float: left">
	<col width="70"> 
	<col width="120"> 
	<col width="120">  
	
	<tr>

		<th>Cases</th>
		<th>Singular</th>
		<th class="thbrd">Plural</th>
	</tr>
	<tr>
		<td class="case-name">Nom</td>
		<td>мам<span class="ending">a</span>

		
		</td>
		<td>мам<span class="ending">ы</span></td>
	</tr>
	<tr>
		<td class="case-name">Gen</td>
		<td>мам<span class="ending">ы</span></td>

		<td>мам<span class="ending end_nul">&nbsp;</span></td>
	</tr>
	<tr>
		<td class="case-name">Dat</td>
		<td>мам<span class="ending">е</span></td>
		<td>мам<span class="ending">ам</span></td>

	</tr>
	<tr>
		<td class="case-name">Acc</td>
		<td>мам<span class="ending">у</span></td>
		<td>мам<span class="ending end_nul">&nbsp;</span></td>
	</tr>
	<tr>

		<td class="case-name">Ins</td>
		<td>мам<span class="ending">ой</span></td>
		<td>мам<span class="ending">ами</span></td>

	</tr>
	<tr>
		<td class="case-name">Prep</td>

		<td>мам<span class="ending">е</span></td>
		<td>мам<span class="ending">ах</span></td>
	</tr>
</table>
</div>


<div style="float: left;">
<p class="declen-ex">Inanimate feminine nouns ending in <span class="eg">-а</span></p>

<table class="st-table" cellspacing="0">
	<col width="70"> 
	<col width="120"> 
	<col width="120">  
	
	<tr>
		<th>Cases</th>
		<th>Singular</th>
		<th class="thbrd">Plural</th>
	</tr>

	<tr>
		<td class="case-name">Nom</td>
		<td>ламп<span class="ending">a</span>
		
		</td>
		<td>ламп<span class="ending">ы</span></td>
	</tr>

	<tr>
		<td class="case-name">Gen</td>
		<td>ламп<span class="ending">ы</span></td>
		<td>ламп<span class="ending end_nul">&nbsp;</span></td>
	</tr>
	<tr>
		<td class="case-name">Dat</td>

		<td>ламп<span class="ending">е</span></td>
		<td>ламп<span class="ending">ам</span></td>
	</tr>
	<tr>
		<td class="case-name">Acc</td>
		<td>ламп<span class="ending">у</span></td>

		<td>ламп<span class="ending">ы</span></td>
	</tr>
	<tr>
		<td class="case-name">Ins</td>
		<td>ламп<span class="ending">ой</span></td>
		<td>ламп<span class="ending">ами</span></td>

	</tr>
	<tr>
		<td class="case-name">Prep</td>
		<td>ламп<span class="ending">е</span></td>
		<td>ламп<span class="ending">ах</span></td>
	</tr>

</table>

</div>




<div style="clear: both; float: left;">
<p class="declen-ex">Animate feminine nouns ending in <span class="eg">-я</span></p>
<table class="st-table" cellspacing="0"  align="left" style="float: left">
	<col width="70"> 
	<col width="120"> 
	<col width="120">  
	
	<tr>

		<th>Cases</th>
		<th>Singular</th>
		<th class="thbrd">Plural</th>
	</tr>
	<tr>
		<td class="case-name">Nom</td>
		<td>героин<span class="ending">я</span>

		
		</td>
		<td>героин<span class="ending">и</span></td>
	</tr>
	<tr>
		<td class="case-name">Gen</td>
		<td>героин<span class="ending">и</span></td>

		<td>героинь<span class="ending end_nul">&nbsp;</span></td>
	</tr>
	<tr>
		<td class="case-name">Dat</td>
		<td>героин<span class="ending">е</span></td>
		<td>героин<span class="ending">ям</span></td>

	</tr>
	<tr>
		<td class="case-name">Acc</td>
		<td>героин<span class="ending">ю</span></td>
		<td>героинь<span class="ending end_nul">&nbsp;</span></td>
	</tr>
	<tr>

		<td class="case-name">Ins</td>
		<td>героин<span class="ending">ей</span></td>
		<td>героин<span class="ending">ями</span></td>

	</tr>
	<tr>
		<td class="case-name">Prep</td>

		<td>героин<span class="ending">е</span></td>
		<td>героин<span class="ending">ях</span></td>
	</tr>
</table>
</div>


<div style="float: left;">
<p class="declen-ex">Inanimate feminine noun ending in <span class="eg">-я</span></p>

<table class="st-table" cellspacing="0">
	<col width="70"> 
	<col width="120"> 
	<col width="120">  
	
	<tr>
		<th>Cases</th>
		<th>Singular</th>
		<th class="thbrd">Plural</th>
	</tr>

	<tr>
		<td class="case-name">Nom</td>
		<td>пилюл<span class="ending">я</span>
		
		</td>
		<td>пилюл<span class="ending">и</span></td>
	</tr>

	<tr>
		<td class="case-name">Gen</td>
		<td>пилюл<span class="ending">и</span></td>
		<td>пилюль<span class="ending end_nul">&nbsp;</span></td>
	</tr>
	<tr>
		<td class="case-name">Dat</td>

		<td>пилюл<span class="ending">е</span></td>
		<td>пилюл<span class="ending">ям</span></td>
	</tr>
	<tr>
		<td class="case-name">Acc</td>
		<td>пилюл<span class="ending">ю</span></td>

		<td>пилюл<span class="ending">и</span></td>
	</tr>
	<tr>
		<td class="case-name">Ins</td>
		<td>пилюл<span class="ending">ей</span></td>
		<td>пилюл<span class="ending">ями</span></td>

	</tr>
	<tr>
		<td class="case-name">Prep</td>
		<td>пилюл<span class="ending">е</span></td>
		<td>пилюл<span class="ending">ях</span></td>
	</tr>

</table>

</div>




<div style="clear: both; float: left;">
<p class="declen-ex">Animate feminine nouns ending in <span class="eg">-ия</span></p>
<table class="st-table" cellspacing="0"  align="left" style="float: left">
	<col width="70"> 
	<col width="120"> 
	<col width="120">  
	
	<tr>

		<th>Cases</th>
		<th>Singular</th>
		<th class="thbrd">Plural</th>
	</tr>
	<tr>
		<td class="case-name">Nom</td>
		<td>Мари<span class="ending">я</span>

		
		</td>
		<td>Мари<span class="ending">и</span></td>
	</tr>
	<tr>
		<td class="case-name">Gen</td>
		<td>Мари<span class="ending">и</span></td>

		<td>Марий<span class="ending end_nul">&nbsp;</span></td>
	</tr>
	<tr>
		<td class="case-name">Dat</td>
		<td>Мари<span class="ending">и</span></td>
		<td>Мари<span class="ending">ям</span></td>

	</tr>
	<tr>
		<td class="case-name">Acc</td>
		<td>Мари<span class="ending">ю</span></td>
		<td>Марий<span class="ending end_nul">&nbsp;</span></td>
	</tr>
	<tr>

		<td class="case-name">Ins</td>
		<td>Мари<span class="ending">ей</span></td>
		<td>Мари<span class="ending">ями</span></td>

	</tr>
	<tr>
		<td class="case-name">Prep</td>

		<td>Мари<span class="ending">и</span></td>
		<td>Мари<span class="ending">ях</span></td>
	</tr>
</table>
</div>


<div style="float: left;">
<p class="declen-ex">Inanimate feminine nouns ending in <span class="eg">-ия</span></p>

<table class="st-table" cellspacing="0">
	<col width="70"> 
	<col width="120"> 
	<col width="120">  
	
	<tr>
		<th>Cases</th>
		<th>Singular</th>
		<th class="thbrd">Plural</th>
	</tr>

	<tr>
		<td class="case-name">Nom</td>
		<td>станц<span class="ending">ия</span>
		
		</td>
		<td>станц<span class="ending">ии</span></td>
	</tr>

	<tr>
		<td class="case-name">Gen</td>
		<td>станц<span class="ending">ии</span></td>
		<td>станц<span class="ending">ий</span></td>
	</tr>
	<tr>

		<td class="case-name">Dat</td>
		<td>станц<span class="ending">ии</span></td>
		<td>станц<span class="ending">иям</span></td>
	</tr>
	<tr>
		<td class="case-name">Acc</td>

		<td>станц<span class="ending">ию</span></td>
		<td>станц<span class="ending">ии</span></td>
	</tr>
	<tr>
		<td class="case-name">Ins</td>
		<td>станц<span class="ending">ией</span></td>

		<td>станц<span class="ending">иями</span></td>

	</tr>
	<tr>
		<td class="case-name">Prep</td>
		<td>станц<span class="ending">ии</span></td>
		<td>станц<span class="ending">иях</span></td>

	</tr>
</table>

</div>

<h3 style="clear: both; padding-top: 20px;">Masculine Nouns</h3>


<div style="clear: both; float: left;">
<p class="declen-ex">Masculine nouns ending in <span class="eg">-а</span></p>

<table class="st-table" cellspacing="0">
	<col width="70"> 
	<col width="120"> 
	<col width="120">  
	
	<tr>

		<th>Cases</th>
		<th>Singular</th>
		<th class="thbrd">Plural</th>
	</tr>
	<tr>
		<td class="case-name">Nom</td>
		<td>пап<span class="ending">а</span></td>

		<td>пап<span class="ending">ы</span></td>
	</tr>
	<tr>
		<td class="case-name">Gen</td>
		<td>пап<span class="ending">ы</span></td>
		<td>пап<span class="ending end_nul">&nbsp;</span></td>

	</tr>
	<tr>
		<td class="case-name">Dat</td>
		<td>пап<span class="ending">е</span></td>
		<td>пап<span class="ending">ам</span></td>
	</tr>

	<tr>
		<td class="case-name">Acc</td>
		<td>пап<span class="ending">у</span></td>
		<td>пап<span class="ending end_nul">&nbsp;</span></td>
	</tr>
	<tr>
		<td class="case-name">Ins</td>

		<td>пап<span class="ending">ой</span></td>
		<td>пап<span class="ending">ами</span></td>

	</tr>
	<tr>
		<td class="case-name">Prep</td>
		<td>пап<span class="ending">е</span></td>

		<td>пап<span class="ending">ах</span></td>
	</tr>
</table>
</div>




<div style="float: left;">
<p class="declen-ex">Мasculine nouns ending in <span class="eg">-я</span></p>

<table class="st-table" cellspacing="0">
	<col width="70"> 
	<col width="120"> 
	<col width="120">  
	
	<tr>
		<th>Cases</th>
		<th>Singular</th>
		<th class="thbrd">Plural</th>
	</tr>

	<tr>
		<td class="case-name">Nom</td>
		<td>дяд<span class="ending">я</span></td>
		<td>пап<span class="ending">и</span></td>
	</tr>
	<tr>

		<td class="case-name">Gen</td>
		<td>дяд<span class="ending">и</span></td>
		<td>дядь<span class="ending end_nul">&nbsp;</span> (дяд<span class="ending">ей</span>)</td>
	</tr>
	<tr>

		<td class="case-name">Dat</td>
		<td>дяд<span class="ending">е</span></td>
		<td>дяд<span class="ending">ям</span></td>
	</tr>
	<tr>
		<td class="case-name">Acc</td>

		<td>дяд<span class="ending">ю</span></td>
		<td>дядь<span class="ending end_nul">&nbsp;</span> (дяд<span class="ending">ей</span>)</td>
	</tr>
	<tr>
		<td class="case-name">Ins</td>

		<td>дяд<span class="ending">ей</span></td>
		<td>дяд<span class="ending">ями</span></td>

	</tr>
	<tr>
		<td class="case-name">Prep</td>
		<td>дяд<span class="ending">е</span></td>

		<td>дяд<span class="ending">ях</span></td>
	</tr>
</table>
</div>


<h3 style="clear: both; padding-top: 20px;"> III DECLENSION</h3>

<h3>Feminine nouns</h3>

<div style="clear: both; float: left;">
<p class="declen-ex">Feminine nouns ending in <span class="eg">-ь</span></p>

<table class="st-table" cellspacing="0">
	<col width="70"> 
	<col width="120"> 
	<col width="120">  
	
	<tr>
		<th>Cases</th>
		<th>Singular</th>

		<th class="thbrd">Plural</th>
	</tr>
	<tr>
		<td class="case-name">Nom</td>
		<td>площадь<span class="ending">&nbsp;</span>
		
		</td>
		<td>площад<span class="ending">и</span></td>

	</tr>
	<tr>
		<td class="case-name">Gen</td>
		<td>площад<span class="ending">и</span></td>
		<td>площад<span class="ending">ей</span></td>
	</tr>

	<tr>
		<td class="case-name">Dat</td>
		<td>площад<span class="ending">и</span></td>
		<td>площад<span class="ending">ям</span></td>
	</tr>
	<tr>

		<td class="case-name">Acc</td>
		<td>площадь<span class="ending">&nbsp;</span></td>
		<td>площад<span class="ending">и</span></td>
	</tr>
	<tr>
		<td class="case-name">Ins</td>

		<td>площадь<span class="ending">ю</span></td>
		<td>площад<span class="ending">ями</span></td>

	</tr>
	<tr>
		<td class="case-name">Prep</td>
		<td>площад<span class="ending">и</span></td>

		<td>площад<span class="ending">ях</span></td>
	</tr>
</table>
</div>


<div style="float: left;">
<p class="declen-ex">Feminine nouns ending in <span class="eg">-ь</span></p>

<table class="st-table" cellspacing="0">
	<col width="70"> 
	<col width="120"> 
	<col width="120">  
	
	<tr>

		<th>Cases</th>
		<th>Singular</th>
		<th class="thbrd">Plural</th>
	</tr>
	<tr>
		<td class="case-name">Nom</td>
		<td>ночь<span class="ending">&nbsp;</span>

		
		</td>
		<td>ноч<span class="ending">и</span></td>
	</tr>
	<tr>
		<td class="case-name">Gen</td>
		<td>ноч<span class="ending">и</span></td>

		<td>ноч<span class="ending">ей</span></td>
	</tr>
	<tr>
		<td class="case-name">Dat</td>
		<td>ноч<span class="ending">и</span></td>
		<td>ноч<span class="ending">ам</span></td>

	</tr>
	<tr>
		<td class="case-name">Acc</td>
		<td>ночь<span class="ending">&nbsp;</span></td>
		<td>ноч<span class="ending">и</span></td>
	</tr>
	<tr>

		<td class="case-name">Ins</td>
		<td>ночь<span class="ending">ю</span></td>
		<td>ноч<span class="ending">ами</span></td>

	</tr>
	<tr>
		<td class="case-name">Prep</td>

		<td>ноч<span class="ending">и</span></td>
		<td>ноч<span class="ending">ах</span></td>
	</tr>
</table>

</div>

<div style="clear: both; float: left;">
<p class="declen-ex">Feminine noun <span class="eg">мать</span></p>

<table class="st-table" cellspacing="0">
	<col width="70"> 
	<col width="120"> 
	<col width="120">  
	
	<tr>
		<th>Cases</th>
		<th>Singular</th>
		<th class="thbrd">Plural</th>
	</tr>

	<tr>
		<td class="case-name">Nom</td>
		<td>мать<span class="ending">&nbsp;</span>
		
		</td>
		<td>мат<span class="ending">ери</span></td>
	</tr>
	<tr>

		<td class="case-name">Gen</td>
		<td>мат<span class="ending">ери</span></td>
		<td>мат<span class="ending">ерей</span></td>
	</tr>
	<tr>
		<td class="case-name">Dat</td>

		<td>мат<span class="ending">ери</span></td>
		<td>мат<span class="ending">ерям</span></td>
	</tr>
	<tr>
		<td class="case-name">Acc</td>
		<td>мать<span class="ending">&nbsp;</span></td>

		<td>мат<span class="ending">ерей</span></td>
	</tr>
	<tr>
		<td class="case-name">Ins</td>
		<td>мат<span class="ending">ерью</span></td>
		<td>мат<span class="ending">ерями</span></td>

	</tr>
	<tr>
		<td class="case-name">Prep</td>
		<td>мат<span class="ending">ери</span></td>
		<td>мат<span class="ending">ерях</span></td>
	</tr>

</table>
</div>


<div style="float: left;">
<p class="declen-ex">Feminine noun <span class="eg">дочь</span></p>

<table class="st-table" cellspacing="0">
	<col width="70"> 
	<col width="120"> 
	<col width="120">  
	
	<tr>
		<th>Cases</th>

		<th>Singular</th>
		<th class="thbrd">Plural</th>
	</tr>
	<tr>
		<td class="case-name">Nom</td>
		<td>дочь<span class="ending">&nbsp;</span>
		
		</td>

		<td>доч<span class="ending">ери</span></td>
	</tr>
	<tr>
		<td class="case-name">Gen</td>
		<td>доч<span class="ending">ери</span></td>
		<td>доч<span class="ending">ерей</span></td>

	</tr>
	<tr>
		<td class="case-name">Dat</td>
		<td>доч<span class="ending">ери</span></td>
		<td>доч<span class="ending">ерям</span></td>
	</tr>

	<tr>
		<td class="case-name">Acc</td>
		<td>дочь<span class="ending">&nbsp;</span></td>
		<td>доч<span class="ending">ерей</span></td>
	</tr>
	<tr>
		<td class="case-name">Ins</td>

		<td>доч<span class="ending">ерью</span></td>
		<td>доч<span class="ending">ерями</span></td>

	</tr>
	<tr>
		<td class="case-name">Prep</td>
		<td>доч<span class="ending">ери</span></td>

		<td>доч<span class="ending">ерях</span></td>
	</tr>
</table>

</div>

<h3 style="clear: both; padding-top: 20px;">Masculine and Neuter Nouns</h3>


<div style="clear: both; float: left;">
<p class="declen-ex">Masculine noun <span class="eg">путь</span></p>

<table class="st-table" cellspacing="0">
	<col width="70"> 
	<col width="120"> 
	<col width="120">  
	
	<tr>
		<th>Cases</th>
		<th>Singular</th>
		<th class="thbrd">Plural</th>
	</tr>

	<tr>
		<td class="case-name">Nom</td>
		<td>путь<span class="ending">&nbsp;</span>
		
		</td>
		<td>пут<span class="ending">и</span></td>
	</tr>
	<tr>

		<td class="case-name">Gen</td>
		<td>пут<span class="ending">и</span></td>
		<td>пут<span class="ending">ей</span></td>
	</tr>
	<tr>
		<td class="case-name">Dat</td>

		<td>пут<span class="ending">и</span></td>
		<td>пут<span class="ending">ям</span></td>
	</tr>
	<tr>
		<td class="case-name">Acc</td>
		<td>путь<span class="ending">&nbsp;</span></td>

		<td>пут<span class="ending">и</span></td>
	</tr>
	<tr>
		<td class="case-name">Ins</td>
		<td>пут<span class="ending">ём</span></td>
		<td>пут<span class="ending">ями</span></td>

	</tr>
	<tr>
		<td class="case-name">Prep</td>
		<td>пут<span class="ending">и</span></td>
		<td>пут<span class="ending">ях</span></td>
	</tr>

</table>
</div>


<div style="float: left;">

<p class="declen-ex">Neuter nouns ending in <span class="eg">-мя</span></p>

<table class="st-table" cellspacing="0">
	<col width="70"> 
	<col width="120"> 
	<col width="120">  
	
	<tr>
		<th>Cases</th>

		<th>Singular</th>
		<th class="thbrd">Plural</th>
	</tr>
	<tr>
		<td class="case-name">Nom</td>
		<td>им<span class="ending">я</span>

		
		</td>
		<td>им<span class="ending">ена</span></td>
	</tr>
	<tr>
		<td class="case-name">Gen</td>
		<td>им<span class="ending">ени</span></td>

		<td>им<span class="ending">ён</span></td>
	</tr>
	<tr>
		<td class="case-name">Dat</td>
		<td>им<span class="ending">ени</span></td>
		<td>им<span class="ending">енам</span></td>

	</tr>
	<tr>
		<td class="case-name">Acc</td>
		<td>им<span class="ending">я</span></td>
		<td>им<span class="ending">ена</span></td>
	</tr>

	<tr>
		<td class="case-name">Ins</td>
		<td>им<span class="ending">енем</span></td>
		<td>им<span class="ending">енами</span></td>

	</tr>
	<tr>

		<td class="case-name">Prep</td>
		<td>им<span class="ending">ени</span></td>
		<td>им<span class="ending">енах</span></td>
	</tr>
</table>

</div>

<div style="clear: both;"></div>




</div>
</div>