<% @page_title = 'Study Russian Online: Nominative case of Russian nouns' %>
<% @page_meta = {'description' => "Information about nominative plural forms of Russian nouns: basic rules and particular instances"} %>


<% content_for :special_js_css do %>
<style type="text/css">
h2.page {
margin-bottom: 0px;
}
</style>
<% end %>


<h2 class="page">Nominative case of Russian nouns
<span class="int-links"><a href="additional.html">Additional info</a> <span class="int-arrow">--></span> <a href="russian-cases.html">Russian cases</a> <span class="int-arrow">--></span> Nominative Case</span>
</h2>



<p>
The <strong>nominative case</strong> is a set of word forms (in singular and plural) the basic function of which is to mark the subject of the sentence. 
</p>

<h3 class="page-p">Uses of the Nominative</h3>

<p>1. To mark the <strong>grammatical subject</strong> of the sentence. </p>

<div class="egdiv">
<h4>Examples: </h4>
<p>
<em><u>Студент</u> говорит.</em> - <u>The student</u> is speaking. 
</p>
<p>
The word <em>студент</em> (student) is the subject of the sentence. It is in nominative case form and indicates the doer of the action. 
</p>
<p>
<em><u>Студент</u> устал.</em> - <u>The student</u> is tired. 
</p>
<p>
The word <em>студент</em> (student) is the subject of the sentence. It is in nominative case form and indicates the subject of the state.
</p>
</div>

<p>
2. The nominative case form may also be used as a <strong>predicative</strong>. Look at the following constructions: 
</p>
<div class="egdiv">
<h4>Examples: </h4>
<p>
<em>Он <u>студент</u>.</em> - He is <u>a student</u>. <br>

<em>Том - <u>доктор</u>.</em> - Tom is a doctor.<br>
<em>Меня зовут <u>Мария</u>. </em>– My name is <u>Maria</u>. (literally: They call me Maria) <br>
</p>
<p>
The underlined words are not the subject of the sentence, but they are in nominative case form and used as predicative.
</p>
</div>

<p>3. <strong>In apposition</strong>, i.e. for a specific proper name or a title following a common noun. 


<div class="egdiv">
<h4>Examples: </h4>
<p>
<em>Этот ресторан находится рядом с гостиницей <u>"Москва"</u> </em>. - This restaurant is near the hotel "Moskva".  
</p>
<p>
The word <em>Москва</em> (Moscow) is in the nominative case and indicates the name of the hotel.
</p>
</div>



<h3 class="page-p">Formation</h3>

<h4 class="page-pp">Nominative case endings</h4>

<p>The table below represents regular endings for singular and plural nominative case forms: 


<table class="st-table" cellspacing="0" align="center" style="margin: 0 auto;"> 
	<tr style="vertical-align: middle;"> 
 
		<th style="min-width: 120px;">Gender</th> 
		<th style="min-width: 120px;">Singular</th> 
		<th style="min-width: 120px;" class="thbrd">Plural</th>  
	</tr> 
	<tr class="trow"> 
		<td class="case-name">Masculine</td> 
		<td>Ø</td> 
		<td>-ы/-и</td> 
 
	</tr> 
	<tr class="trow"> 
		<td class="case-name">Feminine</td> 
		<td>-a/-я</td> 
		<td> -ы/-и</td> 
 
	</tr> 
	<tr class="trow"> 
		<td class="case-name">Neuter</td> 
		<td>-о/-е</td> 
		<td>-а/-я</td> 
 
	</tr> 
</table> 


<h4 class="page-pp">Nominative singular</h4>

<p>Nominative singular forms are normally given in the dictionary. They usually serve to determine the gender and the declension type of a noun.</p>
<p>We recommend you to visit the page <a href="russian-nouns-gender.html">Gender of Russian nouns</a>, if you wish to get more info about Russian nouns in Nominative singular.


<h4 class="page-pp">Nominative plural</h4>

<p>
Plural forms are made by adding an ending (generally, for masculine) or by changing the ending. The above table represents only regular endings, but certain Russian nouns form their plural forms in a particular manner. 
</p>
<p>
If you wish to learn more details about nominative plural forms, we recommend you to visit the page <a href="russian-nouns-nominative-plural.html">Plural forms of Russian nouns (Nominative Plural)</a>
</p>

<br>


<h3 class="page-p">See also</h3>
<p>
- <a  href="russian-cases.html">Russian Cases</a><br>
- <a href="russian-nouns-declension.html">Russian Nouns Declension</a><br> 
</p>

<p class="ital"><strong>You can find more examples of word forms in nominative singular and nominative plural on the page <a href="russian-nouns-declension.html" title="Russian nouns declension">Russian nouns declension</a></strong></p>


<br><br><br><br><br><br>





