<% @page_title = 'Study Russian Online: Accusative case of Russian nouns' %>
<% @page_meta = {'description' => "Information for those who start to study Russian: Accusative case of Russian nouns."} %>

<h2 class="page">Accusative case of Russian nouns
<span class="int-links"><a href="additional.html">Additional info</a> <span class="int-arrow">--></span> <a href="russian-cases.html">Russian cases</a> <span class="int-arrow">--></span> Accusative Case</span>

</h2>
<p>
See also: <a href="russian-cases.html">Russian Cases</a>, <a href="russian-nouns-declension.html">Russian Nouns Declension</a>
</p>


<p>
<em><strong>Basic meaning</strong></em>
</p>
<p>
The <strong>accusative case</strong> is a set of word forms which usually mark the object of the action, like the English word "letter" in the phrase "he is writing a letter".</p>

<p>
<em><strong>Uses of the Accusative</strong></em>
</p>
<p>
1. <strong>To show the object of the action</strong>, most often a direct object in the sentence.
<p>
<em>For example:</em>  
</p>
<p>
Студент читает <u>книгу</u>. – The student is reading <u>a book</u>.

</p>
<p>
The word <em>книгу</em> (book) is the accusative case form of the word <em>книга</em> (book) and indicates the object of the action <em>читает</em> (to read).
</p>
<p>
The accusative case is usually used after verbs that take direct object (transitive verbs), for example: 
</p>
<p>

<em>знать</em>  - to know<br>
<em>читать</em> -  to read<br>
<em>видеть</em> - to see<br>
<em>любить</em> - to love, to like<br>
<em>брать</em> - to take<br>

<em>покупать</em> - to buy <br>
<em>давать</em> -  to give <br>
</p>
<p>
<em>Examples: </em>
</p>
<p>
Этот студент знает <u>русский язык</u>. - This student knows the Russian language. <br>

Я беру <u>эту газету</u>. - I'm taking this newspaper. <br>
Он покупает <u>билеты</u>. - He buys tickets. <br>
Она даёт <u>журнал</u> Анне. - She is giving the magazine to Ann. 
</p>
<p>
2. <strong>With prepositions</strong> <em>в</em> (into) <strong>and</strong> <em>на</em> (on to) <strong>to express motion to somewhere</strong>.

</p>
<p>
<em>Examples:</em> 
</p>
<p>
Он едет <u>в Москву</u>. - He is trevelling <u>to Moscow</u>. 
</p>
<p>
The word <em>Москву</em> (Moscow) is the accusative case form of the word <em>Москва</em> (Moscow) and indicates the motion to this city after the preposition <em>в</em> (into).

</p>
<p>
3. In certain <strong>expressions describing duration or frequency of an action</strong>, for example: 
</p>
<p>
<em><u>одну неделю</u></em> - one week<br>
<em><u>одну минуту</u></em> - one minute<br>
<em>два раза <u>в неделю</u></em> - two times a week<br>

<em>один раз <u>в месяц</u></em> - one time a month<br>
</p>
<p>
<em>Example:</em> 
</p>
<p>
Я здесь живу <u>одну неделю</u>. - I've been living here for a week. 
</p>
<p>
4. <strong>After certain prepositions</strong>: 

</p>
<p>
<em>через</em> – across, after a period of time <br>
<em>за</em> - for (in return for) <br>
<em>про</em> - about<br>
</p>


<p class="ital" style="padding-top: 20px;"><strong>You can find more examples of word forms in accusative singular and accusative plural on the page <a href="russian-nouns-declension.html" title="Russian nouns declension">Russian nouns declension</a></strong></p>




