<% @page_title = 'Words order in Russian sentences' %>
<% @page_meta = {'description' => "Information about words order in Russian sentences with examples in Russian"} %>


<% content_for :special_js_css do %>
<style type="text/css">
h2.page {
margin-bottom: 0px;
}
</style>
<% end %>



<h2 class="page">Words order in Russian sentences</h2>
<h3 class="page-path"><span class="int-links"><a href="additional.html">Additional info</a> <span class="int-arrow">--&gt;</span> Word order in Russian</span></h3>


<p>
In English, the word order plays an important role because it shows the relationships between parts in the sentence (subject, object, etc.). For example, if we say "Cats eat mice",  we clearly understand that "cats" is here the subject of the action "eat" and the object of this action is "mice". If we switch the position of nouns "cats" and "mice", we get "Mice eat cats", a sentence with a different meaning. So, in English sentence the grammatical sense depends on word order. 
</p>
<p>
However, Russian word order is very flexible. The relationships between parts of the Russian sentence are shown by the endings of words. Depending on the grammatical sense and role in the sentence, Russian words have different endings. 
Look at the following example: 
</p>
<div class="egdiv">
<h4>Example: </h4>
<p>
<em>Кошки едят мышей.</em> - Cats eat mice.
</p>
<p>

In the Russian sentence, the object of the action is shown by the ending <em>-ей</em> of the word <em>мышей</em>. That is why, if you change the position of the Russian words, the overall meaning of the sentence will not change. You can say: 
</p>
<p>
<em>
Коши едят мыш<u>ей</u>. <br/>
Мыш<u>ей</u> едят кошки. <br/>

Едят кошки мыш<u>ей</u>. <br/>
Едят мыш<u>ей</u> кошки. <br/>
</em>
</p>
<p>
In these sentences, the subject and the object of the action "eat" remain the same. 
</p>
</div>
<p>
So, because of words endings, the parts of the Russian sentence can go in almost any order without causing any misunderstanding on the part of the listener. 

</p>
<p>
If you want to know more about word endings and their grammatical role in Russian, we recommend you to see the page Cases in Russian on our website. 
</p>
<p>
For the beginner in Russian there is nothing very important to remember about word order – other than the fact that it is very flexible. For example, while translating a Russian sentence, you can use the word order of the English sentence and native speakers will always understand you. 
</p>
<p>
At the same time, Russian word order has its own peculiarities. One of these peculiarities is that in written Russian new information (or emphasized information) comes at the end of the sentence. For example, look at the sentence: 
</p>
<div class="egdiv">
<h4>Example: </h4>
<p>
<em>Мария едет в Москву.</em> - Maria goes to Moscow. 

</p>
<p>
The emphasis is on the word <em>Москва</em> (Moscow), it is a new information because this sentence tells where Maria goes.  If another word order is used: 
</p>
<p>
<em>В Москву едет Мария.</em> – It is Maria who goes to Moscow. 
</p>
<p>
The emphasis is on the word <em>Мария</em> (Maria), and, in this case, the sentence tells who goes to Moscow. 

</p>
</div>
<p>
In a conversation, the word order is more flexible since intonation and stress may be used to show the emphasized information in a sentence.
</p>







