<% @page_title = 'Study Russian Online: Accusative case of Russian nouns' %>
<% @page_meta = {'description' => "Information for those who start to study Russian: Accusative case of Russian nouns."} %>

<% content_for :special_js_css do %>
<style type="text/css">
h2.page {
margin-bottom: 0px;
}
</style>
<% end %>

<h2 class="page">Accusative case of Russian nouns
</h2>

<h3 class="page-path"> 
<span class="int-links"><a href="/russian-grammar.html">Russian grammar</a>  <span class="int-arrow">--></span> <a href="russian-cases.html">Russian cases</a> <span class="int-arrow">--></span> Accusative Case</span>
</h3>



<p>
The <strong>accusative case</strong> is a set of word forms which usually mark the object of the action, like the English word "letter" in the phrase "he is writing a letter".</p>

<h3 class="page-p">Uses of the Accusative</strong></h3>


<p>
1. <strong>To show the object of the action</strong>, most often a direct object in the sentence.

<div class="egdiv">
<h4>Example: </h4>
<p>
Студент читает <u>книгу</u>. – The student is reading <u>a book</u>.
</p>
<p>
The word <em>книгу</em> (book) is the accusative case form of the word <em>книга</em> (book) and indicates the object of the action <em>читает</em> (to read).
</p>
</div>
<p>
The accusative case is usually used after verbs that take direct object (transitive verbs), for example: 
</p>
<p>

<em>знать</em>  - to know<br>
<em>читать</em> -  to read<br>
<em>видеть</em> - to see<br>
<em>любить</em> - to love, to like<br>
<em>брать</em> - to take<br>

<em>покупать</em> - to buy <br>
<em>давать</em> -  to give <br>
</p>

<div class="egdiv">
<h4>Examples: </h4><p>
Этот студент знает <u>русский язык</u>. - This student knows the Russian language. <br>

Я беру <u>эту газету</u>. - I'm taking this newspaper. <br>
Он покупает <u>билеты</u>. - He buys tickets. <br>
Она даёт <u>журнал</u> Анне. - She is giving the magazine to Ann. 
</p>
</div>

<p>
2. <strong>With prepositions</strong> <em>в</em> (into) <strong>and</strong> <em>на</em> (on to) <strong>to express motion to somewhere</strong>.

</p>

<div class="egdiv">
<h4>Examples: </h4>
<p>
Он едет <u>в Москву</u>. - He is trevelling <u>to Moscow</u>. 
</p>
<p>
The word <em>Москву</em> (Moscow) is the accusative case form of the word <em>Москва</em> (Moscow) and indicates the motion to this city after the preposition <em>в</em> (into).

</p>
</div>

<p>
3. In certain <strong>expressions describing duration or frequency of an action</strong>, for example: 
</p>
<p>
<em><u>одну неделю</u></em> - one week<br>
<em><u>одну минуту</u></em> - one minute<br>
<em>два раза <u>в неделю</u></em> - two times a week<br>

<em>один раз <u>в месяц</u></em> - one time a month<br>
</p>


<div class="egdiv">
<h4>Example: </h4>
<p>
Я здесь живу <u>одну неделю</u>. - I've been living here for a week. 
</p>
</div>

<p>
4. <strong>After certain prepositions</strong>: 

</p>
<p>
<em>через</em> – across, after a period of time <br>
<em>за</em> - for (in return for) <br>
<em>про</em> - about<br>
</p>

<h3 class="page-p">Formation</h3>


<p>Here we provide general rules how to form accusative case forms from nominative singular forms. These rules cover the vast majority of Russian nouns. 
However, you should be aware that rules described below may have other exceptions. 


<h4 class="page-pp">Guidelines to make accusative case forms</h4>

<p>The table below represents regular endings for singular and plural accusative case forms: 


<table class="st-table" cellspacing="0" align="center" style="margin: 0 auto;"> 
	<tr style="vertical-align: middle;"> 
 
		<th style="min-width: 120px;">Gender</th> 
		<th style="min-width: 120px;">Singular</th> 
		<th style="min-width: 120px;" class="thbrd">Plural</th>  
	</tr> 
	<tr class="trow" style="vertical-align: middle;"> 
		<td class="case-name">
		
			<div style="text-align: left;"><strong> Masculine </strong> <br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;inanimate<br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;animate
			</div>
		</td> 
		<td>
			<div> <br> equal to Nominative </div> 
				<div>equal to Genitive </div>
		</td> 
		<td> 
				<div><br>equal to Nominative </div>
				<div>equal to Genitive </div>
		
		</td> 
 
	</tr> 
	<tr class="trow" style="vertical-align: middle;"> 
		<td class="case-name">
		   	<div style="text-align: left;"><strong> Feminine </strong> <br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;inanimate<br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;animate
			</div>
		</td> 
		<td> <div><br> -у /-ю / Ø  </div></td> 
		<td>  
		   	<div>	<br> equal to Nominative </div>
		   	<div>	equal to Genitive </div>
		
		</td> 
 
	</tr> 
	<tr class="trow"> 
		<td class="case-name">
		   	<div style="text-align: left;"><strong> Neuter </strong> <br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;inanimate<br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;animate
			</div>
		</td> 
		<td valign="middle"> 	<div><br>equal to Nominative </div></td> 
		<td> 
		   	<div>	<br> equal to Nominative </div>
		   	<div>	equal to Genitive </div>
		</td> 
 
	</tr> 
</table> 

<br>

<h4 class="page-pp">Accusative singular</h4>

<p class="ital bold">Masculine nouns</p>

<p>
Masculine nouns obey the <a href="russian-animate-inanimate.html#rule_an-in">declension rule of animate/inanimate referents</a>, that is why accusative singular forms of
inanimate nouns are equal to nominative case forms, while accusative plural forms of animate nouns are equal to genitive case forms. You can learn more details how to form genitive singular forms 
on the page <a href="russian-genitive-case.html">Genitive case of Russian nouns</a>.
</p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>театр <span class="case-ind">(nom. sing.)</span>- театр <span class="case-ind">(acc. sing.)</span></em> 'theater'</p>
<p><em>парк <span class="case-ind">(nom. sing.)</span> - парк <span class="case-ind">(acc. sing.)</span></em> 'park'</p>
<p>BUT:</p>
<p><em>студент <span class="case-ind">(nom. sing.)</span>- студента <span class="case-ind">(acc. sing.)</span></em> 'student'</p>
<p><em>учитель <span class="case-ind">(nom. sing.)</span> - учителя <span class="case-ind">(acc. sing.)</span></em> 'teacher'</p>
</div>

<p class="ital bold">Feminine nouns</p>

<p>1. Nouns ending in -<span class="letter">а</span> change their ending to -<span class="letter">у</span>: </p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>улица - улицу</em>  (street)</p>
<p><em>проблема - проблему</em> (problem)</p>
<p><em>студентка - студентку</em> (female student)</p>
</div>
<p> 

<p>
2. Nouns ending in -<span class="letter">я</span> change the final -<span class="letter">я</span> to -<span class="letter">ю</span>: 
</p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>неделя - неделю</em> (week)</p>
<p><em>станция - станцию</em> (station)</p>
</div>
<p>

<p>
3. Nouns ending in soft sign (ь) do not change, i.e they have zero ending (Ø): 
</p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>дверь <span class="case-ind">(nom. sing.)</span> - дверь</em> <span class="case-ind">(acc. sing.)</span> 'door'</p>
<p><em>дочь <span class="case-ind">(nom. sing.)</span> - дочь</em> <span class="case-ind">(acc. sing.)</span> (daughter)</p>
</div>
<p>


<p class="ital bold">Neuter nouns</p>

<p>
The accusative singular forms of neuter nouns, both animate and inanimate, are equal to nominative case forms.
</p>

<div class="egdiv">
<h4>Examples:</h4>
<p><em>окно <span class="case-ind">(nom. sing.)</span> - окно <span class="case-ind">(acc. sing.)</span></em> 'window', inanimate noun</p>
<p><em>кресло <span class="case-ind">(nom. sing.)</span> - кресло <span class="case-ind">(acc. sing.)</span></em> 'armchair', inanimate noun</p>
<p><em>существо <span class="case-ind">(nom. sing.)</span> - существо <span class="case-ind">(acc. sing.)</span></em> 'creature', animate noun</p>
<p><em>животное <span class="case-ind">(nom. sing.)</span> - животное <span class="case-ind">(acc. sing.)</span></em> 'animal', animate nouns</p>
</div>

<h4 class="page-pp">Accusative plural</h4>

<p>
Nouns of all three genders obey the <a href="russian-animate-inanimate.html#rule_an-in">declension rule of animate/inanimate referents</a>, that is why accusative plural forms of
inanimate nouns are equal to nominative case forms, and accusative singular forms of animate nouns are equal to genitive case forms. You can learn more details how to form nominative plural forms 
on the page <a href="russian-nouns-nominative-plural.html">Nominative Plural of Russian nouns</a> and genitive plural forms on the page <a href="russian-genitive-case.html">Genitive case of Russian nouns</a>.
</p>



<div class="egdiv">
<h4>Examples:</h4>
<p class="bold">Inanimate nouns:</p>
<p><em>театр <span class="case-ind">(nom. sing.)</span> - театры <span class="case-ind">(acc. pl. = nom. pl.)</span></em> 'theater'</p>
<p><em>парк <span class="case-ind">(nom. sing.)</span> - парк <span class="case-ind">(acc. pl. = nom. pl.)</span></em> 'park'</p>

<p><em>улица <span class="case-ind">(nom. sing.)</span> - улицы <span class="case-ind">(acc. pl. = nom. pl.)</span></em>  'street'</p>
<p><em>проблема <span class="case-ind">(nom. sing.)</span> - проблемы <span class="case-ind">(acc. pl. = nom. pl.)</span></em> 'problem'</p>
<p><em>окно <span class="case-ind">(nom. sing.)</span> - окна <span class="case-ind">(acc. pl. = nom. pl.)</span></em> 'window'</p>
<p><em>кресло <span class="case-ind">(nom. sing.)</span> - кресла <span class="case-ind">(acc. pl. = nom. pl.)</span></em> 'armchair'</p>


<p class="bold">Animate nouns:</p>
<p><em>студент <span class="case-ind">(nom. sing.)</span>- студентов <span class="case-ind">(acc. pl. = gen. pl.)</span></em> 'student', masculine</p>
<p><em>учитель <span class="case-ind">(nom. sing.)</span> - учителей <span class="case-ind">(acc. pl. = gen. pl.)</span></em> 'teacher', masculine</p>
<p><em>студентка <span class="case-ind">(nom. sing.)</span> - студенток <span class="case-ind">(acc. pl. = gen. pl.)</span></em> 'student', feminine</p>
<p><em>существо <span class="case-ind">(nom. sing.)</span> - существ <span class="case-ind">(acc. pl. = gen. pl.)</span></em> 'creature', neuter</p>
<p><em>животное <span class="case-ind">(nom. sing.)</span> - животных <span class="case-ind">(acc. pl. = gen. pl.)</span></em> 'animal', neuter</p>



</div>



<h3 class="page-p">See also</h3>

<p>
- <a href="russian-cases.html">Russian Cases</a><br> 
- <a href="russian-nouns-declension.html">Russian Nouns Declension</a><br>
- <a href="nouns-accusative-exercises.html">Exercises: Accusative case of Russian nouns</a>
</p>


<p class="ital" style="padding-top: 20px;"><strong>You can find more examples of word forms in accusative singular and accusative plural on the page <a href="russian-nouns-declension.html" title="Russian nouns declension">Russian nouns declension</a></strong></p>



<script type="text/javascript">
currentSection="grammar";
</script>
