<% @page_title = 'Study Russian Online: Non-past forms of irregular verbs' %>
<% @page_meta = {'description' => "Information about non-past forms of irregular verbs in Russian"} %>


<% content_for :special_js_css do %>
<style type="text/css">
h2.page {
margin-bottom: 0px;
}


</style>
<% end %>


<h2 class="page">Non-past forms of irregular verbs
</h2>
<h3 class="page-path"> 
<span class="int-links"><a href="/russian-grammar.html">Russian grammar</a> <span class="int-arrow">--></span>  Non-past forms of irregular verbs</span>
</h3>

<p>
In Russian, there are only a few truly irregular verbs. They depart in various ways from regular conjugation patterns.
Verbs <span class="eg">хотеть</span> <span class="egt">to want</span> and <span class="eg">бежать</span> <span class="egt">to run</span> have characteristics of both first and second conjugation, and are also called verbs of mixed conjugation. 
Verbs <span class="eg">быть</span> <span class="egt">to be</span>, <span class="eg">есть</span> <span class="egt">to eat</span> and <span class="eg">дать</span> <span class="egt">to give</span> have archaic non-past forms which should be memorized.
</p>

<p>
The table below demonstrates non-past forms* of these verbs. 
Note that other verbs derived from these ones by means of a prefix will have similar non-past forms.
</p>
<br>

<table class="st-table" cellspacing="0" align="center" style="margin: 0 auto"> 
	<tr style="vertical-align: middle; " > 
		<th>Person</th> 
		<th width="70"><strong>хотеть</strong><br> </th>
		<th width="70"><strong>бежать</strong><br> </th>
		<th width="70"><strong>дать</strong><br> </th> 
		<th width="70" ><strong>есть</strong><br> </th>
		<th width="70"><strong>быть</strong><br> </th>
		<th width="70" style="padding-top: 8px; padding-bottom: 8px;" class="thbrd"><strong>ехать</strong><br> </th> 
	</tr>
	<tr > 
		<td colspan="7" style="font-size: 10px; font-weight: bold;"> Singular</td>
	</tr>	
	<tr> 
		<td class="case-name">1st Person</td> 
		<td> хочу </td> 
		<td> бегу </td>
		<td> дам </td> 
		<td> ем </td>
		<td> буду </td> 
		<td> еду </td>
	</tr> 
	
	<tr> 
		<td class="case-name">2nd Person</td> 
		<td> хочешь </td> 
		<td> бежишь </td>
		<td> дашь </td> 
		<td> ешь </td>
		<td> будешь </td> 
		<td> едешь </td>
	</tr> 
	<tr> 
		<td class="case-name">3d Person</td> 
		<td> хочет </td> 
		<td> бежит </td>
		<td> даст </td> 
		<td> ест </td>
		<td> будет </td> 
		<td> едет </td>
	</tr> 
	<tr> 
		<td colspan="7" style="font-size: 10px; font-weight: bold;"> Plural</td>
	</tr>
	<tr> 
		<td class="case-name">1st Person</td> 
		<td> хотим </td> 
		<td> бежим </td>
		<td> дадим </td> 
		<td> едим </td>
		<td> будем </td> 
		<td> едем </td>
	</tr> 
	<tr> 
		<td class="case-name">2nd Person</td> 
		<td> хотите </td> 
		<td> бежите </td>
		<td> дадите </td> 
		<td> едите  </td> 
		<td> будете </td> 
		<td> едете </td>
	</tr> 
	<tr> 
		<td class="case-name">3d Person</td> 
		<td> хотят </td> 
		<td> бегут </td>
		<td> дадут </td> 
		<td> едят </td>
		<td> будут </td> 
		<td> едут </td>
	</tr> 
</table> 

<br><br>
<p style="margin-top: 20px; font-size: 11px; color: #666; border-top: 1px dotted #666; padding-top: 6px;">
* Non-past forms indicate the present tense of an imperfective verb and the future tense of a perfective verb
</p>

<br><br><br><br><br><br><br><br>

<script type="text/javascript">
currentSection="grammar";
</script>



