<% @page_title = 'Study Russian Online: Russian Negative Pronouns' %>
<% @page_meta = {'description' => "Information about Russian Negative pronouns: definition, peculiarities of usage, declension patterns."} %>


<% content_for :special_js_css do %>
<%= stylesheet_link_tag 'stylesounds' %>

<style type="text/css">

table.st-table {
margin: 10px auto;
}

table.st-table th {
padding: 8px 8px;
}

.gend-tds td {
font-style: italic;
}

.eng-pron td {
font-size: 11px;
font-style: italic;
font-weight: bold;
}

h2.page {
margin-bottom: 0px;
}

.pron-list {
list-style-type: circle;
}

.pron-list li {
margin: 15px 0;
}


</style>

<% end %>

<h2 class="page">Russian Negative Pronouns</h2>

<h3 class="page-path">
<span class="int-links"><a href="/russian-grammar.html">Russian grammar</a>  <span class="int-arrow">--&gt;</span> Negative Pronouns </span>
</h3>
<p>
<dfn>Negative pronouns</dfn> are words used to indicate the absence or non-existence of people, objects, or other entities. In Russian, this function is performed by two sets of pronouns formed from interrogative/relative pronouns: 
</p>
<p>
- pronouns formed by means of the prefix <span class="letter">ни</span>-: <strong>никто</strong>, <strong>ничто</strong>, <strong>никакой</strong>, <strong>ничей</strong><br>
- pronouns <strong>некого</strong>, <strong>нечего</strong>
</p>

<h3 class="page-p">Pronouns <em>никто, ничто, никакой, ничей</em></h3>

<h4 class="page-pp">Usage</h4>
<p>
The pronouns <span class="eg">никто</span>, <span class="eg">ничто</span>, <span class="eg">никакой</span>, <span class="eg">ничей</span> are used to refer to unidentified persons and things that do not exist or are not present. They correspond to English words <span class="egt">nobody/no one/not anyone</span>, <span class="egt">nothing/not anything</span>, <span class="egt">not any kind of</span> and no <span class="egt">one's/not anyone's</span>, respectively. 
</p>
<div class="egdiv">
<h4>Example: </h4>
<p><u>Никто</u> не знает. - Nobody knows.</p>
</div>

<p>
When these pronouns are used in a sentence, the verb is negated with the negative particle <span class="eg">не</span>. Such constructions are called double negative, and it means that several parts of the phrase may be negated, but it expresses a single negation. Unlike English, Russian sententces can have several negatives together with a negated verb.
</p>
<div class="egdiv">
<h4>Example: </h4>
<p><u>Никто</u> <u>ничего</u> не знает. - No one knows anything. (literally: No one doesn't know nothing.)</p>
</div>
<p>
Sometimes, Russian negative sentences do not contain verbs. In such instances, the use of negative pronouns do not change the negative construction. 
</p>
<div class="egdiv">
<h4>Examples: </h4>
<p>
Я не специалист / Я <u>никакой</u> не специалист. - I'm not an expert. / I'm not any kind of expert.<br>
Здесь его нет./ Здесь <u>никого</u> нет. - He is not here. / Nobody is here (There is nobody here).
</p> 
</div>

<h4 class="page-pp">Declension</h4>
<p>
These pronouns decline similarily to the corresponding <a href="/russian-relative-pronouns-declension.html">interrogative/relative pronouns</a>. When they are used with a preposition, the prefix <span class="eg">ни</span>- is detached and the preposition comes between <span class="eg">ни</span> and the second part of the pronoun. Note that <span class="eg">ничто</span> in the accusative case takes the forms of the genitive.
</p>

<table class="st-table" cellspacing="0" align="center">
	<col width="100">
	<tr style="vertical-align: middle;">
		<th >Case</th>
		<th >Никто</th>
		<th style="padding-top: 8px; padding-bottom: 8px;" class="thbrd">Ничто</th>
	</tr>
	<tr class="trow">
		<td class="case-name">Nom</td>
		<td>никто</td>
		<td>ничто</td>
	</tr>
	<tr class="trow">
		<td class="case-name">Gen</td>
		<td>никого (ни ... кого) </td>
		<td>ничего (ни ... чего)</td>
	</tr>
	<tr class="trow">
		<td  class="case-name">Dat</td>
		<td>никому (ни .. кому)</td>
		<td>ничему (ни ... чему)</td>
	</tr>
	<tr class="trow">
		<td class="case-name">Acc</td>
		<td>никого (ни ... кого)</td>
		<td>ничего (ни ... чего)</td>
	</tr>
	<tr class="trow">
		<td class="case-name">Ins</td>
		<td>никем (ни ... кем)</td>
		<td>ничем (ни ... чем)</td>
	</tr>
	<tr class="trow">
		<td class="case-name">Prep</td>
		<td>ни ... ком</td>
		<td>ни ... чём</td>
	</tr>
</table>
<br><br>
<h3 class="page-p">Pronouns <em>некого, нечего</em></h3>
<h4 class="page-pp">Usage </h4>
<p>
These negative pronouns are used in impersonal constructions with the infinitive form of the verb and correspond to English constructions <em>"there is no one to + verb"</em> and <em>"there is nothing to + verb"</em>. The verbs in Russian phrases containing pronouns <span class="eg">некого</span> and <span class="eg">нечего</span> are not negated. 
</p>
<div class="egdiv">
<h4>Example: </h4>
<p>
Мне <u>нечего</u> делать. - There is nothing for me to do. / I have nothing to do.  
</p> 
</div>


<h4 class="page-pp">Declension</h4>
<p>
These pronouns decline similarily to the corresponding <a href="/russian-relative-pronouns-declension.html">interrogative/relative pronouns</a>. However, these negative pronouns do not occur in the nominative case forms to express negation, since impersonal consructions in which they are used do not have subject. The nominative forms may occur (никто, ничто), but they will have a different meaning and refer to unspecified beings and objects(see also: <a href="/russian-indefinite-pronouns.html#nekto">Indefinite Pronouns</a>).
</p>
<p>
When they are used with a preposition, the prefix <span class="eg">не-</span> is detached and the preposition is placed between 
<span class="eg">не</span> and the second part of the pronoun.
</p>


<table class="st-table" cellspacing="0" align="center">
	<col width="100">
	<tr style="vertical-align: middle;">
		<th >Case</th>
		<th >Некого</th>
		<th style="padding-top: 8px; padding-bottom: 8px;" class="thbrd">Нечего</th>
	</tr>
	<tr class="trow">
		<td class="case-name">Nom</td>
		<td>--</td>
		<td>--</td>
	</tr>
	<tr class="trow">
		<td class="case-name">Gen</td>
		<td>некого (не ... кого) </td>
		<td>нечего (не ... чего)</td>
	</tr>
	<tr class="trow">
		<td  class="case-name">Dat</td>
		<td>некому (не .. кому)</td>
		<td>нечему (не ... чему)</td>
	</tr>
	<tr class="trow">
		<td class="case-name">Acc</td>
		<td>некого (не ... кого)</td>
		<td>нечего (не ... что)</td>
	</tr>
	<tr class="trow">
		<td class="case-name">Ins</td>
		<td>некем (не ... кем)</td>
		<td>нечем (не ... чем)</td>
	</tr>
	<tr class="trow">
		<td class="case-name">Prep</td>
		<td>не ... ком</td>
		<td>не ... чём</td>
	</tr>
</table>

<br><br><br><br><br><br><br><br><br><br><br>


<script type="text/javascript">
currentSection="grammar";
</script>


