<% @page_title = 'Online Russian Flashcards: Services' %>
<% @page_meta = {'description' => "Learn Russian vocabulary topic Services with online flashcards: words with audio samples, quizzes and spell practice"} %>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_js_css do %>
<style type="text/css">
h2.page {
margin-bottom: 0px;
font-size: 19pt;
}
</style>

<%end%>
<div class="hint_wrap">
<div class="hint_button" style="float: right;">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <li><a href="/services.html">Services</a></li>
			<li><a href="/services-test.html">Tests: Services</a></li>
        </ul>
        <%= render :partial => 'down_accent' %>
  </div>
</div>
</div>

<h2 class="page">Flashcards: Services</h2>
<h3 class="page-path">
	<span class="int-links">
	<a href="/vocabulary.html">Vocabulary</a>
	<span class="int-arrow">--&gt;</span> 
	<a href="/services.html">Services</a>
	<span class="int-arrow">--&gt;</span> Flashcards
	</span>
</h3>

<div  id="fl1" style="min-height: 600px; text-align: center;">
<%= render :partial => 'flashcard' %>
</div><!-- end of fl1 -->

<script type="text/javascript"> 
	var fl1 = new flashcard( {
		id: "fl1", 
		random_order: false,
		basic_array: [
		
['Сл<span class="acco">у</span>жба б<span class="acco">ы</span>та ','Services ','/sounds/sound05101.mp3','sl<span class="acct">oo</span>jba b<span class="acct"><span class="ry">i</span></span>ta '],
['Парикм<span class="acco">а</span>херская ','Hairdressing saloon ','/sounds/sound05102.mp3','parikm<span class="acct">a</span>hirskaya '],
['Пом<span class="acco">ы</span>ть г<span class="acco">о</span>лову ','Have a shampoo ','/sounds/sound05103.mp3','pom<span class="acct"><span class="ry">i</span></span><span class="sftc">t</span> g<span class="acct">o</span>lavoo '],
['Постр<span class="acco">и</span>чься ','Have hair cut ','/sounds/sound05104.mp3','pastr<span class="acct">i</span>ch<span class="sftv">s</span><span class="sfty">y</span>a '],
['Побр<span class="acco">и</span>ться ','Have a shave ','/sounds/sound05105.mp3','pabr<span class="acct">i</span>tsa '],
['Маник<span class="acco">ю</span>р ','Manicure ','/sounds/sound05106.mp3','mani<span class="sftv">k</span><span class="sfty">y</span><span class="acct">oo</span>r '],
['Педик<span class="acco">ю</span>р ','Pedicure ','/sounds/sound05107.mp3','pidi<span class="sftv">k</span><span class="sfty">y</span><span class="acct">oo</span>r '],
['Сбрить ','Shave off ','/sounds/sound05108.mp3','zbr<span class="acct">i</span><span class="sftc">t</span> '],
['В<span class="acco">о</span>лосы ','Hair ','/sounds/sound05109.mp3','v<span class="acct">o</span>las<span class="ry">i</span> '],
['Бород<span class="acco">а</span> ','Beard ','/sounds/sound05110.mp3','barad<span class="acct">a</span> '],
['Ус<span class="acco">ы</span> ','Moustache ','/sounds/sound05111.mp3','oos<span class="acct"><span class="ry">i</span></span> '],
['Чёлка ','Fringe ','/sounds/sound05112.mp3','ch<span class="acct">o</span>lka '],
['Зат<span class="acco">ы</span>лок ','Back of the head ','/sounds/sound05113.mp3','zat<span class="acct"><span class="ry">i</span></span>lak '],
['В<span class="acco">ы</span>сушить ф<span class="acco">е</span>ном ','Blow hair dry ','/sounds/sound05114.mp3','v<span class="acct"><span class="ry">i</span></span>soosh<span class="ry">i</span><span class="sftc">t</span> <span class="sftv">f</span><span class="sfty">y</span><span class="acct">e</span>nam '],
['Подравн<span class="acco">я</span>ть ','Trim ','/sounds/sound05115.mp3','padrav<span class="sftv">n</span><span class="sfty">y</span><span class="acct">a</span><span class="sftc">t</span> '],
['Н<span class="acco">о</span>гти ','Nails ','/sounds/sound05116.mp3','n<span class="acct">o</span>kti '],
['Пр<span class="acco">а</span>чечная ','Laundry, wash-house ','/sounds/sound05117.mp3','pr<span class="acct">a</span>chichnaya '],
['Химч<span class="acco">и</span>стка ','Dry-cleaner\'s ','/sounds/sound05118.mp3','himch<span class="acct">i</span>stka '],
['Пр<span class="acco">а</span>чечная-автомат ','Coin laundry ','/sounds/sound05119.mp3','pr<span class="acct">a</span>chichnaya aftam<span class="acct">a</span>t '],
['Поч<span class="acco">и</span>стить ','Clean, brush ','/sounds/sound05120.mp3','pach<span class="acct">i</span><span class="sftc">s</span>ti<span class="sftc">t</span> '],
['Постир<span class="acco">а</span>ть ','Wash, launder ','/sounds/sound05121.mp3','pa<span class="sftc">s</span>tir<span class="acct">a</span><span class="sftc">t</span> '],
['Од<span class="acco">е</span>жда ','Clothes ','/sounds/sound05122.mp3','a<span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span>jda '],
['<span class="acco">О</span>бувь ','Shoes ','/sounds/sound05123.mp3','<span class="acct">o</span>boo<span class="sftc">f</span> '],
['Мне н<span class="acco">у</span>жно пом<span class="acco">ы</span>ть г<span class="acco">о</span>лову. ','I want to have my hair washed. ','/sounds/sound05124.mp3','m<span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span> n<span class="acct">oo</span>jna pam<span class="acct"><span class="ry">i</span></span><span class="sftc">t</span> g<span class="acct">o</span>lavoo '],
['Где м<span class="acco">о</span>жно постир<span class="acco">а</span>ть в<span class="acco">е</span>щи? ','Where can I get my clothes washed? ','/sounds/sound05125.mp3','g<span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span> m<span class="acct">o</span>jna pastir<span class="acct">a</span><span class="sftc">t</span> <span class="sftv">v</span><span class="sfty">y</span><span class="acct">e</span>schi? '],
['Где м<span class="acco">о</span>жно поч<span class="acco">и</span>стить <span class="acco">о</span>бувь? ','Where can I get my shoes cleaned? ','/sounds/sound05126.mp3','g<span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span> m<span class="acct">o</span>jna pach<span class="acct">i</span><span class="sftc">s</span>ti<span class="sftc">t</span> <span class="acct">o</span>boo<span class="sftc">f</span>? '],
['Мне н<span class="acco">у</span>жен маник<span class="acco">ю</span>р. ','I need a manicure. ','/sounds/sound05127.mp3','m<span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span> n<span class="acct">oo</span>j<span class="ry">i</span>n mani<span class="sftv">k</span><span class="sfty">y</span><span class="acct">oo</span>r '],
['Где нах<span class="acco">о</span>дится пр<span class="acco">а</span>чечная? ','Where is the laundry? ','/sounds/sound05128.mp3','g<span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span> nah<span class="acct">o</span>ditsa pr<span class="acct">a</span>chichnaya? '],
['Где нах<span class="acco">о</span>дится парикм<span class="acco">а</span>херская? ','Where is the hairdressing saloon? ','/sounds/sound05129.mp3','g<span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span> nah<span class="acct">o</span>ditsa parikm<span class="acct">a</span>hirskaya? ']
		]
		} )
</script>


<table class="voc-links voc-link-first voc-link-last" align="center" cellspacing="0"><tr>
	<td class="voc-space">Check how you know this topic with our &nbsp;<a href="/services-test.html">Lexical tests >></a></td>
</tr></table>


<script type="text/javascript">
preloadFiles=new Array(
'/sounds/sound05101.mp3', '/sounds/sound05102.mp3', '/sounds/sound05103.mp3', '/sounds/sound05104.mp3', 
'/sounds/sound05105.mp3', '/sounds/sound05106.mp3', '/sounds/sound05107.mp3', '/sounds/sound05108.mp3', 
'/sounds/sound05109.mp3', '/sounds/sound05110.mp3', '/sounds/sound05111.mp3', '/sounds/sound05112.mp3',
 '/sounds/sound05113.mp3', '/sounds/sound05114.mp3', '/sounds/sound05115.mp3', '/sounds/sound05116.mp3', 
 '/sounds/sound05117.mp3', '/sounds/sound05118.mp3', '/sounds/sound05119.mp3', '/sounds/sound05120.mp3', 
 '/sounds/sound05121.mp3', '/sounds/sound05122.mp3', '/sounds/sound05123.mp3', '/sounds/sound05124.mp3', 
 '/sounds/sound05125.mp3', '/sounds/sound05126.mp3', '/sounds/sound05127.mp3', '/sounds/sound05128.mp3', 
 '/sounds/sound05129.mp3'
)
</script>
