<% @page_title = 'Tests: Shoes' %>
<% @page_meta = {'description' => ""} %>
<% @with_rec = true %>
<% @has_audio = true %>

<%= javascript_include_tag 'test-text' %>
<%= javascript_include_tag 'test' %>
<%= stylesheet_link_tag 'test-style.css' %>

<style type="text/css">

.quest  {
width: 210px;
}

.variants  {
width: 220px;
}

#t1 .variants  {
width: 260px;
}

#t2 .quest {
width: 220px;
}

</style>

<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Recommended links</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
     				<li><a href="shoes.html">Shoes</a></li>
     				<li><a href="shoes-exercise.html">Exercises: Shoes</a></li>
    		</ul>
	</div>
</div>
</div>



<h2 class="page">Shoes (tests)</h2>

<p class="task">Before completing the following tests, please revise the topic <a title="Shoes" href="shoes.html">Shoes</a></p>
<hr/>
<br/>
<h3>Test 1</h3>
<p class="task">Listen to the phrase and сhoose the corresponding Russian expression.</p>

<div id="t1">
<script type="text/javascript">
var t1 = new Test({dict: [

['sounds/sound09401.mp3','обувь'],['sounds/sound09402.mp3','босоножки'], ['sounds/sound09403.mp3','мокасины'],
['sounds/sound09404.mp3','полусапожки'],['sounds/sound09405.mp3','туфли-лодочки'],['sounds/sound09406.mp3','сандалии'],['sounds/sound09407.mp3','туфли'],
['sounds/sound09408.mp3','ботинки'],['sounds/sound09409.mp3','сапоги'],['sounds/sound09410.mp3','полуботинки'],
['sounds/sound09411.mp3','тапочки'],['sounds/sound09412.mp3','средства для ухода за обувью'],['sounds/sound09413.mp3','крем для обуви'],['sounds/sound09414.mp3','рожок для обуви'],
['sounds/sound09415.mp3','растяжка для обуви'],['sounds/sound09416.mp3','щётка для обуви']

],hide: 'di1',id:'t1', type: 'audio', how_questions: 8, how_show: 2});
</script>
</div>

<h3>Test 2</h3>
<p class="task">Read the Russian phrase and choose the corresponding English expression.</p>

<div id="t2">
<script type="text/javascript">
var t2 = new Test({dict: [

['босоножки','peep-toes'],
//['высокие сапоги','high shoes'],
['мокасины','loafers'],
['полусапожки','bottines'],['туфли-лодочки','court shoes'],['сандалии','sandals'],['туфли','shoes'],
['ботинки','lace-boots'],['сапоги','boots'],['полуботинки','low shoes'],
//['кроссовки','jogging shoes'],
['тапочки','slippers'],['средства для ухода за обувью','shoe care products'],['крем для обуви','shoe polish'],['рожок для обуви','shoehorn'],
['растяжка для обуви','shoe tree'],['щётка для обуви','polishing brush']

], hide:'di2',id:'t2',type: 'text', how_questions: 8, how_show: 2});
</script>
</div>

<h3>Test 3</h3>
<p class="task">Listen to the Russian phrases and сhoose their translation into English.</p>

<div id="t3">
<script type="text/javascript">
var t3 = new Test({dict: [

['sounds/sound09402.mp3','peep-toes'],['sounds/sound09403.mp3','loafers'],
['sounds/sound09404.mp3','bottines'],['sounds/sound09405.mp3','court shoes'],['sounds/sound09406.mp3','sandals'],['sounds/sound09407.mp3','shoes'],
['sounds/sound09408.mp3','lace-boots'],['sounds/sound09409.mp3','boots'],['sounds/sound09410.mp3','low shoes'],
['sounds/sound09411.mp3','slippers'],['sounds/sound09412.mp3','shoe care products'],['sounds/sound09413.mp3','shoe polish'],['sounds/sound09414.mp3','shoehorn'],
['sounds/sound09415.mp3','shoe tree'],['sounds/sound09416.mp3','polishing brush']

],hide: 'di3',id:'t3',type: 'audio', how_questions: 8, how_show: 2});
</script>
</div>


<script type="text/javascript">
currentSection="words";
</script>
