<% @page_title = 'Online Russian Vocabulary:  Shopping' %>
<% @page_meta = {'description' => "Russian online vocabulary for learning words and phrases related to the topic Shopping"} %>

<h2 class="page">Shopping</h2>
<p>There are the following topics related to shopping:</p>
<h3>Content:</h3>
<div  class="secondary-list">

<p><a href="clothing.html" title="Outdoor clothing">1. Outdoor clothing</a></p>
<p><a href="lingerie.html" title="Lingerie and nightwear">2. Lingerie and nightwear</a></p>
<p><a href="sportwear.html" title="Sportswear">3. Sportswear</a></p>
<p><a href="shoes.html" title="Shoes">4. Shoes</a></p>
<p><a href="accessories.html" title="Accessories">5. Accessories</a></p>
<p><a href="perfumery.html" title="Perfumery">6. Perfumery</a></p>
<p><a href="jewelry.html" title="Jewelry">7. Jewelry</a></p>
<p><a href="video.html" title="Audio, video and photo">8. Audio, video and photo</a></p>

</div>



<script type="text/javascript">
currentSection="words";
</script>
