<% @page_title = 'Sightseeing :: Online Russian lexical tests' %>
<% @page_meta = {'description' => "Learn Russian vocabulary topic Sightseeing with online lexical tests"} %>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_js_css do %>
<style type="text/css">
h2.page {margin-bottom: 0px;font-size: 19pt;}
</style>
<% end %>

<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Links and Settings</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
     				<li><a href="/sightseeing.html">Sightseeing</a></li>
					<li><a href="/sightseeing-flashcards.html"> Flashcards: Sightseeing</a></li>
    		</ul>
			<%= render :partial => 'preload_option' %>
	</div>
</div>
</div>

<h2 class="page">Tests:  Sightseeing</h2>

<h3 class="page-path">
	<span class="int-links">
	<a href="/vocabulary.html">Vocabulary</a>
	<span class="int-arrow">--&gt;</span> 
	<a href="/sightseeing.html">Sightseeing</a>
	<span class="int-arrow">--&gt;</span> Tests
	</span>
</h3>

<div class="l-test-container">

<h3 class="test-task">Test 1. Listen to the Russian phrase and find it in the list.
<a href="javascript:;" class="lt-test-closer"><span class="lt-h">Hide test</span><span class="lt-sh">Show test</span></a>
</h3>

<div id="ch1" class="lt-holder">
<div class="lt-spacer">	
<%= render :partial => 'lexical_test' %>
</div>
</div><!-- end of lt-holder -->

<script type="text/javascript"> 
	var ch1 = new ch_exercise( {
		id: "ch1", 
		test_id: "v0210010.1",
		quest_num: 10,
		variants_num: 5,
		quest_type: 'audio',
		basic_array: [
['sounds/sound07101.mp3','достопримечательности '],['sounds/sound07102.mp3','дворец'],['sounds/sound07103.mp3','замок'],['sounds/sound07104.mp3','картинная галерея'],
['sounds/sound07105.mp3','выставка'],['sounds/sound07106.mp3','музей'],['sounds/sound07107.mp3','музей изобразительных искусств'],['sounds/sound07108.mp3','исторический музей '],
['sounds/sound07109.mp3','памятник'],['sounds/sound07111.mp3','площадь'],['sounds/sound07112.mp3','парк'],['sounds/sound07114.mp3','сокровищница '],
['sounds/sound07115.mp3','турист'],['sounds/sound07116.mp3','собор'],['sounds/sound07117.mp3','церковь'],['sounds/sound07118.mp3','экскурсия'],
['sounds/sound07120.mp3','карта города'],['sounds/sound07121.mp3','фотографировать']
		]
		} )
</script>

<h3 class="test-task">Test 2. Read the Russian phrase and find its English equivalent.
<a href="javascript:;" class="lt-test-closer"><span class="lt-h">Hide test</span><span class="lt-sh">Show test</span></a>
</h3>

<div id="ch2" class="lt-holder">
<div class="lt-spacer">
<%= render :partial => 'lexical_test' %>
</div>
</div><!-- end of lt-holder -->
<script type="text/javascript"> 
	var ch2 = new ch_exercise( {
		id: "ch2", 
		test_id: "v0210020.2",
		quest_num: 10,
		variants_num: 5,
		basic_array: [
['достопримечательности ','sightseeings'],['дворец','palace'],['замок','castle'],['картинная галерея','picture-gallery'],
['выставка','exhibition'],['музей','museum'],['музей изобразительных искусств','museum of fine arts'],['исторический музей ','historical museum'],
['памятник','monument'],['площадь','square'],['парк','park'],['сокровищница ','treasure-house'],
['турист','tourist'],['собор','cathedral'],['церковь','church'],['экскурсия','excursion'],
['карта города','city plan'],['фотографировать','photograph']
		]
		} )
</script>

<h3 class="test-task">Test 3. 
Listen to the phrase and find its translation into English.
<a href="javascript:;" class="lt-test-closer"><span class="lt-h">Hide test</span><span class="lt-sh">Show test</span></a>
</h3>

<div id="ch3" class="lt-holder">
<div class="lt-spacer">	
<%= render :partial => 'lexical_test' %>
</div>
</div><!-- end of lt-holder -->

<script type="text/javascript"> 
	var ch3 = new ch_exercise( {
		id: "ch3", 
		test_id: "v0210030.3",
		quest_num: 10,
		variants_num: 5,
		quest_type: 'audio',
		basic_array: [
		
['sounds/sound07101.mp3','sightseeings'],['sounds/sound07102.mp3','palace'],['sounds/sound07103.mp3','castle '],['sounds/sound07104.mp3','picture-gallery'],
['sounds/sound07105.mp3','exhibition'],['sounds/sound07106.mp3','museum'],['sounds/sound07107.mp3','museum of fine arts'],['sounds/sound07108.mp3','historical museum'],
['sounds/sound07109.mp3','monument'],['sounds/sound07111.mp3','square'],['sounds/sound07112.mp3','park'],['sounds/sound07114.mp3','treasure-house'],
['sounds/sound07115.mp3','tourist'],['sounds/sound07116.mp3','cathedral'],['sounds/sound07117.mp3','church'],['sounds/sound07118.mp3','excursion'],
['sounds/sound07120.mp3','city plan'],['sounds/sound07121.mp3','photograph']
		]
		} )
</script>

<h3 class="test-task test-task-final" style="text-align: center">Review the topic &nbsp;&nbsp;&nbsp;&nbsp;<a href="/sightseeing.html">Sightseeing >></a></h3>

<script type="text/javascript">
preloadFiles=new Array(

)
</script>

</div><!-- end of lt-container -->

<script type="text/javascript">
currentSection="words";
</script>