<% @page_title = 'Online Russian Vocabulary: Sightseeing' %>
<% @page_meta = {'description' => "Russian online vocabulary for learning words and phrases related to the topic Sightseeing"} %>
<% @with_rec = true %>
<% @has_audio = true %>
<% content_for :special_js_css do %>
<style type="text/css">
h2.page {margin-bottom: 0px;}
</style>
<% end %>
<div class="hint_wrap">
<div class="hint_button">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <li><a href="sightseeing-flashcards.html"> Flashcards: Sightseeing</a></li>
            <li><a href="sightseeing-test.html"> Tests: Sightseeing</a></li>
        </ul>
        <%= render :partial => 'colorder_accent' %> 
  </div>
</div>
</div>



<h2 class="page">Sightseeing</h2>
<h3 class="page-path"> 
<span class="int-links"><a href="/vocabulary.html">Vocabulary</a> <span class="int-arrow">--></span> Sightseeing</span>
</h3>

<div id="pagecontent"><div id="content">

<div class="dict_wrapper">

<div class="voc-wordlist">
<table class="voc_bord" align="center" cellspacing="0">
<tr>
<td>

<table class="diction" cellpadding="0" cellspacing="0" align="center">
<thead>
<tr>
	<td></td>
	<td></td>
	<td></td>
</tr>
</thead>
<tbody>
	<tr class="trow">
		<td class="original" valign="top">Достопримеч<span class="acco">а</span>тельности
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound07101.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[dastaprimich<span class="acct">a</span>ti<span class="sftc">l</span>na<span class="sftc">s</span>ti] 
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Sightseeings
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Двор<span class="acco">е</span>ц
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound07102.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[dva<span class="sftv">r</span><span class="sfty">y</span><span class="acct">e</span>ts]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Palace
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">З<span class="acco">а</span>мок
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound07103.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[z<span class="acct">a</span>mak]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Castle
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Карт<span class="acco">и</span>нная гал<span class="acco">е</span>рея
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound07104.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[kart<span class="acct">i</span>naya gali<span class="sftv">r</span><span class="sfty">y</span><span class="acct">e</span>ya]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Picture-gallery
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">В<span class="acco">ы</span>ставка
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound07105.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[v<span class="acct"><span class="ry">i</span></span>stafka]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Exhibition
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Муз<span class="acco">е</span>й
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound07106.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[moo<span class="sftv">z</span><span class="sfty">y</span><span class="acct">e</span>y]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Museum
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Муз<span class="acco">е</span>й изобраз<span class="acco">и</span>тельных иск<span class="acco">у</span>сств
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound07107.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[moo<span class="sftv">z</span><span class="sfty">y</span><span class="acct">e</span>y izabraz<span class="acct">i</span>ti<span class="sftc">l</span>n<span class="ry">i</span>h isk<span class="acct">oo</span>stf]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Museum of fine arts
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Истор<span class="acco">и</span>ческий муз<span class="acco">е</span>й
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound07108.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[istar<span class="acct">i</span>chiskiy moo<span class="sftv">z</span><span class="sfty">y</span><span class="acct">e</span>y]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Historical museum
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">П<span class="acco">а</span>мятник
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound07109.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[p<span class="acct">a</span>mitnik]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Monument
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Фонт<span class="acco">а</span>н
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound07110.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[fant<span class="acct">a</span>n]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Fountain
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Пл<span class="acco">о</span>щадь
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound07111.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[pl<span class="acct">o</span>scha<span class="sftc">t</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Square
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Парк
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound07112.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[p<span class="acct">a</span>rk]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Park
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Сквер
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound07113.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[sk<span class="sftv">v</span><span class="sfty">y</span><span class="acct">e</span>r]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Public garden
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Сокр<span class="acco">о</span>вищница
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound07114.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[sakr<span class="acct">o</span>vischnitsa]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Treasure-house
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Тур<span class="acco">и</span>ст
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound07115.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[toor<span class="acct">i</span>st]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Tourist
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Соб<span class="acco">о</span>р
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound07116.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[sab<span class="acct">o</span>r]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Cathedral
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Ц<span class="acco">е</span>рковь
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound07117.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[ts<span class="acct">e</span>rka<span class="sftc">f</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Church
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Экск<span class="acco">у</span>рсия
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound07118.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[iksk<span class="acct">oo</span>rsiya]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Excursion
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Экск<span class="acco">у</span>рсия с гидом
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound07119.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[iksk<span class="acct">oo</span>rsiya z g<span class="acct">i</span>dam]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Guided excursion
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">К<span class="acco">а</span>рта г<span class="acco">о</span>рода
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound07120.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[k<span class="acct">a</span>rta g<span class="acct">o</span>rada]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">City plan
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Фотограф<span class="acco">и</span>ровать
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound07121.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[fatagraf<span class="acct">i</span>rava<span class="sftc">t</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Photograph
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Сд<span class="acco">е</span>лать сн<span class="acco">и</span>мок
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound07122.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[<span class="sftc">z</span><span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span>la<span class="sftc">t</span> sn<span class="acct">i</span>mak]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Take a picture
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Сним<span class="acco">а</span>ть
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound07123.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[<span class="sftc">s</span>nim<span class="acct">a</span><span class="sftc">t</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Shoot
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">&nbsp;
		</td>
		<td class="transcript" valign="top">&nbsp;
		</td>
		<td class="translation" valign="top">&nbsp;
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Где нах<span class="acco">о</span>дится&nbsp;…?
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound07124.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[g<span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span> nah<span class="acct">o</span>ditsa&nbsp;...?]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Where is&nbsp;... ?
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">М<span class="acco">о</span>жно ли здесь фотогр<span class="acco">а</span>фировать?
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound07125.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[m<span class="acct">o</span>jna li <span class="sftc">z</span><span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span><span class="sftc">s</span> fatagraf<span class="acct">i</span>rava<span class="sftc">t</span>?]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Is photographing allowed here?
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">С как<span class="acco">о</span>го ч<span class="acco">а</span>са раб<span class="acco">о</span>тает&nbsp;…?
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound07126.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[s kak<span class="acct">o</span>va ch<span class="acco">a</span>sa rab<span class="acct">o</span>tait&nbsp;...?]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Since what time is ... open?
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">По как<span class="acco">и</span>м дням м<span class="acco">о</span>жно посет<span class="acco">и</span>ть&nbsp;…?
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound07127.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[pa kak<span class="acct">i</span>m d<span class="sftv">n</span><span class="sfty">y</span><span class="acct">a</span>m m<span class="acct">o</span>jna pasit<span class="acct">i</span><span class="sftc">t</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">What week-days is ... open?
		</td>
	</tr>
</tbody>
<tfoot>
<tr>
	<td></td>
	<td></td>
	<td></td>
</tr>
</tfoot>  
</table>

</td>
</tr>
</table>
</div><!-- end of voc-wordlist-->

</div>

<table class="voc-links voc-link-first " align="center" cellspacing="0"><tr>
	<td class="voc-space">Learn these words and expressions with our &nbsp;<a href="sightseeing-flashcards.html">Flashcards >></a></td>
</tr></table>
<table class="voc-links voc-link-last" align="center" cellspacing="0"><tr>
	<td class="voc-space">Check how you know this topic with our &nbsp;<a href="sightseeing-test.html">Lexical tests >></a></td>
</tr></table>

</div>
</div>

<script type="text/javascript">
currentSection="words";
</script>
