<% @page_title = 'Tests: Sightseeing' %>
<% @page_meta = {'description' => ""} %>
<% @with_rec = true %>
<% @has_audio = true %>

<style type="text/css">

.quest  {
width: 210px;
}

.variants  {
width: 220px;
}

#t1 .variants {
width: 270px;
}

#t2 .quest {
width: 220px;
}

</style>

<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Recommended links</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
     				<li><a href="sightseeing.html">Sightseeing</a></li>
     				<li><a href="sightseeing-exercise.html"> Exercises: Sightseeing</a></li>

    		</ul>
	</div>
</div>
</div>



<h2 class="page">Sightseeing (tests)</h2>

<p class="task">Before completing the following tests, please revise the topic <a title="Sightseeing" href="sightseeing.html">Sightseeing</a></p>
<hr/>
<br/>
<h3>Test 1</h3>
<p class="task">Listen to the phrase and сhoose the corresponding Russian expression.</p>

<div id="t1">
<script type="text/javascript">
var t1 = new Test({dict: [

['sounds/sound07101.mp3','достопримечательности '],['sounds/sound07102.mp3','дворец'],['sounds/sound07103.mp3','замок'],['sounds/sound07104.mp3','картинная галерея'],
['sounds/sound07105.mp3','выставка'],['sounds/sound07106.mp3','музей'],['sounds/sound07107.mp3','музей изобразительных искусств'],['sounds/sound07108.mp3','исторический музей '],
['sounds/sound07109.mp3','памятник'],['sounds/sound07111.mp3','площадь'],['sounds/sound07112.mp3','парк'],['sounds/sound07114.mp3','сокровищница '],
['sounds/sound07115.mp3','турист'],['sounds/sound07116.mp3','собор'],['sounds/sound07117.mp3','церковь'],['sounds/sound07118.mp3','экскурсия'],
['sounds/sound07120.mp3','карта города'],['sounds/sound07121.mp3','фотографировать']

],hide: 'di1',id:'t1', type: 'audio', how_questions: 8, how_show: 2});
</script>
</div>

<h3>Test 2</h3>
<p class="task">Read the Russian phrase and choose the corresponding English expression.</p>

<div id="t2">
<script type="text/javascript">
var t2 = new Test({dict: [

['достопримечательности ','sightseeings'],['дворец','palace'],['замок','castle'],['картинная галерея','picture-gallery'],
['выставка','exhibition'],['музей','museum'],['музей изобразительных искусств','museum of fine arts'],['исторический музей ','historical museum'],
['памятник','monument'],['площадь','square'],['парк','park'],['сокровищница ','treasure-house'],
['турист','tourist'],['собор','cathedral'],['церковь','church'],['экскурсия','excursion'],
['карта города','city plan'],['фотографировать','photograph']

], hide:'di2',id:'t2',type: 'text', how_questions: 8, how_show: 2});
</script>
</div>

<h3>Test 3</h3>
<p class="task">Listen to the Russian phrases and сhoose their translation into English.</p>

<div id="t3">
<script type="text/javascript">
var t3 = new Test({dict: [

['sounds/sound07101.mp3','sightseeings'],['sounds/sound07102.mp3','palace'],['sounds/sound07103.mp3','castle '],['sounds/sound07104.mp3','picture-gallery'],
['sounds/sound07105.mp3','exhibition'],['sounds/sound07106.mp3','museum'],['sounds/sound07107.mp3','museum of fine arts'],['sounds/sound07108.mp3','historical museum'],
['sounds/sound07109.mp3','monument'],['sounds/sound07111.mp3','square'],['sounds/sound07112.mp3','park'],['sounds/sound07114.mp3','treasure-house'],
['sounds/sound07115.mp3','tourist'],['sounds/sound07116.mp3','cathedral'],['sounds/sound07117.mp3','church'],['sounds/sound07118.mp3','excursion'],
['sounds/sound07120.mp3','city plan'],['sounds/sound07121.mp3','photograph']

],hide: 'di3',id:'t3',type: 'audio', how_questions: 8, how_show: 2});
</script>
</div>


<script type="text/javascript">
currentSection="words";
</script>
