<% @page_title = 'Study-Languages-Online.com: Sitemap' %>
<% @page_meta = {'description' => "Sitemap of Study-Languages-Online website"} %>

<% content_for :special_css do %>
ul.voc_test {
list-style: none;
}

ul.no_list {
list-style: none;
}

<% end %>

<h2 style="margin-top: 0px;" class="page">Sitemap</h2>


<ul>
	<li>
		<a href="index.html">Home page</a>
			<ul>
				<li>
					<a href="recommendations.html">Recommendations for beginners</a>
				</li>
				<li>
					<a href="summary.html">Brief summary</a>
				</li>
			</ul>
	</li>
	<li>
		<a href="course.html">Online Course of Russian</a>
		
		<ul>
		
			<li><a href="course.html#beginner_course">Online Russian Course for Beginners</a>
				<ul class="no_list">
					<li><a href="beginner-lesson-01.html" title="Lesson 1">Lesson 1. <span class="ital">Greetings and Farewells</span></a></li>
					<li><a href="beginner-lesson-02.html" title="Lesson 2">Lesson 2. <span class="ital">Introducing yourself</span></a></li>
					<li><a href="beginner-lesson-03.html" title="Lesson 3">Lesson 3. <span class="ital">Where are from?</span></a></li>
					<li><a href="beginner-lesson-04.html" title="Lesson 4">Lesson 4. <span class="ital">Professions and Occupations</span></a></li>
					<li><a href="beginner-lesson-05.html" title="Lesson 5">Lesson 5. <span class="ital">Languages skills</span></a></li>
				</ul>
			</li>

			<li><a href="course.html#everyday_course">Everyday Russian Course</a>
			
				<ul class="no_list">
					<li>
						<a href="unit01.html" title="Lesson 1">Lesson 1. <span class="ital">In the airport</span></a>
					</li>
					<li>
						<a href="unit02.html" title="Lesson 2">Lesson 2. <span class="ital">Transport</span></a>
					</li>
					<li>
						<a href="unit03.html" title="Lesson 3">Lesson 3. <span class="ital">At the hotel</span></a>
					</li>
					<li>
						<a href="unit04.html" title="Lesson 4">Lesson 4. <span class="ital">In the street</span></a>
					</li>
					<li>
						<a href="unit05.html" title="Lesson 5">Lesson 5. <span class="ital">Sightseeings</span></a>
					</li>
					<li>
						<a href="unit06.html" title="Lesson 6">Lesson 6. <span class="ital">Shopping</span></a>
					</li>
					<li>
						<a href="unit07.html" title="Lesson 7">Lesson 7. <span class="ital">At the restaurant</span></a>
					</li>
					<li>
						<a href="unit08.html" title="Lesson 8">Lesson 8. <span class="ital">At the drugstore</span></a>
					</li>
					<li>
						<a href="unit09.html" title="Lesson 9">Lesson 9. <span class="ital">Currency exchange</span></a>
					</li>
					<li>
						<a href="unit10.html" title="Lesson 10">Lesson 10. <span class="ital">Internet &amp; Telephone</span></a>
					</li>
				</ul>
			
			
			</li>
		
		</ul>
		
	
		
	</li>
	<li><a href="vocabulary.html">Vocabulary sorted by Topics</a>
		<ul>
			<li>
				<a href="politeness.html" title="Formulas of politeness">I. Formulas of politeness</a>
					
			</li>
			<li>
				<a href="acquaintance.html" title="Making acquaintance">II. Making acquaintance</a>
					
			</li>
			<li>
				<a href="transport.html" title="Transport">III. Transport</a>
			
				<ul class="no_list">
					<li>
						<a href="airport.html" title="Airport">1. Airport</a>
						
					</li>
					<li>
						<a href="bus.html" title="Bus, trolley, tram">2. Bus, trolley, tram</a>
						
					</li>
					<li>
						<a href="subway.html" title="Subway">3. Subway</a>
						
					</li>
					<li>
						<a href="taxi.html" title="Taxi">4. Taxi</a>
						
					</li>
				</ul>
			</li>
			<li>
				<a href="hotel.html" title="Hotel">IV. Hotel</a>
						
			</li>
			<li>
				<a href="services.html" title="Services">V. Services</a>
						
			</li>
			<li>
				<a href="city.html" title="City">VI. City</a>
						
			</li>
			<li>
				<a href="sightseeing.html" title="Sightseeing">VII. Sightseeing</a>
						
			</li>
			<li>
				<a href="meals.html" title="Meals">VIII. Meals</a>
			
				<ul class="no_list">
					<li>
						<a href="bread.html" title="Bread and confectionery">1. Bread and confectionery</a>
						
					</li>
					<li>
						<a href="gruel.html" title="Gruels and porridges">2. Gruels and porridges</a>
						
					</li>
					<li>
						<a href="meat.html" title="Meat dishes">3. Meat dishes</a>
						
					</li>
					<li>
						<a href="fish.html" title="Fish, fish dishes">4. Fish, fish dishes</a>
						
					</li>
					<li>
						<a href="dairy.html" title="Dairy produce">5. Dairy produce</a>
						
					</li>
					<li>
						<a href="vegetables.html" title="Vegetables">6. Vegetables</a>
						
					</li>
					<li>
						<a href="fruit.html" title="Fruit, berries">7. Fruit, berries</a>
						
					</li>
					<li>
						<a href="confectionery.html" title="Confectionery">8. Confectionery</a>
						
					</li>
					<li>
						<a href="drinks.html" title="Beverages, soft and strong drinks">9. Beverages, soft and strong drinks</a>
						
					</li>
				</ul>
			</li>
			<li>
				<a href="shopping.html" title="Shopping">IX. Shopping</a>
					<ul class="no_list">
						<li>
							<a href="clothing.html" title="Outdoor clothing">1. Outdoor clothing</a>
						   	
						</li>
						<li>
							<a href="lingerie.html" title="Lingerie and nightwear">2. Lingerie and nightwear</a>
							
						</li>
						<li>
							<a href="sportwear.html" title="Sportswear">3. Sportswear</a>
							
						</li>
						<li>
							<a href="shoes.html" title="Shoes">4. Shoes</a>
							
						</li>
						<li>
							<a href="accessories.html" title="Accessories">5. Accessories</a>
							
						</li>
						<li>
							<a href="perfumery.html" title="Perfumery">6. Perfumery</a>
							
						</li>
						<li>
							<a href="jewelry.html" title="Jewelry">7. Jewelry</a>
							
						</li>
						<li>
							<a href="video.html" title="Audio, video and photo">8. Audio, video and photo</a>
							
						</li>
					</ul>
			</li>
			<li>
				<a href="numerals.html" title="Numerals">X. Numerals </a>
				
      			<ul class="no_list">
      				<li>
      				<a href="numerals00-100.html" title="Numerals">1. Numerals (part 1)</a>
      				</li>
      		   		<li>
      				<a href="numerals100.html" title="Numerals">2. Numerals (part 2)</a>
      				</li>
      				<li>
      				<a href="cardinal.html" title="Ordinal Numerals">3. Ordinal Numerals</a>
      				</li>
      			</ul>
			</li>
			<li>
				<a href="vocabulary_exercises.html" title="Exercises">Exercises for topics</a>
				
      			<ul class="no_list">
      				<li>
      					<a href="politeness-exercise.html" title="Formulas of politeness exercises">Exercises: Formulas of politeness</a>
      				</li>
      		   		<li>
      					<a href="acquaintance-exercise.html" title="Making acquaintance exercises">Exercises: Making acquaintance</a>
      				</li>
      				<li>
      					<a href="airport-exercise.html" title="Airport exercises">Exercises: Airport</a>
      				</li>
      				<li>
      					<a href="bus-exercise.html" title="City transport exercises ">Exercises: Bus, trolley, tram</a>
      				</li>
      		   		<li>
      					<a href="subway-exercise.html" title="Subway exercises">Exercises: Subway</a>
      				</li>
      				<li>
      					<a href="taxi-exercise.html" title="Taxi exercises">Exercises: Taxi</a>
      				</li>
      				
      				<li>
      					<a href="hotel-exercise.html" title="Hotel exercises">Exercises: Hotel</a>
      				</li>
      				<li>
      					<a href="services-exercise.html" title="Services exercises">Exercises: Services</a>
      				</li>
      		   		<li>
      					<a href="city-exercise.html" title="City">Exercises: City</a> 
      				</li>
      				<li>
      					<a href="sightseeing-exercise.html" title="Sightseeing exercises">Exercises: Sightseeing</a>
      				</li>
      				
      				<li>
      					<a href="bread-exercise.html" title="Bread and confectionery exercises">Exercises: Bread and confectionery</a>
      				</li>
      				<li>
      					<a href="gruel-exercise.html" title="Gruels and porridges exercises ">Exercises: Gruels and porridges</a>
      				</li>
      		   		<li>
      					<a href="meat-exercise.html" title="Meat dishes exercises">Exercises: Meat dishes</a>
      				</li>
      				<li>
      					<a href="fish-exercise.html" title="Fish dishes exercises">Exercises: Fish, fish dishes</a> 
      				</li>
      				 
      				<li>
      					<a href="dairy-exercise.html" title="Dairy produce exercises">Exercises: Dairy produce</a>
      				</li>
      				<li>
      					<a href="vegetables-exercise.html" title="Vegetables exercises">Exercises: Vegetables</a> 
      				</li>
      				<li>
      					<a href="fruit-exercise.html" title="Fruit, berries exercises">Exercises: Fruit, berries</a>
      				</li>
      				<li>
      					<a href="confectionery-exercise.html" title="Confectionery exercises">Exercises: Confectionery</a> 
      				</li>
      				<li>
      				   <a href="drinks-exercise.html" title="Soft and strong drinks exercises">Exercises: Beverages, soft and strong drinks</a>
      				</li>
      		   		<li>
      					<a href="clothing-exercise.html" title="Outdoor clothing exercises">Exercises: Outdoor clothing</a>
      				</li>
      				<li>
      					<a href="lingerie-exercise.html" title="Lingerie and nightwear exercises">Exercises: Lingerie and nightwear</a> 
      				</li>
      				<li>
      					<a href="sportwear-exercise.html" title="Sportswear exercises">Exercises: Sportswear</a> 
      				</li>
      				
      				<li>
      					<a href="shoes-exercise.html" title="Shoes exercises">Exercises: Shoes</a>
      				</li>
      				<li>
      				   <a href="accessories-exercise.html" title="Accessories exercises">Exercises: Accessories</a>
      				</li>
      		   		<li>
      					<a href="perfumery-exercise.html" title="Perfumery exercises">Exercises: Perfumery</a>
      				</li>
      				<li>
      					<a href="jewelry-exercise.html" title="Jewelry exercises">Exercises: Jewelry</a>
      				</li>
      				<li>
      					<a href="video-exercise.html" title="Audio, video and photo exercises">Exercises: Audio, video and photo</a> 
      				</li>
      				
      				
      			</ul>
			</li>
			<li>
				<a href="vocabulary_tests.html" title="Tests">Tests for topics</a>
				
      			<ul class="no_list">
      				<li>
      					<a href="politeness-test.html" title="Formulas of politeness tests">Tests: Formulas of politeness</a>
      				</li>
      		   		<li>
      					<a href="acquaintance-test.html" title="Making acquaintance tests">Tests: Making acquaintance</a>
      				</li>
      				<li>
      					<a href="airport-test.html" title="Airport tests">Tests: Airport</a>
      				</li>
      				<li>
      				   <a href="bus-test.html" title="City transport tests ">Tests: Bus, trolley, tram</a>
      				</li>
      		   		<li>
      					<a href="subway-test.html" title="Subway tests">Tests: Subway</a>
      				</li>
      				<li>
      					<a href="taxi-test.html" title="Taxi tests">Tests: Taxi</a>
      				</li>
      				<li>
      					<a href="hotel-test.html" title="Hotel tests">Tests: Hotel</a> 
      				</li>
      				<li>
      				   <a href="services-test.html" title="Services tests">Tests: Services</a>
      				</li>
      		   		<li>
      					<a href="city-test.html" title="City">Tests: City</a>
      				</li>
      				<li>
      					<a href="sightseeing-test.html" title="Sightseeing tests">Tests: Sightseeing</a>
      				</li>
      				<li>
      					<a href="bread-test.html" title="Bread and confectionery tests">Tests: Bread and confectionery</a>
      				</li>
      				<li>
      					<a href="gruel-test.html" title="Gruels and porridges tests ">Tests: Gruels and porridges</a>
      				</li>
      				<li>
      				   <a href="meat-test.html" title="Meat dishes tests">Tests: Meat dishes</a> 
      				</li>
      		   		<li>
      					<a href="fish-test.html" title="Fish dishes tests">Tests: Fish, fish dishes</a>
      				</li>
      				<li>
      					<a href="dairy-test.html" title="Dairy produce tests">Tests: Dairy produce</a>
      				</li>
      				<li>
      					<a href="vegetables-test.html" title="Vegetables tests">Tests: Vegetables</a> 
      				</li>
      				<li>
      					<a href="fruit-test.html" title="Fruit, berries tests">Tests: Fruit, berries</a>
      				</li>
      				<li>
      					<a href="confectionery-test.html" title="Confectionery tests">Tests: Confectionery</a> 
      				</li>
      				<li>
      				   <a href="drinks-test.html" title="Soft and strong drinks">Tests: Beverages, soft and strong drinks</a>
      				</li>
      		   		<li>
      					<a href="clothing-test.html" title="Outdoor clothing tests">Tests: Outdoor clothing</a>
      				</li>
      				<li>
      					<a href="lingerie-test.html" title="Lingerie and nightwear tests">Tests: Lingerie and nightwear</a> 
      				</li>
      				<li>
      					<a href="sportwear-test.html" title="Sportswear tests">Tests: Sportswear</a> 
      				</li>
      				
      				<li>
      					<a href="shoes-test.html" title="Shoes tests">Tests: Shoes</a>
      				</li>
      				<li>
      				   <a href="accessories-test.html" title="Accessories tests">Tests: Accessories</a>
      				</li>
      		   		<li>
      					<a href="perfumery-test.html" title="Perfumery tests">Tests: Perfumery</a>
      				</li>
      				<li>
      					<a href="jewelry-test.html" title="Jewelry tests">Tests: Jewelry</a>
      				</li>
      				<li>
      					<a href="video-test.html" title="Audio, video and photo tests">Tests: Audio, video and photo</a> 
      				</li>
      				
      			</ul>
			</li>
			<li>
				<a href="vocabulary_games.html" title="Games">Games</a>
				<ul class="no_list">
      				<li>
      					<a href="memory.html" title="Memory Game">Memory Game</a>
      				</li>
      				<li>
      					<a href="balloon-game.html" title="Hot Air Balloons">Hot Air Balloons</a>
      				</li>
      			</ul>
					
			</li>
			
			
			
		</ul>

	</li>
	<li>
		<a href="pronunciation.html">Phonetics: Russian Pronunciation</a>
		<ul>
			<li>
				<a href="basic-sounds.html">Basic Russian sounds and their transcription</a>
			</li>
			<li>
				<a href="sounds-info.html">General info about sounds in the Russian language</a>
			</li>
			<li>
				<a href="phonetics-course.html">Introductory phonetics course for Russian</a>
					<ul class="no_list">
						<li>
							<a href="phonetics01.html">1. Vowel sounds</a>
						</li>
						<li>
							<a href="phonetics02.html">2. Hard consonants</a>
						</li>
   						<li>
   							<a href="phonetics03.html">3. Soft consonants</a>
   						</li>
						<li>
							<a href="phonetics04.html">4. The most difficult sounds</a>
						</li>
					</ul>
			</li>
		</ul>
	
	</li>
	<li>
		<a href="russian-reading.html" >Reading in Russian</a>
		<ul>
			<li>
				<a href="reading-info.html">General info about reading in Russian</a>
			</li>
			<li>
				<a href="basic-letters.html">Russian Letters and their Basic Meanings</a>
				<ul class="no_list">
					<li>
						<a href="alphabet.html">- Russian alphabet</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="readingrules.html">Rules of reading in Russian</a>
				<ul class="no_list">
		   			<li>
		   				<a href="softness.html">- Softness of consonants in Russian</a>
		   			</li>
		   			<li>
		   				<a href="devocalization.html">- Vocalization and Devocalization of Consonants in Russian</a>
		   			</li>
					<li>
						<a href="stress-reduction.html">- Stress and reduction of vowels</a>
					</li>
   					<li>
   						<a href="reading-exceptions.html">- Exceptional cases of reading</a> 
   					</li>
   					<li>
   						<a href="basic-reading-rules.html">- Rules of reading (Summary)</a> 
   					</li>
				</ul>
			</li>
			<li>
				<a href="reading-practice.html">Training exercises</a>

				<ul class="no_list">
					<li>
						<a href="reading-practice1.html">- Part 1. Basic Meanings of letters</a>
					</li>
   					<li>
   						<a href="reading-practice2.html">- Part 2. Softness of consonants</a>
   					</li>
					<li>
						<a href="reading-practice3.html">- Part 3. Devocalization and vocalization of consonants</a>
					</li>
					<li>
						<a href="reading-practice4.html">- Part 4. Stress and reduction of vowels</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="russian-reading-texts.html">Texts for reading practice</a>
				<ul class="no_list">
					<li><a href="reading_text_01.html">- Text: Introduction</a></li>
					<li><a href="reading_text_02.html">- Text: Russia</a></li>
					<li><a href="reading_text_03.html">- Text: Moscow</a></li>
					<li><a href="reading_text_04.html">- Text: Saint Petersburg</a></li>
					<li><a href="reading_text_05.html">- Text: Russian Food</a></li>
				</ul>
			</li>

		</ul>
	
	</li>
	<li>
		<a href="other-pages.html" title="Other pages section">Other pages</a>
		<ul>
			<li><a href="functions.html" title="Functions and Settings">Functions and Settings</a></li>
			<li><a href="test-use.html" title="How to use tests">How to use tests</a></li>
			<li><a href="additional.html" title="Additional information">Additional information</a></li>
			<li><a href="sitemap.html" title="Sitemap">Sitemap</a></li>
		</ul>
	
	</li>
	<li><a href="contacts.html">Contact Us</a></li>
	
</ul>
