<% @page_title = 'Russian Language Online: Softness of consonants in Russian' %>
<% @page_meta = {'description' => "Online information about soft consonants in Russian with audio examples"} %>
<% @with_rec = true %>
<% @has_audio = true %>



<% content_for :special_js_css do %>

<%= stylesheet_link_tag 'stylesounds' %>

<style type="text/css">
h2.page {margin-bottom: 0px;}

.sound-letter td {
width: 20%;
}
.italic-letter {
font-style: italic;
font-family: Times New Roman;
}

.note-block {
font-size:8pt;
line-height:14pt;
padding-left:55px;
text-indent:-55px;
}

</style>

<% end %>

<div class="hint_wrap">
<div class="hint_button" style="float: right;">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Links and Settings</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
    				<li><a href="basic-letters.html">Russian Letters</a></li>
					<li><a href="devocalization.html">Devocalization</a></li>
   					<li><a href="stress-reduction.html">Stress and reduction</a></li>
					<li><a href="reading-exceptions.html">Exceptional cases</a> </li>
					<li><a href="basic-reading-rules.html">Basic rules</a> </li>
    				<li><a href="reading-practice.html">Training exercises</a></li>
    		</ul>
        <%= render :partial => 'preload_option' %>
	</div>
</div>
</div>
<div id="pagecontent"><div id="content">


<h2 class="page">Softness of consonants in Russian</h2>
<h3 class="page-path">
	<span class="int-links">
	<a href="russian-reading.html">Reading in Russian</a>
	<span class="int-arrow">--&gt;</span> 
	<a href="readingrules.html">Rules of reading</a>
	<span class="int-arrow">--&gt;</span> Softness of consonants
	</span>
</h3>
 
<p>
There are 36 consonant sounds in Russian. All consonant sounds are divided into hard and soft. Most sounds come in pairs "hard vs. soft", i.e. their pronunciation differs only by softness. There are 15 pairs of consonants "hard vs. soft".
<span style="line-height: 20px;" >
<span class="open_popup_link" onClick="open_comment('comments_audio/comment_hard_soft.html')">Click here to listen to hard and soft consonant sounds.</span>
</span> 
</p>
<p><span style="border-bottom: 1px dashed #000;">For each pair "hard vs. soft" only one letter is used.</span></p>

<h3 class="page-p">How Russian letters denote softness</h3>
<p>
In order to determine whether the letter denotes a hard or a soft consonant, you should take a look at the letter which follows it. There can be two options: 
</p>
<p>
- If the letter is followed by <span class="letter">и</span>, <span class="letter">е</span>, <span class="letter">ю</span>, <span class="letter">я</span>, <span class="letter">ё</span> or <span class="letter">ь</span>, it denotes the corresponding soft consonant.
</p>

<div class="egdiv eg-sound ">
<h4>Examples: </h4>
<p><strong>The following highlighted letters denote soft sounds:</strong></p>
<p>
<span class="eg"><span class="soft_letter">д</span>иплом</span>

<span onmouseout="hide_info(this)" onmouseover="tooltip(this,'See notes below')" style="cursor: help;">*</span>

<span class="sound" onclick="playSound('reading/soundr020010.mp3')">[diplom] &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
 <span class="egt">diploma</span>
</p>
<p>
<span class="eg"><span class="soft_letter">т</span>екст</span>
<span class="sound" onclick="playSound('reading/soundr020020.mp3')">[t'ekst] &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
 <span class="egt">text</span>
</p>
<p>
<span class="eg"><span class="soft_letter">м</span>ёд</span>
<span class="sound" onclick="playSound('sound08803.mp3')">[m'ot] &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
 'honey'
</p>
<p>
<span class="eg"><span class="soft_letter">б</span>юро </span>
<span class="sound" onclick="playSound('reading/soundr020026.mp3')">[b'ooro] &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
 <span class="egt">office</span>
</p>
<p>
<span class="eg"><span class="soft_letter">м</span>ясо</span>
<span class="sound" onclick="playSound('sound08301.mp3')">[m'asa] &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
 'meat'
</p>
<p>
<span class="eg">но<span class="soft_letter">л</span>ь</span>
<span class="sound" onclick="playSound('num00000.mp3')">[nol']  &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
<span class="egt">zero</span>
</p>
</div>

<p class="note-block">
<span class="note">* Note:</span>

In transcriptions on our website, we do not show the softness of consonant sounds before <span style="white-space: nowrap">the sound [i],</span> since only soft sounds can be encountered before [i] in the Russian language.
In other cases, the softness of a consonant is indicated by the sign [']
</p>


<p>
- In other occurrences, i.e. if the letter is followed by consonant letters (except cases of a group of soft consonants, see below), by vowel letters <span class="letter">а</span>, <span class="letter">о</span>, <span class="letter">у</span>, <span class="letter">ы</span>, <span class="letter">э</span>, <span class="letter">ъ</span> or if the letter is found at the end of the word, it denotes the corresponding hard consonant.
</p>

<div class="egdiv eg-sound ">
<h4>Examples: </h4>
<p><strong>The following highlighted letters denote hard sounds:</strong></p>
<p>
<span class="eg"><span class="hard_letter">д</span>о<span class="hard_letter">м</span></span>
<span class="sound" onclick="playSound('sound06108.mp3')">[dom] &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
 <span class="egt">house</span>
</p>
<p>
<span class="eg"><span class="hard_letter">б</span>а<span class="hard_letter">р</span></span>
<span class="sound" onclick="playSound('sound06106.mp3')">[bar] &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
 <span class="egt">bar</span>
</p>
<p>
<span class="eg"><span class="hard_letter">м</span>ы<span class="hard_letter">л</span>о</span>
<span class="sound" onclick="playSound('sound09615.mp3')">[m<s>i</s>la] &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
 <span class="egt">soap</span>
</p>

</div>



<h3 class="page-p">Consonants that are always hard or soft</h3>

<p>
Some sounds do not come in pairs: these are hard sounds <span class="sound" onclick="playSound('sound227.mp3')">[j]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('sound228.mp3')">[sh]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('sound240.mp3')">[ts]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span> and soft sounds 
<span class="sound" onclick="playSound('sound238.mp3')">[sch]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('sound239.mp3')">[ch]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>, 
<span class="sound" onclick="playSound('sound237.mp3')">[y]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>.  They are denoted, respectively, by letters <span class="letter">ж</span>, <span class="letter">ш</span>, <span class="letter">ц</span>, <span class="letter">щ</span>, <span class="letter">ч</span>, <span class="letter">й</span>. Since these letters designate sounds which do not form pairs "hard vs. soft", their reading will be always the same, including the cases when they are found before the group of letters used to indicate softness (<span class="letter">и</span>, <span class="letter">е</span>, <span class="letter">ю</span>, <span class="letter">я</span>, <span class="letter">ё</span>, <span class="letter">ь</span>). It should be mentioned that if letters <span class="letter">ж</span>, <span class="letter">ш</span>, <span class="letter">ц</span> are followed by the letter <span class="letter">и</span>, the letter <span class="letter">и</span> is read as 
<span class="sound" onclick="playSound('sound206.mp3')">[<span class="ry">i</span>] <span class="play_tip">&nbsp; &nbsp;</span></span> (not as <span class="sound" onclick="playSound('sound205.mp3')">[i] <span class="play_tip">&nbsp;&nbsp;&nbsp;</span></span>). 
</p>

<div class="egdiv eg-sound ">
<h4>Examples: </h4>
<p><strong>The following words have the letter <span class="eg">и</span> read as 
<span class="sound" onclick="playSound('sound206.mp3')">[<span class="ry">i</span>] <span class="play_tip">&nbsp; &nbsp;</span></span>:</strong></p>
<p>

<span class="eg">ужин</span>
<span class="sound" onclick="playSound('sound04124.mp3')">[ooj<span class="ry">i</span>n] &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
 <span class="egt">evening meal, dinner</span>
</p>
<p>
<span class="eg">машина</span>
<span class="sound" onclick="playSound('sound02302.mp3')">[mash<span class="ry">i</span>na] &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
 <span class="egt">car</span>
</p>
<p>
<span class="eg">станция</span>
<span class="sound" onclick="playSound('sound02206.mp3')">[stants<span class="ry">i</span>ya] &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
 <span class="egt">station</span>
</p>

</div>

<h3 class="page-p">Group of soft consonants</h3>
<p>
Some letters which designate consonant sounds may denote soft sounds even when they are found in a word before other consonants, but on conditions that the following consonant is soft. It may happen in the following combinations of letters: <span class="letter">ст</span>, <span class="letter">зд</span>, <span class="letter">н</span> + <span class="letter">т</span>, <span class="letter">д</span>, <span class="letter">с</span>, <span class="letter">з</span>, <span class="letter">ч</span>.
</p>
<p style="display: none;">
Take a look at the following examples and note that 
</p>

<div class="egdiv eg-sound ">
<h4>Examples: </h4>
<p>In the highlighted combinations of letters, both consonants are soft:
</p>


<p>
<span class="eg">по<span class="soft_letter">ст</span>ирать </span>
<span class="sound" onclick="playSound('sound05121.mp3')">[pas'tirat'] &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
 <span class="egt">to wash, to launder </span>
</p>

</div>




<h3 class="page-p">Peculiarities of reading the letters <span class="norm_txt">е</span>, <span class="norm_txt">ю</span>, <span class="norm_txt">я</span>, <span class="norm_txt">ё</span> following consonants and signs <span class="norm_txt">ь</span>, <span class="norm_txt">ъ</span></h3>
<p>
We have already mentioned that letters  <span class="letter">е</span>, <span class="letter">ю</span>, <span class="letter">я</span>, <span class="letter">ё</span> indicate the softness of the previous consonant,  and, as you may already have noticed, the initial sound <span class="sound" onclick="playSound('sound237.mp3')">[y]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span> which is present in their basic meaning may disappear if these letters follow a consonant. 
</p>
<p>Thus, when these letters designate stressed vowels and follow consonants, they are read as:</p>  

<span class="letter">е</span> - <span class="sound" onclick="playSound('sound202.mp3')">[e] <span class="play_tip">&nbsp; &nbsp;</span></span>:

<span class="eg">ферма </span>
<span class="sound" onclick="playSound('reading/soundr020018.mp3')">[f'erma] &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
<span class="egt">farm</span>

<br><br>
<span class="letter">ё</span> - <span class="sound" onclick="playSound('sound203.mp3')">[o] <span class="play_tip">&nbsp; &nbsp;</span></span>:

<span class="eg">осётр </span>
<span class="sound" onclick="playSound('sound08405.mp3')">[as'otr] &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
<span class="egt">sturgeon</span>

<br><br>
<span class="letter">ю</span> - <span class="sound" onclick="playSound('sound204.mp3')">[oo] <span class="play_tip">&nbsp; &nbsp;</span></span>:

<span class="eg">люстра </span>
<span class="sound" onclick="playSound('reading/soundr020024.mp3')">[l'oostra] &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
<span class="egt">lustre, chandelier</span>

<br><br>
<span class="letter">я</span> - <span class="sound" onclick="playSound('sound201.mp3')">[a] <span class="play_tip">&nbsp; &nbsp;</span></span>:
<span class="eg">пять </span>
<span class="sound" onclick="playSound('num00005.mp3')">[p'at'] &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
<span class="egt">five</span>

<p>You can find more info about reading of these letters on the page <a href="stress-reduction.html">Stress and reduction of vowels</a></p>


<h3 class="page-p">Summary: </h3>

<p>- Softness of consonants is indicated by letters <span class="letter">и</span>, <span class="letter">е</span>, <span class="letter">ю</span>, <span class="letter">я</span>, <span class="letter">ё</span>, <span class="letter">ь</span></p>
<p>- In some cases, not just one, but a group of consonants become soft</p>
<p>- Letters <span class="letter">е</span>, <span class="letter">ё</span>, <span class="letter">ю</span>, <span class="letter">я</span> indicate the softness of the previous consonant + vowel sound [e], [o], [oo], [a], respectively</p>



<br><br><br><br><br><br><br>


</div></div>

<script type="text/javascript">
currentSection="reading";
</script>
