<% @page_title = 'Russian Language Online: General Info about Russian Sounds' %>
<% @page_meta = {'description' => "Russian sounds description with audio examples and transcription"} %>
<% @with_rec = true %>
<% @has_audio = true %>

<%= stylesheet_link_tag 'stylesounds' %>

<div class="hint_wrap">
<div class="hint_button" style="float: right;">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Links and Settings</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
     				<li><a href="basic-sounds.html">Basic Russian sounds</a></li>
    				<li><a href="phonetics-course.html">Phonetics course</a></li>
    		</ul>
        <%= render :partial => 'preload_option' %>
	</div>
</div>
</div>

<h2 class="page">General Info about Sounds<br/> in the Russian Language</h2>
<div id="pagecontent"><div id="content">

<h3>Vowels</h3> 
<p>
The basic vowel sounds of Russian are [a], [e], [o], [oo], [i], [i]. There are also some other sounds which may occur in unstressed syllables, but they are very similar to above-mentioned sounds and have barely noticeable nuances. So, for practical purposes, we use only the basic sounds in all transcriptions on our site. Note also, that in unstressed syllables vowel sounds are a bit shorter and pronounced with less tension than in stressed syllables.
<br />
<span style="line-height: 20px;" >
<span class="open_popup_link" onClick="open_comment('comments_audio/comment_vowels.html')">Click here to open a popup to listen to these sounds</span>
</span>
</p>

<h3>Consonants</h3> 
<p>
There are 36 basic consonant sounds in Russian: 
</p>
<p>
[b], [b'], [p], [p'], [v], [v'], [f], [f'], [z], [z'], [s], [s'], [d], [d'], [t], [t'], [g], [g'], [k], [k'], [j], [sh], [m], [m'], [sch], [n], [n'], [ch], [ l ], [ l' ], [ts], [r], [r'], [h], [h'], [y]. 
<br />
<span style="line-height: 20px;" >
<span class="open_popup_link" onClick="open_comment('comments_audio/comment_consonants.html')">Click here to open a popup to listen to these sounds</span>
</span>
</p>

<p>
There may be some differences in pronunciation of these sounds in different regions of Russia, but, for practical purposes, we will not devote much attention to this fact and use only the above signs in transcriptions on our site. 
</p>
<p>
An important peculiarity of Russian phonetic system is its distinction based on palatalization of most of the consonants. Palatalization, also referred to as softness, means that the center of the tongue is raised during and after the articulation of the consonant. This position of the tongue is similar to the articulation of the vowel [i]. For this reason, the pronunciation of palatalized consonants may be achieved by training to pronounce the corresponding consonant together with vowel [i]. Most consonants in Russian language (but not all) come in pairs of plain vs. palatalized consonants. They are also called <em>hard</em> (for plain) and <em>soft</em> (for palatalized) consonants.
</p>
<p>
In transcription softness is usually shown by the character [']. On our site, we use this sign by default to indicate the softness in sections <strong>Russian Pronunciation</strong> and <strong>Reading in Russian</strong>. In other sections we do not show the softness by default since it may be confusing for the users who did not read this article. If you wish, you can always choose the option to make the softeness signs visible (see the page "Settings: softness of consonant sounds". It should be mentioned that consonants are always soft before the sound [i], that is why we do not show the sign ['] before this sound. Note that if you familiarize yourself with rules of reading you will easily determine occurrences of soft consonants even without transcription.
</p>
<p>
In Russian, there are 15 pairs of hard vs. soft consonans: [p - p', b - b', m - m', f - f', v - v', t - t', d - d', s - s', z - z', l - l', n - n', r - r', k - k', g - g', h - h']. Other consonants do not have pairs, these are hard consonants [j, sh, ts] and soft consonants [sch, ch, y]. 
<br />
<span style="line-height: 20px;" >
<span class="open_popup_link" onClick="open_comment('comments_audio/comment_hard_soft.html')">Click here to open a popup to listen to these sounds</span>
</span>
</p>
<p>
Another important feature of Russian phonetic system is the opposition of voiced consonants vs. unvoiced consonants. Voiced consonants are pronounced with vibration of vocal cords, while unvoiced consonants are pronounced with little or no vibration of vocal cords. There are 11 pairs of voiced vs. unvoiced consonants: [b - p, b' - p', v - f, v' - f', z - s, z’ - s', d - t, d' - t', j - sh, g - k, g' - k']. Other consonants do not have pairs, these are voiced consonants [m, m', n, n', l, l', r, r', y] and unvoiced consonants [ts, ch, h, sch].
<br />
<span style="line-height: 20px;" >
<span class="open_popup_link" onClick="open_comment('comments_audio/comment_voiced_unvoiced.html')">Click here to open a popup to listen to these sounds</span>
</span>
</p>

<p>
One more thing that should be mentioned is that Russian consonants are pronounced with less tension than in English. If you want to have a good Russian pronunciation, you should pay a special attention to this fact.
</p>
<br><br>
<p>Go to the next part of this section:  <a href="phonetics-course.html">Introductory phonetics course for Russian</a></p>



</div></div>


<script type="text/javascript">

preloadFiles=new Array("sounds/sound201.mp3", "sounds/sound202.mp3", "sounds/sound203.mp3", "sounds/sound204.mp3", "sounds/sound205.mp3", "sounds/sound206.mp3", "sounds/sound207.mp3", "sounds/sound208.mp3", "sounds/sound209.mp3", "sounds/sound210.mp3", "sounds/sound211.mp3", "sounds/sound212.mp3", "sounds/sound213.mp3", "sounds/sound214.mp3", "sounds/sound215.mp3", "sounds/sound216.mp3", "sounds/sound217.mp3", "sounds/sound218.mp3", "sounds/sound219.mp3", "sounds/sound220.mp3", "sounds/sound221.mp3", "sounds/sound222.mp3", "sounds/sound223.mp3", "sounds/sound224.mp3", "sounds/sound225.mp3", "sounds/sound226.mp3", "sounds/sound227.mp3", "sounds/sound228.mp3", "sounds/sound229.mp3", "sounds/sound230.mp3", "sounds/sound231.mp3", "sounds/sound232.mp3", "sounds/sound233.mp3", "sounds/sound234.mp3", "sounds/sound235.mp3", "sounds/sound236.mp3", "sounds/sound237.mp3", "sounds/sound238.mp3", "sounds/sound239.mp3", "sounds/sound240.mp3", "sounds/sound241.mp3", "sounds/sound242.mp3")

</script>

<script type="text/javascript">
currentSection="phonetic";
</script>
