<% @page_title = 'Online Russian Vocabulary: Sportswear' %>
<% @page_meta = {'description' => "Russian online vocabulary for learning words and phrases related to the topic Sportswear"} %>
<% @with_rec = true %>
<% @has_audio = true %>
<% content_for :special_js_css do %>
<style type="text/css">
h2.page {margin-bottom: 0px;}
</style>
<% end %>
<div class="hint_wrap">
<div class="hint_button">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <li><a href="sportwear-flashcards.html"> Flashcards: Sportswear</a></li>
            <li><a href="sportwear-test.html"> Tests: Sportswear</a></li>
        </ul>
        <%= render :partial => 'colorder_accent' %> 
  </div>
</div>
</div>



<h2 class="page">Sportswear</h2>
<h3 class="page-path"> 
<span class="int-links"><a href="/vocabulary.html">Vocabulary</a> <span class="int-arrow">--></span> Sportswear</span>
</h3>

<div id="pagecontent"><div id="content">

<div class="dict_wrapper">

<div class="voc-wordlist">
<table class="voc_bord" align="center" cellspacing="0">
<tr>
<td>

<table class="diction" cellpadding="0" cellspacing="0" align="center">
<thead>
<tr>
	<td></td>
	<td></td>
	<td></td>
</tr>
</thead>
<tbody>
	<tr class="trow">
		<td class="original" valign="top">Од<span class="acco">е</span>жда для сп<span class="acco">о</span>рта
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09301.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[a<span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span>jda d<span class="sftv">l</span><span class="sfty">y</span>a sp<span class="acct">o</span>rta]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Sportswear
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Спорт<span class="acco">и</span>вный кост<span class="acco">ю</span>м
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09302.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[spart<span class="acct">i</span>vn<span class="ry">i</span>y kas<span class="sftv">t</span><span class="sfty">y</span><span class="acct">oo</span>m]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Gym Suit
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Л<span class="acco">ы</span>жный кост<span class="acco">ю</span>м
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09303.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[l<span class="acct"><span class="ry">i</span></span>jn<span class="ry">i</span>y ka<span class="sftc">s</span><span class="sftv">t</span><span class="sfty">y</span><span class="acct">oo</span>m]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Ski outfit
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Спорт<span class="acco">и</span>вные бр<span class="acco">ю</span>ки
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09304.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[spart<span class="acct">i</span>vn<span class="ry">i</span>ye b<span class="sftv">r</span><span class="sfty">y</span><span class="acct">oo</span>ki]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Jogging trousers
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Спортивные шорты
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09305.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[spart<span class="acct">i</span>vn<span class="ry">i</span>ye sh<span class="acct">o</span>rt<span class="ry">i</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Trunks
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Толст<span class="acco">о</span>вка
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09306.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[talst<span class="acct">o</span>fka]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Jumper
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Футб<span class="acco">о</span>лка
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09307.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[foodb<span class="acct">o</span>lka]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">T-shirt
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Куп<span class="acco">а</span>льные кост<span class="acco">ю</span>мы
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09308.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[koop<span class="acct">a</span><span class="sftc">l</span>n<span class="ry">i</span>ye ka<span class="sftc">s</span><span class="sftv">t</span><span class="sfty">y</span><span class="acct">oo</span>m<span class="ry">i</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Swimwear
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Бик<span class="acco">и</span>ни
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09309.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[bik<span class="acct">i</span>ni]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Bikini
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Куп<span class="acco">а</span>льник
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09310.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[koop<span class="acct">a</span><span class="sftc">l</span>nik]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Swimsuit
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Куп<span class="acco">а</span>льные ш<span class="acco">о</span>рты
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09311.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[koop<span class="acct">a</span><span class="sftc">l</span>n<span class="ry">i</span>ye sh<span class="acct">o</span>rt<span class="ry">i</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Bathing trunks
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Пл<span class="acco">а</span>вки
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09312.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[pl<span class="acct">a</span>fki]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Swimming trunks
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Куп<span class="acco">а</span>льная ш<span class="acco">а</span>почка
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound09313.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[koop<span class="acct">a</span><span class="sftc">l</span>naya&nbsp;sh<span class="acct">a</span>pachka]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Bathing cap
		</td>
	</tr>
</tbody>
<tfoot>
<tr>
	<td></td>
	<td></td>
	<td></td>
</tr>
</tfoot>  
</table>

</td>
</tr>
</table>
</div><!-- end of voc-wordlist-->

</div>

<table class="voc-links voc-link-first " align="center" cellspacing="0"><tr>
	<td class="voc-space">Learn these words and expressions with our &nbsp;<a href="sportwear-flashcards.html">Flashcards >></a></td>
</tr></table>
<table class="voc-links voc-link-last" align="center" cellspacing="0"><tr>
	<td class="voc-space">Check how you know this topic with our &nbsp;<a href="sportwear-test.html">Lexical tests >></a></td>
</tr></table>

</div>
</div>

<script type="text/javascript">
currentSection="words";
</script>
