<% @page_title = 'Online Russian Flashcards: Sportswear' %>
<% @page_meta = {'description' => "Learn Russian vocabulary topic Sportswear with online flashcards: words with audio samples, quizzes and spell practice"} %>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_js_css do %>
<style type="text/css">
h2.page {
margin-bottom: 0px;
font-size: 19pt;
}
</style>

<%end%>
<div class="hint_wrap">
<div class="hint_button" style="float: right;">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <li><a href="/sportwear.html">Sportswear</a></li>
			<li><a href="/sportwear-test.html">Tests: Sportswear</a></li>
        </ul>
        <%= render :partial => 'down_accent' %>
  </div>
</div>
</div>

<h2 class="page">Flashcards: Sportswear</h2>
<h3 class="page-path">
	<span class="int-links">
	<a href="/vocabulary.html">Vocabulary</a>
	<span class="int-arrow">--&gt;</span> 
	<a href="/sportwear.html">Sportswear</a>
	<span class="int-arrow">--&gt;</span> Flashcards
	</span>
</h3>

<div  id="fl1" style="min-height: 600px; text-align: center;">
<%= render :partial => 'flashcard' %>
</div><!-- end of fl1 -->

<script type="text/javascript"> 
	var fl1 = new flashcard( {
		id: "fl1", 
		random_order: false,
		basic_array: [
		
['Од<span class="acco">е</span>жда для сп<span class="acco">о</span>рта ','Sportswear ','/sounds/sound09301.mp3','a<span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span>jda d<span class="sftv">l</span><span class="sfty">y</span>a sp<span class="acct">o</span>rta '],
['Спорт<span class="acco">и</span>вный кост<span class="acco">ю</span>м ','Gym Suit ','/sounds/sound09302.mp3','spart<span class="acct">i</span>vn<span class="ry">i</span>y kas<span class="sftv">t</span><span class="sfty">y</span><span class="acct">oo</span>m '],
['Л<span class="acco">ы</span>жный кост<span class="acco">ю</span>м ','Ski outfit ','/sounds/sound09303.mp3','l<span class="acct"><span class="ry">i</span></span>jn<span class="ry">i</span>y ka<span class="sftc">s</span><span class="sftv">t</span><span class="sfty">y</span><span class="acct">oo</span>m '],
['Спорт<span class="acco">и</span>вные бр<span class="acco">ю</span>ки ','Jogging trousers ','/sounds/sound09304.mp3','spart<span class="acct">i</span>vn<span class="ry">i</span>ye b<span class="sftv">r</span><span class="sfty">y</span><span class="acct">oo</span>ki '],
['Спортивные шорты ','Trunks ','/sounds/sound09305.mp3','spart<span class="acct">i</span>vn<span class="ry">i</span>ye sh<span class="acct">o</span>rt<span class="ry">i</span> '],
['Толст<span class="acco">о</span>вка ','Jumper ','/sounds/sound09306.mp3','talst<span class="acct">o</span>fka '],
['Футб<span class="acco">о</span>лка ','T-shirt ','/sounds/sound09307.mp3','foodb<span class="acct">o</span>lka '],
['Куп<span class="acco">а</span>льные кост<span class="acco">ю</span>мы ','Swimwear ','/sounds/sound09308.mp3','koop<span class="acct">a</span><span class="sftc">l</span>n<span class="ry">i</span>ye ka<span class="sftc">s</span><span class="sftv">t</span><span class="sfty">y</span><span class="acct">oo</span>m<span class="ry">i</span> '],
['Бик<span class="acco">и</span>ни ','Bikini ','/sounds/sound09309.mp3','bik<span class="acct">i</span>ni '],
['Куп<span class="acco">а</span>льник ','Swimsuit ','/sounds/sound09310.mp3','koop<span class="acct">a</span><span class="sftc">l</span>nik '],
['Куп<span class="acco">а</span>льные ш<span class="acco">о</span>рты ','Bathing trunks ','/sounds/sound09311.mp3','koop<span class="acct">a</span><span class="sftc">l</span>n<span class="ry">i</span>ye sh<span class="acct">o</span>rt<span class="ry">i</span> '],
['Пл<span class="acco">а</span>вки ','Swimming trunks ','/sounds/sound09312.mp3','pl<span class="acct">a</span>fki '],
['Куп<span class="acco">а</span>льная ш<span class="acco">а</span>почка ','Bathing cap ','/sounds/sound09313.mp3','koop<span class="acct">a</span><span class="sftc">l</span>naya&nbsp;sh<span class="acct">a</span>pachka ']
		]
		} )
</script>


<table class="voc-links voc-link-first voc-link-last" align="center" cellspacing="0"><tr>
	<td class="voc-space">Check how you know this topic with our &nbsp;<a href="/sportwear-test.html">Lexical tests >></a></td>
</tr></table>


<script type="text/javascript">
preloadFiles=new Array(
'/sounds/sound09301.mp3', '/sounds/sound09302.mp3', '/sounds/sound09303.mp3', '/sounds/sound09304.mp3', 
'/sounds/sound09305.mp3', '/sounds/sound09306.mp3', '/sounds/sound09307.mp3', '/sounds/sound09308.mp3', 
'/sounds/sound09309.mp3', '/sounds/sound09310.mp3', '/sounds/sound09311.mp3', '/sounds/sound09312.mp3', 
'/sounds/sound09313.mp3'
)
</script>
