<% @page_title = 'Tests: Sportswear' %>
<% @page_meta = {'description' => ""} %>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_css do %>

.quest  {
width: 210px;
}

.variants  {
width: 220px;
}

#t2 .quest {
width: 220px;
}


<% end %>

<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Recommended links</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
     				<li><a href="sportwear.html">Sportswear</a></li>
     				<li><a href="sportwear-exercise.html"> Exercises: Sportswear</a></li>

    		</ul>
	</div>
</div>
</div>



<h2 class="page">Sportswear (tests)</h2>

<p class="task">Before completing the following tests, please revise the topic <a title="Sportswear" href="sportwear.html">Sportswear</a></p>
<hr/>
<br/>
<h3>Test 1</h3>
<p class="task">Listen to the phrase and сhoose the corresponding Russian expression.</p>

<div id="t1">
<script type="text/javascript">
var t1 = new Test({dict: [

['sounds/sound09301.mp3','одежда для спорта'],['sounds/sound09302.mp3','спортивный костюм'],['sounds/sound09303.mp3','спортивные брюки'],['sounds/sound09304.mp3','телятина'],
['sounds/sound09305.mp3','спортивные шорты'],['sounds/sound09306.mp3','толстовка'],['sounds/sound09307.mp3','футболка'],['sounds/sound09308.mp3','купальные костюмы'],
['sounds/sound09309.mp3','бикини'],['sounds/sound09310.mp3','купальник'],['sounds/sound09311.mp3','купальные шорты'],['sounds/sound09312.mp3','плавки'],
['sounds/sound09313.mp3','купальная шапочка']

],hide: 'di1',id:'t1', type: 'audio', how_questions: 8, how_show: 2}, 'v0222010.1');
</script>
</div>

<h3>Test 2</h3>
<p class="task">Read the Russian phrase and choose the corresponding English expression.</p>

<div id="t2">
<script type="text/javascript">
var t2 = new Test({dict: [

['одежда для спорта','sportswear'],['спортивный костюм','gym suit'],['лыжный костюм','ski outfit'],['спортивные брюки','jogging trousers'],
['спортивные шорты','trunks'],['толстовка','jumper'],['футболка','T-shirt'],['купальные костюмы','swimwear'],
['бикини','bikini'],['купальник','swimsuit'],['купальные шорты','bathing trunks'],['плавки','swimming trunks'],
['купальная шапочка','bathing cap']

], hide:'di2',id:'t2',type: 'text', how_questions: 8, how_show: 2}, 'v0222020.2');
</script>
</div>

<h3>Test 3</h3>
<p class="task">Listen to the Russian phrases and сhoose their translation into English.</p>

<div id="t3">
<script type="text/javascript">
var t3 = new Test({dict: [

['sounds/sound09301.mp3','sportswear'],['sounds/sound09302.mp3','gym suit'],['sounds/sound09303.mp3','ski outfit'],['sounds/sound09304.mp3','jogging trousers'],
['sounds/sound09305.mp3','trunks'],['sounds/sound09306.mp3','jumper'],['sounds/sound09307.mp3','T-shirt'],['sounds/sound09308.mp3','swimwear'],
['sounds/sound09309.mp3','bikini'],['sounds/sound09310.mp3','swimsuit'],['sounds/sound09311.mp3','bathing trunks'],['sounds/sound09312.mp3','swimming trunks'],
['sounds/sound09313.mp3','bathing cap']

],hide: 'di3',id:'t3',type: 'audio', how_questions: 8, how_show: 2}, 'v0222030.3');
</script>
</div>

<script type="text/javascript">
currentSection="words";
</script>
