<% @page_title = 'Sportswear :: Online Russian lexical tests' %>
<% @page_meta = {'description' => "Learn Russian vocabulary topic Sportswear with online lexical tests"} %>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_js_css do %>
<style type="text/css">
h2.page {margin-bottom: 0px;font-size: 19pt;}
</style>
<% end %>

<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Links and Settings</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
     				<li><a href="/sportwear.html">Sportswear</a></li>
					<li><a href="/sportwear-flashcards.html"> Flashcards: Sportswear</a></li>
    		</ul>
			<%= render :partial => 'preload_option' %>
	</div>
</div>
</div>

<h2 class="page">Tests:  Sportswear</h2>

<h3 class="page-path">
	<span class="int-links">
	<a href="/vocabulary.html">Vocabulary</a>
	<span class="int-arrow">--&gt;</span> 
	<a href="/sportwear.html">Sportswear</a>
	<span class="int-arrow">--&gt;</span> Tests
	</span>
</h3>

<div class="l-test-container">

<h3 class="test-task">Test 1. Listen to the Russian phrase and find it in the list.
<a href="javascript:;" class="lt-test-closer"><span class="lt-h">Hide test</span><span class="lt-sh">Show test</span></a>
</h3>

<div id="ch1" class="lt-holder">
<div class="lt-spacer">	
<%= render :partial => 'lexical_test' %>
</div>
</div><!-- end of lt-holder -->

<script type="text/javascript"> 
	var ch1 = new ch_exercise( {
		id: "ch1", 
		test_id: "v0222010.1",
		quest_num: 10,
		variants_num: 5,
		quest_type: 'audio',
		basic_array: [
['sounds/sound09301.mp3','одежда для спорта'],['sounds/sound09302.mp3','спортивный костюм'],['sounds/sound09303.mp3','спортивные брюки'],['sounds/sound09304.mp3','спортивные брюки'],
['sounds/sound09305.mp3','спортивные шорты'],['sounds/sound09306.mp3','толстовка'],['sounds/sound09307.mp3','футболка'],['sounds/sound09308.mp3','купальные костюмы'],
['sounds/sound09309.mp3','бикини'],['sounds/sound09310.mp3','купальник'],['sounds/sound09311.mp3','купальные шорты'],['sounds/sound09312.mp3','плавки'],
['sounds/sound09313.mp3','купальная шапочка']
		]
		} )
</script>

<h3 class="test-task">Test 2. Read the Russian phrase and find its English equivalent.
<a href="javascript:;" class="lt-test-closer"><span class="lt-h">Hide test</span><span class="lt-sh">Show test</span></a>
</h3>

<div id="ch2" class="lt-holder">
<div class="lt-spacer">
<%= render :partial => 'lexical_test' %>
</div>
</div><!-- end of lt-holder -->
<script type="text/javascript"> 
	var ch2 = new ch_exercise( {
		id: "ch2", 
		test_id: "v0222020.2",
		quest_num: 10,
		variants_num: 5,
		basic_array: [
['одежда для спорта','sportswear'],['спортивный костюм','gym suit'],['лыжный костюм','ski outfit'],['спортивные брюки','jogging trousers'],
['спортивные шорты','trunks'],['толстовка','jumper'],['футболка','T-shirt'],['купальные костюмы','swimwear'],
['бикини','bikini'],['купальник','swimsuit'],['купальные шорты','bathing trunks'],['плавки','swimming trunks'],
['купальная шапочка','bathing cap']
		]
		} )
</script>

<h3 class="test-task">Test 3. 
Listen to the phrase and find its translation into English.
<a href="javascript:;" class="lt-test-closer"><span class="lt-h">Hide test</span><span class="lt-sh">Show test</span></a>
</h3>

<div id="ch3" class="lt-holder">
<div class="lt-spacer">	
<%= render :partial => 'lexical_test' %>
</div>
</div><!-- end of lt-holder -->

<script type="text/javascript"> 
	var ch3 = new ch_exercise( {
		id: "ch3", 
		test_id: "v0222030.3",
		quest_num: 10,
		variants_num: 5,
		quest_type: 'audio',
		basic_array: [
['sounds/sound09301.mp3','sportswear'],['sounds/sound09302.mp3','gym suit'],['sounds/sound09303.mp3','ski outfit'],['sounds/sound09304.mp3','jogging trousers'],
['sounds/sound09305.mp3','trunks'],['sounds/sound09306.mp3','jumper'],['sounds/sound09307.mp3','T-shirt'],['sounds/sound09308.mp3','swimwear'],
['sounds/sound09309.mp3','bikini'],['sounds/sound09310.mp3','swimsuit'],['sounds/sound09311.mp3','bathing trunks'],['sounds/sound09312.mp3','swimming trunks'],
['sounds/sound09313.mp3','bathing cap']
		]
		} )
</script>

<h3 class="test-task test-task-final" style="text-align: center">Review the topic &nbsp;&nbsp;&nbsp;&nbsp;<a href="/sportwear.html">Sportswear >></a></h3>

<script type="text/javascript">
preloadFiles=new Array(

)
</script>

</div><!-- end of lt-container -->

<script type="text/javascript">
currentSection="words";
</script>