<% @page_title = 'Study Russian Online Recommendations' %>
<% @page_meta = {'description' => "Special recommendations for those who start to study Russian."} %>


<h2 class="page">Study Russian</h2>

<p>
It is normal that English-speaking people who begin to study Russian encounter many difficulties. The Russian language has many peculiarities in phonetics and grammar that make the beginning very hard. However, regular lessons help to overcome the difficulties of the beginning and get familiar with basics of the Russian languages.
</p>
<p>
If you can <strong>study Russian about thirty minutes a day</strong>, you can learn to speak Russian in a few weeks. If you take a long break between your studies, it is always good to review the previous material before starting on a new one. It is necessary to study the material following the recommendations of the authors, without skipping any parts of lessons. 

</p>
<p>
You can study Russian starting with simple words and progressing to more complex phrases. It is very useful to listen and repeat after native Russian-speaking people. You should not worry if you cannot pronounce everything properly the first time around. You can try it again and keep repeating until you are comfortable with the Russian words and phrases.
</p>
<p>
A very important and helpful way to study Russian is to practice this language as much as possible. Today, the Internet provides a good opportunity to realize it. There are many websites where you can watch Russian movies and television, read Russian newspapers and magazines or chat with Russian-speaking people.
</p>
