<% @page_title = 'Russian language online: Exercises  for the topic Subway' %>
<% @page_meta = {'description' => "Online exercises for learning Russian words and phrases related to the topic Subway"} %>
<% @with_rec = true %>
<% @has_audio = true %>

<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Recommended links</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
     				<li><a href="subway.html">Subway</a></li>
     				<li><a href="subway-test.html">Tests: Subway</a></li>
    		</ul>
	</div>
</div>
</div>



<h2 class="page">Subway (exercises)</h2>

<p class="task">Before doing the following exercises, please revise the topic <a title="Subway" href="subway.html">Subway</a></p>

<hr/>

<h3>Exercise 1</h3>

<%= render :partial => 'tt_exercise' %>


<hr/>


<h3>Exercise 2</h3>


<div class="start_btn">
<input type="button" value="START" onclick="startYN()" />
</div>
<div id="yn_box">

	<div id="yn_place">


		<div id="trans_wrapper">
			<div id="yn_trans" style="background-color: transparent; border-width: 0px;">
				<div>&nbsp;
				</div>
			</div>
		</div>

		<div id="yn_sound">
			<div class="play">
			
			</div>
		</div>
		
		<div>Is this a correct translation? </div>
		<br/>
		<div id="yn_btns">
		<input id="yes_btn" type="button" value="YES" /> <input id="no_btn" type="button" value="NO" />
		</div>
		<div id="show_check"></div>
		<br>
		<div id="yn_info"></div>
	</div>
<script type="text/javascript">





</script>
</div>


<hr/>


<h3>Exercise 3</h3>


<div class="start_btn">
<input type="button" value="START" onclick="startCO()" />
</div>
<div id="co_box">
<div id="co_copy"></div>
	<div id="co_place">
		<div class="co_task_wrapper">
			<div id="co_task"><div>&nbsp;</div></div>
		</div>
		
		<div class="co_choose">Choose translation from the options below: </div>

		<div class="co_options_container">
		<div class="co_options_wrapper">
			<div id="co_option0" class="co_options"><div>&nbsp;</div></div>
			<div id="co_option1" class="co_options"><div>&nbsp;</div></div>
			<div id="co_option2" class="co_options"><div>&nbsp;</div></div>
			<div style="clear: both;"></div>
		</div>
		</div>

		<div style="text-align: center; padding-top: 30px;">
		<div id="co_correctness"><div>&nbsp;</div></div>
		</div>
		
		<div class="co_counter"> </div>

	</div>

</div>









<script type="text/javascript">

////////////////// array for test together 

var ttMassive=new Array(

['метро','subway'],['вход','entrance'],['выход','exit'],['линия метро','subway line'],
['остановка','stop'],['станция','station'],['пересадка','change'],['план города','city plan'],
['схема метро','subway lines plan'],['штраф','penalty'],['эскалатор','escalator '],['конечная станция','terminal station']

);

/////////////////////// array for yes/no

var massive=new Array(

['sounds/sound02201.mp3','subway'],['sounds/sound02202.mp3','entrance'],['sounds/sound02203.mp3','exit'],['sounds/sound02204.mp3','subway line'],
['sounds/sound02205.mp3','stop'],['sounds/sound02206.mp3','station'],['sounds/sound02207.mp3','change'],['sounds/sound02208.mp3','city plan'],
['sounds/sound02209.mp3','subway lines plan'],['sounds/sound02210.mp3','penalty'],['sounds/sound02211.mp3','escalator '],['sounds/sound02212.mp3','terminal station']


);

ynQuestNum=10;

////////////////////// array for choose option
var co_massive=new Array(

['метро','subway'],['вход','entrance'],['выход','exit'],['линия метро','subway line'],
['остановка','stop'],['станция','station'],['пересадка','change'],['план города','city plan'],
['схема метро','subway lines plan'],['штраф','penalty'],['эскалатор','escalator '],['конечная станция','terminal station']

);

coQuestNum=10;

</script>

<hr/>

<p class="after-exercise">If you want to check how you know these words, go to <a title="Subway tests" href="subway-test.html"> Tests: Subway</a></p>



<script type="text/javascript">
currentSection="words";
</script>
