<% @page_title = 'Online Russian Vocabulary: Subway' %>
<% @page_meta = {'description' => "Russian online vocabulary for learning words and phrases related to the topic Subway"} %>
<% @with_rec = true %>
<% @has_audio = true %>
<% content_for :special_js_css do %>
<style type="text/css">
h2.page {margin-bottom: 0px;}
</style>
<% end %>
<div class="hint_wrap">
<div class="hint_button">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <li><a href="subway-flashcards.html"> Flashcards: Subway</a></li>
            <li><a href="subway-test.html"> Tests: Subway</a></li>
        </ul>
        <%= render :partial => 'colorder_accent' %> 
  </div>
</div>
</div>



<h2 class="page">Subway</h2>
<h3 class="page-path"> 
<span class="int-links"><a href="/vocabulary.html">Vocabulary</a> <span class="int-arrow">--></span> Subway</span>
</h3>

<div id="pagecontent"><div id="content">

<div class="dict_wrapper">

<div class="voc-wordlist">
<table class="voc_bord" align="center" cellspacing="0">
<tr>
<td>

<table class="diction" cellpadding="0" cellspacing="0" align="center">
<thead>
<tr>
	<td></td>
	<td></td>
	<td></td>
</tr>
</thead>
<tbody>
	<tr class="trow">
		<td class="original" valign="top">Метр<span class="acco">о</span>
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound02201.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[mitr<span class="acct">o</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Subway
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Вход
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound02202.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[fh<span class="acct">o</span>t]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Entrance
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">В<span class="acco">ы</span>ход
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound02203.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[v<span class="acct"><span class="ry">i</span></span>hat]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Exit
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Л<span class="acco">и</span>ния метр<span class="acco">о</span>
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound02204.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[l<span class="acct">i</span>niya mitr<span class="acct">o</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Subway line
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Остан<span class="acco">о</span>вка
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound02205.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[astan<span class="acct">o</span>fka]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Stop
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Ст<span class="acco">а</span>нция
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound02206.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[st<span class="acct">a</span>nts<span class="ry">i</span>ya]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Station
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Перес<span class="acco">а</span>дка
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound02207.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[piris<span class="acct">a</span>tka]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Change
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">План г<span class="acco">о</span>рода
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound02208.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[pl<span class="acct">a</span>n g<span class="acct">o</span>rada]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">City plan
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Сх<span class="acco">е</span>ма метр<span class="acco">о</span>
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound02209.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[s<span class="sftv">h</span><span class="sfty">y</span><span class="acct">e</span>ma mitr<span class="acct">o</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Subway lines plan
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Штраф
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound02210.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[shtr<span class="acct">a</span>f]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Fine, penalty
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Эскал<span class="acco">а</span>тор
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound02211.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[iskal<span class="acct">a</span>tar]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Escalator
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Кон<span class="acco">е</span>чная ст<span class="acco">а</span>нция
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound02212.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[ka<span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span>chnaya st<span class="acct">a</span>nts<span class="ry">i</span>ya]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Terminal station
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">&nbsp;
		</td>
		<td class="transcript" valign="top">&nbsp;
		</td>
		<td class="translation" valign="top">&nbsp;
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Ск<span class="acco">о</span>лько ст<span class="acco">о</span><i></i>ит проезд?
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound02213.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[sk<span class="acct">o</span><span class="sftc">l</span>ka st<span class="acct">o</span>it pray<span class="acct">e</span>st?]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">How much is the fare?
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Как<span class="acco">а</span><i></i>я сл<span class="acco">е</span>дующая ст<span class="acco">а</span>нция?
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound02214.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[kak<span class="acct">a</span>ya s<span class="sftv">l</span><span class="sfty">y</span><span class="acct">e</span>dooschaya st<span class="acct">a</span>nts<span class="ry">i</span>ya?]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">What is the next station?
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">По как<span class="acco">о</span>й л<span class="acco">и</span>нии мне н<span class="acco">у</span>жно <span class="acco">е</span>хать?
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound02215.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[pa kak<span class="acct">o</span>y l<span class="acct">i</span>nii m<span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span> n<span class="acct">oo</span>jna y<span class="acct">e</span>ha<span class="sftc">t</span>?]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Which line should I take?
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Где мне н<span class="acco">у</span>жно сд<span class="acco">е</span>лать перес<span class="acco">а</span>дку?
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound02216.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[g<span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span> m<span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span> n<span class="acct">oo</span>jna <span class="sftc">z</span><span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span>la<span class="sftc">t</span> piris<span class="acct">a</span>tkoo?]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Where should I change?
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Где нах<span class="acco">о</span>дится к<span class="acco">а</span>сса?
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound02217.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[g<span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span> nah<span class="acct">o</span>ditsa k<span class="acct">a</span>ssa?]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Where is the ticket office?
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Где м<span class="acco">о</span>жно куп<span class="acco">и</span>ть бил<span class="acco">е</span>ты?
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound02218.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[g<span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span> m<span class="acct">o</span>jna koop<span class="acct">i</span><span class="sftc">t</span> bi<span class="sftv">l</span><span class="sfty">y</span><span class="acct">e</span>t<span class="ry">i</span>?]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Where can I buy tickets?
		</td>
	</tr>
</tbody>
<tfoot>
<tr>
	<td></td>
	<td></td>
	<td></td>
</tr>
</tfoot>  
</table>

</td>
</tr>
</table>
</div><!-- end of voc-wordlist-->

</div>

<table class="voc-links voc-link-first " align="center" cellspacing="0"><tr>
	<td class="voc-space">Learn these words and expressions with our &nbsp;<a href="subway-flashcards.html">Flashcards >></a></td>
</tr></table>
<table class="voc-links voc-link-last" align="center" cellspacing="0"><tr>
	<td class="voc-space">Check how you know this topic with our &nbsp;<a href="subway-test.html">Lexical tests >></a></td>
</tr></table>

</div>
</div>

<script type="text/javascript">
currentSection="words";
</script>
