<% @page_title = 'Tests: Subway' %>
<% @page_meta = {'description' => ""} %>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_css do %>

.quest  {
width: 210px;
}

.variants  {
width: 220px;
}

#t2 .quest {
width: 220px;
}

<% end %>

<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Recommended links</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
     				<li><a href="subway.html">Subway</a></li>
     				<li><a href="subway-exercise.html"> Exercises: Subway</a></li>

    		</ul>
	</div>
</div>
</div>



<h2 class="page">Subway (tests)</h2>

<p class="task">Before completing the following tests, please revise the topic <a title="Subway" href="subway.html">Subway</a></p>
<hr/>
<br/>

<h3>Test 1</h3>
<p class="task">Listen to the phrase and сhoose the corresponding Russian expression.</p>

<div id="t1">
<script type="text/javascript">
var t1 = new Test({dict: [['sounds/sound02201.mp3','метро'],['sounds/sound02202.mp3','вход'],['sounds/sound02203.mp3','выход'],['sounds/sound02204.mp3','линия метро'],
['sounds/sound02205.mp3','остановка'],['sounds/sound02206.mp3','станция'],['sounds/sound02207.mp3','пересадка'],['sounds/sound02208.mp3','план города'],
['sounds/sound02209.mp3','схема метро'],['sounds/sound02210.mp3','штраф'],['sounds/sound02211.mp3','эскалатор'],['sounds/sound02212.mp3','конечная станция']],hide: 'di1',id:'t1', type: 'audio', how_questions: 8, how_show: 2});
</script>
</div>

<h3>Test 2</h3>
<p class="task">Read the Russian phrase and choose the corresponding English expression.</p>

<div id="t2">
<script type="text/javascript">
var t2 = new Test({dict: [
['метро','subway'],['вход','entrance'],['выход','exit'],['линия метро','subway line'],
['остановка','stop'],['станция','station'],['пересадка','change'],['план города','city plan'],
['схема метро','subway lines plan'],['штраф','penalty'],['эскалатор','escalator '],['конечная станция','terminal station']

], hide:'di1',id:'t2',type: 'text', how_questions: 8, how_show: 2});
</script>
</div>

<h3>Test 3</h3>
<p class="task">Listen to the Russian phrases and сhoose their translation into English.</p>

<div id="t3">
<script type="text/javascript">
var t3 = new Test({dict: [

['sounds/sound02201.mp3','subway'],['sounds/sound02202.mp3','entrance'],['sounds/sound02203.mp3','exit'],['sounds/sound02204.mp3','subway line'],
['sounds/sound02205.mp3','stop'],['sounds/sound02206.mp3','station'],['sounds/sound02207.mp3','change'],['sounds/sound02208.mp3','city plan'],
['sounds/sound02209.mp3','subway lines plan'],['sounds/sound02210.mp3','penalty'],['sounds/sound02211.mp3','escalator '],['sounds/sound02212.mp3','terminal station']

],hide: 'di1',id:'t3',type: 'audio', how_questions: 8, how_show: 2});
</script>
</div>

<script type="text/javascript">
currentSection="words";
</script>
