<% @page_title = 'Study-Languages-Online.com: Brief summary' %>
<% @page_meta = {'description' => "Brief summary of the Study-Languages-Online.com website"} %>

<% content_for :special_css do %>
#contentcell h3 a:link {text-decoration: none;}
#contentcell h3 a:visited {text-decoration: none;}
#contentcell h3 a:hover {text-decoration: underline;}
#contentcell h3 a:active {text-decoration: underline;}
#contentcell h3 {font-size: 21px;font-weight: normal; margin: 30px 0px 15px 0px;}
#contentcell p {margin-top: 10px;}
#contentcell h3 .amp_in {font-size: 19px; font-style: italic;}
<% end %>

<h2 class="page">Brief summary of the site</h2>
<p>
The main sections of our site are "<strong>Online Course of Russian</strong>" and "<strong>Vocabulary Topics</strong>". You can study these sections separately from each other or simultaneously. Of course, you will achieve better results in the Russian language if you study these sections concurrently and consecutively.
</p>
<h3><a href="course.html" title="Online Course of Russian">Online Russian Courses</a></h3>
<p>
Every lesson is devoted to a definite topic. The topics of the online courses cover typical situations which a tourist may get into.
During the lesson you will learn the most frequently used Russian words and expressions related to the topic of the lesson, you will find different exercises and tests. In addition, there is a list of recommended lexical topics for every lesson which contributes to considerably enrich the vocabulary of the student. Before you start the online course of Russian, it would be worthwhile to read the <a href="recommendations.html" title="Recommendations for beginners">Recommendations</a> page.
</p>
<h3><a href="vocabulary.html" title="Vocabulary sorted by topics">Vocabulary Topics</a></h3>
<p>
Every topic contains useful Russian words and expressions with their translation, transcription and pronunciation. You will also find test and games that will help you to get familiar with topics.
</p>
<h3><a href="pronunciation.html" title="Russian Pronunciation">Russian Phonetics</a> <span class="amp_in">&amp;</span> <a href="russian-reading.html" title="Reading in Russian">Reading in Russian</a></h3>
<p>
Our site includes materials to study the phonetics and writing form of the Russian language. Here you can familiarize yourself with Russian sounds and their transcription, to study the Russian alphabet and rules of reading. There are special online lessons and exercises on the site which let you train your pronunciation and reading.
</p>
