<% @page_title = 'Online Russian Vocabulary: Taxi' %>
<% @page_meta = {'description' => "Russian online vocabulary for learning words and phrases related to the topic Taxi"} %>
<p style="font-size: 25px; color: #444">This page is out of date.</p>
<p> To visit the latest version of this page, please, <b><a href="/en/ru/vocabulary/taxi">click here</a></b></p>


<script type="text/javascript">
currentSection="words";
</script>

