<% @page_title = 'Tests: Taxi' %>
<% @page_meta = {'description' => ""} %>
<% @with_rec = true %>
<% @has_audio = true %>

<%= javascript_include_tag 'test-text' %>
<%= javascript_include_tag 'test' %>
<%= stylesheet_link_tag 'test-style.css' %>

<style type="text/css">
.quest  {
width: 210px;
}
.variants  {
width: 220px;
}
#t2 .quest {
width: 220px;
}
</style>

<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Recommended links</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
     				<li><a href="taxi.html">Taxi</a></li>
     				<li><a href="taxi-exercise.html"> Exercises: Taxi</a></li>

    		</ul>
	</div>
</div>
</div>



<h2 class="page">Taxi (tests)</h2>

<p class="task">Before completing the following tests, please revise the topic <a title="Taxi" href="taxi.html">Taxi</a></p>
<hr/>
<br/>
<h3>Test 1</h3>
<p class="task">Listen to the phrase and сhoose the corresponding Russian expression.</p>

<div id="t1">
<script type="text/javascript">
var t1 = new Test({dict: [['sounds/sound02301.mp3','такси'],['sounds/sound02302.mp3','машина'],['sounds/sound02303.mp3','водитель'],['sounds/sound02304.mp3','стоянка такси'],
['sounds/sound02305.mp3','счетчик'],['sounds/sound02306.mp3','багажник'],['sounds/sound02307.mp3','пробка'],['sounds/sound02308.mp3','час пик'],
['sounds/sound02309.mp3','поворот']],hide: 'di1',id:'t1', type: 'audio', how_questions: 8, how_show: 2});
</script>
</div>

<h3>Test 2</h3>
<p class="task">Read the Russian phrase and choose the corresponding English expression.</p>

<div id="t2">
<script type="text/javascript">
var t2 = new Test({dict: [

['такси','taxi'],['машина','car'],['водитель','driver'],['стоянка такси','taxi parking'],
['счетчик','taximeter'],['багажник','boot'],['пробка','traffic jam'],['час пик','rush hour'],
['поворот','turning']

], hide:'di1',id:'t2',type: 'text', how_questions: 8, how_show: 2});
</script>
</div>

<h3>Test 3</h3>
<p class="task">Listen to the Russian phrases and сhoose their translation into English.</p>

<div id="t3">
<script type="text/javascript">
var t3 = new Test({dict: [

['sounds/sound02301.mp3','taxi'],['sounds/sound02302.mp3','car'],['sounds/sound02303.mp3','driver'],['sounds/sound02304.mp3','taxi parking'],
['sounds/sound02305.mp3','taximeter'],['sounds/sound02306.mp3','boot'],['sounds/sound02307.mp3','traffic jam'],['sounds/sound02308.mp3','rush hour'],
['sounds/sound02309.mp3','turning']

],hide: 'di1',id:'t3',type: 'audio', how_questions: 8, how_show: 2});
</script>
</div>

<script type="text/javascript">
currentSection="words";
</script>
