<% @page_title = 'Online Russian Flashcards: Taxi' %>
<% @page_meta = {'description' => "Learn Russian vocabulary topic Taxi with online flashcards: words with audio samples, quizzes and spell practice"} %>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_js_css do %>
<style type="text/css">
h2.page {
margin-bottom: 0px;
font-size: 19pt;
}
</style>

<%end%>
<div class="hint_wrap">
<div class="hint_button" style="float: right;">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <li><a href="/taxi.html">Taxi</a></li>
			<li><a href="/taxi-test.html">Tests: Taxi</a></li>
        </ul>
        <%= render :partial => 'down_accent' %>
  </div>
</div>
</div>

<h2 class="page">Flashcards: Taxi</h2>
<h3 class="page-path">
	<span class="int-links">
	<a href="/vocabulary.html">Vocabulary</a>
	<span class="int-arrow">--&gt;</span> 
	<a href="/taxi.html">Taxi</a>
	<span class="int-arrow">--&gt;</span> Flashcards
	</span>
</h3>

<div  id="fl1" style="min-height: 600px; text-align: center;">
<%= render :partial => 'flashcard' %>
</div><!-- end of fl1 -->

<script type="text/javascript"> 
	var fl1 = new flashcard( {
		id: "fl1", 
		random_order: false,
		basic_array: [
		
['Такс<span class="acco">и</span>  ','Taxi ','/sounds/sound02301.mp3','taks<span class="acct">i</span>  '],
['Маш<span class="acco">и</span>на ','Car ','/sounds/sound02302.mp3','mash<span class="acct"><span class="ry">i</span></span>na '],
['Вод<span class="acco">и</span>тель ','Driver ','/sounds/sound02303.mp3','vad<span class="acct">i</span>ti<span class="sftc">l</span> '],
['Сто<i></i><span class="acco">я</span>нка такс<span class="acco">и</span> ','Taxi parking ','/sounds/sound02304.mp3','stay<span class="acct">a</span>nka taks<span class="acct">i</span> '],
['Счётчик ','Taximeter ','/sounds/sound02305.mp3','sch<span class="acct">o</span>tchik '],
['Баг<span class="acco">а</span>жник ','Boot ','/sounds/sound02306.mp3','bag<span class="acct">a</span>jnik '],
['Пр<span class="acco">о</span>бка ','Traffic jam ','/sounds/sound02307.mp3','pr<span class="acct">o</span>pka '],
['Час пик ','Rush hour ','/sounds/sound02308.mp3','ch<span class="acct">a</span>s p<span class="acct">i</span>k '],
['Повор<span class="acco">о</span>т ','Turning ','/sounds/sound02309.mp3','pavar<span class="acct">o</span>t '],
['Где сто<i></i><span class="acco">я</span>нка такс<span class="acco">и</span>? ','Where is the taxi parking? ','/sounds/sound02310.mp3','g<span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span> stay<span class="acct">a</span>nka taks<span class="acct">i</span>? '],
['Вы своб<span class="acco">о</span>дны? ','Are you free? ','/sounds/sound02311.mp3','v<span class="acct"><span class="ry">i</span></span> svab<span class="acct">o</span>dn<span class="ry">i</span>? '],
['Мне н<span class="acco">у</span>жно на <span class="acco">у</span>лицу ... ','I need to get to street…? ','/sounds/sound02312.mp3','m<span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span> n<span class="acct">oo</span>jna na <span class="acct">oo</span>litsoo&nbsp;... '],
['Мне н<span class="acco">у</span>жно в аэроп<span class="acco">о</span>рт. ','I need to get to the airport. ','/sounds/sound02313.mp3','m<span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span> n<span class="acct">oo</span>jna v airap<span class="acct">o</span>rt '],
['Ск<span class="acco">о</span>лько ст<span class="acco">о</span><i></i>ит до<i></i><span class="acco">е</span>хать до&nbsp;...&nbsp;? ','How much does it cost to get to... ? ','/sounds/sound02314.mp3','sk<span class="acct">o</span><span class="sftc">l</span>ka st<span class="acct">o</span>it day<span class="acct">e</span>ha<span class="sftc">t</span> da&nbsp;...? '],
['Ск<span class="acco">о</span>лько с мен<span class="acco">я</span>? ','How much do I owe you? ','/sounds/sound02315.mp3','sk<span class="acct">o</span><span class="sftc">l</span>ka s mi<span class="sftv">n</span><span class="sfty">y</span><span class="acct">a</span>? ']
		]
		} )
</script>


<table class="voc-links voc-link-first voc-link-last" align="center" cellspacing="0"><tr>
	<td class="voc-space">Check how you know this topic with our &nbsp;<a href="/taxi-test.html">Lexical tests >></a></td>
</tr></table>


<script type="text/javascript">
preloadFiles=new Array(
'/sounds/sound02301.mp3', '/sounds/sound02302.mp3', '/sounds/sound02303.mp3', '/sounds/sound02304.mp3', 
'/sounds/sound02305.mp3', '/sounds/sound02306.mp3', '/sounds/sound02307.mp3', '/sounds/sound02308.mp3', 
'/sounds/sound02309.mp3', '/sounds/sound02310.mp3', '/sounds/sound02311.mp3', '/sounds/sound02312.mp3', 
'/sounds/sound02313.mp3', '/sounds/sound02314.mp3', '/sounds/sound02315.mp3'
)
</script>
