<% @page_title = 'Taxi :: Online Russian lexical tests' %>
<% @page_meta = {'description' => "Learn Russian vocabulary topic Taxi with online lexical tests"} %>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_js_css do %>
<style type="text/css">
h2.page {margin-bottom: 0px;font-size: 19pt;}
</style>
<% end %>

<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Links and Settings</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
     				<li><a href="/taxi.html">Taxi</a></li>
					<li><a href="/taxi-flashcards.html"> Flashcards: Taxi</a></li>
    		</ul>
			<%= render :partial => 'preload_option' %>
	</div>
</div>
</div>

<h2 class="page">Tests:  Taxi</h2>

<h3 class="page-path">
	<span class="int-links">
	<a href="/vocabulary.html">Vocabulary</a>
	<span class="int-arrow">--&gt;</span> 
	<a href="/taxi.html">Taxi</a>
	<span class="int-arrow">--&gt;</span> Tests
	</span>
</h3>

<div class="l-test-container">

<h3 class="test-task">Test 1. Listen to the Russian phrase and find it in the list.
<a href="javascript:;" class="lt-test-closer"><span class="lt-h">Hide test</span><span class="lt-sh">Show test</span></a>
</h3>

<div id="ch1" class="lt-holder">
<div class="lt-spacer">	
<%= render :partial => 'lexical_test' %>
</div>
</div><!-- end of lt-holder -->

<script type="text/javascript"> 
	var ch1 = new ch_exercise( {
		id: "ch1", 
		test_id: "v0206010.1",
		quest_num: 10,
		variants_num: 5,
		quest_type: 'audio',
		basic_array: [
['/sounds/sound02301.mp3','такси'],
['/sounds/sound02302.mp3','машина'],
['/sounds/sound02303.mp3','водитель'],
['/sounds/sound02304.mp3','стоянка такси'],
['/sounds/sound02305.mp3','счетчик'],
['/sounds/sound02306.mp3','багажник'],
['/sounds/sound02307.mp3','пробка'],
['/sounds/sound02308.mp3','час пик'],
['/sounds/sound02309.mp3','поворот']
		]
		} )
</script>

<h3 class="test-task">Test 2. Read the Russian phrase and find its English equivalent.
<a href="javascript:;" class="lt-test-closer"><span class="lt-h">Hide test</span><span class="lt-sh">Show test</span></a>
</h3>

<div id="ch2" class="lt-holder">
<div class="lt-spacer">
<%= render :partial => 'lexical_test' %>
</div>
</div><!-- end of lt-holder -->
<script type="text/javascript"> 
	var ch2 = new ch_exercise( {
		id: "ch2", 
		test_id: "v0206020.2",
		quest_num: 10,
		variants_num: 5,
		basic_array: [
['такси','taxi'],['машина','car'],['водитель','driver'],['стоянка такси','taxi parking'],
['счетчик','taximeter'],['багажник','boot'],['пробка','traffic jam'],['час пик','rush hour'],
['поворот','turning']
		]
		} )
</script>

<h3 class="test-task">Test 3. 
Listen to the phrase and find its translation into English.
<a href="javascript:;" class="lt-test-closer"><span class="lt-h">Hide test</span><span class="lt-sh">Show test</span></a>
</h3>

<div id="ch3" class="lt-holder">
<div class="lt-spacer">	
<%= render :partial => 'lexical_test' %>
</div>
</div><!-- end of lt-holder -->

<script type="text/javascript"> 
	var ch3 = new ch_exercise( {
		id: "ch3", 
		test_id: "v0206030.3",
		quest_num: 10,
		variants_num: 5,
		quest_type: 'audio',
		basic_array: [
		
['/sounds/sound02301.mp3','taxi'],
['/sounds/sound02302.mp3','car'],
['/sounds/sound02303.mp3','driver'],
['/sounds/sound02304.mp3','taxi parking'],
['/sounds/sound02305.mp3','taximeter'],
['/sounds/sound02306.mp3','boot'],
['/sounds/sound02307.mp3','traffic jam'],
['/sounds/sound02308.mp3','rush hour'],
['/sounds/sound02309.mp3','turning']
		]
		} )
</script>

<h3 class="test-task test-task-final" style="text-align: center">Review the topic &nbsp;&nbsp;&nbsp;&nbsp;<a href="/taxi.html">Taxi >></a></h3>

<script type="text/javascript">
preloadFiles=new Array(

)
</script>

</div><!-- end of lt-container -->

<script type="text/javascript">
currentSection="words";
</script>