<% @page_title = 'Study-Languages-Online.com: How to use test' %>
<% @page_meta = {'description' => "Description of tests on Study-Languages-Online.com website"} %>

<h2 class="page">How to use tests</h2>

<p>
There are a lot of different exercises and tests on our website that will help you to learn Russian online. Here we provide the description of the most frequent types of tests. 
</p>
<p>
The first type of tests consists in matching translation for Russian words and phrases. The image below represents an example of how this kind of test may look like: 
</p>
<img src="/images/test-match.gif" alt="Example of the 1st type of tests" style="border: 1px solid #888"/>
<p>
In this test, you can see two lists of words or phrases. The list on the left side includes Russian words or phrases. It may be text phrases, images or buttons which allow to listen to audio samples (just like on the above example). The right list contains English phrases, and you can see text areas near each phrase.
</p>
<p>
You need to put the numbers from the left list in the text area of the corresponding phrase from the right list. In order to check if your answers are correct, press the button "Check" under the test. If the answer is correct, you will see a blue tick 
( <img width="10" height="10" src="/yes.gif"/> )
near the text area, and if the answer is wrong, you will see a red cross 
( <img width="10" height="10" src="/no.gif"/> )
near the text area.
</p>


<p style="padding-top: 40px;">The next type of tests may look like this: </p>

<img src="/images/test-choose.gif" alt="Example of the 2nd type of tests" style="border: 1px solid #888"/>

<p>
In the first column you can see a Russian word or a phrase for which you will need to choose a variant from the second column list. It also may be an audio task in the first column, and, in this case, you will see a <em>play</em> button without text which you need to press so that you could listen to the Russian word or phrase.
</p>
<p>
In order to select the option you think is correct, you need to click the radio button near that word. If the chosen option is correct, you will see "<span style="color: blue; font-weight: bold">Correct</span>" in the third column; if it is not correct, you will see "<span style="color: red; font-weight: bold">Wrong</span>" and the chosen option will be crossed out. Note that only the first attempt is considered in the results as a correct answer. 
</p>
<p>
Under the table, you can see the results you have while performing the test. They will let you know how many right and wrong answers you have, and how many words are remaining. 
</p>
<p>
To get the next word or phrase in the first column you should click the button "Next". Before the end of test, when only one task is remaining, this button will disappear. 
</p>
<p>
You can stop the test and reset all the results any time you want by clicking the button "Stop and Restart". If you press the button "Stop and Restart", the order of tasks and variants to choose will change. Therefore, you can complete the test several times, and each time it will not be the same test that you did before.
</p>
<p>
When you find the last correct answer, you will see the indication "Total results" with the number of right and wrong answers. 
</p>
<p>
In some cases, you will see a text area in the second column instead of a list of variants, and you will need to type an answer in the text area and press the button "Check" to check if your answer is correct or not.
</p>
