<% @page_title = 'Study-Languages-Online.com: Useful Links' %>
<% @page_meta = {'description' => "Web resources to languages online"} %>

<h2 class="page">Useful Resources</h2>


<p>
Below, you can find websites that we recommend you to visit if you are interested in the Russian language:
</p>

<div style="padding: 20px 40px 20px 30px;">

<p style="margin-top: 0px;">
<a href="http://www.russianforeveryone.com/" rel="nofollow" target="_blank">www.russianforeveryone.com</a><br> 
Grammar lessons and exercises for elementary learners of Russian. Includes audio files, summary tables and language games. A very helpful website to learn Russian grammar.
</p>

<p>
<a href="http://www.alphadictionary.com/rusgrammar/index.html" rel="nofollow"  target="_blank">www.alphadictionary.com</a><br>
An On-line Russian Reference Grammar. Sections organized by parts of speech. Includes Javascript exercises.
</p>

<p>
<a href="http://www.russian-plus.com" rel="nofollow"  target="_blank">www.russian-plus.com</a><br> 
Video lessons, grammar, quizzes for beginning and intermediate learners. 
</p>


<p>
<a href="http://www.typingsoft.com/overview.htm" target="_blank">www.typingsoft.com</a><br> 
Here you can find the best free multifunctional touch-typing tutor STAMINA which will help you to get familiar with cyrillic keyboard, or to type in any language
much faster than you do now. 

</p>


<p>
<a href="http://en4.me/" target="_blank">en4.me</a><br> 
This website is mostly in Russian, but here you can find different Russian video with English subtitles.

</p>

<p>
<a href="http://www.playsay.com/english_speaker_learning_russian/playlist_management" rel="nofollow" target="_blank">http://www.playsay.com/</a><br> 
Learn Russian on your cell phone, iPod, computer, or online with PlaySay’s Russian digital vocabulary flashcards.
</p>

</div>

<div><strong>Other links</strong></div>

<p>
<a href="http://www.famfamfam.com/">www.famfamfam.com</a><br>
Several large sets of coordinated icons, available for use free of charge under a Creative Commons Attribution license.
</p>




<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>










