<% @page_title = 'Study-Languages-Online.com: Profile' %>
<% @page_meta = {'description' => "User Profile"} %>


<% content_for :special_js_css do %>
<%= stylesheet_link_tag 'profile' %>
 <%= javascript_include_tag 'profile_results' %>



<style type="text/css">

.inpBlock {
margin-left: 50px;
}

.inpBlock h3 {
}

.item-name {
font-size: 14px;
font-weight: bold;
}

</style>

<% end %>





<div id="prof_tabs">
	<div id="tabs_row">
            <div id="tab01" class="ptab current_ptab"><div><a href="#" style="color: #000;">Profile</a></div></div>
            <div id="tab02" class="ptab"><div><a href="#">Progress</a></div></div>
            <div id="tab03" class="ptab"><div><a href="#">Settings</a></div></div>
	</div>
	<div style="clear: both;"></div>
</div>



<div id="for_tab01" class="pBlock" style="display: block">

	<div class="inpBlock">
	
		<h3>Profile</h3>
		<hr/>
		<p style="font-size: 10px; font-style: italic;">* You can change your profile info in the tab <strong>Settings</strong></p>
		
		<table cellpadding="0" cellspacing="20">
		<tr>
			<td class="item-name" width="200">Email: 
			</td>
			<td><%= current_user.email %>
			</td>
		</tr>
		<tr>
			<td class="item-name">Account created:
			</td>
			<td>00/00/00
			</td>
		</tr>
		</table>
		

	</div>
</div>
<div id="for_tab02" class="pBlock" style="display: none">
	<div class="inpBlock">
		
		<h3>Content: </h3>
		
        <div id="results_container"></div>
		
		
	
	</div>
</div>
<div id="for_tab03" class="pBlock" style="display: none">
	<div class="inpBlock">
	
		<h3>Account Settings: </h3>
		<hr/>
	   
	   <table cellpadding="0" cellspacing="20">
		<tr>
			<td class="item-name" width="200">Change my email: 
			</td>
			<td><input type="button" value="Change" onclick=document.location.href="/user" />
			</td>
		</tr>
		<tr>
			<td class="item-name">Change my password: 
			</td>
			<td><input type="button" value="Change" onclick=document.location.href="/userp" />
			</td>
		</tr>
		<tr>
			<td class="item-name">Delete my results:
			</td>
			<td><input type="button" value="Delete &nbsp;" onclick=$.get('/usercl') />
			</td>
		</tr>
		<tr>
			<td class="item-name">Delete my account: 
			</td>
			<td><input type="button" value="Delete &nbsp;" onclick=document.location.href="/userd" />
			</td>
		</tr>
		</table>


	</div>
</div>


<script type="text/javascript">

/*var userProgress=new Array( 

["v0201030.3",8,5], ["v0203030.3",8,5], ["v0203030.3",8,7],["v0103030.3",8,8],["v0101010.1",8,6],["p010202a.II.a)",8,6],["p010303a.I.a)",8,6],["p010403a.II.a)",8,6], ["p010102a.II.a)",8,6],["p010104b.IV.b)",8,8]

);
*/

<% if logged_in?%>
<%=current_user.get_tests%>
<%end%>

 
</script>









<script type="text/javascript">
currentSection="login";
</script>
