<% @page_title = 'Study-Languages-Online.com: Profile' %>
<% @page_meta = {'description' => "User Profile"} %>


<% content_for :special_js_css do %>

<style type="text/css">

.inpBlock {
margin-left: 50px;
}

.inpBlock h3 {
}

</style>

<% end %>





<div id="prof_tabs">
	<div id="tabs_row">
            <div id="tab01" class="ptab current_ptab"><div><a href="#" style="color: #000;">Profile</a></div></div>
            <div id="tab02" class="ptab"><div><a href="#">Progress</a></div></div>
            <div id="tab03" class="ptab"><div><a href="#">Account</a></div></div>
	</div>
	<div style="clear: both;"></div>
</div>






<div id="for_tab01" class="pBlock" style="display: block">

	<div class="inpBlock">
	
		<h3>Profile</h3>
		<hr/>
	
      

	</div>
</div>
<div id="for_tab02" class="pBlock" style="display: none">
	<div class="inpBlock">
		
		<h3>Content: </h3>
		<hr/>
        
		
		
	
	</div>
</div>
<div id="for_tab03" class="pBlock" style="display: none">
	<div class="inpBlock">
	
		<h3>Content: </h3>
		<hr/>
        

	</div>
</div>






















<script type="text/javascript">
currentSection="login";
</script>
