<% @page_title = 'Online Russian Vocabulary: Vegetables and vegetable dishes' %>
<% @page_meta = {'description' => "Russian online vocabulary for learning words and phrases related to the topic Vegetables and vegetable dishes"} %>
<% @with_rec = true %>
<% @has_audio = true %>
<% content_for :special_js_css do %>
<style type="text/css">
h2.page {margin-bottom: 0px;}
</style>
<% end %>
<div class="hint_wrap">
<div class="hint_button">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <li><a href="vegetables-flashcards.html"> Flashcards: Vegetables</a></li>
            <li><a href="vegetables-test.html"> Tests: Vegetables</a></li>
        </ul>
        <%= render :partial => 'colorder_accent' %> 
  </div>
</div>
</div>



<h2 class="page">Vegetables and vegetable dishes</h2>
<h3 class="page-path"> 
<span class="int-links"><a href="/vocabulary.html">Vocabulary</a> <span class="int-arrow">--></span> Vegetables and vegetable dishes</span>
</h3>

<div id="pagecontent"><div id="content">

<div class="dict_wrapper">

<div class="voc-wordlist">
<table class="voc_bord" align="center" cellspacing="0">
<tr>
<td>

<table class="diction" cellpadding="0" cellspacing="0" align="center">
<thead>
<tr>
	<td></td>
	<td></td>
	<td></td>
</tr>
</thead>
<tbody>
	<tr class="trow">
		<td class="original" valign="top"><span class="acco">О</span>вощи
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08601.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[<span class="acct">o</span>vaschi]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Vegetables
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Боб<span class="acct">ы</span>
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08602.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[bab<span class="acct"><span class="ry">i</span></span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Beans
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Гор<span class="acco">о</span>х
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08603.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[gar<span class="acct">o</span>h]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Peas
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Кап<span class="acco">у</span>ста
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08604.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[kap<span class="acct">oo</span>sta]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Cabbage
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Лук
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08605.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[l<span class="acct">oo</span>k]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Onion
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Морк<span class="acco">о</span>вь
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08606.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[mark<span class="acct">o</span><span class="sftc">f</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Carrots
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Сал<span class="acco">а</span>т
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08607.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[sal<span class="acct">a</span>t]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Lettuce
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Петр<span class="acco">у</span>шка
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08608.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[pitr<span class="acct">oo</span>shka]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Parsley
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Свёкла
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08609.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[s<span class="sftv">v</span><span class="sfty">y</span><span class="acct">o</span>kla]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Beet
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Огур<span class="acco">е</span>ц
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08610.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[agoo<span class="sftv">r</span><span class="sfty">y</span><span class="acct">e</span>ts]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Cucumber
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Помид<span class="acco">о</span>р
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08611.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[pamid<span class="acct">o</span>r]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Tomato
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Ред<span class="acco">и</span>с
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08612.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[rid<span class="acct">i</span>s]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Radish
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">П<span class="acco">е</span>рец
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08613.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[<span class="sftv">p</span><span class="sfty">y</span><span class="acct">e</span>rits]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Pepper
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Карт<span class="acco">о</span>фель
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08614.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[kart<span class="acct">o</span>fi<span class="sftc">l</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Potatoes
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Баклаж<span class="acco">а</span>н
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08615.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[baklaj<span class="acct">a</span>n]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Egg-plant
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">&nbsp;
		</td>
		<td class="transcript" valign="top">&nbsp;
		</td>
		<td class="translation" valign="top">&nbsp;
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Отварн<span class="acco">о</span>й карт<span class="acco">о</span>фель
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08616.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[atvarn<span class="acct">o</span>y kart<span class="acct">o</span>fi<span class="sftc">l</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Boiled potatoes
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Ж<span class="acco">а</span>ренный карт<span class="acco">о</span>фель
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08617.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[j<span class="acct">a</span>rin<span class="ry">i</span>y kart<span class="acct">o</span>fi<span class="sftc">l</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Fried potatoes
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Карт<span class="acco">о</span>фельное пюр<span class="acco">е</span>
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08618.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[kart<span class="acct">o</span>fi<span class="sftc">l</span>naye <span class="sftv">p</span><span class="sfty">y</span>oor<span class="acct">e</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Mashed potatoes
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Фаршир<span class="acco">о</span>ванный п<span class="acco">е</span>рец
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08619.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[farshir<span class="acct">o</span>van<span class="ry">i</span>y <span class="sftv">p</span><span class="sfty">y</span><span class="acct">e</span>rits] 	
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Stuffed pepper
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Свек<span class="acco">о</span>льник
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08620.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[svik<span class="acct">o</span><span class="sftc">l</span>nik]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Beetroot soup
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Щи
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08621.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[sch<span class="acct">i</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Cabbage soup
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Овощн<span class="acco">о</span>й суп
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08622.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[avaschn<span class="acct">o</span>y s<span class="acct">oo</span>p]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Vegetable soup
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Борщ
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('sound08623.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[b<span class="acct">o</span>rsch]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Borsch, red-beet soup
		</td>
	</tr>
</tbody>
<tfoot>
<tr>
	<td></td>
	<td></td>
	<td></td>
</tr>
</tfoot>  
</table>

</td>
</tr>
</table>
</div><!-- end of voc-wordlist-->

</div>

<table class="voc-links voc-link-first " align="center" cellspacing="0"><tr>
	<td class="voc-space">Learn these words and expressions with our &nbsp;<a href="vegetables-flashcards.html">Flashcards >></a></td>
</tr></table>
<table class="voc-links voc-link-last" align="center" cellspacing="0"><tr>
	<td class="voc-space">Check how you know this topic with our &nbsp;<a href="vegetables-test.html">Lexical tests >></a></td>
</tr></table>

</div>
</div>

<script type="text/javascript">
currentSection="words";
</script>
