<% @page_title = 'Online Russian Flashcards: Vegetables' %>
<% @page_meta = {'description' => "Learn Russian vocabulary topic Vegetables with online flashcards: words with audio samples, quizzes and spell practice"} %>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_js_css do %>
<style type="text/css">
h2.page {
margin-bottom: 0px;
font-size: 19pt;
}
</style>

<%end%>
<div class="hint_wrap">
<div class="hint_button" style="float: right;">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <li><a href="/vegetables.html">Vegetables</a></li>
			<li><a href="/vegetables-test.html">Tests: Vegetables</a></li>
        </ul>
        <%= render :partial => 'down_accent' %>
  </div>
</div>
</div>

<h2 class="page">Flashcards: Vegetables</h2>
<h3 class="page-path">
	<span class="int-links">
	<a href="/vocabulary.html">Vocabulary</a>
	<span class="int-arrow">--&gt;</span> 
	<a href="/vegetables.html">Vegetables</a>
	<span class="int-arrow">--&gt;</span> Flashcards
	</span>
</h3>

<div  id="fl1" style="min-height: 600px; text-align: center;">
<%= render :partial => 'flashcard' %>
</div><!-- end of fl1 -->

<script type="text/javascript"> 
	var fl1 = new flashcard( {
		id: "fl1", 
		random_order: false,
		basic_array: [
['<span class="acco">О</span>вощи ','Vegetables ','/sounds/sound08601.mp3','<span class="acct">o</span>vaschi '],
['Боб<span class="acct">ы</span> ','Beans ','/sounds/sound08602.mp3','bab<span class="acct"><span class="ry">i</span></span> '],
['Гор<span class="acco">о</span>х ','Peas ','/sounds/sound08603.mp3','gar<span class="acct">o</span>h '],
['Кап<span class="acco">у</span>ста ','Cabbage ','/sounds/sound08604.mp3','kap<span class="acct">oo</span>sta '],
['Лук ','Onion ','/sounds/sound08605.mp3','l<span class="acct">oo</span>k '],
['Морк<span class="acco">о</span>вь ','Carrots ','/sounds/sound08606.mp3','mark<span class="acct">o</span><span class="sftc">f</span> '],
['Сал<span class="acco">а</span>т ','Lettuce ','/sounds/sound08607.mp3','sal<span class="acct">a</span>t '],
['Петр<span class="acco">у</span>шка ','Parsley ','/sounds/sound08608.mp3','pitr<span class="acct">oo</span>shka '],
['Свёкла ','Beet ','/sounds/sound08609.mp3','s<span class="sftv">v</span><span class="sfty">y</span><span class="acct">o</span>kla '],
['Огур<span class="acco">е</span>ц ','Cucumber ','/sounds/sound08610.mp3','agoo<span class="sftv">r</span><span class="sfty">y</span><span class="acct">e</span>ts '],
['Помид<span class="acco">о</span>р ','Tomato ','/sounds/sound08611.mp3','pamid<span class="acct">o</span>r '],
['Ред<span class="acco">и</span>с ','Radish ','/sounds/sound08612.mp3','rid<span class="acct">i</span>s '],
['П<span class="acco">е</span>рец ','Pepper ','/sounds/sound08613.mp3','<span class="sftv">p</span><span class="sfty">y</span><span class="acct">e</span>rits '],
['Карт<span class="acco">о</span>фель ','Potatoes ','/sounds/sound08614.mp3','kart<span class="acct">o</span>fi<span class="sftc">l</span> '],
['Баклаж<span class="acco">а</span>н ','Egg-plant ','/sounds/sound08615.mp3','baklaj<span class="acct">a</span>n '],
['Отварн<span class="acco">о</span>й карт<span class="acco">о</span>фель ','Boiled potatoes ','/sounds/sound08616.mp3','atvarn<span class="acct">o</span>y kart<span class="acct">o</span>fi<span class="sftc">l</span> '],
['Ж<span class="acco">а</span>ренный карт<span class="acco">о</span>фель ','Fried potatoes ','/sounds/sound08617.mp3','j<span class="acct">a</span>rin<span class="ry">i</span>y kart<span class="acct">o</span>fi<span class="sftc">l</span> '],
['Карт<span class="acco">о</span>фельное пюр<span class="acco">е</span> ','Mashed potatoes ','/sounds/sound08618.mp3','kart<span class="acct">o</span>fi<span class="sftc">l</span>naye <span class="sftv">p</span><span class="sfty">y</span>oor<span class="acct">e</span> '],
['Фаршир<span class="acco">о</span>ванный п<span class="acco">е</span>рец ','Stuffed pepper ','/sounds/sound08619.mp3','farshir<span class="acct">o</span>van<span class="ry">i</span>y <span class="sftv">p</span><span class="sfty">y</span><span class="acct">e</span>rits '],
['Свек<span class="acco">о</span>льник ','Beetroot soup ','/sounds/sound08620.mp3','svik<span class="acct">o</span><span class="sftc">l</span>nik '],
['Щи ','Cabbage soup ','/sounds/sound08621.mp3','sch<span class="acct">i</span> '],
['Овощн<span class="acco">о</span>й суп ','Vegetable soup ','/sounds/sound08622.mp3','avaschn<span class="acct">o</span>y s<span class="acct">oo</span>p '],
['Борщ ','Borsch, red-beet soup ','/sounds/sound08623.mp3','b<span class="acct">o</span>rsch ']
		]
		} )
</script>


<table class="voc-links voc-link-first voc-link-last" align="center" cellspacing="0"><tr>
	<td class="voc-space">Check how you know this topic with our &nbsp;<a href="/vegetables-test.html">Lexical tests >></a></td>
</tr></table>


<script type="text/javascript">
preloadFiles=new Array(
'/sounds/sound08601.mp3', '/sounds/sound08602.mp3', '/sounds/sound08603.mp3', '/sounds/sound08604.mp3', 
'/sounds/sound08605.mp3', '/sounds/sound08606.mp3', '/sounds/sound08607.mp3', '/sounds/sound08608.mp3', 
'/sounds/sound08609.mp3', '/sounds/sound08610.mp3', '/sounds/sound08611.mp3', '/sounds/sound08612.mp3', 
'/sounds/sound08613.mp3', '/sounds/sound08614.mp3', '/sounds/sound08615.mp3', '/sounds/sound08616.mp3', 
'/sounds/sound08617.mp3', '/sounds/sound08618.mp3', '/sounds/sound08619.mp3', '/sounds/sound08620.mp3', 
'/sounds/sound08621.mp3', '/sounds/sound08622.mp3', '/sounds/sound08623.mp3'
)
</script>
