<% @page_title = 'Online Russian Grammar:  Exercises for the past tense of Russian verbs ' %>
<% @page_meta = {'description' => "Russian online grammar exercises on the past tense of Russian verbs"} %>
<% @with_rec = true %>
<% @has_audio = true %>


<% content_for :special_js_css do %>
 <%= stylesheet_link_tag 'grammar-exercises' %>
 <%= javascript_include_tag 'grammar-exercises' %>
 <%= stylesheet_link_tag 'keyboard' %>
 
 <script type="text/javascript"> 
 $(document).ready(function(){
	$(".gext_task input").addClass("for_keyb")
 });
 </script>
 <%= javascript_include_tag 'virtual-keyboard' %>
<% end %> 
 




<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Links and Settings</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
					<li><a href="/russian-past-tense.html">Past Tense</a></li>
					<li><a href="/russian-grammar.html">Russian grammar</a></li>
    		</ul>
	</div>
</div>
</div>



<h2 class="page">Past Tense of Verbs</h2>

<div id="pagecontent"><div id="content">



<h3>Exercise I </h3>

<div class="block" >
				<div class="block-clt">
						<div class="block-crt">
							<div class="block-top"></div>
						</div>
				</div>
				<div class="block-center">
				

<div class="task">Put the verbs in a past tense form. <a class="show_keyboard" href="javascript:;">[ Use virtual keyboard ]</a></div>

<div  class="gr_ex_type">
<div class="gr-ex-testid">g0125010.I</div>
<div class="exer_part" > a) <strong>Mаsculine forms</strong>   </div>

<div class="gext_task gext_sign"> 

1. Я <input type="text"  value="повторять" style="width: 80px"> <span class="gext_answer" style="display: none">повторял</span>  правило.
 
<div class="gext_show"><span> Я <b>повторял</b>  правило. </span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

2. У меня  <input type="text" value="быть"><span class="gext_answer" style="display: none">был</span>  багаж.
 
<div class="gext_show"><span> У меня  <b>был</b>  багаж.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

3. Он <input type="text" value="смотреть" style="width: 70px"><span class="gext_answer" style="display: none">смотрел</span>  телевизор.
 
<div class="gext_show"><span> Он <b>смотрел</b> телевизор.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

4. Ты <input type="text" value="быть"><span class="gext_answer" style="display: none">был</span>  программистом.
 
<div class="gext_show"><span> Ты <b>был</b>  программистом.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

5. Я  <input type="text" value="помогать" style="width: 70px"><span class="gext_answer" style="display: none">помогал</span> другу.
 
<div class="gext_show"><span>Я <b>помогал</b> другу. </span> &nbsp;</div>

</div>

<div class="exer_part" > a) <strong>Feminine forms</strong>   </div>


<div class="gext_task gext_sign"> 

6. Она <input type="text" value="рассказывать" style="width: 100px"><span class="gext_answer" style="display: none">рассказывала</span>  о путешествии.
 
<div class="gext_show"> <span> Она <b>рассказывала</b>  о путешествии.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

7. У меня <input type="text" value="быть" ><span class="gext_answer" style="display: none">была</span>  виза.
 
<div class="gext_show"><span>У меня <b>была</b></span> виза. &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

8. Ты  <input type="text" value="жить"><span class="gext_answer" style="display: none">жила</span>  в Москве.
  
<div class="gext_show"> <span>Ты <b>жила</b> в Москве.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

9. Я <input type="text" value="говорить" style="width: 70px"><span class="gext_answer" style="display: none">говорила</span>  с учителем.
 
<div class="gext_show"> <span>Я <b>говорила</b> с учителем.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

10. Она <input type="text" value="быть"><span class="gext_answer" style="display: none">была</span>  в магазине.
 
<div class="gext_show"> <span>Она<b>была</b>  в магазине.</span> &nbsp;</div>

</div>

<div class="exer_part" > a) <strong>Neuter forms</strong>   </div>

<div class="gext_task gext_sign"> 

11. Платье <input type="text" value="лежать" ><span class="gext_answer" style="display: none">лежало</span>  на стуле.
 
<div class="gext_show"><span>Платье <b>лежало</b> на стуле. </span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

12.  Кресло  <input type="text" value="стоять"><span class="gext_answer" style="display: none">стояло</span>  рядом со столом.
 
<div class="gext_show"> <span>Кресло <b>стояло</b>  рядом со столом.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

13. У меня <input type="text" value="быть"><span class="gext_answer" style="display: none">было</span>  платье.
 
<div class="gext_show"> <span>У меня <b>было</b> платье. </span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

14. Это предложение  <input type="text" value="быть"  ><span class="gext_answer" style="display: none">было</span>  интересным.
 
<div class="gext_show"><span>Это предложение <b>было</b></span>  интересным. &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

15.   Это здание  <input type="text" value="быть"  ><span class="gext_answer" style="display: none">было</span>  напротив парка.
 
<div class="gext_show"><span> Это здание  <b>было</b></span> напротив парка. &nbsp;</div>

</div>

<div class="exer_part" > a) <strong>Plural forms</strong>   </div>

<div class="gext_task gext_sign"> 

16.   Мы <input type="text" value="помогать" style="width: 70px" ><span class="gext_answer" style="display: none">помогали</span>  пациенту.
 
<div class="gext_show"><span>Мы <b>помогали</b></span>  пациенту. &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

17.  У меня <input type="text" value="быть"  ><span class="gext_answer" style="display: none">были</span>  билеты.
 
<div class="gext_show"><span>У меня <b>были</b></span> билеты. &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

18.   Они <input type="text" value="посещать" style="width: 70px" ><span class="gext_answer" style="display: none">посещали</span>  выставку.
 
<div class="gext_show"><span>Они <b>посещали</b></span> выставку. &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

19.   Вы  <input type="text" value="ехать"  ><span class="gext_answer" style="display: none">ехали</span>  на работу.
 
<div class="gext_show"><span>Вы  <b>ехали</b></span>  на работу. &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

20.   Они  <input type="text" value="любить"  ><span class="gext_answer" style="display: none">любили</span>  посещать театр.
 
<div class="gext_show"><span>Они <b>любили</b></span>  посещать театр. &nbsp;</div>

</div>


<p class="gext_check"><input type="button" class="gext_check_btn" value="Check answers" > <input type="button" value="Display answers" class="gext_answer_show"></p>

</div>


</div>
<div class="block-clb">
     <div class="block-crb">
    	  <div class="block-btm">
    		   </div>
    	  </div>
     </div>		
</div>

<br><br><br>


<h3>Exercise II </h3>

<div class="block" >
				<div class="block-clt">
						<div class="block-crt">
							<div class="block-top"></div>
						</div>
				</div>
				<div class="block-center">
				

<div class="task">Put the following verbs in an appropriate past tense form. Use the verb <span style="font-weight: normal">быть</span> 
<span style="white-space: nowrap">instead of "-".</span> <a class="show_keyboard" href="javascript:;">[ Use virtual keyboard ]</a> </div>

<div  class="gr_ex_type">
<div class="gr-ex-testid">g0125020.II</div>

<div class="gext_task gext_sign"> 

1. Она  <input type="text"  value="рассказывает" style="width: 110px"> <span class="gext_answer" style="display: none">рассказывала</span>  о путешествии.
 
<div class="gext_show"><span>  Она <b>рассказывала</b>  о путешествии.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

2. Ресторан     <input type="text" value="-"><span class="gext_answer" style="display: none">был</span> напротив банка.
 
<div class="gext_show"><span> Ресторан <b>был</b> напротив банка.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

3. Вы  <input type="text" value="помогаете"  style="width: 80px"><span class="gext_answer" style="display: none">помогали</span>  студентам.
 
<div class="gext_show"><span>  Вы <b>помогали</b> студентам.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

4. Они <input type="text" value="слушают" style="width: 65px"><span class="gext_answer" style="display: none">слушали</span>  музыку.
 
<div class="gext_show"><span> Они  <b>слушали</b>  музыку.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

5. Книги  <input type="text" value="-"><span class="gext_answer" style="display: none">были</span> на столе.
 
<div class="gext_show"><span>Книги <b>были</b>  на столе. </span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

6. Мы  <input type="text" value="говорим" style="width: 70px"><span class="gext_answer" style="display: none">говорили</span> по-французски.
 
<div class="gext_show"> <span> Мы <b>говорим</b> по-французски.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

7. Они   <input type="text" value="повторяют" style="width: 80px"><span class="gext_answer" style="display: none">повторяли</span>  диалог.
 
<div class="gext_show"><span>Они <b>повторяли</b></span>  диалог. &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

8. Ты   <input type="text" value="смотришь" style="width: 70px"><span class="gext_answer" style="display: none">смотрел</span>  телевизор.
  
<div class="gext_show"> <span>Ты <b>смотрел</b>  телевизор. </span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

9. Я   <input type="text" value="учу"><span class="gext_answer" style="display: none">учил</span> правило.
 
<div class="gext_show"> <span>Я <b>учим</b> правило.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

10. Она  <input type="text" value=""><span class="gext_answer" style="display: none">была</span> в бибилиотеке.
 
<div class="gext_show"> <span>Она <b>была</b> в бибилиотеке.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

11. У меня   <input type="text" value="есть" ><span class="gext_answer" style="display: none">была</span>  машина.
 
<div class="gext_show"><span>У меня <b>была</b>  машина. </span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

12.  Мы  <input type="text" value="знаем"><span class="gext_answer" style="display: none">знали</span>  диалог.
 
<div class="gext_show"> <span>Мы <b>знали</b> диалог.</span> &nbsp;</div>

</div>



<p class="gext_check"><input type="button" class="gext_check_btn" value="Check answers" > <input type="button" value="Display answers" class="gext_answer_show"></p>

</div>


</div>
<div class="block-clb">
     <div class="block-crb">
    	  <div class="block-btm">
    		   </div>
    	  </div>
     </div>		
</div>




<br><br><br><br>
<br><br><br><br><br><br><br>









</div>
</div>

<script type="text/javascript">
currentSection="grammar";
</script>
