<% @page_title = 'Online Russian Grammar:  Exercises for present tense of Russian verbs ' %>
<% @page_meta = {'description' => "Russian online grammar exercises on present tense of Russian verbs"} %>
<% @with_rec = true %>
<% @has_audio = true %>


<% content_for :special_js_css do %>
 <%= stylesheet_link_tag 'grammar-exercises' %>
 <%= javascript_include_tag 'grammar-exercises' %>
 <%= stylesheet_link_tag 'keyboard' %>
 
 <script type="text/javascript"> 
 $(document).ready(function(){
	$(".gext_task input").addClass("for_keyb")
 });
 </script>
 <%= javascript_include_tag 'virtual-keyboard' %>
<% end %> 
 




<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Links and Settings</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
					<li><a href="/russian-present-tense.html">Present Tense</a></li>
					<li><a href="/russian-grammar.html">Russian grammar</a></li>
    		</ul>
	</div>
</div>
</div>



<h2 class="page">Present Tense of Verbs</h2>

<div id="pagecontent"><div id="content">

<p>
<span title="Open popup with word list" onclick="open_comment('grammar_comments/grex-verbs-present_grc.html')" class="open_popup_link">View word list for these exercises</span>
</p>


<h3>Exercise I </h3>

<div class="block" >
				<div class="block-clt">
						<div class="block-crt">
							<div class="block-top"></div>
						</div>
				</div>
				<div class="block-center">
				

<div class="task">Put the I-type conjugation verbs in an appropriate present tense form. <a class="show_keyboard" href="javascript:;">[ Use virtual keyboard ]</a></div>

<div  class="gr_ex_type">
<div class="gr-ex-testid">g0124010.I</div>

<div class="gext_task gext_sign"> 

1. Я <input type="text"  value="читать" > <span class="gext_answer" style="display: none">читаю</span>  книги.
 
<div class="gext_show"><span> Я <b>читаю</b>  книги. </span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

2. Они <input type="text" value="понимать" style="width: 80px"><span class="gext_answer" style="display: none">понимают</span> по-немецки.
 
<div class="gext_show"><span> Они <b>понимают</b> по-немецки.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

3. Ты <input type="text" value="читать" style="width: 70px"><span class="gext_answer" style="display: none">читаешь</span> журналы. 
 
<div class="gext_show"><span>  Ты <b>читаешь</b> журналы.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

4. Я <input type="text" value="повторять" style="width: 75px"><span class="gext_answer" style="display: none">повторяю </span> правило.
 
<div class="gext_show"><span> Я <b>повторяю </b> правило.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

5. Я  <input type="text" value="знать"><span class="gext_answer" style="display: none">знаю</span> русский язык. 
 
<div class="gext_show"><span>Я <b>знаю</b> русский язык. </span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

6. Вы <input type="text" value="понимать" style="width: 80px"><span class="gext_answer" style="display: none">понимаете</span> правило.
 
<div class="gext_show"> <span> Вы <b>понимаете</b>  правило.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

7. Вы  <input type="text" value="знать" ><span class="gext_answer" style="display: none">знаете</span> английский язык.
 
<div class="gext_show"><span>Вы <b>знаете</b></span> программистов. &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

8. Он  <input type="text" value="знать"><span class="gext_answer" style="display: none">знает</span> текст.
  
<div class="gext_show"> <span>Он <b>знает</b> текст.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

9. Мы <input type="text" value="знать" ><span class="gext_answer" style="display: none">знаем</span> диалог.
 
<div class="gext_show"> <span>Мы <b>знаем</b> диалог.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

10. Мы <input type="text" value="понимать" style="width: 80px"><span class="gext_answer" style="display: none">понимаем</span> по-французски.
 
<div class="gext_show"> <span>Мы <b>понимаем</b> по-французски.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

11. Ты  <input type="text" value="понимать" style="width: 80px"><span class="gext_answer" style="display: none">понимаешь</span> по-русски. 
 
<div class="gext_show"><span>Ты <b>понимаешь</b> по-русски. </span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

12.  Она  <input type="text" value="повторять" style="width: 80px"><span class="gext_answer" style="display: none">повторяет</span> диалог.
 
<div class="gext_show"> <span>Она <b>повторяет</b> диалог.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

13. Он  <input type="text" value="читать"><span class="gext_answer" style="display: none">читает</span> диалог. 
 
<div class="gext_show"> <span>Он <b>читает</b> диалог. </span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

14. Мы <input type="text" value="читать"  ><span class="gext_answer" style="display: none">читаем</span> по-английски.
 
<div class="gext_show"><span>Мы <b>читаем</b></span> по-английски. &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

15.   Они <input type="text" value="читать"  ><span class="gext_answer" style="display: none">читают</span> газеты.
 
<div class="gext_show"><span>Они <b>читают</b></span> газеты. &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

16.   Я <input type="text" value="понимать" style="width: 80px" ><span class="gext_answer" style="display: none">понимаю</span> текст.
 
<div class="gext_show"><span>Я <b>понимаю</b></span> текст. &nbsp;</div>

</div>


<p class="gext_check"><input type="button" class="gext_check_btn" value="Check answers" > <input type="button" value="Display answers" class="gext_answer_show"></p>

</div>


</div>
<div class="block-clb">
     <div class="block-crb">
    	  <div class="block-btm">
    		   </div>
    	  </div>
     </div>		
</div>

<br><br><br>


<h3>Exercise II </h3>

<div class="block" >
				<div class="block-clt">
						<div class="block-crt">
							<div class="block-top"></div>
						</div>
				</div>
				<div class="block-center">
				

<div class="task">Put the II-type conjugation verbs in an appropriate present tense form. <a class="show_keyboard" href="javascript:;">[ Use virtual keyboard ]</a></div>

<div  class="gr_ex_type">
<div class="gr-ex-testid">g0124020.II</div>

<div class="gext_task gext_sign"> 

1. Я <input type="text"  value="говорить" style="width: 70px"> <span class="gext_answer" style="display: none">говорю</span>  по-русски.
 
<div class="gext_show"><span> Я <b>говорю</b>  по-русски. </span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

2. Они   <input type="text" value="говорить" style="width: 70px"><span class="gext_answer" style="display: none">говорят</span> по-английски.
 
<div class="gext_show"><span> Они <b>говорят</b> по-английски.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

3. Вы <input type="text" value="говорить" style="width: 70px"><span class="gext_answer" style="display: none">говорите</span> по-русски.
 
<div class="gext_show"><span>  Вы <b>говорите</b> по-русски.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

4. Мы <input type="text" value="говорить" style="width: 80px"><span class="gext_answer" style="display: none">говорим</span> по-французски.
 
<div class="gext_show"><span> Мы <b>говорим</b> по-французски.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

5. Он  <input type="text" value="учить" ><span class="gext_answer" style="display: none">учит</span> правило.
 
<div class="gext_show"><span>Он <b>учит</b> правило. </span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

6. Ты <input type="text" value="учить"><span class="gext_answer" style="display: none">учишь</span> диалог.
 
<div class="gext_show"> <span> Ты <b>учишь</b> диалог.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

7. Они  <input type="text" value="учить" ><span class="gext_answer" style="display: none">учат</span> правило.
 
<div class="gext_show"><span>Они <b>учат</b></span> правило. &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

8. Она  <input type="text" value="говорить" style="width: 70px"><span class="gext_answer" style="display: none">говорит</span> по-аглийски. 
  
<div class="gext_show"> <span>Она <b>говорит</b> по-аглийски. </span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

9. Мы  <input type="text" value="учить"><span class="gext_answer" style="display: none">учим</span> текст.
 
<div class="gext_show"> <span>Мы <b>учим</b> текст.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

10. Вы <input type="text" value="смотреть" style="width: 70px"><span class="gext_answer" style="display: none">смотрите</span> телевизор?
 
<div class="gext_show"> <span>Вы <b>смотрите</b> телевизор?</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

11. Ты  <input type="text" value="говорить" style="width: 70px"><span class="gext_answer" style="display: none">говоришь</span> по-немецки.
 
<div class="gext_show"><span>Ты <b>говоришь</b> по-немецки. </span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

12.  Он <input type="text" value="смотреть" style="width: 70px"><span class="gext_answer" style="display: none">смотрит</span> телевизор.
 
<div class="gext_show"> <span>Он <b>смотрит</b> телевизор.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

13. Я <input type="text" value="смотреть" style="width: 70px"><span class="gext_answer" style="display: none">смотрю</span> телевизор.
 
<div class="gext_show"> <span>Я <b>смотрю</b> телевизор. </span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

14. Я <input type="text" value="учить"  ><span class="gext_answer" style="display: none">учу</span> текст.
 
<div class="gext_show"><span>Я <b>учу</b></span> текст. &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

15.   Они <input type="text" value="смотреть"  style="width: 70px"><span class="gext_answer" style="display: none">смотрят</span> фильм.
 
<div class="gext_show"><span>Они <b>смотрят</b></span> фильм. &nbsp;</div>

</div>


<p class="gext_check"><input type="button" class="gext_check_btn" value="Check answers" > <input type="button" value="Display answers" class="gext_answer_show"></p>

</div>


</div>
<div class="block-clb">
     <div class="block-crb">
    	  <div class="block-btm">
    		   </div>
    	  </div>
     </div>		
</div>




<br><br><br><br>
<br><br><br><br><br><br><br>









</div>
</div>

<script type="text/javascript">
currentSection="grammar";
</script>
