<% @page_title = 'Tests: Audio, video and photo' %>
<% @page_meta = {'description' => ""} %>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_css do %>

.quest  {
width: 210px;
}

.variants  {
width: 220px;
}

#t1 .variants  {
width: 290px;
}


#t2 .quest {
width: 220px;
}


<% end %>

<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Recommended links</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
     				<li><a href="video.html">Audio &amp; Video</a></li>
     				<li><a href="video-exercise.html"> Exercises:  Audio &amp; Video</a></li>

    		</ul>
	</div>
</div>
</div>



<h2 class="page">Audio, video and photo <br.> (tests)</h2>

<p class="task">Before completing the following tests, please revise the topic <a title="Audio, video and photo" href="video.html">Audio, video and photo</a></p>
<hr/>
<br/>
<h3>Test 1</h3>
<p class="task">Listen to the phrase and сhoose the corresponding Russian expression.</p>

<div id="t1">
<script type="text/javascript">
var t1 = new Test({dict: [

['sounds/sound09801.mp3','CD-плеер'],['sounds/sound09802.mp3','DVD-плеер'],['sounds/sound09803.mp3','MP3-плеер'],['sounds/sound09804.mp3','видеоплеер'],
['sounds/sound09805.mp3','динамики'],['sounds/sound09806.mp3','кассетный видеомагнитофон'],['sounds/sound09807.mp3','магнитофон'],['sounds/sound09808.mp3','наушники'],
['sounds/sound09809.mp3','плеер'],['sounds/sound09810.mp3','пульт дистанционного управления'],['sounds/sound09811.mp3','радиоприёмник'],['sounds/sound09812.mp3','стереосистема'],
['sounds/sound09813.mp3','телевизор'],['sounds/sound09814.mp3','аудиоокассета'],['sounds/sound09815.mp3','видеокассета'],['sounds/sound09816.mp3','диск'],
['sounds/sound09817.mp3','батарейки'],['sounds/sound09818.mp3','аккумуляторы'],['sounds/sound09819.mp3','видеокамера'],['sounds/sound09820.mp3','фотоаппарат'],
['sounds/sound09821.mp3','цифровая видеокамера'],['sounds/sound09822.mp3','цифровой фотоаппарат'],['sounds/sound09823.mp3','вспышка'],['sounds/sound09824.mp3','плёнка'],
['sounds/sound09825.mp3','карта памяти'],['sounds/sound09826.mp3','фотография'],['sounds/sound09827.mp3','фотобумага']


],hide: 'di1',id:'t1', type: 'audio', how_questions: 8, how_show: 2});
</script>
</div>

<h3>Test 2</h3>
<p class="task">Read the Russian phrase and choose the corresponding English expression.</p>

<div id="t2">
<script type="text/javascript">
var t2 = new Test({dict: [

['CD-плеер','CD player'],['DVD-плеер','DVD player'],['MP3-плеер','MP3 player'],['видеоплеер ','video player'],
['динамики','loud speakers'],['кассетный видеомагнитофон','VHS video recorder'],['магнитофон','tape recorder'],['наушники','headphones'],
['плеер','walkman'],['пульт дистанционного управления','remote control'],['радиоприёмник','radio set'],['стереосистема','stereo system'],
['телевизор','television set'],['аудиоокассета','audio cassette'],['видеокассета','video cassette'],['диск','disk'],
['батарейки','batteries'],['аккумуляторы','accumulators'],['видеокамера','video camera'],['фотоаппарат','photo camera'],
['цифровая видеокамера','digital video camera'],['цифровой фотоаппарат','digital photo camera '],['вспышка','flash'],['плёнка','film'],
['карта памяти','memory card'],['фотография','photograph'],['фотобумага','photograph paper']

], hide:'di2',id:'t2',type: 'text', how_questions: 8, how_show: 2});
</script>
</div>

<h3>Test 3</h3>
<p class="task">Listen to the Russian phrases and сhoose their translation into English.</p>

<div id="t3">
<script type="text/javascript">
var t3 = new Test({dict: [

['sounds/sound09801.mp3','CD player'],['sounds/sound09802.mp3','DVD player'],['sounds/sound09803.mp3','MP3 player'],['sounds/sound09804.mp3','video player'],
['sounds/sound09805.mp3','loud speakers'],['sounds/sound09806.mp3','VHS video recorder'],['sounds/sound09807.mp3','tape recorder'],['sounds/sound09808.mp3','headphones'],
['sounds/sound09809.mp3','walkman'],['sounds/sound09810.mp3','remote control'],['sounds/sound09811.mp3','radio set'],['sounds/sound09812.mp3','stereo system'],
['sounds/sound09813.mp3','television set'],['sounds/sound09814.mp3','audio cassette'],['sounds/sound09815.mp3','video cassette'],['sounds/sound09816.mp3','disk'],
['sounds/sound09817.mp3','batteries'],['sounds/sound09818.mp3','accumulators'],['sounds/sound09819.mp3','video camera'],['sounds/sound09820.mp3','photo camera'],
['sounds/sound09821.mp3','digital video camera'],['sounds/sound09822.mp3','digital photo camera'],['sounds/sound09823.mp3','flash'],['sounds/sound09824.mp3','film'],
['sounds/sound09825.mp3','memory card'],['sounds/sound09826.mp3','photograph'],['sounds/sound09827.mp3','photograph paper']


],hide: 'di3',id:'t3',type: 'audio', how_questions: 8, how_show: 2});
</script>
</div>


<script type="text/javascript">
currentSection="words";
</script>
