<% @page_title = 'Russian language online: Exercises for the topic Audio, video and photo' %>
<% @page_meta = {'description' => "Online exercises for learning Russian words and phrases related to the topic Audio, video and photo"} %>
<% @with_rec = true %>
<% @has_audio = true %>

<%= javascript_include_tag 'exercises.js' %>
<%= stylesheet_link_tag 'exercises.css' %>

<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Recommended links</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
     			   	<li><a href="video.html">Audio &amp; Video</a></li>
     				<li><a href="video-test.html"> Tests: Audio &amp; Video</a></li>
    		</ul>
	</div>
</div>
</div>



<h2 class="page">Audio, video and photo <br/> (exercises)</h2>

<p class="task">Before doing the following exercises, please revise the topic <a title="Audio, video and photo" href="video.html">Audio, video and photo</a></p>

<hr/>

<h3>Exercise 1</h3>

<%= render :partial => 'tt_exercise' %>

<hr/>


<h3>Exercise 2</h3>


<div class="start_btn">
<input type="button" value="START" onclick="startYN()" />
</div>
<div id="yn_box">

	<div id="yn_place">


		<div id="trans_wrapper">
			<div id="yn_trans" style="background-color: transparent; border-width: 0px;">
				<div>&nbsp;
				</div>
			</div>
		</div>

		<div id="yn_sound">
			<div class="play">
			
			</div>
		</div>
		
		<div>Is this a correct translation? </div>
		<br/>
		<div id="yn_btns">
		<input id="yes_btn" type="button" value="YES" /> <input id="no_btn" type="button" value="NO" />
		</div>
		<div id="show_check"></div>
		<br>
		<div id="yn_info"></div>
	</div>

</div>


<hr/>


<h3>Exercise 3</h3>


<div class="start_btn">
<input type="button" value="START" onclick="startCO()" />
</div>
<div id="co_box">
<div id="co_copy"></div>
	<div id="co_place">
		<div class="co_task_wrapper">
			<div id="co_task"><div>&nbsp;</div></div>
		</div>
		
		<div class="co_choose">Choose translation from the options below: </div>

		<div class="co_options_container">
		<div class="co_options_wrapper">
			<div id="co_option0" class="co_options"><div>&nbsp;</div></div>
			<div id="co_option1" class="co_options"><div>&nbsp;</div></div>
			<div id="co_option2" class="co_options"><div>&nbsp;</div></div>
			<div style="clear: both;"></div>
		</div>
		</div>

		<div style="text-align: center; padding-top: 30px;">
		<div id="co_correctness"><div>&nbsp;</div></div>
		</div>
		
		<div class="co_counter"> </div>

	</div>

</div>



<script type="text/javascript">

////////////////// array for test together 

var ttMassive=new Array(

['CD-плеер','CD player'],['DVD-плеер','DVD player'],['MP3-плеер','MP3 player'],['видеоплеер ','video player'],
['динамики','loud speakers'],['кассетный видеомагнитофон','VHS video recorder'],['магнитофон','tape recorder'],['наушники','headphones'],
['плеер','walkman'],['пульт дистанционного управления','remote control'],['радиоприёмник','radio set'],['стереосистема','stereo system'],
['телевизор','television set'],['аудиоокассета','audio cassette'],['видеокассета','video cassette'],['диск','disk'],
['батарейки','batteries'],['аккумуляторы','accumulators'],['видеокамера','video camera'],['фотоаппарат','photo camera'],
['цифровая видеокамера','digital video camera'],['цифровой фотоаппарат','digital photo camera '],['вспышка','flash'],['плёнка','film'],
['карта памяти','memory card'],['фотография','photograph'],['фотобумага','photograph paper']

);

/////////////////////// array for yes/no

var massive=new Array(

['sounds/sound09801.mp3','CD player'],['sounds/sound09802.mp3','DVD player'],['sounds/sound09803.mp3','MP3 player'],['sounds/sound09804.mp3','video player'],
['sounds/sound09805.mp3','loud speakers'],['sounds/sound09806.mp3','VHS video recorder'],['sounds/sound09807.mp3','tape recorder'],['sounds/sound09808.mp3','headphones'],
['sounds/sound09809.mp3','walkman'],['sounds/sound09810.mp3','remote control'],['sounds/sound09811.mp3','radio set'],['sounds/sound09812.mp3','stereo system'],
['sounds/sound09813.mp3','television set'],['sounds/sound09814.mp3','audio cassette'],['sounds/sound09815.mp3','video cassette'],['sounds/sound09816.mp3','disk'],
['sounds/sound09817.mp3','batteries'],['sounds/sound09818.mp3','accumulators'],['sounds/sound09819.mp3','video camera'],['sounds/sound09820.mp3','photo camera'],
['sounds/sound09821.mp3','digital video camera'],['sounds/sound09822.mp3','digital photo camera'],['sounds/sound09823.mp3','flash'],['sounds/sound09824.mp3','film'],
['sounds/sound09825.mp3','memory card'],['sounds/sound09826.mp3','photograph'],['sounds/sound09827.mp3','photograph paper']

);

ynQuestNum=10;

////////////////////// array for choose option
var co_massive=new Array(

['CD-плеер','CD player'],['DVD-плеер','DVD player'],['MP3-плеер','MP3 player'],['видеоплеер ','video player'],
['динамики','loud speakers'],['кассетный видеомагнитофон','VHS video recorder'],['магнитофон','tape recorder'],['наушники','headphones'],
['плеер','walkman'],['пульт дистанционного управления','remote control'],['радиоприёмник','radio set'],['стереосистема','stereo system'],
['телевизор','television set'],['аудиоокассета','audio cassette'],['видеокассета','video cassette'],['диск','disk'],
['батарейки','batteries'],['аккумуляторы','accumulators'],['видеокамера','video camera'],['фотоаппарат','photo camera'],
['цифровая видеокамера','digital video camera'],['цифровой фотоаппарат','digital photo camera '],['вспышка','flash'],['плёнка','film'],
['карта памяти','memory card'],['фотография','photograph'],['фотобумага','photograph paper']

);

coQuestNum=10;

</script>

<hr/>

<p class="after-exercise">If you want to check how you know these words, go to <a title="Audio, video and photo tests" href="video-test.html"> Tests: Audio, video and photo</a></p>



<script type="text/javascript">
currentSection="words";
</script>
