<% @page_title='Russian Language Online: Vocabulary Topics' %>
<% @page_meta = {'description' => "Russian online vocabulary sorted by topics with audio examples, transcription and translation"} %>

<% content_for :special_js_css do %>

<style type="text/css">
#prof_tabs {margin-top: 50px;}
.inpBlock {min-height: 800px; height: auto !important; height: 800px;}
.pBlock {padding: 40px 50px;}
.forgame {}

.content a.forgame {
color: #222222;
text-decoration: none;
height: 240px;
padding: 0px 10px; 
display: block
}

.content a.forgame img {
display: block;
}

a.forgame span.gname {
display: block;
font-size: 14pt;
margin: 0px 0px 10px 20px;
padding-top: 10px;
}

a.forgame span.gdesc {
margin-left: 200px;
display: block;
}

</style>

<% end %>

<h2 class="page">Vocabulary Topics</h2>

<p>
In this section each topic contains a list of Russian words and phrases with their translation and transcription. You can listen to all Russian words and phrases of the topic. 
Here you will also find different exercises, tests and word games which will help you to get familiar with the Russian language.
</p>
<p>
If you are a registered user, the results of the tests are saved and can be reviewed in your account. 
</p>

<p>
We advise to visit <a href="functions.html">Functions and settings</a> page to read information about available functions that may make it easier to work with topics, and <a href="test-use.html">How to use tests</a> page to learn how to work with tests.

</p>






<div id="prof_tabs">
	<div id="tabs_row">
            <div id="tab01" class="ptab current_ptab"><div><a href="vocabulary.html" style="color: #000;">Vocabulary</a></div></div>
            <div id="tab02" class="ptab"><div><a href="vocabulary_exercises.html">Exercises</a></div></div>
            <div id="tab03" class="ptab"><div><a href="vocabulary_tests.html">&nbsp;&nbsp; Tests &nbsp;&nbsp;</a></div></div>

            <div id="tab04" class="ptab"><div><a href="vocabulary_games.html">&nbsp;&nbsp; Games &nbsp;&nbsp;</a></div></div>
	</div>
	<div style="clear: both;"></div>
</div>

<div id="for_tab01" class="pBlock" style="display: block">

	<div class="inpBlock">
	
	<h3>Content: </h3>

	
      <div class="bold inner-listing">
            <p><a href="politeness.html" title="Formulas of politeness">I. Formulas of politeness</a></p> 
            <p><a href="acquaintance.html" title="Making acquaintance">II. Making acquaintance</a></p>
            <p><a href="transport.html" title="Transport">III. Transport</a></p>
        <div class="secondary-list">
            <p><a href="airport.html" title="Airport">1. Airport</a></p>
            <p><a href="bus.html" title="Bus, trolley, tram">2. Bus, trolley, tram</a></p>

            <p><a href="subway.html" title="Subway">3. Subway</a></p>
            <p><a href="taxi.html" title="Taxi">4. Taxi</a></p>
        </div>
            <p><a href="hotel.html" title="Hotel">IV. Hotel</a></p>
            <p><a href="services.html" title="Services">V. Services</a></p>
            <p><a href="city.html" title="City">VI. City</a></p>

            <p><a href="sightseeing.html" title="Sightseeing">VII. Sightseeing</a></p>
            <p><a href="meals.html" title="Meals">VIII. Meals</a></p>
        <div  class="secondary-list">
            <p><a href="bread.html" title="Bread and confectionery">1. Bread and confectionery</a></p>
            <p><a href="gruel.html" title="Gruels and porridges">2. Gruels and porridges</a></p>
            <p><a href="meat.html" title="Meat dishes">3. Meat dishes</a></p>

            <p><a href="fish.html" title="Fish, fish dishes">4. Fish, fish dishes</a></p>
            <p><a href="dairy.html" title="Dairy produce">5. Dairy produce</a></p>
            <p><a href="vegetables.html" title="Vegetables">6. Vegetables</a></p>
            <p><a href="fruit.html" title="Fruit, berries">7. Fruit, berries</a></p>
            <p><a href="confectionery.html" title="Confectionery">8. Confectionery</a></p>
            <p><a href="drinks.html" title="Beverages, soft and strong drinks">9. Beverages, soft and strong drinks</a></p>

        </div>
        <p><a href="shopping.html" title="Shopping">IX. Shopping</a></p>
        <div  class="secondary-list">
            <p><a href="clothing.html" title="Outdoor clothing">1. Outdoor clothing</a></p>
            <p><a href="lingerie.html" title="Lingerie and nightwear">2. Lingerie and nightwear</a></p>
            <p><a href="sportwear.html" title="Sportswear">3. Sportswear</a></p>
            <p><a href="shoes.html" title="Shoes">4. Shoes</a></p>

            <p><a href="accessories.html" title="Accessories">5. Accessories</a></p>
            <p><a href="perfumery.html" title="Perfumery">6. Perfumery</a></p>
            <p><a href="jewelry.html" title="Jewelry">7. Jewelry</a></p>
            <p><a href="video.html" title="Audio, video and photo">8. Audio, video and photo</a></p>
        </div>
        <p><a href="numerals.html" title="Numerals">X. Russian numbers</a></p>

        <div  class="secondary-list">
            <p><a href="numerals00-100.html" title="Cardinal numbers from 0 to 100">1. Cardinal numbers from 0 to 100</a></p>
            <p><a href="numerals100.html" title="Cardinal numbers more than 100">2. Cardinal numbers more than 100</a></p>
            <p><a href="cardinal.html" title="Ordinal numbers">3. Ordinal numbers</a></p>
        </div>
	<p><a href="language-skills.html" title="Language Skills">XI. Language skills</a></p> 
	 <p><a href="parts-of-body.html" title="Parts of Human Body">XII. Parts of Human Body</a></p> 
	 <p><a href="bank.html" title="Bank and Money">XIII. Bank and Money</a></p>

      </div>

	</div>
</div>
<div id="for_tab02" class="pBlock" style="display: none">
	<div class="inpBlock">
		
	<h3>Content: </h3>
	
        <div class="inner-listing">	
          <p><a href="politeness-exercise.html" title="Formulas of politeness exercises">Exercises: Formulas of politeness</a></p> 
          <p><a href="acquaintance-exercise.html" title="Making acquaintance exercises">Exercises: Making acquaintance</a></p>

          <p><a href="airport-exercise.html" title="Airport exercises">Exercises: Airport</a></p>
          <p><a href="bus-exercise.html" title="City transport exercises ">Exercises: Bus, trolley, tram</a></p>
          <p><a href="subway-exercise.html" title="Subway exercises">Exercises: Subway</a></p>
          <p><a href="taxi-exercise.html" title="Taxi exercises">Exercises: Taxi</a></p>
          <p><a href="hotel-exercise.html" title="Hotel exercises">Exercises: Hotel</a></p>
          <p><a href="services-exercise.html" title="Services exercises">Exercises: Services</a></p>

          <p><a href="city-exercise.html" title="City">Exercises: City</a></p>
          <p><a href="sightseeing-exercise.html" title="Sightseeing exercises">Exercises: Sightseeing</a></p>
          <p><a href="bread-exercise.html" title="Bread and confectionery exercises">Exercises: Bread and confectionery</a></p>
          <p><a href="gruel-exercise.html" title="Gruels and porridges exercises ">Exercises: Gruels and porridges</a></p>
          <p><a href="meat-exercise.html" title="Meat dishes exercises">Exercises: Meat dishes</a></p>
          <p><a href="fish-exercise.html" title="Fish dishes exercises">Exercises: Fish, fish dishes</a></p>

          <p><a href="dairy-exercise.html" title="Dairy produce exercises">Exercises: Dairy produce</a></p>
          <p><a href="vegetables-exercise.html" title="Vegetables exercises">Exercises: Vegetables</a></p>
          <p><a href="fruit-exercise.html" title="Fruit, berries exercises">Exercises: Fruit, berries</a></p>
          <p><a href="confectionery-exercise.html" title="Confectionery exercises">Exercises: Confectionery</a></p>
          <p><a href="drinks-exercise.html" title="Soft and strong drinks">Exercises: Beverages, soft and strong drinks</a></p>
          <p><a href="clothing-exercise.html" title="Outdoor clothing exercises">Exercises: Outdoor clothing</a></p>

          <p><a href="lingerie-exercise.html" title="Lingerie and nightwear exercises">Exercises: Lingerie and nightwear</a></p>
          <p><a href="sportwear-exercise.html" title="Sportswear exercises">Exercises: Sportswear</a></p>
          <p><a href="shoes-exercise.html" title="Shoes exercises">Exercises: Shoes</a></p>
          <p><a href="accessories-exercise.html" title="Accessories exercises">Exercises: Accessories</a></p>
          <p><a href="perfumery-exercise.html" title="Perfumery exercises">Exercises: Perfumery</a></p>
          <p><a href="jewelry-exercise.html" title="Jewelry exercises">Exercises: Jewelry</a></p>

          <p><a href="video-exercise.html" title="Audio, video and photo exercises">Exercises: Audio, video and photo</a></p>
        </div>
	
	</div>
</div>
<div id="for_tab03" class="pBlock" style="display: none">
	<div class="inpBlock">
	
	<h3>Content: </h3>
	
        <div class="inner-listing">	
          <p><a href="politeness-test.html" title="Formulas of politeness tests">Tests: Formulas of politeness</a></p> 
          <p><a href="acquaintance-test.html" title="Making acquaintance tests">Tests: Making acquaintance</a></p>

          <p><a href="airport-test.html" title="Airport tests">Tests: Airport</a></p>
          <p><a href="bus-test.html" title="City transport tests ">Tests: Bus, trolley, tram</a></p>
          <p><a href="subway-test.html" title="Subway tests">Tests: Subway</a></p>
          <p><a href="taxi-test.html" title="Taxi tests">Tests: Taxi</a></p>
          <p><a href="hotel-test.html" title="Hotel tests">Tests: Hotel</a></p>
          <p><a href="services-test.html" title="Services tests">Tests: Services</a></p>

          <p><a href="city-test.html" title="City">Tests: City</a></p>
          <p><a href="sightseeing-test.html" title="Sightseeing tests">Tests: Sightseeing</a></p>
          <p><a href="bread-test.html" title="Bread and confectionery tests">Tests: Bread and confectionery</a></p>
          <p><a href="gruel-test.html" title="Gruels and porridges tests ">Tests: Gruels and porridges</a></p>
          <p><a href="meat-test.html" title="Meat dishes tests">Tests: Meat dishes</a></p>
          <p><a href="fish-test.html" title="Fish dishes tests">Tests: Fish, fish dishes</a></p>

          <p><a href="dairy-test.html" title="Dairy produce tests">Tests: Dairy produce</a></p>
          <p><a href="vegetables-test.html" title="Vegetables tests">Tests: Vegetables</a></p>
          <p><a href="fruit-test.html" title="Fruit, berries tests">Tests: Fruit, berries</a></p>
          <p><a href="confectionery-test.html" title="Confectionery tests">Tests: Confectionery</a></p>
          <p><a href="drinks-test.html" title="Soft and strong drinks">Tests: Beverages, soft and strong drinks</a></p>
          <p><a href="clothing-test.html" title="Outdoor clothing tests">Tests: Outdoor clothing</a></p>

          <p><a href="lingerie-test.html" title="Lingerie and nightwear tests">Tests: Lingerie and nightwear</a></p>
          <p><a href="sportswear-test.html" title="Sportswear tests">Tests: Sportswear</a></p>
          <p><a href="shoes-test.html" title="Shoes tests">Tests: Shoes</a></p>
          <p><a href="accessories-test.html" title="Accessories tests">Tests: Accessories</a></p>
          <p><a href="perfumery-test.html" title="Perfumery tests">Tests: Perfumery</a></p>
          <p><a href="jewelry-test.html" title="Jewelry tests">Tests: Jewelry</a></p>

          <p><a href="video-test.html" title="Audio, video and photo tests">Tests: Audio, video and photo</a></p>
          <p><a href="numerals00-100-test.html" title="Cardinal numbers from 0 to 100 tests">Tests: Numbers from 0 to 100</a></p>
          <p><a href="numerals100-test.html" title="Cardinal numbers more than 100 tests">Tests: Numbers more than 100</a></p>
		  <p><a href="language-skills-test.html" title="Language Skills">Tests: Language Skills</a></p>
        </div>	

	</div>
</div>
<div id="for_tab04" class="pBlock" style="display: none">
	<div class="inpBlock">
	
	
	
		
		<a href="memory.html" class="forgame">

		<span class="gname">Memory Game</span>
		
		<img src="images/memory-thumb.gif" alt="Thumbnail of Memory Game" align="left"/>
		<span class="gdesc">Classical Memory Game with Russian words and their English equivalents.</span>
		
		</a>
		
		<a href="crossword-game.html" class="forgame">
		<span class="gname" style="position: relative;">Word Find Puzzle <span class="new_item" style="font-size: 20px; right: 0px; display: none;">&nbsp;NEW !!!&nbsp;</span></span>
		
		<img src="/images/crossword-thumb-1.gif" alt="" align="left"/>
			<span class="gdesc">
			Classical word search puzzle. A very good practice for those who start to learn reading in Russian and a good opportunity to work on the vocabulary topics.
			Russian words are hidden randomly each time you try the puzzle, so you can play more than once.


			</span>

		
		</a>
		
		
		<a href="balloon-game.html" class="forgame">
		<span class="gname">Hot Air Balloons</span>
		
		<img src="images/balloon-thumb(w).gif" alt="" align="left"/>

		<span class="gdesc">You can steer hot air ballons and only you can help them to land properly. However, you can not do without knowing the Russian language!</span>
		
		</a>
		
		<a href="sorcerer-game.html" class="forgame">
		<span class="gname">Fateful Battle</span>
		
		<img src="images/battle-thumb.gif" alt="" align="left"/>
			<span class="gdesc">
			The fateful hour for the humankind has come. Hordes of demons try to rush into our world in order to destroy the human race.<br> 
			However, humans still cherish the hope to survive: a mighty wizard Nestor has a great magic power to stop the evil spirits. 
			Be courageous, you and Nestor can bar the way of demons to our world!


			</span>

		
		</a>


	</div>
</div>

<script type="text/javascript">
currentSection="words";
</script>

