<% @page_title='Russian Language Online: Vocabulary Topics' %>
<% @page_meta = {'description' => "Russian online vocabulary sorted by topics with audio examples, transcription and translation"} %>

<% content_for :special_js_css do %>

<script type="text/javascript">

<%if params[:tab] %>
	openTabFromUrl(<%= params[:tab] %>);
<%else%>
	openTabFromUrl();
<%end%>
	
</script>

<style type="text/css">
#prof_tabs {margin-top: 50px;}
.inpBlock {min-height: 800px; height: auto !important; height: 800px;}
.pBlock {padding: 40px 50px;}
.forgame {}

.content a.forgame {
color: #222222;
text-decoration: none;
height: 240px;
padding: 0px 10px; 
display: block
}

.content a.forgame img {
display: block;
}

a.forgame span.gname {
display: block;
font-size: 14pt;
margin: 0px 0px 10px 20px;
padding-top: 10px;
}

a.forgame span.gdesc {
margin-left: 200px;
display: block;
}

</style>

<% end %>


<h2 class="page">Vocabulary Topics</h2>

<p>
In this section each topic contains a list of Russian words and phrases with their translation and transcription. You can listen to all Russian words and phrases of the topic. 
Here you will also find different exercises, tests and word games which will help you to get familiar with the Russian language.
</p>
<p>
If you are a registered user, the results of the tests are saved and can be reviewed in your account. 
Plus, in your account you can also see words and expressions you have studied with flashcards and lexical tests.
</p>

<p>
Before you know it, you will be expressing yourself in basic Russian! 
You might attempt writing emails or even playing <a href="http://www.cheekybingo.com/">bingo online</a> in Russian! 
Bit by bit, word by word, your grasp of the language will grow. It is a fun and simply way to learn. 
</p>

<p>
We advise to visit <a href="functions.html">Functions and settings</a> page to read information about available functions that may make it easier to work with topics.

</p>






<div id="prof_tabs">
	<div id="tabs_row">
            <div id="tab01" class="ptab current_ptab"><div><a href="vocabulary.html" style="color: #000;">Vocabulary</a></div></div>
            <div id="tab02" class="ptab"><div><a href="vocabulary_exercises.html">Flashcards</a></div></div>
            <div id="tab03" class="ptab"><div><a href="vocabulary_tests.html">&nbsp;&nbsp; Tests &nbsp;&nbsp;</a></div></div>

            <div id="tab04" class="ptab"><div><a href="vocabulary_games.html">&nbsp;&nbsp; Games &nbsp;&nbsp;</a></div></div>
	</div>
	<div style="clear: both;"></div>
</div>

<div id="for_tab01" class="pBlock" style="display: block">

	<div class="inpBlock">
	
	<h3>Content: </h3>

	
      <div class="bold inner-listing">
	  
            <p><a href="/en/ru/vocabulary/politeness" title="Formulas of politeness">I. Formulas of politeness</a></p> 
            <p><a href="/en/ru/vocabulary/acquaintance" title="Making acquaintance">II. Making acquaintance</a></p>
            <p><a href="transport.html" title="Transport">III. Transport</a></p>
        <div class="secondary-list">
            <p><a href="/en/ru/vocabulary/airport" title="Airport">1. Airport</a></p>
            <p><a href="/en/ru/vocabulary/bus" title="Bus, trolley, tram">2. Bus, trolley, tram</a></p>

            <p><a href="/en/ru/vocabulary/subway" title="Subway">3. Subway</a></p>
            <p><a href="/en/ru/vocabulary/taxi" title="Taxi">4. Taxi</a></p>
        </div>
            <p><a href="/en/ru/vocabulary/hotel" title="Hotel">IV. Hotel</a></p>
            <p><a href="/en/ru/vocabulary/services" title="Services">V. Services</a></p>
            <p><a href="/en/ru/vocabulary/city" title="City">VI. City</a></p>

            <p><a href="/en/ru/vocabulary/sightseeing" title="Sightseeing">VII. Sightseeing</a></p>
            <p><a href="/meals.html" title="Meals">VIII. Meals</a></p>
        <div  class="secondary-list">
            <p><a href="/en/ru/vocabulary/bread" title="Bread and confectionery">1. Bread and confectionery</a></p>
            <p><a href="/en/ru/vocabulary/gruel" title="Gruels and porridges">2. Gruels and porridges</a></p>
            <p><a href="/en/ru/vocabulary/meat" title="Meat dishes">3. Meat dishes</a></p>

            <p><a href="/en/ru/vocabulary/fish" title="Fish, fish dishes">4. Fish, fish dishes</a></p>
            <p><a href="/en/ru/vocabulary/dairy" title="Dairy produce">5. Dairy produce</a></p>
            <p><a href="/en/ru/vocabulary/vegetables" title="Vegetables">6. Vegetables</a></p>
            <p><a href="/en/ru/vocabulary/fruit" title="Fruit, berries">7. Fruit, berries</a></p>
            <p><a href="/en/ru/vocabulary/confectionery" title="Confectionery">8. Confectionery</a></p>
            <p><a href="/en/ru/vocabulary/drinks" title="Beverages, soft and strong drinks">9. Beverages, soft and strong drinks</a></p>

        </div>
        <p><a href="shopping.html" title="Shopping">IX. Shopping</a></p>
        <div  class="secondary-list">
            <p><a href="/en/ru/vocabulary/clothing" title="Outdoor clothing">1. Outdoor clothing</a></p>
            <p><a href="/en/ru/vocabulary/lingerie" title="Lingerie and nightwear">2. Lingerie and nightwear</a></p>
            <p><a href="/en/ru/vocabulary/sportwear" title="Sportswear">3. Sportswear</a></p>
            <p><a href="/en/ru/vocabulary/shoes" title="Shoes">4. Shoes</a></p>

            <p><a href="/en/ru/vocabulary/accessories" title="Accessories">5. Accessories</a></p>
            <p><a href="/en/ru/vocabulary/perfumery" title="Perfumery">6. Perfumery</a></p>
            <p><a href="/en/ru/vocabulary/jewelry" title="Jewelry">7. Jewelry</a></p>
            <p><a href="/en/ru/vocabulary/video" title="Audio, video and photo">8. Audio, video and photo</a></p>
        </div>
        <p><a href="numerals.html" title="Numerals">X. Russian numbers</a></p>

        <div  class="secondary-list">
            <p><a href="/numerals00-100.html" title="Cardinal numbers from 0 to 100">1. Cardinal numbers from 0 to 100</a></p>
            <p><a href="/numerals100.html" title="Cardinal numbers more than 100">2. Cardinal numbers more than 100</a></p>
            <p><a href="/en/ru/vocabulary/ordinal_numerals" title="Ordinal numbers">3. Ordinal numbers</a></p>
        </div>
		<p><a href="/en/ru/vocabulary/language-skills" title="Language Skills">XI. Language skills</a></p> 
		<p><a href="/en/ru/vocabulary/parts-of-body" title="Parts of Human Body">XII. Parts of Human Body</a></p> 
		<p><a href="/en/ru/vocabulary/bank" title="Bank and Money">XIII. Bank and Money</a></p>
		<p><a href="/en/ru/vocabulary/computer" title="Computer and Internet">XIV. Computer and Internet</a></p>
		<p><a href="/en/ru/vocabulary/telephone" title="Telephone calls">XV. Telephone calls</a></p>
		<p><a href="/en/ru/vocabulary/family" title="Family">XVI. Family and Relatives</a></p>
		<p><a href="/en/ru/vocabulary/professions" title="Professions">XVI. Professions and occupations</a></p>
		<p><a href="/en/ru/vocabulary/countries" title="Countries">XVII. Countries</a></p>
		<p><a href="/en/ru/vocabulary/weather" title="Countries">XVIII. Weather</a></p>
		
		
		<br><br><br><br><br>
	 </div>

	</div>
</div>
<div id="for_tab02" class="pBlock" style="display: none">
	<div class="inpBlock">
		
	<h3>Content: </h3>
	
        <div class="inner-listing">	
          <p><a href="/en/ru/flashcards/politeness" >Flashcards: Formulas of politeness</a></p> 
          <p><a href="/en/ru/flashcards/acquaintance" >Flashcards: Making acquaintance</a></p>

          <p><a href="/en/ru/flashcards/airport" >Flashcards: Airport</a></p>
          <p><a href="/en/ru/flashcards/bus">Flashcards: Bus, trolley, tram</a></p>
          <p><a href="/en/ru/flashcards/subway" >Flashcards: Subway</a></p>
          <p><a href="/en/ru/flashcards/taxi" >Flashcards: Taxi</a></p>
          <p><a href="/en/ru/flashcards/hotel" >Flashcards: Hotel</a></p>
          <p><a href="/en/ru/flashcards/services" >Flashcards: Services</a></p>

          <p><a href="/en/ru/flashcards/city" >Flashcards: City</a></p>
          <p><a href="/en/ru/flashcards/sightseeing" >Flashcards: Sightseeing</a></p>
          <p><a href="/en/ru/flashcards/bread" >Flashcards: Bread and confectionery</a></p>
          <p><a href="/en/ru/flashcards/gruel" >Flashcards: Gruels and porridges</a></p>
          <p><a href="/en/ru/flashcards/meat" >Flashcards: Meat dishes</a></p>
          <p><a href="/en/ru/flashcards/fish" >Flashcards: Fish, fish dishes</a></p>

          <p><a href="/en/ru/flashcards/dairy" >Flashcards: Dairy produce</a></p>
          <p><a href="/en/ru/flashcards/vegetables" >Flashcards: Vegetables</a></p>
          <p><a href="/en/ru/flashcards/fruit" >Flashcards: Fruit, berries</a></p>
          <p><a href="/en/ru/flashcards/confectionery">Flashcards: Confectionery</a></p>
          <p><a href="/en/ru/flashcards/drinks">Flashcards: Beverages, soft and strong drinks</a></p>
          <p><a href="/en/ru/flashcards/clothing" >Flashcards: Outdoor clothing</a></p>

          <p><a href="/en/ru/flashcards/lingerie" >Flashcards: Lingerie and nightwear</a></p>
          <p><a href="/en/ru/flashcards/sportwear" >Flashcards: Sportswear</a></p>
          <p><a href="/en/ru/flashcards/shoes" >Flashcards: Shoes</a></p>
          <p><a href="/en/ru/flashcards/accessories" >Flashcards: Accessories</a></p>
          <p><a href="/en/ru/flashcards/perfumery" >Flashcards: Perfumery</a></p>
          <p><a href="/en/ru/flashcards/jewelry" >Flashcards: Jewelry</a></p>

          <p><a href="/en/ru/flashcards/video" >Flashcards: Audio, video and photo</a></p>
			<p><a href="/en/ru/flashcards/parts-of-body" >Flashcards: Language Skills</a></p>
			<p><a href="/en/ru/flashcards/parts-of-body" title="Parts of Human Body">Flashcards: Parts of Human Body</a></p> 
			<p><a href="/en/ru/flashcards/bank" title="Bank and Money">Flashcards: Bank and Money</a></p>
			<p><a href="/en/ru/flashcards/computer" title="Computer and Internet">Flashcards: Computer and Internet</a></p>
			<p><a href="/en/ru/flashcards/telephone" title="Telephone calls">Flashcards: Telephone calls</a></p>
			<p><a href="/en/ru/flashcards/family" title="Family">Flashcards: Family and Relatives</a></p>
			<p><a href="/en/ru/flashcards/professions" title="Professions">Flashcards: Professions and occupations</a></p>
			<p><a href="/en/ru/flashcards/countries" title="Countries">Flashcards: Countries</a></p>
			<p><a href="/en/ru/flashcards/weather" title="Countries">Flashcards: Weather</a></p>
		  
        </div>
	
	</div>
</div>
<div id="for_tab03" class="pBlock" style="display: none">
	<div class="inpBlock">
	
	<h3>Content: </h3>
	
        <div class="inner-listing">	
          <p><a href="/en/ru/lexical-test/politeness" title="Formulas of politeness tests">Tests: Formulas of politeness</a></p> 
          <p><a href="/en/ru/lexical-test/acquaintance" title="Making acquaintance tests">Tests: Making acquaintance</a></p>

          <p><a href="/en/ru/lexical-test/airport" title="Airport tests">Tests: Airport</a></p>
          <p><a href="/en/ru/lexical-test/bus" title="City transport tests ">Tests: Bus, trolley, tram</a></p>
          <p><a href="/en/ru/lexical-test/subway" title="Subway tests">Tests: Subway</a></p>
          <p><a href="/en/ru/lexical-test/taxi" title="Taxi tests">Tests: Taxi</a></p>
          <p><a href="/en/ru/lexical-test/hotel" title="Hotel tests">Tests: Hotel</a></p>
          <p><a href="/en/ru/lexical-test/services" title="Services tests">Tests: Services</a></p>

          <p><a href="/en/ru/lexical-test/city" title="City">Tests: City</a></p>
          <p><a href="/en/ru/lexical-test/sightseeing" title="Sightseeing tests">Tests: Sightseeing</a></p>
          <p><a href="/en/ru/lexical-test/bread" title="Bread and confectionery tests">Tests: Bread and confectionery</a></p>
          <p><a href="/en/ru/lexical-test/gruel" title="Gruels and porridges tests ">Tests: Gruels and porridges</a></p>
          <p><a href="/en/ru/lexical-test/meat" title="Meat dishes tests">Tests: Meat dishes</a></p>
          <p><a href="/en/ru/lexical-test/fish" title="Fish dishes tests">Tests: Fish, fish dishes</a></p>

          <p><a href="/en/ru/lexical-test/dairy" title="Dairy produce tests">Tests: Dairy produce</a></p>
          <p><a href="/en/ru/lexical-test/vegetables" title="Vegetables tests">Tests: Vegetables</a></p>
          <p><a href="/en/ru/lexical-test/fruit" title="Fruit, berries tests">Tests: Fruit, berries</a></p>
          <p><a href="/en/ru/lexical-test/confectionery" title="Confectionery tests">Tests: Confectionery</a></p>
          <p><a href="/en/ru/lexical-test/drinks" title="Soft and strong drinks">Tests: Beverages, soft and strong drinks</a></p>
          <p><a href="clothing-test.html" title="Outdoor clothing tests">Tests: Outdoor clothing</a></p>

          <p><a href="/en/ru/lexical-test/lingerie" title="Lingerie and nightwear tests">Tests: Lingerie and nightwear</a></p>
          <p><a href="/en/ru/lexical-test/sportwear" title="Sportswear tests">Tests: Sportswear</a></p>
          <p><a href="/en/ru/lexical-test/shoes" title="Shoes tests">Tests: Shoes</a></p>
          <p><a href="/en/ru/lexical-test/accessories" title="Accessories tests">Tests: Accessories</a></p>
          <p><a href="/en/ru/lexical-test/perfumery" title="Perfumery tests">Tests: Perfumery</a></p>
          <p><a href="/en/ru/lexical-test/jewelry" title="Jewelry tests">Tests: Jewelry</a></p>

          <p><a href="/en/ru/lexical-test/video" title="Audio, video and photo tests">Tests: Audio, video and photo</a></p>
          <p><a href="numerals00-100-test.html" title="Cardinal numbers from 0 to 100 tests">Tests: Numbers from 0 to 100</a></p>
          <p><a href="numerals100-test.html" title="Cardinal numbers more than 100 tests">Tests: Numbers more than 100</a></p>
		  <p><a href="/en/ru/lexical-test/language-skills" title="Language Skills">Tests: Language Skills</a></p>
			<p><a href="/en/ru/lexical-test/parts-of-body" title="Parts of Human Body">Tests: Parts of Human Body</a></p> 
			<p><a href="/en/ru/lexical-test/bank" title="Bank and Money">Tests: Bank and Money</a></p>
			<p><a href="/en/ru/lexical-test/computer" title="Computer and Internet">Tests: Computer and Internet</a></p>
			<p><a href="/en/ru/lexical-test/telephone" title="Telephone calls">Tests: Telephone calls</a></p>
			<p><a href="/en/ru/lexical-test/family" title="Family">Tests: Family and Relatives</a></p>
			<p><a href="/en/ru/lexical-test/professions" title="Professions">Tests: Professions and occupations</a></p>
			<p><a href="/en/ru/lexical-test/countries" title="Countries">Tests: Countries</a></p>
			<p><a href="/en/ru/lexical-test/weather" title="Countries">Tests: Weather</a></p>
        </div>	
	</div>
</div>
<div id="for_tab04" class="pBlock" style="display: none">
	<div class="inpBlock">
	
	
	
		
		<a href="memory.html" class="forgame">

		<span class="gname">Memory Game</span>
		
		<img src="images/memory-thumb.gif" alt="Thumbnail of Memory Game" align="left"/>
		<span class="gdesc">Classical Memory Game with Russian words and their English equivalents.</span>
		
		</a>
		
		<a href="crossword-game.html" class="forgame">
		<span class="gname" style="position: relative;">Word Find Puzzle <span class="new_item" style="font-size: 20px; right: 0px; display: none;">&nbsp;NEW !!!&nbsp;</span></span>
		
		<img src="/images/crossword-thumb-1.gif" alt="" align="left"/>
			<span class="gdesc">
			Classical word search puzzle. A very good practice for those who start to learn reading in Russian and a good opportunity to work on the vocabulary topics.
			Russian words are hidden randomly each time you try the puzzle, so you can play more than once.


			</span>

		
		</a>
		
		
		<a href="balloon-game.html" class="forgame">
		<span class="gname">Hot Air Balloons</span>
		
		<img src="images/balloon-thumb(w).gif" alt="" align="left"/>

		<span class="gdesc">You can steer hot air ballons and only you can help them to land properly. However, you can not do without knowing the Russian language!</span>
		
		</a>
		
		<a href="sorcerer-game.html" class="forgame">
		<span class="gname">Fateful Battle</span>
		
		<img src="images/battle-thumb.gif" alt="" align="left"/>
			<span class="gdesc">
			The fateful hour for the humankind has come. Hordes of demons try to rush into our world in order to destroy the human race.<br> 
			However, humans still cherish the hope to survive: a mighty wizard Nestor has a great magic power to stop the evil spirits. 
			Be courageous, you and Nestor can bar the way of demons to our world!
			</span>
		</a>
	</div>
</div>

<script type="text/javascript">
currentSection="words";
</script>

