<% @page_title = 'Online Russian Vocabulary:  Weather' %>
<% @page_meta = {'description' => "Russian online vocabulary for learning words and phrases related to the topic Weather"} %>
<% @with_rec = true %>
<% @has_audio = true %>





<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Links and Settings</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
    				

    		</ul>
        <%= render :partial => 'colorder_accent' %>
	</div>
</div>
</div>




<h2 class="page">Weather</h2>

<div id="pagecontent"><div id="content">


<div class="dict_wrapper">
<table class="diction" cellpadding="0" cellspacing="0" align="center">

	<tr class="trow">
		<td class="original" valign="top">Погода
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('weather/sound21101.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[pagoda]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Weather
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Прогноз погоды
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('weather/sound21102.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[pragnos pagodi]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Weather forecast
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Холодно.
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('weather/sound21103.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[holadna]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">It is cold
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Прохладно.
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('weather/sound21104.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[prahladna]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">It is chilly
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Тепло.
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('weather/sound21105.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[tiplo]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">It is warm
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Жарко.
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('weather/sound21106.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[jarka]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">It is hot
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Ветрено.
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('weather/sound21107.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[vetrina]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">It is windy
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Ясно.
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('weather/sound21108.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[yasna]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">It is sunny.
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Пасмурно.
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('weather/sound21109.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[pasmoorna]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">It is cloudy.
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Мороз.
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('weather/sound21110.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[maros]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">It is frosty.
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Метель
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('weather/sound21111.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[mitel]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Blizzard
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Облака
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('weather/sound21112.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[ablaka]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Clouds
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Дождь
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('weather/sound21113.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[dosht]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Rain
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Снег
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('weather/sound21114.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[snek]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Snow
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Град
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('weather/sound21115.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[grat]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Hail
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Cолнце
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('weather/sound21116.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[sontse]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Sun
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Туман
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('weather/sound21117.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[tooman]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Fog
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Гроза
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('weather/sound21118.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[graza]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Thunder-storm
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">Гром
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('weather/sound21119.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[grom]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Thunder
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">буря
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('weather/sound21120.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[boorya]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Gale
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">шторм
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('weather/sound21121.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[shtorm]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Storm
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">осадки
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('weather/sound21122.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[asatki]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Rainfall
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">10 градусов тепла
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('weather/sound21123.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[desit gradoosaf tipla]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">+ 5 C
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">5 градусов выше нуля
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('weather/sound21124.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[pyat gradoosaf vishi noolya]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">+ 5 C (5 degrees above zero)
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">15 градусов ниже нуля
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('weather/sound21125.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[pitnatsat gradoosaf niji noolya]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">-15C (15 degrees below zero)
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">0 градусов
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('weather/sound21126.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[nol gradoosaf]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">0 C (0 degrees)
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">минус 5 градусов
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('weather/sound21127.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[minoos pyat gradoosaf]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">-5 C (minus 5 degrees)
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">плюс 20 градусов
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('weather/sound21128.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[plus dvadsat gradoosaf]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">+5 C (plus 20 degrees)
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">зима
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('weather/sound21129.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[zima]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">winter
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">лето
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('weather/sound21130.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[leta]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">summer
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">весна
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('weather/sound21131.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[visna]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">spring
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">осень
		</td>
		<td class="transcript" valign="top">
			<table onclick="playSound('weather/sound21132.mp3')" class="audiotrans" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>[osin]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">autumn
		</td>
	</tr>
	
</table>
</div>
<p class="after_dic" style="display: none;">If you want to check how you know these words, go to <a title="#" href="meat-test.html">Telephone calls</a></p>

<br>
<br><br><br><br>


</div>
</div>

<script type="text/javascript">
currentSection="words";
</script>