<% @page_title = 'Vowel Sounds' %>

<h3 style="text-align: center;">Vowel Sounds</h3>

<br>
<table class="sound-letter vowels" cellspacing="0" align="center">
  <tr>
    <th class="thbrd" style="font-weight: bold">Vowels</th>
  </tr>
  <tr class="trow">
    <td width="140"><span class="sound" onclick="playTestSound('/sounds/ru/sounds/sound201.mp3')">[a] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
  </tr>
  <tr class="trow">
    <td><span class="sound" onclick="playTestSound('/sounds/ru/sounds/sound202.mp3')">[e] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
  </tr>
  <tr class="trow">
    <td><span class="sound" onclick="playTestSound('/sounds/ru/sounds/sound203.mp3')">[o] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
  </tr>
  <tr class="trow">
    <td><span class="sound" onclick="playTestSound('/sounds/ru/sounds/sound204.mp3')">[oo] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
  </tr>
  <tr class="trow">
    <td><span class="sound" onclick="playTestSound('/sounds/ru/sounds/sound205.mp3')">[ i ] <span class="play_tip">&nbsp; &nbsp;</span></span></td>
  </tr>
  <tr class="trow">
    <td><span class="sound" onclick="playTestSound('/sounds/ru/sounds/sound206.mp3')">[ <span class="ry">i</span> ] <span class="play_tip">&nbsp; &nbsp; </span></span></td>
  </tr>
</table>
