<% @page_title = 'Russian Language Online: Phonetics course' %>
<% @page_meta = {'description' => "Online lessons to practise Russian pronunciation"} %>
<% @with_rec = true %>

<% content_for :special_js_css do %>

<style type="text/css">
h2.page {margin-bottom: 0px;}
</style>

<% end %>

<div class="hint_wrap">
<div class="hint_button" style="float: right;">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Recommended links</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
     				<li><a href="basic-sounds.html">Basic Russian sounds</a></li>
    				<li><a href="sounds-info.html">General Info about Russian Sounds</a></li>
    		</ul>
			   
	</div>
</div>
</div>

<h2 class="page">Cours de phonétique russe</h2>
<h3 class="page-path"><span class="int-links"><a href="pronunciation.html">Phonétique russe</a> <span class="int-arrow">--&gt;</span> Cours de phonétique</span></h3>
<div id="pagecontent"><div id="content">
<p>
Le travail avec ce cours vous aidera de percevoir et de distinguer les sons de la langue russe, ainsi que de comprendre comment les prononcer. 
Ce n'est que qu'un premier pas vers un bon accent russe. Afin d'améliorer votre prononciation, vous pouvez travailler avec les phrases et les dialogues de nos cours en ligne.
En travaillant avec ces phrases, nous vous recommendons de prêter attention non seulement à la prononciation des sons et des mots isolés, mais aussi à l'intonation de la phrase entière.
</p>
<p>
Si vous êtes un utilisateur enregistré, vous pouvez consulter les résultats des exercices et des tests que vous avez fait pendant les leçons.
Veillez vistiter la <a href="/signup">page d'inscription</a> pour plus d'informations. 
</p>

<h3 class="page-p">La liste des leçons </h3>
<p>
Tenant compte des particularités du système des sons russes, le cours de phonétique est conçu de la manière suivante: 
</p> 

<ol>
	<li><a href="/fr/phonetics01.html">Voyelles</a></li>
	<li><a href="/fr/phonetics02.html">Consonnes dures</a></li>
	<li><a href="/fr/phonetics03.html">Consonnes molles</a></li>
	<li><a href="/fr/phonetics04.html">Les sons les plus difficiles</a></li>
	
</ol>

<h3 class="page-p">Une brève description des leçons: </h3>

<div style="padding: 0pt 60px 0pt 40px;">
<h4>Leçon 1. Voyelles</h4> 
<p>
Cette leçon est consacrée à 5 voyelles russes qui ne sont pas très difficiles à prononcer pour les francophones.
<br/>
<a href="/fr/phonetics01.html">Visiter la page >></a>
</p>

<h4>Leçon 2. Consonnes dures</h4>  
<p>
La plupart des consonnes dures de la langue russe sont prononcées globalement de la même manière qu'en français. 
<br/>
<a href="/fr/phonetics02.html">Visiter la page >></a>
</p>

<h4>Leçon 3. Consonnes molles</h4>  
<p>
L'objectif principal de cette leçon est de démontrer la différence phonétique entre les consonnes dures et les consonnes molles de la langue russe.
<br/>
<a href="/fr/phonetics03.html">Visiter la page >></a>
</p>

<h4>Leçon 4. Les sons les plus difficiles</h4> 
<p>
Cette leçon porte sur les consonnes et les voyelles russes qui ont peu de traits communs avec les sons français et présentent la plus grande difficulté pour ceux qui apprennent le russe.
<br/>
<a href="/fr/phonetics04.html">Visiter la page >></a>
</p>
</div>

<h3 class="page-p">Description des exercices et recommendations </h3>
<p>
Au début de chaque leçon vous trouverez des exercices pour s'entraîner à la prononciation des sons et des syllabes isolées.
Après cela, il y a des exercices contenant des mots russes avec ces sons. 
Notez que la plupart des mots russes que vous pouvez rencontrer dans ce cours de phonétique sont des mots empruntés  d'autres langues. 
Ce sonts des mots désignant les noms des personnes, des pays, des villes et des régions. Il est donc possible de deviner ce qu'ils signifient même sans avoir lu leur traduction.
</p>
<p>
Avant de travailler avec ce cours de phonétique, il est recommandé  de visiter les pages <a href="/fr/basic-sounds.html">Les sons russes essentiels</a> et <a href="/fr/sounds-info.html">Le système des sons russes</a>
</p>
<br><br><br><br><br><br><br><br>


</div></div>

<script type="text/javascript">
currentSection="phonetic";
</script>
