<%
#  settings 
#  
#
#
#
#
#
@cluster_num = 78
if params[:set]
	@cluster_num=params[:set]
end
@cluster = Cluster.find(@cluster_num)
@voc= @cluster.words.find(:all, :include => :cluster_words, :order => 'cluster_words.order_num')

@pl_lesson = "Lesson template"
@pl_lang = "ru"
@pl_fs_size = "big"
@top_link = '<a href="/courses/beginner-course" class="su-tit-link">Course for Beginners »</a><br>'
%>

<%= render :partial => '/site/unit/phrases_unit' %>


