<% @page_title = 'Russian Language Online: Les règles de lecture en russe' %>
<% @page_meta = {'description' => "Online information about reading in Russian: list of reading rules"} %>

<% content_for :special_js_css do %>

<style type="text/css">
h2.page {margin-bottom: 0px;}

.tabl-read {
border: 2px groove #999999;
}
.tabl-read td {
border: 1px solid #777777;
padding: 15px;
}
.lists li {
padding-top: 5px;
}

</style>

<% end %>


<h2 class="page">Les règles de lecture</h2>
<h3 class="page-path">
	<span class="int-links">
	<a href="russian-reading.html">Lire en russe </a>
	<span class="int-arrow">--&gt;</span> Les règles de lecture
	</span>
</h3>

<p>
Si vous ne connaissez que <a href="basic-letters.html">les valeurs de base des lettres russes</a>, vous pourrez lire les mots russes de manière compréhensible pour les russophones.
En même temps, il vous faut tenir en compte que les lettres russes peuvent désigner plusieurs sons, c'est à dire avoir plusieurs valeurs. En général, leur lecture obéit à plusieurs principes qui ne sont pas difficiles à comprendre. Donc, si vous voulez lire en russe correctement, veuillez vister les pages suivantes:
</p>

<h3>Les règles de lecture:</h3>
	<ul class="lists" style="list-style: none; padding-bottom: 10px;">
			<li>- <a href="softness.html">La mouillure des consonnes russes</a></li>
			<li>- <a href="devocalization.html"> L'assourdissement et la sonorisation des consonnes</a></li>
			<li>- <a href="stress-reduction.html">L'accent et la réduction vocalique</a></li>
   			<li>- <a href="reading-exceptions.html">Les cas exceptionnels</a> </li>
		</ul>

<br><br><br><br><br><br><br><br><br><br>	
	
		
		
<script type="text/javascript">
currentSection="reading";
</script>
