<% @page_title = 'Russian Language Online: Exercises that help to learn Russian alphabet' %>
<% @page_meta = {'description' => "Online practice of reading in Russian: interactive exercises to learn Cyrillic alphabet"} %>

<% content_for :special_js_css do %>

<style type="text/css">
h2.page {margin-bottom: 0px;}
.texts-listing li {
padding: 2px 0px;
}
</style>

<% end %>

<h2 class="page">Learn Russian Alphabet</h2>
<h3 class="page-path"><span class="int-links"><a href="russian-reading.html">Reading in Russian</a> <span class="int-arrow">--&gt;</span> Russian alphabet exercises</span></h3>


<p>
Dans cette section, vous trouverez 3 leçons conçues pour ceux qui souhaitent apprendre l'alphabet russe (cyrillique). Chaque leçon comprend une liste de lettres (avec des examples audio) à apprendre et à différents exercices interactifs qui vous aideront à vous familiariser avec l'alphabet russe. 
</p>


<p>Ici, vous trouverez les leçons suivantes:  </p>

<div class="les-desc" style="padding: 0pt 60px 0pt 40px;">
<h4>Leçon 1. Les lettres-voyelles</h4>
<p>
Dans cette leçon, vous pouvez travailler avec des lettres russes désignant les voyelles: A, Е, Ё, И, О, У, Ы, Э, Ю, Я. La plupart d'entre elles ne ressemblent pas aux lettres de l'alphabet français et nécessitent beaucoup d'attention et d'efforts pour être apprises.
<br/>
<a title="Leçon 1" href="/fr/russian-alphabet-exercises-01.html">Visiter cette leçon >></a>
</p>

<h4>Leçon 2. Les lettres-consonnes </h4>
<p>
Dans cette leçon, vous pouvez travailler avec les lettres russes В, З, К, М, Н, Р, С, Т, Х, Ч. Ces lettres peuvent sembler similaires aux lettres de l'alphabet français, mais la plupart d'entre elles signifient des sons tout à fait différents.
<br/>
<a title="Leçon 2" href="/fr/russian-alphabet-exercises-02.html">Visiter cette leçon >></a>
</p>

<h4>Leçon 2. Les lettres-consonnes (suite)</h4>
<p>
Dans cette leçon, vous pouvez travailler avec les lettres russes Б, Г, Д, Ж, Й, Л, П, Ф, Ц, Ш, Щ, Ь et signes Ь (signe mou) et Ъ (signe dur). Ces lettres peuvent sembler inhabituel et nouveau pour les francophones, car leur aspect est tout à fait différent par rapport aux lettres de l'alphabet français.
<br/>
<a title="Leçon 3" href="/russian-alphabet-exercises-03.html">Visiter cette leçon >></a>
</p>

</div>

<br>

<p>
Dans la plupart des exercices, les éléments sont triés au hasard chaque fois que vous démarrez l'exercice, afin que vous puissiez travailler avec eux plus d'une fois.
Après avoir répondu à toutes les questions d'un exercice, vous pouvez voir vos résultats, y compris le nombre total des questions et le nombre de réponses correctes. Nous vous recommandons de faire l'exercice une fois de plus, si votre résultat total est inférieur à 90%.

</p>

<br><br><br><br><br><br><br><br>


<script type="text/javascript">
currentSection="reading";
</script>
