<% @page_title = 'Stress and reduction of vowels' %>
<% @page_meta = {'description' => "Online information about stress and reduction of vowels in Russian with audio examples"} %>
<% @with_rec = true %>
<% @has_audio = true %>



<% content_for :special_js_css do %>
<%= stylesheet_link_tag 'stylesounds' %>

<style type="text/css">
h2.page {margin-bottom: 0px;}

.sound-letter td {
width: 20%;
}
.italic-letter {
font-style: italic;
font-family: Times New Roman;
}
</style>
<% end %>

<div class="hint_wrap">
<div class="hint_button" style="float: right;">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Links and Settings</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
    				<li><a href="basic-letters.html">Russian Letters</a></li>
    				<li><a href="softness.html">Softness </a></li>
					<li><a href="devocalization.html">Devocalization</a></li>
					<li><a href="reading-exceptions.html">Exceptional cases</a> </li>
					<li><a href="basic-reading-rules.html">Basic rules</a> </li>
    				<li><a href="reading-practice.html">Training exercises</a></li>
    		</ul>
        <%= render :partial => 'preload_option' %>
	</div>
</div>
</div>
<div id="pagecontent"><div id="content">


<h2 class="page">L'accent et la réduction vocalique</h2>
<h3 class="page-path">
	<span class="int-links">
	<a href="russian-reading.html">Reading in Russian</a>
	<span class="int-arrow">--&gt;</span> 
	<a href="readingrules.html">Rules of reading</a>
	<span class="int-arrow">--&gt;</span> Stress and reduction of vowels
	</span>
</h3>

<h3 class="page-p">L'accent vocalique </h3>
<p>
L'accent joue un rôle important dans la langue russe. 
Afin de parler russe correctement, il est nécessaire de connaître le place de l'accent dans les mots. 
Dans certains cas, un accent incorrecte provoque une modification de la signification ou de la valeur grammaticale du mot. 
L'accent du russe n'est pas fixe, il peut affecter n'importe quelle partie du mot (début, centre, fin) et il n'est pas indiqué à l'écrit. 
En outre, l'accent peut changer sa place dans différentes formes d'un même mot ce qui présente un vrai problème pour 
ceux qui commencent à apprendre le russe.
</p>
<p>
En russe, les mots sont normalement écrits sans marques de l'accent. 
Par conséquent, il est important pour ceux qui apprennent le russe d'accorder une attention particulière à la place de l'accent dans les mots. 
Afin d'aider à mémoriser la place de l'accent, on utilise souvent le signe [ <strong>&#xB4;</strong> ] placé au-dessus de la voyelle accentuée. 
Sur notre site il y a plusieurs modes de montrer l'accent des mots dans les textes russes.
Nous ne montrons pas l'accent dans les mots monosyllabiques, ainsi que dans les mots avec la lettre <span class="letter">ё</span> qui est toujours accentuée. 
Dans les transcriptions des mots russes, les voyelles accentuées sont toujours en gras.
</p>


<h3 class="page-p">Réduction vocalique</h3> 
<p>
En russe, les voyelles atones sont prononcées moins distinctement que les voyelles accentuées. Ce phénomène est appelé <dfn>réduction vocalique</dfn>.
À la suite de la réduction vocalique, la lecture de certaines lettres-voyelles ne correspond pas à leur valeur alphabétique.
</p>
<p>
Le réduction n'affecte pas les lettres <span class="letter">и</span>, <span class="letter">ы</span>, <span class="letter">у</span>, 
<span class="letter">ю</span>. 
La lettre <span class="letter">ё</span> est toujours accentuée, c'est pourquoi elle est toujours lue comme <span class="sound" onclick="playSound('sound107.mp3')">[yo]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span> 
(au début d'un mot, après les voyelles et les signes <span class="letter">ь</span> et <span class="letter">ъ</span>) ou bien comme <span class="sound" onclick="playSound('sound203.mp3')">[o]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span> (après les consonnes). 
</p>
<p>
Dans des syllabes atones, la lettre <span class="letter">а</span> peut désigner une voyelle neutre <span class="sound" onclick="playSound('sound252.mp3')">[ə] <span class="play_tip">&nbsp; &nbsp;</span></span>. 
Il est à noter que nous n'allons pas refléter cette nuance de prononciation dans la transcription puisque nous considérons ce fait comme peu important pour ceux qui commencent à apprendre le russe.
Pour cette raison, la lettre <span class="letter">а</span> désigne toujours le son <span class="sound" onclick="playSound('sound201.mp3')">[a] <span class="play_tip">&nbsp; &nbsp;</span></span> dans toutes les transcriptions de notre site. 
</p>
<p>
La réduction vocalique est importante pour la lecture des lettres <span class="letter">е</span>, 
<span class="letter">о</span>, <span class="letter">э</span> et <span class="letter">я</span> qui sont lues dans les syllabes atones de la manière suivante: 
</p>
<p>
<span class="letter">е</span> - <span class="sound" onclick="playSound('sound251.mp3')">[yi] <span class="play_tip">&nbsp; &nbsp;</span></span> au début d'un mot, après les voyelles et les signes <span class="letter">ь</span> et <span class="letter">ъ</span><br>
&nbsp;   

&nbsp;-  <span class="sound" onclick="playSound('sound205.mp3')">[i] <span class="play_tip">&nbsp; &nbsp;</span></span> après les consonnes
</p>


<div class="egdiv eg-sound ">
<h4>Exemples: </h4>
<p><strong>Les lettres mises en surbrillance désignent les cas de réduction vocalique concernant la lettre <span style="font-weight: normal; font-style" italic;">е</span>:</strong>
</p>
<p>
<span class="eg">пить<span class="reduct_letter">е</span>вая вода</span>
<span class="sound" onclick="playSound('sound08908.mp3')">[pit'yivaya vada] &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
 <span class="egt">eau potable</span>
</p>
<p>
<span class="eg">адр<span class="reduct_letter">е</span>с</span>
<span class="sound" onclick="playSound('sound06104.mp3')">[adris] &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
 <span class="egt">adresse</span>
</p>
</div>


<p>
<span class="letter">о</span> est lue comme <span class="sound" onclick="playSound('sound201.mp3')">[а] <span class="play_tip">&nbsp; &nbsp;</span></span>
</p>

<div class="egdiv eg-sound ">
<h4>Exemples: </h4>
<p><strong>Les lettres mises en surbrillance désignent les cas de réduction vocalique concernant la lettre <span style="font-weight: normal; font-style" italic;">о</span>:</strong></p>
<p>
<span class="eg">гор<span class="reduct_letter">о</span>д</span>
<span class="sound" onclick="playSound('sound06101.mp3')">[gorat] &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
 <span class="egt">ville</span>
</p>
<p>
<span class="eg"><span class="reduct_letter">о</span>бед</span>
<span class="sound" onclick="playSound('sound04123.mp3')">[ab'et] &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
 <span class="egt">déjeuner</span>
</p>
</div>



<p>
<span class="letter">э</span>  - <span class="sound" onclick="playSound('sound205.mp3')">[i] <span class="play_tip">&nbsp; &nbsp;</span></span> au début d'un mot et après les voyelles<br>
&nbsp;&nbsp;    - <span class="sound" onclick="playSound('sound206.mp3')">[<span class="ry">i</span>] <span class="play_tip">&nbsp; &nbsp;</span></span> après les consonnes (dans de rares cas)
</p>

<div class="egdiv eg-sound ">
<h4>Examples: </h4>
<p><strong>Les lettres mises en surbrillance désignent les cas de réduction vocalique concernant la lettre <span style="font-weight: normal; font-style" italic;">э</span>:</strong></p>
<p>
<span class="eg"><span class="reduct_letter">э</span>кскурсия</span>
<span class="sound" onclick="playSound('sound07118.mp3')">[ikskoursiya] &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
 <span class="egt">excursion</span>
</p>
<p>
<span class="eg">р<span class="reduct_letter">э</span>кетир</span>
<span class="sound" onclick="playSound('reading/soundeg02010.mp3')">[r<s>i</s>kitir] &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
 <span class="egt">racketteur</span>
</p>
</div>


<p>
<span class="letter">я</span>  – <span class="sound" onclick="playSound('sound251.mp3')">[yi] <span class="play_tip">&nbsp; &nbsp;</span></span> au début d'un mot, après les voyelles et les signes <span class="letter">ь</span> et <span class="letter">ъ</span><br>
&nbsp;   -  <span class="sound" onclick="playSound('sound205.mp3')">[i] <span class="play_tip">&nbsp; &nbsp;</span></span>  après les consonnes 
</p>


<div class="egdiv eg-sound ">
<h4>Examples: </h4>
<p><strong>Les lettres mises en surbrillance désignent les cas de réduction vocalique concernant la lettre <span style="font-weight: normal; font-style" italic;">я</span>:</strong></p>
<p>
<span class="eg"><span class="reduct_letter">я</span>нтарь</span>
<span class="sound" onclick="playSound('sound09726.mp3')">[yintar'] &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
 <span class="egt">ambre</span>
</p>
<p>
<span class="eg">пам<span class="reduct_letter">я</span>тник</span>
<span class="sound" onclick="playSound('sound07109.mp3')">[pamitnik] &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
 <span class="egt">monument</span>
</p>
</div>


<p class="ital">MAIS:</p>
<p>
La lettre <span class="letter">е</span> désigne une voyelle intermédiaire entre les sons <span class="sound" onclick="playSound('sound205.mp3')">[i] <span class="play_tip">&nbsp; &nbsp;</span></span> et <span class="sound" onclick="playSound('sound202.mp3')">[e] <span class="play_tip">&nbsp; &nbsp;</span></span> quand elle se trouve dans les terminaisons atones de noms, pronoms, adjectives etc. Dans de tels cas, nous conseillons de la lire comme <span class="sound" onclick="playSound('sound202.mp3')">[e] <span class="play_tip">&nbsp; &nbsp;</span></span> (<span class="sound" onclick="playSound('sound106.mp3')">[ye] <span class="play_tip">&nbsp; &nbsp;</span></span> aprés les voyelles et le signe <span class="letter">ь</span>). 
</p>


<p>
La lettre <span class="letter">я</span> est lue comme <span class="sound" onclick="playSound('sound201.mp3')">[a] <span class="play_tip">&nbsp; &nbsp;</span></span> (<span class="sound" onclick="playSound('sound133.mp3')">[ya] <span class="play_tip">&nbsp; &nbsp;</span></span> après les voyelles et le signe <span class="letter">ь</span>) quand elle se trouve dans les terminaisons atones de noms, pronoms, adjectives etc.. 
</p>

<div class="egdiv eg-sound ">
<h4>Exemples: </h4>
<p>
<span class="eg">кофе</span>
<span class="sound"  onclick="playSound('sound08904.mp3')">[kof'e] &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
 <span class="egt">café (boisson)</span>
</p>
<p>
<span class="eg">платье</span>
<span class="sound"  onclick="playSound('sound09110.mp3')">[plat'ye] &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
 <span class="egt">robe</span>
</p>
<p>
<span class="eg">здание</span>
<span class="sound" onclick="playSound('sound06110.mp3')">[zdaniye] &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
 <span class="egt">bâtiment</span>
</p>
<p>
<span class="eg">вишня</span>
<span class="sound" onclick="playSound('sound08709.mp3')">[vichn'a] &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
 <span class="egt">	cerise </span>
</p>
<p>
<span class="eg">набережная</span>
<span class="sound" onclick="playSound('sound06113.mp3')">[nabirijnaya] &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
 <span class="egt">quai</span>
</p>

</div>




<br><br><br><br><br><br><br><br><br><br><br><br><br>








</div></div>

<script type="text/javascript">
currentSection="reading";
</script>
