<% @page_title='La langue russe en ligne: Vocabulaire russe' %>
<% @page_meta = {'description' => "Russian online vocabulary sorted by topics with audio examples, transcription and translation"} %>


<%

@categories = Category.find(:all, :conditions=> ["lang=? and tag!=?", 'ru', ''])

%>




<% content_for :special_js_css do %>

<script type="text/javascript">

<%if params[:tab] %>
	openTabFromUrl(<%= params[:tab] %>);
<%else%>
	openTabFromUrl();
<%end%>
	
</script>

<style type="text/css">
#prof_tabs {margin-top: 50px;}
.inpBlock {min-height: 800px; height: auto !important; height: 800px;}
.pBlock {padding: 40px 50px;}
.forgame {}

.content a.forgame {
color: #222222;
text-decoration: none;
height: 240px;
padding: 0px 10px; 
display: block
}

.content a.forgame img {
display: block;
}

a.forgame span.gname {
display: block;
font-size: 14pt;
margin: 0px 0px 10px 20px;
padding-top: 10px;
}

a.forgame span.gdesc {
margin-left: 200px;
display: block;
}

</style>

<% end %>


<h2 class="page">Vocabulaire russe</h2>

<p>
Chaque rubrique contient une liste de mots et de phrases russes accompagnés de leurs traduction et transcription. 
Ici, vous trouverez également des exercices et des tests interactifs qui vous aideront à vous familiariser avec la langue russe.
</p>

<p style="display: none">
If you are a registered user, the results of the tests are saved and can be reviewed in your account. 
</p>

<p style="display: none">
We advise to visit <a href="functions.html">Functions and settings</a> page to read information about available functions that may make it easier to work with topics, and <a href="test-use.html">How to use tests</a> page to learn how to work with tests.

</p>


<div id="prof_tabs">
	<div id="tabs_row">
            <div id="tab01" class="ptab current_ptab"><div><a href="vocabulary.html" style="color: #000;">Vocabulaire</a></div></div>
            <div id="tab02" class="ptab"><div><a href="vocabulary_exercises.html">Cartes Mémoire</a></div></div>
            <div id="tab03" class="ptab"><div><a href="vocabulary_tests.html">&nbsp;&nbsp; Tests &nbsp;&nbsp;</a></div></div>

            <div id="tab04" class="ptab"><div><a href="vocabulary_games.html">&nbsp;&nbsp; Jeux &nbsp;&nbsp;</a></div></div>
	</div>
	<div style="clear: both;"></div>
</div>

<div id="for_tab01" class="pBlock" style="display: block">

	<div class="inpBlock">
	
	<h3>Contenu: </h3>
      <div class="bold inner-listing">
	  
            <p><a href="/fr/ru/vocabulary/politeness" title="Formules de politesse">I. Formules de politesse</a></p> 
            <p><a href="/fr/ru/vocabulary/acquaintance" title="Faire connaissance">II. Faire connaissance</a></p>
            <p><a href="/fr/transport.html" title="Transport">III. Transports</a></p>
			
        <div class="secondary-list" >
            <p><a href="/fr/ru/vocabulary/airport" title="Aéroport">1. Aéroport</a></p>
            <p><a href="/fr/ru/vocabulary/bus" title="Bus, trolleybus, tramway">2. Bus, trolleybus, tramway</a></p>

            <p><a href="/fr/ru/vocabulary/subway" title="Métro">3. Métro</a></p>
            <p><a href="/fr/ru/vocabulary/taxi" title="Taxi">4. Taxi</a></p>
        </div>
		
            <p><a href="/fr/ru/vocabulary/hotel" title="Hôtel">IV. Hôtel</a></p>
            <p><a href="/fr/ru/vocabulary/services" title="Services">V. Services</a></p>
            <p><a href="/fr/ru/vocabulary/city" title="En ville">VI. Ville</a></p>

            <p><a href="/fr/ru/vocabulary/sightseeing" title="Curiosites">VII. Curiosites</a></p>
			
			
            <p id="repas"><a href="#repas" title="Repas">VIII. Repas</a></p>
        <div  class="secondary-list">
            <p><a href="/fr/ru/vocabulary/bread" title="Boulangerie, patisserie">1. Boulangerie, patisserie</a></p>
            <p><a href="/fr/ru/vocabulary/gruel" title="Bouillies">2. Bouillies</a></p>
            <p><a href="meat.html" title="Plats de viande">3. Plats de viande</a></p>

            <p><a href="/fr/ru/vocabulary/fish" title="Poisson, plats de poissons">4. Poisson, plats de poisson</a></p>
            <p><a href="/fr/ru/vocabulary/dairy" title="Produits laitiers">5. Produits laitiers</a></p>
            <p><a href="/fr/ru/vocabulary/vegetables" title="Légumes">6. Légumes</a></p>
            <p><a href="/fr/ru/vocabulary/fruit" title="Fruits et baies">7. Fruits et baies</a></p>
            <p><a href="/fr/ru/vocabulary/confectionery" title="Confiserie">8. Confiserie</a></p>
            <p><a href="/fr/ru/vocabulary/drinks" title="Boissons">9. Boissons</a></p>

        </div>
        <p><a href="shopping.html" title="Shopping">IX. Shopping</a></p>
        <div  class="secondary-list">
            <p><a href="/fr/ru/vocabulary/clothing" title="Vêtements">1. Vêtements</a></p>
            <p><a href="/fr/ru/vocabulary/lingerie" title="Sous-vêtement">2. Sous-vêtement</a></p>
            <p><a href="/fr/ru/vocabulary/sportwear" title="Tenue de sport">3. Tenue de sport</a></p>
            <p><a href="/fr/ru/vocabulary/shoes" title="Chaussures">4. Chaussures</a></p>

            <p><a href="/fr/ru/vocabulary/accessories" title="Accessoires">5. Accessoires</a></p>
            <p><a href="/fr/ru/vocabulary/perfumery" title="Parfumerie">6. Parfumerie</a></p>
            <p><a href="/fr/ru/vocabulary/jewelry" title="Bijouterie">7. Bijouterie</a></p>
            <p><a href="/fr/ru/vocabulary/video" title="Audio, vidéo et photo">8. Audio, vidéo et photo</a></p>
        </div>
        <p><a href="numerals.html" title="Numerals">X. Russian numbers</a></p>

        <div  class="secondary-list">
            <p><a href="/numerals00-100.html" title="Cardinal numbers from 0 to 100">1. Cardinal numbers from 0 to 100</a></p>
            <p><a href="/numerals100.html" title="Cardinal numbers more than 100">2. Cardinal numbers more than 100</a></p>
            <p><a href="/fr/ru/vocabulary/ordinal_numerals" title="Ordinal numbers">3. Ordinal numbers</a></p>
        </div>
		<p><a href="/fr/ru/vocabulary/language-skills" title="Language Skills">XI. Language skills</a></p> 
		<p><a href="/fr/ru/vocabulary/countries" title="Pays">XI. Pays et continents</a></p> 
	 </div>
	 
	 
	 <br><br><br><br><br><br>

	</div>
</div>
<div id="for_tab02" class="pBlock" style="display: none">
	<div class="inpBlock">
		
	<h3>Contenu: </h3>
	
        <div class="inner-listing">	
          <p><a href="/fr/ru/flashcards/politeness" >Cartes Mémoire: Formules de politesse</a></p> 
          <p><a href="/fr/ru/flashcards/acquaintance" >Cartes Mémoire: Faire connaissance</a></p>

          <p><a href="/fr/ru/flashcards/airport" >Cartes Mémoire: Aéroport</a></p>
          <p><a href="/fr/ru/flashcards/bus">Cartes Mémoire: Bus, trolleybus, tramway</a></p>
          <p><a href="/fr/ru/flashcards/subway" >Cartes Mémoire: Métro</a></p>
          <p><a href="/fr/ru/flashcards/taxi" >Cartes Mémoire: Taxi</a></p>
          <p><a href="/fr/ru/flashcards/hotel" >Cartes Mémoire: Hôtel</a></p>
          <p><a href="/fr/ru/flashcards/services" >Cartes Mémoire: Services</a></p>

          <p><a href="/fr/ru/flashcards/city" >Cartes Mémoire: Ville</a></p>
          <p><a href="/fr/ru/flashcards/sightseeing" >Cartes Mémoire: Curiosités</a></p>
          <p><a href="/fr/ru/flashcards/bread" >Cartes Mémoire: Boulangerie, patisserie</a></p>
          <p><a href="/fr/ru/flashcards/gruel" >Cartes Mémoire: Bouillies</a></p>
          <p><a href="/fr/ru/flashcards/meat" >Cartes Mémoire: Plats de viande</a></p>
          <p><a href="/fr/ru/flashcards/fish" >Cartes Mémoire: Poisson, plats de poisson</a></p>

          <p><a href="/fr/ru/flashcards/dairy" >Cartes Mémoire: Produits laitiers</a></p>
          <p><a href="/fr/ru/flashcards/vegetables" >Cartes Mémoire: Légumes</a></p>
          <p><a href="/fr/ru/flashcards/fruit" >Cartes Mémoire: Fruits et baies</a></p>
          <p><a href="/fr/ru/flashcards/confectionery">Cartes Mémoire:  Confiserie</a></p>
          <p><a href="/fr/ru/flashcards/drinks">Cartes Mémoire: Boissons</a></p>
          <p><a href="/fr/ru/flashcards/clothing" >Cartes Mémoire: Vêtements</a></p>

          <p><a href="/fr/ru/flashcards/lingerie" >Cartes Mémoire: Sous-vêtement</a></p>
          <p><a href="/fr/ru/flashcards/sportwear" >Cartes Mémoire: Tenue de sport</a></p>
          <p><a href="/fr/ru/flashcards/shoes" >Cartes Mémoire: Chaussures</a></p>
          <p><a href="/fr/ru/flashcards/accessories" >Cartes Mémoire: Accessoires</a></p>
          <p><a href="/fr/ru/flashcards/perfumery" >Cartes Mémoire: Parfumerie</a></p>
          <p><a href="/fr/ru/flashcards/jewelry" >Cartes Mémoire: Bijouterie</a></p>

          <p><a href="/fr/ru/flashcards/video" >Cartes Mémoire: Audio, vidéo et photo</a></p>
			<p><a href="/fr/ru/flashcards/parts-of-body" >Cartes Mémoire: Language Skills</a></p>
			<p><a href="/fr/ru/flashcards/professions" title="Professions">Cartes Mémoire: Professions and occupations</a></p>
			<p><a href="/fr/ru/flashcards/countries" title="Countries">Cartes Mémoire: Pays et continents</a></p>
		  
        </div>
	
	</div>
</div>
<div id="for_tab03" class="pBlock" style="display: none">
	<div class="inpBlock">
	
	<h3>Content: </h3>
	
        <div class="inner-listing">	
          <p><a href="/fr/ru/lexical-test/politeness" title="Formulas of politeness tests">Tests: Formulas of politeness</a></p> 
          <p><a href="/fr/ru/lexical-test/acquaintance" title="Making acquaintance tests">Tests: Making acquaintance</a></p>

          <p><a href="/fr/ru/lexical-test/airport" title="Airport tests">Tests: Airport</a></p>
          <p><a href="/fr/ru/lexical-test/bus" title="City transport tests ">Tests: Bus, trolley, tram</a></p>
          <p><a href="/fr/ru/lexical-test/subway" title="Subway tests">Tests: Subway</a></p>
          <p><a href="/fr/ru/lexical-test/taxi" title="Taxi tests">Tests: Taxi</a></p>
          <p><a href="/fr/ru/lexical-test/hotel" title="Hotel tests">Tests: Hotel</a></p>
          <p><a href="/fr/ru/lexical-test/services" title="Services tests">Tests: Services</a></p>

          <p><a href="/fr/ru/lexical-test/city" title="City">Tests: City</a></p>
          <p><a href="/fr/ru/lexical-test/sightseeing" title="Sightseeing tests">Tests: Sightseeing</a></p>
          <p><a href="/fr/ru/lexical-test/bread" title="Bread and confectionery tests">Tests: Bread and confectionery</a></p>
          <p><a href="/fr/ru/lexical-test/gruel" title="Gruels and porridges tests ">Tests: Gruels and porridges</a></p>
          <p><a href="/fr/ru/lexical-test/meat" title="Meat dishes tests">Tests: Meat dishes</a></p>
          <p><a href="/fr/ru/lexical-test/fish" title="Fish dishes tests">Tests: Fish, fish dishes</a></p>

          <p><a href="/fr/ru/lexical-test/dairy" title="Dairy produce tests">Tests: Dairy produce</a></p>
          <p><a href="/fr/ru/lexical-test/vegetables" title="Vegetables tests">Tests: Vegetables</a></p>
          <p><a href="/fr/ru/lexical-test/fruit" title="Fruit, berries tests">Tests: Fruit, berries</a></p>
          <p><a href="/fr/ru/lexical-test/confectionery" title="Confectionery tests">Tests: Confectionery</a></p>
          <p><a href="/fr/ru/lexical-test/drinks" title="Soft and strong drinks">Tests: Beverages, soft and strong drinks</a></p>
          <p><a href="clothing-test.html" title="Outdoor clothing tests">Tests: Outdoor clothing</a></p>

          <p><a href="/fr/ru/lexical-test/lingerie" title="Lingerie and nightwear tests">Tests: Lingerie and nightwear</a></p>
          <p><a href="/fr/ru/lexical-test/sportwear" title="Sportswear tests">Tests: Sportswear</a></p>
          <p><a href="/fr/ru/lexical-test/shoes" title="Shoes tests">Tests: Shoes</a></p>
          <p><a href="/fr/ru/lexical-test/accessories" title="Accessories tests">Tests: Accessories</a></p>
          <p><a href="/fr/ru/lexical-test/perfumery" title="Perfumery tests">Tests: Perfumery</a></p>
          <p><a href="/fr/ru/lexical-test/jewelry" title="Jewelry tests">Tests: Jewelry</a></p>

          <p><a href="/fr/ru/lexical-test/video" title="Audio, video and photo tests">Tests: Audio, video and photo</a></p>
          <p><a href="numerals00-100-test.html" title="Cardinal numbers from 0 to 100 tests">Tests: Numbers from 0 to 100</a></p>
          <p><a href="numerals100-test.html" title="Cardinal numbers more than 100 tests">Tests: Numbers more than 100</a></p>
		  <p><a href="/fr/ru/lexical-test/language-skills" title="Language Skills">Tests: Language Skills</a></p>
			<p><a href="/fr/ru/lexical-test/parts-of-body" title="Parts of Human Body">Tests: Parts of Human Body</a></p> 
			<p><a href="/fr/ru/lexical-test/bank" title="Bank and Money">Tests: Bank and Money</a></p>
			<p><a href="/fr/ru/lexical-test/computer" title="Computer and Internet">Tests: Computer and Internet</a></p>
			<p><a href="/fr/ru/lexical-test/telephone" title="Telephone calls">Tests: Telephone calls</a></p>
			<p><a href="/fr/ru/lexical-test/family" title="Family">Tests: Family and Relatives</a></p>
			<p><a href="/fr/ru/lexical-test/professions" title="Professions">Tests: Professions and occupations</a></p>
			<p><a href="/fr/ru/lexical-test/countries" title="Countries">Tests: Countries</a></p>
			<p><a href="/fr/ru/lexical-test/weather" title="Countries">Tests: Weather</a></p>
        </div>	
	</div>
</div>
<div id="for_tab04" class="pBlock" style="display: none">
	<div class="inpBlock">
	
	
	
		
		<a href="memory.html" class="forgame">

		<span class="gname">Memory Game</span>
		
		<img src="images/memory-thumb.gif" alt="Thumbnail of Memory Game" align="left"/>
		<span class="gdesc">Classical Memory Game with Russian words and their English equivalents.</span>
		
		</a>
		
		<a href="crossword-game.html" class="forgame">
		<span class="gname" style="position: relative;">Word Find Puzzle <span class="new_item" style="font-size: 20px; right: 0px; display: none;">&nbsp;NEW !!!&nbsp;</span></span>
		
		<img src="/images/crossword-thumb-1.gif" alt="" align="left"/>
			<span class="gdesc">
			Classical word search puzzle. A very good practice for those who start to learn reading in Russian and a good opportunity to work on the vocabulary topics.
			Russian words are hidden randomly each time you try the puzzle, so you can play more than once.


			</span>

		</a>
		
		<a href="balloon-game.html" class="forgame">
		<span class="gname">Hot Air Balloons</span>
		
		<img src="images/balloon-thumb(w).gif" alt="" align="left"/>

		<span class="gdesc">You can steer hot air ballons and only you can help them to land properly. However, you can not do without knowing the Russian language!</span>
		
		</a>
		
		<a href="sorcerer-game.html" class="forgame">
		<span class="gname">Fateful Battle</span>
		
		<img src="images/battle-thumb.gif" alt="" align="left"/>
			<span class="gdesc">
			The fateful hour for the humankind has come. Hordes of demons try to rush into our world in order to destroy the human race.<br> 
			However, humans still cherish the hope to survive: a mighty wizard Nestor has a great magic power to stop the evil spirits. 
			Be courageous, you and Nestor can bar the way of demons to our world!
			</span>
		</a>
	</div>
</div>

<script type="text/javascript">
currentSection="words";
</script>

