
#menu_body #nav1 a {
margin-left: 60px;
}

#menu_body #nav2 a {
margin-left: 25px;
}

#menu_body #nav3 a {
margin-left: 43px;
padding: 0px;
}

#menu_body #nav4 a {
margin-left: 37px;
}

#menu_body #nav5 a {
margin-left: 37px;
}

#menu_body #nav6 a {
margin-left: 18px;
}

#menu_body #nav7 a {
margin-left: 37px !important;
padding:0px;
}

#menu_body #nav7 input {
width: 140px;
}

div#menu_content {
background-color: #fff;
min-height: 600px;
height: auto !important;
height: 600px;
}

div#navigation {
position: relative;
float: left;
}

#nav-pos {
margin-top: 10px;
margin-left: 14px;
position: absolute;
}




