<% @page_title = 'Adjectives with stem ending in -г, -к, -х ' %>

<h3>Declension of adjectives with stem ending in -г, -к, -х</h3>

<p>The table below represents the examples of such adjectives declension:</p>

<p>- adjective <span class="eg">дорогой</span> <span class="egt">expensive</span>, with a stressed ending</p>

<table cellspacing="0" class="st-table"> 
<tbody>
<tr>
	<th rowspan="2" style="text-align:center">&nbsp;Case</th>
	<th colspan="3" style="text-align:center">&nbsp;Singular</th>
	<th rowspan="2" class="thbrd" style="text-align:center;width:70px">&nbsp;Plural</th>
</tr>
<tr>
<td style="text-align:center;width:70px">&nbsp;<i>masculine</i></td>
<td style="text-align:center;width:70px"><i>&nbsp;feminine</i></td>
<td style="text-align:center;width:70px"><i>&nbsp;neuter</i></td>
</tr>
<tr>
<td class="case-name">Nominative</td>
<td style="text-align:center">дорог<span class="end">ой</span></td>
<td style="text-align:center">дорог<span class="end">ая</span></td>
<td style="text-align:center">дорог<span class="end">ое</span></td>
<td style="text-align:center">дорог<span class="end">ие</span></td>
</tr>
<tr>
<td class="case-name">Genitive</td>
<td style="text-align:center">дорог<span class="end">ого</span></td>
<td style="text-align:center">дорог<span class="end">ой</span></td>
<td style="text-align:center">дорог<span class="end">ого</span></td>
<td style="text-align:center">дорог<span class="end">их</span></td>
</tr>
<tr>
<td class="case-name">Dative</td>
<td style="text-align:center">дорог<span class="end">ому</span></td>
<td style="text-align:center">дорог<span class="end">ой</span></td>
<td style="text-align:center">дорог<span class="end">ому</span></td>
<td style="text-align:center">дорог<span class="end">им</span></td>
</tr>
<tr>
<td class="case-name">Accusative</td>
<td>&nbsp;<i>Nom/Gen</i></td>
<td style="text-align:center">дорог<span class="end">ую</span></td>
<td style="text-align:center">&nbsp;<i>Nom</i></td>
<td style="text-align:center">&nbsp;<i>Nom/Gen</i></td>
</tr>
<tr>
<td class="case-name">Instrumental</td>
<td style="text-align:center">дорог<span class="end">им</span></td>
<td style="text-align:center">дорог<span class="end">ой</span></td>
<td style="text-align:center">дорог<span class="end">им</span></td>
<td style="text-align:center">дорог<span class="end">ими</span></td>
</tr>
<tr>
<td class="case-name">Prepositional</td>
<td style="text-align:center">дорог<span class="end">ом</span></td>
<td style="text-align:center">дорог<span class="end">ой</span></td>
<td style="text-align:center">дорог<span class="end">ом</span></td>
<td style="text-align:center">дорог<span class="end">их</span></td>
</tr>
</tbody>
</table>

<p>- adjective <span class="eg">строгий</span> <span class="egt">severe</span>, with a stress on the stem</p>

<table cellspacing="0" class="st-table"> 
<tbody>
<tr>
	<th rowspan="2" style="text-align:center">&nbsp;Case</th>
	<th colspan="3" style="text-align:center">&nbsp;Singular</th>
	<th rowspan="2" class="thbrd" style="text-align:center;width:70px">&nbsp;Plural</th>
</tr>
<tr>
<td style="text-align:center;width:70px">&nbsp;<i>masculine</i></td>
<td style="text-align:center;width:70px"><i>&nbsp;feminine</i></td>
<td style="text-align:center;width:70px"><i>&nbsp;neuter</i></td>
</tr>
<tr>
<td class="case-name">Nominative</td>
<td style="text-align:center">строг<span class="end">ий</span></td>
<td style="text-align:center">строг<span class="end">ая</span></td>
<td style="text-align:center">строг<span class="end">ое</span></td>
<td style="text-align:center">строг<span class="end">ие</span></td>
</tr>
<tr>
<td class="case-name">Genitive</td>
<td style="text-align:center">строг<span class="end">ого</span></td>
<td style="text-align:center">строг<span class="end">ой</span></td>
<td style="text-align:center">строг<span class="end">ого</span></td>
<td style="text-align:center">строг<span class="end">их</span></td>
</tr>
<tr>
<td class="case-name">Dative</td>
<td style="text-align:center">строг<span class="end">ому</span></td>
<td style="text-align:center">строг<span class="end">ой</span></td>
<td style="text-align:center">строг<span class="end">ому</span></td>
<td style="text-align:center">строг<span class="end">им</span></td>
</tr>
<tr>
<td class="case-name">Accusative</td>
<td>&nbsp;<i>Nom/Gen</i></td>
<td style="text-align:center">строг<span class="end">ую</span></td>
<td style="text-align:center">&nbsp;<i>Nom</i></td>
<td style="text-align:center">&nbsp;<i>Nom/Gen</i></td>
</tr>
<tr>
<td class="case-name">Instrumental</td>
<td style="text-align:center">строг<span class="end">им</span></td>
<td style="text-align:center">строг<span class="end">ой</span></td>
<td style="text-align:center">строг<span class="end">им</span></td>
<td style="text-align:center">строг<span class="end">ими</span></td>
</tr>
<tr>
<td class="case-name">Prepositional</td>
<td style="text-align:center">строг<span class="end">ом</span></td>
<td style="text-align:center">строг<span class="end">ой</span></td>
<td style="text-align:center">строг<span class="end">ом</span></td>
<td style="text-align:center">строг<span class="end">их</span></td>
</tr>
</tbody>
</table>