<% @page_title = 'Declension of possessive adjectives with stem ending in -[y] ' %>

<h3>Declension of possessive adjectives with stem ending in -[y] </h3>

<p>The table below represents the example of such adjectives declension:</p>

<p>- adjective <span class="eg">лисий</span> <span class="egt">fox's</span></p>

<table cellspacing="0" class="st-table"> 
<tbody>
<tr>
	<th rowspan="2" style="text-align:center">&nbsp;Case</td>
	<th colspan="3" style="text-align:center">&nbsp;Singular</td>
	<th rowspan="2" class="thbrd" style="text-align:center;width:70px">&nbsp;Plural</td>
</tr>
<tr>
<td style="text-align:center;width:70px">&nbsp;<i>masculine</i></td>
<td style="text-align:center;width:70px"><i>&nbsp;feminine</i></td>
<td style="text-align:center;width:70px"><i>&nbsp;neuter</i></td>
</tr>
<tr>
<td class="case-name">Nominative</td>
<td style="text-align:center">лисий<span class="end">Ø</span></td>
<td style="text-align:center">лись<span class="end">я</span></td>
<td style="text-align:center">лись<span class="end">е</span></td>
<td style="text-align:center">лись<span class="end">и</span></td>
</tr>
<tr>
<td class="case-name">Genitive</td>
<td style="text-align:center">лись<span class="end">его</span></td>
<td style="text-align:center">лись<span class="end">ей</span></td>
<td style="text-align:center">лись<span class="end">его</span></td>
<td style="text-align:center">лись<span class="end">их</span></td>
</tr>
<tr>
<td class="case-name">Dative</td>
<td style="text-align:center">лись<span class="end">ему</span></td>
<td style="text-align:center">лись<span class="end">ей</span></td>
<td style="text-align:center">лись<span class="end">ему</span></td>
<td style="text-align:center">лись<span class="end">им</span></td>
</tr>
<tr>
<td class="case-name">Accusative</td>
<td>&nbsp;<i>Nom/Gen</i></td>
<td style="text-align:center">лись<span class="end">ю</span></td>
<td style="text-align:center">&nbsp;<i>Nom</i></td>
<td style="text-align:center">&nbsp;<i>Nom/Gen</i></td>
</tr>
<tr>
<td class="case-name">Instrumental</td>
<td style="text-align:center">лись<span class="end">им</span></td>
<td style="text-align:center">лись<span class="end">ей</span></td>
<td style="text-align:center">лись<span class="end">им</span></td>
<td style="text-align:center">лись<span class="end">ими</span></td>
</tr>
<tr>
<td class="case-name">Prepositional</td>
<td style="text-align:center">лись<span class="end">ем</span></td>
<td style="text-align:center">лись<span class="end">ей</span></td>
<td style="text-align:center">лись<span class="end">ем</span></td>
<td style="text-align:center">лись<span class="end">их</span></td>
</tr>
</tbody>
</table>