<% @page_title = 'Declension of possessive adjectives ending in -ин(-ын), -ов(-ев) ' %>

<h3>Declension of possessive adjectives ending in -ин(-ын), -ов(-ев) </h3>

<p>The table below represents the example of such adjectives declension:</p>


<p>- adjective <span class="eg">папин</span> <span class="egt">father's</span></p>


<table cellspacing="0" class="st-table" > 
<tbody>
<tr>
	<th rowspan="2" style="text-align:center">&nbsp;Case</td>
	<th colspan="3" style="text-align:center">&nbsp;Singular</td>
	<th rowspan="2" class="thbrd" style="text-align:center;width:70px">&nbsp;Plural</td>
</tr>
<tr>
<td style="text-align:center;width:70px">&nbsp;<i>masculine</i></td>
<td style="text-align:center;width:70px"><i>&nbsp;feminine</i></td>
<td style="text-align:center;width:70px"><i>&nbsp;neuter</i></td>
</tr>
<tr>
<td class="case-name">Nominative</td>
<td style="text-align:center">папин<span class="end">Ø</span></td>
<td style="text-align:center">папин<span class="end">а</span></td>
<td style="text-align:center">папин<span class="end">о</span></td>
<td style="text-align:center">папин<span class="end">ы</span></td>
</tr>
<tr>
<td class="case-name">Genitive</td>
<td style="text-align:center">папин<span class="end">а</span> <br><em>or</em> папин<span class="end">ого</span></td>
<td style="text-align:center">папин<span class="end">ой</span></td>
<td style="text-align:center">папин<span class="end">а</span> <br><em>or</em> папин<span class="end">ого</span></td>
<td style="text-align:center"папин>папин<span class="end">ых</span></td>
</tr>
<tr>
<td class="case-name">Dative</td>
<td style="text-align:center">папин<span class="end">у</span></td>
<td style="text-align:center">папин<span class="end">ой</span></td>
<td style="text-align:center">папин<span class="end">у</span></td>
<td style="text-align:center">папин<span class="end">ым</span></td>
</tr>
<tr>
<td class="case-name">Accusative</td>
<td>&nbsp;<i>Nom/Gen</i></td>
<td style="text-align:center">папин<span class="end">у</span></td>
<td style="text-align:center">&nbsp;<i>Nom</i></td>
<td style="text-align:center">&nbsp;<i>Nom/Gen</i></td>
</tr>
<tr>
<td class="case-name">Instrumental</td>
<td style="text-align:center">папин<span class="end">ым</span></td>
<td style="text-align:center">папин<span class="end">ой</span></td>
<td style="text-align:center">папин<span class="end">ым</span></td>
<td style="text-align:center">папин<span class="end">ыми</span></td>
</tr>
<tr>
<td class="case-name">Prepositional</td>
<td style="text-align:center">папин<span class="end">ом</span></td>
<td style="text-align:center">папин<span class="end">ой</span></td>
<td style="text-align:center">папин<span class="end">ом</span></td>
<td style="text-align:center">папин<span class="end">ых</span></td>
</tr>
</tbody>
</table>