<% @page_title = 'Words list to the exercises: Past Tense of Verbs' %>

<% content_for :special_js_css do %>
<script type="text/javascript"> 
	searchOnPage();
</script>
<%end%>

<h3>Words list to the exercises</h3>

<p>The table below represents words and phrases used in the exercises:</p>

<p class="ital bold">Words: </p>


<table style="margin-left: 20px;">

<tr><td>	банк	-	bank	</td></tr>
<tr><td>	библиотека	-	library	</td></tr>
<tr><td>	билет	-	ticket	</td></tr>
<tr><td>	быть	-	to be	</td></tr>
<tr><td>	в 	-	in	</td></tr>
<tr><td>	виза	-	visa	</td></tr>
<tr><td>	выставка	-	exhibition	</td></tr>
<tr><td>	говорить	-	to talk, to speak	</td></tr>
<tr><td>	диалог	-	dialogue	</td></tr>
<tr><td>	друг	-	friend	</td></tr>
<tr><td>	ехать	-	to go (by a vehicle)	</td></tr>
<tr><td>	жить	-	to live	</td></tr>
<tr><td>	здание	-	building	</td></tr>
<tr><td>	знать	-	to know	</td></tr>
<tr><td>	интересный	-	interesting	</td></tr>
<tr><td>	книга	-	book	</td></tr>
<tr><td>	кресло	-	armchair	</td></tr>
<tr><td>	лежать	-	to lie, to be located	</td></tr>
<tr><td>	любить	-	to love, to like	</td></tr>
<tr><td>	магазин	-	shop	</td></tr>
<tr><td>	машина	-	car	</td></tr>
<tr><td>	на	-	on	</td></tr>
<tr><td>	напротив	-	opposite	</td></tr>
<tr><td>	о	-	about	</td></tr>
<tr><td>	парк	-	park	</td></tr>
<tr><td>	пациент	-	patient	</td></tr>
<tr><td>	платье	-	dress	</td></tr>
<tr><td>	по-французски	-	in French	</td></tr>
<tr><td>	повторять	-	to repeat, to revise	</td></tr>
<tr><td>	помогать	-	to help	</td></tr>
<tr><td>	посещать	-	to visit	</td></tr>
<tr><td>	правило	-	rule	</td></tr>
<tr><td>	предложение	-	sentence	</td></tr>
<tr><td>	программист	-	programmer	</td></tr>
<tr><td>	путешествие	-	travel	</td></tr>
<tr><td>	работа	-	work	</td></tr>
<tr><td>	рассказывать	-	to tell	</td></tr>
<tr><td>	ресторан	-	restaurant	</td></tr>
<tr><td>	рядом	-	near	</td></tr>
<tr><td>	с 	-	with	</td></tr>
<tr><td>	смотреть	-	to watch	</td></tr>
<tr><td>	стол	-	table	</td></tr>
<tr><td>	стоять	-	to stand, to be located	</td></tr>
<tr><td>	студент	-	student	</td></tr>
<tr><td>	стул	-	chair	</td></tr>
<tr><td>	театр	-	theater	</td></tr>
<tr><td>	телевизор	-	TV set	</td></tr>
<tr><td>	учитель	-	teacher	</td></tr>
<tr><td>	to учить	-	to learn	</td></tr>

</table>

<p class="ital bold">Phrases: </p>

<table>
<tr><td>	У меня есть ....	-	I have ...	</td></tr>
</table>

