<% @page_title = 'Words list to the exercises: Russian Nouns Gender' %>

<h3>Words list to the exercises</h3>

<p>The table below represents words and phrases used in the exercises:</p>

<p class="ital bold">Words: </p>


<table style="margin-left: 20px;">
<tr><td>багаж  - 	luggage	</td></tr>
<tr><td>банан  -	 banana	</td></tr>
<tr><td>билет  -  ticket		</td></tr>
<tr><td>виза  - visa		</td></tr>
<tr><td>вино  - wine		</td></tr>
<tr><td>водка - vodka		</td></tr>
<tr><td>кафе - cafe		</td></tr>
<tr><td>лимон - lemon		</td></tr>
<tr><td>машина - car		</td></tr>
<tr><td>метро - subway-		</td></tr>
<tr><td>музей -	museum	</td></tr>
<tr><td>музыка - music		</td></tr>
<tr><td>паспорт -	passport</td></tr>
<tr><td>проблема -	problem</td></tr>
<tr><td>станция - station	</td></tr>
<tr><td>сувенир	- souvenir	</td></tr>
<tr><td>такси	- taxi	</td></tr>
<tr><td>телефон	- phone	</td></tr>
<tr><td>фото  -	 photo	</td></tr>
<tr><td>фотография - photograph	</td></tr>
<tr><td>чай	- tea		</td></tr>
<tr><td>шоколад - chocolate	</td></tr>

<tr><td>мой, моя, моё - my	</td></tr>

<tr><td>этот, эта, это - this	</td></tr>
</table>

<p class="ital bold">Phrases: </p>

<table>
<tr><td>Это ...- This is ...	</td></tr>
<tr><td>Мне нравится - I like ....	</td></tr>
</table>

