<% @page_title = 'Grammar Comments: Russian Personal Pronouns' %>

<% content_for :special_js_css do %>
<%end%>

<h3>Russian Personal Pronouns</h3>
<p>
Personal pronouns in Russian distinguish three persons, two numbers, six cases, and, in the third person, three genders. 
The tables below shows the declension patterns of each of the personal pronoun. 
</p>

<h3>Singular Personal Pronouns</h3>


<table class="st-table" cellspacing="0" >
	<tr style="vertical-align: middle;">
		<th rowspan="2">Case</th>

		<th rowspan="2">1st Person</th>
		<th rowspan="2">2nd Person</th>

		<th colspan="3" style="padding-top: 8px; padding-bottom: 8px;" class="thbrd">3d Person</th>

	</tr>
	<tr class="second-th gend-tds" style="vertical-align: middle;">
		<td>masculine</td>

		<td>feminine</td>
		<td>neuter</td>

	</tr>
	<tr class="eng-pron">
		<td>&nbsp;</td>
		<td>I</td>
		<td>You</td>

		<td>He/It</td>
		<td>She/It</td>

		<td>It</td>
	</tr>
	<tr class="trow">
		<td class="case-name">Nom</td>
		<td>я</td>

		<td>ты</td>

		<td>он</td>
		<td>она</td>
		<td>оно</td>
	</tr>
	<tr class="trow">
		<td class="case-name">Gen</td>

		<td>меня</td>
		<td>тебя</td>
		<td>его</td>
		<td>её</td>
		<td>его</td>
	</tr>

	<tr class="trow">
		<td  class="case-name">Dat</td>
		<td>мне</td>
		<td>тебе</td>
		<td>ему</td>
		<td>ей</td>

		<td>ему</td>
	</tr>
	<tr class="trow">
		<td class="case-name">Acc</td>
		<td>меня</td>
		<td>тебя</td>

		<td>его</td>

		<td>её</td>
		<td>его</td>
	</tr>
	<tr class="trow">
		<td class="case-name">Ins</td>

		<td>мной</td>
		<td>тобой</td>

		<td>им</td>
		<td>ей</td>
		<td>им</td>
	</tr>

	<tr class="trow">
		<td class="case-name">Prep</td>
		<td>мне</td>

		<td>тебе</td>
		<td>нём</td>
		<td>ней</td>

		<td>нём</td>
	</tr>
</table>

<h3>Plural Personal Pronouns</h3>


<table class="st-table" cellspacing="0" >
	<tr style="vertical-align: middle;">
		<th >Case</th>

		<th >1st Person</th>
		<th >2nd Person</th>
		<th style="padding-top: 8px; padding-bottom: 8px;" class="thbrd">3d Person</th>

	</tr>
	<tr class="eng-pron">
		<td>&nbsp;</td>
		<td>We</td>

		<td>You</td>
		<td>They</td>
	</tr>

	<tr class="trow">
		<td class="case-name">Nom</td>
		<td>мы</td>

		<td>вы</td>
		<td>они</td>
	</tr>
	<tr class="trow">

		<td class="case-name">Gen</td>
		<td>нас</td>

		<td>вас</td>
		<td>их</td>
	</tr>
	<tr class="trow">
		<td  class="case-name">Dat</td>

		<td>нам</td>

		<td>вам</td>
		<td>им</td>

	</tr>
	<tr class="trow">
		<td class="case-name">Acc</td>

		<td>нас</td>

		<td>вас</td>
		<td>их</td>
	</tr>
	<tr class="trow">
		<td class="case-name">Ins</td>
		<td>нами</td>

		<td>вами</td>
		<td>ими</td>
	</tr>
	<tr class="trow">
		<td class="case-name">Prep</td>
		<td>нас</td>
		<td>вас</td>

		<td>них</td>
	</tr>
</table>

<br><br><br><br><br><br>

