<% @page_title = 'Words list for the exercises: Instrumental case ' %>

<% content_for :special_js_css do %>
<script type="text/javascript"> 
	searchOnPage();
</script>
<%end%>

<h3>Words list for the exercises</h3>

<p>The table below represents words and phrases used in the exercises:</p>

<p class="ital bold">Words: </p>


<table style="margin-left: 20px;">

<tr><td>	актриса	-	actress	</td></tr>
<tr><td>	американец	-	American	</td></tr>
<tr><td>	биология	-	biology	</td></tr>
<tr><td>	встречаться	-	to meet	</td></tr>
<tr><td>	говорит (говорить)	-	to talk	</td></tr>
<tr><td>	город	-	city	</td></tr>
<tr><td>	доктор	-	doctor	</td></tr>
<tr><td>	дом	-	house	</td></tr>
<tr><td>	доска	-	blackboard	</td></tr>
<tr><td>	жилой дом	-	apartment building	</td></tr>
<tr><td>	за	-	behind	</td></tr>
<tr><td>	заниматься	-	to practise	</td></tr>
<tr><td>	здание	-	building	</td></tr>
<tr><td>	знакомиться	-	to get acquainted	</td></tr>
<tr><td>	известен, известна	-	known	</td></tr>
<tr><td>	инжинер	-	engineer	</td></tr>
<tr><td>	интересоваться	-	to be interested in	</td></tr>
<tr><td>	канадец	-	Canadian	</td></tr>
<tr><td>	карандаш	-	pencil	</td></tr>
<tr><td>	краска	-	paint	</td></tr>
<tr><td>	кровать	-	bed	</td></tr>
<tr><td>	лежит (лежать)	-	[it] is lying, is reclining (to lie)	</td></tr>
<tr><td>	любит (любить)	-	[he, she] loves (to love)	</td></tr>
<tr><td>	мел	-	chalk	</td></tr>
<tr><td>	менеджер	-	manager	</td></tr>
<tr><td>	мой, моя, моё, мои	-	my	</td></tr>
<tr><td>	музей	-	museum	</td></tr>
<tr><td>	музыка	-	music	</td></tr>
<tr><td>	на	-	at	</td></tr>
<tr><td>	находится	-	is (located)	</td></tr>
<tr><td>	океан	-	ocean	</td></tr>
<tr><td>	окружён	-	surrounded	</td></tr>
<tr><td>	омывается (омываться)	-	is washed (to be washed)	</td></tr>
<tr><td>	парк	-	park	</td></tr>
<tr><td>	писатель	-	writer	</td></tr>
<tr><td>	пишет (писать)	-	[he, she] is writing, writes (to write)	</td></tr>
<tr><td>	площадь	-	square	</td></tr>
<tr><td>	по телефону	-	by phone	</td></tr>
<tr><td>	под	-	under	</td></tr>
<tr><td>	познакомиться	-	to get acquainted	</td></tr>
<tr><td>	поле	-	field	</td></tr>
<tr><td>	программист	-	programmer	</td></tr>
<tr><td>	работать	-	to work	</td></tr>
<tr><td>	разговаривать	-	to talk	</td></tr>
<tr><td>	ресторан	-	restaurant	</td></tr>
<tr><td>	Россия	-	Russia	</td></tr>
<tr><td>	ручка	-	pen	</td></tr>
<tr><td>	с	-	with	</td></tr>
<tr><td>	самый старый	-	the oldest	</td></tr>
<tr><td>	санаторий 	-	sanatorium	</td></tr>
<tr><td>	сестра	-	sister	</td></tr>
<tr><td>	спорт	-	sport	</td></tr>
<tr><td>	стать	-	to become	</td></tr>
<tr><td>	студент	-	student	</td></tr>
<tr><td>	театр	-	theater	</td></tr>
<tr><td>	три	-	three	</td></tr>
<tr><td>	учитель	-	teacher	</td></tr>
<tr><td>	француженка	-	Frenchwoman	</td></tr>
<tr><td>	француз	-	Frenchman	</td></tr>
<tr><td>	хочет (хотеть)	-	[he, she] wants (to want)	</td></tr>
<tr><td>	центр	-	center	</td></tr>
<tr><td>	церковь	-	church	</td></tr>
<tr><td>	часто	-	often	</td></tr>
<tr><td>	этот, эта, это	-	this	</td></tr>
<tr><td>	является (являться)	-	[he, she, it] is (to be)	</td></tr>



</table>



