<% @page_title = 'Grammar Comments: Declension of qualitative and relational Adjectives' %>

<% content_for :special_js_css do %>
<%end%>

<h3>Declension of qualitative and relational adjectives</h3>

<p>
Russian qualitative and relational adjectives fall into three groups: 
</p>

<ol>
	<li>
		Hard-stem adjectives
	</li>
	<li>
		Sof-stem adjectives
	</li>
	<li>
		Adjectives with stem ending in -<span class="eg">г, -к, -х</span> and <span class="eg">-ж, -ш, -ч, щ</span>
	</li>
</ol>

<h4>Endings of hard-stem adjectives:</h4>



<table cellspacing="0" class="st-table"> 
<tbody>
<tr>
	<th rowspan="2" style="text-align:center">&nbsp;Case</th>
	<th colspan="3" style="text-align:center">&nbsp;Singular</th>
	<th rowspan="2" class="thbrd" style="text-align:center;width:70px">&nbsp;Plural</th>

</tr>
<tr>
<td style="text-align:center;width:70px">&nbsp;<i>masculine</i></td>
<td style="text-align:center;width:70px"><i>&nbsp;feminine</i></td>
<td style="text-align:center;width:70px"><i>&nbsp;neuter</i></td>
</tr>
<tr>
<td class="case-name">Nominative</td>
<td style="text-align:center">-ой/-ый</td>
<td style="text-align:center">-ая</td>
<td style="text-align:center">-ое</td>

<td style="text-align:center">-ые</td>
</tr>
<tr>
<td class="case-name">Genitive</td>
<td style="text-align:center">-ого</td>
<td style="text-align:center">-ой</td>
<td style="text-align:center">-ого</td>
<td style="text-align:center">-ых</td>
</tr>
<tr>
<td class="case-name">Dative</td>

<td style="text-align:center">-ому</td>
<td style="text-align:center">-ой</td>
<td style="text-align:center">-ому</td>
<td style="text-align:center">-ым</td>
</tr>
<tr>
<td class="case-name">Accusative</td>
<td>&nbsp;<i>Nom/Gen</i></td>
<td style="text-align:center">-ую</td>
<td style="text-align:center">&nbsp;<i>Nom</i></td>

<td style="text-align:center">&nbsp;<i>Nom/Gen</i></td>
</tr>
<tr>
<td class="case-name">Instrumental</td>
<td style="text-align:center">-ым</td>
<td style="text-align:center">-ой</td>
<td style="text-align:center">-ым</td>
<td style="text-align:center">-ыми</td>
</tr>
<tr>
<td class="case-name">Prepositional</td>

<td style="text-align:center">-ом</td>
<td style="text-align:center">-ой</td>
<td style="text-align:center">-ом</td>
<td style="text-align:center">-ых</td>
</tr>
</tbody>
</table>


<p>See <a href="/grammar_comments/hard-adjectives-declension_grc.html">examples of hard-stem adjectives declension</a></p>

<h4>Endings of soft-stem adjectives:</h4>

<table cellspacing="0" class="st-table"> 
<tbody>
<tr>
	<th rowspan="2" style="text-align:center">&nbsp;Case</th>
	<th colspan="3" style="text-align:center">&nbsp;Singular</th>
	<th rowspan="2" class="thbrd" style="text-align:center;width:70px">&nbsp;Plural</th>

</tr>
<tr>
<td style="text-align:center;width:70px">&nbsp;<i>masculine</i></td>
<td style="text-align:center;width:70px"><i>&nbsp;feminine</i></td>
<td style="text-align:center;width:70px"><i>&nbsp;neuter</i></td>
</tr>
<tr>
<td class="case-name">Nominative</td>
<td style="text-align:center">-ий</td>
<td style="text-align:center">-яя</td>
<td style="text-align:center">-ее</td>

<td style="text-align:center">-ие</td>
</tr>
<tr>
<td class="case-name">Genitive</td>
<td style="text-align:center">-его</td>
<td style="text-align:center">-ей</td>
<td style="text-align:center">-его</td>
<td style="text-align:center">-их</td>
</tr>
<tr>
<td class="case-name">Dative</td>

<td style="text-align:center">-ему</td>
<td style="text-align:center">-ей</td>
<td style="text-align:center">-ему</td>
<td style="text-align:center">-им</td>
</tr>
<tr>
<td class="case-name">Accusative</td>
<td>&nbsp;<i>Nom/Gen</i></td>
<td style="text-align:center">-юю</td>
<td style="text-align:center">&nbsp;<i>Nom</i></td>

<td style="text-align:center">&nbsp;<i>Nom/Gen</i></td>
</tr>
<tr>
<td class="case-name">Instrumental</td>
<td style="text-align:center">-им</td>
<td style="text-align:center">-ей</td>
<td style="text-align:center">-им</td>
<td style="text-align:center">-ими</td>
</tr>
<tr>
<td class="case-name">Prepositional</td>

<td style="text-align:center">-ем</td>
<td style="text-align:center">-ей</td>
<td style="text-align:center">-ем</td>
<td style="text-align:center">-их</td>
</tr>
</tbody>
</table>


<p>See <a href="/grammar_comments/soft-adjectives_grc.html">examples of soft-stem adjectives declension</a></p>


<h4>Endings of adjectives with stem ending in -г, -к, -х
</h4>

<table cellspacing="0" class="st-table"> 
<tbody>
<tr>
	<th rowspan="2" style="text-align:center">&nbsp;Case</th>
	<th colspan="3" style="text-align:center">&nbsp;Singular</th>

	<th rowspan="2" class="thbrd" style="text-align:center;width:70px">&nbsp;Plural</th>
</tr>
<tr>
<td style="text-align:center;width:70px">&nbsp;<i>masculine</i></td>
<td style="text-align:center;width:70px"><i>&nbsp;feminine</i></td>
<td style="text-align:center;width:70px"><i>&nbsp;neuter</i></td>
</tr>
<tr>
<td class="case-name">Nominative</td>
<td style="text-align:center">-ой/-ий</td>

<td style="text-align:center">-ая</td>
<td style="text-align:center">-ое</td>
<td style="text-align:center">-ие</td>
</tr>
<tr>
<td class="case-name">Genitive</td>
<td style="text-align:center">-ого</td>
<td style="text-align:center">-ой</td>
<td style="text-align:center">-ого</td>
<td style="text-align:center">-их</td>

</tr>
<tr>
<td class="case-name">Dative</td>
<td style="text-align:center">-ому</td>
<td style="text-align:center">-ой</td>
<td style="text-align:center">-ому</td>
<td style="text-align:center">-им</td>
</tr>
<tr>
<td class="case-name">Accusative</td>
<td>&nbsp;<i>Nom/Gen</i></td>

<td style="text-align:center">-ую</td>
<td style="text-align:center">&nbsp;<i>Nom</i></td>
<td style="text-align:center">&nbsp;<i>Nom/Gen</i></td>
</tr>
<tr>
<td class="case-name">Instrumental</td>
<td style="text-align:center">-им</td>
<td style="text-align:center">-ой</td>
<td style="text-align:center">-им</td>
<td style="text-align:center">-ими</td>

</tr>
<tr>
<td class="case-name">Prepositional</td>
<td style="text-align:center">-ом</td>
<td style="text-align:center">-ой</td>
<td style="text-align:center">-ом</td>
<td style="text-align:center">-их</td>
</tr>
</tbody>
</table>

<p>See <a href="/grammar_comments/adjectives-in-g-k-h-declension_grc.html">examples of adjectives with stem ending in -г, -к, -х declension</a></p>


<h4>Endings of adjectives with stem ending in -ж, -ш, -ч, -щ </h4>

<table cellspacing="0" class="st-table"> 
<tbody>
<tr>
	<th rowspan="2" style="text-align:center">&nbsp;Case</th>
	<th colspan="3" style="text-align:center">&nbsp;Singular</th>
	<th rowspan="2" class="thbrd" style="text-align:center;width:70px">&nbsp;Plural</th>
</tr>
<tr>
<td style="text-align:center;width:70px">&nbsp;<i>masculine</i></td>
<td style="text-align:center;width:70px"><i>&nbsp;feminine</i></td>
<td style="text-align:center;width:70px"><i>&nbsp;neuter</i></td>
</tr>
<tr>
<td class="case-name">Nominative</td>
<td style="text-align:center">-ой/-ий</td>

<td style="text-align:center">-ая</td>
<td style="text-align:center">-ое/-ее</td>
<td style="text-align:center">-ие</td>
</tr>
<tr>
<td class="case-name">Genitive</td>
<td style="text-align:center">-ого/-его</td>
<td style="text-align:center">-ой/-ей</td>
<td style="text-align:center">-ого/-его</td>
<td style="text-align:center">-их</td>

</tr>
<tr>
<td class="case-name">Dative</td>
<td style="text-align:center">-ому/-ему</td>
<td style="text-align:center">-ой/-ей</td>
<td style="text-align:center">-ому/-ему</td>
<td style="text-align:center">-им</td>
</tr>
<tr>
<td class="case-name">Accusative</td>
<td>&nbsp;<i>Nom/Gen</i></td>

<td style="text-align:center">-ую</td>
<td style="text-align:center">&nbsp;<i>Nom</i></td>
<td style="text-align:center">&nbsp;<i>Nom/Gen</i></td>
</tr>
<tr>
<td class="case-name">Instrumental</td>
<td style="text-align:center">-им</td>
<td style="text-align:center">-ой/-ей</td>
<td style="text-align:center">-им</td>
<td style="text-align:center">-ими</td>

</tr>
<tr>
<td class="case-name">Prepositional</td>
<td style="text-align:center">-ом/-ем</td>
<td style="text-align:center">-ой/-ей</td>
<td style="text-align:center">-ом/-ем</td>
<td style="text-align:center">-их</td>
</tr>
</tbody>
</table>


<p>See <a href="/grammar_comments/adjectives-in-j-sh-declension_grc.html">examples of with stem ending in -ж, -ш, -ч, -щ declension</a></p>


