<% @page_title = 'Grammar Comments: Russian Nouns Gender' %>

<% content_for :special_js_css do %>




<%end%>

<h3>Russian Nouns Gender: Basic Rules</h3>


<p>
The basic rules to determine grammatical gender of Russian nouns are: 
</p>
<ol class="ital">
	<li>Masculine nouns usually end in a consonant letter or <span class="eg">-й</span></li>
	<li>Feminine nouns usually end in <span class="eg">-a</span> or <span class="eg">–я</span></li>
	<li>Neuter nouns usually end in <span class="eg">-о</span>, <span class="eg">-е</span>, or <span class="eg">-ё</span>.</li>
</ol>


<p>
The form of adjectives, pronouns, some numerals and some verb tenses will agree with noun’s gender, for example:
</p>

<p>- pronoun <span class="eg">мой</span> <span class="egt">my</span><br>
&nbsp;&nbsp;&nbsp;<u>мой</u> паспорт  (my passport)<br>
&nbsp;&nbsp;&nbsp;<u>моя</u> виза  (my visa)<br>
&nbsp;&nbsp;&nbsp;<u>моё</u> такси (my taxi)
</p>

<p>- pronoun <span class="eg">этот</span> <span class="egt">this</span> <br>

&nbsp;&nbsp;&nbsp;<u>этот</u> паспорт (this passport) <br>
&nbsp;&nbsp;&nbsp;<u>эта</u> виза  (this visa) <br>
&nbsp;&nbsp;&nbsp;<u>это</u> такси (this taxi)
</p>


