<% @page_title = 'Grammar Comments: Genitive singular' %>

<% content_for :special_js_css do %>



<%end%>

<h3>Genitive singular: Basic Rules</h3>


<p>
The table below represents basic endings of the genitive singular: 
</p>


<table cellspacing="0" class="st-table"> 
<col width="150">
<col width="150">
<tr>
	<th style="text-align:center">&nbsp;Gender</th>
	<th class="thbrd" style="text-align:center;">&nbsp;Endings</th>
</tr>
<tr>
<td class="case-name">Masculine</td>
<td style="text-align:center"><span class="end">-а / -я</span></td>
</tr>
<tr>
<td class="case-name">Feminine</td>
<td style="text-align:center"><span class="end">-ы / -и</span></td>
</tr>
<tr>
<td class="case-name">Neuter</td>
<td style="text-align:center"><span class="end">-а / -я</span></td>
</tr>
</table>

<p>
These endings are added to the stem of nouns, which is formed by dropping the nominative singular endings. 
</p>
<p>
The endings -<span class="end">я</span> (for masculine and neuter) and -<span class="end">и</span> (for feminine nouns) are used if the final consonant of the stem is soft 
(so called <i><a href="/grammar_comments/grex-soft-stem-nouns_grc.html">soft stem nouns</a></i>). 
</p>

<p>
According to the <a href="/grammar_comments/spelling-rules_grc.html">spelling rule #1</a> feminine nouns ending  -<span class="letter">жа</span>, -<span class="letter">чa</span>, -<span class="letter">ща</span>, -<span class="letter">ша</span> and -<span class="letter">ка</span>, -<span class="letter">ха</span>, -<span class="letter">га</span> can not add the ending -<span class="letter">ы</span>. 
That is why they will have the ending -<span class="letter">и</span> in the genitive singular. 
</p>



