<% @page_title = 'Words list for the exercises: Genitive Plural ' %>

<% content_for :special_js_css do %>
<script type="text/javascript"> 
	searchOnPage();
</script>
<%end%>

<h3>Words list for the exercises</h3>

<p>The table below represents words and phrases used in the exercises:</p>

<p class="ital bold">Words: </p>


<table style="margin-left: 20px;">

<tr><td>	актриса 	-	actress 	<tr><td>
<tr><td>	город	-	city 	<tr><td>
<tr><td>	гостиница	-	hotel 	<tr><td>
<tr><td>	девочка	-	girl 	<tr><td>
<tr><td>	журнал 	-	magazine 	<tr><td>
<tr><td>	здание 	-	building 	<tr><td>
<tr><td>	знать	-	to know 	<tr><td>
<tr><td>	карта	-	map 	<tr><td>
<tr><td>	картина	-	painting 	<tr><td>
<tr><td>	книга	-	book 	<tr><td>
<tr><td>	комната 	-	room 	<tr><td>
<tr><td>	красивый	-	beautiful 	<tr><td>
<tr><td>	кресло	-	chair 	<tr><td>
<tr><td>	кровать 	-	bed 	<tr><td>
<tr><td>	лимон	-	lemon 	<tr><td>
<tr><td>	машина	-	machine 	<tr><td>
<tr><td>	много 	-	many 	<tr><td>
<tr><td>	море	-	sea 	<tr><td>
<tr><td>	музей	-	museum 	<tr><td>
<tr><td>	несколько 	-	several 	<tr><td>
<tr><td>	номер	-	hotel room	<tr><td>
<tr><td>	окно	-	window 	<tr><td>
<tr><td>	омывать 	-	to wash 	<tr><td>
<tr><td>	открытка	-	postcard 	<tr><td>
<tr><td>	парк 	-	park 	<tr><td>
<tr><td>	пациент	-	patient 	<tr><td>
<tr><td>	письмо  	-	letter 	<tr><td>
<tr><td>	площадь  	-	area 	<tr><td>
<tr><td>	посетитель 	-	visitor 	<tr><td>
<tr><td>	проблема	-	problem 	<tr><td>
<tr><td>	программист	-	programmer 	<tr><td>
<tr><td>	работа	-	work 	<tr><td>
<tr><td>	река	-	river 	<tr><td>
<tr><td>	Россия	-	Russia 	<tr><td>
<tr><td>	рубль	-	ruble 	<tr><td>
<tr><td>	ручка	-	pen 	<tr><td>
<tr><td>	санаторий 	-	sanatorium 	<tr><td>
<tr><td>	словарь	-	dictionary 	<tr><td>
<tr><td>	список 	-	list 	<tr><td>
<tr><td>	стол 	-	table 	<tr><td>
<tr><td>	студент	-	student 	<tr><td>
<tr><td>	студентка	-	student 	<tr><td>
<tr><td>	театр 	-	theater 	<tr><td>
<tr><td>	улица 	-	street 	<tr><td>
<tr><td>	упражнение 	-	exercise 	<tr><td>
<tr><td>	фонтан	-	fountain 	<tr><td>
<tr><td>	футбольное поле	-	football field 	<tr><td>
<tr><td>	яблоко	-	apple	<tr><td>
<tr><td>	&nbsp; 	<tr><td>
<tr><td>	пять 	-	five 	<tr><td>
<tr><td>	шесть 	-	six 	<tr><td>
<tr><td>	десять	-	ten 	<tr><td>

</table>

<p class="ital bold">Phrases: </p>

<table style="margin-left: 20px;">

<tr><td>Нужно сделать - It is necessary to do </td></tr>
<tr><td>У меня есть ... - I have ... </td></tr>
<tr><td id="end">У меня нет ... - I have no ... </td></tr>


</table>




