<% @page_title = 'Words list for the exercises: Dative case ' %>

<% content_for :special_js_css do %>
<script type="text/javascript"> 
	searchOnPage();
</script>
<%end%>

<h3>Words list for the exercises</h3>

<p>The table below represents words and phrases used in the exercises:</p>

<p class="ital bold">Words: </p>


<table style="margin-left: 20px;">

<tr><td>	актёр	-	actor	</td></tr>
<tr><td>	актриса	-	actress	</td></tr>
<tr><td>	гость	-	guest	</td></tr>
<tr><td>	готовиться к 	-	to prepare to	</td></tr>
<tr><td>	доктор	-	doctor	</td></tr>
<tr><td>	здание 	-	building	</td></tr>
<tr><td>	знать	-	to know	</td></tr>
<tr><td>	история	-	history	</td></tr>
<tr><td>	как 	-	how	</td></tr>
<tr><td>	картина	-	picture	</td></tr>
<tr><td>	мама 	-	mother	</td></tr>
<tr><td>	метро	-	subway	</td></tr>
<tr><td>	Москва	-	Moscow	</td></tr>
<tr><td>	мост	-	bridge	</td></tr>
<tr><td>	музей	-	museum	</td></tr>
<tr><td>	нравиться 	-	to please	</td></tr>
<tr><td>	остановка	-	stop	</td></tr>
<tr><td>	отвечать	-	to answer	</td></tr>
<tr><td>	пациент	-	patient	</td></tr>
<tr><td>	писатель	-	writer	</td></tr>
<tr><td>	писать	-	to write	</td></tr>
<tr><td>	письмо	-	letter	</td></tr>
<tr><td>	площадь	-	area	</td></tr>
<tr><td>	подойти к  	-	to approach to	</td></tr>
<tr><td>	показывать 	-	to show	</td></tr>
<tr><td>	помогать	-	to help	</td></tr>
<tr><td>	посетитель	-	visitor	</td></tr>
<tr><td>	посольство	-	embassy	</td></tr>
<tr><td>	программист	-	programmer	</td></tr>
<tr><td>	пройти к  	-	to go to, to get to	</td></tr>
<tr><td>	путешествие	-	travel	</td></tr>
<tr><td>	рассказывать	-	to tell	</td></tr>
<tr><td>	ресторан	-	restaurant	</td></tr>
<tr><td>	спрашивать	-	to ask	</td></tr>
<tr><td>	станция	-	station	</td></tr>
<tr><td>	студент	-	student (male)	</td></tr>
<tr><td>	студентка	-	student (female)	</td></tr>
<tr><td>	сувенир 	-	souvenir	</td></tr>
<tr><td>	сын	-	son	</td></tr>
<tr><td>	театр	-	theater	</td></tr>
<tr><td>	турист 	-	tourist	</td></tr>
<tr><td>	университет	-	university	</td></tr>
<tr><td>	ученик	-	pupil	</td></tr>
<tr><td>	учитель	-	teacher	</td></tr>
<tr><td>	футбольное поле	-	football field	</td></tr>
<tr><td>	хотеть 	-	to want	</td></tr>
<tr><td>	читатель	-	reader	</td></tr>
<tr><td>	экзамен	-	exam	</td></tr>
<tr><td>	этот, эта, это	-	this	</td></tr>

</table>



