<% @page_title = 'Words list to the exercises: Russian Possessive pronouns' %>

<% content_for :special_js_css do %>
<script type="text/javascript"> 
	searchOnPage();
</script>
<%end%>

<h3>Words list to the exercises</h3>

<p>The table below represents words used in the exercises:</p>

<p class="ital bold">Words: </p>


<table style="margin-left: 20px;">

<tr><td>	билет	-	ticket	</td></tr>
<tr><td>	брат	-	brother	</td></tr>
<tr><td>	говорить	-	to talk	</td></tr>
<tr><td>	друг	-	friend	</td></tr>
<tr><td>	журнал	-	magazine	</td></tr>
<tr><td>	задание	-	task	</td></tr>
<tr><td>	звонить	-	to call	</td></tr>
<tr><td>	играть	-	to play	</td></tr>
<tr><td>	история	-	story, history	</td></tr>
<tr><td>	ищет (искать)	-	he's looking for (to look for, to search) 	</td></tr>
<tr><td>	ищешь (искать)	-	you're looking for (to look for, to search) 	</td></tr>
<tr><td>	ищут (искать)	-	they're looking for (to look for, to search) 	</td></tr>
<tr><td>	картина	-	picture	</td></tr>
<tr><td>	книга	-	book	</td></tr>
<tr><td>	костюм	-	costume	</td></tr>
<tr><td>	кресло	-	chair	</td></tr>
<tr><td>	мама	-	mother	</td></tr>
<tr><td>	машина	-	car	</td></tr>
<tr><td>	надеть	-	to put on, to wear	</td></tr>
<tr><td>	пальто	-	coat	</td></tr>
<tr><td>	партнёр	-	partner	</td></tr>
<tr><td>	паспорт	-	passport	</td></tr>
<tr><td>	понимать	-	to understand	</td></tr>
<tr><td>	путешествие	-	travel	</td></tr>
<tr><td>	разговаривать	-	to talk	</td></tr>
<tr><td>	рассказывать	-	to tell	</td></tr>
<tr><td>	родители	-	parents	</td></tr>
<tr><td>	рубашка	-	shirt	</td></tr>
<tr><td>	ручка	-	pen	</td></tr>
<tr><td>	с	-	with	</td></tr>
<tr><td>	сестра	-	sister	</td></tr>
<tr><td>	спрашивать	-	to ask	</td></tr>
<tr><td>	сувенир	-	souvenir	</td></tr>
<tr><td>	сын	-	son	</td></tr>
<tr><td>	учитель	-	teacher	</td></tr>
<tr><td>	хочет (хотеть)	-	he, she wants (to want)	</td></tr>
<tr><td>	читать	-	to read	</td></tr>

<tr><td>	этот, эта, это, эти	-	this	</td></tr>

</table>



