<% @page_title = 'Words list for the exercises: Prepositional case ' %>

<% content_for :special_js_css do %>
<script type="text/javascript"> 
	searchOnPage();
</script>
<%end%>

<h3>Words list for the exercises</h3>

<p>The table below represents words and phrases used in the exercises:</p>

<p class="ital bold">Words: </p>


<table style="margin-left: 20px;">

<tr><td>	банк	-	bank	</td></tr>
<tr><td>	Бельгия	-	Belgium	</td></tr>
<tr><td>	брат	-	brother	</td></tr>
<tr><td>	в, во	-	in	</td></tr>
<tr><td>	ваза	-	vase	</td></tr>
<tr><td>	висит (висеть)	-	it is hung (to be hung)	</td></tr>
<tr><td>	восток	-	east	</td></tr>
<tr><td>	Германия	-	Germany	</td></tr>
<tr><td>	говорить	-	to talk	</td></tr>
<tr><td>	гуляют (гулять)	-	they walk, are walking (to walk)	</td></tr>
<tr><td>	дети	-	children	</td></tr>
<tr><td>	друг	-	friend	</td></tr>
<tr><td>	думает (думать)	-	[he, she] thinks, is thinking (to think)	</td></tr>
<tr><td>	живу (жить)	-	I live (to live)	</td></tr>
<tr><td>	завод	-	factory	</td></tr>
<tr><td>	здание	-	building	</td></tr>
<tr><td>	игра	-	game	</td></tr>
<tr><td>	играть	-	to play	</td></tr>
<tr><td>	картина	-	picture	</td></tr>
<tr><td>	Китай	-	China	</td></tr>
<tr><td>	ковёр	-	carpet	</td></tr>
<tr><td>	комната	-	room	</td></tr>
<tr><td>	корабль	-	ship	</td></tr>
<tr><td>	кровать	-	bed	</td></tr>
<tr><td>	лампа	-	lamp	</td></tr>
<tr><td>	лежит (лежать)	-	[it] is lying, is reclining (to lie) 	</td></tr>
<tr><td>	лес	-	forest	</td></tr>
<tr><td>	магазин	-	shop	</td></tr>
<tr><td>	машина	-	car	</td></tr>
<tr><td>	мечтать	-	to dream	</td></tr>
<tr><td>	мой, моя, моё, мои	-	my	</td></tr>
<tr><td>	море	-	sea	</td></tr>
<tr><td>	Москва	-	Moscow	</td></tr>
<tr><td>	мост	-	bridge	</td></tr>
<tr><td>	музей	-	museum	</td></tr>
<tr><td>	музыка	-	music	</td></tr>
<tr><td>	на	-	on	</td></tr>
<tr><td>	находиться	-	to be located	</td></tr>
<tr><td>	о , об	-	about	</td></tr>
<tr><td>	окно	-	window	</td></tr>
<tr><td>	отдыхать	-	to have a rest	</td></tr>
<tr><td>	пальто	-	coat	</td></tr>
<tr><td>	памятник	-	monument	</td></tr>
<tr><td>	Париж	-	Paris	</td></tr>
<tr><td>	парк	-	park	</td></tr>
<tr><td>	пациент	-	patient	</td></tr>
<tr><td>	пишет (писать)	-	[he, she] is writing, writes ( to write)	</td></tr>
<tr><td>	платье	-	dress	</td></tr>
<tr><td>	площадь	-	square	</td></tr>
<tr><td>	пол	-	floor	</td></tr>
<tr><td>	поле	-	field	</td></tr>
<tr><td>	полка	-	shelf	</td></tr>
<tr><td>	правило	-	rule	</td></tr>
<tr><td>	программист	-	programmer	</td></tr>
<tr><td>	путешествие	-	travel	</td></tr>
<tr><td>	работа	-	work	</td></tr>
<tr><td>	работать	-	to work	</td></tr>
<tr><td>	разговаривать	-	to talk	</td></tr>
<tr><td>	рассказывать	-	to tell	</td></tr>
<tr><td>	растут (расти)	-	they are growing, grow (to grow)	</td></tr>
<tr><td>	сад	-	garden	</td></tr>
<tr><td>	спрашивать	-	to ask	</td></tr>
<tr><td>	стедент	-	stedent	</td></tr>
<tr><td>	стена	-	wall	</td></tr>
<tr><td>	стоит (стоять)	-	[it] is standing (to stand, to be located)	</td></tr>
<tr><td>	стол	-	table	</td></tr>
<tr><td>	студентка	-	student	</td></tr>
<tr><td>	Токио 	-	Tokyo	</td></tr>
<tr><td>	турист	-	tourist	</td></tr>
<tr><td>	угол	-	angle	</td></tr>
<tr><td>	университет	-	university	</td></tr>
<tr><td>	упражнение	-	exercise	</td></tr>
<tr><td>	урок	-	lesson	</td></tr>
<tr><td>	ученик	-	pupil	</td></tr>
<tr><td>	учусь (учиться)	-	I study (to study)	</td></tr>
<tr><td>	фильм	-	film	</td></tr>
<tr><td>	Франция	-	France	</td></tr>
<tr><td>	футбол	-	football	</td></tr>
<tr><td>	цветы	-	flowers	</td></tr>
<tr><td>	читаем (читать)	-	we are reading, read (read)	</td></tr>
<tr><td>	шкаф	-	wardrobe	</td></tr>
<tr><td>	экскурсия	-	excursion, tour	</td></tr>
<tr><td>	Япония	-	Japan	</td></tr>




</table>



