<% @page_title = 'Grammar Comments: Genitive Plural' %>
<% content_for :special_js_css do %>
<%end%>

<h3>Genitive Plural: Basic Rules</h3>


<p>
The table below represents basic endings of the genitive plural: 
</p>


<table cellspacing="0" class="st-table"> 
<col width="150">
<col width="150">
<tr>
	<th style="text-align:center">&nbsp;Gender</th>
	<th class="thbrd" style="text-align:center;">&nbsp;Endings</th>
</tr>
<tr>
<td class="case-name">Masculine</td>
<td style="text-align:center"><span class="end">-ов / -ев / -ей</span></td>
</tr>
<tr>
<td class="case-name">Feminine</td>
<td style="text-align:center"><span class="end">Ø* / -ей</span></td>
</tr>
<tr>
<td class="case-name">Neuter</td>
<td style="text-align:center"><span class="end">Ø* / -ей</span></td>
</tr>
</table>
<div>* zero ending</div>
<p>
These endings are added to the stem of nouns, which is formed by dropping the nominative singular endings. 
</p>
<p>
The endings -<span class="end">ев</span> (for masculine  nouns) is used if the stem of the nouns ends in -<span class="letter">й</span>. 
</p>
<p>
The endings -<span class="end">ей</span> is used for the following groups of nouns: 
</p>
<ul>
	<li>Masculine nouns ending in -<span class="letter">ж</span>, -<span class="letter">ч</span>, -<span class="letter">щ</span>, -<span class="letter">ш</span></li>
	<li>Masculine and feminine <a href="/grammar_comments/grex-soft-stem-nouns_grc.html" class="ital">soft stem nouns</a> ending -<span class="letter">ь</span> (soft sign)</li>
	<li>Neuter nouns ending in a <span class="letter">consonnat + e</span>. 
</ul>
<p>
In feminine nouns ending in -<span class="letter">ея</span>, -<span class="letter">ия</span> and neuter nouns ending in -<span class="letter">ие</span>, the final letter is replaced by -<span class="letter">й</span>. They are considered to have zero ending (<span class="end">Ø</span>). 
</p>
<p>
In feminine nouns ending in a <span class="letter">consonant+я</span>, the final letter is replaced by -<span class="letter">ь</span>. They are considered to have zero ending (<span class="end">Ø</span>). 
</p>
<p>
Feminine or neuter nouns that have a zero ending (<span class="end">Ø</span>) in the genitive plural and whose stem ends in two (or more) consonants, 
need a fleeting vowel (-<span class="letter">o</span>- or -<span class="letter">e</span>-) which inserted before the final consonant of the stem.
</p>

















