<% @page_title = 'Words list to the exercises: Russian Demonstrative Pronouns' %>

<% content_for :special_js_css do %>
<script type="text/javascript"> 
	searchOnPage();
</script>
<%end%>

<h3>Words list to the exercises</h3>

<p>The table below represents words and phrases used in the exercises:</p>

<p class="ital bold">Words: </p>


<table style="margin-left: 20px;">

<tr><td>	важный	-	important 	</td></tr>
<tr><td>	вино	-	wine 	</td></tr>
<tr><td>	говорить	-	to talk 	</td></tr>
<tr><td>	девочка	-	girl 	</td></tr>
<tr><td>	дорогой	-	expensive 	</td></tr>
<tr><td>	женщина	-	woman 	</td></tr>
<tr><td>	журнал	-	magazine 	</td></tr>
<tr><td>	звонить	-	to call 	</td></tr>
<tr><td>	здание	-	building 	</td></tr>
<tr><td>	играть	-	to play 	</td></tr>
<tr><td>	игрушка	-	toy 	</td></tr>
<tr><td>	изучать	-	to study, to learn 	</td></tr>
<tr><td>	интересный	-	interesting 	</td></tr>
<tr><td>	история	-	history, story 	</td></tr>
<tr><td>	ищет (искать)	-	he's looking for (to look for, to search) 	</td></tr>
<tr><td>	ищу (искать)	-	I'm looking for (to look for, to search) 	</td></tr>
<tr><td>	ищут (искать)	-	they're looking for (to look for, to search) 	</td></tr>
<tr><td>	книга	-	book 	</td></tr>
<tr><td>	костюм	-	costume 	</td></tr>
<tr><td>	красивый	-	beautiful 	</td></tr>
<tr><td>	лежит (лежать)	-	[it] is lying, is reclining (to lie) 	</td></tr>
<tr><td>	магазин	-	shop 	</td></tr>
<tr><td>	мальчик	-	boy 	</td></tr>
<tr><td>	машина	-	car	</td></tr>
<tr><td>	много	-	many 	</td></tr>
<tr><td>	на 	-	on	</td></tr>
<tr><td>	надеть	-	to put on, to wear 	</td></tr>
<tr><td>	находиться	-	to be located	</td></tr>
<tr><td>	о (об)	-	about 	</td></tr>
<tr><td>	очень	-	very 	</td></tr>
<tr><td>	парк	-	park 	</td></tr>
<tr><td>	платье	-	dress 	</td></tr>
<tr><td>	понимать	-	to understand 	</td></tr>
<tr><td>	проблема	-	problem 	</td></tr>
<tr><td>	программист	-	programmer 	</td></tr>
<tr><td>	разговаривать	-	to talk, to speak 	</td></tr>
<tr><td>	рассказывать	-	tell 	</td></tr>
<tr><td>	рубашка	-	shirt 	</td></tr>
<tr><td>	русская	-	Russian (fem.)	</td></tr>
<tr><td>	рядом 	-	near	</td></tr>
<tr><td>	с 	-	with 	</td></tr>
<tr><td>	спрашивать	-	to ask 	</td></tr>
<tr><td>	стол	-	table 	</td></tr>
<tr><td>	студент	-	student (masc.)	</td></tr>
<tr><td>	студентка	-	student (fem.)	</td></tr>
<tr><td>	сувенир	-	souvenir 	</td></tr>
<tr><td>	учитель	-	teacher 	</td></tr>
<tr><td>	фотография	-	photo 	</td></tr>
<tr><td>	футболка	-	T-shirt 	</td></tr>
<tr><td>	хочет (хотеть)	-	[he, she] wants (to want) 	</td></tr>
<tr><td>	читать	-	to read	</td></tr>

</table>

<p class="ital bold">Phrases: </p>

<table>
<tr><td>	Мне нравится	-	I like 	</td></tr>
<tr><td>	Мне нужен	-	I need 	</td></tr>
</table>

