<% @page_title = 'Grammar Comments: Soft stem nouns' %>

<% content_for :special_js_css do %>



<%end%>

<h3>Russian soft stem nouns</h3>


<p>
<i>Soft stem nouns</i> are declinable nouns that have a soft final sound in the stem. 
Generally, these are nouns that have the nominative singular form ending in -<span class="letter">ь</span> (soft sign), or letters -<span class="letter">й</span>, -<span class="letter">я</span>, -<span class="letter">е</span>, -<span class="letter">ё</span>.
Most often, when a soft stem nouns is declined, its final letter is replaced by an ending.
</p>
<p>
Below, you will find the information about Russian soft stem nouns depending on their gender:
</p>

<h4>Soft stem masculine nouns</h4>
<ul>
	<li>Masculine nouns ending in -<span class="letter">й</span>, e.g. <span class="eg">музей</span>, <span class="eg">санаторий</span> 
	</li>
	<li>Masculine nouns ending in -<span class="letter">ь</span>,e.g. <span class="eg">писатель</span>, <span class="eg">январь</span></li>
</ul>
<h4>Soft stem feminine nouns</h4>
<ul>
	<li>Feminine nouns ending in -<span class="letter">я</span>, e.g. <span class="eg">станция</span>, <span class="eg">идея</span>, <span class="eg">неделя</span></li>
	<li>Feminine nouns ending in -<span class="letter">ь</span>, e.g. <span class="eg">дверь</span>, <span class="eg">ночь</span></li>
</ul>

<h4>Soft stem neuter nouns</h4>

<ul>
	<li>Neuter nouns ending in -<span class="letter">е</span>, e.g. <span class="eg">море</span>, <span class="eg">здание</span>, <span class="eg">платье</span></li>
	<li>Neuter nouns ending in -<span class="letter">ё</span>, e.g. <span class="eg">копьё</span>, <span class="eg">ружьё</span></li>
</ul>





