<% @page_title = 'Grammar Comments: Soft stem nouns' %>

<% content_for :special_js_css do %>



<%end%>

<h3>Soft stem nouns</h3>


<p>
<i>Soft stem nouns</i> are declinable nouns that have a soft final sound in the stem. 
Generally, these are nouns that end in -<span class="letter">ь</span> (soft sign), or letters -<span class="letter">й</span>, -<span class="letter">я</span>, -<span class="letter">е</span>, -<span class="letter">ё</span>.
</p>
<p>
Below, you will find the information about soft stem nouns according to the gender
</p>

<h4>Soft stem masculine nouns</h4>
<ul>
	<li>Masculine nouns ending in -<span class="letter">й</span>: 

		<em>музей</em> 'museum'

	</li>
	<li>Masculine nouns ending in -<span class="letter">ь</span>: 
		<em>писатель</em> 'writer'</li>
</ul>
<h4>Soft stem feminine nouns</h4>
<ul>
	<li>Feminine nouns ending in -<span class="letter">я</span>: <em>станция</em> 'station'</li>
	<li>Feminine nouns ending in -<span class="letter">ь</span>: <em>дверь</em> 'door'</li>
</ul>

<h4>Soft stem neuter nouns</h4>

<ul>
	<li>Neuter nouns ending in -<span class="letter">е</span>: <em>море</em> 'sea'</li>
	<li>Neuter nouns ending in -<span class="letter">ё</span>: <em>копьё</em> 'spear'</li>
</ul>





