<% @page_title = 'Words list to the exercises: Present Tense of Verbs' %>

<% content_for :special_js_css do %>
<script type="text/javascript"> 
	searchOnPage();
</script>
<%end%>

<h3>Words list to the exercises</h3>

<p>The table below represents words used in the exercises:</p>

<p class="ital bold">Words: </p>


<table style="margin-left: 20px;">

<tr><td>	английский язык	-	English	</td></tr>
<tr><td>	газета	-	newspaper	</td></tr>
<tr><td>	говорить	-	to talk, to speak	</td></tr>
<tr><td>	диалог	-	dialogue	</td></tr>
<tr><td>	журнал	-	magazine	</td></tr>
<tr><td>	знать	-	to know	</td></tr>
<tr><td>	книга	-	book	</td></tr>
<tr><td>	по-английски	-	in English	</td></tr>
<tr><td>	по-немецки	-	in German	</td></tr>
<tr><td>	по-русски	-	in Russian	</td></tr>
<tr><td>	по-французски	-	in French	</td></tr>
<tr><td>	повторять	-	to repeat, to revise	</td></tr>
<tr><td>	понимать	-	to understand	</td></tr>
<tr><td>	правило	-	rule	</td></tr>
<tr><td>	русский язык	-	Russian	</td></tr>
<tr><td>	смотреть	-	to watch	</td></tr>
<tr><td>	текст	-	text	</td></tr>
<tr><td>	телевизор	-	TV set	</td></tr>
<tr><td>	учить	-	to learn	</td></tr>
<tr><td>	фильм	-	film	</td></tr>
<tr><td>	читать	-	to read	</td></tr>

</table>



