<% @page_title = 'Words list to the exercises: Russian Adjectives Declension' %>

<% content_for :special_js_css do %>
<script type="text/javascript"> 
	searchOnPage();
</script>
<%end%>

<h3>Words list to the exercises</h3>

<p>The table below represents words and phrases used in the exercises:</p>

<p class="ital bold">Words: </p>


<table style="margin-left: 20px;">


<tr><td>	белый	-	white	</td></tr>
<tr><td>	большой	-	big	</td></tr>
<tr><td>	высокий	-	high	</td></tr>
<tr><td>	говорить	-	to talk	</td></tr>
<tr><td>	город	-	city	</td></tr>
<tr><td>	готовиться к	-	to get ready for 	</td></tr>
<tr><td>	девочка	-	girl	</td></tr>
<tr><td>	директор	-	director	</td></tr>
<tr><td>	дорогой	-	expensive	</td></tr>
<tr><td>	друг	-	friend	</td></tr>
<tr><td>	живёт (жить)	-	he lives (to live)	</td></tr>
<tr><td>	журнал	-	magazine	</td></tr>
<tr><td>	заниматься	-	1) to be engaged with, 2) to study 	</td></tr>
<tr><td>	здание	-	building	</td></tr>
<tr><td>	зимний	-	winter (adjective)	</td></tr>
<tr><td>	знакомиться 	-	to get acquainted 	</td></tr>
<tr><td>	знать	-	to know	</td></tr>
<tr><td>	игрушка	-	toy	</td></tr>
<tr><td>	изучает (изучать)	-	he studies (to study)	</td></tr>
<tr><td>	интересный	-	interesting	</td></tr>
<tr><td>	интересуется (интересоваться)	-	he is interested in ( to be interested in, to look for) 	</td></tr>
<tr><td>	история	-	story, history	</td></tr>
<tr><td>	ищет (искать)	-	he is looking for (to look for, to search)	</td></tr>
<tr><td>	ищу (искать)	-	I'm looking for (to look for, to search))	</td></tr>
<tr><td>	ищут (искать)	-	they are looking for (to look for, to search)	</td></tr>
<tr><td>	карандаш	-	pencil	</td></tr>
<tr><td>	книга	-	book	</td></tr>
<tr><td>	костюм	-	costume, suit	</td></tr>
<tr><td>	купить	-	to buy	</td></tr>
<tr><td>	лежит (лежать)	-	[it] is lying, is reclining (to lie) 	</td></tr>
<tr><td>	летний	-	summer (adjective)	</td></tr>
<tr><td>	любит (любить)	-	he, she loves/likes (to love, to like)	</td></tr>
<tr><td>	маленький	-	small	</td></tr>
<tr><td>	машина	-	car	</td></tr>
<tr><td>	младший	-	younger	</td></tr>
<tr><td>	много 	-	many, much	</td></tr>
<tr><td>	новый	-	new	</td></tr>
<tr><td>	парк	-	park	</td></tr>
<tr><td>	партнёр	-	partner	</td></tr>
<tr><td>	письмо	-	letter	</td></tr>
<tr><td>	пишет (писать)	-	he, she is writing, writes (to write)	</td></tr>
<tr><td>	подруга	-	friend (female)	</td></tr>
<tr><td>	показывать	-	to show	</td></tr>
<tr><td>	помогает (помогать)	-	he, she helps (to help)	</td></tr>
<tr><td>	понимать	-	to understand	</td></tr>
<tr><td>	посетить	-	to visit	</td></tr>
<tr><td>	последний	-	last	</td></tr>
<tr><td>	правило	-	rule	</td></tr>
<tr><td>	программист	-	programmer	</td></tr>
<tr><td>	пройти к	-	to get to	</td></tr>
<tr><td>	работа	-	work	</td></tr>
<tr><td>	разговаривать	-	to talk	</td></tr>
<tr><td>	рассказывать	-	to tell	</td></tr>
<tr><td>	рисует (рисовать)	-	he, she is drawing, draws (to draw)	</td></tr>
<tr><td>	рубашка	-	shirt	</td></tr>
<tr><td>	русский	-	Russian	</td></tr>
<tr><td>	ручка	-	pen	</td></tr>
<tr><td>	с	-	with	</td></tr>
<tr><td>	сестра	-	sister	</td></tr>
<tr><td>	синий	-	blue	</td></tr>
<tr><td>	словарь	-	dictionary	</td></tr>
<tr><td>	спорт	-	sport	</td></tr>
<tr><td>	спрашивать	-	to ask	</td></tr>
<tr><td>	старый	-	old	</td></tr>
<tr><td>	стол	-	table	</td></tr>
<tr><td>	страница	-	page	</td></tr>
<tr><td>	студент	-	student (male)	</td></tr>
<tr><td>	студентка	-	student (female)	</td></tr>
<tr><td>	театр	-	theater	</td></tr>
<tr><td>	фильм	-	film	</td></tr>
<tr><td>	фотография	-	photo	</td></tr>
<tr><td>	хороший	-	good	</td></tr>
<tr><td>	хотим (хотеть)	-	we want (to want)	</td></tr>
<tr><td>	хочет (хотеть)	-	he, she wants (to want)	</td></tr>
<tr><td>	хочу (хотеть)	-	I want  (to want )	</td></tr>
<tr><td>	читает (читать)	-	he, she is reading, reads (to read)	</td></tr>
<tr><td>	шапка	-	cap	</td></tr>
<tr><td>	экзамен	-	exam	</td></tr>
<tr><td>	этот, эта, это, эти	-	this	</td></tr>
<tr><td>	язык	-	language	</td></tr>


</table>

<p class="ital bold">Phrases: </p>

<table>
<tr><td>Мне нужно	-	I need	... </td></tr>
<tr><td>У меня нет	-	I have no ...	</td></tr>
</table>

