<% @page_title = 'Grammar Comments: Prepositional case' %>

<% content_for :special_js_css do %>
<%end%>

<h3>Prepositional Case: Basic Rules</h3>

<p>
The table below represents basic endings of the prepositional case: 
</p>


<table cellspacing="0" class="st-table"> 
<col width="150">
<col width="150">
<tr>
	<th style="text-align:center">&nbsp;Gender</th>
	<th style="text-align:center">&nbsp;Singular</th>
	<th class="thbrd" style="text-align:center;">&nbsp;Plural</th>
</tr>
<tr>
<td class="case-name">Masculine *</td>
<td style="text-align:center"><span class="end">-е / -и </span></td>
<td rowspan="3" style="text-align:center; vertical-align: middle;"><span class="end">-ах / -ях</span></td>
</tr>
<tr>
<td class="case-name">Feminine</td>
<td style="text-align:center"><span class="end">-е / -и</span></td>
</tr>
<tr>
<td class="case-name">Neuter</td>
<td style="text-align:center; "><span class="end">-е / -и</span></td>
</tr>
</table>

<div style="font-size: 11px; text-indent: -10px;  padding: 0px 20px; color: #444;">
* In singular, a few masculine (mainly one-syllable) nouns have special streessed ending -<span class="end">у</span> 
after prepositions <span class="end">в</span> and <span class="end">на</span> (<a href="locative-case.html">locative case</a>).
</div>

<p>
These endings are added to the stem of nouns, which is formed by dropping the nominative singular endings. 
</p>
<p>
In singular, the ending -<span class="end">и</span> is used for masculine <i><a href="/grammar_comments/grex-soft-stem-nouns_grc.html">soft stem nouns</a></i> ending in -<span class="letter">ий</span>. 
</p>

<p>
In singular, the ending -<span class="end">и</span> is used for feminine <i><a href="/grammar_comments/grex-soft-stem-nouns_grc.html">soft stem nouns</a></i> ending in -<span class="letter">ия</span> or -<span class="letter">ь</span> (soft sign). 
</p>
<p>
In singular, the ending -<span class="end">и</span> is used for neuter <i><a href="/grammar_comments/grex-soft-stem-nouns_grc.html">soft stem nouns</a></i> ending in -<span class="letter">ий</span>. 
</p>
<p>
In plural, the ending -<span class="end">ях</span> (for all three genders) 
is used if the last consonant of the stem is soft (<i><a href="/grammar_comments/grex-soft-stem-nouns_grc.html">soft stem nouns</a></i>). 
However, some nouns may undergo the <a href="/grammar_comments/spelling-rules_grc.html">spelling rule #2</a> and they will have the ending
-<span class="end">ах</span> (e.g. но<u>чь</u> - ноч<u>ах</u>).
</p>





