<% @page_title = 'Words list to the exercises: Russian Short Adjectives' %>

<% content_for :special_js_css do %>
<script type="text/javascript"> 
	searchOnPage();
</script>
<%end%>

<h3>Words list to the exercises</h3>

<p>The table below represents words and phrases used in the exercises:</p>

<p class="ital bold">Words: </p>


<table style="margin-left: 20px;">

<tr><td>	богатый	-	rich	</td></tr>
<tr><td>	больной	-	patient	</td></tr>
<tr><td>	вежливый	-	polite	</td></tr>
<tr><td>	вопрос	-	question	</td></tr>
<tr><td>	всегда	-	always	</td></tr>
<tr><td>	важный	-	important	</td></tr>
<tr><td>	город	-	city, town	</td></tr>
<tr><td>	довольно	-	quite	</td></tr>
<tr><td>	задание	-	job	</td></tr>
<tr><td>	здание	-	house, building	</td></tr>
<tr><td>	игрушка	-	toy	</td></tr>
<tr><td>	интересный	-	interesting	</td></tr>
<tr><td>	книга	-	book	</td></tr>
<tr><td>	красивый	-	beautiful	</td></tr>
<tr><td>	кресло	-	armchair	</td></tr>
<tr><td>	легкий	-	easy	</td></tr>
<tr><td>	очень	-	very	</td></tr>
<tr><td>	пакет	-	package	</td></tr>
<tr><td>	пациент	-	patient	</td></tr>
<tr><td>	площадь	-	square	</td></tr>
<tr><td>	полезный	-	useful	</td></tr>
<tr><td>	природный	-	natural	</td></tr>
<tr><td>	проблема	-	problem	</td></tr>
<tr><td>	проект	-	project	</td></tr>
<tr><td>	работа	-	work	</td></tr>
<tr><td>	ресурс	-	resource	</td></tr>
<tr><td>	решение	-	solution	</td></tr>
<tr><td>	Россия	-	Russia	</td></tr>
<tr><td>	с 	-	with	</td></tr>
<tr><td>	сложный	-	complex, hard	</td></tr>
<tr><td>	согласный	-	agreeable	</td></tr>
<tr><td>	справедливый	-	fair, just	</td></tr>
<tr><td>	студент	-	student	</td></tr>
<tr><td>	текст	-	text	</td></tr>
<tr><td>	улица	-	street	</td></tr>
<tr><td>	упражнение	-	exercise	</td></tr>
<tr><td>	учитель	-	teacher	</td></tr>
<tr><td>	фильм	-	film	</td></tr>

<tr><td>	этот, эта, это, эти	-	this	</td></tr>

</table>



