<% @page_title = 'Words list for the exercises: Genitive Singular ' %>

<h3>Words list for the exercises</h3>

<p>The table below represents words and phrases used in the exercises:</p>

<p class="ital bold">Words: </p>


<table style="margin-left: 20px;">

<tr><td>берег  - coast</td></tr>
<tr><td>в - in</td></tr>
<tr><td>город - city</td></tr>
<tr><td>гостиница - hotel</td></tr>
<tr><td>журнал  - magazine</td></tr>
<tr><td>здание - building</td></tr>
<tr><td>известный - known</td></tr>
<tr><td>карта - map</td></tr>
<tr><td>книга - book</td></tr>
<tr><td>комната  - room</td></tr>
<tr><td>компьютер  - computer, PC</td></tr>
<tr><td>кресло - armchair</td></tr>
<tr><td>кровать   - bed</td></tr>
<tr><td>машина - car</td></tr>
<tr><td>море   - sea</td></tr>
<tr><td>Москва - Moscow</td></tr>
<tr><td>музей - museum</td></tr>
<tr><td>на - on</td></tr>
<tr><td>номер - hotel room</td></tr>
<tr><td>отель - hotel</td></tr>
<tr><td>письмо - letter</td></tr>
<tr><td>платье  - dress</td></tr>
<tr><td>площадь - square</td></tr>
<tr><td>рубль - ruble</td></tr>
<tr><td>ручка - pen</td></tr>
<tr><td>санаторий - sanatorium</td></tr>
<tr><td>сестра - sister</td></tr>
<tr><td>словарь - dictionary</td></tr>
<tr><td>стол - table</td></tr>
<tr><td>столица - capital (of a country)</td></tr>
<tr><td>студентка  - student</td></tr>
<tr><td>театр - theater</td></tr>
<tr><td>телефон - phone</td></tr>
<tr><td>улица  - street</td></tr>
<tr><td>упражнение - exercise</td></tr>
<tr><td>центр  - center</td></tr>
<tr><td>чай - tea</td></tr>
<tr><td>этот, эта, это - this</td></tr>
<tr><td>яблоко - apple</td></tr>
<tr><td>&nbsp;</td></tr>
<tr><td>находиться - to be, to be situated</td></tr>
<tr><td>&nbsp;</td></tr>
<tr><td>два, две - two</td></tr>
<tr><td>три - three</td></tr>
<tr><td>четыре - four</td></tr>
<tr><td>двадцать - twenty</td></tr>


</table>

<p class="ital bold">Phrases: </p>

<table style="margin-left: 20px;">

<tr><td>Нужно сделать - It is necessary to do </td></tr>
<tr><td>У меня есть ... - I have ... </td></tr>
<tr><td>У меня нет ... - I have no ... </td></tr>


</table>

