<% @page_title = 'Grammar Comments: Instrumental case' %>

<% content_for :special_js_css do %>
<%end%>

<h3>Instrumental Case: Basic Rules</h3>

<p>
The table below represents basic endings of the instrumental case: 
</p>


<table class="st-table" cellspacing="0"> 
	<tr style="vertical-align: middle;"> 
 
		<th style="min-width: 120px;">Gender</th> 
		<th style="min-width: 120px;">Singular</th> 
		<th style="min-width: 120px;" class="thbrd">Plural</th>  
	</tr> 
	<tr> 
		<td class="case-name">Masculine</td> 
		<td><span class="end">-ом / -ем / -ём</span></td> 
		<td rowspan="3" valign="middle"><span class="end">  -ами / -ями </span></td> 
 
	</tr> 
	<tr> 
		<td class="case-name">Feminine</td> 
		<td><span class="end">-ой / -ей / -ёй / -ью</span></td> 

	</tr> 
	<tr class="trow"> 
		<td class="case-name">Neuter</td> 
		<td><span class="end">-ом / -ем / -ём</span></td> 

	</tr> 

</table>


<p>
These endings are added to the stem of nouns, which is formed by dropping the nominative singular endings. 
</p>
<p>
In singular, the ending -<span class="end">ем</span> (for masculine and neuter nouns) is used when the ending is not stressed for the following groups of nouns:
<ul>
	<li><i><a href="/grammar_comments/grex-soft-stem-nouns_grc.html">Soft stem nouns</a></i></li>
	<li>Nouns with a stem ending in <span class="letter">ж</span>, <span class="letter">ц</span>, <span class="letter">ч</span>, <span class="letter">ш</span>, <span class="letter">щ</span>. 
	These nouns undergo <a href="/grammar_comments/spelling-rules_grc.html">spelling rule #3</a>. </li>
</ul>
</p>
<p>
In singular, the ending -<span class="end">ём</span> (for masculine and neuter nouns) 
is used for <i><a href="/grammar_comments/grex-soft-stem-nouns_grc.html">soft stem nouns</a></i> if the ending is stressed. 
</p>
<p>
In singular, the ending -<span class="end">ей</span> (for feminine nouns) is used when the ending is not stressed for the following groups of nouns:
<ul>
	<li><i><a href="/grammar_comments/grex-soft-stem-nouns_grc.html">Soft stem nouns</a></i> ending in -<span class="letter">я</span></li>
	<li>Nouns with a stem ending in <span class="letter">ж</span>, <span class="letter">ц</span>, <span class="letter">ч</span>, <span class="letter">ш</span>, <span class="letter">щ</span>. 
	These nouns undergo <a href="/grammar_comments/spelling-rules_grc.html">spelling rule #3</a>. </li>
</ul>
</p>
<p>
In singular, the ending -<span class="end">ью</span> (for feminine nouns) 
is used for <i><a href="/grammar_comments/grex-soft-stem-nouns_grc.html">soft stem nouns</a></i> ending in -<span class="letter">ь</span> (soft sign). 
</p>

<p>
In plural, the ending -<span class="end">ями</span> (for all genders) 
is used for <i><a href="/grammar_comments/grex-soft-stem-nouns_grc.html">soft stem nouns</a></i>. 
However, some nouns may undergo the <a href="/grammar_comments/spelling-rules_grc.html">spelling rule #2</a> and they will have the ending
-<span class="end">ами</span> (e.g. но<u>чь</u> - ноч<u>ами</u>)
</p>





