<% @page_title = 'Grammar Comments: Short form of adjectives' %>

<% content_for :special_js_css do %>
<%end%>

<h3>Short form of adjectives</h3>

<p>
Short forms of adjectives are derived from long forms: the stem of the long form serves as the masculine short form and as the basis for feminine, neuter and plural forms that have endings -<span class="letter">а</span>, -<span class="letter">о</span> and -<span class="letter">ы</span>/-<span class="letter">и</span>, respectively. 
</p>
</p>
Plural forms will have the ending -<span class="letter">и</span> where the  <a href="spelling-rules_grc.html">spelling rule #1</a> will apply. Short-form adjectives do not decline. 
</p>

<p>
The table below represents the short forms of adjectives <span class="eg">готовый</span> <span class="egt">ready</span> and <span class="eg">хороший</span> <span class="egt">good</span>:
</p>

<table class="st-table" cellspacing="0" align="center" style="margin: 0 auto">
	<tr style="vertical-align: middle;">

		<th > Adjective </th>
		<th >  Masculine </th>
		<th > Feminine </th>
		<th > Neuter </th>
		<th class="thbrd">Plural</th>

	</tr>

	<tr>
		<td><strong>готовый</strong></td>
		<td>готов</td>
		<td>готов<span class="end">а</span></td>
		<td>готов<span class="end">о</span></td>

		<td>готов<span class="end">ы</span></td>
	</tr>
	<tr >
		<td><strong>хороший</strong></td>
		<td>хорош</td>
		<td>хорош<span class="end">а</span></td>

		<td>хорош<span class="end">о</span></td>
		<td>хорош<span class="end">и</span></td>
	</tr>
</table>

<p>
If the stem of the adjective ends in a cluster of two or more consonants, the masculine short form has a vowel -<span class="letter">о</span>- or -<span class="letter">е</span>- inserted between the two final consonants:
</p>

<ul>
	<li>
		-<span class="letter">о</span>- is inserted if the stem ends in -<span class="letter">к</span>, and in short forms of adjectives <span class="eg">полный</span> (short form: <span class="eg">полон</span>)  and <span class="eg">смешной</span> (short form: <span class="eg">смешон</span>).
	</li>
	<li>
		<p>
			-<span class="letter">е</span>- is inserted if the stem ends in -<span class="letter">н</span>, except adjectives <span class="eg">полный</span> and <span class="eg">смешной</span>. 
		</p>
	</li>
</ul>




