<% @page_title = 'Words list for the exercises: Dative case ' %>

<% content_for :special_js_css do %>
<script type="text/javascript"> 
	searchOnPage();
</script>
<%end%>

<h3>Words list for the exercises</h3>

<p>The table below represents words and phrases used in the exercises:</p>

<p class="ital bold">Words: </p>


<table style="margin-left: 20px;">

<tr><td>	актёр	-	actor	</td></tr>
<tr><td>	актриса	-	actress	</td></tr>
<tr><td>	американка	-	an American (female)	</td></tr>
<tr><td>	брат	-	brother	</td></tr>
<tr><td>	выставка	-	exhibition	</td></tr>
<tr><td>	газета	-	newspaper	</td></tr>
<tr><td>	галерея	-	gallery	</td></tr>
<tr><td>	герой	-	hero	</td></tr>
<tr><td>	гость	-	guest	</td></tr>
<tr><td>	дверь	-	door	</td></tr>
<tr><td>	девочка	-	girl	</td></tr>
<tr><td>	делать	-	to do	</td></tr>
<tr><td>	диалог	-	dialogue	</td></tr>
<tr><td>	доктор	-	doctor	</td></tr>
<tr><td>	дочь	-	daughter	</td></tr>
<tr><td>	друг	-	friend	(male)</td></tr>
<tr><td>	едет (ехать)	-	he goes, he is going (to go) by a vehicle	</td></tr>
<tr><td>	женщина	-	woman	</td></tr>
<tr><td>	журнал	-	magazine	</td></tr>
<tr><td>	задание	-	task	</td></tr>
<tr><td>	знать	-	to know	</td></tr>
<tr><td>	идти	-	to go by foot	</td></tr>
<tr><td>	изучать	-	to learn, to study	</td></tr>
<tr><td>	инжинер	-	engineer	</td></tr>
<tr><td>	история	-	story, history	</td></tr>
<tr><td>	книга	-	book	</td></tr>
<tr><td>	конфета	-	candy	</td></tr>
<tr><td>	любить	-	to love, to like	</td></tr>
<tr><td>	мать	-	mother	</td></tr>
<tr><td>	может (мочь)	-	he can (can, to be able)	</td></tr>
<tr><td>	Москва	-	Moscow	</td></tr>
<tr><td>	музей	-	museum	</td></tr>
<tr><td>	не 	-	not (used for a negation)	</td></tr>
<tr><td>	овощ	-	vegetable	</td></tr>
<tr><td>	открывать	-	to open	</td></tr>
<tr><td>	открыть	-	to open	</td></tr>
<tr><td>	очень	-	very	</td></tr>
<tr><td>	пациент	-	patient	</td></tr>
<tr><td>	песня	-	song	</td></tr>
<tr><td>	пиво	-	beer	</td></tr>
<tr><td>	писатель	-	writer	</td></tr>
<tr><td>	пишет (писать)	-	he write, he is writing (to write)	</td></tr>
<tr><td>	площадь	-	square	</td></tr>
<tr><td>	подруга	-	friend (female)	</td></tr>
<tr><td>	понимать	-	to understand	</td></tr>
<tr><td>	посетить	-	to visit	</td></tr>
<tr><td>	посещать	-	to visit	</td></tr>
<tr><td>	правило	-	rule	</td></tr>
<tr><td>	предложение	-	sentence	</td></tr>
<tr><td>	принимать гостя	-	to entertain a guest	</td></tr>
<tr><td>	профессор	-	professor	</td></tr>
<tr><td>	работа	-	work	</td></tr>
<tr><td>	рассказывать	-	to tell	</td></tr>
<tr><td>	сестра	-	sister	</td></tr>
<tr><td>	слово	-	word	</td></tr>
<tr><td>	слушать	-	to listen to	</td></tr>
<tr><td>	спрашивать	-	to ask	</td></tr>
<tr><td>	студент	-	student	</td></tr>
<tr><td>	театр	-	theater	</td></tr>
<tr><td>	турист	-	tourist	</td></tr>
<tr><td>	учитель	-	teacher	</td></tr>
<tr><td>	француженка	-	Frenchwoman	</td></tr>
<tr><td>	фрукт	-	fruit	</td></tr>
<tr><td>	химия	-	chemistry	</td></tr>
<tr><td>	хорошо	-	well	</td></tr>
<tr><td>	хотеть	-	want	</td></tr>
<tr><td>	часто 	-	often	</td></tr>
<tr><td>	читать	-	to read	</td></tr>
<tr><td>	шоколад	-	chocolate	</td></tr>

<tr><td>	этот, эта, это	-	this	</td></tr>

</table>



