<% @page_title = 'Grammar Comments: Russian Cases' %>

<% content_for :special_js_css do %>
<%end%>

<h3>Russian Cases: Basic Functions</h3>

<p>
Russian nouns have special word forms to represent their grammatical function in a sentence. 
Most often, these word forms are built with help of word endings: words may add or change their ending. 
These endings are divided into several groups called <strong><em>cases</em></strong>.
</p>
<p>
The Russian language has six cases: <em>nominative</em>, <em>genitive</em>, <em>accusative</em>, <em>dative</em>, <em>instrumental</em>,  and <em>prepositional</em>. 
</p>
<p>
The basic functions of these cases are as follows:
</p>
<p>
The <strong>nominative case</strong> shows the subject, or the doer of the action or the predicate.
</p>
<p>
The <strong>genitive case</strong> shows possession, and it is also often used in a negation.
</p>
<p>
The <strong>dative case</strong> marks the indirect object, or the receiver of the action.
</p>
<p>
The <strong>accusative case</strong> shows the direct object, or the object of the action.
</p>
<p>
The <strong>instrumental case</strong> indicates the "instrument" (or means) of the action, or how the action is done.
</p>
<p>
The <strong>prepositional</strong> (or locative) case shows the location, or where the action takes place.
</p>




