<% @page_title = 'Grammar Comments: Accusative case' %>

<% content_for :special_js_css do %>
<%end%>

<h3>Accusative Case: Basic Rules</h3>

<p>
The table below represents basic endings of the accusative case: 
</p>


<table class="st-table" cellspacing="0" > 
	<tr style="vertical-align: middle;"> 
 
		<th style="min-width: 120px;">Gender</th> 
		<th style="min-width: 120px;">Singular</th> 
		<th style="min-width: 120px;" class="thbrd">Plural</th>  
	</tr> 
	<tr style="vertical-align: middle;"> 
		<td class="case-name">
		
			<div style="text-align: left;"><strong> Masculine </strong> <br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;inanimate<br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;animate
			</div>
		</td> 
		<td>
			<div> <br> equal to Nominative </div> 
				<div>equal to Genitive </div>
		</td> 
		<td> 
				<div><br>equal to Nominative </div>
				<div>equal to Genitive </div>
		
		</td> 
 
	</tr> 
	<tr style="vertical-align: middle;"> 
		<td class="case-name">
		   	<div style="text-align: left;"><strong> Feminine </strong> <br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;inanimate<br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;animate
			</div>
		</td> 
		<td> <div><br> <span class="end">-у /-ю / Ø </span>  </div></td> 
		<td>  
		   	<div>	<br> equal to Nominative </div>
		   	<div>	equal to Genitive </div>
		
		</td> 
 
	</tr> 
	<tr > 
		<td class="case-name">
		   	<div style="text-align: left;"><strong> Neuter </strong> <br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;inanimate<br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;animate
			</div>
		</td> 
		<td valign="middle"> 	<div><br>equal to Nominative </div></td> 
		<td> 
		   	<div>	<br> equal to Nominative </div>
		   	<div>	equal to Genitive </div>
		</td> 
 
	</tr> 
</table> 

<p>
The accusative singular forms of inanimate masculine nouns and neuter nouns (both animate and inanimate) are equal to their nominative singular forms.
</p>
<p>
The accusative singular forms of animate masculine nouns are equal to their <a href="/grammar_comments/grex-nouns-gen-sing_theory_grc.html">genitive singular</a> forms.
</p>

<p>
In singular, the ending -<span class="end">ю</span> (for feminine  nouns) is used for <i><a href="/grammar_comments/grex-soft-stem-nouns_grc.html">soft stem nouns</a></i> whose stem ends in -<span class="letter">я</span>. 
</p>

<p>
The accusative singular forms of <i><a href="/grammar_comments/grex-soft-stem-nouns_grc.html">soft stem feminine nouns</a></i> ending -<span class="letter">ь</span> (soft sign)
are equal to their nominative singular forms (they have zero ending [Ø]).
</p>
<p>
The accusative plural forms of inanimate nouns (of all genders) are equal to their <a href="/grammar_comments/grex-nouns-number_theory_grc.html">nominative plural</a> forms.
</p>
<p>
The accusative plural forms of animate nouns (of all genders) are equal to their <a href="/grammar_comments/grex-nouns-gen-plural_theory_grc.html">genitive plural</a> forms.
</p>





