<% @page_title = 'Grammar Comments: Russian Demonstrative Pronouns' %>

<% content_for :special_js_css do %>
<%end%>

<h3>Russian Demonstrative Pronouns</h3>
<p>
Russian demonstrative pronouns agree in gender, number and case of nouns they modify. 
The tables below shows the declension patterns of the demonstrative pronoun. 
</p>

<h3>Этот</h3>

<table class="st-table" cellspacing="0" align="center">
	<tr style="vertical-align: middle;">
		<th rowspan="2">Case</th>

		<th colspan="3">Singular</th>

		<th rowspan="2" style="padding-left: 30px; padding-right: 30px;" class="thbrd">Plural</th>
	</tr>
	<tr class="second-th gend-tds" style="vertical-align: middle;">
		<td>masculine</td>
		<td>&nbsp;neuter&nbsp;</td>

		<td>feminine</td>
	</tr>

	<tr class="trow">
		<td class="case-name">Nom</td>
		<td>этот</td>
		<td>это</td>

		<td>эта</td>
		<td>эти</td>

	</tr>
	<tr class="trow">
		<td class="case-name">Gen</td>
		<td colspan="2">этого</td>

		<td>этой</td>
		<td>этих</td>
	</tr>

	<tr class="trow">
		<td class="case-name">Dat</td>
		<td colspan="2">этому</td>

		<td>этой</td>
		<td>этим</td>
	</tr>
	<tr class="trow">

		<td class="case-name">Acc</td>
		<td><em>Nom/Gen</em></td>

		<td>это</td>
		<td>эту</td>
		<td><em>Nom/Gen</em></td>
	</tr>

	<tr class="trow">
		<td class="case-name">Ins</td>

		<td colspan="2">этим</td>
		<td>этой</td>
		<td>этими</td>
	</tr>
	<tr class="trow">

		<td class="case-name">Prep</td>

		<td colspan="2">этом</td>
		<td>этой</td>
		<td>этих</td>
	</tr>
</table>

<h3>Тот</h3>

<table class="st-table" cellspacing="0" align="center">

	<tr style="vertical-align: middle;">
		<th rowspan="2">Case</th>
		<th colspan="3">Singular</th>
		<th rowspan="2" style="padding-left: 30px; padding-right: 30px;" class="thbrd">Plural</th>
	</tr>
	<tr class="second-th gend-tds" style="vertical-align: middle;">

		<td>masculine</td>

		<td>&nbsp;neuter&nbsp;</td>
		<td>feminine</td>
	</tr>
	<tr class="trow">
		<td class="case-name">Nom</td>
		<td>тот</td>

		<td>то</td>
		<td>та</td>
		<td>те</td>
	</tr>
	<tr class="trow">
		<td class="case-name">Gen</td>
		<td colspan="2">того</td>

		<td>той</td>
		<td>тех</td>
	</tr>
	<tr class="trow">
		<td class="case-name">Dat</td>
		<td colspan="2">тому</td>

		<td>той</td>

		<td>тем</td>
	</tr>
	<tr class="trow">
		<td class="case-name">Acc</td>
		<td><em>Nom/Gen</em></td>

		<td>то</td>
		<td>ту</td>

		<td><em>Nom/Gen</em></td>
	</tr>
	<tr class="trow">
		<td class="case-name">Ins</td>

		<td colspan="2">тем</td>
		<td>той</td>
		<td>теми</td>

	</tr>
	<tr class="trow">
		<td class="case-name">Prep</td>

		<td colspan="2">том</td>
		<td>той</td>
		<td>тех</td>
	</tr>

</table>



<br><br><br><br><br><br>

