<% @page_title = 'Grammar Comments: Dative case' %>

<% content_for :special_js_css do %>
<%end%>

<h3>Dative Case: Basic Rules</h3>

<p>
The table below represents basic endings of the dative case: 
</p>


<table cellspacing="0" class="st-table"> 
<col width="150">
<col width="150">
<tr>
	<th style="text-align:center">&nbsp;Gender</th>
	<th style="text-align:center">&nbsp;Singular</th>
	<th class="thbrd" style="text-align:center;">&nbsp;Plural</th>
</tr>
<tr>
<td class="case-name">Masculine</td>
<td style="text-align:center"><span class="end">-у / -ю</span></td>
<td rowspan="3" style="text-align:center; vertical-align: middle;"><span class="end">-ам / -ям</span></td>
</tr>
<tr>
<td class="case-name">Feminine</td>
<td style="text-align:center"><span class="end">-е / -и</span></td>
</tr>
<tr>
<td class="case-name">Neuter</td>
<td style="text-align:center; "><span class="end">-у /-ю</span></td>
</tr>
</table>


<p>
These endings are added to the stem of nouns, which is formed by dropping the nominative singular endings. 
</p>
<p>
In singular, the ending -<span class="end">ю</span> (for masculine and neuter nouns) 
is used if the last consonant of the stem is soft (so called <i><a href="/grammar_comments/grex-soft-stem-nouns_grc.html">soft stem nouns</a></i>). 
</p>
<p>
In singular, the ending -<span class="end">и</span> is used for feminine nouns ending in -<span class="letter">ия</span> or -<span class="letter">ь</span> (soft sign). 
</p>
<p>
In plural, the ending -<span class="end">ям</span> (for all three genders) 
is used if the last consonant of the stem is soft (<i><a href="/grammar_comments/grex-soft-stem-nouns_grc.html">soft stem nouns</a></i>). 
However, some nouns may undergo the <a href="/grammar_comments/spelling-rules_grc.html">spelling rule #2</a> and they will have the ending
-<span class="end">ам</span> (e.g. но<u>чь</u> - ноч<u>ам</u>).
</p>





