<% @page_title = 'Locative Case' %>

<h3>Locative Case</h3>

<p>
A few masculine nouns have special streessed endings -<span class="letter">у</span>/-<span class="letter">ю</span> after prepositions <span class="eg">в</span> <span class="egt">'in'</span>
 and <span class="eg">на</span> <span class="egt">'on'</span>. 
 This is sometimes called "locative case", since nouns take particular endings to denote location.
</p>
<p>
The following list represents the most commonly used nouns that require the locative case forms:
</p>
<table>
<tr><td>ад: <span class="eg">в аду</span> <span class="egt">in hell</span> </td></tr>
<tr><td>аэропорт: <span class="eg">в аэропорту</span> <span class="egt">at the airport </span></td></tr>
<tr><td>бал: <span class="eg">на балу</span> <span class="egt">at the ball </span></td></tr>
<tr><td>берег: <span class="eg">на берегу</span> <span class="egt">on the shore</span> </td></tr>
<tr><td>бок: <span class="eg">на боку</span> <span class="egt">on one’s side </span></td></tr>
<tr><td>борт: <span class="eg">на борту</span> <span class="egt">on board</span></td></tr>
<tr><td>бой: <span class="eg">в бою</span> <span class="egt">in battle </span></td></tr>
<tr><td>бред: <span class="eg">в бреду</span> <span class="egt">in delirium </span></td></tr>
<tr><td>вид: <span class="eg">в виду</span> <span class="egt">in view (of), in mind </span></td></tr>
<tr><td>глаз: <span class="eg">в глазу</span> <span class="egt">in one’s eye </span></td></tr>
<tr><td>год: <span class="eg">в году</span> <span class="egt">in a year </span></td></tr>
<tr><td>Дон: <span class="eg">на Дону</span> <span class="egt">on the Don </span></td></tr>
<tr><td>жар: <span class="eg">в жару</span> <span class="egt">in the heat </span></td></tr>
<tr><td>край: <span class="eg">на краю</span> <span class="egt">on the edge </span></td></tr>
<tr><td>круг: <span class="eg">в кругу</span> <span class="egt">in a circle </span></td></tr>
<tr><td>Крым: <span class="eg">в Крыму</span> <span class="egt">in the Crimea </span></td></tr>
<tr><td>лоб: <span class="eg">на лбу</span> <span class="egt"> on one’s forehead </span></td></tr>
<tr><td>лес: <span class="eg">в лесу</span> <span class="egt">in the woods </span></td></tr>
<tr><td>луг: <span class="eg">на лугу</span> <span class="egt">in the meadow </span></td></tr>
<tr><td>лёд: <span class="eg">на льду</span> <span class="egt"> on the ice </span></td></tr>
<tr><td>мёд: <span class="eg">в меду</span> <span class="egt">in the honey </span></td></tr>
<tr><td>мех: <span class="eg">на меху</span> <span class="egt">fur-lined</span></td></tr>
<tr><td>мозг: <span class="eg">в мозгу</span> <span class="egt">in the brain</span></td></tr>
<tr><td>мост: <span class="eg">на мосту</span> <span class="egt">on the bridge</span></td></tr>
<tr><td>нос: <span class="eg">на носу</span> <span class="egt">on one’s nose</span></td></tr>
<tr><td>полк: <span class="eg">в полку</span> <span class="egt">in the regiment</span></td></tr>
<tr><td>пол: <span class="eg">на полу</span> <span class="egt">on the floor</span></td></tr>
<tr><td>порт: <span class="eg">в порту</span> <span class="egt">in the port</span></td></tr>
<tr><td>пост: <span class="eg">на посту</span> <span class="egt">at one’s post</span></td></tr>
<tr><td>пот: <span class="eg">в поту</span> <span class="egt">in a sweat</span></td></tr>
<tr><td>пруд: <span class="eg">в пруду</span> <span class="egt">in the pond</span></td></tr>
<tr><td>рай: <span class="eg">в раю</span> <span class="egt">in paradise</span></td></tr>
<tr><td>рот: <span class="eg">во рту</span> <span class="egt">in one’s mouth</span></td></tr>
<tr><td>ряд: <span class="eg">в ряду</span> <span class="egt">in a row</span></td></tr>
<tr><td>сад: <span class="eg">в саду</span> <span class="egt">in the garden</span></td></tr>
<tr><td>снег: <span class="eg">в снегу</span> <span class="egt">in the snow</span></td></tr>
<tr><td>строй: <span class="eg">в строю</span> <span class="egt">in formation</span></td></tr>
<tr><td>угол: <span class="eg">в/на углу</span> <span class="egt">in/on the corner</span></td></tr>
<tr><td>цвет: <span class="eg">в цвету</span> <span class="egt">in bloom</span></td></tr>
<tr><td>час: <span class="eg">в часу</span> <span class="egt">at the hour</span></td></tr>
<tr><td>шёлк: <span class="eg">на шелку</span> <span class="egt">silk-lined</span></td></tr>
<tr><td>шкаф: <span class="eg">в шкафу</span> <span class="egt">in the wardrobe</span></td></tr>
</table>