<% @page_title = 'Russian spelling rules' %>

<h3>Russian Spelling Rules</h3>

<p>
There are 3 vocalic-based spelling rules in Russian. These rules demonstrate which combinations of letters are not permitted in Russian. </p>

<h4 id="rule_1" >Spelling rule #1</h4>

<p>
The letter <span class="letter">ы</span> may not occur after <span class="letter">г</span>, <span class="letter">к</span>, <span class="letter">х</span> and <span class="letter">ж</span>, <span class="letter">ч</span>, <span class="letter">ш</span>, <span class="letter">щ</span>. Instead of <span class="letter">ы</span>, the letter <span class="letter">и</span> should be written. 

</p>

<h4 id="rule_2" >Spelling rule #2</h4>
<p>
The letters <span class="letter">ю</span> and <span class="letter">я</span> may not occur after <span class="letter">г</span>, <span class="letter">к</span>, <span class="letter">х</span> and <span class="letter">ж</span>, <span class="letter">ц</span>, <span class="letter">ч</span>, <span class="letter">ш</span>, <span class="letter">щ</span>. Instead of <span class="letter">ю</span> and <span class="letter">я</span>, the letters <span class="letter">у</span> and <span class="letter">а</span> should be written, respectively. 

<p>

<h4 id="rule_3" >Spelling rule #3</h4>
<p>
Unstressed <span class="letter">о</span> may not occur after <span class="letter">ж</span>, <span class="letter">ц</span>, <span class="letter">ч</span>, <span class="letter">ш</span>, <span class="letter">щ</span> in endings (but it may occur in roots). The letter <span class="letter">о</span> should be replaced by the letter <span class="letter">е</span>. 
</p>