<%
@verb =''
@spec_pr = false;
@spec_pst = false;
@spec_ft = false;
@infinitive = 'делать';
@inf = 'д<span class="accom">е</span>лать';
@trans = 'to do';
@pr_stems = ['д<span class="accom">е</span>ла','д<span class="accom">е</span>ла','д<span class="accom">е</span>ла'];
@pst_stem = 'д<span class="accom">е</span>лал';
@asp = 0;
@conj_type=1;
@reflexive = 0;
@pr_end_var = 1; # not accent/accent/accent switch == 1: [1,2],[3,4][5,6]
				 #									  2: [1,2,3],[4,5,6][7,8,9]
@pst_end_var = 1;    

@verb = params[:verb]

case @verb
when 'byt'
	@infinitive = 'быть';
	@inf = 'быть';
	@trans = 'to be';
	@spec_pr = ['есть','есть','есть','есть','есть','есть',];
	@spec_ft = ['б<span class="accom">у</span>ду','б<span class="accom">у</span>дешь','б<span class="accom">у</span>дет','б<span class="accom">у</span>дем','б<span class="accom">у</span>дете','б<span class="accom">у</span>дут',];
	@pst_stem = 'б<span class="accom">ы</span>л';
	@asp = 0;
	@conj_type=1;
	@pr_end_var = 1;
	@pst_end_var = 1; 
when 'idti'
	@infinitive = 'идти';
	@inf = 'идт<span class="accom">и</span>';
	@trans = 'to go';
	@pr_stems = ['ид','ид','ид'];
	@spec_pst = ['ш<span class="accom">ё</span>л', 'шл<span class="accom">а</span>','шл<span class="accom">о</span>','шл<span class="accom">и</span>'];
	@asp = 0;
	@conj_type=1;
	@pr_end_var = 4;
	@pst_end_var = 1;
when 'poyti'
	@infinitive = 'пойти';
	@inf = 'пойт<span class="accom">и</span>';
	@trans = 'to go';
	@pr_stems = ['пойд','пойд','пойд'];
	@spec_pst = ['пош<span class="accom">ё</span>л', 'пошл<span class="accom">а</span>','пошл<span class="accom">о</span>','пошл<span class="accom">и</span>'];
	@asp = 1;
	@conj_type=1;
	@pr_end_var = 4;
	@pst_end_var = 1;
when 'priyti'
	@infinitive = 'прийти';
	@inf = 'прийт<span class="accom">и</span>';
	@trans = 'to come, to arrive';
	@pr_stems = ['прид','прид','прид'];
	@spec_pst = ['приш<span class="accom">ё</span>л', 'пришл<span class="accom">а</span>','пришл<span class="accom">о</span>','пришл<span class="accom">и</span>'];
	@asp = 1;
	@conj_type=1;
	@pr_end_var = 4;
	@pst_end_var = 1;
when 'uyti'
	@infinitive = 'уйти';
	@inf = 'уйт<span class="accom">и</span>';
	@trans = 'to leave, to go away';
	@pr_stems = ['уйд','уйд','уйд'];
	@spec_pst = ['уш<span class="accom">ё</span>л', 'ушл<span class="accom">а</span>','ушл<span class="accom">о</span>','ушл<span class="accom">и</span>'];
	@asp = 1;
	@conj_type=1;
	@pr_end_var = 4;
	@pst_end_var = 1;
when 'hodit'
	@infinitive = 'ходить';
	@inf = 'ход<span class="accom">и</span>ть';
	@trans = 'to go, to walk';
	@pr_stems = ['хож','х<span class="accom">о</span>д','х<span class="accom">о</span>д'];
	@pst_stem = 'ход<span class="accom">и</span>л';
	@asp = 0;
	@conj_type=2;
	@pr_end_var = 8;
	@pst_end_var = 1;
when 'prihodit'
	@infinitive = 'приходить';
	@inf = 'приход<span class="accom">и</span>ть';
	@trans = 'to come, to arrive';
	@pr_stems = ['прихож','прих<span class="accom">о</span>д','прих<span class="accom">о</span>д'];
	@pst_stem = 'приход<span class="accom">и</span>л';
	@asp = 0;
	@conj_type=2;
	@pr_end_var = 8;
	@pst_end_var = 1;
when 'uhodit'
	@infinitive = 'уходить';
	@inf = 'уход<span class="accom">и</span>ть';
	@trans = 'to leave, to go away';
	@pr_stems = ['ухож','ух<span class="accom">о</span>д','ух<span class="accom">о</span>д'];
	@pst_stem = 'уход<span class="accom">и</span>л';
	@asp = 0;
	@conj_type=2;
	@pr_end_var = 8;
	@pst_end_var = 1;	
when 'drat'
	@infinitive = 'драть';
	@inf = 'драть';
	@trans = 'to tear, to strip of';
	@pr_stems = ['дер','дер','дер'];
	@spec_pst = ['драл','драл<span class="accom">а</span>','драл<span class="accom">о</span>','др<span class="accom">а</span>ли'];
	@asp = 0;
	@conj_type=1;
	@pr_end_var = 4;
	@pst_end_var = 1;
when 'lejat'
	@infinitive = 'лежать';
	@inf = 'леж<span class="accom">а</span>ть';
	@trans = 'to be in a lying position';
	@pr_stems = ['леж','леж','леж'];
	@pst_stem = 'леж<span class="accom">а</span>л';
	@asp = 0;
	@conj_type=2;
	@pr_end_var = 5;
	@pst_end_var = 1; 
when 'govorit'
	@infinitive = 'говорить';
	@inf = 'говор<span class="accom">и</span>ть';
	@trans = 'to speak';
	@pr_stems = ['говор','говор','говор'];
	@pst_stem = 'говор<span class="accom">и</span>л';
	@asp = 0;
	@conj_type=2;
	@pr_end_var = 4;
	@pst_end_var = 1; 
when 'zvonit'
	@infinitive = 'звонить';
	@inf = 'звон<span class="accom">и</span>ть';
	@trans = 'to call, to phone';
	@pr_stems = ['звон','звон','звон'];
	@pst_stem = 'звон<span class="accom">и</span>л';
	@asp = 0;
	@conj_type=2;
	@pr_end_var = 4;
	@pst_end_var = 1;
when 'pozvonit'
	@infinitive = 'позвонить';
	@inf = 'позвон<span class="accom">и</span>ть';
	@trans = 'to call, to phone';
	@pr_stems = ['позвон','позвон','позвон'];
	@pst_stem = 'позвон<span class="accom">и</span>л';
	@asp = 1;
	@conj_type=2;
	@pr_end_var = 4;
	@pst_end_var = 1;
when 'stanovitsa'
	@infinitive = 'становиться';
	@inf = 'станов<span class="accom">и</span>ться';
	@trans = 'to become';
	@pr_stems = ['становл','стан<span class="accom">о</span>в','стан<span class="accom">о</span>в'];
	@pst_stem = 'станов<span class="accom">и</span>л';
	@asp = 0;
	@reflexive = 1;
	@conj_type=2;
	@pr_end_var = 7;
	@pst_end_var = 1;
when 'stat'
	@infinitive = 'стать';
	@inf = 'ст<span class="accom">а</span>ть';
	@trans = 'to become';
	@pr_stems = ['ст<span class="accom">а</span>н','ст<span class="accom">а</span>н','ст<span class="accom">а</span>н'];
	@pst_stem = 'ст<span class="accom">а</span>л';
	@asp = 1;
	@conj_type=1;
	@pr_end_var = 2;
	@pst_end_var = 1;
when 'izuchat'
	@infinitive = 'изучать';
	@inf = 'изуч<span class="accom">а</span>ть';
	@trans = 'to study';
	@pr_stems = ['изуч<span class="accom">а</span>','изуч<span class="accom">а</span>','изуч<span class="accom">а</span>'];
	@pst_stem = 'изуч<span class="accom">а</span>л';
	@asp = 0;
	@conj_type=1;
	@pr_end_var = 1;
	@pst_end_var = 1;
when 'izuchit'
	@infinitive = 'изучить';
	@inf = 'изуч<span class="accom">и</span>ть';
	@trans = 'to study';
	@pr_stems = ['изуч','из<span class="accom">у</span>ч','из<span class="accom">у</span>ч'];
	@pst_stem = 'изуч<span class="accom">и</span>л';
	@asp = 1;
	@conj_type=2;
	@pr_end_var = 9;
	@pst_end_var = 1;
when 'klast'
	@infinitive = 'класть';
	@inf = 'класть';
	@trans = 'to put';
	@pr_stems = ['клад','клад','клад'];
	@spec_pst = ['кл<span class="accom">а</span>л','клал<span class="accom">а</span>','клал<span class="accom">о</span>','кл<span class="accom">а</span>ли'];
	@asp = 0;
	@conj_type=1;
	@pr_end_var = 4;
	@pst_end_var = 1;
when 'polojit'
	@infinitive = 'положить';
	@inf = 'полож<span class="accom">и</span>ть';
	@trans = 'to put';
	@pr_stems = ['полож','пол<span class="accom">о</span>ж','пол<span class="accom">о</span>ж'];
	@pst_stem = 'полож<span class="accom">и</span>л';
	@asp = 1;
	@conj_type=2;
	@pr_end_var = 9;
	@pst_end_var = 1;
when 'moch'
	@infinitive = 'мочь';
	@inf = 'мочь';
	@trans = 'can, to be able';
	@pr_stems = ['мог','м<span class="accom">о</span>ж','м<span class="accom">о</span>г'];
	@pst_stem = 'мог';
	@spec_ft = [' --',' --',' --',' --',' --',' --']
	@asp = 0;
	@conj_type=1;
	@pr_end_var = 6;
	@pst_end_var = 3;
when 'smoch'
	@infinitive = 'cмочь';
	@inf = 'cмочь';
	@trans = 'can, to be able';
	@pr_stems = ['смог','см<span class="accom">о</span>ж','см<span class="accom">о</span>г'];
	@pst_stem = 'смог';
	@asp = 1;
	@conj_type=1;
	@pr_end_var = 6;
	@pst_end_var = 3;
when 'myt'
	@infinitive = 'мыть';
	@inf = 'м<span class="accom">ы</span>ть';
	@trans = 'to wash';
	@pr_stems = ['м<span class="accom">о</span>','м<span class="accom">о</span>','м<span class="accom">о</span>'];
	@pst_stem = 'м<span class="accom">ы</span>л';
	@asp = 0;
	@conj_type=1;
	@pr_end_var = 1;
	@pst_end_var = 1;
when 'pomyt'
	@infinitive = 'помыть';
	@inf = 'пом<span class="accom">ы</span>ть';
	@trans = 'to wash';
	@pr_stems = ['пом<span class="accom">о</span>','пом<span class="accom">о</span>','пом<span class="accom">о</span>'];
	@pst_stem = 'пом<span class="accom">ы</span>л';
	@asp = 1;
	@conj_type=1;
	@pr_end_var = 1;
	@pst_end_var = 1;
when 'lubit'
	@infinitive = 'любить';
	@inf = 'люб<span class="accom">и</span>ть';
	@trans = 'to love';
	@pr_stems = ['любл','л<span class="accom">ю</span>б','л<span class="accom">ю</span>б'];
	@pst_stem = 'люб<span class="accom">и</span>л';
	@asp = 0;
	@conj_type=2;
	@pr_end_var = 7;
	@pst_end_var = 1;
when 'polubit'
	@infinitive = 'полюбить';
	@inf = 'полюб<span class="accom">и</span>ть';
	@trans = 'to love';
	@pr_stems = ['полюбл','пол<span class="accom">ю</span>б','пол<span class="accom">ю</span>б'];
	@pst_stem = 'полюб<span class="accom">и</span>л';
	@asp = 1;
	@conj_type=2;
	@pr_end_var = 7;
	@pst_end_var = 1;
when 'konchat'
	@infinitive = 'кончать';
	@inf = 'конч<span class="accom">а</span>ть';
	@trans = 'to finish';
	@pr_stems = ['конч<span class="accom">а</span>','конч<span class="accom">а</span>','конч<span class="accom">а</span>'];
	@pst_stem = 'конч<span class="accom">а</span>л';
	@asp = 0;
	@conj_type=1;
	@pr_end_var = 1;
	@pst_end_var = 1;
when 'konchit'
	@infinitive = 'кончить';
	@inf = 'к<span class="accom">о</span>нчить';
	@trans = 'to finish';
	@pr_stems = ['к<span class="accom">о</span>нч','к<span class="accom">о</span>нч','к<span class="accom">о</span>нч'];
	@pst_stem = 'к<span class="accom">о</span>нчил';
	@asp = 1;
	@conj_type=2;
	@pr_end_var = 3;
	@pst_end_var = 1;
when 'nahodit'
	@infinitive = 'находить';
	@inf = 'наход<span class="accom">и</span>ть';
	@trans = 'to find';
	@pr_stems = ['нахож','нах<span class="accom">о</span>д','нах<span class="accom">о</span>д'];
	@pst_stem = 'наход<span class="accom">и</span>л';
	@asp = 0;
	@conj_type=2;
	@pr_end_var = 8;
	@pst_end_var = 1;
when 'nayti'
	@infinitive = 'найти';
	@inf = 'найти';
	@trans = 'to find';
	@pr_stems = ['найд','найд','найд'];
	@spec_pst= ['нашёл','нашл<span class="accom">а</span>','нашл<span class="accom">о</span>','нашл<span class="accom">и</span>'];
	@asp = 1;
	@conj_type=1;
	@pr_end_var = 4;
	@pst_end_var = 1;
when 'nachinat'
	@infinitive = 'начинать';
	@inf = 'начин<span class="accom">а</span>ть';
	@trans = 'to begin';
	@pr_stems = ['начин<span class="accom">а</span>','начин<span class="accom">а</span>','начин<span class="accom">а</span>'];
	@pst_stem = 'начин<span class="accom">а</span>л';
	@asp = 0;
	@conj_type=1;
	@pr_end_var = 1;
	@pst_end_var = 1;
when 'nachat'
	@infinitive = 'начать';
	@inf = 'нач<span class="accom">а</span>ть';
	@trans = 'to begin';
	@pr_stems = ['начн','начн','начн'];
	@spec_pst = ['н<span class="accom">а</span>чал', 'начал<span class="accom">а</span>','начал<span class="accom">о</span>','н<span class="accom">а</span>чали'];
	@asp = 1;
	@conj_type=1;
	@pr_end_var = 4;
	@pst_end_var = 1;
when 'otvechat'
	@infinitive = 'отвечать';
	@inf = 'отвеч<span class="accom">а</span>ть';
	@trans = 'to answer';
	@pr_stems = ['отвеч<span class="accom">а</span>','отвеч<span class="accom">а</span>','отвеч<span class="accom">а</span>'];
	@pst_stem = 'отвеч<span class="accom">а</span>л';
	@asp = 0;
	@conj_type=1;
	@pr_end_var = 1;
	@pst_end_var = 1;
when 'otvetit'
	@infinitive = 'ответить';
	@inf = 'отв<span class="accom">е</span>тить';
	@trans = 'to answer';
	@pr_stems = ['отв<span class="accom">е</span>ч','отв<span class="accom">е</span>т','отв<span class="accom">е</span>т'];
	@pst_stem = 'отв<span class="accom">е</span>тил';
	@asp = 1;
	@conj_type=2;
	@pr_end_var = 2;
	@pst_end_var = 1;
when 'otdyhat'
	@infinitive = 'отдыхать';
	@inf = 'отдых<span class="accom">а</span>ть';
	@trans = 'to rest, to relax';
	@pr_stems = ['отдых<span class="accom">а</span>','отдых<span class="accom">а</span>','отдых<span class="accom">а</span>'];
	@pst_stem = 'отдых<span class="accom">а</span>л';
	@asp = 0;
	@conj_type=1;
	@pr_end_var = 1;
	@pst_end_var = 1;
when 'otdohnut'
	@infinitive = 'отдохнуть';
	@inf = 'отдохн<span class="accom">у</span>ть';
	@trans = 'to rest, to relax';
	@pr_stems = ['отдохн','отдохн','отдохн'];
	@pst_stem = 'отдохн<span class="accom">у</span>л';
	@asp = 1;
	@conj_type=1;
	@pr_end_var = 4;
	@pst_end_var = 1;
when 'otkryvat'
	@infinitive = 'открывать';
	@inf = 'открыв<span class="accom">а</span>ть';
	@trans = 'to open';
	@pr_stems = ['открыв<span class="accom">а</span>','открыв<span class="accom">а</span>','открыв<span class="accom">а</span>'];
	@pst_stem = 'открыв<span class="accom">а</span>л';
	@asp = 0;
	@conj_type=1;
	@pr_end_var = 1;
	@pst_end_var = 1;
when 'otkryt'
	@infinitive = 'открыть';
	@inf = 'откр<span class="accom">ы</span>ть';
	@trans = 'to open';
	@pr_stems = ['откр<span class="accom">о</span>','откр<span class="accom">о</span>','откр<span class="accom">о</span>'];
	@pst_stem = 'откр<span class="accom">ы</span>л';
	@asp = 1;
	@conj_type=1;
	@pr_end_var = 1;
	@pst_end_var = 1;
when 'perestavat'
	@infinitive = 'переставать';
	@inf = 'перестав<span class="accom">а</span>ть';
	@trans = 'to stop';
	@pr_stems = ['переста','переста','переста'];
	@pst_stem = 'перестав<span class="accom">а</span>л';
	@asp = 0;
	@conj_type=1;
	@pr_end_var = 3;
	@pst_end_var = 1;
when 'perestat'
	@infinitive = 'перестать';
	@inf = 'перест<span class="accom">а</span>ть';
	@trans = 'to stop';
	@pr_stems = ['перест<span class="accom">а</span>н','перест<span class="accom">а</span>н','перест<span class="accom">а</span>н'];
	@pst_stem = 'перест<span class="accom">а</span>л';
	@asp = 1;
	@conj_type=1;
	@pr_end_var = 2;
	@pst_end_var = 1;
when 'pet'
	@infinitive = 'петь';
	@inf = 'п<span class="accom">е</span>ть';
	@trans = 'to sing';
	@pr_stems = ['по','по','по'];
	@pst_stem = 'п<span class="accom">е</span>л';
	@asp = 0;
	@conj_type=1;
	@pr_end_var = 3;
	@pst_end_var = 1;
when 'spet'
	@infinitive = 'спеть';
	@inf = 'сп<span class="accom">е</span>ть';
	@trans = 'to sing';
	@pr_stems = ['спо','спо','спо'];
	@pst_stem = 'сп<span class="accom">е</span>л';
	@asp = 1;
	@conj_type=1;
	@pr_end_var = 3;
	@pst_end_var = 1;
when 'pisat'
	@infinitive = 'писать';
	@inf = 'пис<span class="accom">а</span>ть';
	@trans = 'to write';
	@pr_stems = ['пиш','п<span class="accom">и</span>ш','п<span class="accom">и</span>ш'];
	@pst_stem = 'пис<span class="accom">а</span>л';
	@asp = 0;
	@conj_type=1;
	@pr_end_var = 6;
	@pst_end_var = 1;
when 'napisat'
	@infinitive = 'написать';
	@inf = 'напис<span class="accom">а</span>ть';
	@trans = 'to write';
	@pr_stems = ['напиш','нап<span class="accom">и</span>ш','нап<span class="accom">и</span>ш'];
	@pst_stem = 'напис<span class="accom">а</span>л';
	@asp = 1;
	@conj_type=1;
	@pr_end_var = 6;
	@pst_end_var = 1;
when 'pit'
	@infinitive = 'пить';
	@inf = 'п<span class="accom">и</span>ть';
	@trans = 'to drink';
	@pr_stems = ['пь','пь','пь'];
	@spec_pst = ['п<span class="accom">и</span>л','пил<span class="accom">а</span>','пил<span class="accom">о</span>','п<span class="accom">и</span>ли'];
	@asp = 0;
	@conj_type=1;
	@pr_end_var = 3;
	@pst_end_var = 1;
when 'vypit'
	@infinitive = 'выпить';
	@inf = 'в<span class="accom">ы</span>пить';
	@trans = 'to drink';
	@pr_stems = ['в<span class="accom">ы</span>пь','в<span class="accom">ы</span>пь','в<span class="accom">ы</span>пь'];
	@pst_stem = 'в<span class="accom">ы</span>пил';
	@asp = 1;
	@conj_type=1;
	@pr_end_var = 1;
	@pst_end_var = 1;
when 'platit'
	@infinitive = 'платить';
	@inf = 'плат<span class="accom">и</span>ть';
	@trans = 'to pay';
	@pr_stems = ['плач','пл<span class="accom">а</span>т','пл<span class="accom">а</span>т'];
	@pst_stem = 'плат<span class="accom">и</span>л';
	@asp = 0;
	@conj_type=2;
	@pr_end_var = 8;
	@pst_end_var = 1;
when 'zaplatit'
	@infinitive = 'заплатить';
	@inf = 'заплат<span class="accom">и</span>ть';
	@trans = 'to pay';
	@pr_stems = ['заплач','запл<span class="accom">а</span>т','запл<span class="accom">а</span>т'];
	@pst_stem = 'заплат<span class="accom">и</span>л';
	@asp = 1;
	@conj_type=2;
	@pr_end_var = 8;
	@pst_end_var = 1;
when 'povtoryat'
	@infinitive = 'повторять';
	@inf = 'повтор<span class="accom">я</span>ть';
	@trans = 'to repeat, to review';
	@pr_stems = ['повтор<span class="accom">я</span>','повтор<span class="accom">я</span>','повтор<span class="accom">я</span>'];
	@pst_stem = 'повтор<span class="accom">я</span>л';
	@asp = 0;
	@conj_type=1;
	@pr_end_var = 1;
	@pst_end_var = 1;
when 'povtorit'
	@infinitive = 'повторить';
	@inf = 'повтор<span class="accom">и</span>ть';
	@trans = 'to repeat, to review';
	@pr_stems = ['повтор','повтор','повтор'];
	@pst_stem = 'повтор<span class="accom">и</span>л';
	@asp = 1;
	@conj_type=2;
	@pr_end_var = 4;
	@pst_end_var = 1;
when 'pokazyvat'
	@infinitive = 'показывать';
	@inf = 'пок<span class="accom">а</span>зывать';
	@trans = 'to show';
	@pr_stems = ['пок<span class="accom">а</span>зыва','пок<span class="accom">а</span>зыва','пок<span class="accom">а</span>зыва'];
	@pst_stem = 'пок<span class="accom">а</span>зывал';
	@asp = 0;
	@conj_type=1;
	@pr_end_var = 1;
	@pst_end_var = 1;
when 'pokazat'
	@infinitive = 'показать';
	@inf = 'показ<span class="accom">а</span>ть';
	@trans = 'to show';
	@pr_stems = ['покаж','пок<span class="accom">а</span>ж','пок<span class="accom">а</span>ж'];
	@pst_stem = 'показ<span class="accom">а</span>л';
	@asp = 1;
	@conj_type=1;
	@pr_end_var = 6;
	@pst_end_var = 1;
when 'pokupat'
	@infinitive = 'покупать';
	@inf = 'покуп<span class="accom">а</span>ть';
	@trans = 'to buy';
	@pr_stems = ['покуп<span class="accom">а</span>','покуп<span class="accom">а</span>','покуп<span class="accom">а</span>'];
	@pst_stem = 'покуп<span class="accom">а</span>л';
	@asp = 0;
	@conj_type=1;
	@pr_end_var = 1;
	@pst_end_var = 1;
when 'kupit'
	@infinitive = 'купить';
	@inf = 'куп<span class="accom">и</span>ть';
	@trans = 'to buy';
	@pr_stems = ['купл','к<span class="accom">у</span>п','к<span class="accom">у</span>п'];
	@pst_stem = 'куп<span class="accom">и</span>л';
	@asp = 1;
	@conj_type=2;
	@pr_end_var = 7;
	@pst_end_var = 1;
when 'poluchat'
	@infinitive = 'получать';
	@inf = 'получ<span class="accom">а</span>ть';
	@trans = 'to get, to receive';
	@pr_stems = ['получ<span class="accom">а</span>','получ<span class="accom">а</span>','получ<span class="accom">а</span>'];
	@pst_stem = 'получ<span class="accom">а</span>л';
	@asp = 0;
	@conj_type=1;
	@pr_end_var = 1;
	@pst_end_var = 1;
when 'poluchit'
	@infinitive = 'получить';
	@inf = 'получ<span class="accom">и</span>ть';
	@trans = 'to get, to receive';
	@pr_stems = ['получ','пол<span class="accom">у</span>ч','пол<span class="accom">у</span>ч'];
	@pst_stem = 'получ<span class="accom">и</span>л';
	@asp = 1;
	@conj_type=2;
	@pr_end_var = 9;
	@pst_end_var = 1;
when 'pomogat'
	@infinitive = 'помогать';
	@inf = 'помог<span class="accom">а</span>ть';
	@trans = 'to help';
	@pr_stems = ['помог<span class="accom">а</span>','помог<span class="accom">а</span>','помог<span class="accom">а</span>'];
	@pst_stem = 'помог<span class="accom">а</span>л';
	@asp = 0;
	@conj_type=1;
	@pr_end_var = 1;
	@pst_end_var = 1;
when 'pomoch'
	@infinitive = 'помочь';
	@inf = 'пом<span class="accom">о</span>чь';
	@trans = 'to help';
	@pr_stems = ['помог','пом<span class="accom">о</span>ж','пом<span class="accom">о</span>г'];
	@pst_stem = 'помог';
	@asp = 1;
	@conj_type=1;
	@pr_end_var = 6;
	@pst_end_var = 3;
when 'ponimat'
	@infinitive = 'понимать';
	@inf = 'поним<span class="accom">а</span>ть';
	@trans = 'to understand';
	@pr_stems = ['поним<span class="accom">а</span>','поним<span class="accom">а</span>','поним<span class="accom">а</span>'];
	@pst_stem = 'поним<span class="accom">а</span>л';
	@asp = 0;
	@conj_type=1;
	@pr_end_var = 1;
	@pst_end_var = 1;
when 'ponyat'
	@infinitive = 'понять';
	@inf = 'пон<span class="accom">я</span>ть';
	@trans = 'to understand';
	@pr_stems = ['пойм','пойм','пойм'];
	@spec_pst = ['п<span class="accom">о</span>нял','понял<span class="accom">а</span>','понял<span class="accom">о</span>','п<span class="accom">о</span>няли'];
	@asp = 1;
	@conj_type=1;
	@pr_end_var = 4;
	@pst_end_var = 1;
when 'posylat'
	@infinitive = 'посылать';
	@inf = 'посылать';
	@trans = 'to send';
	@pr_stems = ['посыла','посыла','посыла'];
	@pst_stem = 'посылал';
	@asp = 0;
	@conj_type=1;
	@pr_end_var = 1;
	@pst_end_var = 1;
when 'poslat'
	@infinitive = 'послать';
	@inf = 'послать';
	@trans = 'to send';
	@pr_stems = ['пошл','пошл','пошл'];
	@pst_stem = 'послал';
	@asp = 1;
	@conj_type=1;
	@pr_end_var = 3;
	@pst_end_var = 1;
when 'prosit'
	@infinitive = 'просить';
	@inf = 'просить';
	@trans = 'to ask (to do smth)';
	@pr_stems = ['прош','прос','прос'];
	@pst_stem = 'просил';
	@asp = 0;
	@conj_type=2;
	@pr_end_var = 8;
	@pst_end_var = 1;
when 'poprosit'
	@infinitive = 'попросить';
	@inf = 'попросить';
	@trans = 'to ask (to do smth)';
	@pr_stems = ['попрош','попрос','попрос'];
	@pst_stem = 'попросил';
	@asp = 1;
	@conj_type=2;
	@pr_end_var = 8;
	@pst_end_var = 1;
when 'reshat'
	@infinitive = 'решать';
	@inf = 'решать';
	@trans = 'to decide';
	@pr_stems = ['реша','реша','реша'];
	@pst_stem = 'решал';
	@asp = 0;
	@conj_type=1;
	@pr_end_var = 1;
	@pst_end_var = 1;
when 'reshit'
	@infinitive = 'решить';
	@inf = 'решить';
	@trans = 'to decide';
	@pr_stems = ['реш','реш','реш'];
	@pst_stem = 'решил';
	@asp = 1;
	@conj_type=2;
	@pr_end_var = 5;
	@pst_end_var = 1;
when 'risovat'
	@infinitive = 'рисовать';
	@inf = 'рисовать';
	@trans = 'to draw';
	@pr_stems = ['рису','рису','рису'];
	@pst_stem = 'рисовал';
	@asp = 0;
	@conj_type=1;
	@pr_end_var = 1;
	@pst_end_var = 1;
when 'narisovat'
	@infinitive = 'нарисовать';
	@inf = 'нарисовать';
	@trans = 'to draw';
	@pr_stems = ['нарису','нарису','нарису'];
	@pst_stem = 'нарисовал';
	@asp = 1;
	@conj_type=1;
	@pr_end_var = 1;
	@pst_end_var = 1;
when 'slushat'
	@infinitive = 'слушать';
	@inf = 'слушать';
	@trans = 'to listen';
	@pr_stems = ['слуша','слуша','слуша'];
	@pst_stem = 'слушал';
	@asp = 0;
	@conj_type=1;
	@pr_end_var = 1;
	@pst_end_var = 1;
when 'poslushat'
	@infinitive = 'послушать';
	@inf = 'послушать';
	@trans = 'to listen';
	@pr_stems = ['послуша','послуша','послуша'];
	@pst_stem = 'послушал';
	@asp = 1;
	@conj_type=1;
	@pr_end_var = 1;
	@pst_end_var = 1;
when 'slyshat'
	@infinitive = 'слышать';
	@inf = 'слышать';
	@trans = 'to hear';
	@pr_stems = ['слыш','слыш','слыш'];
	@pst_stem = 'слышал';
	@asp = 0;
	@conj_type=2;
	@pr_end_var = 3;
	@pst_end_var = 1;
when 'uslyshat'
	@infinitive = 'услышать';
	@inf = 'услышать';
	@trans = 'to hear';
	@pr_stems = ['услыш','услыш','услыш'];
	@pst_stem = 'услышал';
	@asp = 1;
	@conj_type=2;
	@pr_end_var = 3;
	@pst_end_var = 1;
when 'posmotret'
	@infinitive = 'посмотреть';
	@inf = 'посмотреть';
	@trans = 'to see, to watch';
	@pr_stems = ['посмотр','посмотр','посмотр'];
	@pst_stem = 'посмотрел';
	@asp = 1;
	@conj_type=2;
	@pr_end_var = 7;
	@pst_end_var = 1;
when 'sprashivat'
	@infinitive = 'спрашивать';
	@inf = 'спрашивать';
	@trans = 'to ask';
	@pr_stems = ['спрашива','спрашива','спрашива'];
	@pst_stem = 'спрашивал';
	@asp = 0;
	@conj_type=1;
	@pr_end_var = 1;
	@pst_end_var = 1;
when 'sprashivat'
	@infinitive = 'спрашивать';
	@inf = 'спрашивать';
	@trans = 'to ask';
	@pr_stems = ['спрашива','спрашива','спрашива'];
	@pst_stem = 'спрашивал';
	@asp = 0;
	@conj_type=1;
	@pr_end_var = 1;
	@pst_end_var = 1;
when 'sprosit'
	@infinitive = 'спросить';
	@inf = 'спросить';
	@trans = 'to ask';
	@pr_stems = ['спрош','спрос','спрос'];
	@pst_stem = 'спросил';
	@asp = 1;
	@conj_type=2;
	@pr_end_var = 8;
	@pst_end_var = 1;
when 'stroit'
	@infinitive = 'строить';
	@inf = 'строить';
	@trans = 'to build';
	@pr_stems = ['стро','стро','стро'];
	@pst_stem = 'строил';
	@asp = 0;
	@conj_type=2;
	@pr_end_var = 1;
	@pst_end_var = 1;
when 'postroit'
	@infinitive = 'построить';
	@inf = 'построить';
	@trans = 'to build';
	@pr_stems = ['постро','постро','постро'];
	@pst_stem = 'построил';
	@asp = 1;
	@conj_type=2;
	@pr_end_var = 1;
	@pst_end_var = 1;
when 'ustavat'
	@infinitive = 'уставать';
	@inf = 'уставать';
	@trans = 'to get tired, to tire (of doing smth)';
	@pr_stems = ['уста','уста','уста'];
	@pst_stem = 'уставал';
	@asp = 0;
	@conj_type=1;
	@pr_end_var = 3;
	@pst_end_var = 1;
when 'ustat'
	@infinitive = 'устать';
	@inf = 'уставать';
	@trans = 'to get tired, to tire (of doing smth)';
	@pr_stems = ['устан','устан','устан'];
	@pst_stem = 'устал';
	@asp = 1;
	@conj_type=1;
	@pr_end_var = 2;
	@pst_end_var = 1;
when 'hotet'
	@infinitive = 'хотеть';
	@inf = 'хотеть';
	@trans = 'to want';
	@spec_pr = ['хочу','хочешь','хочет','хотим','хотите','хотят'];
	@pst_stem = 'хотел';
	@asp = 0;
	@conj_type=1;
	@pr_end_var = 1;
	@pst_end_var = 1;
when 'zahotet'
	@infinitive = 'захотеть';
	@inf = 'захотеть';
	@trans = 'to want';
	@spec_pr = ['захочу','захочешь','захочет','захотим','захотите','захотят'];
	@pst_stem = 'захотел';
	@asp = 1;
	@conj_type=1;
	@pr_end_var = 1;
	@pst_end_var = 1;
when 'chitat'
	@infinitive = 'читать';
	@inf = 'читать';
	@trans = 'to read';
	@pr_stems = ['чита','чита','чита'];
	@pst_stem = 'читал';
	@asp = 0;
	@conj_type=1;
	@pr_end_var = 1;
	@pst_end_var = 1;
when 'prochitat'
	@infinitive = 'прочитать';
	@inf = 'прочитать';
	@trans = 'to read';
	@pr_stems = ['прочита','прочита','прочита'];
	@pst_stem = 'прочитал';
	@asp = 1;
	@conj_type=1;
	@pr_end_var = 1;
	@pst_end_var = 1;
when 'znat'
	@infinitive = 'знать';
	@inf = 'знать';
	@trans = 'to know';
	@pr_stems = ['зна','зна','зна'];
	@pst_stem = 'знал';
	@asp = 0;
	@conj_type=1;
	@pr_end_var = 1;
	@pst_end_var = 1;
when 'uznat'
	@infinitive = 'узнать';
	@inf = 'узнать';
	@trans = 'to know, to find out, to learn';
	@pr_stems = ['узна','узна','узна'];
	@pst_stem = 'узнал';
	@asp = 1;
	@conj_type=1;
	@pr_end_var = 1;
	@pst_end_var = 1;
when 'dumat'
	@infinitive = 'думать';
	@inf = 'думать';
	@trans = 'to think';
	@pr_stems = ['дума','дума','дума'];
	@pst_stem = 'думал';
	@asp = 0;
	@conj_type=1;
	@pr_end_var = 1;
	@pst_end_var = 1;
when 'podumat'
	@infinitive = 'подумать';
	@inf = 'подумать';
	@trans = 'to think';
	@pr_stems = ['подума','подума','подума'];
	@pst_stem = 'подумал';
	@asp = 1;
	@conj_type=1;
	@pr_end_var = 1;
	@pst_end_var = 1;
when 'davat'
	@infinitive = 'давать';
	@inf = 'давать';
	@trans = 'to give';
	@pr_stems = ['да','да','да'];
	@pst_stem = 'давал';
	@asp = 0;
	@conj_type=1;
	@pr_end_var = 3;
	@pst_end_var = 1;
when 'dat'
	@infinitive = 'дать';
	@inf = 'дать';
	@trans = 'to give';
	@spec_pr = ['дам','дашь','даст','дадим','дадите','дадут'];
	@spec_pst = ['дал','дала','дало','дали'];
	@asp = 1;
	@conj_type=1;
	@pr_end_var = 1;
	@pst_end_var = 1;
when 'jdat'
	@infinitive = 'ждать';
	@inf = 'ждать';
	@trans = 'to wait';
	@pr_stems = ['жд','жд','жд'];
	@spec_pst = ['ждал','ждала','ждало','ждали'];
	@asp = 0;
	@conj_type=1;
	@pr_end_var = 4;
	@pst_end_var = 1;
when 'podojdat'
	@infinitive = 'подождать';
	@inf = 'подождать';
	@trans = 'to wait';
	@pr_stems = ['подожд','подожд','подожд'];
	@spec_pst = ['подождал','подождала','подождало','подождали'];
	@asp = 1;
	@conj_type=1;
	@pr_end_var = 4;
	@pst_end_var = 1;
when 'bejat'
	@infinitive = 'бежать';
	@inf = 'бежать';
	@trans = 'to run';
	@spec_pr = ['бегу','бежишь','бежит','бежим','бежите','бегут'];
	@pst_stem = 'бежал';
	@asp = 0;
	@conj_type=1;
	@pr_end_var = 1;
	@pst_end_var = 1;
when 'pobejat'
	@infinitive = 'побежать';
	@inf = 'побежать';
	@trans = 'to run';
	@spec_pr = ['побегу','побежишь','побежит','побежим','побежите','побегут'];
	@pst_stem = 'побежал';
	@asp = 1;
	@conj_type=1;
	@pr_end_var = 1;
	@pst_end_var = 1;
when 'ehat'
	@infinitive = 'ехать';
	@inf = 'ехать';
	@trans = 'to go by a vehicle, to ride, to travel';
	@pr_stems = ['ед','ед','ед'];
	@pst_stem = 'ехал';
	@asp = 0;
	@conj_type=1;
	@pr_end_var = 2;
	@pst_end_var = 1;
when 'poehat'
	@infinitive = 'поехать';
	@inf = 'поехать';
	@trans = 'to go by a vehicle, to ride, to travel';
	@pr_stems = ['поед','поед','поед'];
	@pst_stem = 'поехал';
	@asp = 1;
	@conj_type=1;
	@pr_end_var = 2;
	@pst_end_var = 1;
when 'ezdit'
	@infinitive = 'ездить';
	@inf = 'ездить';
	@trans = 'to go by a vehicle, to ride, to travel (regularly)';
	@pr_stems = ['езж','езд','езд'];
	@pst_stem = 'ездил';
	@asp = 0;
	@conj_type=2;
	@pr_end_var = 2;
	@pst_end_var = 1;
when 'delat'
	@infinitive = 'делать';
	@inf = 'делать';
	@trans = 'to do, to make';
	@pr_stems = ['дела','дела','дела'];
	@pst_stem = 'делал';
	@asp = 0;
	@conj_type=1;
	@pr_end_var = 1;
	@pst_end_var = 1;
when 'sdelat'
	@infinitive = 'сделать';
	@inf = 'сделать';
	@trans = 'to do, to make';
	@pr_stems = ['сдела','сдела','сдела'];
	@pst_stem = 'сделал';
	@asp = 1;
	@conj_type=1;
	@pr_end_var = 1;
	@pst_end_var = 1;
when 'videt'
	@infinitive = 'видеть';
	@inf = 'видеть';
	@trans = 'to see';
	@pr_stems = ['виж','вид','вид'];
	@pst_stem = 'видел';
	@asp = 0;
	@conj_type=2;
	@pr_end_var = 2;
	@pst_end_var = 1;
when 'uvidet'
	@infinitive = 'увидеть';
	@inf = 'увидеть';
	@trans = 'to see';
	@pr_stems = ['увиж','увид','увид'];
	@pst_stem = 'увидел';
	@asp = 1;
	@conj_type=2;
	@pr_end_var = 2;
	@pst_end_var = 1;
when 'jit'
	@infinitive = 'жить';
	@inf = 'жить';
	@trans = 'to live';
	@pr_stems = ['жив','жив','жив'];
	@spec_pst = ['жил','жила','жило','жили'];
	@asp = 0;
	@conj_type=1;
	@pr_end_var = 4;
	@pst_end_var = 1;
when 'projit'
	@infinitive = 'прожить';
	@inf = 'прожить';
	@trans = 'to live';
	@pr_stems = ['прожив','прожив','прожив'];
	@spec_pst = ['прожил','прожила','прожило','прожили'];
	@asp = 1;
	@conj_type=1;
	@pr_end_var = 4;
	@pst_end_var = 1;
when 'tantsevat'
	@infinitive = 'танцевать';
	@inf = 'танцевать';
	@trans = 'to dance';
	@pr_stems = ['танцу','танцу','танцу'];
	@pst_stem = 'танцевал';
	@asp = 0;
	@conj_type=1;
	@pr_end_var = 1;
	@pst_end_var = 1;
when 'potantsevat'
	@infinitive = 'потанцевать';
	@inf = 'потанцевать';
	@trans = 'to dance';
	@pr_stems = ['потанцу','потанцу','потанцу'];
	@pst_stem = 'потанцевал';
	@asp = 1;
	@conj_type=1;
	@pr_end_var = 1;
	@pst_end_var = 1;
end


%>




<%= render :partial => 'verb_forms_test'%>







