<% if @user %>
	<% if @lang == 'ru'%>
		<%= @user.email %>, чтобы сменить свой пароль, <span style="color: green;">перейдите по следующей ссылке</span>:
		
		<%= @url %>
		
		Сайт: <a href="www.study-languages-online.com">Study Languages Online</a>
	<%else%>

		<%= @user.email %>, you can change your password at this URL:

		<%= @url %>

	<%end%>
<%end%>