<% if @user %>
 <%if I18n.locale=='ru'%> 
	<b><%= @user.email %></b>, поменять пороль можно по следующей ссылке:
	<p>
	<a href="<%= @url %>"><%= @url %></a>
	</p>
 <%elsif I18n.locale=='fr'%> 	
	<b><%= @user.email %></b>, pour modifier votre mot de passe suivez le lien ci-dessous:
	<p>
	<a href="<%= @url %>"><%= @url %></a>
	</p>
 <%else%>	
	<b><%= @user.email %></b>, you can change your password at this URL:
	<p>
	<a href="<%= @url %>"><%= @url %></a>
	</p>
 <%end%>
<% end %>