<div align="center" style="padding-bottom: 10px;">
  <script type="text/javascript"><!--
    google_ad_client = "pub-8582966007397893";
    /* 468x15, links list horizont */
    google_ad_slot = "6124030423";
    google_ad_width = 468;
    google_ad_height = 15;
    //-->
  </script>
  <script type="text/javascript"
    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
  </script>
</div>