
<div class="drop_1 toopen"><span style="padding-left: 12px;">Lessons list</span></div>
	<div class="drop_2">
		<div class="drop_2bl" style="display: none;padding-top: 3px; padding-bottom: 4px;">
			<div class="drop_2x"><a class="drop_lessons_list" href="beginner-lesson-01.html">1. Greetings</a></div>
			<div class="drop_2x"><a class="drop_lessons_list" href="beginner-lesson-02.html">2. Introduction</a></div>
			<div class="drop_2x"><a class="drop_lessons_list" href="beginner-lesson-03.html">3. Nationalities</a></div>
			<div class="drop_2x"><a class="drop_lessons_list" href="beginner-lesson-04.html">4. Professions </a></div>
			<div class="drop_2x"><a class="drop_lessons_list" href="beginner-lesson-05.html">5. Languages skills</a></div>
		</div>	
	</div>

<div class="hint-vspace"></div>

