
<ul style="padding-top: 0px;">
	<li>
		<a href="functions.html">Functions &amp; Settings</a>
	</li>
</ul>

<% if @file =~ /unit\d\d\.html/ %>

<%= render :partial => 'everyday_course_links' %>
 
<div class="drop_1 toopen"><span style="padding-left: 12px;">Audio files preloading</span></div>
	<div class="drop_2">
		<div id="preload_options" class="drop_2bl" style="display: none">
			<div class="drop_2x"><span id="preload_off" class="tcheck checked">OFF</span></div>
			<div class="drop_2x"><span id="preload_on" onclick="preloadSound()" class="tcheck">ON</span></div>
		</div>	
	</div>
<div class="hint-vspace"></div> 
 
<%else%>
<div class="drop_1 toopen"><span style="padding-left: 12px;">Audio files preloading</span></div>
	<div class="drop_2">
		<div id="preload_options" class="drop_2bl" style="display: none">
			<div class="drop_2x"><span id="preload_off" class="tcheck checked">OFF</span></div>
			<div class="drop_2x"><span id="preload_on" onclick="preloadSound()" class="tcheck">ON</span></div>
		</div>	
	</div>
<div class="hint-vspace"></div> 
<div class="drop_1 toopen"><span style="padding-left: 12px;">Columns order</span></div>
	<div class="drop_2">
		<div id="columns" class="drop_2bl" style="display: none">
			<div class="drop_2x"><span id="cOrder" class="tcheck checked"><b>RU</b>-EN</span></div>
			<div class="drop_2x"><span id="nOrder" class="tcheck">EN-<b>RU</b></span></div>
		</div>	
	</div>
<div class="hint-vspace"></div>
<%end%>

<div class="drop_1 toopen"><span style="padding-left: 12px;">Stresses settings</span></div>
	<div class="drop_2">
		<div id="accents" class="drop_2bl" style="display: none">
			<div class="drop_2x"><span class="accent_off tcheck checked">hide stress</span></div>
			<div class="drop_2x toopen"><span class="accent_show tcheck" style="cursor: default">show stress</span></div>
				<div class="drop_3">
					<div class="drop_3bl" style="display: none">
						<div class="drop_3x"><span class="accent_un tcheck">vowel underlined</span></div>
						<div class="drop_3x">
							<span class="accent_on  tcheck">vowel with stress</span><br>
							<span id="accent_adjust" class="tcheck" style="padding-bottom: 2px; font-size: 9px; display: none;"> - adjust (if needed)</span>
							
						</div>
					</div>	
				</div>
		</div>	
	</div>

<div style="display: block;">
<div class="hint-vspace"></div>

<div class="drop_1 toopen"><span style="padding-left: 12px;">Softness</span></div>
	<div class="drop_2">
		<div id="softs" class="drop_2bl" style="display: none">
			<div class="drop_2x"><span id="soft_off" class="tcheck checked">OFF</span></div>
			<div class="drop_2x"><span id="soft_on" class="tcheck">ON</span></div>
		</div>	
	</div>
</div>
<div class="hint-vspace"></div>
