
<div class="drop_1 toopen"><span style="padding-left: 12px;">Lessons list</span></div>
	<div class="drop_2">
		<div class="drop_2bl" style="display: none; padding-top: 3px; padding-bottom: 3px;">
			<div class="drop_2x"><a class="drop_lessons_list" href="unit01.html">1. In the airport</a></div>
			<div class="drop_2x"><a class="drop_lessons_list" href="unit02.html">2. Transport</a></div>
			<div class="drop_2x"><a class="drop_lessons_list" href="unit03.html">3. At the hotel</a></div>
			<div class="drop_2x"><a class="drop_lessons_list" href="unit04.html">4. In the street</a></div>
			<div class="drop_2x"><a class="drop_lessons_list" href="unit05.html">5. Sightseeings</a></div>
			<div class="drop_2x"><a class="drop_lessons_list" href="unit06.html">6. Shopping</a></div>
			<div class="drop_2x"><a class="drop_lessons_list" href="unit07.html">7. At the restaurant</a></div>
			<div class="drop_2x"><a class="drop_lessons_list" href="unit08.html">8. At the drugstore</a></div>
			<div class="drop_2x"><a class="drop_lessons_list" href="unit09.html">9. Currency exchange</a></div>
			<div class="drop_2x"><a class="drop_lessons_list" href="unit10.html">10. Internet/Phone</a></div>
		</div>	
	</div>

<div class="hint-vspace"></div>

