<div class="fl-container">
<div class="fl-window">

<div class="fl-init">
<div class="fl-settings" style="" >
		<div class="fl-set-title"> Options </div>
			<div class="fl-set-list">
			<table>
				<tr>
					<td style="border-right: 1px dotted #999; padding-right: 22px">
					<b>Word list selection</b>
					<ul>
						<li><span class="fl-set-all fl-act" >> Select all</span></li>
						<li><span class="fl-set-none fl-act" >> Deselect all</span></li>
						<li><span class="fl-set-not-worked fl-act" >> Not learnt yet</span></li>
						<li><span class="fl-set-worked fl-act">> All learnt </span></li>
					</ul>
					</td>
					<td style="padding-left: 10px">
					<b>Flashcards settings</b>
					<ul>
						<li><span class="fl-act fl-switch-order" >> Words order</span><br>
							&nbsp;&nbsp;<span class="fl-direct tcheck checked fl-act" >normal order</span><br>
							&nbsp;&nbsp;<span class="fl-random tcheck fl-act">random order</span>
						</li>
						<li><span class="fl-act fl-switch-auto" >> Audio autoplay</span><br>
						&nbsp;&nbsp;<span class="fl-auto-on tcheck checked fl-act" >on</span>
								/<span class="fl-auto-off tcheck fl-act" >off</span>
						</li>
					</ul>
					</td>
				</tr>
			</table>
			</div>
		</div>
	<div class="fl-prestart">
	</div>
	<div class="fl-start-wrapper">
		<div class="fl-start fl-btn noselect"> START </div>
		<div class="fl-start-note-wrapper">
			<div class="fl-start-note">At least one word/expression <br>should be selected</div>
		</div>
	</div>
</div>
<div class="fl-end">
	<div class="fl-end-notice">Here you can see words and expressions that you have just worked with:</div>
	<div class="fl-end-list"></div>
	<div class="fl-end-wrapper">
		<div class="fl-stop fl-btn noselect"> Finish </div>
	</div>
</div>
<div class="fl-work">
<div class="fl-article-wrapper">
  <div class="fl-article-list">
	<table  style="margin: 0 auto" align="center"><tr><td height="70">
		<div class="fl-original"></div>
	</td></tr></table>
	<table  style="margin: 0 auto" align="center"><tr>
		<td><div class="fl-transcript"></div></td>
		<td style="text-align: left; height:19px;"> <div class="fl-sound"> </div> </td>
	</tr></table>
	<div class="fl-translate"></div>
  </div>
</div>
<div class="fl-auto-wrapper"><input type="checkbox" class="fl-autoplay" checked> Autoplay </div>
<div class="fl-buttons-wrapper">
	<div class="fl-next fl-btn noselect">Next >></div>
</div>
<div class="fl-check" style="min-height: 190px;">
	<div class="fl-tests" style="display: none;">
		<div class="fl-cancel-wrapper" style="display: none;">
			<div class="fl-test-task">
				<span class="fl-wrong-note fl-notes">Wrong! Try again</span>
				<span class="fl-correct-note fl-notes">Great! This is correct</span>
				<span class="fl-exclude-note fl-notes">We'll take this item off your word list</span>
				<span class="fl-task-string">Find the translation of this word/expression</span>
			</div>
			<div class="fl-cancel fl-btn noselect"> Cancel </div>
		</div>
	</div>
	<div class="fl-spell" style="display: none;">
		<div class="fl-spell-cancel-wrapper" style="display: none;">
			<div class="fl-spell-task">
				<span class="fl-wrong-spell fl-spell-notes">Wrong! Try again</span>
				<span class="fl-correct-spell fl-spell-notes">Great! This is correct</span>
				<span class="fl-task-spell">Type the Russian word/phrase in the field below</span>
			</div>
			<div class="fl-cancel-spell fl-btn noselect"> Finish </div>
		</div>
		<div class="fl-spell-test"><input class="fl-spell-field for_keyb" type="text" /></div>
		<div class="fl-spell-check-wrapper">
			<div class="fl-spell-check fl-btn noselect"> Check </div>
		</div>
		<div class="kb-show-wrapper">You can use <a href="javascript:;" class="show_keyboard">[ Virtual Keyboard ]<span style="display: none;" class="kb_offset_top">-10</span></a> to type in Russian</div>
	</div>
	<div class="fl-activity-wrapper">
	<table class="fl-activity">
		<col><col width="120">
		<tr>
			<td class="fl-text-info">Click the button "Quizzes" to complete simple tests with this word/phrase</td>
			<td> <div class="fl-verify fl-btn noselect"> Qizzes </div></td>
		</tr>
		<tr>
			<td class="fl-text-info">Click the button "Spell Practice" to type this word/phrase in Russian </td>
			<td><div class="fl-spell-btn fl-btn noselect">Spell Practice</div></td>
		</tr>
		<tr>
			<td class="fl-text-info" >Click the button "Stop" if you wish to stop and return to the main menu?</td>
			<td> <div class="fl-stop fl-btn noselect">Stop</div></td>
		</tr>
	</table>
	</div>
</div>

</div>

</div><!-- end of fl-window -->
</div><!-- end of flcontainer-->