<div class="drop_1 toopen"><span style="padding-left: 12px;">Audio files preloading</span></div>
<div class="drop_2">
  <div id="preload_options" class="drop_2bl" style="display: none">
    <div class="drop_2x"><span id="preload_off" class="tcheck checked">OFF</span></div>
    <div class="drop_2x"><span id="preload_on" onclick="preloadSound()" class="tcheck">ON</span></div>
  </div>
</div>

<div style="font-size: 0px; width: 1px; height: 10px;"></div>
