<div class="start_btn">
<input value="START" onclick="restart()" type="button">
</div>
<div style="overflow: hidden; position: relative; height: 410px; width: 509px;">

	<div class="box_together">

<table class="table_tog" border="0" cellpadding="0" cellspacing="0">
  <tr>
		<td>
			<div class="variant_tog">
				<div>&nbsp;</div>
			</div>
		</td>

		<td class="empty_tog">
		</td>

		<td>
			<div class="target_tog"></div>
		</td>
		<td class="correct_tog">
			<div class="task_tog">&nbsp;</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="variant_tog">
				<div>&nbsp;</div>
			</div>
		</td>

		<td class="empty_tog">
		</td>

		<td>
			<div class="target_tog"></div>
		</td>
		<td class="correct_tog">
			<div class="task_tog">&nbsp;</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="variant_tog"> 
				<div>&nbsp;</div>
			</div>
		</td>

		<td class="empty_tog">
		</td>

		<td>
			<div class="target_tog"></div>
		</td>
		<td class="correct_tog">
			<div class="task_tog">&nbsp;</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="variant_tog"> 
				<div>&nbsp;</div>
			</div>
		</td>

		<td class="empty_tog">
		</td>

		<td>
			<div class="target_tog"></div>
		</td>
		<td class="correct_tog">
			<div class="task_tog">&nbsp;</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="variant_tog"> 
				<div>&nbsp;</div>
			</div>
		</td>

		<td class="empty_tog">
		</td>

		<td>
			<div class="target_tog"></div>
		</td>
		<td class="correct_tog">
			<div class="task_tog">&nbsp;</div>
		</td>
	</tr>

</table>


 


<!-- table class="table_tog" border="0" cellpadding="0" cellspacing="0">
  	<tr>
		<td>
			<div class="variant_tog">
				<div>&nbsp;</div>
			</div>
		</td>
		<td class="empty_tog" style="width: 5px;"> </td>
		<td class="correct_tog" style="width: 210px;"> </td>
		<td>
			<div class="target_tog">
				<div class="task_tog">&nbsp;</div>
			</div>
		</td>
	</tr>
</table -->



<!-- table class="table_tog" border="0" cellpadding="0" cellspacing="0">
  	<tr>
		<td>
			<div class="variant_tog">
				<div>&nbsp;</div>
			</div>
		</td>
		<td class="empty_tog" style="width: 135px;"> </td>
		<td>
			<div class="target_tog">
				<div class="task_tog">&nbsp;</div>
			</div>
		</td>
		<td class="correct_tog" style="width: 80px;"> </td>
	</tr>

	
</table -->


	</div>

</div>
