<% @page_title='Уроки английского онлайн :: Изучение английского языка' %>
<% @page_meta = {'description' => "Интерактивные уроки английского: онлайн "} %>


<% content_for :special_js_css do %>
<%= stylesheet_link_tag 'cs_styles' %>
<style type="text/css">
.gr-list-head {
background-color: #DDE7F5;
background-image:url("/images/task-bg.png");
background-position:right bottom;
background-repeat:repeat-y;
border-left: 4px solid #D1DEEF;
}

.gr-list p {
font-size: 11px;
color: #444;
margin: 0 20px 15px 20px;
}
.gr-list p a {
font-size: 12px;
}

.gr-list p span {
display: block;
padding-bottom: 3px;
}

.gr-list {
margin-right: 80px;
max-width: 700px;
}
</style>

<% end %>

<h2 class="page page-bl">Онлайн уроки английского языка</h2>


<p align="center">
Здесь вы можете узнать об имеющихся на нашем сайте онлайн уроках английского языка 

<br><br><br>
</p>



<ul class="gr-list" id="theory">
	<li class="gr-li-head"><div class="gr-list-head"><span><a href="/ru/en/lesson-01.html">Урок 1</a></span></div>
		<p><span>Основные формулы вежливости. Порядок слов в английском предложении</span>
		<a href="/ru/en/lesson-01.html"><em>Пройти  урок >></em></a>
		</p>
	</li>
	<li class="gr-li-head"><div class="gr-list-head"><span><a href="/ru/en/lesson-02.html">Урок 2</a></span></div>
		<p><span>Представление. Личные местоимения. Глагол to be</span>
		<a href="/ru/en/lesson-02.html"><em>Пройти  урок >></em></a>
		</p>
	</li>
	<li class="gr-li-head"><div class="gr-list-head"><span><a href="/ru/en/lesson-03.html">Урок 3</a></span></div>
		<p><span>Национальность. Вопросительная форма.</span>
		<a href="/ru/en/lesson-03.html"><em>Пройти  урок >></em></a>
		</p>
	</li>
	<li class="gr-li-head"><div class="gr-list-head"><span><a href="/ru/en/lesson-04.html">Урок 4</a></span></div>
		<p><span>Семейное положение. Отрицательная форма.</span>
		<a href="/ru/en/lesson-04.html"><em>Пройти  урок >></em></a>
		</p>
	</li>
	<li class="gr-li-head"><div class="gr-list-head"><span><a href="/ru/en/lesson-05.html">Урок 5</a></span></div>
		<p><span>Профессии. Неопределенный артикль</span>
		<a href="/ru/en/lesson-05.html"><em>Пройти  урок >></em></a>
		</p>
	</li>
	<li class="gr-li-head"><div class="gr-list-head"><span><a href="/ru/en/lesson-06.html">Урок 6</a></span></div>
		<p><span>Люди и занятия. Множественное число существительных.</span>
		<a href="/ru/en/lesson-06.html"><em>Пройти  урок >></em></a>
		</p>
	</li>
	<li class="gr-li-head"><div class="gr-list-head"><span>Урок 7</span></div>
		<p><span>Семья. Притяжательный падеж. Притяжательные местоимения.</span>
		<a href="/ru/en/lesson-07.html"><em>Пройти  урок >></em></a>
		</p>
		
	</li>
	<li class="gr-li-head"><div class="gr-list-head"><span>Урок 8</span></div>
		<p><span>Дом, квартира. Указательные местоимения.</span>
		<a href="/ru/en/lesson-08.html"><em>Пройти  урок >></em></a>
		</p>
		
	</li>
</ul>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<script type="text/javascript">
currentSection="course";
</script>



