<% @page_title = 'Future Perfect Active :: Английская грамматика онлайн' %>
<% @page_meta = {'description' => "Грамматика английского языка: Future Perfect Active "} %>


<% content_for :special_js_css do %>

<style type="text/css">
h2.page {margin-bottom: 0px;}
</style>
<% end %>


<h2 class="page">Будущее совершенное время
</h2>

<h3 class="page-path"> 
<span class="int-links"><a href="/ru/en/english-grammar.html">Грамматика</a> <span class="int-arrow">--&gt;</span> Future Perfect Active</span> 
</h3>

<h3 class="page-p">Значение</h3>
<p>
Данное время обычно выражает действия, которые будут совершены  до определенного момента времени или до другого действия в будущем.
</p>
<h3 class="page-p">Образование форм глагола</h3>
<p>
Форма глаголов состоят из двух частей:  формы вспомогательного глагола to have в будущем времени и третьей формы смыслового глагола (причастия II).
</p>

<p>
У правильных глаголов третья форма глагола образуется также как и вторая форма, т.е. путем прибавления окончания -ed, c соответствующими орфографическими изменениями. Неправильные глаголы имеют особую форму, которая дается в словаре.
</p>

<p>
В образовании вопросительной и отрицательной форм в основном участвует вспомогательный глагол будещего времени will (shall).
</p>

<p>
Ниже представлены повествовательные, вопросительные и отрицательные формы глагола to work.
</p>

<table class="st-bl-table" cellspacing="1" align="center" style="margin: 0 auto;">
<thead>
	<tr>
		<th rowspan="2" class="ru-pers">Лицо</th>
		<th colspan="2">Число</th>
	</tr>
	<tr>
		<th class="sec-row">Единственное</th>
		<th class="sec-row">Множественное</th>
	</tr>
</thead>
<col><col width=200><col width=200>
<tbody class="conj-table">
	<tr>
		<td colspan="3" class="ru-vform"> Утвердительная форма</td>
	</tr>
	<tr>
		<td>1 л.</td>
		<td>I <strong>will have worked</strong></td>
		<td>we <strong>will have worked</strong></td>
	</tr>
	<tr>
		<td>2 л.</td><td>you <strong>will have worked</strong></td><td>you <strong>will have worked</strong></td>
	</tr>
	<tr>
		<td>3 л.</td>
		<td>
			<table><tr>
					<td>he <br> she<br>it</td>
					<td><strong>will have worked</strong></td>
			</tr></table>			
		</td>
		<td>they <strong>will have worked</strong></td>
	</tr>
	<tr>
		<td colspan="3" class="ru-vform"> Отрицательная форма</td>
	</tr>
	<tr>
		<td>1 л.</td>
		<td>I <strong>will not have worked</strong></td>
		<td>we <strong>will not have worked</strong></td>
	</tr>
	<tr>
		<td>2 л.</td><td>you <strong>will not have worked</strong></td><td>you <strong>will not have worked</strong></td>
	</tr>
	<tr>
		<td>3 л.</td>
		<td>
			<table><tr>
					<td>he <br> she<br>it</td>
					<td><strong>will not have worked</strong></td>
			</tr></table>
		</td><td>they <strong>will not have worked</strong></td>
	</tr>
	<tr>
		<td colspan="3" class="ru-vform"> Вопросительная форма</td>
	</tr>
	<tr>
		<td>1 л.</td>
		<td><strong>Will </strong> I <strong>have worked</strong>?</td>
		<td><strong>Will </strong> we <strong>have worked</strong>?</td>
	</tr>
	<tr>
		<td>2 л.</td><td><strong>Will</strong> you <strong>have worked</strong>?</td><td><strong>Will</strong> you <strong>have worked</strong>?</td>
	</tr>
	<tr>
		<td>3 л.</td>
		<td>
			<table><tr>
					<td><strong>Will</strong></td>
					<td>he <br> she<br>it</td>
					<td><strong>have worked</strong></td>
			</tr></table>
		</td>
		<td><strong>Will</strong> they <strong>have worked</strong></td>
	</tr>
</tbody>
</table>




<br><br><br><br><br><br><br><br><br><br>

<script type="text/javascript">
currentSection="grammar";
</script>