<% @page_title = 'Степени сравнения прилагательных :: Английская грамматика онлайн' %>
<% @page_meta = {'description' => "Грамматика английского языка: Степени сравнения прилагательных "} %>


<% content_for :special_js_css do %>

<style type="text/css">
h2.page {
margin-bottom: 0px;
}


</style>
<% end %>


<h2 class="page">Степени сравнения прилагательных
</h2>

<h3 class="page-path"> 
<span class="int-links"><a href="/ru/en/english-grammar.html">Грамматика</a> <span class="int-arrow">--&gt;</span> Степени сравнения прилагательных </span> 
</h3>

<p>
Прилагательные в английском языке не изменяются по лицам, числам и падежам. Качественные имена прилагательные изменяются по степеням сравнения. Как и в русском языке, в английском языке существуют три степени сравнения: положительная, сравнительная и превосходная
</p>

<h3 class="page-p">Положительная степень</h3>
<p>
Положительная степень - это основная форма прилагательных, которая указывает на наличие данного признака или качества.
</p>
<p>
Положительная степень прилагательных может употребляться при сравнении двух и более лиц или предметов в следующих сллучаях: 
<p>
<ul>
	<li>При сравнении одинаковых качеств. Для этого используется конструкции as … as, которая соответствует русской конструкции такой же … как и</li>
	<li>При указании на неравные качества. Для этого используется конструкции not as … as / not so … as, которые соответствует русской конструкции не такой … как</li>
</ul>

<h3 class="page-p">Сравнительная степень</h3>

<p>
Сравнительная степень прилагательных используется для указания на большую или меньшую выраженность признака или качества у одного предмета или лица по отношению к другому. 
</p>
<p>
У односложных прилагательных и двухсложных прилагательных, оканчивающихся на -e, -y, -er, -ow, форма сравнительной степени образуется путем прибавления суффикса -er. 
</p>
<p>
Остальные прилагательные образуют сравнительную степень сравнения с помощью слов more (более) или less (менее), которое ставится перед прилагательным. 
</p>

<h3 class="page-p">Превосходная степень</h3>

<p>
У односложных прилагательных и двухсложных прилагательных, оканчивающихся на -e, -y, -er, -ow, форма превосходной степени образуется путем прибавления суффикса -est. 
</p>
<p>
Остальные прилагательные образуют превосходную степень сравнения с помощью слов most (наиболее) или least (наименее), которое ставится перед прилагательным. 
</p>

<h3 class="page-p">Правила орфографии</h3>

<p>
При прибавлении суффиксов -er или -est применяются следующие правила орфографии:
</p>

<ul>
	<li>если прилагательное заканчивается на букву -e, то она выпадает при добавлении суффиксов -er или -est</li>
	<li>если прилагательное заканчивается на согласную с последующей буквой y, то конечная буква y меняется на i при добавлении суффиксов -er или -est</li>
	<li>если прилагательное заканчивается на краткую гласную с последующей согласной, то конечная согласная удваивается при добавлении суффиксов -er или -est</li>
</ul>

<h3 class="page-p">Исключения</h3>

<p>
Исключением из общего правила образования сравнительной и превосходной степени являются формы прилагательных good, bad, little, many, far
</p>







<br><br><br><br><br><br><br><br><br><br>

<script type="text/javascript">
currentSection="grammar";
</script>