<% @page_title = 'Количественные числительные :: Английская грамматика онлайн' %>
<% @page_meta = {'description' => "Грамматика английского языка: Количественные числительные "} %>


<% content_for :special_js_css do %>

<style type="text/css">
h2.page {
margin-bottom: 0px;
}


</style>
<% end %>


<h2 class="page">Количественные числительные
</h2>

<h3 class="page-path"> 
<span class="int-links"><a href="/ru/en/english-grammar.html">Грамматика</a> <span class="int-arrow">--&gt;</span> Количественные числительные </span> 
</h3>

<p>
Количественные числительные - слова, обозначающие количество предметов.
</p>

<h3 class="page-p">Количественные числительные от 0 до 10</h3>
<p>
Ниже представлены английские числительные первого десятка (от 0 до 10):
</p>

<table class="st-bl-table" cellspacing="1" align="center" style="margin: 0 auto;">
<thead>
	<tr>
		<th></th>
		<th>Числительное</th>
	</tr>
</thead>
<tbody>
	<tr>
		<td>0</td><td>zero</td>
	</tr>
	<tr>
		<td>1</td><td>one</td>
	</tr>
	<tr>
		<td>2</td><td>two</td>
	</tr>
	<tr>
		<td>3</td><td>three</td>
	</tr>
	<tr>
		<td>4</td><td>four</td>
	</tr>
	<tr>
		<td>5</td><td>five</td>
	</tr>
	<tr>
		<td>6</td><td>six</td>
	</tr>
	<tr>
		<td>7</td><td>seven</td>
	</tr>
	<tr>
		<td>8</td><td>eight</td>
	</tr>
	<tr>
		<td>9</td><td>nine</td>
	</tr>
	<tr>
		<td>10</td><td>ten</td>
	</tr>
</tbody>
</table>


<h3 class="page-p">Количественные числительные от 11 до 19</h3>
<p>
Числительные второго десятка, за исключением числительных 11 и 12, образуются путем прибавления суффикса -teen к соответствующему числительному первого десятка, при этом некоторые из форм числительных первого десятка частично изменяются.</p>
</p>
<p>
При чтении изолированных числительных от 13 до 19 ударение следует ставить на оба слога. Если после за ними следует определяемое слова, то ударение ставится на последний слог.
</p>


<table class="st-bl-table" cellspacing="1" align="center" style="margin: 0 auto;">
<thead>
	<tr>
		<th></th>
		<th>Числительное</th>
	</tr>
</thead>
<tbody>
	<tr>
		<td>11</td><td>eleven</td>
	</tr>
	<tr>
		<td>12</td><td>twelve</td>
	</tr>
	<tr>
		<td>13</td><td>thirteen</td>
	</tr>
	<tr>
		<td>14</td><td>fourteen</td>
	</tr>
	<tr>
		<td>15</td><td>fifteen</td>
	</tr>
	<tr>
		<td>16</td><td>sixteen</td>
	</tr>
	<tr>
		<td>17</td><td>seventeen</td>
	</tr>
	<tr>
		<td>18</td><td>eighteen</td>
	</tr>
	<tr>
		<td>19</td><td>nineteen</td>
	</tr>
</tbody>
</table>


<h3 class="page-p">Количественные числительные от 20 до 99</h3>
<p>
Количественные числительные от 20 до 90, обозначающие полные десятки, образуются путем прибавления суффикса -ty к соответствующему числительному первого десятка. При этом некоторые из форм числительных первого десятка частично изменяются.
</p>


<table class="st-bl-table" cellspacing="1" align="center" style="margin: 0 auto;">
<thead>
	<tr>
		<th></th>
		<th>Числительное</th>
	</tr>
</thead>
<tbody>
	<tr>
		<td>20</td><td>twenty</td>
	</tr>
	<tr>
		<td>30</td><td>thirty</td>
	</tr>
	<tr>
		<td>40</td><td>forty</td>
	</tr>
	<tr>
		<td>50</td><td>fifty</td>
	</tr>
	<tr>
		<td>60</td><td>sixty</td>
	</tr>
	<tr>
		<td>70</td><td>seventy</td>
	</tr>
	<tr>
		<td>80</td><td>eighty</td>
	</tr>
	<tr>
		<td>90</td><td>ninety</td>
	</tr>
</tbody>
</table>

<p>
Числительные, обозначающие десятки с единицами, пишутся через дефис.
<p>


<h3 class="page-p">Количественные числительные более 100</h3>
<p>
Количественные числительные, обозначающие полные сотни, тысячи и миллионы, образуются с помощью слов hundred (сотня), thousand (тысяча) и million (миллион), которые не прибавляют окончание -s.
</p>

<p>
При образовании многозначных числительных после сотен ставиться союз and.
</p>



<br><br><br><br><br><br><br><br><br><br>

<script type="text/javascript">
currentSection="grammar";
</script>