<% @page_title='Английский язык: Грамматика' %>
<% @page_meta = {'description' => "Обзор раздела Грамматика на сайте"} %>

<% content_for :special_css do %>
.lists li {
padding-top: 5px;
}
<% end %>

<h2 class="page page-bl">Грамматика английского языка</h2>
<p>
В данном разделе вы можете ознакомиться с грамматическими правилами английского языка.  
</p>

<h3 id="theory" class="page-p">
Теория
</h3>

<ul class="gr-list" id="theory">
	<li class="gr-li-head"><div class="gr-list-head"><span>Существительное</span></div>
		<ul>
			<li>
			<a href="english-nouns-plural.html">Число имен существительных</a>
			</li>
			<li>
			<a href="english-nouns-case.html">Падеж имен существительных</a>
			</li>
		</ul>
	</li>
	<li class="gr-li-head"><div class="gr-list-head"><span>Местоимение</span></div>
		<ul>
			<li>
			<a href="english-personal-pronouns.html">Личные местоимения</a>
			</li>
			<li>
			<a href="english-possessive-pronouns.html">Притяжательные местоимения</a>
			</li>
			<li>
			<a href="english-reflexive-pronouns.html">Возвратные местоимения</a>
			</li>
			<li>
			<a href="english-demonstrative-pronouns.html">Указательные местоимения</a>
			</li>
		</ul>
	</li>
	<li class="gr-li-head"><div class="gr-list-head"><span>Прилагательное</span></div>
		<ul>
			<li>
			<a href="english-adjective-comparative.html">Степени сравнения прилагательных</a>
			</li>
		</ul>
	</li>
	<li class="gr-li-head"><div class="gr-list-head"><span>Числительное</span></div>
		<ul>
			<li>
			<a href="english-cardinal-numerals.html">Количественные числительные</a>
			</li>
			<li>
			<a href="english-ordinal-numerals.html">Порядковые числительные</a>
			</li>
		</ul>
	</li>
	<li class="gr-li-head"><div class="gr-list-head"><span>Глагол</span></div>
		<ul>
			<li>
				<a href="english-present-to-be.html">Формы глагола <b>to be</b> в настоящем времени</a>
			</li>
			<li>
				<a href="english-present-indefinite.html">Present Indefinite</a>
			</li>
			<li>
				<a href="english-past-indefinite.html">Past Indefinite</a>
			</li>
			<li>
				<a href="english-future-indefinite.html">Future Indefinite</a>
			</li>
			<li>
				<a href="english-present-continuous.html">Present Continuous</a>
			</li>
			<li>
				<a href="english-past-continuous.html">Past Continuous</a>
			</li>
			<li>
				<a href="english-present-perfect.html">Present Perfect</a>
			</li>
		</ul>
	</li>
</ul>

<h3 id="exercises" class="page-p">
Упражнения
</h3>


<ul style="list-style-type: circle;">
	<li><a href="/ru/en/exercises-nouns-plural.html">Множественное число существительных</a></li>
	<li><a href="/ru/en/exercises-to-be-present.html"><b>To be</b> в настоящем времени</a></li>
	<li><a href="/ru/en/exercises-present-indefinite.html">Глаголы в <strong>Present Indefinite</strong></a></li>
<ul>






<br><br><br><br><br><br><br><br><br><br>


<script type="text/javascript">
currentSection="grammar";
</script>

