<% @page_title='Английский язык: Грамматика' %>
<% @page_meta = {'description' => "Обзор раздела Грамматика на сайте"} %>

<% content_for :special_css do %>
.lists li {
padding-top: 5px;
}
<% end %>

<h2 class="page page-bl">Грамматика английского языка</h2>
<p>
В данном разделе находятся различные материалы, относящиеся к грамматике английского языка.
 Статьи распределны по группам в зависимости от частей речи, которые они описывают: существительное, местоимения, прилагательное, глагол и т.д. 
 Здесь вы также можете найти интерактивные упражнения по грамматике. 
</p>

<p>По мере возможности раздел будет обновлятся и пополняться новыми статьями и упражнениями.
</p>

<h3 id="theory" class="page-p">
Теория
</h3>

<ul class="gr-list">
	<li class="gr-li-head"><div class="gr-list-head"><span>Артикль</span></div>
		<ul>
			<li>
			<a href="/ru/en/english-articles.html">Артикли в английском языке</a>
			</li>
			<li>
			<a href="english-article-indefinite.html">Неопределенный артикль</a>
			</li>
			<li>
			<a href="english-article-definite.html">Определенный артикль</a>
			</li>
		</ul>
	</li>
	<li class="gr-li-head"><div class="gr-list-head"><span>Существительное</span></div>
		<ul>
			<li>
			<a href="english-nouns-plural.html">Число имен существительных</a>
			</li>
			<li>
			<a href="english-nouns-case.html">Падеж имен существительных</a>
			</li>
		</ul>
	</li>
	<li class="gr-li-head"><div class="gr-list-head"><span>Местоимение</span></div>
		<ul>
			<li>
			<a href="english-personal-pronouns.html">Личные местоимения</a>
			</li>
			<li>
			<a href="english-possessive-pronouns.html">Притяжательные местоимения</a>
			</li>
			<li>
			<a href="english-reflexive-pronouns.html">Возвратные местоимения</a>
			</li>
			<li>
			<a href="english-demonstrative-pronouns.html">Указательные местоимения</a>
			</li>
			<li>
			<a href="english-interrogative-pronouns.html">Вопросительные местоимения</a>
			</li>
		</ul>
	</li>
	<li class="gr-li-head"><div class="gr-list-head"><span>Прилагательное</span></div>
		<ul>
			<li>
			<a href="english-adjective-comparative.html">Степени сравнения прилагательных</a>
			</li>
		</ul>
	</li>
	<li class="gr-li-head"><div class="gr-list-head"><span>Числительное</span></div>
		<ul>
			<li>
			<a href="english-cardinal-numerals.html">Количественные числительные</a>
			</li>
			<li>
			<a href="english-ordinal-numerals.html">Порядковые числительные</a>
			</li>
		</ul>
	</li>
	<li class="gr-li-head"><div class="gr-list-head"><span>Глагол</span></div>
		<ul>
			<li>
				<a href="english-verb-principle-parts.html">Основные формы глагола</a>
				<ul>
					<li>
						<a href="english-irregular-verbs.html">Таблица форм неправильных глаголов</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="english-modal-verbs.html">Модальные глаголы</a>
			</li>
			<li>
				<a href="english-present-to-be.html">Формы глагола <b>to be</b> в настоящем времени</a>
			</li>
			<li>
				<a href="english-verb-indefinite-tenses.html">Времена группы Indefinite</a>
				
				<ul>
					<li>
						<a href="english-present-indefinite.html">Present Indefinite</a>
					</li>
					<li>
						<a href="english-past-indefinite.html">Past Indefinite</a>
					</li>
					<li>
						<a href="english-future-indefinite.html">Future Indefinite</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="english-verb-continuous-tenses.html">Времена группы Continuous</a>
				<ul>
					<li>
						<a href="english-present-continuous.html">Present Continuous</a>
					</li>
					<li>
						<a href="english-past-continuous.html">Past Continuous</a>
					</li>
					<li>
						<a href="english-future-continuous.html">Future Continuous</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="english-verb-perfect-tenses.html">Времена группы Perfect</a>
				<ul>
					<li>
						<a href="english-present-perfect.html">Present Perfect</a>
					</li>
					<li>
						<a href="english-past-perfect.html">Past Perfect</a>
					</li>
					<li>
						<a href="english-future-perfect.html">Future Perfect</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="english-verb-perfect-continuous-tenses.html">Времена группы Perfect Continuous</a>
			</li>
			<li>
				<a href="english-verb-future-in-the-past.html">Будущее в прошедшем (Future in the Past)</a>
			</li>
		</ul>
	</li>
</ul>

<h3 id="exercises" class="page-p">
Грамматические упражнения
</h3>

<p>
Ниже представлены ссылки на старницы с грамматическими упражнениями. Если Вы зарегистрируетесь на нашем сайте, вы можете просматривать в своем аккаунте результаты выполненных тестов и упражений этого и других разделов нашего сайта. 
</p>

<ul style="list-style-type: circle;">
	<li><a href="/ru/en/exercises-nouns-plural.html">Множественное число существительных</a></li>
	<li><a href="/ru/en/exercises-nouns-possessive.html">Притяжательный падеж</a></li>
	<li><a href="/ru/en/exercises-pronouns-personal.html">Личные местоимения</a></li>
	<li><a href="/ru/en/exercises-demonstrative-pronouns.html">Указательные местоимения</a></li>
	<li><a href="/ru/en/exercises-adjective-comparative.html">Сравнительная степень прилагательных</a></li>
	<li><a href="/ru/en/exercises-to-be-present.html"><b>To be</b> в настоящем времени</a></li>
	<li><a href="/ru/en/exercises-present-indefinite.html">Глаголы в <strong>Present Indefinite</strong></a></li>
	<li><a href="/ru/en/exercises-present-continuous.html">Глаголы в <strong>Present Continuous</strong></a></li>
	<li><a href="/ru/en/exercises-past-indefinite.html">Правильные глаголы в <strong>Past Indefinite</strong></a></li>
	<li><a href="/ru/en/english-irregular-verbs-tests.html">Основные формы неправильных глаголов</a></li>
	<li><a href="/ru/en/exercises-past-indefinite-irregular.html">Неправильные глаголы в <strong>Past Indefinite</strong></a></li>
	<li><a href="/ru/en/exercises-present-perfect.html">Правильные глаголы в <strong>Present Perfect</strong></a></li>
	<li><a href="/ru/en/exercises-future-indefinite.html">Глаголы в <strong>Future Indefinite</strong></a></li>
</ul>




<br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>

<script type="text/javascript">
currentSection="grammar";
</script>

