<% @page_title = 'Определенный артикль :: Английская грамматика онлайн' %>
<% @page_meta = {'description' => "Грамматика английского языка: Определенный артикль"} %>


<% content_for :special_js_css do %>

<style type="text/css">
h2.page {
margin-bottom: 0px;
}
</style>
<% end %>


<h2 class="page">Определенный артикль
</h2>

<h3 class="page-path"> 
<span class="int-links"><a href="/ru/en/english-grammar.html">Грамматика</a> <span class="int-arrow">--&gt;</span> Определенный артикль</span> 
</h3>


<p>
Определенный артикль произошел от указательного местоимения that (тот)  и употребляется с существительным в том случае, если понятно (из контекста, окружающей обстановке и т.д.), что речь идет именно о данном предмете. Он выделяет предмет из класса ему подобных, указывает на уже известный говорящему или слушающему предмет.
</p>
<p>
Определенный артикль может использоваться перед любым существительным в любом числе.  
</p>

<p>
Кроме общего значения, описанного выше, следует также выделить следующие наиболее частые случаи употребления определенного артикля: 
</p>

<ul style="list-style: none">
	<li>- перед существительными, обозначающими уникальные, единственные в своем роде предметы</li>
	<li>- перед существительными, которые имеют определение в значении ограничения</li>
	<li>- перед существительными, которые употребляются с порядковыми числительными или со словами next (в значении “следующий”) и last (в значении “последний”)</li>
	<li>- перед существительными, обозначающими название национальностей, когда речь идет о народе в целом, о всех его представителях</li>
	<li>- перед существительными, обозначающими часто посещаемые места, используемые средства транспорта, коммуникации и т.п.</li>
</ul>

<p>
Определенный артикль, как правило, опускают:
</p>

<ul style="list-style: none">
	<li>- в общих утверждениях: Water contains oxygen</li>
	<li>- перед существитительными, обозначающими известных людей: president Canady, admiral Nelson</li>
	<li>- перед названиями стран, гор и озер</li>
	<li>- перед названиями площадей, улиц и т.п. в городе</li>
	<li>- перед существительными, обозначающими способ передвижения: by ait, on foot, by bus</li>
	<li>- в заголовках газет, рекламных объявлениях</li>
</ul>





<br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>

<script type="text/javascript">
currentSection="grammar";
</script>