<% @page_title = 'Времена группы Perfect Continuous :: Английская грамматика онлайн' %>
<% @page_meta = {'description' => "Грамматика английского языка: Времена группы Perfect Continuous"} %>


<% content_for :special_js_css do %>

<style type="text/css">
h2.page {margin-bottom: 0px;
}
</style>
<% end %>


<h2 class="page">Времена группы Perfect Continuous
</h2>

<h3 class="page-path"> 
<span class="int-links"><a href="/ru/en/english-grammar.html">Грамматика</a> <span class="int-arrow">--&gt;</span> Времена группы Perfect Continuous</span> 
</h3>

<p>
Времена группы Perfect Continuous обычно выражают действия, которые начались ранее определенного момента времени  в прошлом, настоящем или будущем, при этом эти действия не завершились и еще продолжаются в этот момент.
</p>
<p>
В данную группу входят следующие времена: 
</p>
<ul style="list-stlye-type: circle;">
	<li>Present Perfect Continuous</li>
	<li>Past Perfect Continuous</li>
	<li>Future Perfect Continuous</li>
</ul>

<h3 class="page-p">Образование форм</h3>
<p>
Формы глаголов образуются из вспомогательного глагола to be, который стоит в соответсвующем времени группы Perfect, и смыслового глагола с окончанием -ing (Причастия I).
</p>
<p>
Ниже представлены некоторые формы глагола to work во временах группы Perfect Continuous.
</p>

<table class="st-bl-table conj-table" cellspacing="1" align="center" style="margin: 0 auto;">
<thead>
	<tr>
		<th rowspan="2">Время</th>
		<th colspan="3">Форма</th>
	</tr>
	<tr>
		<th class="sec-row">Повествовательная</th>
		<th class="sec-row">Отрицательная</th>
		<th class="sec-row">Вопросительная</th>
	</tr>
</thead>
<tbody class="conj-table">
	<tr>
		<td class="st-table-exp">Present Perfect Continuous</td>
		<td>I have been working</td>
		<td>I have not been working</td>
		<td>Have I been working?</td>
	</tr>
	<tr>
		<td class="st-table-exp">Past Perfect Continuous</td>
		<td>I had been working</td>
		<td>I had not been working</td>
		<td>Had I been working?</td>
	</tr>
	<tr>
		<td class="st-table-exp">Future Perfect Continuous</td>
		<td>I will have been working</td>
		<td>I will not have been working</td>
		<td>Will I have been working?</td>
	</tr>
</tbody>
</table>


<h3 class="page-p">Употребление</h3>
<p>
При использовании времен этой группы момент, с которого начинается действие, обычно обозначается с помощью предлогов since и for. 
Также время начала действия может выражаться контекстом или подразумеваться. 
Будущее время данной группы употребляется крайне редко, в основном в книжной речи.
Прошедшее время данной группы употребляется только в том случае, если указано время, до которого происходило действие.
</p>

<p>
Глаголы, выражающие чувства, интеллектуальные процессы, восприятия, и т.д. 
не употребляются или употребляются крайне редко во временах группы Continuous (подробнее см. <a href="/ru/en/english-verb-continuous-tenses.html">Времена группы Continuous</a>)
</p>



<br><br><br><br><br><br><br><br><br><br>

<script type="text/javascript">
currentSection="grammar";
</script>