<% @page_title = 'Личные местоимения :: Английская грамматика онлайн' %>
<% @page_meta = {'description' => "Грамматика английского языка: Личные местоимения "} %>


<% content_for :special_js_css do %>

<style type="text/css">
h2.page {
margin-bottom: 0px;
}


</style>
<% end %>


<h2 class="page">Личные местоимения
</h2>

<h3 class="page-path"> 
<span class="int-links"><a href="/ru/en/english-grammar.html">Грамматика</a> <span class="int-arrow">--&gt;</span> Личные местоимения </span> 
</h3>

<p>
<dfn>Личные местоимения</dfn> - слова, которые обозначают людей, животных или предметы, не называя их. 
Личные местоимения в русском языке: <em>я, ты, он, они, мы, вас, их</em> и т.д. 
Как и в русском языке, английские личные местоимения изменяются по лицам и числам.
В английском языке личные местоимения имеют два падежа: <strong>номинативный</strong> и <strong>объектный</strong>.
</p>
<h3 class="page-p">Номинативный падеж</h3>
<p>
Номинативный падеж соответствует русскому именительному падежу. Личные местоимения в номинативном падеже выполняют роль подлежащего в предложении и имеют следующие формы:
</p>

<table class="st-bl-table" cellspacing="1" align="center" style="margin: 0 auto;">
<thead>
	<tr>
		<th rowspan="2">Лицо</th>
		<th colspan="2">Число</th>
	</tr>
	<tr>
		<th class="sec-row">Единственное</th>
		<th class="sec-row">Множественное</th>
	</tr>
</thead>
<tbody>
	<tr>
		<td>1 лицо</td><td>I</td><td>we</td>
	</tr>
	<tr>
		<td>2 лицо</td><td>you</td><td>you</td>
	</tr>
	<tr>
		<td>3 лицо</td><td>he<br> she <br> it</td><td>they</td>
	</tr>
</tbody>
</table>


<p>
Личные местоимения 3 лица единственного числа <span class="eg">he</span>  и <span class="eg">she</span> заменяют существительные, обозначающие существ соответствующего пола. Местоимение <span class="eg">it</span> употребляется для обозначения предметов, а также животных. Также местоимение <span class="eg">it</span> может употребляться для замены существительного <span class="eg">baby</span> <span class="eg">ребенок</span>.
</p>

<div class="ex-block-simple">
		<span class="exs-or">This is my brother. <u>He</u> is a teacher.</span> - Это мой брат. <u>Он</u> учитель.<br>
		<span class="exs-or">This is a book. <u>It </u> is on the table.</span> - Это книга. <u>Она</u> на столе.
</div>


<h3 class="page-p">Объектный падеж</h3>
<p>
Объектный падеж соответствует русским косвенным падежам. Личные местоимения в объектном падеже могут выполнять роль дополнений или обстоятельств и имеют следующие формы:
</p>


<table class="st-bl-table" cellspacing="1" align="center" style="margin: 0 auto;">
<thead>
	<tr>
		<th rowspan="2">Лицо</th>
		<th colspan="2">Число</th>
	</tr>
	<tr>
		<th class="sec-row">Единственное</th>
		<th class="sec-row">Множественное</th>
	</tr>
</thead>
<tbody>
	<tr>
		<td>1 лицо</td><td>me</td><td>us</td>
	</tr>
	<tr>
		<td>2 лицо</td><td>you</td><td>you</td>
	</tr>
	<tr>
		<td>3 лицо</td><td>him<br> her <br> it</td><td>them</td>
	</tr>
</tbody>
</table>

<br>
Примеры:
<br><br>
<div class="ex-block-simple">
		<span class="exs-or">This is John. I work with <u>him</u>.</span> - Это Джон. Я с <u>ним</u> работаю.<br>
		<span class="exs-or">This is a book. I am reading <u>it</u>.</span> - Это книга. Я <u>её</u> читаю.
</div>








<br><br><br><br><br><br><br><br><br><br>

<script type="text/javascript">
currentSection="grammar";
</script>