<% @page_title = 'Времена группы Continuous :: Английская грамматика онлайн' %>
<% @page_meta = {'description' => "Грамматика английского языка: Времена группы Continuous"} %>


<% content_for :special_js_css do %>

<style type="text/css">
h2.page {margin-bottom: 0px;
}
</style>
<% end %>


<h2 class="page">Времена группы Continuous
</h2>

<h3 class="page-path"> 
<span class="int-links"><a href="/ru/en/english-grammar.html">Грамматика</a> <span class="int-arrow">--&gt;</span> Времена группы Continuous</span> 
</h3>

<p>
Времена группы Continuous выражают действие, которое протекает в определенный момент в прошлом, настоящем или будущем. 
</p>
<p>
В данную группу входят следующие времена: 
</p>
<ul style="list-stlye-type: circle;">
	<li><a href="english-present-continuous.html">Present Continuous</a></li>
	<li><a href="english-past-continuous.html">Past Continuous</a></li>
	<li><a href="english-future-continuous.html">Future Continuous</a></li>
</ul>

<h3 class="page-p">Образование форм</h3>
<p>
В образовании форм глаголов участвует вспомогательный глагол to be и форма смыслового глагола  с окончанием -ing (причастия I) . Вспомогательный глагол выражает нужно время, а также участвует в образовании вопросительной и отрицательной формы. 
</p>
<p>
Ниже представлены некоторые формы глагола to work во временах группы Continuous. 
</p>

<table class="st-bl-table conj-table" cellspacing="1" align="center" style="margin: 0 auto;">
<thead>
	<tr>
		<th rowspan="2">Время</th>
		<th colspan="3">Форма</th>
	</tr>
	<tr>
		<th class="sec-row">Повествовательная</th>
		<th class="sec-row">Отрицательная</th>
		<th class="sec-row">Вопросительная</th>
	</tr>
</thead>
<tbody class="conj-table">
	<tr>
		<td class="st-table-exp">Present  Continuous</td>
		<td>I am working</td>
		<td>I am not working</td>
		<td>Am I working?</td>
	</tr>
	<tr>
		<td class="st-table-exp">Past Continuous</td>
		<td>I was working</td>
		<td>I was not been working</td>
		<td>Was I been working?</td>
	</tr>
	<tr>
		<td class="st-table-exp">Future Continuous</td>
		<td>I will be working</td>
		<td>I will not be working</td>
		<td>Will I be working?</td>
	</tr>
</tbody>
</table>


<h3 class="page-p">Употребление</h3>

<p>
Глаголы, выражающие чувства, интеллектуальные процессы, восприятия, а также некоторые другие глаголы, не употребляются или употребляются крайне редко во временах группы Continuous. К таким глаголам относятся:
</p>
<p>
to want, 
to wish, 
to like, 
to feel, 
to notice, 
to remember, 
to recognize, 
to be, 
to forget, 
to seem, 
to see, 
to know, 
to understand, 
to hear
</p>




<br><br><br><br><br><br><br><br><br><br>

<script type="text/javascript">
currentSection="grammar";
</script>