<% @page_title = 'Множественое число имён существительных :: Английская грамматика онлайн' %>
<% @page_meta = {'description' => "Грамматика английского языка: множественое число имён существительных"} %>


<% content_for :special_js_css do %>

<style type="text/css">
h2.page {
margin-bottom: 0px;
}
.ul-style {
list-style-type: circle;
}

.ul-style li {
margin: 15px 0;
}

</style>
<% end %>


<h2 class="page">Число имён существительных
</h2>

<h3 class="page-path"> 
<span class="int-links"><a href="/ru/en/english-grammar.html">Грамматика</a> <span class="int-arrow">--&gt;</span> Число имён существительных </span> 
</h3>


<p>
В английском языке исчисляемые существительные имеют форму единственного и множественного числа. Неисчисляемые существительные не имеют множественного числа.
</p>

<h3 class="page-p">Общие правила образования множественного числа</h3>

<p>После глухих согласных добавляется -<span class="eg">s</span>, которое читается как [s]: <span class="eg">cat</span> - <span class="eg">cat<u>s</u></span></p>
<p>После звонких согласных и гласных добавляется -<span class="eg">s</span>, которое читается как [z]: <span class="eg">dog</span> - <span class="eg">dog<u>s</u></span></p>
<p>У слов оканчивающихся на <i>согласная +у</i>,  <span class="eg">у</span> заменяется на <span class="eg">i</span> и прибавляется окончание -<span class="eg">es</span>: <span class="eg">dictionar<u>y</u></span> - <span class="eg">dictionar<u>ies</u></span>, <span class="eg">baby</span> - <span class="eg">bab<u>ies</u></span></p>
<p>После шипящих и свистящих: 
<ul>
	<li>добавляется -<span class="eg">s</span>, если слово окончивается на -<strong>e</strong>: place - places</li>
	<li>добавляется -<span class="eg">es</span>, если слово оканчивается на -<strong>s</strong>, -<strong>ss</strong>, -<strong>z</strong>, -<strong>x</strong>, -<strong>ch</strong>, -<strong>sh</strong>: <span class="eg">box</span> - <span class="eg">box<u>es</u></span></li>
</ul>
в обоих случаях окончание читается как [iz]

</p>

<h3 class="page-p">Исключения 1</h3>


<ul class="ul-style">
	<li>Изменяется гласная:<br><br>
		- <span class="eg">m<u>a</u>n</span> / <span class="eg">m<u>e</u>n</span> - мужчина / мужчины<br>
		- <span class="eg">wom<u>a</u>n</span> / <span class="eg">wom<u>e</u>n</span> - женщина / женщины<br>
		- <span class="eg">m<u>ou</u>se</span> / <span class="eg">m<u>i</u>ce</span> - мышь / мыши<br>
		- <span class="eg">f<u>oo</u>t</span> / <span class="eg">f<u>ee</u>t</span> - ступня / ступни<br>
		- <span class="eg">t<u>oo</u>th</span> / <span class="eg">t<u>ee</u>th</span> - зуб / зубы<br>
		- <span class="eg">g<u>oo</u>se</span> / <span class="eg">g<u>ee</u>se</span> - гусь / гуси
	</li>
	<li>
		Добавляется -<span class="eg">(r)en</span> : <br><br>
	   -	<span class="eg">child</span> / <span class="eg">child<u>ren</u></span> ребенок / дети <br>
		- <span class="eg">ox</span> / <span class="eg">ox<u>en</u> бык / быки</span> 
	</li>
	<li>Меняется -<span class="eg">f</span> на -<span class="eg">ves</span>:<br><br> 
	- <span class="eg">knife</span> - <span class="eg">knives</span> - нож / ножи<br> 
	- <span class="eg">half</span> - <span class="eg">halves</span> - половина / половины<br> 
	- <span class="eg">leaf</span> - <span class="eg">leaves</span> - лист / листья<br>
	- <span class="eg">loaf</span> - <span class="eg">loaves</span> - буханка / буханки<br> 
	- <span class="eg">wolf</span> - <span class="eg">wolves</span> - волк / волки
	</li>
	<!-- li>
		В некоторых словах изменяется чтение: <br><br>
		
		- <span class="eg">mouth</span> / <span class="eg">mouths </span>(c - зз) - рот / рты<br>
		- <span class="eg">house</span> / <span class="eg">houses</span> [c - ziz] - дом / дома
	</li -->
	<li>
	   	Не изменяются:: <br><br>
		
		- <span class="eg">sheep</span> - овца <br>
		- <span class="eg">fish</span> - рыба <br>
		- <span class="eg">deer</span> - олень
	</li>
</ul>

<h3 class="page-p">Исключения 2</h3>

<p>Слова, только во множественном числе</p>
<p>1. <span class="eg">People</span>, <span class="eg">police</span></p>
<p>2. Инструменты и и одежда (парные): <span class="eg">scissors</span>, <span class="eg">pyjamas</span>, <span class="eg">shorts</span>, <span class="eg">trousers</span></p>
<p>3. Некоторые слова, оканчивающиеся на -<span class="eg">s</span>: <span class="eg">clothes</span>, <span class="eg">contents</span>, <span class="eg">goods</span>, <span class="eg">stairs</span>, <span class="eg">thanks</span></p>
<p>В  то же время, некоторые слова употребляются в единственном числе: <span class="eg">physics</span>, <span class="eg">news</span>, <span class="eg">economics</span>.</p>






<br><br><br><br><br><br><br><br><br><br>

<script type="text/javascript">
currentSection="grammar";
</script>