<% @page_title='Английский язык: Грамматика' %>
<% @page_meta = {'description' => "Обзор раздела Грамматика на сайте"} %>

<% content_for :special_css do %>
.lists li {
padding-top: 5px;
}
<% end %>

<h2 class="page">Грамматика английского языка</h2>
<p>
В данном разделе вы можете ознакомиться с грамматическими правилами английского языка.  
</p>

<h3 id="exercises" class="page-p">
Теория
</h3>

<ul class="gr-list" id="theory">
	<li class="gr-li-head"><div class="gr-list-head"><span>Существительное</span></div>
		<ul>
		<li>
			<a href="english-nouns-plural.html">Множественное число</a>
		</li>

		
		<li style="display: none">
			<a href="russian-cases.html">Russian Cases</a>
			<ul>
				<li>
					<a href="russian-nominative-case.html">Nominative case</a>
				</li>
				<li>
					<a href="russian-genitive-case.html">Genitive case</a>
				</li>

				<li>
					<a href="russian-dative-case.html">Dative case</a>
				</li>
				<li>
					<a href="russian-accusative-case.html">Accusative case</a>
				</li>
				<li>
					<a href="russian-instrumental-case.html">Instrumental case</a>

				</li>
				<li>
					<a href="russian-prepositional-case.html">Prepositional case</a>
				</li>
			</ul>
		</li>

		</ul>
	</li>
	


</ul>





<ul style="display: none">
	<li><a href="nouns-gender-exercises.html">Russian nouns gender</a> (nominative singular, regular nouns)
	</li>
	<li><a href="nouns-number-exercises.html">Russian nouns number</a> (nominative plural, regular forms)
	</li>
	<li><a href="nouns-cases-exercises.html">Russian nouns cases</a> (general functions)
	</li>
	<li><a href="nouns-genitive-singular-exercises.html">Genitive case: singular forms of Russian nouns</a>
	</li>
	<li><a href="nouns-genitive-plural-exercises.html">Genitive case: plural forms of Russian nouns</a>
	</li>
	<li><a href="nouns-dative-exercises.html">Dative case of Russian nouns</a>
	</li>
	<li><a href="nouns-accusative-exercises.html">Accusative case of Russian nouns</a>
	</li>
	<li><a href="nouns-instrumental-exercises.html">Instrumental case of Russian nouns</a>
	</li>
	<li><a href="nouns-prepositional-exercises.html">Prepositional case of Russian nouns</a>
	</li>
	<li><a href="adjectives-declension-exercises.html">Declension of adjectives</a>
	</li>
	<li><a href="adjectives-short-exercises.html">Short forms of adjectives</a>
	</li>
	
	
	<li><a href="pronouns-personal-exercises.html">Personal pronouns</a>
	</li>
	<li><a href="pronouns-possessive-exercises.html">Possessive pronouns</a>
	</li>
	<li><a href="pronouns-demonstrative-exercises.html">Demonstrative pronouns</a>
	</li>
	<li><a href="pronouns-interrogative-exercises.html">Interrogative pronouns</a>
	</li>
	<li><a href="verbs-present-exercises.html">Verbs: Present Tense forms</a>
	</li>
	<li><a href="verbs-past-exercises.html">Verbs: Past Tense forms</a>
	</li>
</ul>

<br><br><br><br><br><br><br><br><br><br>




<script type="text/javascript">
currentSection="grammar";
</script>

