<% @page_title = 'Времена группы Perfect :: Английская грамматика онлайн' %>
<% @page_meta = {'description' => "Грамматика английского языка: Времена группы Perfect"} %>


<% content_for :special_js_css do %>

<style type="text/css">
h2.page {
margin-bottom: 0px;
}
</style>
<% end %>


<h2 class="page">Времена группы Perfect
</h2>

<h3 class="page-path"> 
<span class="int-links"><a href="/ru/en/english-grammar.html">Грамматика</a> <span class="int-arrow">--&gt;</span> Времена группы Perfect</span> 
</h3>

<p>
Времена группы Perfect выражают действия, которые уже завершены  до определенного момента в прошлом, будущем или настоящем.
</p>
<p>
В данную группу входят следующие времена: 
</p>

<ul style="list-stlye-type: circle;">
	<li><a href="english-present-perfect.html">Present Perfect</a></li>
	<li><a href="english-past-perfect.html">Past Perfect</a></li>
	<li><a href="english-future-perfect.html">Future Perfect</a></li>
</ul>

<p>
В образовании форм глаголов участвует вспомогательный глагол to have и третья форма смыслового глагола (причастия II) . Вспомогательный глагол выражает нужно время, а также участвует в образовании вопросительной и отрицательной формы. 
</p>

<p>Ниже представлены формы глагола to work во временах группы Perfect.</p>





<br><br><br><br><br><br><br><br><br><br>

<script type="text/javascript">
currentSection="grammar";
</script>