<% @page_title = 'Present Perfect Active :: Английская грамматика онлайн' %>
<% @page_meta = {'description' => "Грамматика английского языка: Present Perfect Active "} %>


<% content_for :special_js_css do %>

<style type="text/css">
h2.page {margin-bottom: 0px;}
</style>
<% end %>


<h2 class="page">Настоящее совершенное время
</h2>

<h3 class="page-path"> 
<span class="int-links"><a href="/ru/en/english-grammar.html">Грамматика</a> <span class="int-arrow">--&gt;</span> Present Perfect Active</span> 
</h3>

<h3 class="page-p">Значение</h3>
<p>
Данное время обычно передает действия, которые совершились до момента речи и имеют непосредственную связь с настоящим моментом. Эта связь может проявляться в виде результата действия, ощущающегося в настоящий момент, либо в виде указания на период времени, который еще не закончился и включает в себя момент речи.
</p>
<h3 class="page-p">Образование форм глагола</h3>
<p>
Форма глаголов состоят из двух частей: спрягаемой части - формы вспомогательного глагола to have в настоящем времени, и неизменяемой части - причастия II смыслового глагола, т.е. третья форма глагола.
</p>

<p>
У правильных глаголов третья форма глагола образуется также как и вторая форма, т.е. путем прибавления окончания -ed, c соответствующими орфографическими изменениями. Неправильные глаголы имеют особую форму, которая дается в словаре.
</p>

<p>
В образовании вопросительной и отрицательной форм в основном участвует спрягаемая часть - вспомогательный глагол to have.
</p>

<p>
Ниже представлены повествовательные, вопросительные и отрицательные формы глагола to work.
</p>

<table class="st-bl-table" cellspacing="1" align="center" style="margin: 0 auto;">
<thead>
	<tr>
		<th rowspan="2" class="ru-pers">Лицо</th>
		<th colspan="2">Число</th>
	</tr>
	<tr>
		<th class="sec-row">Единственное</th>
		<th class="sec-row">Множественное</th>
	</tr>
</thead>
<col><col width=190><col width=190>
<tbody class="conj-table">
	<tr>
		<td colspan="3" class="ru-vform"> Утвердительная форма</td>
	</tr>
	<tr>
		<td>1 л.</td>
		<td>I <strong>have worked</strong></td>
		<td>we <strong>have worked</strong></td>
	</tr>
	<tr>
		<td>2 л.</td><td>you <strong>have worked</strong></td><td>you <strong>have worked</strong></td>
	</tr>
	<tr>
		<td>3 л.</td>
		<td>
			<table><tr>
					<td>he <br> she<br>it</td>
					<td><strong>has worked</strong></td>
			</tr></table>			
		</td>
		<td>they <strong>have worked</strong></td>
	</tr>
	<tr>
		<td colspan="3" class="ru-vform"> Отрицательная форма</td>
	</tr>
	<tr>
		<td>1 л.</td>
		<td>I <strong>have not worked</strong></td>
		<td>we <strong>have not worked</strong></td>
	</tr>
	<tr>
		<td>2 л.</td><td>you <strong>have not worked</strong></td><td>you <strong>have not worked</strong></td>
	</tr>
	<tr>
		<td>3 л.</td>
		<td>
			<table><tr>
					<td>he <br> she<br>it</td>
					<td><strong>has not worked</strong></td>
			</tr></table>
		</td><td>they <strong>have not worked</strong></td>
	</tr>
	<tr>
		<td colspan="3" class="ru-vform"> Вопросительная форма</td>
	</tr>
	<tr>
		<td>1 л.</td>
		<td><strong>Have </strong> I <strong>worked</strong>?</td>
		<td><strong>Have </strong> we <strong>worked</strong>?</td>
	</tr>
	<tr>
		<td>2 л.</td><td><strong>Have</strong> you <strong>worked</strong>?</td><td><strong>Have</strong> you <strong>worked</strong>?</td>
	</tr>
	<tr>
		<td>3 л.</td>
		<td>
			<table><tr>
					<td><strong>Has</strong></td>
					<td>he <br> she<br>it</td>
					<td><strong>worked</strong></td>
			</tr></table>
		</td>
		<td><strong>Have</strong> they <strong>worked</strong></td>
	</tr>
</tbody>
</table>

<h3 class="page-p">Употребление</h3>

<p>
Данное время часто употребляется с наречиями неопределенного времени: ever, already, yet, never, just, lately, recently, up to now, once, many time.
Также данное время может выражать действия, которые начались ранее и не закончились до момента речи. В таких случаях данное время употребляется в конструкция с предлогами since и for.
</p>


<br><br><br><br><br><br><br><br><br><br>

<script type="text/javascript">
currentSection="grammar";
</script>