<% @page_title = 'Множественое число существительных' %>
<% @page_meta = {'description' => "Грамматика английского языка: множественое число существительных"} %>


<% content_for :special_js_css do %>

<style type="text/css">
h2.page {
margin-bottom: 0px;
}


</style>
<% end %>


<h2 class="page">Множественое число существительных
</h2>

<h3 class="page-path"> 
<span class="int-links"><a href="/ru/en/english-grammar.html">Грамматика</a> <span class="int-arrow">--&gt;</span> Множественое число </span> 
</h3>


<p>
Для образования множественого числа существительных в английском языке есть общие правила, однако есть и исключения.
</p>

<h3 class="page-p">Общее правило:</h3>

<p>После глухих согласных добавляется -s, которое читается как [s]: cat - cats</p>
<p>После звонких согласных и гласных добавляется -s, которое читается как [z]: dog - dogs</p>
<p>У слов оканчивающихся на согласная +у,  у заменяется на i и прибавляется окончание -es: dictionary - dictionaries, baby - babies</p>
<p>После шипящих и свистящих: 
<ul>
	<li>добавляется -s, если слово окончивается на -e: place - places</li>
	<li>добавляется -es, если слово оканчивается на -s, -ss, -z, -x, -ch, -sh: box - boxes</li>
</ul>
в обоих случаях окончание читается как [iz]

</p>

<h3 class="page-p">Исключения 1</h3>


<p>1. Изменяется гласная: </p>

<p>
- man - men<br>
- woman - women<br>
- mouse - mice<br>
- foot - feet<br>
- tooth - teeth<br>
- goose - geese
</p>



<p>2. Добавляется -(r)en : child - children</p>
<p>3. Меняется -f на -ves: knife - knives, half - halves, leaf - leaves, loaf - loaves, wolf - wolves</p>
<p>5. В некоторых словах изменяется чтение: mouth - mouths (c - зз), house - houses [c - ziz]</p>
<p>4. Не изменяются: sheep, fish, deer</p>

<h3 class="page-p">Исключения 2</h3>

<p>Слова, только во множественном числе</p>
<p>1. People, police</p>
<p>2. Инструменты и и одежда (парные): scissors, pyjamas, shorts, trousers</p>
<p>3. Некоторые слова, оканчивающиеся на -s: clothes, contents, goods, stairs, thanks</p>
<p>В  то же время, некоторые слова употребляются в единственном: physics, news, economics.</p>






<br><br><br><br><br>

<script type="text/javascript">
currentSection="grammar";
</script>