<% @page_title = 'Past Continuous Active :: Английская грамматика онлайн' %>
<% @page_meta = {'description' => "Грамматика английского языка: Past Continuous Active "} %>


<% content_for :special_js_css do %>

<style type="text/css">
h2.page {
margin-bottom: 0px;
}


</style>
<% end %>


<h2 class="page">Прошедшее длительное время
</h2>

<h3 class="page-path"> 
<span class="int-links"><a href="/ru/en/english-grammar.html">Грамматика</a> <span class="int-arrow">--&gt;</span> Past Continuous Active</span> 
</h3>

<h3 class="page-p">Значение</h3>
<p>
Данное время передает действия, которые совершаются в определенный момент в прошлом.
</p>
<h3 class="page-p">Образование форм глагола</h3>
<p>
Форма глаголов состоят из двух частей: спрягаемой части - формы вспомогательного глагола to be в прошедшем времени, 
и неизменяемой части - смыслового глагола с окончанием -ing (причастие I).
</p>

<p>
При образовании -ing формы глаголов применяются следующие правила орфографии:
</p>
<ul>
	<li>если в конце глагола стоит нечитаемая буква -e, то она выпадает при добавлении окончания -ing
	<li>конечное буквосочетание -ie меняется на y при добавлении окончания -ing
	<li>если глагол заканчивается на краткую гласную с последующей согласной, то конечная согласная удваивается при добавлении окончания -ing
</ul>

<p>
В образовании вопросительной и отрицательной форм в основном участвует спрягаемая часть - вспомогательный глагол to be.
</p>


<p>
Ниже представлены повествовательные, вопросительные и отрицательные формы глагола to work.
</p>

<table class="st-bl-table" cellspacing="1" align="center" style="margin: 0 auto;">
<thead>
	<tr>
		<th rowspan="2" class="ru-pers">Лицо</th>
		<th colspan="2">Число</th>
	</tr>
	<tr>
		<th class="sec-row">Единственное</th>
		<th class="sec-row">Множественное</th>
	</tr>
</thead>
<col><col width=190><col width=190>
<tbody class="conj-table">
	<tr>
		<td colspan="3" class="ru-vform"> Утвердительная форма</td>
	</tr>
	<tr>
		<td>1 л.</td>
		<td>I <strong>was working</strong></td>
		<td>we <strong>were working</strong></td>
	</tr>
	<tr>
		<td>2 л.</td><td>you <strong>were working</strong></td><td>you <strong>were working</strong></td>
	</tr>
	<tr>
		<td>3 л.</td>
		<td>
			<table><tr>
					<td>he <br> she<br>it</td>
					<td><strong>was working</strong></td>
			</tr></table>			
		</td>
		<td>they <strong>were working</strong></td>
	</tr>
	<tr>
		<td colspan="3" class="ru-vform"> Отрицательная форма</td>
	</tr>
	<tr>
		<td>1 л.</td>
		<td>I <strong>was not working</strong></td>
		<td>we <strong>were not working</strong></td>
	</tr>
	<tr>
		<td>2 л.</td><td>you <strong>were not working</strong></td><td>you <strong>were not working</strong></td>
	</tr>
	<tr>
		<td>3 л.</td>
		<td>
			<table><tr>
					<td>he <br> she<br>it</td>
					<td><strong>was not working</strong></td>
			</tr></table>
		</td><td>they <strong>were not working</strong></td>
	</tr>
	<tr>
		<td colspan="3" class="ru-vform"> Вопросительная форма</td>
	</tr>
	<tr>
		<td>1 л.</td>
		<td><strong>Was </strong> I <strong>working</strong>?</td>
		<td><strong>Were </strong> we <strong>working</strong>?</td>
	</tr>
	<tr>
		<td>2 л.</td><td><strong>Were</strong> you <strong>working</strong>?</td><td><strong>Were</strong> you <strong>working</strong>?</td>
	</tr>
	<tr>
		<td>3 л.</td>
		<td>
			<table><tr>
					<td><strong>Was</strong></td>
					<td>he <br> she<br>it</td>
					<td><strong>working</strong></td>
			</tr></table>
		</td>
		<td><strong>Were</strong> they <strong>working</strong></td>
	</tr>
</tbody>
</table>




<br><br><br><br><br><br><br><br><br><br>

<script type="text/javascript">
currentSection="grammar";
</script>