<% @page_title = 'Основные формы глагола :: Английская грамматика онлайн' %>
<% @page_meta = {'description' => "Грамматика английского языка: Основные формы глагола"} %>


<% content_for :special_js_css do %>

<style type="text/css">
h2.page {
margin-bottom: 0px;
}
</style>
<% end %>


<h2 class="page">Основные формы глагола
</h2>

<h3 class="page-path"> 
<span class="int-links"><a href="/ru/en/english-grammar.html">Грамматика</a> <span class="int-arrow">--&gt;</span> Основные формы глагола</span> 
</h3>

<p>Глаголы в английском языке имеют следующие основные формы: </p>

<ol>
	<li><dfn>Первая форма</dfn> - инфинитив без частицы <span class="eg">to</span> </li>
	<li><dfn>Вторая форма</dfn> - форма прошедшего неопределённого времени</li>
	<li><dfn>Третья форма</dfn> - форма причастия прошедшего времени (Причастие II)</li>
	<li><dfn>Форма с окончанием -ing</dfn> (Причастие I)</li>
	
</ol>

<h3 class="page-p" id="part1">Первая форма</h3>

<p>
<em>Первая форма</em> используется при образовании настоящего и будущего <a href="/ru/en/english-verb-indefinite-tenses.html">времен группы Indefinite</a>, а также служит основой для образования других форм глагола. 
</p>

<h3 class="page-p" id="part2-3">Вторая и третья формы</h3>

<p>
<em>Вторая форма</em> глагола в основном используется для образования времени <a href="/ru/en/english-past-indefinite.html">Past Indefinite</a>. 
<em>Третья форма</em> - причастие прошедшего времени, которое используется при образовании <a href="/ru/en/english-verb-perfect-tenses.html">времен группы Perfect</a>.
</p>
<p>
По способу образования второй и третьей формы глаголы в английском языке делятся на <em>правильные</em> и <em>неправильные</em>.
</p>
<p>
Вторая и третья формы правильных глаголов образуются путем прибавления окончания -<span class="eg">ed</span> к  инфинитиву глагола без частицы <span class="eg">to</span> (т.е. к первой форме глагола), при этом применяются следующие правила орфографии:
</p>

<ul style="list-style-type: circle">
	<li>если в конце глагола стоит буква -<span class="eg">e</span>, то она выпадает при добавлении окончания -<span class="eg">ed</span></li>
	<li>если глагол заканчивается на согласную с последующей буквой <span class="eg">y</span>, то конечная буква <span class="eg">y</span> меняется на <span class="eg">i</span> при добавлении окончания -<span class="eg">ed</span></li>
	<li>если глагол заканчивается на краткую ударную гласную с последующей согласной, то конечная согласная удваивается при добавлении окончания -<span class="eg">ed</span></li>
</ul>

<p>
Неправильные глаголы имеют особые формы прошедшего неопределённого времени и причастия прошедшего времени, которые образуются различными способами. Довольно часто у неправильных глаголов эти две формы не совпадают. Таблицу форм наиболее употребительных глаголов вы можете посмотреть на странице <a href="/ru/en/english-irregular-verbs.html">Неправильные глаголы</a>
</p>

<h3 class="page-p" id="part4">Форма с окончанием -ing</h3>

<p>
<em>Форма с окончанием -<span class="eg">ing</span></em> - причастие настоящего времени (Причастие I), которое участвует в образовании <a href="/ru/en/english-verb-continuous-tenses.html">времен группы Continuous</a>.
</p>

<p>При образовании -<span class="eg">ing</span> формы глаголов применяются следующие правила орфографии:</p>
<ul style="list-style-type: circle">
	<li>если в конце глагола стоит нечитаемая буква -<span class="eg">e</span>, то она выпадает при добавлении окончания -<span class="eg">ing</span></li>
	<li>конечное буквосочетание -<span class="eg">ie</span> меняется на <span class="eg">y</span> при добавлении окончания -<span class="eg">ing</span></li>
	<li>если глагол заканчивается на краткую гласную с последующей согласной, то конечная согласная удваивается при добавлении окончания -<span class="eg">ing</span></li>
</ul>



<br><br><br><br><br><br><br><br><br><br>

<script type="text/javascript">
currentSection="grammar";
</script>