<% @page_title = 'Падеж имени существительного :: Английская грамматика онлайн' %>
<% @page_meta = {'description' => "Грамматика английского языка: Падежи имени существительного "} %>


<% content_for :special_js_css do %>

<style type="text/css">
h2.page {
margin-bottom: 0px;
}


</style>
<% end %>


<h2 class="page">Падеж имени существительного
</h2>

<h3 class="page-path"> 
<span class="int-links"><a href="/ru/en/english-grammar.html">Грамматика</a> <span class="int-arrow">--&gt;</span> Падеж имени существительного </span> 
</h3>

<p>
В английском языке различают три падежа: <strong>номинативный</strong>, <strong>объектный</strong> и <strong>притяжательный</strong>.
</p>
<h3 class="page-p">Номинативный падеж</h3>
<p>
<em>Номинативный падеж</em> соответствует русскому именительному падежу. Существительные в номинативном падеже выполняют в предложении роль подлежащего. 

</p>
<div class="ex-block-simple">
		<span class="exs-or"><u>My brother</u> speaks English well.</span> - <u>Мой брат</u> хорошо говорит по-английски.</u><br>
		<span class="exs-or"><u>The book</u> is on the table.</span> - <u>Книга</u> находится на столе.
</div>


<h3 class="page-p">Объектный падеж</h3>
<p>
Формы существительного в <em>объектном падеже</em> совпадают с формами номинативного падежа. 
Существительные в объектном падеже выполняют в предложении роль дополнения, обстоятельства и т.п.
Объектный падеж в английском языке соответствует русским косвенным падежам.
</p>

<div class="ex-block-simple">
		<span class="exs-or">I see <u>my brother</u>.</span> - Я вижу <u>своего брата</u>.</u><br>
		<span class="exs-or">He is reading <u>a book</u>.</span> - Он читает <u>книгу</u>.
</div>

<h3 class="page-p">Притяжательный падеж</h3>
<p>
<em>Притяжательный падеж</em> указывает на принадлежность чего-либо лицу или предмету. В русском языке подобное значение имеет родительный падеж.
<p>
<h4 class="page-pp">Образование притяжательного падежа</h4>
<ul style="list-style-type: circle">
	<li>
		<p>
		В единственном числе притяжательный падеж образуется прибавлением к существительному апострофа (<strong>'</strong>) с буквой <span class="eg">s</span>
		</p>
		<div class="ex-block-simple">
			<span class="exs-or">This is <u>my brother's</u> book.</span> - Это книга <u>моего брата</u>.
		</div>
	</li>
	<li>
		<p>
		Во множественном числе для образования притяжательного падежа чаще всего используется один апостроф (<strong>'</strong>)
		<br>
		Однако существительные, не имеющие окончание -<span class="eg">s</span> во множественном числе, прибавляют и апостроф и букву <span class="eg">s</span>.
		</p>
		<div class="ex-block-simple">
			<span class="exs-or">Those <u>students'</u> names</span> - Имена <u>тех студентов</u><br>
			<span class="exs-or">Those <u>women's</u> names</span> - Имена <u>тех женщин</u>
		</div>
		
	</li>
</ul>


 








<br><br><br><br><br>

<script type="text/javascript">
currentSection="grammar";
</script>