<% @page_title = 'Вопросительные местоимения :: Английская грамматика онлайн' %>
<% @page_meta = {'description' => "Грамматика английского языка: Вопросительные местоимения "} %>


<% content_for :special_js_css do %>
<style type="text/css">
h2.page {
margin-bottom: 0px;
}
</style>
<% end %>


<h2 class="page">Вопросительные местоимения
</h2>

<h3 class="page-path"> 
<span class="int-links"><a href="/ru/en/english-grammar.html">Грамматика</a> <span class="int-arrow">--&gt;</span> Вопросительные местоимения</span> 
</h3>

<p>
<dfn>Вопросительные местоимения</dfn> - слова, которые используются в вопросительных конструкциях. В русском языке это такие слова как <em>кто</em>, <em>что</em>, <em>какой</em> и т.д.
</p>
<p>
В английском языке употребляются следующие вопросительные местоимения: 
</p>
<ul style="list-style-type: circle;">
	<li><span class="eg">who</span> <span class="egt">кто</span></li>
	<li><span class="eg">whom</span> <span class="egt">кого</span></li>
	<li><span class="eg">whose</span> <span class="egt">чей</span></li>
	<li><span class="eg">what</span> <span class="egt">что</span></li>
	<li><span class="eg">which</span> <span class="egt">какой</span>, <span class="egt">который</span></li>
</ul>

<p>
Местоимения <span class="eg">who</span> и <span class="eg">whom</span> используются в вопросах, относящихся к одушевленным существительным. Слова <span class="eg">what</span> и <span class="eg">which</span> могут употребляться по отношению к лицам и неодушевленным предметам.
</p>
<p>
В вопросах к подлежащему местоимения <span class="eg">what</span>, <span class="eg">who</span>, <span class="eg">which</span> согласуются с глаголом в 3 лице единственном числе. При этом порядок слов остается прямой (инверсии при этом не происходит).
</p>
<p>
Местоимение <span class="eg">whom</span> может употребляться в вопросах к дополнению, выраженному одушевленным существительным. В современном английском вместо него часто используется местоимение <span class="eg">who</span>.
</p>


<br><br><br><br><br><br><br><br><br><br>

<script type="text/javascript">
currentSection="grammar";
</script>