<% @page_title = 'Порядковые числительные :: Английская грамматика онлайн' %>
<% @page_meta = {'description' => "Грамматика английского языка: Порядковые числительные "} %>


<% content_for :special_js_css do %>

<style type="text/css">
h2.page {
margin-bottom: 0px;
}


</style>
<% end %>


<h2 class="page">Порядковые числительные
</h2>

<h3 class="page-path"> 
<span class="int-links"><a href="/ru/en/english-grammar.html">Грамматика</a> <span class="int-arrow">--&gt;</span> Порядковые числительные </span> 
</h3>

<p>
Порядковые числительные - слова, обозначающие порядок предметов при счёте.
</p>

<h3 class="page-p">Образование порядковых числительных в английском языке</h3>
<p>
Порядковые числительные нулевой, первый, второй и третий имеют специальные формы zero, first, second и third, соответсвенно. 
</p>

<p>
Остальные порядковые числительные образуются прибавлением окончания -th. При этом некоторые из форм количественных числительных частично изменяются. У числительных, обозначающих полные десятки от 20 до 90, окончание -y меняется на -ie
</p>

<p>
В порядковых многозначных числительных окончание изменяется только последняя часть.
</p>

<p>
Перед порядковыми числительными обычно стоит определенный артикль the, который относится к существительному.
</p>



<br><br><br><br><br><br><br><br><br><br>

<script type="text/javascript">
currentSection="grammar";
</script>