<% @page_title = 'Падеж имени существительного :: Английская грамматика онлайн' %>
<% @page_meta = {'description' => "Грамматика английского языка: Падеж имени существительного "} %>


<% content_for :special_js_css do %>

<style type="text/css">
h2.page {
margin-bottom: 0px;
}


</style>
<% end %>


<h2 class="page">Падеж имени существительного
</h2>

<h3 class="page-path"> 
<span class="int-links"><a href="/ru/en/english-grammar.html">Грамматика</a> <span class="int-arrow">--&gt;</span> Падеж имени существительного </span> 
</h3>

<p>
В английском языке различают три падежа: номинативный, объектный и притяжательный.
</p>
<h3 class="page-p">Номинативный падеж</h3>
<p>
Номинативный падеж соответствует русскому именительному падежу. Существительные в номинативном падеже выполняют в предложении роль подлежащего.
</p>
<h3 class="page-p">Объектный падеж</h3>
<p>
Формы существительного в объектном падеже совпадают с формами номинативного падежа. Существительные в объектном падеже выполняют в предложении роль дополнения, обстоятельства и т.п.
</p>
<h3 class="page-p">Притяжательный падеж</h3>
<p>
Притяжательный падеж указывает на принадлежность чего-либо лицу или предмету. В русском языке подобное значение имеет родительный падеж.
<p>
<h4 class="page-pp">Образование притяжательного падежа</h4>
<ul style="list-style-type: circle">
	<li>
		<p>
		В единственном числе притяжательный падеж образуется прибавлением к существительному апострофа (') с буквой s
		</p>
	</li>
	<li>
		<p>
		Во множественном числе для образования притяжательного падежа чаще всего используется один апострофа (')
		<br>
		Однако существительные, не имеющие окончание -s во множественном числе, прибавляют и апостроф и букву s.
		</p>
	</li>
</ul>


 








<br><br><br><br><br>

<script type="text/javascript">
currentSection="grammar";
</script>