<% @page_title = 'Степени сравнения прилагательных :: Английская грамматика онлайн' %>
<% @page_meta = {'description' => "Грамматика английского языка. Степени сравнения прилагательных: формы и употребление "} %>


<% content_for :special_js_css do %>

<style type="text/css">
h2.page {
margin-bottom: 0px;
}

li .ex-block-simple {
margin-top: 10px;
margin-bottom: 15px;
}
</style>
<% end %>


<h2 class="page">Степени сравнения прилагательных
</h2>

<h3 class="page-path"> 
<span class="int-links"><a href="/ru/en/english-grammar.html">Грамматика</a> <span class="int-arrow">--&gt;</span> Степени сравнения прилагательных </span> 
</h3>

<p>
Прилагательные в английском языке не изменяются по лицам, числам и падежам. Качественные имена прилагательные изменяются по степеням сравнения. Как и в русском языке, в английском языке существуют три степени сравнения: <strong>положительная</strong>, <strong>сравнительная</strong> и <strong>превосходная</strong>
</p>

<h3 class="page-p">Положительная степень</h3>
<p>
<dfn>Положительная степень</dfn> - это основная форма прилагательных, которая указывает на наличие данного признака или качества.
</p>
	<div class="ex-block-simple">
		<span class="exs-or">This is an <u>interesting</u> book.</span> - Это интересная книга.
	</div>
<p>
Положительная степень прилагательных может употребляться при сравнении двух и более лиц или предметов в следующих сллучаях: 
<p>
<ul>
	<li>При сравнении одинаковых качеств. Для этого используется конструкции <strong>as … as</strong>, которая соответствует русской конструкции <em>такой же … как и</em></li>
	<li>При указании на неравные качества. Для этого используется конструкции <strong>not as … as</strong> / <strong>not so … as</strong>, которые соответствует русской конструкции <em>не такой … как</em></li>
</ul>

<h3 class="page-p">Сравнительная степень</h3>

<p>
<dfn>Сравнительная степень</dfn> прилагательных используется для указания на большую или меньшую выраженность признака или качества у одного предмета или лица по отношению к другому. 
</p>
<p>
У односложных прилагательных и двухсложных прилагательных, оканчивающихся на -<span class="eg">e</span>, -<span class="eg">y</span>, -<span class="eg">er</span>, -<span class="eg">ow</span>, форма сравнительной степени образуется путем прибавления суффикса -<span class="eg">er</span>. 
</p>
	<div class="ex-block-simple">
		<span class="exs-or">small</span> маленький - <span class="exs-or">small<u>er</u></span> меньше<br>
		<span class="exs-or">simple</span> простой - <span class="exs-or">simpl<u>er</u></span> проще<br>
		<span class="exs-or">pretty</span> красивый - <span class="exs-or">pretti<u>er</u></span> красивее<br>
		<span class="exs-or">narrow</span> узкий - <span class="exs-or">narrow<u>er</u></span> уже
	</div>
<p>
Остальные прилагательные образуют сравнительную степень сравнения с помощью слов <span class="eg">more</span> <span class="egt">более</span> или <span class="eg">less</span> <span class="egt">менее</span>, которое ставится перед прилагательным.</p>

	<div class="ex-block-simple">
		<span class="exs-or">interesting</span> интересный - <span class="exs-or"><u>more</u> (less) interesting</span> более (менее) интересный <br>
		<span class="exs-or">importnant</span> важный - <span class="exs-or"><u>more</u> (less) important</span> более (менее) важный
	</div>

<h3 class="page-p">Превосходная степень</h3>

<p>
У односложных прилагательных и двухсложных прилагательных, оканчивающихся на -<span class="eg">e</span>, -<span class="eg">y</span>, -<span class="eg">er</span>, -<span class="eg">ow</span>, форма превосходной степени образуется путем прибавления суффикса -<span class="eg">est</span>. 
</p>
	<div class="ex-block-simple">
		<span class="exs-or">small</span> маленький - <span class="exs-or">small<u>est</u></span> самый маленький<br>
		<span class="exs-or">simple</span> простой - <span class="exs-or">simpl<u>est</u></span> самый простой<br>
		<span class="exs-or">pretty</span> красивый - <span class="exs-or">pretti<u>est</u></span> самый карсивый<br>
		<span class="exs-or">narrow</span> узкий - <span class="exs-or">narrow<u>est</u></span> самый узкий
	</div>
<p>
Остальные прилагательные образуют превосходную степень сравнения с помощью слов <span class="eg">most</span> <span class="egt">наиболее</span> или <span class="eg">least</span> <span class="egt">наименее</span>, которое ставится перед прилагательным. 
</p>


	<div class="ex-block-simple">
		<span class="exs-or">interesting</span> интересный - <span class="exs-or"><u>most</u> (least) interesting</span> самый (наименее) интересный <br>
		<span class="exs-or">importnant</span> важный - <span class="exs-or"><u>most</u> (least) important</span> самый (наименее) важный
	</div>

<h3 class="page-p">Правила орфографии</h3>

<p>
При прибавлении суффиксов -<span class="eg">er</span> или -<span class="eg">est</span> применяются следующие правила орфографии:
</p>

<ul>
	<li>если прилагательное заканчивается на букву -<span class="eg">e</span>, то она выпадает при добавлении суффиксов -<span class="eg">er</span> или -<span class="eg">est</span>

	<div class="ex-block-simple">
		<span class="exs-or">simple</span> (простой) - <span class="exs-or">simpl<u>er</u> - simpl<u>est</u></span> 
	</div>
	
</li>
	<li>если прилагательное заканчивается на согласную с последующей буквой <span class="eg">y</span>, то конечная буква <span class="eg">y</span> меняется на <span class="eg">i</span> при добавлении суффиксов -<span class="eg">er</span> или -<span class="eg">est</span>

	<div class="ex-block-simple">
		<span class="exs-or">easy</span> (легкий) - <span class="exs-or">eas<u>ier</u> - eas<u>iest</u></span> 
	</div>

</li>
	<li>если прилагательное заканчивается на краткую гласную с последующей согласной, то конечная согласная удваивается при добавлении суффиксов -<span class="eg">er</span> или -<span class="eg">est</span>
	<div class="ex-block-simple">
		<span class="exs-or">big</span> (большой)  - <span class="exs-or">big<u>ger</u> - big<u>gest</u></span> 
	</div>
</li>
</ul>

<h3 class="page-p">Исключения</h3>

<p>
Исключением из общего правила образования сравнительной и превосходной степени являются формы прилагательных <span class="eg">good</span> хороший, <span class="eg">bad</span> <span class="egt">плохой</span>, <span class="eg">little</span> <span class="egt">маленький, мало</span>, <span class="eg">much/many</span> <span class="egt">много</span>, <span class="eg">far</span> <span class="egt">далекий</span>
</p>

<table class="st-bl-table conj-table" cellspacing="1" align="center" style="margin: 0 auto;">
<thead>
	<tr>
		<th>Положительная <br>степень</th>
		<th>Сравнительная <br>степень</th>
		<th>Превосходная <br>степень</th>
	</tr>
</thead>
<tbody class="conj-table">
	<tr>
		<td>good</td>
		<td>better</td>
		<td>best</td>
	</tr>
	<tr>
		<td>little</td>
		<td>less</td>
		<td>least</td>
	</tr>
	<tr>
		<td>much/many</td>
		<td>more</td>
		<td>most</td>
	</tr>
		<tr>
		<td>far</td>
		<td>further /farther</td>
		<td>furthest/farthest</td>
	</tr>
</tbody>
</table>





<br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>

<script type="text/javascript">
currentSection="grammar";
</script>