<% @page_title = 'Указательные местоимения :: Английская грамматика онлайн' %>
<% @page_meta = {'description' => "Грамматика английского языка: Указательные местоимения "} %>


<% content_for :special_js_css do %>

<style type="text/css">
h2.page {
margin-bottom: 0px;
}
li .ex-block-simple {
margin-top: 10px;
margin-bottom: 15px;
}

</style>
<% end %>


<h2 class="page">Указательные местоимения
</h2>

<h3 class="page-path"> 
<span class="int-links"><a href="/ru/en/english-grammar.html">Грамматика</a> <span class="int-arrow">--&gt;</span> Указательные местоимения</span> 
</h3>

<p>
<dfn>Указательные местоимения</dfn> - слова, которые используются для выделения известного говорящему лица, признака, предмета из ряда однородных. 
В русском языке для этого используются такие местоимения, как  <em>этот, это, тот, такой</em> и т.д. В английском языке используются указательные местоимения
<strong>this</strong>/<strong>these</strong>, <strong>that</strong>/<strong>those</strong>, <strong>the same</strong>, <strong>such</strong>.
</p>
<h3 class="page-p">Местоимения this/these и that/those</h3>
<p>
Указательные местоимения <span class="eg">this</span>/<span class="eg">these</span> и <span class="eg">that</span>/<span class="eg">those</span> могут употребляться перед одушевленными и неодушевленными существительными. 
</p>
<p>
Местоимения this/these употребляются по отношению к предметам и лицам, находящимся вблизи говорящего и могут переводится как <em>этот</em>, <em>эта</em>, <em>это</em>/ <em>эти</em>.
</p>
<p>
Местоимения <span class="eg">that</span>/<span class="eg">those</span> употребляются по отношению к предметам и лицам, находящимся вдали от говорящего и могут переводится как <em>тот</em>, <em>та</em>, <em>то</em>/<em> те</em>.
</p>

<h4 class="page-pp">Формы</h4>
<p>
Ниже приведена таблица с формами и значениями этих местоимений.
</p>

<table class="st-bl-table" cellspacing="1" align="center" style="margin: 0 auto;">
<thead>
	<tr>
		<th rowspan="2">Значение</th>
		<th colspan="2">Число</th>
	</tr>
	<tr>
		<th class="sec-row">Единственное</th>
		<th class="sec-row">Множественное</th>
	</tr>
</thead>
<tbody>
	<tr>
		<td>близкий предмет</td><td>this</td><td>these</td>
	</tr>
	<tr>
		<td>дальний предмет</td><td>that</td><td>those</td>
	</tr>
</tbody>
</table>


<h4 class="page-pp">Употребление</h4>

<p>В предложении местоимения <span class="eg">this</span>/<span class="eg">these</span> и <span class="eg">that</span>/<span class="eg">those</span> могут выступать в качестве: 
</p>
<ul>
	<li>подлежащего
	<div class="ex-block-simple">
		<span class="exs-or"><u>This</u> is an interesting story.</span> - <u>Это</u> интересная история.
	</div>	
	</li>
	<li>определения
	<div class="ex-block-simple">
		<span class="exs-or"><u>That</u> story is interesting.</span> - <u>Та</u> история интересная.
	</div>
	</li>
	<li>дополнения 
	<div class="ex-block-simple">
		<span class="exs-or">I don't understand <u>this</u> .</span> - Я <u>этого</u> не понимаю.
	</div>
	</li>
</ul>

<p>
В выражениях времени местоимения <span class="eg">this</span>/<span class="eg">these</span> относятся, как правило, к настоящему времени, а местоимения <span class="eg">that</span>/<span class="eg">those</span> - к прошедшему или будущему.
</p>
	<div class="ex-block-simple">
		<span class="exs-or">this summer</span> - этим летом<br>
		<span class="exs-or">this year </span> - в этом году<br>
		<span class="exs-or">at that moment</span> - в тот момент
	</div>

<h3 class="page-p">Местоимение the same</h3>
<p>
Местоимение <span class="eg">the same</span> употребляется перед существительными во множественном и единственном числе и может переводиться как <em>один и тот же</em>, <em>тот же самый</em> и т.п. Обратите внимание на то, что местоимение same всегда употребляется с определенным артиклем.
</p>
	<div class="ex-block-simple">
		<span class="exs-or">We use the same program.</span> - Мы используем ту же программу.<br>
		<span class="exs-or">She is the same age as me.</span> - Ей столько же лет, как и мне.
	</div>

<h3 class="page-p">Местоимение such</h3>
<p>
Местоимение <span class="eg">such</span> употребляется перед существительными во множественном и единственном числе и может переводиться как <em>такой</em>, <em>такая</em>, <em>такие</em> и т.п. При употреблении данного местоимения с существительным в единственном числе, перед существительным ставится неопределенный артикль.
</p>

	<div class="ex-block-simple">
		<span class="exs-or">Don't use such words!</span> - Не употребляйте такие слова!<br>
		<span class="exs-or">She is such a nice girl!</span> - Она такая прелестная девочка!
	</div>





<br><br><br><br><br><br><br><br><br><br>

<script type="text/javascript">
currentSection="grammar";
</script>