<% @page_title = 'Модальные глаголы :: Английская грамматика онлайн' %>
<% @page_meta = {'description' => "Грамматика английского языка: Модальные глаголы "} %>


<% content_for :special_js_css do %>
<style type="text/css">
h2.page {
margin-bottom: 0px;
}
.st-table-exp {
font-style: italic;
}
</style>
<% end %>


<h2 class="page">Модальные глаголы
</h2>

<h3 class="page-path"> 
<span class="int-links"><a href="/ru/en/english-grammar.html">Грамматика</a> <span class="int-arrow">--&gt;</span> Модальные глаголы</span> 
</h3>

<p>
<dfn>Модальные глаголы</dfn> выражают не действие, а отношение к действию (возможность, необходимость, вероятность и т.п.). Они не употребляются самостоятельно, а только вместе со смысловым глаголом.</p>
<p>
В английском языке основными модальными глаголами являются:
</p>
<ul style="list-style-type: circle;">
	<li><span class="eg">can</span> - <em>мочь</em> (физическая возможность сделать что-либо)</li>
	<li><span class="eg">may (might)</span> - <em>мочь</em> (иметь возможность, разрешение сделать что-л)</li>
	<li><span class="eg">must</span> - <em>быть должным</em> (иметь необходимость сделать что-либо)</li>
</ul>

<p>
Также к модальным глаголам относятся:
</p>

<ul style="list-style-type: circle;">
	<li><span class="eg">should</span> - <em>должен, следует</em></li>
	<li><span class="eg">ought to</span> - <em>следовало бы</em></li>
	<li><span class="eg">need</span> - <em>нужно</em></li>
</ul>

<p>
Модальные глаголы в английском языке обладают следующими особенностями:
</p>

<ol>
	<li>модальные глаголы не имеют полного набора форм, у них отсутствует форма ед.ч. 3 л. настоящего времени.</li>
	<li>у них отсутствует причастие</li>
	<li>у ряда глаголов отсутвует форма прошедшего времени</li>
	<li>при образовании отрицательной и вопросительной форм не используются вспомогательные глаголы</li>
	<li>после модальных глаголов употребляется инфинитив без частицы <span class="eg">to</span></li>
	<li>у них нет инфинитива. Поэтому они не могут образовывать сложных форм, использующих вспомогательные глаголы. 
		Поэтому для передачи их значения используются их “заменители”:<br><br>
		- <span class="eg">to be able to</span> для глагола <strong>can</strong><br>
		- <span class="eg">to be allowed to</span> для глагола <strong>may</strong><br>
		- <span class="eg">to have to</span>, <span class="eg">to be to</span> для глагола <strong>must</strong><br>	
	</li>
</ol>

<p>
Ниже представлены некоторые форм спряжения глагола <span class="eg">can</span> и <span class="eg">must</span>:
</p>
 

<table class="st-bl-table" cellspacing="1" align="center" style="margin: 0 auto;">
<thead>
	<tr>
		<th rowspan="2">Глагол</th>
		<th rowspan="2">Время</th>
		<th colspan="3">Форма</th>
	</tr>
	<tr>
		<th class="sec-row">Повествовательная</th>
		<th class="sec-row">Отрицательная</th>
		<th class="sec-row">Вопросительная</th>
	</tr>
</thead>
<tbody>
	<tr>
		<td rowspan="3"><strong>can</strong></td>
		<td class="st-table-exp">Настоящее</td>
		<td>I can</td>
		<td>I can not</td>
		<td>Can I?</td>
	</tr>
	<tr>
		<td class="st-table-exp">Прошедшее</td>
		<td>I could</td>
		<td>I could not</td>
		<td>Could I?</td>
	</tr>
	<tr>
		<td class="st-table-exp">Будущее</td>
		<td colspan="3">
			<span style="font-size: 10px; font-style: italic;">используется заменитель <span class="eg">to be able to</span>, например:<br><br></span>
			I will be able to do it
		</td>
	</tr>
	<tr>
		<td rowspan="3"><strong>must</strong></td>
		<td class="st-table-exp">Настоящее</td>
		<td>He must</td>
		<td>He must not</td>
		<td>Must he?</td>
	</tr>
	<tr>
		<td class="st-table-exp">Прошедшее</td>
		<td colspan="3">
			<span style="font-size: 10px; font-style: italic;">используется заменитель <span class="eg">to have to</span>, например:<br><br></span>
			He had to do it
		</td>
	</tr>
	<tr>
		<td class="st-table-exp">Будущее</td>
		<td colspan="3">
			<span style="font-size: 10px; font-style: italic;">используется заменитель <span class="eg">to be able to</span>, например:<br><br></span>
			He will have to do it
		</td>
	</tr>
</tbody>
</table>
 
<br><br><br><br><br><br><br><br><br><br>

<script type="text/javascript">
currentSection="grammar";
</script>