<% @page_title = 'Present Indefinite Active :: Английская грамматика онлайн' %>
<% @page_meta = {'description' => "Грамматика английского языка: формы и употребление времени Present Indefinite (Present Simple)"} %>


<% content_for :special_js_css do %>

<style type="text/css">
h2.page {
margin-bottom: 0px;
}


</style>
<% end %>


<h2 class="page">Настоящее неопределенное время
</h2>

<h3 class="page-path"> 
<span class="int-links"><a href="/ru/en/english-grammar.html">Грамматика</a> <span class="int-arrow">--&gt;</span> Present Indefinite</span> 
</h3>

<h3 class="page-p">Значение</h3>
<p>
<dfn>Настоящее неопределенное время</dfn> (анг. <em>Present Indefinite</em>, <em>Present Simple</em>) передает действия, происходящие в настоящем времени, при этом время действия точно не определено и не ограничено. Такое действие происходит обычно или постоянно.
</p>
<h3 class="page-p">Образование форм глагола</h3>
<p>
Формы <em>Present Indefinite</em>, кроме 3 л. ед. ч.,  совпадают с инфинитивом глагола без частицы <span class="eg">to</span>. В 3 л. ед. ч. глагол приобретает окончание -<span class="eg">s</span> или  -<span class="eg">es</span>. 
</p>
<p>
Окончание -<span class="eg">es</span> применяется в следующих случаях:
</p>
<p>
- если глагол заканчивается на -<span class="eg">ss</span>, -<span class="eg">ch</span>, -<span class="eg">sh</span> или -<span class="eg">x</span> 
</p>
<p>
- если глагол заканчивается на -<span class="eg">o</span>
<p>
<p>
- если глагол заканчивается на -<span class="eg">y</span> с предшествующей согласной, при этом буква <span class="eg">y</span> меняется на <span class="eg">i</span>
<p>
</p>
<p>
Особые формы имеют глаголы <span class="eg">to be</span> <span class="egt">быть</span> и <span class="eg">to have</span> <span class="egt">иметь</span>. Глагол <span class="eg">to be</span> имеет формы <em>am</em>, <em>is</em>, <em>are</em>. Глагол <span class="eg">to have</span> имеет форму <em>has</em> в 3 л. ед. ч.
</p>
<p>
Для образования вопросительной и отрицательной форм смысловых глаголов используется вспомогательный глагол <span class="eg">to do</span>.
</p>

<p>
Ниже представлены повествовательные, вопросительные и отрицательные формы глагола <span class="eg">to work</span> <span class="egt">работать</span>.
</p>

<table class="st-bl-table" cellspacing="1" align="center" style="margin: 0 auto;">
<thead>
	<tr>
		<th rowspan="2" class="ru-pers">Лицо</th>
		<th colspan="2">Число</th>
	</tr>
	<tr>
		<th class="sec-row">Единственное</th>
		<th class="sec-row">Множественное</th>
	</tr>
</thead>
<col><col width=190><col width=190>
<tbody class="conj-table">
	<tr>
		<td colspan="3" class="ru-vform"> Утвердительная форма</td>
	</tr>
	<tr>
		<td>1 л.</td>
		<td>I <strong>work</strong></td>
		<td>we <strong>work</strong></td>
	</tr>
	<tr>
		<td>2 л.</td><td>you <strong>work</strong></td><td>you <strong>work</strong></td>
	</tr>
	<tr>
		<td>3 л.</td>
		<td>
			<table><tr>
					<td>he <br> she<br>it</td>
					<td><strong>work<u>s</u></strong></td>
			</tr></table>			
		</td>
		<td>they <strong>work</strong></td>
	</tr>
	<tr>
		<td colspan="3" class="ru-vform"> Отрицательная форма</td>
	</tr>
	<tr>
		<td>1 л.</td>
		<td>I <strong>do not work</strong></td>
		<td>we <strong>do not work</strong></td>
	</tr>
	<tr>
		<td>2 л.</td><td>you <strong>do not work</strong></td><td>you <strong>do not work</strong></td>
	</tr>
	<tr>
		<td>3 л.</td>
		<td>
			<table><tr>
					<td>he <br> she<br>it</td>
					<td><strong>do<u>es</u> not work</strong></td>
			</tr></table>
		</td><td>they <strong>do not work</strong></td>
	</tr>
	<tr>
		<td colspan="3" class="ru-vform"> Вопросительная форма</td>
	</tr>
	<tr>
		<td>1 л.</td>
		<td><strong>Do</strong> I <strong>work</strong>?</td>
		<td><strong>Do</strong> we <strong>work</strong>?</td>
	</tr>
	<tr>
		<td>2 л.</td><td><strong>Do</strong> you <strong>work</strong>?</td><td><strong>Do</strong> you <strong>work</strong>?</td>
	</tr>
	<tr>
		<td>3 л.</td>
		<td>
			<table><tr>
					<td><strong>Do<u>es</u></strong></td>
					<td>he <br> she<br>it</td>
					<td><strong>work</strong></td>
			</tr></table>
		</td>
		<td><strong>Do</strong> they <strong>work</strong></td>
	</tr>
</tbody>
</table>


<h3 class="page-p">Употребление</h3>

<p>
С данным временем часто употребляются такие наречия и словосочетания, которые выражают повторяемость действий: 
<span class="eg">usually</span>, <span class="eg">often</span>, <span class="eg">seldom</span>, <span class="eg">sometimes</span>, <span class="eg">always</span>,
<span class="eg">every day</span>,<span class="eg"> every morning</span>, <span class="eg">every evening</span> 
</p>









<br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>

<script type="text/javascript">
currentSection="grammar";
</script>