<% @page_title = 'Артикли в английском языке :: Английская грамматика онлайн' %>
<% @page_meta = {'description' => "Грамматика английского языка: Английские артикли "} %>


<% content_for :special_js_css do %>

<style type="text/css">
h2.page {
margin-bottom: 0px;
}
</style>
<% end %>


<h2 class="page">Артикли в английском языке
</h2>

<h3 class="page-path"> 
<span class="int-links"><a href="/ru/en/english-grammar.html">Грамматика</a> <span class="int-arrow">--&gt;</span> Артикли </span> 
</h3>

<p>
Артикли - это служебные слова, которые употребляются перед существительными и не имеют самостоятельного значения. 
</p>
<p>
В английском языке имеется два  артикля - <a href="/ru/en/english-article-indefinite.html">неопределенный артикль a(an)</a> и <a href="/ru/en/english-article-definite.html">определенный артикль the</a>.
</p>


<p>
Артикли обычно ставятся перед существительными или их определениями. Как правило, они не употребляются:
 </p>
 
<ul style="list-style: none;">
	<li>- с именами собственными</li>
	<li>- с существительными, перед которыми стоят указательные или притяжательные местоимения, или количественные числительные.</li>
</ul> 




<br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>

<script type="text/javascript">
currentSection="grammar";
</script>