<% @page_title = 'Present Indefinite Active :: Английская грамматика онлайн' %>
<% @page_meta = {'description' => "Грамматика английского языка: Present Indefinite Active "} %>


<% content_for :special_js_css do %>

<style type="text/css">
h2.page {
margin-bottom: 0px;
}


</style>
<% end %>


<h2 class="page">Настоящее неопределенное время
</h2>

<h3 class="page-path"> 
<span class="int-links"><a href="/ru/en/english-grammar.html">Грамматика</a> <span class="int-arrow">--&gt;</span> Present Indefinite Active</span> 
</h3>

<h3 class="page-p">Значение</h3>
<p>
Данное время передает действия, происходящие в настоящем времени, при этом время действия точно не определено и не ограничено. Такое действие происходит обычно или постоянно.
</p>
<h3 class="page-p">Образование форм глагола</h3>
<p>
Формы данного времени, кроме 3 л. ед. ч.,  совпадают с инфинитивом глагола без частицы to. В 3 л. ед. ч. глагол приобретает окончание -s или  -es (если заканчивается на -s, -ss, -ch, -sh или -x) 
</p>
<p>
Особые формы имеют глаголы to be и to have. Глагол to be имеет формы am, is, are. Глагол to have имеет форму has в 3 л. ед. ч.
</p>
<p>
Для образования вопросительной и отрицательной форм смысловых глаголов используется вспомогательный глагол to do.
</p>

<p>
Ниже представлены повествовательные, вопросительные и отрицательные формы глагола to work.
</p>

<table class="st-bl-table" cellspacing="1" align="center" style="margin: 0 auto;">
<thead>
	<tr>
		<th rowspan="2" class="ru-pers">Лицо</th>
		<th colspan="2">Число</th>
	</tr>
	<tr>
		<th class="sec-row">Единственное</th>
		<th class="sec-row">Множественное</th>
	</tr>
</thead>
<col><col width=190><col width=190>
<tbody class="conj-table">
	<tr>
		<td colspan="3" class="ru-vform"> Утвердительная форма</td>
	</tr>
	<tr>
		<td>1 л.</td>
		<td>I <strong>work</strong></td>
		<td>we <strong>work</strong></td>
	</tr>
	<tr>
		<td>2 л.</td><td>you <strong>work</strong></td><td>you <strong>work</strong></td>
	</tr>
	<tr>
		<td>3 л.</td>
		<td>
			<table><tr>
					<td>he <br> she<br>it</td>
					<td><strong>work<u>s</u></strong></td>
			</tr></table>			
		</td>
		<td>they <strong>work</strong></td>
	</tr>
	<tr>
		<td colspan="3" class="ru-vform"> Отрицательная форма</td>
	</tr>
	<tr>
		<td>1 л.</td>
		<td>I <strong>do not work</strong></td>
		<td>we <strong>do not work</strong></td>
	</tr>
	<tr>
		<td>2 л.</td><td>you <strong>do not work</strong></td><td>you <strong>do not work</strong></td>
	</tr>
	<tr>
		<td>3 л.</td>
		<td>
			<table><tr>
					<td>he <br> she<br>it</td>
					<td><strong>do<u>es</u> not work</strong></td>
			</tr></table>
		</td><td>they <strong>do not work</strong></td>
	</tr>
	<tr>
		<td colspan="3" class="ru-vform"> Вопросительная форма</td>
	</tr>
	<tr>
		<td>1 л.</td>
		<td><strong>Do</strong> I <strong>work</strong>?</td>
		<td><strong>Do</strong> we <strong>work</strong>?</td>
	</tr>
	<tr>
		<td>2 л.</td><td><strong>Do</strong> you <strong>work</strong>?</td><td><strong>Do</strong> you <strong>work</strong>?</td>
	</tr>
	<tr>
		<td>3 л.</td>
		<td>
			<table><tr>
					<td><strong>Do<u>es</u></strong></td>
					<td>he <br> she<br>it</td>
					<td><strong>work</strong></td>
			</tr></table>
		</td>
		<td><strong>Do</strong> they <strong>work</strong></td>
	</tr>
</tbody>
</table>


<h3 class="page-p">Употребление</h3>

<p>
С данным временем часто употребляются такие наречия и словосочетания, которые выражают повторяемость действий: 
usually, often, seldom, sometimes, always
every day, every morning, every evening 
</p>










<br><br><br><br><br><br><br><br><br><br>

<script type="text/javascript">
currentSection="grammar";
</script>