<% @page_title='Уроки английского онлайн :: Изучение английского языка' %>
<% @page_meta = {'description' => "Интерактивные уроки английского: онлайн "} %>


<% content_for :special_js_css do %>
<%= stylesheet_link_tag 'cs_styles' %>
<style type="text/css">
.gr-list-head {
background-color: #DDE7F5;
background-image:url("/images/task-bg.png");
background-position:right bottom;
background-repeat:repeat-y;
border-left: 4px solid #D1DEEF;
}

.gr-list p {
font-size: 11px;
color: #444;
margin: 0 20px 15px 20px;
}
.gr-list p a {
font-size: 12px;
}

.gr-list p span {
display: block;
padding-bottom: 3px;
}

.gr-list {
margin-right: 80px;
max-width: 700px;
}
</style>

<% end %>

<h2 class="page page-bl">Уроки английского для детей</h2>


<p>
Эти уроки помогут детям освоить самые полезные английские слова. Уроки направлены на закрепление в памяти ребенка звуковой и письменной формы английских слов, а также их перевода. Уроки состоят из пяти этапов, каждый из которых служит для развития определенных языковых навыков. 
</p>



<h3 class="page-p">
Уроки для детей по темам:
</h3>


        <div class="inner-listing" style="padding-left: 40px">
			<p><a href="/ru/en/kids-lesson.html?topic=numbers_1-10">Числа от 1 до 10</a></p>
			<p><a href="/ru/en/kids-lesson.html?topic=colors">Цвета </a></p>
			<p><a href="/ru/en/kids-lesson.html?topic=fruit">Фрукты </a></p>
			<p><a href="/ru/en/kids-lesson.html?topic=vegetables">Овощи</a></p>
			<p><a href="/ru/en/kids-lesson.html?topic=domestic_animals">Домашние животные</a></p>
			<p><a href="/ru/en/kids-lesson.html?topic=wild_animals">Дикие животные</a></p>
			<p><a href="/ru/en/kids-lesson.html?topic=zoo_animals">В зоопарке</a></p> 
			<p><a href="/ru/en/kids-lesson.html?topic=furniture">Мебель</a></p>
			<p><a href="/ru/en/kids-lesson.html?topic=professions">Профессии</a></p>
			<p><a href="/ru/en/kids-lesson.html?topic=diary">Молочные продукты</a></p>
			<p><a href="/ru/en/kids-lesson.html?topic=meat">Мясо и рыба</a></p>
			<p><a href="/ru/en/kids-lesson.html?topic=dessert">Десерт</a></p>
			<p><a href="/ru/en/kids-lesson.html?topic=drinks">Напитки</a></p>
			<p><a href="/ru/en/kids-lesson.html?topic=clothes">Одежда</a></p>
        </div>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<script type="text/javascript">
currentSection="kids";
</script>



