<% @page_title = 'Будущее в прошедшем (Future in the Past) :: Английская грамматика онлайн' %>
<% @page_meta = {'description' => "Грамматика английского языка: Будущее в прошедшем (Future in the Past)"} %>


<% content_for :special_js_css do %>

<style type="text/css">
h2.page {margin-bottom: 0px;
}
</style>
<% end %>


<h2 class="page">Будущее в прошедшем (Future in the Past)
</h2>

<h3 class="page-path"> 
<span class="int-links"><a href="/ru/en/english-grammar.html">Грамматика</a> <span class="int-arrow">--&gt;</span> Future in the Past</span> 
</h3>

<p>
Данное время употребляется для обозначения действий, которые являются будущими по отношению к другим действиям, происходящим в прошлом.
</p>
<p>
Формы глаголов данного времени образуются аналогично формам будущего времени (Future Indefininite, Continuous, Perfect или Perfect Continuous), но вместо will используется форма would.
</p>


<br><br><br><br><br><br><br><br><br><br>

<script type="text/javascript">
currentSection="grammar";
</script>