<% @page_title='Study Languages Online: Learning Russian' %>
<% @page_meta = {'description' => "Russian language learning: online courses, vocabulary topics, pronunciation training", 'verify-v1' => "fRSaz4QoyTycTJLUZnk+AtNsVP8u9B3CorQMEuDuHLM="} %>

<% content_for :special_js_css do %>
<link rel="alternate" type="application/rss+xml" title="RSS" href="<%=APP_CONFIG[:site_url]%>/rss.xml" >
<%end%>

<h2  class="page">Давайте уже изучать английский уже</h2>



<p>Представляем серию уроков английского языка для начинающих:</p>

<p> <a href="/ru/en/lesson-01.html">Урок 1. Приветсвие </a>
</p>
<p> <a href="/ru/en/lesson-02.html">Урок 2. Представление </a>
</p>
<p> <a href="/ru/en/lesson-03.html">Урок 3. Национальность. </a>
</p>
<p> <a href="/ru/en/lesson-04.html">Урок 4. Семейное положение. </a>
</p>
<p> <a href="/ru/en/lesson-05.html">Урок 5. Профессии. </a>
</p>
<p> <a href="/ru/en/lesson-06.html">Урок 6. Профессии (продолжение) </a>
</p>



<script type="text/javascript">
currentSection="home";
</script>
