<% @page_title='Изучение английского языка :: Study Languages Online' %>
<% @page_meta = {'description' => "Russian language learning: online courses, vocabulary topics, pronunciation training", 'verify-v1' => "fRSaz4QoyTycTJLUZnk+AtNsVP8u9B3CorQMEuDuHLM="} %>

<% content_for :special_js_css do %>
<link rel="alternate" type="application/rss+xml" title="RSS" href="<%=APP_CONFIG[:site_url]%>/rss.xml" >

<script type="text/javascript">
$(document).ready(function(){
	smallBox($(".sb-results"))
})
</script>
<style type="text/css">
h2.page {margin-bottom: 0px;}
</style>
<%end%>

<h2 class="page page-bl" >Давайте уже изучать английский уже!</h2>


<p>Пора бы и английским наконц-то заняться, правда?</p>

<p>На данный момент мы представляем следующие материалы для изучения английского языка</p>

<div class="sb-results">	

	<div class="sb-item details-hidden">
		<div class="sb-top-topic"><span><a href="/ru/en/course.html">Онлайн уроки английского языка</a></span></div>
		<div class="sb-details"><span class="mv-details">Подробнее</span><span class="mv-no-details">Скрыть</span></div>

		<div class="sb-topic-content">
			<div class="sb-quick-info">
				Представляем серию уроков английского языка для начинающих.
				<br>
				<br>
			</div>
		<div class="sb-topic-details">
			<div class="sb-details-content">
				<h4>Список уроков:</h4>
					<ul>
						<li><a href="/ru/en/lesson-01.html">Урок 1</a></li>
						<li><a href="/ru/en/lesson-02.html">Урок 2</a></li>
						<li><a href="/ru/en/lesson-03.html">Урок 3</a></li>
						<li><a href="/ru/en/lesson-04.html">Урок 4</a></li>
						<li><a href="/ru/en/lesson-05.html">Урок 5</a></li>
						<li><a href="/ru/en/lesson-06.html">Урок 6</a></li>
						<li><a href="/ru/en/lesson-07.html">Урок 7</a></li>
					</ul>
				<br>
			</div><!-- end of sb-details-content -->
		</div>
		</div>
	</div>
	
	<div class="sb-item details-hidden">
		<div class="sb-top-topic"><span><a href="/ru/en/vocabulary.html">Словарные темы</a></span></div>
		<div class="sb-details"><span class="mv-details">Подробнее</span><span class="mv-no-details">Скрыть</span></div>

		<div class="sb-topic-content">
			<div class="sb-quick-info">
				Данный раздел посвящен изучению наиболее полезных слов и выражений английского языка.
				<br>
				<br>
			</div>
		<div class="sb-topic-details">
			<div class="sb-details-content">
				<h4>Содержание раздела:</h4>
					<ul>
						<li><a href="/ru/en/vocabulary.html">Словарные темы</a></li>
						<li><a href="/ru/en/vocabulary.html#tab=2">Флэш-карты</a></li>
						<li><a href="/ru/en/vocabulary.html#tab=3">Лексические тесты</a></li>
					</ul>
				<br>
			</div><!-- end of sb-details-content -->
		</div>
		</div>
	</div>
	
	<div class="sb-item details-hidden">
		<div class="sb-top-topic"><span><a href="/ru/en/english-grammar.html">Грамматика английского языка</a></span></div>
		<div class="sb-details"><span class="mv-details">Подробнее</span><span class="mv-no-details">Скрыть</span></div>

		<div class="sb-topic-content">
			<div class="sb-quick-info">
				Здесь вы можете ознакомиться с грамматическими правилами английского языка и выплнить упражнения.
				<br>
				<br>
			</div>
		<div class="sb-topic-details">
			<div class="sb-details-content">
				<h4>Список уроков:</h4>
					
				<br>
			</div><!-- end of sb-details-content -->
		</div>
		</div>
	</div>

</div><!-- end of sb-results-->




<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>























<script type="text/javascript">
currentSection="home";
</script>
