<% @page_title='Английский онлайн: Словарь' %>
<% @page_meta = {'description' => "Английский словарь: списки слов и выражений по темам"} %>

<% content_for :special_js_css do %>

<script type="text/javascript">

<%if params[:tab] %>
	openTabFromUrl(<%= params[:tab] %>);
<%else%>
	openTabFromUrl();
<%end%>


</script>

<style type="text/css">
#prof_tabs {margin-top: 50px;}
.inpBlock {min-height: 800px; height: auto !important; height: 800px;}
.pBlock {padding: 40px 50px;}
.forgame {}

.content a.forgame {
color: #222222;
text-decoration: none;
height: 240px;
padding: 0px 10px; 
display: block;
}

.content a.forgame img {
display: block;
}

a.forgame span.gname {
display: block;
font-size: 14pt;
margin: 0px 0px 10px 20px;
padding-top: 10px;
}

a.forgame span.gdesc {
margin-left: 200px;
display: block;
}

.ptab div, .ptab {
background-image: none;
font-size: 11px;
}

.ptab {
background-color: #F3F7FC;
margin-left: 6px;
}

.ptab div {
padding: 7px 15px 3px 9px;
}

div.current_ptab div {
padding-left: 9px;
padding-right: 15px;
}


#tabs_row {
padding-left: 15px;
padding-top: 5px;
}

.tabs-wrapper {
bor-der: 1px solid #C3CFDF;
bor-der-top: 1px solid #678ACF;
-moz-box-shadow: 1px 2px 9px #B3B7BF;
-webkit-box-shadow: 1px 2px 9px #B3B7BF;
box-shadow: 1px 2px 9px #B3B7BF;
}

#prof_tabs  {
background-color: #DDE7F5;
border: 1px solid #82AAC8;
border-bottom: 1px solid #678ACF;
margin: 0;
width: auto;
}

.current_ptab {
background-color: #FFFFFF;
border: 1px solid #678ACF;
border-bottom: 0px solid #fff;
}


.pBlock {
border: 1px solid #afafaf;
border-top: 1px solid #fff;
-moz-box-shadow: 0 0 0 #fff;
-webkit-box-shadow: 0 0 0 #fff;
box-shadow: 0 0 0 #fff;
}




</style>

<% end %>


<h2 class="page page-bl">Словарные темы</h2>

<p>
Здесь вы найдёте списки слов по темам.
</p>

<div class="tabs-wrapper">
<div id="prof_tabs">
	<div id="tabs_row">
            <div id="tab01" class="ptab current_ptab"><div><a href="#" style="color: #000;">Словарь</a></div></div>
            <div id="tab02" class="ptab"><div><a href="#">Флэш-карты</a></div></div>
            <div id="tab03" class="ptab"><div><a href="#">&nbsp;&nbsp; Тесты &nbsp;&nbsp;</a></div></div>
            <div id="tab04" class="ptab"><div><a href="#">&nbsp;&nbsp; Игры &nbsp;&nbsp;</a></div></div>
			<div id="tab05" class="ptab"><div><a href="#">Детям</a></div></div>
	</div>
	<div style="clear: both;"></div>
</div>

<div id="for_tab01" class="pBlock" style="display: block">

	<div class="inpBlock">
	
	<h3>Содержание: </h3>


      <div class="bold inner-listing">
            <p><a href="/ru/en/vocabulary/greetings" title="Приветствия и прощания">I. Приветствия и прощания</a></p> 
			<p><a href="/ru/en/vocabulary/politeness" title="Формулы вежливости ">II. Формулы вежливости </a></p> 
			<p><a href="/ru/en/vocabulary/family" title="Семья">III. Семья </a></p> 
			<p><a href="/ru/en/vocabulary/professions" title="Профессии">IV. Профессии </a></p>
			<p><a href="#" title="Национальности">V. Международное общение </a></p>
				<div class="secondary-list">
					<p><a href="/ru/en/vocabulary/countries" title="Страны">- Страны</a></p>
					<p><a href="/ru/en/vocabulary/national-adj">- Прилагательные, выражающие принадлежность к национальности</a></p>
					<p><a href="/ru/en/vocabulary/language-skills">- Знание иностранного языка</a></p>
				</div>	
				
			<p><a href="#" title="Дом">VI. Дом </a></p>
				<div class="secondary-list">
					<p><a href="/ru/en/vocabulary/house" title="Дом">- Дом, квартира</a></p>
					<p><a href="/ru/en/vocabulary/furniture">- Мебель, интерьер</a></p>
					<p><a href="/ru/en/vocabulary/appliances">- Бытовые приборы</a></p>
				</div>
				
			<p><a href="#" title="Город">VII. Город </a></p>
				<div class="secondary-list">
					<p><a href="/ru/en/vocabulary/city">- Город</a></p>
					<p><a href="/ru/en/vocabulary/sightseeing">- Достопримечательности</a></p>
					<p><a href="/ru/en/vocabulary/transport">- Транспорт</a></p>
				</div>
			<p><a href="/ru/en/vocabulary/travel">VIII. Путешествие </a></p>
			<p><a href="#" title="Еда">IX. Еда </a></p>
				<div class="secondary-list">
					<p><a href="/ru/en/vocabulary/dairy">- Молочные продукты</a></p>
					<p><a href="/ru/en/vocabulary/meat">- Мясные изделия</a></p>
					<p><a href="/ru/en/vocabulary/fish">- Рыба и морепродукты</a></p>
					<p><a href="/ru/en/vocabulary/vegetables">- Овощи</a></p>
					<p><a href="/ru/en/vocabulary/fruit">- Фрукты</a></p>
					<p><a href="/ru/en/vocabulary/dessert">- Десерт</a></p>
					<p><a href="/ru/en/vocabulary/drinks">- Безалкогольные напитки</a></p>
					<p><a href="/ru/en/vocabulary/strong-drinks">- Алкогольные напитки</a></p>
				</div>
			<p><a href="#" title="Покупки">X. Покупки </a></p>
				<div class="secondary-list">
					<p><a href="/ru/en/vocabulary/clothing">- Одежда</a></p>
					<p><a href="/ru/en/vocabulary/lingerie">- Нижнее белье</a></p>
					<p><a href="/ru/en/vocabulary/sportwear">- Спортивная одежда</a></p>
					<p><a href="/ru/en/vocabulary/shoes">- Обувь</a></p>
					<p><a href="/ru/en/vocabulary/accessories">- Аксессуары</a></p>
				</div>
			<p><a href="#" title="Природа">XI. Природа </a></p>
				<div class="secondary-list">
					<p><a href="/ru/en/vocabulary/nature">- Природа</a></p>
					<p><a href="/ru/en/vocabulary/domestic-animals">- Домашние животные</a></p>
					<p><a href="/ru/en/vocabulary/wild-animals">- Дикие животные</a></p>
					<p><a href="/ru/en/vocabulary/sea-animals">- Подводный мир</a></p>
					<p><a href="/ru/en/vocabulary/birds">- Птицы</a></p>
					<p><a href="/ru/en/vocabulary/insects">- Насекомые</a></p>
					<p><a href="/ru/en/vocabulary/flowers">- Цветы</a></p>
					<p><a href="/ru/en/vocabulary/trees">- Деревья</a></p>
				</div>
			<p><a href="#" title="Числительные">XII. Числительные </a></p>
				<div class="secondary-list">
					<p><a href="/ru/en/vocabulary/numerals0-100">- Количественные числительные от 0 до 100</a></p>
					<p><a href="/ru/en/vocabulary/numerals100">- Количественные числительные более 100</a></p>
				</div>	
				
			<br><br><br><br><br><br><br>	
	 </div>

	</div>
</div>
<div id="for_tab02" class="pBlock" style="display: none">
	<div class="inpBlock">
		
	<h3>Флэшкарты по темам: </h3>
        <div class="inner-listing">	
			<p><a href="/ru/en/flashcards/politeness" title="Формулы вежливости ">Формулы вежливости </a></p> 
			<p><a href="/ru/en/flashcards/family" title="Семья">Семья </a></p> 
			<p><a href="/ru/en/flashcards/professions" title="Профессии">Профессии </a></p>
			<p><a href="/ru/en/flashcards/countries" title="Страны">Страны</a></p>
			<p><a href="/ru/en/flashcards/national-adj">Национальности</a></p>
			<p><a href="/ru/en/flashcards/language-skills">Знание иностранного языка</a></p>				
			<p><a href="/ru/en/flashcards/house" title="Дом">Дом, квартира</a></p>
			<p><a href="/ru/en/flashcards/furniture">Мебель, интерьер</a></p>
			<p><a href="/ru/en/flashcards/appliances">Бытовые приборы</a></p>
			<p><a href="/ru/en/flashcards/city">Город</a></p>
			<p><a href="/ru/en/flashcards/sightseeing">Достопримечательности</a></p>
			<p><a href="/ru/en/flashcards/transport">Транспорт</a></p>
			<p><a href="/ru/en/flashcards/travel">Путешествие </a></p>
			<p><a href="/ru/en/flashcards/dairy">Молочные продукты</a></p>
			<p><a href="/ru/en/flashcards/meat">Мясные изделия</a></p>
			<p><a href="/ru/en/flashcards/fish">Рыба и морепродукты</a></p>
			<p><a href="/ru/en/flashcards/vegetables">Овощи</a></p>
			<p><a href="/ru/en/flashcards/fruit">Фрукты</a></p>
			<p><a href="/ru/en/flashcards/dessert">Десерт</a></p>
			<p><a href="/ru/en/flashcards/drinks">Безалкогольные напитки</a></p>
			<p><a href="/ru/en/flashcards/strong-drinks">Алкогольные напитки</a></p>
			<p><a href="/ru/en/flashcards/clothing">Одежда</a></p>
			<p><a href="/ru/en/flashcards/lingerie">Нижнее белье</a></p>
			<p><a href="/ru/en/flashcards/sportwear">Спортивная одежда</a></p>
			<p><a href="/ru/en/flashcards/shoes">Обувь</a></p>
			<p><a href="/ru/en/flashcards/accessories">Аксессуары</a></p>
			<p><a href="/ru/en/flashcards/nature">Природа</a></p>
			<p><a href="/ru/en/flashcards/domestic-animals">Домашние животные</a></p>
			<p><a href="/ru/en/flashcards/wild-animals">Дикие животные</a></p>
			<p><a href="/ru/en/flashcards/numerals0-100">Количественные числительные от 0 до 100</a></p>
			<p><a href="/ru/en/flashcards/numerals100">Количественные числительные более 100</a></p>
        </div>
	
	</div>
</div>
<div id="for_tab03" class="pBlock" style="display: none">
	<div class="inpBlock">
	
	<h3>Лексические тесты по темам: </h3>
	
        <div class="inner-listing">	
			<p><a href="/ru/en/lexical-test/politeness" title="Формулы вежливости ">Формулы вежливости </a></p> 
			<p><a href="/ru/en/lexical-test/family" title="Семья">Семья </a></p> 
			<p><a href="/ru/en/lexical-test/professions" title="Профессии">Профессии </a></p>
			<p><a href="/ru/en/lexical-test/countries" title="Страны">Страны</a></p>
			<p><a href="/ru/en/lexical-test/national-adj">Национальности</a></p>
			<p><a href="/ru/en/lexical-test/language-skills">Знание иностранного языка</a></p>				
			<p><a href="/ru/en/lexical-test/house" title="Дом">Дом, квартира</a></p>
			<p><a href="/ru/en/lexical-test/furniture">Мебель, интерьер</a></p>
			<p><a href="/ru/en/lexical-test/appliances">Бытовые приборы</a></p>
			<p><a href="/ru/en/lexical-test/city">Город</a></p>
			<p><a href="/ru/en/lexical-test/sightseeing">Достопримечательности</a></p>
			<p><a href="/ru/en/lexical-test/transport">Транспорт</a></p>
			<p><a href="/ru/en/lexical-test/travel">Путешествие </a></p>
			<p><a href="/ru/en/lexical-test/dairy">Молочные продукты</a></p>
			<p><a href="/ru/en/lexical-test/meat">Мясные изделия</a></p>
			<p><a href="/ru/en/lexical-test/fish">Рыба и морепродукты</a></p>
			<p><a href="/ru/en/lexical-test/vegetables">Овощи</a></p>
			<p><a href="/ru/en/lexical-test/fruit">Фрукты</a></p>
			<p><a href="/ru/en/lexical-test/dessert">Десерт</a></p>
			<p><a href="/ru/en/lexical-test/drinks">Безалкогольные напитки</a></p>
			<p><a href="/ru/en/lexical-test/strong-drinks">Алкогольные напитки</a></p>
			<p><a href="/ru/en/lexical-test/clothing">Одежда</a></p>
			<p><a href="/ru/en/lexical-test/lingerie">Нижнее белье</a></p>
			<p><a href="/ru/en/lexical-test/sportwear">Спортивная одежда</a></p>
			<p><a href="/ru/en/lexical-test/shoes">Обувь</a></p>
			<p><a href="/ru/en/lexical-test/accessories">Аксессуары</a></p>
			<p><a href="/ru/en/lexical-test/nature">Природа</a></p>
			<p><a href="/ru/en/lexical-test/domestic-animals">Домашние животные</a></p>
			<p><a href="/ru/en/lexical-test/wild-animals">Дикие животные</a></p>
			<p><a href="/ru/en/lexical-test/numerals0-100">Количественные числительные от 0 до 100</a></p>
			<p><a href="/ru/en/lexical-test/numerals100">Количественные числительные более 100</a></p>
        </div>	

	</div>
</div>
<div id="for_tab04" class="pBlock" style="display: none">
	<div class="inpBlock">
		<a href="/ru/en/memory-game.html" class="forgame">
		<span class="gname">Memory Game</span>
		<img src="/images/memory-thumb.gif" alt="Thumbnail of Memory Game" align="left"/>
		<span class="gdesc">Классическая игра, в которой нужно найти пары слов.</span>
		</a>
		
		<a href="/ru/en/crossword-game.html" class="forgame">
		<span class="gname" style="position: relative;">Кроссворд<span class="new_item" style="font-size: 20px; right: 0px; display: none;">&nbsp;NEW !!!&nbsp;</span></span>
		
		<img src="/images/crossword-thumb-1.gif" alt="" align="left"/>
			<span class="gdesc">
			Очень полезная игра для начинающих изучать английский, в которой нужно найти спрятанные слова. 
			</span>
		</a>
	</div>
</div>
<div id="for_tab05" class="pBlock" style="display: none">
	<div class="inpBlock">
<h3>Уроки для детей по темам: </h3>
        <div class="inner-listing">
			<p><a href="/ru/en/kids-lesson.html?topic=numbers_1-10">Числа от 1 до 10</a></p>
			<p><a href="/ru/en/kids-lesson.html?topic=fruit">Фрукты </a></p>
			<p><a href="/ru/en/kids-lesson.html?topic=vegetables">Овощи</a></p>
			<p><a href="/ru/en/kids-lesson.html?topic=domestic_animals">Домашние животные</a></p>
			<p><a href="/ru/en/kids-lesson.html?topic=wild_animals">Дикие животные</a></p>
			<p><a href="/ru/en/kids-lesson.html?topic=zoo_animals">В зоопарке</a></p> 
        </div>		
	</div>
</div>



</div> <!-- end of tabs wrapper -->

<script type="text/javascript">
currentSection="words";
</script>

