<% @page_title='Английский онлайн: Словарь' %>
<% @page_meta = {'description' => "Английский словарь: списки слов и выражений по темам"} %>

<% content_for :special_js_css do %>

<script type="text/javascript">

<%if params[:tab] %>
	openTabFromUrl(<%= params[:tab] %>);
<%else%>
	openTabFromUrl();
<%end%>
	
</script>

<style type="text/css">
#prof_tabs {margin-top: 50px;}
.inpBlock {min-height: 800px; height: auto !important; height: 800px;}
.pBlock {padding: 40px 50px;}
.forgame {}

.content a.forgame {
color: #222222;
text-decoration: none;
height: 240px;
padding: 0px 10px; 
display: block
}

.content a.forgame img {
display: block;
}

a.forgame span.gname {
display: block;
font-size: 14pt;
margin: 0px 0px 10px 20px;
padding-top: 10px;
}

a.forgame span.gdesc {
margin-left: 200px;
display: block;
}

</style>

<% end %>


<h2 class="page page-bl">Словарные темы</h2>

<p>
Здесь вы найдёте списки слов по темам.
</p>

<div id="prof_tabs">
	<div id="tabs_row">
            <div id="tab01" class="ptab current_ptab"><div><a href="vocabulary.html" style="color: #000;">Темы</a></div></div>
            <div id="tab02" class="ptab"><div><a href="vocabulary_exercises.html">Флэш-карты</a></div></div>
            <div id="tab03" class="ptab"><div><a href="vocabulary_tests.html">&nbsp;&nbsp; Тесты &nbsp;&nbsp;</a></div></div>

            <div id="tab04" class="ptab" style="display: none"><div><a href="vocabulary_games.html">&nbsp;&nbsp; Игры &nbsp;&nbsp;</a></div></div>
	</div>
	<div style="clear: both;"></div>
</div>

<div id="for_tab01" class="pBlock" style="display: block">

	<div class="inpBlock">
	
	<h3>Содержание: </h3>


      <div class="bold inner-listing">
            <p><a href="/ru/en/vocabulary/greetings" title="Приветствия и прощания">I. Приветствия и прощания</a></p> 
			<p><a href="/ru/en/vocabulary/politeness" title="Формулы вежливости ">II. Формулы вежливости </a></p> 
			<p><a href="/ru/en/vocabulary/family" title="Семья">III. Семья </a></p> 
			<p><a href="/ru/en/vocabulary/professions" title="Профессии">IV. Профессии </a></p>
			<p><a href="#" title="Национальности">V. Международное общение </a></p>
				<div class="secondary-list">
					<p><a href="/ru/en/vocabulary/countries" title="Страны">- Страны</a></p>
					<p><a href="/ru/en/vocabulary/national-adj">- Прилагательные, выражающие принадлежность к национальности</a></p>
					<p><a href="/ru/en/vocabulary/language-skills">- Знание иностранного языка</a></p>
				</div>	
				
			<p><a href="#" title="Дом">VI. Дом </a></p>
				<div class="secondary-list">
					<p><a href="/ru/en/vocabulary/house" title="Дом">- Дом, квартира</a></p>
					<p><a href="/ru/en/vocabulary/furniture">- Мебель, интерьер</a></p>
					<p><a href="/ru/en/vocabulary/appliances">- Бытовые приборы</a></p>
				</div>
				
			<p><a href="#" title="Город">VII. Город </a></p>
				<div class="secondary-list">
					<p><a href="/ru/en/vocabulary/city">- Город</a></p>
					<p><a href="/ru/en/vocabulary/sightseeing">- Достопримечательности</a></p>
					<p><a href="/ru/en/vocabulary/transport">- Транспорт</a></p>
				</div>
			<p><a href="/ru/en/vocabulary/travel">VIII. Путешествие </a></p>
			<p><a href="#" title="Еда">IX. Еда </a></p>
				<div class="secondary-list">
					<p><a href="/ru/en/vocabulary/dairy">- Молочные продукты</a></p>
					<p><a href="/ru/en/vocabulary/meat">- Мясные изделия</a></p>
					<p><a href="/ru/en/vocabulary/fish">- Рыба и морепродукты</a></p>
					<p><a href="/ru/en/vocabulary/vegetables">- Овощи</a></p>
					<p><a href="/ru/en/vocabulary/fruit">- Фрукты</a></p>
					<p><a href="/ru/en/vocabulary/dessert">- Десерт</a></p>
					<p><a href="/ru/en/vocabulary/drinks">- Безалкогольные напитки</a></p>
					<p><a href="/ru/en/vocabulary/strong-drinks">- Алкогольные напитки</a></p>
				</div>
			<p><a href="#" title="Покупки">X. Покупки </a></p>
				<div class="secondary-list">
					<p><a href="/ru/en/vocabulary/clothing">- Одежда</a></p>
					<p><a href="/ru/en/vocabulary/lingerie">- Нижнее белье</a></p>
					<p><a href="/ru/en/vocabulary/sportwear">- Спортивная одежда</a></p>
					<p><a href="/ru/en/vocabulary/shoes">- Обувь</a></p>
					<p><a href="/ru/en/vocabulary/accessories">- Аксессуары</a></p>
				</div>
			<p><a href="#" title="Природа">XI. Природа </a></p>
				<div class="secondary-list">
					<p><a href="/ru/en/vocabulary/nature">- Природа</a></p>
					<p><a href="/ru/en/vocabulary/domestic-animals">- Домашние животные</a></p>
					<p><a href="/ru/en/vocabulary/wild-animals">- Дикие животные</a></p>
					<div style="display: none;">
						<p><a href="/ru/en/vocabulary/sea-animals">- Подводный мир</a></p>
						<p><a href="/ru/en/vocabulary/birds">- Птицы</a></p>
						<p><a href="/ru/en/vocabulary/insects">- Насекомые</a></p>
						<p><a href="/ru/en/vocabulary/flowers">- Цветы</a></p>
						<p><a href="/ru/en/vocabulary/trees">- Деревья</a></p>
					</div>
				</div>
			<p><a href="#" title="Числительные">XII. Числительные </a></p>
				<div class="secondary-list">
					<p><a href="/ru/en/vocabulary/numerals0-100">- Количественные числительные от 0 до 100</a></p>
					<p><a href="/ru/en/vocabulary/numerals100">- Количественные числительные более 100</a></p>
				</div>	
				
			<br><br><br><br><br><br><br>	
	 </div>

	</div>
</div>
<div id="for_tab02" class="pBlock" style="display: none">
	<div class="inpBlock">
		
	<h3>Флэшкарты по темам: </h3>
        <div class="inner-listing">	
			<p><a href="/ru/en/flashcards/politeness" title="Формулы вежливости ">Формулы вежливости </a></p> 
			<p><a href="/ru/en/flashcards/family" title="Семья">Семья </a></p> 
			<p><a href="/ru/en/flashcards/professions" title="Профессии">Профессии </a></p>
			<p><a href="/ru/en/flashcards/countries" title="Страны">Страны</a></p>
			<p><a href="/ru/en/flashcards/national-adj">Национальности</a></p>
			<p><a href="/ru/en/flashcards/language-skills">Знание иностранного языка</a></p>				
			<p><a href="/ru/en/flashcards/house" title="Дом">Дом, квартира</a></p>
			<p><a href="/ru/en/flashcards/furniture">Мебель, интерьер</a></p>
			<p><a href="/ru/en/flashcards/appliances">Бытовые приборы</a></p>
			<p><a href="/ru/en/flashcards/city">Город</a></p>
			<p><a href="/ru/en/flashcards/sightseeing">Достопримечательности</a></p>
			<p><a href="/ru/en/flashcards/transport">Транспорт</a></p>
			<p><a href="/ru/en/flashcards/travel">Путешествие </a></p>
			<p><a href="/ru/en/flashcards/dairy">Молочные продукты</a></p>
			<p><a href="/ru/en/flashcards/meat">Мясные изделия</a></p>
			<p><a href="/ru/en/flashcards/fish">Рыба и морепродукты</a></p>
			<p><a href="/ru/en/flashcards/vegetables">Овощи</a></p>
			<p><a href="/ru/en/flashcards/fruit">Фрукты</a></p>
			<p><a href="/ru/en/flashcards/dessert">Десерт</a></p>
			<p><a href="/ru/en/flashcards/drinks">Безалкогольные напитки</a></p>
			<p><a href="/ru/en/flashcards/strong-drinks">Алкогольные напитки</a></p>
			<p><a href="/ru/en/flashcards/clothing">Одежда</a></p>
			<p><a href="/ru/en/flashcards/lingerie">Нижнее белье</a></p>
			<p><a href="/ru/en/flashcards/sportwear">Спортивная одежда</a></p>
			<p><a href="/ru/en/flashcards/shoes">Обувь</a></p>
			<p><a href="/ru/en/flashcards/accessories">Аксессуары</a></p>
			<p><a href="/ru/en/flashcards/nature">Природа</a></p>
			<p><a href="/ru/en/flashcards/domestic-animals">Домашние животные</a></p>
			<p><a href="/ru/en/flashcards/wild-animals">Дикие животные</a></p>
			<p><a href="/ru/en/flashcards/numerals0-100">Количественные числительные от 0 до 100</a></p>
			<p><a href="/ru/en/flashcards/numerals100">Количественные числительные более 100</a></p>
        </div>
	
	</div>
</div>
<div id="for_tab03" class="pBlock" style="display: none">
	<div class="inpBlock">
	
	<h3>Лексические тесты по темам: </h3>
	
        <div class="inner-listing">	
			<p><a href="/ru/en/lexical-test/politeness" title="Формулы вежливости ">Формулы вежливости </a></p> 
			<p><a href="/ru/en/lexical-test/family" title="Семья">Семья </a></p> 
			<p><a href="/ru/en/lexical-test/professions" title="Профессии">Профессии </a></p>
			<p><a href="/ru/en/lexical-test/countries" title="Страны">Страны</a></p>
			<p><a href="/ru/en/lexical-test/national-adj">Национальности</a></p>
			<p><a href="/ru/en/lexical-test/language-skills">Знание иностранного языка</a></p>				
			<p><a href="/ru/en/lexical-test/house" title="Дом">Дом, квартира</a></p>
			<p><a href="/ru/en/lexical-test/furniture">Мебель, интерьер</a></p>
			<p><a href="/ru/en/lexical-test/appliances">Бытовые приборы</a></p>
			<p><a href="/ru/en/lexical-test/city">Город</a></p>
			<p><a href="/ru/en/lexical-test/sightseeing">Достопримечательности</a></p>
			<p><a href="/ru/en/lexical-test/transport">Транспорт</a></p>
			<p><a href="/ru/en/lexical-test/travel">Путешествие </a></p>
			<p><a href="/ru/en/lexical-test/dairy">Молочные продукты</a></p>
			<p><a href="/ru/en/lexical-test/meat">Мясные изделия</a></p>
			<p><a href="/ru/en/lexical-test/fish">Рыба и морепродукты</a></p>
			<p><a href="/ru/en/lexical-test/vegetables">Овощи</a></p>
			<p><a href="/ru/en/lexical-test/fruit">Фрукты</a></p>
			<p><a href="/ru/en/lexical-test/dessert">Десерт</a></p>
			<p><a href="/ru/en/lexical-test/drinks">Безалкогольные напитки</a></p>
			<p><a href="/ru/en/lexical-test/strong-drinks">Алкогольные напитки</a></p>
			<p><a href="/ru/en/lexical-test/clothing">Одежда</a></p>
			<p><a href="/ru/en/lexical-test/lingerie">Нижнее белье</a></p>
			<p><a href="/ru/en/lexical-test/sportwear">Спортивная одежда</a></p>
			<p><a href="/ru/en/lexical-test/shoes">Обувь</a></p>
			<p><a href="/ru/en/lexical-test/accessories">Аксессуары</a></p>
			<p><a href="/ru/en/lexical-test/nature">Природа</a></p>
			<p><a href="/ru/en/lexical-test/domestic-animals">Домашние животные</a></p>
			<p><a href="/ru/en/lexical-test/wild-animals">Дикие животные</a></p>
			<p><a href="/ru/en/lexical-test/numerals0-100">Количественные числительные от 0 до 100</a></p>
			<p><a href="/ru/en/lexical-test/numerals100">Количественные числительные более 100</a></p>
        </div>	

	</div>
</div>
<div id="for_tab04" class="pBlock" style="display: none">
	<div class="inpBlock">
	
	
	
		
		<a href="memory.html" class="forgame">

		<span class="gname">Memory Game</span>
		
		<img src="images/memory-thumb.gif" alt="Thumbnail of Memory Game" align="left"/>
		<span class="gdesc">Classical Memory Game with Russian words and their English equivalents.</span>
		
		</a>
		
		<a href="crossword-game.html" class="forgame">
		<span class="gname" style="position: relative;">Word Find Puzzle <span class="new_item" style="font-size: 20px; right: 0px; display: none;">&nbsp;NEW !!!&nbsp;</span></span>
		
		<img src="/images/crossword-thumb-1.gif" alt="" align="left"/>
			<span class="gdesc">
			Classical word search puzzle. A very good practice for those who start to learn reading in Russian and a good opportunity to work on the vocabulary topics.
			Russian words are hidden randomly each time you try the puzzle, so you can play more than once.


			</span>

		
		</a>
		
		
		<a href="balloon-game.html" class="forgame">
		<span class="gname">Hot Air Balloons</span>
		
		<img src="images/balloon-thumb(w).gif" alt="" align="left"/>

		<span class="gdesc">You can steer hot air ballons and only you can help them to land properly. However, you can not do without knowing the Russian language!</span>
		
		</a>
		
		<a href="sorcerer-game.html" class="forgame">
		<span class="gname">Fateful Battle</span>
		
		<img src="images/battle-thumb.gif" alt="" align="left"/>
			<span class="gdesc">
			The fateful hour for the humankind has come. Hordes of demons try to rush into our world in order to destroy the human race.<br> 
			However, humans still cherish the hope to survive: a mighty wizard Nestor has a great magic power to stop the evil spirits. 
			Be courageous, you and Nestor can bar the way of demons to our world!


			</span>

		
		</a>


	</div>
</div>

<script type="text/javascript">
currentSection="words";
</script>

