<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"  "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title><%= @page_title %></title>
<% unless @page_meta.nil? -%>
  <% @page_meta.each do |name, content| -%>
  <meta name="<%= name %>" content="<%= content %>" />
  <% end %>
<% end %>
  <meta name="keywords" content="изучение английского онлайн, английский онлайн, грамматика английского языка, английский словарь, учить английский онлайн, упражнения по английскому" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf8"> 
  <%= stylesheet_link_tag 'stylesheet' %>
  <script type="text/javascript" src="/javascripts/jquery-1.4.2.min.js"></script>
  <%= javascript_include_tag 'effects' %>
  <%= javascript_include_tag 'jquery.carousel.min.js' %>
  
  <%if @javascripts%>  
  <% for js_file in @javascripts -%>
  <%= javascript_include_tag js_file %>
  <% end -%>
  <% end %>

  <%if @stylesheets%>  
  <% for css_file in @stylesheets -%>
    <%= stylesheet_link_tag css_file %>
  <% end -%>
  <%end%>
 
  <link rel="icon" href="/site-icon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="/site-icon.ico" type="image/x-icon">
  
  
  <%= yield :special_js_css %>
  
  <style type="text/css">
  .never-existed {font-size: 10pt;}
	<%= yield :special_css %>
  </style>

  <!--[if lte IE 6]>
    <%= stylesheet_link_tag 'ie6.css' %>
  <![endif]-->

</head>
<body>
    <div id="fixWidh"><div id="container" class="nd">
        <!--[if lte IE 6]>
        <table id="containit" cellspacing="0">
          <tr valign="top">
            <td>
              <![endif]-->
              <div id="head">
                <div id="title_wrapper">
                  <div id="title_name">
                    <h1 class="title_site" style="float: left;"><a href="/ru/en/index.html" title="На главную">Изучаем английский</a>		
					</h1>
					<div class="t-top-panel">

<div class="t-sign-in">
<% if logged_in?%>
<a href="/ru/en/user_profile.html" class="t-un" title="Профиль"><%= current_user.email %></a> | <span class="t-out"><%= link_to "Выход",{:controller => 'sessions', :action => 'destroy', :lang=>'ru', :to_lang=>'en'} %></span>
<%else%>
<%= link_to "Вход",{:controller => 'sessions', :action => 'new', :to_lang => 'en', :lang =>'ru'} %> | <%= link_to "Регистрация",{:controller => 'users', :action => 'new', :to_lang => 'en', :lang =>'ru'} %>
<%end%>
</div>
<% unless @no_search %>			
<div class="t-search-bar">	


<form action="/ru/en/search.html" id="cse-search-box">
  <div>
    <input type="hidden" name="cx" value="005738787138117275699:edkgftn6lze" />
    <input type="hidden" name="cof" value="FORID:11" />
    <input type="hidden" name="ie" value="UTF-8" />
    <input type="text" name="q" style="max-width: 200px" size="25" />
    <input type="submit" name="sa" value="Поиск" />
  </div>
</form>
<script type="text/javascript" src="http://www.google.com/cse/brand?form=cse-search-box&lang=ru"></script>

	
</div>
<%end%>					
						
					</div>
                  </div>
                </div>
              </div>
              <div id="menu_content" <% if cookies[:no_menu] %>class="m-menu-hidden"<%end%>>
                <div id="navigation">

                  <div id="nav-pos">

                    <div id="menu_body" align="left">
                      <div id="nav1" class="menu-item">
                          <div class="item-top">
                            <a href="/ru/en/index.html" style="margin-left: 40px;">Главная</a>
                        </div>
                      </div>
                      <div id="nav2" class="menu-item">
                          <div class="item-top">
                            <div class="list down"></div> 
                            <a href="/ru/en/course.html" style="margin-left: 40px;">Онлайн уроки</a>&nbsp;
                          </div>
                      </div>
                      <div class="sub" style="display: none">
                        <ul style="padding-left: 16px;">
                          <li style="padding-top: 10px;" ><a href="/ru/en/course.html">Курс английского</a> </li>
                        </ul>
                      </div>
                      <div id="nav3" class="menu-item">
                          <div class="item-top">
                            <div class="list down"></div> 
                            <a href="/ru/en/vocabulary.html" style="margin-left: 40px;">Словарь&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>&nbsp;
                          </div>
                      </div>
                      <div class="sub" style="display: none">
                        <ul>
                          <li><a href="/ru/en/vocabulary.html">Словарные темы</a></li>
                          <li><a href="/ru/en/vocabulary.html?tab=2">Флэш-карты</a></li>
                          <li><a href="/ru/en/vocabulary.html?tab=3">Лексические тесты</a></li>
						  <li><a href="/ru/en/vocabulary.html?tab=4">Игры</a></li>
                        </ul>
                      </div>
                      <div id="nav8" class="menu-item">
                          <div class="item-top">
                            <div class="list down"></div> 
                            <a href="/ru/en/english-grammar.html" style="margin-left: 40px;">Грамматика&nbsp;&nbsp;&nbsp;&nbsp;</a>&nbsp;
                          </div>
                      </div>
					  <div id="nav9" class="menu-item">
                          <div class="item-top">
                            <div class="list down"></div>
                            <a href="/ru/en/english-for-children.html" style="margin-left: 23px;">Английский детям</a>&nbsp;
                          </div>
                      </div>
                      <div class="sub" style="display: none">
                        <ul>
                          <li><a href="/ru/en/english-grammar.html">Существительные</a></li>
                          <li><a href="/ru/en/english-grammar.html">Местоимения</a></li>
						  <li><a href="/ru/en/english-grammar.html">Прилагательные</a></li>
						  <li><a href="/ru/en/english-grammar.html">Числительные</a></li>
						  <li><a href="/ru/en/english-grammar.html">Глаголы</a></li>
                          <li><a href="/ru/en/english-grammar.html"><b>Упражнения</b></a></li>
                        </ul>
                      </div>
                      <div id="nav6" class="menu-item">
                          <div class="item-top">
                            <a href="/contacts.html" style="margin-left: 40px;">Контакты (анг)</a>
                          </div>
                      </div>
					  
					<%= render :partial => '/site/slideshow_ru_en' %>
                    </div>
                  </div>

                </div>
                <div id="contentcell">
				<div style="position: relative; z-index: 300">
						<div id="menu_remover"><span class="menu-shown">Скрыть меню</span><span class="menu-hidden">Меню</span></div>
						<div id="mini-menu"><a href="/ru/en/index.html">Главная</a> | <a href="/ru/en/course.html">Онлайн уроки</a> | <a href="/ru/en/vocabulary.html">Словарь</a> | <a href="/ru/en/english-grammar.html">Грамматика</a> </div>
					</div>
                  <div id="contfield" class="<%= @with_rec ? 'content withRec' : 'content' %>">
                    <% if @has_audio %>
                      <div id="loading"><div id="progress"></div><div id="progressbar"><div id="progressStatus"></div></div></div>
                      <div id="mess" class="sound_tip"><i>Tip</i></div>
                      <div id="audiospan" style="position: absolute;"></div>
                    <% end %>
                    <%= yield %>
                    <div id="divspace"></div>
                  </div>
                </div>
				
<%= render :partial => '/site/ad_long' %>
              </div> 
            </div><!-- end of #contain-border -->
            <!--[if lte IE 6]>
          </td>
        </tr>
      </table>
      <![endif]-->
      <div id="footer">

        <div class="copy"><a href="/copyright.html">&copy;2009-2011 Study-Languages-Online.com</a> | <a href="/ru/en/sitemap.html">Карта сайта</a>| <a href="/index.html">English-Russian</a></div>

      </div>
    </div>
<div id="analytic">
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-8218265-1");
        pageTracker._trackPageview();
      } catch(err) {}
	  es_lang = 'ru';
	  
	  </script>
</div>
<% if current_user -%>
<script type="text/javascript">
sendData=true
</script>
<%end-%>	  
  </body>
</html>
